[2020-08-10 12:01] weberxie opened #2171 "difference between run multiple processes in one node and run multiple processes in multiple nodes"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.2
3. Horovod version: 0.17
4. MPI version: 3.0
5. CUDA version: 9.0
6. NCCL version: 2.4.6
7. Python version: 3.6
8. OS and version: CentOS 7
9. GCC version: Gcc 5

**Your question:**
I'm training MobileNetV2 with 4 V100 cards, then I find that training it with 4 processes in 1 docker with 4 V100 cards is about worse 1% on Top-1 error

[2020-08-10 13:23] tgaddair commented on #2170
Hey @sanjaydeo96, looks like the top of the stack trace is missing.  Can you share the full log output?

[2020-08-10 13:27] tgaddair commented on #2171
Hey @weberxie, as long as the number of processes remains the same, there should not be any differences in terms of convergence between training within a host vs between hosts.  There is, however, non-determinism when training that can vary results from one run to the next.  Are you seeing this convergence degradation consistently across multiples runs?

[2020-08-10 13:32] tgaddair commented on #2168
Hey @DeruiLiu, GDR should work automatically with Horovod, provided it is enabled and [nv_peer_memory](https://github.com/Mellanox/nv_peer_memory) is installed.  Can you check that NCCL support is enabled by running `horovodrun --check-build` and sharing the output?

[2020-08-10 13:33] weberxie commented on #2171
Yes, this convergence degradation is consistently. Thanks for your reply, I'll dive into it more deeper.

[2020-08-11 01:27] DeruiLiu commented on #2168
yeah! nv_peer_memory is loaded. when i run tf_cnn_benchmarks.py， server_protocol use parameter grpc+gdr is worse than grpc + verbs, i don't know why? so i have a question as above. does anyone has same question?

root@s36-2288H-V5:~# /etc/init.d/nv_peer_mem status
nv_peer_mem module is loaded.
root@s36-2288H-V5:~# horovodrun --check-build
Horovod v0.19.5:

Available Frameworks:
    [X] TensorFlow

[2020-08-11 01:54] #2148 closed

[2020-08-11 06:01] sanjaydeo96 commented on #2170
So I found the bug. The issue was I was using horovod in which batch size is automatically adjusted with #gpu so I was getting this when I was using a batch size which is greater than full capacity for single gpu.
I have one question btw.
**I am getting this Zigzag curve in horovod multi gpu training.I think issue may be due to optimizer and learning rate. Do you have any suggestion @tgaddair ?**

[2020-08-11 07:59] gongjingcs opened #2173 "does it work if I runallreduce on tf.indexedslices"
**Your question:**
Please ask your question here.

[2020-08-11 08:07] gongjingcs commented on #2173
hi, I found that it also works if I run horovod allreduce on tf.indexedslices, so if I want to use allreduce on tf.indexedslices, I don't need to convert it to tf.tensor? I will be grateful for your reply

    # if isinstance(tensor, tf.IndexedSlices):
    #     # TODO: Need to fix this to actuall call Adasum
    #     if op == Adasum:
    #         raise NotImplementedError('The Adasum reduction

[2020-08-11 13:01] tgaddair commented on #2170
Hey @sanjaydeo96, when using Horovod you should keep the batch size per worker the same, but scale the learning rate.  That should help with controlling the loss.  Also, make sure you are only logging metrics on rank 0 (`if hvd.rank() ==0`), as that may be causing some of the tensorboard issues you're seeing.

[2020-08-11 13:03] tgaddair commented on #2173
Hey @gongjingcs, that's correct, you can use `hvd.allreduce` with `tf.IndexedSlices`.  Under the hood, instead of doing an allreduce, we will instead do an allgather operation.  This works well if your slices are relatively sparse.  If they are more dense, you may be better off using allreduce anyway and running `hvd.allreduce(..., sparse_to_dense=True)`.

[2020-08-11 14:59] benjiachong opened #2174 "how to debug horovod remotely with pycharm"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) PyTorch
2. Framework version: 1.6.0
3. Horovod version:0.19.5
4. MPI version:4.0.4
5. CUDA version:11.0
6. NCCL version:2.7.8
7. Python version:3.8
8. OS and version:ubuntu18.04
9. GCC version:7.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read

[2020-08-11 19:43] tgaddair commented on #2174
Hey @benjiachong, which part of the code are you attempting to debug?

If it's your training script, then I would suggest just running as a single python process (not using `horovodrun`) and debugging normally.

If it's the Horovod launch script, then you can run `python -m horovod.run.runner.run` (this path is thankfully being changed in v0.20).

If you need to debug Horovod itself (the distribut

[2020-08-12 01:07] benjiachong commented on #2174
@tgaddair Thanks for your reply. I run my code in linux shell by "horovodrun -np 4 -H localhost:4 python  main.py".  It's OK.  Now I need to debug "main.py", which is my own training script lanched by Horovod. I config pycharm as follows. It still reminds me "No module named horovod.run.runner.run".  Is there something wrong to my environment variable setting, or something else?
![image](https://u

[2020-08-12 02:14] roysun2006 opened #2175 "horovod run with pytorch1.6 torch.cuda.amp will cause nan"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.6
3. Horovod version: 0.19.5
4. MPI version: 4.0.0
5. CUDA version: 10.1
6. NCCL version: 2.4.8
7. Python version: 3.7.7
8. Spark / PySpark version:
9. OS and version: ubuntu 18.04
10. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
    yes, I did.
2. If your question is about

[2020-08-12 03:50] benjiachong commented on #2174
Hey @tgaddair. Thanks for your advice. I set the module name as "horovod.run.runner" in pycharm, it seems OK. I find horovodrun also use horovod.run.runner.

There also has 2 problem.
1. When I train my script by setting module name as "horovod.run.runner", I can't stop the process.
2. Debugging still is not OK.
![image](https://user-images.githubusercontent.com/16750835/89972947-b4359300-dc91-11e

[2020-08-13 08:46] jegesh commented on #1378
I'm experiencing this with TF2.2, Horovod 0.19.5, on an AWS p3 instance that has 4 Tesla v100 GPUs.  Dropping the Tensorboard callback didn't solve it, however. I also tried setting `CUDA_VISIBLE_DEVICES` and using `mpirun` with '-oversubscribe' as suggesting [here](https://github.com/horovod/horovod/issues/75). Still no dice.
Any further suggestions would be greatly appreciated

[2020-08-13 21:45] ashiqimranintel opened #2180 "Horovod example for Resnet50 using Tensorflow 2.X"
Could you provide an example for Resnet50 model using Horovod Tensorflow 2.X? TF2.X is more concise than TF 1.X. Looking forward for your response.

[2020-08-13 22:42] bankotsu opened #2181 "Relation between `named_parameters` given to `DistributedOptimizer` and the weight parameters given to the wrapped optimizer"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.6.0
3. Horovod version: 0.19.5
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version: 3.6
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master

[2020-08-14 18:40] tgaddair commented on #2175
Hey @roysun2006, thanks for reporting this issue.

@romerojosh, do you think #1949 may be able to help in this case?  If so, can you provide guidance on how to make use of it here?

[2020-08-14 18:47] tgaddair commented on #2175
@roysun2006, are you using `hvd.Compression.fp16` or just AMP without fp16 compression?

[2020-08-15 02:36] roysun2006 commented on #2175
Thanks for your reply, I tried both hvd.Compression.fp16 and hvd.Compression.none , they got the same result

[2020-08-15 14:07] vineeths96 opened #2182 "Momentum in Optimizers"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/

[2020-08-15 14:08] MingYang-buaa opened #2183 "Does horovod support apex's SyncBatchNorm?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Pytorch
2. Framework version:
1.6.0
3. Horovod version:
0.19.5
4. MPI version:
1.0
5. CUDA version:
10.1
6. NCCL version:
2.0
7. Python version:
3.7.7
8. OS and version:
ubuntu 18.04
9. GCC version:
6.5.0
**Checklist:**
1. Did you search issues to find if somebody asked this question before?
yes
2. If your question is about hang, d

[2020-08-16 07:20] jegesh commented on #1378
After some additional poking around, I discovered that when I set up the horovod environment it worked fine with the examples, but after installing additional dependencies for my application, even the examples stopped working properly (they also showed single-GPU utilization).  So I know it's not an issue with my code, it's the environment.
Comparing the environments, I see library version differe

[2020-08-16 07:54] jegesh commented on #1378
Ok, so it seems the real issue is that I was running python using `sudo` in order to solve a `CUPTI_ERROR_INSUFFICIENT_PRIVILEGES` I was getting and was unable to solve any other way.  Now I'm back to focusing on a better workaround for the `CUPTI_ERROR_INSUFFICIENT_PRIVILEGES` issue

[2020-08-17 01:34] rogeryu93 commented on #2156
@tgaddair
Sorry for replying late. Yes, i have tried the recommendations in the Troubleshooting Guide before, but it doesn't work. I also check the mpi version and hardware environment in both servers, it's all same.

I have tried to run the `mpirun` command that horovod runs, it reports the same error:
`
mpirun --allow-run-as-root --tag-output -np 16 -H 10.113.216.124:8,10.113.216.121:8 -bind-to

[2020-08-17 06:37] leirenbaobao commented on #154
I got same error as you, did you solve it?@weixsong

[2020-08-18 03:35] leirenbaobao commented on #154
I found the reason for it. because of incorrect search path.

[2020-08-18 07:45] ChaiBapchya opened #2187 "OSError: /usr/local/mpi/lib/libmpi.so.40: undefined symbol: opal_hwloc201_hwloc_get_type_depth"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.6.0.post0
3. Horovod version: 0.19.5
4. MPI version: 3.1.0
5. CUDA version: 10.1/10.2/11
6. NCCL version:
7. Python version: 3.7/3.7
8. Spark / PySpark version: NA
9. OS and version:ubuntu 18.04
10. GCC version:7.5.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?Yes
2. If your question is about h

[2020-08-18 09:56] DeruiLiu opened #2188 "some question to start tensorflow_synthetic_benchmark.py"
**Environment:**
1. Framework: (TensorFlow)
2. Framework version:1.10
3. Horovod version:0.19.5
4. MPI version:4.0.3rc4
5. CUDA version:9.0
6. NCCL version:2.3
7. Python version:2.7.12
8. OS and version:ubuntu16.04
9. GCC version:4.9.4

**Your question:**
Please ask your question here.
when i use start code to run tensorflow_synthetic_benchmark.py as below, it all report the same error, can anyone

[2020-08-18 13:25] tgaddair commented on #2187
Hey @ChaiBapchya, could you provide more context on this issue?

Have you taken a look at troubleshooting steps related to hwloc: https://github.com/horovod/horovod/blob/master/docs/troubleshooting.rst#force-terminate-at-data-unpack-would-read-past-end-of-buffer

[2020-08-18 13:30] tgaddair commented on #2188
Hey @DeruiLiu, are you able to upgrade to Python 3?  Horovod is dropping support for Python 2 in the next release, as it has been deprecated since January.

If you are unable to upgrade at the moment, you can try running the version of this script from the 0.19.5 release, which is still Python 2 compatible: https://github.com/horovod/horovod/blob/v0.19.5/examples/tensorflow_synthetic_benchmark.py

[2020-08-18 23:11] ChaiBapchya commented on #2187
Sure.. i added the command it failed on & the error..
By context, is there anything more I can add?

Thanks for looking into this @tgaddair

[2020-08-19 04:04] yuekaizhang commented on #1541
Hey,@tgaddair, I was wondering whether you have some time to answer it? I encountered the same issue. I believe support for noam would be a very helpful feature.

[2020-08-19 06:18] ysyyork opened #2190 "Should I expect horovod to use more GPU memory when in multi gpu training?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow 2.2
2. Framework version:2.2
3. Horovod version:0.19.5
4. MPI version:4.0.0
5. CUDA version:10.1
6. NCCL version:2.7.6
7. Python version:3.7.5
8. OS and version:ubuntu 180.04
9. GCC version:7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Yes but didn't see exact same questio

[2020-08-19 07:13] erichu2000 opened #2191 "General questions about pytorch example source code"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-08-19 07:26] DeruiLiu commented on #2188
thank you! when i update to python3 , the problem is resolved.

[2020-08-19 07:26] #2188 closed

[2020-08-19 13:51] tgaddair commented on #1541
Hey @yuekaizhang, do you have a complete example of the optimizer implementation?  If it extends from `torch.optim.Optimizer`, it should work.

[2020-08-19 13:56] tgaddair commented on #2190
Hey @ysyyork, for TensorFlow 2, there is a known issue where every process will allocate a small amount of memory (~20MB) on each GPU.  So if you have 4 GPUs you can expect about 80MB of extra overhead on top of the memory used by the process.

It sounds like that's not the issue here, though, because that overhead shouldn't force you to half your batch size per worker.  In theory, you should be a

[2020-08-19 14:01] tgaddair commented on #2191
Hi @erichu2000, to answer your questions:

1. Rank is an MPI concept that essentially means "worker ID".  If you train with `horovodrun -np 4`, you have 4 processes with ranks `[0, 1, 2, 3]`. We provide more details about these concepts [here](https://github.com/horovod/horovod/blob/master/docs/concepts.rst).

2. Not sure I understand your second question, but the `train_loader` will be a PyTorch

[2020-08-19 16:22] dingdingbin opened #2192 "When I used Horovod with Pytorch to distribute train DLRM on CPU nodes(two nodes), the result shown 100x slower than single node Pytorch"
**Environment:**
1. Framework: (PyTorch1.4.0)
2. Framework version:
3. Horovod version:0.19.5
4. MPI version:4.0.2
5. CUDA version:
6. NCCL version:
7. Python version:3.7.4
8. Spark / PySpark version:
9. OS and version:
10. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.

[2020-08-19 18:00] tgaddair commented on #2192
Hey @dingdingbin, can you try running the [pytorch_synthetic_bechmark](https://github.com/horovod/horovod/blob/master/examples/pytorch_synthetic_benchmark.py) with one vs two nodes and report the outputs here?  That can help us narrow down whether this is due to something specific to your code or your environment.

What kind of network bandwidth do you have between the nodes?  CPU training is goin

[2020-08-19 19:32] ZhenyiLin opened #2193 "Horovod pyarrow IndexError: list index out of range"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14
3. Horovod version: 0.19.5
4. MPI version: 4.0.4
5. CUDA version: NA
6. NCCL version: NA
7. Python version: 3.6
8. Spark / PySpark version: 2.4.4
9. OS and version: Amazon Linux
10. GCC version: 7.2.1

The nmist example. error is on the model fitting:
[code]

I have 1 master node and 1 worker node and the Spark is running in the

[2020-08-19 21:31] deepbrain opened #2194 "horovod docker build file is broken"
The docker build fails at multiple points:
1. With the default latest wheel the code python -c "import wheel.pep425tags as w" fails, so I had to roll back to
pip install wheel==0.34.2

2. MXNET pip install fails to find the specified version

3. horovod install inside the docker fails with error:
libcudart.so.10.2: cannot open shared object file: No such file or directory

[2020-08-20 01:17] dingdingbin commented on #2192
Yes. I tried pytorch_synthetic_bechmark with one and two nodes with 10GB NIC.
Two nodes output:
mpirun -mca btl_tcp_if_include eth2 -np 2 -H sr231:1,sr232:1 ~/sw/miniconda3/envs/hvd/bin/python /home/horovod/examples/pytorch_synthetic_benchmark.py
Model: resnet50
Batch size: 32
Number of CPUs: 2
Running warmup...
Running benchmark...
Iter #0: 2.1 img/sec per CPU
Iter #1: 2.1 img/sec per CPU

one no

[2020-08-20 01:35] tgaddair commented on #2192
Hey @dingdingbin, running on CPU with 10GB network, your performance is going to be limited by those factors.  There are a couple things you can do to reduce the amount of data copies over the network:

1. Use `hvd.Compression.fp16` (you can test this in the synthetic benchmark).  Should cut the amount of data sent over the network in half.
2. Set `backward_passes_per_step > 1`.  This will reduce

[2020-08-20 02:10] dingdingbin commented on #2192
@tgaddair Thanks for your quick reply. As your suggestion,  I tried hvd.Compression.fp16 but met issue:
Running warmup...

terminate called after throwing an instance of 'c10::Error'
  what():  "div_cpu" not implemented for 'Half' (operator() at /opt/conda/conda-bld/pytorch_1579022030672/work/build/aten/src/ATen/native/cpu/BinaryOpsKernel.cpp.AVX2.cpp:92)
frame #0: c10::Error::Error(c10::SourceLoc

[2020-08-20 04:24] ChaiBapchya commented on #2187
the link you pointed is about data unpck reading past end of buffer while the one I'm getting is `opal_hwloc201_hwloc_get_type_depth` are they both related?

Nonetheless I tried the workaround of
1. purge hwloc from system
[code]
2. reinstall latest openmpi 4.0.4
[i had to run `make all install` with `sudo`]
It failed to install though.

[2020-08-20 07:19] dingdingbin commented on #2192
@alsrgv  Can you also take a look if you know how to solve this issue? Thanks for all yours help! @tgaddair  @alsrgv

[2020-08-20 13:02] tgaddair commented on #2187
@ChaiBapchya, are you able to run any `mpirun` command successfully?  If you do not already use MPI for other purposes, I would suggest using the Gloo controller instead:

[code]

[2020-08-20 13:29] tgaddair commented on #2192
@dingdingbin, can you try generating a [timeline](https://github.com/horovod/horovod/blob/master/docs/timeline.rst) file.  That will help us identify where the bottleneck is occurring here.

[2020-08-20 14:07] dingdingbin commented on #2192
@tgaddair Sure. Below is the timeline result of horovodrun -np 2 --network-interface eth2 --timeline-filename ./timeline_two_node.json -H sr231:1,sr232:1 ~/sw/miniconda3/envs/hvd/bin/python /home/horovod/examples/pytorch_synthetic_benchmark.py
(github can't upload json file, so I upload txt file)

[timeline_two_node.txt](https://github.com/horovod/horovod/files/5103566/timeline_two_node.txt)

[2020-08-20 15:19] dingdingbin commented on #2192
Hey@tgaddair , could you take a look on the timeline? Thanks for your help.

[2020-08-20 17:48] tgaddair commented on #2192
Hey @dingdingbin, I took a look at the timeline file.  As you can see from the screenshot below, the allreduce calls from Horovod only happen once every 10 seconds or so, and contribute negligibly to the overall runtime.

<img width="1353" alt="Screen Shot 2020-08-20 at 10 45 58 AM" src="https://user-images.githubusercontent.com/1742912/90806803-6395e980-e2d2-11ea-883c-140348a22627.png">

So it lo

[2020-08-20 18:15] dingdingbin commented on #2192
Hey @tgaddair . I had tested two NP(single node) on two machines separately for many times such as follow command, and the results are also very slow. The configuration of the two machines is the same.
horovodrun -np 2 --timeline-filename ./timeline_single_node_two_np.json -H sr231:2 ~/sw/miconda3/envs/hvd/bin/python /home/xianyang/Bin/horovod/examples/pytorch_synthetic_benchmark.py --num-iters 5

[2020-08-20 23:05] dingdingbin commented on #2192
Hey @tgaddair , could you take a look on above single node two np timeline of using horovod. I really want to solve this problem quickly. Thanks for your help.

[2020-08-21 08:02] liumaoxi opened #2196 "horovod+pytorch, The program cannot be executed at hvd.init()"
###
 when i test the horovod+pytorch, the code hvd.init() cannot executed at hvd.init(),i have wait for a few hours。
![image](https://user-images.githubusercontent.com/31879949/90866596-bb158180-e3c6-11ea-956f-3358fca4f041.png)
###
the
"
[1,0]<stdout>:=========================horovod=========================
[1,0]<stdout>:1
[1,1]<stdout>:=========================horovod=========================
[1

[2020-08-23 02:51] zw0610 opened #2198 "support other shell tools in gloo run"
**Is your feature request related to a problem? Please describe.**
When trying to support `horovodrun` with `--gloo` in `kubeflow/mpi-operator`, it is spotted that, unlike the `gloo_run.py` under `spark`, the `gloo_run.py` under `runner` simply hard-codes `ssh` as the tool to launch process on other worker. This prevents `kubeflow/mpi-operator` from adopting horovod with gloo.

**Describe the solu

[2020-08-24 15:26] tgaddair commented on #2180
Hey @ashiqimranintel, thanks for raising the request.  We can definitely add an example for this.

To clarify, you would prefer an example in [this](https://github.com/horovod/horovod/blob/master/examples/tensorflow2_mnist.py) style (tf.function) as opposed to [this](https://github.com/horovod/horovod/blob/master/examples/tensorflow2_keras_mnist.py) style (keras model.fit), correct?

[2020-08-24 15:34] tgaddair commented on #2181
Hey @bankotsu, sorry for the late response.  To answer your question: the `named_parameters` given to `DistributedOptimizer` should correspond to the same `parameters` given to the original optimizer.  The only reason for the distinction is that when performing the `allreduce` we need to assign every parameter a unique name so different processes know which tensors to average together.

In fact, t

[2020-08-24 15:36] tgaddair commented on #2182
Hey @vineeths96, sorry for the late response.  Momentum is updated with all-reduced (averaged) gradients.  This is to ensure that the model / optimizer state of each replica is consistent after every step (to avoid model parameters diverging between the workers).

[2020-08-24 15:39] tgaddair commented on #2183
Hey @MingYang-buaa, Horovod does work with Apex / AMP, but for SyncBatchNorm we recommend using our internal implementation [here](https://github.com/horovod/horovod/blob/master/horovod/torch/sync_batch_norm.py#L39).

[2020-08-24 15:44] ashiqimranintel commented on #2180
I would prefer the first one (tf.function). Thanks.

[2020-08-24 15:59] tgaddair commented on #2193
Hey @ZhenyiLin, I believe Databricks ran into this issue when implementing the Spark Dataset Converter for Petastorm (https://github.com/uber/petastorm/pull/496).

We have a PR in progress to migrate to the Spark Dataset Converter API, which should hopefully resolve this issue: #2091.

@WeichenXu123, can you confirm that the Spark Dataset Converter should  avoid this race condition?

[2020-08-24 16:16] tgaddair commented on #2196
Hey @liumaoxi, could you get the stack trace by attaching to the hanging process via `gdb -p <pid>` and share the output of `thread apply all bt`?

[2020-08-24 16:19] tgaddair commented on #2198
This is awesome, thanks for looking into this @zw0610!  I will take a look at the PR and provide some feedback.

[2020-08-24 18:42] ZhenyiLin commented on #2193
@tgaddair  @WeichenXu123
Thanks for the technical support. We are configing and testing Horovod in AWS EMR.

Some more information to share:
1) The error makes the Horovod run unstable. It is Not always failed. Sometimes it works fine but sometimes not
2) a) Repartitioning the Spark Dataframe into smaller partitions; b) change Spark Resources may help avoid the error coming up, but the error appea

[2020-08-25 05:34] Doffery commented on #2165
Any new comment on this problem?

[2020-08-25 06:00] erichu2000 commented on #2191
@tgaddair Thanks a lot! Very clear explanation. We are trying to build a system that automatically converts user input(a machine learning python file, for instance SSD or YOLO, that runs only a single machine) to a horovod based model that could run on multiple machines. Now we're using regular expression as a way to accomplish this goal, however, regular expression brings a lot of problem when it

[2020-08-25 12:02] gongjingcs opened #2202 "coordinator negotiate and response_cache"
hi，I noticed that horovod has two negotiate modes，one can be called request&response，it is a master-slave mode; the other one we called response_cache.  response_cache can be obtained from response. Does it mean the request&response mode is only applied to first iteration, next steps use response_cache?  another question is timeline for negotiate, I understand that if request&response mode is appl

[2020-08-25 13:10] tgaddair commented on #2165
Hey @Doffery, sorry for the late response.  As a next step, I would try reducing your training function to something very minimal, like:

[code]

And then building up more args until you reach the same behavior.  My guess is that something you're passing in is causing this issue, but it's unclear what at this time.

[2020-08-25 13:15] tgaddair commented on #2191
Hey @erichu2000, if I understand the issue correctly, that you want to parse user input on a single process, then spawn a Horovod distributed job, then one way to accomplish that is to use the `horovod.run` API, which allows you to launch the job programmatically (note that in the released version, it's under `horovod.run.run`.  If there's anything else you need clarity on, please feel free to sha

[2020-08-25 13:19] #2198 closed

[2020-08-25 16:42] tgaddair commented on #2202
Hey @gongjingcs, the response cache is basically a compression of the information sent during the "negotiation" step.  If your cache can fit, say, 100 tensors, and your model only has 96, then the only communication you need to do after populating the cache is perform a bitwise AND to determine which tensors are ready for allreduce across all the workers.
However, that's not guaranteed to be the c

[2020-08-26 02:23] zhao1157 opened #2206 "horovodrun autotune does not log the parameters explored"
I was trying to get myself familiar with the autotune feature provided in `horovodrun`, however, the option `--autotune --autotune-log-file log.cvs` did not return what I expected. In `log.csv`, there is only one head line `hierarchical_allreduce,hierarchical_allgather,cache_enabled,cycle_time_ms,tensor_fusion_threshold,score`. I tried increasing training steps from 100 to 200, still got the same

[2020-08-26 02:29] zhao1157 commented on #2206
I tried 1000 steps, and saw some parameters output.

[2020-08-26 02:29] #2206 closed

[2020-08-26 02:31] gongjingcs commented on #2202
thanks alot.
![image](https://user-images.githubusercontent.com/15030497/91248459-4c01a980-e787-11ea-9880-2e45fb9c75f5.png)

[2020-08-26 02:37] zhao1157 opened #2207 "Which set of parameters to use in autotune log file?"
Here is a silly question. When using `autotune` feature, am I supposed to use the parameters that produce the highest score or the ones in the last line of the log file?

[2020-08-26 02:37] gongjingcs commented on #2202
As shown in the figure above，I want to deeply understand the negotiation mechanism of horovod is because the gradient negotiation time in my training is too long, which causes the training speed to decrease. So I want to know whether the long gradient negotiation time is caused by communication or calculation. Is there a way to print out the timeline of Horovod, for example, which rank entered the

[2020-08-26 13:23] tgaddair commented on #2207
Hey @zhao1157, if the autotuning process completes before training finishes, then the best set of parameters will be written to the end of the log file.  However, it sounds like in your case the training process finished before autotuning completed, so you would be better off using the entries with the highest score.

[2020-08-26 17:33] iamyangchen opened #2208 "Segmentation fault at the end of training"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Tensorflow

2. Framework version:
1.15-gpu

3. Horovod version:
Custom built: v0.19.2 plus cherry-picked https://github.com/horovod/horovod/pull/1830
(Seems latest release still doesn't contain the tf join op, so I cherry-picked the change to v0.19.2, the version I have used before)

4. MPI version:
4.0.0

5. CUDA version:
6. NCCL

[2020-08-26 18:23] firejq opened #2211 "Handle the horovodBroadcast of string varibales automatically"
When I use horovod with tensorflow (1.x), I will get a exception if I run `hvd.broadcast_global_variables` and there are some `tf.string` variables:
[code]

As was indicated above, `hvd.broadcast_global_variables` does not support the variable of string type. BTW, the string variables are necessary and of course not trainable in my situation.

Therefore, I have the following feature suggestions, m

[2020-08-26 23:07] denniskb commented on #55
Hi everybody, sorry to hijack your issue thread. For my research work I require a multi-gpu machine with peer 2 peer access between the gpus. My plan was to rent a google cloud instance but so far all configurations I tried fail the simplep2p sample. Does anyone know which (IF any) google cloud instance configuration (zone, machine type, gpu type) supports p2p? Many thanks!

[2020-08-27 00:23] tgaddair commented on #2208
@Richie-yan have you observed this before?

[2020-08-27 00:56] zhao1157 commented on #2207
@tgaddair Thank you very much for your very helpful suggestion. If the training process is long enough, how would I know whether the autotuning process is finished or not? Another question is the log shows the `cache_enabled` entry, not `cache-capacity`, so `cache_enabled=0` refers to  `cache-capacity=0` while `cache_enabled=1` refers to `cache-capacity=1024` which is the default value. Right?

[2020-08-27 02:03] Richie-yan commented on #2208
@iamyangchen Sorry, I have not encountered this situation before. May I ask, what is the probability of this error? Can it be reproduced in a specific situation?

[2020-08-27 03:45] zhao1157 commented on #2207
@tgaddair I did a test on resnet50 with 2 GPUs, the autotune flags are `--autotune --autotune-log-file autotune.csv --autotune-warmup-samples 5 --autotune-steps-per-sample 20 --autotune-bayes-opt-max-samples 40 `. After 30000 training steps, the log looks like the following:

  2 0,0,0,5,4,424.129
  3 0,0,0,50,32,491.156
  4 0,0,0,25,16,480.917
  5 0,0,0,10,8,485.8
  6 0,0,0,9.45382,8.00599,482.05

[2020-08-27 05:46] Line290 commented on #2208
I had the same problem. I trained a network on 1 worker with 8 GPUs. After 62k mini-batch, it stopped and throw out "rank0 segmentation fault". Then, I retrain the model, the error seems to disappear.

[2020-08-27 08:30] Richie-yan commented on #2208
Hi, @Line290 After 62k mini-batch, are you sure that a certain rank has finished reading the data at this time? I want to first determine whether to start calling join logic at this time?

[2020-08-27 09:12] travishsu commented on #2180
Hi, Please also consider including how to save checkpoint and to resume training from a checkpoint.

[2020-08-27 10:10] Line290 commented on #2208
Yes, each rank has ~112k examples, mini-batch is 4 for a single GPU.

[2020-08-27 13:07] albertz commented on #1799
I noticed that you have `cuEventSynchronize` in your stack trace, just as in #2107. Maybe they are related?
A similar problem was reported [here](https://forums.developer.nvidia.com/t/synchronization-hangs-sporadically-after-kernel-launch/38993). This does not look Horovod or NCCL related.

[2020-08-27 13:43] MingYang-buaa commented on #2183
Hi  @tgaddair, i had tried to test hvd.SyncBatchNorm in my work, there was no error but the GPU-Util has dropped from 90% to 40%. Is normal?

[2020-08-27 13:43] MingYang-buaa commented on #2183
Hi  @tgaddair, i had tried to test hvd.SyncBatchNorm in my work, there was no error but the GPU-Util has dropped from 90% to 40%. Is normal?

[2020-08-27 13:43] MingYang-buaa commented on #2183
Hi  @tgaddair, i had tried to test hvd.SyncBatchNorm in my work, there was no error but the GPU-Util has dropped from 90% to 40%. Is normal?

[2020-08-27 13:44] MingYang-buaa commented on #2183
Hi  @tgaddair, i had tried to test hvd.SyncBatchNorm in my work, there was no error but the GPU-Util has dropped from 90% to 40%. Is normal?

[2020-08-27 13:44] MingYang-buaa commented on #2183
Hi  @tgaddair, i had tried to test hvd.SyncBatchNorm in my work, there was no error but the GPU-Util has dropped from 90% to 40%. Is normal?

[2020-08-27 13:44] MingYang-buaa commented on #2183
Hi  @tgaddair, i had tried to test hvd.SyncBatchNorm in my work, there was no error but the GPU-Util has dropped from 90% to 40%. Is normal?

[2020-08-27 17:35] tgaddair commented on #2183
Hey @MingYang-buaa, there is some overhead to SyncBatchNorm, but that sounds like a big drop.  @alsrgv @romerojosh can you comment on any expected performance hit with SyncBatchNorm?

[2020-08-27 17:38] tgaddair commented on #55
Hey @denniskb, according to GCP [docs](https://cloud.google.com/compute/docs/gpus), v100 skus have NVLinks.

If you have followup questions, feel free to create a new issue.

[2020-08-27 17:44] tgaddair commented on #2211
Hey @firejq, thanks for raising this issue. We do have this on our roadmap (#2136), but have not yet time to implement it.  If you're interested in contributing this as a PR, that would be much appreciated!

I think falling-back to `broadcast_object` when a `tf.string` type tensor is encountered is a fine solution for now.  We can try that approach and see how it affects performance.  If it's not

[2020-08-27 17:53] tgaddair commented on #2207
Hey @zhao1157, looks like some parameter combinations are significantly better than others, so that's a good start.

You have identified a few things we should fix:

1. I agree that it would make sense to use `cache_capacity` instead of having a binary value here.  @romerojosh what do you think?
2. We should get rid of hierarchical allreduce/allgather, as recent versions of NCCL make these unneces

[2020-08-27 18:43] romerojosh commented on #2183
I haven't used Horovod's PyTorch sync BN but I recall Alex mentioning in a prior thread somewhere that it was slow.

To improve performance, have you tried reducing the cycle time (via `HOROVOD_CYCLE_TIME` env var or `--cycle-time-ms` arg to `horovodrun`? The default cycle time of 5 ms is very long, and might be especially bad for Sync BN where Horovod operations are introduced directly in the for

[2020-08-27 18:49] romerojosh commented on #2207
As far as `cache_capacity` being treated as a binary option in the autotuner, I recall having a reason for doing this at the time but can't quite remember, though I believe it might have to do with the cache not handling dynamic resizing very well during autotuning. I will have to look more closely at that.

With that said, the benefits of using the cache should generally be pretty binary anyway (

[2020-08-27 19:24] iamyangchen opened #2214 "Should we use the is_chief field when creating MonitoredTrainingSession"
In horovod's examples (e.g., https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist.py), global variable initialization is taken care of by the `hvd.BroadcastGlobalVariablesHook(0)`. But then when creating MonitoredTrainingSession, seems there's a field called `is_chief` which defaults to `True`, and the comment says

[code]
The example doesn't set this field, but seems it would

[2020-08-28 00:23] Line290 commented on #2208
Yes

[2020-08-28 01:12] zhao1157 commented on #2207
@tgaddair Just need to confirm with you about this

Thanks.

[2020-08-28 07:15] MingYang-buaa commented on #2183
Thanks for your suggestion，I will try with it !

[2020-08-28 07:20] brooks0517 opened #2216 "hvd.broadcast_parameters stucked"
**Environment:**
1. Framework: PyTorch,
2. Framework version: 1.5.0
3. Horovod version:  0.19.1
4. MPI version:  Openmpi 3.1.3
5. CUDA version:10.2.89
6. NCCL version:
7. Python version:
8. Spark / PySpark version:
9. OS and version:
10. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](h

[2020-08-28 07:21] brooks0517 commented on #2216
Oh, I run this trial in a docker.

[2020-08-28 13:53] tgaddair commented on #2216
Hey @brooks0517, can you share some of the Python code you're running that produces this hang?  Are you seeing any messages about "Stalled tensors" or does it just hang forever without any output?

[2020-08-28 14:22] firejq commented on #2211
@tgaddair Thanks for your reply! It's useful for me but I still have a question:

As the broadcast operation is only executed at the beginning of the training, I think it is still acceptable even if it hurts performance much?

[2020-08-28 17:50] tgaddair commented on #2211
Hey @firejq, yes, I believe it should be okay, but it's worth mentioning because pickling and broadcasting over CPU can be expensive if you have a big string tensor on GPU.

[2020-08-29 02:11] tgaddair opened #2217 "Fix hangs in CI with test_spark_run_with_os_environ_with_mpi"
Seems to be somewhat random.  Initially observed in #2212.

[2020-08-30 04:45] talkhaldi commented on #2154
I think so, because you'll be calling your model's "forward" (model(input)) twice, and the "backward" twice.

I'm also trying to find a way to implement this:

[code]

in Horovod, but it seems hvd.DistributedOptimizer doesn't support grouped parameters for the "named_parameters" argument. (Please correct me if I'm wrong!)

[2020-08-30 06:12] talkhaldi commented on #2154
Okay, I managed to get it working by just passing model.named_parameters() to the DistributedOptimizer, while the grouped_params are only passed to the base optimizer.

[2020-08-31 06:39] YouhuiBai opened #2219 "Horovod+PyTorch training is slower than PyTorch DistributedDataParallel"
**Environment:**
1. Framework: (PyTorch)
2. Framework version: 1.3.0a0+1dc2898
3. Horovod version: 0.19.2
4. MPI version: 3.1.2
5. CUDA version: 10.1
6. NCCL version: 2.4.2
7. Python version: 3.6
8. OS and version: CentOS 7.6
9. GCC version: 5.4.0

**Platform:**
4 machines, one 1080Ti GPU per machine, connected with 10Gbps EtherNet

**Checklist:**
1. Did you search issues to find if somebody asked

[2020-08-31 12:45] weberxie commented on #2125
Hi @tgaddair , thanks for your great work! I'm very looking forward to the version 0.20.0, when will it be available?

[2020-08-31 15:53] tgaddair commented on #2154
Glad you got it working @talkhaldi.

@zanonShao, this should not noticeably affect performance to add the extra `optimizer.synchronize()`.  There should be no additional allreduce calls that are made as a result of this, it simply blocks on the async handles from the previous allreduce calls and clears them.

[2020-08-31 16:00] tgaddair commented on #2219
Hey @YouhuiBai, did running with `autotune` suggest different values for the fusion buffer or cycle time?

Also, can you share the output of `horovodrun --check-build` to make sure NCCL is configured correctly?

[2020-08-31 16:02] tgaddair commented on #2125
Hey @weberxie, we're hoping to release later this week.

[2020-09-01 00:56] YouhuiBai commented on #2219
Hi @tgaddair , thanks for your reply.

For the first question, yes! some of log is as follows:

hierarchical_allreduce,hierarchical_allgather,cache_enabled,cycle_time_ms,tensor_fusion_threshold,score
0,0,0,5,4,371.651
0,0,0,50,32,291.365
0,0,0,25,16,346.455
0,0,0,10,8,381.643
0,0,0,38.616,16.0656,314.045
0,0,0,23.9888,12.0213,341.212
0,0,0,9.99935,8.00034,381.561
0,0,0,49.5129,17.9218,293.789
0,0,

[2020-09-01 01:05] YouhuiBai commented on #2219
Hi @tgaddair, I also thought that `5 ms` for negotiation cycle is too long, which will increase the latency, especially for ResNet50, therefore I tried to decrease the cycle time to `1 ms` or even `0.1 ms`, the bandwidth usage increasing up to `700 MB/sec`, but still far from `900 MB/sec`.

[2020-09-01 07:06] talkhaldi commented on #1198
Has this been solved?

I'm having a similar issue. My learning rate is 5e-5. when I multiply with hvd.size() (16 in my case), the loss doesn't decrease. If I add warmup steps 0.1 of total steps, the loss decreases while the lr is still low, but when the warmup phase is over halfway, the loss starts increasing again. It seems if I don't multiply with hvd.size() it would work well, but idk if this i

[2020-09-01 10:45] ieggel commented on #1086
**Here my solution using workers with different network interface names using horovodrun**

I'm using Horovod 0.19.5.
I have 2 workers with different network interface names:
worker1: eno1
worker2: eno3
Both workers are in the same subnet 192.168.1.0/24.

I was able to use horovodrun (no mpirun required) by passing  `--network-interface` and `--mpi-args` to horovod.

[code]
Short explanation:
I us

[2020-09-02 03:39] xzswater opened #2224 "undefined symbol: cudaLaunch with cuda10.1"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): tensorflow
2. Framework version: 2.3.0
3. Horovod version: 0.19.5
4. MPI version: 3.1.0
5. CUDA version: 10.1.243
6. NCCL version: 2.4.7
7. Python version: 3.6.10
8. OS and version: CentOS 6.10
9. GCC version: 8.2.0

**Your question:**
mpi_lib.cpython-36m-x86_64-linux-gnu.so: **undefined symbol: cudaLaunch**

**There's no cudaLaun

[2020-09-02 06:40] AlexYoung757 commented on #851
i have  the same problem。 maybe your cuda version is not match。

[2020-09-02 10:19] xzswater opened #2225 "Exception: module '__main__' has no attribute '__spec__'"
**Environment:**
Framework: (TensorFlow, Keras, PyTorch, MXNet): tensorflow
Framework version: 2.3.0
Horovod version: 0.19.5
MPI version: 3.1.0
CUDA version: 10.1.243
NCCL version: 2.4.7
Python version: 3.6.10
OS and version: CentOS 6.10
GCC version: 8.2.0

**Bug report:**

horovodrun -np 1 -H localhost:1 ../../pyenv/bin/python3 main.py --mode=train_and_eval \
    --training_file_pattern=tfrecord/

[2020-09-02 12:44] #2194 closed

[2020-09-02 12:48] tgaddair commented on #2194
Thanks for reporting this, @deepbrain.  Apologies for the late response.

Let me know if #2223 resolved the issue for you.

[2020-09-02 13:26] tgaddair commented on #2225
Hey @xzswater, does your script include a `if __name__ == '__main__':` line like [this](https://github.com/horovod/horovod/blob/master/examples/pytorch_mnist.py#L110)?

Can you share a minimal example that reproduces the issue?

[2020-09-02 13:30] tgaddair commented on #2224
Hey @xzswater, did you previously install Horovod with CUDA 10.0?  Can you try the following:

[code]

Without `--no-cache-dir`, pip will not properly re-compile Horovod against your new environment.

[2020-09-02 13:32] tgaddair commented on #2214
Hey @iamyangchen, in Horovod, every worker manages its own TensorFlow session independently.  So it's okay for every worker to set `is_chief=True` in the `MonitoredTrainingSession`.  Horovod handles the multi-worker coordination through a separate mechanism.

[2020-09-02 15:22] #2182 closed

[2020-09-02 16:48] talkhaldi commented on #1198
Okay, I found out what was wrong. The learning rate I was using was 5e-5 for a 32 batch. I've used  it with DistributedDataParallel on single machine, multi-GPU setup. In Horovod, each worker on a separate GPU has its own "local" batch size, around 4 per GPU.

Even though DistributedDataParallel also spawns separate workers with local "per GPU", the learning rate was applied to the whole 32 batch

[2020-09-02 17:18] maxhgerlach opened #2227 "Horovod master fails to install, showing errors in Eigen headers (TensorFlow 1.15.2, Python 3.7)"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.2
3. Horovod version: master
4. MPI version: Open MPI 4.0.2
5. CUDA version: 10.0.130-1
6. NCCL version: 2.7.8-1+cuda10.0 (built manually)
7. Python version: 3.7.5
8. OS and version: Ubuntu 16.04.7 LTS
9. GCC version: gcc-7 (Ubuntu 7.5.0-3ubuntu1~16.04) 7.5.0

**Your question:**
Hi,
because I wanted to check out the recently adde

[2020-09-02 19:17] tgaddair commented on #2227
Hey @maxhgerlach, I have not test v1.15.2 specifically, there could be an incompatibility with our version of Eigen and there's.  We do, however, test TF 1.15.0.  If you can, please try that versions and let me know if it works, just so we have a better idea of whether something changed in 1.15.2.

[2020-09-02 19:31] WilliamOnVoyage opened #2228 "Transient Horovod stall when using Horovod.MxNet for distributed training"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.6.x
3. Horovod version: 0.18.2
4. MPI version: MPICH3 3.x
5. CUDA version: 10.1
6. NCCL version: 2.x
7. Python version: 3.6
8. Spark / PySpark version:
9. OS and version: Amazon Linux 2
10. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Yes but nothing correlates.
2. If your question

[2020-09-03 00:56] deepbrain commented on #1059
I had the same issue that was caused by python reading the libraries from the .local folder. You need to ignore the .local libraries by setting the variable "PYTHONNOUSERSITE=1 horovodrun ..."

To eliminate such issues, the horovod needs to be compiled statically linking all of the needed libs and avoid using the LD_LIBRARY_PATH

[2020-09-03 01:08] tgaddair opened #2230 "cudaGetLastError raises "invalid device ordinal" when running multiple containers on one host"
**Environment:**
1. Framework: any
2. Framework version:
3. Horovod version: https://github.com/horovod/horovod/commit/e4554de96100f5a0e8686cd41cf99a6fe8a71e62
4. MPI version:
5. CUDA version: 10.0
6. NCCL version: 2.6.4
7. Python version:
8. Spark / PySpark version:
9. OS and version:
10. GCC version:

When running a Horovod job that spans multiple containers that reside on the same host (with is

[2020-09-03 02:22] xzswater commented on #2224
I did install with --no-cache-dir at least 4~5 times, through pip or source, the errors always are the above.

Finally, i install tensorflow with cuda10.1, then install horovod with cuda10.0:
export HOROVOD_CUDA_INCLUDE=/usr/local/cuda-10.0/include
export HOROVOD_CUDA_LIB=/usr/local/cuda-10.0/lib64

It works.

libcudart.so.10.1 really has no cudaLaunch, i confirmed by install cuda10.1 / cuda10.1 u

[2020-09-03 02:32] tgaddair commented on #2224
We do not call `cudaLaunch` in Horovod, that is likely coming from another library that's being linked against Horovod during compile.

To make sure I understand: when you say that it works, you mean you no longer get any runtime errors when using Horovod built with CUDA 10.0 and TensorFlow 2.3.0?  That is strange, are you sure your TensorFlow libraries were built with CUDA 10.1?  It sounds like y

[2020-09-03 02:43] xzswater commented on #2225
@tgaddair  Yes, it does.
https://github.com/google/automl/blob/master/efficientdet/main.py#L381
![image](https://user-images.githubusercontent.com/52267702/92065223-da9ea800-edd1-11ea-9ea5-8a081e596072.png)

the flags of install horovod are:
export HOROVOD_WITH_GLOO=1
**export HOROVOD_WITHOUT_MPI=1**

Finally, i reinstall horovod by:
export HOROVOD_WITH_GLOO=1
**export HOROVOD_WITH_MPI=1**

Then,

[2020-09-03 03:09] tgaddair commented on #2225
The issue you're seeing is related to Python multiprocessing, which is used by our Gloo controller.  When you enable MPI, it is used as the default instead of Gloo.  So that's why you no longer see this issue.

I have never seen this error myself, but this sort of error is known to occur in some situations when using Python's multiprocessing spawn API (examples [here](https://stackoverflow.com/que

[2020-09-03 09:49] maxhgerlach commented on #2227
Hey @tgaddair,
with both TensorFlow 1.15.0 and 1.15.3 I get the same error messages from `/tensorflow_core/include/third_party/eigen3/unsupported/Eigen/CXX11/src/FixedPoint/PacketMathAVX512.h` unfortunately.
I found this TensorFlow issue that looks to be about the same problem, but I haven't quite understood what caused it as the discussion revolves around Google-internal change lists: https://git

[2020-09-03 09:51] iodapro commented on #1198
@talkhaldi ,
I didn't get what is your args.effective_batch_size?

[2020-09-03 10:07] maxhgerlach commented on #2227
Ah, your recent switch to CMake (thanks so much for that!) in https://github.com/horovod/horovod/commit/9ef4a2202d3e9a701d7b5a6376042c63f3cf7fae shortly after I opened this issue fixes the build for me. I'll just continue from here then.

[2020-09-03 10:09] talkhaldi commented on #1198
It's the actual batch size that will affect the convergence. This effective_batch_size will be split to local_batch_size per worker, depending on hvd.size().

[2020-09-03 10:42] iodapro commented on #1198
I have similar problem, that 3 GPU loss is higher than the one used in single GPU regime.
So, suppose I have 3 GPUs, then hvd.size() is 3 and effective_batch_size can be increased in 3 times.
If in single GPU regime I used lr = 3e-4 and batch_size is 16, then with 3 GPUs it is
3e-4/hvd.size() and effective_batch_size is 16*3
or
3e-4 / hvd.size() * 16*3 / 16 = 3e-4 and effective_batch_size is 16*3

[2020-09-03 10:44] Zantares opened #2232 "Can't install Horovod with newest TF because of error: ‘bfloat16’ in namespace ‘Eigen’ does not name a type"
**Environment:**
1. Framework: TensorFlow
2. Framework version: commit id(64fa2fe6ce8582582210806acf3d78d423cde196)
3. Horovod version: 0.19.5
4. MPI version: 3.1
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.6
8. Spark / PySpark version: N/A
9. OS and version:
10. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If you

[2020-09-03 13:37] tgaddair commented on #2232
Hey @Zantares, this was resolved in #2184.  To workaround, you can install from master, or wait for the upcoming v0.20.0 release, which should hopefully come out later today.

[2020-09-03 13:37] #2232 closed

[2020-09-03 13:42] tgaddair commented on #2227
Great!  @nvcastet another win for CMake :)

[2020-09-03 15:18] talkhaldi commented on #1198
So basically the effective batch size you want is 16 * 3 = 48, right?

The learning rate should be multiplied by 3 then. If you input it through the code above it will become:

3e-4 / hvd.size() * (16 * 3 / 16) = 3e-4 (per worker, in your case it's the same because the workers still have the same batch size (16))

Then lr_scaler = hvd.size()

and your final lr = 3e-4 * lr_scaler, which is just the

[2020-09-04 00:27] tgaddair commented on #1699
@szhengac, can you try out the `gradient_predivide_factor` introduced in v0.20.0 and let us know if it works for your scenario?

[2020-09-04 02:15] Zantares commented on #2232
Thanks for the answer, I will use master first.

[2020-09-04 02:18] tgaddair commented on #2232
@Zantares, we actually just released v0.20.0 today, so feel free to use that.

[2020-09-04 06:19] joequant opened #2236 "Logic error fails in building cuda_util.cc"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version: 0.20.0
4. MPI version:
5. CUDA version:  None
6. NCCL version:
7. Python version: 3.8
8. Spark / PySpark version:
9. OS and version: Mageia Linux
10. GCC version: 10.2

**Bug report:**

Compiler fails on non-CUDA builds because of a missing header.  cuda_util.cc does not include <stdexcept>

[2020-09-04 10:52] pikaliov opened #2237 "Issue runnig multi-gpu training with horovod (each worker uses same batches)"
1. Framework: TensorFlow
2.  Framework version: 2.3.0
3. Horovod version:0.19.5
4. MPI version: -
5. CUDA version:10.2
6.  NCCL version:2.7.8
7. Python version:3.7.5
8. OS and version: ubuntu 16.04
9. GCC version:7.3.0

Hi, i am new with horovod. I am trying to adopt training procedure from https://github.com/aws-samples/deep-learning-models/blob/master/models/nlp/albert/run_pretraining.py.
Code w

[2020-09-04 13:55] tgaddair commented on #2236
Hey @joequant, can you try installing from #2238 and let me know if that addresses the issue?  Could be that certain includes in your version GCC no longer pull in `stdexcept` automatically.

[2020-09-05 00:12] szhengac commented on #1699
I may try it when I have access to that many machines again someday :).

[2020-09-05 01:29] whatdhack opened #2240 "Could NOT find MPI_CXX (missing: MPI_CXX_WORKS)"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.4
3. Horovod version: 0.20.0
4. MPI version:
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7
8. Spark / PySpark version: N/A
9. OS and version: centos 7.5
10. GCC version: 7,5

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, did you read

[2020-09-05 06:52] jaypatravali opened #2241 "Sync Batch norm stalled ranks."
**Environment:**
1. Framework:  PyTorch
2. Framework version: 1.6.0
3. Horovod version: 0.20.0
4. MPI version:   3.1.2
5. CUDA version: 10.2
6. NCCL version:  nccl 2.7
7. Python version: 3.7.2
8. Spark / PySpark version:
9. OS and version: (Ubuntu 7.4.0-1ubuntu1~18.04.1)
10. GCC version:   7.4.0
**Bug report:**
 [2020-09-05 04:24:42.562003: W /tmp/pip-install-8tt7ftw3/horovod/horovod/common/stall_

[2020-09-05 12:41] talkhaldi commented on #1646
In my case, hvd.size() always = 1, comm.Get_size() = 2. I'm not sure how to debug this...

I use this command:
`mpirun -np 2 -map-by ppr:2:node -mca btl_tcp_if_include enp129s0f0,lo python my_script.py`

Thanks in advance!

[2020-09-06 01:58] talkhaldi commented on #1646
Okay, I'm not sure what exactly happened, but I think I got it fixed by using HOROVOD_WITH_MPI=1 when installing horovod. On another cluster that I've been using, the instructions of installing horovod didn't include HOROVOD_WITH_MPI and it still worked with MPI. I'm not sure why now I needed to specify it explicitly.

Anyways, sorry for the disruption!

[2020-09-06 06:32] talkhaldi opened #2244 "Loss doesn't decrease when using Adasum with model parallelism"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.6.0
3. Horovod version: 0.20.0
4. MPI version: 4.0.3
5. CUDA version: 10.1.243
6. NCCL version: 2.7.8-1
7. Python version: 3.6.5
8. Spark / PySpark version: -
9. OS and version: Ubuntu 16.04.6
10. GCC version: 5.5.0

**Bug report:**

The model I'm using is too large to fit in a single GPU (joint 2 large transformers training), so I'm s

[2020-09-06 07:42] MingYang-buaa commented on #2183
@romerojosh Hey, I tried to set the --cycle-time-ms to 1 when training the model, and GPU-Util had up from 40% to 70%.

It looks good but there also is a gap between 70% with 90%. Is it the limit?
All suggestions are welcome.

[2020-09-06 11:16] evi-Genius opened #2246 "can not run examples in docker env with multiple machines"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-09-07 02:27] ft3020997 commented on #2240
Got the same issue!

[2020-09-07 02:43] tgaddair commented on #2240
Hey @whatdhack @ft3020997, what versions of CMake are you using?

[2020-09-07 03:32] ft3020997 commented on #2240
Hi @tgaddair

the version of cmake is 3.18.2

and the command used is as follows:
HOROVOD_NCCL_HOME=/usr/local/nccl_2.7.6 HOROVOD_GPU_OPERATIONS=NCCL HOROVOD_WITH_TENSORFLOW=1 HOROVOD_WITH_MPI=1 pip install --no-cache-dir horovod

PS:
Openmpi-4.0.2 is installed by conda.

[2020-09-07 12:37] EnricoMi commented on #2246
Did you try `mpirun` without any Horovod involved, e.g.

    mpirun -np 2 -H 164.90.89.19:1,164.90.89.16:1 -mca plm_rsh_args "-p 1234 -vvvv" --allow-run-as-root hostname

You may have to open more ports between the docker containers as MPI uses not only ssh. The last line reads `Message: connect() to 192.168.227.64:1024 failed`, looks like it tries to connect to port 1024 as well.

[2020-09-07 12:38] EnricoMi commented on #2246
Please see #2043, it might be similar: https://github.com/horovod/horovod/issues/2043#issuecomment-648968252

[2020-09-07 13:11] evi-Genius commented on #2246
@EnricoMi Thank for your reply! I tryed `mpirun -np 2 -H 164.90.89.19:1,164.90.89.16:1 -mca plm_rsh_args "-p 1234 -vvvv" --allow-run-as-root hostname` and It's output looks well.
...
debug2: channel 0: input drain -> closed
jja-gpu312
jja-gpu313
debug3: receive packet: type 96
...
jja-gpu312 and jja-gpu313 are hostnames of the two machines.
I can't understand why mpirun is trying to connect 192.16

[2020-09-08 07:28] jiaqianjing opened #2248 "Running demo of elastic trainingjob was failed when was scaling."
**Environment:**
I submit job with the image: registry.cn-hangzhou.aliyuncs.com/ai-samples/horovod:master-tf2.1.0-torch1.4.0-mxnet-py3.6-gpu
You can see details: https://code.aliyun.com/370272561/elastic-training-sample-image/blob/master/Dockerfile

**Your question:**
When I try add new worker into job (tensorflow2_synthetic_benchmark_elastic.py) ,then running job failed.

1. submit job command:
[

[2020-09-08 09:03] ft3020997 commented on #2240
Hi ,i fixed this.
By "conda install openmpi-mpicc" and it works well.

[2020-09-08 10:48] EnricoMi commented on #2248
Hi, you are using a docker version 0.19.3 and the install from master, could you try using the latest release 0.20.0 without installing from master?

[2020-09-08 13:12] tgaddair commented on #2240
Hey @ft3020997, thanks for the update!  So seems that the MPI package that ships with Conda by default does not contain compilers (https://github.com/conda-forge/openmpi-feedstock/issues/34).  What package did you use to install MPI before?

[2020-09-08 14:32] whatdhack commented on #2240
@ft3020997 , good find indeed.  However  in my case I have  to use  other MPIs   - Intel MPI, oneccl, MPICH etc.  The  are all pre-installed in the system.

[2020-09-08 14:51] whatdhack opened #2249 "Horovod install/build in conda."
**Is your feature request related to a problem? Please describe.**
There is no  documentation for a consistent and reliable build/install in conda.  For most changes (e.g. Horovod version,  conda version, DL platform version,  MPI tyes, etc.) it is always a time consuming  hunt for the proper configuration.

**Describe the solution you'd like**
It would be great if there is a documentaiton on how

[2020-09-08 14:55] collinabidi opened #2250 "Modifying MPI RMA: architecture diagram request"
**Environment:**
1. Framework: PyTorch
2. Framework version: (Pytorch) 1.6.0
3. Horovod version: 0.19.2
4. MPI version: OpenMPI 5.0.0a / MPI 3.1.0
5. CUDA version: NA
6. NCCL version: NA
7. Python version: 3.8.2
8. OS and version: Ubuntu 20.04
9. GCC version: GCC 9.3.0

**Your question:**
Hi there, I'm modifying Horovod to use a PGAS model that's an alternative to MPI. I'm having difficulty in att

[2020-09-08 16:30] tgaddair commented on #2249
Hey @whatdhack, @davidrpugh recently put together some very thorough documentation on Horovod = Conda [here](https://github.com/horovod/horovod/blob/master/docs/conda.rst).  It may be the case that some things have changed since the introduction of the CMake build system in v0.20.0.  So please let us know if there's anything specific that needs to be updated.

We have considered having a Horovod b

[2020-09-08 16:37] iamyangchen commented on #2214
Thank you for the clarification!

[2020-09-08 16:37] #2214 closed

[2020-09-08 16:55] tgaddair commented on #2250
Hey @collinabidi, because Horovod does not have a hard dependency on MPI, it should actually be pretty straightforward to add in support for an alternative.  Since MPI plays more than one role in Horovod, the question is which of these roles you want PGAS to play.

Specifically, MPI can be used in Horovod as the Control Plane and/or the Data Plane (for CPU tensors, GPU, or both):

![image3](https:

[2020-09-08 18:03] whatdhack commented on #2249
Thanks, I have seen that.  However it is CUDA specific, would be great to extend that beyond CUDA.
I understand that there could be a combinatorial explosion. However,  it is  not clear at all what combination was used to certify a release.  A table with what combination was used for a release will be great.

[2020-09-09 03:08] lengoanhcat commented on #2244
Environment:

Framework: Tensorlfow
Framework version: 1.15.0
Horovod version: 0.20.0
MPI version: 4.0.3
CUDA version: 10.1.243
NCCL version: 2.7.8-1
Python version: 3.7.7
Spark / PySpark version: -
OS and version: Ubuntu 18.04
GCC version: 7.5.0

I install horovod with the following command.

[code]

I just simply run a provided example with / wihtout adasum and save operations into time-lines

[

[2020-09-09 03:34] talkhaldi opened #2251 "Can I have Adasum consume less GPU memory?"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.6.0
3. Horovod version: 0.20.0
4. MPI version: 4.0.3
5. CUDA version: 10.2
6. NCCL version: 2.7.8-1
7. Python version: 3.6.5
8. OS and version: Ubuntu 16.04.6
9. GCC version: 5.5.0

**Question:**

My model takes ~15.4G out of my 16G GPU and it runs normally on multiple machines/multiple GPUs. If I use Adasum, I run out of memory. Does

[2020-09-09 03:37] jiaqianjing opened #2252 "Add some demo of elastic horovod on real dataset."
hi, @tgaddair
Could you give me a real training demo of elastic horovod? Like training model with tensorflow on imagenet.

[2020-09-09 08:03] ft3020997 commented on #2240
The MPI was installed by conda "conda install openmpi" before.

[2020-09-09 08:39] PaulKarlshoeferBULL opened #2253 "How to run examples with local mnist data?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TF2
2. Framework version:
3. Horovod version: 0.20
4. MPI version: 3.1.5 openmpi
5. CUDA version: 10.1
6. NCCL version: 2
7. Python version: 3.6.8
8. OS and version: REHL 7
9. GCC version: 7.3

Dear Horovod Team,
I installed horovod on a machine which does not have access to the internet.
I thought I might verify the installation b

[2020-09-09 09:01] EnricoMi commented on #2253
I presume you are trying to run `tensorflow2_mnist.py`. Data are loaded in line 30:

    tf.keras.datasets.mnist.load_data(path='mnist-%d.npz' % hvd.rank())

which calls into `get_file`. There you can see the data are downloaded to `$HOME/.keras/datasets`, or if your user has no write access to that directory, `/tmp/keras/datasets`. In doubt, you could step through `get_file` and see where it is l

[2020-09-09 09:21] jiaqianjing commented on #2248
ok, 3q

[2020-09-09 09:44] PaulKarlshoeferBULL commented on #2253
Thank you for your quick answer. Yes, I try to make tensorflow2_mnist.py work.
I tried putting the mnist file in $HOME/.keras/datasets, however the run still fails on:
`tf.keras.datasets.mnist.load_data(path='mnist-%d.npz' % hvd.rank())`

The output looks like this
[code]

[2020-09-09 10:02] jiaqianjing commented on #2248
By the way, coud I replace fake data with imagenet at [tensorflow2_synthetic_benchmark_elastic.py](https://github.com/horovod/horovod/blob/master/examples/elastic/tensorflow2_synthetic_benchmark_elastic.py)? And how to do?

[2020-09-09 11:50] jiaqianjing commented on #2248
I has been replaced image(https://code.aliyun.com/370272561/elastic-training-sample-image/blob/master/Dockerfile). But when I run [tensorflow2_synthetic_benchmark_elastic.py](https://github.com/horovod/horovod/blob/master/examples/elastic/tensorflow2_synthetic_benchmark_elastic.py) , the job is failed directly.
![image](https://user-images.githubusercontent.com/16071449/92594554-831ea180-f2d5-11ea

[2020-09-09 12:54] EnricoMi commented on #2253
The line `tf.keras.datasets.mnist.load_data(path='mnist-%d.npz' % hvd.rank())` tells me that it expects

    $HOME/.keras/datasets/mnist-0.npz
    $HOME/.keras/datasets/mnist-1.npz
    $HOME/.keras/datasets/mnist-2.npz
    $HOME/.keras/datasets/mnist-3.npz

Not sure if it expects the same `mnist.npz` multiple times or different bits of it (@tgaddair  might help), but you could get it working by cr

[2020-09-09 13:28] PaulKarlshoeferBULL commented on #2253
Thanks again! I can get past this stage now. However, the example runs into the same error as the synthetic benchmark (which I used at first since it doesn't download data)

I post the error here anyway, even though it isn't related anymore to the threads name.

[code]
Complete output:
[slurm-456622.txt](https://github.com/horovod/horovod/files/5195449/slurm-456622.txt)

[2020-09-09 13:55] tgaddair commented on #2240
@whatdhack, our CI system has coverage for oneccl and MPICH.  Where are these versions installed?  It may be we need to provide a way to hardcode the path.

[2020-09-09 14:20] talkhaldi commented on #2251
Actually, this issue caused #2244, So I prefer to solve this issue as top priority. (Then I wouldn't need to shard the model).

I appreciate any input on this, please!

[2020-09-09 15:27] talkhaldi commented on #2251
Just when I thought I solved it.. I found a quote saying:

`To force allreduce to happen on CPU, pass device_dense='/cpu:0' to hvd.DistributedOptimizer`

Unfortunately, "device_dense" is a keyword in all but torch version of DistributedOptimizer! Why is that?

[2020-09-09 17:47] whatdhack commented on #2240
@tgaddair , thanks, Is there environment variable knobs to set these compilers ?

[2020-09-10 01:00] tgaddair commented on #2251
@kit1980 @Tixxx any thoughts on why the memory utilization is high?

[2020-09-10 02:05] jiaqianjing commented on #2248
@EnricoMi I need your help.

[2020-09-10 05:24] davidrpugh commented on #2249
@tgaddair I need to update some things now that a new version has been released with submit PRs shortly!

[2020-09-10 07:45] JBlade97 opened #2255 "DataLoader worker (pid(s) 372) exited unexpectedly"
**Environment:**
Using horovod/horovod:0.20.0-tf2.3.0-torch1.6.0-mxnet1.6.0.post0-py3.7-cuda10.1

CPU:

After attempting to run pytorch_mnist.py on my 3 GPU machine I have experienced an issue whcih produces this code after running this command which only uses one GPU

`horovodrun -np 3  -H localhost:3 python keras_mnist_advanced.py`

this was the output:
[code]

My machine specifications are:

MS

[2020-09-10 07:46] lengoanhcat opened #2256 "Why is 'backward_passes_per_step' only available for AdaSum but not Average operation ?"
**Environment:**

Framework: Tensorlfow
Framework version: 1.15.0
Horovod version: 0.20.0
MPI version: 4.0.3
CUDA version: 10.1.243
NCCL version: 2.7.8-1
Python version: 3.7.7
Spark / PySpark version: -
OS and version: Ubuntu 18.04
GCC version: 7.5.0

**Your question:**
Why is 'backward_passes_per_step' only available for AdaSum but not Average operation ?

[2020-09-10 09:18] EnricoMi commented on #2248
@tgaddair might help with the `ValueError: Shapes (32, 1) and (32, 1000) are incompatible`.

I would look into why the data have the wrong shape, or to adjust the model to the shape of the data.

[2020-09-10 09:21] EnricoMi commented on #2253
@tgaddair might help with this segfault, don't we run these examples in the CI pipeline?

@PaulKarlshoeferBULL do you run this in a docker container provided at https://hub.docker.com/r/horovod/horovod/tags or did you compile Horovod yourself?

[2020-09-10 10:13] jiaqianjing commented on #2248
Maybe the function of loss has a problem.

[2020-09-10 10:32] PaulKarlshoeferBULL commented on #2253
I ran the pip install for horovod 0.20.0:
`HOROVOD_WITH_TENSORFLOW=1 HOROVOD_WITHOUT_GLOO=1 HOROVOD_NCCL_INCLUDE=[...] HOROVOD_NCCL_LIB=[...] HOROVOD_GPU_OPERATIONS=NCCL pip3.6 install --no-index --find-links [...]  --prefix=[...] [...]/horovod_deps/horovod-0.20.0.tar.gz`

So maybe the horovod from PiPy is not compatible with the exaples from this master branch? In fact, from this git repo I am on

[2020-09-10 11:24] csdingbin opened #2258 "[Horovod on Ray]Failed on example of tensorflow2_mnist_ray.py"
**Environment:**
1. Framework: (TensorFlow1.15.0)
3. Horovod version:0.20.0

**Your question:**
Please ask your question here.
Hi @tgaddair @richardliaw I tried the example of Horovod on ray on CPU nodes, but failed.
The ray cluster is ok.

Using TensorFlow backend.
[2m[36m(pid=262081)[0m Using TensorFlow backend.
[2m[36m(pid=262071)[0m Using TensorFlow backend.
Traceback (most recent call l

[2020-09-10 12:59] tgaddair commented on #2253
Hey @PaulKarlshoeferBULL, can you post a new issue regarding the invalid pointer error?  Specifically, it would be useful to know what script you're running along with your environment setup.  Thanks.

[2020-09-10 13:11] tgaddair commented on #2248
Hey @jiaqianjing, if you're doing mutli-label classification, you should use something like [sigmoid_crossentropy_with_logits](https://www.tensorflow.org/api_docs/python/tf/nn/sigmoid_cross_entropy_with_logits).  The loss you're currently using assumes there is only one target label.

[2020-09-10 13:31] tgaddair commented on #2258
Hey @csdingbin, the example is for TensorFlow 2 but looks like you're using TensorFlow 1.15.

If you want to use TensorFlow 1.15 with Horovod on Ray, it should be possible, but based on the error you're seeing, I would recommend import tensorflow inside the `train` function.  The script would also need to be refactored to look similar to [tensorflow_keras_mnist.py](https://github.com/horovod/horov

[2020-09-10 13:54] csdingbin commented on #2258
But when I installed Tensorflow==2.1.0 and horovod==0.20.0.
import horovod.tensorflow.keras as hvd will appeared such error:

2020-09-10 21:50:00.960249: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'libnvinfer.so.6'; dlerror: libnvinfer.so.6: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /opt/rh/devtoolset-8/root/usr/

[2020-09-10 14:01] tgaddair commented on #2255
Hey @JBlade97, can you try setting `num_workers=0` in the DataLoader config?  Might be a multiprocessing issue similar to #2053.

[2020-09-10 17:45] maxhgerlach opened #2259 "NCCL-based alltoall crashes for some edge cases"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.2
3. Horovod version: b94d8b447f415f76f23e0cb4b38a57bf27b1eb24
4. MPI version: Open MPI 4.0.2
5. CUDA version: 10.0.130-1
6. NCCL version: 2.7.8-1+cuda10.0 (built manually)
7. Python version: 3.7.5
8. Spark / PySpark version:
9. OS and version: Ubuntu 16.04.7 LTS
10. GCC version: g++-4.9 (Ubuntu 4.9.4-2ubuntu1~16.04) 4.9.4
11. CM

[2020-09-10 18:26] tgaddair commented on #2258
Hey @csdingbin, can you try removing the `import horovod.keras as hvd` line as shown in #2262?  It may be that Keras is interfering with things in your environment somehow.

Also, did you uninstall Horovod and reinstall with `pip install --no-cache-dir horovod` after upgrading TensorFlow?  Otherwise, Horovod would be linking against an old version of TensorFlow.

[2020-09-10 23:44] #2258 closed

[2020-09-11 03:46] jiaqianjing commented on #2248
Could you fix it ([tensorflow2_synthetic_benchmark_elastic.py](https://github.com/horovod/horovod/blob/master/examples/elastic/tensorflow2_synthetic_benchmark_elastic.py))?

[2020-09-11 06:17] jiaqianjing commented on #2248
replace `loss = tf.losses.categorical_crossentropy(target, probs)` with `loss = tf.losses.sparse_categorical_crossentropy(target, probs)`  .Like this https://github.com/horovod/horovod/commit/66c8d011e27ccb5e4a2aa2936d74764eadb58139

[2020-09-11 06:40] jiaqianjing commented on #2248
https://www.tensorflow.org/api_docs/python/tf/keras/losses/SparseCategoricalCrossentropy

![image](https://user-images.githubusercontent.com/16071449/92876488-bcbdec80-f43c-11ea-98de-27ad7cc4bbb4.png)

[2020-09-11 07:12] jiaqianjing commented on #2248
Now the job can be running, but when I scaled up or down the number of workers( 3 -> 2 workers), the job failed again.
[code]

[2020-09-11 07:32] jiaqianjing commented on #2248
https://github.com/horovod/horovod/pull/2265/commits/52921c5382bf66d47c07db92cc0dddd81af0ba05 is my solution.

[2020-09-11 07:32] jiaqianjing commented on #2248
@tgaddair

[2020-09-11 12:22] maxhgerlach commented on #2259
Now these new tests from PR #2260 also crash on Buildkite ([XML example](https://s3.amazonaws.com/buildkiteartifacts.com/c212b91d-49ab-4cd8-bbb1-8e45d8df276b/737d310f-2314-46a5-adba-a27f526ff91f/27d72e88-79e2-4c7c-9317-a0bd23c95599/ac5859d0-3b57-4e3e-81b2-04de8482bc8c/artifacts/junit.gloo.0.test_tensorflow.py.xml?response-content-type=application%2Fxml&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Creden

[2020-09-11 12:56] orwa-te opened #2267 "How Horovod knows the input shape of arrays to fit the model?"
**Your question:**
I followed this [link](https://github.com/horovod/horovod/blob/master/examples/keras_spark_mnist.py) and found something I don't understand. How Horovod knows that the **input shape** of the arrays to fit the model is (28,28,1) if it reads from Spark dataframe where dataframe has a `features` column with 784 elements (pixel value) inside for each entry?
Is there a `reshape` opti

[2020-09-11 16:43] romerojosh commented on #2259
Thanks for reporting these issues @maxhgerlach and writing up additional unit tests. I agree that these cases should not be failing. I will take a closer look at this the next chance I get in a few days.

[2020-09-12 07:30] orwa-te commented on #2267
It seems to be that the Horovod estimator automatically identifies the correct and suitable input shape of data to fit the model

[2020-09-12 13:25] orwa-te opened #2268 "Feed the model with Numpy array"
**Environment:**
1. Framework: (TensorFlow)
2. Framework version: 2.3.0
3. Horovod version: 0.19.5
4. MPI version: 4.0.3
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7.7
8. OS and version: Centos 7
9. GCC version: 9.3.0

**Your question:**
I want to train a model on **Spark** using Horovod where my data features are NumPy arrays ( images ) with `shape=128*128*4` and labels are al

[2020-09-12 17:06] talkhaldi commented on #2251
A gentle reminder. Can you please take a look at this?

[2020-09-14 02:30] yangw1234 opened #2271 "Make horovod on ray not requiring ssh identity file or passwordless access"
**Is your feature request related to a problem? Please describe.**

Horovod on Ray still requires users to have ssh passwordless access (or through identity file) from the driver to each ray node.

Not all ray clusters meet this. It would be nice to run horovod on ray without this requirement.

**Describe the solution you'd like**

Be able to run horovod on ray without ssh passwordless access or i

[2020-09-14 02:42] yangw1234 commented on #2271
some discussions on the original horovod on ray pr: https://github.com/horovod/horovod/pull/2218#discussion_r487491911

[2020-09-14 11:43] talkhaldi commented on #2251
Okay, I understand that if Adasum works on GPU, it needs to allocate stuff on GPU:
(from https://horovod.readthedocs.io/en/stable/gpus_include.html)

I would use less processes and gradient accumulation as a workaround, but it runs out of memory even with 4 processes.

So I guess it boils down to this very useful option if it existed in torch:

Which is not implemented in torch. (As also mentioned

[2020-09-14 15:50] surak commented on #93
Broken link

[2020-09-14 16:02] collinabidi commented on #2250
Hey @tgaddair, thanks for the diagram! That clears up a lot of confusion that I was having about the layout of the code and how MPI is being used.

I'm attempting to replace the Broadcast, AllGather, and AllReduce functions with [SHMEM](https://en.wikipedia.org/wiki/SHMEM) versions. I'll update you as I proceed!

Thanks for all the help so far, the Horovod team has been fantastic at responding to

[2020-09-14 17:58] tgaddair commented on #2251
Hey @talkhaldi, you can force any tensor in PyTorch to be on CPU: `tensor.cpu()`.  You can try this on your tensors as a first step, which will certainly reduce GPU memory.

Another option is to try compression.  Horovod comes with FP16 compression that will cut the amount of GPU memory required by Horovod during allreduce by half.  You can also implement your own "Compressor" that moves the gradi

[2020-09-14 17:59] tgaddair commented on #93
@surak here is the updated location: https://github.com/horovod/horovod/blob/master/docs/running.rst

[2020-09-14 18:03] tgaddair commented on #2250
Sounds great, @collinabidi!  Looking forward to it.

[2020-09-14 18:15] tgaddair commented on #2271
Thanks for raising this issue @yangw1234.  Because the Horovod driver does not launch the remote workers when using `RayExecutor`, I agree that passwordless ssh should not be required.  However, we do still need to identify the correct NIC to use.  This can be passed in by the user, but from your comment it sounds like we may be able to obtain this using `ray.service.get_ip_address`.  As long as w

[2020-09-14 18:52] surak commented on #93
Thanks! I know, I just wanted to point out for other people who come here. Perhaps edit the original answer?

[2020-09-14 19:37] tgaddair commented on #93
Sure, fixed!

[2020-09-14 21:15] denfromufa commented on #1679
@feevos don't you need to explicitly communicate the losses between generator and discriminator on separate GPU workers?

[2020-09-14 23:33] feevos commented on #1679
@denfromufa  not the losses, the corresponding layers that the losses depend on. I do that in the code snipet above. For the record, I managed to squeeze all of the networks in a single GPU, and then the naming problem went away.

[2020-09-15 01:56] richardliaw commented on #2271
@yangw1234 can you take a look at #2275 and see if that is what you're asking for?

@tgaddair would be great to get your eyes on it too - haven't touched nics before :)

[2020-09-15 06:25] jiaqianjing opened #2276 "install horovod==0.20.0 failed"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow

2. Framework version:
tensorflow-gpu==1.15.0

3. Horovod version:
horovod==0.20.0

4. MPI version:
4.0.1

5. CUDA version:
10.0.130

6. NCCL version:
2.5.6

7. Python version:
Python 3.6.8

8. OS and version:
CentOS Linux 7

9. GCC version:
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39)

**Checklist:**
1. Did you search is

[2020-09-15 06:52] lengoanhcat commented on #2276
Could you check whether any other flags HOROVOD_ALL_REDUCE=NCCL are set not ? If they are set in your bash environment, please unset them before reinstalling horovod by pip. Hope it would help.

[2020-09-15 06:58] jiaqianjing commented on #2248
fixed by #2265

[2020-09-15 06:58] #2248 closed

[2020-09-15 07:01] jiaqianjing commented on #2276
3q. But not work.

[2020-09-15 07:02] jiaqianjing commented on #2276
3Q. But not work.

[2020-09-15 07:28] yangw1234 commented on #2271
@richardliaw that's exactly what I am asking. Very cool! Thanks!

[2020-09-15 07:36] lengoanhcat commented on #2276
If you are able to use anaconda, you can use this guideline to install horovod https://github.com/kaust-vislab/horovod-gpu-data-science-project. It would help avoid many installation problems.

Just have to change a bit in the environment.yaml to install horovod after pytorch

[code]

[2020-09-15 08:16] TheSilverLinings opened #2277 "Why my hvd.rank() and hvd.local_rank() are always 0"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)  PyTorch
2. Framework version:  1.1.0
3. Horovod version: 0.19.5
4. MPI version: openmpi = 4.0.5
5. CUDA version: 10.1.105
6. NCCL version:  2.7.8 from my .deb (by the way how to check this version)
7. Python version: 3.7.3
8. OS and version: ubuntu 16.04
9. GCC version: 5.4.0

**Checklist:**
1. Did you search issues to find if som

[2020-09-15 09:20] talkhaldi commented on #2251
Thank you for your reply!

For the FP16 compression, I oddly got increase of about 200M in GPU memory usage when it was on. However, I tried your other suggestion:

[code]

And it did save about 300M, but it was not enough.

I ended up changing the architecture with much less tokens to fit and still use Adasum:
- Smaller model, without Adasum: 12931Mib
- Smaller model, with Adasum: 15863MiB

Simpl

[2020-09-15 09:48] Richie-yan commented on #2246
@evi-Genius @EnricoMi
I also encountered the same problem when running 20 nodes:
[code]
There is no 10.0.0.1 in my node. I don’t know why try to connect to this ip.
Is there any solution?

[2020-09-15 12:59] JF-D commented on #1062
@alsrgv Do you know how to run a single process that would use the memory of both GPUs? Besides, do horovod support unified memory training when using tensorflow (I mean using cpu memory)? I can run single card training. But for multi-cards, I encountered illegal memory access in horovod allreduce.

[2020-09-15 13:25] tgaddair commented on #2277
Hey @TheSilverLinings, let's start by trying to figure out what's going on with the rank.

First, I'd write a simple script we can use to check that things are working correctly:

[code]

I would also suggest running `horovodrun --check-build` and sharing the results here so we can be sure that everything installed correctly.

In my experience, most of the time this issue is caused by having multi

[2020-09-15 21:47] Tixxx commented on #2251
Hi @talkhaldi , Adasum indeed needs extra space since it's performing allreduce on the difference between model weights before and after param update, it allocates extra tensors to store previous weights. I think increasing accumulation is a mitigation method to reduce activation size per minibantch to make some space for the extra memory needed for Adasum.
As for fp16, to make apex work with the

[2020-09-15 22:13] #2259 closed

[2020-09-15 22:28] #2008 closed

[2020-09-16 01:53] TheSilverLinings commented on #2277
![image](https://user-images.githubusercontent.com/32483650/93282606-5b619900-f801-11ea-83e7-cd42d115cef6.png)

I have tried the suggestions.
But I don't know whether it is ture that I installed the horovod successfully.

I also tried the link and I think the result shows I do not use MPICH library.
I installed the open MPI (4.0.2, 4.0.1, 4.0.5) many time, does it affect the result?

[2020-09-16 12:15] gongjingcs opened #2282 "apex mixed precision with horovod"
hi，
I noticed that horovod must be used like this style：
     # Apex
    with amp.scale_loss(loss, optimizer) as scaled_loss:
        scaled_loss.backward()
        optimizer.synchronize()
    with optimizer.skip_synchronize():
        optimizer.step()
in combination with apex in your example code https://gist.github.com/alsrgv/0713add50fe49a409316832a31612dde#file-pytorch_synthetic_benchmark_apex

[2020-09-16 19:54] maxhgerlach commented on #2259
It looks good now, thanks @romerojosh!

[2020-09-16 22:55] seanthegreat7 opened #2283 "How to use a password file instead of the rsa key?"
**Is your feature request related to a problem? Please describe.**

Because of security protocols I can't do passwordless ssh in the usual common ways so it stops me from running distributed training in our cluster.

**Describe the solution you'd like**

I can use "`sshpass -f passwordFile ssh user@server`" to ssh to the server without any prompt. So I am wondering how I can make it work in this w

[2020-09-17 02:05] ft3020997 commented on #2276
HOROVOD_GPU_OPERATIONS=NCCL HOROVOD_WITH_TENSORFLOW=1 HOROVOD_WITHOUT_PYTORCH=1 HOROVOD_WITHOUT_MXNET=1 HOROVOD_WITH_MPI=1 HOROVOD_WITHOUT_GLOO=1 pip install --no-cache-dir horovod

You could try this command below.

The error logs showed this issue may be caused by gloo install, if you don't need gloo you can set "HOROVOD_WITHOUT_GLOO=1"

[2020-09-17 04:15] talkhaldi commented on #2251
Thank you for your reply!

I understand it needs space, I just wanted to reduce that space by applying the operations on CPU. I did try to "compress" things to CPU and decompress them back to "cuda" but when it wasn't enough, I read the code, and it seems I need to do that earlier (At the time of calculating delta maybe).

Thanks for the accumulation tip. I would try it but it's running out of mem

[2020-09-17 13:39] BobLiu20 opened #2285 "tf-keras example is not working well when scale worker up in elastic mode"
**Environment:**
1. Framework: tf-keras
2. Framework version: 1.15.0
3. Horovod version: v0.20.0

**Bug report:**
Just run this example ```examples/elastic/tensorflow_keras_mnist_elastic.py``` in elastic mode. It will be blocked when try to scale worker up.

**FYI**
I am trying to resolve this issue. Unfortunately, I can't find out how to reset the uniq id of op name.
For example, sync state in fi

[2020-09-17 13:51] tgaddair commented on #2285
Thanks for raising this issue @BobLiu20, let me take a look.  We definitely have this working in CI, so it may be we just need to tweak this script to use the same structure as our tests.  Worst case, we may need to call [tf.keras.backend.reset_uids](https://www.tensorflow.org/api_docs/python/tf/keras/backend/reset_uids) to avoid the incrementing.  I will take a look today.

[2020-09-17 13:53] tgaddair commented on #2285
Hmm, looks like we don't TensorFlow Keras v1 under CI for elastic mode, let me add that and see if we can fix this along the way.

[2020-09-17 15:39] guoshzhao commented on #2219
I saw the similar issue when training Resnet101. Horovod+PyTorch training is slower than PyTorch DistributedDataParallel.

Do you have any clues?

[2020-09-17 17:50] EnricoMi opened #2287 "Present unit test results on commits and pull requests"
With #2213, tests in buildkite produce JUnit xml result files and a new GitHub workflow downloads these files via the [download-buildkite-artifact-action](https://github.com/EnricoMi/download-buildkite-artifact-action) and summarizes them via the [publish-unit-test-result-action](https://github.com/EnricoMi/publish-unit-test-result-action).

Given the different situations when Buildkite runs, we h

[2020-09-17 18:08] Tixxx commented on #2251
@talkhaldi Got it, didn't realize it went OOM even with 1 batch. For the CPU offload, you'd probably need to make a "hacky" version of the DistributedAdasumOptimizer to:
1. When initialized, self._starting_model needs to be copied to CPU, right now it allocates on the same device as original model.
2. In _allreduce_grad_async, after calling super().step(), copy start to gpu before doing the subtra

[2020-09-17 22:36] tgaddair commented on #2285
Hey @BobLiu20, can you try #2289 and let me know if it works for you?

[2020-09-18 03:22] BobLiu20 commented on #2285
@tgaddair Thanks. The issue still here:

[code]

[2020-09-18 03:40] jiaqianjing commented on #2276
3Q @ft3020997

[2020-09-18 03:43] jiaqianjing commented on #2252
@tgaddair  Could you modify it based on this file [pytorch_imagenet_resnet50.py](https://github.com/horovod/horovod/blob/master/examples/pytorch_imagenet_resnet50.py) or [tf_cnn_benchmarks.py](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py)

[2020-09-18 03:45] jiaqianjing commented on #2252
And dataset of [pytorch_imagenet_resnet50.py](https://github.com/horovod/horovod/blob/master/examples/pytorch_imagenet_resnet50.py) what can I found it.

[2020-09-18 04:29] BobLiu20 commented on #2285
@tgaddair After debug, It seems new worker will trigger on_batch_end in CommitStateCallbackImpl before sync weight. So new worker will call check_host_updates() immediately  but old worker is not.
![image](https://user-images.githubusercontent.com/6102702/93556119-80ddd680-f9aa-11ea-95b2-8eb1c752bd13.png)

I don't konw why...

[2020-09-18 13:35] tgaddair commented on #2285
Thanks for digging into this @BobLiu20, and apologies for the ongoing issues.  I'll look into this a bit more today and see if I can figure out what's going on.

[2020-09-18 15:32] tgaddair commented on #2285
Hey @BobLiu20, I was able to repro the issue in my environment and resolve it.  It appears the problem was due to the Keras Callback state not being reinitialized when workers were added or removed.  As a result, the old workers were committing at different steps from the new workers.  I have updated the PR with changes to address this, please try it again and let me know if it works this time.  T

[2020-09-18 16:22] tgaddair commented on #2252
Sure, we can make a full demo based on PyTorch ImageNet.

[2020-09-18 16:39] chandana1332 opened #2292 "Loss convergence with Horovod is poor compared to native MXNet"
Hello,

When comparing models trained with Horovod and native MXNet, models trained with Horovod have poorer convergence. The loss for each update when:
1. served the same batch to each GPU
2. Initialized model parameters with the same seed
have different values. The values have a small delta of ~0.01 but accumulated over a large number of updates, make a big difference.

Is this expected behaviou

[2020-09-18 19:13] ashiqimranintel opened #2294 "Horovod on CPU"
Framework: Tensorflow 2.X

For GPU's case we need to add the following lines to PIN GPU
gpus = tf.config.experimental.list_physical_devices('GPU')
for gpu in gpus:
    tf.config.experimental.set_memory_growth(gpu, True)
if gpus:
    tf.config.experimental.set_visible_devices(gpus[hvd.local_rank()]

I was wondering do we need to add any lines to PIN CPU or is it automatic?

[2020-09-18 19:57] tgaddair commented on #2294
Hi @ashiqimranintel, this is something you can control at the `horovodrun` or `mpirun` level (specified with `horovodrun --binding-args`).  See the [OpenMPI](https://www.open-mpi.org/doc/v3.0/man1/mpirun.1.php#sect9) docs for more details.

By default, TensorFlow will use all the CPU and memory resources it has available to it, which in many cases will be okay.  The pinning / affinity is not as cr

[2020-09-18 21:14] nouiz opened #2295 "Horovod + TF default configuration can cause CPU threads oversubscription"
Horovod + TF in its default configuration can cause heavy CPU oversubscription. The cause is that by default TF uses for its max intra thread parallelism all the (cores)hyper-threads available on the computer. If there are 8 GPUs, then we end up with 8 processes that each can take all the cores of the machine.

We suggest that Hovorod set TF environments variable TF_NUM_INTRAOP_THREADS to a better

[2020-09-19 11:19] bankotsu commented on #2181
Thanks @tgaddair for clearing this up!

regarding your second point:

i think then that i should report a bug:
if i supply `DistributedOptimizer` with an optimizer initialized with param groups as my example above:
[code]
and don't specify the optional `named_parameters` param, it will assign the same names across param groups:
[code]
(same `i` and therefore same name is assigned across param grou

[2020-09-19 15:22] tgaddair commented on #2181
Yes, good point, we should  also include the `param_group` index in the name.

[2020-09-20 01:29] talkhaldi commented on #2251
Thanks, I did try your suggestion and I managed to get the load to the cpu, and the big model fit with Adasum, but of course became very slow. I could still get reasonable time (1 hour per epoch), but using more nodes.

In that regard, I think I can close the issue.

I have some other questions but I'll open a separate issue for that. Thanks again!

[2020-09-20 01:29] #2251 closed

[2020-09-20 02:59] YouhuiBai commented on #2219
@guoshzhao I'm sorry that we don't have any evident clues. I will try to break down the implementation of DistributedDataParallel, maybe find some clues from design or implementation.

[2020-09-20 05:56] talkhaldi opened #2298 "Average vs Sum ops when using many nodes"
**Environment:**
Framework: PyTorch
Framework version: 1.6.0
Horovod version: 0.20.0
MPI version: 4.0.3
CUDA version: 10.2
NCCL version: 2.7.8-1
Python version: 3.6.5
OS and version: Ubuntu 16.04.6
GCC version: 5.5.0

**The  question:**

According to my understanding, by default there is a difference between the following settings with the same batch size:

1) Many nodes, less gradient accumulatio

[2020-09-21 02:29] BobLiu20 commented on #2285
@tgaddair Cool. It is working well now. Thanks

[2020-09-21 05:02] austinmw opened #2299 "Horovod test segfaults with MXNet 1.7.0"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.7.0
3. Horovod version: 0.20.0
4. MPI version: 4.0.0
5. CUDA version: 10.1
6. NCCL version: 2.7.8-1+cuda10.1
7. Python version: 3.7
8. Spark / PySpark version: X
9. OS and version: Ubuntu 18.04
10. GCC version: 7.5.0
11. CMake version: 3.10.2

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2.

[2020-09-21 06:01] mohapatras opened #2300 "mpirun noticed that process rank 1 with PID 0"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.15.0
3. Horovod version: 0.20.0
4. MPI version:3.0
5. CUDA version:10.1
6. NCCL version:2.5
7. Python version:3.7.8
8. OS and version:Ubuntu 18.04
9. GCC version: 7.5.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, d

[2020-09-21 07:11] austinmw commented on #503
@tgaddair  Hi, why does docker produce these stderr and why is it considered harmless?

[2020-09-21 08:12] zhao1157 opened #2301 "Error: build C++ code using cmake"
I built a horovod image using the provided `Dockerfile.gpu` file and tested the `Tensorflow` code with no problem. Inside the horovod container, I tried to build the `c++` code using the `CMakeLists.txt` file provided and got the first error

-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detecting CXX

[2020-09-21 12:01] WangHeguan opened #2302 "AttributeError: 'NoneType' object has no attribute 'get_train_data_path'"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:0.19.5
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:3.7
8. OS and version:mac os
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horov

[2020-09-21 15:26] karan6181 commented on #2292
Hey @chandana1332 , you can find more information about MXNet seed here: https://github.com/apache/incubator-mxnet/discussions/7410. It's a known issue and had a long discussion chain

[2020-09-21 15:45] tgaddair commented on #2299
@leezu could you take a look?

[2020-09-21 15:50] tgaddair commented on #2300
Hey @mohapatras, that MPI message is just saying that one of the worker processes failed, so the whole job terminated.  Specifically, something sent a `kill -9` to one of the worker processes.

Most likely, this is being caused by an out of memory error.  How much memory do you have on your 8 GPU machine?  How big is your dataset?  Are you reading it all into memory or streaming it in in batches?

[2020-09-21 15:51] chandana1332 commented on #2292
@karan6181 can you elaborate on how the linked seed issue is related to the convergence issue between Horovod and MXNet? Are you saying that we will expect different results from Horovod and MXNet training because the seed is set per device?

In my experiments, I consistently see that Horovod has a poorer loss value compared to Native MXNet, tried this across 6 runs.

I can alternatively try runni

[2020-09-21 17:03] tgaddair commented on #503
Hey @austinmw, there's some more context here: https://github.com/open-mpi/ompi/issues/4948.

My understanding is that if you run your container in privileged mode, then these messages should go away.

[2020-09-21 17:06] tgaddair commented on #2301
Hey @zhao1157, in most cases you shouldn't need to build the C++ code directly.  Horovod will already be built after building the container.  To re-build, you can run `python setup.py install`, which will build the C++ code and install Horovod as a Python package.

[2020-09-21 17:08] tgaddair commented on #2302
Hey @WangHeguan, did you pass a value to parameter `store` as in `KerasEstimator(store=...)`?

[2020-09-21 17:11] ashiqimranintel opened #2303 "Horovod Process not in synch TF 2.X model"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.3
3. Horovod version: 0.19.5
4. MPI version: 3
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7
8. OS and version: Ubuntu 18.04
9. GCC version: 7.5

What could be the reason of mpi processes are not in synch? I am working on a model.  Currently, running 4 mpi_processes in CPU Device. I added the following lines for T

[2020-09-21 17:28] tgaddair commented on #2303
Hey @ashiqimranintel, are you calling the `hvd.broadcast_variables` functions after the first batch as shown here?

https://github.com/horovod/horovod/blob/master/examples/tensorflow2_mnist.py#L75

Otherwise, the optimizer will not be initialized yet, which could lead to this divergence.

[2020-09-21 17:41] ashiqimranintel commented on #2303
Hey @tgaddair, the training is leading to convergence, I added that initialization of hvd.broadcast_variables. I am running 4 mpi process, 1/2 mpi processes are running faster than other two processes. So, first 2 mpi processes are overtaking instead of waiting for the synch with other 2 processes.

[2020-09-21 17:41] leezu commented on #2299
@austinmw your issue is consistent with my experience in https://github.com/horovod/horovod/pull/2274

[2020-09-21 17:47] WilliamOnVoyage commented on #2228
Any feedback / comment on this issue?

[2020-09-21 17:55] karan6181 commented on #2299
Hey @leezu, I did some analysis on MXNet 1.7.0. I found that that there is no `mkldnn` folder in `mxnet/include` directory which is requirement from here (https://github.com/horovod/horovod/blob/master/cmake/Modules/FindMxnet.cmake#L30), which means the flag `-DMXNET_USE_MKLDNN=1` has not been set.

[code]

- Could this leads to segfault or the issue could be different?

[2020-09-21 18:08] tgaddair commented on #2303
Hey @ashiqimranintel, if the processes are not proceeding at the same rate, then either the MPI environment is not setup correctly, or the `DistributedGradientTape` is not being used correctly.  Can you try running the TensorFlow 2 MNIST example or synthetic benchmark [here](https://github.com/horovod/horovod/tree/master/examples) to see if you get the same behavior?

[2020-09-21 18:09] tgaddair commented on #2228
@leezu @romerojosh could you take a look at this issue to see if it is MXNet-specific?

[2020-09-21 18:16] leezu commented on #2299
Thank you for pointing this out @karan6181. We'll need to ensure Horovod is built with the same set of headers as mxnet. Thus I opened https://github.com/horovod/horovod/pull/2304

[2020-09-21 18:31] leezu commented on #2299
@austinmw until the mxnet 1.7 pypi wheel is updated, you can consider building mxnet from source inside the docker container.

[2020-09-21 20:02] #2236 closed

[2020-09-21 20:16] karan6181 commented on #2228
Hey @WilliamOnVoyage, there are few reasons why you are seeing a stall ranks:

1. A worker node or GPU is slower than the others. Could you please check if the MXNet dataloader has loaded the data into memory for all the ranks before feeding to a network. I want to see if there is case where one of GPU is getting hanged during data loading.
2. The workers are not in sync and hence submitting diffe

[2020-09-21 21:51] heyuntian opened #2306 "Fail to import horovod.tensorflow.functions"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.0
3. Horovod version:0.19.5
4. MPI version:4.0.1
5. CUDA version:10.0
6. NCCL version:
7. Python version:2.7
8. OS and version:CentOS
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/ho

[2020-09-21 21:54] tgaddair commented on #2306
Hey @heyuntian, please upgrade to the latest version of Horovod (v0.20.0) for this feature.

[2020-09-21 22:15] heyuntian commented on #2306
@tgaddair Hi when I use pip install horovod==0.20.0 (environment variable ignored here) it says

ERROR: Could not find a version that satisfies the requirement horovod==0.20.0 (from versions: 0.9.0, 0.9.1, 0.9.2, 0.9.3, 0.9.4, 0.9.5, 0.9.6, 0.9.7, 0.9.8, 0.9.9, 0.9.10, 0.9.11, 0.9.12, 0.10.0, 0.10.1, 0.10.2, 0.11.0, 0.11.1, 0.11.2, 0.11.3, 0.12.0, 0.12.1, 0.13.0, 0.13.1, 0.13.2, 0.13.3, 0.13.4, 0.

[2020-09-21 22:20] heyuntian opened #2307 "Segmentation fault when using horovod with mpi4py"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.0
3. Horovod version: 0.19.5
4. MPI version: 4.0.1
5. CUDA version: 10.0
6. NCCL version:
7. Python version: 2.7
8. OS and version: Cent OS 7.8
9. GCC version: 8.3.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.co

[2020-09-21 23:12] #2285 closed

[2020-09-21 23:16] tgaddair commented on #2306
Hey @heyuntian, I missed that you were using Python 2.7.  Horovod 0.19.5 was the last version to support Python 2, as it has been officially deprecated since January.  Are you able to upgrade to Python 3?

[2020-09-21 23:19] tgaddair commented on #2307
Hey @heyuntian, does this problem also occur when running [tensorflow_synthetic_benchmark.py](https://github.com/horovod/horovod/blob/master/examples/tensorflow_synthetic_benchmark.py) or only with custom code?

Does the error happen if you don't use mpi4py?

[2020-09-21 23:45] ashiqimranintel commented on #2303
I have get a fresh copy and installed horovod latest version (0.20.0). I think mpi processes are in synch. However, I am seeing performance degradation. I am checking out the implementation of resnet50 in TF2.X [https://github.com/tensorflow/models/blob/master/official/vision/image_classification/classifier_trainer.py]. To enable Horovod in this codebase, which version of horovod should I use (hor

[2020-09-21 23:45] heyuntian commented on #2307
Hi @tgaddair, I just ran tensorflow_synthetic_benchmark.py. It worked well although the warning is still there.

[gpu21][[51780,1],0][btl_openib_component.c:1699:init_one_device] error obtaining device attributes for mlx5_0 errno says Protocol not supported

WARNING: There was an error initializing an OpenFabrics device.

  Local host:   gpu21
  Local device: mlx5_0

My custom program is a basic l

[2020-09-22 00:10] heyuntian commented on #2306
I create a new python 3.7 conda environment, load the same modules and install TF of same version. Now I cannot even install horovod.

/home/he.1773/miniconda2/envs/hvdpy3/lib/python3.7/site-packages/tensorflow_core/include/tensorflow/core/protobuf/config.pb.h:3184:8: error: 'bool tensorflow::TensorConnection::MergePartialFromCodedStream(google::protobuf::io::CodedInputStream*)' marked 'final', bu

[2020-09-22 05:11] WangHeguan opened #2309 "run horovod with cpu"
**Environment:**
1. Framework: TensorFlow==2.3.0
2. Framework version:
3. Horovod version:0.19.5
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:3.7
8. Spark / PySpark version:2.4
9. OS and version:mac
10. GCC version:
11. CMake version:3.18.2

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read

[2020-09-22 06:04] zhao1157 commented on #2301
@tgaddair Thanks. It helped a lot!

[2020-09-22 06:04] #2301 closed

[2020-09-22 09:13] WangHeguan opened #2310 "Library not loaded: @rpath/libtensorflow_framework.1.dylib"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)TensorFlow==2.3.0
2. Framework version:
3. Horovod version:0.19.5
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:3.7
8. Spark / PySpark version:2.4
9. OS and version:mac os
10. GCC version:4.9
11. CMake version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your q

[2020-09-22 10:41] zhao1157 opened #2311 "Performance is worse after rebuilding C++ code"
I built a horovod image using the official `Dockerfile.gpu` file. In its container, I rebuilt horovod using the latest master branch of horovod source code, and compared the performance of the horovod I built from source (hereafter `horovod-rebuilt`)and the one in the original horovod docker image (hereafter `horovod-docker`). The result was quite a surprise.

1. MNIST with 8 V100 GPUs: I did some

[2020-09-22 11:07] P-Schumacher opened #2312 "Multiple independent model instances with GradientTape and tf.function"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.3.0.
3. Horovod version: 0.20.0
4. MPI version: 4.0.3
5. CUDA version: N.A.
6. NCCL version: N.A.
7. Python version: 3.7.4.
8. Spark / PySpark version: N.A.
9. OS and version: Pop!_OS 20.04 LTS
10. GCC version: 9.3.0.
11. CMake version: 3.17.12.

**Checklist:**
1. Did you search issues to find if somebody asked this question before?

[2020-09-22 13:28] WangHeguan opened #2313 "'Could not find _common_metadata file. Use materialize_dataset(..) in'"
**Environment:**
1. Framework: TensorFlow,==2.3.0
2. Framework version:
3. Horovod version:0.20.0
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:3.7
8. Spark / PySpark version:2.4.0
9. OS and version:
10. GCC version:
11. CMake version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this

[2020-09-22 14:30] #2309 closed

[2020-09-22 14:30] tgaddair commented on #2303
You should use `horovod.tensorflow.keras`.

[2020-09-22 14:30] #2310 closed

[2020-09-22 14:40] tgaddair commented on #2306
@heyuntian, it looks like your version of protobuf is incompatible with the version of TensorFlow.  What version of `protobuf` do you have in your environment?

[2020-09-22 14:44] heyuntian commented on #2306
The version of `protobuf`:
protobuf                  3.13.0           py37hf484d3e_0

[2020-09-22 14:44] tgaddair commented on #2311
Hey @zhao1157, can you run `horovodrun --check-build` to verify that NCCL support is properly enabled?

[2020-09-22 14:50] tgaddair commented on #2312
Hey @P-Schumacher, can you share a minimal reproducible example of this?  I'm having a hard time picturing how exactly you're parallelizing the model training within a single tf.function.  In most cases, I would expect that the models would still be trained sequentially (alternating).

[2020-09-22 14:54] tgaddair commented on #2313
Hey @WangHeguan, can you tell me a little more about what you're doing?  Are you able to successfully run one of our example, like [keras_spark_mnist.py](https://github.com/horovod/horovod/blob/master/examples/keras_spark_mnist.py)?

[2020-09-22 14:58] tgaddair commented on #2306
For TensorFlow 1.15, I would recommend using protobuf 3.8.0 as indicated [here](https://github.com/tensorflow/tensorflow/blob/v1.15.0/tensorflow/workspace.bzl#L419).

[2020-09-22 15:05] WangHeguan commented on #2313
@tgaddair I just run keras_spark_mnist.py then this error happend

[2020-09-22 15:07] heyuntian commented on #2306
Still the same, maybe I can provide more error information. Below is the last output before ending the installation.

gmake[2]: *** [horovod/tensorflow/CMakeFiles/tensorflow.dir/mpi_ops.cc.o] Error 1
    gmake[2]: *** Waiting for unfinished jobs....
    gmake[2]: Leaving directory `/tmp/pip-install-h9t2mx3k/horovod/build/temp.linux-x86_64-3.7'
    gmake[1]: *** [horovod/tensorflow/CMakeFiles/tenso

[2020-09-22 15:24] tgaddair commented on #2299
Thanks for digging into this, @leezu.  Is this issue resolved by #2304?

[2020-09-22 16:32] leezu commented on #2299
Yes, the segfault issue should be resolved. I rebased https://github.com/horovod/horovod/pull/2274 on master to verify. The expectation is that https://github.com/horovod/horovod/pull/2274 will now fail during configure step, and will pass once the pypi packages have been updated to include the header files. Until then, users need to build from source.

[2020-09-22 22:01] #2252 closed

[2020-09-22 22:02] tgaddair commented on #2252
@jiaqianjing please try out the example from #2297.  This will require building Horovod from master.

[2020-09-22 23:43] zhao1157 commented on #2311
Hi @tgaddair, thanks for your help. For both `horovod-docker` and `horovod-rebuilt`, `horovodrun --check-build` gives the following output:

    [X] TensorFlow
    [X] PyTorch
    [X] MXNet

    [X] MPI
    [X] Gloo

    [X] NCCL
    [ ] DDL
    [ ] CCL
    [X] MPI
    [X] Gloo

[2020-09-23 01:28] zhao1157 commented on #2311
@tgaddair I tried to enable `NCLL` by manually setting the following line to `true`
https://github.com/horovod/horovod/blob/32e5fdbf33fb2dac9d725028a886a093984c3618/CMakeLists.txt#L176

I also commented out the following lines to test only `tensorflow`
https://github.com/horovod/horovod/blob/32e5fdbf33fb2dac9d725028a886a093984c3618/CMakeLists.txt#L280-L283

I saw some compiling output about `NCCL`

[2020-09-23 02:29] jiaqianjing commented on #2252
3q~

[2020-09-23 02:38] zhao1157 commented on #2311
@tgaddair Update: `Torch` and `MXNet` can pass the `NCCL` compiling.

[2020-09-23 05:47] zhao1157 commented on #2311
@tgaddair After a little bit of debugging, I fixed the above error by adding a line `ADD_CUDA()` behind the definition of `macro(ADD_CUDA)`.
https://github.com/horovod/horovod/blob/32e5fdbf33fb2dac9d725028a886a093984c3618/CMakeLists.txt#L137-L156

And `horovodrun --check-build` returns

    [X] TensorFlow
    [ ] PyTorch
    [ ] MXNet

    [X] MPI
    [X] Gloo

    [X] NCCL
    [ ] DDL
    [ ] CCL

[2020-09-23 05:55] pbruneau commented on #2097
Hi @tgaddair , any update on this, plz? As I had no feedback, I don't know whether it is that the information I provided was not sufficient or adapted, or just that my issue is under a pile of other stuff :)

[2020-09-23 06:34] WangHeguan opened #2314 "petastorm.etl.dataset_metadata.[1,0]<stderr>:PetastormMetadataError: Could not find _common_metadata file."
**Environment:**
1. Framework: TensorFlow,==2.3.0
2. Framework version:
3. Horovod version:0.20.0
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:3.7
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/

[2020-09-23 06:55] jiaqianjing commented on #2252
@tgaddair Now I can run [pytorch_imagenet_resnet50_elastic.py](https://github.com/horovod/horovod/blob/master/examples/elastic/pytorch_imagenet_resnet50_elastic.py)

my command:
[code]
But when I add new worker into hostfile, I found the new worker didn't worker.
[code]
This  is log:
![image](https://user-images.githubusercontent.com/16071449/93977202-b6b8fb80-fdac-11ea-825d-ccf77d3114b9.png)

[2020-09-23 07:42] zhao1157 commented on #2311
@tgaddair I used `tensorboard` to check if `NCCL` was built properly. Compared with the kernel output information using both `horovod-docker` and `NGC-tf-image`, the rebuilt horovod does not show the `NCCL` kernel `ncclAllReduceRingLLKernel_sumf32(ncclColl)`. So I guess my trial did not build `NCCL` correctly.

[2020-09-23 08:42] P-Schumacher commented on #2312
I found the issue, it is not a problem with the library!

I have a reinforcement learning setup where I have 2 models. I train model_1 every 10 iterations and model_2 every iteration.
However, there are some contingencies which can cause model_1 to train earlier, e.g. after 7 iterations instead of 10.
These contingencies can vary between workers as they are dependent on the environment.

What then

[2020-09-23 09:33] gilinachum commented on #1907
Does this implementation provides fault tolerance already? Starting of which Horovod/TF/PyTorch version?
Any user guide on how to utilize it? Does it work in AWS/EC2/SageMaker?

[2020-09-23 09:33] zhao1157 commented on #2311
@tgaddair I just found to be able to activate `NCCL`, I need to set an environment variable `HOROVOD_GPU_OPERATIONS=NCCL`. Now everything clicks.

[2020-09-23 09:33] #2311 closed

[2020-09-23 13:03] #2312 closed

[2020-09-23 13:05] tgaddair commented on #2097
Hey @pbruneau, I apologize that I haven't gotten back to you on this.  Does this error still occur with v0.20.0?  We made some changes to the way this API works (and moved it to `horovod.run` to simplify things).  Also, are you able to try using the Gloo controller instead of MPI?  I'm wondering if some part of this error is specific to MPI configuration.

[2020-09-23 13:08] tgaddair commented on #2314
Hey @WangHeguan, I noticed that you're using TensorFlow 2.  In the past, there were some compatibility issues with Petastorm and TF 2.  I'll try reproducing this locally and get back to you.  It may be we need to change some things to make the KerasEstimator work in TF 2 with Petastorm.

[2020-09-23 13:13] tgaddair commented on #1907
Hey @gilinachum, this was released in v0.20.0, supporting all versions of TF / PyTorch we support (TF >= 1.15, PyTorch >= 1.2).

We have a guide you can check out [here](https://horovod.readthedocs.io/en/stable/elastic_include.html).  There are also a number of examples [here](https://github.com/horovod/horovod/tree/master/examples/elastic).

You can run this on AWS or any environment, including b

[2020-09-23 13:17] tgaddair commented on #2312
Thanks @P-Schumacher, that makes sense.  Would it be possible to use a `broadcast` or `allgather` so that all the workers can decide whether to train earlier together?  I'm not sure exactly what the criteria is, but often if it's a metric, for example, then a common solution would be average the metric across workers, etc. to enforce consistent behavior.

[2020-09-23 13:21] tgaddair commented on #2311
Thanks for digging into this, @zhao1157.  So sounds like there are at least a few issues on our side here.  One is that NCCL support seemed to be compiled in but was not being used at runtime.  And it sounds like you needed to modify the CMakeLists file in order to get NCCL to work with TensorFlow.  Is that all correct?

[2020-09-23 14:23] zhao1157 commented on #2311
@tgaddair With `HOROVOD_GPU_OPERATIONS=NCCL`, I think the original `CMakeLists.txt` works just fine without needing to be modified. I changed a few things in the `CMakeLists.txt` file before I realizing I should set that environment variable. With that environment variable and the original `CMakeLists.txt`, I reproduced the performance of `horovod-docker`.

[2020-09-23 14:36] pbruneau commented on #2097
It seems that horovod.run.run.run has no equivalent any more in v0.20.0. This allowed me to pass my model training function and parameters as arguments to run(), that were wrapped up in the internals of run().

How should I proceed in order to be able to pass my function+parameters as before? Should we now use directly horovod.runner.mpi_run? If so, do you have an example on how to wrap up properl

[2020-09-23 17:53] austinmw opened #2315 "Is it possible to hide/adjust Stalled ranks errors?"
**Your question:**

Is there a way to hide (or preferably increase time until) Stalled ranks error messages?

While my model is performing periodic evaluation every 10 epochs I get spammed with these messages.

[2020-09-23 18:26] tgaddair commented on #2311
Gotcha, thanks for clarifying!

[2020-09-23 18:27] tgaddair commented on #2097
Yes, it has been renamed to `horovod.run`.

Gloo should come for free with Horovod without needing to install anything extra, so it should be possible to try it out, if you'd like.

[2020-09-23 18:29] tgaddair commented on #2315
Hey @austinmw, as I commented on #342, you can provide args to `horovodrun` to configure this:

- `--stall-check-warning-time-seconds`
- `--stall-check-shutdown-time-seconds`

[2020-09-24 00:20] ashiqimranintel commented on #2303
Hi @tgaddair , I am trying to enable support of Horovod on the model. However, I am getting some errors with the following function.

def DistributedOptimizer(optimizer, name=None,
                         device_dense='', device_sparse='',
                         compression=Compression.none,
                         sparse_as_dense=False,
                         gradient_predivide_factor=1.0)

[2020-09-24 00:26] heyuntian opened #2317 "ld returned 1 exit status during installation"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow
2. Framework version: 1.15
3. Horovod version: 0.19.5
4. MPI version: MVAPICH2-GDR-2.3.4
5. CUDA version: 10.2
6. NCCL version: 2.7.8
7. Python version: 2.7
8. OS and version: CentOS 7.8
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is a

[2020-09-24 00:44] leezu opened #2318 "cmake handling of GLIBCXX_USE_CXX11_ABI broken"
Current CMakeLists.txt declares a special compatible gloo based on variables to be set by the `Find$FRAMEWORK.cmake` files:

https://github.com/horovod/horovod/blob/543c4be18a5f2e32d7023e9d5e20c7dfe8cf9899/CMakeLists.txt#L290-L299

The `Find$FRAMEWORK.cmake` are invoked via

https://github.com/horovod/horovod/blob/543c4be18a5f2e32d7023e9d5e20c7dfe8cf9899/CMakeLists.txt#L278-L283

However, `add_sub

[2020-09-24 00:45] leezu commented on #2318
cc @nvcastet

May fix as part of https://github.com/horovod/horovod/pull/2205 or via a separate PR.

[2020-09-24 00:47] leezu commented on #2318
Nevermind, there is special handling for the situation in the existing `torch/CMakeLists.txt` and `tensorflow/CMakeLists.txt`

[2020-09-24 00:47] #2318 closed

[2020-09-24 02:23] WangHeguan opened #2319 "what is the meaning of "num_partitions , train_data_path , val_data_path , train_partitions, train_rows""
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-09-24 04:03] WangHeguan opened #2320 "environment of each version of this example of keras_spark_mnist.py"
I want to know what the environment of each version of this example of keras_spark_mnist.py is?

[2020-09-24 04:21] mohapatras commented on #2300
@tgaddair Sorry for the late reply. The 8 GPU machine is Nvidia 2070 RTX 11 GB per piece. System RAM is 128 GB. I am integrating horovod make use of this [yolo v3 tensorflow](https://github.com/YunYang1994/tensorflow-yolov3) to work. I am passing a batch size of 16. My input image size is 608X608.

[2020-09-24 04:24] zhao1157 opened #2321 "Horovod with oneCCL failed"
I rebuilt horovod inside a horovod docker container which was built using the latest `Dockerfile.gpu`. The instructions I followed are [here](https://github.com/horovod/horovod/blob/master/docs/oneccl.md). While building horovod, the following information may be helpful for debugging the failure at the end.

-- Found MPI: TRUE (found version "3.1")
-- MPI include path: /opt/intel/compilers_and_lib

[2020-09-24 06:34] WangHeguan commented on #2319
And why the train_rows=2, ,my train dataframe has thounds rows.

[2020-09-24 07:32] pbruneau commented on #2097
OK I was looking for it in the source code, was in the init of `runner` actually.

Now, using `horovod.run` from v0.20.0 I cannot rely on MPI any more, as horovod then requires Open MPI >= 4.0.0, and only 3.0.0 is available on the HPC. So I have tried with Gloo.

Basically, I adapted the example mentionned in a previous comment to:
[code]
The SLURM launch script remains:
[code]
But this fails. I a

[2020-09-24 08:36] mohapatras commented on #2300
[hvd_train_py.zip](https://github.com/horovod/horovod/files/5274578/hvd_train_py.zip)

Here is the modified train.py for the zip. Increasing the batch size to 32 or more system runs out of memory. I am trying to achieve a benchmarking on the results with distributed training.

[2020-09-24 08:48] utri092 opened #2322 "Could NOT find Tensorflow (missing: Tensorflow_LIBRARIES) (found suitable version "2.1.0", minimum required is "1.15.0")"
**Environment:**
1. Framework: (TensorFlow,  Spark)
2. Framework version: tensorflow==2.1.0
3. Horovod version: 0.20
4. MPI version: 3.1.2
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7
8. Spark / PySpark version: 3.0.1
9. OS and version: raspbian buster 32 bit
10. GCC version: gcc (Raspbian 8.3.0-6+rpi1) 8.3.0
11. CMake version: 3.13.4
12. Device: Rasperry Pi 4

**Bug report:**

[2020-09-24 12:42] WangHeguan opened #2323 "How to save a h5 model"
I use horovod KerasEstimator to train a keras lstm model，now I want to save it into h5 model. I can not find related API. How can I do . Please help me.

[2020-09-24 13:56] denfromufa opened #2324 "documentation question about advanced mpi4py usage"
This is a documentation question about advanced mpi4py usage. It is mentioned that mpi4py can be used with Horovod in 2 modes: mixed Horovod/MPI communication with MPI multi-threading support, and sub-communicator approach with each independent Horovod "ring":

https://github.com/horovod/horovod#mpi4py

What is not clear, if I can mix both approaches?

For example, I plan to re-use Horovod broadca

[2020-09-24 13:58] tgaddair commented on #2303
It should be fine to leave it as is.  What's the error you're seeing?  Are you seeing the same error when running `tensorflow2_mnist.py`?

[2020-09-24 14:00] tgaddair commented on #2317
Hey @heyuntian, is CUDA on your `LD_LIBRARY_PATH`?

[2020-09-24 14:08] heyuntian commented on #2317
@tgaddair Yes. `LD_LIBRARY_PATH` has mvapich2, nccl, gcc, and cuda.

[2020-09-24 14:38] tgaddair commented on #2320
Hey @WangHeguan, you can see the versions that we test against during our CI process here: https://github.com/horovod/horovod/blob/master/docker-compose.test.yml.

[2020-09-24 15:41] ashiqimranintel commented on #2303
I am getting issues, here
File "/localdisk/aimran/TF2.4bin/horovod/_keras/__init__.py", line 111, in create_distributed_optimizer
    return cls.from_config(optimizer.get_config())
  File "/localdisk/aimran/TF2.4bin/tensorflow/python/keras/optimizer_v2/optimizer_v2.py", line 976, in from_config
    config["learning_rate"], custom_objects=custom_objects)
  File "/localdisk/aimran/TF2.4bin/tensorflo

[2020-09-24 15:48] tgaddair commented on #2321
Hey @zhao1157, looks like your version of MPI is not one we officially support in `horovodrun` at the moment.  Are you able to run with `mpirun` as described [here](https://github.com/horovod/horovod/blob/master/docs/mpi.rst)?

[2020-09-24 15:54] tgaddair commented on #2319
Hey @WangHeguan, to answer your questions:

1. `num_partitions` can be configured by the [partitions_per_process](https://github.com/horovod/horovod/blob/543c4be18a5f2e32d7023e9d5e20c7dfe8cf9899/horovod/spark/common/params.py#L77) param to `Estimator`.
2. `train_data_path` and `val_data_path` are configured by the [Store](https://github.com/horovod/horovod/blob/master/horovod/spark/common/store.py

[2020-09-24 15:57] tgaddair commented on #2300
Do you know how much of the dataset each worker is reading into memory?  As an extreme example, if every worker reads in the full dataset, then using Horovod with 8GPUs will require 8x the system RAM.  Most systems will be stream in the data, but this could be one source of the OOM error.

[2020-09-24 16:02] tgaddair commented on #2322
Hey @utri092, can you share the output of:

[code]

Looks like CMake is unable to find the `Tensorflow_LIBRARIES`.

[2020-09-24 16:07] tgaddair commented on #2323
Hey @WangHeguan, one you have the trained model from `transformer = estimator.fit(...)`, you can call `transformer.getModel()` to obtain the underlying Keras model.  So something like:

[code]

[2020-09-24 16:14] #1380 closed

[2020-09-24 16:20] tgaddair commented on #2324
Hey @denfromufa, could you clarify the approach a bit?  You wish to have a Horovod session using the main communicator (for broadcasting) as well as a second Horovod session using a subcommunicator?  Will these Horovod sessions need to run at the same time?

[2020-09-24 16:23] tgaddair commented on #2317
Can you check that `libcuda.so.1` is also available in that directory?  See https://github.com/apache/incubator-mxnet/issues/8436.

[2020-09-24 16:35] tgaddair commented on #2303
Looks like it's failing on `from_config` because there are custom objects in the optimizer that cannot be loaded correctly.

There is a similar issue here: https://github.com/huggingface/transformers/issues/5554

The suggestion there is to create an intermediate optimizer class to override the `from_config` call.  Is that a workable solution in your case for now?

As a TODO on our side, we should

[2020-09-24 17:16] denfromufa commented on #2324
@tgaddair

Yes!

I can close the main communicator horovod session after horovod broadcasting is complete and just keep Horovod sessions in sub-communicators.

[2020-09-24 17:24] tgaddair commented on #2324
That should be fine then.  Where I suspect you would run into trouble is if you wanted to have a two Horovod sessions with different communicators simultaneously.  Since Horovod maintains global state, this would not work.  But so long as you call `hvd.shutdown()` at the end of the global broadcasting, it should be fine.

[2020-09-24 18:59] heyuntian commented on #2317
I tried to install on other nodes and now finished. However, it is not working with my MPI library, but I'm not sure it's due to Horovod.

[2020-09-24 18:59] #2317 closed

[2020-09-24 19:57] WilliamOnVoyage commented on #2228
Thanks @karan6181 for the suggestion. Replying to your comments:
1. The data has been all loaded.
2. Yeah, I'm trying with more logging and will gather some more logs once I encounter this. However, since this stall is transient with a low occurrence rate (1%) and I don't have reliable way to reproduce, this info may come with a bit amount of time.

[2020-09-25 00:06] utri092 commented on #2322
Im not sure what to do here. Does this look right? Ive included the bottom of my make error as well

![image](https://user-images.githubusercontent.com/41176826/94212142-7b8f0780-ff27-11ea-859c-8362eedb382d.png)

[2020-09-25 01:52] tgaddair opened #2330 "Fix race condition with dynamic timeline"
In macOS CI, it was discovered that the dynamic timeline feature added in #2215 still contains a race condition:

[code]

[[link](https://travis-ci.org/github/horovod/horovod/jobs/730097955)]

It is suspected that this is due to the asynchronous `start_timeline` and `stop_timeline` calls overlapping with different iterations of the `BackgroundThread` loop across workers.  If one worker decides to

[2020-09-25 02:29] WangHeguan commented on #2319
@tgaddair I reduce the number of partitions but noting effect, still two rows are listed. And I used parquet-tools to check the .parquet file, shows below:
features:
.list:
..element = 0.6747189888132679
.list:
..element = 0.6764690456324719
.list:
..element = 0.6770257091378709
label_vec:
.list:
..element = 0.6772735092781896

features:
.list:
..element = 0.6764690456324719
.list:
..element = 0.6

[2020-09-25 02:37] tgaddair commented on #2322
Thanks @utri092, looks like there is an issue with this TensorFlow version's link flags.  You should have gotten something like this for the third line:

[code]

I believe this is because the docs you linked set a config flag to create a "monolithic" TensorFlow build.  According to the source for `tf.sysconfig.get_link_flags()` this would explain why an empty list is being returned:

https://githu

[2020-09-25 06:36] zhao1157 commented on #2321
@tgaddair `mpirun -np num_process python train.py` works, and the other flags does not work. What is the supported version of `oneCCL/intel MPI` with `horovodrun` when the installation guide was written?

[2020-09-25 06:37] zhao1157 commented on #2321
@tgaddair Are there any other recommended MPI flags when using `oneCCL`?

[2020-09-25 07:12] pbruneau commented on #2097
OK first I tried to move to Gloo using TF 1.15.0 and horovod 0.19.0, before trying out with 0.20.0. For the recall, GPU nodes on the HPC I use are equipped with 2 GPUs each.

As a reminder, simplified versions of my training code:
[code]
As well as the associated SLURM script:
[code]
It appears that my code runs correctly this way, so I guess I may indeed avoid MPI from now on. Now, running the ex

[2020-09-25 11:55] Sleepychord commented on #971
Another possible reason is the firewall, check `sudo ufw status` to make sure that host ip is not blocked. This is my case.

[2020-09-25 13:53] tgaddair commented on #2097
Hey @pbruneau, luckily the error about `freeze_support()` is typically pretty straightforward to solve.  It usually indicates that you need to have a line like `if __name__ == '__main__'` in your main script as shown [here](https://github.com/horovod/horovod/blob/master/examples/pytorch_mnist.py#L110).

For the second error, the line `Process 3 exit with status code 250.` is definitely indicating

[2020-09-25 14:29] mohapatras commented on #2300
I couldn't find quantity of dataset each worker is reading into memory. But I did played with different GPUs and batch sizes. I can successfully run using 2 GPUs with total batch size of 12(usually batch size 6 for single GPU, more than that throws out of memory error). However the speed is too slow while covering the training steps in an epoch. System RAM consumption is also too less. 16/128 GB.

[2020-09-25 15:13] pbruneau commented on #2097
Hi @tgaddair, adding `if __name__ == '__main__' ` in my script indeed prevents the crash, thanks! It seems to run as expected then.

So this is for the single node case (i.e. `#SBATCH -N 1` and `run(..., np=2)`). If I try to use two nodes (i.e. `#SBATCH -N 2` and `run(..., np=4)`), I don't have an actual crash, but it goes wrong somehow:
[code]

If I ssh to the nodes to see how this is going, the

[2020-09-25 20:36] tgaddair commented on #2330
Also seeing this in Linux CI:

[code]

[[link](https://buildkite.com/horovod/horovod/builds/3982#1df4c070-3a88-4352-915d-273412452700)]

[2020-09-25 22:27] ashiqimranintel commented on #2303
Thanks for the response. I am trying to follow the the steps that was mentioned in the huggingface/transformers#5554 . But, it's on the tensorflow side. Can you give me some patch which can I apply on horovod side?

[2020-09-26 10:56] joequant opened #2336 "Error ready_event.cc"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. Spark / PySpark version:
9. OS and version:
10. GCC version:
11. CMake version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?

2. If your question is about hang, did you read [

[2020-09-26 13:34] orwa-te commented on #2319
What is the relationship between `train_df.rdd.getNumPartitions()` and `num_partitions` param in `fit` function?
For [mnist example](https://github.com/horovod/horovod/blob/master/examples/spark/keras/keras_spark_mnist.py) the first one returns 2 partitions, but the second returns 10 partitions for `num_proc=1` and 20 partitions when `num_proc=2` !

[2020-09-26 15:57] #2271 closed

[2020-09-28 15:39] chandana1332 commented on #2292
@apeforest @karan6181 any other thoughts on this ?

[2020-09-28 19:11] karan6181 commented on #2292
- The difference could be very minimal due to seed issue.

- Can you please post the information such as model that u tried, training script, hyperparameters, loss values for Native MXNet and Horovod, etc. Also, if you could also attach a loss curve for Native MXNet and Horovod, then that would be great!!

[2020-09-29 07:11] passerbyd opened #2340 "Passing environment variables to workers with horovodrun"
How to copying environment variables to workers when using horovodrun to start the job. just like the option "-x" in mpirun.

[2020-09-29 09:27] lucasleesw commented on #2340
I think one possible solution is warp commands into a bash script.
E.g.
run.sh:
[code]

Then use
[code]
Hope this help. Or is there any better idea?

[2020-09-29 11:33] passerbyd commented on #2340
the variables varied among tasks. startup scripts are preset on all workers.

[2020-09-29 12:04] utri092 commented on #2322
Hey @tgaddair,

Thanks for the insight. Is it possible to use your Horovod CPU guide to build a docker image for arm64?

[2020-09-29 18:42] collinabidi commented on #2250
Hey @tgaddair I generated some documentation using Doxygen for the `horovod/horovod` folder. Not sure if it'll be helpful but I found that the generated class/inheritance diagrams is helping me to speed up the development process.

[2020-09-30 03:51] prudhvee commented on #1890
Hi @ehsab,
I am also facing similar issue. Did you manage to root cause/solve this issue?
On 8GPU machine I am facing the issue if run my model training using 8threads `-np 8`.
However, on the same 8GPU machine if I run training on 4threads `-np 4`, it works fine.

[2020-09-30 16:56] shailensobhee commented on #70
That did not work for me. CentOS 8, gcc8.3.1

[2020-09-30 17:57] tgaddair commented on #70
Hey @shailensobhee, if you're using Conda, please take a look at the docs [here](https://github.com/horovod/horovod/blob/master/docs/conda.rst).

Also, be aware that Horovod no longer requires MPI to run.

If you have further issues, please feel free to open a new issue.

[2020-09-30 18:01] tgaddair commented on #2340
Hey @passerbyd, `horovodrun` will take any environment variables from your current environment and send them to the worker processes at startup time.

If this isn't working for some reason, please try running with `horovodrun --verbose ...` and share the `mpirun` command it prints out.

[2020-09-30 18:57] Vikas-kum commented on #2330
@tgaddair   I am trying an alternate approach where timeline is fully controlled by timeline.cc and controller timeline_enabled is always true, https://github.com/horovod/horovod/pull/2341/files .

If above doesn't work, would you be able to take a try on the approach that you proposed.

[2020-09-30 20:31] tgaddair commented on #2322
Hey @utri092, yes it should be possible to adapt the Dockerfile.cpu to your hardware.

[2020-09-30 20:39] tgaddair commented on #2250
Nice!  Would be happy to take a look, sounds useful!

[2020-09-30 22:24] shailensobhee commented on #70
I am using conda but I am using CPU-based nodes. The docs you referred is GPU related. Just a quick question, have you tried on a fresh machine the following:
- Install CentOS 8 (comes with gcc 8.3.1 on higher) on a fresh machine that has no GPUs (let's say a server machine)
- Create a fresh conda environment
- conda install the basic necessary packages, like Tensorflow, etc
- `pip install horovod

[2020-10-01 20:10] jtchilders opened #2345 "Error "Failed to get convolution algorithm." in Tensorflow 2.3.1 with CUDA"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 2.3.1
3. Horovod version: 0.20.0
4. MPI version: 3.1
5. CUDA version: 11.0
6. NCCL version: 2.7.8
7. Python version: 3.8
8. Spark / PySpark version: n/a
9. OS and version:  Ubuntu 18.04
10. GCC version: 7.5.0
11. CMake version: 3.18.2

I am working on a system with 4 AMD EPYC CPUs and 8 NVidia A100 GPUs.

I installed python 3.8 via mi

[2020-10-01 20:52] tgaddair commented on #2345
Hey @jtchilders, does this error also arise if you run our provided [tensorflow2_mnist.py](https://github.com/horovod/horovod/blob/master/examples/tensorflow2/tensorflow2_mnist.py) script?

[2020-10-01 21:01] tgaddair commented on #2345
If you have multiple versions of CUDA on your system, you may also need to specify `HOROVOD_CUDA_HOME` when installing Horovod.

[2020-10-01 22:27] jtchilders commented on #2345
I was able to run that example with `mpirun -n 8 python tensorflow2_mnist.py` and have it complete without error.

Though, the model definition is slightly different. Would this matter?

[code]

[2020-10-01 22:58] ashiqimranintel commented on #2303
Hi @tgaddair, I am trying to enable horovod on transformer model of tensorflow. https://github.com/ashiqimranintel/models/blob/master/official/nlp/transformer/transformer_main.py
Since this code tf.GradidentTape()
I was trying to horovod.tensorflow 2.0 ? Is it correct?

[2020-10-01 23:09] tgaddair commented on #2345
I noticed you set `CUDA_VISIBLE_DEVICES` in your script.  This can cause systems like NCCL to fail to find peer GPUs for allreduce.  Can you try removing that line and setting `tf.config.experimental.set_visible_devices` as we do [here](https://github.com/horovod/horovod/blob/master/examples/tensorflow2/tensorflow2_mnist.py#L27).

[2020-10-02 03:02] jtchilders commented on #2345
If I remove the CUDA_VISIBLE_DEVICES from the command line it still runs fine without mpi/horovod.

I also removed my line of code [here](https://github.com/jtchilders/tensorflow_skeleton/blob/master/main.py#L62) which sets:
[code]
and then added your suggested
[code]
[near here in my code](https://github.com/jtchilders/tensorflow_skeleton/blob/master/main.py#L84)

When I do this and run, I get a

[2020-10-02 08:15] pbruneau commented on #2097
So if I summarize my previous post, with horovod 0.20.0 + Gloo, I hit the same wall as with my custom horovod 0.19.0 + MPI: I'm fine with using all the GPUs of a single node, but this does not extend to using multiple nodes.

[2020-10-02 12:54] jtchilders commented on #2345
I added `HOROVOD_CUDA_HOME` to the build/install commands. This didn't change anything.

The `set_visible_devices` call causes errors at that line of code as posted before.

With the line that sets `CUDA_VISIBLE_DEVICES` the code fails during jit-compilation of the graph or during the first execution of the graph inside the `@tf.function train_step()`.

If I run one rank, without Horovod loaded an

[2020-10-02 13:11] spatters commented on #832
Hi, I had a question about the `horovod.torch.join()` operation. My understanding was that it returned the rank of the last worker to call `join`, which is needed in order to know which worker should broadcast its state.

However it seems to return the handle of the join operation:
https://github.com/horovod/horovod/blob/e4554de96100f5a0e8686cd41cf99a6fe8a71e62/horovod/torch/mpi_ops_v2.cc#L341

Is

[2020-10-02 13:41] tgaddair commented on #2345
Hey @jtchilders, since you were able to run `tensorflow2_mnist.py` successfully, we know that `tf.config.experimental.set_visible_devices(gpus[hvd.local_rank()], 'GPU')` can work in your setup, so let's try and get it working in your script as well.

The error suggests that some other process has already claimed a lock on that GPU.  Does that error only come from a particular rank?  When you run `

[2020-10-02 13:49] tgaddair commented on #2303
Hey @ashiqimranintel, if you're using `tf.GradientTape()`, then your code should follow [this](https://github.com/horovod/horovod/blob/master/examples/tensorflow2/tensorflow2_mnist.py#L64) format, which means you don't need to worry about `from_config`.

[2020-10-02 14:15] shailensobhee commented on #1831
Is `--verbose` broken? I only get the stacktrace.
[code]

I did:
[code]

[2020-10-02 14:41] jtchilders commented on #2345
OK, I think you are on to something. the `tensorflow2_mnist.py` reports 1 process per GPU. Mine reports 8 per GPU.

I'll see if I can move this higher up, though, the only thing between importing TF and setting visible devices is the HVD import and parsing command line args.

[2020-10-02 15:34] jtchilders commented on #2345
OK, I think I have found the problem.

I had this code:
[code]
which was the way you probed GPUs some time ago and I had not removed it from the script.

After removing this, it works fine. So that was what is causing my trouble. I think you can close this issue.

[2020-10-02 16:22] tgaddair commented on #2345
Glad you found the root cause!  Thanks for detailing the fix.  This will be really useful for other people who run into this issue.

[2020-10-02 16:22] #2345 closed

[2020-10-02 17:23] kit1980 commented on #832
@spatters Now I remember that the original design was to return the rank of the last worker, but I forgot to properly implement it - in my case the first worker always had more data.

[2020-10-02 17:52] tgaddair commented on #832
Thanks for clarifying @kit1980.  Do you have the bandwidth to put together a PR to fix the return value?

[2020-10-02 17:55] #2336 closed

[2020-10-02 17:58] ashiqimranintel commented on #2303
Hi @tgaddair, actually I was checking for tf.GradientTape() model. it's present in the  It's not present in the Resnet50 model. So for the resnet50, I still need to bypass from_config error. I will try to fix it on the TF side.

[2020-10-02 20:18] bnsblue opened #2347 "Encountering ncclCommInitRank failed: unhandled system error. #011 [[{{node PartitionedCall/DistributedAdam_Allreduce/cond_6/then/_65/HorovodAllreduce_grads_6_0}}]] [Op:__inference_train_function_959]"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 2.3.0
3. Horovod version: 0.20.2
4. MPI version: 4.0.1
5. CUDA version: 10.1
6. NCCL version: 2.7.8-1+cuda10.1
7. Python version: 3.6
8. OS and version: Ubuntu Bionic (18.04)
9. GCC version: g++4.8

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Y
2. If your question is about hang, did you read

[2020-10-03 00:03] golden0080 opened #2348 "Tensorflow Keras support of Gradient Accumulation?"
**Is your feature request related to a problem? Please describe.**

No, it's not related to an issue.

**Describe the solution you'd like**

Currently the API supports Gradient Accumulation in Tensorflow and Pytorch module, but not TF.keras.
The proposal is to support GA in tf.keras APIs.

**Describe alternatives you've considered**

Considered to use TF API to do GA, but model was in keras.

**Ad

[2020-10-05 07:54] wpf19911118 opened #2349 "does horovod support tensorflow（AMP） traing？"
**Environment:**
1. Framework:
(TensorFlow, Keras)

2. Framework version:
1.15 （NGC docker）
3. Horovod version:
latest 0.19.1
4. MPI version:
3.1.6
5. CUDA version:
11.0
6. NCCL version:
2.7.5
7. Python version:
3.6
8. OS and version:
18.04
9. GCC version:
7.5.0
**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [

[2020-10-05 13:07] xiaodaigh opened #2351 "How do I train an autoencoder on spark Pytorch"
**Environment:**
1. PyTorch on Spark
2. Framework version: Spark v3 pytorch1.6
3. Horovod version: horovod 0.20.3
4. MPI version: Not sure
5. CUDA version: Not sure
6. NCCL version: Not sure
7. Python version: 3.7
8. OS and version: Ubuntu 18.04
9. GCC version: not sure

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, d

[2020-10-05 18:09] bnsblue commented on #2347
I think this following warning is the reason
[code]
I think there were some inconsistencies in the minor versions among the libraries I installed.

The solution was: instead of using my own base image, I switched to use an nvidia-docker image as the base and this problem got resolved.

[2020-10-05 18:09] #2347 closed

[2020-10-05 20:35] ashiqimranintel commented on #2303
Hi @tgaddair, can I integrate horovod with tf.DistributedStrategy? Distributed Strategy also is using all_reduce inside of it. Any comments or suggestions?

[2020-10-05 22:26] tgaddair commented on #2303
Hey @ashiqimranintel, Horovod does not use TF's DistributedStrategy.  They have a very different mechanism to enable distributed training.

[2020-10-05 22:33] tgaddair commented on #2349
Hey @wpf19911118, yes Horovod does work with `LossScaleOptimizer`, though it may vary somewhat depending on TensorFlow version.  @DEKHTIARJonathan may be able to provide more info on usage.

[2020-10-06 11:53] maxlacourchristensen opened #2353 "pip install fails. ubuntu 20.04 cuda 10.1 python3.8 tensorflow 2.2"
[ 67%] Built target compatible_gloo
    make[1]: Leaving directory '/tmp/pip-install-b45r3x6k/horovod/build/temp.linux-x86_64-3.8'
    make: *** [Makefile:130: all] Error 2
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-b45r3x6k/horovod/setup.py", line 142, in <module>
        setup(name='horovod',
      File "/home/rig/Downloads/envs

[2020-10-06 12:39] maxlacourchristensen commented on #2353
just tried with python 3.7.9, same error

[2020-10-06 13:57] PaulKarlshoeferBULL opened #2354 "Examples fail: munmap_chunk(): invalid pointer"
**Environment:**
1. Framework: TensorFlow2
2. Framework version: 2.2
3. Horovod version: latest 20.3
4. MPI version: 4.0.1
5. CUDA version: 10.1.105
6. NCCL version: 2
7. Python version: 3.6.8
8. Spark / PySpark version:
9. OS and version: RHEL 7.4
10. GCC version: 7.3
11. CMake version: 3.13

Hello,
I installed horovod on a fresh python3.6 with TF2.
I installed using the following flags:
`HOROVOD

[2020-10-06 14:02] PaulKarlshoeferBULL commented on #2354
this is the complete output of a test run.

[slurm-472647.txt](https://github.com/horovod/horovod/files/5334363/slurm-472647.txt)

[2020-10-06 15:42] collinabidi commented on #2250
[html.zip](https://github.com/horovod/horovod/files/5334949/html.zip)

Apparently I can only upload a .zip file. Totally understandable if you don't trust a zip, so here's the [Doxyfile.TXT](https://github.com/horovod/horovod/files/5334960/Doxyfile.TXT) text file (you need to remove the ".TXT" at the end since GitHub only allows that format to be uploaded). Not sure if you've used Doxygen before b

[2020-10-06 18:25] DEKHTIARJonathan commented on #2349
You use AMP incorrectly with Keras, shall be use as follow:

[code]

You want to define the policy **before** you define your keras model.

[2020-10-06 19:26] tgaddair commented on #2353
Hey @maxlacourchristensen, can you share the full log output?  The true error is hidden somewhere above.

You may also want to try installing with `MAKEFLAGS="-j1"` so the error is closer to the bottom of the log.

[2020-10-06 19:31] maxlacourchristensen commented on #2353
thx for helping @tgaddair. I have looked for the logs but can't find them. all the files in /tmp are gone. where do i find the logs?

[2020-10-06 19:32] tgaddair commented on #2354
Looks like it's segfaulting in the response cache.  @romerojosh, could you take a look?

[2020-10-06 19:41] tgaddair commented on #2353
Just the output of stdout/stderr.  If your terminal window keeps enough history, you can just copy/paste.  Otherwise, you can redirect to a file when calling `pip install horovod`.

[2020-10-06 20:35] maxlacourchristensen commented on #2353
@tgaddair ah ok. found the problem. i forgot to switch to gcc-8. thanks

[2020-10-06 21:02] tgaddair commented on #2353
Great!  I'll go ahead and close this issue, then.

[2020-10-06 21:02] #2353 closed

[2020-10-06 22:31] ashiqimranintel opened #2355 "Horovod Build Failed with Tensorflow master"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.4
3. Horovod version: 0.20.3
4. MPI version: 3.0.0
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7
8. Spark / PySpark version: N/A
9. OS and version: Ubuntu 18.04
10. GCC version: 7.5
11. CMake version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question i

[2020-10-07 01:05] tgaddair commented on #2355
Hey @ashiqimranintel, TensorFlow made an update to Eigen on master that required us to upgrade.  This has been fixed on master, so please install Horovod from master to use TensorFlow master.

[2020-10-07 01:05] #2355 closed

[2020-10-07 01:09] tgaddair commented on #2348
Thanks for the feature request @golden0080!  This will be resolved by #2346.

[2020-10-07 01:48] jeisinge opened #2356 "Keras Preprocessing's TrackableWeightHandler does not have assign"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.3
3. Horovod version: 0.19.5 and 0.20.3
https://docs.databricks.com/release-notes/runtime/7.3ml.html

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.rst)? Yes
4. Did you

[2020-10-07 02:06] jeisinge commented on #2356
The potential TensorFlow defect is available at https://github.com/tensorflow/tensorflow/issues/43834 .

[2020-10-07 02:38] golden0080 commented on #2348
@tgaddair Great to know! I'll take a look at PR and see what I can do there!

[2020-10-07 03:48] wpf19911118 commented on #2349
I have tried your function, but the programm tells me "The global policy can only set to a non-infer policy in TF 2",But acctually I used the Tf in Version 1.15

[2020-10-07 09:36] George0112 commented on #2353
I'm using TF1.15 and python3.6 and ran into the same error.
I install horovod by
`HOROVOD_GPU_OPERATIONS=NCCL MAKEFLAGS="-j1" python3.6 -m pip install --no-cache-dir horovod`
I've tried to use gcc-8 but still the same, is there anything also need to be changed?

`python3.6 -m pip install --no-cache-dir horovod` can successfully install horovod but I need NCCL...

I also have libnccl2, libnccl-dev

[2020-10-07 15:57] fschlimb commented on #2321
I ran into similar issues. mpi_run.py does not support newer MPICH versions (e.g. 3.3.2) and it does not recognize Intel MPI. The latter would lead to the above message. The former complains about unsupported flags like '-x' and '--allow-run-as-root'.

[2020-10-07 19:34] golden0080 commented on #2348
I think the PR is pretty much what I requested in this ticket.

[2020-10-07 23:53] tgaddair commented on #2356
Thanks for raising this issue along with the context, @jeisinge!  I was able to repro the issue locally thanks to your example.

The crux of the issue here is that `model.variables` is not returning a list of variables in this setup.  Instead, one of the variables is this `TrackableWeightHandler`, which does not adhere to the variable interface.  As such, we cannot broadcast it and we cannot assig

[2020-10-07 23:55] tgaddair commented on #2353
Hey @George0112, we will need to take a look at the log output to know what's going on.  The error message that was shown here is just a generic "something didn't work" message.

[2020-10-07 23:56] tgaddair commented on #2321
@shirosankaku can you help out with this oneCCL issue?

[2020-10-08 02:59] reedwm commented on #2356
/CC @markomernick, @qlzh727

[2020-10-08 07:20] fschlimb commented on #2321
I do not think this is a CCL issue. At least in my case mpi_run.py needs to be adjusted to support the MPI  in question.
At compile time a different mechanism is used to find MPI than at runtime.

[2020-10-08 07:58] shirosankaku commented on #2321
@tgaddair yes, we're working on it

[2020-10-08 10:02] EnricoMi commented on #2287
Finished with #2293

[2020-10-08 10:02] #2287 closed

[2020-10-08 12:17] AZadora opened #2358 "Failed to build Horovod with TF 1.15.0 on Ubuntu 18.04"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.0
3. Horovod version: 0.20.3
4. MPI version: 3.1
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 3.7
8. OS and version: Ubuntu 18.04 LTS
9. GCC version: 7.4.0
10. CMake version: 3.10.2

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did yo

[2020-10-08 13:28] wu-yy opened #2359 "When install horovod with tensorflow1.15.0 , throw error message "tensorflow/core/framework/op.h" No such file or directory"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow
2. Framework version:
1.15.0
3. Horovod version:
0.19.2
4. MPI version:
4.0.0
5. CUDA version:
10.0
6. NCCL version:
2.7.3
7. Python version:
3.6
8. OS and version:
CentOS 7.4
9. GCC version:
4.9.2

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
yes
2. If your question is about ha

[2020-10-08 13:55] tgaddair commented on #2358
@nvcastet @romerojosh any thoughts on this?  Looks like `horovod_cuda_kernels_generated_cuda_kernels.cu.o` isn't building correctly, but it doesn't appear to be emitting any error.

[2020-10-08 13:58] nvcastet commented on #2358
@AZadora  Is it easily reproducible?

[2020-10-08 14:02] tgaddair commented on #2359
Hey @wu-yy, can you check in your TensorFlow install directory (`python -c "import tensorflow as tf; print(tf.__path__[0])"`) for this `op.h` file?

[code]

There should be a file called `op.h` in this directory.

[2020-10-08 14:59] wu-yy commented on #2359
@tgaddair
`
TF=$(python -c "import tensorflow as tf; print(tf.__path__[0])")
`
The $TF is `/usr/local/lib64/python3.6/site-packages/tensorflow_core/python/keras/api/_v1`

`ls $TF/include/tensorflow/core/framework`  resust is `cannot access /usr/local/lib64/python3.6/site-packages/tensorflow_core/python/keras/api/_v1/include/tensorflow/core/framework: No such file or directory`.

When I run command

[2020-10-08 15:22] AZadora commented on #2358
Yes. Actually I am using the following docker file to do everything (here it is included as .txt).

[Dockerfile.txt](https://github.com/horovod/horovod/files/5348946/Dockerfile.txt)

[2020-10-08 15:40] AZadora commented on #2358
@nvcastet
I've found that commands I'm using are as follows:
ldconfig /usr/local/cuda/targets/x86_64-linux/lib/stubs && \
    HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_WITH_TENSORFLOW=1 HOROVOD_WITHOUT_PYTORCH=1 HOROVOD_WITHOUT_MXNET=1 \
         pip install --no-cache-dir horovod && \
    ldconfig

May this be the cause of the issue?

[2020-10-08 17:33] ashiqimranintel commented on #2355
Hey @tgaddair, when will you publish the latest master on pypi.org ?

[2020-10-08 18:06] tgaddair commented on #2355
Since this version of TensorFlow is unreleased, I don't think we should push a hotfix release for this right now.

In the meantime, you can install Horovod from master like so:

[code]

[2020-10-08 21:27] tgaddair commented on #2359
In my installation of TensorFlow 1.15.0, I can find the `op.h` file in:

[code]

So the fact that there is no `tensorflow` directory in `tensorflow_core/include` seems to be the issue.  How did you install `tensorflow`?

[2020-10-08 22:51] DEKHTIARJonathan commented on #2349
If you use Keras. Why using TF1.x ? TF2.x will give you so much more.
I'm not sure AMP is supported with Keras in TF1.x, I would need to double check

[2020-10-09 00:59] wu-yy commented on #2359
@tgaddair  I reinstall the tensorflow 1.15.0 , And find the `op.h` in  `/usr/local/lib/python3.6/site-packages/tensorflow_core/include/tensorflow/core/framework`.

But It still throw the same error:
`
cd /workspace/horovod/build/temp.linux-x86_64-3.6/horovod/tensorflow && /opt/rh/devtoolset-3/root/usr/bin/g++  -DEIGEN_MPL2_ONLY=1 -DHAVE_CUDA=1 -DHAVE_GPU=1 -DHAVE_MPI=1 -DHAVE_NCCL=1 -DHOROVOD_GPU_

[2020-10-09 01:24] tgaddair commented on #2359
@wu-yy what do you get when you run the following:

[code]

That is where the include directory for TensorFlow is coming from.

[2020-10-09 02:57] wu-yy commented on #2359
@tgaddair
Run `python -c "import tensorflow as tf; print(tf.sysconfig.get_include())"`
Cmd Result :
`/usr/local/lib64/python3.6/site-packages/tensorflow_core/include`

[2020-10-09 07:00] anweshpanda opened #2361 "Hi"
Hi
I am trying to use horovod timeline. It is clear about the boxes for negotiation or all gather. However I do not understand what these black boxes correspond to. I have added the picture. Upon clicking on it , is says nothing selected.
![image](https://user-images.githubusercontent.com/60091167/95553282-dea29300-0a2b-11eb-8301-8c8b2fa52752.png)

[2020-10-09 08:03] anubhavj87 opened #2362 "Passing horovodrun timeline option to IBM Watson "ddlrun""
**Environment:**
1. Framework: IBM Watson ML community edition
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version: Redhat
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/b

[2020-10-09 13:17] tgaddair commented on #2362
Hey @anubhavj87, yes, you can set environment variables instead, same as how you would do it when using [mpirun](https://github.com/horovod/horovod/blob/master/docs/mpi.rst#horovod-parameter-knobs).

In this case, the variable you want to set it `HOROVOD_TIMELINE`.

[2020-10-09 14:58] romerojosh commented on #2354
Hi @PaulKarlshoeferBULL. Could you try running with the environment variable `HOROVOD_CACHE_CAPACITY=0` set and see if the segfault goes away? While the segfault is occurring in the response cache, this might be the first MPI collective called in the run, so it could be a more general MPI configuration issue.

[2020-10-09 17:23] PaulKarlshoeferBULL commented on #2354
Hi! thank you for your help so far. I did run it with your suggested env var and the error changed to the following:

[code]
[slurm-475587.txt](https://github.com/horovod/horovod/files/5356527/slurm-475587.txt)

[2020-10-09 17:37] romerojosh commented on #2354
In your logs, I see references to `/usr/local/openmpi/gnu/3.1.5/` in the stack trace output, but it seems that you are launching with an mpirun using a different major MPI version: `/users/bull/bullacc/Miniprojects/mini_ucx/software/openmpi-4.0.1/bin/mpirun`. Can you try to launch using the mpirun from a consistent MPI version?

[2020-10-09 17:53] PaulKarlshoeferBULL commented on #2354
right, this output is more consistent. I lost track of what I had tried  out..
Unfortunately, the "error message" hasn't changed.

I am using the latest MPI version on the system (3.1.5). Do you think I should try to reinstall with MPI 4.0 ? If so, is there a specific way to specify the mpi install location in horovod?

[slurm-475646.txt](https://github.com/horovod/horovod/files/5356684/slurm-4756

[2020-10-09 20:56] #2348 closed

[2020-10-09 23:55] whatdhack commented on #1454
@zarzen  @tgaddair, were all the numbers taken with tf-timeline enabled ?  Tf-timelibe  slows down processing  by 10x.   Was the reason for  large  numbers for  Tensorflow ?

[2020-10-10 02:36] zhao1157 opened #2363 "Does timeout really work?"
I tweaked this `timeout` value to 0 and negative value, and expected a timeout error, but I did not get any. Is this a bug?

https://github.com/horovod/horovod/blob/cf4d505959a4c042ac93030245731417b6fb1735/horovod/runner/launch.py#L592

[2020-10-10 03:06] tgaddair commented on #2351
Hey @xiaodaigh, good question.  You will be able to do this once #2316 lands, which adds support for `LightningModule` inputs to the `TorchEstimator`.

[2020-10-10 10:08] lucasleesw commented on #2358
I have the same error.
I am using
[code]
Any suggestion?
Thx!

[2020-10-10 14:47] romerojosh commented on #2358
@tgaddair @nvcastet This looks like the same build issue I reported on Slack a while ago with TF.

@AZadora and @lucasleesw, could you try adding `... MAKEFLAGS="-j1" pip install ...` to disable parallel compilation your build line and see if that works?

[2020-10-10 16:54] tgaddair commented on #2358
@romerojosh is that the that issue occurs when Horovod is reinstalled without uninstalling first?

[2020-10-11 14:50] labor00 opened #2365 "Error just after the NCCL initialization for number of nodes bigger than 5"
**Environment:**
1. Framework: PyTorch
2. Framework version:  1.6.0
3. Horovod version: main
4. MPI version:  OpenMPI 4.0.5
5. CUDA version: 10.2
6. NCCL version: 2.7.8.1
7. Python version: 3.8.5
9. OS and version: Ubuntu 18.04 (singularity container)/ Centos 7.6 (host)
10. GCC version: 7.5.0
11. CMake version: 3.18.0

**Bug report:**
Hello everyone. I have a program that I have been using for som

[2020-10-12 00:25] lucasleesw commented on #2358
That works!
Thank you!

[2020-10-12 07:16] wpf19911118 commented on #2349
enen，I‘ll pull a new docker images with tf 2.x and try it

[2020-10-12 11:44] anubhavj87 commented on #2362
Thanks @tgaddair . This environment variable works with ddlrun .

[2020-10-12 11:44] #2362 closed

[2020-10-12 12:52] nvcastet commented on #2358
@tgaddair @romerojosh   @lucasleesw I managed to reproduce your issue with your dockerfile when I cap the container to "1g" of memory.
`docker run -it --rm -m "1g" debug-hvd bash`
 So the CUDA kernel build take more memory than the rest of the build, that is why it is always failing there. And we are building them twice (one version for CXX11 ABI and one for one for legacy ABI). We could get smart

[2020-10-13 00:37] aavbsouza commented on #2365
After some other tests the error persists for others version of the PyTorch Library. However I have found that the error is intermittent and can occur just after the NCCL starting phase with this error:

[code]

[2020-10-13 03:48] hhaoyan opened #2367 "Horovod throws UnicodeDecodeError when using tqdm"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.2.0
3. Horovod version: 0.19.5
4. MPI version: None
5. CUDA version: 10.0
6. NCCL version: 2.7.8.1
7. Python version: 3.6.12
8. Spark / PySpark version: None
9. OS and version: Linux 4.14.105-1-tlinux3-0010
10. GCC version: 5.2.0
11. CMake version: 2.8.12.2

**What happened?**
When using `horovod` together with `tqdm`, `horovod` throws

[2020-10-13 06:27] Hanzy1996 opened #2368 "How to use multiple optimizer with multiple GPU?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) PyTorch
2. Framework version: 1.12
3. Horovod version:  0.20.3
4. MPI version: 4.0.5
5. CUDA version: 10.0
6. NCCL version: 2.6.4
7. Python version: 3.6
8. OS and version: ubuntu 18.04
9. GCC version: 7.5.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? No
2. If your question is about hang,

[2020-10-13 06:41] zhao1157 opened #2369 "Can not find some c++ APIs"
(This might be a silly question) I searched several times through the c++ code for this function `horovod_allreduce` with no avail. Can you show me where it is defined? Thanks.

https://github.com/horovod/horovod/blob/8c210564f083d040fd125afb786d5bead4985949/horovod/tensorflow/mpi_ops.py#L110

[2020-10-13 07:02] LiuShixing commented on #2367
how to solve this bug?

[2020-10-13 07:06] Hanzy1996 commented on #2368
Emmmmm.......I have solved this problem :

optimizer1 = optim.Adam(itertools.chain(netA.parameters(), netB.parameters(), netC.parameters()), lr=opt.lr,
betas=(opt.beta1, 0.999))
optimizer2 = optim.Adam(netD.parameters(), lr=opt.lr, betas=(opt.beta1, 0.999))

optimizer1 = hvd.DistributedOptimizer(optimizer1) ** named_parameters is not necessary**
optimizer2 = hvd.DistributedOptimizer(optimizer2, na

[2020-10-13 07:15] hhaoyan commented on #2367
A quick fix: `tqdm(ascii=True)` to eliminate UTF8 outputs.

The better way: Replace all `str`s in `forward_stream` with `bytes`.

[2020-10-13 07:18] LiuShixing commented on #2367
thanks!

[2020-10-13 14:01] #1673 closed

[2020-10-13 15:24] whatdhack opened #2370 "Not all rank ticks in NEGOTIATE_ALLREDUCE are captured."
**Environment:**
1. Framework: TensorFlow,
2. Framework version: 2.4
3. Horovod version: 19.x, 20.x
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version: 3.7
8. Spark / PySpark version: N/A
9. OS and version: CentOS
10. GCC version: 7,5
11. CMake version: 3.18

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about ha

[2020-10-14 00:23] zhao1157 commented on #2369
@aavbsouza Thanks for your help. I `grep -rn horovod_allreduce`ed in https://github.com/horovod/horovod/tree/master/horovod/common/ops, and could not find any function named `horovod_allreduce`. I am really confused about this. Can you show me where it is? Thanks!

[2020-10-14 06:36] aavbsouza commented on #2369
Hello. The path to the implementation is somewhat convoluted due to the support of multiple backends of communications and tensor libraries.

But as far I understand the path is:

1.  Framework specific allreduce operator

  Here is implemented the TensorFlow allreduce operator.

Thttps://github.com/horovod/horovod/blob/2600b6ff7636c7f2bf5a2310182909ecb334a010/horovod/tensorflow/mpi_ops.cc#L371-L4

[2020-10-14 07:24] zhao1157 commented on #2369
@aavbsouza Thank you very much for your super helpful clarification. I just could not get my head around that when calling a c++ function whose name is defined in the source code. [TF_CUSTOM_OP](https://github.com/tensorflow/custom-op) illustrated such phenomenon and I will just accept that. Again thanks a lot!

[2020-10-14 07:24] #2369 closed

[2020-10-14 12:19] surak commented on #1651
Any idea how to do so on tensorflow2? I tried with `tf.config.experimental.set_visible_devices(gpus[hvd.local_rank()], 'GPU')`, but I still see the same error.

[2020-10-14 13:21] tgaddair commented on #1651
Hey @surak, the recommendation for TF2 is to use the form shown [here](https://github.com/horovod/horovod/blob/master/examples/tensorflow2/tensorflow2_mnist.py#L23):

[code]

If this isn't working for you, then feel free to open a new issue with the specific error you're receiving and we'll take a look.

[2020-10-14 13:24] tgaddair commented on #2367
Thanks for raising this issue @hhaoyan.  Do you have a small repro script I can run to demonstrate the error?

[2020-10-14 13:31] tgaddair commented on #2368
Hey @Hanzy1996, please take a look at [this](https://github.com/horovod/horovod/issues/1417#issuecomment-588367250) example for using multiple optimizers with PyTorch.

Basically, the things we need to watch out for are:

1. Make sure the named parameters we give to each optimizer are filtered correctly.
2. Call `optimizer2.synchronize()` and `optimizer2.zero_grad()` on every other optimizer after

[2020-10-14 13:37] tgaddair commented on #2365
Hey @labor00, does this error only occur using your training script, or can you repro with one of our example scripts [here](https://github.com/horovod/horovod/tree/master/examples)?

Are you running with the Horovod timeline enabled?

Seems this error is coming from rank 12 only, is that right?  Is there anything special about that node or rank in your setup?

[2020-10-14 13:38] tgaddair commented on #2370
Thanks for raising this issue @whatdhack.

cc @Vikas-kum, this may be related to the missing `NEGOTIATE_ALLREDUCE` markers in the failing unit test.

[2020-10-14 22:19] aavbsouza commented on #2365
I will try to use other scripts to reproduce the error. But the error is occasional sometimes the script run without any issues on these machines. It always possible to have some bug or newer incompatibility between Horovod and PyTorch. But I have run this application without issues dozen of times in multiple clusters and using an older container image the script run without issues. I will try to

[2020-10-15 02:50] hhaoyan commented on #2367
Here is a simple script that reproduces this error:

[code]

From terminal, run:

[code]

[2020-10-15 09:53] surak commented on #1651
The issue is exactly that which is reported here.

[code]

[2020-10-15 17:26] samitshiv opened #2377 "How to run horovod in multiple servers with same IP and with different ports"
Environment:

Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow
Framework version:
2.3
Horovod version:
0.20
MPI version:
mpiexec (OpenRTE) 4.0.0
CUDA version:
10.2
NCCL version:
2.7.8
Python version:
3.7.5
OS and version:

Checklist:

Did you search issues to find if somebody asked this question before?
If your question is about hang, did you read [this doc](https://github.com/horovod/hor

[2020-10-15 18:36] bureddy opened #2378 "Collectives performance"
**Environment:**
1. Framework: TensorFlow-CPU
2. Framework version: 2.3.1
3. Horovod version: 0.20.3
4. MPI version: OpenMPI 4.0.4rc3
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.6.9
8. Spark / PySpark version:
9. OS and version: Ubuntu 18.04
10. GCC version:
11. CMake version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your que

[2020-10-15 18:42] #2378 closed

[2020-10-15 18:42] bureddy commented on #2378
opened as question

[2020-10-15 18:42] bureddy opened #2379 "Collectives performance"
**Environment:**
Framework: TensorFlow-CPU
Framework version: 2.3.1
Horovod version: 0.20.3
MPI version: OpenMPI 4.0.4rc3
CUDA version: N/A
NCCL version: N/A
Python version: 3.6.9
Spark / PySpark version:
OS and version: Ubuntu 18.04
GCC version:
CMake version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [

[2020-10-16 13:38] janvainer opened #2380 "How to improve performance on a single node"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.7.0 dev
3. Horovod version: 0.20.0
4. MPI version: 3.1.4
5. CUDA version: 10.2
6. NCCL version: 2.3.5
7. Python version: 3.6.9
8. OS and version: Ubuntu bionic 18.04
9. GCC version: 7.5.0

**Checklist:**
I found similar issues but with regard to multi-node training.

**Your question:**
Hi, I am measuring horovod efficiency on a custom

[2020-10-16 20:50] EnricoMi commented on #2367
Alternative would be not to truncate on 1000 bytes but 1000 characters. Where is this 1000 truncation happening?

[2020-10-18 03:15] hhaoyan commented on #2367
https://github.com/horovod/horovod/blob/master/horovod/runner/common/util/safe_shell_exec.py#L99

If subprocess throws some illegal UTF8 bytes, then I guess there is no way to truncate in characters?

I temporarily fixed it by using bytes IO for all pipes, stdout/stderr and it seems to be working for me.

[2020-10-18 14:26] EnricoMi commented on #2367
I think the simplest fix is to use `text.decode` with `errors = 'ignore'`, which makes it ignore incomplete / invalid UTF8 characters: https://docs.python.org/3.6/howto/unicode.html#the-string-type

https://github.com/horovod/horovod/blob/master/horovod/runner/common/util/safe_shell_exec.py#L104 would then read:

    text = text.decode('utf-8', errors='ignore')

[2020-10-19 10:19] zrss commented on #98
i met the same case with @dashesy , and it seems the mem lock is too small ?

dmesg show

![image](https://user-images.githubusercontent.com/8072378/96432206-251b9d00-1237-11eb-87d0-79200b35d2ea.png)

ulimit -a show

![image](https://user-images.githubusercontent.com/8072378/96432186-1cc36200-1237-11eb-9cf2-a3732de1078b.png)

@alsrgv , sorry for posting in a closed issue ... i come here as google

[2020-10-19 12:46] wangxianliang opened #2382 "Output is annoying"
**Environment:**
1. Framework: (TensorFlow)
2. Framework version: 2.0
3. Horovod version: up-to-date
4. MPI version:
5. CUDA version: 10.1
6. NCCL version: 2.4
7. Python version: 3.8
8. OS and version: ubuntu 18.04
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/ho

[2020-10-19 16:59] leezu commented on #1426
One idea is to settle on a framework agnostic data-structure and thus simplify the integration of any new framework with horovod. Recently the [Python Data API Consortium was announced](https://data-apis.org/blog/announcing_the_consortium/) with the goal of standardizing array and dataframe APIs in the Python ecosystem. You can find the list of involved projects at https://github.com/data-apis/gov

[2020-10-19 19:09] tgaddair commented on #2377
Hey @samitshiv, you should be able to configure custom hostnames / ports in your [~/.ssh/config](https://linuxize.com/post/using-the-ssh-config-file/) file for each container.

[2020-10-19 19:11] tgaddair commented on #2379
Hey @bureddy, do you have a Horovod timeline file you can share?

@romerojosh do you have any experience with all-to-all performance over MPI?

[2020-10-19 19:14] tgaddair commented on #2380
Hey @LordOfLuck, when running into these sorts of issues, the first thing we need to do is figure out is the problem is coming from the way Horovod is configured in your environment, or the way it's being used in the script.

To do that, can you try running our standard [pytorch_synthetic_benchmark.py](https://github.com/horovod/horovod/blob/master/examples/pytorch/pytorch_synthetic_benchmark.py)

[2020-10-19 19:15] tgaddair commented on #2367
Good suggestion, @EnricoMi.  Do you have the bandwidth to put together a PR?

[2020-10-19 19:21] tgaddair commented on #2382
Hey @wangxianliang, how are you running Horovod?  With `horovodrun`, you should be able to specify `--log-hide-timestamp`.

[2020-10-19 23:46] sschangi opened #2385 "Not able to install cudatoolkit 10.1 using conda that is required by horovod."
Seems that cudatoolkit 10.1 is not available in anaconda environment and the latest version is 10.2.89, I tried to install horovod using cudatoolkit 10.2.89 and it failed as follows

[code]
Any ideas how to install cuda10.1 or make horovod be installed using cudatoolkit 10.2.89.

[2020-10-20 04:36] wangxianliang commented on #2382
Yes I specify the flags, yet it still appears.

horovodrun -np 4 -H localhost:4 --log-hide-timestamp python ${CODE_PATH}/train_recognition_hvd.py ...

[2020-10-20 12:48] EnricoMi commented on #2367
After looking at the `forward_stream` method a bit closer, using `errors='ignore'` is not the right thing to do here. We are not truncating the stream at 1000 bytes, but we are chunking it into 1000 bytes chunks to line buffer it. We would lose the character at the chunk boundary. I will rework the line buffering.

[2020-10-20 14:04] zrss commented on #98
finally, i found this err msg came from the driver of mlnx-ofed, many thanks for the `dmesg` and `ulimit` hint @alsrgv

![image](https://user-images.githubusercontent.com/8072378/96596623-8028bf00-131f-11eb-9a54-e65816a1d53a.png)

ref:

https://www.mellanox.com/related-docs/prod_software/Mellanox_OFED_Linux_User_Manual_v4_3.pdf

and the src of mlnx-ofed

[code]

[2020-10-20 16:56] ashiqimranintel opened #2386 "Horovod DistributedOptimizer with Custom object is failing"
**Environment:**
Framework: TensorFlow
Framework version: 2.4
Horovod version: 0.20.0
MPI version: 3
CUDA version: N/A
NCCL version: N/A
Python version: 3.7
OS and version: Ubuntu 18.04
GCC version: 7.5

**Bug report:**
opt = hvd.DistributedOptimizer(opt)
  File "/../../../horovod/tensorflow/keras/__init__.py", line 82, in DistributedOptimizer
    sparse_as_dense, gradient_predivide_factor)
  File

[2020-10-20 17:13] tgaddair commented on #2385
Hey @sschangi, looks like Horovod was already installed previously:

[code]

Could you try installing with `pip install --no-cache-dir` to make sure that it is doing a clean install?

[2020-10-20 17:13] tgaddair commented on #2382
Thanks for clarifying, let me see if I can reproduce.

[2020-10-20 17:25] sschangi commented on #2385
I tried `HOROVOD_GPU_OPERATIONS=NCCL pip install --no-cache-dir horovod[pytorch]==0.20` but getting the same error as above.

[2020-10-20 22:35] tgaddair commented on #2382
Hey @wangxianliang, can you try #2388 and let me know if it addresses the issue?

[2020-10-20 22:38] tgaddair commented on #2385
Looks like Horovod is finding the wrong version of CUDA for some reason, can you try setting environment variable `HOROVOD_CUDA_HOME` and point it to the 10.2 directory?

[2020-10-21 02:51] wangxianliang commented on #2382
The PR does address the issue, thanks a lot.

[2020-10-21 13:34] dzhwinter opened #2389 "Add support for Hydra MPI"
[code]

The check-build command output
[code]

[2020-10-21 14:58] tgaddair commented on #2389
Hey @dzhwinter, can you run `mpirun --version` and share the output here?

Looks like our parser is not detecting your version correctly.

[2020-10-21 15:03] PaulKarlshoeferBULL commented on #2354
I reinstalled with openmpi 4.0.4.
The error changed to this:
[code]

[2020-10-21 15:08] tgaddair commented on #2389
Nevermind, should have looked closer at the output above.

[2020-10-21 15:16] tgaddair commented on #2389
@dzhwinter, the issue here is that we look for the string "MPICH" in the output of `mpirun --version` to detect an MPICH version of MPI.  In this case, we see HYDRA where we would expect to see MPICH.

Do you know if the Hydra version of `mpirun` supports the same set of arguments as MPICH `mpirun`?  If so, we can change the parser to treat them the same.  If not, I would suggest calling `mpirun`

[2020-10-21 20:20] EnricoMi commented on #2367
@tgaddair: is it required for `forward_stream` to work with both, byte streams and text streams? Given we are calling this from `execute` on pipe connections, we can guarantee it is one of them. Would simplify things.

[code]

https://github.com/horovod/horovod/blob/master/horovod/runner/common/util/safe_shell_exec.py#L103

[2020-10-21 21:38] kelvinzou opened #2391 "Alltoall takes a long time to negotiate for wide&deep model."
**Environment:**
1. Framework:  Tensorflow(TensorFlow, Keras, PyTorch, MXNet)
2. Framework version: 2.3.1
3. Horovod version: latest
4. MPI version: 4.2

I am using CPU version for the Horovod all2all training a wide and deep model with both allreduce for dense and all2allv for the spase, and I observed this issue during the  timeline where a lot of time is wasted on negotiate_alltoall, not sure w

[2020-10-21 22:18] sschangi commented on #2385
Does Horovod also work with cuda 10.2?

[2020-10-21 22:25] sschangi opened #2392 "Debugging with the VS Code."
I am just wondering how we can debug a code which uses Horovod to run, with the VS Code and by putting breakpoints? Is that possible at all?

[2020-10-22 06:57] wshj2020 commented on #1382
have you solved this problem,could you tell me how to do it

[2020-10-22 06:59] Qiuzhuang commented on #996
Hi Alex,

So if I have three containers with ssh ports like host1:12345, host2:12346, host3:12347, then in this resolve.sh, we should have something like:

ssh -p 12345 host1
ssh -p 12346 host2
ssh -p 12347 host3

and execute command like this in the primary container,e.g. host1:12345?

horovodrun -np 16 -H host1:3,host2:3,host3:3 python keras_mnist_advanced.py --mca plm_rsh_agent "sh /path/to/res

[2020-10-22 07:15] Qiuzhuang commented on #996
All right, see this ticket #2377 which suggests using .ssh to fix this. See link:

https://linuxize.com/post/using-the-ssh-config-file/

[2020-10-22 09:12] aavbsouza commented on #2392
The use of MPI complicates the debugging procedure. See for instance these instructions to debug MPI applications that uses the OpenMPI library.
https://www.open-mpi.org/faq/?category=debugging

Depending of what are you intending to debug you can attach a debugger to only one MPI rank that is already running.

[2020-10-22 11:11] Qiuzhuang commented on #2377
Can we put this custom hostnames solution into doc (https://github.com/horovod/horovod/blob/master/docs/docker.rst) since I think a lot of  distributed DL training would be container based.

Thanks!

[2020-10-22 12:30] LordOfLuck commented on #2380
Hi, thanks for response. I am sending the benchmark results for single gpu and 2-gpu training

Single GPU with horovod:
[code]
I also tried to remove horovod-related code from the benchmark script altogether and got basically the same performance on a single GPU.

Two GPUs
[code]
I also tried the same setup on 4 GPUs and got basically the same statistics

[2020-10-22 13:06] tgaddair commented on #2367
@EnricoMi it may not be necessary to decode the stream data, I do not remember why we needed to do that originally, but we can always decode on the other end of the stream when necessary.

[2020-10-22 13:12] tgaddair commented on #2391
Hey @kelvinzou, long negotiation periods usually mean that the different workers are not perfectly in sync with one another.  For example, it could occur if one worker is 20ms ahead of the other worker, leading to a 20ms "negotiation" period during which the faster worker is waiting for the other the catch up.

I am not aware of anything specific to all-to-all that would increase the negotiation t

[2020-10-22 13:15] tgaddair commented on #2385
Yes, Horovod will work with CUDA 10.2 so long as the framework library was also compiled with CUDA 10.2.

[2020-10-22 13:39] tgaddair commented on #2377
Good suggestion @Qiuzhuang.  Let me know what you think of the changes in #2393.  Does that clarify the usage?

[2020-10-22 13:43] tgaddair commented on #2380
Hey @LordOfLuck, good catch regarding NCCL, that is definitely the likely issue.

I would suggest reinstalling Horovod with the environment variable `HOROVOD_GPU_OPERATIONS=NCCL` set.  That will ensure that NCCL support is built, or an error will be raised during install.

[2020-10-22 14:12] LordOfLuck commented on #2380
Thanks, I have one more issue. I sem to be getting much higher GPU utilization during validation (no gradient update) than during training. During training, I am getting around 60% utilization while during validation it is almost 100%. Is this drop normal? Could it be fully caused by the communication between processes, or is there something else? Any suggestions would be welcome, I will try them

[2020-10-22 15:00] tgaddair commented on #2380
Have you reinstalled Horovod with NCCL?  If not, that would explain the drop in util, as communication would become the bottleneck.  With NCCL, you should see close to 100% util during training.

Horovod + AMP should work fine.  We have a number of users who are using this combination.

[2020-10-22 15:51] LordOfLuck commented on #2380
Yes I did and It improved a bit, but the utilization remains low. Definitely far from 100%. The utilization looks as follows now:
![obrazek](https://user-images.githubusercontent.com/31015638/96896727-25fa3c00-148e-11eb-97d9-99906a65cbc6.png)

The spikes around 100% happen during evaluation, while the valleys correspond to training phase. It is better than without NCCL, but there still seems to be

[2020-10-22 19:15] EnricoMi commented on #2367
Even better!

[2020-10-22 19:46] EnricoMi commented on #2367
Waiting for #2388 to land which simplifies unit test assertions without timestamps.

[2020-10-22 19:55] #2377 closed

[2020-10-22 23:24] bioothod opened #2395 "`ncclCommInitRank failed: unhandled system error` with 3 local nodes (HOROVOD_GPU_OPERATIONS=NCCL, 0.20.3), hang with 4 nodes (HOROVOD_GPU_OPERATIONS=NCCL 0.20.3, HOROVOD_GPU_BROADCAST=NCCL 0.19.5)"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) tensorflow
2. Framework version: 2.3.0
3. Horovod version: 0.20.3
4. MPI version: openmpi 4.0.2
5. CUDA version: 10.2
6. NCCL version: 2.7.8 (2.7.8-1+cuda11.0 in ubuntu 18.04.3)
7. Python version: 3.6.9
8. Spark / PySpark version:
9. OS and version: ubuntu 18.04.3, standard tensorflow container
10. GCC version: 7.5.0
11. CMake vers

[2020-10-23 00:32] collinabidi commented on #2250
Hey @tgaddair I've finished a (naive) implementation for SHMEM on the Data Layer. I believe that I have made most of the proper modifications to the ```setup.py``` file to include new ```HOROVOD_CPU_OPERATIONS=SHMEM``` and ```HOROVOD_WITH_SHMEM=1``` flags at compile-time. However, when I run the ```examples/pytorch_mnist.py``` example, MPI is still being used.

I put a print statement in the ```mp

[2020-10-23 01:10] tgaddair commented on #2250
Thanks @collinabidi, do you have a branch I can take a look at to help figure out where the issue is?

[2020-10-23 01:54] wjy3326 commented on #2353
i got the same problem, this is my error log.
 [ 41%] Building CXX object third_party/compatible_gloo/gloo/CMakeFiles/compatible_gloo.dir/transport/tcp/buffer.cc.o
    cd /tmp/pip-0da6qhiq-build/build/temp.linux-x86_64-3.6/third_party/compatible_gloo/gloo && /usr/bin/c++  -DEIGEN_MPL2_ONLY=1 -DGLOO_USE_MPI=1 -DHAVE_CUDA=1 -DHAVE_GLOO=1 -DHAVE_GPU=1 -DHAVE_MPI=1 -DHAVE_NCCL=1 -DHOROVOD_GPU_ALLREDUC

[2020-10-23 12:42] nvcastet commented on #2389
@dzhwinter Do you know if the Hydra-based mpirun command takes the same arguments as the stock MPICH mpirun command?
You could try modifying https://github.com/horovod/horovod/blob/master/horovod/runner/mpi_run.py#L99 with:
`elif 'MPICH' in output or 'HYDRA' in output:`
If that works we could add a PR for this change.

[2020-10-23 15:10] baskrahmer commented on #2389
I stumbled upon the same error. Simply switching from `horovodrun `to `mpirun` as @tgaddair suggested gets the job done. Furthermore, I think the two versions take the same arguments. Below is the output of `mpirun --help` for the Hydra build, maybe it's useful for comparison.

[code]

[2020-10-23 16:51] tgaddair commented on #2353
Hey @wjy3326, looks like your version of GCC is out of date.  Please try upgrading to at least GCC 7.  If you need more assistance, please create a new issue so we can better understand the specifics of your environment.

[2020-10-23 17:00] tgaddair commented on #2395
Hey @bioothod, can you also share the output of `nvidia-smi` here?

[2020-10-23 17:07] bioothod commented on #2395
Sure

[code]

[2020-10-23 18:18] hhaoyan commented on #2367
Maybe the prefix strings can be formatted and encoded into UTF8, then we can simply join two byte strings?

[2020-10-24 08:55] dk-hong opened #2396 "Can I run multiprocess in a single gpu?"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.6.0
3. Horovod version: 0.20.3
4. MPI version:
5. CUDA version: 11.0
6. NCCL version:
7. Python version: 3.6.9
8. OS and version: ubuntu 18.04.5
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, did you read [this doc](https://github.com/horov

[2020-10-25 17:17] EnricoMi commented on #2367
That is a good idea, that would then only require the source stream to be split on new lines, no matter if being a byte or text stream. If a byte stream, prepend each line as described by you, if a text stream, prepend with the prefix as a string. Will try that.

[2020-10-26 08:45] b1ueshad0w opened #2397 "fail to install horovod (cmake error, Could NOT find CUDA)"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFLow
2. Framework version: 1.15.0
3. Horovod version: 0.20.3
4. MPI version: Open MPI 4.0.0
5. CUDA version: 10.1
6. NCCL version: 2.7.8 (nccl-repo-rhel7-2.7.8-ga-cuda10.1-1-1.x86_64)
7. Python version: 3.6.8
8. Spark / PySpark version: N/A
9. OS and version: CentOS Linux release 7.8.2003 (Core)
10. GCC version: 4.9.2
11. CMa

[2020-10-26 15:12] EnricoMi commented on #2367
Well, since we fall back to `sys.stdout` and `sys.stderr` when no `stdout` and `stderr` are given, respectively, `stdout` and `stderr`must be text streams only. So `forward_stream` will only be called with text streams and therefore `dst_stream` is also text stream. This simplifies code.

[2020-10-26 15:54] leezu commented on #2397
Please try setting [CUDACXX](https://cmake.org/cmake/help/latest/envvar/CUDACXX.html) to the nvcc compiler you would like to use. cmake can bootstrap the location of the cuda libraries based on that.

[2020-10-26 16:51] b1ueshad0w commented on #2397
I try `CUDACXX` and the error remains the same
[code]

[2020-10-26 17:05] leezu commented on #2397
Could there be an issue with your system?
Do you have `/usr/local/cuda-10.1/include/`?

[2020-10-26 17:08] b1ueshad0w commented on #2397
@leezu Definitely yes. I check `ls /usr/local/cuda-10.1/include/` and lots of output there

[2020-10-26 17:11] b1ueshad0w commented on #2397
@leezu I compiled openmpi twice with different versions (first 3.1 and second 4.0). From the previours log I find cmake recognize it as version 3.1. Could this be the problem?

[2020-10-26 17:19] b1ueshad0w commented on #2397
@leezu I fix it! I mispell cuda path (`10.0` rather than `10.1` which is actually installed)  in other environment variables in the pip command.

[2020-10-26 17:19] b1ueshad0w commented on #2397
@leezu A new error:
[code]
Do you have any ideas?

[2020-10-26 17:41] EiffL commented on #2139
I'm very curious about this issue and whether there are plans to implement this features. My use-case is for large-scale model parallelism using the [Mesh TensorFlow framework](https://github.com/tensorflow/mesh) which currently only supports MPI-like collectives on TPU clusters, but not on regular GPU clusters. As far as I can see, TensorFlow and XLA are still missing some of the collective ops r

[2020-10-26 17:42] leezu commented on #2397
Great!

Could you open a new issue for the tensorflow problem?

[2020-10-26 17:42] #2397 closed

[2020-10-26 17:49] b1ueshad0w opened #2399 "fail to install horovod via pip: tensorflow/core/framework/op.h: No such file or directory"
## Environment:

Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFLow
Framework version: 1.15.0
Horovod version: 0.20.3
MPI version: Open MPI 4.0.0
CUDA version: 10.1
NCCL version: 2.7.8 (nccl-repo-rhel7-2.7.8-ga-cuda10.1-1-1.x86_64)
Python version: 3.6.8
Spark / PySpark version: N/A
OS and version: CentOS Linux release 7.8.2003 (Core)
GCC version: 4.9.2
CMake version: 3.18.4

## Checklist:
*

[2020-10-26 17:50] romerojosh commented on #2391
There shouldn't be anything unique about the negotiation for all-to-all vs the other collective types. @kelvinzou, have you tried reducing the cycle time (via the `--cycle-time-ms` to `horovodrun` or `HOROVOD_CYCLE_TIME` environment variable) to see if it reduces the negotiation time?  The default value of this cycle time is 5 ms which is probably much to large for your model if it takes 20 ms.

[2020-10-26 17:51] romerojosh commented on #2354
@tgaddair Have you seen errors like this before? This looks like it is happening within the TF op shape inference, which is very odd.

[2020-10-26 20:27] vibhatha opened #2400 "Horovod Allreduce on GPU or CPU?"
**Horovod AllReduce**

I am new to Horovod allreduce. When the models of PyTorch or Tensorflow runs on GPU, how does the Horovod Allreduce work?

Does it take tensors from device to host and do MPI allreduce and push back or does it happen in the device itself?

If it happens in the device itself, does it use NCCL AllReduce?

Thank You,
Vibhatha.

[2020-10-27 00:22] kelvinzou commented on #2391
Wow, romerojosh, your trick works! Now I can almost squeeze the NEGOTIATE_ALLTOALL time to somewhere 1~2 ms.

Now I got some issue with NEGOTIATE_ALLREDUCE, any idea which flag to tune for this part?

Also, is it possible to run allreduce and alltoall in parallel time during training?

Thank you a bunch!

[2020-10-27 13:53] collinabidi commented on #2250
@tgaddair I actually forked it to my own repository [here](https://github.com/collinabidi/horovod)

[2020-10-27 13:59] #2382 closed

[2020-10-27 15:13] EnricoMi commented on #2367
PR #2398 ready for review.

[2020-10-27 19:24] mangleddata opened #2402 "horovodrun sometimes hang up on multi GPU system"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Tensorflow [I use https://github.com/uber/ludwig]
2. Framework version:
2.3.1
3. Horovod version:
0.20.3
4. MPI version:
mpiexec (OpenRTE) 4.0.5
5. CUDA version:
Cuda compilation tools, release 10.0, V10.0.130
6. NCCL version:
Sorting... Done
Full Text Search... Done
libhttpasyncclient-java/bionic 4.1.3-1 all
HTTP/1.1 compliant asy

[2020-10-28 02:53] cheneyoung commented on #796
@hughplay hi，recently，I use horovod to train UGATIT， but there is no effect for multiply GPU to train the model. Is there any effect for you training the GAN?

[2020-10-28 04:09] b1ueshad0w commented on #2359
@wu-yy Your solution works but when I run the sample "tensorflow_mnist.py", it will throw "Segmentation Fault" at the stage of saving checkpiont. Do you came across such error and how do you handle that?
[code]

[2020-10-28 07:10] b1ueshad0w opened #2403 "Segmentation Fault raised when saving checkpoint (with TF 1.15.0)"
**Environment:**
Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFLow
Framework version: 1.15.0
Horovod version: 0.20.3
MPI version: Open MPI 4.0.0
CUDA version: 10.0
NCCL version: 2.7.8 (nccl-repo-rhel7-2.7.8-ga-cuda10.1-1-1.x86_64)
Python version: 3.6.8
Spark / PySpark version: N/A
OS and version: CentOS Linux release 7.8.2003 (Core)
GCC version: 4.9.2
CMake version: 3.18.4

**Checklist:**

[2020-10-28 16:47] b1ueshad0w commented on #1045
On Ubuntu binaries from python packge will be installed to `${HOME}/.local/bin`. Simply add "export PATH=${HOME}/.local/bin:$PATH" into `.bashrc` file and `source .bashrc` will fix this issue!

[2020-10-28 21:45] chenyang1759 opened #2404 "Azure Databricks: Input Source operations connected to node Adam_Allreduce/HorovodAllgather_gradient_tape_model_embedding"
**Environment:**
1. Framework: Tensorflow Keras
2. Framework version: 2.2.0
3. Horovod version: 0.19.1
4. MPI version:
5. CUDA version: 10.1 Update 2
6. NCCL version: 2.7.3
7. Python version:  3.7.5
8. Spark / PySpark version: 3.0.0
9. OS and version: Ubuntu 18.04.4 LTS
10. GCC version:
11. CMake version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes

[2020-10-28 21:48] chenyang1759 commented on #2404
My model code:
[code]

The Horovod Training Code:
[code]

[2020-10-29 21:40] whatdhack opened #2406 "How does response_cache_ guarantee same tensor name to bit mapping order across all ranks"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.3
3. Horovod version: 19.5
4. MPI version:
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7
8. OS and version:
9. GCC version: 7,5

**Your question:**
Looks like response_cache_ is the  look up used by all ranks to map an incoming vector to a bit (in bitvector_).  This respons_cache_ is filled in the order tensors ar

[2020-10-29 23:33] tgaddair commented on #2396
Hey @dk-hong, typically you want to have one process per GPU, otherwise you may run into slowdowns, as you suggest.  Some frameworks like NCCL will also not work correctly with this setup.

If you're concerned about increased batch size hurting model convergence, I would check out the [AdaSum](https://github.com/horovod/horovod/blob/master/docs/adasum_user_guide.rst) optimizer.

[2020-10-29 23:50] tgaddair commented on #2139
Thanks for suggesting this @EiffL!  I've been really curious about how we might incorporate some ideas from Mesh TensorFlow into Horovod, so glad to see someone else is thinking about this as well.

Thanks for offering to look into this.  A PR would be much appreciated.

As a starting point, I would suggest taking a look at where we hardcode in the global communicator within the Horovod collective

[2020-10-30 00:02] tgaddair commented on #2399
Seems to be the same issue as in #2406

@b1ueshad0w, can you also try running these commands and share the results:

[code]

Then let's see if we can find that file:

[code]

I'm wondering if that may be specific to CentOS.

[2020-10-30 00:08] tgaddair commented on #2354
@PaulKarlshoeferBULL, another thing we can try is running with Gloo instead of MPI, to determine if this is an MPI-specific problem.  Can you try installing with Gloo and running with `horovodrun --gloo`?

[2020-10-30 00:10] tgaddair commented on #2400
Hey @vibhatha, if the models are on GPU, and Horovod has been built with NCCL support, then we will use NCCL to perform the allreduce.  Only if NCCL is unavailable will we fall-back to using MPI/Gloo, which will copy the buffer into host memory to perform the allreduce.

Let me know if you have additional questions, happy to help.

[2020-10-30 00:19] tgaddair commented on #2250
Hey @collinabidi, looking through the code, it looks like the only missing piece is to add the ops to the `OperationManager` [here](https://github.com/collinabidi/horovod/blob/master/horovod/common/operations.cc#L192).  I suspect once that's done it should be wired up correctly.

[2020-10-30 00:34] tgaddair commented on #2402
Hey @mangleddata, when you see the messages about `Missing ranks:`, is it only rank 0 that is reported as missing, or are the other ranks reported as having missing tensors as well?  From the logs shown, it looks like rank 0 ("master" in Ludwig) is getting stuck somewhere before the broadcast.

Is this happening with the same dataset/config as in https://github.com/uber/ludwig/issues/975?

[2020-10-30 00:37] tgaddair commented on #2403
Hey @b1ueshad0w, does this also happen if you run `python3 tensorflow_mnist.py` without `horovodrun`?

Can you try generating a core dump and share the backtrace from `gdb`?

[2020-10-30 00:44] mangleddata commented on #2402
@tgaddair Logs only show rank 0. It's the same config as #975, but the dataset ticket has been randomized and trimmed.

[2020-10-30 00:49] tgaddair commented on #2404
Hey @chenyang1759, it looks like you're using Horovod v0.19.1 with TensorFlow 2 and running into issues with allgather gradient.  This looks consistent with #2110.  We addressed this in #2121, which was released with Horovod 0.20.  Is it possible to upgrade?

[2020-10-30 01:02] tgaddair commented on #2406
Hey @whatdhack, if you look at the `tensor_name_to_bit_` mapping in [response_cache.cc](https://github.com/collinabidi/horovod/blob/master/horovod/common/response_cache.cc), you'll notice that this mapping is based off of the tensor names from the `Response` objects.  The Responses come from the coordinator (rank 0) and are sent to the workers in a defined order.  So the mappings are guaranteed to

[2020-10-30 01:04] tgaddair commented on #2402
Thanks!  Do you know if the modified dataset also shows this problem?

[2020-10-30 01:11] whatdhack commented on #2406
@tgaddair, thanks .  Would it be possible to point to the code that does the sending to the workers ?

[2020-10-30 01:19] tgaddair commented on #2406
Sure, most of this logic will be in the Controller [here](https://github.com/collinabidi/horovod/blob/master/horovod/common/controller.cc#L62).

[2020-10-30 01:30] whatdhack commented on #2406
@tgaddair,  thanks.  The controller code is certainly non-trivial. Is it a broadcast collective call that  goes to the  workers or something else is used ?

[2020-10-30 01:40] tgaddair commented on #2406
Yes, that's correct.  It's implementation-specific (MPI or Gloo), but here's an example of the MPI implementation: https://github.com/horovod/horovod/blob/master/horovod/common/mpi/mpi_controller.cc#L153

[2020-10-30 01:53] vibhatha commented on #2400
@tgaddair
Is it possible to use Horovod distributed with an existing MPI application, given that data preprocessing is an MPI4PY. And Horovod is doing distributed training, using MPI or NCCL.

[2020-10-30 04:26] dk-hong commented on #2396
OK, I will read and apply that. Thank you!

[2020-10-30 04:26] #2396 closed

[2020-10-30 04:51] chenyang1759 commented on #2404
Thanks for getting back to me so quickly! I'll give that a shot.