[2019-03-29 08:04] alsrgv commented on #956
@Tangjiandd, sounds pretty odd. What's CPU utilization during the run, is it possible that CPU is overstressed by running three processes instead of one?

[2019-03-29 08:07] alsrgv commented on #963
@mohanraj1311, I think the issue is in line `SparkContext(conf)`.  Can you try creating a session [like this](https://github.com/horovod/horovod/blob/master/examples/keras_spark_rossmann.py#L70)?

[2019-03-29 08:09] alsrgv commented on #953
@solomatov, not necessarily - Horovod works fine even with modest # of GPUs and over high-speed Ethernet. It can work better over low-speed Ethernet due to features like compression.

[2019-03-29 08:10] alsrgv commented on #251
Yes, now they are differentiable.  Please let us know if you see any issues!

[2019-03-29 08:11] alsrgv commented on #939
@zhenghh04, can you reinstall Horovod (`pip uninstall -y horovod`, `[flags] pip install --no-cache-dir horovod`) to make sure it's not using outdated binaries?

[2019-03-29 08:16] alsrgv commented on #105
@maxhgerlach, one thing that can be done today is `hvd.init(comm=[list-of-ranks])` (see [here](https://github.com/horovod/horovod/blob/master/horovod/common/__init__.py#L58)), so you could pre-partition your MPI job into multiple small Horovod jobs.  But we don't have support for on-demand subgroup allreduce where you could specify the list of ranks per operation yet.

It's a pretty big change, as

[2019-03-29 08:18] alsrgv commented on #938
@nicolas-ivanov, can you check if discussion in #297 helps?

[2019-03-29 08:22] alsrgv commented on #937
@jiangzihanict, could you try running it with `horovodrun -np 32 -H anode88:8,anode89:8,anode90:8,anode91:8 python3 tensorflow_resnet50_HEPdata.py --train-dir ../data/tr_split_4_8/ --val-dir ../data/val_split_4_8/ --epoch 30 --image-channel 3`?  It sets a bit more of recommended flags, I wonder if they'd help. Do you have InfiniBand or RoCE?

[2019-03-29 08:23] alsrgv commented on #898
@pstefanou12, sorry for the delayed response.  Can you try reinstalling Horovod using `pip uninstall -y horovod` and `[flags] pip install --no-cache-dir horovod`?

[2019-03-29 08:26] alsrgv commented on #936
@hubutui, good catch!  `hvd.broadcast_optimizer_state()` is useful when restoring from checkpoint, as it can broadcast optimizer state, such as momentums, from first rank to everyone else.  While it's not strictly necessary in either synthetic benchmark or mnist example, it's good to add.

[2019-03-29 08:27] alsrgv commented on #936
We have a plan to build a doc website, but didn't get to it yet.  It will have an API reference.

[2019-03-29 08:30] alsrgv commented on #935
@zhouhaiy, we're indeed collaborating with TensorFlow team on HorovodDistributionStrategy.  We don't have anything to try out yet, the plan is to have it ready before TF 2.0 comes out.  We'll keep this thread updated as we have more info to share.

[2019-03-29 08:32] alsrgv commented on #927
@LeavesLei, since I saw your other questions, I assume this is already resolved?  If not, please provide full log of installation process, the real error should be before this message.

[2019-03-29 08:35] alsrgv commented on #761
@wangzhimingchn, @jaliyae, @ssstuvz, @dasight, which version of gcc are you guys using?

I've recently painfully found out that gcc 4.8 [does not work](https://github.com/horovod/horovod/pull/958) with pybind11, which is used by PyTorch plugin mechanism since PyTorch 1.0.  The solution is to upgrade to gcc 4.9 or 5+.

[2019-03-29 08:35] alsrgv commented on #918
@BoseSean, it's possible that NFS is introducing the latency.  Can you try saving on local disk to see if issue goes away?

[2019-03-29 08:38] alsrgv commented on #913
@tingweiwu, could you try to upgrade to Horovod 0.16.1 and use `horovodrun -np 8 -H localhost:8 python XXXX.py`?  It sets additional flags that may be helpful.

[2019-03-29 08:41] alsrgv commented on #903
Sorry for delayed response.  How much RAM do you have on this server?  This message seems a bit odd:
[code]

[2019-03-29 08:42] alsrgv commented on #900
Assigned to @abditag2 and @tgaddair, they're looking at BERT model.

[2019-03-29 08:44] alsrgv commented on #159
@swethmandava, we've recently added an option to set stall check time `HOROVOD_STALL_CHECK_TIME_SECONDS`, it will be available in 0.16.2.  You can also get it if you install Horovod from master.

[2019-03-29 08:46] alsrgv commented on #194
@eric-haibin-lin, it will be optional.

[2019-03-29 08:47] elfring opened #968 "Improve exception safety with smart pointers"
Would you like to wrap any pointers with the class template “[std::unique_ptr](https://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "Description for the usage of smart pointers")”?

Update candidates:
- [MPIAllgather::Execute](https://github.com/horovod/horovod/blob/aa605d6de1e07d1184e8793b6d4f65cee9d4efb3/horovod/common/ops/mpi_operations.cc#L95)
- [RunLoopOnce](https://github.com/horovod/horov

[2019-03-29 08:47] alsrgv commented on #883
@bluesummers1129, it it because you don't have enough workers?  You should have at least the same # of executors as `num_proc` value that you're passing to `horovod.spark.run()`.

[2019-03-29 08:49] alsrgv commented on #968
@elfring, please feel free to send a PR.  If it makes code more readable & robust - that'd be great!  I'll re-mark this as an enhancement though.

[2019-03-29 08:51] alsrgv commented on #880
@xajxiang, sorry for delayed response.  Can you try upgrading NCCL to 2.3.7 and running again?  P2P should have better performance compared to SHM (P2P disable=1).

[2019-03-29 08:58] alsrgv commented on #154
@thuningxu, can you share the steps you used to get rid of `/Applications/Xcode.app` and use `/Library/Developer/CommandLineTools`?

[2019-03-29 08:59] alsrgv commented on #859
@vangogh0318, larger models should have better scaling. Please share your findings of modifying BERT model.

[2019-03-29 08:59] alsrgv commented on #859
cc @abditag2 @tgaddair

[2019-03-29 09:01] alsrgv commented on #844
@UditGupta10, #96 has some examples & discussion.

[2019-03-29 09:03] alsrgv commented on #746
@UditGupta10, sorry for delayed response.  I imagine you could partition your embedding onto multiple devices, e.g. by hashing entities and spreading them across 4 GPUs.  Would that work for your use case?

[2019-03-29 10:23] tsmolcic commented on #761
@alsrgv I'm using 4.8.5. Will upgrade and try it out.

[2019-03-29 11:24] godmoves commented on #828
@tgaddair Hi, do you think this is a common issue of all kinds of neural networks or only some specific types of NNs? Should I run `hvd.broadcast_global_variables(0)` periodically to avoid the potential parameter mismatch between different GPUs?

[2019-03-29 12:25] vangogh0318 commented on #900
here is code: https://github.com/lambdal/bert.git
I modified like that

[2019-03-29 12:51] nicolas-ivanov commented on #938
@alsrgv, thanks for your reply. Yes, I saw the mentioned thread, but I believe it is irrelevant to my case since I do provide validation_data batch (see the [line](https://gist.github.com/nicolas-ivanov/bcba768c27ee0c2735b0497cd060c994#file-mnist_tb_with_horovod-py-L128)).

[2019-03-29 16:27] thuningxu commented on #154
Please uninstall Xcode from your MacOS (move Xcode to Trash), and then run `xcode-select --install` in terminal. After installation, you can verify using `xcode-select`:
[code]

[2019-03-29 18:49] mprannoy opened #969 "Training takes longer on different machine with same config"
**Environment:**
1. Framework: Pytorch
2. Framework version: 1.0.0
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.3.7
7. Python version: 3.6
8. OS and version: 16.04

**Bug report:**
I'm trying to train using horovod in docker on a single machine with 4 GPUs. I have two different machines with the same config. However, I have noticed that it takes about a

[2019-03-29 21:03] XuesongYang opened #970 "ModuleNotFoundError: No module named 'horovod.run'"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.12
3. Horovod version: 0.16.1
4. MPI version: 3.1.0
5. CUDA version: 9.2
6. NCCL version:  2.2.13
7. Python version: 3.6.8
8. OS and version: aws ec2

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/b

[2019-03-30 05:18] jiangzihanict commented on #937
Thanks, Alex. I have solved this problem by updating the os kernel to CentOS7. The main cause of this issue is I installed glibc2.17 on centos6 without checking dependancy.  

                            jiangzihan

                                    邮箱：jiangzihan@ict.ac.cn

Signature is customized by Netease Mail Master

On 03/29/2019 16:25, Alex Sergeev wrote: @jiangzihanict, could you try runn

[2019-03-30 07:04] alsrgv commented on #828
@godmoves, I think it's a good idea to broadcast variables periodically, perhaps at the end of every epoch.  We're considering making this part of examples.

[2019-03-30 07:21] alsrgv commented on #938
@nicolas-ivanov, I've debugged this issue a bit and I think I found the root cause.

Since you have `write_grad=1` set, the TensorBoard callback will query optimizer gradients.  Optimizer gradients are computed using allreduce.  However, since you're only writing TensorBoard logs on the first rank, it waits forever for the other ranks to run allreduce.

If you don't need `write_grads`, you can dis

[2019-03-30 07:26] alsrgv commented on #969
@mprannoy, can you share the output of `nvidia-smi topo -m` on both machines?

Apart from network interfaces, which should not matter on a single host, I also see a difference in P2P communication:

[code]

vs

[code]

I don't think this is a bug based on the information that you've provided, so I'll reclassify as a question.

[2019-03-30 07:30] alsrgv commented on #970
@XuesongYang, do you have Horovod installed on both machines? Is Anaconda environment installed in the same path on both machines?

[2019-03-30 09:23] godmoves commented on #828
@alsrgv Thank you for your advice, I will add that in my code :)

[2019-03-30 12:35] vangogh0318 commented on #900
@abditag2  @tgaddair  help, thanks

[2019-03-30 12:50] zhouhaiy commented on #935
@alsrgv Thanks for response. TF 2.0 alpha has already been released. I think TF 2.0 is coming...

[2019-03-30 14:04] #966 closed

[2019-03-30 14:05] #844 closed

[2019-03-30 16:19] mprannoy commented on #969
Ah, yes I noticed that too.
Here you go:
Faster Machine:
[code]
Slower one:
[code]

[2019-03-30 17:24] XuesongYang commented on #970
@alsrgv I double checked, and find the solution on that following the instruction: `https://github.com/awsdocs/aws-deep-learning-amis/blob/master/examples/horovod/tensorflow/train_synthetic.sh`

Actually, I need to activate the conda env first before mpirun as shown in the following:

`function runclust(){ while read -u 10 host; do host=${host%% slots*}; if [ ""$3"" == "verbose" ]; then echo "On $

[2019-03-30 17:24] #970 closed

[2019-03-30 22:41] alsrgv commented on #969
What GPUs and CPUs do you have in these machines?

In general, we found that dual pcix root servers perform better than a single root ones.

[2019-03-30 22:42] alsrgv commented on #935
It's not part of the 2.0 alpha release.

[2019-03-31 15:56] vtczk opened #971 "Horovod Docker hangs in distributed settings or throws error"
**Environment:**
1 Docker image : horovod/horovod:0.16.1-tf1.12.0-torch1.0.0-mxnet1.4.0-py3.5
2. OS and version: Ubuntu 18.04.2 both hosts

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.md)?
3. If your question is about docker, did you rea

[2019-03-31 18:39] nicolas-ivanov commented on #938
@alsrgv thank you for digging into this issue! Yes, I do need to write gradients to TensorBoard. I'll check your suggestion with running TensorBoard callback on each worker, however, do you think there can be a more elegant solution for this? I thought, Horovod could handle such cases automatically.

[2019-04-01 11:30] South2North opened #972 "run tensorflow_mnist.py on 2 gpus and get segmentation fault errors"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow

2. Framework version:
1.12.0

3. Horovod version:
0.16.1

4. MPI version:
4.0.0

5. CUDA version:
9.0

6. NCCL version:
2.4.2

7. Python version:
3.6.7

8. OS and version:
ubuntu 16.04 LTS

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Yes.
2. If your question is about hang, did

[2019-04-01 13:15] #937 closed

[2019-04-01 13:27] apsears opened #973 "Intermittent CUDA_ERROR_ILLEGAL_ADDRESS"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Tensorflow
2. Framework version:
1.13.1
3. Horovod version:
0.16.1
4. MPI version:
OpenMPI 4.0.1
5. CUDA version:
10.0 + CuDNN 7.5
6. NCCL version:
2.4.2 (nccl-repo-ubuntu1804-2.4.2-ga-cuda10.0_1-1_amd64.deb)
7. Python version:
3.6.7
8. OS and version:
Ubuntu 18.04

**Checklist:**
1. Did you search issues to find if somebody asked

[2019-04-01 14:22] nicolefinnie commented on #403
I hit the very same problem and I realized one thing: if we always make the same worker do heavy-lifting, e.g. evaluating the current model after training for a certain number of epochs, other workers are going to complain about `stalled ops` and `missing ranks: 0` and end up being stuck in this situation without being able to recover (looks like a horovod bug in my eyes), or the recovering slows

[2019-04-01 15:13] tgaddair commented on #403
@nicolefinnie, in your case the behavior you're seeing is what we would expect.  If one of your workers is going evaluation, but the other workers have moved on to train in the next epoch, then they will necessarily get stuck because rank 0 is busy doing evaluation.

In the ring-allreduce algorithm, the other workers cannot proceed while one of the workers is behind. You wouldn't want this behavio

[2019-04-01 16:39] bluesummers1129 opened #974 "Requirements for spark.run call"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow
2. Framework version:
1.13.1
3. Horovod version:
0.16
4. MPI version:
3.0.0
5. CUDA version:
N/A
6. NCCL version:
N/A
7. Python version:
2.7
8. OS and version:
Amazon Linux AMI release 2018.03

**Your question:**
I've been playing around more with the horovod + Spark functionality and have a general question about what i

[2019-04-01 17:10] tgaddair commented on #974
Hey @bluesummers1129, Horovod uses cloudpickle to serialize/deserialize your functions are arguments. Python dictionaries with only standard types shouldn't cause any issues.

Can you provide the updated signature of the `train_fn` where you're seeing these issues?

[2019-04-01 17:31] abditag2 commented on #971
@vtczk
I am assuming that you are running the above commands from the hosts and not inside the containers.

If this is the case, try the following. First, make sure you can ssh from host B into host A using  `ssh 192.168.1.117 -p 12345`. And make sure after doing ssh, you end up in the container environment and not the host itself and you can run `python`. If this works, then check the same thing

[2019-04-01 17:54] mprannoy commented on #969
Faster Machine:
4 Titan X GPUs
16 Xeon CPUs E5-2623 v4 @ 2.60GHz

Slower Machine:
4 Titan X GPUs
12 Xeon CPUs E5-1650 v3 @ 3.50GHz

[2019-04-01 18:56] alsrgv commented on #938
@nicolas-ivanov, unfortunately, running TensorBoard callback on all workers is the most elegant solution so far.  We do have plans to enable `hvd.join()` operation (see #832), which could help here as well.  I'll mark this issue as an enhancement for future.

[2019-04-01 19:54] Nilesh-Agrawal opened #975 "Horovod runs when I ran on single node, but on multiple node it hangs"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet):Pytorch
2. Framework version: 1.0.1.post2
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.2
7. Python version: 3.5
8. OS and version: Ubuntu 16.0.4

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read

[2019-04-01 20:42] nicolefinnie commented on #403
@tgaddair  Thanks for your explanation. However, I still hit this problem after a certain amount of time. I wonder if stretching out memory as much as possible was a cause too. My horovod processes have stuck for hours without consuming any CPU/GPUs. I'll try a smaller batch size and see if it can bypass this issue.

(with 5 GPUs in the log)
[code]

[2019-04-01 21:53] alsrgv commented on #972
@South2North, can you share the command you used to install Horovod?

[2019-04-01 21:56] alsrgv commented on #973
@apsears, could you try running your script on three GPUs in a rolling way to determine if one of the GPUs has memory issues?

[2019-04-01 22:05] alsrgv commented on #969
@mprannoy, single-root-ness and lower grade CPU of the slower machine may explain away the difference.  Unfortunately, it's not just GPU that matters for performance.

[2019-04-01 22:44] alsrgv commented on #975
@Nilesh-Agrawal, could you try `horovodrun --verbose -np 4 -H server1:2,server2:2 python src-pytorch-dist/main.py` and see if it helps?

[2019-04-01 22:45] alsrgv commented on #403
@nicolefinnie, is it possible that you have unequal number of iterations per epoch on different workers?

[2019-04-02 02:03] dasight commented on #952
Thanks, @alsrgv .Let me retries it with your recommendation.

Best regards,
- Zuling

[2019-04-02 03:02] boyuzz commented on #921
@alsrgv Yes, all models have the same training duration. I want to transfer some information among models during training. That's why I want to train them simultaneously.

[2019-04-02 05:05] Nilesh-Agrawal commented on #975
This is the output I got after running above command.
_Filtering local host names.
Checking ssh on all remote hosts.
SSH was successful into all the remote hosts.
Testing interfaces on all the hosts.
Launched horovodrun server.
Attempted to launch horovod task servers.
Waiting for the hosts to acknowledge.
Notified all the hosts that the registration is complete.
Waiting for hosts to perform host-

[2019-04-02 10:18] windson87 opened #977 "How could I check If averaging gradients is running correctly?"
**Environment:**
1. Framework: Pytorch
2. Framework version: 1.0.0
3. Horovod version:0.16.1
4. MPI version:(IntelMPI)
5. CUDA version:10
7. Python version:3.6.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
   Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.md)?
3. If your questio

[2019-04-02 11:00] nicolas-ivanov commented on #938
@alsrgv Got you, thanks once again for the explanation!

[2019-04-02 11:36] radrow opened #978 "horovodrun – "There are not enough slots in the system""
When I run `horovodrun  -np 2 -H localhost python train.py` I get following error:
[code]

With `mpirun` I could workaround it by providing custom hostfile or setting `--oversubscribe` flag. How can I deal with it using `horovodrun`?

[2019-04-02 11:51] South2North commented on #972
Thanks, Alex. I read gpus.md again and noticed that I had installed the wrong version below "Advanced".

[2019-04-02 11:52] #972 closed

[2019-04-02 11:52] eugene-vasilev opened #979 "Question on the description of the configuration of servers for benchmarks"
Hi!
Is it possible to clarify the configuration of your servers on which benchmarks were held?
In the presentation (https://www.slideshare.net/AlexanderSergeev4/horovod-distributed-tensorflow-made-easy), only the GPU architecture and network bandwidth were specified. I would like to know the exact models of GPU's and processor, amount of RAM per server.

thanks in advance

[2019-04-02 11:53] evgeniivas commented on #978
@radrow , you need set the number of gpu which can be used in localhost

try: horovodrun -np 2 -H localhost:2 python train.py

[2019-04-02 11:57] radrow commented on #978
The solution was to append `:2` to `localhost` and update `mpirun`

[2019-04-02 11:57] #978 closed

[2019-04-02 15:16] radrow opened #980 "Parallel training a single model – am I doing it right?"
I would like to train some model on 2 separate GPUs, so I have followed all the steps mentioned in the README and ran
[code]

`train.py` basically loads dataset from disk, constructs tf model and runs a training loop. It initializes hvd and wraps optimizer as mentioned in the instructions.

However, this command runs two separate python processes that seem to be completely independent – according

[2019-04-02 15:34] tgaddair commented on #980
Hey @radrow, Horovod does indeed run multiple Python processes.  The coordination between them only comes in during the backward pass when gradients are aggregated together via the `DistributedOptimizer`.

The way you achieve speedup is by distributing the data between the workers.  So in your case since you have two processes each process should only be processing half the total number of batches

[2019-04-02 17:31] biswajitsc opened #981 "How to catch exceptions and restart training?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.12
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.3.7
7. Python version: 3.6
8. OS and version: Ubuntu 18.04.1

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/ho

[2019-04-02 19:10] radrow commented on #980
Thanks, that solves my doubts

[2019-04-02 19:10] #980 closed

[2019-04-02 20:57] mprannoy commented on #969
@alsrgv Makes sense. Thanks for looking into this.

[2019-04-02 20:57] #969 closed

[2019-04-02 21:45] andrewor14 commented on #431
I had the same issue. The problem for me was that horovod was installed with a different tensorflow installation from the one I have now. All you have to do to fix it is simply uninstalling horovod and re-installing it again through pip using the `--no-cache-dir` flag.

[2019-04-03 02:22] tgaddair commented on #981
Hey @biswajitsc, we're actively working on ways to make Horovod more resilient to failures like this, but in the meantime, what we typically do in practice is wrap the `horovodrun` call in a script that will retry when such failures occur.  For example, you would have a retry loop that retries up to some number of times when the return code is non-zero.  Then in your training script you would read

[2019-04-03 03:04] biswajitsc commented on #981
Thank you for the solution (although hacky :) ). This will work for now. Closing this issue.

[2019-04-03 03:04] #981 closed

[2019-04-03 03:19] KimMeen commented on #975
Same issue and my console output was:

Filtering local host names.
Checking ssh on all remote hosts.
SSH was successful into all the remote hosts.
Testing interfaces on all the hosts.
Launched horovodrun server.
Attempted to launch horovod task servers.
Waiting for the hosts to acknowledge.
Notified all the hosts that the registration is complete.
Waiting for hosts to perform host-to-host interfac

[2019-04-03 06:39] XuesongYang commented on #676
Another workaround is to avoid using `tf.test.is_gpu_available()` if your script used it. After removing it, the following error is gone:
`[1,1]<stderr>:tensorflow.python.framework.errors_impl.AlreadyExistsError: TensorFlow device (G
PU:0) is being mapped to multiple CUDA devices (0 now, and 1 previously), which is not support
ed. This may be the result of providing different GPU configurations (C

[2019-04-03 11:58] maxhgerlach commented on #105
@alsrgv thanks for the pointers! At the moment I fear priorities at work make it hard to commit to the effort, although I'd find it quite interesting.

[2019-04-03 20:43] GeekyRyan opened #982 "Horovod hangs on mutil-clusters with databricks"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Keras
2. Framework version: 2.2.4
3. Horovod version:
4. MPI version:
5. CUDA version:9.2
6. NCCL version:2.2.12
7. Python version:3
8. OS and version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? y
2. If your question is about hang, did you read [this doc] (https://github.com/horovod/hor

[2019-04-03 22:15] JohnTaylor2000 opened #983 "LARS/LARC with Horovod in Keras"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:eras
3. Horovod version:all
4. MPI version:all
5. CUDA version:all
6. NCCL version:all
7. Python version:all
8. OS and version:all

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovo

[2019-04-04 12:54] vtczk commented on #971
I have omitted the step to allow ssh from B to A as i thought only one way is sufficient.
Even though it takes considerable amounts of time for two hosts to make a connection, that seemed to fix the issue and the example script went through.

I also have a three side questions:
* is there a clear way of verification that both host indeed are working together and one host didn't silently died in th

[2019-04-04 21:12] apsears commented on #973
Thank you for the suggestion.  After some more testing (w/ and w/o Horovod), it seems to happen no matter which GPU are involved, although it is incredibly fast when all four of them are running via Horovod.  The github project gpu_burn does not report any errors, and actually the stock tacotron repo seems to work fine, so it must be my code.  Maybe an overflow?  Weird that that would result in a

[2019-04-04 21:12] #973 closed

[2019-04-04 21:14] aitgana opened #987 "Distributed only CPUs"
Hello, thank you for your work, it helps me enormously.
I just wanted to know if it was possible to use Horovod distributed with a cluster (I'm working on Slurm cluster) but using only the CPUs nodes.
And if so, give me an example. Thank you so much.

[2019-04-04 21:27] abditag2 commented on #975
@KimMeen can you post the command that you are using to launch the tasks?

[2019-04-04 21:42] abditag2 commented on #971
Glad that your problem is resolved. To answer your questions:

As long as you start all the nodes correctly the training will continute only if all the nodes are up and running. If any of the workers die, MPI will terminate all the processes on all the hosts.

The dockerfile that comes in our repository is aimed at the users who want to run with a GPU. The base image is `nvidia/cuda:9.0-devel-ubun

[2019-04-04 21:43] #971 closed

[2019-04-04 21:46] abditag2 commented on #987
If your question is whether horovod can run with only CPU nodes, the answer is yes, you can. if you install `pip install horovod` and install a non-gpu version of tensorflow, horovod will only use CPU.

[2019-04-04 23:59] abditag2 commented on #900
@vangogh0318 Can you run the training for more epochs and see if the speed increases? I tried on our cluster and were able to get better number than yours. Let me know how it goes.

[2019-04-05 00:41] KimMeen commented on #975
@abditag2 The command was:

`horovodrun --verbose -np 2 -H localhost:1,tpc2:1 python lstm-ds-training.py`

Then it throws the error above. However, I am able to run this command in these two scenarios:

`horovodrun --verbose -np 1 -H localhost:1 python lstm-ds-training.py`
`horovodrun --verbose -np 1 -H tpc2:1 python lstm-ds-training.py`

So as I can see the failure occurs only when I trying to pa

[2019-04-05 00:46] kit1980 commented on #832
Yes, I'd like to take this. Let me try to familiarize myself with the code a bit and I'll have some questions later.

[2019-04-05 00:55] abditag2 commented on #975
@KimMeen can you check if you can ssh from localhost to tpc2 and from tpc2 to your current localhost?

[2019-04-05 00:56] alsrgv commented on #975
@KimMeen, @Nilesh-Agrawal, also, do you guys happen to have any firewall rules present on your systems that could prohibit cross-machine traffic on odd ports?

[2019-04-05 01:21] aitgana commented on #987
@abditag2
I see, thank you!
Would you have an example of a basic code? because I am new with distributed progamation, and even more with Keras

[2019-04-05 01:45] alsrgv commented on #982
@GeekyRyan, do you know if all TCP ports across VMs are enabled in VPC security settings?

cc @mengxr, what's the best venue to debug this question?

[2019-04-05 01:50] alsrgv commented on #979
@evgeniivas, I'm afraid that I can't share the exact spec of the servers we used.  I can share important ingredients for PCIx based Pascal servers:

1. Dual PCIx root.
2. 2 GPUs per CPU.
3. Reasonably fast CPU.  Take low-to-medium price in the lineup.
4. Populate all RAM channels.
5. Use RDMA if possible.

[2019-04-05 01:53] alsrgv commented on #921
@boyuzz, you could do this... You could use `mpi4py` to share "some information", and use `hvd.init(comm=[list of ranks])` (https://github.com/horovod/horovod/blob/master/horovod/common/__init__.py#L58) to partition your set of workers into distinct Horovod rings.

[2019-04-05 01:55] alsrgv commented on #983
@JohnTaylor2000, this is an excellent idea!  We'll try to get to it this month, but in case you have time contributions are very welcome.

[2019-04-05 02:19] cyxtj commented on #761
gcc 4.8.5 on Centos, PyTorch 1.0, run into same error
[code]
But tensorflow works fine.
[code]
Is there any workaround except updating GCC ?

[2019-04-05 02:22] KimMeen commented on #975
@abditag2 Yes I can, and currently I am using mpirun to do the distributed training like this:

`HOROVOD_TIMELINE='/mnt/data/project/Linux Distributed Version/imagenet_example/timeline.json' mpirun --allow-run-as-root --tag-output -np 2 -H localhost:1,tpc2:1 -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib  -mca btl_tcp_if_exclude lo -x NCCL_DEBUG=INFO -x NCCL_SOCKET_IFNAME=eno1,enp0s31f6

[2019-04-05 02:23] GeekyRyan commented on #982
Hi @alsrgv , thank you so much for replying. Honestly, I'm not really sure about the port numbers, however using the same cluster configurations (two workers plus one driver, all p2.xlarge instances), I am able to run the horovod demo program, which performs a training on the MMINST dataset. Based on that fact,  can I assume the configuration of the clusters are not an issue here?

[2019-04-05 02:44] alsrgv commented on #761
@cyxtj, pybind11 that PyTorch uses does not like GCC 4.8.  I'm not aware of a way to fix it, unfortunately :-(

[2019-04-05 02:48] alsrgv commented on #982
@GeekyRyan, can you try setting `t_steps=1` and `v_steps=1` to make sure this is not an output issue?

[2019-04-05 02:57] alsrgv commented on #975
@KimMeen, most likely firewall is not an issue then.  Can you share the output of `ifconfig -a` on both nodes?

[2019-04-05 03:03] KimMeen commented on #975
@alsrgv, this is the output from tpc1:
[code]
And this is the output from tpc2:
[code]

[2019-04-05 03:09] alsrgv commented on #975
@KimMeen, we should make the error message better, but the root cause is that `horovodrun` currently requires all servers to have the same interface name.  Is there any reason it's not the case among your two servers?

[2019-04-05 03:12] GeekyRyan commented on #982
@alsrgv Did as you asked, and surprisingly it worked, but I guess that's not training on the complete input data? Could you explain why it worked in this case? I'm also pasting the new err logs below:

[1,0]<stdout>:0402-145914-wins357-10-102-176-50:2203:2208 [0] INFO [1,0]<stdout>:Launch mode Parallel[1,0]<stdout>:
[1,1]<stdout>:
[1,1]<stdout>:1/1 [==============================] - 30s 30s/step -

[2019-04-05 03:12] alsrgv commented on #975
@abditag2, we should experiment with adding a warning for interface name mismatches here - https://github.com/horovod/horovod/blob/master/horovod/run/common/util/network.py#L208

[2019-04-05 03:14] alsrgv commented on #982
@GeekyRyan, I believe the issue is that it's not outputting the results until a full epoch is done. You may want to make your epochs smaller to see the output.

[2019-04-05 03:15] alsrgv commented on #982
May also want to pass `verbose=2 if hvd.rank() == 0 else 0` to `fit_generator()` to reduce the amount of logs.

[2019-04-05 03:19] mengxr commented on #982
lol, my browser tab crashed when I opened this GitHub page. Too many lines
pasted. So replying by email with my best guess based on the lines I saw:

Please ignore the "epoch" number from BarrierTaskContext. That is the
BarrierTaskContext.barrier() epochs, not from your training. It basically
says all executors are waiting for the first one to finish the horovod MPI
program. You should check the s

[2019-04-05 03:20] KimMeen commented on #975
@alsrgv Thank you for taking a look at this problem! May I continue to use my `mpirun` command to do the experiment like I posted above? Since I guess `horovodrun` is a wrapper to simplify the `mpirun` command for users?

[2019-04-05 03:22] GeekyRyan commented on #982
@alsrgv the epochs was set to 1, did you mean to shrink down the batch_size? I'll adjust the verbose param now. thanks.

[2019-04-05 03:23] alsrgv commented on #982
@GeekyRyan, no, make epochs smaller = reduce `t_steps` and increase `epochs`.  Also, see @mengxr suggestion about barrier epochs.

[2019-04-05 03:24] alsrgv commented on #975
@KimMeen, sure - `mpirun` will be supported forever.

[2019-04-05 03:30] GeekyRyan commented on #982
@mengxr Thanks for your reply, does that mean, it's just not outputing the progress, but it was indeed running?

[2019-04-05 03:44] mengxr commented on #982
All your Horovod/MPI training logs live in executor #0's stderr. Other
executors do not have any training logs. On executor #0's logs, only the
lines starting with `[?,?]<stdxxx>` are from Horovod/MPI training. Spark
has some background threads that also output logs to executor's stderr.

I saw you use `/dbfs/FileStore` to load/save data. This is unfortunately
not recommended. See our guide here:

[2019-04-05 03:51] GeekyRyan commented on #982
Appreciate that, I'm reading it now, will let you know if I have further questions.

[2019-04-05 04:25] GeekyRyan commented on #982
@alsrgv @mengxr Hi, I am getting a really strange error, any idea why this would happen?

RuntimeError: Command ['mpirun', '--allow-run-as-root', '-np', '2', '-H', '10.102.239.78,10.102.242.108', '--stdin', 'none', '--tag-output', '-mca', 'rmaps', 'seq', '--bind-to', 'none', '-x', 'NCCL_DEBUG=INFO', '-mca', 'pml', 'ob1', '-mca', 'btl', '^openib', '-mca', 'plm_rsh_agent', 'ssh -o StrictHostKeyCheck

[2019-04-05 05:08] KimMeen opened #992 "Long queue time on horovod timeline"
**Environment:**
1. Framework: Keras(Tensorflow Backend)
2. Framework version: Tensorflow-gpu 1.8.0
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.4.2
7. Python version: 3.6
8. OS and version: Ubuntu 16.04

**My question:**
Currently I am using `tensorflow_synthetic_benchmark.py` to test the distributed environment, but I found that the running time and pr

[2019-04-05 11:10] #977 closed, assigned to nobody

[2019-04-05 12:46] nicolefinnie commented on #403
@alsrgv  Sorry for getting back to you late, no, they're equally sharded (at least the log shows that way) another underlying issue could be one GPU is in one socket and other 3 GPUs are in another socket, so the slow guy has to rely on the CPU to talk to other 3 guys. It's just my pure assumption after having looked into the GPU topology of the server that the job was run on. However, it shows ot

[2019-04-05 13:15] bluesummers1129 commented on #974
I realized the issue was trying to pass a Spark DataFrame as one of the args, which can't be pickled for executors. I refactored things and resolved it.

[2019-04-05 13:15] #974 closed

[2019-04-05 14:07] dasight commented on #952
Hi @alsrgv ,

Below is one of the additional output when I set verbose=2 in horovod.spark.run(). It seems that Horovod added a ramdom HEX number to the end of each hostname. Could you please show me how (in which code) Horovod get these hostnames?

Initial Spark task registration is complete.
Spark task-to-task address registration is complete.
+ mpirun --allow-run-as-root --tag-output -np 9 -H jo

[2019-04-05 14:12] dasight commented on #952
Hi @alsrgv ,

Below is one of the additional output when I set verbose=2 in horovod.spark.run() in CDH 5.15.x. It seems that Horovod added a ramdom HEX number to the end of each hostname. Could you please show me how (in which code) Horovod get these hostnames? Maybe I can look into this issue with together you.

Initial Spark task registration is complete.
Spark task-to-task address registration

[2019-04-05 19:36] alsrgv commented on #952
@dasight, the hostnames are generated using [this code](https://github.com/horovod/horovod/blob/f3b118629ff2770cb1485209e8fa46daf9eb6c9a/horovod/run/common/util/host_hash.py#L33), but these hostnames are purely virtual for Horovodrun purposes and are not used by the mpirun.

Can you make sure that you have the same version of MPI installed on all nodes, and both Python and MPI are installed in the

[2019-04-05 19:39] alsrgv commented on #403
@nicolefinnie, your stall warning looks interesting.  It basically says that all ranks except 0 ran `hvd.broadcast()` while rank 0 went ahead and started training.  Maybe you have a logic to broadcast on non-zero ranks somewhere in your code?  Broadcast should be executed on all ranks.

[2019-04-05 19:42] alsrgv commented on #992
@KimMeen, unfortunately, 100Mbit NIC will not cut it at all at this point.

You can try to add fp16 compression (`hvd.DistributedOptimizer(opt, compression=hvd.Compression.fp16)`), but that may double your img/sec at best.  We're looking into techniques for deeper gradient compression, but they have not materialized yet.

Can you get at least 10Gbit NIC?

[2019-04-05 22:53] KimMeen commented on #992
@alsrgv, I tried fp 16 compression but that couldn't help me a lots in my current network condition, and I am not sure which factors contributed to this relatively low bandwidth(NIC, router or cables).

So now I have two options here, the one is to improve the bandwidth to at least 10Gbit, and another one is to install these two graphic cards in a single machine and then launch the task by using t

[2019-04-06 01:25] GeekyRyan commented on #982
@alsrgv @mengxr Hi, today I have made the changes @alsrgv suggested, I tested the dataset on vgg16(256) model, however setting the epoch=6, batch_size=512, and the verbose=2 when hvd=0, still does NOT output anything, and I let it ran for more than 5 hours, before I had to shut it down, because it's draining the fund. :X

[2019-04-06 01:27] GeekyRyan commented on #982
Earlier I had it tested on an AlexNet model which should be much simpler and easier to train, but it still doesn't give any outputs, and when using horovod to set up the distributed learning, do I still need to pass workers=#workers, and use_mutilprocessing=true to the fit_generator()?

[2019-04-06 08:47] vtczk commented on #971
@abditag2
Are these :
 libcudnn7=${CUDNN_VERSION} \
        libnccl2=${NCCL_VERSION} \
        libnccl-dev=${NCCL_VERSION} \
        libjpeg-dev \
        libpng-dev \

also required for CPU usage or can they be dropped as well ?

[2019-04-06 14:03] dasight commented on #952
@alsrgv Hi, I double checked just now, and can confirm that I have the same version of MPI installed on all nodes, and both Python and MPI are installed in the same location.

One more thing is that the Open MPI is compiled in one node and installed in other 3 nodes. I don't think that'll cause trouble, as I am using exactly the same instance type in GCE.

Is that possible for you to share the maj

[2019-04-06 16:13] Qiuzhuang commented on #952
can you please check LD_LIBRARY_PATH/ldconfig to make sure .so are loaded?
I replicated open mpi build to other nodes as well and it looks good.

On Sat, Apr 6, 2019 at 10:03 PM Zuling Kang <notifications@github.com>
wrote:

[2019-04-06 22:35] nicolefinnie commented on #403
@alsrgv, Thanks for your quick response. I appreciate that. I did broadcast on all ranks by passing the root rank = 0 as follows:
`session.run(hvd.broadcast_global_variables(0))`  (this is run on all ranks)
However, interestingly, I happened to call `broadcast` multiple times in the same session on all ranks, and that's when I hit severe locks that couldn't be resolved by themselves, as you saw in

[2019-04-06 23:04] SrivastavaKshitij commented on #308
@jw447 : Did u start an interactive session before running your command ? It looks like your code ran on login node and not on a compute node.

[2019-04-07 11:57] JohnTaylor2000 commented on #983
FYI - There is a version of LARS for Keras located here:-

https://github.com/keras-team/keras-contrib/blob/master/keras_contrib/optimizers/lars.py

although I am unsure whether this can be successfully combined with Horovod. LARC also needs to be added.

[2019-04-08 08:49] gdfishhannah opened #996 "How to run horovod in multiple servers with different ports?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow
2. Framework version:
1.12.0
3. Horovod version:
0.16.1
4. MPI version:
4.0.0
5. CUDA version:
9.0
6. NCCL version:
2.3.7
7. Python version:
3.5
8. OS and version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://gi

[2019-04-08 09:35] zsk423200 commented on #996
i also have the problem, i use yarn to schedule the dockers, and the ports are random, so the port can not be unified.

[2019-04-08 10:25] GabrielLin commented on #70
@alsrgv Sorry for the late reply. I missed the notification. My solution is to install OpenMPI by conda. After that, I have not tried to install OpenMPI from its source code.

[2019-04-08 15:05] dasight commented on #952
Hi @Qiuzhuang , I am totally okay to use horovodrun to directly in command line. But I don't find any extra .so path for Open MPI libraries in paths like /etc/ld.so.conf.d. Is there any extra configuration needed for Spark?

[2019-04-08 15:54] benckx opened #997 "Run a DCGAN on Horovod"
I'm trying to adapt this DCGAN model to run on Horovod:
https://github.com/benckx/DCGAN-tensorflow/blob/run_on_horovod/model.py

I'm getting the following error. It doesn't happen when "hooks" is None or when I comment sampling (```sess.run(self.sampler)```):

[code]

I guess it's related to the fact that since ```d_optim``` and ```g_optim``` are configured to be distributed:

[code]

I can do thi

[2019-04-08 18:51] denfromufa opened #998 "examples/keras_mnist.py has a very weak scaling from 4 GPUs to 8 GPUs"
**Environment:**
1. Framework: IBM PowerAI 1.6, TF 1.13, Keras 2.1.6:

https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/

2. Framework version: which framework?
3. Horovod version: 0.16.1 (master) compiled with DDL
4. MPI version: OpenMPI 3.1.3, spectrum-mpi | 10.02
5. CUDA version: CUDA toolkit 10.1, GPU driver 418
6. NCCL version: 2.4.2
7. Python version: 3.6
8. OS and ve

[2019-04-08 22:14] alsrgv commented on #998
@denfromufa, MNIST is not the model to test scaling on, it's really just a hello world example.  You don't measure compiler performance by checking how fast it can compile `printf("hello, world!")` :-)

A better test would be to run [TF benchmarks](https://github.com/horovod/horovod/blob/master/docs/benchmarks.md).

[2019-04-08 23:50] alsrgv commented on #952
@dasight, we tested Horovod on Spark with Spark distribution that we use internally at Uber, and with a [standalone](https://spark.apache.org/docs/latest/spark-standalone.html) Spark 2.4.0 distribution.  We have not tested enterprise distributions like CDH or HDP.

In order to debug this further and dissect whether the issue is related to Horovod, CDH/HDP, or your environment, is it possible for y

[2019-04-09 00:07] alsrgv commented on #996
@zsk423200, which mechanism do you use to look up port given a hostname or a container name?  One way to do this would be to override `--mca plm_rsh_agent "/path/to/resolver.sh"` where `resolver.sh` would be a script that resolves hostname & port of a given container and calls ssh appropriately.

Additionally, you may want to look at [Horovod in Spark](https://github.com/horovod/horovod/blob/maste

[2019-04-09 00:11] alsrgv commented on #997
@abditag2, could you take a look?

[2019-04-09 00:13] alsrgv commented on #403
@nicolefinnie, is it possible to publish a minimum repro of your problem on a github?

[2019-04-09 00:14] alsrgv commented on #971
@vtczk, libcudnn7, libnccl2 and libnccl-dev can be dropped. It will fall back to CPU allreduce algorithm implemented in MPI, likely ring-allreduce.

[2019-04-09 00:22] alsrgv commented on #982
@GeekyRyan, how large is the dataset you're training your model on?  Is it 224x224x3 images?  Note that K80 can train VGG16 model at about 30-40 images per second (224x224x3).  So with batch 512 it'll take 10-15 seconds per batch, and you'll train `t_steps` batches until you see any output from the training loop.

[2019-04-09 00:22] alsrgv commented on #982
One idea could be to change `t_steps` to `# images / batch size / hvd.size()`.

[2019-04-09 00:28] alsrgv commented on #992
@KimMeen, definitely, if you can install both cards in the same machine you'll have much better performance.

[2019-04-09 00:51] GeekyRyan commented on #982
@alsrgv Hi, we are feeding the model with about 303332 Objects - 7.1 GB, which is 300 thousand of images after preprocessing, and the image size is 128*128*3. Based on your information, since the image size is 3 times smaller, can I assume this model can train roughly 90 images per second? With the total number of images 303332/(90 per sec), it should take about an hour to complete one epoch?

[2019-04-09 01:06] abditag2 commented on #997
@benckx when you use horovod, you need you use `horovodrun` to run your script. horovodrun is a wrapper around mpirun which under the hood performs allreduce and allgather operation for distributed gradient calculation.

Change the following code according to your setup. For example, if you have 4 gpus on one machine, do the following:

[code]

If you have 4 gpus on 4 different machines, use
[code

[2019-04-09 01:21] alsrgv commented on #982
@GeekyRyan, can you try setting `t_steps` to some small known value, e.g. 10, and measure how much time it takes to make 10 steps?

[2019-04-09 01:56] KimMeen commented on #992
Yes indeed, I tried this method and there was no queue anymore in my timeline. Thank you for the help! @alsrgv

Now I close this issue.

[2019-04-09 01:56] #992 closed

[2019-04-09 02:10] GeekyRyan commented on #982
@alsrgv I'll try, also could you answer this question: when using horovod to set up the distributed learning, do I still need to pass workers=#workers, and use_mutilprocessing=true to the fit_generator()? Thank you so much!

[2019-04-09 02:23] Qiuzhuang commented on #952
@dasight I add .so for hadoop when using pyarrow as follows:

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/cloudera/parcels/CDH/lib6

I test this in CDH 5.12/Spark 2.2/CUDA with example keras_spark.rossmann.py.

[2019-04-09 02:31] denfromufa commented on #998
Good to know, let me try this benchmark tomorrow.

I picked the simplest case to make sure that I'm not doing anything wrong.

On Mon, Apr 8, 2019, 5:14 PM Alex Sergeev <notifications@github.com> wrote:

[2019-04-09 02:34] GeekyRyan commented on #982
@alsrgv I was training the dataset on Alexnet, set both number of steps to 10, still hangs. Been 10 minutes now, should I keep on waiting? I'm afraid it's just wasting the money.

[2019-04-09 02:37] GeekyRyan commented on #982
@alsrgv I should draw back the previous comment, it just finished (took 14.27 minutes).

[2019-04-09 02:44] alsrgv commented on #982
@GeekyRyan, `workers` in `fit_generator()` designate the number of preprocessing threads (`use_multiprocessing=False`) or processes (`use_multiprocessing=True`).  You should still use this setting as it may make your data pipeline run faster.

14.27 minutes is a rather large value.  Is 14.27 minutes time between `fit_generator()` start and finish, or it includes some other overhead?  Can you try a

[2019-04-09 02:45] GeekyRyan commented on #982
@alsrgv I did some simple calculation, with 10 steps, it(AlexNet) trained 5120 images in 840 seconds, so it's about 6 images/sec, which is way below the estimated speed (90 images/sec), apart from using dbfs which might impact the io speed, what do you think is the main cause of the speed drop?

[2019-04-09 02:52] GeekyRyan commented on #982
@alsrgv Okay, I'll add them in my call to fit_generator. 14.27 minutes is the total time it took for the clusters to finish tha assigned tasks, it also includes loading the data and some other works, but loading was pretty fast, based on the outputs which should be less than a minute. If you take a look at the output when first step is completed:
[1,1]<stdout>: 1/10 [==>...........................

[2019-04-09 02:54] alsrgv commented on #982
@GeekyRyan, can you try to run it in the cluster without Horovod integration, but using the same settings & data pipeline?

[2019-04-09 02:56] GeekyRyan commented on #982
@alsrgv Sure, I just want to make sure, same data pipeline meaning the same input data?

[2019-04-09 02:57] alsrgv commented on #982
@GeekyRyan, same data, same source, same processing.

[2019-04-09 03:06] dasight commented on #952
@alsrgv Okay. Let me see if I can find some time to do the test under Spark 2.4.x, standalone mode in community edition, today or tomorrow. If it turns out to be distribution specific, I wish we could co-work to fix this.

@Qiuzhuang Hi, I see a little difference between our environment, Spark 2.2 Vs. 2.3. Let me also try Spark 2.2 if I have extra time these days. Two further questions:
* Could yo

[2019-04-09 03:13] GeekyRyan commented on #982
@alsrgv The performance is identical, about 14 minutes of ETA from the first step.

[2019-04-09 03:18] alsrgv commented on #982
@GeekyRyan, got it - I'm guessing something is wrong with the environment then.  @mengxr, can you give guidance?

[2019-04-09 03:21] GeekyRyan commented on #982
![image](https://user-images.githubusercontent.com/23412721/55771052-764cad00-5a54-11e9-9730-403c11fba5b6.png)

@alsrgv I was wondering based on the Horovod framework, do I need more than 2 workers (at least 3), to get the benefits of distributed processing?

[2019-04-09 03:30] alsrgv commented on #982
@GeekyRyan, not necessarily, you can get a benefit even with two workers - but it seems like the first priority should be to figure out why your container environment is slower than your local machine.

[2019-04-09 03:33] Qiuzhuang commented on #952
1. I use CHD community edition 5.12 with spark 2.2 from CDH.
2. pyarrow need hadoop so file libhdfs.so. To be honest, when you just try horovod toy example, you don't need this.

Thanks.

[2019-04-09 03:39] GeekyRyan commented on #982
@ Okay, thanks for the clarification, I tried one more time with passing the workers and use_multiprocessing=True, to the fit_generator(), and it doubled the performance (14.27 minutes down to 6.87 minutes).

[2019-04-09 03:40] alsrgv commented on #982
What's the performance on your local machine?  Can you move your data to faster storage, or precache on local disk / in memory?

[2019-04-09 04:51] GeekyRyan commented on #982
@alsrgv Based on the same settings, the training on my partner's laptop consumed 10 mins, while it was 7.74 mins running on the cloud. We could try to precache the input data on the local disk, but we are afraid it might cost a ton, since the images were stored on AWS S3, it's just going to be a huge number of reading operations.

[2019-04-09 05:15] alsrgv commented on #982
@GeekyRyan, you'd be reading data anyway, once per epoch - if you precache it on disk at least you read it just once in total.  You may implement a bit smarter sharding strategy and only precache 1/Nth of data on each of N hosts.

[2019-04-09 06:21] nicolefinnie commented on #403
Hey @alsrgv Thanks for your suggestion. I can't publish any code yet, I'll let you know when our code becomes publicly available (if we make horovod to work with our code, only makes sense that way).

[2019-04-09 06:27] alsrgv commented on #403
@nicolefinnie, maybe you can modify one of our existing examples in the same way as you modified your code, and reproduce the problem that way?

[2019-04-09 07:40] nicolefinnie commented on #403
@alsrgv  Thanks for your constant support. I really appreciate that.  Is there a large NN in your examples? I only hit the problem with VGG16 when GPU memory of each tower gets stretched out to the limit. I never hit this problem with a smaller neural network, says, 10 conv layers. I didn't use any fancy eager or estimator, just plain tensorflow like this [MNIST example](https://github.com/horovod

[2019-04-09 08:19] benckx commented on #997
I had the same error when running the wrapper.

Le mar. 9 avr. 2019 à 03:06, Fardin abdi <notifications@github.com> a
écrit :

[2019-04-09 09:32] umangkeshri opened #1000 "horovod.spark.run giving error"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Pytorch
2. Framework version: 0.4.1
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: NA
6. NCCL version: NA
7. Python version: 3.6.8
8. OS and version: CentOS 7
9. Spark version: 2.2.1

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you

[2019-04-09 10:59] benckx commented on #997
Thanks for the reply. However I get the same issue when running with the wrapper after a while (in the following log it ran fine during a few steps). I was trying without it for debugging purpose.

I think it has to do with the way the model is designed and ran. The ```sess.run()``` doesn't only run on optimizers but also directly on layer variables (the "sampler"). Is there a wrapper similar to `

[2019-04-09 17:10] abditag2 commented on #997
Do you mind pushing your code into a branch of your repository and sharing with me?

[2019-04-09 17:39] kalyc commented on #70
What version of OpenMPI are you using with Conda @GabrielLin

[2019-04-09 18:01] abditag2 commented on #997
I added horovod to your code and pushed it into: https://github.com/abditag2/DCGAN-tensorflow

Please check it out and let me know how it goes.

[2019-04-09 18:09] kalyc opened #1001 "Horovod 0.16.0 not building with Ubuntu 16.04"
**Environment:**
1. Framework: (TensorFlow 0.13.1)
2. Framework version: 1.13.1
3. Horovod version: 0.16.1 / latest
4. MPI version: Tried with 3.0.2, 3.0.3, 4.0.0
5. CUDA version: 10
6. NCCL version: 2.2.13
7. Python version: 27
8. OS and version: Ubuntu 16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before? https://github.com/horovod/horovod/issues/791

2.

[2019-04-09 19:42] denfromufa commented on #948
The issue still has not been resolved for me from the master branch:

`syntax error near unexpected token `('`

[code]

[2019-04-09 19:44] denfromufa commented on #948
bash version:
[code]

[2019-04-09 20:26] benckx commented on #997
It seems to work, thanks!

It uses the 4 GPU I picked too:

[code]

It looks like ```hvd.broadcast_global_variables(0).run()``` is the part I was missing.

[2019-04-09 21:50] alsrgv commented on #948
@denfromufa, submitted #1002 with a fix. Can you try `pip install --no-cache-dir git+https://github.com/horovod/horovod@expand_bash_re`?

[2019-04-09 22:26] alsrgv commented on #1000
@umangkeshri, does this help?

Timed out waiting for command to run. **Please check that you have enough resources to run all Horovod processes. Each Horovod process runs in a Spark task. You may need to increase the start_timeout parameter to a larger value if your Spark resources are allocated on-demand.**

[2019-04-09 22:27] alsrgv commented on #1001
@kalyc, can you `apt install build-essential`?

[2019-04-10 06:20] gdfishhannah commented on #996
Hi @alsrgv, could you please give some example of the resolver.sh?

[2019-04-10 07:31] benckx commented on #997
Now I wonder whether the sessions are really synchronized. It doesn't look like it's learning 4 times faster. How can I ensure this works?

[2019-04-10 09:26] umangkeshri commented on #1000
@alsrgv yes i increased the timeout parameter but still it's waiting with no response.

[code]

[2019-04-10 14:29] GabrielLin commented on #70
Here is the log when I ran `conda install -c conda-forge mpi4py=3.0.0`
[code]

[2019-04-10 21:03] abditag2 commented on #997
actually, one thing you can try is to increase the learning rate according to the hvd.size() since your effective batch size is larger. I have updated my code for you. Check it out and let me know if it helped.

[2019-04-10 21:20] denfromufa commented on #998
Very good job on TF benchmarks up to 64 GPUs, someone probably has spent lots of effort on tuning it :) Because the batch sizes and learning rates are tough tuning parameters to get right for scaling with accuracy over time and is model dependent.

I was able to run the MNIST toy example up to 16 GPUs but for more GPUs it is game over with the accuracy :)

[2019-04-10 21:20] #998 closed

[2019-04-10 21:31] abditag2 commented on #987
Keep in mind, In general, CPU training is going to be very, very slow compared to GPU training. This isn't anything specific to Horovod, but just due to the cost of running the forward and backwards passes without GPUs.

Any of the examples can run with CPU only. For example, in https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist.py, remove the following lines.

    config.gpu

[2019-04-10 22:23] alsrgv commented on #998
Indeed, I had similar difficulties with large-batch [Fashion MNIST](https://github.com/horovod/tutorials/blob/master/fashion_mnist/README.md).

[2019-04-11 15:07] yamajik opened #1005 "How to build horovod base image with tensorflow-gpu on node without gpu?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch)
2. Framework version: 1.13.1, latest, 1.0.0
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.3.7-1+cuda9.0
7. Python version: 2.7 - 3.6
8. OS and version: nvidia/cuda:9.0-devel-ubuntu16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is

[2019-04-11 15:08] yamajik commented on #1005
Maybe check tensorflow version in another way.

[2019-04-11 18:28] wei-v-wang opened #1006 "How to synchronize after one epoch so that all ranks are having the same trained variables?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow
2. Framework version: TF v1.13.1
3. Horovod version: 0.13.1 & 0.16.1
4. MPI version: OpenMPI 3.0 & Intel MPI
5. CUDA version: NA
6. NCCL version: NA
7. Python version: 2.7.5
8. OS and version: CentOS

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Similar issues to missing ranks (

[2019-04-12 01:17] IgorWilbert opened #1007 "Static website for documentation"
**Is your feature request related to a problem? Please describe.**
Currently, the documentation seems to be present only in `.md` files. A more user friendly way to present it probably would attract more contributors, and in some situations it is easier to search it as a static website.

**Describe the solution you'd like**
I would like to have a place to show the documentation organized in a logi

[2019-04-12 01:20] alsrgv commented on #1005
@yamajik, you can use the same trick that we use in our docker image build (`ldconfig` cuda/stubs): https://github.com/horovod/horovod/blob/master/Dockerfile#L52

[2019-04-12 06:16] Steve8seven opened #1008 "why use epochs/hvd.size()"
I doubt that why use epochs= int(math.ceil(12.0 / hvd.size()))?
What will happen if still use origin epochs?
I thought the epoch was artificially set up.

thinkss~

[2019-04-12 08:01] alsrgv commented on #1007
@IgorWilbert, it's a great suggestion, and something we wanted to do for a while now.  Thanks for volunteering to improve the docs!

After a quick survey, I found Sphinx + ReadTheDocs to be a combination that can be kick-started pretty quickly, similar to what the [Petastorm](https://petastorm.readthedocs.io/en/latest/) project did. I've started kicking tires here - https://horovod.readthedocs.io/

[2019-04-12 08:57] delock opened #1009 "pip install horovod won't install with tensorflow master 2afc6f8862ec04708f166627dd7c9a3d045649b4"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Tensorflow
2. Framework version:
1.13.1: (commit 2afc6f8862ec04708f166627dd7c9a3d045649b4)
3. Horovod version:
pip
4. MPI version:
Intel MPI 2019.1.144
5. CUDA version:
6. NCCL version:
7. Python version:
python 3.6.8
8. OS and version:
CentOS 7.4
**Checklist:**
1. Did you search issues to find if somebody asked this question befor

[2019-04-12 12:02] yamajik commented on #1005
thx

[2019-04-12 12:02] #1005 closed

[2019-04-12 13:44] abhi278 commented on #971
Environment:
1 Docker image : horovod/horovod:latest (checked out on 8 Apr 2019)
2. OS and version: Ubuntu 16.04 on 2 hosts

I am having a similar problem as @vtczk mentioned in the first comment. I am running the horovodrun command from docker container on host A on 2 machines A and B. Following is the command and its output:

`root@A:/examples# horovodrun --verbose -np 2 -H 10.110.43.22:1,10.110

[2019-04-12 16:03] IgorWilbert commented on #1007
After a quick search, I believe Sphinx is probably the best option. [Pycco](https://pycco-docs.github.io/pycco/) looks too basic and [Doxygen](www.doxygen.nl) is not as much specialized. I'll think about what can be done with the mockery. Let me know your thoughts about where in the docs should we begin. Thanks!

[2019-04-13 03:04] jaingaurav commented on #907
@alsrgv: I just landed the new APIs in the TensorFlow repro. Let me know if you need anything further.

[2019-04-13 05:14] alsrgv commented on #1007
PR #1010. Submitted a couple of enhancements to Sphinx as well: https://github.com/sphinx-doc/sphinx/pull/6288, https://github.com/sphinx-doc/sphinx/pull/6289. Hope they get accepted. 🤞

[2019-04-13 06:43] alsrgv commented on #907
@jaingaurav, thanks!  I'll try it out in the next `tf-nightly-2.0` build and let you know.

[2019-04-13 06:58] alsrgv commented on #1009
@delock, it's caused by https://github.com/tensorflow/tensorflow/issues/27697.

[2019-04-13 07:00] alsrgv commented on #1008
@Steve8seven, that particular example makes each epoch bigger because the # of iterations per epoch is not adjusted, and so it converges in fewer epochs.

[2019-04-13 07:38] alsrgv commented on #1007
@IgorWilbert, feel free to start sending PRs.  We could start by fixing API docs, currently they have certain members that should not be public and docstrings are misparsed in certain cases.

Building the docs locally is super easy:
[code]

[2019-04-13 09:40] benckx commented on #997
Thanks for the advice. I'm going to try it now and I'll keep you informed.

[2019-04-13 12:57] chrjxj commented on #789
@crab1234 hey, I got the same issue inside docker: `misc/ibvwrap.cu:63 NCCL WARN Failed to open libibverbs.so[.1]`. would you please help your solution? thanks a lot.

[2019-04-13 14:00] dasight commented on #952
@alsrgv Hi, I tried with Spark 2.3.2 community edition in standalone mode just now. However, the error message is almost the same. Is there any error-prone or special steps when you do the configuration?

Another thing I almost forget to mention is about adding the following configurations in spark-env.sh, and then install both horovod and pyspark 2.3.2 in Miniconda/Python. Shall I install the hor

[2019-04-13 14:17] chrjxj opened #1012 "failed to run example in docker"
#### Goal  ####

use docker and try run example on 2 or 4 GPUs

#### Host Environment ####

- 1 server,  Cent OS,  8 GPUs
-   NVIDIA-SMI 410.73       Driver Version: 410.73       CUDA Version: 10.0
- horovod/horovod  0.16.1-tf1.12.0-torch1.0.0-mxnet1.4.0-py3.5
- start docker contain:

[code]

#### Inside docker  ####

[code]

#### Problem in docker

I tried some commands

- 1st ` horovodrun -np 4

[2019-04-13 19:02] jaingaurav commented on #907
Great! Note you can also use the 1.x nightly as the symbols are present in v1 as well. They should work both for v1 sessions and v1/v2 eager mode.

[2019-04-14 00:56] IgorWilbert commented on #1007
Thanks @alsrgv ! However, I have an issue. At the moment I am forced to use Windows OS, which does not come with the 'make' or 'open' commands. I have looked for [some ways](https://stackoverflow.com/questions/32127524/how-to-install-and-use-make-in-windows/54086635) to overcome it, but if you could provide me a Windows equivalent for starting the documentation without installing anything else I w

[2019-04-14 08:11] alsrgv commented on #1007
@IgorWilbert, can you try going [this route](https://docs.microsoft.com/en-us/windows/wsl/install-win10)?

[2019-04-14 10:43] benckx commented on #997
I don't think this helps. It doesn't look like it's learning 4x faster with Horovod. I think I'll have to do more digging. Here are some time lapses of the learning:

Without Horovod: https://youtu.be/NpGswYU9HQw
With Horovod (and higher learning rate): https://youtu.be/xFlhmFOdrcc

[2019-04-14 12:54] chrjxj commented on #1012
I tried another GPU server, and the follow command seems working.

[code]

the main difference I noticed in the recent experiment:

[code]
and "mount" GPU 0-3 to docker container.

[code]

[2019-04-14 21:45] IgorWilbert commented on #1007
@alsrgv thanks, but like I said, I'd rather not to because I would have to install Linux OS on top of Windows OS. I had similar issues with baseui documetation and [a few changes](https://github.com/uber-web/baseui/pull/1134/files) in config files was enough to fix [it](https://github.com/uber-web/baseui/issues/1111). Isn't it the same case here? If not, I'll do what you suggested, thanks!

[2019-04-15 06:00] alsrgv commented on #997
Based on https://medium.com/@tayyipgoren/keras-optimizers-comparison-on-gan-b8b98c3d8645, could be interesting to try various optimizers.

[2019-04-15 06:04] alsrgv commented on #1007
@IgorWilbert, assuming you have Python 3.x & Pip installed, you may be able to do:
[code]

[2019-04-15 08:13] YangSN0719 commented on #1001
(glow) [410@mu01 openmpi-4.0.1]$ pip install horovod==0.13.8
Collecting horovod==0.13.8
  Using cached https://files.pythonhosted.org/packages/43/48/6bf4a5f04caf75da04c5d5e99a14677c40eae4e8b0608e5906c4f4049229/horovod-0.13.8.tar.gz
Requirement already satisfied: cffi>=1.4.0 in /home/410/anaconda3/lib/python3.6/site-packages (from horovod==0.13.8) (1.11.5)
Requirement already satisfied: pycparser i

[2019-04-15 11:38] IgorWilbert commented on #1007
Thanks! In fact, the following worked:
`$ cd docs
$ pip install -r requirements.txt
$ make clean && make html
$ start _build/html/index.html`

[2019-04-15 12:41] petkovacs19 commented on #789
Can you share how you solved the problem?

[2019-04-15 12:42] petkovacs19 commented on #789
@crab1234 Can you share how you solved the problem please?

[2019-04-15 19:01] sufengniu opened #1015 "Failed to import horovod.tensorflow"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.12.0
3. Horovod version: 1.16
4. MPI version: 4.0.0
5. CUDA version: 9.2
6. NCCL version: 2.4.2
7. Python version: 3.6
8. OS and version:

**Your question:**
I follow the [gpu installation](https://github.com/horovod/horovod/blob/master/docs/gpus.md), and successfully install the horovod. then when I open ipython and execute
`import

[2019-04-15 19:10] abditag2 commented on #1015
have you installed CUDA? and if you have, have you added these env variables?

    export PATH=$PATH:/usr/local/cuda/bin
    export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda/lib64

Make sure that those paths are set according to your local setup.

[2019-04-15 20:08] sufengniu commented on #1015
@abditag2  Thank you for your information, I have installed CUDA and I have checked the LD_LIBRARY_PATH and also PATH, that cuda is shown inside it. I think according to the error, for some reasons, the horovod requires cuda 5.5, where mine is cuda 9.2

[2019-04-15 20:19] abditag2 commented on #1015
This might resolve your issue: https://github.com/horovod/horovod/blob/420104b7df80e43e6ee8d615bb3822a3ba6eeddb/docs/troubleshooting.md#libcudartsoxy-cannot-open-shared-object-file-no-such-file-or-directory

[2019-04-15 20:27] sufengniu commented on #1015
Thanks a lot! it works, I need to explicitly define the CUDA library path. Thank you

[2019-04-15 20:27] #1015 closed

[2019-04-15 23:51] abditag2 commented on #1012
Just curious, have you tried mounting GPU 0-3 in your first example and see what happens?

[2019-04-16 00:54] crab1234 commented on #789
@chrjxj @petkovacs19
Actually I just made a small problem.
In command line, before "NCCL_SOCKET_IFNAME=" I forgot to add "-X"
I add -X and it works well.

this is my new script:
mpirun -np 16 -H 3.10.11.8:8,3.10.22.8:8 -bind-to none -map-by slot \
    --output-filename /share/logs_resnet50 \
    -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH \
    -mca btl_tcp_if_exclude docker0,lo -x NCCL_SOCKET_I

[2019-04-16 12:38] lakshmiumenon opened #1016 "AttributeError: module 'horovod.mxnet' has no attribute 'DistributedTrainer'(mxnet_mnist.py)"
**Environment:**
1. Framework: (MXNet)
2. Framework version:1.5.0
3. Horovod version:0.16.1
4. MPI version:OpenMPI 3.1.3
5. CUDA version:
6. NCCL version:
7. Python version:3.7.3
8. OS and version:Ubuntu 18.04

Hi,
  When I tried to run the mxnet_mnist.py I am getting the following error:
AttributeError: module 'horovod.mxnet' has no attribute 'DistributedTrainer'
PMIX ERROR: NO-PERMISSIONS in fil

[2019-04-16 22:26] abditag2 commented on #997
Let us know how it goes.

[2019-04-16 22:33] abditag2 commented on #1016
what flags did you use for installing mxnet?
You will need these flags
HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_WITH_MXNET=1 pip install horovod

If you are using GPU, make sure to follow this doc: https://github.com/horovod/horovod/blob/master/docs/gpus.md

[2019-04-16 22:43] abditag2 commented on #1001
@YangSN0719 you would need to install tensorflow or pytorch in order to use horovod.

[2019-04-17 04:22] lakshmiumenon commented on #1016
I am not using GPU.

I have used the following command to install horovod:
HOROVOD_WITH_MXNET=1 pip install -v --no-cache-dir horovod

[2019-04-17 06:04] grimreaper94 commented on #948
Hi, I get this following error.
`Could not find a tag or branch 'expand_bash_re', assuming commit.`

Is this workaround still working?

[2019-04-17 06:59] grimreaper94 opened #1017 "Exception: Illegal host hash provided. Are you using Open MPI 4.0.0+?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version: PyTorch
3. Horovod version: 0.16
4. MPI version: 4.8.5
5. CUDA version: None
6. NCCL version: Dont know
7. Python version: 2.7
8. OS and version: CentOS 8

**My question:**
`mpicxx --version` gives me
g++ (GCC) 4.8.5 20150623 (Red Hat 4.8.5-36)
Am I looking at the GCC version here? If yes, how do know which MP

[2019-04-17 07:15] grimreaper94 commented on #1017
I was able to figure the MPI version, its 1.10. Will close this issue for now.

[2019-04-17 07:15] #1017 closed

[2019-04-17 19:35] utke1 commented on #405
I am currently in a similar situation with TF 1.13.1 cross compiled to support AVX2 and other instructions for a target hardware that is different from the build hardware (where I build my docker images)  and this works fine for TF itself but then the install for horovod 0.16.1 fails with ```tensorflow/core/platform/cpu_feature_guard.cc:37] The TensorFlow library was compiled to use AVX2 instructi

[2019-04-18 07:19] YouhuiBai opened #1018 "segmentation fault when run horovod with mxnet"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.5.0b20190314
3. Horovod version: 0.16.1
4. MPI version: openmpi 3.1.2
5. CUDA version: 9.2
6. NCCL version: 2.3.7
7. Python version: 3.6.6
8. OS and version: centos 7.5
9. GCC version: 5.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
    Yes
2. If your question is about hang, did you read [th

[2019-04-18 15:14] vtczk opened #1019 "Spark with Horovod Docker"
**Environment:**
1 Docker image : horovod/horovod:0.16.1-tf1.12.0-torch1.0.0-mxnet1.4.0-py3.5
2. OS and version: Ubuntu 18.04.2 both hosts
3. Spark 2.4.1

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.md)?
3. If your question is about dock

[2019-04-18 16:20] denfromufa commented on #907
@jaingaurav you are also working on Horovod support for TPUs with TF?

[2019-04-18 19:16] jaingaurav commented on #907
@denfromufa: I wouldn't know much about that. Seems like a separate issue.

[2019-04-18 22:13] jkbradley commented on #982
I'm not sure if this is related, but I recently it a strange issue in a similar setting:
* Running Horovod via HorovodRunner in Databricks
* Using Keras (not tensorflow.keras)
* Horovod hangs at `[1,0]: ... [0] INFO Launch mode Parallel`
* When I cancel the Horovod Spark job and restart it, it runs quickly.

@GeekyRyan Do you find this same behavior, where re-running the workload (without restarti

[2019-04-19 00:17] YouhuiBai commented on #1018
The mxnet-cu92 is compiled by gcc 4.8, I upgrade gcc to 5.4 after running horovod+mxnet successfully, so there were errors when reinstalling mxnet and horovod later. Just recompiling the mxnet from latest source code and install by `pip3 install -e .` can solve this problem.

[2019-04-19 00:17] #1018 closed

[2019-04-19 05:09] #884 closed

[2019-04-19 15:31] yuxihu commented on #884
The fixes have been merged into MXNet and Horovod. Users can now use MXNet nightly build and Horovod master branch to avoid the GCC incompatibility issue.

[2019-04-19 16:45] michaelkyu commented on #656
I'm also getting the same error. Any ideas? Thanks!

My environment:

[code]

My install setup:

[code]

Error message:

[code]

However, this '.so' file does exist

[code]

Output of `conda list`

[code]

[2019-04-19 20:06] Laurisjj opened #1020 "Error: Horovod has been shut down."
**Environment:**
1. Framework: TensorFlow
2. Framework version:1.13.1
3. Horovod version:0.16.1
4. MPI version:4.0.0
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version:3.6.7
8. OS and version: Ubuntu 18.04

**Your question:**
What might be the reason I receive these errors when I run training using mpirun on multiple hosts? Training executes fine when using only a single instance, but fai

[2019-04-21 15:28] WarBean commented on #1016
@lakshmiumenon After checking the source code, I found the latest release version (0.16.1) doesn't contain `horovod.mxnet.DistributedTrainer` at all. Looks like the example code is only compatible with the master branch. Installing horovod from the latest source code rather than pip may fix the issue.

[2019-04-23 03:26] ankurhanda commented on #907
@jaingaurav do you have an example of using horovod with tf-2.0? thank you.

[2019-04-23 04:33] alsrgv commented on #907
@ankurhanda, there's no example yet, but we will publish one before 2.0 is released.

[2019-04-23 04:42] ankurhanda commented on #907
this seems close to what tf-2.0 is doing? https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist_eager.py

[2019-04-23 04:43] alsrgv commented on #1020
@LaurisJ, could you create a [gist](https://gist.github.com) with the full error log?  The real issue is displayed before the `Horovod has been shut down` message.

[2019-04-23 04:48] alsrgv commented on #907
@ankurhanda, it is very close, but, unfortunately, will not work out of the box - we need to modify APIs used in both this example and internally in the Horovod to be TF 2.0 friendly.

We should have an early example and fixes in Horovod ready within a couple of weeks.

[2019-04-23 04:49] alsrgv commented on #656
@michaelkyu, can you try to reinstall Horovod using `[flags] pip install --no-cache-dir horovod`?

[2019-04-23 04:54] alsrgv commented on #1019
@vtczk, is there any output before or after the exception `: org.apache.spark.SparkException: Job 0 cancelled part of cancelled job group horovod.spark.run.0`?

[2019-04-23 04:57] alsrgv commented on #948
@grimreaper94, the fix is now available in master. You can install it using `pip install --no-cache-dir git+https://github.com/horovod/horovod`

[2019-04-23 04:59] ankurhanda commented on #907
OK --- thank you! I will check back in a few weeks. Interestingly this example is a good balance between previous tensorflow and tf-2.0 because the creating a model is same.

[2019-04-23 05:00] alsrgv commented on #907
Thanks for the feedback - we'll try to keep it as close to that example as possible :-)

[2019-04-23 05:01] alsrgv commented on #1009
@delock, can you try again with a newer `tf-nightly`?

[2019-04-23 05:03] alsrgv commented on #1007
@IgorWilbert, great!  Yes, I believe that you have to rerun make to have Sphinx rebuild html pages.  Looking forward to PRs from you.

[2019-04-23 07:45] sudhagar2k5 opened #1021 "horovodrun throws error"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): tensorflow
2. Framework version:1.13.1
3. Horovod version:--
4. MPI version: ---  openmpi-4.0.1
5. CUDA version: CUDA 9.0
6. NCCL version: nccl-repo-ubuntu1604-2.4.2-ga-cuda9.0_1-1_amd64
7. Python version: 3.5.2
8. OS and version: ubuntu 16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?

[2019-04-23 08:59] deargqy opened #1022 "Timeline.json is too large to be loaded in Chrome"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.13.1
3. Horovod version:0.16.1
4. MPI version:4.0.0
5. CUDA version:9.0
6. NCCL version:2.3.7-1
7. Python version:3.6.7
8. OS and version:16.04

**Your question:**
I used Tensorflow + Horovod to train the imagenet with 4 GPU and I found the timeline I saved for 1 epoch is too large to be loaded in

[2019-04-23 09:38] delock commented on #1009
works with TF commit f0fba04cd274e7ffa24ab8e49f888ef6974e6f7a, close.

[2019-04-23 09:38] #1009 closed

[2019-04-23 12:31] HydrogenQAQ commented on #693
@tgaddair Hey, when i use 16 GPUs(two nodes), If i using fp16 compression, images/secs ≈ 4534,  but there has 344 images/secs in 1 GPU, the speedup is too slow. When i do not use hvd.DistributedOptimizer(no sync), there has 5500 images/secs。

machine configuration:
Python: python3.6
pytorch: 1.0.0
horovod: 0.16.0

code: pytorch resnet50 example

mpirun -np 16 --bind-to socket -x LD_LIBRARY_PATH -x

[2019-04-23 14:03] echan00 commented on #953
Does horovod band together memory from all the GPUs? Or is it mainly just multi-GPU distributed training?

[2019-04-23 14:27] sudhagar2k5 opened #1023 "how to monitor the job execution?"
how to monitor the job progress in each node after submitting the job?
Hrorovod required Slurm?

[2019-04-23 18:53] alsrgv commented on #1023
@sudhagar2k5, you can just write job progress on stdout, and mpirun will collect the output of all nodes to the node running mpirun.

[2019-04-23 18:55] alsrgv commented on #1022
@deargqy, can you terminate your training after a few dozens of iterations?  You can also edit timeline and truncate it at 1% or 10% depending on the total size.

[2019-04-23 20:27] sudhagar2k5 commented on #1023
We run multiple jobs from different users. So we may need to monitor the
progress. Can we use any resource alocator for this purpose?

On Wed, 24 Apr, 2019, 12:23 AM Alex Sergeev, <notifications@github.com>
wrote:

[2019-04-23 21:04] jackdmarquez commented on #133
Could you solve it? I have the same problem but still not working

[2019-04-23 21:35] alsrgv commented on #1023
@sudhagar2k5, sure - you can use Slurm, Kubernetes, or Spark clusters to run Horovod jobs.

[2019-04-23 22:17] alsrgv commented on #133
@shellhue, @jackdmarquez, can you make sure you have the same version of Open MPI >= 4.0.0 installed on all the machines?  You can install it using [this approach](https://github.com/horovod/horovod/blob/master/Dockerfile#L40).

[2019-04-23 23:11] alsrgv commented on #953
@echan00, it's for multi-GPU distributed training.

[2019-04-23 23:14] alsrgv commented on #693
@HydrogenQAQ, what kind of NICs do you use for your training?  What kind of performance do you get without fp16 compression?  Can you share the output of NCCL debug messages?

[2019-04-23 23:14] alsrgv commented on #1021
@sudhagar2k5, do you have Open MPI 4.0.0+ installed on `hostname`?

[2019-04-23 23:18] alsrgv commented on #952
@dasight, I just realized you're using Open MPI 3.1.2.  I bet you're hitting the bug #504.  Can you try upgrading the system to 4.0.0+?

[2019-04-23 23:41] alsrgv commented on #971
@abhi278, could you reinstall Horovod from master and execute `horovodrun` with `--verbose 2`?

[2019-04-23 23:43] alsrgv commented on #1006
@wei-v-wang, sorry for the delayed response.  One simple way is to use `hvd.broadcast_global_variables(0)` operation at the end of the epoch, [like this](https://github.com/horovod/horovod/blob/master/examples/tensorflow_word2vec.py#L199).

[2019-04-24 00:18] wei-v-wang commented on #1006
Thanks @alsrgv! I will give it a try.
The RN50 training algorithm seems to be only concerned with synchronizing (allreduce) gradients, so having different trained weights for each worker might be the expected behaviour during a multi-node training. It's just that without a explicit barrier, horovod produced warnings like "missing ranks.....", but RN50 still converged in the end. I read from anothe

[2019-04-24 01:22] alsrgv commented on #1000
@umangkeshri, I wasn't able to reproduce this issue in a `centos:7` docker container.  Are you able to reproduce it in docker?  If yes, could you publish a Dockerfile or a docker image on the Docker Hub?

[2019-04-24 01:48] alsrgv commented on #1006
@wei-v-wang, yes - missing ranks just indicates inefficient usage of resources, but does not indicate any numerical issues.

[2019-04-24 02:03] alsrgv commented on #996
@gdfishhannah, apologies for the delay.  Here's an example:
[code]

[2019-04-24 02:05] dasight commented on #952
Thanks @alsrgv . Let me go through #504 and try OpenMPI 4.0.0+ first.

Thanks.

[2019-04-24 03:55] wei-v-wang commented on #1006
Ok, thanks Alex @alsrgv for the assurance. I think this issue can be closed now. I created this issue mainly for getting an answer for the above missing rank question, which just got answered. Thank you!

[2019-04-24 03:55] #1006 closed

[2019-04-24 04:07] sudhagar2k5 commented on #1023
We are plan to use slurm. But  I need distribute a single job on multi node
how can I do this?

On Wed, 24 Apr, 2019, 3:05 AM Alex Sergeev, <notifications@github.com>
wrote:

[2019-04-24 05:24] alsrgv commented on #1023
@sudhagar2k5, Slurm is able to allocate resources from multiple nodes for a single job.

[2019-04-24 05:29] sudhagar2k5 commented on #1023
do you have any simple example? for this setup.

[2019-04-24 05:32] sudhagar2k5 opened #1025 "Storing the final model"
iam using keras_mnist_advanced.py example. Executing it in two nodes, so i have number of checkpoint files in both workers. Now i want to export a single model file? how can i do this in keras? any sample code ?

[2019-04-24 08:29] deargqy commented on #1022
Thanks for your reply.

May I ask how can I truncate the timeline file? Do I need to truncate the file by certain rules or just do it according to the size?

[2019-04-24 10:13] mathppp opened #1026 "Install Horovod with pytorch 1.0.1 failed"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.0.1.post2
3. Horovod version: 0.16.1
4. MPI version: 3.1.4rc1
5. CUDA version: 10.0
6. NCCL version: 2.3.7
7. Python version: 3.5.2
8. OS and version: ubuntu 16.04.5 LST

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/

[2019-04-24 18:06] vtczk commented on #1019
@alsrgv this error keeps occuring.Latest example with full log was

[code]

About the first error with dataset download, i've checked that all workers didnt have .keras folder before launching spark submit.
And still having previously mentioned error with py4j

[2019-04-25 13:05] mdztravelling opened #1027 "which communications library select （Openmpi or nccl2） when run horovod ？"
**Environment:**
1. Framework:  PyTorch
2. Framework version: 0.4.1
3. Horovod version: 0.16.0
4. MPI version:  3.1.1
5. CUDA version: 8.0
6. NCCL version: 2.2.12
7. Python version: 2.7.14
8. OS and version: CentOS release 6.3
GPU:  P40

Horovod is great work!
My question is which communications library（Openmpi or nccl2） select  when run horovod ？which one performing is better or more efficient?
w

[2019-04-25 17:05] jtchilders opened #1028 "pip installation fails with Tensorflow 1.13.1"
**Environment:**
1. Framework: TensorFlow
2. Framework version: TF = 1.13.1
3. Horovod version: 0.16.1
4. MPI version: MPICH 3.3
5. CUDA version: X
6. NCCL version: X
7. Python version: 3.7
8. OS and version: centos7

My goal is to have Tensorflow 1.13.1 + Horovod 0.16.1 running for an Intel KNL supercomputer.

I am building inside a Singularity container so my complete installation instructions c

[2019-04-25 17:39] anishagartia commented on #431
I faced the same problem with `gcc 4.8.5` on a `CentOS 7.6`.
The libraries `openmpi 3.0` and `intel-tensorflow 1.13.1` are installed using conda.

Thanks to @nicolefinnie's note and [Intel's paper](https://www.intel.ai/ai/wp-content/uploads/sites/69/Intel_Xeon_HPC_AI_TensorFlow_Scaleout_Package_V_Saletore_AIPG_v0.85_04302018.pdf), I resolved it by ensuring GCC was consistent throughout.

installin

[2019-04-26 07:24] #740 closed

[2019-04-26 08:09] lakshmiumenon commented on #1016
Could you please provide any reference for building horovod from source for mxnet?

[2019-04-26 15:37] abditag2 commented on #1027
If you are using GPUs, NCCL is usually going to get you a better performance. Multiple GPUs on the single node will perform faster than multiple GPUs across the network. However, if you need more GPUs than what is available on one machine, you will need to use multiple GPUs over the network.

@alsrgv can talk about TCP vs IB.

[2019-04-26 15:44] abditag2 commented on #1025
Exporting the model is the same way with or without Horovod. Search on Google for how to export a model using Keras and add that to your code. Both nodes will save their copy of model into their machines and those copies will be exactly identical. You can get the model from any of them.

[2019-04-26 15:47] abditag2 commented on #1028
Check this https://github.com/horovod/horovod/issues/431

[2019-04-26 16:15] jtchilders commented on #1028
From what I can tell on that thread, they are discussing compiler mismatch issues between the tensorflow wheel and the local build of horovod. This is related to symbol naming differences between versions of GCC earlier/later than 5.1.

I am using gcc 8.2 in the container. I would presume if Intel was using GCC 5.1+ to build tensorflow 1.9, then they would also be using GCC 5.1+ for tensorflow 1.1

[2019-04-26 16:34] ppwwyyxx commented on #1028
`print(tf.COMPILER_VERSION)`

[2019-04-26 17:21] vbvg2008 opened #1029 "How to suppress Read -1 stderr error when using horovodrun"
Whenever I am using horovodrun on multi-gpu system, I get lots of stderr message like:
`
[1,0]<stderr>:[939debe34dff:00468] Read -1, expected 6441, errno = 1
`
1. what is the root cause of this message? does it from MPI or Horovod?

2. Is there a way to disable these messages when calling horovodrun?  I know #503 offers a workaround, but I am just wondering if it can be done on the horovod API its

[2019-04-27 01:42] alsrgv commented on #656
@michaelkyu, @Aki57, I've been able to repro this internally and found a solution.

[code]

The root cause of the issue is that Conda's TensorFlow is built with GCC 5+, while on the system you have GCC 4.x.  This solution upgrades GCC inside Anaconda to 7.2.0.

[2019-04-27 07:20] nicolefinnie commented on #656
@alsrgv  thanks for reproducing this problem yourself, the misleading information was that the tensorflow doc states that the official tensorflow package is built with GCC4 ( [source](https://www.tensorflow.org/install/source) ) which is misleading, most people get the prebuilt tensorflow version from `conda` and that is apparently built using `GCC 5` and that causes the mismatched mangled symbol

[2019-04-29 03:57] haif-liu commented on #951
I also meet this problem and the version of openmpi is 4.0.0.

horovodrun -np 1 -H localhost:1 python test.py

ssh: Could not resolve hostname localhost:1: Temporary failure in name resolution
--------------------------------------------------------------------------
ORTE was unable to reliably start one or more daemons.
This usually is caused by:

* not finding the required libraries and/or binar

[2019-04-29 04:05] haif-liu opened #1032 "Could not resolve hostname"
the version of openmpi is 4.0.0.

horovodrun -np 1 -H localhost:1 python test.py

ssh: Could not resolve hostname localhost:1: Temporary failure in name resolution
ORTE was unable to reliably start one or more daemons.
This usually is caused by:

not finding the required libraries and/or binaries on
one or more nodes. Please check your PATH and LD_LIBRARY_PATH
settings, or configure OMPI with --en

[2019-04-29 04:19] haif-liu opened #1033 "error: pip install --no-cache-dir horovod"
ERROR: Complete output from command /root/anaconda3/envs/....../bin/python -u -c 'import setuptools, tokenize;__file__='"'"'/tmp/pip-install-oupijrb7/horovod/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d /tmp/pip-wheel-hak6d9us --python-tag cp36:
ERROR: ru

[2019-04-29 06:30] haif-liu opened #1034 "error: import horovod.tensorflow"
import horovod.tensorflow
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/root/anaconda3/lib/python3.6/site-packages/horovod/tensorflow/__init__.py", line 35, in <module>
    check_extension('horovod.tensorflow', 'HOROVOD_WITH_TENSORFLOW', __file__, 'mpi_lib')
  File "/root/anaconda3/lib/python3.6/site-packages/horovod/common/__init__.py", line 48, in check_extens

[2019-04-29 13:08] jtchilders commented on #1028
Thanks,

so it appears the intel tensorflow 1.13.1 build was done using GCC 5.4.0

I switch my container build to install Devtoolset-4 (GCC 5.3.1) and I still get the same `undefined reference` error. I can't believe that 5.4 and 5.3.1 are so different that their libraries are not compatible, but perhaps I'm naive.

[2019-04-29 22:55] alsrgv commented on #1033
@haif-liu, can you share full installation log?

[2019-04-29 22:56] alsrgv commented on #1034
@haif-liu, can you install Horovod with `HOROVOD_WITH_TENSORFLOW=1` and share the full installation log, as the error message requests?

[2019-04-29 22:57] alsrgv commented on #951
@haif-liu, let's follow up in #1032

[2019-04-29 22:58] alsrgv commented on #1032
@haif-liu, were you able to resolve this issue?  If not, can you do `find /usr | grep mpirun` to see if you have multiple versions of MPI installed?

[2019-04-29 23:14] alsrgv commented on #1028
@jtchilders, we recently discovered in #656 that `conda install gcc_linux-64 gxx_linux-64` can bring in GCC-7 into the conda environment and resolve this issue. Could you give it a shot?

[2019-04-30 01:38] haif-liu commented on #1032
command: find /usr | grep mpirun

/usr/share/man/man1/mpirun.1.gz
/usr/share/man/man1/mpirun.openmpi.1.gz
/usr/lib/openmpi/include/openmpi/ompi/runtime/mpiruntime.h
/usr/bin/mpirun.openmpi
/usr/bin/mpirun

[2019-04-30 02:04] alsrgv commented on #1032
@haif-liu, and what's the output of `mpirun --version`?

[2019-04-30 06:57] alsrgv commented on #1029
@vbvg2008, are you running in Docker containers by any chance?  If so, our [Docker docs](https://github.com/horovod/horovod/blob/master/docs/docker.md#running-on-a-single-machine) suggest running in the privileged mode.

[2019-04-30 06:58] alsrgv commented on #1023
@sudhagar2k5, no - we don't have Slurm set up, but I assume any Slurm reference guide should work.

[2019-04-30 06:59] alsrgv commented on #1022
@deargqy, you can truncate on a line break after a certain size.

[2019-04-30 07:02] alsrgv commented on #1016
@lakshmiumenon, in your normal steps just replace `[flags] pip install --no-cache-dir horovod` with `[flags] pip install --no-cache-dir git+https://github.com/horovod/horovod`

[2019-04-30 07:05] alsrgv commented on #1026
@mathppp, can you add `HOROVOD_WITH_PYTORCH=1` to your installation flags, reinstall & share the full installation log?

[2019-04-30 07:11] alsrgv commented on #1019
@vtczk, it looks like every worker tries to download CIFAR10 at the same time, and they all try to create the same directory `/root/.keras/datasets`.  One workaround I can think of is to download this dataset during your Docker build, e.g. like this: https://github.com/horovod/horovod/blob/master/Dockerfile.test.cpu#L66.  Replace `mnist` with `cifar10`.

This is another suspicious issue:
[code]

D

[2019-04-30 08:27] lakshmiumenon commented on #1016
@alsrgv  Thank you..Will tryout to build horovod from source.

[2019-04-30 10:29] zhanglistar opened #1036 "Horovod on multi-GPUs of single machine is slow than single GPU"
**Environment:**
1. Framework: TensorFlow
2. Framework version:  1.13.1
3. Horovod version:  0.16.1
4. MPI version: (Open MPI) 4.0.0
5. CUDA version: 10.0.130
6. NCCL version:2.3.7
7. Python version: 3.6.7
8. OS and version:18.04.2

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
yes
2. If your question is about hang, did you read [this doc](https://github.c

[2019-04-30 11:15] zhanglistar commented on #1036
Here is time on single gpu:
[1,0]<stderr>:2019-04-30 11:13:56,221 - train - INFO - Updates: 200, Loss: 0.5591733747720719, Duration: 5.415455
Here is time on 2 gpu of same machine:
[1,0]<stderr>:2019-04-30 11:13:11,772 - train - INFO - Updates: 1600, Loss: nan, Duration: 18.929318

[2019-04-30 13:20] XuesongYang opened #1037 "what is the order of processes used in hvd.allgather()?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.12
3. Horovod version: 0.16.1
4. MPI version: 3.1.0
5. CUDA version: 9.0
6. NCCL version: 2.2.13
7. Python version: 3.6.6
8. OS and version: rhel fedora 2018.03

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc] (https://github.com/h

[2019-04-30 16:10] vbvg2008 commented on #1029
@alsrgv Thanks for the reply, by any chance you know the cause of that error message?

[2019-04-30 17:15] LeavesLei opened #1038 "How to run horovod script on SLURM"
My horovod program can run successfully on single machine with multiple GPUs. But when I want to run it on cluster with SLURM, which reported a error. I have tow computing nodes and each of them has 4 GPUs. I want to use both of two nodes.
My script is as below:
[code]
The error is as below:
[code]

[2019-04-30 21:01] alsrgv commented on #1037
@XuesongYang, they should be ordered by ranks.  Please let us know if you find that it's not the case.

[2019-04-30 21:04] XuesongYang commented on #1037
Thanks. My tests showed that it is ordered by ranks, but just confirmed.

[2019-04-30 23:13] kit1980 opened #1039 "Errors when building in development mode"
When I try to build horovod in development mode (using `python setup.py develop` or `pip install -e`) with `HOROVOD_WITHOUT_TENSORFLOW=1`, I get this error:

`error: can't copy 'build/lib.linux-x86_64-3.6/horovod/tensorflow/mpi_lib.cpython-36m-x86_64-linux-gnu.so': doesn't exist or not a regular file`

It looks like `python setup.py develop` tries to install everything from the `ext_modules` (and

[2019-05-01 04:22] ddkang opened #1040 "FORCE-TERMINATE AT Data unpack would read past end of buffer:-26 - error grpcomm_direct.c"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.0.1.post2
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: Cuda compilation tools, release 9.0, V9.0.176
6. NCCL version: N/A
7. Python version: 3.5.2
8. OS and version: Ubuntu 16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?

Yes, but there was no resolution: https://githu

[2019-05-01 07:44] #1037 closed

[2019-05-01 07:53] XuesongYang opened #1041 "how to allgather tf.string tensors"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.12
3. Horovod version: 0.16.1
4. MPI version: 3.1.0
5. CUDA version: 9.0
6. NCCL version: 2.2.13
7. Python version: 3.6.6
8. OS and version: rhel fedora 2018.03

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/ho

[2019-05-02 01:33] robotoil commented on #511
I solved this issue but removing "write_grads=True" from my tensorboard callback.

[2019-05-02 09:31] jarunan opened #1042 "MPIRUN cannot map slots"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13.1 (installed from source)
3. Horovod version: 0.16.1
4. MPI version: 4.0.1
5. CUDA version: 10.0.130
6. NCCL version: 2.3.7-1
7. Python version: 3.7.1
8. OS and version: CentOS 7.5.1804

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes, but I could not find answer for my question.
2. If

[2019-05-02 14:58] jarunan commented on #1042
Update: The problem came from the inconsistency of affinity handling by LSF batch system. Therefore,  unset LSB_AFFINITY_HOSTFILE solved the issue in this case.

Best regards,
Jarunan

[2019-05-02 14:58] #1042 closed

[2019-05-02 16:14] abditag2 commented on #1041
Maybe you could try to convert your tensors from string to bytes and then vice versa after allgather?
https://www.tensorflow.org/api_docs/python/tf/compat/as_bytes

[2019-05-02 16:18] abditag2 commented on #1040
It does seem that your MPI configuration has some issue. Take a look at this and let me know if it provides any help: https://github.com/open-mpi/ompi/issues/4437

[2019-05-02 17:59] abditag2 commented on #1036
Have you installed NCCL? If so, make sure you have enabled peer 2 peer and shared memory flags.

[2019-05-02 18:33] jtchilders commented on #1028
OK, after some additions, I arrived at [this recipe](https://github.com/jtchilders/singularity_image_recipes/blob/master/Singularity.mcnda040512_gcc7_py36)

This Conda install of the GCC 7, did solve the dependency problem. I don't understand why this is so particular and why GCC 8 did not work. It would be useful to understand that.

[2019-05-02 21:45] ddkang commented on #1040
I am not using `hwloc`, I didn't see other solutions?

[2019-05-02 23:31] ktamiola opened #1045 "horovodrun: command not found"
Ladies and gentlemen.

This one is very simple. I have just installed version `0.16.1`. All looked fine. No compilation issues. I was also able to launch Keras demos in single GPU mode.

However, it seems `horovodrun` was not bundled with my installation. Are you also missing `horovodrun` in `0.16.1` ?

My system Ubuntu `18.04.1` with Python `2.7.15rc1`.

[2019-05-02 23:37] abditag2 commented on #1045
No, horovodrun should come with version 0.16.1. Did you install using pip? If you are using virtual environment, check your `<path to venv>/bin/`.
Check `find /usr/local/bin | grep horovod*` as well.

[2019-05-02 23:39] ktamiola commented on #1045
Cheers. I have installed using `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod`.

It seems `horovod` is nowhere to be found.

[2019-05-02 23:41] abditag2 commented on #1045
are you using a virtual environment?

[2019-05-02 23:41] ktamiola commented on #1045
I am not using virtual environment. For the record.

[2019-05-03 01:33] kit1980 opened #1046 "How to run unit tests"
Could you advice me how to properly run unit tests from horovod/test/?

For now I just use something like `python -m -v unittest test_torch.py`
Is this a correct way?
How do I specify GPU/CPU, number of workers, etc?

[2019-05-03 05:39] abditag2 commented on #1046
Horovod has unit tests for all frameworks you can run from the tests
directory:

cd /horovod/test && (echo test_*.py | xargs -n 1
JAVA_HOME=/Library/Java/JavaVirtualMachines/openjdk-10.0.2.jdk/Contents/Home
mpirun -np 2 pytest -v --capture=no)

Note: You will need the lates pyspark and Java 10 on OS x to run the spark
tests.

On Thu, May 2, 2019, 6:33 PM Sergii Dymchenko <notifications@github.com>

[2019-05-03 12:59] dasight commented on #952
Hi @alsrgv , I tried with Open MPI  4.0.1, however, it still fails with the same error message.
Is there any approach to show Open MPI functions call invoked, and the exact parameter passed into the functions?

Thanks.

[2019-05-03 14:37] ThrowMeForALoop opened #1049 "Big tiff datasets"
Hi team,

I distributed a large dataset including multiple geo tiff files on hdfs (in particular gray scale image with shape (1, 5000, 5000)). I plan to transform those files into intermediate distributed files but I don't know **which sort of distributed files that horovod can support for distributed training**?

I found a Horovod example that use parquet file which can roughly represent two-dime

[2019-05-03 14:45] ThrowMeForALoop commented on #1045
Maybe you can replace "horovodrun" with "mpirun". It works for me

[2019-05-03 21:10] kit1980 commented on #832
I just want to update that I'm actively working on this and should have some exploratory PR soon.

[2019-05-03 23:12] XuesongYang commented on #1041
Is bytes allowed? from my log, it shows that

 allowed=[DT_UINT8, DT_INT8, DT_UINT16, DT_INT16, DT_INT32, DT_INT64, DT_HALF, DT_FLOAT, DT_DOUBLE, DT_BOOL]

[2019-05-03 23:52] kit1980 commented on #1046
I'm only interested in PyTorch tests now, so I run like this: `mpirun -np 2 pytest -v --capture=no test_torch.py`

There are some failure and it hangs on `test_horovod_allreduce_type_error`:
[code]

If I run without mpirun, no hangs and one different test failure:
[code]

Do you know what's going on?
This is on Ubuntu Linux machine with 2 (slightly different) GPUs, PyTorch 1.1, horovod from GitHub

[2019-05-04 00:39] kit1980 commented on #1046
I've found the reason for most failed tests, and the hang was caused by the bad state after previous test failure. I'll create separate issues for individual test problems.

[2019-05-04 00:39] #1046 closed

[2019-05-04 05:31] XuesongYang opened #1050 "Preprocess the data once before feeding into Tensorflow pipeline with shard."
My use case is that the data should be preprocessed before feeding into Tensorflow dataset pipeline with shard. I have two instances, each with 8 GPUs, but I only need to preprocess data using a single instance where ranks [0-7] locate (saying `instance_1`). How to let other ranks get access to the data that is in the memory of `instance_1`? The snipet of code:
[code]

The above code will make `pr

[2019-05-04 12:23] ktamiola commented on #1045
One can copy the source code of `horovodrun` and make an executable out of it. My concern is the `horovodrun` seems not to be bundled with the pip package.

[2019-05-05 02:54] xajxiang commented on #832
Anybody can solve the issue?  reinforcement  learning often end up with unequal steps on each worker

@alsrgv

[2019-05-06 01:18] LiJianbo-AI opened #1051 "The horovod runs on multiple nodes by tensorflow benchmark, and the Loss changes to Nan."
**Environment:**
1. Framework: (TensorFlow,)
2. Framework version: TF v1.13
3. Horovod version:0.16.1
4. MPI version:OpenMPI 4.0
5. CUDA version:10.0
6. NCCL version:2.4.2
7. Python version: 3.7
8. OS and version: Ubuntu16.04

running Code
https://github.com/tensorflow/benchmarks/tree/cnn_tf_v1.13_compatible/scripts/tf_cnn_benchmarks

running script
 horovodrun --verbose -np 32-H 9.88.35.61:8,9.88

[2019-05-06 06:28] zhanglistar commented on #1038
We have done this it's easy using docker, but we want to migrate to k8s.

[2019-05-06 06:29] zhanglistar commented on #1036
There maybe exists some error that I have to double check.

[2019-05-06 13:16] SoulGuedria opened #1053 "Model parameters averaging TF and Keras"
**Environment:**
1. Framework: TensorFlow, Keras
2. Horovod version: 0.15.2
4. MPI version:(OpenRTE) 3.0.0
5. CUDA version: release 9.0, V9.0.176
6. Python version: python3
8. OS and version: debian 9

**My question:**

Hello,
I have two questions about the model parameters averaging during the training process using Horvod with TF and Keras:

1) Is it mandatory to add the hvd.callbacks.MetricAver

[2019-05-06 13:57] zhanglistar commented on #1036
The same as issue 330

[2019-05-06 13:57] zhanglistar commented on #1038
Maybe k8s is a better solution than slurm.

[2019-05-06 16:47] raoxing opened #1054 "in HOROVOD_HIERARCHICAL_ALLREDUCE=1 mode , Can i still use RDMA on nccl2 between nodes?"
in HOROVOD_HIERARCHICAL_ALLREDUCE=1 mode , Can i still use RDMA on nccl2 between nodes ?

[2019-05-07 07:26] kakaluote opened #1055 "multi node train failed in docker"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)  tensorflow
2. Framework version: 1.12.0
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.3.7
7. Python version: 3.6.7
8. OS and version: ubuntu16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
yes
2. If your question is about hang, did you read [t

[2019-05-07 09:46] alsrgv commented on #1040
@ddkang, can you share output of `dpkg -l | grep hwloc`?

[2019-05-07 09:54] kakaluote commented on #1055
solved, run docker with   --network=host, i missed in doc. it's about net communication between docker containers.

[2019-05-07 09:54] #1055 closed

[2019-05-07 09:54] alsrgv commented on #1045
@ktamiola, what's your `pip --version`?  Can you try `pip install -U pip`, followed by a reinstall of Horovod?

[2019-05-07 15:31] jarunan opened #1056 "CUDA_ERROR_INVALID_DEVICE: invalid device ordinal"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13.1
3. Horovod version: 0.16.1
4. MPI version: 4.0.1
5. CUDA version: 10.0.130
6. NCCL version: 2.3.7-1
7. Python version: 3.7.1
8. OS and version: CentOS 7.5
9. Batch System: LSF

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](h

[2019-05-07 15:34] cklsoft opened #1057 "std::bad_alloc when use AUTOTUNE"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): TensorFlow
2. Framework version: tf_nightly_gpu
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: 10
6. NCCL version: 2.4
7. Python version: 3.5
8. OS and version: centos

![image](https://user-images.githubusercontent.com/3956357/57312461-31ce3300-7120-11e9-80cb-a76d394f9836.png)

I use `-x HOROVOD_AUTOTUNE=1` in

[2019-05-07 15:55] ddkang commented on #1040
@alsrgv

future4:
[code]

future5:
[code]

Please let me know if you need anything else!

[2019-05-07 16:15] tgaddair commented on #1057
Hey @cklsoft, thanks for raising this issue. This bug was fixed by #995, but hasn't yet been released. If you'd like, you can try building from master as a workaround for now.

[2019-05-07 16:45] cklsoft commented on #1057
Thanks for your reply, I will try the commit.

[2019-05-07 21:43] kit1980 commented on #832
I've added a very early work in progress PR for discussion here: https://github.com/horovod/horovod/pull/1058
I've asked several questions there, could you please have a look?

[2019-05-08 02:24] cklsoft commented on #1034
root@test:/root/horovod# HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_CUDA_HOME=/usr/local/cuda-10.1 HOROVOD_WITH_TENSORFLOW=1 HOROVOD_WITHOUT_PYTORCH=1 HOROVOD_WITHOUT_MXNET=1 python setup.py install
running install
running bdist_egg
running egg_info
writing horovod.egg-info/PKG-INFO
writing dependency_links to horovod.egg-info/dependency_links.txt
writing requirements to horovod.egg-info/requires.txt
writ

[2019-05-08 03:11] #1057 closed

[2019-05-08 03:24] haif-liu opened #1059 "horovod/torch/mpi_lib_v2.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN2at19UndefinedTensorImpl10_singletonE"
import error:
horovod/torch/mpi_lib_v2.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN2at19UndefinedTensorImpl10_singletonE

**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:

**Checklist:**
1. Did you search issues to find if somebody asked this

[2019-05-08 04:42] XuesongYang opened #1060 "Should the batch size for each rank is the same? Any support bucketing with different batch sizes?"
To my knowledge so far, the batch size for each rank should keep the same, such that current framework does not support bucketing by length with different batch sizes. Is my understanding correct? Thanks

[2019-05-08 11:05] lakshmiumenon commented on #1016
@alsrgv  Thank you so much...source build of horovod worked and the issue got resolved.

[2019-05-08 11:05] #1016 closed

[2019-05-08 15:20] tgaddair commented on #1060
Hey @XuesongYang, yes the batch sizes should be the same across ranks.  The way the allreduce operation works, we need tensors to be the same size so everything aligns correctly.  In theory, you could pad the gradients, but that may not give you the desired effect (the gradients would be skewed towards 0).  The way we typically scale the learning rate would also be affected by varying the batch si

[2019-05-08 15:23] tgaddair commented on #1059
Hey @haif-liu, can you try running:

[code]

And print the results here?  It's likely that something in your LD_LIBRARY_PATH is not setup properly similar to #656.

[2019-05-08 15:39] tgaddair commented on #1056
Hey @jarunan, a couple questions:

1. Are you setting `CUDA_VISIBLE_DEVICES`?
2. Have you tried running with `horovodrun` instead of `mpirun` and unsetting `HOROVOD_MPI_THREADS_DISABLE`?

[2019-05-08 16:01] jarunan commented on #1056
Hi @tgaddair

I found a work around and I am testing it. I hope it is stable. First, I reply your questions.

1. Are you setting `CUDA_VISIBLE_DEVICES`?
I tried both setting "export CUDA_VISIBLE_DEVICES=..." and using the default values before launching mpirun. They did not make a difference.

2. Have you tried running with `horovodrun` instead of `mpirun` and unsetting `HOROVOD_MPI_THREADS_DISABL

[2019-05-08 18:16] LucaCappelletti94 commented on #236
Could you please elaborate further on your solution? Thanks!

[2019-05-09 00:26] jianyinglang commented on #236
This problem was caused by different libraries was used between compilation and runtime. My solution was to explicitly set the PATH and LD_LIBRARY_PATH to the correct openmpi library path. One more thing to notice is that when it will download the pre-compiled lib when one uses `pip install horovod`to install. I would recommend using `pip install horovod --no-cache-dir`.

[2019-05-09 06:33] mdztravelling commented on #1027
appreciate the help in answering the question. @abditag2

[2019-05-09 06:52] scotthuang1989 opened #1061 "GPU memory consumption is different (by a large margin) for different workers(ranks)."
**Environment:**
1. Framework: TensorFlow, Keras
2. Framework version:
3. Horovod version:0.15.2
4. MPI version:3.0
5. CUDA version:9
6. NCCL version:2.2
7. Python version:3.6
8. OS and version:ubuntu 17.04

**Checklist:**

**Bug report:**

I run my training on 4 GPU. but GPU 0 take almost double GPU memory:

![image](https://user-images.githubusercontent.com/5325686/57432947-bed0d380-7269-11e9-9f

[2019-05-09 12:06] lee9011 opened #1062 "Horovod with Unified Memory"
**Environment:**
1. Framework: (TensorFlow)
2. Framework version: 1.8.0
3. Horovod version: 0.16.1
4. MPI version: OpenMPI 3.1.2
5. CUDA version: 9.0
6. NCCL version: 2.4.2
7. Python version: 3.5
8. OS and version: ubuntu 16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horov

[2019-05-10 06:06] Shuming19 opened #1063 "can XLA_compile=True be used in horovod script to run tf_cnn_benchmark?"
**Environment:**
1. Framework: TensorFlow-GPU
2. Framework version: 1.13.1
3. Horovod version: 0.16.1 with ALLreduce=NCCL
4. MPI version: OpenMPI-4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.2
7. Python version: 3.6.8
8. OS and version: Ubuntu 16.04 LTS

**Your question:**
Hello.

tf_cnn_benchmark was tested on our single server equipped with 8 nvidia V100-SXM2 GPUs.

Two scripts are used:
1.

[2019-05-10 07:03] alsrgv commented on #1063
@Shuming19, `--xla_compile=True` doesn't work with TF 1.13.x & Horovod, but can you try `--xla=True`?

[2019-05-10 17:18] bluesummers1129 opened #1065 "TF estimators and horovod.spark"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow
2. Framework version:
1.13.1
3. Horovod version:
0.16
4. MPI version:
3.0.0
5. CUDA version:
N/A
6. NCCL version:
N/A
7. Python version:
3.5
8. OS and version:
Amazon Linux AMI release 2018.03

**Your question:**
Is there any guidance on how to use horovod.spark with TF estimators? I've been able to train models using TF

[2019-05-11 16:46] nadeengebara opened #1066 "Horovod MPI Tensorflow benchmark"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet):  Tensorflow
2. Framework version: 1.13
3. Horovod version: 0.16-1
4. MPI version: 1.10.2
5. CUDA version:-
6. NCCL version:
7. Python version:2.7.12
8. OS and version: Linux ubuntu 16.0.4

Hi,
 I've modified the mpi_operations.cc in horovod/common/ops to display the gradients and their aggregated values upon calling horovod's MPIA

[2019-05-11 19:42] mirekphd opened #1067 "pypi wheel is broken - pip install fails under py 3.6 and 3.7"
To reproduce: pull python:3.6 or python:3.7 image from Docker Hub, run it (using bash as startup app) and inside the container try to install your library with pip, thus: `pip install horovod`. Hint: consider adding this to your test suite.

Error message under Python 3.6:
[code]

Error message under Python 3.7:

[code]

[2019-05-12 22:16] Young768 opened #1068 "Horovod installation fails with Tensorflow 1.13.1 on Ubuntu"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: MKL-enabled TensorFlow 1.13.
3. Horovod version: latest version
4. MPI version: 1.13
5. CUDA version: no
6. NCCL version: no
7. Python version: 3.7.3
8. OS and version: Ubuntu 16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
No
2. If your question is abo

[2019-05-12 22:16] Young768 commented on #1068
anyone could help me fix this installation problem?

[2019-05-13 01:37] Shuming19 commented on #1063
@alsrgv Thank you for your reply.

I tried --xla=True, and it worked fine. However, the performance(9600 IPS) seems a bit drop(2%) in comparison to  that with --xla_compile=True(9800 IPS).

My question is whether there is any plan that --xla_compile=True will be supported in the next release, please?

Best,
Shuming

[2019-05-13 02:43] Young768 commented on #1067
Did you resolve this issue? I met the same issue with you.

[2019-05-13 07:27] mirekphd commented on #1067
Nope, I had to remove horovod from this version of our python container.

[2019-05-13 07:55] billtiger opened #1069 "horovod install failed with tensorflow1.13.1"
**Environment:**
1. Framework: (TensorFlow）
2. Framework version: r1.13.1
3. Horovod version: 0.16
4. MPI version: 3.1.2
5. CUDA version: 10.0
6. NCCL version: 2.4.2
7. Python version: 3.5
8. OS and version: ubuntu16.04

**command:**
HOROVOD_CUDA_HOME=/usr/local/cuda/cuda-10.0 HOROVOD_CUDA_INCLUDE=/usr/local/cuda/cuda-10.0/include HOROVOD_CUDA_LIB=/usr/local/cuda/cuda-10.0/lib64 sudo python3 setup

[2019-05-13 07:58] alsrgv commented on #1067
@mirekphd, @Young768, Horovod requires Open MPI 4.0.0+ or another MPI implementation to be available in the container.  Please check the [Installation guide](https://github.com/horovod/horovod#install).

[2019-05-13 07:59] alsrgv commented on #1068
@Young768, this message `mpicxx: error while loading shared libraries: libopen-pal.so.40: cannot open shared object file: No such file or directory` looks an issue with Open MPI installation.  Can you try `sudo ldconfig` before `pip install`?

If that does not help, try installing Open MPI like this: https://github.com/horovod/horovod/blob/master/Dockerfile#L40

[2019-05-13 08:01] alsrgv commented on #1069
@billtiger, are you sure `/usr/local/cuda/cuda-10.0` is the right path?  Usually it's either `/usr/local/cuda` or `/usr/local/cuda-10.0`.

[2019-05-13 08:04] billtiger commented on #1069
@alsrgv yes, I am sure that cuda path is correct.
and when I use python3, I can import tensorflow(gpu) correctly.

[2019-05-13 08:07] alsrgv commented on #1069
Ok, another thing is - `sudo` wipes out environment variables.  It'd be better to do this:
[code]

[2019-05-13 08:12] billtiger commented on #1069
@alsrgv Thank you for your advice. I try your command but there have another error:
**Error messages:**
running install
Checking .pth file support in /usr/local/lib/python3.5/dist-packages/
/usr/bin/python3 -E -c pass
TEST PASSED: /usr/local/lib/python3.5/dist-packages/ appears to support .pth files
running bdist_egg
running egg_info
writing requirements to horovod.egg-info/requires.txt
writing ho

[2019-05-13 08:20] alsrgv commented on #1069
@billtiger, any reason you're installing Horovod from source?  If you'd like to use latest version from master, you can use `[flags] pip3 install git+https://github.com/horovod/horovod`

[2019-05-13 08:24] billtiger commented on #1069
@alsrgv because I used "sudo pip3 install horovod"command, it will occur the first errors. so I install from source.

[2019-05-13 08:27] alsrgv commented on #1069
@billtiger, can you try doing `sudo bash` followed up by `pip3 install` with all the needed flags?

[2019-05-13 08:34] alsrgv commented on #1063
@Shuming19, I'm not sure this is caused by `--xla` vs `--xla-compile`.  Can you try specifying `--datasets_num_private_threads=8` when you run Horovod?

[2019-05-13 08:34] alsrgv commented on #1063
cc @karakusc

[2019-05-13 08:37] alsrgv commented on #1066
@nadeengebara, fusion buffering is done based on timing & size of the gradients.  Please see https://github.com/horovod/horovod/blob/master/docs/tensor-fusion.md for more details.

[2019-05-13 08:41] alsrgv commented on #1065
@bluesummers1129, you can instantiate `model_fn` outside of Horovod's `train_fn`, like it's done here - https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist_estimator.py#L32.  Horovod in Spark transmits both `train_fn` and all of it dependent functions, so it's fine to define functions outside of `train_fn`.

[2019-05-13 08:42] alsrgv commented on #1062
@lee9011, can you explain more what you're trying to achieve - do you want to run a single process that would use the memory of both GPUs?  Are you using `config.gpu_options.per_process_gpu_memory_fraction` > 1?  AFAIK, that would just spill over to CPU rather than adjacent GPUs.

[2019-05-13 09:03] heartbeat2015 commented on #1032
@haif-liu I came into exactly the same issue,have you solve this?

[2019-05-13 09:03] alsrgv commented on #1061
@scotthuang1989, which version of TensorFlow are you using?  If single-GPU training is taking up 8GB, this does not look like a bug to me.

[2019-05-13 09:05] alsrgv commented on #1032
@heartbeat2015, the most common cause for `Could not resolve hostname <something>:<number>` is an old Open MPI version.

[2019-05-13 09:09] alsrgv commented on #1056
RE: first issue, TensorFlow 1.13.1 has issues with XLA leaking GPU memory and may cause initialization errors. `tf-nightly-gpu` should work correctly, could you give it a try?

RE: second issue, [this PR](https://github.com/horovod/horovod/pull/1002) has fixed it.  If you install Horovod from master (`[flags] pip install git+https://github.com/horovod/horovod`), `horovodrun` should work fine.

[2019-05-13 09:10] heartbeat2015 commented on #1032
@alsrgv my openmpi version is 4.0.0 ,and when put the  mpirun -V ,I get the version 1.10.2,is that right verison?

[2019-05-13 09:14] nadeengebara commented on #1066
I see, thanks !

[2019-05-13 09:14] #1066 closed

[2019-05-13 09:15] alsrgv commented on #1034
@cklsoft, can you try using Horovod outside the source code directory?  In your error, it was using Horovod from the source code directory which does not have built binaries - they're installed in the system location.

[2019-05-13 09:15] alsrgv commented on #1032
@heartbeat2015, no - it means your Open MPI version is 1.10.2.  It can happen if you have two versions of MPI for some reason.  Can you check `dpkg -l | grep openmpi` if you're using Ubuntu or Debian?

[2019-05-13 09:21] heartbeat2015 commented on #1032
@alsrgv output of  dpkg -l | grep openmpi  is:

ii  libopenmpi-dev           1.10.2-8ubuntu1   amd64             high performance message passing library -- header fil
ii  libopenmpi1.10           1.10.2-8ubuntu1   amd64             high performance message passing library -- shared lib
ii  openmpi-bin              1.10.2-8ubuntu1   amd64             high performance message passing library -- bin

[2019-05-13 10:28] Qiuzhuang commented on #761
I also just upgrade to pytorch 1.1.0, the error seems to be resolved now.

[2019-05-13 10:39] jarunan commented on #1056
Hi @alsrgv, thank you for the suggestions!

[2019-05-13 13:31] heartbeat2015 commented on #1032
@alsrgv  I reinstall the openmpi-4.0.0,but another error came when I run   horovodrun -np 1 -H localhost:1 python pytorch_horovod_mnist.py

ImportError: libmpi_cxx.so.1: cannot open shared object file: No such file or directory

I can't find this lib(libmpi_cxx.so.1) in the openmpi-4.0.0/lib directory,but the lower version ,i.e. version 1.10,this lib is accessable.
my horovod version is 0.16
pytor

[2019-05-13 15:12] rakshithvasudev commented on #1038
# maybe this blueprint may help in some level

#!/bin/bash
#SBATCH -N 1 # No. of nodes needed
#SBATCH -n 3
#SBATCH -J hvd_3gpu # job name
#SBATCH -o something.o
#SBATCH -e something.o
#SBATCH -C c4140,m,32gb,v100 #change the features as per your requirement, use "gpulist" to see the features of all nodes
#SBATCH -p gpuq #partition name

#load modules here
module load cuda10.0/toolkit/10.0.130
modu

[2019-05-13 16:41] rakshithvasudev opened #1070 "Training is slow as soon as I introduce mpi"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) : Tensorflow -gpu
2. Framework version: 1.12.0
3. Horovod version: 0.16.1
4. MPI version: 4.0.0 with cuda and ucx support
5. CUDA version: 10.0.130
6. NCCL version: 2.4.2
7. Python version: 3.6.8
8. OS and version: RHEL 7

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your questio

[2019-05-13 16:52] abditag2 commented on #1070
Can you clarify what is your setup? Are you comparing a single node training with and without Horovod? Also, the timeline you have attached does not show any activity beyond the first 1 second.

[2019-05-13 16:56] abditag2 commented on #1032
Could you please post the result of `ldconfig -p | grep -i mpi`?

[2019-05-13 17:04] jaliyae commented on #761
I am using gcc 7.3.0. Yes, the error seems to resolved with the latest PyTorch.

[2019-05-13 18:53] karakusc commented on #1063
@Shuming19 `xla=True` and `xla_compile=True` should have the same effect in this repository from performance perspective. The performance difference that you are seeing likely is caused by a CPU bottleneck due to Horovod using multiple processes, which can be addressed by limiting the number of threads per process. Can you try setting the flag `dataset_num_private_threads` to the value (number of

[2019-05-13 20:35] Young768 commented on #1068
@alsrgv Hi, alex. The logs show that Horovod is installed successfully.  I want to test if I have installed horovod successfully with examples, e.g. tensorflow_mnist.py.
Do you know which command should I use to run this example with two worker. My environment is only with CPU.

[2019-05-13 21:38] Himscipy commented on #1068
@Young768  `horovodrun -np 1 -H localhost:1 python <name of  the python script>` to test your installation

[2019-05-13 22:16] ThrowMeForALoop opened #1071 ""import horovod.tensorflow" crash on latest version"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version: tensorflow-gpu(1.12)
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.1.2
7. Python version: 3.6.8
8. OS and version: CENTOS 7

I just try to test version 0.16.1 and 0.16.0 with tensorflow-gpu by using "python -c ''import horovod.tensorflow' but it crashes intermediately

[2019-05-13 22:26] tgaddair commented on #1071
Hey @ThrowMeForALoop, can you give us some more info about the crash?  Do you have a complete stack trace?

When installing Horovod, did everything seem to work correctly?  What command did you run to install Horovod?  Did you include `--no-cache-dir`?

[2019-05-13 23:27] rakshithvasudev commented on #1070
Thanks for responding. I reran to get actual numbers again with 1 gpu and I've attached the new timeline for 1 gpu, Thanks for pointing out on the timeline. I'm using V100's and the training model is close to a resnet50 (pretrained resnet50 with some more layers). At this point, yes, I'm trying to compare with and without horovod on a single gpu. (I wouldn't assume hvd to be faster on single gpu,

[2019-05-13 23:43] Young768 commented on #1068
@Himscipy Thanks for your help. It works.
If I want to set up a distributed environment, do I need to install MPI, tensorflow and horovod on each machines in the cluster?

[2019-05-13 23:53] Himscipy commented on #1068
How is your cluster setup? Is it a HPC cluster? Do you use job schedulers to submit the Job? These information is required to answer your question on using Horovod on Cluster.

[2019-05-13 23:58] Himscipy commented on #1068
You can also look at the instruction on the link below to run on multiple machines.
https://github.com/horovod/horovod/blob/master/docs/docker.md

But for cluster is it HPC cluster? Do you have a job scheduler setup ? then things might be different.

[2019-05-14 00:00] Young768 commented on #1068
@Himscipy It is not a HPC cluster. I do not use job schedulers. Before I used it as Hadoop cluster.

[2019-05-14 00:24] Himscipy commented on #1068
Then trying using the setup mentioned in the above link. You will have to setup ssh connections between your hosts. Also in the link description if you see they are initializing and running the container as network host with a a share point as `/mnt/share` therefore make sure you do the same when setting up your cluster and each host need to have horovod installed as you can see the secondary work

[2019-05-14 00:31] Young768 commented on #1068
Does it mean that we have to run horovod in a docker environment, not a physical environment?

[2019-05-14 00:38] abditag2 commented on #1068
Yes, you can run horovod in a physical env as long as SSH works and all those packages you mentioned are installed.

[2019-05-14 00:40] Himscipy commented on #1068
Depends on you. You can setup things with physical environment also in the similar fashion with each machine.
The main point is to have a communication ports setup between your machine and settings up the ability for each of your machine to run the common model with distributed data.

[2019-05-14 00:52] Young768 commented on #1068
@Himscipy @abditag2 Thanks for your help.
root@c278c88dd552:/examples# horovodrun -np 16 -H host1:4,host2:4,host3:4,host4:4 -p 12345 python keras_mnist_advanced.py
From the instructions, it seems it does not require secondary workers to do anything in a physical environment. The only thing is to specify the port number. Am i correct?

[2019-05-14 00:58] Shuming19 commented on #1063
@karakusc @alsrgv Thank you for your suggestions. The --datasets_num_private_threads=7/4 was set in our test scripts since the total physical core number is 28 with hyperthreading. Still, a performance loss exits.

I just posted a simplified script above to show the problem occurred. The  complete testing script is shown below:

horovodrun -np 32 -H 9.88.35.104:8,9.88.35.65:8,9.88.35.67:8,9.88.35.

[2019-05-14 01:24] Himscipy commented on #1068
The line you have pasted is for submitting the job to all secondary workers form the primary host. For secondary workers you need to setup the connection port and horovod containers to successfully run the job. Look at the commands of the secondary workers on the page.

[2019-05-14 03:10] heartbeat2015 commented on #1032
@abditag2  the output of  ldconfig -p | grep -i mpi :

libopen-rte.so.40 (libc6,x86-64) => /opt/openmpi/lib/libopen-rte.so.40
        libopen-rte.so (libc6,x86-64) => /opt/openmpi/lib/libopen-rte.so
        libopen-pal.so.40 (libc6,x86-64) => /opt/openmpi/lib/libopen-pal.so.40
        libopen-pal.so (libc6,x86-64) => /opt/openmpi/lib/libopen-pal.so
        libompitrace.so.40 (libc6,x86-64) => /opt

[2019-05-14 05:23] ThrowMeForALoop commented on #1071
Hey @tgaddair,
I test just write simple test.py `import horovod.tensorflow` and run `python test.py`
I guess the problem is that **parameter_manager.cc** is missing in horovod common folder.

I tried:
[code]
However, nothing changed.

![Screen Shot 2019-05-14 at 7 15 36 AM](https://user-images.githubusercontent.com/23578972/57672455-7d00ae00-7618-11e9-98d6-b45b57cb04b1.png)

[2019-05-14 06:23] luzhilin19951120 commented on #761
Really? @jaliyae  @Qiuzhuang Are you successfully implement horovod on PyTorch1.1.0?

I tried with the latest version of horovod and failed with the same segmentation default.

[2019-05-14 06:31] luzhilin19951120 commented on #761
Dear author: @alsrgv
Do we have a solution for implement horovod on PyTorch1.0+ version now?

[2019-05-14 06:33] alsrgv commented on #761
@luzhilin19951120, can you share more details about your segmentation fault?  We do have integration tests against PyTorch latest, which are passing.

[2019-05-14 06:35] alsrgv commented on #1032
@heartbeat2015, after you've fixed Open MPI installation, can you uninstall Horovod and reinstall with `--no-cache-dir`?

[2019-05-14 07:05] alsrgv commented on #1070
@rakshithvasudev, this is suspicious because your timeline only has Broadcast operations and no Allreduce operations.  Can you share the diff between resnet_raw.py and resnet.py?

[2019-05-14 07:06] alsrgv commented on #1070
One culprit for the slowdown is CPU binding that MPI does by default.  Can you try replacing `mpirun` with `horovodrun` which passes appropriate parameters to MPI?

[2019-05-14 07:11] jaliyae commented on #761
@luzhilin19951120 Yes, just validated again. Horovod 0.16.1, PyTorch 1.1.0, works fine.

[2019-05-14 08:17] jackalcooper opened #1072 "failed to install hvd with TF 1.13.1"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13.1
3. Horovod version: not specified
4. MPI version: 3.1.0
5. CUDA version: 9.0
6. NCCL version:
7. Python version: 2.7
8. OS and version: Amazon Linux

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horov

[2019-05-14 08:20] jackalcooper commented on #1072
after install protobuf 3.6

[code]

[2019-05-14 08:47] #1072 closed

[2019-05-14 08:55] luzhilin19951120 commented on #761
@alsrgv @jaliyae
- System:
Linux version 3.10.0-327.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.3 20140911 (Red Hat 4.8.3-9) (GCG))
- Horovod 0.16.1:
HOROVOD_NCCL_HOME=/home/user_name/software/nccl_2.2 HOROVOD_GPU_ALLREDUCE=NCCL pip install --user --no-cache-dir horovod
- PyTorch 1.1.0:
installed with anaconda3
- Seg Error Message:
![image](https://user-images.githubusercontent.c

[2019-05-14 08:58] #681 closed

[2019-05-14 08:58] Qiuzhuang commented on #761
@luzhilin19951120  what is your mpi version?  The log seems not to complain about gcc version which I run into.

[2019-05-14 09:05] luzhilin19951120 commented on #761
@Qiuzhuang My mpi version is `openmpi 3.0.0`

[2019-05-14 09:18] Qiuzhuang commented on #761
I remember that @alsrgv suggested better upgrade to 4.0. Looking into your log, it complains mpi torch error. Can you please try with upgrading mpi?

[2019-05-14 13:53] luzhilin19951120 commented on #761
I installed OpenMPI4.0.1 and add `--mca btl ^openib` flag when using mpirun.

However, the same error occurs. @alsrgv @Qiuzhuang

![image](https://user-images.githubusercontent.com/25010679/57703480-bfff6780-7692-11e9-8159-0faa4bf52326.png)

[2019-05-14 14:10] siyux commented on #1071
I met the same trouble!

[2019-05-14 14:44] luzhilin19951120 commented on #409
The very interesting thing is that:
If I install horovod with `--user` argument, installing it in `/home/$USER/.local`, I can not import it correctly with a certain conda environment. But if I choose to install in within the environment everything is fine.

I know the aforementioned phenomenon is not clear enough. __Actually I merely has a question:__

I didn't find `ffi` in the directory `horovod

[2019-05-14 15:29] tgaddair commented on #1071
Can you try installing in a new virtual environment?  I'm wondering if somehow some parts of version 0.14.1 (which did not have `parameter_manager.cc` are still around and conflicting with the new code.

[2019-05-14 16:01] ThrowMeForALoop commented on #1071
I created a new virtual environment but still in same trouble.

[2019-05-14 17:59] Young768 commented on #1045
@alsrgv Hi alex. I am using pip 19.1.1. I met the same issues. Everything looks good yesterday and I can run examples. I tried horovodrun this morning. But it shows command not found. It looks so strange.

[2019-05-14 19:13] tgaddair commented on #1071
Do you happen to know if the file it's looking for exists in your installation (`horovod/common/parameter_manager.cc`)?

[2019-05-14 19:22] Young768 commented on #1068
@Himscipy @abditag2 Hi I tried to run the example:
$horovodrun -np 2 -H master:1,slave0:1 python tensorflow_mnist.py
Here master and slave0 are two hostname configured in the /etc/hosts file.
I can run horovod separately on these two nodes. But when I ran the above command to distribute the Horovod, it shows the following errors. BTW, I have enabled SSH connection between them.

------------------

[2019-05-14 19:38] rakshithvasudev commented on #1070
Here's what the differences would be:
===================================================================
resnet_raw.py:
* No horovod, so it'd be something like this :
 - Build the model (Add layers to the pretrained resnet)
 -  Add Adam optimizer
 - Train the model
===================================================================
resnet.py:
* This is with horovod, using tf.keras -  something li

[2019-05-14 19:47] ThrowMeForALoop commented on #1071
It's indeed not there. I tried to build tensorflow from orginal source code as well but same problem

<img width="865" alt="Screen Shot 2019-05-14 at 9 45 34 PM" src="https://user-images.githubusercontent.com/23578972/57727407-b9bcbb80-7691-11e9-92bc-9739a5ad3a0b.png">

[2019-05-14 21:05] divyakul1 opened #1074 "Segmentation fault when trying to train with tensorflow, then torch"
**Environment:**
1. Framework: Tensorflow and Pytorch
2. Horovod version: 0.16.1
3. CUDA version: 10.0
4. Python version:3.6.1

**Bug report:**
I am trying to run a workflow that first trains on tensorflow and then pytorch, but I'm seeing that there is no way to import both horovod.tensorflow and horovod.torch. If this happens hvd.init() returns in a segmenation fault.
Signal: Segmentation fault (

[2019-05-14 21:11] ThrowMeForALoop commented on #1034
I have had same problem.

[2019-05-14 21:14] ThrowMeForALoop commented on #1074
Hope that the team can fix it soon. I have the same issue

[2019-05-14 21:39] rakshithvasudev commented on #1070
I have an update on numbers, looks like horovodrun improved my single gpu performance. It went from 1358.88s to 403.32s, which is nice.

However, if I scale to 4 gpus, the performance becomes bad, it is 316.28s. Just so you know what is up with the communication, here is a line from NCCL INFO :  [1,3]<stdout>:gpu028:31229:31250 [3] NCCL INFO Ring 11 : 3[3] -> 2[2] via P2P/IPC
****

I've included m

[2019-05-14 22:20] alsrgv commented on #1074
@divyakul1, @ThrowMeForALoop, can you give it a shot using Dockers images that we provide, e.g. `horovod/horovod:0.16.1-tf1.12.0-torch1.0.0-mxnet1.4.0-py2.7`?

I was able to get it to work:
[code]

[2019-05-14 23:04] tgaddair commented on #1071
Do you have a file called `horovod/tensorflow/mpi_lib.so`?  That should be where the `parameter_manager` symbols live.  If so, can you try running `nm -g` on it and providing a gist of the output?

Also, could you provide a full gist of the output when installing from pip?  Thanks, and apologies for all the back and forth.

[2019-05-14 23:18] Himscipy commented on #1068
@Young768  You are not passing the port  `-p` flag with the port number in your submission command.

[2019-05-14 23:29] yselivonchyk opened #1075 "Run horovod on local machine without GPU"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) mxnet
2. Framework version: 1.4.0
3. Horovod version: 0.16.1
4. MPI version: 4.0.1
5. CUDA version: N/A
6. NCCL version:
7. Python version: 3.7
8. OS and version: 10.13.4

**Bug report:**
Please describe errorneous behavior you're observing and steps to reproduce it.

I run the 2 lines from the readme page:
[code]
and it fails on t

[2019-05-15 00:12] Young768 commented on #1068
@Himscipy I passed the default SSH port 22 in the submission. The same errors appeared.
$horovodrun -np 2 -H master:1,slave0:1 -p 22 python tensorflow_mnist.py

[2019-05-15 00:45] Young768 commented on #975
Did you guys find a solution for this issue? I met the same issue when distributing Horovod.

[2019-05-15 00:48] Young768 commented on #1068
@alsrgv @abditag2 Hi alex and Fardin. I met the same issue as # #975. But it seems that you did not post the solution. Do you have any idea to solve this issue? I also tried the same command:
$horovodrun --verbose -np 2 -H localhost:1,slave0:1 -p 22 python tensorflow_mnist.py

The SSH connection has been enabled.

 Filtering local host names.
Checking ssh on all remote hosts.
SSH was successful in

[2019-05-15 00:50] alsrgv commented on #1045
@Young768, did you resolve with missing `horovodrun` issue?

[2019-05-15 00:55] Young768 commented on #1045
@alsrgv Yes. When I entered the base environment, the problem is resolved.

[2019-05-15 00:57] alsrgv commented on #1068
@Young768, could you latest Horovod from the master branch by uninstalling Horovod and re-installing using `[flags] pip install --no-cache-dir git+https://github.com/horovod/horovod`.  It has improvements in `horovodrun` diagnostics.

After the upgrade, can you run with `--verbose=2`?

[2019-05-15 01:09] Young768 commented on #1068
@alsrgv Hi Alex, I have followed your instructions and here are the error information. I still can not figure out the root cause. Should I create a shared filesystem /mnt/share mentioned in the instruction? https://github.com/horovod/horovod/blob/master/docs/docker.md

Filtering local host names.
Checking ssh on all remote hosts.
SSH was successful into all the remote hosts.
Testing interfaces on

[2019-05-15 02:17] Shuming19 commented on #1063
Sorry. I think I did not explain my problem clear enough.

Two scripts were implemented on a single nodes with 8 GPUs. Both complete scripts are listed below:

The 1st one is:
python tf_cnn_benchmarks.py --data_format=NCHW \
  --batch_size=256 \
  --model=resnet50_v1.5 \
  --data_name=imagenet \
  --data_dir=/home/nvme0n1/imagenet \
  --optimizer=momentum \
  --weight_decay=1e-4 \
  --variable_upd

[2019-05-15 03:41] alsrgv commented on #1068
@Young768, interesting - can you try setting `--start-timeout 300`?

[2019-05-15 04:19] Young768 commented on #1068
@alsrgv
horovodrun -start-timeout 300 --verbose=2 -np 2 -H localhost:1,slave0:1 -p 22 python tensorflow_mnist.py

--------------------------------------------
usage: horovodrun [-h] [-v] -np NP [-p SSH_PORT] [-H HOST] [--disable-cache]
                  [--start-timeout START_TIMEOUT] [--verbose [VERBOSE]]
                  ...
horovodrun: error: the following arguments are required: -np/--num-pro

[2019-05-15 04:35] alsrgv commented on #1068
@Young768, you missed additional `-` before `-start-timeout`

[2019-05-15 04:39] Young768 commented on #1068
@alsrgv Hi Alex. Oh, I used that first. But it does not work either.

$horovodrun --start-timeout 300 --verbose=2 -np 2 -H localhost:1,slave0:1 -p 22 python tensorflow_mnist.py

for the physical environment, enabling SSH connection is enough?

------------------------------------------------------------------
Traceback (most recent call last):
  File "/root/anaconda3/bin/horovodrun", line 21, in <

[2019-05-15 05:14] alsrgv commented on #1068
@Young768, sorry, that's a bug. I've submitted a fix in #1076. I've also updated `--verbose 2` with `--verbose`, to better match desired functionality.

Could you give it a shot by re-installing via `[flags] pip install --no-cache-dir git+https://github.com/horovod/horovod@horovodrun_fixes` and running:
[code]

[2019-05-15 05:26] Young768 commented on #1068
@alsrgv Hi Alex

Filtering local host names.
Checking ssh on all remote hosts.
SSH was successful into all the remote hosts.
Testing interfaces on all the hosts.
Launched horovodrun server.
Attempted to launch horovod task servers.
Waiting for the hosts to acknowledge.
Notified all the hosts that the registration is complete.
Waiting for hosts to perform host-to-host interface checking.
Launching

[2019-05-15 05:33] alsrgv commented on #1068
@Young768, finally, the code did what it was supposed to do.  If you want to use `horovodrun`, you need to align interface names at this point.  If that's easy, it's the recommended approach.

You may be able to get away with using different interface names if you use `mpirun` directly:
[code]

[2019-05-15 06:38] ThrowMeForALoop commented on #1071
@tgaddair
No problem. I changed to hovorovod + tensorflow 1.13.1 without GPU  in this try.
Please refer to attached file for `nm -g` result.

[nm -g .pdf](https://github.com/horovod/horovod/files/3181173/nm.-g.pdf)

[2019-05-15 06:52] heartbeat2015 commented on #1032
@alsrgv  I follow your hints ,reinstall horovod by

HOROVOD_NCCL_HOME=/opt/nccl
HOROVOD_GPU_ALLREDUCE=NCCL
pip install --no-cache-dir horovod

Now, I can run  horovodrun -np 1 -H localhost:1 python pytorch_horovod_mnist.py
and two gpus on one machine as well
But when I use two machines,each have one gpu,run the command:   horovodrun -np 2 -H 192.168.6.9:1,192.168.1.4:1 python pytorch_horovod_mnist

[2019-05-15 07:59] iblanque commented on #1032
Hi, I think that the problem is in OpenMPI. I installed version 4.0.1 and I have this problem even running a basic MPI program. The interesting thing is that MPI is ignoring the full domain and it uses only the hostname, as it can be seen with the example:
mpiexec -np 2 --allow-run-as-root  --host clusterworker-1.mpicluster.default.svc.cluster.local,clusterworker-0.mpicluster.default.svc.cluster.l

[2019-05-15 08:09] alsrgv commented on #1032
@iblanque, thanks for noting this.  Another solution could be to add `search mpicluster.default.svc.cluster.local` to `/etc/resolv.conf`.

@heartbeat2015, could you share the output of `ifconfig -a` from both machines?  Are they on the same network?

[2019-05-15 08:22] alsrgv commented on #1063
@Shuming19,

I've run a couple of experiments on 8xGPU V100 VM in GCP.

`horovodrun -np 8 python tf_cnn_benchmarks.py --model resnet50_v1.5 --data_format=NCHW  --use_fp16=True --variable_update horovod --xla=True --batch_size 256` - 9975.09 img/sec

`python tf_cnn_benchmarks.py --model resnet50_v1.5 --data_format=NCHW  --use_fp16=True --variable_update replicated --all_reduce_spec=nccl --num_gpus=

[2019-05-15 08:34] alsrgv commented on #1032
@heartbeat2015, we'd like to add self-diagnostic functionality to `horovodrun` for this issue, could you reinstall it via `[flags] pip install --no-cache-dir git+https://github.com/horovod/horovod@horovodrun_fixes` and run the command again?

[2019-05-15 09:35] heartbeat2015 commented on #1032
@alsrgv
I can ping through each other,but they are not on the same LAN.
Is it matter?

And,you mean uninstall horovod first,then
pip install --no-cache-dir git+https://github.com/horovod/horovod@horovodrun_fixes
but I seem to stuck, what's the @horovodrun_fixes mean?

machine 0:

eth0      Link encap:Ethernet  HWaddr 02:42:c0:a8:06:09
          inet addr:192.168.6.9  Bcast:192.168.6.255  Mask:255.

[2019-05-15 10:58] hubutui opened #1077 "working with pytorch 1.1.0's SyncBatchNorm"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.1.0
3. Horovod version: 0.16.1
4. MPI version: 3.1.12
5. CUDA version: 10.0.130
6. NCCL version: 2.4.2
7. Python version: 3.6.8
8. OS and version: Ubuntu 16.04

**Your question:**
PyTorch 1.1.0 comes with SyncBatchNorm, but it seems not working with horovod?
[code]

[2019-05-15 11:27] KimMeen commented on #975
@Young768 Maybe you can try to launch the task via `mpirun` command directly, as I did above.

[2019-05-15 14:05] ewrfcas opened #1078 "hvd tensorflow multi-gpu training hangs up after 190~220k steps"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow
2. Framework version: TensorFlow-gpu 1.13.1
3. Horovod version: 0.16.1
4. MPI version: openmpi 4.0.0
5. CUDA version: cuda10.0
6. NCCL version: v2.4.2 for cuda10
7. Python version: python 3.6
8. OS and version: ubuntu 16.04

I am using horovod to train a large model. The training can work properly as first. But after sev

[2019-05-15 15:11] tgaddair commented on #1071
Thanks, the symbols look correct.  Can I also take a look at the output from installing Horovod?

Also, when you import Horovod, be careful that you're not in the Horovod root directory, as that can cause weird issues.

[2019-05-15 16:58] Young768 commented on #1068
$mpirun --allow-run-as-root -np 2 -H master:1,slave0:1 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x NCCL_SOCKET_IFNAME=eth1,eth0 -mca btl_tcp_if_exclude virbr0 -mca pml ob1 -mca btl ^openib python tensorflow_mnist.py
----------------------------------------------------------------------------------------------------------------------
error:
[master:22449] Warning: co

[2019-05-15 17:43] Young768 commented on #1068
@alsrgv Hi Alex, I think I have succeeded in aligning the interface names. But there are some errors which are the same as running MPIRUN. I am very confused because I can run this example on single node in the same directory. But when I ran this example in the same directory with two nodes, it reports there is no such file.
Do you have any idea?

--------------------------------------------------

[2019-05-15 18:11] alsrgv commented on #1032
@heartbeat2015, it does matter - it seems like they're behind NAT which is not supported.

Could you uninstall Horovod and reinstall using `[flags] pip install --no-cache-dir git+https://github.com/horovod/horovod@horovodrun_fixes`?  That's a branch of the #1076 fix.  It's available until the PR is merged, after which it will be available in @master.

[2019-05-15 20:06] armandmcqueen opened #1079 "Install fails with DockerHub builds"
I am trying to build [this](https://github.com/armandmcqueen/tensorpack-mask-rcnn/blob/master/Dockerfile) Dockerfile using DockerHub builds. I have no problems building locally on Mac or on an EC2 instance, but DockerHub builds consistently fail at the install Horovod step (see below).

Can you help point me in the right direction?

* Is the 'error code -4' something I can investigate?
* Has anyon

[2019-05-15 20:16] tgaddair commented on #1075
Hey @yselivonchyk, can you share the command you used to install Horovod and the installation log output?  Thanks.

[2019-05-15 20:18] tgaddair commented on #1078
Hey @ewrfcas, there is a known issue with TensorFlow 1.13.1 with Horovod (#876).  Can your script run against TensorFlow 1.12, and if so, could you try using that or `tf-nightly-gpu`?

[2019-05-15 20:39] tgaddair commented on #1077
Hey @hubutui, [SyncBatchNorm](https://pytorch.org/docs/master/nn.html#torch.nn.SyncBatchNorm) makes assumptions about the framework used for doing distributed training, and only supports PyTorch's internal API for that.

What we can do is something similar to the work done to add this for TensorFlow in [TensorPack](https://github.com/tensorpack/tensorpack/blob/07783edb998cec3ec91c4312b39bd754cf9ec

[2019-05-15 21:14] ThrowMeForALoop commented on #1071
<img width="1283" alt="Screen Shot 2019-05-15 at 11 08 41 PM" src="https://user-images.githubusercontent.com/23578972/57809781-8a2bb300-7766-11e9-9dfe-97366dd0bf14.png">
Installation looks normal. However I realized that the same version works fine in my macbook (using clang) but only have trouble with cluster deployment (gcc 5.4.0) as seen from the picture.

I got stuck now as I tried any possibl

[2019-05-15 21:29] alsrgv commented on #1068
@Young768, can you make sure you have identical code on both servers in the same directory?

[2019-05-15 21:39] Young768 commented on #1068
@alsrgv Hi alex. I have fixed all the issues. I will close this issue.

[2019-05-15 21:39] #1068 closed

[2019-05-15 21:50] Himscipy commented on #1068
@Young768  I would request you to summarize your solution procedure, mistake you made and fixes which led you to run your case successfully, this will help others later struggling with similar issue.

[2019-05-15 21:57] Young768 commented on #1068
@Himscipy haha, no problem. Could I have your email address? When I finish, I'd like to send it to you and have a review.

[2019-05-15 22:06] Himscipy commented on #1068
@Young768  I don't need any the solution, I "requested" it is for the benefit of the community and you can post it on this issue itself if you want or not is your choice. Further I don't think it is a matter of me or anyone reviewing. Good Luck!

[2019-05-15 22:13] yselivonchyk commented on #1075
[code]

[2019-05-15 22:14] alsrgv commented on #1079
@armandmcqueen, I suspect this issue is caused by CPU architecture used by DockerHub build machines.  I suspect it's not modern, and TensorFlow/PyTorch typically require SSE or AVX instructions which it may not have, which would cause it to crash with SIGILL (illegal instruction, code -4).  I don't know of a good workaround, other than using more modern servers / VMs to build the docker image.

[2019-05-15 22:16] alsrgv commented on #1075
cc @yuxihu @apeforest any suggestions?

[2019-05-15 22:34] alsrgv commented on #1070
@rakshithvasudev, thanks for the detailed information.  This is super helpful.  I looked into the timelines, and I see a pretty big gap between the time gradient allreduce of one iteration is completed and start of the next iteration.  It could be caused by the forward, or stalls in the data pipeline.

During the run, what kind of CPU utilization are you seeing (e.g. from `top`)?  How many CPU cor

[2019-05-15 22:39] alsrgv commented on #761
@luzhilin19951120, could you try installing gcc7 in your conda environment (`conda install gcc_linux-64 gxx_linux-64`) and re-install Horovod within the conda environment?

[2019-05-15 22:40] alsrgv commented on #1028
@jtchilders, my guess would be that there's another ABI incompatible change between GCC 7 and GCC 8.   :-/

[2019-05-15 22:46] alsrgv opened #1080 "Emit proper diagnostics for Horovod.PyTorch import error"
**Is your feature request related to a problem? Please describe.**
Our code currently imports v2 version of ABI interface with PyTorch (>= 1.0.0), and if that fails, tries to import v1.  If both fail, the v1 import error is presented to user, which is most modern cases is useless ("v1 is not found").

**Describe the solution you'd like**
Since PyTorch >= 1.0.0 is more common now, we should output

[2019-05-15 22:46] tgaddair commented on #1071
Similar to #761, can you try installing a different gcc in a new conda environment (e.g, `conda install gcc_linux-64 gxx_linux-64`) and installing Horovod again?

[2019-05-15 22:46] alsrgv commented on #409
@luzhilin19951120, you get this error most likely because we first try to import v2 library, and if that fails import v1 library ([code](https://github.com/horovod/horovod/blob/master/horovod/torch/__init__.py#L22)).  The error of v2 library import is swallowed.

I believe we can remove v1 support soon, as users migrate off PyTorch 0.4.0, or at least print out v2 import error explicitly and attemp

[2019-05-15 22:50] alsrgv commented on #1038
@LeavesLei, look for the first error in your output. `Horovod has been shut down.` just means that something happened before and execution could not continue.

[2019-05-15 23:11] yuxihu commented on #1075
@yselivonchyk I think the path the libmxnet.so is not set correctly in your local machine. Try the following command:
[code]

[2019-05-15 23:17] alsrgv commented on #1036
@zhanglistar, is it feasible to make batches bigger locally?  40 batches per second requires low latency networking, like RoCE or InfiniBand.  Even then, it may not be enough.

[2019-05-15 23:17] alsrgv commented on #1029
@vbvg2008, we didn't dig it up too much.  I'm suspecting it's caused by some operation inside NCCL or MPI.

[2019-05-15 23:20] alsrgv commented on #1039
@kit1980, sorry for the delayed response.  I think the development mode could be interesting if it could work in conjunction with `python setup.py build` anytime we need to update the C++ code, which would hopefully do it incrementally.

[2019-05-15 23:21] alsrgv commented on #1039
@tgaddair, could you incorporate instructions for local development and advise not to use development mode for now in the developer's guide you're writing?

[2019-05-15 23:50] Young768 commented on #987
@abditag2 Hi Fardin. If we distribute Horovod with CPU only, will the MPI be responsible for performing the allreduce operation. Because we do not install NCCL library.

[2019-05-15 23:51] abditag2 commented on #987
yes.

[2019-05-15 23:58] vbvg2008 commented on #1029
@alsrgv Thanks for your reply!

[2019-05-16 00:00] #119 closed

[2019-05-16 00:00] #152 closed

[2019-05-16 00:00] #157 closed

[2019-05-16 00:01] alsrgv commented on #167
Closing due to lack of activity.

[2019-05-16 00:01] #167 closed

[2019-05-16 00:02] #175 closed

[2019-05-16 00:02] alsrgv commented on #125
Closing due to lack of activity.  Going forward, `horovodrun` is a preferred way to run Horovod, while `mpirun` should be reserved for advanced use cases.

[2019-05-16 00:02] #125 closed

[2019-05-16 00:03] alsrgv commented on #212
Closing due to lack of activity.  Going forward, `horovodrun` is a preferred way to run Horovod, while `mpirun` should be reserved for advanced use cases.

[2019-05-16 00:03] #212 closed

[2019-05-16 00:03] #198 closed

[2019-05-16 00:03] #196 closed

[2019-05-16 00:03] alsrgv commented on #211
Closing due to lack of activity.  Going forward, `horovodrun` is a preferred way to run Horovod, while `mpirun` should be reserved for advanced use cases.

[2019-05-16 00:03] #211 closed

[2019-05-16 00:04] #225 closed

[2019-05-16 00:04] #237 closed

[2019-05-16 00:05] #245 closed

[2019-05-16 00:05] alsrgv commented on #234
Closing due to lack of activity.

[2019-05-16 00:05] #234 closed

[2019-05-16 00:05] #246 closed

[2019-05-16 00:05] #256 closed

[2019-05-16 00:06] #257 closed

[2019-05-16 00:06] alsrgv commented on #98
Closing due to lack of activity.  Going forward, `horovodrun` is a preferred way to run Horovod, while `mpirun` should be reserved for advanced use cases.

[2019-05-16 00:06] #98 closed

[2019-05-16 00:07] #226 closed

[2019-05-16 00:09] Young768 commented on #987
@abditag2 Could you please help me classify which parts of code in the Horovod are responsible for doing these? I am also trying to get familiar with the codebase.

[2019-05-16 00:21] abditag2 commented on #987
Sure, in the operations.cc https://github.com/horovod/horovod/blob/73d860f2396321761e0f5ef6fe934130afd69094/horovod/common/operations.cc#L45 we use the environment flags to decide which framework will execute the allreduce/allgather/bcast operations. For each framework, there is a file that uses the APIs provided by that framework to perform the operation e.g., `ops/nccl_operations.h` and `ops/ddl

[2019-05-16 00:27] Young768 commented on #987
@abditag2 Thanks Fardin!!!!! One more question. After we submit the job, for example, $ horovodrun -np 16 -H server1:4,server2:4,server3:4,server4:4 python train.py, these four servers will form the communication topology. Each will send the data to the neighboring server during the training. I want to know which parts of code are responsible for setting up the topology. I am quite interested in h

[2019-05-16 00:29] abditag2 commented on #987
I would recommend reading this paper: https://arxiv.org/abs/1802.05799

[2019-05-16 00:35] yselivonchyk commented on #1075
Even so mxnet works on my system, I don't have an libmxnet.so file not where you mentioned nor in the virtualenv that I am using. And even "find / -name libmxnet.so" wasn't able to get it.

[2019-05-16 00:45] abditag2 commented on #987
Generally, all the workers report to worker 0 when the tensors are ready to be reduced. Once there are enough tensors, worker 0 informs all the workers to start that operation (i.e. allreduce/allgather). The core of the operation is performed by the underlying framework. For example, if you are using MPI, we use ring allreduce between the workers to reduce the tensors.

[2019-05-16 00:47] alsrgv commented on #952
@dasight, sorry for the delayed response.   I'm not sure what's causing CDH issue, but since the error message suggests to specify `-mca routed direct`, can you do this in your dockerfile (or on all VMs):
[code]
?

Were you able to resolve the HDP hang issue?  If not, could you check if there are any errors in `dmesg` on any of the servers, and which processes are still running after you get the o

[2019-05-16 00:48] alsrgv commented on #1049
@ThrowMeForALoop, [Petastorm](https://github.com/uber/petastorm) has codecs that allow it to support multi-dimensional images.  I'd recommend trying it out, and if anything doesn't work raising an issue there.

[2019-05-16 00:52] alsrgv commented on #1041
@XuesongYang, this is probably more supported way - https://www.tensorflow.org/api_docs/python/tf/strings/unicode_decode - it converts strings to int32.  However, we haven't tested it.  Do you plan to allgather a single string from each worker, or a batch of strings from each worker?

[2019-05-16 00:58] divyakul1 commented on #1074
Yes, it does work on the docker image,
I was using a virtual environment with tensorflow 1.12.0, but just switched to one with **tensorflow 1.13.1** and the same version for all other packages, and I am getting the same results as you. Thank you!

[2019-05-16 01:02] Young768 commented on #987
@abditag2 Hi Fardin. Yep, I did read that paper before. I am looking into the detailed code to see how you implement the ring allreduce, for example, forming the communication topology. It seems that all the related codes are under horovod/horovod/common/...?

[2019-05-16 02:14] hubutui commented on #1077
Thanks, I'm still using SyncBatchNorm from [apex](https://github.com/NVIDIA/apex).

[2019-05-16 02:41] Young768 commented on #155
@alsrgv Hi Alex, I tried to build horovod from downloaded source code:
$ git clone https://github.com/uber/horovod
$ cd horovod
$ python setup.py sdist
After I ran these commands, i got tar.gz package under dist file. So I ran
$pip install --no-cache-dir dist/horovod-0.16.1.tar.gz

I can build horovod from pip install horovod successfully. But when I ran the above, I met these errors. Could you pl

[2019-05-16 03:23] alsrgv commented on #987
@Young768, in Horovod we mostly decide between hierarchical (NCCL + MPI) vs native (NCCL-only, MPI-only) strategies. Those operations can be found [here](https://github.com/horovod/horovod/tree/master/horovod/common/ops).  Under the hood, NCCL and MPI have their own way of building low-level topologies.  That code can be found on their GitHub pages: [NCCL](https://github.com/NVIDIA/nccl), [Open MP

[2019-05-16 03:24] alsrgv commented on #155
@Young768, these days you need to `git clone --recursive https://github.com/horovod/horovod` because we added submodules.

[2019-05-16 03:31] Young768 commented on #155
@alsrgv Hi Alex. Yep It works. Thanks

[2019-05-16 03:33] alsrgv commented on #1050
@XuesongYang, out of my curiosity - what's the reason that you cannot preprocess data on both instances?  Are both servers participating in the single deep learning training, or they're training two different models?

[2019-05-16 03:36] alsrgv commented on #1051
@LiJianbo-AI, can you try reducing the learning rate?  You total batch size is quite large, too - 8192.

[2019-05-16 03:39] alsrgv commented on #1053
@SoulGuedria, sorry for the delayed response.

1. `MetricAverageCallback` averages metrics at the end of every epoch - this helps to accelerate validation since every worker can run validation on a part of the dataset and then metrics can be averaged.  Actual gradient averaging is done by `DistributedOptimizer`.

2. Gradient averaging actually happens every mini-batch.  Are you asking how to make

[2019-05-16 03:41] alsrgv commented on #1054
@raoxing, in case of HOROVOD_HIERARCHICAL_ALLREDUCE=1, MPI is used between nodes.  NCCL natively supports hierarchical allreduce since 2.4.x.  You can try disabling HOROVOD_HIERARCHICAL_ALLREDUCE and upgrading to NCCL 2.4.x to see if it improves the performance of your model.

[2019-05-16 03:43] alsrgv commented on #1040
@ddkang, sorry for the delayed response.  Looks like this is the same version as the one flagged in https://github.com/open-mpi/ompi/issues/4437.  Could you try uninstalling hwloc (`apt purge hwloc-nox libhwloc-dev libhwloc-plugins libhwloc5`) and reinstalling Open MPI?

[2019-05-16 04:06] ewrfcas commented on #1078
@tgaddair Thanks for your advice. But I don't have the problem in #876 issue. All gpus seem to be working well before one of them is hung up.
![image](https://user-images.githubusercontent.com/12042259/57825795-1673bf80-77d3-11e9-9d34-6319b9d06f30.png)

[2019-05-16 04:35] alsrgv commented on #1078
@ewrfcas, can you dump `thread apply all bt` using `gdb` from all processes when training gets stuck?

[2019-05-16 06:00] ewrfcas commented on #1078
@alsrgv , thanks. I will do it when the hang up happens.

[2019-05-16 06:28] tgaddair commented on #1039
Absolutely!

On Wed, May 15, 2019 at 4:21 PM Alex Sergeev <notifications@github.com>
wrote:

[2019-05-16 06:42] ThrowMeForALoop commented on #1071
nothing changed even with new installed gcc. Still the same problem with missing horovod/common/parameter_manager.cc. Maybe CENTOS 7.0 is the root cause ??

[2019-05-16 08:13] #1049 closed

[2019-05-16 08:15] ThrowMeForALoop commented on #1071
Another thing worth mentioning is that horovod 0.14 works fine with the same setup (gcc, os ...). However I need to use horovod.spark which only exists on 0.16.0 and 0.16.1 version

[2019-05-16 11:32] dengc367 commented on #431
@nicolefinnie
I first run the following commands and fix the problem:
`
pip uninstall horovod
conda install gcc_linux-64 gxx_linux-64
conda run pip install --no-cache-dir horovod
`
I think you should run the pip install command in the conda environment and can find the tensorflow_framework.so shared library.

good lucks.

[2019-05-16 11:37] dengc367 commented on #678
I solve the problem following the other thread method:
https://github.com/horovod/horovod/issues/431#issuecomment-493030517

[2019-05-16 11:38] dengc367 commented on #656
https://github.com/horovod/horovod/issues/431#issuecomment-493030517

follow this method, i want you can solve it.

[2019-05-16 11:56] tingweiwu opened #1081 "shm-size when run horovod with pytorch"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
PyTorch
2. Framework version:
1.0.0
3. Horovod version:
0.15.2
4. MPI version:
mpirun.real (OpenRTE) 3.1.2
5. CUDA version:
9.0
6. NCCL version:
7. Python version:
3.5
8. OS and version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
yes. I search `insufficient shared memory`
2. If your que

[2019-05-16 13:01] ewrfcas commented on #1078
Hi @alsrgv, the process is hung up again in 611827 steps.
The stuck process is pid=9065 and the message from gdb of it is
![image](https://user-images.githubusercontent.com/12042259/57855243-c6214f80-781c-11e9-8461-c6bad18be108.png)
The messages of other processes (9058, 9064...) are the same as it except Thread id and LWP id.

[2019-05-16 14:47] luzhilin19951120 commented on #761
Thank you very much, the problem is solved after installing gcc7.

This seems to be a key request of using horovod0.16.1 together with PyTorch1.1.0, I suppose you may add a special instruction about it.

And there exists a small problem about isl version when installing gcc7 with anaconda3. The following code will solve it.
[code]

Thank you again ! ^_^
@alsrgv

[2019-05-16 16:09] SoulGuedria commented on #1053
@alsrgv Thanks for your reply and for this nice project.

1. If I understood correctly, the gradient averaging happens every mini-batch including the end of every epoch.

2. I might have a stupid question. Do metrics averaging and gradient averaging stand for the same computational process ? If not, what do you mean by metrics averaging ?

3. I'm asking these questions because i'm evaluating a 18

[2019-05-16 16:40] yuxihu commented on #1075
@yselivonchyk I think you first need to figure out where your mxnet (libmxnet.so) is installed. You can uninstall mxnet and install mxnet. You can usually see the path it is installed.

You can use the following command to check the path to libmxnet.so:

[code]

In my local environment, it was `lib/libmxnet.so`.

Then you can use `install_name_tool` to change the path to where your libmxnet.so loc

[2019-05-16 19:26] alsrgv commented on #975
This is implemented in 0.16.2

[2019-05-16 19:26] #975 closed

[2019-05-16 19:58] romerojosh commented on #1078
@ewrfcas If possible, can you try updating your NCCL library to a recent version (i.e. v2.4.7)? There was an issue with NCCL 2.4.2 where very long running jobs could hang that has been addressed in recent versions.

[2019-05-16 20:21] alsrgv commented on #1053
1. That's right.
2. Metrics are things like training accuracy or validation accuracy.
3. Are you doing learning rate warmup, [like this](https://github.com/horovod/horovod/blob/master/examples/keras_imagenet_resnet50.py#L147)?

[2019-05-16 20:26] yselivonchyk commented on #1075
You are probably right.

I actually have mxnet.so at the right place according to command you provided:
`lib/libmxnet.so (compatibility version 0.0.0, current version 0.0.0)`

Tried to setup a new virtualenv - no improvement.

[2019-05-16 21:25] alsrgv commented on #1071
@ThrowMeForALoop, what kind of CPU do you have on this server?  Do you build Horovod and run it on the same server?  SIGILL means that an instruction used was not supported by CPU architecture.

[2019-05-16 21:36] alsrgv commented on #1081
@tingweiwu, did you try not setting sizeLimit on emptyDir?  It should default to unlimited.

[2019-05-16 21:45] yuxihu commented on #1075
@yselivonchyk can you post the path to your libmxnet.so file? And the output of running the following command?
[code]

[2019-05-16 22:06] bluesummers1129 commented on #1065
When I try to modify a TF workflow that works on a single machine to do this I run into issues with how feature_columns are passed to the model_fn. I'm getting a strange error in the _normalize_feature_columns() call when in horovod.spark.run mode:

[code]

I generate feature columns outside of my horovod.spark call using:
[code]
so I'm sure that my columns are correct, and then define the model_f

[2019-05-16 22:17] ThrowMeForALoop commented on #1071
<img width="1438" alt="Screen Shot 2019-05-17 at 12 16 15 AM" src="https://user-images.githubusercontent.com/23578972/57890740-0f7f9800-7839-11e9-9fc2-a7bc5bd3acfc.png">
@alsrgv : My CPU is quite old-fashioned. Can you confirm about Horovod support with this sort of CPU.
Thanks

[2019-05-16 22:33] SoulGuedria commented on #1053
Yes exactly i'm doing gradual learning rate warmup for the first 5 epochs.

[2019-05-16 22:57] alsrgv commented on #1071
@ThrowMeForALoop, looks like it's [2011 model](https://ark.intel.com/content/www/us/en/ark/products/52581/intel-xeon-processor-e5649-12m-cache-2-53-ghz-5-86-gt-s-intel-qpi.html).

I've pushed a tentative fix for you.  Can you try installing Horovod via `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir git+https://github.com/horovod/horovod@fix_avx`?

[2019-05-16 23:00] alsrgv commented on #1053
@SoulGuedria, interesting - may be a good idea to play around with hyperparameters then. Which optimizer are you using?

[2019-05-16 23:12] alsrgv commented on #1065
@bluesummers1129, I wonder if `cloudpickle` fails to properly serialize TensorFlow's FeatureColumns?  Is it possible to call the function that generates feature columns inside your model function?

[2019-05-16 23:39] bluesummers1129 commented on #1065
I tried this as well and just sent the indexers dict to the input_fn_tf_estimator(), but this had the same issue. I also tried moving the tf_model_fn definition itself into the input_fn, and this also didn't work. Just for completeness I also refactored it as a simple horovodrun script without spark, and it still didn't work

[2019-05-17 01:37] heartbeat2015 commented on #1032
@alsrgv why NAT matter and any solution? my cluster is on different nodes where they doesn't on the same LAN,I seems have to solve this problem. Reasonable, cluster can communicate with each other with basic connection.

[2019-05-17 01:43] alsrgv commented on #1032
@heartbeat2015, nodes in the cluster must be able to reach each other, and NAT generally makes it hard. You can try using `mpirun` directly instead of `horovodrun` by following [this doc](https://github.com/horovod/horovod/blob/update_docs/docs/mpirun.rst).

[2019-05-17 01:45] scotthuang1989 commented on #1061
@alsrgv tensorflow version is 1.9.0.  I didn't stop training since I file this this bug.  everything works ok, the loss, accuracy is in normal range. so what confuse me is  how can other 3 GPUs train the model "correctly" with half GPU amount of memory?

[2019-05-17 01:50] ddkang commented on #1040
That worked, thank you! It would be nice to have this in the documentation.

[2019-05-17 02:17] alsrgv commented on #1040
Good idea, added to #1084.

[2019-05-17 02:17] #1040 closed

[2019-05-17 02:19] alsrgv commented on #1061
@scotthuang1989, TensorFlow allocated memory in rather large chunks.  It's possible that even minor additional memory used for any purpose will trigger doubling the amount of memory allocated to TensorFlow.  I wouldn't worry too much about it if your training is progressing normally.

[2019-05-17 03:30] GaofengCheng opened #1086 "Horovod pytorch will hang on multi-node"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): Pytorch
2. Framework version: 1.0.0
3. Horovod version: 0.16.1
4. MPI version: 4.0.1
5. CUDA version: 10.1
6. NCCL version: 2.4.6
7. Python version: 3.7
8. OS and version: centos 7.6

**Checklist:**
1. Did you search issues to find if somebody asked this question before? no
2. If your question is about hang, did you read [this doc

[2019-05-17 05:30] heartbeat2015 commented on #1032
@alsrgv  I get two machine on the same LAN ,and using
horovodrun -np 2 -H 192.168.1.3:1,192.168.1.4:1 python pytorch_horovod_mnist.py
the output is:

start at port: 60390

abc {'lo': [('127.0.0.1', 59685)], 'eth0': [('192.168.1.4', 59685)]} 1
{'lo': [('127.0.0.1', 59685)], 'eth0': [('192.168.1.4', 59685)]} : 127.0.0.1
abc {'lo': [('127.0.0.1', 47482)], 'eth0': [('192.168.1.3', 47482)]} 0
{'lo': [(

[2019-05-17 06:58] alsrgv commented on #1032
@heartbeat2015, progress!  Can you try building Open MPI like we do [here](https://github.com/horovod/horovod/blob/master/Dockerfile#L40), with the `--enable-orterun-prefix-by-default` option?

[2019-05-17 07:06] alsrgv commented on #1086
@GaofengCheng, can you try [this suggestion](https://github.com/horovod/horovod/issues/952#issuecomment-492874494) and see if it helps?

[2019-05-17 07:41] GaofengCheng commented on #1086
@alsrgv how to add `-mca routed direct` for horovodrun?

[2019-05-17 07:44] tingweiwu commented on #1081
@alsrgv not setting sizeLimit on emptyDir solves this issue.
but I have some doubts.
seting the emptyDir.medium field to "Memory" means mounting a tmpfs (RAM-backed filesystem) into pod(container).  and the defaults size of tmpfs  is  the half of the node RAM.
[code]
if we not setting sizeLimit,  I guess it could lead to a memory exhaustion on the node where severals pods are running on the same n

[2019-05-17 07:44] alsrgv commented on #1086
[code]

[2019-05-17 07:46] alsrgv commented on #1081
@tingweiwu, it's not half of the node RAM, but sum of memory allocated to all containers in the pod.  Assuming Kubernetes knows about the physical memory on the server, it should not exhaust memory.

[2019-05-17 07:56] GaofengCheng commented on #1086
No help.
[code]

[2019-05-17 07:57] GaofengCheng commented on #1086
I have tried pytorch inbuilt distribution, it works between these two nodes.

[2019-05-17 08:11] ewrfcas commented on #1078
@romerojosh thank you very much. I will try NCCL 2.4.7 to train the next model and give the feedbacks.

[2019-05-17 08:13] alsrgv commented on #1086
Could you try this:
[code]

I've started #1087 to resolve the warning.  It's safe to ignore.

[2019-05-17 08:16] GaofengCheng commented on #1086
tried.
[code]

[2019-05-17 08:24] alsrgv commented on #1086
@GaofengCheng, that's interesting.  Did you set up [passwordless auth](http://www.linuxproblem.org/art_9.html)?

[2019-05-17 08:27] tingweiwu commented on #1081
@alsrgv  thanks a lot. I have validated by the following test.
the pod memory limit is 120G
[code]

enter the pod,  tpye the following commd to write 200G file in ` /dev/shm/`
the `dd` commmand exit when it write 118G file
[code]

[code]

[2019-05-17 08:55] scotthuang1989 commented on #1061
@alsrgv , I think you are right. I try different batch size, the GPU memory assumption is almost the same. thanks.

[2019-05-17 08:55] #1061 closed

[2019-05-17 09:10] #1081 closed

[2019-05-17 10:23] raoxing commented on #1054
hi, alsrgv ,Thank you for your reply。
I find NCCL 2.4.x does not support  hierarchical allreduce (https://devblogs.nvidia.com/massively-scale-deep-learning-training-nccl-2-4/)， and i Implement a hierarchical allreduce(refer to https://arxiv.org/abs/1807.11205)  base on horovod and nccl2.4, on tf benchmark test(vgg16 model, batch_size=128, two 8-card V100 machines, intra ring over nvlink, inter rin

[2019-05-17 15:01] ThrowMeForALoop commented on #1071
@alsrgv : your build works well.
Still I get trouble in running 'keras_spark_rossmann' example. I guess the problem is that mpirun command can not run as root as I am a normal user.

Would you mind checking it, please? Thanks
<img width="1084" alt="Screen Shot 2019-05-17 at 4 49 17 PM" src="https://user-images.githubusercontent.com/23578972/57936986-55823d80-78c5-11e9-8fe8-a95c18eb2d9d.png">
<img

[2019-05-17 16:58] yselivonchyk commented on #1075
Pointing to libmxnet within my virtualenv solved the issue:
`install_name_tool -change "lib/libmxnet.so" "/Users/yauheni/env/dev/lib/python3.7/site-packages/mxnet/libmxnet.so" /Users/yauheni/env/dev/lib/python3.7/site-packages/horovod/mxnet/mpi_lib.cpython-37m-darwin.so
`

Thank you.

[2019-05-17 16:58] #1075 closed

[2019-05-17 17:14] bluesummers1129 commented on #1065
Small update - I rewrote the script from scratch as a pure horovorun execution, and had it import horovod.tensorflow and pyspark at the top level rather than in the individual functions, and it works as a call to horovodrun. It still doesn't work as a horovod.spark run, though, even if I move the model_fn definition into the function being called by horovod.spark.run(). It really does seem like th

[2019-05-17 18:03] alsrgv commented on #1071
Great! Can you paste the full output? `mpirun` error should be above these messages.

[2019-05-17 18:04] #1071 closed

[2019-05-17 19:47] rakshithvasudev commented on #1070
Thanks for the inputs @alsrgv . It was more about fixing my tf data pipeline. I also reduced the number of parallel calls, that way I'm not oversubscribing. The server by the way has 40 cores.

The solution for me was to follow the tf pipeline format established by tensorflow official models.

For anybody looking at this later, when I straight up implemented the way the pipeline is, I got an error

[2019-05-17 19:47] #1070 closed

[2019-05-18 07:39] ThrowMeForALoop commented on #1071
@alsrgv : Can you check whether your commit is in the latest build of horovod.
You deleted the  horovod@fix_avx branch and I meet the same problem as install horovod from:
`HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod `

[2019-05-18 08:07] alsrgv commented on #1071
@ThrowMeForALoop, can you install via `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir git+https://github.com/horovod/horovod`?

[2019-05-18 08:25] GaofengCheng commented on #1086
the two nodes have both eth0 and ib0. but the horovod common_intfs choose eth0. How to force the horovod use ib0. If I run locally, nccl will choose ib0.

[2019-05-18 09:28] alsrgv commented on #1086
I suspect it has something to do with the routing table.  What’s the output of `ip route`?

`horovodrun` is a convenience wrapper. You can get full control by using `mpirun` directly - https://github.com/horovod/horovod/blob/master/docs/mpirun.rst.

[2019-05-18 10:30] GaofengCheng commented on #1086
ip route

rd03:
default via 10.20.7.1 dev eth0
10.20.7.0/24 dev eth0 proto kernel scope link src 10.20.7.203
10.20.7.0/24 dev ib0 proto kernel scope link src 10.20.7.223
169.254.0.0/16 dev eth0 scope link metric 1002
169.254.0.0/16 dev ib0 scope link metric 1006

rd06:
default via 10.20.7.1 dev eth0
10.20.7.0/24 dev eth0 proto kernel scope link src 10.20.7.206
10.20.7.0/24 dev ib0 proto kernel sco

[2019-05-18 14:18] hongyx11 commented on #82
Thanks! but what's the meaning of this sentence? Does it have some relation with cuda-aware mpi setting?

[2019-05-19 17:03] SoulGuedria commented on #1053
@alsrgv, I'm using Adam optimizer. I tried also SGD. Yes playing around with hyperparameters sounds a good idea. I will try other combinations of hyperparameters and i will keep you informed. Thanks for the suggestion :)

[2019-05-19 22:27] armandmcqueen commented on #1079
Ah that would make sense, thanks

[2019-05-19 22:27] #1079 closed

[2019-05-20 02:08] ewrfcas commented on #1078
@romerojosh thanks, and I solve this problem by reinsalling NCCL 2.4.7

[2019-05-20 02:08] #1078 closed

[2019-05-20 09:57] un-knight opened #1089 "Mixed precision support for pytorch"
Does horovod support mixed precision triaining for pytorch like nvidia apex？

[2019-05-20 13:27] mmisono commented on #971
@abhi278
I had the same issue. In my case, as commented on [here](https://github.com/horovod/horovod/issues/403#issuecomment-418725026), using `mpirun` instead of `horovodrun` and specifying `NCCL_SOCKET_IFNAME` and `-mca btl_tcp_if_include` solve the problem.

[2019-05-20 19:18] alsrgv commented on #1086
@GaofengCheng, I think the issue is that traffic to `110.20.7.206/24` gets routed via `10.20.7.206/24` and thus ib0 is not used (in `horovodrun`) and also makes Open MPI confused.

If you're feeling adventurous and don't mind playing with the routing table, changing `10.20.7.0/24 dev ib0 proto kernel scope link src 10.20.7.226` to `110.20.7.0/24 dev ib0 proto kernel scope link src 110.20.7.206` (a

[2019-05-20 21:00] alsrgv commented on #1054
@raoxing, great - did you use `HOROVOD_HIERARCHICAL_ALLREDUCE=1` or did you customize Horovod?

[2019-05-20 22:08] alsrgv commented on #1065
Assigned to @tgaddair to take a look.

[2019-05-21 02:49] wanglouis49 commented on #1072
Facing the same issue here.

[2019-05-21 03:02] chengjianhong opened #1091 "How to specify the device GPU?"
Hi, I have 1 machine with 4 gpu. If I only use the 2 gpu of them, how to specify and  run?

[2019-05-21 03:27] wanglouis49 commented on #686
@alsrgv I had the same issue and it's resolved by following the link you mentioned. Thanks!

[2019-05-21 05:09] Young768 commented on #1068
Hi all, I will summarize my installation processes. Hope that it could help someone.

1. install OpenMPI. This [page](https://www.open-mpi.org/faq/?category=building#easy-build) is good enough.
if you see errors like
“checking for gcc... no
checking for cc... no
checking for cl.exe... no”
You need gcc packages
$sudo apt-get install build-essential

2. Install [MKL Tensorflow](https://software.inte

[2019-05-21 05:47] alsrgv commented on #1089
@un-knight, I was able to get Apex to work with Horovod, please see [gist](https://gist.github.com/alsrgv/0713add50fe49a409316832a31612dde) - look for `# Apex` comments.  I also applied the same changes to our [PyTorch ImageNet example](https://github.com/horovod/horovod/blob/master/examples/pytorch_imagenet_resnet50.py) and it successfully trained for a few epochs with loss / accuracy identical t

[2019-05-21 08:36] #686 closed

[2019-05-21 11:58] un-knight commented on #1089
That is great! I will have a try and feadback, thx.

[2019-05-21 12:03] un-knight commented on #1089
@alsrgv  By the way, Does horovod will extend mixed precision support in native?

[2019-05-21 16:34] tdww opened #1094 "Performance issues on CPU."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.13.1
3. Horovod version: 0.16.2
4. MPI version: 2.1.1
5. CUDA version: -
6. NCCL version: -
7. Python version: 3.6.7
8. OS and version: Ubuntu 18.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this do

[2019-05-21 17:59] alsrgv commented on #1089
@un-knight, we didn't have plans so far as it seems to be orthogonal to distributed training.

[2019-05-21 19:04] vbvg2008 opened #1095 "Broadcasting learning rate when using Horovod with Keras ReduceLROnPlateau callback"
Hi I am using horovod + tf.keras for my multi-gpu training.  I used 4 GPUs for training and 1 GPU(rank0) for validation. Since only rank0 has access to validation loss, I only applied the ReduceLROnPlateau callback on rank0.

Here's my question:

When lr is decreased on rank0,   will the lr be automatically broadcasted to other ranks?  or do I need to manually broadcast the lr to other ranks?  if

[2019-05-22 06:42] un-knight commented on #1089
@alsrgv In my project, apex can work with horovod, and I find something new and interesting:
1. `optimizer.synchronize()` operation will slow down the training throughput
2. comment `optimizer.synchronize()` will work fun with apex-fp32, while invoke synchronize error with apex-fp16
3. distributed training throughput with horovod is lower than pytorch native distributed

[2019-05-22 07:29] alsrgv commented on #1089
`optimizer.synchronize()` is added for safety - Apex applies a lot of modifications to underlying network and gradients which can conflict with asynchronous allreduce that is performed by DistributedOptimizer - you're seeing it in (2).

I'm not surprised Apex works faster with PyTorch native since that's what it was optimized for.  Conceptually, both PyTorch and Horovod use similar PyTorch mechani

[2019-05-22 09:54] zyfedward commented on #913
Same issue

Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow

Framework version:
tf1.13.0rc2

Horovod version:
0.16.0

MPI version:
1.10.3

CUDA version:
10.0

NCCL version:
N/A

Python version:
3.5

OS and version:
N/A

`2019-05-22T08:23:32.146Z: [1,1]<stderr>:INFO:tensorflow:Graph was finalized.
2019-05-22T08:23:32.146Z: [1,1]<stderr>:2019-05-22 08:23:32.144377: I tensorflow/core/platfo

[2019-05-23 01:17] tgaddair commented on #1065
Hey @bluesummers1129, this appears to be a bug with PySpark.  I've filed a bug with them [here](https://issues.apache.org/jira/browse/SPARK-27810).

In the meantime, you should be able to workaround this issue by doing the following at the top of your script:

[code]

This will prevent pyspark from overwriting the collections.namedtuple class and breaking cloudpickle.

[2019-05-23 12:40] jackalcooper commented on #654
@LiweiPeng Does Horovod only support RoCE? Is it possible to run it with rdma protocol?

[2019-05-23 13:06] jackalcooper commented on #654
I remove the `NCCL_IB_GID_INDEX` variable in my script and it hangs after NCCL logs output.

[2019-05-23 20:50] rakshithvasudev commented on #1091
can you try horovodrun -np 2 python yourpyfile.py and check nvidia-smi for gpu utilization?

[2019-05-24 08:20] jackalcooper opened #1097 "Horovod hangs when running on IB"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13.0-rc0
3. Horovod version:0.15.1
4. MPI version:Open MPI 3.1.3
5. CUDA version:10.0
6. NCCL version:2.3.7
7. Python version:3
8. OS and version: docker container, based image is` nvcr.io/nvidia/tensorflow:19.03-py3`

**Bug report:**
Horovod hangs when running on IB but it works when running on Socket via IB.
Commands:
It works but

[2019-05-24 16:12] bluesummers1129 commented on #1065
I tried putting this at the top of my script before all the other imports but am still seeing the same issue. Do I also have to import this inside the input_fn itself?

[2019-05-24 20:59] tgaddair commented on #1065
Possible that we need to do the same on the backend of horovod when deserializing the function.  I'll take a look and get back to you.

[2019-05-26 07:16] ppwwyyxx commented on #880
I recently run into a hang with similar stack trace when using horovod:
[code]
Running TF1.13.1, cuda 10, NCCL 2.4.2, horovod 0.16.2.
I'm not sure if it's related to horovod or not since I've seen similar reports from others not using horovod.

[2019-05-26 08:34] alsrgv commented on #880
Per [this](https://github.com/horovod/horovod/issues/1078#issuecomment-493816557), the issue may be solved by migrating to NCCL 2.4.7.

[2019-05-26 08:44] alsrgv commented on #1094
@tdww, MNIST example is not meant for performance evaluations, but rather meant to see Horovod integration points.  Can you try running a bigger model?

[2019-05-26 08:47] alsrgv commented on #1095
@vbvg2008, if you add MetricAverageCallback before ReduceLROnPlateau (like [this](https://github.com/horovod/horovod/blob/master/examples/keras_mnist_advanced.py#L91)), all ranks will observe the same validation loss and behave in the same way.  That's the preferred way to accomplish synchronicity with logic based on validation losses.

[2019-05-26 08:50] alsrgv commented on #913
@zyfedward, same as above, could you try to upgrade to Horovod 0.16.2 and use `horovodrun -np 8 -H localhost:8 python XXXX.py`?

[2019-05-26 08:56] alsrgv commented on #654
@jackalcooper, it's possible to specify `NCCL_IB_DISABLE=1` to run NCCL w/o RDMA, but it may be slower. What NCCL output are you seeing before the hang?

[2019-05-26 09:00] alsrgv commented on #1097
@jackalcooper, can you set `-x NCCL_DEBUG=INFO` in your command, so we can see NCCL output from both hosts?

[2019-05-26 11:33] #656 closed

[2019-05-26 17:40] ppwwyyxx commented on #880
Thanks for the pointer! Will try

[2019-05-26 22:35] vbvg2008 commented on #1095
@alsrgv In my case, all my validation data is in form of tfrecords, in order to avoid the reading conflict between ranks, I have to use tf.data.dataset.shard to assign different portion of validation data to each ranks. if my validation load is not balanced (say rank0 has 100 example, other ranks has 10 example), then `MetricAverageCallback` will not produce correct validation metric over all data

[2019-05-27 12:36] 7LFB commented on #1045
hello, I installed the horovod using pip, but cant find 'horovodrun'. what should I do?

[2019-05-27 22:41] tdww commented on #1094
Thanks, gonna try it out.

[2019-05-28 01:10] ildoonet opened #1099 "Duplicated Synchronization with Gradient Clipping?"
**Environment:**
1. Framework: pytorch
2. Framework version: 1.0
3. Horovod version: latest
4. MPI version: -
5. CUDA version: -
6. NCCL version: -
7. Python version: 3.6
8. OS and version: Ubuntu 16.04

https://github.com/horovod/horovod/blob/master/horovod/torch/__init__.py#L174

If you see this documentation, when using gradient clipping, there is duplicated(twice) synchronization. Once is when

[2019-05-28 05:56] shunshunyin opened #1100 "Should we allocate different train data to different workers manually?"
**Your question:**
Should we allocate different train data to different workers manually?

[2019-05-28 10:09] DavidBrayford opened #1101 "Can not convert a DistributedOptimizer into a Tensor or Operation."
I am trying to convert an existing TensorFlow to use horovod for distributed training and now get an error when trying to execute the script:

Traceback (most recent call last):
  File "/demo_isc19/Training/Segmentation/train_hvd.py", line 227, in <module>
    _, current=sess.run([opt,loss], feed_dict=feed_dict)
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/client/session.py", l

[2019-05-28 14:37] maxhgerlach opened #1102 "hvd.shutdown() hangs in MPI_Finalize() for just one rank"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13.1, custom built without XLA
3. Horovod version: 0.16.2
4. MPI version: Open MPI 4.0.1
5. CUDA version: 10.0
6. NCCL version: 2.3.7-1+cuda10.0
7. Python version: 2.7
8. OS and version: Ubuntu 16.04.5 LTS

Mellanox OFED 4.4-2.0.7.0 is installed.

**Bug report:**
I am facing an issue in our custom Horovod-based training code. When I

[2019-05-28 20:04] amity137 opened #1103 "backward_passes_per_step doesn't seem to work"
**Environment:**
1. Framework: PyTorch

Hi folks, my training speed is 6 batches/second on a single GPU. When I use Horovod with backward_passes_per_step as 40, it doesn't seem to help and training speed goes down to 1 batch/sec. When I set backward_passes_per_step to a very large number 40000000, it still doesn't make any difference. I have checked that the Horovod version installed supports this

[2019-05-29 02:46] ideaRunner commented on #832
I have a similar question:
Does horovod support early stop?
For my case, Worker-0 do eval steps and decide whether it need to stop the training progress.
The problem is that when worker-0 stop,  I got an error

Although, the training progress stops as I want, that error report makes me a bit uncomfortable...

[2019-05-29 03:32] alsrgv commented on #1089
@un-knight, a couple of updates:

#597 introduced a performance regression for use-cases involving manual `synchronize()`. As pointed out in #1099, it causes duplicate allreduce.

As a workaround, can you specify `optimizer._requires_update = set()` after `DistributedOptimizer` wraps original optimizer, [like this](https://gist.github.com/alsrgv/0713add50fe49a409316832a31612dde)?

This workaround

[2019-05-29 03:34] alsrgv commented on #1099
@ildoonet, thanks for raising this!  This regression has been introduced by #597.

While we're thinking about a proper solution, can you specify `optimizer._requires_update = set()` after `DistributedOptimizer` wraps original optimizer, [like this](https://gist.github.com/alsrgv/0713add50fe49a409316832a31612dde)?

[2019-05-29 03:42] alsrgv commented on #1103
@amity137, the proper way to use this feature is to run multiple backward passes, and at the end call `.step()`, [like so](https://github.com/horovod/horovod/blob/master/examples/pytorch_imagenet_resnet50.py#L173-L182).

Would it be more intuitive for the optimizer to hold back those changes and only apply after N's `.step()` has been called?

[2019-05-29 03:44] alsrgv commented on #832
@ideaRunner, can you add a broadcast step, where worker-0 would broadcast whether other ranks should stop or continue? That should resolve the issue.

[2019-05-29 03:49] alsrgv commented on #1102
@maxhgerlach, thanks for reporting this issue.  What the minimum number of processes does it take to reproduce it?  Would it fail with two processes on a single node, or do they have to be on different nodes?

[2019-05-29 03:51] alsrgv commented on #1101
@DavidBrayford, you can get an op that minimizes loss like this: https://github.com/horovod/horovod/blob/master/examples/tensorflow_word2vec.py#L183

[2019-05-29 03:52] alsrgv commented on #1100
@shunshunyin, no, you can allocate data randomly, but you should make sure that dataset is evenly partitioned, and every worker will execute exactly the same # of batches per epoch.

[2019-05-29 03:56] alsrgv commented on #1045
@7LFB, can you try installing Horovod in virtualenv?

[2019-05-29 04:14] alsrgv commented on #1095
@vbvg2008, makes sense - if you have a large imbalance between workers, the average of averages may not have the same result as a global average.

One approach could be to split your data to a large number of equally-sized tfrecord files, e.g. 100 files per rank.  Then it's very unlikely that imbalance will have a noticeable effect.

Another approach would be to run all validation on rank 0 (if it

[2019-05-29 04:46] 7LFB commented on #1045
yep, I installed Horovod in virturalenv created by conda. and  i cant find any horovodrun file.  But it works using mpirun command.

[2019-05-29 05:08] ildoonet commented on #1099
@alsrgv Thanks for the tip. I will try with it and wait for the proper solutions.

[2019-05-29 05:13] shunshunyin commented on #1100
Did u mean that different worker will process different data just because of data partition?  And if we do not partition and shuffle data, do different worker will process the same data?

[2019-05-29 06:04] alsrgv commented on #1045
@7LFB, I wonder if Conda introduces any magic. Can you try a pure virtualenv?

[2019-05-29 06:05] alsrgv commented on #1100
@shunshunyin, maybe I misunderstood the question.  Yes, you should have a logic that will ensure that every worker read a different set of data.  If you're using TF, one of the modern ways is to use tf.data + shard functionality.

[2019-05-29 08:31] ideaRunner commented on #832
@alsrgv Yes, that is what I want. Does horovod support it now? Another problem is that I can't find a document about the introduction of all python APIs that horovod supports. I tied to find the broadcast api as you said before, but I can't find it in the final.

[2019-05-29 12:22] maxhgerlach commented on #1102
@alsrgv, thanks for looking into this.

The log above was for 8 processes on the same host.

I was able to reproduce the hanging shutdown issue already with 3 processes on the same host. With only 2 processes there was no issue.

Interestingly, with 3 processes there are some extra error messages near initialization:
[code]
But training proceeds until shutdown, where it hangs. Could this be relate

[2019-05-29 14:13] shunshunyin commented on #1100
Thanks for your reply, I will try your idea!

[2019-05-29 14:58] maxhgerlach commented on #1102
We use multiprocessing inside our training script to fork out some IO work. Could this be a problem? So the process tree for the job with one rank hanging in MPI_finalize looks like this:
[code]
I have attached gdb to both processes and collected backtraces for all threads:
1. [backtraces for 231633, 75 threads](https://gist.github.com/maxhgerlach/3e7ce94d3d4f6667d876561aacdb96e0)
2. [backtraces f

[2019-05-29 21:00] alsrgv commented on #832
@ideaRunner, we're building out documentation website. You can find draft API docs [here](https://horovod.readthedocs.io/en/latest/api.html), and broadcast op [here](https://horovod.readthedocs.io/en/latest/api.html#horovod.torch.broadcast).

[2019-05-30 01:58] #1099 closed

[2019-05-30 01:58] alsrgv commented on #1099
@ildoonet, the fix was merged into master.  You can reinstall Horovod from master (or wait a bit for 0.16.3), and use `.step(synchronize=False)`, as new documentation prescribes.

[2019-05-30 02:00] alsrgv commented on #1089
@un-knight, the fix was merged into master. You can reinstall Horovod from master (or wait a bit for 0.16.3), and use `.step(synchronize=False)`, like [this](https://gist.github.com/alsrgv/0713add50fe49a409316832a31612dde#file-pytorch_synthetic_benchmark_apex-py-L86).

[2019-05-30 02:40] un-knight commented on #1089
@alsrgv There is my experiment result:
![image](https://user-images.githubusercontent.com/8266614/58604194-0cb78500-82c6-11e9-9a7d-ba061ce58ae7.png)
So in multi-nodes environment(16 and 24 gpus), the horovod throughput is really poorer than pytorch native api.

And thanks for your workaround! I will have a try in my spare time.

[2019-05-30 03:41] alsrgv commented on #1089
@un-knight, thanks for sharing the results.  I think using the latest master branch code (`pip uninstall -y horovod; [flags] pip install --no-cache-dir git+https://github.com/horovod/horovod`) and `optimizer.step(synchronize=False)`, you should be able to recover most of the performance difference.

It looks like your network performance is not great.  What network adapters do you use?

You may ga

[2019-05-30 03:45] alsrgv commented on #1102
@maxhgerlach, forking could be an issue. Does your code have a mode where it could run w/o forked process and IO work, just to see if this resolves the issue?  You could potentially use multithreading to avoid forking.

[2019-05-30 03:46] liuyongheng123 opened #1105 "when horovodrun on 2 servers 4 gpu, there is nothing output but stop."
**Environment:**
1. Framework:PyTorch
2. Framework version:1.0.0
3. Horovod version: pull horovod docker ,have no idea
4. MPI version:4.0.0
5. CUDA version:9.0
6. NCCL version:2.3.7
7. Python version:3.6.7 (update ,not use docker's python)
8. OS and version:ubuntu16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, di

[2019-05-30 03:49] alsrgv commented on #1105
@liuyongheng123, can you share the output of `ifconfig -a` on both servers?

[2019-05-30 03:55] liuyongheng123 commented on #1105
This is 192.168.116.14's ifcong info:
eth0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 172.17.0.2  netmask 255.255.0.0  broadcast 172.17.255.255
        ether 02:42:ac:11:00:02  txqueuelen 0  (Ethernet)
        RX packets 14916  bytes 13370908 (13.3 MB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 9406  bytes 1832640 (1.8 MB)
        TX errors 0  dr