[2019-05-30 03:55] #259 closed

[2019-05-30 03:56] alsrgv commented on #1105
@liuyongheng123, looks like the issue is that you're running docker without `--network=host`. Can you run it with `--network=host`?

[2019-05-30 06:36] liuyongheng123 commented on #1105
Yes, it is the right solution. mpirun will set some random port for tcp connecting. First there is no free port because i forgot to set, the connect across servers is not succeed.
Thank you again!
may i ask another following problem.  when i run horovod again ,it shows,
Filtering local host names.
Checking ssh on all remote hosts.
SSH was successful into all the remote hosts.
Testing interfaces on

[2019-05-30 07:07] un-knight commented on #1089
@alsrgv Yes, compression does help, the result above have used fp16 compression. And I know the network is a big bottleneck since the theory bandwidth is just 1Gbps ethernet. Besides, I find something else in the log `NCCL INFO NET/Plugin : No plugin found (libnccl-net.so).`, does this will have an implicit impact on the communication scalability between gpus?

[2019-05-30 07:20] liuyongheng123 commented on #1105
This is the newest mpirun info. please ignore above mpirun info.

WARNING: Open MPI failed to TCP connect to a peer MPI process.  This
should not happen.

Your Open MPI job may now hang or fail.

  Local host: zlf-ThinkStation-P520
  PID:        222
  Message:    connect() to 172.17.0.1:1025 failed
  Error:      Operation now in progress (115)

Since i run docker with --network=host, the script ru

[2019-05-30 07:22] alsrgv commented on #1089
@un-knight, the message you mentioned should not have any impact, but 1G is just too slow. I'd recommend upgrading the network - it's pretty cheap compared to the GPUs.

[2019-05-30 08:44] rvallari1 opened #1107 "Can we run two independent pieces of code (let's say A & B) and then merge them, and execute it over and over again, and at the same time using the basic concept of horovod workload partitioning?"
I am trying to perform model parallelism, on a U-Net.. and Using Horovod for multi-node purpose. But is it possible to run two pieces of code in parallel on a single piece of dataset but computing different hyper-parameters?

[2019-05-30 08:54] maxhgerlach commented on #1102
Hmm, I changed our code such that the forked-out multiprocessing process is definitely terminated before hvd.shutdown() is called [it was started after hvd.init() was called in the master process]. Now the issue is much harder to reproduce, but I still saw it once in 16 trials.

Unfortunately it would be quite tricky to get completely rid of the separate process. Threading slowed down training too

[2019-05-30 10:26] qijiaxing opened #1108 "Why HorovodAllreduceOp is designed to be asynchronous?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13
3. Horovod version: 0.16
4. MPI version: 3.1
5. CUDA version: 10.1
6. NCCL version: 2.4.2
7. Python version: 3.6
8. OS and version: Ubuntu 16.04

**Your question:**
I notice that `HorovodAllreduceOp` is a `AsyncOpKernel`. Does this mean that it finishes as soon as `EnqueueTensorAllreduce` returns? or it waits until the actual all

[2019-05-30 11:38] liuyongheng123 commented on #1105
Then i still go back to use horovodrun command . For settling down the connecting timeout, i set  --start-timeout 300  to try. luckily, the script runs well ,  and  the training program works now .
Thanks again!

[2019-05-30 11:38] #1105 closed

[2019-05-30 15:05] tgaddair commented on #1108
Hey @qijiaxing, the allreduce is not necessarily finished by the time `EnqueueTensorAllreduce` happens.  In Horovod, we support something called Tensor Fusion, where multiple tensors are allreduced together at once, which requires async operations.

However, for the purpose of creating a new op, you can definitely do something with the result of the allreduce call:

[code]

That's because TensorFl

[2019-05-30 21:12] jmjwozniak commented on #194
I am trying to get this working with the new Horovod C API.  Are there any examples of setting up the communicator for Horovod from C?  I am trying it via horovod_init_comm() but it does not seem to have an effect once I run hvd.rank() from Python (I cannot avoid calling hvd.init()).

[2019-05-31 02:33] tingweiwu opened #1112 "build failed with Dockerfile"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs

[2019-05-31 05:14] rvallari1 opened #1113 "Horovod Docker doesnot seem to install on linux 16.04"
Bug report:

__@__:~/openmpi/openmpi-4.0.0$ pip install horovod --user
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.
Collecting horovod
  Using cached https://files.pythonhosted.org/packages/4b/89/d1a64d0a9c15abfa8a72eb8b20ebe8cd4b14

[2019-05-31 06:45] t13m commented on #777
Hi @ustcyue , I believe I'm having the same issue with you. Did the new version nccl solve it?
I'm running the "tensorflow:19.03" image provided by nvidia's "nvcr.io" repository on two machines (multiple gpus in each machine) with manually invoked "mpirun" command.
Usually after about 370k optimization steps (may be more or less than that), the training process will hang, no more log message in ou

[2019-05-31 10:21] maxhgerlach commented on #1102
@alsrgv: Could there still be issues from forking, if I fork _before_ calling `hvd.init()` and never call any MPI routine in the forked-out process?

[2019-05-31 10:29] dgaleareading opened #1114 "Issue with installing Horovod"
**Environment:**
1. Framework: Tensorflow / Keras
2. Framework version: latest
3. Horovod version: latest
4. MPI version: OpenMPI 1.6.5
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.6
8. OS and version: CentOS7

I am trying to install Horovod in a Singularity container. I am getting the following error:
[error.txt](https://github.com/horovod/horovod/files/3240893/error.txt)

I thi

[2019-05-31 16:12] vbvg2008 commented on #1095
@alsrgv glad to contribute, what do you envision the new use case of `MetricAverageCallback` to be?
Do you think it's good idea to make `MetricAverageCallback` always be a weighted-averaging based on number of batches?

Furthermore,  What should the user do if there are some metrics that are not intended to be averaged? (For example, the 'size' metric that you referenced? )

[2019-05-31 19:15] rakshithvasudev opened #1115 "Using FP16 doesn't make training faster"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) : Tensorflow -gpu
2. Framework version: 1.12.0
3. Horovod version: 0.16.1
4. MPI version: 4.0.0 with cuda and ucx support
5. CUDA version: 10.0.130
6. NCCL version: 2.4.2
7. Python version: 3.6.8
8. OS and version: RHEL 7

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your questio

[2019-06-01 00:54] OwenHua666 commented on #882
@sergei-from-vironit I modified the tensorflow version to nightly in the dockerfile you posted but still get same error "ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory" Is there another place we need to change to make the docker file work?

[2019-06-02 03:28] chengjianhong commented on #1091
@rakshithvasudev Thanks, I have fixed it. But I have another question whether  there can configure the specified data set on different work sites?

[2019-06-02 12:26] xiaozhouX opened #1117 "Show horovod container install verbs library when using rdma ?"
**Environment:**
Framework: TensorFlow
Framework version: 1.12.0
Horovod version: 0.15.2 ( Image uber/horovod:0.15.2-tf1.12.0-torch1.0.0-py3.5 )
MPI version:
CUDA version:
NCCL version:
Python version: 3.5
OS and version: CentOS 7.4

I'm using horovod in RDMA on kubernetes. In NCCL logs, it shows up using tcp rather then RDMA, which is
[code]

After I fellow the docs (https://community.mellanox.co

[2019-06-03 03:25] ideaRunner commented on #832
@alsrgv Thank you, it works very well.

[2019-06-03 04:06] un-knight commented on #1089
@alsrgv I update horovod from 0.16.1 to 0.16.2 following your instructions above, but getting a timeout error when starting the training script. Does it seem that the latest horovod have some connectivity problem?

[2019-06-03 05:58] alsrgv commented on #1089
@un-knight, what error message are you seeing?  It may be helpful to specify `--start-timeout 600` in some cases to extend the timeout.

[2019-06-03 06:04] alsrgv commented on #1117
@xiaozhouX, AFAIK version of Mellanox OFED installed in the container is tightly coupled with the version of the Mellanox driver installed on the host.  Because of that, we cannot publish a standard RDMA-enabled image - this is something customer need to do based on their environment.

[2019-06-03 06:06] alsrgv commented on #1091
@chengjianhong, if you're using TensorFlow, you can use tf.data API and [.shard()](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#shard) functionality.

[2019-06-03 06:09] alsrgv commented on #882
@OwenHua666, here's the dockerfile I've built for TF 1.14.0rc0, which uses CUDA 10:
[code]

Note that `Pin GCC to 4.9` section is necessary to compile TensorFlow with the compatible GCC compiler.

[2019-06-03 06:12] alsrgv commented on #1115
@rakshithvasudev, Horovod's FP16 compression applies only to the allreduce operation - it does not affect the gradient computation on each GPU.  In your example, allreduce operations are optimized out altogether since you're training using a single process.  In general, fp16 is useful if you're training on multiple servers with an underprovisioned network across them.

[2019-06-03 06:15] alsrgv commented on #1107
@rvallari1, not sure I fully understand the question.  How is it different from running two different jobs?

[2019-06-03 06:16] alsrgv commented on #194
@jmjwozniak, can you run `horovod_init_comm` in C before `hvd.init()` and `hvd.rank()` in Python?

[2019-06-03 06:18] alsrgv commented on #1112
@tingweiwu, can you try using the latest Dockerfile - https://github.com/horovod/horovod/blob/master/Dockerfile?

[2019-06-03 06:19] alsrgv commented on #1113
@rvallari1, can you try installing python2.7-dev, [like this](https://github.com/horovod/horovod/blob/master/Dockerfile#L29)?

[2019-06-03 06:20] alsrgv commented on #777
@t13m, can you try to upgrade to NCCL 2.4.7?  It fixed a hang that may be affecting you.

[2019-06-03 06:25] alsrgv commented on #1114
@dgaleareading, any particular reason you'd like to use gcc 4.4.7?  It seems it does not fully support c++11, but rather the work-in-progress draft that preceded it.  TensorFlow itself is compiled with gcc 4.8.5 and compiling Horovod with 4.4.7 may cause some ABI incompatibility issues.

That said, if you'd really like to try, you could git clone Horovod source and replace `-std=c++11` with `-std=

[2019-06-03 06:32] alsrgv commented on #1102
@maxhgerlach, less likely, but forking can make MPI get quite crazy due to all the malloc hooks and madvising (for RDMA) that it does.

If you could modify the program to run w/o forking just to test if it hangs (perhaps replace real data fetch with synthetic data?), we could confirm whether forking is causing the issue in the first place and go from there.

[2019-06-03 06:42] rvallari1 commented on #1107
@alsrgv , as far as my understanding goes, horovod performs workload partitioning. I am trying to do..
Within the (subset of dataset) partitioning, if I can run two computations (totally independent ) and these computations are similar to neural network training procedure.
So what can I do?
1. if I have -n cores i my system,
 perform n//2 partitions of dataset & allot 2 cores to each subset of tra

[2019-06-03 07:27] rvallari1 commented on #103
I got the same error.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/intel/anaconda3/lib/python3.6/site-packages/horovod/tensorflow/__init__.py", line 43, in <module>
    from horovod.tensorflow.mpi_ops import allgather
  File "/home/intel/anaconda3/lib/python3.6/site-packages/horovod/tensorflow/mpi_ops.py", line 57, in <module>
    ['HorovodAllgather', 'Ho

[2019-06-03 09:22] un-knight commented on #1089
@alsrgv The error message is:
[code]

And I have tried to set `--start-tiemout=120`, but it's useless. So I think there might be some connectivity problem.

[2019-06-03 09:30] alsrgv commented on #1089
@un-knight, can you try adding `--verbose` flag to see what's going on?  Also, make sure you don't have typo in `--start-timeout`.

[2019-06-03 10:10] dgaleareading commented on #1114
I am building the container to run on an HPC cluster with MPI (OpenMPI 1.6.5) built with gcc 4.4.7, hence the need to use it inside the container

I have replaced `-std=c++11` with `-std=c++0x` and removed `-stdlib=libc++` in setup.py, but am now getting the following error: `undefined reference to main`

[2019-06-03 10:15] un-knight commented on #1089
@alsrgv It's really strange, there is the output with `--verbose`:

[code]

And I am sure that I don't have typo.

[2019-06-03 10:46] qijiaxing commented on #1108
Thanks for your explanation. I understand better now.

[2019-06-03 10:46] #1108 closed

[2019-06-03 16:41] rakshithvasudev commented on #1115
Thanks for pointing out @alsrgv. Like you said that was not the right way to compare, my bad! I tried running on 8 processes with and without fp16 compression for 3 epochs. Here are the numbers I was able to see:

without fp16 : 263.52s
with fp16 :  261.68s

Does that seem reasonable? Typically how much improvements can I expect with fp16?

[2019-06-03 16:47] #1115 closed

[2019-06-03 17:16] alsrgv commented on #1115
@rakshithvasudev, you typically don't need fp16 if you use IB.  You'd see improvements if you had 10GbE or 25GbE.

[2019-06-03 17:16] alsrgv commented on #1089
@un-knight, did you upgrade Horovod on all the hosts to the same version?

[2019-06-03 17:20] alsrgv commented on #1114
@dgaleareading, you may be able to build the rest of the stack with newer GCC, while keeping MPI's GCC as 4.4.7 - after all, MPI is using C APIs which are binary-compatible across GCC versions.

Separately, Open MPI 1.6.5 is pretty old by itself and we may uncover additional issues trying to use it.

[2019-06-03 17:23] alsrgv commented on #1107
@rvallari1, you generally don't need Horovod if you're not doing distributed training.  There are other frameworks for workload partitioning, e.g. Apache Spark.

[2019-06-03 17:24] alsrgv commented on #103
@rvallari1, can you try installing GCC7 in your Conda environment?
[code]

[2019-06-03 18:30] rakshithvasudev commented on #1115
Got it! Thanks @alsrgv.

[2019-06-03 18:33] rvallari1 commented on #103
Tried this too as mentioned here : https://github.com/horovod/horovod/issues/656#issuecomment-487244627
Problem still exists. Can you explain how flags to be used in the command.

[2019-06-03 19:37] amity137 commented on #1103
Sorry for my late reply and thanks for your immediate @alsrgv :)

Ok I got it.. But wouldn't it better to encapculate this logic in the DistributedOptimizer itself so that it could keep count of when to sync vs when to do nothing, since it has all the context to be able to do that?

[2019-06-03 21:07] OwenHua666 commented on #882
@alsrgv Thanks a log!

[2019-06-03 23:14] uzdry commented on #973
Hi @apsears ,
did you solve the problem? Because I have the exact same error message and problem as you describe above.

[2019-06-04 01:26] un-knight commented on #1089
@alsrgv Yes, I make a new docker image, and I checked the horovod version twice.

[2019-06-04 01:38] alsrgv commented on #1089
@un-knight, one situation I've seen before is that the previous container is still running, and your ssh connections are routed there.  Can you switch to a new port, or reboot the second machine to be extra sure?  The fact that `Usage:` shows up in the log indicates a possible version mismatch.

[2019-06-04 01:44] alsrgv commented on #1103
@amity137, no worries and thanks for your feedback.  I agree that having DistributedOptimizer do the state tracking would be more user-friendly, and easier to align to frameworks like Keras.  Accompanying TensorFlow PR is #778.

I'll mark it as a contribution-welcome feature.

[2019-06-04 01:47] alsrgv commented on #103
@rvallari1, could you share the full installation log using [Gist](https://gist.github.com)?

[2019-06-04 05:15] ed-alertedh commented on #907
Out of curiosity, are there any known benefits to using Horovod over the new DistributionStrategy with NCCL all-reduce built into Tensorflow?  As far as I can tell the main thing is that the TF functionality is maybe not quite production-ready yet.

[2019-06-04 05:34] awan-10 commented on #907
Being from the MVAPICH MPI team, I can say that Horovod seems to be the best way to use an MPI Library with TensorFlow. Not sure if DistributionStrategy APIs will work with MPI.

[2019-06-04 05:56] shunshunyin opened #1121 "Horovod got different models"
**Environment:**
1. Tensorflow
2. Tensorflow 1.12.0
3. cuda 9

**Your question:**
I run bert using horovod on three gpus, and got three models. Howerver, I got different predict result on the same test data, in other words, the three models are different, and the predict result diff is very small. Is this normal?

[2019-06-04 06:23] un-knight commented on #1089
@alsrgv After setting start-timeout to 500, the program can start up, but it's strange that horovod 0.6.2 speeds more time to set up communication with each node.

Besides, I got another error when running the [script you shared](https://gist.github.com/alsrgv/0713add50fe49a409316832a31612dde#file-pytorch_synthetic_benchmark_apex-py-L86):

[code]

[2019-06-04 08:53] un-knight opened #1122 "multi-node training failed"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.0.1
3. Horovod version: 0.6.2/0.6.1
4. MPI version: 4.0.0
5. CUDA version: 10.0.130
6. NCCL version: 2307
7. Python version: 3.7
8. OS and version: Ubuntu 16.04.6 LTS

**Bug report:**
When I run horovod with 2 ndoes 4 processes(2 processes each node) the program is running correctly, but if I extend it to 2 ndoes 8 processes(4 processe

[2019-06-04 09:52] dgaleareading commented on #1114
@alsrgv, I have done as you said, i.e. building OpenMPI 1.6.5 using gcc 4.4.7 and the rest of the packages with gcc 4.8.5, but I am now getting the following error:

[code]

[2019-06-04 18:24] mivenHan commented on #676
@zqlai Have you solved the problem? I tried the solution of @XuesongYang and @blessengeorge , and failed to solve this problem. My tensorflow is 1.12 and horovod is 0.12. Be grateful if you have any new updates or solutions.

[2019-06-04 18:26] mivenHan commented on #676
@zqlai sorry about the horovod version which is the latest 1.12

[2019-06-04 18:47] XuesongYang commented on #676
@mivenHan My setup is using tf 1.12 and hvd 0.16.1 for your information.

[2019-06-04 20:49] alsrgv commented on #1114
@dgaleareading, that's an easy one - when you clone Horovod, can you use `--recursive`?  Need to fetch submodules.

[2019-06-04 20:52] alsrgv commented on #1122
@un-knight, can you share the output of `nvidia-smi` and `nvidia-smi topo -m` on servers that are crashing and those that are working?

[2019-06-04 20:55] alsrgv commented on #1089
@un-knight, glad to hear the performance is better!  I've updated the script to use Horovod 0.16.3, can you upgrade to that version (released yesterday)?

[2019-06-04 20:58] alsrgv commented on #1121
@shunshunyin, yes - it's expected to have a tiny divergence between models.  It could be caused by tiny numerical differences or different batchnorm stats. One thing you can do is to broadcast parameters every epoch (or other # of steps) - that would make the difference even smaller.

[2019-06-04 21:34] apsears commented on #973
Yes, I'd made some alterations to add a VAE to the model, which used tf.log in the loss.  The errors went away when I altered the model to predict log_variance, then use tf.exp instead of tf.log

The error doesn't seem to be related to Horovod, but since I cycled through more batches, it may have shown up quicker.

[2019-06-05 00:39] anishagartia commented on #431
If you see see the same error, you have to remove the prereq libraries. If you attempted to install horovod before then it would have installed the prereqs as well. Remove the "Requirement satisfied" libraries you see manually and try this again. This removed the error for me when I faced it again recently.

[2019-06-05 01:45] un-knight commented on #1089
@alsrgv ok, I will have a try. Then which apex version do you use?

[2019-06-05 04:49] byronyi opened #1123 "TF 1.14 crashes with hwloc"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14.0-rc0
3. Horovod version: 0.16.2
4. MPI version: OpenMPI 2.0.2
5. CUDA version: 10.0
6. NCCL version: 2.4.2
7. Python version: 3.5.3
8. OS and version: Debian 9.8

**Bug report:**
Please describe erroneous behavior you're observing and steps to reproduce it.

Use the in-stock [examples/tensorflow_mnist_estimator.py](https://githu

[2019-06-05 05:30] alsrgv commented on #1089
@un-knight, I just used apex from master: `pip install git+https://github.com/nvidia/apex`

[2019-06-05 05:32] alsrgv commented on #1123
@byronyi, thanks for investigating this error.  Please let us know whether the removal of NUMA support helps.

[2019-06-05 05:44] alsrgv commented on #1095
We could add a flag to `MetricAverageCallback` to perform weighted average (false by default), and also add a metric mapping where you could specify what to do with every metric (default is average) - average, sum, broadcast.  WDYT?

cc @tgaddair

[2019-06-05 07:14] eric-haibin-lin opened #1125 "Overlapping NCCL and MPI"
When using hierarchical allreduce, I see that NCCL operations and MPI operations are not overlapped, leading to underutilization of network bandwidth. Is this by design?

![Screen Shot 2019-04-11 at 11 49 58 PM](https://user-images.githubusercontent.com/5545640/58937201-9502b380-8726-11e9-811d-5ca22b76a0f8.png)

[2019-06-05 10:38] un-knight commented on #1122
@alsrgv sure!
The working one:
[code]

-----------------------------------------------------------------------------------------------------

The crashing one:
[code]

[2019-06-05 11:15] byronyi commented on #1123
Leaving the NUMA support out does not solve this issue.

[2019-06-05 11:45] byronyi commented on #1123
@hwloc is now bundled with TensorFlow 1.14.0rc0 even without NUMA enabled.

Test the following with official TF:

[code]

Output:

[code]

Ping @perfinion; do you know how should I compile my TF with systemlib @hwloc?

[2019-06-05 11:55] byronyi commented on #1123
Ping @gunan as well; is this behavior (bundle hwloc symbols without shading their names) intended?

[2019-06-05 12:36] byronyi commented on #1123
Turns out I only need to set ``--action_env TF_SYSTEM_LIBS="hwloc"`` for my build command. I will re-ping this thread if it does not work.

[2019-06-05 15:39] vbvg2008 commented on #1095
@alsrgv In my opinion, if we are going to add `sum` and `broadcast` operations , I would first rename `MetricAverageCallback` to `MetricReduceCallback` because it is essentially doing reduction operations among different processes instead of purely averaging.

The new callback should have the following 4 operations: `avg`(default), `weighted_avg`, `sum` and `broadcast` .

I would design the use ca

[2019-06-05 15:55] byronyi commented on #1123
It works now with `TF_SYSTEM_LIB=hwloc` when building TF. It's not a default option though, which probably means TF1.14+Horovod will not work out of the box with many MPI versions in the wild.

[2019-06-05 16:12] gunan commented on #1123
This is tricky, because I have no experience running with mpi myself.
It is true that hwloc now gets built into linux version of TF. Should we have `--config=hwloc` to enable/disable hwloc?

[2019-06-05 16:26] byronyi commented on #1123
It indeed surprises me, as hwloc is introduced mainly for the sake of supporting NUMA, yet disabling NUMA support does not solve this issue.

For your question, I'm leaning to a "yes".

[2019-06-05 17:11] alsrgv commented on #1122
@un-knight, I'm actually wondering if it's caused by memory usage. Can you try reducing your batch size a little bit for the servers with RTX 2080?

[2019-06-06 02:08] un-knight commented on #1122
@alsrgv It's nothing about memory, the program with default batch size only occupies 4GB+ memory. And I can run the script with 2 nodes 4 processes, but get crushing with 2 nodes 6 processes(3 processes for each node)

[2019-06-06 05:15] un-knight commented on #1089
@alsrgv When I set amp opt_level to `O1`, an argument error will occur:

[code]

[2019-06-06 08:15] byronyi commented on #1123
For a simple test with 1.14.0-rc0:

[code]

[2019-06-06 09:13] chengjianhong commented on #1091
@alsrgv Yes, I use tensorflow, Can you be more specific?

[2019-06-06 10:35] nadeengebara commented on #1066
Hi Alex,
 Hope all is well. I just have a quick question. When running Horovod with the tensorflow benchmark and a single GPU on each machine in a multi-node setup, it appeared that MPI and not NCCL was used for inter-node communication.
Does horovod only use NCCL when GPUs belong to a single machine, and falls back on MPI for inter-node communication, or is that as a result of the way the variabl

[2019-06-07 01:54] peri044 commented on #1112
I had the same issue and I can confirm that the latest Dockerfile resolves this.

[2019-06-07 05:20] rvallari1 commented on #103
@alsrgv Solved it, earlier using NUC7i7bnb..

[2019-06-07 11:20] maxhgerlach commented on #1102
@alsrgv, last week I have modified our program such that the fork happens earlier than hvd.init(). Since then I could not observe the issue anymore. I am running some tests periodically that triggered the problem before. If it resurfaces, I will be happy to devise a test case with a synthetic or synchronous data pipeline.

Do you believe it would be a good idea to mention in the Horovod docs that

[2019-06-07 11:34] maxhgerlach commented on #876
Is this fixed in the upcoming TensorFlow 1.14?

[2019-06-07 13:37] byronyi opened #1129 "Nightly TF 1.14.1.dev20190607 breaks v0.16.3"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14.1.dev20190607
3. Horovod version: 0.16.3
4. MPI version: 2.0.2
5. CUDA version: 10.0
6. NCCL version: 2.4.2
7. Python version: 3.5m
8. OS and version: Debian 9.8

**Bug report:**

Build Horovod with latest TF nightly fails with the following error:

[code]

[2019-06-07 13:45] byronyi commented on #1129
I suppose this is a TF issue, not a Horovod one. I will raise the issue there.

[2019-06-07 15:07] mihaimaruseac commented on #1129
Sorry about that, will get a fix fast today

[2019-06-08 03:39] andfoy commented on #105
Hi @alsrgv, do you have any hints to get working on this one? I'm very interested on implementing such functionality

[2019-06-08 09:12] alsrgv commented on #876
@maxhgerlach, yes, it is.

[2019-06-09 05:42] #1129 closed

[2019-06-09 09:36] un-knight commented on #1122
@alsrgv Do you have any idea where the problem may location?

[2019-06-10 03:04] t13m commented on #777
Thanks @alsrgv , I tried v2.4.7 following your advice last weekend and it didn't solve the problem. The training progress still hangs at about 350k step and no error or logging messages.
Is there any other way to try? or to get some diagnosis message?

[2019-06-10 06:24] alsrgv commented on #1122
@un-knight, actually, looks like your issue is caused by `include/shm.h:42 NCCL WARN Cuda failure 'invalid argument'` (similar to #893), and your NCCL version 2.4.2 is affected.

Can you try upgrading to NCCL 2.4.7 or downgrading to NCCL 2.3.7?

[2019-06-10 06:42] cklsoft opened #1131 "crash when using tf_nightly_gpu==1.14.1-dev20190609"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow (tf_nightly_gpu)
2. Framework version: 1.14.1-dev20190609
3. Horovod version: 0.16.3
4. MPI version: 4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 2.7
8. OS and version: centos

![image](https://user-images.githubusercontent.com/3956357/59177610-2b076580-8b8f-11e9-9787-bb58be05ce3a.png)

[2019-06-10 06:54] alsrgv commented on #1089
@un-knight, sorry - you're right, this example does not work 🤦‍♂ AMP does not support passing custom flags to `optimizer.step()`.

I've pushed out #1132 with a fix and updated the [Gist](https://gist.github.com/alsrgv/0713add50fe49a409316832a31612dde#file-pytorch_synthetic_benchmark_apex-py-L86), could you give it a try?

[2019-06-10 07:03] liuyongheng123 opened #1134 "HOROVOD_TIMELINE: command not found"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.1.0
3. Horovod version:  (pull the horovod docker -python2.7 version,have no idea of the Horovod version)
4. MPI version: 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.3.7-1+cuda9.0 (not use in the case)
7. Python version: 3.6.7
8. OS and version: ubuntu 16.04

**Checklist:**
1. Did you search issues to find if somebody asked this ques

[2019-06-10 07:15] alsrgv commented on #1134
@liuyongheng123, can you try removing spaces between `VARIABLE=value`?

[2019-06-10 07:20] liuyongheng123 commented on #1134
yes , that is it . thank you

[2019-06-10 07:20] #1134 closed

[2019-06-10 07:25] un-knight commented on #1122
@alsrgv Thanks! I will have a try. But maybe it isn't the key point since I can run the script normally on other servers with the same container environment.

[2019-06-10 13:03] liuyongheng123 opened #1135 "allreduce doesnot use nccl"
**Environment:**
Framework: PyTorch
Framework version: 1.1.0
Horovod version: (pull the horovod docker -python2.7 version,have no idea of the Horovod version)
MPI version: 4.0.0
CUDA version: 9.0
NCCL version: 2.3.7-1+cuda9.0 (not use in the case)
Python version: 3.6.7
OS and version: ubuntu 16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?  yes
2. If y

[2019-06-10 14:16] Daulbaev opened #1136 "Segfault MultiGPU"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.1.0
3. Horovod version: 0.16.3
4. MPI version: 3.1.2
5. CUDA version: 10.1
6. NCCL version:
7. Python version: 3.7.1
8. OS and version: CentOS 7

**Question:**
Hello! I have an access to a cluster with several nodes with 4 GPUs on each node, which is managed using SLURM. I tried to run an example for MNIST, but got a segmentation fault

[2019-06-10 19:05] alsrgv commented on #1131
@cklsoft what's your GCC version?  You may need to pin GCC 4.8.5 or 4.9, [like this](https://github.com/horovod/horovod/blob/master/Dockerfile.test.gpu#L96).

[2019-06-10 20:57] chandana1332 opened #1138 "Unable to install Horovod on Amazon Linux"
**Environment:**
1. Framework: MXNET
2. Framework version: 1.4.1
3. Horovod version:
4. MPI version: 3.1.0
5. CUDA version: 10.0
6. NCCL version:
7. Python version: 3.6
8. OS and version: "Amazon Linux AMI" "2018.03"
9. GCC version: gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-28)

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about h

[2019-06-11 01:59] cklsoft commented on #1131
@alsrgv
Thanks for your reply. The gcc version is 6.4.0 20170704

[2019-06-11 02:44] cklsoft commented on #1131
![image](https://user-images.githubusercontent.com/3956357/59239851-96a40e00-8c35-11e9-92ab-8ca8f24b5845.png)
When using GCC 5.4.0 20160609, tf_nightly_gpu=1.14.1-dev20190606, horovod=0.16.3,  crash again.

[2019-06-11 06:46] un-knight commented on #1089
@alsrgv Really thanks! now it can work correctly.

[2019-06-11 06:46] #1089 closed

[2019-06-11 06:48] un-knight commented on #1122
After update NCCL from 2.4.2 to 2.4.7, all communications work correctly.

[2019-06-11 06:48] #1122 closed

[2019-06-11 07:24] alsrgv commented on #1089
Great! The PR has been merged and new Horovod version will be released soon.

[2019-06-11 07:27] alsrgv commented on #1131
@clksoft, can you reinstall Horovod as well, via:
[code]
?

[2019-06-11 07:44] liuyongheng123 commented on #1135
After that， i re-install nccl lib , and export the right dir .  Then execute mpirun ... ... -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x NCCL_IB_DISABLE=0 -x NCCL_IB_CUDA_SUPPORT=1\ ...
the system said ,
 ":::MLPv0.5.0 ssd 1560238199.533285856 (/mlperf/ssd/train_new.py:318) train_epoch: 0
###-localtime: 2019-06-11 07:30:01,f
 0#GPU-Iteration:      0, Loss function: 22.832, Average Loss: 0.023

[2019-06-11 07:48] alsrgv commented on #1135
@liuyongheng123, a couple of questions:
1. What's the full name of the docker image?
2. Are you specifying `--network=host` to `nvidia-docker run`?

[2019-06-11 07:50] alsrgv commented on #1138
@chandana1332, the issue is this: `error: mpicxx -show failed (see error below), is MPI in $PATH?`

One potential workaround, if you're sure you have MPI installed and that it's available in $PATH, is to add `PATH=$PATH` to your command:
[code]

[2019-06-11 07:51] alsrgv commented on #1136
@Daulbaev, can you open the core dump with GDB and print the stack trace?

[2019-06-11 07:52] alsrgv commented on #777
@t13m, interesting. When it does hang, could you capture stack traces of all threads using gdb? `thread apply all bt`

[2019-06-11 07:57] liuyongheng123 commented on #1135
1 . the full name of the docker image is , 0.16.1-tf1.12.0-torch1.0.0-mxnet1.4.0-py2.7. But i install python3.6.7 and mlperf-ssd requirement env inside.
2 . yes ,both nvidia-docker run and --network=host is set

A new issue is , i use horovodrun instead of mpirun, terminal shows that ,
[1,0]<stdout>:lyh-ThinkStation-P520:14399:14428 [0] NCCL INFO NET/Socket : Using [0]enp0s31f6:192.168.116.14<0> [

[2019-06-11 07:59] alsrgv commented on #1135
@liuyongheng123, excellent!  You can upgrade to a later docker with Python 3.5 `horovod/horovod:0.16.3-tf1.12.0-torch1.1.0-mxnet1.4.1-py3.5` and use `horovodrun -v ...` to print out `mpirun` if you wish to run via `mpirun`.

[2019-06-11 08:01] alsrgv commented on #1066
@nadeengebara, that's odd. There is a mode where MPI is used across nodes and NCCL is used within called hierarchical allreduce.  It's not enabled by default.  By default, Horovod uses NCCL both within the server and across servers.

[2019-06-11 08:03] liuyongheng123 commented on #1135
i have upgrade that docker(python3.5). but in the mlperf-ssd case, it uses (** expression) for splicing some layers. So i have to upgrade the python version to 3.6 or higher in the docker.

[2019-06-11 08:04] alsrgv commented on #1091
@chengjianhong, if you load your data using TensorFlow's Dataset API, you can use `dataset = dataset.shard(hvd.size(), hvd.rank())` to restrict the reader to only look at a portion of data.

[2019-06-11 08:06] alsrgv commented on #1125
@eric-haibin-lin, it is by design since MPI allreduce typically happens on CPU and requires memcopy before the data can be allreduced by NCCL.

[2019-06-11 08:12] alsrgv commented on #1095
I like this proposal.  We'd still have to keep `MetricAverageCallback`, but it can delegate to `MetricReduceCallback` with default parameters.

I don't see a big issue with adding an optional `broadcast_rank=0` parameter to `MetricReduceCallback` (assume the source of truth will be the same for all metrics).

We should have another flag which would indicate whether the metric reduction should be d

[2019-06-11 08:21] alsrgv commented on #1123
@gunan, could TensorFlow use a static build of hwloc to avoid the conflict?  https://github.com/open-mpi/hwloc/wiki/StaticBuild

[2019-06-11 08:22] alsrgv commented on #1135
Got it. Python 3.6 docker is on the roadmap.

[2019-06-11 08:36] alsrgv commented on #1102
@maxhgerlach, thanks for the report!  I believe it'll be good to add to the docs.

[2019-06-11 08:58] #1135 closed

[2019-06-11 09:51] Daulbaev commented on #1136
I couldn't find out how to open the core dump on cluster, but here is the error message:
[code]

[2019-06-11 09:56] cklsoft commented on #1131
I've reinstall tf_nightly_gpu and horovod in last picture.

[code]

[2019-06-11 11:58] xajxiang commented on #1123
@alsrgv  seem  tf 1.14.rc0 with horovod 0.16.2 crash

[2019-06-11 12:38] un-knight commented on #1089
@alsrgv Find another bug, when I set amp apt_level to `O2` and using fp16_compression, I get an error:

[code]

while setting fp16_compression to false, or setting amp opt_level to `O1` with fp16_compression will work.

[2019-06-11 14:30] chandana1332 commented on #1138
I got around the MPI error with this workaround. Thank you!

[code]

[2019-06-11 14:32] chandana1332 commented on #1138
I tried the workaround mentioned here: https://github.com/horovod/horovod/issues/521
[code]

[2019-06-11 14:49] alsrgv commented on #1089
@un-knight, I gathered a timeline for O2 and all the convolutional (large) gradients are actually allreduced in fp16 without the fp16_compression setting:

![image](https://user-images.githubusercontent.com/16640218/59282214-63558500-8c1d-11e9-806d-83c549cb3fa0.png)

[2019-06-11 15:06] alsrgv commented on #1123
@xajxiang, are you seeing the error in `hwloc_bitmap_and` as well, or some other error?

[2019-06-11 15:08] alsrgv commented on #1131
@clksoft, could you share full installation log (with `-v` option) via [Gist](https://gist.github.com), and output of `gcc --version`, `g++ --version`?

[2019-06-11 15:10] alsrgv commented on #1136
@Daulbaev, could you try installing GCC/G++ 4.9 and reinstall Horovod (with `--no-cache-dir`)?  If you still get an error, could you also share the full installation log (with `-v` in addition to `--no-cache-dir`) as a [Gist](https://gist.github.com)?

[2019-06-11 15:11] alsrgv commented on #1138
@chandana1332, can you upgrade MXNet to latest 1.4.1?  MXNet 1.4.0 is not supported.

[2019-06-11 15:20] chandana1332 commented on #1138
@alsrgv Double checked the version of MxNet. It is 1.4.1.

[2019-06-11 15:21] alsrgv commented on #1138
@yuxihu @apeforest any idea?

[2019-06-11 15:48] byronyi commented on #1123
One way to work around it in my mind is to pin the OpenMPI version that is compatible with hwloc-2.0.2 that embedded in TF.

[2019-06-11 16:08] gunan commented on #1123
@alsrgv I think it can. From what I can tell, we simply need to modify the BUILD file to add the additional linker flags?

[2019-06-11 16:09] chandana1332 commented on #1138
I tried using a different python and I get a different error within MxNet. Pasting it here incase it helps.

[code]

[2019-06-11 21:58] cklsoft commented on #1131
@alsrgv

root@h06d13282:~# gcc --version
gcc (Ubuntu 4.9.3-13ubuntu2) 4.9.3
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

root@h06d13282:~# g++ --version
g++ (Ubuntu 4.9.3-13ubuntu2) 4.9.3
Copyright (C) 2015 Free Software Foundation, Inc.
This

[2019-06-12 01:44] #1138 closed

[2019-06-12 03:47] eric-haibin-lin commented on #1125
Yes, I meant overlapping cross tensors :)

[2019-06-12 05:34] rvallari1 opened #1142 "Understand the process behind training."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): Keras
2. Framework version: 2.2.4
3. Horovod version:0.16.3
4. MPI version: 4.0.0
9. GCC version:7.0.0

**Your question:**
I am running mnist.py using keras, using the command
horovodrun -np 2 -H localhost:2 python train.py
<img width="582" alt="Capture1" src="https://user-images.githubusercontent.com/32358727/59324065-f1536d80-8c

[2019-06-12 08:12] t13m commented on #777
[gdb.txt](https://github.com/horovod/horovod/files/3280297/gdb.txt)
Hi, call stacks are in attachment. It seems like deadlock in nsync?

[2019-06-12 10:12] t13m commented on #777
In addition, about cpu usage (in hanging state). There are 10 worker processes on each machine. On one machine, there are 2 processes consume 200% cpu, 7 processes 100% cpu, and 1 process 12% cpu. On another one, there are 2 processes consume 200% cpu, 8 processes 100% cpu. Not sure if this helps.

Call stack of one of 200% processes has been attached in last post
Call stack of one of 100% process

[2019-06-12 12:45] Daulbaev commented on #1136
It works now! Thank you a lot!

[2019-06-12 12:45] #1136 closed

[2019-06-12 19:33] SoulGuedria opened #1143 "Weird benchmark scaling efficiency."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-06-12 19:34] #1143 closed

[2019-06-12 19:36] SoulGuedria opened #1144 "Benchmark scaling efficiency"
Environment:

Framework: TensorFlow, Keras
Horovod version: 0.15.2
MPI version:(OpenRTE) 3.0.0
CUDA version: release 9.0, V9.0.176
Python version: python3
OS and version: debian 9
My question:

Hello,
I'm doing a benchmark for horovod for two CNN architecures. The first one is a Tensorflow based CNN which i scaled up using the horovod tensorflow version and it achieves a 57% of scaling efficiency

[2019-06-13 01:41] cklsoft commented on #1131
@alsrgv How can I solve this crash?

[2019-06-13 05:09] jackalcooper commented on #1097
Is there a way to let `horovodrun` accept "-x NCCL_DEBUG=INFO"?

[2019-06-13 06:24] #1062 closed

[2019-06-13 08:58] cofiiwu opened #1146 "May I set CUDA_VISIBLE_DEVICES in command line?"
**Environment:**
1. Framework: TensorFlow ( NVIDIA TensorFlow docker 19.05)
2. Framework version:1.13.1
3. Horovod version: 0.16.1
4. MPI version: OpenMPI 3.1.3
5. CUDA version: 10.1 update 1
6. NCCL version: 2.4.6
7. Python version: 3.5.2
8. OS and version: ubuntu 16.1
9. GCC version: 5.4.0

My system has 8 GPUs.
[code]
I want to assign the GPUs with CUDA_VISIBLE_DEVICES. Hence I modified the exa

[2019-06-14 05:26] shunshunyin commented on #820
@tgaddair If we do not split and shuffle the data, do different workers process the same data?

[2019-06-14 07:25] YesterdayxD commented on #221
@scotthuang1989 hi I have same problem with you .  And do you change your NIC？Has your preformance improved?

[2019-06-14 18:54] alsrgv commented on #1123
@gunan, I looked more closely at hwloc issue. It seems that hwloc is actually compiled into libtensorflow_framework.so.1, and its symbols are exported:
[code]

How do you feel about adding an LD symbol map to unexport all the unnecessary symbols from tensorflow libraries?

[2019-06-14 18:57] gunan commented on #1123
Ah, I totally missed that. Thanks for your investigation.
I am ok with TF not exporting hwloc symbols. Your proposed solution sounds good to me.

[2019-06-14 20:22] alsrgv commented on #1123
Sent a PR: https://github.com/tensorflow/tensorflow/pull/29807

A quick test:
[code]

[2019-06-14 20:50] tgaddair commented on #820
@zoooo0820, yes, you need to handle data splitting somehow.

The simplest way is to do what we do in the [tensorflow_mnist.py](https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist.py) example.

Each of the N workers has the same data, but only performs 20000 / N steps with a random batch at each step. That way, we scale the amount of work with the number of workers, and by ensu

[2019-06-15 19:23] chandana1332 opened #1148 "MXNet examples result in a seg fault"
**Environment:**
1. Framework: MxNet
2. Framework version:
----------MXNet Info-----------
Version      : 1.5.0
Directory    : /home/ubuntu/anaconda3/envs/mxnet_p36/lib/python3.6/site-packages/mxnet
Commit Hash   : 62a85f365b819829fedb60116f803e0c0a3c554c

3. Horovod version: 0.16.4
4. MPI version: 3.1.0
5. CUDA version: 10.0
6. NCCL version:
7. Python version:
----------Python Info----------
Vers

[2019-06-17 08:46] byronyi commented on #1117
We thought that too, until recently we found out only installing the following packages in recent Deb-based distro suffices:

* librdmacm1
* libibverbs1
* ibverbs-providers

We run this configuration without installing OFED in the container.

[2019-06-17 10:33] lminer commented on #708
Turns out my machine was overheating.

[2019-06-17 10:33] #708 closed

[2019-06-17 11:20] lminer opened #1151 "Mixing vanilla keras with tensorflow"
I'm trying to run a keras model with a tensorflow backend. Unfortunately, one of my layers is a custom layer that relies on `tf.depth_to_space`. So when I try to train the model using horovod, I get a CuDNN error "failed to alloc 1073741824 bytes on host". It does work when I use, `tf.keras` instead but the performance is a lot worse for some reason.

Is there some way to get vanilla keras to work

[2019-06-17 16:40] gbenaa opened #1152 "strided_slice_op"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-06-17 17:26] gbenaa commented on #1152
Steps to reproduce:
$ nvidia-docker run --privileged -it -v=/data:/data horovod/horovod:0.16.4-tf1.12.0-torch1.1.0-mxnet1.4.1-py3.5

/examples# git clone https://github.com/nshepperd/gpt-2.git
/examples# cd gpt-2 && pip install -r requirements.txt && python download_model.py 117M
/examples# cd src
/examples# cp ../train.py .
/examples# cp ../train-horovod.py .
/examples# mv ../models/ .
/examples#

[2019-06-17 17:59] gbenaa commented on #1152
More full trace:
[1,1]<stderr>:2019-06-17 17:13:42.247910: W tensorflow/core/common_runtime/bfc_allocator.cc:271] ****************************************************************************************************
[1,1]<stderr>:2019-06-17 17:13:42.247944: W tensorflow/core/framework/op_kernel.cc:1273] OP_REQUIRES failed at strided_slice_op.cc:139 : Resource exhausted: OOM when allocating tensor w

[2019-06-17 18:02] gbenaa commented on #1152
[1,1]<stderr>:2019-06-17 17:13:42.247944: W tensorflow/core/framework/op_kernel.cc:1273] OP_REQUIRES failed at strided_slice_op.cc:139 : Resource exhausted: OOM when allocating tensor with shape[2,1023,50257] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc

[2019-06-17 18:05] gbenaa commented on #1152
More full report:
[1,1]<stderr>:2019-06-17 17:13:42.247910: W tensorflow/core/common_runtime/bfc_allocator.cc:271] ****************************************************************************************************
[1,1]<stderr>:2019-06-17 17:13:42.247944: W tensorflow/core/framework/op_kernel.cc:1273] OP_REQUIRES failed at strided_slice_op.cc:139 : Resource exhausted: OOM when allocating tensor

[2019-06-17 18:08] gbenaa commented on #1152
[stderr.log](https://github.com/horovod/horovod/files/3298276/stderr.log)

[2019-06-17 18:08] gbenaa commented on #1152
[stdout.log](https://github.com/horovod/horovod/files/3298277/stdout.log)

[2019-06-17 18:10] gbenaa commented on #1152
Training dataset (file **train.npz** referred to above in steps to reproduce) can be downloaded here (it's not big):
https://drive.google.com/file/d/1oqbbe8jtQXHKDjsxl-nyBl6Rq21ZNX-C

[2019-06-17 18:30] gbenaa commented on #1152
Please note that training the model with a single training process (rather than two as shown in the error scenario above) runs fine without any sign of a problem:

horovodrun **-np 1** -H localhost:4 python train-horovod.py --dataset /data/train.npz

[2019-06-17 18:34] chandana1332 commented on #1148
Narrowed it down further to
[code]

[2019-06-17 18:53] chandana1332 commented on #1148
Further narrowed it down to https://github.com/horovod/horovod/blob/master/horovod/mxnet/__init__.py#L145

[2019-06-17 19:49] yuxihu commented on #1148
@chandana1332  Are you using DLAMI Ubunter 23.0? What's your MXNet package? Can you share your command of installing MXNet and Horovod?

[2019-06-17 19:59] chandana1332 commented on #1148
I’m trying to run it on DLAMI Ubuntu 23.0  (ami-0bc213dc857866046) with mxnet-cu100mkl (1.4.1 and 1.5.0b20190612) and Horovod 0.16.4 and Python3.

Command to install mxnet:  /home/ubuntu/anaconda3/envs/mxnet_p36/bin/python3 -m pip install mxnet-cu100mkl
Command to install horovod:  /home/ubuntu/anaconda3/envs/mxnet_p36/bin/python3 -m pip install --no-cache-dir horovod

[2019-06-17 20:06] yuxihu commented on #1148
Can you try ( I am assuming you are using GPU instance):

[code]

[2019-06-17 21:28] chandana1332 commented on #1148
Thank you @yuxihu
This works!

[2019-06-17 21:28] #1148 closed

[2019-06-17 22:54] gbenaa commented on #1152
Note that the error only occurs when the number of processes are **2** (not 1).

**FAILS:**
horovodrun **-np 2** -H localhost:4 python train-horovod.py --dataset /data/train.npz

**SUCCEEDS:**
horovodrun **-np 1** -H localhost:4 python train-horovod.py --dataset /data/train.npz

[2019-06-17 23:05] alsrgv commented on #1117
@byronyi, the latest info I got from Mellanox is that MOFED 4.4 in the container will work with MOFED 4.4+ on the host.  But OFED in the container and MOFED on the host are not compatible (my earlier experiments to make them work together failed, too).  So, the current plan is to add these instructions (#1150).

Did you manage to make OFED in the container work with MOFED on the host, or are you u

[2019-06-17 23:59] byronyi commented on #1117
Sorry, when I talked about OFED it always means MOEFD...but we did manage to make it work without MOFED in the container. With inbox packages mentioned above, we could run either ibverbs, rdmacm, or RDMA enabled NCCL, all without a hassle.

It used to fail with old-style libibverbs1 and librdmacm1 though. With the new ibverbs-providers (accessible via deb backport or Ubuntu 18.04) package, it seem

[2019-06-18 00:59] alsrgv commented on #1117
@byronyi, this sounds great!  What's the exact list of packages that you installed in the container to make it work?  Also, did you have to use any special settings on the host during MOFED installation, e.g. `--upstream-libs`?

[2019-06-18 02:10] byronyi commented on #1117
I don’t think so, it’s just plain MOFED on host. I will double-check soon.

Btw, we are evaluating using upstream drivers directly, which makes our kernel team happy than ever. Up till now I find no problems except for manually modprobe several kernel drivers and relaxing page locked memory size limit.

[2019-06-18 03:04] tgaddair commented on #1146
Hey @cofiiwu, you should avoid setting `CUDA_VISIBLE_DEVICES` when using Horovod.  NCCL relies on being able to see peer devices for CUDA interprocess communication to work.

The way to assign GPUs to processes in Horovod is to set `config.gpu_options.visible_device_list = str(hvd.local_rank())` as shown in [this example](https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist.py#

[2019-06-18 03:09] tgaddair commented on #1151
Hey @lminer, most of our Keras [examples](https://github.com/horovod/horovod/blob/master/examples/keras_imagenet_resnet50.py) are using vanilla Keras mixed with TensorFlow, so Horovod should work fine with that combination.

I'm not familiar with the specifics of `tf.depth_to_space` enough to know how it might be causing this error.  Do you have a minimal reproducible example?

[2019-06-18 03:13] tgaddair commented on #1144
Hey @SoulGuedria, it's tough to say without knowing the specifics of the models, data, and your environment (network, number of workers, number of GPUs per worker, etc.).

Have you tried running the [tensorflow_synthetic_benchmark](https://github.com/horovod/horovod/blob/master/examples/tensorflow_synthetic_benchmark.py)?  That should give you a good baseline of performance to compare against.

[2019-06-18 03:18] tgaddair commented on #1142
Hey @rvallari1, if your goal is to clean up the log output, one common technique is to only print metrics and other info on the first rank.  For example, by setting `verbose = 1 if hvd.rank() == 0 else 0` as in the [keras_imagenet_resnet50](https://github.com/horovod/horovod/blob/master/examples/keras_imagenet_resnet50.py#L75) example.  Is that what you had in mind?

[2019-06-18 08:01] gbenaa commented on #1152
The following examples shipped within the container have all been tested and succeed:
- keras_imagenet_resnet50.py
- keras_mnist_advanced.py
- mxnet_mnist.py
- pytorch_mnist.py
- pytorch_synthetic_benchmark.py
- tensorflow_mnist.py
- tensorflow_mnist_eager.py

[2019-06-18 14:51] chandana1332 commented on #640
I'd like to understand more on how data is distributed in MxNet.
I see your point about using a random data reader and then each process will read a possibly different batch. But a couple of questions here:

1. Each process would go through the entire training data as opposed to all the processes collectively going through the training data once.
2. If I don't have a random reader but a sequential

[2019-06-18 15:06] tgaddair commented on #640
Hey @chandana1332

1. For N processes, each process would typically go through 1/N of the training data each epoch. The processes do not collectively coordinate on reading training data, each process handles that work independently.
2. Even with a sequential reader you would typically [shuffle](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#shuffle) the training data prior to the start

[2019-06-18 16:31] apeforest commented on #640
@chandana1332 In MXNet example mxnet_imagenet_resnet50.py, each process would load a part of the training data by passing in GPU rank to the `part_index` parameter in API mx.io.ImageRecordIter().

Please refer to https://github.com/horovod/horovod/blob/master/examples/mxnet_imagenet_resnet50.py#L181

[2019-06-18 17:01] chandana1332 commented on #640
@tgaddair
1. How is the vocab created if different processes process chunks of training data independently?
2. Got it!

@apeforest
I see.
Two questions:
1. I see that the training data is sharded to hvd.size() parts but validation data is not as seen here: https://github.com/horovod/horovod/blob/master/examples/mxnet_imagenet_resnet50.py#L185
Does this mean all the processors are validating on the

[2019-06-18 20:53] Young768 commented on #1060
Hi @tgaddair , I also wonder if Horovod supports adaptive/dynamic batch size during training. These are related paper I have found: [[1]](http://proceedings.mlr.press/v54/de17a.html), [[2]](https://arxiv.org/abs/1712.02029)

[2019-06-18 21:27] tgaddair commented on #1060
Hey @Young768, as long as the batch size changes with the same policy on every worker, it should be fine (for example: epoch 1 = 32, epoch 2 = 64, etc.).

[2019-06-18 23:02] apeforest commented on #640
The answer is yes.

I believe in an earlier version we were using gluon.split_and_load() but later changed. I don't recall the exact reason for this revert. @yuxihu may have more clear answer.

[2019-06-18 23:09] apeforest commented on #640
@chandana1332
1. The answer is yes
2. Can you try using https://mxnet.incubator.apache.org/api/python/gluon/gluon.html?highlight=split_and#mxnet.gluon.utils.split_and_load

[2019-06-19 03:39] Young768 commented on #1060
Hi @tgaddair How about the same batch, but different workers have different batch size? Their tensor size is the same, which ensure allreduce operations.

[2019-06-19 08:30] Oktai15 commented on #907
Any update about example with tf 2.0? Associated issue was closed

[2019-06-19 14:52] DEKHTIARJonathan opened #1157 "RFC - Horovod as a Research Platform: Gradient Compression, Sparsification and various distributed strategies"
### Context

After some talks at ICML and NeurIPS during one of the workshops we co-organize with @wbailer, we figured out that Horovod would potentially be a very interesting framework to facilitate research on optimizing distributed DL workloads.

Aforementioned Workshops:
- ICML: https://icml.cc/Conferences/2019/ScheduleMultitrack?event=3520
- NeurIPS: https://nips.cc/Conferences/2018/Schedule?

[2019-06-19 15:50] tgaddair commented on #1157
Hey @DEKHTIARJonathan, thanks for drafting this!  Having a unified "plugin" API for different algorithms is something we've mused about off and on in the past, but haven't yet put together anything concrete.

Most of our past discussions on the topic have been around gradient compression (in addition to the Deep Gradient Compression you mentioned, there's also [QSGD-TF](https://github.com/ganshaod

[2019-06-19 15:57] tgaddair commented on #640
Hey @chandana1332

If you need to preprocess the input data to determine certain constants like the vocab, then read those constants on each worker, you can do so. But during training, you want to ensure that each worker is only processing a subset of the data.

[2019-06-19 17:55] DEKHTIARJonathan commented on #1157
Wow I never heard of this implementation: https://github.com/ganshaoduo/QSGD-TF ! Very nice work. I will probably test it in the coming weeks.

I know about the Compression API, TBH it's this changes which gave me this idea of using HVD as research platform.

Let me know how we can help you to converge to this point and how you would like the discussion to be conducted ;)

[2019-06-19 21:52] Young768 commented on #1060
Hi @tgaddair could you please provide these related APIs you have mentioned that can change batch size between different epochs on Horovod?

[2019-06-19 22:38] chandana1332 commented on #640
@tgaddair

Okay. I have a usecase where I'm training with an extremely large dataset. Vocab creation takes up a lot of CPU memory. If I'm training with 4 GPUs that means 4 different processes will be computing this vocabulary using shared CPU memory. I'm surely going to run out of memory. How do you suggest I deal with this usecase?

[2019-06-20 01:14] chychen commented on #182
Dear @shoubhik ,
I am able to run horovod with iterating train() and evaluate() but fail to run train_and_evaluate().
I have set the RunConfig.save_checkpoints_secs but see below errors, do you have any ideas?
[code]

[2019-06-20 01:28] chychen commented on #182
Hi all,
if I go train_and_evaluate() then I have to setup the` RunConfig.save_checkpoints_secs` for all horovod workers in estimator or get the below error. would it be a bug?
[code]

[2019-06-20 05:55] alsrgv commented on #1117
@byronyi, you're right - I was able to upgrade Horovod Dockerfile to Ubuntu 18.04, add RDMA libraries you mention, and NCCL/IB worked just fine (https://github.com/horovod/horovod/pull/1159). Thanks for the suggestion!

[2019-06-20 06:07] alsrgv commented on #907
Both regular Horovod API and HorovodDistributionStrategy are expected to be compatible with TF 2.0.

I have a prototype of HorovodDistributionStrategy that I'm running by Google team.  Once it's a bit more polished, it will be added to Horovod as an alpha API.

[2019-06-20 06:34] armandmcqueen commented on #1157
+1 for the idea. I've been considering whether it makes sense to implement other distribution strategies (stochastic gradient push in particular) inside of Horovod

[2019-06-20 06:52] DEKHTIARJonathan commented on #1157
@armandmcqueen If you wanna go in this direction. Please get me in the loop. I'd love to help.
Personal Email: contact@jonathandekhtiar.eu

Nonetheless, I still believe we need some "standardized" API to integrate with HVD and working on a "per-method" basis would be probably too labor intensive. Today, this paper from Facebook "stochastic gradient push" looks promising, tomorrow it's another one.

[2019-06-20 07:30] Oktai15 commented on #907
@alsrgv as far as I understood correctly regular API is ready for using with tf 2.0 or some barriers are?

[2019-06-20 08:11] byronyi commented on #1117
@xiaozhouX do you have any other issues with our solution? If so, feel free to leave your comments or suggestions :)

[2019-06-20 08:16] byronyi commented on #1123
Shall be fine if you either use a recent enough MPI, e.g. OpenMPI 4.0, or use `LD_PRELOAD=LD_PRELOAD=/path/to/system/libhwloc` trick. Credit to https://github.com/horovod/horovod/pull/1159#issuecomment-503924940

[2019-06-20 08:16] #1123 closed

[2019-06-20 13:59] mfeblowitz opened #1161 "Horovod with bert replicates large identical eval.tf_record files"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-06-20 15:55] tgaddair commented on #1161
Hey @mfeblowitz, thanks for pointing this out.  Though we didn't put together the specific example you referenced, @abditag2 has been working on a Horovod + BERT implementation for our user-facing [examples](https://github.com/horovod/horovod/tree/master/examples).  We'll be sure to avoid this issue in our implementation.

[2019-06-20 15:58] mfeblowitz commented on #1161
Thanks. As this is new for me, I'll keep my eyes on whether the files continue to be identical. I can understand why they might need to replicated across hosts.

[2019-06-20 16:21] tgaddair commented on #1161
One thing you may want to consider as a quick fix is to only run the final evaluation / prediction on one of the workers (since it doesn't look like the different ranks distribute the data anyway).

For instance, you could change the [eval line](https://github.com/lambdal/bert/blob/master/run_classifier_hvd.py#L897) and the [predict line](https://github.com/lambdal/bert/blob/master/run_classifier_

[2019-06-20 17:24] mfeblowitz commented on #1161
I was delighted to see bert processing that use 2 gpus and more than one cpu.

Are you saying that if the work proceeds on both workers, it's identical work?

[2019-06-20 17:31] tgaddair commented on #1161
Only for the eval / prediction.  The training (the most expensive part) is using Horovod to distribute the work.  That's my interpretation reading through the code.

[2019-06-20 17:36] mfeblowitz commented on #1161
Interesting. My observation is that without horovod, both gpus are selected for use by tf but only one sees any processing. With horovod, both gpus are working at/near max.

[2019-06-20 17:50] armandmcqueen commented on #1157
For the immediate future, I'll be investigating the [PyTorch implementation of SGP](https://github.com/facebookresearch/stochastic_gradient_push), but I'd be very happy to see a plugin API that makes it easier to bring these techniques to Horovod.

[2019-06-20 21:11] mfeblowitz commented on #1161
OK - if I interpret this correctly, the second worker would only be necessary if different ranks distribute the data. I have placed the guard and notice that there is a second worker, both gpus are in use, and the two eval.tf_record files (484MB each) are being created.

It's only disk space :-)

I will be interested to see whether the generated results differ for the two workers. If I am guessing

[2019-06-20 21:35] tgaddair commented on #1161
That's generally correct, yes.  Without Horovod, TensorFlow will attempt to make use of multiple GPUs during the forward and backward passes, fanning out work where possible (so-called "model parallelism").  However, efficient model parallelism often requires a lot of hand-tuning to optimize, and isn't always possible (because layers are sequential), and so you end up with low GPU utilization like

[2019-06-20 23:07] alsrgv commented on #1131
@cklsoft, can you check the output of `x86_64-linux-gnu-gcc --version`?

[2019-06-20 23:08] alsrgv commented on #1125
That would be very interesting to have :-)

[2019-06-20 23:12] alsrgv commented on #777
It looks like it's hanging on NCCL kernel call.  Any chance that there could be a slow GPU memory leak that over time causes it to hang?  How does GPU memory utilization look like at the beginning of the training, and at the hang point?

[2019-06-20 23:15] alsrgv commented on #1097
@jackalcooper, you can set it outside of horovodrun:
[code]

[2019-06-20 23:17] mfeblowitz commented on #1161
That's a great explanation, Travis. Thanks.

Unfortunately, it appears that, at least for prediction, the outcome is - well - awful. The processing appears to proceed with separable batches, spread across the gpus. But the artifacts that appear in both the result directory and worker 1's subdirectory are identical. Seems unlikely, especially based on your common-sense explanation of numerical non-

[2019-06-20 23:18] alsrgv commented on #1152
@gbenaa, can you try a slightly smaller batch size?  NCCL needs a small amount of GPU memory for itself and may be pushing TensorFlow over the memory limit.

[2019-06-20 23:52] alsrgv commented on #1157
@DEKHTIARJonathan, @armandmcqueen, thanks for starting this discussion!

We're definitely excited to see all the research that uses Horovod to push the boundaries of distributed deep learning. It is our desire to make extending Horovod as simple as possible.

Refactorings that @tgaddair mentioned are a big step in this direction - today, it's much easier to define custom op implementation or compr

[2019-06-21 01:04] DEKHTIARJonathan commented on #1157
On top of my head, I see 3 importants behaviors.

- Being able to modify the gradient before send
- Being able to modify the gradients received
- Modify the way Horovod all reduce the gradient, in other term the communication strategy.

1 and 2 are probably quite simple and can be integrated in the form of a callback and standardised. You send gradients you receive a modify version that's it.

The

[2019-06-21 01:38] armandmcqueen commented on #1157
I don't have any specific ideas on how to design a plugin system, but one current barrier for me is the lack of a developer guide. The docs are great about explaining what Horovod/ring-allreduce are and how to use it, but I'm not aware of any documentation explaining the C++ codebase. If I want to implement SGP I expect to have to do a fair amount of thinking and work, but right now I don't even k

[2019-06-21 08:51] pranoothatwar commented on #1100
Hello I am new to distributed computing and I have some questions regarding the data distribution.
1. How can we partition and distribute a huge dataset over workers? What are some good practices for this in the industry?
2. Can a worker randomly sample from data which is present in other worker node?

[2019-06-21 15:34] mfeblowitz commented on #1161
The one thing I'm not fully understanding is that it would appear that the processing of each question against the paragraphs in the document is wholly independent from the processing of each other question and should thus be easy to parallelize. So maybe that's not true, or maybe the BERT/Horovod group at Lambda hasn't included a strategy for that.  I'll try to ask that question on the lambda blo

[2019-06-21 15:42] gbenaa commented on #1152
Thanks Alex, the batch size was only 2 but I've reduced it to 1 now and it's training fine :) Although don't seem to be gaining much performance advantage with two GPUs over a single one... I'm just collecting some data to make a proper comparison. Looks like I may need to acquire a couple more GPUs, my motherboard can handle four. Thanks for your help.
Giles

[2019-06-21 15:54] tgaddair commented on #1161
Hey @mfeblowitz, I'd suggest taking a look at this PR from @abditag2, which provides an alternative integration of Horovod with BERT: https://github.com/google-research/bert/pull/568.  Perhaps that one (which was created by a Horovod contributor) will work better for you.

It's not surprising that predictions are the same across workers.  In fact, that's ideal.  In Horovod's model, all replicas sh

[2019-06-21 16:01] tgaddair commented on #1100
Hey @pranoothatwar,

1. We recommend storing your data in a distributed filesystem like HDFS, in a format such as Parquet, and using a framework like [Petastorm](https://github.com/uber/petastorm) to handle partitioning among the workers. This is an approach that has been used successfully at Uber ATG, as described in a recent [blog post](https://eng.uber.com/petastorm/).
2. Typically, data is not

[2019-06-21 16:02] mfeblowitz commented on #1161
@tgaddair - thanks for this. I will grab it and try it out.
@abditag2 - does this PR also address prediction? Do you have suggestions as to how I can do what @tgaddair recommends?

[2019-06-21 20:49] denfromufa opened #1164 "Why only openmpi is supported with horovodrun?"
Why only openmpi is supported with horovodrun? For example why not also support Spectrum MPI which is based on openmpi and should be mostly compatible.

[code]

[2019-06-21 20:57] denfromufa opened #1165 "Anyone using Horovod with IBM PowerAI 1.6.1 on Power8/Power9 machines?"
**Environment:**
1. Framework: PowerAI 1.6.1
3. Horovod version: Master Branch
4. MPI version: Spectrum MPI 10.03 or 10.1
5. CUDA version: 10.1.168
6. NCCL version: 2.4.7
7. Python version: 3.6
8. OS and version: CentOS 7.5
9. GCC version: gxx_linux-ppc64le=7.3.0

PowerAI 1.6.1 from IBM was released last week.
https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/linux-ppc64le/

[2019-06-22 19:50] mfeblowitz commented on #1161
@tgaddair @abditag2 - I've tried @abditag2's adaptation of bert with horovod and have found that it acts quite similarly to the lambda labs adaptation (although the latter is a bit more difficult to use. I have also found that there is no change in the behavior for prediction - both workers are busy with identical squad processing. The big difference is that it takes much more cpu ram, causing the

[2019-06-23 04:21] cham-3 commented on #221
I met the same problem.

[2019-06-23 19:04] awan-10 commented on #142
@alsrgv - is there a way to find out if horovod is built with NCCL or MPI? Like is there a library flag or a configure log that you save somewhere? I have two minicondas built a while ago and I cannot figure out if the horovod in those ones were built with NCCL or MPI? as in HOROVOD_GPU_ALLREDUCE=MPI or NCCL?

[2019-06-24 05:12] Frank1993 commented on #777
Hi @alsrgv, my job also hang after 216K steps. And cpu, memory and network are normal, and GPU utilization is 100%, but the used GPU memory suddenly decrease to 0%.

![image](https://user-images.githubusercontent.com/10986888/59993150-b26dd200-9681-11e9-9fd0-db50431179a6.png)

[2019-06-24 06:11] scotthuang1989 commented on #221
@cham-3 , I am sorry that I don't have the answer. I met this problem a year ago.  A year ago our company just setup the servers. during the following  months, we adjust our hardware and software (including NIC, network cable, router, harddisk etc) for several reasons.  the problem disappeared at some point, so I don't know for sure what cause this problem.

[2019-06-24 06:20] YesterdayxD commented on #221
when I changed the NIC,from 1GB's NIC to 25GB's,the performan has actually improved.BUT the NIC's IO is only 300MB/s.  @scotthuang1989  @cham-3

[2019-06-24 12:21] ImranRolo opened #1166 "How to make workers run sequentially (instead of simultaneously)"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.12
3. Horovod version: 0.16.4
4. MPI version: 4.0.1
5. CUDA version: V9.0.176
6. NCCL version:
7. Python version: 3.6
8. OS and version: Ubuntu 16
9. GCC version:

**Your question:**
I'm using horovod to train a programme on a local machine with 2 GPUs. Before the training happens, I have to load a large dataset which takes a lot of

[2019-06-24 12:27] yurijvolkov commented on #676
I fixed it with `os.environ['CUDA_VISIBLE_DEVICES'] = str(hvd.local_rank())` at the beginning of script.

[2019-06-24 13:29] denfromufa commented on #101
With ppc64 compiler installed with conda I'm getting this error after enabling this CFLAGS:

`powerpc64le-conda_cos7-linux-gnu-cc: error: unrecognized command line option '-stdlib=libc++'`

[2019-06-24 13:34] denfromufa commented on #101
Oh, I see pardon, I'm using GCC not Clang. Might be a different issue with the same error:

[code]

[2019-06-24 14:22] denfromufa commented on #431
I had the same issue with powerai environment when switching from spectrum mpi in powerai environment to spectrum mpi in lfs suite. It looks like the same gcc compiler mismatch issue between tensorflow and horovod compilations. Not sure what is the resolution, unless I have to compile even tensorflow from source with the same compiler.

[2019-06-24 17:23] chandana1332 commented on #640
@tgaddair ping

[2019-06-24 18:09] denfromufa commented on #1165
segfault with powerai 1.6.1 and spectrum mpi 10.1 from lsf suite:

[code]

[2019-06-24 18:44] pusabre commented on #155
This is still happening for me. I cloned sources with submodules:
`git clone --recursive https://github.com/horovod/horovod`
but when I try to `import horovod.tensorflow` then it breaks:
`>>> import horovod.tensorflow as htf
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/zucchabar/horovod/horovod/tensorflow/__init__.py", line 25, in <module>
    check_extens

[2019-06-24 19:29] pusabre opened #1167 "Running example in Horovod Docker image hangs"
**Environment:**
This is the environment where I ran Horovod Docker image:
1. Framework: /
2. Framework version: /
3. Horovod version: /
4. MPI version: 4.0.1
5. CUDA version: V10.0.130
6. NCCL version: 2.3.5
7. Python version: Python 3.6.5
8. OS and version: Ubuntu 16.04
9. GCC version: 5.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your quest

[2019-06-25 09:05] cham-3 opened #1168 "speed is slow when run mxnet with horovod"
**Environment:**
1. Framework: mxnet
2. Framework version: 1.4.1
3. Horovod version: 0.16.4
4. MPI version: 4.0.0
5. CUDA version: 90
6. NCCL version:
7. Python version: python 2.7.12
8. OS and version: ubuntu 16.04
9. GCC version: 5.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github

[2019-06-25 09:14] cham-3 commented on #1168
Everything goes well when I run the script on a single node with 4 gpus.
CPU utilization became very low when I run the script on two or more nodes.

[2019-06-25 09:47] pranoothatwar commented on #1100
Thank you very much for the suggestions.
I will go through these links and try to incorporate in my training scripts.
Thanks again :)

[2019-06-25 18:04] yixinshi commented on #1131
I hit similar problems in official TF 1.14.
$ mpirun --version
mpirun (Open MPI) 2.0.2
$pip3 freeze|grep tensorflow
mesh-tensorflow==0.0.5
tensorflow-datasets==1.0.2
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
$ gcc --version
gcc (Debian 6.3.0-18+deb9u1) 6.3.0 20170516
$ g++ --version
g++ (Debian 6.3.0-18+deb9u1) 6.3.0 20170516

~/horovod/test$ python3 test_tensorflow.py
*** Received signa

[2019-06-25 19:24] alsrgv commented on #1131
@yixinshi, TensorFlow started using GCC functionality that is not compatible between GCC 4.x and GCC 5.x+.  You need to install an older GCC version (4.8.5 or 4.9) and pin it: https://github.com/horovod/horovod/blob/master/Dockerfile.test.gpu#L96

[2019-06-25 19:25] alsrgv commented on #1168
@cham-3, what's the speed of your network interfaces?

[2019-06-25 22:34] fdas3213 opened #1169 "Got stuck running horovod"
**Environment:**
1. Tensorflow-gpu: 1.11.0
2. Horovod version: newest? Just installed Horovod using `pip install horovod`
4. MPI version: Open MPI 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.4.7
7. Python version: 3.6
8. OS and version: Ubuntu 16.04
9. GCC version: 5.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes, but not helpful.

**Your questio

[2019-06-26 00:29] yixinshi commented on #1131
Thanks! However, I am unable to build horovod from 0.16.04 and head using gcc 4.9 (gcc 6 works):
$ gcc --version
gcc (Ubuntu 4.9.4-2ubuntu1~14.04.1) 4.9.4
$ git checkout tags/v0.16.4
$ HOROVOD_WITH_TENSORFLOW=1 HOROVOD_WITHOUT_PYTORCH=1 HOROVOD_WITHOUT_MXNET=1 python setup.py bdist_wheel

horovod/common/operations.cc: In function ‘void horovod::common::{anonymous}::BackgroundThreadLoop(horovod::co

[2019-06-26 00:48] Akado2009 opened #1170 "Could not install horovod in docker."
I'm using you reference docker file, and every time I build it, I get the following error:

[code]
Even though I install python-dev.

[2019-06-26 02:55] cham-3 commented on #1168
@alsrgv Thanks for your replying. The speed of my network interfaces is 10000Mb/s and  20000Mb/s, respectively.

[2019-06-26 21:09] bluesummers1129 commented on #1065
Any update on this yet? I'm making things work through horovodrun rather than horovod.spark, but just want to know if this is fixed/will get fixed sometime soon so I can revert to the horovod.spark implementation

[2019-06-26 21:36] fdas3213 commented on #1169
Nevermind, I just fixed this problem. It seems that I need to install horovod using the GPU way listed here: https://github.com/horovod/horovod/blob/master/docs/gpus.rst.

[2019-06-26 21:36] #1169 closed

[2019-06-27 07:43] wangshuaizs opened #1171 "Cuda failure 'invalid device function'"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.10.1
3. Horovod version:0.16.4
4. MPI version:4.0.0
5. CUDA version:9.0
6. NCCL version:2.2.13
7. Python version:2.7
8. OS and version: Ubuntu 16.04
9. GCC version:5.4.0

**Your question:**
When I run ```CUDA_VISIBLE_DEVICES='0,1' horovodrun -np 2 -H localhost:2 python test/horovod/tensorflow_mnist.py``` on my physical server with 2

[2019-06-27 09:16] sj6077 opened #1172 "FORCE-TERMINATE AT Data unpack would read past end of buffer"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow
2. Framework version:
1.11
3. Horovod version:
0.16.4
4. MPI version:
4.0.1
5. CUDA version:
10.0
6. NCCL version:
2.4
7. Python version:
3.6
8. OS and version:
Ubuntu 18.04
9. GCC version:
7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
yes
2. If your question is about hang

[2019-06-27 10:24] sinllychen opened #1173 "The tensorflow program hang on a few hours when use multi gpu node to run"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.12.0
3. Horovod version: 0.16.4
4. MPI version: 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.4.7
7. Python version: 3.6.5
8. OS and version: centos 7.4
9. GCC version: 4.8.5

**Your question:**
When I use the below command to install horovod, I can run the tensorflow_mnist example in one node with multi GPU successfully.
```HOROVOD

[2019-06-27 10:38] sinllychen opened #1174 "Segment fault in one node when use pytorch framework"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.1.0
3. Horovod version: 0.16.4
4. MPI version: 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.4.7
7. Python version: 3.6.5
8. OS and version: centos 7.4
9. GCC version: 4.8.5

**Your question:**
I use the
```HOROVOD_CUDA_HOME=/usr/local/cuda-9.0/  HOROVOD_CUDA_INCLUDE=/usr/local/cuda-9.0/include  HOROVOD_CUDA_LIB=/usr/local/cuda-9.0/lib

[2019-06-27 13:58] abidmalikwaterloo opened #1175 "Horovod support for Pytorch"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Pytorch
2. Framework version:
1
3. Horovod version:
0.16.4
4. MPI version:
spectrum-mpi/10.3.0.0-20190419
5. CUDA version:
cuda/9.2.148
6. NCCL version:
2.3.7
7. Python version:
3.6.5
8. OS and version:
9. GCC version:
7.20

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question

[2019-06-27 14:15] mengxr opened #1176 "Add `horovod.run()` to make horovod notebook friendly"
**Is your feature request related to a problem? Please describe.**

`horovod.spark.run` makes it easy for users to run Horovod on Spark. The interface that takes a train method is quite convenient and fits notebook users well:) However, it only supports Spark. Sometimes, users might want to run distributed training on a multi-GPU node inside a notebook environment, or users might want to trigger a

[2019-06-27 22:46] pranavladkat commented on #182
I came across another deadlock scenario when checkpoint is already saved after `max_steps` iterations. In this case rank 0 exits train call before executing broadcast hook and other processes keeps waiting for matching call.

[code]

[2019-06-28 00:06] alsrgv commented on #182
@chychen, I don't think train_and_evaluate will work, since it uses time to decide when to run evaluation, which may cause different workers to execute a different # of batches.  We may be able to resolve it once #1058 is implemented.

@pranavladkat, that's a very interesting use case, thanks for the workaround!  It's similar to what's happening in Keras to determine the epoch to start from: https

[2019-06-28 00:38] alsrgv commented on #1176
LGTM, looking forward to the prototype!

[2019-06-28 01:12] alsrgv commented on #1175
@abidmalikwaterloo, Horovod supports PyTorch. You need to submit the job to the cluster instead of running the code on the login node.

[2019-06-28 01:20] alsrgv commented on #1174
@sinllychen, since you're installing this in an Anaconda environment, when you activate it, what's the output of `gcc --version`, `g++ --version`, `x86_64-linux-gnu-gcc --version`, `x86_64-linux-gnu-g++ --version`?  Do they all point to gcc 4.9?

[2019-06-28 01:21] aj-prime opened #1177 "Horovod GradientTape performance for Tensorflow"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.12
3. Horovod version:0.16.4
4. MPI version: Mvapich-GDR 2.3.1
5. CUDA version: 9.2
6. NCCL version:
7. Python version: 3.6
8. OS and version: Red Hat Enterprise Linux Server, 7.5 (Maipo)
9. GCC version: xl/2019.02.07
10. Architecture: Power9, V100 GPU

**Your question:**
I have modified tensorflow_mnist_eager.py script in the examp

[2019-06-28 01:41] alsrgv commented on #1177
This is not expected.  @tgaddair, could you take a look?

[2019-06-28 01:44] alsrgv commented on #1177
@aj-prime, by the way, any reason you're not using NCCL?

[2019-06-28 01:46] alsrgv commented on #1173
@sinllychen, you have some existing python3 script that used up all the available GPU memory. You need to kill that script first.  Make sure you have zero GPU memory usage before the test.

[2019-06-28 01:50] aj-prime commented on #1177
@alsrgv No specific reason

[2019-06-28 01:55] alsrgv commented on #1177
@aj-prime, NCCL will give you better performance on GPU compared to MPI.  That said, I do see a slowdown of Eager TF compared to a regular TF even with NCCL in my environment.

[2019-06-28 01:56] alsrgv commented on #1172
Did you try https://github.com/horovod/horovod/blob/89121661a2eaa36e4fab8566bd4f84e2361f3469/docs/troubleshooting.rst#force-terminate-at-data-unpack-would-read-past-end-of-buffer ?

[2019-06-28 02:12] sinllychen commented on #1174
@alsrgv I have use the gcc -v , g++ -v on gcc 4.9 and gcc 7.3 , the output of gcc versions are same.  The last two commands prompt me the comand not found.

[2019-06-28 02:16] aj-prime commented on #1177
@alsrgv I am trying to setup horovod with NCCL. Is the slowdown as severe as MV2-GDR?

[2019-06-28 02:23] sinllychen commented on #1173
@alsrgv If the horovod program need zero GPU memory to test? But when I run the test script, the two iteration of the chunks is ok and never prompt out of memory.

[2019-06-28 02:47] sinllychen commented on #1173
@alsrgv Hi, I empty a free GPU card from the two nodes and run the scrip again, it works.  Thank you very much. It may be caused by GPU memory, I have a question that can horovod identify idle GPU card  automatically? From my test, I only can use the command  ```CUDA_VISIBLE_DEVICES=0,1``` to set the free GPU card.

[2019-06-28 02:49] alsrgv commented on #1173
@sinllychen, unfortunately, you have to specify it manually.

[2019-06-28 02:50] alsrgv commented on #1177
@aj-prime, I have not tried MV2-GDR, so not sure.  What kind of performance are you seeing with Graph TensorFlow MNIST example?

[2019-06-28 02:51] alsrgv commented on #1174
@sinllychen, interesting!  Could you reinstall Horovod with `-v --no-cache-dir` flag and make a [gist](https://gist.github.com) with the output or attach it as a file?

[2019-06-28 02:53] alsrgv commented on #1171
@wangshuaizs, I'm not sure if K40c is supported by NCCL.  @sjeaugey, could you comment?

[2019-06-28 02:59] alsrgv commented on #1168
@cham-3, can you try adding NCCL to your setup and checking if this improves performance?

[2019-06-28 03:11] aj-prime commented on #1177
@alsrgv For tensorflow_mnist.py script with batch size 32, I am getting following numbers
1 GPU:   11292
2 GPUs: 12300
4 GPUs: 20080

[2019-06-28 03:33] sinllychen commented on #1174
@alsrgv  Hi, I use pip uninstall horovod to uninstall horovod and reinstall the horovod as following command and logs:
[code]

I have try to use pytorch 1.0.0 from source compilation to run the pytorch and also  get the same segment fault result.  I want to ask which version of pytorch do you test horovod? And if this problem result by MPI or NCCL?

[2019-06-28 03:34] sinllychen commented on #1173
@alsrgv Thanks very much!

[2019-06-28 03:36] sinllychen commented on #1173
@alsrgv I have a question that if the program run out of memory, why it not exit and print the OOM log, but hang on for waiting?

[2019-06-28 07:48] sjeaugey commented on #1171
By default, NCCL compiles with sm_30 and sm_35 for Kepler. So unless NCCL has been recompiled with less architectures, it should work.

[2019-06-28 09:39] minizon commented on #1077
Hello, do you use the apex.parallel.SyncBatchNorm in the horovod framework? Can you offer any suggestion if I want to realize the syncbn in pytorch 0.4.1 with horovod.

[2019-06-28 09:48] hubutui commented on #1077
@minizon just install apex as their document explains, and use `apex.parallel.SyncBatchNorm`, you might be interested in `apex.parallel.convert_syncbn_model` to help with convert a module's BatchNorm to SyncBN recursively.

[2019-06-28 13:34] tgaddair commented on #1065
Hey @bluesummers1129, thanks for following up on this.  Did some more digging and created #1180 to fix this.  Feel free to try the branch and let me know if it works!

[2019-06-28 13:59] wangshuaizs commented on #1171
@sjeaugey , I installed NCCL with the following cmds:
[code]
I copied .so and .h, because if I didn't do this, tensorflow cannot find these two files when I compiled tensorflow. But I don't think I have recompiled NCCL with less architectures. However, I don't know if others who use these machines have changed NCCL. I set ```export NCCL_DEBUG=VERSION``` before I run horovod, the logs output
[code]

[2019-06-28 14:11] alsrgv commented on #1177
OK, that's much better.  We'll look into the eager mode performance.

[2019-06-28 14:28] sjeaugey commented on #1171
Well it would seem the NCCL version which was picked by Horovod was not that one. Maybe you can try installing 2.4.7 and check you see that version when you run.

It is normal NCCL works with 1 GPU since there is no communication needed, hence no CUDA kernel launched (at most a single cudaMemcpy).

[2019-06-28 15:37] wangshuaizs commented on #1171
@sjeaugey Unfortunately, it still failed with 2.4.7. The logs are as follows:
[code]

[2019-06-28 15:57] sjeaugey commented on #1171
It would be good to check with NCCL_DEBUG=WARN that it is the same error, but indeed this is weird. We do test K40 on a regular basis and it works.

Can you check there are sm_35 sections in the NCCL library :
[code]

[2019-06-28 16:15] bluesummers1129 commented on #1065
I tried to build that branch but it seems to have an updated third-party package (gloo) that's throwing an error when I try to git clone --recursive it:

error: Server does not allow request for unadvertised object d58881cfd20dfe8c94ad3b6d88efbcd14d3f2ebe
Fetched in submodule path 'third_party/gloo', but it did not contain d58881cfd20dfe8c94ad3b6d88efbcd14d3f2ebe. Direct fetching of that commit fa

[2019-06-28 20:55] LiweiPeng commented on #696
this feature was completed since 0.16.2. So close this

[2019-06-28 20:55] #696 closed

[2019-06-28 21:38] tgaddair commented on #1065
Hey @bluesummers1129, that was a mistake on my part, committed more than I intended.  New PR should be fixed if you don't mind trying again.  Thanks!  (By the way, still need to include the above mentioned hack at the top of your script, also).

[2019-06-28 21:42] tgaddair commented on #1177
Hey @aj-prime, can you try running [tensorflow_synthetic_benchmark.py](https://github.com/horovod/horovod/blob/master/examples/tensorflow_synthetic_benchmark.py) with `--eager` and without?  That uses ResNet50, which might provide more interesting data.

[2019-06-29 01:18] wangshuaizs commented on #1171
@sjeaugey I have two versions of CUDA installed in my machines: 9.0 and 10.1. I compiled tensorflow with 9.0. Though I checked both of these two folders (cuda is softlinked to 10.1), I did not find sm_35 sections.

[code]
I also tried to check with root, but I got the same result:
[code]

[2019-06-29 01:23] aj-prime commented on #1177
hello @tgaddair

I ran tensorflow_synthetic_benchmark.py in the graph and eager mode. Here are the results

Graph Mode
1 GPU: 336.7 +-0.3
2 GPUS: 574.3 +-3.2
4 GPUs: 1090.5 +-13.1

Eager Mode
1 GPU: 257.1 +-0.6
2 GPUs: 249.5 +-11.5
4 GPUs: 447.2 +-56.4

[2019-06-29 01:37] alsrgv commented on #1171
@wangshuaizs, you need to provide the correct path to libnccl.so.  Try `find /usr | grep libnccl.so` and use the right one.

[2019-06-29 01:43] wangshuaizs commented on #1171
@alsrgv @sjeaugey ， thanks. It does work.
[code]

[2019-06-29 03:37] alsrgv commented on #1171
@wangshuaizs, can you reinstall Horovod with `HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=/usr/local/cuda-9.0 pip install --no-cache-dir horovod`?

[2019-06-29 05:35] wangshuaizs commented on #1171
@alsrgv , Thank you! It did work! So this problem happened because the default value of ```HOROVOD_CUDA_HOME``` and ```HOROVOD_NCCL_HOME``` is ```/usr/local/cuda``` ?

And another problem is that I cannot run horovod in two servers. I ran cmd ```CUDA_VISIBLE_DEVICES='0' horovodrun -np 2 -H localhost:1,166.111.130.169:1 python ~/test/horovod/tensorflow_mnist.py``` in server 166.111.130.153, but it

[2019-06-29 05:37] chychen commented on #182
@alsrgv for now, I only use one worker to run evaluation, it seems ok.

[2019-06-30 04:16] zrss opened #1182 "Horovod missing ranks (stuck at the MPI comm ?)"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow
2. Framework version:
1.8.0
3. Horovod version:
0.15.2
4. MPI version:
openmpi 4.0.0
5. CUDA version:
cuda 9.0.176-1
6. NCCL version:
2.4.2
7. Python version:
python 3.6
8. OS and version:
ubuntu 16.04

**Bug report:**
Please describe errorneous behavior you're observing and steps to reproduce it.

Hi all, currently, i h

[2019-06-30 08:53] sjeaugey commented on #1171
NCCL doesn't need to know anything about MPI. Setting `NCCL_DEBUG=INFO` should tell you whether you are blocked in the NCCL init or later (or somewhere else).

[2019-06-30 20:00] DEKHTIARJonathan commented on #1157
@tgaddair @alsrgv any update ?
I would like to help and I'm not sure where to start and how kickstart the more technical aspects of the discussion.

[2019-06-30 23:31] wangshuaizs commented on #1171
@sjeaugey , still, no output

[2019-07-01 02:18] Lyken17 opened #1183 "Failed to build on Mac OS 10.14.5 "library not found for -lstdc++""
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): PyTorch
2. Framework version: 1.10
3. Horovod version: 0.16.4
4. MPI version: 4.0.0
5. CUDA version: None
6. NCCL version: None
7. Python version: 3.6
8. OS and version: Mac OS 10.14.5
9. GCC version: Apple LLVM version 10.0.1 (clang-1001.0.46.4)

**Bug report:**
Please describe errorneous behavior you're observing and steps to re

[2019-07-01 03:09] xieydd opened #1184 "How can i check mpi already use ib rdma?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
All
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/

[2019-07-01 06:04] sj6077 commented on #1172
@alsrgv Yes, I confirmed `hwloc` is not installed in all the machines.

[2019-07-01 07:08] alsrgv commented on #1171
@wangshuaizs, can you add `--verbose` to `horovodrun` and share the output?  Also, can you share the output of ifconfig on both servers?

Finally, if plain `mpirun` works for you, you can use it following [these instructions](https://github.com/horovod/horovod/blob/master/docs/mpirun.rst).

[2019-07-01 07:19] wangshuaizs commented on #1171
@alsrgv , Here are the outputs after add ```---verbose```
[code]
For the machine on which I run cmd:
[code]
For the remote node:
[code]

For ```mpirun```, I tried ```mpirun -np 2 -H localhost:1,166.111.130.169:1 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib python ~/test/horovod/tensorflow_mnist.py```, the result is the same, without any out

[2019-07-01 07:21] alsrgv commented on #1184
@xieydd, you can check [Mellanox user guides](https://community.mellanox.com/s/article/understanding-mlx5-linux-counters-and-status-parameters#jive_content_id_HW_Counters_RDMA_diagnostics) for querying IB performance counters.  That is the ultimate source of truth.

[2019-07-01 07:22] alsrgv commented on #1171
@wangshuaizs, can you try pinning routed interfaces, like described [here](https://github.com/horovod/horovod/blob/master/docs/mpirun.rst#hangs-due-to-non-routed-network-interfaces) ?

[2019-07-01 07:25] alsrgv commented on #1172
@sj6077, this may be a good question to ask in https://github.com/open-mpi/ompi, perhaps in https://github.com/open-mpi/ompi/issues/6762

[2019-07-01 07:31] alsrgv commented on #1183
@Lyken17, can you see if [this comment](https://github.com/horovod/horovod/issues/154#issuecomment-360679399) help you?  Please adjust Mac OS version to 10.14 in the environment variable.

[2019-07-01 07:35] alsrgv commented on #1182
@zrss, are these threads "stuck" in a sense that their stacktrace does not change over time?  Both Gather and Bcast are part of the coordination loop that runs even when nothing is being reduced, so it's possible that you captured their state at different times on the different servers.

Going back to your training log, did you paste just a subset of stalled tensors, or all of them?  If a subset,

[2019-07-01 07:38] wangshuaizs commented on #1171
@alsrgv , it still didn't work after pinning routed interfaces with ```mpirun -np 2 -H localhost:1,166.111.130.169:1 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x NCCL_SOCKET_IFNAME=^lo,docker0 -mca pml ob1 -mca btl ^openib -mca btl_tcp_if_exclude lo,docker0 python ~/test/horovod/tensorflow_mnist.py```

[2019-07-01 07:52] zrss commented on #1182
thx for the reply. i get your point

there are much stacktraces and some other stalled tensors i have not posted yet, but i re-run my job  it work fine now, thx

[2019-07-01 07:52] #1182 closed

[2019-07-01 07:55] alsrgv commented on #1171
@wangshuaizs, try excluding other interfaces, such as `lxcbr0`, until you're only left with `eth0`.

[2019-07-01 08:06] alsrgv commented on #1157
@armandmcqueen, you've raised very good points!  @tgaddair, are we close to putting out dev guide that you were working on?

@DEKHTIARJonathan, I think points 1 and 2 in your list are covered by compression algorithms, e.g. https://github.com/horovod/horovod/blob/master/horovod/tensorflow/compression.py.  And the third point should be addressed by the dev guide.

[2019-07-01 08:48] wangshuaizs commented on #1171
@alsrgv ,finally, it has something outputed. But ```connection refused```. The log is as follows
[code]

[2019-07-01 09:51] xieydd commented on #1184
@alsrgv tks.

[2019-07-01 09:51] #1184 closed

[2019-07-01 11:12] lminer commented on #1151
Seems like it's a problem with my CUDA/CUDNN/NCCL installation as it works fine on a different machine.

[2019-07-01 11:12] #1151 closed

[2019-07-01 15:37] sjeaugey commented on #1171
The interfaces you use to launch MPI (`166.111.130.x`) seem to correspond to `eth1`. So I would suggest to just select eth1 (`NCCL_SOCKET_IFNAME=eth1` and `-mca btl_tcp_if_include eth1`) since it seems to be a functioning interface.

[2019-07-01 15:47] wangshuaizs commented on #1171
@sjeaugey , thanks for your help. I have upgrade NCCL to 2.4.7 and after adding ```-x NCCL_IB_DISABLE=1```, it works normally.

So I will close this issue. Thank you guys again!

[2019-07-01 17:15] Lyken17 commented on #1183
Thanks. It works for me!

[2019-07-01 17:15] #1183 closed

[2019-07-01 18:35] tgaddair commented on #1157
I can make it a point to get the dev guide out later this week, and I'll add sections covering adding custom operations / compression algorithms.

[2019-07-01 18:55] romerojosh commented on #1157
To add a bit to this discussion, are there any plans to have some official support/procedure for adding custom GPU kernels to Horovod written in CUDA? The unmerged PR #453 contained several of these and I can see this being useful in the context of enabling more experimentation with Horovod.

[2019-07-01 19:07] alsrgv commented on #1157
@romerojosh, I think we can support those by calling nvcc compiler. We have an idea to move all Horovod compilation to CMake, which should make it easier.

#453 was not merged because of convergence issues, but would be good to pick up if somebody's willing!

[2019-07-01 19:10] alsrgv commented on #1171
@wangshuaizs, you may be able to speed up your training by using RoCE since you have it.  You can select working interfaces using `-x NCCL_IB_HCA=...`

[2019-07-01 20:53] romerojosh commented on #1157
@alsrgv Yes, exposing some compile option via CMake to compile in CUDA code would be excellent! The mechanism that #453 used was a little hacky (overrides the compiler used in `setup.py`). Getting a documented/official means to do this from you guys would be great.

[2019-07-02 00:28] alsrgv commented on #1125
@eric-haibin-lin, any chance you could submit a PR for this?

[2019-07-02 01:34] amsword commented on #1077
@hubutui , from the implemetnation details of apex.parallel.SyncBatchNorm, my understanding is that it will not be synced with hovod, since 1) built-in pytorch distributed package is not initialized, 2) the reduce is based on pytorch built-in reduce.

https://github.com/NVIDIA/apex/blob/a52890676f9a26a3a9bc5b8e388fd87375fc4bfd/apex/parallel/sync_batchnorm.py#L102

Is this correct?

[2019-07-02 01:42] hubutui commented on #1077
@amsword I'm not sure. You might wanna try debugging it. Not sure if there's a way to debug this.

[2019-07-02 01:44] alsrgv commented on #1077
@amsword, I think you're right - it's going to behave like non-synchronized BN because the synchronization domain would be equal to a single process.

@amsword, @hubutui, @minizon, We did receive a number of asks from internal teams for native Horovod implementation of SyncBatchNorm.  Would you be interested in trying it out once it's available?

[2019-07-02 01:46] alsrgv commented on #1173
@sinllychen, it's actually supposed to exit, but I'm guessing TensorFlow gets stuck in this particular case.

[2019-07-02 01:48] alsrgv commented on #1174
@sinllychen, can you add `-v` to your installation flags?  This way we can see all the compilation command used.  We do test Horovod with PyTorch 1.0.0 and 1.1.0.

[2019-07-02 01:49] alsrgv commented on #1170
@Akado2009, could you try updated [Dockerfile](https://github.com/horovod/horovod/blob/master/Dockerfile) with CUDA 10?  It was built just a few days ago successfully.  Are you making any changes to the docker?

[2019-07-02 01:50] alsrgv commented on #1131
@yixinshi, sounds like you have an outdated MPI installed.  Could you remove previous MPI installations and install Open MPI 4.0.1?

[2019-07-02 01:56] alsrgv commented on #1167
@pusabre, that's very odd.  A similar setup works in my case.  Could you try new image `horovod/horovod:0.16.4-tf1.14.0-torch1.1.0-mxnet1.4.1-py3.6` and see if it behaves better?  It has updated NCCL 2.4.7.  Also, you may want to try `--shm-size 4g` in the `nvidia-docker` command.

[2019-07-02 01:59] alsrgv commented on #155
@pusabre, can you try this sequence:
[code]

[2019-07-02 02:00] alsrgv commented on #1165
@nvcastet, could you help?

[2019-07-02 02:06] alsrgv commented on #101
@denfromufa, can you open a new issue for this?  Or is it #1165?

[2019-07-02 02:07] alsrgv commented on #1166
@ImranRolo, is it an option to have each worker load half of the dataset?

[2019-07-02 02:10] alsrgv commented on #777
@Frank1993, do you have part of the chart where hang happens in the middle, i.e. half of the chart is before the hang and half of the chart is after the hang?

[2019-07-02 02:12] alsrgv commented on #142
@awan-10, not at the moment, a contribution would be great!  There are proxy ways - e.g. run job with NCCL_DEBUG=INFO and see if there's any output.

[2019-07-02 02:13] alsrgv commented on #1164
@denfromufa, would you be willing to send a PR for and maintain Spectrum MPI support?

[2019-07-02 02:22] tingweiwu opened #1185 "Error in `python': double free or corruption (fasttop)"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow
2. Framework version:
1.13.1
3. Horovod version:
0.16.1
4. MPI version:
[code]

5. CUDA version:
[code]

[code]
6. NCCL version:
2.4.2-1+cuda10.0
7. Python version:
py3.5
8. OS and version:
[code]

9. GCC version:
[code]

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your q

[2019-07-02 02:24] alsrgv commented on #1185
@tingweiwu, what's GCC version on your machine?

[2019-07-02 03:03] tgaddair commented on #640
Hey @chandana1332, apologies for the late reply.  I'd suggest using a shared-memory store like [Plasma](https://arrow.apache.org/docs/python/plasma.html#putting-and-getting-python-objects) for this.

Using Plasma, you can have one process create the object and write it into the store, while the other processes wait for it to become present and then read it.  Plasma supports zero-copy reads, so you

[2019-07-02 03:46] wangshuaizs commented on #1171
@alsrgv , thank you for your advice.

I tried with ```-x NCCL_IB_HCA=mlx4_0:2```, but the training speed is lower than the one without RDMA. (10 sec v.s. 3.27 sec for iteration).

FYI, here are the detailed cmds:
TCP:
[code]
roce v1:
[code]
And the following is the information when I compile openmpi:
[code]

[2019-07-02 04:06] alsrgv commented on #1171
@wangshuaizs, the slowdown could be caused by MPI or NCCL.  Can you keep MPI RoCE-less, i.e. add `-mca btl ^openib` and perhaps even recompile MPI w/o UCX/etc support to see if it's caused by one or another?

[2019-07-02 05:04] wangshuaizs commented on #1171
@alsrgv , sorry for the wrong compile information. Actually, UCX isn't supported by the openmpi which I used before. And the correct information is as follows:
[code]
I configured it with cmd ```./configure --prefix=/home/$UserName/openmpi/ --enable-mca-no-build=btl-uct```. I disabled UCX because I encountered the error if I compile with ```./configure --prefix=/home/$UserName/openmpi/```. The err

[2019-07-02 06:06] ImranRolo commented on #1166
Hi @alsrgv. How do I make each worker work on a different dataset?

[2019-07-02 06:56] tingweiwu commented on #1185
@alsrgv   here is my gcc version.
[code]

[2019-07-02 07:07] alsrgv commented on #1185
@tingweiwu, unfortunately, Google builds TensorFlow with gcc 4.8.5.  Can you install gcc 4.8.5 or 4.9 [like so](https://github.com/horovod/horovod/blob/master/Dockerfile#L24) and pin it [like so](https://github.com/horovod/horovod/blob/master/Dockerfile#L75), and then reinstall Horovod with `--no-cache-dir` flag? That should help avoid the segfault.

[2019-07-02 07:39] alsrgv commented on #1171
`-mca btl ^openib` does not affect NCCL usage of RoCE.

You seem to have three RoCE interfaces, mlx5_0:1, mlx4_0:1, mlx4_0:2.  Any particular reason you're using mlx4_0:2?  Is it the fastest interface available?

[2019-07-02 07:41] alsrgv commented on #1166
@ImranRolo, you can use `hvd.rank()` to detect [process rank](https://github.com/horovod/horovod/blob/master/docs/concepts.rst) and then write code to load the part of dataset that corresponds to that rank.

[2019-07-02 07:49] xieydd commented on #1171
@alsrgv Why i see `libnccl-net.so` in log,?When i run with `horovodrun`, it is a error?

[2019-07-02 07:50] alsrgv commented on #1171
@xieydd, that message can be ignored.  It's an INFO level message.

[2019-07-02 08:17] wangshuaizs commented on #1171
@alsrgv , no, it is not the fastest interface. Actually, only mlx4_0:2 is configured with PFC, so I used this interface to run RoCE.

[2019-07-02 13:02] nvcastet commented on #1165
@alsrgv This is caused by the hwloc* symbols exported by Tensorflow 1.14.
Thank you @alsrgv for fixing that with https://github.com/tensorflow/tensorflow/pull/29807. Issue is not seen with Spectrum MPI 10.2 and 10.3. In Spectrum MPI 10.3, hwloc* symbols used by MPI are prefixed by ompi_* to avoid conflicting with hwloc from user applications.
Last week, we provided to @denfromufa the workaround us

[2019-07-02 15:25] wangshuaizs commented on #1171
@alsrgv with `-mca btl ^openib` , only mpi cannot used RoCE, but NCCL can still use RoCE, right? I have a question: with my cmd `mpirun -np 2 -H 10.10.10.2:1,10.10.10.3:1 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x NCCL_SOCKET_IFNAME=eth3.10 -mca pml ob1 -mca btl ^openib -mca btl_tcp_if_include eth3.10 python ~/test/horovod/tensorflow_mnist.py`, which kind of messag

[2019-07-02 16:31] denfromufa commented on #1165
Great teamwork!

[2019-07-02 16:31] #1165 closed

[2019-07-02 17:42] alsrgv commented on #1171
@wangshuaizs, in the default configuration NCCL is used for all allreduce traffic, and MPI is used just for coordination traffic (low amount).  With the command line you provided, NCCL should be able to use RDMA and MPI should use TCP.  If you have multiple IB interfaces, you may want to select fast ones using `NCCL_IB_HCA`.

[2019-07-02 18:31] chandana1332 opened #1187 "Data distribution with MPI"
Environment:

Framework: MXNET
Framework version: 1.4.1
Horovod version:
MPI version: 3.1.0
CUDA version: 10.0
NCCL version:
Python version: 3.6
OS and version: "Amazon Linux AMI" "2018.03"
GCC version: gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-28)

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https

[2019-07-02 18:31] chandana1332 opened #1188 "Data distribution with MPI"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-07-02 18:34] alsrgv commented on #1187
@chandana1332, you can use HDFS, S3 or other file storage solutions.

[2019-07-02 18:34] alsrgv commented on #1188
Duplicate of #1187.

[2019-07-02 18:34] #1188 closed

[2019-07-02 22:16] bluesummers1129 commented on #1065
I will give this a try and report back, thanks!

[2019-07-03 01:22] Lyken17 opened #1189 "What role does the cache perform?"
During my training, the following messages displayed on the console
[code]

I am curious about the usage of the cache. In my understanding, the gradients are sent during each backward. Why is the usage of cache here?

[2019-07-03 01:30] alsrgv commented on #1189
It's used to improve coordination performance. Please see #902.

[2019-07-03 01:31] denfromufa commented on #1164
@alsrgv I read this document below and although smpi is based on openmpi and emulates the core APIs, still I think there are some differences in arguments used by Horovod. For example, the way openib & btl are specified.  Anyway I would probably be NOT the right person to support this. Maybe @nvcastet who merged the DDL support to Horovod :)

https://github.com/horovod/horovod/blob/master/docs/mpi

[2019-07-03 01:34] alsrgv commented on #1164
I think it’d be great to have Spectrum MPI support. @nvcastet are you up for adding support to horovodrun and horovod.spark.run (for completeness)?

[2019-07-03 01:39] Lyken17 commented on #1189
wo, such a quick rely. Thank you!

[2019-07-03 01:39] #1189 closed

[2019-07-03 03:46] 401qingkong commented on #531
@computingdolas @witeko Have you ever tried to run pytorch with horovod  on AMD GPUs?

[2019-07-03 04:39] minizon commented on #1077
Yes, I'd like to try it out.

[2019-07-03 05:31] alsrgv commented on #1077
@minizon, great! We should have something to try out in a couple of weeks.

[2019-07-03 07:03] pusabre commented on #155
@alsrgv thank you for your comment. I am out off the office for a week but I will give it a try for sure and let you know about the results.

[2019-07-03 10:52] xieydd opened #1191 "Benchmark distribution job hang in IB network"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Tensorflow
2. Framework version:
tf 1.14.0
3. Horovod version:
horovod/horovod:0.16.4-tf1.14.0-torch1.1.0-mxnet1.4.1-py3.6
4. MPI version:
4.0
5. CUDA version:
10.0
6. NCCL version:
2.4.7
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2.

[2019-07-03 13:00] nvcastet commented on #1164
@alsrgv @denfromufa Thank you for bring that up. I will talk with my team about it to see what we can do.

[2019-07-03 16:03] chandana1332 commented on #1187
@alsrgv Okay, are logs also accumulated in a similar way?

[2019-07-03 16:25] denfromufa commented on #1176
I like this approach, we were just thinking about this last week.

[2019-07-03 17:41] eric-haibin-lin commented on #1125
Unfortunately I'm currently busy with a few conference events and haven't had a chance to look into this yet. Could you give more pointers on which components in horovod are related to this?

[2019-07-03 20:25] tgaddair commented on #1177
Those numbers look a lot better, though still not great (but there's some significant performance penalties to eager execution in TensorFlow at present).  One thing we do in the synthetic benchmarks but not the MNIST example is device placement: `with tf.device(device):`.

Without device placement, allreduce happens on CPU, which can slow things down considerably.  Can you try adding `with tf.devi

[2019-07-03 20:29] alsrgv commented on #1187
@chandana1332, training results are equivalent on all workers, and so can be saved from the first worker to your storage system of choice.

[2019-07-03 20:53] tgaddair commented on #1157
Here are the docs covering our current process for adding custom compression / operations to Horovod (pre send, post receive, and communication strategy): https://github.com/horovod/horovod/blob/master/docs/contributors.rst

Hopefully we can build upon this to make the process even simpler for researchers.

[2019-07-04 01:14] xieydd commented on #1191
@alsrgv I see this [issue](https://github.com/Mellanox/k8s-rdma-sriov-dev-plugin/issues/11) and #893 , and i check my container:
[code]

and i already set :

[code]

[2019-07-04 01:59] wangshuaizs commented on #1171
@alsrgv , I have another question. I want to specify `service level` when I use RoCE v1. I found some solutions which is used based on `openib BTL`, but I am using `UCX`. So, in my case, how can I tell MPI which service level I want to use?

[2019-07-04 08:56] jiangzihanict opened #1194 "Why is the Faster-RCNN model scaling efficiency so low?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.12
3. Horovod version: 0.15.2
4. MPI version: 3.1.2
5. CUDA version: 9.0
6. NCCL version: 2.3.5
7. Python version: 3.5
8. OS and version: linux ubuntu 16.04
9. GCC version: 5.4

**Your question:**
We are scaling a FasterRCNN from 1 GPU to 32GPUs (4nodes, 8 GPUs per node). The performance numbers are as following:

1GPU: 5 images/s
8

[2019-07-04 13:24] ivankxt opened #1195 "tensorflow_mnist_estimator run false : ncclCommInitRank failed: ncclCommInitRank failed: unhandled system error"
We want to run the tensorflow_mnist_estimator.py  example in two machine, but we got error as:

UnknownError (see above for traceback): ncclCommInitRank failed: unhandled system error
        [[node DistributedMomentumOptimizer_Allreduce/HorovodAllreduce_gradients_dense_1_BiasAdd_grad_tuple_control_dep
endency_1_0 (defined at <string>:51)  = HorovodAllreduce[T=DT_DOUBLE, _device="/job:localhost/re

[2019-07-04 14:16] DEKHTIARJonathan commented on #1157
Thanks a lot @tgaddair. So I had some fun with your docs today. And the first feedback I can give you is the following:
- Very simple and easy to use/build.
- Does not support Compression to SparseTensor => Quite a problem IMHO
- Not that simple to give argument to the compressor. We should provide a "standard way" to give hyper parameters to Compressors.

I give you the most stupid and straightfo

[2019-07-04 15:34] wangshuaizs opened #1196 "How to differentiate NCCL-based communication with MPI-based communication"
Hi，

I installed horovod with Open MPI v4.0.0 and NCCL v2.4.7. I found that if installing horovod with `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod`, then horovod is based on NCCL to communication, and if installing horovod with `HOROVOD_GPU_ALLREDUCE=MPI pip install --no-cache-dir horovod`, then horovod is based on MPI communication.
But when running horovod based on NCCL(that i

[2019-07-04 17:52] tgaddair commented on #1196
Hey @wangshuaizs, yes, if you take a look at the Horovod [timeline](https://github.com/horovod/horovod/blob/master/docs/timeline.rst) you should see where Horovod is using `NCCL_ALLREDUCE` vs `MPI_ALLREDUCE`, which will tell you which one is being used.

[2019-07-04 18:06] tgaddair commented on #1195
Hey @ivankxt, can you try running with `-x NCCL_DEBUG=INFO` so we can see more details of the error?  Thanks.

[2019-07-04 18:19] DenisUllmann opened #1197 "Segmentation fault (11) Signal code: Adress not mapped (1)"
Environment:

Framework: TensorFlow
Framework version: 1.14.0
Horovod version: 0.16.4
MPI version: 4.0.1
CUDA version: 10.0
NCCL version: 2.4.2
Python version: 3.6.7
OS and version: Ubuntu 18.04.2 LTS (Bionic Beaver)
GCC version: 7.4.0

I just updated Tensorflow and Horovod with NCCL2 (tar installation) and whatever the Tensorflow+Horovod containing python file that I launch in this way:

`horovod

[2019-07-05 00:47] wangshuaizs commented on #1196
@tgaddair , sorry to bother, but I ran into some problems.
Without timeline, when I ran cmd `mpirun -np 2 -H 12.12.10.14:1,12.12.10.16:1 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x HOROVOD_MPI_THREADS_DISABLE=1 -x NCCL_SOCKET_IFNAME=eth2 -x NCCL_IB_DISABLE=1 -mca pml ob1 -mca btl ^openib -mca btl_tcp_if_include eth2 python scripts/tf_cnn_benchmarks/tf_cnn_benchmarks

[2019-07-05 01:12] xieydd commented on #1191
@tgaddair Can you help me?

[2019-07-05 01:38] WeichenXu123 commented on #1197
I also encounter this issue on my local machine. My environment is:

Environment:

Framework: TensorFlow
Framework version: 1.14.0
Horovod version: 0.16.4
MPI version: 3.0.0
CUDA version: None
NCCL version: None
Python version: 3.6.8
OS and version: Ubuntu 18.04.2 server
GCC version: 7.4.0

I think this should be a bug in horovod mpi wrapper.

[2019-07-05 02:24] ivankxt commented on #1195
Hello, I add -x NCCL_DEBUG=INFO to the script and run:

mpirun -x LD_LIBRARY_PATH -x NCCL_IB_GID_INDEX=5 -x NCCL_DEBUG=INFO -np 2 -H 1.0.135.222:1,1.0.202.241:1 python tensorflow_mnist_estimator.py

But, the error output is the same as above.

[2019-07-05 07:12] alsrgv commented on #1177
@aj-prime, we figured out why `tensorflow_mnist_eager.py` had a very bad performance.  We recompiled `tf.function()` that contains allreduce subgraph.  This is getting fixed in #1193

There is another issue in eager mode though.  In graph mode, TensorFlow can start reducing gradients for layers close to the loss while the rest of gradients are still getting computed.  This ensures proper ordering

[2019-07-05 07:26] xinqipony opened #1198 "multi gpu training is worse than single gpu"
**Environment:**
1. Framework: (PyTorch)
2. Framework version:
3. Horovod version: latest
4. MPI version:
5. CUDA version: 9
6. NCCL version:
7. Python version: 3
8. OS and version: linux
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/d

[2019-07-05 07:50] zqlai commented on #676
@mivenHan I commented two lines of code so that the error disappeared.
Firstly, as @XuesongYang mentioned, I commented this line in utils/flags/_base.py file to avoid using  tf.test.is_gpu_available()
`
105         #default=1 if tf.test.is_gpu_available() else 0,
`
Secondly, commented this in utils/logs/logger.py
`319   #_collect_gpu_info(run_info, session_config)`

I think the method of @yurijvol

[2019-07-05 10:37] DenisUllmann commented on #1197
I checked a bit and the Segmentation fault (11) comes from the definition of the MonitoredTrainingSession:

[code]

[2019-07-05 23:46] alwaysandeep commented on #94
@ssstuvz I am facing the same error :"tensorflow.python.framework.errors_impl.InvalidArgumentError: 'visible_device_list' listed an invalid GPU id '1' but visible device count is 1" right now when trying to run on multi-node cluster. Were you able to figure out the fix/cause?
P.S. I did not face any trouble running the same script on single machine.

[2019-07-07 14:07] sinllychen commented on #1173
@alsrgv I have a question about that when I use horovod to run script on two distributed GPU nodes, I need to copy script and its train dataset to two nodes  with the same directory, or it will prompt me the script and input dataset not found when I run the script in one node.  If I should segment the train dataset to two parts and distributed them to the GPU nodes before I run the distributed hor

[2019-07-08 01:36] xieydd commented on #1191
@alsrgv  Can you check the log, it still bothers me.

[2019-07-08 12:26] gshatz commented on #268
@xieydd can you share what you did exactly? I use Calico and still have this issue....

[2019-07-08 14:59] WeichenXu123 commented on #1197
Retest this on tensorflow 1.12 (other configure keep the same with above). It works fine.

[2019-07-08 21:57] alsrgv commented on #1197
@DenisUllmann, @WeichenXu123, it's a known issue with TensorFlow 1.14.0+.  The solution is to pin GCC 4.8.5 or 4.9, [like this](https://github.com/horovod/horovod/blob/master/Dockerfile.test.gpu#L96) and reinstall Horovod:
[code]

[2019-07-08 23:29] #1177 closed

[2019-07-08 23:30] alsrgv commented on #907
Sorry for the delay.  An initial TensorFlow 2.0 support has been landed, #1193.  Please feel free to take a look and try it out.

[2019-07-08 23:50] awan-10 commented on #907
@alsrgv - Thanks! I will try things soon.

[2019-07-09 09:29] alsrgv commented on #1000
@umangkeshri, we've discovered #1201 after an issue in our environment.  I believe once it lands, it will fix your issue.

[2019-07-09 09:29] alsrgv commented on #952
@dasight @Qiuzhuang, we've discovered #1201 after an issue in our environment.  I believe once it lands, it may fix your issue.

[2019-07-09 10:03] Oktai15 commented on #907
@alsrgv I run second code and I got following error:
`AttributeError: module 'tensorflow._api.v2.train' has no attribute 'SessionRunHook'`

[2019-07-09 10:06] alsrgv commented on #907
@Oktai15, did you reinstall Horovod from master?  `pip uninstall -y horovod`; `[flags] pip install git+https://github.com/horovod/horovod`

[2019-07-09 10:17] Oktai15 commented on #907
Yes, it helps for that error.

Can you check this code? Why did you set visible only one gpu?
![image](https://user-images.githubusercontent.com/17337773/60880174-c69dfb80-a24b-11e9-965e-afb69cb88418.png)

[2019-07-09 10:21] alsrgv commented on #907
@Oktai15, each Horovod process will use a single GPU. You should run your training via `horovodrun -np <# GPUs> python tensorflow2_synthetic_benchmark.py`.

[2019-07-09 10:47] Oktai15 commented on #907
@alsrgv yes, my wrong. Currently, I got the following error:

[code]
And also warning:

[code]

I use CUDA 10.0, nccl_2.4.7-1+cuda10.0_x86_64 and openmpi 4.0.1

I don't know if it is relevant for this issue. Otherwise, I can create new issue.

[2019-07-09 11:03] Oktai15 commented on #907
@alsrgv, I suppose my previous message is related to https://github.com/horovod/horovod/issues/1197

[2019-07-09 11:22] Oktai15 commented on #1197
@alsrgv I run it with GCC 4.8.5 and I got the following error:

[code]

I use CUDA 10.0, nccl_2.4.7-1+cuda10.0_x86_64 and openmpi 4.0.1

[2019-07-09 22:03] #1000 closed

[2019-07-09 22:03] #1131 closed

[2019-07-09 22:03] #1197 closed

[2019-07-09 22:09] alsrgv commented on #1197
@Oktai15, could you try to install again from the master with the latest g++ compiler auto-detector (#1199)?  Also, can you share the output of `conda list` and `env` inside the conda environment?

[2019-07-09 22:11] alsrgv commented on #907
@Oktai15, yeah - let's follow up in #1197 on this specific issue, it's unrelated to TensorFlow 2.0.

[2019-07-10 04:39] alsrgv commented on #94
@alwaysandeep, what's the content of the `hosts` file?  This error means that MPI is trying to launch two processes on a single node.  This may be caused by a malformed hosts file.

[2019-07-10 04:41] alsrgv commented on #1173
@sinllychen, all nodes should have the training code in the same directory.  Duplicating dataset vs partitioning it across workers is up to you, either way should work fine, as long as workers read data randomly.

[2019-07-10 04:44] alsrgv commented on #1198
@xinqipony, this problem is hard to diagnose without knowing the model better. Do you see loss blowing up right from the beginning (first few iterations), or somewhere during the training? Did you try decreasing LR until loss does not explode?

[2019-07-10 04:47] alsrgv commented on #1191
@xieydd, what OFED/MOFED version do you use on the host?

[2019-07-10 04:49] alsrgv commented on #1195
@ivankxt, could you try the same with our latest docker image (`horovod/horovod:0.16.4-tf1.14.0-torch1.1.0-mxnet1.4.1-py3.6 `) and following [these instructions](https://github.com/horovod/horovod/blob/master/docs/docker.rst#adding-mellanox-rdma-support)?  What's your OFED/MOFED version on the host?

[2019-07-10 04:52] alsrgv commented on #1196
@wangshuaizs, can you try using `-x HOROVOD_TIMELINE=NCCL.json`?  If only one rank knows about the timeline, there could be misalignment.

[2019-07-10 04:55] alsrgv commented on #1194
@jiangzihanict, can you share the command you're running to start the training, as well as NCCL output (with `-x NCCL_DEBUG=INFO`)?

[2019-07-10 04:57] alsrgv commented on #1171
@bureddy, do you happen to know an answer to that question?

[2019-07-10 05:00] alsrgv commented on #1125
@eric-haibin-lin, you need to study up coordinator ([operations.cc](https://github.com/horovod/horovod/blob/master/horovod/common/operations.cc)) and [operation implementations](https://github.com/horovod/horovod/tree/master/horovod/common/ops).

@tgaddair recently published [Contributor Guide](https://horovod.readthedocs.io/en/latest/contributors_include.html) that should help to get started.

[2019-07-10 05:00] ldd91 commented on #1191
Hi @alsrgv  we use MLNX_OFED_LINUX-4.6-1.0.1.1-rhel7.6-x86_64

[2019-07-10 05:10] xinqipony commented on #1198
thank you!

the model is just a seq2seq model with attention, problem is machine translation;

loss blows up after just 20 or 30 steps;

after decreasing lr, loss does not explode, but the loss decreases  too slow and can't convergence like one card

[2019-07-10 05:14] alsrgv commented on #1191
@xieydd, that's similar to the version I was running with.  Can you try running the container in privileged mode?

[2019-07-10 05:28] alsrgv commented on #1198
@xinqipony, could you collect [Horovod Timeline](https://horovod.readthedocs.io/en/latest/timeline.html)? It may help diagnose the problem futher.

[2019-07-10 05:31] xieydd commented on #1191
@alsrgv Yep, @ldd91 is our team member.

[2019-07-10 06:29] bureddy commented on #1171
for ucx :  `UCX_IB_SL=<level>`
for NCCL:  `NCCL_IB_SL=<level>`

[2019-07-10 06:43] xieydd commented on #1191
@alsrgv I try privileged, but still hang in same place.

[2019-07-10 07:08] jiangzihanict commented on #1194
@alsrgv Thanks for your reply. This question has been solved. Because in RCNN, each image has a different number and size of objects, which leads to heterogeneous workloads. So, Its poor scalability is caused by the model. I'll close this issue.

[2019-07-10 07:08] #1194 closed

[2019-07-10 07:23] pyotr777 opened #1204 "MPI_ERR_OTHER: known error not in list"
**Environment:**
1. Framework: TensorFlow 1.12.0, Keras 2.2.4
2. Framework version: TensorFlow 1.12.0, Keras 2.2.4
3. Horovod version: 0.16.4
4. MPI version: Open MPI 2.1.1
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 2.7.15
8. OS and version: Ubuntu 18.04.1 LTS
9. GCC version: 7.4.0
10. Hardware: Two NVIDIA Xaviers connected over Ethernet

**Checklist:**
1. [x] Did you search i

[2019-07-10 08:11] Oktai15 commented on #1197
@alsrgv I got the same problem.

I do the following command:
[code]

Also, I installed gcc 4.8.5 via [this](https://anaconda.org/anaconda/gcc), openmpi via [this](https://anaconda.org/conda-forge/openmpi) and nccl 2 via tar from nvidia site.

Conda list (I grep only tf, cuda, openmpi, gcc and python):

[code]

[2019-07-10 08:24] Oktai15 commented on #1197
@alsrgv I fixed it using gcc 4.9 under conda via [this](https://anaconda.org/serge-sans-paille/gcc_49)

[2019-07-10 08:34] Oktai15 commented on #907
I fixed problem in #1197 and I have problem now with your `tensorflow2_synthetic_benchmark.py`.

The following log I have:

[code]

[2019-07-10 08:38] Oktai15 commented on #907
Also, everything is okay if I use only 1 GPU, i.e `horovodrun -np 1 python test_horovod.py`, but problem with 4 GPU's.

[2019-07-10 09:44] chenhesen commented on #1174
Hi, I have encountered the same problem. Did you solve it？

[2019-07-10 09:44] Oktai15 commented on #907
I resolved this problem when I remove `nccl` and `nccl2` in conda and directly remove nccl 1 from my

Currently, I got the following log and I have some `Failed to open`. @alsrgv, can you clarify that everything is okay or I need to do something?

[code]

[2019-07-10 09:44] chenhesen commented on #1174
@sinllychen  Hi, I have encountered the same problem. Did you solve it？

[2019-07-10 09:58] adriancaruana commented on #1198
I am also seeing a similar problem. Whilst the loss isn't blowing up, the loss never achieves the same performance as single-gpu non-horovod experiments. I have tried experimenting with decreasing learning rate, but I see almost identical results regardless of LR (with ADAM). I'm using keras.

This experiment shows the binary-loss when training with 4x GPUs (Blue), 2x GPUs(Brown), and single-gpu (

[2019-07-10 10:06] xinqipony commented on #1198
another thing is that for one gpu training and multi gpu training I used horovod both, the only difference is the gpu number;

I tried another distributed training using pytorch chainer, the issue seems gone;

so I'm wondering if I misuses horovod for multi gpu;

[2019-07-10 10:41] Chertoganov opened #1205 "how to run on multi node multi gpu ??"
time mpirun -np 4 -H f1: 2, f2: 2 -x LD_LIBRARY_PATH -x PATH -x HOROVOD_MPI_THREADS_DISABLE = 1 -x NCCL_SOCKET_IFNAME = ^ virbr0, lo -mca btl openib, self-mca pml ob1 singularity of liberationbendityberentbenthenentitybeatityberentbenthenentityberentbendybeentrybeentrybeentryEnthimberedyentheatersbeatherentbendableEntherentberentEnewsheatherentbecthypethypethyntypErntyrg python /examples/keras_mni

[2019-07-10 10:45] sinllychen commented on #1173
@alsrgv Thank you for your detail answer. As you say, we use horovod distribute mode to run the script , we need to duplicate the dataset or partition it to all workers at first. If the dataset is very large such 100g, we will waste a lot of time to duplicate or partition the data ,  in this way, wheather we run the script by one node  be faster than two nodes or more or not use horovod framework?

[2019-07-10 10:48] ktokolwiek opened #1206 "Horovod + keras hangs mid-epoch"
**Environment:**
1. Framework: Keras
2. Framework version: 2.2.4
3. Horovod version: 0.16.4
4. MPI version: mpirun (Open MPI) 3.1.0
5. CUDA version: 9.0.176
6. NCCL version: 2.3.5
7. Python version: Python 3.6.5 |Anaconda custom (64-bit)
8. OS and version: Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-1087-aws x86_64v)
9. GCC version: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
(As part of AWS Deep

[2019-07-10 10:48] sinllychen commented on #1174
@chenhesen Hi, I finally use the gcc 5.3.1 to compile the horovod and pytorch source code from github and solve the problem. The horovod version is v0.16.4 and pytorch version is 1.0.1.

[2019-07-10 10:50] gatagat opened #1207 "Segmentation fault with tensorflow 1.14 and CUDA 10"
**Environment:**

TensorFlow 1.14.0
Keras 2.2.4
Horovod 0.16.4
OpenMPI 2.1.1
CUDA 10.0
NCCL 2.4.7
Python 3.6.8
Ubuntu 18.04.2 LTS
GCC 4.8.5 & 7.4.0

**Bug report:**

When I launch horovod keras_mnist example, I get a segmentation fault as below.

I get the error with both:
[code]
or
[code]

There is a very similar if not the same issue #1197 which was supposedly resolved by PR #1203. However, I se

[2019-07-10 14:14] francois-wellenreiter commented on #1207
I have the same issue with python3.6

[2019-07-10 17:18] alwaysandeep commented on #94
@alsrgv  hosts file had the below data(both ips can ssh each other)
X.X.X.X. slots=8
localhost slots=8
I was able to later successfully do the training in the cluster after adding the below 2 arguments in the openmpi command. I am yet to completely understand under-the-hood working of this, what do you think happened?
-x NCCL_SOCKET_IFNAME=ens3 -mca btl_tcp_if_exclude lo,docker0

[2019-07-10 17:46] bluesummers1129 opened #1208 "broadcasting during evaluation?"
This might be a dumb question, but I'm a little confused about broadcasting. I see in the tensorflow_mnist_estimator example that as part of training we first broadcast the variables via the BroadcastGlobalVariables hook, but do not do this before evaluation:

[code]
Why don't we have to send a broadcast hook during evaluation as well? I notice that when running the evaluate in a multi-worker sett

[2019-07-11 00:23] adriancaruana commented on #1198
Update: I've tried training with single-gpu but with 1/4 of my train-set (akin to what a single GPU would see when training 4x multi-gpu with sharding). Note I've seen this issue using CUDA9 and 10, and TF 1.12 and 1.14.

The new blue line (the longest one) is the single-gpu with 1/4 of train-set:

![Screen Shot 2019-07-11 at 10 08 29 am](https://user-images.githubusercontent.com/38579731/61012983

[2019-07-11 01:23] alsrgv commented on #1191
@xieydd, got it. To debug further, can you install MOFED in the container itself, e.g. like this:
[code]
?

This way we can distinguish whether this is an issue with Linux native RDMA drivers vs some of IB/RoCE settings.

[2019-07-11 01:25] alsrgv commented on #1197
@Oktai15, I see. Actually, in Conda we recommend GCC-5, which you can get via `conda install gxx_linux-64`. I've updated [our docs](https://github.com/horovod/horovod#install) to point that out.

[2019-07-11 01:27] alsrgv commented on #1207
@francois-wellenreiter, it looks like you're hitting #1123 due to an older version of Open MPI. The fix is already is TensorFlow nightly, but you can work around via `LD_PRELOAD=/path/to/system/libhwloc`.

[2019-07-11 01:31] alsrgv commented on #907
@Oktai15, congratulations, it's working!  You can ignore "failed to open libibverbs.so" since you're not doing any cross-host training over InfiniBand or RoCE (and thus don't have drivers on your system).

[2019-07-11 01:34] alsrgv commented on #94
@alwaysandeep, you should make `slots=1`, which would restrict MPI to a single process per node, equivalent to your number of GPUs.

[2019-07-11 01:40] alsrgv commented on #1204
@pyotr777, could you try this with Open MPI 4.0.1, just to make sure we're not running into some old MPI issue?

[2019-07-11 02:04] alsrgv commented on #1206
@ktokolwiek, thanks for the detailed issue description!  In the Horovod Timeline, I can see that only two layers are being trained, is it due to the `model_layer=None` setting?

![image](https://user-images.githubusercontent.com/16640218/61016431-75256780-a344-11e9-9a76-d6a8efb617c1.png)

I also noticed that negotiation takes longer and longer, and at some point gets stuck forever.  Could you re-r

[2019-07-11 02:08] alwaysandeep commented on #94
@alsrgv  I am sorry, it was typo earlier, I entered slots=1 itself and got the error. Editing the above comment. Sorry for the confusion. Any idea why its happening?

[2019-07-11 05:11] OSEN5 opened #1210 "how to distribute training data to worker nodes?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-07-11 06:11] KimMeen commented on #1206
I met the same problem before and could you provide your Keras callbacks? If you use the `hvd.callbacks.MetricAverageCallback()`, please make sure your callbacks look like this:
[code]

If I create the callbacks in this way:
[code]
Then I will meet the same issue like you.

[2019-07-11 06:28] Oktai15 commented on #1198
@alsrgv, I have the same problem with TF 2.0 -- loss is becoming super large when I use multi-gpu.

[2019-07-11 06:32] xinqipony commented on #1198
I am too confused, as my understanding, multi gpu training should be faster and more stable when using horovod;

I am testing another framework called chainer in pytorch for multi gpu training, it seems chainer doesn't have this issue;

[2019-07-11 06:51] Oktai15 commented on #1198
My tracing looks like that (I can't understand how to zoom it with labels of bars)

![image](https://user-images.githubusercontent.com/17337773/61028448-6204ad00-a3c1-11e9-9f22-23ab2c7206cb.png)

[2019-07-11 07:16] xieydd commented on #1191
When i build image with your advice, i failed (and i can`t find the answer in google) : (
Dockerfile:

[code]

error log:
[code]

[2019-07-11 07:53] Oktai15 commented on #1198
I fixed my large loss in multi-gpu mode. I left the same learning rate that I have in one gpu mode (it means that I didn't scale lr via `hvd.size()`). I don't know why but it returns me to the same loss values.

Maybe it is problem with new approach to use horovod in TF 2.0 when we use `tf.keras.optimizers.Adam`, i.e no wrapper for optimizer as earlier, and wrapper for gradient tape, i.e `hvd.Dist

[2019-07-11 10:04] xinqipony commented on #1198
though lower lr makes the loss value seems the same, but in my experience, the model accuracy can't be comparable to one card training model

[2019-07-11 10:06] xieydd commented on #1191
@alsrgv i set option `--force --without-mlnx-ofed-kernel-utils --without-fw-update --without-dkms --add-kernel-support` to solve above problem.

[code]
I think this because of my mac machine, how about you build a image with this Dockerfile(I don`t have a ubuntu 18.04 machine):
[code]

[2019-07-11 10:28] gatagat commented on #1207
I get the segfault also with the command below.

[code]
 Is this the correct way to specify LD_PRELOAD?

[2019-07-11 10:49] xieydd commented on #1191
@alsrgv I have a situation forget to tell you, i tested the all_reduce_benchmark in two machine use IB, it is success. this is my log:
[code]

[2019-07-11 17:11] ktokolwiek commented on #1206
Hey @KimMeen, the code (including callbacks) should be in the gist (you have to unfortunately scroll through all the logs, sorry!). The callbacks are as you say they should be:

[code]

@alsrgv - See here: https://gist.github.com/ktokolwiek/1e4d6df637a1b6c9434066b50e3c9909

BTW I will be unavailable until Tuesday, so no real rush, but I'd really like to get this sorted!

[2019-07-11 18:59] ramyarajasekaran commented on #833
From what I understand, the official Dockerfile builds an image containing TF, PyTorch, MXNet, OpenMPI, Horovod, and a bunch of GPU stuff like CUDA.  I would like to run the MNIST example inside Minikube without any GPUs. I removed all the CUDA stuff from the dockerfile but the first line is `FROM nvidia/cuda:10.0-devel-ubuntu18.04`. Would I replace this with a different image such as `uber/horovo

[2019-07-11 20:36] raj-brown opened #1211 "Horovod does not give the correct result while using it on more number of GPUs"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-07-12 02:42] tgaddair commented on #833
Hey @ramyarajasekaran, it should be fine to just build an image directly from Ubuntu: `FROM ubuntu:18.04`.

[2019-07-12 02:47] tgaddair commented on #1211
Hey @raj-brown, I notice that you're averaging your loss values together across workers by hand:

[code]

Any particular reason?  Have you tried running without these steps?

[2019-07-12 02:54] tgaddair commented on #1208
Hey @bluesummers1129, the purpose of broadcasting is to ensure that all workers start from the same set of parameter values.  After we broadcast the initial parameters from rank 0 to the other workers, all workers should have the same set of parameters after training. That's because after we allreduce the gradients, all updates to model parameters should be the same.  In practice there is some num

[2019-07-12 03:01] raj-brown commented on #1211
Hey @tgaddair No actually I was printing out the loss value for debugging purposes. I ran with out those steps also. It runs ok for 2 and 3 GPUs and when I run it with 4 GPUs it just gives NaN loss value.I  will appreciate for your help and suggestions.

[2019-07-12 03:01] tgaddair commented on #1205
Hey @Chertoganov, you would typically provide the hostname / IP address without the port.  MPI uses SSH, which assumes port 22 (but you can configure SSH to use a different port, if that's how your cluster is configured).

Instead of using IP addresses, it's typically more manageable to use a hosts file.  See [this](https://mpitutorial.com/tutorials/running-an-mpi-cluster-within-a-lan/) MPI tutori

[2019-07-12 03:11] tgaddair commented on #1210
Hey @OSEN5, Horovod doesn't prescribe any one way of handling data distribution.  If you look at the examples, we show a couple of different approaches.

In [keras_imagenet_resnet50.py](https://github.com/horovod/horovod/blob/master/examples/keras_imagenet_resnet50.py#L79) we use a random sampling approach.  The [ImageDataGenerator](https://keras.io/preprocessing/image/) provides a random batch at

[2019-07-12 14:05] rayburgemeestre opened #1212 "Allow task addresses to be different from source address in some cases"
**Is your feature request related to a problem? Please describe.**

When using Spark to run on multiple nodes + GPU's, and deploying Spark on Kubernetes. The Spark executors (workers) are spawned on demand within Kubernetes and will have different IP addresses.

For example, let's say I have these two nodes:

[code]

And I launch three Spark executors:

[code]

Then when I `horovod.spark.run(horov

[2019-07-12 14:28] dongphuong2410 opened #1213 "Cannot run Horovod . Error mpi_lib.so: undefined symbol: cudaLaunchCooperativeKernelMultiDevice"
**Environment:**
1. Framework: TensorFlow
2. Framework version:1.14.0
3. Horovod version:0.16.4
4. MPI version:4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.4.7-1
7. Python version: 2.7
8. OS and version: Ubuntu 16.04
9. GCC version: 4.85

**Your question:**
I built Horovod from source and installed it into a clean Ubuntu 16.04 environment.
How ever when I tried to run with an example, it generate

[2019-07-12 16:28] bluesummers1129 commented on #1208
That makes sense, thanks!

[2019-07-12 16:28] #1208 closed

[2019-07-12 21:26] ramyarajasekaran opened #1214 "How to integrate Tensorflow with Spark to run on Kubernetes"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version: 0.16.4
4. MPI version: 4.0.0
5. CUDA version:
6. NCCL version:
7. Python version: 3.6
8. OS and version: Ubuntu 18.04
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](htt

[2019-07-12 21:48] weixiong-ur opened #1215 "segmentation fault when using pytorch 1.1.0 num_workers>0"
**Environment:**
1. Framework: Pytorch
2. Framework version: 1.1.0
3. Horovod version: 0.16.4
4. MPI version:
5. CUDA version: 10.0
6. NCCL version:
7. Python version: 3.6
8. OS and version: ubuntu
9. GCC version: 4.9.2

I run my pytorch code with horovod. If I run  code with num_workers=0, then everything is fine. However, if I run the same code with num_workers > 0, I will get a segmentation fau

[2019-07-12 21:55] weixiong-ur commented on #1215
I run my code on 1 node with 8 tesla V100  gpus. I already installed horovod with pip3 install --no-cache-dir horovod. open mpi version is 4.0.0, nccl version is 2.3.7

[2019-07-12 21:58] raj-brown commented on #1211
I also get the following error " MPI has already been initialized without multi-threading support (MPI_THREAD_MULTIPLE). This will likely cause a segmentation fault."
Your help will be greatly appreciated.

[2019-07-13 01:32] alsrgv opened #1217 "MXNet cu100-pre broke docker build on CPU machine"
**Environment:**
1. Framework: MXNet
2. Framework version: mxnet-cu100 --pre
3. Horovod version: master
4. MPI version: 3.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 2.7
8. OS and version: Ubuntu 16.04
9. GCC version: 5.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](http

[2019-07-13 01:34] alsrgv commented on #1217
cc @karakusc

[2019-07-13 02:57] KushalDave opened #1218 "Using TFOptimizer thorws error"
Hi,

I am trying to use the TF optimizers instead of the keras due to the Dense conversion in Keras optimizers. Here is the solution that I am following: https://github.com/keras-team/keras/issues/4365

But when I do this with Horovod (code taken from here https://github.com/horovod/horovod/issues/42 )-
learning_rate = K.variable(1.0 * hvd.size())
print('\n\n learning_rate: ', learning_rate)
tf_op

[2019-07-13 09:06] shellhue opened #1219 "Segmentation fault: address not mapped to object at address 0x88 when run horovod examples for tf1.14"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14
3. Horovod version: 0.16.4
4. MPI version: openmpi-4.0.1
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 3.6.8
8. OS and version: ubuntu 16.04
9. GCC version: 5.4.0

When i run the tensorflow minist example with the cmd below:
[code]
The logging info is:
[code]

The key error is:
[code]

I search on google, no luc

[2019-07-13 13:58] yangwenhuan opened #1220 "Does horovod support cuda8.0? If support, could you provide a docker image with cuda8.0?"

[2019-07-13 14:07] pyotr777 commented on #1204
Don't know what it was, but it works again now both ways: from xavier and xavier2.
Sorry. Cloing this issue.

[2019-07-13 14:07] #1204 closed

[2019-07-13 16:43] CDCrystal opened #1221 "horovod hang with NCCL when ran mnist_advanced example"
**Environment:**（the example/keras_mnist_advanced.py）
1. Framework: Keras
3. Horovod version:0.16.4
4. MPI version:OpenMPI 4.0.0
5. CUDA version:cuda10.0
6. NCCL version:2.4.7-1+cuda10.0
7. Python version:2.7
8. OS and version:Ubuntu 18.04+CentOS7 (both in Docker)
9. GCC version:4.8

I got the NCCL INFO NET/Plugin : No plugin found (libnccl-net.so). ERROR and freezed in Epoch 1/24. I‘ve checked th

[2019-07-14 16:26] hero78119 opened #1222 "horovod spark toy example got hang on CDH 5.14.0 cluster"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): Tensorflow
2. Framework version:1.13.1
3. Horovod version: 0.16.4
4. MPI version: 4.0.1
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 2.7.12
8. OS and version: ubuntu 16.04
9. GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0

Hi,

I try to run horovod spark toy example (follow https://github.com/horovod/horovod/b

[2019-07-14 23:24] ultrons commented on #1219
+1

[2019-07-15 00:35] KimMeen commented on #1206
@ktokolwiek Your callback seems no problem and I noticed that your error message was different from mine:
[code]
So I think the modification of callback may not be able to solve your problem but @alsrgv should be able to help you to sort it out!

[2019-07-15 12:14] lucky-suman commented on #511
If you are using tensorflow=1.10 then you can try with tensorflow.python.keras as well. It worked fine for me!

[2019-07-15 13:38] raj-brown commented on #1211
Hello all I will appreciate if I can get any help on this.. Thank you and much appreciated..

[2019-07-15 15:39] tgaddair commented on #1211
Hey @raj-brown, I noticed that you're scaling your local batch size by the number of workers but keeping a fixed learning rate:

[code]

Typically we keep the local batch size constant but scale the learning rate:

[code]

I would start with that modification, and if you still see NaNs, then try reducing the base learning rate or batch size.

[2019-07-15 15:46] tgaddair commented on #1214
Hey @ramyarajasekaran, sounds like your problem is likely with the Docker image.  Can you share the image build file and/or the error message?

[2019-07-15 15:51] tgaddair commented on #1220
Hey @yangwenhuan, yes, Horovod should still support CUDA 8.0.  If you look back at older versions of our example Dockerfile, you'll find a version that was built with CUDA 8.0 [here](https://github.com/horovod/horovod/commit/60d778249f13c39a021e5893b00c59aa99be032c#diff-3254677a7917c6c01f55212f86c57fbf).  I would suggest modifying that with some more recent packages and see if that works.

[2019-07-15 15:57] tgaddair commented on #1221
Hey @CDCrystal, the NCCL message you're seeing can be safely ignored.  I suspect the issue has something to do with the MPI configuration.  You mentioned you're using both Ubuntu and CentOS.  Can you explain a bit more about your setup?  How many instances are you using, how many GPUs per instance?  What does your horovodrun/mpirun command look like?

[2019-07-15 16:39] raj-brown commented on #1211
Hey @tgaddair thanks a lot for your response.  I will try with these modification but even with out starting the training the Weight  and bias values are Nan while initializing the model  in the line
model = deep_NS(layers_uv, x_local, y_local, u_local, v_local, p_local, Re, Ne // hvd.size())
do/will appreciate for your suggestion and help.

[2019-07-15 17:05] Annusha commented on #1215
I have the same issue. With num_wrokers=0 everything is fine.
In my case I have it only during feature extraction, so I just rerun process as soon as it fails, but anyway super annoying and could happen during training.
pytorch 1.1.0 as well

[2019-07-15 19:57] KushalDave commented on #42
I am trying to use the TF optimizers instead of the keras due to the Dense conversion in Keras optimizers. Here is the solution that I am following: keras-team/keras#4365

But when I do this with Horovod (code taken from here #42 )-
learning_rate = K.variable(1.0 * hvd.size())
print('\n\n learning_rate: ', learning_rate)
tf_opt = tf.train.AdadeltaOptimizer(learning_rate)

#Add Horovod Distributed

[2019-07-15 20:07] tgaddair commented on #1211
Hey @raj-brown, I would also suggest not scaling `Ne` by `hvd.size()` during initialization.  If the weights are NaN after init, then the issue is likely outside of Horovod.  Are the weights correct when running with only one process?

[2019-07-15 20:26] raj-brown commented on #1211
Hey @tgaddair Thanks for your response. yes I am getting correct weights and biases for np=1,2 and 3. I also checked with small learning rate small batch size but problem still exists.I also took off all the mpi calls and distributed the data using hvd.rank(). I am getting the correct weight and biases for np=4 but while training the loss value is still nan. I will appreciate for your help and sug

[2019-07-15 22:07] ramyarajasekaran commented on #1214
[code]

I removed all the CUDA stuff from the dockerfile.
![Screenshot from 2019-07-15 15-06-07](https://user-images.githubusercontent.com/22007199/61252376-2d228e00-a712-11e9-86ce-0a4a52fc2031.png)
 I'm getting the following error and I don't know how to fix it.

[2019-07-16 01:45] Lyken17 opened #1224 "Is there any peer to peer communication API?"
Most currently communication APIs are global operations, like allreduce / allgather. I wonder is there any peer to peer APIs, for example

[code]

[2019-07-16 03:26] yangwenhuan commented on #1220
@tgaddair , I have built image with cuda8.0 and openmpi3.0.0, but openmpi 3.0.0 didn't work with multi
 machines in my cluster.

[2019-07-16 11:04] byronyi opened #1225 "Horovod 0.16.4 fails to build with tf-nightly==1.15.0.dev20190716"
[code]

[2019-07-16 11:29] byronyi commented on #1225
Same error does not occur with `tf-nightly==1.15.0.dev20190715`.

[2019-07-16 11:31] byronyi commented on #1225
Turns out that `tf-nightly==1.15.0.dev20190716` does not have `tf.__version__` attribute anymore.

Ping @gunan to confirm that this is intended.

[2019-07-16 11:44] byronyi commented on #1225
@alsrgv would it make more sense to use `tf.version.VERSION` now?

TF 1.1.0 is a REALLY long time ago...

[2019-07-16 14:10] ktokolwiek commented on #1206
Hey @alsrgv, sorry, I forgot to reply to one of your questions!

This is a part of my transfer learning setup - it means that the model layers are frozen up until the top output layers (by setting layer.trainable = False in Keras). Would that affect horovod?

[2019-07-16 14:15] CDCrystal commented on #913
Same issue.
[1,0]<stderr>:name: Tesla P100-PCIE-12GB major: 6 minor: 0 memoryClockRate(GHz): 1.3285
[1,0]<stderr>:pciBusID: 0000:04:00.0
[1,0]<stderr>:2019-07-16 13:47:09.351137: I tensorflow/stream_executor/platform/default/dso_loader.cc:42] Successfully opened dynamic library libcudart.so.10.0
[1,0]<stderr>:2019-07-16 13:47:09.353657: I tensorflow/stream_executor/platform/default/dso_loader.cc:4

[2019-07-16 16:34] abditag2 commented on #1224
Horovod currently does not have any API for peer to peer communication.

On Mon, Jul 15, 2019 at 6:45 PM Ligeng Zhu <notifications@github.com> wrote:

[2019-07-16 16:37] abditag2 commented on #1220
@yangwenhuan what is the error message? Did you use the exact docker file?
Also, make sure to check out the same version of Horovod code from the repository.

[2019-07-17 02:47] yangwenhuan commented on #1220
@abditag2 , where is the exact docker file for cuda8.0? docker file above provided by @tgaddair is incomplete. I have tried many ways. is there something wrong with openmpi 3.0.0?

1. docker image: denisovlev/horovod:latest.       didn't work.

2. check openmpi 3.0.0 alone in my cluster.      didn't work.

3. check openmpi 4.0.0 alone in my cluster.      work.

error message is as follow:

ORTE wa

[2019-07-17 10:37] byronyi commented on #1225
Should be fixed by https://github.com/tensorflow/tensorflow/commit/584a64fa377d3070a05753344a410a5c96685ffd.

Thanks to @yifeif!

[2019-07-17 11:17] #1225 closed

[2019-07-17 12:32] gatagat commented on #1207
Since an upgrade to OpenMPI 4.0.1, I have not seen the error any more.

[2019-07-17 12:32] #1207 closed

[2019-07-17 12:40] gatagat commented on #1219
It works for me fine with:

TensorFlow 1.14.0
Keras 2.2.4
Horovod 0.16.4
OpenMPI 2.1.1
CUDA 10.0
NCCL 2.4.7
Python 3.6.8
Ubuntu 18.04.2 LTS
GCC 4.8.5 & 7.4.0
horovod 35b55c5

[2019-07-17 12:50] shellhue commented on #1219
@ultrons it works with tf1.13.1

[2019-07-17 12:52] shellhue commented on #1219
Your system is a little different from mine. I downgrade tensorflow to tf1.13.1, and it works now.

[2019-07-17 12:52] #1219 closed

[2019-07-17 14:36] Oktai15 commented on #318
@ppwwyyxx can I use your batchnorm without tensorpack trainer and tensorpack at all?

[2019-07-17 15:48] ppwwyyxx commented on #318
https://tensorpack.readthedocs.io/modules/models.html#tensorpack.models.BatchNorm
The docs say you cannot.

[2019-07-17 15:51] raj-brown commented on #1211
Hey @tgaddair I think of issue in data distribution. will appreciate if you have some suggestions on this.
Thanks

[2019-07-17 17:04] bleirdalag opened #1226 "Horovodrun fails twice (connection refused, ORTE error), then works"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14.0
3. Horovod version: 0.16.4
4. MPI version: 4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 3.6
8. OS and version: Ubuntu 18.04
9. GCC version: 4.9 (using the Dockerfile that pinned this version)

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is

[2019-07-17 17:09] abditag2 commented on #1226
Can you add —verbose to your command and post the command and the output here?

[2019-07-17 17:23] bleirdalag commented on #1226
Attempt 1:

[code]

Attempt 2:

[code]

Attempt 3:

[code]

(And from there training begins)

[2019-07-17 17:35] abditag2 commented on #1226
Interesting. what happens if you do not restart the SSH server on the secondary worker and just rerun the hovorodrun command? Do you get the same error again?

Can you try to run this command from the primary worker?

    mpirun --allow-run-as-root --tag-output -np 2 -H localhost:1,192.168.0.119:1 -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib -mca plm_rsh_args "-p 12345" -mca btl_tcp_if

[2019-07-17 17:51] bleirdalag commented on #1226
Ah sorry, saying I restart SSH is misleading. I don't restart the server, I just run /usr/sbin/sshd on the secondary worker again from within its container. I have to do this, because after the primary worker's attempts fail, the sshd process quits on the secondary worker.

Running that command worked on the first attempt.

[2019-07-17 18:13] abditag2 commented on #1226
Can you replace `localhost` in the horovodrun command with the IP of the localhost and try again?

[2019-07-17 19:34] Lyken17 commented on #1224
Is there any plan to add it? Since it is necessary to implement some algorithms, e.g, parameter-server.

[2019-07-17 19:43] tgaddair commented on #1224
Hey @Lyken17, do you have a use case in mind for this?  If we were to add a parameter server implementation of Horovod as an alternative to collective communication, it would be better to do that in the C++ layer rather than leave it to users to implement in the Python API.

[2019-07-17 20:01] Lyken17 commented on #1224
@tgaddair Yes, I do have such user cases during the research. I agree that C++ layer implementation leads to better efficiency but Python API layer is easier to operate and access. From a researcher respective, this is important especially when you want to quickly prototype and verify an idea.

For example, pytorch shows [how to implement your own ring-allreduce](https://pytorch.org/tutorials/inte

[2019-07-17 20:04] Lyken17 commented on #1224
I wonder the difficulty of adding the support of Recv/Send. In my understanding, these are quite common APIs in various distributed frameworks and should not affect other functions.

[2019-07-17 20:16] tgaddair commented on #1224
For the kind of experimentation you're suggesting, I would recommend using [mpi4py](https://mpi4py.readthedocs.io/en/stable/tutorial.html) (assuming you have multi-threaded MPI available to you).

The problem with doing this within Horovod is that not all frameworks support Recv/Send.  MPI does, but we are in the process of removing MPI as a strict requirement for Horovod.  Gloo, the other framewo

[2019-07-17 21:46] alsrgv commented on #1217
ping @apeforest @yuxihu

[2019-07-17 22:07] Lyken17 commented on #1224
I see. Thanks for your advice and I will have a look!

[2019-07-17 22:07] #1224 closed

[2019-07-17 22:29] yuxihu commented on #1217
I just created a p2.8xlarge instance (with Deep Learning AMI (Ubuntu) Version 23.1) and tried the following things. It worked for me. @alsrgv Anything I missed?

[code]

[code]

[code]

[code]

[2019-07-17 22:37] alsrgv commented on #1217
@yuxihu, we currently have `410.79` installed.  I'll try to upgrade to `418.40.04` and let you know.

[2019-07-18 01:16] alsrgv commented on #1217
Nevermind, it's happening on CPU docker build worker and apache/incubator-mxnet#15551 should fix it. Running a build to confirm.

[2019-07-18 06:15] alsrgv commented on #1217
@apeforest, @yuxihu, now I'm getting:
[code]

Any idea?  I checked and `libmxnet.so` really doesn't export any `CudaLibChecks()`.

[2019-07-18 09:38] bleirdalag commented on #1226
Replacing localhost with the IP address does not change the behavior (fails twice, then works)

[2019-07-18 09:52] qchenclaire commented on #1077
@hubutui how do you know apex actually works? apex.parallel.convert_syncbn_model will not cause error and the model is still trainable? But how do you know it's synchronized batch normalization instead of a collapsed form?

[2019-07-18 09:53] qchenclaire commented on #1077
@hubutui how do you know apex actually works? apex.parallel.convert_syncbn_model will not cause error and the model is still trainable. But how do you know it's synchronized batch normalization instead of a collapsed form?

[2019-07-18 10:04] qchenclaire commented on #1077
@hubutui how do you know apex actually works? apex.parallel.convert_syncbn_model will not cause error and the model is still trainable. But how do you know it's synchronized batch normalization instead of a collapsed form?
My concerns is apex sync bn only works with torch.nn.parallel.DistributedDataParallel or apex.parallel.DistributedDataParallel. When you do model=torch.nn.parallel.DistributedDa

[2019-07-18 14:40] tfriedel opened #1229 "TF 1.14 / keras & eager mode"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14.0-gpu
3. Horovod version: 0.16.4
4. MPI version: 4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.7-1+cuda10.0
7. Python version: 3.6
8. OS and version: Ubuntu 18.04 / Docker
9. GCC version: 4.9
I used the docker container horovod/horovod:0.16.4-tf1.14.0-torch1.1.0-mxnet1.4.1-py3.6

**Checklist:**
1. Did you search issues to find

[2019-07-18 16:34] bleirdalag commented on #340
Hi @msalvaris , I'm also trying to use Intel MPI instead of Open MPI. Did you run Horovod in Docker? If so, how did you specify the port number to mpirun to correctly SSH into the Docker container? Thanks for any help!

[2019-07-18 16:37] yuxihu commented on #1217
@alsrgv The function is added in the fixing PR. Let me verify.

[2019-07-18 16:38] yuxihu commented on #1217
Question: are we using mxnet-cu100 on CPU machine? Shall we just use mxnet --pre instead?

[2019-07-18 16:41] tgaddair commented on #1211
Hey @rahul003, the loss values are not synchronized by Horovod using the `DistributedOptimizer`, but rather the gradients.  You can see where this is done [here](https://github.com/horovod/horovod/blob/master/horovod/tensorflow/__init__.py#L221).  You might wish to try printing the gradient values before and after the allreduce here (simplest way would be to run in eager mode), to see what's going

[2019-07-18 16:47] yuxihu commented on #1217
I got the same error when running unit test on p2.8xlarge instance with the latest nightly build (mxnet_cu100-1.5.0b20190717). I will work on a PR to fix it.

[2019-07-18 16:48] alsrgv commented on #1217
@yuxihu, thanks! 👍

[2019-07-18 17:10] raj-brown commented on #1211
Thanks @tgaddair. Actually I was following word2vec example and trying to print out loss value to see how loss value converges. So as in my case print loss value from each rank give different value. Appreciate your help..

[2019-07-18 17:24] tgaddair commented on #1211
The loss value is expected to be different between workers, as each worker is processing a different set of data at each step.  If the models are being evaluated on the same data at the same time (meaning, identical batches at each step), then you would expect to get identical loss values.

If the models on different ranks are giving very different results, then it's possible that the model parame

[2019-07-18 18:16] raj-brown commented on #1211
Thank @tgaddair I will incorporate that. Also one more question after training the model then can I predict the solution from any worker as I assume that Weights and Biases on each worker will be same.?

Thanks alot

[2019-07-18 18:17] abditag2 commented on #1211
Yes, the trained model on all the workers must be identical.

[2019-07-18 18:51] raj-brown commented on #1211
Thank You @abditag2 and @tgaddair. I will try with these inputs and get back to you soon..

[2019-07-18 20:27] #1065 closed

[2019-07-19 02:08] compete369 commented on #871
@Jeffwan So how did you get the best performance? could you share your experience,  thanks very much!

[2019-07-19 04:04] compete369 commented on #871
@Jeffwan I see from your log, some rank to ran are NET/Socket/0 , and others IPC. how could you get that, I have same env with you.

when I set map-by= slot, it says The specified mapping policy is not recognized:    Policy: slot.

[2019-07-19 06:17] xieydd commented on #1191
@alsrgv ,some thought?

[2019-07-19 14:09] raj-brown commented on #1211
Hi @tgaddair and @abditag2 I had question. I need to compare the loss value obtained from serial and parallel implementation. As on each worker the loss value is different so what will be the best way to compare these tow loss value.
Appreciate your help and suggestions.

Thanks

[2019-07-19 17:37] souxun2015 commented on #851
Have you solved it yet? I am with the same problem.

[2019-07-19 17:49] alsrgv commented on #851
@windson87, @souxun2015, to help debug this, could you make a [gist](https://gist.github.com) with Horovod installation logs (add -v --no-cache-dir), and use latest Horovod version?

[2019-07-19 18:08] alsrgv commented on #1173
@sinllychen, you just need to find a way for workers to read the portion of the data, either random portion or an assigned partition.  If workers cannot read data, you cannot do distributed training.

[2019-07-19 18:22] qchenclaire opened #1230 "Add support for PyTorch sparse tensors"
There is no device_sparse option in hvd.DistributedOptimizer. Is there any other way to force it?

[2019-07-19 18:26] Lyken17 commented on #1230
Do you mean to allgather sparse tensors?

[2019-07-19 18:28] souxun2015 commented on #851
Sure, I have made a gist with my Horovod installation [logs](https://gist.github.com/souxun2015/759346c038f35d514327f006cffdce6c).
I use Anaconda as my python environment, which includes:
pytorch 1.1.0,
cudatoolkit 9.0,
horovod 0.16.4.
My system installed the Open MPI 2.1.1

[2019-07-19 18:31] alsrgv commented on #1225
@byronyi, `package_name.__version__` is a Python canonical way to determine package version, so I hope they keep supporting it.

[2019-07-19 18:32] alsrgv commented on #851
@souxun2015, can you uninstall Horovod first, and then rerun the installation? This log says that Horovod is already installed.

[2019-07-19 18:32] alsrgv commented on #1230
@qchenclaire, we don't currently support sparse tensors in PyTorch. We'd love to!  Do you have example use case (script) where they're useful?

[2019-07-19 18:33] alsrgv commented on #1211
@raj-brown, you could hvd.allreduce(loss) to get an aggregated average loss across all workers.

[2019-07-19 18:37] Lyken17 commented on #1230
@alsrgv One of my use case is to communicate with sparse gradients to reduce the bandwidth requirement, for example [Deep Gradient Compression](https://arxiv.org/abs/1712.01887).

[2019-07-19 18:40] alsrgv commented on #1230
@Lyken17, got it. We do need to add support for sparse tensors as a precondition for all that. Contributions are very welcome!

[2019-07-19 18:44] souxun2015 commented on #851
Sorry about that. This is the whole [logs](https://gist.github.com/souxun2015/75315e894c0a395f110b127d57fc7904)

[2019-07-19 19:03] souxun2015 commented on #851
Hi, when I reinstalled horovod, I am not sure what happend, but I can run pytorch_mnist.py without the error.

[2019-07-19 19:23] raj-brown commented on #1211
Thanks @alsrgv. When I do the hvd.allreduce() the job does not run any more and just hangs in. Any suggestions()... Thanks !!

[2019-07-19 19:34] apeforest opened #1231 "Does horovodrun still support host files?"
**Your question:**
I've found horovodrun --hosts does not take host files. If I am training on large number of nodes, a host file will be easier to update and maintain.

[2019-07-19 19:34] jakub-kaluza opened #1232 "Horovod+tensorflow 1.14.0 throw segmentation fault"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Tensorflow
2. Framework version:
1.14.0
3. Horovod version:
0.16.4
4. MPI version:
openmpi-4.0.0
5. CUDA version:
10.0
6. NCCL version:
2.4.7
7. Python version:
2.7
8. OS and version:
ubuntu18.04 in docker
9. GCC version:
gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked th

[2019-07-19 19:39] alsrgv commented on #851
@souxun2015, great!  As a rule of thumb, if you upgrade the framework (or see other issues), you should reinstall Horovod and see if it resolved the issue.

[2019-07-19 19:40] alsrgv commented on #1231
I think that'd be a great feature to add!

[2019-07-19 19:40] alsrgv commented on #1211
@raj-brown, if you let it hang for 5 minutes, are there any messages, e.g. stall warnings?

[2019-07-19 19:44] alsrgv commented on #1232
@jakub-kaluza, this is happening because TensorFlow is not compatible with gcc-7 compiler. We have added compiler auto-selection as part of #1199.

Can you:
1. Install g++-4.8 or g++-4.9
2. `pip uninstall -y horovod`
3. Reinstall Horovod from master: `HOROVOD_GPU_ALLREDUCE=NCCL pip install git+https://github.com/horovod/horovod`

[2019-07-19 19:47] alsrgv commented on #94
@alwaysandeep, can you remove `localhost` and make both entries IP addresses of the servers?

[2019-07-19 19:51] alsrgv commented on #1218
@KushalDave, since you're using TensorFlow optimizer, can you use `import horovod.tensorflow as hvd_tf` and wrap optimizer like this: `tf_opt = hvd_tf.DistributedOptimizer(tf_opt)`?

[2019-07-19 19:55] alsrgv commented on #1212
@rayburgemeestre, one other solution is to reconfigure the network to preserve source IP for 172.x.x.x network. It sounds that it's visible on the other side of the wire as 10.x.x.x currently.

[2019-07-19 19:57] alsrgv commented on #1213
@dongphuong2410, sounds like you have multiple CUDA versions on your machine, and Horovod is being compiled with a wrong version of CUDA. You can uninstall Horovod and reinstall with `HOROVOD_CUDA_HOME` pointing to the right location.

[2019-07-19 20:03] raj-brown commented on #1211
Ok I will let it hang for 5 minutes and see if there is any messages and will let you know.
Thanks a lot @alsrgv

[2019-07-19 20:07] alsrgv commented on #1222
@hero78119, thanks for debugging this issue!

I believe #1201 is helping in your case, precisely because of dots in the hostname.

Can you add debug messages in `mpirun_rsh.py` to see if it ends up executing `task_client.run_command(command, os.environ)`, or whether it fails beforehand?

Also, can you share the output of `ps auxww` on the server, filtering out any sensitive info?

Lastly, can you

[2019-07-19 20:13] alsrgv commented on #1215
@weixiong-ur, do you have RDMA NICs, e.g. RoCE or InfiniBand?  Which MPI version are you using?

[2019-07-19 20:31] alsrgv commented on #1214
@ramyarajasekaran, I just built your image completely as-is and it worked:
[code]

[2019-07-19 20:33] alsrgv commented on #913
@CDCrystal, this is the same as #1232. Please install g++-4.9 and reinstall Horovod using master (see referenced issue for details).

[2019-07-19 20:42] alsrgv commented on #1206
@ktokolwiek, it's super strange that your training gets uniformly slowed down as it proceeds.  Could you try running a single process and check if you see any slowdown as the training goes?  Also, can you check CPU utilization during the Horovod run?

[2019-07-19 20:44] alsrgv commented on #1220
@yangwenhuan, if openmpi-4.0.0 works for you, can you just keep using that?

[2019-07-19 20:47] alsrgv commented on #1226
@bleirdalag, do not use `-d` in `sshd`. Here's part of sshd manual page:
[code]

Note the **one connection** part.

[2019-07-19 20:52] alsrgv commented on #1229
@tfriedel, I can reproduce the issue. We're planning to enable eager execution + Keras in TensorFlow 2.0 integration.

[2019-07-19 20:57] alsrgv commented on #871
@compete369, can you upgrade your OpenMPI?

[2019-07-19 21:14] nskool commented on #1232
I have gcc and g++ as following on Amazon Linux
[code]
The error is:
[code]

[code]

[2019-07-19 21:20] alsrgv commented on #1191
@xieydd, it looks like the `all_reduce_benchmark.py` benchmark you ran did allreduce within nodes, but not across nodes.

Can you try the following Dockerfile?
[code]

[2019-07-19 21:21] alsrgv commented on #1191
(It's similar to your dockerfile, but I've added `--without-rshim-dkms`)

[2019-07-19 21:26] alsrgv commented on #1232
@nskool, looks like your system doesn't define some of the standard flags. Could you try `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir git+https://github.com/horovod/horovod@fix_gxx_autodetect`?

[2019-07-19 21:36] souxun2015 opened #1235 "train 2 models simultaneously and separately with independent inputs"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.1.0
3. Horovod version: 0.16.4
4. MPI version: 2.1.1
5. CUDA version: 9.0
6. NCCL version: 2.4.2
7. Python version: 3.7.3
8. OS and version: Ubuntu 18.04.2
9. GCC version: gxx_linux-64

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Yes, I found the similar [one](https://github.com/horovod/horov

[2019-07-19 21:52] nskool commented on #1232
Thanks! That seemed to work on Amazon Linux. However, on Ubuntu, I get the following error:
[code]
This is after installing gcc=4.8.5 in the conda environment.

If I don't install gcc=4.8.5, I get the error:
[code]

I thought having gcc=4.8.5 should work. Am I missing something? Thanks for your help.

[2019-07-19 22:21] alsrgv commented on #1232
@nskool, did you install g++-4.8?  gcc is not enough, you need C++ compiler.

[2019-07-19 22:25] alsrgv commented on #1235
@souxun2015, this should still work fine, but you need some adjustments to your strategy:
1. Run with 2 GPUs per process, i.e. on a server with 4 GPUs, run 2 processes.
2. Assign devices based on `hvd.local_rank() * 2 + i`. This will assign GPUs 0 and 1 to process 0, and GPUs 2 and 3 to process 1.
3. Use a standard `hvd.DistributedOptimizer()`. It should work fine, e.g. see this [test case](https:

[2019-07-19 22:31] nskool commented on #1232
Sorry I perhaps I forgot to mention in the previous correspondence. I have installed conda package gcc=4.8.5 in a conda environment. It pulls in gcc as well as g++.
[code]
Does horovod not work with conda g++ 4.8.5 i.e. is it not possible to get horovod working in the cond environment if the gcc is installed from - https://anaconda.org/anaconda/gcc ?

I noticed that it is recommended to install gx

[2019-07-19 22:48] tvovalentin opened #1237 "Make Horovod run with CPUs and non-zero rank"
**Environment:**
1. Framework: Keras
2. Framework version: 2.2.4
3. Horovod version: 0.16.4
4. MPI version: openmpi-bin 1.10.2-8ubuntu1
5. CUDA version:  -
6. NCCL version:  -
7. Python version: 3.5.2
8. OS and version: Ubuntu 16.04.5 LTS x86_64
9. GCC version: 5.4.0 20160609

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes.
2. If your question is about

[2019-07-19 22:50] alsrgv commented on #1232
@nskool, normally if you use Conda, you also use TensorFlow installed via `conda install`. In your case, you seem to be using TensorFlow from PyPI, hence you need g++ 4.8.5.

I looked around and found https://github.com/cocodataset/cocoapi/issues/94, which suggests that g++ 4.8.5 in Conda is incomplete.

Can you try the following:
[code]

[2019-07-19 22:54] alsrgv commented on #1237
@tvovalentin, most likely you have different versions of MPI in your system. Also, OpenMPI 1.10 is super old. Could you uninstall all MPIs that you have in your system and install Open MPI 4.0.1?

[2019-07-20 02:39] alsrgv commented on #1229
@tfriedel, you can try installing Horovod from `tf2_keras` branch (PR #1238) and try it out.

[2019-07-20 12:20] jakub-kaluza commented on #1232
Hi, thanks it worked for the example code, as well as for our project🥳

[2019-07-20 15:47] hero78119 commented on #1222
Hi @alsrgv

Thanks for your kindly reply :)

After insert more debug message, `task_client.run_command(command, os.environ)` has invoked below command on executor (hostname: yarn-node-22.mydomain.com)

[code]

And it just hang on this command, later I append `--debug` flag to above command, on executer console it show below message

[code]
without other errors but still hang. I have add some debug

[2019-07-21 01:07] Young768 opened #1239 "Distributed tensorflow benchmark"
Hi , i was testing tensorflow benchmark. I can run benchmark on single machine:

$python tf_cnn_benchmarks.py --device=CPU --batch_size=64 --model=resnet50 --variable_update=horovod --data_format=NHWC

But when I want to distribute the benchmark on two machines:
$horovodrun --start-timeout 300 --verbose -np 2 -H localhost:1,slave0:1 python tf_cnn_benchmarks.py --device=CPU --batch_size=64 --model=

[2019-07-21 05:11] #1229 closed

[2019-07-21 05:11] #1232 closed

[2019-07-21 14:17] hero78119 commented on #1222
Hi @alsrgv After further debug and understand how horovod work on top of spark, I realize that all the info reported above just work as normal.

The stuck occur at `hvd.init()`

[code]
If comment out `hvd.init()` then the whole job successfully finished.
Any suggestion to go further from that ?

[2019-07-21 16:10] DEKHTIARJonathan opened #1240 "Feature Request: Sum/Average over Batch"
Hi,

As you may have seen, TensorFlow made default to aggregate gradients use sum across workers:

Source: https://github.com/tensorflow/tensorflow/releases/tag/v1.14.0

That would be nice to have a flag switching for one to another. If I'm right the only way the change the default behavior for HVD is to re-install the lib with `HOROVOD_GPU_ALLREDUCE="NCCL"` or `HOROVOD_GPU_ALLGATHER="NCCL"`

Is t

[2019-07-22 01:21] Jeffwan commented on #871
@compete369 As Alex said, please upgrade your OpenMPI. I would suggest to you to use pre-built container image and bring your model.

[2019-07-22 06:39] CDCrystal commented on #913
@alsrgv I've tried and it did work. So coool, Many thanks.
Here‘re some tips for others later struggling with similar issue.
1.Install g++ on Ubuntu 16.04 docker:
sudo add-apt-repository ppa:ubuntu-toolchain-r/test
sudo apt-get update
sudo apt-get install g++-4.9
2.pip uninstall -y horovod
3.If you install NCCL with the nccl-<version>.txz package, check your environment variable. Then execute:
HOR

[2019-07-22 09:53] liuyongheng123 opened #1242 "Can i use Horovod for inference on clusters?"
**Is your feature request related to a problem? Please describe.**  No
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**——yes
A clear and concise description of what you want to happen.
Whether Horovod  can  be used for inference in the Raspberry pi Cluster or other AI accelerate cluster？

My cluster is based on a bun

[2019-07-22 17:52] tvovalentin commented on #1237
Sure @alsrgv, I have done that, but the problem persists: my rank is always 0, no matter how many instances I run. I am running it on two VMs (as root on both), by the way.

I have tried all the following (from bd1):

[code]

[2019-07-22 17:55] apeforest commented on #1231
Here is the PR that adds this feature. Please help to review:
https://github.com/horovod/horovod/pull/1243

[2019-07-22 23:14] #1217 closed

[2019-07-23 00:30] abditag2 commented on #1242
Not really. Horovod only helps with distributed training stage. Once the model is trained, the user can serve it just like a standard TF/PyTorch model.

[2019-07-23 00:34] abditag2 commented on #1239
Can you add more details about your environment? What version of Horovod, MPI, TF, CUDA?

[2019-07-23 01:10] Young768 commented on #1239
Hi @abditag2  I dont know how to check my horovod version. But im usring MPI 4.0.1 and MKL TF 1.13.01

Now I can run the example you provide on both single machine or multiple machines. But I want to run the tensorflow [benchmark](https://github.com/tensorflow/benchmarks).

I can also run their models on a single machine. But they did not provide tutorials on how to run it on multiple machines.

[2019-07-23 05:09] Young768 commented on #1239
Hi @abditag2 Any luck to have your help?

[2019-07-23 06:30] skicc commented on #1232
Hi, unfortunately this doesn't help for me. I'm still encountering this issue.

I'm using NVIDIA docker image: `nvidia/cuda:10.0-cudnn7-devel-ubuntu18.04`

gcc -v
[code]

g++ -v
[code]

mpirun -V
[code]

Pure tensorflow runs fine, but using it with horovod segfaults.

Still the example `tensorflow_mnist.py`:
[code]

[2019-07-23 06:51] alsrgv commented on #1232
@skicc, this looks like a different issue. Can you capture traceback and create a new issue?

[2019-07-23 06:53] alsrgv commented on #1239
@Young768, does [this section](https://github.com/horovod/horovod/blob/89121661a2eaa36e4fab8566bd4f84e2361f3469/docs/troubleshooting.rst#force-terminate-at-data-unpack-would-read-past-end-of-buffer) of our troubleshooting guide help?

[2019-07-23 06:55] alsrgv commented on #1237
@tvovalentin, what's the output of `mpirun --version`?  Did you reinstall Horovod after installing Open MPI 4.0.1?

[2019-07-23 07:02] Young768 commented on #1239
Hi @alsrgv I think my case does not have the required installation problems. Because I can run the provided examples on both single machine or multiple machines.

I found that now tensorflow benchmarks support Horovod but there is no related tutorial.
https://github.com/tensorflow/benchmarks

Is this the correct cmd to run tensorflow benchmark on two nodes?

$horovodrun --start-timeout 300 --verbo

[2019-07-23 07:04] alsrgv commented on #1239
@Young768, you can find the docs here - https://horovod.readthedocs.io/en/latest/benchmarks_include.html. Your usage looks reasonable.

[2019-07-23 07:10] Young768 commented on #1239
@alsrgv Oh, I found that this is the FORCE-TERMINATE AT Data unpack would read past end of buffer.

Do I need to uninstall OpenMPI and purge hwloc?

[2019-07-23 12:21] skywalkerytx commented on #676
I just ran into the same problem.

turns out it was `tensorflow.python.client.device_lib.list_local_devices()` before `hvd.init()` happens

[2019-07-23 12:55] raj-brown commented on #1211
Hi @alsrgv it does hangs sometimes and sometimes does not. It does not throw any message either.

[2019-07-23 15:11] tvovalentin commented on #1237
Hi @alsrgv !

I managed to get it working now (with version 4.0.1). I had tried to reinstall Horovod, but it wasn't reinstalled properly. I fixed it by forcing the reinstall: `pip install horovod --force-reinstall --no-cache-dir`

Thank you very much for the help! Cheers.

[2019-07-23 20:55] AnnaDaly commented on #758
I successfully built and ran Horovod with PyTorch on Windows with IntelMPI. You will have to set HOROVOD_MPICXX_SHOW to 'mpicxx.bat -show' and comment out a first couple lines in mpicc.bat file. There would be more problems down the line, though :)

[2019-07-23 23:10] Young768 commented on #1239
@alsrgv Hi, I have a quick question. If i run Horovod on multiple nodes with real dataset, e.g. CIFAR-10, do i need to replicate the dataset on every node?

[2019-07-23 23:15] abditag2 commented on #1239
Yes. Horovod does not distribute the data.
You can use a shared datastore like NFS and put the data there and have all the nodes to read from there.

[2019-07-24 07:32] Young768 commented on #1239
Hi @alsrgv Alex, Now I can run horovod on each node. But when I distribute the benchmark on three nodes. The error occurs. I did follow the troubleshooting section to purge hwloc and re-install openmpi. The error still exists. Do you have any ideas?

[slave0:28661] [[12426,0],1] ORTE_ERROR_LOG: Data unpack would read past end of buffer in file grpcomm_direct.c at line 355
[slave1:27619] [[12426,0]

[2019-07-24 08:41] Double1996 opened #1249 "cant run in multiple docker container"
**Environment:**
use example dockerfile

** cmd **

[code]

**error message**

![image](https://user-images.githubusercontent.com/22317647/61778672-c1d36d00-ae31-11e9-9a64-f86fadae0bd8.png)

[2019-07-24 09:25] zmsunnyday opened #1250 "poor scaling efficiency of xlnet"
**Environment:**
1. Framework: TensorFlow
2. Framework version:1.13.1
3. Horovod version:0.16.4
4. MPI version:4.0.1
5. CUDA version:10.0
6. NCCL version:2.4.2
7. Python version:3.6.8
8. OS and version:ubuntu16.04
9. GCC version:5.4.0

**Your question:**
I tried to scale xlnet using horovod on two nodes, each with 8 V100 GPUs, while the scaling efficiency is very poor, about 25%. What's more, even

[2019-07-24 10:25] ktokolwiek commented on #1206
@alsrgv, I just tried running it as a single process with 1 GPU, like so:
[code]
BTW I am running the whole setup on AWS - previously it was 8 x 1GPU processes on a p2.8xlarge (8 Tesla K80 GPUs, 32 CPUs, 488 GiB RAM), this one I ran on a 1 GPU machine, AWS's p2.xlarge (1 GPU, 4 CPUs, 61 GiB RAM)

I didn't get any errors this time, but I did observe about 4x slowdown vs. just plain Keras. I wouldn'

[2019-07-24 16:00] CDCrystal commented on #1221
Hi, @tgaddair , I did have some configuration error with MPI that I forgot to set the corresponding network interfaces. I've rewrite the provided Dockerfile to adapt the CentOS 7 which has a low version of g++, but I missed the Dockerfile since the server was reinstalled the Ubuntu 16.04. I’ve used 2 machines each with one GPU.  My mpirun command is following:
![image](https://user-images.githubus

[2019-07-24 16:00] #1221 closed

[2019-07-24 17:18] ramyarajasekaran commented on #1214
Hi! I was able to get horovod running within Spark on k8s using the Spark Operator. I'm running into the following error. My driver and executor pods are failing and I can't seem to figure out why.

Here are some logs.
All events:
[code]

Driver pod:
[code]
Executor pod. Right before dying:
[code]
I'm running inside the Minikube environment.

[2019-07-24 17:24] raj-brown commented on #1211
Hi @tgaddair @alsrgv I have a conceptual question. In first case, if I multiply the learning rate with 2 and use only GPU, whereas in second case If I use 2GPU with learning rate multiplied by hvd.size( (as suggested), would I get same Loss value in both cases? Appreciate your help and cooperation.

Thanks

[2019-07-24 23:25] Young768 commented on #1239
@alsrgv Hi, alex. Could you please have a look at this problem? It seems one of the algorithm on MPI, recursive doubling, would require the number of nodes to be even. I am not sure if this problem is caused by that.

[2019-07-25 08:13] Oktai15 opened #1252 "Should I set different seeds for different GPUs?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.0
3. Horovod version: latest

I have custom loop training mode (like [that](https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist_eager.py)) and read data from tf.Dataset that I shuffled and repeated.

Should I set different seeds for different GPU's if I want to get mini-batches in random order on every gpu OR it

[2019-07-25 11:02] Eric716 commented on #468
What's your NCCL version?

[2019-07-25 15:14] tgaddair commented on #1252
Hey @Oktai15, typically we do not set the random seed when running Horovod.  By default, TensorFlow will use a random seed if you don't specify one explicitly, which should ensure that every worker gets a random batch.

[2019-07-25 20:40] tvovalentin opened #1253 "Can only large sets of data and large models benefit from parallelization?"
**Environment:**
1. Framework: Keras
2. Framework version: 2.2.4
3. Horovod version: 0.16.4
4. MPI version: OpenMPI 4.0.1
5. CUDA version: -
6. NCCL version: -
7. Python version: 3.5.2
8. OS and version: Ubuntu 16.04.5 LTS x86_64
9. GCC version: 5.4.0 20160609

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes.
2. If your question is about hang, did you re

[2019-07-25 20:46] abditag2 commented on #1253
I am interested to know what @alsrgv thinks about this.

[2019-07-25 20:48] abditag2 commented on #1249
can you run `horovodrun --verbose -np 2 -H localhost:1,savle1:1  python pytorch_mnist.py` and post the results?

[2019-07-25 20:52] abditag2 commented on #1250
Can you record the timeline during the training and post it here? here are the docs on how to record the timeline: https://github.com/horovod/horovod/blob/master/docs/timeline.rst

[2019-07-25 21:29] tgaddair commented on #1253
Typically Horovod will give you the most benefit when the bottleneck in your training process is the compute unit (the CPU or GPU).

In your case, what you may be seeing is that the compute time is relatively insignificant in comparison to, say, the I/O, and if you're running Horovod on a single machine with a single disk, then Horovod will not be able to help with that problem.

Similarly, if you

[2019-07-26 04:21] mmmeee1111 opened #1254 "Run Tensorflow benchmarks on Horovod"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: MKL1.13
3. Horovod version: latest
4. MPI version: 4.0.1
5. CUDA version:no
6. NCCL version:no
7. Python version:
8. OS and version:Ubuntu 16.04
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [t

[2019-07-26 05:51] zmsunnyday commented on #1250
Thx @abditag2 for your suggestion. I recorded the timeline, but I have no authority to get it out of our server and post it here. But the timeline help me to diagnose the problem. It showed that the mpi_allgether used up almost all the time during training, the time used by NCCL_allreduce and GPU computing was very short. So the scalling efficiency was low, even thought I tried fp16_allreduce. I t

[2019-07-26 05:52] zmsunnyday commented on #1250
Thx @abditag2 for your suggestion. I recorded the timeline, but I have no authority to get it out of our server and post it here. But the timeline help me to diagnose the problem. It showed that the mpi_allgether used up almost all the time during training, the time used by NCCL_allreduce and GPU computing was very short. So the scalling efficiency was low, even thought I tried fp16_allreduce. I t

[2019-07-26 06:01] karakusc commented on #1250
@zmsunnyday Can you try passing `sparse_as_dense=True` to `DistributedOptimizer()`?

[2019-07-26 06:27] LANRRI commented on #1237
@tvovalentin hello, i'm new to horovod, can we submit our program to spark cluster using horovod?

[2019-07-26 06:29] LANRRI commented on #1237
@tvovalentin thanks. i've got the answer

[2019-07-26 06:49] zmsunnyday commented on #1250
thx @karakusc .Your suggestion really help me to solve this problem.

[2019-07-26 08:33] zmsunnyday commented on #1250
Embedding gradients is sparse, so after passing sparse_as_dense=True to DistributedOptimizer(), the scalling efficiency of xlnet on 16 GPUs can be 75%. But I'm still puzzled why horovod use mpi allgather instead of NCCL allgather?

[2019-07-26 16:21] denfromufa commented on #969
@alsrgv any good docs about how each connection type in `nvidia-smi topo -m` legend/output affects the Horovod performance?

[2019-07-26 17:31] karakusc commented on #1250
1. Your embedding gradient is a sparse tensor object (`tf.IndexedSlices`), but it is in fact a dense tensor. This is because the embedding matrix is probably used somewhere else other than the initial embedding of words, which generates a dense gradient on it. But since `tf.IndexedSlices` object is *supposed* to be sparse, Horovod still tries to do Allgather on it.

2. Horovod currently does not s

[2019-07-26 18:20] abditag2 commented on #1254
See if any of these steps help:

1. put the data in `/dataset/imagenet`
2. add `--data_name imagenet` to your command.

[2019-07-26 20:17] vilmara opened #1255 "Do I need to re build horovod docker to add MLNX_OFED support?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version: TensorFlow. Version incluided in Horovod Dockerfile
3. Horovod version: Version incluided in Horovod Dockerfile
4. MPI version: Version incluided in Horovod Dockerfile
5. CUDA version: Version incluided in Horovod Dockerfile
6. NCCL version:  Version incluided in Horovod Dockerfile
7. Python version: Version i

[2019-07-26 20:50] bluesummers1129 opened #1256 "invalid pointer when running horovod?"
1. Framework: TensorFlow (CPU)
2. Framework version: 1.13.1
3. Horovod version: 0.16.4
4. MPI version: 3.0.0
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.5.7
8. OS and version: AmazonLinux 2
9. GCC version: 4.8.5

**Your question:**
Starting about a week ago, any cluster I start up with pip installed tensorflow and horovod ends up throwing a wall of errors when I try to run a hor

[2019-07-26 21:39] bluesummers1129 commented on #1256
Update: I had to update my imports to include an import of pyarrow before importing tensorflow and horovod and now it works:

[code]

Weirdly I didn't have to have this ordering in my older cluster - I see that there are a few threads here where people need to adjust the order of things to avoid segmentation faults. Is there a reason why there isn't one consistent ordering of imports from version

[2019-07-28 13:46] linhanxiao commented on #851
@souxun2015 Have you solved it yet? I am with the same problem.

[2019-07-28 15:36] #1252 closed

[2019-07-29 01:35] linhanxiao commented on #851
@souxun2015 @windson87 @alsrgv how did you solved this problem

[2019-07-29 09:48] #1114 closed

[2019-07-29 10:13] dgaleareading opened #1258 "Install Errror: CXXABI_1.3.8 not found"
**Environment:**
1. Framework: TensorFlow, Keras
2. Framework version: TF:1.14.0, Keras-2.2.4
3. Horovod version: 0.16.4 (latest)
7. Python version: 3.6
8. OS and version: RHEL 6/7
9. GCC version: 4.4.7 on system / 7.3.0 in conda

Hi all,

I am trying to install horovod on an HPC cluster that is running a conda-based python package manager. I have already installed tensorflow and keras with conda

[2019-07-29 11:56] lxl910915 opened #1259 "mpiexec hang when the number workers > 12"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow
2. Framework version: 1.12.0
3. Horovod version:
4. MPI version: 4.0.1
5. CUDA version: 9.0
6. NCCL version:
7. Python version: 2.7
8. OS and version: ubuntu 16.04
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this

[2019-07-29 15:45] souxun2015 commented on #851
I didn't find the real reason behind this problem. When I uninstalled it and reinstalled it, it was gone.

[2019-07-29 16:27] hero78119 commented on #1222
I used `gdb` to debug and finally find the root cause.
It's because in our system there are two openmpi versions (one is 1.xx which is quite old, the other is 4.0.1) co-exist.
Even already set the runtime PATH/LD_LIBRARY_PATH, the horovod c library still refer to old libmpi.so.
The key-point to note is, when install horovod, environment variable `OPAL_PREFIX` should be assigned to openmpi home onc

[2019-07-29 16:27] #1222 closed

[2019-07-29 16:32] abidmalikwaterloo opened #1260 "Warning Message for OpenMPI"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Pytorch
2. Framework version:
1
3. Horovod version:
1.14
4. MPI version:
IBM OpenMPI
5. CUDA version:
9
6. NCCL version:
2
7. Python version:
3.6
8. OS and version:
Linux
9. GCC version:
7
**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this do

[2019-07-29 19:53] vilmara commented on #1117
hi @alsrgv , I ran it Ubuntu 16.04 and got this error:  `E: Unable to locate package ibverbs-providers``

[2019-07-29 22:11] vilmara opened #1261 "Errors: Signal: Segmentation fault / Signal code: Address not mapped (1)"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): TF 1.14
2. Framework version:
3. Horovod version: Horovod-0.16.4
4. MPI version:  4.0.1
5. CUDA version: 7.6.0.64-1+cuda10.0
6. NCCL version: 2.4.7-1+cuda10.0
7. Python version: 2.7
8. OS and version: Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-143-generic x86_64)
9. GCC version: gcc version 5.4.0 20160609
10. Mellanox OFED: 4.6.1

**Bug

[2019-07-30 00:19] byronyi commented on #1117
@vilmara you need at least Ubuntu 18.04, or Debian 9.0 with backport.

For Ubuntu 16.04, please use OFED instead.

[2019-07-30 00:23] byronyi commented on #1255
< Current operation system in not supported!

You should consult your RDMA vendor, e.g. Mellanox, on this subject matter.

Take an example here: https://github.com/Mellanox/mofed_dockerfiles/blob/master/Dockerfile.ubuntu16.4.mofed-4.4

[2019-07-30 00:27] vilmara commented on #1255
hi @byronyi , thanks for your reply. I solved it by adding the instruction `RUN apt-get update && apt-get install -y lsb-core`.

About my first question.  I saw the new feature "Adding Mellanox RDMA support" running Horovod in Docker. So, do I still need to build horovod to add MLNX_OFED support?, or is it enough just adding the flag --device=/dev/infiniband?

[2019-07-30 00:35] vilmara commented on #1117
hi @byronyi, I used OFED, now I am getting other errors, could you please take a look at #1261?

[2019-07-30 00:50] byronyi commented on #1255
No, RDMA support doesn’t need re-build; NCCL dynamically loads the library of it finds one.

Passing the dev node shall suffice.

[2019-07-30 02:38] vilmara commented on #1255
@byronyi , is this a new feature?, in the past I rebuilt the dockerfile to add MLNX_OFED support as explained here **Add RDMA instructions to Dockerfile** #1150

[2019-07-30 05:13] byronyi commented on #1255
No, this is not new; if you look into NCCL source code you will find the dynamic loading code: https://github.com/NVIDIA/nccl/blob/master/src/misc/ibvwrap.cc#L59-L66

[2019-07-30 05:55] qiaosiyi commented on #224
make sure your hostname in /etc/hostname file is equal to hosts file's

[2019-07-30 09:51] linhanxiao commented on #851
@alsrgv @souxun2015  I have uninstalled it and reinstalled it with the command “pip install -v --no-cache-dir horovod ”，but it still have that error “   Internal error. Requested ReadyEvent with GPU device but not compiled with CUDA.”

[2019-07-30 11:04] boniek83 commented on #531
Anybody got guide how to run horovod with AMD gpus?

[2019-07-30 12:00] qiuyang163 commented on #1174
@sinllychen do you finally solve the problem?I have seen the same problem.

[2019-07-30 12:04] qiuyang163 commented on #761
Does any one solved the problem?

[2019-07-30 12:04] qiuyang163 commented on #761
Did any one solve the problem?

[2019-07-30 13:14] linhanxiao commented on #851
@alsrgv  @souxun2015  @windson87 my log is

Traceback (most recent call last):
[1,1]<stderr>:  File "train.py", line 560, in <module>
[1,1]<stderr>:    train(args, log_dir, writer, logger)
[1,1]<stderr>:  File "train.py", line 212, in train
[1,1]<stderr>:    hvd.broadcast_parameters(model.state_dict(), root_rank=0)
[1,1]<stderr>:  File "/home/user/miniconda/envs/py36/lib/python3.6/site-packages/ho

[2019-07-30 13:41] aaron276h opened #1262 "When Horovod is installed using HOROVOD_GPU_ALLREDUCE=NCCL what is used for cross machines communication?"
When we install Horovod using `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod`, what is used for cross machine commutation NCCL or MPI?

[2019-07-30 16:51] vilmara commented on #1261
hi @alsrgv, I am facing the same issue at #1232, but running Horovod with Docker. I rebuilt the image modifying the dockerfile to add the installation of gcc/g++ 4.9  and installing Horovod from master per your instructions; however, getting other errors. Do I need to downgrade also the gcc/g++ version at the localhost from 5.4.0 to 4.9?

Docker file
[code]

Error:
[secondary_node] *** An error oc

[2019-07-30 23:46] thuningxu commented on #1261
Branch `fix_gxx_autodetect` was merged to `master`. Could you try reinstalling from `master`?
[code]

[2019-07-31 00:36] vilmara commented on #1261
Hi @thuningxu, I tried with master also but I got different errors, please see my post above and below:

secondary_node] *** An error occurred in MPI_Allgather
[secondary_node] *** reported by process [2360803329,5]
[secondary_node] *** on communicator MPI COMMUNICATOR 3 DUP FROM 0
[secondary_node] *** MPI_ERR_TRUNCATE: message truncated
[secondary_node] *** MPI_ERRORS_ARE_FATAL (processes in this

[2019-07-31 01:02] Excalibur0214 commented on #431
As the above discussion says, this problem may be caused by gcc version. This solution is simple and useful, no need to compile from source or something like that.

[2019-07-31 01:39] sinllychen commented on #1174
@qiuyang163  yeah, I finally solve the problem with gcc 5.3.1 to compile the horovod and pytorch source code from github and install the compile packages to solve the problem.

[2019-07-31 11:52] dgaleareading opened #1263 "Error installing Horovod: 'MPI_Comm_create_group' was not declared in this scope"
**Environment:**
1. Framework: TensorFlow, Keras
2. Framework version: latest
3. Horovod version: latest
4. MPI version: Platform MPI 08.02.01.00 [10164] Linux x86-64
5. CUDA version:
6. NCCL version:
7. Python version: 3.7
8. OS and version: RHEL6/7
9. GCC version: 4.4.7

I am trying to install Horovod onto an HPC enviornment with an old MPI and GCC version. Thus I am getting the following stack