[2018-07-26 09:21] YuJingBaoBao commented on #370
When I run tensorflow_mnist.py, There is INFO like this at the begining:
INFO Ring 00 : 0 1 2 3 4 5 6 7 8 9 10 11
But when I run train_distribute_horovod.py, there is not. Is that normal?  @tgaddair @alsrgv

[2018-07-26 10:05] OverDriveMC opened #402 "error when run"
when I run deepFM using horovod,I meet this error:

	 [[Node: DistributedAdamOptimizer_Allreduce/HorovodAllgather_gradients_concat_12_0 = HorovodAllgather[T=DT_FLOAT, _device="/job:localhost/replica:0/task:0/device:CPU:0"](gradients/concat_12/_14449)]]
	 [[Node: DistributedAdamOptimizer_Allreduce/HorovodAllgather_gradients_dnn_input_layer_1_itemCity_embedding_itemCity_embedding_weights_embedding_l

[2018-07-26 10:19] OverDriveMC commented on #351
@ydp   have you succeed to use  horvod to speed up the wide & deep model?

I found that when I run in multi gpu, the gpu-util is lower than one gpu,  when I run in one gpu, the util can up to 90%.
![image](https://user-images.githubusercontent.com/9543552/43256505-7793b4f2-90ff-11e8-9f51-6e56facc8daf.png)

I also found that the %cpu  will become smaller along with I adding more mpi process, when I

[2018-07-26 10:30] TimYuenior commented on #402
Is it possible to try it with equal amounts of data? As far as I know, Horovod does synchronous updates, so I would imagine that the rank 0 GPU is waiting for data which it doesn't get since the other GPUs are finished. I believe that's what this line means:

Might be wrong though, I'm no expert.

[2018-07-26 12:41] kelsiuss commented on #159
@alsrgv Is there any way to control the warnings like you mentioned? Not sure if anything was implemented to manage this since you last posted.

[2018-07-26 16:58] mohammedayub44 commented on #169
@ksy3395  I'm getting the same error. How did you happen to solve this ? If you could please share your resolution steps.

[2018-07-26 17:09] mohammedayub44 commented on #137
@alsrgv  Hey I have the same setup as yours and I'm getting the same error. Did you happen to resolve this ?

@thalassa3  - how can I specify pip to use my current installation of OpenMPI which resides in "/home/myuser/.openmpi"

Any help appreciated.

Thanks !
Mohammed Ayub

[2018-07-26 18:19] alsrgv commented on #137
@mohammedayub44, you can add your MPI installation to PATH before running `pip install horovod`, like this:

[code]

[2018-07-26 19:20] winwinJJiang opened #403 "WARNING: One or more tensors were submitted to be reduced, gathered"
Hi, all

I got warning like this. I believe it slow down the GPU calculation.
I am using 4 node and 4 GPUs.
Any suggestions will be highly welcome!

Thank you!

WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different te

[2018-07-26 19:31] alsrgv commented on #389
@bapriddy, unfortunately, NCCL 1.x is deprecated and Horovod does not support it.  NCCL 2 now has a public release for Power PC that you can use, as long as your nodes run CUDA 9.2.  And yes, MPI is necessary for a single node as well.

[2018-07-26 19:46] alsrgv commented on #159
@kelsiuss, not yet.  Would flag to disable warnings be useful?

[2018-07-26 19:47] mohammedayub44 commented on #137
For now, I followed this blog post :
`https://superuser.com/questions/927512/how-to-set-path-for-sudo-commands`
to edit the sudoers $PATH because pip overrides user's $PATH variable.
and then ran
 `sudo pip install --verbose --no-cache-dir horovod`

and it worked fine.
I'm not sure this is the most secure way to do it, as not everyone will have access to edit the sudoers $PATH file.

[2018-07-26 19:49] alsrgv commented on #403
@winwinJJiang, how often do you see it?  Does training progress after it?  Oftentimes this warning means that one of the ranks (in your case rank 0) was busy running evaluation while other ranks were waiting for it.  In this case, it can be simply ignored - but you would be able to use resources more efficiently if you do a distributed evaluation.  You can search Issues for parallel/distributed ev

[2018-07-26 19:49] mohammedayub44 commented on #386
I got the same error installing in the User directory I followed this blog post :
`https://superuser.com/questions/927512/how-to-set-path-for-sudo-commands`
to edit the sudoers $PATH because pip overrides user's $PATH variable.
and then ran
 `sudo pip install --verbose --no-cache-dir horovod`

and it worked fine.
I'm not sure this is the most secure way to do it, as not everyone will have access t

[2018-07-26 19:50] mohammedayub44 commented on #169
For now, I followed this blog post :
`https://superuser.com/questions/927512/how-to-set-path-for-sudo-commands`
to edit the sudoers $PATH because pip overrides user's $PATH variable.
and then ran
 `sudo pip install --verbose --no-cache-dir horovod`

and it worked fine.
I'm not sure this is the most secure way to do it, as not everyone will have access to edit the sudoers $PATH file.

[2018-07-26 19:50] alsrgv commented on #137
You can also do: `sudo PATH=$PATH pip install --verbose --no-cache-dir horovod`

[2018-07-26 20:14] winwinJJiang commented on #403
It is happened during training. What I have done is I removed the evaluation during training.
I hope it will gone.

But I do feel the computing power is not scale up though.

[2018-07-26 20:17] winwinJJiang commented on #403
I have 4 nodes with 1 GPU in each node. Then totally I have 4 GPUs.
Do you know is there any special configrations I need to use to accelerate the computing?

[2018-07-26 20:31] ppwwyyxx opened #404 "cudaMemcpyAsync failed: invalid argument during training"
Software:
horovod 0.13.10
TF: v1.9.0-0-g25c197e023 1.9.0
cuda 9.0
openmpi 2.1.1
NCCL 2.2.13

I ran a job on 6 nodes (48 GPUs). It's a very normal horovod job with a allreduce every step, and a broadcast once a while. It runs well for 17 hours until horovod throws this error on rank 3:

[code]

Post it in case someone sees similar issues. I understand this is probably not a reproducible error, or p

[2018-07-26 20:41] winwinJJiang commented on #404
I met the same issue when training and stops.

[2018-07-27 01:50] OverDriveMC commented on #402
@TimYuenior  The data consists of 200 parts of file, I run the model with 4 GPU or 2 GPU, It can run successfully, So I guess this is caused of unequal distribution data.

[2018-07-27 08:00] meteortwinkle commented on #403
@alsrgv  I have encountered this question on my training , too.
My training environment is ：
4 nodes(one with 8 v100 GPU)
resnet 50
mpirun --allow-run-as-root -np 32 -H node1:8,node2:8,node3:8,node3:8 -bind-to none -map-by slot -x NCCL_DEBUG=INFO  -x HOROVOD_MPI_THREADS_DISABLE=1  -x LD_LIBRARY_PATH -x PATH  -mca plm_rsh_args "-p 13579" python train.py

I will always get this log(mostly rank0):
 H

[2018-07-27 09:22] ydp commented on #351
@OverDriveMC  there are 2 ways to improve GPU utility you can try

1  optimize IO with tensorflow pipline (dataset API)
 https://www.tensorflow.org/performance/datasets_performance
2  run multiple process on one GPU, set GPU memory fraction for each process, (pre condition might be you better use kubernetes or yarn to manage resources)

[2018-07-27 13:30] mohammedayub44 commented on #137
Great. That works ! Thanks @alsrgv

[2018-07-27 14:52] bapriddy commented on #403
@winwinJJiang @alsrgv @meteortwinkle

I have a similar problem

`Train Epoch     #6:  29% 367/1252 [12:15<13:53,  1.06it/s, loss=2.8, accuracy=39.7]WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that

[2018-07-27 14:55] bapriddy commented on #403
@meteortwinkle

Are you using nccl 2.0 ?

[2018-07-27 15:18] vilmara commented on #397
hi @ksy3395 I had the same issue (among other issues) and @alsrgv helped me to fix it on the issue #288. He realized that the container on the second node was running an older version of the image. So I rebooted the second server as recommended by Alex, and it worked.

[2018-07-27 16:32] winwinJJiang commented on #403
@bapriddy  I am using nccl-2.1 and openmpi3.0.0

[2018-07-27 16:33] winwinJJiang commented on #403
@bapriddy  Actually, I do not see the computing accelerating and I am using only 4GPUs.

[2018-07-27 18:15] jtchilders opened #405 "Cross-compiled Tensorflow for Intel KNL inside Singularity Container"
I have cross-compiled Tensorflow 1.9.0 with the AVX512 optimizations inside a Singularity container based on the Centos OS. After installing the tensorflow wheel I call
[code]
but see this error:
[code]

Obviously this error makes sense given my situation, Horovod is trying to build itself against a tensorflow cross-compiled for another architecture while running on a different architecture. Is th

[2018-07-27 20:49] bapriddy commented on #403
@winwinJJiang I was asking @meteortwinkle because his/her sys has 4 nodes(one with 8 v100 GPU).

You have one gpu per node so nccl 2 might not be helpful since it works with mutliple gpus on mutliple nodes (along with NVLink).

[2018-07-27 23:28] mariyahendriksen opened #406 "libstdc++.so.6: version GLIBCXX_3.4.22 not found"
Upon launching 'HOROVOD_WITH_TENSORFLOW=1 pip install -v --no-cache-dir horovod', I receive the following error:

  `  Traceback (most recent call last):
      File "/cluster/home/hmariya/software/anaconda/envs/project/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
        from tensorflow.python.pywrap_tensorflow_internal import *
      File "/cluster/hom

[2018-07-28 01:07] alsrgv commented on #355
@tremblerz, did you make progress with your use case?

[2018-07-28 01:07] alsrgv commented on #404
@ppwwyyxx, @winwinJJiang, anything in `dmesg`?

[2018-07-28 01:41] alsrgv commented on #403
@bapriddy, @winwinJJiang, @meteortwinkle, can you share what kind of model you're training, how many batches per second do you see with 1 node and with 4 nodes, and kind of network hardware do you have?

@winwinJJiang, did the warning go away after you removed evaluation from your script?

@meteortwinkle, in a heterogeneous situation like yours, computation will be bounded by slowest GPU.  If it's

[2018-07-28 01:42] alsrgv commented on #406
@mariyahendriksen, could you try the recommendation from #401?

[2018-07-28 01:51] meteortwinkle commented on #403
@winwinJJiang
nccl2.12.2
openmpi 3.1.1
and enable gdr

[2018-07-28 03:19] winwinJJiang commented on #403
@alsrgv  I am training with the Glow model, as https://github.com/openai/glow.

I am traing with batch size of 64 and it still there after I remove evaluation script.

[2018-07-28 06:17] alsrgv commented on #403
@winwinJJiang, how often does it happen?  Does training progress after the warning?

[2018-07-28 08:01] relh commented on #383
For me, I don't have root access. I can't make such symlinks to the system. So I just symlinked to the problem dir and it works now. Not recommending this, just for those in a similar situation to me with whom no environmental variable setting has helped.

ln -s ~/cuda/include/* ~/anaconda3/lib/python3.6/site-packages/torch/utils/ffi/../../lib/include/THC/

[2018-07-28 15:36] OwenLiuzZ opened #407 "what is the means of rank in horovod?"
Yes, I have try to understand how the horovod works. However, in the init, I cannot understand the means of rank. Can someone give some hints?
`# Initialize Horovod`
`hvd.init()`

`# Pin GPU to be used to process local rank (one GPU per process)`
`config = tf.ConfigProto()`
`config.gpu_options.visible_device_list = str(hvd.local_rank())`

[2018-07-28 23:50] tgaddair commented on #407
Hey @OwenLiuzZ, the **rank** of a process is a unique ID given that distinguishes it from the other processes running your Horovod job at the same time.  The **local rank** is also a unique ID, but specifically for all processes running your Horovod job _on the same node_.

In the code example you gave, suppose you're running a Horovod job on 2 machines, and each machines has 4 GPUs.  So in total,

[2018-07-29 11:36] mariyahendriksen commented on #406
@alsrgv, no it is still the same issue:

`Created temporary directory: /tmp/pip-ephem-wheel-cache-twm02ncq
Created temporary directory: /tmp/pip-install-wv7fc655
Collecting horovod
  1 location(s) to search for versions of horovod:
  * https://pypi.org/simple/horovod/
  Getting page https://pypi.org/simple/horovod/
  Starting new HTTPS connection (1): pypi.org
  https://pypi.org:443 "GET /simple/h

[2018-07-29 21:55] OwenLiuzZ commented on #407
@tgaddair Thanks a lot for your great explanation. That make sense to me about the concept of rank. As your explanation saying, another confusion point is that when I am running a Horovod job on 2 machines, and each machine has 4 GPUs. The local rank in the machine 1 will be a number [0, 3], So in my opinion, the local rank in another machine(machine 2) will be range of [4,7]?  Or the machine2 als

[2018-07-29 21:57] OwenLiuzZ commented on #407
Sorry for the question, I have seen it in your concepts Doc. Yes, all the local rank in each machine will be range of [0,3]

[2018-07-29 22:04] srams2018 opened #409 "ModuleNotFoundError: No module named 'horovod.torch.mpi_lib_impl._mpi_lib_impl'"
Hi, iam getting below error while horovod with torch.
# python
Python 3.6.0 |Anaconda custom (64-bit)| (default, Dec 23 2016, 12:22:00)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/data/anaconda/4.3.1/3/lib/python3.6/site-packages/horovod/torc

[2018-07-29 23:21] alsrgv commented on #409
@srams2018, can you reinstall Horovod and make a [gist](https://gist.github.com/) with the log of installation?  Make sure to run `pip install` with `-v --no-cache-dir` flags.

[2018-07-30 00:53] srams2018 commented on #409
Here is the log  @alsrgv
https://gist.github.com/srams2018/ba594502c0cd749409d7f37f027c74a9#file-horovod-logs

[2018-07-30 01:08] meteortwinkle commented on #403
@alsrgv @bapriddy @winwinJJiang
Our model is Resnet50, and mini-batch is 32(real data). But the waiting problem often come out.
What is the other GPU?Our GPUs are  V100.
Also sometimes the training will run, however, the scaling efficiency is bad. A step may cost several seconds, even.
During the training process, I found the occupancy rate of some CPUs  is 100% ,  even 200%.
Is the rank 0 process

[2018-07-30 02:01] alsrgv commented on #409
@srams2018, everything looks ok - do you still get an error trying to import?  If you do, can you share the output of `find /data/anaconda/4.3.1/3/lib/python3.6/site-packages/horovod`?

[2018-07-30 06:08] mariyahendriksen commented on #406
Sure, here it is:

`conda list
# packages in environment at /cluster/home/hmariya/software/anaconda/envs/project:
#
# Name                    Version                   Build  Channel
_tflow_180_select         3.0                       eigen
_tflow_190_select         0.0.3                       mkl
absl-py                   0.2.2                     <pip>
absl-py                   0.3.0

[2018-07-30 07:15] yoshihingis opened #410 "distiributed horovod stop by the error of mpirun.real error"
１．Enviroment
・OS Ubunt16.04
・CUDA9.2
・Docker CE 18.03.1
・Nvidia docker 2
・enthernet : Normal 100Mbps enthernet .
  This distributed horovod was just trial. I know that distributed horovod needs infiniband networks.

2.Report
　(1) I used 2 hosts   HostA as main   HostB as worker
   (2) I set up Docker version horovod according with the tutorial.
   (3) I connected 2hosts by Passwordless SSH.

3. Re

[2018-07-30 14:37] srams2018 commented on #409
thanks @alsrgv. its working fine now.
# python
Python 3.6.0 |Anaconda custom (64-bit)| (default, Dec 23 2016, 12:22:00)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

[2018-07-30 14:37] #409 closed

[2018-07-31 06:39] wu-yy commented on #313
I also meet this problem. I solved it with "-x NCCL_SOCKET_IFNAME= enp129s0f0"  as @alsrgv .  before that ,my error function is"-x NCCL_SOCKET_IFNAME= ^enp129s0f0".

[2018-07-31 08:23] hamzafar opened #412 "Horovod Configuration error"
Hi,

I am configuring horovod on my three machine cluster, and I am following the below link provided:

https://github.com/uber/horovod/blob/master/docs/docker.md

But I am not able to configure it even on my single machine. As, when I am building horovod with the following commands:

$ mkdir horovod-docker
$ wget -O horovod-docker/Dockerfile https://raw.githubusercontent.com/uber/horovod/master/D

[2018-07-31 08:43] tingweiwu opened #413 "install horovod failed on Ubuntu 18.04 LTS (Bionic Beaver)"
the reason seems is that : **unable to execute 'x86_64-linux-gnu-gcc': No such file or directory** but i donn't know how to solve this

[code]

os versionis

[code]

[2018-07-31 18:35] tgaddair commented on #413
Hey @tingweiwu, it looks like you're missing this `gcc` binary.  Can you try installing some additional packages?

[code]

[2018-07-31 18:42] tgaddair commented on #412
Hey @hamzafar, sounds like there's already a version of NCCL installed.  You could try allowing downgrades by modifying the `apt-get install` line like so:

[code]

Let me know if that works for you.

[2018-07-31 22:34] tgaddair commented on #410
Hey @yoshihingis, the critical information in this error message is just before Horovod reports its crash:

[code]

Looks like you're unable to download the files at that URL.  I just checked it myself, and it worked.  Looks like a network issue.  Are you able to curl that URL from your machine?

[2018-08-01 00:26] yoshihingis commented on #410
Dear @tgaddair

 Thank you for your comment.

 I was able to curl  https://s3.amazonaws.com/img-datasets/mnist.npz from my machine.
 There is posibilty thatthis issue was made by my company's proxy.
 If I change URL from https://s3amazonaws.com to http://s3.amazonaws.com, there is possibility that this issue will be deleted.
Do you  knwo where https://s3amazonaws.com is set in horovod's python cod

[2018-08-01 00:53] jtchilders commented on #405
@alsrgv Thanks for the suggestion. I ran it with and without, but got the same result. The error is coming from Tensorflow because I've built it for the Intel KNL. I'm sure it is triggered when horovod imports tensorflow or tries to compile against it. I'm not sure how to disable it.

[2018-08-01 02:13] tingweiwu commented on #413
@tgaddair thanks, I run `apt-get install python-dev gcc` and solved.
now i meet another problem.  seems like `ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory`

I find that `libcublas.so.9.0` is a cuda lib. and  I am installing horovod in docker container(Ubuntu 18.04 LTS )

how should i solve this ? add libcublas.so.9.0 into docker container?

[code]

[2018-08-01 07:10] itsogkyc opened #414 "Error with running on multiple machines"
Hi.

I'm testing horovod on our system with docker.  I have two server centos1(2gpu), centos2(2gpu)
I have some thing wrong with running on multiple machines.
When I run it on a single machine , it has no problem ( even i can run process from coneos1 to centos2)
But, when i try to run on multiple machine in centos1 server , it going to hang out and no log can see.
I typed command as below
"mpirun

[2018-08-01 13:33] hamzafar opened #415 "Horovod :Running on multiple machines"
Hi,

I am trying to configuring horvod on three ubuntu 16.04 machines (i7 processor with geforce 1070 card). Although, I have successfully configured each of the machine and horovod example given below, is successfully working on each of the node:(Running on a single machine)
`nvidia-docker run -it horovod:latest
root@c278c88dd552:/examples# mpirun -np 4 -H localhost:4 python keras_mnist_advanced.

[2018-08-01 14:43] pymia commented on #413
Yes, from my experience installed horovod in Ubuntu 18.04, and run successfully.

Make sure nvidia driver, cuda and cuDNN, and configure the CUDA and cuDNN library paths.
After that, install Open MPI and horovod afterwards.

if you have no idea about the CUDA and cuDNN part, use the bellowing link, it works on Ubuntu 18.04 as well.

https://medium.com/@zhanwenchen/install-cuda-and-cudnn-for-tensor

[2018-08-01 15:42] tgaddair commented on #413
It looks like you need to install Tensorflow with GPU support.  I'd suggest taking a look at their docs and let me know if that works for you:

https://www.tensorflow.org/install/install_linux#NVIDIARequirements

[2018-08-01 20:37] #407 closed

[2018-08-02 02:44] meteortwinkle opened #416 "Horovod: Scaling Efficiency Only 73% on 16 GPU V100"
Below is a result representing the benchmark that was done on 2 servers with 8 V100 GPUs each connected by RoCE-capable 40 Gbit/s network:
fp32 mini_batch 64
1-1  Resnet101    gdr         202.78
1-4  Resnet101    gdr         650.92       162.73(650.92/4)                              80.25%
2-16 Resnet101   gdr         2379.56      148.7225(2379.56/16)                      73.34%

Our server:
GPU:V

[2018-08-02 02:46] yangJirui commented on #400
The result of `ssh {target_node} echo $LD_LIBRARY_PATH` is :
`
/usr/local/lib:/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/usr/local/cuda/lib64
`
And same as local machine, "libopen-rte.so.40"　does exist in the 'usr/local/lib' of target_node. @Stonesjtu

[2018-08-02 04:12] zelinlv opened #417 "Failed to install horovod on Ubuntu 18.04"
[code]
I think I have already installed open MPI by following the instruction posted on the README file of horovod. Help please

[2018-08-02 06:12] itsogkyc commented on #414
now i resolved above error
but , i meet a new error now
log as below

`/lib/docker/overlay2/l/43OACZ6DWYUUQWWZYNIX5FQWVE:/var/lib/docker/overlay2/l/UGL6IHPGFTW7U4Q7YOYHSMU3VE:/var/lib/docker/overlay2/l/QVMXNFGL534AFXYHBCY4HGZF7S:/var/lib/docker/overlay2/l/B2IVOYDCQPWKB54SOHMHK4KHAS:/var/lib/docker/overlay2/l/YQN6XBYAEIMMIHDYQNZJKTI5CQ:/var/lib/docker/overlay2/l/LQKXF7XULJ7UZJPPCTTOSMWWVR:/var/lib/

[2018-08-02 07:16] TimYuenior commented on #398
After reinstalling some stuff on the second machine it seems to work again.
Thanks for the help!

[2018-08-02 07:16] #398 closed

[2018-08-02 11:00] hamzafar commented on #301
Hi @alexcordover,

I am trying to ssh from primary container to secondary and finding no luck to do so.

Could you please describe me the way how I can ssh through container and set port to 12345.

Regards
Hamza Zafar

[2018-08-02 11:02] hamzafar commented on #412
Hi @tgaddair, thanks I have ran horovod successfully.

But, Now I am not figuring out how I can run horovod on multiple machines; the error I have identified is that I am unable to ssh from primary container to secondary container. Would you please guide me how I can ssh secondary machine container at port 12345.

[2018-08-02 17:58] ppwwyyxx commented on #404
No, nothing was printed in dmesg on the day the error happens.

[2018-08-02 18:35] andresfvilla opened #418 "Horovod image build failure"
When attempting to build the horovod docker image following the steps in `docker.md`, the build fails due to the following error
[code]

When adding the `--allow-downgrades` it returns another error

[code]

it seems it requires `--allow-change-held-packages` as well but i am not sure if this flag is intended to be used. Is there a new NCCL version that should be used?

[2018-08-02 21:16] alsrgv commented on #418
@andresfvilla, thanks for raising this issue!  It's being addressed in #420.

[2018-08-02 21:22] #412 closed, assigned to nobody

[2018-08-02 23:01] tgaddair commented on #415
Hey @hamzafar, it looks like you're attempting to run the example [here](https://github.com/uber/horovod/blob/master/docs/docker.md) here verbatim as one big command line.

The actual command you want to run is:

[code]

This will place you in a new shell within your docker process.  From here, you can run the command to start the training:

[code]

The `root@c278c88dd552:/examples#` is just to il

[2018-08-03 03:15] alsrgv commented on #404
I'd recommend running the job with `NCCL_DEBUG=INFO`.  That may shed some light next time it happens.

[2018-08-03 03:25] ppwwyyxx commented on #404
The job was run with NCCL_DEBUG=INFO. It only prints some normal stuff at the very beginning of the training and nothing afterwards:
[code]

[2018-08-03 03:27] alsrgv commented on #414
@itsogkyc, you're on the right track.  Can you add `^` in your `NCCL_SOCKET_IFNAME`.  Either `-x NCCL_SOCKET_IFNAME=^cni0,docker0,em1,em2,em4,flannel.1,lo,p7p1,p7p2,veth3358f286,veth5d5a8c4e,vethac1f844a,virbr0,virbr0-nic` or `-x NCCL_SOCKET_IFNAME=^cni0,^docker0,^em1,^em2,^em4,^flannel.1,^lo,^p7p1,^p7p2,^veth3358f286,^veth5d5a8c4e,^vethac1f844a,^virbr0,^virbr0-nic`.

Alternatively, you can actual

[2018-08-03 03:34] shenqixiaojiang commented on #403
@meteortwinkle Hi, you can try the following command:

[code]

[2018-08-03 03:40] alsrgv commented on #404
Gotcha. Actually, since it's failing at `cudaMemcpyAsync`, I'm guessing it's either [this](https://github.com/uber/horovod/blob/587aef22e68e7a7381dcc07b6b8d365db2fbc267/horovod/common/operations.cc#L953) or [this](https://github.com/uber/horovod/blob/587aef22e68e7a7381dcc07b6b8d365db2fbc267/horovod/common/operations.cc#L1066) operation.  It may be a race condition or a CUDA issue.  Do you have any

[2018-08-03 03:46] alsrgv commented on #403
@meteortwinkle, how do you feed the input data - is it coming from local disk, or from some network storage?  I see that you were able to run the tests in #416.  Do you still see hangs?  What if you try with synthetic data?

[2018-08-03 03:48] ppwwyyxx commented on #404
I'm afraid I don't know how to reproduce it. Right now I've only seen it once.

Today I saw an issue (https://github.com/tensorflow/tensorflow/issues/21338) which basically says some unchecked cuda error in a buggy TensorFlow op may leak to other ops, making the other op appear to fail. I guess this is a possible explanation.

[2018-08-03 04:02] alsrgv commented on #406
@mariyahendriksen, since you mentioned that `libstdc++.so.6` does not exist, it's possible that conda is trying to import it from the system. Can you try the advise from this [StackOverflow](https://askubuntu.com/questions/726539/sudo-apt-get-install-libstdc) article?

[2018-08-03 04:05] alsrgv commented on #370
@YuJingBaoBao, @dhkwon1122, I would recommend checking #220 for the better way of broadcasting variables with TF-Slim.

[2018-08-03 04:28] alsrgv commented on #405
@jtchilders, one workaround I can think of is to:
1. Install vanilla `tensorflow==1.9.0` or `tensorflow-gpu==1.9.0`
2. Install Horovod
3. Replace TensorFlow installed in (1) with your KNL TensorFlow.

Would that work?

[2018-08-03 04:29] alsrgv commented on #252
@anpark, can you share the timeline file with this issue?

[2018-08-03 04:31] alsrgv commented on #131
Closing this issue due to lack of activity.

[2018-08-03 04:31] #131 closed

[2018-08-03 04:32] alsrgv commented on #141
Closing this issue due to lack of activity.

[2018-08-03 04:32] #141 closed

[2018-08-03 04:32] alsrgv commented on #153
Closing this issue due to lack of activity.

[2018-08-03 04:32] #153 closed

[2018-08-03 04:33] alsrgv commented on #135
Closing this issue due to lack of activity.

[2018-08-03 04:33] #135 closed

[2018-08-03 04:34] #21 closed

[2018-08-03 04:35] #60 closed

[2018-08-03 05:27] itsogkyc commented on #414
@alsrgv, thank your reply
I tried all what u said , but it still not work

When i type `mpirun -np 4 -H centos01:2,centos02:2 -mca plm_rsh_args "-p 12345" -mca btl_tcp_if_include em3 -x NCCL_SOCKET_IFNAME=em3 python keras_mnist_advanced.py`
I meet new error as below
[code]

[2018-08-03 05:41] #159 closed

[2018-08-03 05:43] alsrgv commented on #414
Since you're using provided Dockerfile, can you edit `/usr/local/etc/openmpi-mca-params.conf` and comment out `btl_tcp_if_exclude = lo,docker0`, and then try again?

[2018-08-03 07:15] itsogkyc commented on #414
Finally it worked after comment out `btl_tcp_if_exclude ` option
Just add one '^' at first . When I add all '^' in NCCL_SOCKET_IFNAME , It occured the error )
My command line like below

`
mpirun -np 4 -H centos01:2,centos02:2 -mca plm_rsh_args "-p 12345" -mca btl_tcp_if_exclude cni0,docker0,em1,em2,em4,flannel.1,lo,p7p1,p7p2,veth3358f286,veth5d5a8c4e,vethac1f844a,virbr0,virbr0-nic -x NCCL_SOCKET_

[2018-08-03 09:37] tingweiwu commented on #413
@pymia after I install nvidia driver, cuda and cuDNN on my container.   and horovod installed successfully

[2018-08-03 09:40] tingweiwu commented on #413
@tgaddair I  have installed tensorflow-gpu in a container. and my nvidia driver, cuda and cuDNN are installed on host, so i installed horovod failed . after i add cuda and cuDNN installed in container. horovod  installed success

[2018-08-03 11:35] #406 closed

[2018-08-03 11:41] pymia commented on #413
@tingweiwu that's great!

[2018-08-03 11:54] mariyahendriksen opened #422 "running horovod on cluster"
I am working on a cluster, want to distribute my training process across one machine with 8 GPUs on it. Due to security reasons, I can only install horovod in my conda env when there are no GPUs are requested. I suspect that for this reason running `HOROVOD_WITH_TENSORFLOW=1 pip install -v --no-cache-dir horovod` returns the following:

`Created temporary directory: /tmp/pip-ephem-wheel-cache-4o5n

[2018-08-03 15:27] tremblerz commented on #355
Hi @alsrgv sorry for the late reply. I got stuck with some other issues in the normal training. I will get back on it and let you know if I happen to use the described method.

[2018-08-03 19:10] jtchilders commented on #405
Thanks for the idea. I did this, but now see this error from `python -c "import horovod.tensorflow as hvd"`:

[code]

[2018-08-03 23:43] sparticlesteve opened #423 "Undefined symbol in mpi_lib for pytorch with Cray MPICH"
Hello,

I'm trying to install horovod+pytorch on a Cray system and having some trouble.

I have pytorch-cpu 0.4.1 in a python3.6 conda environment (with also TF 1.9). I cloned horovod v0.13.11, loaded gcc 7.2 (with a Cray compiler wrapper), and set HOROVOD_MPICXX_SHOW to link against the Cray MPI libraries. This builds seemingly fine with `python setup.py bdist_wheel`, and I pip install the wheel

[2018-08-04 03:02] meteortwinkle commented on #416
@alsrgv
On our server, 4 GPUs are connected with one PCIe Switch over PCIX16.
One server have two CPU(one with 22 physical cores), one connected to the other one over QPI connection.Also,one CPU connected to the 4 GPU PCIe Switch over PCIX16.
As your said, do you think the bound was the data transmission ?
Just like my earlier question, I also doubt about the efficency of horovod's mpi message pro

[2018-08-04 15:57] anpark commented on #252
the timeline file is ok, because it's thread lock.

i have found the bug and fixed it:  tensor_states_ not thread safe, so thread lock should be put in timeline.Start, End, ActivityStart....and so on

by timeline i found two big performance problem:
1. new/delete for large buffer not efficiency, for example allgather, 300M buffer new/delete will cost much time, so should use buffer pool
2. mpi_all

[2018-08-04 16:14] anpark commented on #316
very interesting discuss.

why not try ncclallgather? i'll try it

[2018-08-04 20:20] phalexo opened #424 "Can't install it either with pip or from a cloned repo."
(glow) developer@theano:~/horovod$ python setup.py install
running install
running bdist_egg
running egg_info
writing horovod.egg-info/PKG-INFO
writing dependency_links to horovod.egg-info/dependency_links.txt
writing requirements to horovod.egg-info/requires.txt
writing top-level names to horovod.egg-info/top_level.txt
reading manifest file 'horovod.egg-info/SOURCES.txt'
reading manifest template

[2018-08-05 01:36] roastduck commented on #316
@anpark, I found [snuspl's fork](https://github.com/snuspl/horovod) tried to add NCCL allgather support, but it doesn't perform well. You may take a look.

[2018-08-05 02:39] anpark commented on #316
@roastduck  i'm doing this now.

by timeline i found two big performance problem:

new/delete for large buffer not efficiency, for example allgather, 300M buffer new/delete will cost much time, so should use buffer pool
mpi_allgather should change to ncclallgather, in my test, mpi_allgather too slow for large buffer

[2018-08-05 12:12] hamzafar commented on #415
Hi @tgaddair, Thank you for recommending me solution for running horovod. I am running horovod on single machine using the following command:
` nvidia-docker run -it horovod:latest
root@c278c88dd552:/examples# mpirun -np 4 -H localhost:4 python keras_mnist_advanced.py`

But I can't do learning in the distributed environment.

For the sake of simplicity, I am using only two machines with the static

[2018-08-06 06:14] YuJingBaoBao opened #425 "What is the batchsize when test for scaling efficiency ?"
I see “Horovod achieves 90% scaling efficiency for both Inception V3 and ResNet-101, and 68% scaling efficiency for VGG-16.” in README.md
Is the batchsize equal to 64 or as large as possible when test tensorflow benchmark?

[2018-08-06 15:56] tgaddair commented on #425
Hey @YuJingBaoBao, per [this paper](https://arxiv.org/pdf/1706.02677.pdf) we keep the number of examples per worker constant at 32 for all our benchmarks.  This results in an effective minibatch size of **32 * k**, where k is the number of workers.

[2018-08-06 15:58] #413 closed

[2018-08-06 18:32] jtchilders commented on #405
In the end I could not get this working. I tried hacking the `tensorflow/core/platform/cpu_feature_guard.cc` file to replace the `LOG(FATAL)` with `LOG(WARN)` so Horovod would build without exiting. This worked, but when I ran on the KNL it still gave me the 'NotFoundError' as above.

So then I git cloned horovod outside the container, but ran the horovod build command `python setup.py build` insi

[2018-08-06 20:16] #333 closed

[2018-08-06 20:16] #366 closed

[2018-08-07 02:57] YuJingBaoBao commented on #425
Thanks @tgaddair , so the scaling efficiency in README.md is for reference. If we set batchsize  as large as possible, we may get higher scaling efficiency, right ?

[2018-08-07 13:26] LiweiPeng opened #426 "horovod MPI_Init_thread required thread level should be MPI_THREAD_SINGLE"
To support RDMA RoCE, when HOROVOD_MPI_THREADS_DISABLE is defined, MPI_Init_thread required thread level should be MPI_THREAD_SINGLE.

Here is why:
- The current horovod implementation won't work with OpenMPI when RDMA RoCE is used. OpenMPI will report error saying 'OpenFabric is disabled etc'.
- OpenMPI uses rdmacm for RDMA RoCE support. However, because rdmacm is not thread-safe, OpenMPI only su

[2018-08-07 17:43] Braigns commented on #422
Had a similar problem, try running a horovod docker container with singularity https://www.sylabs.io/guides/2.5.1/user-guide/ . Worked for me.

[2018-08-07 18:06] zelinlv commented on #417
@alsrgv thanks for replying! I reinstalled the environment and it worked.

[2018-08-07 18:48] rahul003 opened #427 "Pytorch example fails with OSError"
This might not be a Horovod issue but I run into `OSError: Too many files open` when I try to run the [Horovod Pytorch Imagenet example](https://github.com/uber/horovod/blob/master/examples/pytorch_imagenet_resnet50.py). I also tried just running on a single GPU, it still crashes. I don't run into this issue when I use the Pytorch [example for training Imagenet](https://github.com/pytorch/examples

[2018-08-07 22:15] sumedhvdatar opened #428 "How to do transfer learning with tensorflow and use horovod"
I am able to do transfer learning with tensorflow, I need a way to use horovod to integrate with existing code and the example code is not very helpful.

[2018-08-07 22:41] tgaddair commented on #428
Hey @sumedhvdatar, can you give an example of what you're trying to do?  Even in a transfer learning setting, you'll typically have an optimizer that you can wrap with the `HorovodDistributedOptimizer`.

[2018-08-07 22:48] sumedhvdatar commented on #428
Something like tensorflow for poets or tensorflow hub

[2018-08-07 22:48] tgaddair commented on #427
Hey @rahul003, have you tried increasing the maximum number of open files allowed on your system?  You can see an example of how to do this [here](https://www.tecmint.com/increase-set-open-file-limits-in-linux/).

[2018-08-07 22:52] tgaddair commented on #428
There's retrain script for that example you can modify.  [Here](https://github.com/tensorflow/hub/blob/master/examples/image_retraining/retrain.py#L796) is the section that initializes the optimizer.  You should be able to wrap that as shown in the Horovod examples:

[code]

[2018-08-07 23:02] tgaddair commented on #425
It's mostly about making sure the GPUs are being fully-utilized.

Large batch sizes will help ensure that you're using all of your available GPU memory.  At a certain point, the batch size may become so large that you're over the GPU memory limit, and that will not improve scaling efficiency.

If the batch size is too small, then the GPU will not be taking full advantage of its hardware.

In gener

[2018-08-07 23:44] #427 closed

[2018-08-07 23:44] rahul003 commented on #427
Not sure why, can't reproduce it today.

[2018-08-08 02:41] YuJingBaoBao commented on #425
@tgaddair  Thank you very much. You made things really clear.

[2018-08-08 02:41] #425 closed

[2018-08-08 05:09] sumedhvdatar commented on #428
Hi Travis

Thanks for letting me know I ll try that, also is der a way to use horovod
with spark and keras?

On Tue, Aug 7, 2018 at 5:52 PM, Travis Addair <notifications@github.com>
wrote:

[2018-08-08 05:44] wu-yy opened #429 "I meet an error when i used horovod"
WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that only subset of ranks is submitting tensors, which will cause deadlock.
Stalled ops:
allreduce.avg_loss [missing ranks: 1]
WARNING: One or more tens

[2018-08-08 14:40] tgaddair commented on #429
Hey @wu-yy, can you share what code you're running, and how many workers you're running?  This type of error usually indicates that different workers are running different code (in this case, worker 1 is not calling allreduce on the avg_loss tensors).

[2018-08-08 17:38] jeffhammond commented on #278
@alsrgv Indeed, fp16 won't lose much if you have numbers with similar exponents.  However, if you ever lose bits in the summation, there is the potential for non-determinism from MPI.  While I know of no MPI implementation that uses a nondeterministic algorithm for reductions, the MPI standard permits it, and the performance benefits may be significant enough to motivate implementing it in the fut

[2018-08-08 18:17] tgaddair commented on #428
There is!  We have some docs on Keras [here](https://github.com/uber/horovod#keras).  As for Spark, there is some [experimental work ](https://docs.azuredatabricks.net/applications/deep-learning/distributed-deep-learning/horovod-estimator.html) that's been done, but not sure how far along it is (I haven't tried it yet).

[2018-08-08 22:55] LiweiPeng opened #430 "question: why nccl allgather is not supported?"
In horovod implementation, only MPI allgather is supported. Why isn't nccl allgather supported? any specific reasons? Thanks.

[2018-08-08 23:13] vsuthichai commented on #430
I had been wondering the same thing.  I'm attempting to benchmark distributed training on a transformer model that is a part of OpenSeq2Seq.  The embedding gradients appear to be IndexedSlices.  The allreduce for IndexedSlice is implemented as 2 allgathers, which I've traced on the Horovod timeline to MPI allgather.  The MPI allgather lasts about 2-3 seconds and is a significant bottleneck for the

[2018-08-09 00:52] karthikvadla opened #431 "mpi_lib.so: undefined symbol: _ZNK10tensorflow8OpKernel4nameEv on CPU nodes"
Hi, We are running into below issue with CPU nodes where we installed `anaconda` and inside `horovod`.
We are using `tensorflow 1.9` and `openmpi 3.0.0` (tired with `3.1.1` too, have the same issue).

[code]

[2018-08-09 01:36] wu-yy commented on #429
Thank you for you reply @tgaddair .My code is [here](https://github.com/wu-yy/horovod/blob/master/examples/pytorch_mnist.py) which is the example of horovod. I just run the example on Pytorch .
And my command is:` mpirun -np 2 \
    -H localhost:2 \
    -bind-to none -map-by slot \
    -mca pml ob1 -mca btl ^openib \
    python3.6 pytorch_mnist.py`

[2018-08-09 02:51] tgaddair commented on #431
Hey @karthikvadla, looks like a TensorFlow install issues.  Can you try installing TensorFlow and Horovod in a fresh virtualenv?

[2018-08-09 03:01] tgaddair commented on #429
Hmmm, so you're running it all locally.  That's curious.  Have you verified that password-less ssh works with `ssh localhost`?

If that doesn't work, could you try making a gist with `strace` as shown in this comment [here](https://github.com/uber/horovod/issues/110#issuecomment-347737251)?

[2018-08-09 04:59] anpark commented on #430
Same question and i tested ncclallgather

P40 two nodes, 16 GPUS:  700000 * 128 gradients allgather cost 350ms, while mpi_allgather cost 450ms

but still not ideal for the scale, if 32GPUs, 64GPUs, allgather will more slow.

any one has idea for large scale IndexedSlice sum or average? I'll have to try gradient compress

[2018-08-09 05:09] anpark commented on #426
can you share the details of RDMA + horovod ? such as cluster env, horovod commands and so on.  thanks

[2018-08-09 05:58] wu-yy commented on #429
@tgaddair when I run `ssh localhost`，it works and it print
 `Welcome to Ubuntu 16.04.4 LTS (GNU/Linux 4.4.0-116-generic x86_64)

 * Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage
`and more

1. when I run the command 1
`strace  -o out.txt mpirun -np 2 \
    -H localhost:2 \
    -bind-to none -map-by slot \

[2018-08-09 14:41] LiweiPeng opened #433 "perf feature request: add a new env var to control 'allgather' vs 'allreduce'"
I found a performance problem for horovod related to allreduce implementation.

In horovod tensorflow implementation (tensorflow/__init__.py), the 'def allreduce()' function works like
 1) if tensor is tf.IndexedSlices, use allgather, which will call MPI_Allgather.
 2) else, use **_allreduce**, which can be mpi allreduce, nccl all reduce, etc.

After I found my code didn't performa well, I compare

[2018-08-09 15:37] tgaddair commented on #433
Hi @LiweiPeng, thanks for the suggestion.  One question though: wouldn't this potentially be dangerous in cases where the indices from one rank differ from the indices from another rank for the same IndexedSlices tensor?

In an allreduce implementation, we pack the elements of the tensor into a buffer and then reduce them, but it's possible that the first element of the buffer from rank 0 correspo

[2018-08-09 16:05] vsuthichai commented on #430
@anpark I have the same issue actually open for OpenSeq2Seq.
 You can find more details about my situation there.
 https://github.com/NVIDIA/OpenSeq2Seq/issues/204

[2018-08-09 17:58] tonyreina commented on #431
I've been helping Karthik with this. A little more info.

We're using an Anaconda environment which now picks up the Intel TensorFlow MKL-DNN version via `conda install tensorflow`. That's good because we are doing everything on a CPU (without GPU). The machine has CentOS 7 which comes with the older gcc 4.8.5.

I've confirmed that Horovod works when I use the non-MKL-DNN version via `pip install

[2018-08-09 18:34] alsrgv commented on #430
@vsuthichai, it seems that your issue manifests due to the nature of AWS 10Gbit flow limits.  MPI hits 10Gbit limit since it opens only one TCP connection, but NCCL can open multiple connections and reach 25Gbit by using `NCCL_MIN_NRINGS=4`. I've provided more feedback [here](https://github.com/NVIDIA/OpenSeq2Seq/issues/204#issuecomment-411852769).

In general, here are the tradeoffs available:
1.

[2018-08-09 18:41] alsrgv commented on #423
@sparticlesteve, sorry for a delayed reply.  Could you reinstall Horovod with `-v --no-cache-dir` and provide a full installation log (preferably in [gist](https://gist.github.com/))?

[2018-08-09 18:45] alsrgv commented on #416
@meteortwinkle, I think this system configuration is not great for V100s.  They really need NVLink to successfully scale within a node, and a single PCIx16 switch is very likely getting saturated.

You can use standard MPI tools for profiling MPI message processing.  [mpiP](http://mpip.sourceforge.net/) seems promising, but I have not personally tried it.

I doubt your scaling issue is due to MPI

[2018-08-09 19:06] alsrgv commented on #252
@anpark, great catch!  Submitted a PR for the fix (#434).

[2018-08-09 19:48] alsrgv commented on #405
Can you do `[flags] python setup.py install` inside the container running on KNL chip?  Alternatively, you can do `[flags] python setup.py bdist_wheel` inside the KNL container and create a binary wheel file that you can install quicker than source installation.

[2018-08-09 19:53] alsrgv commented on #415
@hamzafar, as @tgaddair mentioned, you should NOT have `root@c278c88dd552:/examples#` in your command.  Can you remove it and try again?  If it does not work, please share the output.

[2018-08-09 20:38] tonyreina commented on #431
Followup:  I built TensorFlow from source (including MKL-DNN) on the machine. This seems to work. So there's something weird about the TensorFlow wheel we were using.

[2018-08-09 20:57] sumedhvdatar commented on #428
@tgaddair Uhmm! thats not very helpful. Can I use something hyperas to perform hyperparameter optimization on Horovod?

[2018-08-09 22:07] alsrgv commented on #428
@sumedhvdatar, can you clarify what specifically you do not understand from the examples?  As for hyperas support, I made an example for you - https://gist.github.com/alsrgv/48cf1fe8552212e6b5131e8ae48e8c66.

[2018-08-09 22:08] LiweiPeng commented on #433
Thanks for the updates. I am not aware of this level of details for IndexedSlices tensor.  I'll see whether I can convert the sparse tensor to a dense tensor.

My original concern is that MPI allgather is slower than nccl APIs. So if the issue mentioned in https://github.com/uber/horovod/issues/430 is resolved, it may resolve my performance concern.

[2018-08-09 22:10] alsrgv commented on #433
I concur with @tgaddair that this will unfortunately not work.  Replacing feature tags with a question.

[2018-08-09 22:13] sumedhvdatar commented on #428
@alsrgv Hey thank you so much, I was looking for something like this. Thanks!

[2018-08-09 22:13] #428 closed

[2018-08-09 23:44] alsrgv commented on #429
@wu-yy, could you also share the complete output of the script, starting with `mpirun` command?

[2018-08-09 23:45] alsrgv commented on #431
Could this by any chance be related to #405?

[2018-08-09 23:48] alsrgv commented on #422
@mariyahendriksen, if you have to install horovod in an environment without GPU, you can trick TensorFlow into using stub CUDA libraries by doing this:

[code]

[2018-08-09 23:58] LiweiPeng commented on #433
I am not a tensorflow expert. Because of performance difference, I'd like to try what @tgaddair suggested. Questions:
1) how to I know whether all ranks have the same indices in the IndexedSlices tensor or not? I am using tensorflow to run a transformer model for machine translation problem.
2) how to convert sparse tensor to dense tensor? what's the cost for this extra step?

Thanks.

[2018-08-10 00:04] alsrgv commented on #433
@LiweiPeng, most likely they will not have the same indices.  If they have the same indices it means they processed exactly the same sentence, which won't be true.

[2018-08-10 00:40] tgaddair commented on #433
@LiweiPeng, [tf.sparse_to_dense](https://www.tensorflow.org/api_docs/python/tf/sparse_to_dense) is how you would do it in TensorFlow.  But that may be more costly than just doing the allgather with sparse tensors (still, may be worth experimenting with for your particular use case).

[2018-08-10 00:47] #252 closed

[2018-08-10 00:47] #316 closed

[2018-08-10 01:57] wu-yy commented on #429
@alsrgv Thank you very much! There is no errors when I set the test_batch_size to 100.
And my program is [here](https://github.com/wu-yy/OutputFile/blob/master/pytorch_mnist.py).

[2018-08-10 02:03] alsrgv commented on #429
I see.  It's possible that you were running out of memory with test_batch_size of 1000.

[2018-08-10 02:14] alsrgv commented on #217
This was implemented by #394.

[2018-08-10 02:14] #217 closed

[2018-08-10 02:16] alsrgv commented on #194
@jmjwozniak, does #394 solve your need?

[2018-08-10 02:25] wu-yy commented on #429
@alsrgv yep, Thanks!

[2018-08-10 05:44] sumedhvdatar commented on #96
Is model parallelism supported in Keras using horovod?

[2018-08-10 11:45] anpark commented on #433
sparse to dense is a bad idea, not try it.

[2018-08-10 15:52] tonyreina commented on #405
I think I have a similar error using the new Anaconda wheel (which has MKL-DNN included).

I ended up rebuilding both TensorFlow (with MKL-DNN) and OpenMPI on the Xeon and it works.  My guess is that the glibc included with CentOS 7 is just too out of date compared with the compiler being used to create the official TensorFlow wheels.

If anyone knows differently, please let me know.

Thanks.
-Ton

[2018-08-10 16:52] MukundKhandelwal opened #436 "Training on multiple hosts using synthetic data"
Hi,

I am trying to run distributed training using Horovod on multiple hosts with CPU only. The process halts after running this command and there is no initiation of model generation or warm ups. The command that I am using is:

mpirun -np 12 -H server 1: 4, server 2: 4, server 3: 4 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib python scrip

[2018-08-10 21:35] sumedhvdatar opened #437 "Model parameter tuning in parallel"
Using horovod can we perform hyperparameter tuning using Keras. For example I have 6 gpus and I want to provide different parameters for each model and run in parallel. Is there a way we can run the models in parallel and get the best model or probably the report of how each model performed with the specified hyperparameters in parallel.

[2018-08-10 21:46] alsrgv commented on #96
@sumedhvdatar, yes - use the same technique as in https://gist.github.com/alsrgv/cbbb2e25f09c1df983098098511d16c4 and use https://keras.io/getting-started/faq/#device-parallelism for pinning layers to a specific GPU.

[2018-08-10 21:51] sumedhvdatar commented on #96
@alsrgv just made my question more clear by raising this issue #437. Can you clarify on that?

[2018-08-10 21:51] alsrgv commented on #437
@sumedhvdatar, it's actually better to use distributed 6-GPU training to get results for each experiment ~6x times faster, since in that case, next experiment can use prior experiment results to decide which parameters to use.  This is particularly useful for Bayesian optimization.  Hyperas/Hyperopt uses TPE algorithm described [here](https://arxiv.org/pdf/1209.5111.pdf), which will benefit from s

[2018-08-12 06:49] hamzafar commented on #415
@tgaddair, Thank you for recommendation, I am pleased to share that I have resolved the error you have mentioned above.

But about couple of days, I am helpless to run horovod on distributed machines. Like I have two machine  s on which I am trying to excuted keras_advanced_minst.py in distributed manner. But, every time I ran
the script I got error:

`bash: /usr/local/bin/orted: No such file or d

[2018-08-13 08:35] SunnyBeike opened #438 "run tensorflow_mnist.py on multiple nodes"
Hi,
I use the following command to run horovod-master/examples/tensorflow_mnist_estimator.py:

`mpirun -np 2 -H server1:port,server2:port -x LD_LIBRARY_PATH python tensorflow_mnist.py
`

Both server1 and server have one GPU each. Since I met the similar problem with https://github.com/uber/horovod/issues/94, I solved this problem by simply commenting

`config.gpu_options.visible_device_list=str(hv

[2018-08-13 11:07] #438 closed

[2018-08-13 11:59] MukundKhandelwal commented on #436
@alsrgv Could you please help me with the issue. Thanks.

[2018-08-13 16:58] brksrl commented on #96
Hello @alsrgv,

for the given example: https://gist.github.com/alsrgv/cbbb2e25f09c1df983098098511d16c4

As far as I understand this is hybrid parallelism, as there is a model parallelism within each model replica. Hovorod provides MPI communication between replicas, but how about communication between gpu's inside the replica? For the given example above, does "/gpu:0" and "/gpu:1" communicate via

[2018-08-13 17:24] wlepera opened #439 "MPI_Finalize() called after exit during shutdown"
We are seeing an issue with horovod and IBM Spectrum MPI, with fatal errors and aborts/core dumps at termination.  I work on the Spectrum MPI team at IBM and was asked to investigate.  What I found was the Linux exit handlers were being invoked before MPI_Finalize() was called.

I looked at the horovod code, and although I'm not fluent in Python, it appears that the horovod_shutdown() routine defi

[2018-08-13 22:09] alsrgv commented on #415
@hamzafar, can you remove `aifi@` from your command, align port #s (you need to use 2222 on both sides):
[code]

[2018-08-13 22:16] alsrgv commented on #439
Hi Bill,

Your interpretation of Horovod behavior is correct.  It seems that most MPI implementations are OK with `MPI_Finalize()` being called in exit hooks.  [mpi4py](https://mpi4py.scipy.org/) uses [similar behavior](https://mpi4py.readthedocs.io/en/stable/overview.html#initialization-and-exit), since it makes it convenient for users.

To workaround, users could add `hvd.shutdown()` at the end

[2018-08-13 23:40] LiweiPeng opened #440 "Question: when to use BroadcastGlobalVariablesHook?"
When calling hvd.BroadcastGlobalVariablesHook(0), should we call this once for the first epoch or calling for each epoch?

My current code looks like below. Should I call bcast_hook only for the first epoch index?

[code]

[2018-08-13 23:46] LiweiPeng opened #441 "Question: should each process read a portion of the full input dataset?"
When using N processes in horovod, should each process read the full input dataset, or each process read 1/N input dataset?

Will the following hvd code work properly?
[code]

[2018-08-14 00:26] alsrgv commented on #441
@LiweiPeng, it should read 1/Nth and your example is perfect!

[2018-08-14 00:27] alsrgv commented on #440
@LiweiPeng, what is `transformer` in this example? Usually, you can call the broadcast hook only once.

[2018-08-14 01:08] alsrgv commented on #436
@MukundKhandelwal, could you check if anything mentioned in [here](https://github.com/uber/horovod/blob/master/docs/running.md#hangs-due-to-non-routed-network-interfaces) or [here](https://github.com/uber/horovod/blob/master/docs/troubleshooting.md) is applicable to you?  Also, if you're using CPU you may want to run # of processes = # of sockets per server, or even one process per server.  Finall

[2018-08-14 01:45] LiweiPeng commented on #440
Sorry, I should make it clear. 'transformer' is a wrapper around the google Transformer model for machine translation model.

[2018-08-14 03:35] alsrgv commented on #440
In that case calling the broadcast once should be fine.

[2018-08-14 04:34] yogurfrul opened #442 "Can't understand WAIT_FOR_DATA and WAIT_FOR_OTHER_TENSOR_DATA"
I run horovod.tensorflow , and we know gradient is the input to allreduce op  ,they are data dependencies. So when the HorovodAllreduce op start must after the gradient computing op.
How can Tensorflow smartly interleave scheduling and GPU computation to make HorovodAllreduce start before gradient compute ready!
And I read the source code , I get the WAIT_FOR_DATA sub-phases just check the ready_e

[2018-08-14 04:46] anpark commented on #442
this is for fusion tensor data check, not for HorovodAllreduce start before gradient compute ready.

HorovodAllreduce start before gradient compute ready checked by ncclallgather or mpi to sync

[2018-08-14 05:01] yogurfrul commented on #442
I delete the wait_for_data code in   operations.cc from line 754 to line 779 .https://github.com/uber/horovod/blob/master/horovod/common/operations.cc#L754
and reinstall horovod
it run ok

[2018-08-14 05:47] yogurfrul commented on #442
check what ?
all the gradients would check readiness before pushed into ready_to_reduce vector.

[2018-08-14 08:27] popfido opened #443 "OSError: mpi_lib.cpython-36m-x86_64-linux-gnu.so:undefined symbol: ompi_mpi_op_sum"
It seems like the compiled mpilib.so has not been bounded with openmpi.so, but the process of compilation during pip installing works well. Any idea on how to solving it?

Here is the error info:

Here is the -v info during pip install:

[2018-08-14 11:13] brksrl commented on #96
@alsrgv, What if we use cpu instead of gpu. In that case, is communication between "/cpu:0" <-> "/cpu:1" gRPC(default) or MPI? If it is gRPC, is there a way to force communication to be MPI between "/cpu:0" <-> "/cpu:1"?

[2018-08-14 11:51] yogurfrul commented on #442
I found this in tensoeflow/mpi_ops.cc
when the HorovodAllreduceOp start ,we know the data is ready,but output is allocated async,
so ,if we don't check the ReadyEvent before actully run ncclAllreduce operation  in PerformOperation func, maybe when ncclallreduce finished the output is still not allocated ,memcpy out from fusion buffer to output would get an andress error?
@alsrgv @anpark it is righ

[2018-08-14 13:06] greeshmaunni1990 commented on #162
@vilmara Hi, I was having the same issue as you were saying above
" followed the steps in passwordless authentication, but when we are working inside the docker the user is changed to root; and the passwordless authentication was done with a different user, I think that is the reason we can't ssh between the machines inside the docker. Some recommendations on this issue?."

Did you manage to resol

[2018-08-14 13:56] hamzafar commented on #415
@alsrgv, I have made consistency in ports on both machine i.e. they both are running on port 12345, but when I invoke mpi job in primary machine (m1) as:

`mpirun -np 2 -H m1:1,m2:1 -mca plm_rsh_args "-p 12345 -v" python keras_mnist_advanced.py`

It ended up with some hang, you can see the screen shot of the hang as below:
![err-1](https://user-images.githubusercontent.com/6842017/44094622-bc950ab

[2018-08-14 14:39] #440 closed

[2018-08-14 14:39] #441 closed

[2018-08-14 14:40] #433 closed

[2018-08-14 14:50] LiweiPeng commented on #426
@alsrgv I am using openmpi 3.1.1. The logging at btl_openib_connect_rdmacm.c:2021 is not accurate. The actual code logic is:
- If opal_using_threads() is true, it will have this error.
- opal_using_threads is set at this line: https://github.com/open-mpi/ompi/blob/master/ompi/runtime/ompi_mpi_init.c#L436, like below
[code]

[2018-08-14 14:56] LiweiPeng commented on #426
@anpark I am using RDMA RoCE with OpenMPI. The mpi command line looks like below
[code]
I am using cuda 9.2 with GPU direct. The critical part is rdmacm used by OpenMPI for openib.

[2018-08-14 18:11] patrickcho168 opened #444 "Inner workings of allreduce while computing AUC"
Hi @alsrgv

I'm trying to compute validation metrics and I'm wondering how allreduce combines the metrics calculated on different GPUs.

From https://github.com/uber/horovod/issues/362
[code]

In this case, are we averaging the auc values computed on different machines? Taking an average of auc values in such a manner will not be give an accurate overall auc value.

Or are we averaging the TP, FP,

[2018-08-14 21:55] sparticlesteve commented on #423
Hi @alsrgv,

Thanks for the reply, and sorry for my own slow response.

I've been playing with things a fair bit and have a slightly modified setup from above. Same issue, though, so I'll just describe the new setup.

I reverted to pytorch v0.4.0, with python 3.6, horovod v0.13.11, without TensorFlow.
The compiler is gcc 7.3.0 with a Cray wrapper, which I guess complicates things.
I've trimmed dow

[2018-08-14 21:58] vilmara commented on #162
@greeshmaunni1990 make sure both servers have the same docker image (assuming only 2 servers) by rebooting them.

I created a script file to setup up the SSH login without password:
#######
`#! /bin/bash

#Note: Run this script on the primary server only
#Server 1:  <ib0_s1>
#Server 2:  <ib0_s2>

ssh-keygen -t rsa
ssh root@<ib0_s2> mkdir -p .ssh
cat .ssh/id_rsa.pub | ssh root@<ib0_s2> 'cat >> .ssh

[2018-08-15 00:35] theJiangYu opened #445 "Redundant ALLGATHER right after ALLREDUCE operations?"
Hi, is there anyone could help with this issue?
I am training a Transformer model using Horovod on multiple nodes. The ALLGATHER operation happens every batch, right after all ALLREDUCE operations.
Is the ALLGATHER operation redundant, since we all ready have ALLREDUCE operations?
The growing time spending on ALLGATHER with the number of nodes makes the distributed training unable to scale.
Attach

[2018-08-15 01:14] patrickcho168 commented on #444
Running the following experiment:
[code]

Output:
[code]

From these experiments, it seems like the correct way to do it is to do:
[code]
instead of
[code]

However, in actual practice, it might be fine to just average the auc scores, as long as the datasets are large and randomly shuffled.

[2018-08-15 01:14] #444 closed

[2018-08-15 02:58] anpark commented on #445
that's ok. see #

[2018-08-15 03:05] labor00 opened #446 "Problem to build horovod (horovod/torch/tensor_util.cc:39:30: error: ‘THByteTensor_newSizeOf’ was not declared in this scope)"
Hello. I was trying to build the Horovod library and I got this error when compiling the Horovod with the pytorch from the master brach of its repository. However I was able to compile the Horovod using pytorch 0.4.1, Is there any workaround besides working with the 0.4.1 ?
thanks
[code]

[2018-08-15 04:51] theJiangYu commented on #445
@anpark Thank you so much for your swift reply and the great info!
Looking forward to the new method!

[2018-08-15 04:51] #445 closed

[2018-08-15 13:02] MukundKhandelwal commented on #436
Hi,
I ran the command after removing spaces but it still hangs. As far as the network interfaces are concerned, I have a Local Loopback and Ethernet.
However, I do see a similar prompt (shown below) while trying to SSH to other hosts.
![image](https://user-images.githubusercontent.com/31802591/44149298-995743d2-a069-11e8-9fce-35774ff40efe.png)
Could this be the reason why the process hangs and do

[2018-08-15 14:16] jmjwozniak commented on #194
Probably- I have not run it yet but the basic idea and changes look very similar to my fork.  However, is it possible to call #394 from C?  That is something my fork supports.

[2018-08-15 18:37] tgaddair commented on #436
Hey @MukundKhandelwal, you should definitely enable passwordless authentication.  This is most likely what's causing the hanging you're experiencing.

[2018-08-15 21:25] alsrgv commented on #426
@LiweiPeng, good catch.  I have published a PR #447 with a fix, could you try it and confirm it fixes your problem?

[2018-08-15 21:29] alsrgv commented on #442
@yogurfrul, what we found is that both TensorFlow and PyTorch will start running Horovod op **before** GPU kernels are fully completed.  That's because GPU kernels are usually asynchronous, and so simply executing ops like this:
[code]

Will potentially cause mpi_allreduce to perform the operation on garbage.  For that reason, we add event synchronization between (1) and (2).

[2018-08-15 21:38] rajchinna opened #448 "Unable to install Horovod on CENTOS 7.5"
running install
running bdist_egg
running egg_info
writing requirements to horovod.egg-info/requires.txt
writing horovod.egg-info/PKG-INFO
writing top-level names to horovod.egg-info/top_level.txt
writing dependency_links to horovod.egg-info/dependency_links.txt
reading manifest file 'horovod.egg-info/SOURCES.txt'
reading manifest template 'MANIFEST.in'
no previously-included directories found mat

[2018-08-16 02:09] SunnyBeike opened #449 "Questions about WAIT_FOR_DATA"
Hi,

I use a Four GTX1080 GPs machine to test Horovod using ResNet50 (https://github.com/alsrgv/benchmarks/tree/horovod). I found that the time duration of WAITH_FOR_DATA is very long and varies dramatically.

![image](https://user-images.githubusercontent.com/3234818/44183184-9b468580-a13c-11e8-948d-12f357e57085.png)

In the Horovod source code, the WAIT_FOR_DATA is monitored in the PerformOperat

[2018-08-16 02:48] hewei1990102 commented on #326
@alsrgv The cause of the problem is some GPU machine's PCIe which has bug, we change a new PCI board then the speed is ok.

[2018-08-16 02:49] #326 closed

[2018-08-16 06:51] sumedhvdatar commented on #437
@alsrgv I ran two codes one with just hyperas and only 1 GPU and the second code, the one you sent with 2 gpus. I see that Horovod code is actually taking more time than running hyperas on 1 GPU. Is there an alternative to this?

[2018-08-17 00:32] alsrgv commented on #443
@popfido, can you check that you don't have another version of MPI installed on your machine, including your anaconda installation?  Which version of Open MPI is installed in /opt/openmpi?  Did you configure it with `--enable-mpirun-prefix-by-default` flag?  If not, can you try to add `--prefix=/opt/openmpi` to your `mpirun` command?

[2018-08-17 00:33] alsrgv commented on #96
@brksrl, if you use CPU, you don't need to manually specify devices.

[2018-08-17 04:16] alsrgv commented on #437
@sumedhvdatar, did you install Horovod with NCCL?  I just did an experiment on P100 with NCCL, and I don't see such drastic regression.

* 1xP100 - 3m25.238s
* 2xP100 - 4m10.933s
* 4xP100 - 2m18.437s

Note, that 2xP100 is slower than 1xP100 because MNIST is such a small model that communication has quite significant cost compared to model computation.  You will see much better scaling with larger

[2018-08-17 04:40] sumedhvdatar commented on #437
@alsrgv  thanks for verifying. Can you elaborate more on installing horovod with NCCL?

[2018-08-17 06:45] alsrgv commented on #423
@sparticlesteve, I think the issue is that you're using C++ compiler for C compilation.  Horovod currently using legacy CFFI PyTorch bindings which are done in C.  Replacing `export CC=CC` with `export CC=cc` in your Horovod build may fix this.

[2018-08-17 06:52] alsrgv commented on #449
@SunnyBeike, please check recent discussion #442.

[2018-08-17 07:17] tingweiwu opened #450 "unable to run tensorflow_mnist example on muti nodes"
I hava run two container on two nodes with host network.
and mount the host dir "/root/.ssh" to container dir /mnt/share/ssh
and two nodes are passwordless authentication.

I use the images uber/horovod:0.13.10-tf1.9.0-torch0.4.0-py3.5
https://hub.docker.com/r/uber/horovod/

[code]

and i get error in first node logs as follow
[code]

[2018-08-17 07:25] alsrgv commented on #450
@tingweiwu, instead of mouting host `/root/.ssh` into container `/mnt/share/ssh`, you should mount directory with ssh keys into **container** `/root/.ssh`.  If you set up passwordless auth keys in `/root/.ssh`, you can mount `/root/.ssh` -> `/root/.ssh`.

[2018-08-17 07:26] tingweiwu commented on #450
on first container
![image](https://user-images.githubusercontent.com/29671725/44253329-d37bc000-a231-11e8-9632-65f5aba759ca.png)

on sencond container

![image](https://user-images.githubusercontent.com/29671725/44253343-e1314580-a231-11e8-8bd6-d5548be42334.png)

[2018-08-17 07:27] tingweiwu commented on #450
@alsrgv  ok, I will try as you said

[2018-08-17 07:37] tingweiwu commented on #450
@alsrgv , I have tried mount /root/.ssh -> /root/.ssh  and continue to run the tensorflow_mnist example. this times, I get error as follows.
It seems that still have communicate problems
I wonder whether I set  "btl_tcp_if_include eth0" impact or not?

[code]

[2018-08-17 07:41] alsrgv commented on #450
@tingweiwu, yes, can you try removing `-mca btl_tcp_if_include eth0` ?

[2018-08-17 08:00] tingweiwu commented on #450
@alsrgv remove `-mca btl_tcp_if_include eth0` get error as follows and hang at this point

[code]

and I  add `-mca btl_tcp_if_exclude docker0,tunl0,lo ` the whole command as follows  and solved this problem
[code]

and the following is my first node `ifconfig` output.
 I confused that whether I should exclude all except eth0? because I have some unconfirmed network like `cali3ec275e4919` which is

[2018-08-17 08:36] alsrgv commented on #450
@tingweiwu, makes sense - glad you were able to resolve the issue!

[2018-08-17 08:36] tingweiwu opened #451 "can horovod run distributed in muti containers on the same nodes"
I means that I run two containers on the same nodes.
As host network is used the two containers ip is the same as nodeIp

[code]

can I run this in first containers
[code]
and run this in sencond containers?
[code]

[2018-08-17 08:44] tingweiwu commented on #450
@alsrgv but I can not list all the network card to exclude because part of them is dynamically generated. Is there a good suggestion to solve this?

[2018-08-17 08:57] alsrgv commented on #450
@tingweiwu, sure - you can replace `btl_tcp_if_exclude = lo,docker0` with `btl_tcp_if_include = eth0` in `/usr/local/etc/openmpi-mca-params.conf` inside the docker.

[2018-08-17 08:58] alsrgv commented on #451
@tingweiwu, you don't have to run multiple containers on the same host, you can simply run multiple processes within the same container:
[code]

[2018-08-17 17:14] LiweiPeng commented on #426
This PR #447  works for me. I have been running this fix for about 2 weeks by changing this myself.

[2018-08-17 18:16] LiweiPeng opened #452 "OpenMPI GPUDirect: setting cuda rdma limit slowed down horovod app"
I am running a machine translation (nmt) app using horovod on 3 nodes, 2 GPU/node, with GPUDirect. I am testing on how to improve the performance by tuning OpenMPI parameters.  The parameter I tried is btl_openib_cuda_rdma_limit. However, this parameter didn't work as expected when using horovod.

I tested btl_openib_cuda_rdma_limit with same mpirun parameters but using osu benchmarks (osu_latency

[2018-08-17 19:52] sumedhvdatar commented on #437
@alsrgv  i am using Tesla K80. Let me check the documentation and run the experiment. Many thanks!

[2018-08-18 05:39] tingweiwu commented on #451
@alsrgv  Thank you for your reply. Yes, I know I can run multiple processes within the same container.
I  confused this case as follow:
In  a k8s cluster, it shedules pod (which contain container)  among a cluster hosts.
As pod is k8s sheduled unit. Assume that each host has 4 gpu. And I want to run a distributed horovod example like `tensorflow_mnist.py`  and  set `-np 4 -H server1:2,server1:2`.

[2018-08-18 06:35] #426 closed

[2018-08-18 21:36] aaron276h opened #455 "PyTorch gradient aggregation + Horovod"
In stand-alone PyTorch it is possible to accumulate gradients from multiple batches before applying them by not calling `optimizer.step()`. However in Horovod, when we call `loss.backwards()`, we begin to send the update asynchronously in the background right away, thus not calling `optimizer.step()` does not reduce communication. What is the simplest way to emulate the stand-alone PyTorch method

[2018-08-20 04:29] alsrgv commented on #451
@tingweiwu, I see. You can achieve this by running ssh server on a unique port in each container, and making a special ssh config in `/root/.ssh/config`, like this:
[code]

You'd need to orchestrate port allocation somehow.

[2018-08-20 04:31] alsrgv commented on #443
@popfido, your Intel MPI library is installed into `/opt/openmpi`?

[2018-08-20 07:06] tingweiwu commented on #451
@alsrgv Many thanks for your replay. I have try to use  `MPI Operator` as the `README.md` suggested.
and I have run the `tensorflow_mnist.py` examples successfully.

I wonder that  in Kubernetes with `MPI Operator`. whether horovod's  performance is the same as  the `host-network` container  mode?

![image](https://user-images.githubusercontent.com/29671725/44324845-74b08380-a489-11e8-8618-cec46ef

[2018-08-20 07:10] tingweiwu commented on #450
@alsrgv I will try this proposal. Thanks a lot

[2018-08-20 07:42] alsrgv commented on #451
In general, host networking can be quite a bit faster than the default virtualized networking if the underlying hardware is fast enough.  I don't have data on the performance points where it starts to matter a lot, but you could try to run an experiment on your hardware and share results :-)

cc @rongou, does MPI operator support / plan to support host networking?

[2018-08-20 11:17] SunnyBeike commented on #449
Thanks @alsrgv .

Another question, will the negotiation time increase linearly with the number of GPUs?
Since I only have four GPUs, I can not do such experiments.

[2018-08-20 15:45] rongou commented on #451
No current plan to support it specifically. You might be able to set `hostNetwork: true` in your podspec and see if that works.

[2018-08-20 19:10] SrivastavaKshitij commented on #312
Hi @alsrgv : I tried keras multi-gpu and i get the folllowing error:
```ValueError: To call `multi_gpu_model` with `gpus=4`, we expect the following devices to be available:     ['/cpu:0', '/gpu:0', '/gpu:1', '/gpu:2', '/gpu:3']. However this machine only has: ['/cpu:0', '/gpu:0'    ]. Try reducing `gpus`.```

I know this is keras known error but I was wondering if u came across this problem at ur

[2018-08-21 03:08] tingweiwu commented on #451
@rongou I have tried to set `hostNetwork: true`, it works. But I prefer not to use `host network` in kubernetes as port conflicts and other issues.
Now I cann't do performance test right for some reasons. In my kubernetes I use `calico` as my CNI plugin, I researched before and found `calico` performance is nearly to `host network` compared to other  docker virtualized networking.
@alsrgv So, I st

[2018-08-21 03:59] rongou commented on #451
I think you are comparing apples and oranges. Docker is just a container engine, by itself it doesn't help with orchestration; kubernetes and the mpi operator together make it easier to launch multi-node training jobs.

As for networking, all these plugins are not that different. Of course, if you have an HPC setup with infinibands or RoCE, that's a different story.

[2018-08-21 05:29] wu-yy opened #456 "when I change the horovod to support float16 type for pytorch ,I meet some error, could you help me"
we know gradient is the input to allreduce op. Then I want to change the gradient to float16 which is `THCudaHalfTensor` or `THHaldTensor`  in pytorch .

So I change the horovod ,But in the  horovod/torch/tensor_util.h

 template <>                                                                  \
  void                                                                         \
  TensorUtil::Divid

[2018-08-21 06:04] tingweiwu commented on #451
@rongou Maybe I didn’t express that clearly.
What confused me is that horovod recommends host network directly from its [Horovod in Docker](https://github.com/uber/horovod/blob/master/docs/docker.md)
![image](https://user-images.githubusercontent.com/29671725/44382744-cc61f400-a548-11e8-80cf-368864a39f07.png)

When I use kubernetes and the mpi operator together to  launch multi-node training jobs.

[2018-08-21 18:29] rongou commented on #451
Right, that document assumes you are using docker only, without the help of kubernetes, so you'd have to ssh into each machine and invoke `docker run` manually, or through some shell scripts. It gives you the flexibility of using host networking, but it doesn't really scale beyond a handful of users sitting in the same room (or you can use a spreadsheet to keep track of who's using what).

In a "p

[2018-08-22 07:55] alsrgv commented on #312
@SrivastavaKshitij, did you remove code that binds a process to a single GPU?  You don't need it for this scenario.
[code]

[2018-08-22 08:08] alsrgv commented on #439
If that's the case, users can add an explicit `hvd.shutdown()` command at the end of their script to prevent an error.

[2018-08-22 08:09] alsrgv commented on #449
@SunnyBeike, we don't see such an increase in practice with up to 512 GPUs scaling experiment.

[2018-08-22 14:20] jacobhinkle commented on #429
I am not sure if this is happening in the current case, but I have also found this particular deadlock happens whenever the number of iterations per epoch is different for different ranks. This happens for example if the number of training samples is equal to k*batch_size*world_size+1 for some integer k. In that case, one of the ranks will have to perform an extra iteration to cover the extra samp

[2018-08-22 18:57] kdatta opened #457 "Stalled Ops in Horovod_Allreduce when running on 128 nodes in TACC"
Error:
WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that only subset of ranks is submitting tensors, which will cause deadlock.
Stalled ops:
v0/tower_0/HorovodAllreduce_v0_tower_0_gradients_AddN_37

[2018-08-23 02:27] tingweiwu commented on #451
@rongou Thanks a lot for your reply. now I think I have got it

[2018-08-23 06:21] yogurfrul opened #459 "what the HorovodAllgather do on cpu"
I want to apply horovod to an sentiment_analysis example with an embedding layer following the horovd example [link](https://github.com/uber/horovod/blob/master/examples/tensorflow_word2vec.py)

while the gradient allreduce using HorovodAllreduceOp except DistributedAdamOptimizer_Allreduce/HorovodAllgather_gradients_embedding_embedding_lookup_grad_Reshape_0 and "DistributedAdamOptimizer_Allreduce/

[2018-08-23 06:27] yogurfrul commented on #459
then I try to run the [example](https://github.com/uber/horovod/blob/master/examples/tensorflow_word2vec.py)
and I also found the HorovodAllgather Op

[2018-08-23 09:09] chengdianxuezi opened #460 "can horovod run distributed without using mpirun"
I want to run horovod  in yarn cluster,but in yarn cluster,each instance start alone. can distributed horovod start not use mpirun?

[2018-08-23 09:42] yogurfrul commented on #459
I found this in source code
[code]
use allgathers intead of an allreduce don't have to get better performence
In my case, embedding size is big, HorovodAllgather  running on cpu cost about 300ms shown in timeline,while I delete the code to run allgathers in function allreduce, and reinstall horovod to make it force to use allreduce,the whole step cost is just 200ms

[2018-08-23 12:17] yogurfrul commented on #459
I try to reinstall horovod by  the command
[code]
i runs ok ,and install succ .
then I run again , a Segmentation fault got :
[code]

[2018-08-24 05:36] alsrgv commented on #446
@labor00, could you check whether #458 fixes your issue?

[2018-08-26 16:43] tgaddair commented on #460
Hey @chengdianxuezi, I don't know of any way to get around using `mpirun`, but you should be able to use Horovod on Yarn.  One option would be to wait until all instances are ready before launching your training job.  If that doesn't work for you, can you describe your specific problem in a bit more detail?

[2018-08-26 16:49] tgaddair commented on #459
Hey @yogurfrul, this was something we discussed in another recent issue, #433.

Basically, the reason you're getting the segfault here, I suspect, is because it's not safe to perform an allreduce operation on a sparse tensor.  The lengths of the tensors will not always be the same, and even if they are, the indices will not map 1:1.

[2018-08-26 16:55] tgaddair commented on #457
Hey @kdatta, looks like worker 815 may have been killed somehow.  Does this issue continue to happen around the same point over multiple runs?

[2018-08-26 21:37] sumedhvdatar commented on #437
@alsrgv  I ran horovod with hyperas on NC-6 and NC-24. From my experiment I found out that Horovod with hyperas ran faster on NC6 than NC-24. Looks like data is parallel on horovod but hyperas is more sequential and running the same thing on all gpus again. Can you help me here?

[2018-08-27 16:59] mariyahendriksen commented on #422
Fixed it. Not the prettiest way, but it worked:
1. Request x amount of GPUs on cluster
2. copy nvidia drivers to your directory (YOUR_DIR)
3. do `module load openmpi cuda cudnn`
    and then `export LD_LIBRARY_PATH="YOUR_DIR:${LD_LIBRARY_PATH}" ` (you might want to add it to .bashrc)
4. install horovod

[2018-08-27 16:59] #422 closed

[2018-08-28 01:00] tgaddair commented on #455
Hey @aaron276h, the ability to delay aggregation past the current iteration is something we have on the roadmap, but don't currently support out of the box.

To your second question: yes, changing `average=False` will sum but not divide the gradients.

[2018-08-28 07:21] pengsun opened #461 "speed measured by global_step in the tensorflow_mnist.py example"
Hi
I noticed the discussion here:
https://github.com/uber/horovod/issues/71

in that case, can we simply say the 4-GPU processes `4.58787*4` steps/sec as the printed `global_step/sec: 4.5878`, while the 1-GPU processes `5.10516` steps/sec. So the speedup is `4.58787*4 / 5.10516` when taking the same batch_size? Is it a correct understanding of the "synchronous steps among all workers."  ?

[2018-08-28 15:41] tgaddair commented on #461
Hey @pengsun, that's mostly correct.  The speedup you derived is right, but it's not quite right to say that in the 4-GPU case we're processing `4.58787*4` steps / sec.  We're still processing `4.58787` steps per second, but it just so happens that the **batch size** is larger (because the effective batch size is multiplied by 4).  So we're processing more images per step.  Does that make sense?

[2018-08-28 15:45] tgaddair commented on #448
Hey @rajchinna, looks like an environment issue.  Could you try taking a look at [this](https://github.com/locuslab/pytorch_fft/issues/21) issue, and #383 and see if any of those suggestions work for you?

[2018-08-29 00:29] ppwwyyxx opened #462 "Hide third-party symbols to avoid conflicts"
I was investigating a segfault with the following trace:
[code]

It can be seen from the above stack trace, that pyarrow is using flatbuffers, and it calls into horovod for the function `_ZN11flatbuffers15vector_downward10reallocateEm`.

Since horovod is vendoring it's own version of flatbuffer, it has the potential to cause problems if mixed with a different version of flatbuffer. Although I'm no

[2018-08-29 09:05] pengsun commented on #461
Hi @tgaddair, Yes that makes sense, you strictly distinguish "step" and "batch size". As you said "The speedup you derived is right" and "he effective batch size is multiplied by 4", I guess we are talking about the same thing. Thanks for the explanation :)

[2018-08-29 09:05] #461 closed

[2018-08-29 13:28] EdwardZhang88 commented on #147
Hi @Sampson1107 I have the same error as 'transport/net_ib.cu:781 WARN NET/IB : Got completion with error 12, opcode 1, len0, vendor err 129' although I am running the mpi task in a docker container. I also tried adding option and env variable like OMPI_MCA_btl=^openib and NCCL_IB_HCA=mlx5_0 but nothing really worked. Till now, I have to either uninstall Mallanox drive or set NCCL_IB_DISABLE=1 as

[2018-08-29 14:56] aaron276h opened #463 "Recompiling modified Horovod inside pre-built docker container"
If we are using the uber/horovod pre-built container, and want to make custom modifications to Horovod and then recompile it, how would we go about doing that? So far we have been manually modifying ```/usr/local/lib/python2.7/dist-packages/horovod``` which doesn't seem to be a very clean solution.

[2018-08-29 16:43] tgaddair commented on #463
Hey @aaron276h, this is how I usually do it.

First create a virtual environment:

[code]

Clone Horovod:

[code]

Run these commands to rebuild Horovod:

[code]

[2018-08-29 17:02] aaron276h commented on #463
@tgaddair Thanks that worked for me.

[2018-08-29 17:02] #463 closed

[2018-08-29 17:36] iRmantou commented on #100
@ydp @alsrgv hi, I have the same problem with u, I run horovod with 10 dockers, each has 3 GPUs, when train to 40 epoch, the program hangs, but if I just use 2 dockers, each has 4 GPUs, it is fine. do you know why, how u fix your program？

` mpirun --allow-run-as-root -np $PROCESS_NUM \
      -H $WORKER_HOSTS \
      -bind-to none -map-by slot \
      -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH

[2018-08-29 17:37] iRmantou commented on #100
@ydp @alsrgv hi, I have the same problem with u, I run horovod with 10 dockers, each has 3 GPUs, when train to 40 epoch, the program hangs, but if I just use 2 dockers, each has 4 GPUs, it is fine. do you know why, how u fix your program？

`mpirun --allow-run-as-root -np $PROCESS_NUM
-H $WORKER_HOSTS -bind-to none -map-by slot
-x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH
-x NCCL_SOCKET_IFNAME=^do

[2018-08-29 17:38] czhang96 opened #464 "AttributeError: 'module' object has no attribute 'broadcast_optimizer_state'"
https://github.com/uber/horovod/blob/68f525c64cdd5a31536f5485448960fbb00d19fc/examples/pytorch_imagenet_resnet50.py#L136

I'm getting `AttributeError: 'module' object has no attribute 'broadcast_optimizer_state'` for this line. Is the example outdated?

[2018-08-29 18:06] iRmantou commented on #403
@winwinJJiang hi, I train the glow too, I meet the same problem with much dockers. how u fix it！

[2018-08-29 18:51] tgaddair commented on #464
Hey @czhang96, what version of Horovod are you running?  The function `broadcast_optimizer_state` was added in the most recent build: `v0.13.11`.

[2018-08-29 18:55] czhang96 commented on #464
Thanks! It was me, not the example that was outdated :)

[2018-08-29 18:55] #464 closed

[2018-08-29 21:14] sumedhvdatar commented on #437
@alsrgv  I feel that logs from Keras with horovod is adding to the additional time in NC24. I noticed that in NC24 , during training it was printing four times, the epoch and progress bar. Making verbose = 0 may help in reducing training time. I ll give you an update after running without logs.

Also currently when I ran the code NC12 was faster than NC6 but NC24 and NC6 was almost the same. Major

[2018-08-30 06:26] #451 closed

[2018-08-30 06:37] guptaraman540 opened #465 "ompi_mpi_init: ompi_rte_init failed --> Returned "(null)" (-43) instead of "Success" (0)"
Hi,
I am trying to run keras_mnsit.py example on localhost, but I'm getting following error:

*** An error occurred in MPI_Init_thread
*** on a NULL communicator
*** MPI_ERRORS_ARE_FATAL (processes in this communicator will now abort,
***    and potentially your MPI job)
[leo:7039] Local abort before MPI_INIT completed completed successfully, but am not able to aggregate error messages, and not ab

[2018-08-30 10:55] tingweiwu opened #466 "what's the meaning of tf_cnn_benchmarks.py output ？"
I run `tf_cnn_benchmarks`
when I run on one node with 1GPU
[code]
on one node with 8GPU,
the `total images/sec` print 8 times,
is this means that every value is each GPU's speed?
If so, how to  calculate  `speed-up ratio` between 1GPU and 8GPU

1188.51÷8÷204.75？ or  1188.51÷204.75

[code]

[2018-08-30 12:03] #450 closed

[2018-08-30 12:08] tingweiwu opened #467 "Permission denied (publickey,password) when I run on muti node"
on first node, i run
[code]
on anthor node
[code]

and the output logs see that Permission denied?
[code]

[2018-08-30 13:01] EdwardZhang88 opened #468 "Distributed training hangs in docker RoCE environment"
Hi, @alsrgv I am currently stuck with distributed training using Horovod in a docker RoCE environment. I have two 4-Nvidia-Tesla-M40-GPU nodes, each of which has 2 NICs, one Mellanox RoCE NIC(eno2.100) and the other one regular Ethernet NIC(eth0). I have installed and started nv_peer_memory on both servers to enable GPUDirect RDMA; the same Mellanox OFED drive is also installed on top of the lates

[2018-08-30 13:22] andreynikk opened #469 "mpirun crashes without any error codes"
Hi,

I've installed everything successfully and verified its all configured successfully (passed all NCCL Tests).
I'm running a single host with 8 GPUs.
I'm running keras code with tensorflow backend.

this is the command I am running:
    /usr/loc/bin/mpirun -np 8 \
        -H localhost:8 \
        -bind-to none -map-by slot \
        -x NCCL_DEBUG=DEBUG -x PATH \
        -mca pml ob1 -mca btl ^o

[2018-08-30 15:18] tgaddair commented on #465
Hey @guptaraman540, can you provide the full `mpirun` command?  Also, can you create a gist with the full output log?  Thanks.

[2018-08-30 15:33] tgaddair commented on #467
Hey @tingweiwu, can you verify that you can `ssh` into the second node from the node you're running `mpirun`?  Can you also verify that you can `ssh` into `localhost`?

[2018-08-30 15:37] Braigns opened #470 "I am working on a 3-node system with 8 GPUs/ node. I was wondering if its possible to specify the GPUs you want to use across an arbitrary number of nodes??"

[2018-08-30 18:42] alsrgv commented on #469
@andreynikk, the message `mpirun noticed that process rank 7 with PID 0 on node HOSTNAME exited on signal 9 (Killed).` indicates that somebody or something has killed your training script with `kill -9 <pid>` command or its equivalent.  Are you the only user on the system?  Are there any messages in `dmesg`?

[2018-08-30 18:47] alsrgv commented on #468
@EdwardZhang88, thanks for the detailed question!  Which Ethernet switch are you using for RoCE?  I've seen this issue happen on a shallow-buffer switch.

[2018-08-30 19:20] tgaddair commented on #470
Hey @Braigns, yes, if I understand your question correctly, you can specify which GPU you want to use for each process.

For TensorFlow we specify the visible device list for each process:

[code]

You can change `str(hvd.local_rank())` to a specific if GPU you'd like.  Is that what you're trying to achieve?

[2018-08-30 23:31] LiweiPeng commented on #468
Because you are using RoCE, the proper OpenMPI options for RoCE needs to be specified. See this OpenMPI page for details: https://www.open-mpi.org/faq/?category=openfabrics#ompi-over-roce.

[2018-08-30 23:55] markmp commented on #396
I've been benchmarking on AWS as well. Specifically using the Version 13 Ubuntu DLAMI which includes horovod in /home/ubuntu/examples/horovod.

I'm training a resnet50 model using the preprocessed and resized imagenet data. (i.e. used both of their scripts). Cmd to mpirun is same in this AWS doc:
https://docs.aws.amazon.com/dlami/latest/devguide/tutorial-horovod.html
E.g:
mpirun.openmpi -np 8 \
--

[2018-08-31 00:26] markmp commented on #156
On the AWS DLAMI Version 13, there is a resnet50 horovod example in ~/examples/horovod/cnn..

[2018-08-31 00:38] markmp opened #474 "Random hangs of Horovod in AWS DLAMI Version 13"
I'm seeing random hangs using horovod/mpirun on the latest AWS DLAMU Version 13 Ubuntu:
tensorflow 1.10
horovod 0.13.11
openmpi 3.1.0

I'm training a resnet50 model using the preprocessed and resized imagenet data. (i.e. used both of their scripts). Cmd to mpirun is same in this AWS doc:
https://docs.aws.amazon.com/dlami/latest/devguide/tutorial-horovod.html
E.g:
mpirun.openmpi -np 8
--hostfile ho

[2018-08-31 02:03] EdwardZhang88 commented on #468
Hi @LiweiPeng Thanks for you reply. I tried replacing  '--mca btl ^openib'
with
'--mca btl openib,self,sm --mca btl_openib_cpc_include rdmacm --mca btl_openib_rroce_enable 1 --mca btl_openib_want_cuda_gdr 1 '
but it ended up with an error in MPI_Init as below.
`Framework: btl
 Component: openib
mca_bml_base_open() failed
--> Returned "Not Found" (13) instead of "Success" (0)
`
According to [this p

[2018-08-31 03:38] tingweiwu commented on #466
@tgaddair Thanks a lot for your reply. I got it

[2018-08-31 04:31] markmp commented on #474
I was able to reproduce this error with a run on 8 GPUs. Only 7 managed to start and then hung on "Initializing Variables"...

mpirun -np 8 --hostfile hostfile --bind-to none --map-by slot -x NCCL_DEBUG=INFO -x NCCL_MIN_NRINGS=4 -x LD_LIBRARY_PATH -x PATH  -mca orte_base_help_aggregate 0 -mca pml ob1 -mca btl ^openib python aws_tf_hvd_cnn.py --batch_size=256 --num_epochs=90 --fp16 --data_dir /mnt/

[2018-08-31 05:51] guptaraman540 commented on #465
Hi @tgaddair, Thank you for responding.
I tried following command. The same command is working on other system. Also, I'm able to successfully run sample hello_world program of open mpi between this master machine and another client machine.

mpirun -np 1 -H localhost python mpi_cloud/keras_mnsit.py

Error has occurred in hvd.init() function. It appears initialization of  ompi rte failed.
I search

[2018-08-31 06:12] #462 closed

[2018-08-31 06:36] tingweiwu commented on #466
@tgaddair  reopen for another related question.

I run this on two nodes. each one is 8 GPU. use docker with hostnetwork.
and the output of is.
so the speed is lower compare to one node?

[code]

[2018-08-31 10:10] EdwardZhang88 commented on #468
Thanks @alsrgv . I will try to figure out if it's a pure network setting issue or not.

[2018-08-31 15:48] tgaddair commented on #466
Yes, if your network is slow, for example, it's possible for the system to run slower on 2 nodes than it does on 1.  What kind of hardware setup do you have?

[2018-08-31 16:48] tgaddair commented on #466
That is surprising then.  It would probably be worth creating a [timeline](https://github.com/uber/horovod/blob/master/docs/timeline.md) and analyzing where the time is being spent.  If you upload it here, I'd be happy to take a look.

[2018-08-31 18:32] andreynikk commented on #469
@alsrgv I've managed to get it to work with lower batch size, which is good.
Yes I'm the only user on the system, it looks like it was going OOM.
what I dont understand is why TF goes OOM, a V100 card has 16GB of memory and the issue occurs on 1024 batch size:
OOM when allocating tensor with shape[1024,42,32704] and type float
this tensor should allocate 11GB...

but this is not a horovod issue, t

[2018-08-31 23:43] ppwwyyxx commented on #462
Thanks for the quick response!

[2018-09-01 03:46] LoneRifle commented on #128
fwiw - the original blog post seems to have gone missing, with an archive.org copy found at..
https://web.archive.org/web/20180309112609/http://research.baidu.com/bringing-hpc-techniques-deep-learning/

[2018-09-01 06:48] tingweiwu commented on #466
here is the timeline.
[timeline.zip](https://github.com/uber/horovod/files/2342129/timeline.zip)

[2018-09-01 17:38] alsrgv commented on #128
@gibiansky, any plans to restore the article?

[2018-09-01 17:38] alsrgv commented on #462
@ppwwyyxx, no problem - the timing was good :-)

[2018-09-02 00:46] labor00 commented on #446
Sorry for the delay, but it was fixed by this commit

[2018-09-03 02:41] tingweiwu opened #476 "Distributed training speed slow down compare to one node？"
I run `tf_cnn_benchmarks.py` on one node with 8GPU
it's speed is `total images/sec: 1188.51`

then I run this on two nodes. each one is 8 GPU. use docker with hostnetwork.
it's speed is `total images/sec: 745.06`

GPU:V100
NIC: Infiniband

run command
 On Primary node
[code]
On Secondary node
[code]
here is the timeline
https://github.com/uber/horovod/issues/466#issuecomment-417837812

[2018-09-03 02:42] tingweiwu commented on #466
close this and open another issue for speed slow. #476

[2018-09-03 02:42] #466 closed

[2018-09-03 03:03] EdwardZhang88 commented on #468
It turns out that the default NCCL_IB_GID_INDEX=0 was wrong as the GID is actually 3 in my case. I accidentally came to find this when running a ib_write_bw test. After I append NCCL_IB_GID_INDEX=3 to my previous command, both NCCL_IB_CUDA_SUPPORT=0 and NCCL_IB_CUDA_SUPPORT=1 work like a charm.
<img width="582" alt="db29cf73dd90f69bf36011596c4d3da8" src="https://user-images.githubusercontent.com/2

[2018-09-04 09:29] tingweiwu commented on #476
[code]

[2018-09-04 14:06] waynezhang2018 opened #477 "ERROR: had broadcast meets error: broadcast.*****conv2.weight [missing ranks 1, 2, 3]"
hi, all

I try to take had for multi nodes multi gnu training, however, I met a problem
environment:
linux 16.04 with docker, pytorch 0.4.0, horovod
mpirun np=32, and I have 4 nodes, each with 8 gpu

when doing broadcasting, it will show error msg as: broadcast meets error: broadcast.*****conv2.weight [missing ranks 1, 2, 3]

at the same time, there will be a small amount of gnu memory occupied on

[2018-09-04 18:04] manjunaths opened #478 "Difference in accuracy/slower convergence between single GPU and multi-GPU on same node"
I am trying to parallelize the fastai cifar10 super-convergence example using Horovod. I started off from this file

https://github.com/sgugger/Adam-experiments/blob/master/train_cifar10.py

I have modified the file and attached the source code to this issue. It runs and converges. The issue I am facing is that the original code hits 83% after only 9 epochs and reaches 91+% accuracy after 30 epoch

[2018-09-04 22:58] gibiansky commented on #128
Yeah, I'm working on this ... I got in touch with folks at Baidu last week and they gave me person to rehost the article somewhere since their web team seems to be slow in getting it back online. I'll find a permanent place for it by the end of this week or so and stick a link here.

[2018-09-04 23:36] tgaddair commented on #477
Hi @waynezhang2018, can you upload a gist of the code you're running?  It looks like rank 0 is broadcasting, but the other ranks are not awaiting the broadcast.

[2018-09-05 06:54] LoneRifle commented on #128
I'd just like to take the opportunity to thank you both for working on your respective codebases. Even though I do not actually use Tensorflow, I appreciate the fact that the open-source efforts spent by you all benefit the wider dev community at large, and in Baidu's case, resulted in improvements to the original codebase (through tensorflow/tensorflow#12299). This is a point that I am striving t

[2018-09-05 09:19] tingweiwu commented on #468
@EdwardZhang88 could you tell me how to do the `ib_write_bw` test inside the containers?
I run `ib_write_bw`  in my container and it print `bash: ib_write_bw: command not found
 `
thanks a lot if you reply.

[2018-09-05 12:03] LittleDonkey1203 opened #479 "Does it need to specify the cpu device, when use the tf.train.batch function"
If yes, how to do this in horovod?
If not, is it automatically identifies which device need to be used in horovod?

[2018-09-05 12:50] tingweiwu commented on #476
@tgaddair  could you take a look at the timeline and give me some idea to look into this issue. I've been stuck for days. Thanks a lot if you reply

[2018-09-05 13:11] LuBingtan commented on #403
I meet same problem using docker with multimechine and multiple GPUs. The program hang on at the beginning. And this is my shell cmd:
[code]
is there any solutions?

[2018-09-05 15:53] tgaddair commented on #476
Hey @tingweiwu, I'll try and take a look today.  Been pretty swamped recently.  Thanks for bearing with me.

[2018-09-06 00:09] tgaddair commented on #476
I took a look at your timeline, and ran the same experiment on GCP with 2 nodes and 8 GPUs per node.  The scaling efficiency I saw was nearly 100%.

Here's what my timeline is showing:

<img width="1362" alt="screen shot 2018-09-05 at 5 03 01 pm" src="https://user-images.githubusercontent.com/1742912/45127564-bac64200-b12d-11e8-806a-b3577e17fe2a.png">

In contrast, here's what we're seeing in your

[2018-09-06 03:10] tingweiwu commented on #476
@tgaddair I have tried `-mca btl_openib_receive_queues` options
[code]

speed is  `total images/sec: 440.62`

and the timeline shows that the queuing still occurs
![20180906110937](https://user-images.githubusercontent.com/29671725/45132896-3e7f3d80-b1c5-11e8-9fd8-0e65b8877664.png)

[2018-09-06 06:58] tingweiwu commented on #476
@alsrgv hi, I saw you said [here](https://github.com/uber/horovod/issues/21#issuecomment-340900009) that `-mca btl_openib_receive_queues P,128,32:P,2048,32:P,12288,32:P,131072,32`  you use between 4 servers and 32 servers and get 90%+ scaling efficiency.

As you said you come up with by reading Open MPI source code. Could you give me some idea how to change this parameter as `mca btl_openib_receiv

[2018-09-06 15:32] tgaddair commented on #478
Hey @manjunaths, I noticed in your code that you're not scaling the learning rate in proportion to the number of workers.  Per [this](https://github.com/uber/horovod/issues/384) thread and following this [example](https://github.com/uber/horovod/blob/master/examples/pytorch_imagenet_resnet50.py#L119), I'd suggest scaling the learning rate and seeing if that helps solve the convergence issue.

[2018-09-06 16:00] tgaddair commented on #479
Hey @LittleDonkey1203, could you provide some example code of what you're trying to achieve?

In general, you can restrict Horovod/Tensorflow to using a specific CPU with `tf.device`:

[code]

The more common approach in Horovod is to pin each process to a single GPU:

[code]

If you don't specify, Tensorflow will make use of both GPUs and CPUs where available.  If you want to know which device a

[2018-09-06 20:02] LiweiPeng opened #482 "should loss be averaged using allreduce"
I am converting a single machine NMT model to use Horovod for distributed system. In the following pseudo code, should loss be averaged across all the processes using allreduce?
[code]

[2018-09-06 22:05] tgaddair commented on #476
Hey @tingweiwu, have you tried running the benchmark on just the second node (IP2)?  If I remember correctly, you've run the job on IP1 and IP1 + IP2.  I was just chatting with @alsrgv, and we're wondering if it might be a hardware issue of some kind.

Could you try running the benchmark on just the second node and let us know how it goes?  Thanks.

[2018-09-06 22:31] richard-y commented on #297
@burness In order to log the histograms, you need to provide validation data. You can reuse your training data if you don't have validation set, just add the following arguments `fit_generator(generator=<your_data_generator>, steps_per_epoch=<your_train_steps>, validation_data=your_data_generator, validation_steps=<your_train_steps>)`. You can replace validation_steps with a smaller number if you

[2018-09-07 02:01] burness commented on #297
@richard-y  Thank you! Richard, Have you  try to load the large validation dataset by  using fit_generator?

[2018-09-07 12:14] LittleDonkey1203 commented on #479
Got it! I'll close the issue, Thank U.:)

[2018-09-07 12:14] #479 closed

[2018-09-07 15:03] denisovlev commented on #403
I see the same thing, happens pretty regularly. The data is coming from network storage.

Horovod is running under openmpi 3.1.2, on 2 servers with 4 GPU each, without docker.

The training does not progress after the warning.

[code]

[2018-09-07 19:58] richard-y commented on #297
@burness Yes, using the same data generator for training to feed your validation dataset should work.

[2018-09-08 00:14] sparticlesteve commented on #423
Hi @alsrgv, thanks a lot for spotting that typo. I do believe you were correct!

[2018-09-08 00:14] #423 closed

[2018-09-09 04:53] shoubhik opened #484 "Setup Horovod code in IDEs like CLion"
Hi,
Is there any documentation somewhere on how to setup Horovod code base on some IDE like cLion (that has code navigation) and potentially be able to debug the code from there?

[2018-09-10 05:42] gibiansky commented on #128
@alsrgv Finally got a chance to sit down and post a new version, with permission from folks at Baidu SVAIL. I now host a copy of this [here](http://andrew.gibiansky.com/blog/machine-learning/baidu-allreduce/). Please link to that instead!

[2018-09-10 05:42] gibiansky commented on #128
Additionally I added an addendum linking back to Horovod, since it's IMO the best place to get your TF-supported allreduce nowadays.

[2018-09-11 08:02] tingweiwu commented on #476
when run command with docker
[code]
here is the NCCL INFO logs
[code]

[2018-09-11 11:59] tingweiwu commented on #468
@EdwardZhang88 thanks a lot. I have add the OFED drive on the top of `uber/horovod:0.13.10-tf1.9.0-torch0.4.0-py3.5`.

now I can use `ibstatus` in the new images but when I run the examples. it occurs that
[code]
here is my Dockefile
[code]

Could you share your Dockerfile with me, Thanks?

[2018-09-11 13:30] abidmalikwaterloo opened #485 "AlexNET pytorch with Horovod"
Does anyone try pytorch with Horovod? especially AlexNET?

Thanks

[2018-09-11 13:51] tingweiwu commented on #476
@tgaddair finally. I have achieve 90%+ efficiency. after install MOFED on the top of horovod images.
NCCL logs show use RMDA
[code]
run `mpirun -np 1 -H localhost:1`, result is `total images/sec: 195.64`

run `mpirun -np 2 -H IP1:1,IP2:1`, result is `total images/sec: 371.31`

run `mpirun -np 8 -H localhost:8`, result is `total images/sec: 1193.40`

run `mpirun -np 16 -H IP1:8,IP2:8`, result is `t

[2018-09-11 16:09] tgaddair commented on #476
Hey @tingweiwu, glad you managed to get it working.  And thanks for documenting everything, this will be very useful to users in with similar issues in the future.

I can't say for sure why you saw such a huge difference between RDMA and TCP.  In the [other issue](https://github.com/uber/horovod/issues/288) you referenced, that user was seeing about 77% scaling efficiency, which was significantly

[2018-09-12 01:30] tingweiwu commented on #476
@tgaddair my command is
[code]
`NCCL_IB_HCA=mlx5_0` means than NCCL use RMDA?
As I don't set parameters as `--mca btl`, the logs below shows that mpi use tcp ?
and why the horovod images don't have `Framework: btl  Component: openib`  ?
[code]

[2018-09-12 12:05] bapriddy commented on #485
@alsrgv  @tgaddair  -- I ran resnet50 with pytorch horovod.  They have an example code.  You don't need to do much to get it running.  I'd say it's impressive and probably getting better...

[2018-09-12 14:29] #364 closed

[2018-09-12 14:29] bapriddy commented on #364
?

[2018-09-13 00:47] tonyreina opened #486 "mpiexec versus mpirun"
I was looking at Stack Overflow and came across a discussion of using `mpiexec` versus `mpirun`.  I've always seen Horovod examples with `mpirun`. Would there be any advantage to using `mpiexec` instead? The responses seem to indicate yes, but not sure if there is something specific to Horovod.

Thanks.
-Tony

[2018-09-13 00:47] tonyreina commented on #486
https://stackoverflow.com/questions/25287981/mpiexec-vs-mpirun

[2018-09-13 03:08] thhsiao opened #488 "The installation of NCCL, openmpi and horovod"
If my environment are:
Environment:

Ubuntu 1604
CUDA 8.0
Python 2.7
Tensorflow 1.8.0

Any suggestions about the version and parameters of NCCL, openmpi and horovod should be applied to install? (I want use the allreduce of horovod)

Thanks
TH Hsiao

[2018-09-13 03:48] NO2-yh opened #489 "Some error while running pytorch_mnist.py"
machine configuration:
OS: centos 7
Python: python3.6
pytorch: 0.4.0
nccl: 2.2.13
openmpi: 3.1.2
GPUs : 8 Titan Xp per machine

my run shell script:
mpirun -np 8 \
        -H 10.141.202.75:8 \
        -bind-to none -map-by slot \
        -x NCCL_DEBUG=ERROR -x LD_LIBRARY_PATH -x PATH -x NCCL_IB_HCA=mlx4_0 -x NCCL_IB_DISABLE=1 \
        -mca pml ob1 \
        python examples/pytorch_mnist.py

**ERR

[2018-09-13 06:27] ZHAIXINGZHAIYUE opened #490 "pytorch mulinode problem"
When I run pytorch_imagenet_resnet50.py with multinode, the program stop at
`hvd.broadcast_parameters(model.state_dict(), root_rank=0)`.

when I comment these lines:
`
hvd.broadcast_parameters(model.state_dict(), root_rank=0)
hvd.broadcast_optimizer_state(optimizer, root_rank=0)
`
the program can run.

[2018-09-13 09:45] #488 closed

[2018-09-13 09:54] thhsiao opened #491 "How to verify the examples of Horovod have applied NCCL2 and openmpi?"
My environments are:

Ubuntu 1604
CUDA 8.0
Python 2.7
Tensorflow 1.8.0
libnccl2=2.2.13-1+cuda8.0 libnccl-dev=2.2.13-1+cuda8.0
openmpi-3.1.2

I have successful install NCCL2, openmpi and horovod; moreover,  I executed tensorflow_mnist.py in /examples, how can I verify this program has applied NCCL2 and openmpi?

B.R.
TH Hsiao

[2018-09-13 11:15] mark-arm commented on #52
I had the same issue - this fixed it for me:
CFLAGS=-mmacosx-version-min=10.7 pip install horovod

[2018-09-13 15:30] tgaddair commented on #485
Hey @abidmalikwaterloo, here's the [PyTorch example](https://github.com/uber/horovod/blob/master/examples/pytorch_imagenet_resnet50.py) @bapriddy was referring to.

I'm going to close this for now, but feel free to open a new issue if you have any follow-up questions.

[2018-09-13 15:30] #485 closed

[2018-09-13 16:07] tgaddair commented on #486
Hey @tonyreina, it's a good question.  I just ran a benchmark with both `mpirun` and `mpiexec` and got similar results with Horovod.  So at the moment I don't think there's necessarily any reason to prefer one over the other.  Though for the reasons given there, it might be worth updating the docs to prefer `mpiexec`.  @alsrgv may have some additional thoughts on this.

[2018-09-13 16:27] shoubhik commented on #484
@tgaddair Thanks for the input. I'll try that. I think it would be really good if it was documented for a people like me who are new to C++ and Python.

But more than that, I feel a lot of people would want to tweak things a little in Horovod to suit their performance needs and having a handy IDE can speed up the process.

[2018-09-13 17:05] tgaddair commented on #491
Hey @thhsiao, if you ran with `mpirun` and and two or more processes, and everything worked, then your openmpi setup should be fine.  As for NCCL, you can try running with `-x NCCL_DEBUG=INFO` and look for NCCL output.  It should tell you that it's running.

[2018-09-13 17:07] tgaddair commented on #490
Hey @ZHAIXINGZHAIYUE, are you getting an error or is the application just stalling?  Can you print the error log if it's crashing?  Thanks.

[2018-09-13 17:18] tonyreina commented on #486
Thanks. It's good to know the performance is similar. I appreciate you running a benchmark to test it.

Best,
-Tony

[2018-09-13 17:41] abidmalikwaterloo opened #492 "Running Pytorch with Horovod"
I am trying to run resnet50 example with Pytorch and Horovod using a cluster. I used the following command in slum script:

mpirun -np 2 -npernode 1 -x NCCL_DEBUG=INFO  python horovod_main_testing.py  --train-dir=/home/amalik/NEWIMAGENETDATA/raw-data/train/ --val-dir=/home/amalik/NEWIMAGENETDATA/raw-data/val/

I am trying to run it on two nodes each having one GPUs.

I am getting the following mes

[2018-09-13 18:29] abidmalikwaterloo commented on #492
Did somebody try Pytorch resnet50 example in a distributed environment?  Just want to ensure that Pytorch is not giving me this problem.

[2018-09-13 19:19] abidmalikwaterloo commented on #492
Does it has something to do with the follwoing message:
----------

--------------------------------------------------------------------------
A process has executed an operation involving a call to the
"fork()" system call to create a child process.  Open MPI is currently
operating in a condition that could result in memory corruption or
other system errors; your job may hang, crash, or produce s

[2018-09-13 20:17] tgaddair commented on #489
Hey @yh673025667, which version of Horovod are you running?  There were a number of changes made to PyTorch in the latest version, might want to try using `0.13.10` if that's what you're using, and let us know how it goes.

[2018-09-13 20:18] tgaddair commented on #492
Hey @abidmalikwaterloo, this issue is similar to another (#489) we're just now seeing.  Which version of Horovod are you running?  There were a number of changes made to PyTorch in the latest version, might want to try using `0.13.10` if that's what you're using, and let us know how it goes.

[2018-09-13 20:58] abidmalikwaterloo commented on #489
@tgaddair I am using torch 0.4.1.post2 and Horovod 0.14.1. Does 0.13.10 work?

[2018-09-13 21:05] abidmalikwaterloo commented on #492
@tgaddair I am using torch 0.4.1.post2 and Horovod 0.14.1. Does 0.13.10 work?

downloaded Pytorch from here:
https://pytorch.org/

[2018-09-13 21:07] tgaddair commented on #492
`0.13.10` should be compatible with PyTorch `0.4.1`.  In theory, they should both work, but this might help us isolate the source of the error (if it's due to a code change or an environment issue).

[2018-09-13 21:20] alsrgv commented on #489
@yh673025667, do you still have this issue if you add `-mca btl ^openib` to your command line?

[2018-09-13 22:42] sumedhvdatar opened #495 "Can we use horovod for LSTM with Keras?"

[2018-09-13 22:46] sumedhvdatar commented on #437
I got it running and it works really well. Closing the issue.

[2018-09-13 22:46] #437 closed

[2018-09-13 23:48] abidmalikwaterloo commented on #492
@tgaddair where can I get 0.13.10? I could not find it on the Pytorch web site.

[2018-09-14 01:17] tickleliu opened #496 "device_dense"

[2018-09-14 01:44] tgaddair commented on #496
Hey @tickleliu, did you have a question, or can I close this issue?

[2018-09-14 01:45] #496 closed

[2018-09-14 01:46] tickleliu commented on #496
sorry for my wrong operation，just delete it

| |
刘明录
邮箱：tickleliu@163.com
|

签名由 网易邮箱大师 定制

On 09/14/2018 09:44, Travis Addair wrote:

Hey @tickleliu, did you have a question, or can I close this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-14 01:52] yh673025667 commented on #489
@alsrgv If i add -mca btl ^openib to my shell, it will hang forever even when running tensorflow or keras.
In contrast, If i **do not** add -mca btl ^openib, everything goes ok !(except pytorch)

[2018-09-14 01:53] yh673025667 commented on #489
@alsrgv **ERROR LOG** WHEN ADD -mca btl ^openib

WARNING: Open MPI failed to TCP connect to a peer MPI process.  This
should not happen.

Your Open MPI job may now fail.

  Local host: nmyjs836
  PID:        19732
  Message:    connect() to 172.30.15.1:1031 failed
  Error:      Operation now in progress (115)

[2018-09-14 01:54] thhsiao commented on #491
Hi tgaddair,
Thanks a lot, I have got these 2 information.

[2018-09-14 02:02] yh673025667 commented on #489
@tgaddair :(  i have reinstalled horovod==0.13.10. BUT even have errors while running tensorflow and keras.
ERROR Log:
[@nmyjs-202-75 horovod]$ sh run.sh
[nmyjs836:19090] *** An error occurred in MPI_Allgather
[nmyjs836:19090] *** reported by process [139767042211841,139766825746447]
[nmyjs836:19090] *** on communicator MPI COMMUNICATOR 3 DUP FROM 0
[nmyjs836:19090] *** MPI_ERR_TRUNCATE: message t

[2018-09-14 03:47] yh673025667 commented on #492
@tgaddair Hi, #489 is exactly i have encountered.  I have tried to reinstall horovod0.13.10 with pytorch0.4.1.
BUT it can not compiled successfully with PYTORCH.
By the way . horovod can be compiled successfully with Pytorch 0.4.0

Do you have any suggestions to this problems? Thanks

[2018-09-14 07:29] thhsiao commented on #491
Another questions:
When I run tensorflow_mnist.py on 2 GPUs/2 processes environments, the link between 2 GPUs is NVLink; however, the utilization.gpu (nvidia-smi) only 47~50%.
1. What are the reasons that utilization.gpu cannot approach to 99%? the bottleneck is NVLink, NCCL2 or GPU?
2. The displayed message: NCCL_SINGLE_RING_THRESHOLD=262144, what is the meaning of this number? can I change "NCCL

[2018-09-14 08:39] yh673025667 commented on #489
@alsrgv yeap, i have tested exclude all the non-routed interfaces and tensorflow is ok. but pytorch still have
same errors.
now , my pytorch is 0.4.1 and with horovod 0.13.10

[2018-09-14 08:40] yh673025667 commented on #489
@alsrgv i have installed 0.13.10 via p[p with `--no-cache-dir`. I am very sure about this

[2018-09-14 10:10] alsrgv commented on #489
@yh673025667, to clarify, what are the latest mpirun full commands that work with TensorFlow and crash with PyTorch?

[2018-09-14 10:13] yh673025667 commented on #489
@alsrgv ```
mpirun -np 16 \
	-H 10.141.202.75:8,10.141.8.36:8 \
	-bind-to none -map-by slot \
	-x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x NCCL_IB_DISABLE=1 \
        -mca pml ob1 \
	python examples/tensorflow_mnist.py
[code]

[2018-09-14 10:15] alsrgv commented on #489
@yh673025667, if you exclude non routed interfaces and add `-mca btl ^openib`, what's the behavior?

[2018-09-14 10:27] alsrgv commented on #489
@yh673025667, great! Can you exclude flannel.1 and ib0 as well as docker0 and lo?

[2018-09-14 10:31] yh673025667 commented on #489
@alsrgv ok, i will try it now, thanks again!

[2018-09-14 10:35] yh673025667 commented on #489
it will report errors

ERROR LOG:

INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

[2018-09-14 10:37] yh673025667 commented on #489
@alsrgv By the way . This is exactly the error when i said "-x NCCL_IB_DISABLE=1 is required because it will encountered errors in tensorflow when it is not added"
when i set `-x NCCL_IB_DISABLE=1` , it will be ok in tensorflow

[2018-09-14 10:41] abidmalikwaterloo commented on #489
@yh673025667 are you using Infini Band for communication?

[2018-09-14 10:42] alsrgv commented on #489
@yh673025667, what about pytorch, with correctly excluded interfaces, `-mca btl openib` and with NCCL_IB_DISABLE?

[2018-09-14 10:44] yh673025667 commented on #489
@abidmalikwaterloo yeap, when my shell script are as follows , it can work well

[code]

[2018-09-14 10:47] yh673025667 commented on #489
@alsrgv As i said above, ONLY when my shell script like that , tensorflow and keras can work well
And THE SAME script like Above, Pytorch is NOT ok.

[2018-09-14 10:48] alsrgv commented on #489
@yh673025667, can you copy paste the latest log with PyTorch, including the mpirun command?

[2018-09-14 10:54] yh673025667 commented on #489
@alsrgv command line:
[code]

ERROR LOG:
A process has executed an operation involving a call to the
"fork()" system call to create a child process.  Open MPI is currently
operating in a condition that could result in memory corruption or
other system errors; your job may hang, crash, or produce silent
data corruption.  The use of fork() (or system() or other calls that
create child processes) is

[2018-09-14 10:58] alsrgv commented on #489
@yh673025667, in this command you did not add `-mca btl ^openib` and did not exclude non routed interfaces, including flannel.1 and ib0.

Can you add those flags when you run PyTorch example?

[2018-09-14 10:59] yh673025667 commented on #489
@alsrgv ok , i will try again.  Should i have to add `-x NCCL_IB_DISABLE=1` ?

[2018-09-14 11:01] alsrgv commented on #489
@yh673025667, for now, yes. Once you get the basics running, we can figure out how to make IB work.

[2018-09-14 11:04] yh673025667 commented on #489
@alsrgv
Shell:
[code]

ERROR LOG <script src="https://gist.github.com/yh673025667/14dafb1f70ed7c72d28fd82ce62548de.js"></script>

[2018-09-14 11:07] yh673025667 commented on #489
@alsrgv ERROR LOG https://gist.github.com/yh673025667/14dafb1f70ed7c72d28fd82ce62548de

[2018-09-14 11:28] alsrgv commented on #489
@yh673025667, thanks for the log, it's very helpful. I noticed that you have UCX installed as part of Mellanox driver package. Can you try adding `-x UCX_MEM_MALLOC_HOOKS=no` as well to disable UCX memory hooks?

[2018-09-14 11:32] yh673025667 commented on #489
@alsrgv Hi ,
Shell
[code]

ERROR LOG https://gist.github.com/yh673025667/f3afbd685b2f1ffc2f620332c35b297d

[2018-09-14 11:35] alsrgv commented on #489
@yh673025667, excellent. Can you replace NCCL_SOCKET_IFNAME=^docker0 with NCCL_SOCKET_IFNAME=eth just to include eth0?

[2018-09-14 11:41] yh673025667 commented on #489
@alsrgv Great！！！ It can work now!!!
But I still have a question.. If i set `NCCL_SOCKET_IFNAME=eth` ,  i am not  using Infini Band for communication. So this will not slow my training speed???

LOG https://gist.github.com/yh673025667/5c3b8655e52025850c73f27f336fd961

[2018-09-14 11:50] alsrgv commented on #489
@yh673025667, great! Can you share the output of `ibv_devinfo` on both servers? Are they connected to the same IB switch?

[2018-09-14 11:52] yh673025667 commented on #489
@alsrgv  Thanks again!!
The 1st machine ：
[@nmyjs-202-75 horovod]$ ibv_devinfo
hca_id: mlx4_0
        transport:                      InfiniBand (0)
        fw_ver:                         2.42.5000
        node_guid:                      ec0d:9a03:002b:3a90
        sys_image_guid:                 ec0d:9a03:002b:3a93
        vendor_id:                      0x02c9
        vendor_part_id:

[2018-09-14 11:54] yh673025667 commented on #489
@alsrgv Thanks Again!!!
My output of `ibv_devinfo` on both servers :https://gist.github.com/yh673025667/a347c2a39d89d2113361702950ee7036

[2018-09-14 11:56] alsrgv commented on #489
@yh673025667, are they connected to the same IB switch?

[2018-09-14 11:58] yh673025667 commented on #489
@alsrgv Sorry , I don't know how to distinguish whether the two machines are connected to the same IB switch. But i have paste  output of `ibv_devinfo` to you .
https://gist.github.com/yh673025667/a347c2a39d89d2113361702950ee7036

[2018-09-14 12:00] alsrgv commented on #489
@yh673025667, can you run `ibhosts` on both nodes?

[2018-09-14 12:00] yh673025667 commented on #489
@alsrgv I have tried the same command line with tensorflow .   it's really slow.............................to compare with infiniband communication

[2018-09-14 12:01] yh673025667 commented on #489
@alsrgv
 [@nmyjs-202-75 horovod]$ clear
[@nmyjs-202-75 horovod]$ ibhosts
ibwarn: [13079] mad_rpc_open_port: can't open UMAD port ((null):0)
src/ibnetdisc.c:784; can't open MAD port ((null):0)
/usr/sbin/ibnetdiscover: iberror: failed: discover failed
[@nmyjs-202-75 horovod]$

[2018-09-14 12:03] alsrgv commented on #489
@yh673025667, were you able to use InfiniBand with TensorFlow or any other application between these two servers before?  I'm not sure it's configured correctly.

[2018-09-14 12:10] yh673025667 commented on #489
@alsrgv Yes, when my shell are like follows：
mpirun -np 16 \
	-H 10.141.202.75:8,10.141.8.36:8 \
	-bind-to none -map-by slot \
	-x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x NCCL_IB_DISABLE=1 \
        -mca pml ob1
	python examples/tensorflow_mnist.py

[2018-09-14 12:12] alsrgv commented on #489
@yh673025667,  you have `-x NCCL_IB_DISABLE=1` in your command which disables IB.

[2018-09-14 12:12] yh673025667 commented on #489
@alsrgv and Log is here https://gist.github.com/yh673025667/63eddae45fbbd8d153fc9704123b2a81

[2018-09-14 12:14] yh673025667 commented on #489
@alsrgv yes.... SO i am very confused too.......................
you can see my log when i use infiniband
https://gist.github.com/yh673025667/63eddae45fbbd8d153fc9704123b2a81

[2018-09-14 12:20] alsrgv commented on #489
@yh673025667, I see. Can you try `-x NCCL_SOCKET_IFNAME=ib0`? That may speed things up.

[2018-09-14 12:28] alsrgv commented on #489
@yh673025667, excellent. Can you check with a team that set up InfiniBand network whether two servers you are using support RDMA to each other?

[2018-09-14 12:37] yh673025667 commented on #489
@alsrgv Hi， When i use ibping with two servers, here are the results:
[@nmyjs-202-75 horovod]$ sudo ibping -c 10000 -f -C mlx4_0 -P 1 -L 49
[sudo] password for yh:

---  (Lid 49) ibping statistics ---
10000 packets transmitted, 0 received, 100% packet loss, time 239 ms
rtt min/avg/max = 0.000/0.000/0.000 ms
[@nmyjs-202-75 horovod]$

Is this means my two servers do not support RDMA??? cause 100% lo

[2018-09-14 13:51] alsrgv commented on #489
@yh673025667, I suspect there's some issue with RDMA. I'd recommend checking with your network admin.

[2018-09-14 13:53] alsrgv commented on #492
@abidmalikwaterloo, can you check suggestions from #489 and see if any of them help your use case?

[2018-09-14 15:44] abidmalikwaterloo commented on #492
@tgaddair @alsrgv  When I tried -mca btl ^openlib, the processors just hang up. I can see log file and nothing happing in the file . I tried to install horovod=0.13.0 and got the installation error.  Information attached. However, I didn't  get anything when I installed 0.14.0 version again

[error.pdf](https://github.com/uber/horovod/files/2383968/error.pdf)

[2018-09-14 15:52] alsrgv commented on #492
@abidmalikwaterloo, I don't think this issue is related to Horovod version, so you should be OK using latest 0.14.1.

Can you share an output of `ifconfig` and `ibv_devinfo`, so we could check whether you have any non-routed interfaces?

[2018-09-14 16:09] abidmalikwaterloo commented on #492
@alsrgv

ifconfig:
----------

docker0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        inet 172.17.0.1  netmask 255.255.0.0  broadcast 0.0.0.0
        ether 02:42:2f:f7:0f:73  txqueuelen 0  (Ethernet)
        RX packets 0  bytes 0 (0.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 0  bytes 0 (0.0 B)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions

[2018-09-14 18:20] abidmalikwaterloo commented on #492
@alsrgv It is hanging up.  Here how I am using it:

mpirun -np 2 -npernode 1 -x NCCL_DEBUG=INFO -x NCCL_SOCKET_IFNAME=ib0 -x NCCL_IB_HCA=mlx4_0 -x LD_LIBRARY_PATH -mca btl ^openib -mca btl_tcp_if_include ib0  python horovod_main_testing.py  --train-dir=/home/amalik/NEWIMAGENETDATA/raw-data/train/ --val-dir=/home/amalik/NEWIMAGENETDATA/raw-data/val/

[2018-09-14 19:55] alsrgv commented on #492
@abidmalikwaterloo, is there any output before the hang?

[2018-09-14 20:27] abidmalikwaterloo commented on #492
@alsrgv No. Both error and output files are empty. I am submitting the job through a batch file. I am also trying to figure out what it is doing. FYI, I am using resent50 Pytorch example for Horovod from the GitHub.

[2018-09-14 20:57] LiweiPeng commented on #482
I got the answer to my own question: the answer is loss should be averaged across the machines. With averaged loss, the training has better convergence.

[2018-09-14 20:57] #482 closed

[2018-09-14 23:35] redBirdTx opened #497 "Have Horovod run on specified GPUs"
Hi,
I'm sharing the GPUs with other team members. Is there a way to bind horovod only to certain GPUs that are reserved by me?

Something like os.environ['CUDA_VISIBLE_DEVICES']='4,5'

Thank you!

[2018-09-14 23:40] redBirdTx commented on #497
resolved..I just need to add this line to my python file.

Thank you!

[2018-09-17 05:19] kzjeef opened #498 "Dead lock after one epoch, how to sync nodes after estimator.train() return ?"
Hi Guys,

I meet the issue
[code]
I checked my train log, and I found some clue
[code]

My training code is like the estimator example , but I will shuffle the training input data after each epoch.
so the outer loop is like this:

[code]

After one epoch is finished, the train() in the `fast process` is return, but other process is still running the train() function.
Seems like other process think

[2018-09-17 13:57] maxhgerlach opened #499 "Super-slow starting tf_cnn_benchmarks with Horovod"
Hi,

I am having a hard time reproducing the Horovod benchmarks on our system because they take a very long time to actually start the training.

This is on Ubuntu 16.04 machine equipped with Geforce GTX 1080 Ti. I run Tensorflow 1.8, Horovod 0.14.1 and the branch cnn_tf_v1.8_compatible from [https://github.com/tensorflow/benchmarks](https://github.com/tensorflow/benchmarks). I have built OpenMPI

[2018-09-17 14:54] abidmalikwaterloo commented on #492
@alsrgv I am able to run it. How can I confirm that it is using Horovod Ring? I don't see any ring information? Is there any flag similar to the tensorflow implementation?

[2018-09-17 14:56] abidmalikwaterloo commented on #492
[err_4258.log.pdf](https://github.com/uber/horovod/files/2389043/err_4258.log.pdf)
@alsrgv I am attaching the run. There is a problem with the validation which I can figure. the rest seems went well

[2018-09-17 18:30] abidmalikwaterloo commented on #492
@alsrgv @tgaddair  I am getting a segmentation fault at the end.

I am getting the following message:

node02:14238:14262 [0] INFO NET : Using interface ib0:172.31.11.2<0>
node02:14238:14262 [0] INFO NET/IB : Using interface ib0 for sideband communication
node02:14238:14262 [0] INFO NET/IB: [0] mlx4_0:1/IB
node02:14238:14262 [0] INFO Using internal Network IB
node02:14238:14262 [0] INFO Using NCCL

[2018-09-17 18:49] abidmalikwaterloo commented on #492
Is this an OpenMPI issue?

[2018-09-17 18:54] abidmalikwaterloo commented on #492
When I used three nodes ( three GPUs on separate nodes):

Train Epoch     #1:  19%|#9        | 2567/13346 [08:47<36:32,  4.92it/s, loss=6.87, accuracy=0.168]
Train Epoch     #1:  19%|#9        | 2568/13346 [08:47<38:41,  4.64it/s, loss=6.87, accuracy=0.168]
Train Epoch     #1:  19%|#9        | 2568/13346 [08:48<38:41,  4.64it/s, loss=6.87, accuracy=0.167]
Train Epoch     #1:  19%|#9        | 2569/

[2018-09-17 20:14] sumedhvdatar opened #500 "Running horovod on LSTM network"
I am running a LSTM network with Horovod and I see that after ~75 epochs, training hangs.

[2018-09-17 23:58] alsrgv commented on #128
@gibiansky, thanks!  This is getting fixed in #501.

[2018-09-18 11:11] UditGupta10 opened #502 "Mentioning multiple gpus, but confused whether it sees multiple or just 1"
In the logs it says .../device/GPU:0 in three different cases and after that mentions physical gpu device:1.
Does it actually use all gpus or spawns different processes on only 1 gpu?
The logs are below.

2018-09-18 11:00:04.450576: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1097] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 30379 MB memory) -> physical GPU

[2018-09-18 11:18] UditGupta10 opened #503 "Horovod error: Read -1, expected ....."
Upon running example tensorflow_word2vec.py on 4 gpus single node, getting the error: [1f02ee14cb12:02020] Read -1, expected 150528, errno = 1.
The training completes but does not print the mentioned lines in code.
Why does this error occur?
What are the implication and how severe is this error?
What can be done to resolve it?

Thanks

[2018-09-18 14:14] abidmalikwaterloo commented on #243
Any update on this? I am having the same issue #492.

[2018-09-18 14:18] abidmalikwaterloo commented on #492
would like to share the following as well:

https://discuss.pytorch.org/t/arbitrary-an-illegal-memory-access-was-encountered-when-trying-to-move-model-to-gpu/24725

[2018-09-18 15:20] abidmalikwaterloo commented on #492
@tgaddair I tried with 2,3,4, and 5 GPUs on five nodes. I can see the formation of the ring. However, I can see only two models on two GPUs and then get the message of Horovod crashing.

[2018-09-18 15:21] abidmalikwaterloo commented on #492
I would be grateful if you can give some hint or guidance on this so I can move on.

[2018-09-18 15:51] tgaddair commented on #492
Hey @abidmalikwaterloo, I'm seeing `RuntimeError: CUDA error: out of memory`, which suggests that you're running out of GPU memory.  Can you try reducing the batch size and trying again?

[2018-09-18 15:55] tgaddair commented on #498
Hey @kzjeef, since this is happening at the end of an epoch, my hunch is that the data is not being evenly divided among the ranks.  Can you check that each rank is receiving the same amount of data in each epoch?

[2018-09-18 15:56] vilmara opened #504 "ORTE does not know how to route a message to the specified daemon"
Hi, I am trying to run my custom script in multi node mode using horovod, but I got the below error:

root@64a93cf4440e:/workspace/chest-x-ray# `mpirun -np 8 -H 192.168.11.1:4,192.168.11.2:4 -x NCCL_IB_DISABLE=0 -x NCCL_IB_CUDA_SUPPORT=1 -x NCCL_SOCKET_IFNAME=ib0 -x NCCL_D                                                   EBUG=INFO --bind-to none --map-by slot --mca plm_rsh_args "-p 50000" python

[2018-09-18 16:01] abidmalikwaterloo commented on #492
@tgaddair  I saw this error as well. On single GPU (K20)  32 batch size works well and also with two GPUs for complete one epoch and then it crashes. I changed it to 16 as well and got the same error.

There is a similar situation here as well:
https://github.com/SeanNaren/deepspeech.pytorch/issues/304

[2018-09-18 16:11] tgaddair commented on #492
Looks like the suggestion there was to try rolling back to an older version of PyTorch.  Are you able to try that and see if it works?

[2018-09-18 16:13] tgaddair commented on #500
Hey @sumedhvdatar, is there any output when it hangs?  Are you able to resume from a previous checkpoint without hanging at the same spot?

[2018-09-18 16:26] tgaddair commented on #502
Hey @UditGupta10, could you provide your mpirun command?

In general, if you run with `mpirun -np N` then you'll get `N` separate processes.  To ensure that each process is running on a different GPU, there should a config option set like the following:

[code]

That pins each process to a separate GPU.

[2018-09-18 16:27] sumedhvdatar commented on #500
@tgaddair Looks like i figured out the tensorboard problem as well. Horovod+Keras does not require log_dir as a parameter in tensorboard. This is a slight deviation from Keras tensorboard documentation. When I removed log_dir parameter from Tensorboard, code started working and I got the required visualizations.

Let me know if the issue has to be closed.

[2018-09-18 16:29] #500 closed

[2018-09-18 16:32] sumedhvdatar commented on #500
@tgaddair Sure, thanks for your support.

[2018-09-18 16:32] tgaddair commented on #503
Hey @UditGupta10, per #243 those messages are typical in Docker and considered harmless.  Which lines aren't being printed?

[2018-09-18 16:37] tgaddair commented on #504
Hey @vilmara, can you verify that when you ran the tensorflow benchmarks it worked with the same parameters to `mpirun`?  It looks like there's an issue with the ssh server on 192.168.11.1, can you verify that it's running on that machine and listening on that port?

[2018-09-18 17:10] vilmara commented on #504
hi @tgaddair, yes, it worked with the same parameters to mpirun using tensorflow benchmarks.

The problem is with my code. As recommended by horovod, I changed the parameter from --mca plm_rsh_args to --mca routed=direct, but now the system hangs, see below:

root@5781e7c91f6f:/workspace/chest-x-ray# `mpirun -np 8 -H 192.168.11.1:4,192.168.11.2:4 -x NCCL_IB_DISABLE=0 -x NCCL_IB_CUDA_SUPPORT=1 -x N

[2018-09-18 17:14] vilmara commented on #504
hi @tgaddair, yes it works when I run the tensorflow benchmarks with the same parameters to mpirun. As horovod recommended, I changed the parameter from `--mca plm_rsh_args` to `--mca routed=direct`

root@5781e7c91f6f:/workspace/chest-x-ray# mpirun -np 8 -H 192.168.11.1:4,192.168.11.2:4 -x NCCL_IB_DISABLE=0 -x NCCL_IB_CUDA_SUPPORT=1 -x NCCL_SOCKET_IFNAME=ib0 -x NCCL_D EBUG=INFO --bind-to none --ma

[2018-09-18 17:27] UditGupta10 commented on #503
The print statement inside code works fine for 1 process, but for multiple gpus I get Read -1, expected 150528, errno = 1 until the end of training. This is for tensorflow_word2vec.py example run in docker (built using Dockerfile provided).

[2018-09-18 20:41] abidmalikwaterloo commented on #492
@tgaddair Yes I tried I and got new errors with horovod

Traceback (most recent call last):
  File "horovod_main_testing.py", line 69, in <module>
    resume_from_epoch = hvd.broadcast(torch.tensor(resume_from_epoch), root_rank=0,
TypeError: 'module' object is not callable
Traceback (most recent call last):
  File "horovod_main_testing.py", line 69, in <module>
    resume_from_epoch = hvd.broadcas

[2018-09-18 20:42] abidmalikwaterloo commented on #492
@tgaddair Did you try resnet50 example with any big cluster? did you try with any specific version?

[2018-09-19 08:54] maxhgerlach commented on #499
Thanks for looking into this, @tgaddair.

Unfortunately `python tensorflow_mnist.py` hangs also when I invoke it without mpirun:

[code]

I ran `strace -tf -e 'trace=!poll' -o strace_python_tensorflow_mnist.txt python tensorflow_mnist.py` until the hang after `INFO:tensorflow:Done running local_init_op.`. The log ist 150+ MB, so I attached it gzipped: [strace_python_tensorflow_mnist.txt.gz](https:

[2018-09-19 11:51] bapriddy opened #506 "Support for Pytorch 1.0?"
@alsrgv   @tgaddair    Just curious about Horovod supporting Pytorch 1.0.  Released today.  Is this already done or will there be a  transition period?

[2018-09-19 16:18] alsrgv commented on #506
@bapriddy, PyTorch 1.0 is supported as of 0.14.0.  Please let us know if you face any issues with it!

[2018-09-19 17:01] abidmalikwaterloo commented on #492
Did anyone try pytorcuh_mnist.py? It is not working properly. It seems there is a deadlock. The application hangs after the first epoch.

[2018-09-19 17:07] alsrgv commented on #492
@abidmalikwaterloo, we routinely run `pytorch_resnet50.py` and `pytorch_mnist.py` as part of the acceptance test for any Horovod release on ~128 GPUs.

I think the segfault/deadlock you're seeing at the end of the first epoch may be related to malloc hooks.

Can you try using `-mca btl ^openib -x UCX_MEM_MALLOC_HOOKS =no` if you're using Open MPI?

[2018-09-19 18:26] abidmalikwaterloo commented on #492
@alsrgv I see the following message:

horovod_mnist.py:80: UserWarning: Implicit dimension choice for log_softmax has been deprecated. Change the call to include dim=X as an argument.
  return F.log_softmax(x)
horovod_mnist.py:80: UserWarning: Implicit dimension choice for log_softmax has been deprecated. Change the call to include dim=X as an argument.
  return F.log_softmax(x)
horovod_mnist.py:1

[2018-09-19 20:00] alsrgv commented on #492
@abidmalikwaterloo, is it happening on one of the servers, or all of them?  Sounds like one of the servers may be overloaded or have stale file handles.

[2018-09-19 20:30] abidmalikwaterloo commented on #492
@alsrgv  It doesn't happen with or less than 3 GPU nodes and for more, I get this information. I received this message from each node. I just got the following message from another run with 4 GPU nodes:

    buf = self.recv_bytes()
  File "/home/amalik/Pytorch_virtual_enviornment/lib/python2.7/site-packages/torch/utils/data/dataloader.py", line 227, in handler
    _error_if_any_worker_fails()
Runt

[2018-09-19 21:43] alsrgv commented on #492
@abidmalikwaterloo, data loader issue is likely caused by malloc hooks.  What's your full `mpirun` command?

[2018-09-20 00:37] redBirdTx commented on #348
I had the same problem today. It turns out to a typo on a loss I am trying to monitor....So checking any code change, especially on the monitored properties.

[2018-09-20 01:28] Kevinwenya opened #507 "ASGD and SSGD"
1、how can i use the ASGD in horovod, if it has this funtion.
2、when i use the SSGD in horovod, i find that the batch numbers must be equal in different process. if not, i will meet the error, like:
[ Aborted: Horovod has been shut down. This was caused by an exception on one of the ranks or an attempt to allreduce, allgather or broadcast a tensor after one of the ranks finished execution. If the s

[2018-09-20 02:36] abidmalikwaterloo commented on #492
@alsrgv

Here is the full script

module load anaconda2
module load openmpi/3.0.0-gnu
module load cuda/9.0
module load gcc/7.2.0

cd /home/amalik/Pytorch_virtual_enviornment/Examples/examples/mnist

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/amalik/nccl_2.1.15-1+cuda9.0_x86_64/lib:/software/cuda/9.0/extras/CUPTI/lib64/

source activate /home/amalik/Pytorch_virtual_enviornment/

mpirun -np 4 -np

[2018-09-20 07:19] NO2-yh opened #508 "Synchronous or asynchronous？"
Horovod is Synchronous or asynchronous？

[2018-09-20 11:53] Kevinwenya commented on #508
I think it just supports Synchronous SGD

[2018-09-20 14:35] abidmalikwaterloo commented on #492
@alsrgv Does it have something to do with the python version?

[2018-09-20 15:31] abidmalikwaterloo commented on #492
However, the above trick didn't work for ResNet50 example :(

[2018-09-20 15:32] tgaddair commented on #507
Hey @Kevinwenya, to clarify, are you referring to "asynchronous vs synchronous SGD" or "averaged vs summed SGD"?

Based on the question details, I'm guessing the former.  Though gradients can be submitted for reduction asynchronously, we always synchronize the individual workers at each mini batch.  Due to the way the allreduce works, it wouldn't make sense to allreduce, say, only some of the rank

[2018-09-20 15:33] tgaddair commented on #508
Hey @yh673025667, though gradients can be submitted for reduction asynchronously, we always synchronize the individual workers at each mini batch. Due to the way the allreduce works, it wouldn't make sense to allreduce, say, only some of the ranks but not others.

[2018-09-20 15:55] tgaddair commented on #491
It looks like you've disabled infiniband.  Possibly you're network bound, and cannot fully utilize GPU resources due to network bottleneck.

[2018-09-20 15:58] tgaddair commented on #504
Hi @vilmara, it is surprising that you're able to run this command successfully on the Horovod examples but not your own code.  This looks a lot like an MPI / environment issue.

I noticed your command has `-x NCCL_D EBUG=INFO` with a space in it.  Is that how it was run on the command line?

I think you should be able to run without specifying `-mca routed=direct`.  It may be that your networking

[2018-09-20 16:01] tgaddair commented on #503
One option to remove those messages is to filter them out.  When you run your training command:

[code]

[2018-09-20 16:03] tgaddair commented on #502
`nvidia-smi` is the most commonly used tool for checking GPU utilization.  When the Horovod process starts running, you should see a big increase in "Volatile GPU-Util".  You can also log device placement in Tensorflow using the same ConfigProto.

[2018-09-20 17:15] abidmalikwaterloo commented on #492
For ResNet I used the following ,

mpirun -np 4 -npernode 1 -x NCCL_DEBUG=INFO -x NCCL_SOCKET_IFNAME=ib0 -x NCCL_IB_HCA=mlx4_0 -x LD_LIBRARY_PATH -mca btl ^openib -x UCX_MEM_MALLOC_HOOKS=no  -mca btl_tcp_if_include ib0  python horovod_main_testing.py  --train-dir=/home/amalik/NEWIMAGENETDATA/raw-data/train/ --val-dir=/home/amalik/NEWIMAGENETDATA/raw-data/val/

I can see the ring of four in the out

[2018-09-21 02:03] alsrgv commented on #492
@abidmalikwaterloo, what if you replace `num_workers=1` to `num_workers=0` in the original code, and set `pin_memory=False` if it's set to `True` in ResNet50 example?

[2018-09-21 05:14] UditGupta10 opened #509 "Reading multiple files"
In the examples, each rank reads from a different file (for 2 ranks, MNIST-0 and MNIST-1).
Why is this done, why not read from a single file for all gpus?
If the file is very big say 10 GB and we want to operate on 8 gpus, then making 8 copies would  require 80 GB which is massive.

[2018-09-21 05:16] UditGupta10 commented on #502
The volatile gpu utilization increases for all gpus, but confusion is created by TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0) which mentions 'GPU:0'  for all processes as shown in log above.

[2018-09-21 05:27] UditGupta10 opened #510 "Difference between hvd.rank() and hvd.local_rank()"
The config uses hvd.local_rank() to pin one gpu per process, to read file we use hvd.rank().
What's the difference?
When to use which?

[2018-09-21 05:35] UditGupta10 commented on #503
This helped. Thanks

[2018-09-21 05:35] #503 closed

[2018-09-21 13:17] andfoy commented on #404
I'm receiving this error also in PyTorch, but I'm unable to find a reproduction scenario, it occurs randomly some time after starting a new epoch.

[2018-09-21 15:30] tgaddair commented on #502
If you set `config.gpu_options.visible_device_list`, then `GPU:0` will refer to the first GPU it can _see_.  So if every process is pinned to a single different GPU, then all processes will report `GPU:0` as the device.

[2018-09-21 15:37] UditGupta10 commented on #502
Thanks.

[2018-09-21 15:37] #502 closed

[2018-09-21 15:43] tgaddair commented on #509
Hey @UditGupta10, it's just to simplify the examples and make them easy to use.  Normally, you wouldn't do data prep in your training code, you'd handle that separately.  But we wanted the training examples to be self-contained.  If you want to see an example where things are setup more similar to how it would be done in practice, take a look at [keras_imagenet_resnet50.py](https://github.com/uber

[2018-09-21 15:48] tgaddair commented on #510
Hey @UditGupta10, **rank** is your index within the entire ring, **local_rank** is your index within your node.

For example, you have 4 nodes and 4 GPUs each node, so you spawn 16 workers.  Every worker will have a rank [0, 15], and every worker will have a local_rank [0, 3].

You use local_rank for GPU pinning because there's typically one GPU available on the node per process.  It wouldn't make

[2018-09-21 16:39] abidmalikwaterloo commented on #492
@alsrgv  Ok it is running now. I am reproducing some part of the output file:

Train Epoch     #1:  72%|#######1  | 19185/26691 [4:01:11<1:42:27,  1.22it/s, loss=5.79, accuracy=4.2]
Train Epoch     #1:  72%|#######1  | 19186/26691 [4:01:11<1:51:55,  1.12it/s, loss=5.79, accuracy=4.2]
Train Epoch     #1:  72%|#######1  | 19186/26691 [4:01:12<1:51:55,  1.12it/s, loss=5.79, accuracy=4.2]
Train Epoch

[2018-09-21 23:40] ludatabricks opened #511 "Error with tensorflow keras"
I try to modify one example from Keras example:
https://github.com/keras-team/keras/blob/master/examples/mnist_dataset_api.py

It is ok with keras. But when I change keras to tensorflow keras, I got the following error:
[code]

I only run it without MPI:
[code]

The code I am testing is
[code]

[2018-09-22 09:40] waynezhang2018 commented on #477
sorry guys for a late update

I have resolved the above problem by upgrade the horovod version

[2018-09-22 18:44] tgaddair commented on #511
Hey @ludatabricks, the issue here is that two different versions of Keras are being mixed.  In your code, you're using `tf.keras`, but in the `horovod.keras` module, we're importing `keras`.

Is your preference to use `tf.keras` over `keras`?

[2018-09-23 11:13] bapriddy commented on #506
Thanks!! @alsrgv

[2018-09-24 17:41] ludatabricks commented on #511
@tgaddair. Thanks for replying. That helps a lot. Currently, I am exploring all different options. If our existing project is based on 'tf.keras', it will be simple to use horovod then. Is there a way to use `tf.keras`? If not, I would like to add some warnings or even throw an error while running horovod.

[2018-09-24 22:02] LiweiPeng opened #512 "question: what's horovod's plan for FP16 support?"
Horovod has branches to support FP16 (e.g. fp16_divide_before_sum). What's the plan to merge FP16 support into master? Thanks,

[2018-09-24 22:43] alsrgv commented on #511
@ludatabricks, I have a hack for you that may be desirable in situation where you want to use code that depends on Keras with TF-Keras:

[code]

Beyond the hack, would it be more convenient for you to use something like:
[code]
?

[2018-09-24 22:47] alsrgv commented on #492
@abidmalikwaterloo, sounds like the `num_workers` fix help in your environment?

As for progress bar, you should actually just see one, https://github.com/uber/horovod/blob/master/examples/pytorch_imagenet_resnet50.py#L146 guards progress bar visibility only on rank 0.  Do you have that code unchanged?

[2018-09-25 02:32] zhimengfan1990 opened #514 "Still ask for password for root with ssh-keygen configured"
Hi, I configured the ssh-keygen for root account, and put the keys in `/mnt/share/ssh`. Then I run docker and mount `/mnt/share/ssh`(in host) to `/root/.ssh`(in docker). Then I launched the ssh daemon on the slave machine, and finally I run `ssh root@my_slave_machine -p 12345` on my host machine. But It still ask me for the password for root of the slave machine. How can I solve this issue? Thanks

[2018-09-25 06:10] BoseSean opened #515 "All rank or local_rank are 0, on single node"
Horovod always get ranks being 0.
I have tried to run the following hello world.
[code]
with `mpirun`:

[code]
and get result
[code]
Env:
[code]

[2018-09-25 06:39] UditGupta10 opened #516 "Running horovod on batch queue systems"
How to run horovod (on multiple machines) in a cluster using pbs. The documentation says that we need to enter host addresses but that is not possible if we allocate using pbs.

[2018-09-25 06:45] UditGupta10 opened #517 "Compare with vanilla tensorflow"
For 1 GPU, I observed that horovod (with 1 process) takes 40% more time as compared to normal tensorflow program, why is that the case? What causes the overhead ?

[2018-09-25 12:30] abidmalikwaterloo commented on #492
@alsrgv it looks that it is working. I didn't change the code yet. I am testing it just varying the variables at the top level. I just had another breakdown.
The first epoch went well and had a smooth transition from epoch 1 to 2:

Validate Epoch  #1: 100%|#########9| 1039/1042 [09:54<00:01,  1.73it/s, loss=4.21, accuracy=18.5]
Validate Epoch  #1: 100%|#########9| 1040/1042 [09:54<00:01,  1.79it/s

[2018-09-25 13:00] abidmalikwaterloo commented on #492
I similar issue at #404 but no solution

[2018-09-25 14:57] abidmalikwaterloo commented on #492
@alsrgv Does this has to do with the GPU arch. Going through various options to solve it and found the following:

https://github.com/fxia22/stn.pytorch/issues/12

[2018-09-25 15:13] Snapple49 opened #518 "Q: Running horovod on single machine with multiple GPUs?"
I have some questions about horovod and how it improves the performance in TF. My background in these topics is limited, I am new to ML, TF and in general how performance is looked at in machine learning and training.

1. Will horovod improve performance in a single machine multiple GPU setup? I've been reading about horovod and MPI for a bit but I have not found any conclusive answers, is there a

[2018-09-25 16:02] alsrgv commented on #518
@Snapple49, Horovod does allow you to train models on a single machine with multiple GPUs faster.  It will launch one TensorFlow process per GPU, so your TensorFlow script can remain agnostic of the fact that you have multiple GPUs.  I.e., you do not need to use [towers](https://datascience.stackexchange.com/questions/16361/what-is-a-tower).

To get more background about Horovod, I'll direct you t

[2018-09-25 17:52] yongwww commented on #215
I saw the same issue using tensorflow 1.10, horovod  0.14.1, cuda 9.0, cudnn  7.2, nccl 2.2 and openmpi 3.1 on AWS P3.16xl instances

[2018-09-25 19:11] LiweiPeng commented on #512
@alsrgv Yes, I tried the fp16_divide_before_sum branch for a nmt transformer model. I got about 17% throughput speedup with batch size 4096. When I doubled the batch size to be 8192, the throughput speedup is about 6.5%. This can be explained by more time is spent on computation with bigger batch size.

[2018-09-25 22:06] tgaddair commented on #515
Hey @BoseSean, `local_rank` and `rank` are determined by `MPI_Comm_rank`.  Usually this error is caused by having different versions of `mpicxx` and `mpirun`, as in [this](https://stackoverflow.com/questions/20287564/mpi-rank-return-same-process-number-for-all-process) StackOverflow question.

Usually this is caused by having both OpenMPI and MPICH installed, or multiple versions of OpenMPI.  Can

[2018-09-25 22:12] tgaddair commented on #516
Hey @UditGupta10, you should have access to an environment variable called `$PBS_NODEFILE` you can feed to `mpirun` with the `-hostfile` parameter.  See [this](http://www.npl.washington.edu/~athena/articles/7/a/a/78d806adf1e85013fbd96405abdb9.html#Using_the_PBS_NODEFILE_for_multi-threaded_jobs) article for more details, and let me know if that works.

[2018-09-25 22:15] tgaddair commented on #514
Hey @zhimengfan1990, there are a number of possible causes here.  I'd suggest taking a look at [this](https://unix.stackexchange.com/questions/36540/why-am-i-still-getting-a-password-prompt-with-ssh-with-public-key-authentication) thread on the Unix StackExchange and let me know if any of those suggestions work in your case.

[2018-09-25 22:54] tgaddair commented on #517
Hey @UditGupta10, could you share the benchmark you're running to arrive at that 40%?  I just ran a quick experiment on a single GPU with the `tensorflow_mnist.py` example.  It took about the same amount of time with `mpirun python ...`, `python ...`, and removing all Horovod code.

[2018-09-26 03:03] zhimengfan1990 commented on #514
Thanks @tgaddair , this is a ssh key file/folder ownership and mode issue, fixed it now! Thanks!

[2018-09-26 04:00] tgaddair commented on #514
Great!  Glad you got it sorted out.

[2018-09-26 04:00] #514 closed

[2018-09-26 05:31] zhimengfan1990 opened #520 "Tensorflow visible_device_list GPU id larger than visible device count"
I'm running a keras/tensorflow program on two DGX-1(each with 8 GPUs). But I got an error that says I don't have more than 8 GPUs. Log is below:
[code]

[2018-09-26 09:03] Snapple49 commented on #518
@alsrgv Thank you! I appreciate the direct answer, although I'll need to research a bit more about towers. Is that the main benefit in this scenario or are there other things I can look at as well?

I've read your blog post a few times already, and it does explain some things but it still left me with some questions, hence my post here. A lot of the talk about the network optimizations thanks to M

[2018-09-26 12:16] abidmalikwaterloo commented on #492
@tgaddair @alsrgv I got  breakdown during the training phase at different epoch numbers on different clusters as mentioned in #404

[2018-09-26 14:35] mrfox321 commented on #233
@msinto93  Did you ever figure out what the issue was on the sync issue?

[2018-09-26 14:52] SoloGao opened #521 "Install Failed with a segmentation fault"
Hi, everyone. I just tried to install horovod with tensorflow support. However, a standalone horovod install is successful without tensorflow support. When tensorflow-gpu is installed in the system, I got such error with sudo or root:
[code]
After manually run setup.py, I got a segmentation fault. Therefore, how could I manage to install horovod? Thanks a lot!!!!!

System: OpenSUSE Tumbleweed
CUDA

[2018-09-26 17:42] tgaddair commented on #520
Hey @zhimengfan1990, could you share your `mpirun` command and the output of `nvidia-smi`?

Also, if you have `CUDA_VISIBLE_DEVICES` set anywhere, could you try unsetting it (see #94)?

[2018-09-26 17:54] tgaddair commented on #521
Hey @SoloGao, can you try uninstalling Horovod and then reintstalling with `pip install --verbose --no-cache-dir horovod`?

[2018-09-26 18:14] avolkov1 commented on #159
This idiom for barrier works very well with Keras+TF:
[code]
But I can't figure out an equivalent to work with PyTorch? Any suggestion for an idiomatic way to do a Barrier when using Horovod with PyTorch. Thank you.

[2018-09-26 19:08] alsrgv commented on #159
@avolkov1, how about this:
[code]

[2018-09-26 19:39] mrfox321 commented on #215
Experiencing the same at the end of an epoch using

tensorflow 1.10, horovod 0.14.1, cuda 9.2, cudnn 7.2, nccl 2.2 and openmpi 2.0.2.

It is always at the end of an epoch.  Usually after the 2nd epoch.  Sometimes it de-syncs early, sometimes later.  Going to disable checkpointing to see if that keeps it going for longer.

It is hanging on a single node with 2x GPUs.

Using Dataset API for feeding.

[2018-09-26 20:06] avolkov1 commented on #159
Thank you! That worked great. I'm not as familiar with PyTorch. I was trying `hvd.allreduce(torch.FloatTensor(0), name='barrier')` and that didn't seem to work before. Although now that also seemed to work. Thank you again.

[2018-09-26 21:30] #511 closed

[2018-09-26 22:11] tgaddair commented on #511
@ludatabricks We've updated Horovod with first-class support for `tf.keras`, so going forward you'll be able to simply do:

[code]

[2018-09-27 00:50] zhimengfan1990 commented on #520
Hi @tgaddair , my command is `mpirun -np 16  -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH  python my_script.py`, inside docker. We are using DGX clusters, and no admin privilege, we can't use `nvidia-smi`

[2018-09-27 01:10] tgaddair commented on #520
Thanks @zhimengfan1990, and can you verify that `CUDA_VISIBLE_DEVICES` is unset?

Also, could you try running with `-bind-to none -map-by slot`?

[2018-09-27 01:10] SoloGao commented on #521
Hi @tgaddair, thanks for your reply.
Because it was a compile error, --verbose gave me the same result.
[code]

[2018-09-27 01:20] alsrgv commented on #521
@SoloGao, I think the installer is trying to build PyTorch support and has an issue with PyTorch.  To confirm, can you try the following and paste the output:
[code]

You should be able to resolve your issue by adding `HOROVOD_WITHOUT_PYTORCH=1` if you're not interested in PyTorch support.

Separately, since you're using GPUs, you should look into [using NCCL](https://github.com/uber/horovod/blob/

[2018-09-27 01:28] zhimengfan1990 commented on #520
Hi @tgaddair , Yes I tried to add `-bind-to none -map-by slot`, still got the same error...

[2018-09-27 01:29] alsrgv commented on #520
@zhimengfan1990, the service should have a way to provide you names/IPs of nodes that are part of the job that you're running.  Cluster admins should be able to point you to the right way of getting this information.

[2018-09-27 01:33] zhimengfan1990 commented on #520
@alsrgv  Yes, that's reasonable. I'll check with the admin of the cluster. Thanks!

[2018-09-27 02:00] SoloGao commented on #521
@tgaddair huge thanks for your reply! I have employed the NCCL in my build. However, `HOROVOD_WITHOUT_PYTORCH=1`seems not functioning?
Here is the result of using torch and tensorflow together.
[code]
Here is the new build result.
[code]

[2018-09-27 02:36] SoloGao commented on #521
WOW！ That works! I suppose it is related to a mismatch between the current PyTorch and CUDA version because a CUDA update during the new installation of tensorflow.
Huge thanks to @alsrgv as well as @tgaddair !

[2018-09-27 04:14] zshy1205 opened #525 "rank:0 is always failed"
I try change one TF code with horovod, but when I add the horovod in this code and take a try use only one GPU .I find that it was always failed.
`with tf.train.MonitoredTrainingSession(checkpoint_dir=checkpoint_dir,
                                         save_checkpoint_secs = 3600,
                                         hooks=hooks,
                                         config=config) as

[2018-09-27 04:15] zshy1205 commented on #525
why it can not do this code: sess.run('model/inference/embedding:0')

[2018-09-27 08:16] yh673025667 opened #526 "Very FATAL BUG about hvd.broadcast_optimizer_state"
It seems that hvd.broadcast_optimizer_state **cannot broadcast optimizer state to other gpus or other machines gpus.**

i have running `pytorch_imagenet_resnet50.py`, when i load a pretrained checkpoint, it seems that only my 1st gpu on my rank0 's learning have been changed to pretrained checkpoint. but others are **still init learning!!!**
my experiments result are as follows:

=> loading checkp

[2018-09-27 11:55] zeroprg commented on #110
I have the same type of problem. Blank screen , nothing happened
I only run on CPU :

I can run remotely from one computer to another:
mpirun -np 1 -H 192.168.1.78  python3 horovod_exmp/keras_mnist.py
and from another one
mpirun -np 1 -H 192.168.1.70  python3 horovod_exmp/keras_mnist.py
but when I combine 2 machine in  one cluster it's failed:
mpirun -np 1 -H 192.168.1.70,192.168.1.78  python3 hor

[2018-09-27 12:27] zeroprg commented on #110
When I run it one by one from one machine to another:
**```
mpiuser@opi1:~$ mpirun -bind-to none -np 1 -H 192.168.1.78  python3 horovod_exmp/keras_mnist.py
Data loaded
horovod initialised
x_train shape: (60000, 28, 28, 1)
60000 train samples
10000 test samples
[code]
mpiuser@opi1:~$ mpirun -bind-to none -np 2 -H 192.168.1.78,192.168.1.70  python3 helloworld.py
Hello, World! I am process 0 of 2 on

[2018-09-27 12:48] zeroprg commented on #110
This is my strrace .. . S much missed. Do you know what library I have add ?
[code]

[2018-09-27 15:09] tgaddair commented on #526
Hey @yh673025667, thanks for sharing this, I'll definitely look into this.  But first, please give me a bit more info to help with repro, specifically:

- What version of PyTorch are you using?
- What version of Horovod are you using?
- What's the full `mpirun` command you're using?

[2018-09-27 15:16] chriswli opened #527 ""/usr/local/bin/orted: No such file or directory" when running mpirun from Docker container"
Hello,

I am trying to run the steps in [Running on multiple machines ](https://github.com/uber/horovod/blob/master/docs/docker.md) on two machines that are part of the same network.  Per the instructions, I built a docker image (`horovod:latest`) locally that contains the keras_mnist_advanced.py example and various OpenMPI dependencies.

I have copied the SSH public key **(/root/.ssh/id_rsa_wukon

[2018-09-27 15:57] maxhgerlach commented on #499
While I did not get any smarter out of the `strace` logs, I tried again on a different server that is setup mostly identical, but does _not_ have the Mellanox OFED drivers installed for the Infiniband adapter (I had installed version 4.1-1.0.2.0 on the other system). Here the example and benchmarks scripts run fine without any major hang.

@tgaddair: Would you expect significant performance gains

[2018-09-27 17:15] tgaddair commented on #499
Hey @maxhgerlach, apologies for not getting back to you sooner.  Glad you got it working.

@alsrgv, any thoughts on the expected performance gains from getting OFED to work if they can't use RDMA?

[2018-09-27 19:49] ghltshubh commented on #389
@alsrgv can you point me to the public release of nccl 2 for power PC

[2018-09-27 21:55] alsrgv commented on #389
@ghltshubh, I just found NCCL v2.3.4 available in https://developer.nvidia.com/nccl/nccl-legacy-downloads for POWER. I will ask about the latest version for POWER.

[2018-09-27 22:07] alsrgv commented on #499
@maxhgerlach, depending on your model, you can get sizable performance gains from using RDMA w/o GPUDirect.

I'm not sure if the issue with other server is caused by OFED.  Would be interesting to try installing OFED on your new set of servers and see if you get performance improvement or regression.

[2018-09-27 22:11] alsrgv commented on #527
@chriswli,

Because of `I receive the same error even if I do not run the sshd daemon on the secondary worker.` I suspect that there may be other container running sshd on that same port.  What happens if you try using a different port?

[2018-09-27 22:15] alsrgv commented on #110
@zeroprg, I think the issue is with those docker interfaces.  Can you try using `-mca btl_tcp_if_include eth0 -x NCCL_SOCKET_IFNAME=eth0` in your `mpirun` command?

[2018-09-27 22:17] alsrgv commented on #525
@zshy1205, is there some small piece of code that reproduces your problem that you could share?

[2018-09-27 22:27] alsrgv commented on #518
@Snapple49, the usability of Horovod and having the same API across various flavors of TensorFlow (tf.Session, Estimator), Keras and PyTorch is one of the main benefits.  Nice APIs are make-or-break for ML engineers to start scaling their model. Having a good scaling efficiency is nice as well :-)

Bandwidth saturation usually happens on network layer rather than inside the server, however, it's p

[2018-09-27 22:45] alsrgv commented on #491
@thhsiao, it should be noted that MNIST example is an extremely small model that can be trained on laptop w/o GPU.  In order to see scaling/utilization, you can try adding Horovod to one of the real models you're training or [running a benchmark](https://github.com/uber/horovod/blob/master/docs/benchmarks.md).

[2018-09-27 22:56] #469 closed

[2018-09-28 00:17] #417 closed

[2018-09-28 00:17] #332 closed

[2018-09-28 00:29] alsrgv commented on #215
@yongwww, @mrfox321, when you see the hang, could you try running `gdb -p <pid> -ex "thread apply all bt"` for each of the processes and share all the logs as a [gist](https://gist.github.com)?  This should help to pinpoint the cause of the hang.

[2018-09-28 02:22] vilmara opened #528 "Example Imagenet-Resnet50 with Distributed TensorFlow-Horovod"
Hi, is there some example that shows how to train Resnet50-Imagenet with TensorFlow in distributed mode with Horovod?.

Thanks,

Vilmara

[2018-09-28 02:30] yh673025667 commented on #526
@tgaddair Hi, some more details are as follows

- Pytorch:0.4.1

- Horovod:0.14.1

- `mpirun` command:`mpirun -np 32 \
	-H server1:8,server2:8,server3:8,server4:8 \
	-bind-to none -map-by slot \
	-x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x NCCL_IB_DISABLE=1 \
	-x NCCL_SOCKET_IFNAME=ib0 \
	-x UCX_MEM_MALLOC_HOOKS=no \
        -mca pml ob1 -mca btl ^openib \
	-mca btl_tcp_if_exclude lo,docker0,

[2018-09-28 07:07] lxl910915 opened #530 "one rank can not be ready"
We start 7 workers, and the workers restore from a checkpoint. They hang with log:
Stalled ops: HorovodBroadcast_InceptionV3_Logits_Conv2d_1c_1x1_weights_0 [ready ranks: 5, 6, 3, 1, 4, 0]。

The log says rank 2 is not ready, _but the process of rank 2 works well_.

What's more, Stalled ops are all HorovodBroadcast variables, such as:

HorovodBroadcast_InceptionV3_AuxLogits_Conv2d_2a_5x5_BatchNorm_m

[2018-09-28 09:38] maxhgerlach commented on #499
Thanks for your advice, @alsrgv and @tgaddair!

I have just removed OFED from the first server, reinstalled OpenMPI and tried again with the Horovod Virtualenv I created on the second server. Now the example and benchmark codes run without any hang. So either the installation of OFED or the original installation of OpenMPI must have messed something up.

I will probably try again with version 4.4-

[2018-09-28 11:00] maxhgerlach commented on #499
With Mellanox OFED 4.4-2.0.7.0 the benchmark performance is better than with the old version, but still worse by a factor of 4 than without OFED:
[code]

Here is the output for the previous run, when no OFED was installed:
[code]

[2018-09-28 11:10] computingdolas opened #531 "horovod + tensorflow on AMD MI25 GPU"
Guys I tried running Tensorflow + Horovod on AMD MI25 GPU node. I got this very strange error Cam somebody help me with this :

mpirun --allow-run-as-root -bind-to none -map-by ppr:4:node -np 4 python benchmarks/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py --model resnet101 --batch_size 64 --variable_update horovod
TensorFlow:  1.8
Model:       resnet101
Dataset:     imagenet (synthetic)
Mode:

[2018-09-28 14:01] mrfox321 commented on #215
`mpirun -np 2
-H localhost:2     -bind-to none -map-by slot
-x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x HOROVOD_TIMELINE   -mca pml ob1 -mca btl ^openib     python train_gen.py`

will send a stack trace soon.

[2018-09-28 14:36] abidmalikwaterloo commented on #404
The following messgae is interesting:

  In file included from /home/amalik/Pytorch_virtual_enviornment/lib/python2.7/site-packages/torch/utils/ffi/../../lib/include/THC/THC.h:4:0,
                     from _test_cuda.c:493:
    /home/amalik/Pytorch_virtual_enviornment/lib/python2.7/site-packages/torch/utils/ffi/../../lib/include/THC/THCGeneral.h:12:10: fatal error: cuda.h: No such file or directo

[2018-09-28 15:41] mrfox321 commented on #404
Also got the same error:

`Caused by op u'DistributedAdamOptimizer_Allreduce/HorovodAllreduce_gradients_cudnn_rnn_stack_cudnn_gru_CudnnRNN_grad_tuple_control_dependency_3_0', defined at:`
...
`
UnknownError (see above for traceback): cudaMemcpyAsync failed: invalid argument
         [[Node: DistributedAdamOptimizer_Allreduce/HorovodAllreduce_gradients_cudnn_rnn_stack_cudnn_gru_CudnnRNN_grad_tuple_

[2018-09-28 18:13] alsrgv commented on #404
@abidmalikwaterloo, could you try specifying `HOROVOD_CUDA_HOME=/path/to/your/cuda` in your installation flags?

[2018-09-28 18:14] alsrgv commented on #404
@mrfox321, could you try running from debug branch, as described in https://github.com/uber/horovod/issues/404#issuecomment-425282711, to help narrow down this issue?

[2018-09-28 18:16] alsrgv commented on #215
@mrfox321, these flags should work on OpenMPI 2.1.1, but I'm not really sure about OpenMPI 2.0.2.

[2018-09-28 18:18] alsrgv commented on #110
@zeroprg, great, looking forward to your blog post!

[2018-09-28 19:06] alsrgv commented on #531
@computingdolas, just to confirm - what flags did you install Horovod with?

[2018-09-29 00:04] computingdolas commented on #531
I installed openmpi and then did pip install Horovod --user. Did not use RCCL. What do you guys recommend ?

[2018-09-29 00:45] zhimengfan1990 commented on #520
Fixed it now, the file in docker image `/usr/local/etc/openmpi-mca-params.conf` is conflict with our cluster configuration. After removing it in docker image, it can run on our cluster.

[2018-09-29 00:45] #520 closed

[2018-09-29 02:16] tgaddair commented on #512
#529 merges these changes into master (sum before divide).  Let me know if anything unexpected comes up!

[2018-09-29 03:01] mrfox321 commented on #215
@alsrgv switched to SSD and the GPUs no longer hang.  Something about the I/O on HDD leads to a race condition (poisson process?).

FYI, Horovod is ~25% slower with CUDA 10 on RNNs (cudnn).

[2018-09-29 04:32] lxl910915 commented on #530
It we start 7 workers on one host, it works well.

[2018-09-29 13:24] kala-Chen opened #534 "problems when I run the example tensorflow_mnist.py:This was caused by an exception on one of the ranks or an attempt to allreduce, allgather or broadcast a tensor after one of the ranks finished execution."
Hi~ guys , :(  when i run the tensorflow_mnist.py exmple in my 3 nodes machine myserver1, myserver2,and myserver3
(each machine has one gpu),

machine configuration:
OS:CentOS Linux release 7.2.1511
Python: python3.5.4
torch: 0.4.1
torchvision:0.2.1
cuda:9.0
nccl: nccl_2.3.5-2+cuda9.0_x86_64
openmpi: 3.1.2
GPUs : NVIDIA-SMI 390.77 Tesla P40
tensorflow-gpu :1.8
horovod:0.14.1

my horovod install co

[2018-09-29 19:12] tgaddair commented on #534
Hey @kala-Chen, is the full log from `mpirun`?  Typically, those errors should come after an error that occurs earlier in the program's execution.  Could you try pasting the full log into a [gist](http://gist.github.com)?  Thanks.

[2018-09-30 01:27] xieydd opened #536 "Support different gpus in different node?"
something like this :
[code]

[2018-09-30 02:57] xieydd commented on #536
i test it , support haha.

[2018-09-30 02:57] #536 closed

[2018-09-30 03:07] kala-Chen commented on #534
hi~   @tgaddair  , i run the code on myserver1, and this time, i post the log message  below:
https://gist.github.com/kala-Chen/287226b6a36701e7a86477368979db0c
and seems to be stuck for some reason .

[2018-09-30 03:17] lxl910915 commented on #534
We have the same problem. Any body help?

[2018-09-30 04:24] #534 closed, assigned to nobody

[2018-09-30 05:01] tgaddair commented on #534
Great!  Glad you got it figured out.  We might need to add more logging to that example to verify the data downloaded correctly.

[2018-10-01 08:46] Snapple49 commented on #518
@alsrgv Thank you again! I see, I can definitely see the niceness of good usability.

Since I'm mainly interested in performance I was looking at the benchmarks you did for the paper with tf-cnn-benchmarks, and I tried running the same benchmark with mpi and horovod versus without mpi and replicated/parameter server to see the throughput with various amounts of GPU. I thought that this would give

[2018-10-01 13:35] abidmalikwaterloo commented on #404
@alsrgv  I tried as to build from scratch

-------------------

conda install pytorch torchvision -c pytorch
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/amalik/nccl_2.1.15-1+cuda9.0_x86_64/lib
export HOROVOD_NCCL_HOME=/home/amalik/nccl_2.1.15-1+cuda9.0_x86_64/
export HOROVOD_GPU_ALLREDUCE=NCCL
export HOROVOD_CUDA_HOME= /software/cuda/
export PATH=$PATH:/software/openmpi/3.0.0-gnu/bin/
export LD_

[2018-10-01 21:54] LiweiPeng commented on #512
Thanks.

[2018-10-02 02:04] alsrgv commented on #404
@abidmalikwaterloo, do you have HOROVOD_MPICXX_SHOW set?  It appears that it's set to `/software/openmpi/3.0.0-gnu/`.  Can you set it to `export HOROVOD_MPICXX_SHOW="/software/openmpi/3.0.0-gnu/bin/mpicxx -show"`

[2018-10-02 18:07] terrykong commented on #512
Does Horovod plan on supporting the bfloat16 format for Tensorflow?

[2018-10-02 23:28] alsrgv commented on #512
@LiweiPeng, Horovod 0.15.0 with FP16-on-GPU support has been released just now.  We've also observed ~15% improvements on ImageNet training task.

@terrykong, not immediately, but it's an interesting future direction & integration point!

[2018-10-03 10:57] abidmalikwaterloo commented on #404
@alsrgv It seems that I didn't get any error yet with this new setting. I also changed the virtual environment. Currently, I am testing it extensively with different runtime variables just to ensure that if the breaking has to do with the nondeterministic behavior.

[2018-10-03 12:59] tonysy opened #540 "pytorch example raise OSError: [Errno 24] Too many open files with 0.4.1"
When I run `python pytorch_mnist.py`, it will raise error "OSError: [Errno 24] Too many open files". after the first epoch training finished.  And my pytorch version is "0.4.1", horovod version is "0.15.0".

If I use pytorch with 0.4.0, it will run success. Hope the team will support 0.4.1 soon. Thanks.

[2018-10-04 13:49] abidmalikwaterloo commented on #404
@alsrgv  Finally
 got the same error. FYI, I ran a whole training with 5 GPUs with 10 epochs. Now I tried with  6GPUs and got the error. I think shows an undeterministic behavior. I am attaching the error log for your convenience.

[err_4559.log.pdf](https://github.com/uber/horovod/files/2446560/err_4559.log.pdf)

[2018-10-04 18:37] alsrgv commented on #540
@tonysy, can you try rebooting your server?

[2018-10-05 16:29] ghltshubh opened #541 "Can't install horovod on power8 machine"
I am facing issue installing horovod on power8. I am getting the following error:

[code]
Already have the path set in .bashrc as well as tried the following:

`(tf_p3.5) -bash-4.2$ HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=/autofs/nccs-svm1_home1/shubhankar/nccl-2.1 HOROVOD_NCCL_INCLUDE=/autofs/nccs-svm1_home1/shubhankar/nccl-2.1/include HOROVOD_NCCL_LIB=/autofs/nccs-svm1_home1/shubhankar/nccl

[2018-10-05 16:37] tgaddair commented on #541
Hey @ghltshubh, can you provide the full `pip install` command you ran, along with the complete output in a gist?  Also, can you verify that you went through the [Horovod on GPU](https://github.com/uber/horovod/blob/master/docs/gpus.md) docs?

[2018-10-05 16:46] ghltshubh commented on #541
Yes I did. Btw I am using IBMs spectrum MPI and not sure if I should use the bottom command or not.

[2018-10-05 17:36] tgaddair commented on #541
My best guess at the moment is that there's a system incompatibility with your version of NCCL similar to #107.  It might also be an issue with your conda environment.

A couple things to try would be: reinstall Horovod in a fresh conda environment, and try a different version of NCCL (2.2 or 2.3).

[2018-10-05 17:41] ghltshubh commented on #541
I found a glitch that I have glibc 2.17 whereas NCCL 2 works for glibc >2.19. Can this be a real issue?

[2018-10-05 17:48] tgaddair commented on #541
Quite possibly.  Can you try updating your version of glibc?

[2018-10-05 17:52] ghltshubh commented on #541
I am still getting the same error. I am on a shared machine can't do much on that end.

[2018-10-06 02:58] andfoy commented on #404
@alsrgv I managed to replicate the error once again using your debugging build, here is the error traceback:

[code]

[2018-10-06 16:56] andfoy opened #543 "AssertionError: Local gradient accumulation"
Hi,
I'm trying to implement gradient accumulation as described on this [PyTorch discussion thread](https://discuss.pytorch.org/t/how-to-implement-accumulated-gradient/3822/8?u=andfoy) to train a large model by breaking down a larger input batch into smaller batches, accumulating the resulting gradients and then updating the optimizer.

[code]

While this approach works on a single GPU, it fails wh

[2018-10-06 20:32] andfoy commented on #543
After taking a look at https://github.com/uber/horovod/blob/master/horovod/torch/__init__.py#L75, I thought if its possible to introduce a new ``_DistributedOptimizer._deregister_hooks``, which would disable all the all_reduce operations that could happen after performing a ``.backward()`` call. By doing so, I think the code example would look like this:

[code]
By temporarily disabling the backwa

[2018-10-06 21:03] alsrgv commented on #543
@andfoy, I believe this is very similar to #455.  A contribution like this would be very welcome.  There are few enhancements I'd suggest:
1. Name method something like `ignore_gradients(True/False)`
2. In assertion, failure should suggest this scenario and using `ignore_gradients()`
3. `ignore_gradients()` should still remember parameters, but not invoke allreduce.  Then, if the user forgets to u

[2018-10-06 21:07] andfoy commented on #543
@alsrgv Thanks for the feedback, I'll introduce your suggested changes, and send a PR for further discussion

[2018-10-07 04:12] alsrgv commented on #541
@ghltshubh, NVIDIA recently has open sourced NCCL 2, so you can try building your own version.  Can you try:
[code]

[2018-10-07 15:56] alsrgv commented on #404
@abidmalikwaterloo, @andfoy, thanks for reproducing this issue.  It certainly narrows it down to a single `cudaMemcpyAsync` statement.  I've updated the `debug_before_memcpy` branch with additional debug information, could you re-install and reproduce again?

[2018-10-08 00:09] cheyang opened #547 "Performance tuning on horovod"
Hi all,

I'm running performance benchmark with synthetic data and docker image uber/horovod:0.13.10-tf1.9.0-torch0.4.0-py3.5.

Start docker in each node:
[code]

Single Node and GPU:

[code]

Performance Result:
[code]

Two Nodes and each has one GPU:
[code]

Performance Result:
[code]

The performance improvement looks less than expectation(370.14/(224.30*2) =82% comparing with single node). Do

[2018-10-08 09:19] Jongchan opened #549 "Unexpected segmentation fault with PyTorch + Horovod"
System configuration
- Azure VM of size NC24s_v2 (four P100)
- Ubuntu 16.04
- Docker image from [Horovod with Docker](https://github.com/uber/horovod/blob/master/docs/docker.md), skip Tensorflow/keras installation

Before beginning, I want to state that this problem is resolved for me. I am writing this issue for the record.

For learning rate decay, I define the optimizer every epoch
[code]
The m

[2018-10-08 10:32] waynezhang2018 opened #550 "multi-node multi-cpu training do not converge"
hi, guys

sorry for bothering!

I have successfully run the example, and also convert my own code from single node DataParallel to distributedDataParallel mode, the train runs without any error, but the loss is not descending and the accuracy looks wrong (finally to be 0)

the surprising point is, if I run the code with single GPU with batch size 128 and LR=0.001, it can work, everything is fine a

[2018-10-08 10:32] waynezhang2018 commented on #550
btw, I am using pytorch 0.4.0 and horovod 14

[2018-10-08 12:08] ghltshubh commented on #541
@alsrgv Is $(nproc) required here?

[2018-10-08 13:39] ghltshubh commented on #401
Is this error solved. I think anybody using conda will face this issue: https://github.com/conda-forge/libgfortran-feedstock/issues/15#issuecomment-421184741

[2018-10-08 16:39] alsrgv commented on #541
@ghltshubh, can you upgrade to TensorFlow 1.11.0?

[2018-10-08 16:49] alsrgv commented on #549
Thanks for reporting this issue.  It's a bug we should fix.  Specifically, if you instantiate additional `hvd.DistributedOptimizer()`, you have an additional set of hooks that will cause the same gradients to be all-reduced multiple times.  It's still an error, but we should show a nice error message there instead of a segfault.

[2018-10-08 16:51] alsrgv commented on #550
@waynezhang2018, could you review [this example](https://github.com/uber/horovod/blob/master/examples/pytorch_imagenet_resnet50.py) and check that you have corresponding code in your model for every part that says `# ... Horovod ...`?

[2018-10-08 17:06] ghltshubh commented on #541
I was able to build and install horovod using nccl 2.3 by running:

`cp -r /ccs/home/shubhankar/tensorflow/tensorflow/compiler/ /ccs/home/shubhankar/miniconda3/envs/tf_p3.5/lib/python3.5/site-packages/tensorflow/include/tensorflow/`

[2018-10-08 18:18] alsrgv commented on #547
@cheyang, network bandwidth 3.0 Gbit/s is very little for P100 GPUs.  If possible, you should upgrade to 25 Gbit/s or 50 Gbit/s if you plan to scale to multiple nodes.

You can try to use fp16 allreduce mode for your training.  To do so, modify this line: https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/benchmark_cnn.py#L2738

Replace:
[code]
With:
[code]

[2018-10-08 22:59] cheyang commented on #547
Thank you for the suggestions! I turned the network bandwidth to 25 Gbit/s.

The result is :
[code]
Do you think is it normal for 25 Gib/s network? Or do you have any suggestions on optimizing network configuration?

I'm also wondering if using fp16 allreduce will impact the training result, such as accuracy. Why is it not default setting? Thanks in advanced.

[2018-10-09 06:32] summer2rain opened #551 "ImportError: Extension horovod.tensorflow has not been built"
When I execute the command      python -c "import horovod.tensorflow as hvd"  , I have encountered the above problem, how can I solve it?

My install command:
HOROVOD_WITH_TENSORFLOW=1 HOROVOD_GPU_ALLREDUCE=MPI HOROVOD_GPU_ALLGATHER=MPI HOROVOD_GPU_BROADCAST=MPI HOROVOD_CUDA_HOME=/usr/local/cuda/cuda-9.1/  python setup.py install

[2018-10-09 15:12] tgaddair commented on #551
Hey @summer2rain, can you try reinstalling and pasting the full log into a gist?  Looks like something failed to link during installation.

[2018-10-09 15:19] maxhgerlach commented on #482
@LiweiPeng I stumbled over this question by accident. Why do you believe averaging the loss helps convergence? The actual value of the loss should not play a role for the gradient descent update of the parameters IMHO.

[2018-10-09 16:57] LiweiPeng opened #552 "Horovod MPI job is expected to abort when horovod has been shutdown"
I have been used horovod (0.14.x, 0.15.0) to run tensorflow jobs. Sometimes my job used too much GPU memory and it hit OOM error. At this point, horovod reported error like below. MPI+horovod continued running with constant errors until I manually killed all the processes.

What I expect is that the mpi+horovod process will abort so that all the GPU resources can be freed. But this never happened.

[2018-10-09 17:35] byronyi commented on #547
Why don't you use RoCE if you are using 25GbE and ``--net=host``?

[2018-10-09 21:55] LiweiPeng commented on #552
One simple repro for this issue is: use MPI with 2 processes to run a tf+hvd job. One process uses normal batch size. Another process uses a batch size that'll cause OOM. When this occurs, the horovod+tf job goes to endless error state.

The expected behavior when horovod found this error is to call MPI_Abort(). So that all the MPI processes can be properly cleaned up.

[2018-10-10 00:14] cheyang commented on #547
It's because I'm testing on the public cloud.

[2018-10-10 10:02] Jongchan opened #553 "IOError: [Errno 4] Interrupted system call"
I am using Horovod upon 4 Azure VMs (NC24s_v2 with 4 P100 GPUs) with docker setups.

The training process is okay for many epochs (~100 epochs), but I see an error which ends the training. I have tried 2 times, with 2 nodes / 4 nodes respectively.
Both cases ended with the same error.

The code with the error is at the "print" line
[code]

The error message is as below
[code]

During the first tri

[2018-10-10 10:29] summer2rain commented on #551
Sorry, I have a problem with the description, I found that I encountered problems when executing the command  (python -c "import horovod.tensorflow as hvd") in the source code directory. When in other directories, executing the command will encounter the following problems.

tensorflow.python.framework.errors_impl.NotFoundError: /home/me/miniconda2/lib/python2.7/site-packages/horovod/tensorflow/mp

[2018-10-10 13:51] abidmalikwaterloo commented on #404
@alsrgv  I am setting my CUDA flag using HOROVOD_CUDA_HOME. I am still getting the following error:

generating /tmp/tmpw_a9k1rr/_test_cuda.c
    setting the current directory to '/tmp/tmpw_a9k1rr'
    running build_ext
    building '_test_cuda' extension
    mpicc -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -fPIC -I/home/amalik/PyTorchHorovod/lib/python3.6/site-packages/torch

[2018-10-10 20:17] billy19murahmi opened #554 "Segmentation fault when scaling up the nodes"
Description:
Horovod crashes when I'm trying to scale up over 50 nodes. The model I'm trying to run horovod with is tensorflow/models/official/transformer/ .

I've attached the gdb output of the coredump.
[debug.txt](https://github.com/uber/horovod/files/2466318/debug.txt)

I'm running it on cpu's.
'num_cores': 40, 'cpu_info': 'Intel(R) Xeon(R) Gold 6148 CPU @ 2.40GHz'

Environment:
horovod==0.15.

[2018-10-10 21:33] alsrgv commented on #551
@summer2rain, seems like you have one TensorFlow installed in `/home/me/lib/libtensorflow_framework.so` and potentially other installed in Miniconda environment.  If that's the case, can you uninstall redundant copies of TensorFlow?

[2018-10-10 21:38] alsrgv commented on #553
@Jongchan, here Python 2.7 is blamed https://github.com/pytorch/pytorch/issues/7364.  Can you try running the code using Python 3.5+?

[2018-10-10 23:48] alsrgv commented on #552
@LiweiPeng, I have followed your repro with `tensorflow_mnist_estimator.py` example.  I am able to see AbortedError, however, it seems that in case of an Estimator, TensorFlow treats those errors as retryable:

[code]

Are you using an Estimator in your scenario?

[2018-10-11 00:28] alsrgv commented on #554
@billy19murahmi, it seems that in your case segfault is happening within TensorFlow:
[code]

Can you share modifications that you've done to the Transformer model to run it with Horovod?

[2018-10-11 00:32] alsrgv commented on #547
@cheyang, can you share which cloud you're using?  It may help narrow down the issue.

Additionally, can you capture network utilization using `ethtool`, similar to https://github.com/uber/horovod/issues/255#issuecomment-386772483, and check if it actually reaches 25 Gbit?

[2018-10-11 02:35] summer2rain commented on #551
@alsrgv  There is only one libtensorflow_framework.so.
/home/me/lib/libtensorflow_framework.so -> /home/me/miniconda2/lib/python2.7/site-packages/tensorflow/libtensorflow_framework.so

I want to ask, is the reason for the program error because my glibc is too old?

[2018-10-11 19:43] billy19murahmi commented on #554
@alsrgv Thanks for your immediate response.
I haven't created a branch. I'm just experimenting in local.
I've created 2 gists which has the horovod changes in transformer_main and dataset pipeline.

https://gist.github.com/billy19murahmi/8ce0e0b0fbb10010c34f154f3742195c

https://gist.github.com/billy19murahmi/60f7810da035d14812f1e2264cedf4a4

Changes can be searched with following comment in the c

[2018-10-12 02:08] tonysy commented on #540
Ok, it works

[2018-10-12 02:09] #540 closed

[2018-10-12 02:12] alsrgv commented on #554
@billy19murahmi, can you try getting rid of distribution strategy @ https://gist.github.com/billy19murahmi/8ce0e0b0fbb10010c34f154f3742195c#file-transformer_main_hvd-py-L554 ?

[2018-10-12 15:56] bapriddy opened #558 "Dockerfile TF ver 1.11.0 not 0.11.0"
@alsrgv  The heading for the docker file is wrong

Upgrade Dockerfile to TensorFlow 0.11.0, PyTorch 0.4.1 and Open MPI 3…

https://github.com/uber/horovod/blob/master/Dockerfile

It's clear when you glance at the code (obviously).

Nice code! Everything works SO FAR...

[2018-10-12 16:19] cheyang commented on #547
Thank you. I'm using the Alibaba Cloud.

But the output of `ethtool -S eth0` is `no stats available`. :(

[2018-10-12 19:43] alsrgv commented on #558
@bapriddy, thanks!  Very good observation, I guess I'm still living in the past :-)  I've updated PRs, but the commit title will stay the same until we update again - which should be pretty soon, TF 1.12.0 is around the corner!

[2018-10-12 22:54] alsrgv commented on #551
@summer2rain, could it be that you upgraded TensorFlow after installing Horovod?

[2018-10-12 22:56] alsrgv commented on #530
@lxl910915, sorry for the delayed response.  Have you resolved the issue?  If not, is it possible that there's HW issue with GPU on rank 2?  Also, it may be helpful to upgrade Horovod to latest version 0.15.0 in case you're hitting a bug that we've fixed.

[2018-10-12 23:00] alsrgv commented on #531
@computingdolas, unfortunately, we don't have any AMD GPUs to try reproducing the issue.  Ignoring the read errors, does training actually proceeds?

[2018-10-12 23:08] alsrgv commented on #499
@maxhgerlach, are you using regular OFED or Mellanox OFED?  Can you try MOFED?

[2018-10-13 00:05] billy19murahmi commented on #554
@alsrgv I tried getting rid of the distribution strategy. I still run into the same segmentation fault. Not sure why this happens only if I go over 50 nodes.

[2018-10-13 00:09] alsrgv commented on #474
@markmp, were you able to resolve your problem?

[2018-10-13 00:17] alsrgv commented on #452
@LiweiPeng, did you figure out a solution for your problem?  If not, maybe this queue setting will help: `-mca btl_openib_receive_queues P,128,32:P,2048,32:P,12288,32:P,65536,32`

[2018-10-13 02:02] billy19murahmi commented on #554
@alsrgv yes, the smaller batch (512) runs fine anything above that gets seg fault when I'm scaling up. But its too less compared to default batch size which is 4096.
Node has 196 GB, so memory is not the issue. Running on a single node with batch size 4096 consumes less than 10% of the total available memory.

[2018-10-13 02:18] alsrgv commented on #554
@billy19murahmi, for sparse tensors, which are common in embeddings, we're using AllGather operation which requires an amount of memory proportional to # of nodes and batch size (i.e. total batch size).  That said, usually, embeddings are not large enough to cause an issue, but I'm wondering if this is not the case for this model.

[2018-10-13 02:28] billy19murahmi commented on #554
@alsrgv ah, that makes sense. Is there a way that I can verify if this is what is causing the issue?

[2018-10-13 02:40] samyam opened #561 "tensorflow_mnist.py hangs at hvd.init(). Already tried password less ssh authentication and removing non-routed network"
When I try to run tensorflow_mnist.py in the examples, I cannot get past hvd.init(). It just hangs there. I can ssh into localhost without any prompt, and I have removed the non-routed network.

Can someone please help? I have been stuck here for the last two days

I am attaching a log from strace -f -e 'trace=!poll'
[tensorflow-mnist-strace.log.zip](https://github.com/uber/horovod/files/2475004/t

[2018-10-13 02:44] alsrgv commented on #554
@billy19murahmi, can you try to capture [timeline](https://github.com/uber/horovod/blob/master/docs/timeline.md)?  It will have dimensionality information that can help us.

[2018-10-13 02:53] alsrgv commented on #561
@samyam, can you check if you can `ssh 10.125.164.70`?  Strace gets stuck right around:
[code]

[2018-10-13 03:11] samyam commented on #561
It gave me a yes/no prompt. I said yes. I re ran the tensorflow-mnist, but its still hanging. I am attaching the log of the run after fixing the above ssh.
[tensorflow-mnist-strace-2.log.zip](https://github.com/uber/horovod/files/2475025/tensorflow-mnist-strace-2.log.zip)
The last few lines from the log before running into the infinte nanosleep loop are

[pid 37000] read(9, "\1\0\0\0\0\0\0\0", 8)

[2018-10-14 00:06] tgaddair commented on #526
Hey @yh673025667, sorry for the late response.  This behavior was expected as we weren't broadcasting the optimizer "options" like learning rate, which are typically static unless changed from outside the optimizer.  However, #562 introduces a change that will address this issue if you'd like to check it out.

[2018-10-14 09:08] billy19murahmi commented on #554
@alsrgv In the zip folder there are 3 timeline files, all three were run on 64 nodes.

timeline_base_512.json - This completed without any errors. It uses baseline model (smaller model) with batch size 512.
timeline_big_512.json - This one produced seg fault, big model with batch size 512.
timeline_base_4096.json - Seg fault again, this one has all default parameters set including batch size of  4

[2018-10-14 15:34] wto98769999 commented on #65
@ydp I am wondering whether you can share your D-PSGD source code on the Github? I am a new learner in this topic. I am eager to learn something about the decentralized ml algorithms. Appreciate.

[2018-10-15 12:41] abidmalikwaterloo commented on #404
@alsrgv FYI, Running the experiments. Unable to get the resources because of the long queue on the cluster. Will update as soon as I see the crash.

[2018-10-15 14:34] whr94621 commented on #56
If I want to specify which GPU to use on each remote node, how could I do this?

[2018-10-15 18:13] samyam commented on #561
Can anyone please help me debug this issue?

@alsrgv: Any further suggestions?

[2018-10-15 18:30] #549 closed

[2018-10-15 18:30] #552 closed

[2018-10-15 18:48] alsrgv commented on #561
@samyam, could you try doing the same with `ssh 127.0.0.1` and `ssh localhost`.  If those don't help, can you run `mpirun` with `-mca plm_rsh_args "-vvvv"` and share the output?

[2018-10-15 18:52] alsrgv commented on #56
@whr94621, you can specify it when you pin GPU.  By default, [we pin to local rank of the process](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist_estimator.py#L143), but you can pin to a different GPU as well:
[code]

P.S. Please open new issues for unrelated questions.

[2018-10-15 20:42] #526 closed

[2018-10-15 20:50] LiweiPeng commented on #552
@alsrgv I am using Estimator. Thanks for handling this issue quickly.

[2018-10-15 22:19] LiweiPeng commented on #552
I verified the fix in latest horovod code. My issue was resolved successfully! Thanks!

[2018-10-16 12:33] maxhgerlach commented on #499
Hi @alsrgv, I installed the "Mellanox OpenFabrics Enterprise Distribution for Linux" from [http://www.mellanox.com/page/products_dyn?product_family=26](http://www.mellanox.com/page/products_dyn?product_family=26). I haven't tried any other OFED stack. Would "regular OFED" come from [https://www.openfabrics.org/downloads/OFED/](https://www.openfabrics.org/downloads/OFED/)?

BTW I managed to adapt o

[2018-10-16 15:52] billy19murahmi commented on #554
@alsrgv did you get a chance to look at the timeline files?

[2018-10-16 17:58] jeff-engineml opened #564 "Pytorch gradients with control flow"
Environment: Python 2.7, Horovod 0.15.0, Pytorch 0.4.0, CUDA 9.0, Cudnn 7

[code]

This example hangs if `some_condition` evaluates to `False` for some ranks, and `True` for others. For the ranks that `some_condition` evaluate to `True`, pytorch will send gradients for all weights in model (as expected). For ranks that evaluate to `False`, pytorch will not send **any** gradients. When this happens

[2018-10-16 18:45] alsrgv commented on #564
I think we could solve this by forcing allreduce for all model parameters in `step()` that were not being allreduced already in gradient hooks.  Would you like to contribute that change?

[2018-10-16 18:53] alsrgv commented on #499
@maxhgerlach, yes, OFED would come from `openfabrics.org`.

One thing to debug whether this issue is coming from MPI or NCCL is to try `--horovod_device cpu` in benchmarks, and compare performance with and without MOFED.  Could you try that?

[2018-10-16 19:08] alsrgv commented on #554
@billy19murahmi, here's the interesting part:

![image](https://user-images.githubusercontent.com/16640218/47040255-b16fc280-d13a-11e8-8353-ace86b5927c9.png)

What we see here is that output of allgather will require `2233033*512*4` bytes =~4.25GB.

The other traces that you have crash on allocate output, so it's exactly pointing us to OOM in allgather.

Is it possible to run big model at smaller

[2018-10-16 20:45] yncxcw opened #565 "Not working with tensorflow estimator API"
Environment: Python 2.7, Horovod 0.15.0, tensorflow 1.11, CUDA 9.2, Cudnn 7

It works fine if I only
[code]

But not works when do eval and train likes this:
[code]

Looks like the second epoch of train always fails to syn.

Is there anyway to work this out  ?

[2018-10-16 23:38] samyam commented on #561
I  can log into 127.0.0.1 and localhost without any promt for password. But its didn't help. I tried using the horovod docker, and that seems to work. Closing the issue for now.

[2018-10-16 23:38] #561 closed

[2018-10-17 01:12] samyam opened #566 "Severely limited performance. Error: errno 38"
I see almost no performance gain running tensorflow_mnist.py on 1 GPU vs 2 GPU using Horovod (logs for both runs attached) on a single node. I suspect, maybe there is some configuration issue.

I see the following message repeated hundreds of times when running on more that 1 GPU (please see the log) :

[gcrgpu1172:04092] Read -1, expected 102400, errno = 38

For some of my own models, I see this

[2018-10-17 01:19] alsrgv commented on #566
@samyam, MNIST model is there just to learn the ropes, it's too small to see any performance gain.  Do you see any gains on your model training?

As for error, it is pretty harmless but should be removable by running in privileged mode.  I see that you already specify `--privileged` to docker, but it may get overwritten by `--cap-add=SYS_PTRACE`.  Can you try removing `--cap-add=SYS_PTRACE`?

[2018-10-17 02:07] samyam commented on #566
I am not seeing any gains on my model either. On 1 GPU I see 2.7 batches/sec, while on 2 GPUs I see 2.8 batches/sec combined (1.45 batch/sec per GPU). On more than 4 GPUs the training crashes with these messages: The log is attached.

**It appears as if there is not enough space for /dev/shm/vader_segment.gcrgpu1172.b9000001.2 (the shared-memory backing
file). It is likely that your MPI job will n

[2018-10-17 03:48] alsrgv commented on #566
@samyam, to resolve shared memory issue, can you try increasing docker shared memory limit, e.g. via `--shm-size=1g`?

After that, could you try capturing the timeline (https://github.com/uber/horovod/blob/master/docs/timeline.md), so we could look into communication pattern of your model?

[2018-10-17 03:49] alsrgv commented on #565
@yncxcw, what messages do you see after second epoch starts and fails to sync?

[2018-10-17 18:28] alsrgv commented on #566
I see that allgather is aggregating quite a significant chunk of sparse tensors, which makes me think they're not very sparse.

![image](https://user-images.githubusercontent.com/16640218/47108122-cfebc180-d1ff-11e8-9047-311dd4e6d1bf.png)

Do you think it's the same issue as #554?