[2020-05-17 22:39] tgaddair commented on #1943
Fixed by #1952.

[2020-05-17 22:39] #1943 closed

[2020-05-18 11:50] 836304831 opened #1961 "run yolo3(tf.keras implemented) with cpu, after first epoch, the process will exist."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)Tensorflow
2. Framework version:1.12.0
3. Horovod version:0.19.0
4. MPI version:4.0.0
5. CUDA version:None
6. NCCL version:None
7. Python version:3.6.9
8. OS and version: ubuntu18.04
9. GCC version: 7.5.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did y

[2020-05-18 11:50] lljjgg opened #1962 "Horoved install with NCCL"
I want to use Horovod on GPU with nccl.But for some special reasons, I can only provide static libraries of nccl. want to know if I can install horovod in this case. if feasible ,What should I do.Looking forward to your reply.Thanks.

[2020-05-19 00:04] DEKHTIARJonathan opened #1963 "[Bug Report] `python setup.py install` is broken"
When installing Horovod from source, it seems that one of the "common routes" is broken:

**Building as follows will generate an impressive number of issues at execution:**
[code]

**However, building as follows perfectly works:**
[code]

---------------------------

Error Log:

[code]

@tgaddair FYI ;)

[2020-05-19 03:14] Young768 commented on #1558
Hi @tgaddair I just work back to this issue recently. I have two questions and maybe you can give me a hand.
1, I start with TF 2.0, when the cross-iteration is enabled, the slow worker will join the Allreduce with a null/zero tensor. What's your suggestion to implement suck a tensor? I can only find the zero tensor [here](https://www.tensorflow.org/api_docs/python/tf/zeros). And make sure the sam

[2020-05-19 15:03] yeamusic21 commented on #431
Hitting this issue on Azure Data Science Virtual Machine :-(

[2020-05-19 15:04] yeamusic21 commented on #656
Hitting this issue on Azure Data Science Virtual Machine :-(

[2020-05-19 17:02] thecooltechguy opened #1964 "[Also a BUG REPORT] Should hvd.load_model be called on all ranks when resuming from a checkpoint?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow 2.1.0's tf.keras
2. Framework version: 2.1.0
3. Horovod version: 18-19.2 (all versions in this range don't work)
4. MPI version: 4.0+
5. CUDA version: see note below
6. NCCL version: see note below
7. Python version: 3.6
8. OS and version: ubuntu
9. GCC version:

Note: I'm currently using AWS Sagemaker's default tensorfl

[2020-05-19 19:15] DEKHTIARJonathan commented on #1962
Please check the documentation: https://github.com/horovod/horovod/blob/master/docs/install.rst#environment-variables

**HOROVOD_NCCL_LINK** - {SHARED, STATIC}. Mode to link NCCL library. Defaults to STATIC for CUDA, SHARED for ROCm.

[2020-05-19 21:21] thecooltechguy commented on #1271
@Himscipy Actually, is it okay if you can share the TF version that you used? I've been using TF 2.1.0.

[2020-05-20 06:04] lljjgg commented on #1962
Thank you for your reply.I add environment variables and compile with setup.py.The compile line is “HOROVOD_NCCL_LINK=STATIC HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=/usr/local python ./setup.py install”. But there are still errors that "ImportError: libnccl.so.2: cannot open shared object file: No such file or directory".I think that I only use static libraries,Maybe is a problem with my comp

[2020-05-20 10:49] shipengfeiGH commented on #1410
[1,1]<stderr>:WARNING:tensorflow:From /home/op_dev/tf/venv/lib64/python2.7/site-packages/horovod/tensorflow/__init__.py:156: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.
[1,1]<stderr>:
[1,1]<stderr>:WARNING:tensorflow:From /home/op_dev/tf/venv/lib64/python2.7/site-packages/horovod/tensorflow/__init__.py:182: The name tf.get_default_graph is deprecat

[2020-05-20 16:06] tgaddair commented on #1964
Hey @thecooltechguy, either approach should work in practice.  We usually recommend loading only on rank 0 in cases where you may not have the model checkpoint available to every worker.  If you load the model on all ranks, I would still do the broadcast, in case there was any random initialization during the load process.  Is this what you're doing?

If you have simple example that will repro the

[2020-05-20 16:12] tgaddair commented on #1963
Hey @DEKHTIARJonathan, to clarify, are these errors happening during installation, or only when you call `horovodrun` after install?  Looks like the `safe_shell_exec` script is having some issues with spawning processes, but that shouldn't be called during installation.

[2020-05-20 18:20] DEKHTIARJonathan commented on #1963
@tgaddair installation work. In the sense that it doesn't crash. It breaks at runtime.

[2020-05-20 19:05] aaron276h opened #1969 "When network interface isn't specified, task processes fail to connect to driver."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): N/A
2. Framework version: N/A
3. Horovod version: 0.19.2
4. MPI version: N/A (Using Gloo Controller)
5. CUDA version: 10.0
6. NCCL version: 2.6.4
7. Python version: 3.6.10
8. OS and version: Ubuntu 18.04
9. GCC version: 4.8

**Bug report:**

When running multi-machine and not specifying a network interface, task processes fail to

[2020-05-20 19:29] tgaddair commented on #1969
Thanks for reporting @aaron276h.

@abditag2 this is the same issue we've been seeing.

[2020-05-20 19:39] aaron276h commented on #1969
@tgaddair The issue seems related to `settings.key` being omitted from serialization when starting up tasks. Opened a PR with a potential fix.

[2020-05-20 20:42] EnricoMi commented on #1969
There is a reason why this has been removed from serialisation. Let me check if there is any other way.

[2020-05-21 12:45] songtaoshi opened #1973 "Comparison with pytorch self distributed training"
Hi, I am a little confused about the benchmark comparison with pytorch self distributed training.
Because recently I am surveying the best practice for distributed training and I see horovod, but I do not know what the superior in effect and speed with pytorch self distributed training. And I know your horovod is very concise for using.

[2020-05-21 13:03] tgaddair commented on #1969
I'm wondering why this error doesn't surface during out integration tests.  I also haven't been able to reproduce it on my local machine (only running under certain conditions in a Docker container).  @aaron276h, does this error always happen in your environment?

[2020-05-21 13:43] EnricoMi commented on #1969
Gloo does not ssh to run the worker but runs the commadn directly when they all are on the same machine. This might be the reason.

[2020-05-21 13:59] aaron276h commented on #1969
@tgaddair Yeah this happens every time we run multi-machine without specifying the network interface.

[2020-05-21 14:08] EnricoMi commented on #1969
would be nice to have an integration test that is truly distributed, i.e. multiple docker instances building a Horovod cluster

[2020-05-22 02:51] ShindongLee commented on #1969
Hi, I experienced the same issue with openmpi so it may not be a gloo's problem.

My environments are as follows:

Framework: Pytorch
Framework version: 1.5.0
Horovod version: 0.19.2
MPI version: 4.0.0
CUDA version: 10.2
NCCL version: 2.6.4
Python version: 3.6.3
OS and version: Ubuntu 18.04

When I specify network interface with --network-interface option, the issue's gone.
Hope my info helps you.

[2020-05-22 06:05] abcinje commented on #1940
@tgaddair Thank you for your reply.
What I was wondering is actually the underlying details about how the function works (how the function does in-place update of `model.state_dict()` for the other nodes), but I resolved the problem with a workaround. I'm going to close the issue.

[2020-05-22 06:05] #1940 closed

[2020-05-22 12:55] #1969 closed

[2020-05-22 16:45] parallelo opened #1975 "Horovod CI for ROCm"
**Is your feature request related to a problem? Please describe.**
There's no CI for Horovod on ROCm -- let's discuss the options for adding it!

**Describe the solution you'd like**
Initially, we foresee basic CI tests only.  Build-only tests would be great as a starting point.  Eventually, we'd like to cover build- and run-time tests.

**Describe alternatives you've considered**
Looks like Horov

[2020-05-22 18:02] mshaikh786 opened #1976 "ResNet50 training using Pytorch is heavily communication bound on CPUs."
**Environment:**
1. Framework: (Pytorch
2. Framework version: 1.3.1a
3. Horovod version: 0.19.0
4. MPI version: Cray-mpich (GNU programming environment)
5. CUDA version: None
6. NCCL version: None
7. Python version: Intel Python 3.7.3
8. OS and version: CLE7 UP05 (Based of SLES15)
9. GCC version: GNU 8.3.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes

[2020-05-22 19:22] tgaddair commented on #1969
Hey @ShindongLee @aaron276h, we've released [v0.19.3](https://github.com/horovod/horovod/releases/tag/v0.19.3) with a fix for this issue.  Let us know if any additional issues come up.

Thanks @aaron276h and @EnricoMi for diagnosing and fixing the issue.

[2020-05-23 03:45] #1931 closed

[2020-05-23 03:50] #1843 closed

[2020-05-23 07:18] sunnyWangGirl opened #1978 "[common_runtime/scoped_allocator_mgr.cc:81] Failed to find instance 32581 in container 6 on /job:localhost/replica:0/task:0/device:CPU:0"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Tensorflow-cpu 1.8.0
2. Framework version:
1.8.0
3. Horovod version:
0.19.2
4. MPI version:
openmpi3.1.2
5. CUDA version:
none
6. NCCL version:
none
7. Python version:
none
8. OS and version:
ubuntu14.04  and ubuntu16.04
9. GCC version:
4.9.4
**Checklist:**
1. Did you search issues to find if somebody asked this question before? ye

[2020-05-23 13:27] sunnyWangGirl commented on #1978
@alsrgv Would you mind giving me some ideas?

[2020-05-23 16:44] albertz commented on #223
Note that this pipeline with `shard` is somewhat inefficient. You load and preprocess all the data in all instances, and then you throw away (N-1)/N of the data.

It would be much more efficient to just load (and preprocess) the data once (e.g. in instance 0, or some extern instance), and then use sth like `MultiDeviceIterator` (or similar/equivalent). But I'm not sure if there is something equiva

[2020-05-25 03:48] Young768 commented on #1558
Hi @tgaddair @romerojosh I have a question on Tensorflow integrations to implement cross-iteration. Take the legacy optimizer as example:
`

            gradients = self._optimizer.compute_gradients(*args, **kwargs)

            if size() > 1 or os.environ.get('HOROVOD_ELASTIC') == '1':
                grads, vars = zip(*gradients)
                avg_grads = self._allreduce_grads(grads)

[2020-05-25 07:03] sunnyWangGirl commented on #1978
Who can Help me? Best wishes.

[2020-05-25 07:35] Tonyhukaifan commented on #656
The same problem for PyTorch, anyone has a resolution?

[2020-05-25 17:10] sahnimanas commented on #800
`pip install horovod` worked for me as well, RHEL7, powerai 1.7.0, python 3.7

[2020-05-25 22:26] Young768 commented on #1978
Maybe you can try upgrading your mpi to 4.0.0.

[2020-05-26 03:00] Tonyhukaifan commented on #155
Appreciate for your resolution，it works.

[2020-05-26 09:09] lovejing0306 opened #1981 "How to set "batch size""
**Environment:**
1. Framework: TensorFlow
2. Framework version: TensorFlow2.2
3. Horovod version: v0.19.2

**Your question:**
In horovod, the "batch size" is for single gpu or multi gpu.
thanks.

[2020-05-26 09:22] weberxie opened #1982 "Is it possible to support point-to-point operations?"
**Is your feature request related to a problem? Please describe.**
As Nvidia is going to release the point-to-point operations: ncclSend and ncclRecv, for users  which use Horovod for training, it may be great to support point-to-point operations.

**Additional context**
If it is possible, we can provide an approach to support nccl point-to-point operations for Horovod.

[2020-05-26 16:48] tgaddair commented on #1981
Hey @lovejing0306, the batch size you set is the per-worker (single GPU) batch size.  So you should not need to adjust this as you scale up and down the number of workers (instead, we scale the learning rate by `hvd.size()` as shown in the examples).

[2020-05-27 02:29] lovejing0306 commented on #1981
thanks

[2020-05-27 02:31] #1981 closed

[2020-05-27 07:09] ghost opened #1985 "MPI failed to bind memory inside hovorod docker"
**Environment:**
1. Framework: `tensorflow-gpu==2.1.0`
3. Horovod version: `0.19.3`
4. MPI version: `4.0.3`
5. CUDA version: `10.1`
6. NCCL version: `2.4.8-1+cuda10.1`
7. Python version: `3.6.9`
8. OS and version: `Ubuntu 18.04.3 LTS`
9. GCC version: `gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0`

**Checklist:**
1. [x] Did you search issues to find if somebody asked this question before?
2. [x] If yo

[2020-05-27 07:50] Desein-Yang opened #1986 "Can't find command horovodrun in docker ?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TEnsorflow 1.12.0
2. Framework version: 1.12.0
3. Horovod version: 1.16.0
4. MPI version: 4.8.0
5. CUDA version: 9.0
6. NCCL version:
7. Python version: 3.5
8. OS and version:
9. GCC version: 5.3.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you rea

[2020-05-27 10:11] sunnyWangGirl commented on #1978
Hello.I have tried to update mpi version to 4.0.0.the error disappear!!!Thank you very much.

[2020-05-27 10:12] #1978 closed

[2020-05-27 20:12] ntenenz opened #1991 "Add Type Hints to Horovod"
**Is your feature request related to a problem? Please describe.**
Horovod currently lacks type hints, which negates some of the benefits that static type checkers (e.g., mypy) can provide to type-hinted codebases.

**Describe the solution you'd like**
Add inline type hints (or stubs where needed) to the code base and introduce type checking to the CI pipeline.

**Additional context**
This effort

[2020-05-28 02:52] weberxie commented on #1157
Hi, how is this going? Looking forward to this great feature!

[2020-05-28 08:55] EnricoMi opened #1993 "Flaky rsh tests"
**Environment:**
1. Framework:
2. Framework version:
3. Horovod version: master
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version: any
8. OS and version:
9. GCC version:

**Bug report:**
The `safe_shell_exec.execute` method seems to be sensitive to stdout / stderr setup. In current master, all tests seem stable and green in buildkite builds. PyTests are run as:

    bash -c "...

[2020-05-28 09:10] EnricoMi opened #1994 "Tensorflow fails with exit code 0"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15 (2.2 seems not affected)
3. Horovod version: [Elastic Horovod on Spark feature branch](https://github.com/G-Research/horovod/tree/branch-elastic-spark-2)
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Bug report:**
Tensorflow fails on a collective communication operation

[2020-05-28 09:29] EnricoMi opened #1995 "Horovod segfault"
**Environment:**
Test image test-cpu-openmpi-py3_6-tf1_14_0-keras2_2_4-torch1_2_0-mxnet1_4_1-pyspark2_4_0.

**Bug report:**
We are seeing Python segfaults in the training script in the Elastic Horovod in Spark branch. Pinning pytest (https://github.com/pytest-dev/pytest-forked/pull/32) to `pytest<5.4.0` [fixes the pytest segfault](https://buildkite.com/horovod/horovod/builds/2937#df1c596f-d223-4e1

[2020-05-28 19:08] McCrearyD opened #1996 "Horovod PyTorch Multi-GPU Only Using 1 GPU (Multi-Node Too)"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.4.0-1.5.0
3. Horovod version: SageMaker ?
4. MPI version: SageMaker ?
5. CUDA version: SageMaker ?
6. NCCL version: SageMaker ?
7. Python version: 3.6
8. OS and version: AWS ml.p3 instances
9. GCC version: SageMaker ?

Sorry for the lack of environmental features, SageMaker doesn't give access to SSH for their instances so I wasn't abl

[2020-05-28 19:33] rondogency commented on #1938
It is solved. The reason is we were using a lemon NCCL binary, which were built against a very old CUDA (version < 7.0). This cudaSetupArgument is an API deprecated in CUDA 7.0, and the binary compatibility is up until 10.0. Since we were running with 10.1, this issue suddenly pops up.

[2020-05-28 22:11] tgaddair commented on #1996
Hey @McCrearyD, I'm not very familiar with how SageMaker integrates with Horovod under the hood.  Were you able to get it working with TensorFlow but not PyTorch, or have you only tried PyTorch so far?

@karakusc do you know someone on the SageMaker team who may be able to help look into the issue?

[2020-05-28 22:13] tgaddair commented on #1991
Hey @ntenenz, thanks for raising the issue.  I think this is a great idea!  Would definitely be awesome if you are able to submit a PR.

[2020-05-28 22:13] McCrearyD commented on #1996
Thanks for the response. I haven't tried with TensorFlow, however SageMaker seems to be well documented for TF+Horovod and there seems to be no issues with multi-gpu + multi-node training from what I can tell.

I've only personally tried PyTorch, and their own example doesn't even handle data partitioning unfortunately.

[2020-05-28 22:17] McCrearyD commented on #1996
@tgaddair Also, while on the subject do you know if those graphs for GPU usage are normal for Horovod? Or is it typically full GPU usage across the board when using a sufficient BS?

[2020-05-28 23:17] tgaddair commented on #1996
@McCrearyD you should be able to fully saturate the GPU with a sufficient batch size, unless your are bottlenecked by network or data access.  We typically test this by disabling the DistributedOptimizer to check that network isn't the bottleneck, and use synthetic data to check that it isn't I/O.

[2020-05-28 23:18] tgaddair commented on #1986
Hey @Desein-Yang, `horovodrun` was added in v0.18.0 of Horovod.  Are you able to pull a more recent image (for example, v0.19.3)?

[2020-05-28 23:20] tgaddair commented on #1985
Hey @zhxh1, can you try adding `-map-by socket -rank-by core` when using `-bind-to socket`?

cc @nvcastet who may have more insight here.

[2020-05-28 23:23] tgaddair commented on #1982
Hey @weberxie, I believe these were added in NCCL 2.6, is that correct?  Contributions are definitely welcome!  Do you have a use case in mind for this?

[2020-05-28 23:25] tgaddair commented on #1976
Hey @mshaikh786, in this case, the limiting factory may be your network bandwidth.  How many nodes are you using, and what is the network bandwidth on your environment?

[2020-05-29 02:30] zhxh1 commented on #1985
Thanks for your reply @tgaddair !

The MPI binding error is gone with your solution, but a new error arises:

[code]

[2020-05-29 03:20] weberxie commented on #1982
@tgaddair they are going to be added in NCCL 2.7 and will release in the near feature.

the typical use case is we'd like to do shuffle BN between ranks, now without p2p operations, we have to do allgather and then get the data by shuffled index.

[2020-05-29 04:12] jmsking opened #1997 "Timeline show NEGOTIATE_BROADCAST Did Not Finish"
**Environment:**
1. Framework: Pytorch
2. Framework version: 1.4.0+cu100
3. Horovod version: 0.19.2
4. MPI version:
5. CUDA version: cu100
6. NCCL version:
7. Python version: 3.6
8. OS and version: ubuntu 18
9. GCC version: 7

**Bug report:**
I train a simple CNN model with MNIST data in k8s cluster. and my k8s info as follows:
total nodes: 3, 2 for GPU node and 1 for CPU node
and GPU nodes each h

[2020-05-29 08:11] ExcellentHunter opened #1998 "How to split my tensor when doing Allreduce?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: TensorFlow-1.10
3. Horovod version: Horovod-r0.17.1
4. Python version: Python2.7

**My question:**
Hello~ This is the timeline of my work,I set HOROVOD_NUM_NCCL_STREAMS=4.However,there is a big tensor need to do ALLREDUCE in _pid = 569_.It took too much time. Although other _pid_ has already done ALLREDUCE, they should wait for _pid =

[2020-05-29 11:22] jmsking commented on #1997
So sorry for this question, i have find the reason that because i write ```torch.set_num_threads(1)```, it's running ok when i remove this line

[2020-05-29 11:22] #1997 closed

[2020-05-29 13:15] nvcastet commented on #1985
I don't have much more advice. For containers, those warnings and MPI_Init issues could appear when some linux capabilities are not enabled on the container and also when ulimit max numbers are too low.

[2020-05-29 16:15] tgaddair commented on #1973
Hey @songtaoshi, baseline performance between Horovod and DDP (PyTorch native distributed training) are pretty comparable.

Some notable differences include:

1. Horovod uses a parallel programming style taken from MPI, DDP instead spawns processes dynamically. As a result, DDP can sometimes suffer from pickling issues when it attempts to spawn worker processes at runtime, which is not a problem f

[2020-05-29 16:18] tgaddair commented on #1961
Hey @836304831, can you share the full log in a gist or pastebin?  This error message just says that there was some kind of error, possibly a user error.  The true error message is usually above this.

[2020-05-29 16:23] parallelo commented on #1975
Hi Travis - We're definitely interested.  Not too familiar with BuildKite, but we can start looking into it.

First, let me try to understand what your existing CI setup is doing.  If you have any helpful pointers in the meantime, let me know.

[2020-05-29 16:28] tgaddair commented on #1963
I think I see the problem here.  When we build with `python setup.py install`, it produces the following `horovodrun` script without a `__main__` guard:

[code]

In contrast, the correct script does include the `__main__` guard, which is necessary for multiprocessing spawn to work correctly:

[code]

[2020-05-29 17:13] tgaddair commented on #1963
@DEKHTIARJonathan, can you test out #1999 and see if it fixes the issue for you?

[2020-05-29 19:39] #1963 closed

[2020-05-29 19:39] tgaddair commented on #1963
Thanks for verifying the fix, @DEKHTIARJonathan!  This has been landed.

[2020-05-29 19:55] tgaddair commented on #1941
Hey @Alwaysproblem, apologies for the late response.  Seems the issue may be related to https://github.com/tensorflow/tensorflow/issues/6968.  Can you try some of the suggestions mentioned in that thread?

[2020-05-29 19:59] tgaddair commented on #1942
Hey @czs1886, there shouldn't be any need for special handling.  This issue also came up in #77, and turned out to be unrelated the Horovod directly.  Could you take a look at that thread and see if your problem has a similar cause?

[2020-05-29 20:35] tgravescs opened #2000 "pyarrow 0.17 changed hdfs.connect api to remove driver parameter"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Keras Estimator example
2. Framework version:
3. Horovod version:  master branch
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](

[2020-05-29 20:37] tgravescs commented on #2000
Note this is setup here: https://github.com/horovod/horovod/blob/master/horovod/spark/common/store.py#L335

[2020-05-30 08:20] songtaoshi commented on #1973
Thanks for your reply!

[2020-05-30 08:20] #1973 closed

[2020-05-31 12:11] Alwaysproblem commented on #1941
OK. Thank you @tgaddair

[2020-06-01 05:33] javacom opened #2001 "Exception: `apply_gradients()` was called without a call to `get_gradients()` or `_aggregate_gradients`. If you're using TensorFlow 2.0, please specify `experimental_run_tf_function=False` in `compile()`."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) tensoflow
2. Framework version: tensorflow 2.1
3. Horovod version: 0.19.3
4. MPI version: 3.1.3
5. CUDA version:
6. NCCL version:
7. Python version: Python 3.7.3
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, did you

[2020-06-01 07:55] beizhengren commented on #1340
@chaochaoSZ @972461099 @chldmstj
Sorry for the late reply.Make sure that two servers have the same environment will help.

[2020-06-01 10:27] matthewc-gr opened #2002 "Horovod 19.2 cannot run mpirun --version"
We've just upgraded our horovod version from 0.19.1 to 0.19.2 and we get the below runtime exception while training using Tensorflow 2.2.0. (We also see this in 0.19.4)

We are using spark to schedule horovod jobs using horovod.spark.run and the exception bubbles up from spark.

Dependencies:
[code]

Exception:
[code]

mpirun is on the path and I can call mpirun --version fine on the edge node.
[c

[2020-06-01 12:17] Desein-Yang commented on #1986
Thank a lot , I use 0.16.0 horovod so I try to use mpirun command with hyperparameters in command to replace horovodrun.

[2020-06-01 17:32] tgaddair commented on #2001
Hey @javacom, when using the non-Keras API with TensorFlow 2, you need to use `hvd.DistributedGradientTape` instead of `hvd.DistributedOptimizer`.  See [this](https://github.com/horovod/horovod/blob/master/examples/tensorflow2_mnist.py#L64) example for more details.

[2020-06-01 17:37] tgaddair commented on #2002
Hey @matthewc-gr, I suspect the `PATH` is not getting propagated correctly through the virtual environment, causing the `mpirun` executable not to be found.

@EnricoMi, do you have any thoughts?

[2020-06-01 17:38] EnricoMi commented on #2002
@matthewc-gr, can you provide me the exact `horovod.spark.run` call with all arguments from `mariana_trainer.py:253`? Looks like the `PATH` in the `env` argument used to execute `mpirun` on the edge node does not include the location of `mpirun`. Can you please also run `which mpirun` on the edge node?

[2020-06-01 18:05] tgravescs commented on #2000
it looks like the older version of pyarrow may also only support Hadoop 2.x. Its failing with class mismatch exception when I run on hdfs 3.x.  I see they have a new api for filesystems, not sure if that supports both

[2020-06-01 18:21] tgaddair commented on #2000
Thanks for the detailed report @tgravescs.  Can you try #2003 and verify whether it fixes the issue?

[2020-06-01 18:28] tgravescs commented on #2000
so I tried a similar patch myself, but I think it failed with petastorm also using the parameter. I don't have the error around to show the trace.
I tried using older version of  pyarrow which gets around this error but then fails to work with Hadoop 3.1.3, looks like Hadoop version mismatch.

[2020-06-01 18:36] tgaddair commented on #2000
Let me see if I can get a fix in to Petastorm for this.

[2020-06-01 18:51] tgaddair commented on #2000
@tgravescs can you similarly try installing petastorm from [this](https://github.com/uber/petastorm/pull/556) PR and see if it unblocks the issue?

[2020-06-01 20:05] tgravescs commented on #2000
giving it a try

[2020-06-01 22:30] tgravescs commented on #2000
so those 2 patches lets me use pyarrow 0.17.1 I can't access hdfs still. It looks like a version mismatch issue - either with protobuf or Hadoop versions. I'm not sure if its just an issue with my setup or something in the docker file build.

[2020-06-01 22:53] tgaddair commented on #2000
@tgravescs can you share the error message in a gist or pastebin?

[2020-06-01 22:57] tgravescs commented on #2000
https://gist.github.com/tgravescs/1d825fc334b9c03bda540616e6718125

[2020-06-01 23:11] tgaddair commented on #2000
Thanks, seems this is a classpath issue of some kind, according to sources online (https://stackoverflow.com/questions/49808271/java-lang-classcastexception-cannot-be-cast-to-com-google-protobuf-message).  Did you make any additional modifications to the Docker image for Spark 3?

[2020-06-01 23:18] tgravescs commented on #2000
the only difference is the docker image uses the newest version of Spark built against Hadoop 3.1, then running on yarn 3.1 includes the Hadoop jars and such from Yarn.  Those are all 3.1 jars though.  It really looks like its a protobuf mismatch but I haven't been able to track it exactly.  I see tensor flow pulls a version of protobuf but not sure.

[2020-06-01 23:26] tgaddair commented on #2000
Yes, TensorFlow's imported version of protobuf is a frequent problem (#686).  Are you using TensorFlow 2.2?  They're using Protobuf 3.8 (https://github.com/tensorflow/tensorflow/blob/v2.2.0/tensorflow/workspace.bzl#L475).

There are some [suggestions](https://stackoverflow.com/questions/46235376/tensorflow-protobuf-version-mismatch) here to deal with it.

[2020-06-01 23:43] tgravescs commented on #2000
yes tensor flow 2.2.

I was hoping tensor flow had fixed with https://github.com/tensorflow/ecosystem/pull/30/files but looks like that is only the tensorflow-hadoop package. looks like Hadoop 3.3 will update protobuf but that isn't out yet: https://issues.apache.org/jira/browse/HADOOP-16557

You must not run this on hdfs at this point because I assume it doesn't work with Hadoop 2.x either?

[2020-06-02 00:12] tgravescs commented on #2000
I'll try to write small test program to narrow it down and see if that is really the issue

[2020-06-02 00:44] tgravescs commented on #2000
ok so I wrote a small program in a clean environment without horovod and tried different hdfs setups and it appears pyarrow connectivity works with Hadoop 2.x but gives the error above with 3.x

[2020-06-02 04:32] #2001 closed

[2020-06-02 14:57] matthewc-gr commented on #2002
Sure,

Env:
[code]
mpirun dir:
[code]
Which looks ok. If I modify the mpi_run.py directly file and add in a call like
[code]
Then it returns correctly `mpirun (Open MPI) 4.0.1`.

It seems like the call to the tiny_shell_exec is throwing for some reason.

[2020-06-02 17:12] tgaddair commented on #2000
Thanks for verifying, @tgravescs.  We'll go ahead and land the fix, then.

[2020-06-02 17:21] #2000 closed

[2020-06-02 18:47] EnricoMi commented on #2002
@tgaddair can you help me replicate this? I have never seen this and I am only using virtualenv. There are many tests that run `mpirun` through `horovod.spark.run`, all in a virtualenv.

[2020-06-02 18:49] EnricoMi commented on #2002
@matthewc-gr can you print out the `env` that is used in `horovod.run.mpi_run.py:197`:

            exit_code = safe_shell_exec.execute(mpirun_command, env=env, stdout=stdout, stderr=stderr)

[2020-06-02 18:50] EnricoMi commented on #2002
Found the problem, `horovod.run.mpi_run._get_mpi_implementation` calls into `tiny_shell_exec.execute` without any env (as you mentioned). I will prepare a fix.

[2020-06-02 19:23] EnricoMi commented on #2002
Does #2005 fix this issue for you @matthewc-gr, @tgaddair ?

[2020-06-03 07:40] jasonliu747 opened #2006 "Getting different results from using mpirun & horovodrun"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.5.0
3. Horovod version: 1.9.4
4. MPI version: 4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.7-1+cuda10.0
7. Python version: 3.6
8. OS and version: 18.04.1-Ubuntu
9. GCC version: 7.5.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](http

[2020-06-03 10:19] matthewc-gr commented on #2002
I added the changes locally and still see the error. I can see that the env is properly being propagated down to the safe_shell_exec.py, which still returns an exit code of 1. Have there been any major changes to this file since 19.1?

[2020-06-03 13:06] lxiongh commented on #930
Hi, @maxhgerlach , any empirical results for Adam vs SGD when training in multi-workers?

[2020-06-03 13:32] albertz opened #2007 "Add MPI Scatter support"
**Is your feature request related to a problem? Please describe.**

I want to avoid using sharding for data preprocessing as this can be costly and slow in our environment (slow NFS fileserver accessed by hundreds of nodes, so you would want to minimize the access on it), and is somewhat a waste of resources.

Instead, we would have a single dedicated dataset process, and then feed individual batc

[2020-06-03 13:33] albertz commented on #2007
#1496 might be related. Although I think that Reducescatter is more complicated than just the simple Scatter. So I would see this as two separate things.

#167 asked about a similar feature, as far as I understood.

[2020-06-03 13:56] EnricoMi commented on #2002
If the problem is really in `safe_shell_exec`, then this would be @tgaddair's call. Can you confirm the `env` passed to `safe_shell_exec` contains a proper `PATH`?

[2020-06-03 14:30] matthewc-gr commented on #2002
Yep so just before the middleman is created in the execute method of the safe_shell_exec.py I printed out the PATH from the env and it looked like ` {'PATH': '/home/matthewc/horovod-env/venv/bin:/usr/lib64/qt-3.3/bin:/usr/local/bin:/usr/bin'...`

[2020-06-03 15:26] maxhgerlach commented on #930
State of the art language modeling or machine translation papers all use Adam or Adafactor optimizers with really large distributed batches as far as I can tell. SGD does not cut it there.

[2020-06-03 16:30] tgaddair commented on #2002
Hey @matthewc-gr, does this error also happen when you run the example spark scripts (like [keras_spark_rossmann_run.py](https://github.com/horovod/horovod/blob/master/examples/keras_spark_rossmann_run.py)?

I noticed in our environment this error was a red herring for a different error that was printed above:

[code]

This is caused by not guarding your script with `if __name__ == '__main__':`.

[2020-06-04 00:26] Vikas-kum opened #2008 "Is there a way to dynamically turn off/on the timeline without killing application ?"
Can we turn off the timeline profiler by setting env config. Currently, if I have to profile, I turn the profiler on it writes huge amount of logs and then I have to kill my application.
Rather than killing application, I would like to dynamically turn it off, by setting a flag or config in a file.

**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod

[2020-06-04 08:59] Wenzhao-Xiang commented on #1831
@rudvlf0413 Hi, I met the same issue. Could you please show your installing step with more details? Thanks!

[2020-06-04 15:41] matthewc-gr commented on #2002
Hi @tgaddair yes you're right, adding in the if check at the top of my script fixes it. Do we know what change has made this required? Might be worth adding to some docs somewhere (unless it already is!). Thanks so much for looking into it @tgaddair and @EnricoMi

[2020-06-04 17:40] tgaddair commented on #2002
Hey @matthewc-gr, this was introduced by #1915.  It is a limitation of using Python's multiprocessing "spawn" API, as opposed to fork.  Forking was leading to deadlocks in some situations, which is why the change was made.  We'll update the docs to make this more clear.

Can you clarify if the issue is solved for v0.19.4 with only the added check at the top of your script, or do you also need the

[2020-06-04 18:33] EnricoMi commented on #2002
@tgaddair can we detect that situation (the missing `if`) and raise a meaningful exception? We should still put #2005 into master.

[2020-06-04 20:34] #2002 closed

[2020-06-05 00:11] vfdev-5 opened #2011 "Consistent way to check if horovod is shutdown ?"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.4
3. Horovod version: '0.19.3'
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/doc

[2020-06-05 03:05] weberxie commented on #2008
good point! we  are also investigating this feature.

[2020-06-08 11:13] albertz commented on #1123
At runtime, you can also use this snippet (before `import tensorflow`):
[code]

[2020-06-08 11:28] #1998 closed

[2020-06-09 07:37] Tonyhukaifan opened #2013 "How should I use Horovod if I change the compression strategy during training？"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.5
3. Horovod version: 0.18.2
4. MPI version:mvapich2/2.3.2
5. CUDA version: 10.0.130
6. NCCL version:2.4.6
7. Python version: 3.6
8. OS and version: Linux 3.10.0
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https

[2020-06-09 08:30] mrhalyang commented on #1800
Have you solved this issue？ @jiangzihanict

[2020-06-09 19:03] tgaddair opened #2014 "Warn / raise exception if user script cannot spawn subprocesses correctly"
As shown in #2002, in some cases the new multiprocessing spawn API (see #1915) is incompatible with existing Python scripts that are missing a `if __name__ == 'main'` guard.  This is a known issue with Python's multiprocessing Spawn API, but it is still preferable to using forking, which results in more dangerous and unpredictable issues at runtime.  It is not known if this also affects notebooks.

[2020-06-09 21:01] aaron276h opened #2015 "Hit Gloo exception when we scale up to 50+ nodes"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.14
3. Horovod version: 0.19.3
4. MPI version: N/A
5. CUDA version: 10.0
6. NCCL version: 2.6.4
7. Python version: 3.6
8. OS and version: Ubuntu 18.04
9. GCC version: 4.8

**Bug report:**
When we scale up to 50+ machines we get the following exception from GLOO when running the same exact code that

[2020-06-10 11:52] bryandeng commented on #1157
Any updates?

PyTorch may be planning something similar:
https://github.com/pytorch/pytorch/issues/39272

[2020-06-10 14:27] yianzhongguo opened #2016 "How to evaluate the model when use MonitoredTrainingSession of tensorflow to train"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-06-10 19:47] olimastro opened #2017 "Multiple trainings within same process without deepcopy"
**Environment:**
1. Framework: (PyTorch)
2. Framework version: 1.4
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

** I am using horovod in a docker https://github.com/horovod/horovod/blob/master/docs/docker.rst
and running on multiple machines. The setup is 2 servers with one gpu each.

So `nvidia-docker run horovod/horo

[2020-06-11 18:58] tgaddair commented on #2006
Hey @jasonliu747, when using `horovodrun`, can you try removing everything in `--mpi-args`.  All of those should be taken care of by the `horovodrun` script itself.

If you cannot get `horovodrun` to work for whatever reason, you can also enable autotuning using environment variables to `mpirun`: `HOROVOD_AUTOTUNE=1`.

[2020-06-11 19:06] vfdev-5 commented on #2011
@tgaddair thank for the answer. Yes, method like `is_initialized` would work.
You marked the issue as "contribution welcome", what would be a pointer to help with this issue ?

[2020-06-11 19:58] tgaddair commented on #2011
Thanks for looking into this, @vfdev-5.  I would start by looking at similar functions that expose properties from the C++ layer in Python code in [basics.py](https://github.com/horovod/horovod/blob/master/horovod/common/basics.py#L83).  These Python functions call into C++ functions in [operations.cc](https://github.com/horovod/horovod/blob/master/horovod/common/operations.cc#L713).  A similar fu

[2020-06-11 20:05] vfdev-5 commented on #2011
Right, thanks for the detailed explanation, @tgaddair !
I'll try to implement it and send a PR (being aware of your [CONTRIBUTING.md guide](https://github.com/horovod/horovod/blob/master/CONTRIBUTING.md)).

[2020-06-11 20:14] tgaddair commented on #2013
Hey @Tonyhukaifan, there is a way to do this today, but it comes with a caveat.

Basically, you can set a private property of the optimizer directly:

[code]

The caveat is that you need to be sure that there are no pending allreduce calls that need to be completed, otherwise they will not decompress correctly.  So the full solution would be to do this:

[code]

We should also provide this as a st

[2020-06-11 21:02] tgaddair commented on #2015
Hey @aaron276h, looks like rendezvous is timing out.  Can you try bumping up `HOROVOD_GLOO_TIMEOUT_SECONDS` to something like `60` or `120` and see if that has an affect?

[2020-06-11 21:10] tgaddair commented on #2016
Hey @yianzhongguo, the model can be evaluated as you normally would.  If you want to distribute the evaluation, one option is to shard the evaluation data the same way you do during training, then use `mpi4py` to aggregate the metrics across workers.

Happy to provide more details if you have further questions.

[2020-06-11 21:52] tgaddair commented on #2017
Hey @olimastro, can you explain your scenario a little bit more?  It's not clear to me why you need to deep copy the model.  In Horovod, we do not run multiple training workers in the same process.  How are you launching `horovodrun`?

[2020-06-12 00:29] Tonyhukaifan commented on #2013
Okay, thx for your reply. I will have a try on it.

[2020-06-12 00:53] Tonyhukaifan opened #2021 "ImportError : Undefined Symbol."
**Environment:**
1. Framework: PyTorch
2. Framework version:1.4.0
3. Horovod version:0.18.2
4. MPI version:3.1.4
5. CUDA version:10.0.130
6. NCCL version:2.4.6
7. Python version:3.7
8. OS and version: CentOS
9. GCC version:5.5.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc] (https://github.com

[2020-06-12 01:56] silenceli commented on #1855
I meet the some question

[2020-06-12 02:26] jasonliu747 commented on #2006
Thanks for your reply @tgaddair . I got it working by using environment variables to `mpirun`: `HOROVOD_AUTOTUNE=1`.
FYI, I can't get `horovodrun` working on example script either. Are you able to reproduce it?
![image](https://user-images.githubusercontent.com/24452340/84458218-0f013d00-ac97-11ea-82e1-a33e0b3ebc17.png)

[2020-06-12 03:14] Vikas-kum commented on #2008
Any thoughts on this?

[2020-06-12 07:02] yianzhongguo commented on #2016
@tgaddair Thank you very much! I understand it now.

[2020-06-12 07:02] #2016 closed

[2020-06-12 09:41] nikhila0912 commented on #190
Hi, is there an example with tensorflow estimators? and how do we get the features (like image, model, input_classes and output_classes) for any other model, like bert model

[2020-06-12 11:08] EnricoMi opened #2022 "Rethink discovery instance being member of Settings"
In Elastic Horovod we have introduces the `discovery` member to `Settings`. While all other members are primitives, this is actually an instance implementing a interface. We should rethink this design.

In `horovod/run/elastic/settings.py`, we had to exclude that from being serialized.

[2020-06-12 11:29] EnricoMi opened #2023 "Use Spark dynamic allocation settings to configure elastic horovod"
The `num_proc`, `min_np` and `max_np` arguments of `horovod.spark.run_elastic` can be derived from Spark's dynamic allocation settings. See `TODO: try spark.dynamicAllocation` comments in `horovod/spark/runner.py`.

[2020-06-12 14:29] yianzhongguo opened #2024 "How does horovod assign training data when the data is organized by python generator form"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-06-12 15:36] vdabravolski commented on #1413
@tgaddair curious, if there are any updates on support of fluctuating number of nodes in MPI ring. A specific use case in mind - using spot cloud instances (which can be dynamically taken away).

[2020-06-12 18:47] tgaddair commented on #2021
Hey @Tonyhukaifan, is it possible that you installed a different version of PyTorch after you installed Horovod, or that there is a different version of PyTorch in your conda environment from the one that was used to install Horovod?

[2020-06-12 18:50] tgaddair commented on #2024
Hey @yianzhongguo, yes, if you were to do it that way, there would be no benefit to distributed training.  What you would probably prefer to do is partition the data by worker before feeding it to the generator.  That way, each worker only processes a subset of the data each epoch, and you can take advantage of parallel training.

[2020-06-12 20:13] tgaddair commented on #2008
Hey @Vikas-kum, this is a great idea.  We do not have a way to do this currently, but I can think of a few ways we might accomplish this.  Let me know what makes the most sense to you:

1. Python API

[code]

2. Fixed length timeline

[code]

3. Shutdown signal / file

[code]

Then in a separate terminal:

[code]

I tend to like the idea of a Python API, as it gives the most flexibility to the use

[2020-06-12 20:59] tgaddair commented on #2006
I have not been able to reproduce it.  One thing you could try is running `horovodrun` with the `--verbose` flag, so we can see the actual `mpirun` command that's being called.  But if using `mpirun` with `HOROVOD_AUTOTUNE=1` is working, then that's okay too.

[2020-06-12 21:30] tgaddair commented on #1855
Looks like this check was added by @alsrgv in #1076 to address #1032.

It seems like we should be able ignore the `client_address` and go with the IP from the task address when the user explicitly provides a NIC.  @alsrgv, do you have any thoughts on this, or are you aware of additional complications when using NAT?

[2020-06-12 21:37] tgaddair commented on #1413
Hey @vdabravolski, @hollowgalaxy, @marcfielding1,

We have an experimental elastic mode that has been landed to master, and will be released in v0.20.0.  You can read up on how to make use of this feature [here](https://github.com/horovod/horovod/blob/master/docs/elastic.rst).

We're still working on evaluating and improving the performance, and adding support for various data loaders (as well as

[2020-06-12 23:11] Vikas-kum commented on #2008
Thanks @tgaddair
Yes, I agree with you. Python api would be very useful to start with.

[2020-06-13 02:44] yianzhongguo commented on #2024
@tgaddair Yes, you are right and I agree with you. But I'm new to distributed training and I do not know how to partition the data by worker before feeding it to the generator, could you detail it, thank you very much!

[2020-06-13 08:27] EnricoMi commented on #1413
And to emphasis this again: the elastic mode is only available with Gloo, not MPI.

[2020-06-15 02:00] #2013 closed

[2020-06-15 05:46] vineeths96 opened #2025 "Horovod Gradient Compression"
I have a question about how the gradient compression is performed within Horovod. As mentioned in the source code [here](https://github.com/horovod/horovod/blob/master/horovod/tensorflow/compression.py),  we need to inherit the base compressor class and override `compress` and `decompress` functions.

What my doubt is that in which order the operations are performed. More specifically, is the orde

[2020-06-15 08:08] Richie-yan opened #2026 "Horovod slow node detection"
When using Horovod for multi-gpu training, sometimes when the scalability is not good, can there be a way to get the communication operator of each gpu to consume time, so as to know which gpu is the current slow node?
I understand that Horovod only sees which GPUs are slow to negotiate on the timeline during negotiation. Can I get the time-consuming communication operator? Or in what way can the

[2020-06-15 08:26] yuzhms opened #2027 "What's the correct way to use allgather?"
**Environment:**
1. Framework: Pytorch
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.rst)?
3

[2020-06-15 08:39] ChenYang-ChenYang opened #2028 "more GPUs are used than specified"
horovod version: 0.19.4
NCCL：2.7.3
Open MPI: 4.0.3
Tensorflow: 1.13.1

I have a server with 4 Nvidia GPUs. I ran following command to try to use the first 2 GPUs:
horovodrun -np 2 -H localhost:2 python examples/tensorflow_mnist.py

But all the 4 GPUs are used when I ran nvidia-smi. Each GPU have two lines and the GPU 0, 1 used more memory than others, 643MiB in two lines. I checked "ps -aef |grep

[2020-06-15 21:14] tgaddair commented on #2025
Hey @vineeths96, the order is:

1. Calculate gradient on each worker.
2. Compress the gradient on each worker.
3. Allreduce and average the compressed gradients across all workers.
4. Decompress the allreduced gradients.
5. Update the parameters.

So I think your intuition was correct, but the only difference is that the communication step is also when we perform the allreduce on the gradients (in

[2020-06-15 21:19] orwa-te opened #2029 "hvd.keras_estimator.fit() throws Py4JJavaError caused by java.io.IOException"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): Tensorflow
2. Framework version: 2.1.0
3. Horovod version: 0.19.4
4. MPI version: 4.0.3
5. CUDA version: None
6. NCCL version: None
7. Python version: 3.7.0
8. OS and version: Ubuntu 20
9. GCC version: 9.3.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang,

[2020-06-15 21:33] tgaddair commented on #2026
Hey @Richie-yan, good question.  Slow node detection is something we've wanted to add for a while now, but haven't had the time.

There are multiple ways to go about it, but one approach might be to have the coordinator track the timestamp that every tensor is observed from each worker.  Then when the final set is computed for allreduce, it can compare the timestamps to see which worker(s) took th

[2020-06-15 21:44] tgaddair commented on #2028
Hey @ChenYang-ChenYang, can you try upgrading to TensorFlow 1.15 (and reinstalling Horovod)?  This may be an issue with TensorFlow 1.13.1.

[2020-06-15 22:01] tgaddair commented on #2027
Hey @yuzhms, can you explain the purpose of the allgather here?  In most cases, using Horovod's `DistributedOptimizer` will give you the same result as using `torch.nn.DataParallel` without needing to do any custom operations.

You certainly can use `hvd.allgather` if you need to, but be aware that it will result in a tensor containing all the tensors across all workers stacked together.

[2020-06-16 02:19] vineeths96 commented on #2025
Hello @tgaddair.

Thank you for your reply.

I am interested in developing compressors such as [QSGD](https://arxiv.org/abs/1610.02132). There are already a few implementations like [here](https://github.com/sands-lab/grace/blob/master/grace_dl/tensorflow/compressor/qsgd.py), where the compressed gradient at each worker is a tuple.

But as per Step 3 in your reply above, Horovod averages the compr

[2020-06-16 02:37] jasonliu747 commented on #2006
Will stick with mpirun with HOROVOD_AUTOTUNE=1, thanks Travis.

[2020-06-16 02:37] #2006 closed

[2020-06-16 02:48] ChenYang-ChenYang commented on #2028
@tgaddair I tried to install Tensorflow 1.14 and the issue was gone. So it is Tensorflow 1.13.1 issue. Thanks for the quick response!

[2020-06-16 02:48] #2028 closed

[2020-06-16 03:47] yuzhms commented on #2027
The purpose is I am implementing a loss which need to collect data across ranks. @tgaddair

For example, I have a batch of data which have the batch size of 1024, and I have 8 cards. In this case, I think I should set the batch size to 128 for each card. So if I calculate the loss, I will use 128 batch not the total 1024 batch.

In `torch.nn.DataParallel`, I can wrap my model by `DataParallel`, wh

[2020-06-16 07:36] EnricoMi opened #2030 "Horovod segfault 2"
**Environment:**
Test image test-cpu-gloo-py3_6-tf1_15_0-keras2_3_1-torch1_4_0-mxnet1_5_0-pyspark2_4_0.

**Bug report:**
We are seeing a segfault in `test_elastic_torch.py::ElasticTorchTests::test_min_hosts_timeout`. From the [thread dumps](https://buildkite.com/horovod/horovod/builds/3038#a7a9515b-ead6-4a10-895c-d2a126ce6526/211-224) it is not really clear which one caused it, none of them stand

[2020-06-16 07:44] #2021 closed

[2020-06-16 12:00] EnricoMi commented on #2029
Hi Orwa,

how do you launch that script (e.g. `python keras_spark_mnist.py` or `spark-submit`), can you give me the command line?

Did you try to set `PYSPARK_PYTHON` to the full path of the python binary that you are using for your keras example script?

Can you run the following `pyspark` connecting to your standalone cluster?

[code]

[2020-06-16 20:32] orwa-te commented on #2029
Hello EnricoMi, Thanks for your reply.
Command used to launch the program is `spark-submit --master spark://192.168.198.131:7077 keras_spark_mnist.py`, also tried using Jupyter Notebook and got the same result.
Anaconda is installed and I enter my virtual environment(python=3.7.0) before executing the program so that I guess PYSPRAK_PYTHON is not needed to be configured in spark-env.sh

I executed

[2020-06-16 20:39] EnricoMi commented on #2029
Let me try to reproduce this.

[2020-06-16 22:36] olimastro commented on #2017
It is hard to say in a more concrete way than what I am already showing in the example script above. In other words, I am trying different models in the same program and the way it is built is with inplace modifications to the model, pretty much like what is shown above in the outer while loop. Then there is an inner loop for training.

`deepcopy` helps because it prevents horovod from crashing at

[2020-06-17 06:10] EnricoMi commented on #1874
Implemented in #1909 and #1956.

[2020-06-17 08:07] EnricoMi commented on #2029
Sorry, I cannot reproduce this with my standalone Spark cluster.

Can you please do the following things:

- Run `env PYSPRAK_PYTHON=PATH/TO/VENV/bin/python spark-submit --master spark://192.168.198.131:7077 keras_spark_mnist.py`.
- Change `verbose=1` for `hvd.KerasEstimator` to `verbose=3` in `keras_spark_mnist.py` and watch out for `Task service executes command:` log messages and the environmen

[2020-06-17 16:46] aaron276h commented on #2015
@tgaddair bumping the timeout up to 240 fixed the issue for us. Thanks!

For future reference for anyone who runs into this, it seems like the timeout has to be set via CLI `--gloo-timeout-seconds` rather than the environment variable directly.

[2020-06-17 16:46] #2015 closed

[2020-06-17 18:22] orwa-te commented on #2029
Well, there is a change in the output logs but unfortunately got another error....
I ran the following command `env PYSPRAK_PYTHON=/home/orwa/anaconda3/envs/spark1/bin/python spark-submit --master spark://192.168.198.131:7077 keras_spark_mnist.py
` where spark1 is my virtual environment and it looked that it worked but got another exception.
There were many logs in the terminal but I could exclude

[2020-06-17 18:32] orwa-te commented on #2029
Also, I tried setting the "`PYSPARK_PYTHON`" in `spark-env.sh` file, increasing the number of **CPUs** of the cluster to **4** and still get the same result with the same error!

[2020-06-18 06:03] WeichenXu123 opened #2033 "Horovod spark raise error No module named 'pyspark'"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version:
3. Horovod version: Horovod >= 0.19.2
4. MPI version: N/A
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7
8. Spark / PySpark version: spark 2.6 (Note: Download spark tarball and deploy spark in a separate directory instead of install pyspark into python site-packages)
9. OS and vers

[2020-06-18 09:48] albertz opened #2034 "SGE parallel environment multi-node training"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14
3. Horovod version: 0.19.4
4. MPI version: Open MPI 1.10.2
5. CUDA version: 10.1
6. NCCL version:
7. Python version: 3.7
8. OS and version: Ubuntu 16.04
9. GCC version:

Our framework: [RETURNN](https://github.com/rwth-i6/returnn)

**Your question:**

In our cluster environment, scheduled via SGE, we used the parallel environment

[2020-06-18 09:53] albertz commented on #1500
Maybe #1123 is related? I feel some familiarity with the stack trace, although on closer inspection, it is different, so not sure.
You might try `LD_PRELOAD=libhwloc.so` or this Python snippet:
[code]

[2020-06-18 16:30] #129 closed

[2020-06-18 16:30] #1955 closed

[2020-06-18 20:15] olimastro commented on #2017
So for anybody looking at this issue there is a work around. Simply reassign this function to the method of the optimizer and clear the backward hooks like this:
[code]
From what I understand the hooks are never removed and when recreating another optimizer for the same model object `grad_acc` gets more than one hook and it crashes.

[2020-06-19 00:51] WeichenXu123 commented on #2033
@tgaddair  @EnricoMi FYI: Spark deployed in separate directory is a very common case. And the code I provided would be much easier to reproduce than #2029 . :)

[2020-06-19 04:43] EnricoMi commented on #2029
It looks like the `PYSPARK_PYTHON` fixes the original issue for you and now surfaces an unrelated bug. @tgaddair can you elaborate on the `apply_gradients() was called without a call to get_gradients() or _aggregate_gradients` exception?

[2020-06-19 04:46] EnricoMi commented on #2033
Hi @WeichenXu123, thanks for the detailed report. Can you try `PYSPARK_PYTHON` with the absolute path to the python binary, e.g. `PYSPARK_PYTHON=$(which python3.7) bin/pyspark`?

[2020-06-19 04:48] EnricoMi commented on #2033
Sorry, that is not the problem. I will investigate this.

[2020-06-19 06:31] EnricoMi opened #2036 "Fix pyspark3 warning about setJobGroup"
With pyspark3, `setJobGroup` triggers the following warning:

[code]

We should do the work aournds.

[2020-06-19 06:43] EnricoMi commented on #2033
As a work around the following should work:

    ranks = horovod.spark.run(test_tensorflow, num_proc=2, env=os.environ)

Let me know if it works for you. I'll try to get this working without the work around.

[2020-06-19 06:46] EnricoMi commented on #2033
Alternatively, using Gloo instead of MPI also works for me:

    ranks = horovod.spark.run(test_tensorflow, num_proc=2, use_gloo=True)

[2020-06-19 07:20] EnricoMi opened #2037 "Running horovod.spark.run with env=os.environ fails"
Example:

    horovod.spark.run(fn, num_proc=2, env=os.environ)

That `env` is an object, not a dictionary. It cannot be pickled:

[code]

It works with

    horovod.spark.run(fn, num_proc=2, env=os.environ.copy())

The `run` function needs to copy `env` itself first.

[2020-06-19 08:00] EnricoMi commented on #2029
@orwa-te can you please provide the full stack trace / more log output of the original error where it complained about `Cannot run program "python": error=2, No such file or directory"`?

[2020-06-19 08:04] EnricoMi commented on #2029
And can you please run the following after undoing your `spark-env.sh` modifications from above?

[code]

[2020-06-19 08:50] EnricoMi commented on #2033
I think I have fixed this with #2038. @WeichenXu123 can you test this in your environment?

[2020-06-19 08:51] EnricoMi commented on #2033
The problem here is that MPI runs `python -m horovod.spark.driver.mpirun_rsh` without `spark-3.0.0-preview2-bin-hadoop2.7/python` in `PYTHONPATH`. Therefore `mpirun_rsh.py` fails with `ModuleNotFoundError: No module named 'pyspark'`. The problem does not occur for Gloo because it calls into `rsh.py` from within `pyspark`'s python process.

[2020-06-19 10:49] orwa-te commented on #2029
Check this link for the full stack trace of the logs produced by the command `spark-submit --master spark://192.168.198.131:7077 keras_spark_mnist.py` : [output logs](https://gist.github.com/orwa-te/512674a1e43b52372f2c3f8ba96dca9b)
Keep in mind that in this case `PYSPARK_PYTHON` is removed from `spark-env.sh`.

Setting the `PYSPARK_PYTHON` and executing the same command mentioned above gives the

[2020-06-19 10:59] orwa-te commented on #2029
Whether `PYSPARK_PYTHON` is set or removed from `spark-env.sh` I get the same output for this example:
`[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]`

[2020-06-19 13:15] EnricoMi commented on #2029
Do I understand this right? When you run `spark-submit --master spark://192.168.198.131:7077 keras_spark_mnist.py` without `PYSPARK_PYTHON` in `spark-env.sh` then you get the first provided output logs. When you add `PYSPARK_PYTHON` to `spark-env.sh` you get the `apply_gradients() was called without a call to get_gradients() or _aggregate_gradients` exception?

I would argue that `PYSPARK_PYTHON`

[2020-06-19 16:07] orwa-te commented on #2029
You're right. I will always set `PYSPARK_PYTHON` path when I run the command, but now I am looking forward to seeing a solution to the problem where I got **output logs 2**...... that I linked above......
Thanks for your efforts

[2020-06-19 16:31] EnricoMi opened #2041 "Running keras_spark_mist.py example fails"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): Tensorflow
2. Framework version: 2.1.0
3. Horovod version: 0.19.4
4. MPI version: 4.0.3
5. CUDA version: None
6. NCCL version: None
7. Python version: 3.7.0
8. Spark / PySpark: 2.4.5
9. OS and version: Ubuntu 20
10. GCC version: 9.3.0

**Bug report:**
Running the `keras_spark_mist.py` example fails with the following exception:

[2020-06-19 16:32] EnricoMi commented on #2029
Ok, to keep bugs separated I will therefore close this issue. I have created #2041 to track the tensorflow exception.

[2020-06-19 16:32] #2029 closed

[2020-06-19 17:23] #2037 closed

[2020-06-19 18:16] EnricoMi opened #2042 "Add Elastic Spark to elastic documentation"
We need to complete the Elastic Horovod on Spark section in `elastic.rst`.

[2020-06-20 04:35] wacoder opened #2043 "horovodrun and mpirun both do not work,"
**Your question:**
Please ask your question here.
I am using docker on two machines. I am able to ssh from container(host1) to container(host2), and from container(host2) to container(host1).

Then I run the command
` horovodrun --verbose -np 2 -H 10.64.0.218:1,10.64.59.23:1 -p 12345 python horovod_sample.py `
The error shows as following:
![image](https://user-images.githubusercontent.com/1013257

[2020-06-20 06:10] cheneyoung commented on #100
I meet the same problem, do you have some ideas? @alsrgv
![image](https://user-images.githubusercontent.com/13175675/85194245-abfb5000-b2ff-11ea-8721-2047c1991460.png)

[2020-06-21 18:43] changlan opened #2044 "NanLossDuringTrainingError with NCCL 2.7 and CUDA 11"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15
3. Horovod version: 0.19.4
4. MPI version: OpenMPI 4.0.2
5. CUDA version: 11.0
6. NCCL version: 2.7.1
7. Python version: 3.7.6
8. Spark / PySpark version:
9. OS and version:
10. GCC version: 6.3.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you re

[2020-06-22 06:50] EnricoMi commented on #2043
@wacoder it looks like you can password-less ssh from hos2 to hos1, but can the `orted` process on host1 connect to `mpirun` on host2? Do you have to open ports or are all ports between both hosts unrestricted?

[code]

[2020-06-22 08:18] Jie-Yuan opened #2045 "XLA_GPU or GPU? tf.config.list_physical_devices('GPU') == None"
https://github.com/horovod/horovod/blob/master/examples/tensorflow2_keras_mnist.py#L23

![image](https://user-images.githubusercontent.com/20265321/85264932-0df4ba80-b4a4-11ea-9a5d-e22d6c25471c.png)

[2020-06-22 08:46] yianzhongguo opened #2046 "same"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-06-22 08:53] #2046 closed

[2020-06-22 09:13] yianzhongguo opened #2047 "The loss values from different GPUs are the same"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-06-22 12:48] yianzhongguo commented on #2047
Sorry, I set a seed when processing data. When I delete the seed all work as expected.

[2020-06-22 12:48] #2047 closed

[2020-06-22 13:03] #2033 closed

[2020-06-22 17:00] tgaddair commented on #2045
Hey @Jie-Yuan, can you clarify your question?  In your environment, it looks like you may want to try `tf.config.experimental.list_physical_devices('XLA_GPU')` instead.

[2020-06-22 17:05] tgaddair commented on #2044
Thanks for reporting this issue, @changlan.  I'm not aware of any incompatibilities with CUDA 11 or NCCL 2.7, but we haven't run extensive tests with those version yet.  I'll see if I can reproduce the error.

Have you tried running any of our other example scripts like [tensorflow_mnist.py](https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist.py), and do you see similar issues

[2020-06-22 17:13] nvcastet commented on #2044
I have not tried it.

[2020-06-22 18:57] nluehr commented on #2044
@changlan Did you also build TF 1.15 against CUDA 11?

[2020-06-22 20:07] changlan commented on #2044
@nluehr Yes, it was built against CUDA 11.

[2020-06-23 02:45] Richie-yan commented on #2026
Okay, got it. So, do you have any suggestions for to determine which workers are slow from a NCCL allreduce perspective? My idea may be that some processing needs to be done on the nccl code side @tgaddair

[2020-06-23 20:56] rahul003 opened #2052 "RecursionError with Pytorch"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Pytorch
2. Framework version: 1.15.1
3. Horovod version: 0.19.4
4. MPI version: 4.0.1
5. CUDA version: 10.2
6. NCCL version: ?
7. Python version: 3.6
8. Spark / PySpark version: NA
9. OS and version: Ubuntu 16.04
10. GCC version: 5.4(?)

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2.

[2020-06-23 20:57] rahul003 commented on #2052
The error does not show up when using older version of Horovod with older version of Torch. I couldn't use an older version of Horovod with current version of Torch due to build failures.

[2020-06-23 22:26] OwenHua666 opened #2053 "Pytorch Mnist Example in the docker container is not working"
**Environment:**
Docker container on docker hub.
Tag: 0.19.3-tf2.1.0-torch-mxnet1.6.0-py3.6-gpu

**Your question:**
Please ask your question here
`horovodrun -np 4 -H localhost:4 python train.py`
Gives me:
[code]

[2020-06-23 23:06] tgaddair opened #2054 "Standardize allreduce averaging / scaling behavior across frameworks"
Currently, some frameworks will preserve data types when doing averaging (for example, in PyTorch: int32 input -> int32 output, using floor division), while others will type promote where necessary (TensorFlow, MXNet: int32 input -> float output).  We should make an effort to make this behavior consistent across all our supported frameworks.

Related: #2051 #1949.

[2020-06-23 23:12] tgaddair opened #2055 "PyTorch and MXNet unit tests are missing absolute values"
Unit tests that compare "actual" and "expected" tensors use a pattern of subtracting one tensor from the other and taking the max values:

[code]

This difference is then compared against a threshold (for floating point values):

[code]

However, because this value does not take the absolute value, it is possible that all values are negative, and the "max value" reported is also negative, resultin

[2020-06-24 04:13] nicklhy commented on #1669
Any updates here ? Got the same problem recently.

[2020-06-24 06:58] davidrpugh opened #2056 "Contribution to Horovod docs?"
I recently published an article on *Towards Data Science* on building a Cond environment for Horovod.

https://towardsdatascience.com/building-a-conda-environment-for-horovod-773bd036bf64?source=friends_link&sk=0970472bfe52d7b76591f78e9b1c8806

I think that the material of this article might make for a good contribution to the Horovod docs. Thoughts?

[2020-06-24 12:45] luomai commented on #1283
@LiweiPeng Hi Liwei, did you resolve this issue?

[2020-06-24 15:13] wacoder commented on #2043
@EnricoMi  thanks for the answer. Yes, I set firewall rule to allow for 12345 for tcp or tcp(v6).

[2020-06-24 17:45] EnricoMi commented on #2043
And, does this fix the issue?

[2020-06-25 01:24] tgaddair commented on #2056
Hey @davidrpugh, thanks for putting this together, this is awesome work!

I think it would be great to add this material to the docs, perhaps as a `conda.rst` file in docs folder.  Would you be interested in putting together a pull request?

[2020-06-25 07:05] davidrpugh commented on #2056
Sure. I will dust of ht .rst and submit a PR!

[2020-06-25 10:00] davidrpugh commented on #2056
PR #2060 has been submitted and is ready for review.

[2020-06-25 10:44] moaradwan commented on #1211
@raj-brown was it resolved?

[2020-06-25 10:44] moaradwan commented on #1211
can you also outline your data distribution solution?

[2020-06-25 18:41] #1947 closed

[2020-06-26 00:25] darkalexpp opened #2062 "Use multi-core for node in CPU"
**Environment:**
1. Framework: keras with tensorflow
2. Framework version: keras 2.1.6 and tensorflow 1.5.0
3. Horovod version: 0.19.4
4. MPI version: openmpi 4.0.4
5. CUDA version: null
6. NCCL version: null
7. Python version: 3.6
8. OS and version: manajro 20.0.3 kernel 5.6
9. GCC version: 8.4

how to use multi core in cpu?
 when i run keras with tensorflow, this only uses 1 core for node

[2020-06-26 06:35] Approximetal commented on #851
I have the same issue.

[2020-06-26 18:25] davidrpugh commented on #2056
@tgaddair any thoughts on my contributing this template repo to the Horovod GitHub organization. Template encodes the Conda (+pip) install process in the docs and makes it easier for new users to get started. I can commit to maintain the repo.

https://github.com/kaust-vislab/horovod-gpu-data-science-project

[2020-06-27 20:46] EnricoMi opened #2065 "Fix SparkTests.test_get_available_devices"
We can't move from Spark 3.0.0-dev2 to the 3.0.0 release because test `SparkTests.test_get_available_devices` breaks. Fix the test and move to Spark 3.0.0 again (see #2064). I have raised [Jira ticket SPARK-32120](https://issues.apache.org/jira/browse/SPARK-32120) to see if this is a bug or a new feature in 3.0.0 release.

That test might have been fixed by https://github.com/horovod/horovod/pull/

[2020-06-28 15:16] Trampeye opened #2066 "Sync Batch Norm for Tensorflow"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-06-29 06:05] arunkumar1605 commented on #1802
@tgaddair i'm also facing same error.
"RuntimeError: hvd.broadcast_global_variables() does not support eager execution. Please use `hvd.broadcast_variables(<model/optimizer variables>)` instead."

import horovod.tensorflow.keras as hvd

scaled_lr = learning_rate * hvd.size()
optimizer=tf.optimizers.Adam(scaled_lr)
opt = hvd.DistributedOptimizer(optimizer)

callbacks=[hvd.callbacks.BroadcastGlobalV

[2020-06-29 06:07] cyrushu commented on #2053
+1 same issue.

[2020-06-29 06:41] cyrushu commented on #2053
I have figure out the issue, however I could not explain what happened behind.
remove the kwargs input in the dataloader works fine.

[code]

[2020-06-29 15:37] tgaddair commented on #1802
Hey @arunkumar1605, can you share more of your script?  Are you using `import keras` or `tf.keras`?

[2020-06-29 16:41] tgaddair commented on #2053
Thanks for looking into this @cyrushu.  It looks like setting `num_workers=0` solved the issue for you, which suggests that the problem is coming from the way PyTorch is doing multiprocessing (see: https://discuss.pytorch.org/t/get-a-bus-error-when-using-distutils-distributedsampler/24593).

We have a check that attempts to determine if we need to use `forkserver` multiprocessing here, but it's po

[2020-06-29 20:52] EnricoMi commented on #2065
Test has been fixed: https://github.com/horovod/horovod/pull/2063#issuecomment-650811959

[2020-06-29 20:52] #2065 closed

[2020-06-30 02:56] whatdhack opened #2068 "Horovod Timeline ( with TF)"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): TF
2. Framework version: 2.1
3. Horovod version: 0.19.4
4. MPI version:
5. CUDA version: X
6. NCCL version: X
7. Python version: 3.6.9
8. OS and version: Centos 7
9. GCC version: 8.3

**Checklist:** yes
1. Did you search issues to find if somebody asked this question before?   yes
2. If your question is about hang, did you read [t

[2020-06-30 03:13] arunkumar1605 commented on #1802
Hi @tgaddair, i have provided training script and the estimator step details below. Please let me know if any additional details required.

######################## import packages ################################################

import keras
import tensorflow as tf
from keras.layers import Conv2D, MaxPooling2D, GlobalAveragePooling2D,BatchNormalization,Activation,LeakyReLU
from keras.layers impo

[2020-06-30 03:26] cyrushu commented on #2053
You have to modify scripts among all the nodes to complete the modification if you tried to run among different machines.@OwenHua666
Thanks for the suggestion, I do lack of understand in current stage and I will follow the solution in the following days since I my work also need it. I have also tried "spawn" method, It shows not work as well. @tgaddair

root@vr-gpu08:/examples# horovodrun -np 2 -H

[2020-06-30 11:18] 836304831 commented on #1961
The problem is out of memory but the print error has no indicte the naturely reason.
I will close this issue.

[2020-06-30 11:18] #1961 closed

[2020-06-30 17:20] mshaikh786 commented on #1976
Hi @tgaddair
The theoretical bandwidth of CrayXC40 interconnect is of the order of 14GB/s. Here is the OSU microbenchmark (bidirectional bandwidth) between two MPI ranks, one on each node:
# OSU MPI Bi-Directional Bandwidth Test v5.6.2
# Size      Bandwidth (MB/s)
1                       1.86
2                       3.69
4                       7.32
8                      15.03
16

[2020-06-30 20:26] wacoder commented on #2043
@EnricoMi Thanks very much, after changing firewall to allow anything from the ip, the issue is resolved.

[2020-06-30 20:26] #2043 closed

[2020-06-30 21:01] akirillov commented on #1855
Thanks for some of the background, @tgaddair. I'm also wondering if this check still valid for Gloo backend?

[2020-06-30 22:07] tgaddair commented on #2056
Hey @davidrpugh, thanks for the PR.  We've had a lot of questions about Conda in the past, so this will be very useful for a lot of users.

Regarding the template, can you expand on some of the benefits of maintaining this template?  I believe the idea is to make it easy to get started with a data science project with Horovod + project organization, but can you elaborate on some of the things it p

[2020-06-30 22:13] tgaddair commented on #2062
Hey @darkalexpp, can you provide the `horovodrun` / `mpirun` command you're using?  What kind of CPU are you using, and does it have multiple sockets?

[2020-06-30 22:45] darkalexpp commented on #2062
I use:
horovodrun -np2 -H 192.168.100.3:1,192.168.100.4 python3.6 lstm.py

Use cpu1: intel core i5 6gen
Use cpu2: intel core pentium
Tensorflow without avx, avx2

Openmpi support multi-theared

I try use mpi4py and work multicore but not combine the 2 cpus in the training

[2020-07-01 02:54] golden0080 opened #2070 "Any Examples about Horovod's broadcast functions?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)  **Tensorflow**
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? **Yes**
2. If your question is about hang, did you read [this doc](https://github.

[2020-07-01 05:25] mmmeee1111 opened #2071 "question on horovod workflow"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-07-01 05:34] davidrpugh commented on #2056
@tgaddair Sure. The Horovod template repo emerged from my work @kaust-vislab where I am helping users go from using 1 GPU for training to using N GPUs for training spread across multiple nodes in our university cluster. I found that even with my documentation, users required substantial hand-holding to get the everything working together properly to create the environment.

In addition to lowering

[2020-07-01 21:11] mbluestone opened #2072 "Horovod not recognizing multiple GPUs on Databricks"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.5.0
3. Horovod version: 0.19.1
4. MPI version: mpirun (Open MPI) 3.0.0
5. CUDA version: 10.1
6. NCCL version: 2.7.3
7. Python version: 3.7.6
8. OS and version: Ubuntu 18.04.4 LTS
9. GCC version: 7.5.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? It seems to be similar to issue #604 which hasn

[2020-07-02 08:27] zhangyanzi01 opened #2073 "Horovod & Tensorflow, how to get the average evaluate_accuracy? Estimator.evaluate on multiple(N) GPUs, each GPU uses 1/n data."
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.0.0
3. Horovod version:0.19.0
4. MPI version:v3.1
5. CUDA version:cuda10.0
6. NCCL version:nccl_2.4.7
7. Python version:3.6.6
8. OS and version:RHEL7.4
9. GCC version: gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC)

**Your question:**

Scenario:
I use Horovod & Tensorflow, not use keras.
1. Use "tf.estimator.Estimator.train" fo

[2020-07-02 08:28] zhangyanzi01 commented on #2073
My question:
Each GPU will have an evaluation_result,
How to get the average evaluation_result among all GPUs evaluation_results?

[2020-07-02 08:29] zhangyanzi01 commented on #2073
Waiting for your reply, thank you!

[2020-07-02 11:27] zanonShao opened #2074 "CUDA error: device not ready"
**Environment:**
1. Framework: PyTorch
2. Framework version:1.5.0
3. Horovod version:0.19.2
4. MPI version:1.0
5. CUDA version:10.2.89
6. NCCL version:2.6.4.1
7. Python version:3.7
8. OS and version:Ubuntu 16.04.6 LTS
9. GCC version:gxx_linux-64  7.3.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc]

[2020-07-02 13:47] zanonShao commented on #2074
I reinstalled the whole environment and the problem was solved.     ORZ

[2020-07-02 13:47] #2074 closed

[2020-07-03 10:10] Approximetal commented on #1831
Hi, I met the same problem, my openmpi version is 4.0.3 too. Here is my `ldd` info:
[code]

[2020-07-03 13:09] mbluestone commented on #2072
I now recognize the difference between `hvd.rank()` and `hvd.local_rank()` which explains the output that I'm getting. However, when training a model using this configuration the system metrics show that only 4 GPUs are being utilized. What could explain this?

[2020-07-03 22:37] #2011 closed

[2020-07-04 08:29] Approximetal commented on #448
Hi @tgaddair, I met the same problem, I use this command to install horovod which indicate the path of cuda: `HOROVOD_NCCL_INCLUDE=/usr/include HOROVOD_NCCL_LIB=/usr/lib64 HOROVOD_CUDA_HOME=/usr/local/cuda-9.2 HOROVOD_CUDA_INCLUDE=/usr/local/cuda-9.2/include HOROVOD_WITH_PYTORCH=1 HOROVOD_WITHOUT_TENSORFLOW=1 HOROVOD_WITHOUT_MXNET=1 HOROVOD_GPU_OPERATIONS=NCCL HOROVOD_CPU_OPERATIONS=MPI HOROVOD_WI

[2020-07-04 09:20] Approximetal commented on #2074
Hi @zanonShao, I also met this issue, what do you mean "reinstalled the whole environment"?

[2020-07-04 14:08] zanonShao commented on #2074
I installed all the enviroment by conda：
1、CUDA `conda install -c anaconda cudatoolkit`
2、pytorch `conda install pytorch torchvision -c pytorch` （if it's slow to download by channel 'pytorch',you can try https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch/）
3、MPI `conda install -c conda-forge mpi` and `conda install -c conda-forge mpi4py`
4、NCCL `conda install -c conda-forge nccl`
5、gxx_64

[2020-07-04 21:52] vibhatha opened #2076 "Horovod Elasticity Architecture and Components"
I have a question about the host discovery and the blacklist mechanism.

I want to know whether the host discovery process is a static or dynamic. The way I understood was it is being provided as a static file containing classic MPI-hostfile config. And this is only done once the job is launched. How the new workers are being identified/searched when all workers in the host file are blacklisted (b

[2020-07-05 08:22] zpcalan opened #2077 "I use Horovod+TensorFlow to run 8 GPU traning and find out that each step's time cost is not as expected."
1. Framework: TensorFlow
2. Framework version: 1.14
3. Horovod version:0.19
4. MPI version:3.1.5
5. CUDA version:10.0
6. NCCL version:2.4.8
7. Python version:3.7.5
8. OS and version:ubuntu 16.04
9. GCC version:7.3.0

I run the test case [https://github.com/horovod/horovod/blob/master/examples/keras_imagenet_resnet50.py](url) with 8 V100 GPUs:(with fp16 allreduce disabled.)

`horovodrun -np 8 -H lo

[2020-07-06 04:51] aliatprotopia opened #2078 "Horovod on Spark fails to load token from HADOOP_TOKEN_FILE_LOCATION"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): Tensorflow/Keras
2. Framework version: 2.2.0
3. Horovod version: 0.19.5
4. MPI version: Gloo
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7
8. Spark / PySpark version: 2.4.4
9. OS and version: Amazon Linux 2
10. GCC version: N/A

**Checklist:**
1. Did you search issues to find if somebody asked this question befo

[2020-07-06 10:10] EnricoMi commented on #2078
Hi @aliatprotopia, can you please elaborate on how you start Horovod on Spark, like the full `horovod.spark.run(...)` command or do you use the `hvd.KerasEstimator`? Can you run the training with `verbose=3` and provide me some output from the Spark Worker like `Task service executes command:` and `Task service env:`? Thanks!

[2020-07-06 10:30] EnricoMi commented on #2076
Hi @vibhatha, let me answer a few of your questions.

The discovery is done by a shell script (`--host-discovery-script`) that being **executed** returns the hostnames and slots that are available via STDOUT. Everytime this script is executed, a different list of hosts can be returned. So the output of that script is dynamic in that sense. Horovod Elastic detects changes in that list and reorganiz

[2020-07-06 14:04] aliatprotopia commented on #2078
I use `hvd.KerasEstimator().fit()` and I used `verbose=2` (not 3) and got these. Do you want me run with 3?

`Task service executes command: HOROVOD_RANK=0 HOROVOD_SIZE=2 HOROVOD_LOCAL_RANK=0 HOROVOD_LOCAL_SIZE=2 HOROVOD_CROSS_RANK=0 HOROVOD_CROSS_SIZE=1  PYTHONUNBUFFERED=1 HOROVOD_GLOO_RENDEZVOUS_ADDR=10.3.226.50 HOROVOD_GLOO_RENDEZVOUS_PORT=6402 HOROVOD_CONTROLLER=gloo HOROVOD_CPU_OPERATIONS=glo

[2020-07-06 16:19] kyunggeun-lee commented on #996
Well, I tried this but didn't work. But `--mca plm_rsh_agent "sh /path/to/resolver.sh"` worked for me.

[2020-07-06 17:27] EnricoMi commented on #2078
Exactly that one, so the training script is executed with `HADOOP_TOKEN_FILE_LOCATION`, it is available to you script, and `pyarrows/hdfs.py` is picking it up. It looks like that file does not exist (as the exception above does say). Does HDFS access work for your Spark cluster and other apps on it?

[2020-07-06 17:34] Vikas-kum commented on #2008
@tgaddair
Hi Travis,
Is there any plan on this? I think one simple first implementation can be file based where writer timeline thread can keep on looking for a file and its contents to decide where the profiler is turned on or off.

while(True):
   read_configuration_file_periodically()
  if disabled():
     continue
  ....
  ...

[2020-07-06 19:48] tgaddair commented on #2034
Hey @albertz, are you setting `visible_device_list` as shown [here](https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist.py#L152)?

If so, this may be a bug on the TensorFlow side.  Can you try upgrading to TensorFlow 1.15?

[2020-07-06 20:17] albertz commented on #2034
Yes, we do.
We had to make some changes to our SGE environment to make this possible. It basically sets the correct `CUDA_VISIBLE_DEVICES` on every node. All the other stuff was already working just in the same way as for single node training.
@curufinwe did that. I don't really know what exactly he did do related to MPI or SGE. I just know that some custom script is involved at some point which f

[2020-07-06 20:22] tgaddair commented on #2068
Hey @whatdhack, the size of the bar corresponds to the time from the beginning of the `MPI_Allreduce` call to the end.  As the size of the tensor increases (as it does each iteration of your loop), then time taken for the Allreduce will increase, because more data needs to be transmitted between the worker processes.

[2020-07-06 20:24] tgaddair commented on #2070
Hey @golden0080, if your goal is to broadcast a plain Python object, then using `mpi4py` is a good option.  Alternatively, if you want to use a pure-Horovod approach (which would work for Gloo as well as MPI), you can base your callback on the (unreleased) [broadcast_object](https://github.com/horovod/horovod/blob/master/horovod/tensorflow/functions.py#L59) function.

[2020-07-06 20:36] tgaddair commented on #2071
Hey @mmmeee1111, when `EnqueueTensorAllReduce` is called, the tensor is added to a table containing all the ready tensors ("ready" here means ready on a particular worker).  During the background loop (`RunLoopOnce`) there is a step called Negotiation where the workers determine which tensors are ready on all workers (set intersection).  Once the final list of ready tensors is determined, the Allr

[2020-07-06 20:50] tgaddair commented on #2072
Hey @mbluestone, in your example, you're running with `hr = HorovodRunner(np=8)`, so we would expect that you should be using a total of 8 GPUs / processes.  In the first block of output, those 8 processes were split across all 4 GPUs of 2 different hosts.  In the second block of output, you had processes spread across 3 hosts: 3 GPUs on host-0, 3 GPUs on host-1, and 2 GPUs on host-2.

When you sa

[2020-07-06 21:01] tgaddair commented on #2073
Hey @zhangyanzi01, there are a couple options.  If you're using MPI, you can use `mpi4py.allreduce` to sum the value across workers, then divide by `hvd.size()` to get the average.

Alternatively, you can use `tf.convert_to_tensor()` on the evaluation accuracy, then run `hvd.allreduce(op=hvd.Average)` to get the average.  Both should work.

[2020-07-06 21:19] tgaddair commented on #2076
Hey @vibhatha, to follow-up on @EnricoMi's answer:

After the worker calls `state.commit()` or `state.check_host_updates()`, then Horovod will use this opportunity to add new workers to the training process.

The key-value store is currently in-memory, since the Driver is the single source of truth for this information.  In the future, when we add additional layers of fault tolerance to the driver

[2020-07-06 21:25] tgaddair commented on #2077
Hey @zpcalan, how did you install Horovod?  Can you run `horovodrun --check-build` and provide the output here?

[2020-07-06 21:43] tgaddair commented on #2008
Hey @Vikas-kum, I can take a stab at implementing the Python API we discussed in probably a week or two from now.  If you have the time and inclination to work on this before then, contributions are certainly welcome.  In general, I would prefer to go the Python API route over having a config file, as I feel it's easier to control from a user perspective, but open to continue discussing the pros/c

[2020-07-06 21:47] amruth21 commented on #758
I have attempted to use IntelMPI instead of OpenMPI on windows however I am still getting the same error.
When I run mpicxx -show in the command line I get this:
cl.exe     -I"C:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2020.1.216\windows\mpi\intel64\include" /link  /LIBPATH:"C:\Program Files (x86)\IntelSWTools\compilers_and_libraries_2020.1.216\windows\mpi\intel64\lib\release" /LI

[2020-07-06 21:49] mmmeee1111 commented on #2071
Hi @tgaddair Thanks for the detailed answer. is it "[response](https://github.com/horovod/horovod/blob/master/horovod/common/controller.cc#L610)" the callback returned by Horovod, so as to send the processed results back to TF?

[2020-07-06 22:09] tgaddair commented on #2071
The `response` is the set of tensors that are ready for allreduce across all workers.  Processed results are sent back by calling the callback [here](https://github.com/horovod/horovod/blob/master/horovod/common/operations.cc#L310).  We don't need to actually return a buffer of data because the tensors are modified in-place.

[2020-07-06 22:11] vibhatha commented on #2076
@tgaddair and @EnricoMi Thanks a lot for the responses.

It is not quite clear to me how the host discovery is dynamic. If the provided discovery config is static (because we provide a file with host info), how can new workers join in?
Will another process be writing to this about the possible new workers. In this case, does HVD expects a resource scheduler to provide the info that there are new w

[2020-07-06 22:16] mmmeee1111 commented on #2071
Thanks, everything is clear now.

[2020-07-06 22:16] #2071 closed

[2020-07-06 22:16] tgaddair commented on #2076
Hey @vibhatha, the host discovery script you provide is an executable script, not a config.  So it's code.  Inside that script, you might, for example, make an API call to your container orchestrator / resource scheduler to get the set of available containers in your job.  We have an example.  In our tests, you can see an example of how the discovery script can be used to read an external data sou

[2020-07-06 22:51] aliatprotopia commented on #2078
I think the problem is that `HADOOP_TOKEN_FILE_LOCATION` is a `local` path by default not `hdfs` path. And yes, I can ssh to the host and run other spark tasks; I also see the token exists on the `local` path. So, I believe the exception is because it is looking into `hdfs` and not `local` path for the token and Spark by default puts the `local` path in `HADOOP_TOKEN_FILE_LOCATION`. Do you know ho

[2020-07-06 23:33] vibhatha commented on #2076
@tgaddair This makes everything clear. Thank you.

[2020-07-07 08:45] jackygit-alt opened #2080 "Horovod Controller"
I have a question about horovod controller logics.
Supposed we have two ranks, `rank0` and `rank1`, one tensor `tensor0`, in the last cycle, `tensor0` is ready at `rank0`, but unready at `rank1`, in this situation, we should try to process this `tensor0` request message again in next cycle. In the next cycle, if we again push another ready `tensor 0` request message to `tensor_queue_` at `rank0`,

[2020-07-07 16:01] tgaddair commented on #2080
Hey @jackygit-alt, in general it should not be allowed to submit two tensors with the same name before the first operation has completed.  I'd have to look closely at the code to see how we handle this to be sure.  @romerojosh, do you know off the top of your head how we handle this?

[2020-07-07 18:55] EnricoMi commented on #2078
What makes you think Spark looks into HDFS for that path? Looking at your stacktrace, Spark is not involved here. Your training script is running in a python process, which uses petastorm and pyarrow to access hdfs. That one uses the env variable to locate the file.

Some more questions to understand your setup: How do you connect your python script with your Spark cluster? Do you use `spark-submi

[2020-07-07 19:32] aliatprotopia commented on #2078
I did not say Spark looks into HDFS. I am saying Spark creates that token on `local` path; I *think* pyarrow is considering that as an hdfs path. Maybe I am wrong.

I use `spark-submit` and in fact the `utils.prepare_data` function from `Horovod` works fine. It copies data from S3 to HDFS and breaks it down into train and validation. I see those two folders on HDFS. Also, I just tried to read thos

[2020-07-07 21:09] aliatprotopia commented on #2078
Actually looking closer, I realized that the token is under `container_1594008786728_0002_02_000003` (3 at the end) folder while `HADOOP_TOKEN_FILE_LOCATION` points to `container_1594008786728_0002_02_000001` (1 at the end). So, `HADOOP_TOKEN_FILE_LOCATION` is set wrong or maybe copied from the master node to executor nodes without change. Do you know how we can fix it?

[2020-07-08 02:59] hammer2505 commented on #1838
Have you solved this problem?

[2020-07-08 07:19] EnricoMi commented on #2078
Worker and driver all should have the same application id `application_1594008786728_0002` and the same container id prefix, here `container_1594008786728_0002`. The rest of the container id is different, because worker and driver are different containers. When Spark creates a new executor in a worker, it copies the token over to that new containers path. So every container has its own copy of tha

[2020-07-08 07:25] aliatprotopia commented on #2078
It seems that worker is trying to reach to driver's path for the token. The token is actually under `$HOROVOD_SPARK_WORK_DIR/container_tokens` and `HOROVOD_SPARK_WORK_DIR` ends with worker's container id (in this case `000003`). However, `HADOOP_TOKEN_FILE_LOCATION` points to a path that ends with the drivers id (in this case `000001`). That is I think why it says file does not exist. It is lookin

[2020-07-08 08:37] Jie-Yuan opened #2082 "How do different machines read different data"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-08 10:36] rudvlf0413 commented on #1838
@hammer2505
Yes, I install MPI using `conda install openmpi` and then reinstall Horovod.

[2020-07-08 10:36] #1838 closed

[2020-07-08 11:28] hammer2505 commented on #1838
I solved the problem in your way， thank you！

[2020-07-08 13:46] mbluestone commented on #2072
Hey @tgaddair thanks for getting back to me! Turns out the GPU utilization is occurring exactly as it should, and the issue we were having is with Comet.ml and their system metrics tracking. I'll go ahead and close this issue - thanks!

[2020-07-08 13:46] #2072 closed

[2020-07-08 16:39] tgaddair commented on #2082
Hey @Jie-Yuan, this is handled outside of Horovod.  For example, if your data is in the Parquet format, you can use [Petastorm](https://github.com/uber/petastorm).  For TFRecord, you can use TensorFlow's [tf.data.Dataset.shard](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#shard).  For PyTorch, there is the [DistributedSampler](https://pytorch.org/docs/stable/data.html#torch.utils.dat

[2020-07-08 16:58] tvatsal1996 opened #2083 "Different number of steps on different workers"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 2.1.0
3. Horovod version: 0.19.4
4. MPI version: 3.0.0
5. CUDA version: 10.1
6. NCCL version: 2.4.7+
7. Python version: 3.6.6
8. OS and version: Linux 3.10
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about

[2020-07-08 17:57] romerojosh commented on #2080
That is correct. We explicitly do not allow there to be two pending tensors with the same name, so this situation cannot occur. See here: https://github.com/horovod/horovod/blob/e740b938e183fe54a2d2882fb606e8787b5de329/horovod/common/tensor_queue.cc#L29-L31

[2020-07-08 20:38] whatdhack commented on #2068
Thanks, that makes sense.  Why is  the gap between MPI_Allreduce is also increasing proportionately ?

[2020-07-08 21:27] vfdev-5 opened #2084 "Conda environment.yml location"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/

[2020-07-08 21:29] ChaiBapchya commented on #1029
Can we open this issue? Since we don't know how it can be suppressed yet?
At times, we don't have the ability to set `privileged` flag due to security reasons.

[2020-07-08 21:34] vbvg2008 commented on #1029
re-opening this issue to avoid duplicating issues.     I think this issue is worth looking into for docker users.

[2020-07-08 23:47] ChaiBapchya commented on #1029
duplicate of https://github.com/horovod/horovod/issues/653

[2020-07-09 01:48] zpcalan commented on #2077
I installed horovod by `HOROVOD_GPU_OPERATIONS=NCCL pip install horovod`.
And the output is down below:
Horovod v0.19.5:

Available Frameworks:
    [ ] TensorFlow
    [X] PyTorch
    [ ] MXNet

Available Controllers:
    [X] MPI
    [X] Gloo

Available Tensor Operations:
    [ ] NCCL
    [ ] DDL
    [ ] CCL
    [X] MPI
    [X] Gloo

[2020-07-09 03:00] zpcalan commented on #2077
Is there anything wrong with my environment?
I think NCCL should be enabled but the output turns out to be unselected. And the Available Framework has TensorFlow excluded.
Do you think these two details are the reason that I get the wrong time cost?

Thank you very much!

[2020-07-09 03:06] kirbyzhou commented on #1012
Is there any reason to enforce using GPU 0?
We have encountered similar problems -- horovod only works with GPU 0 in its gpuset.

[2020-07-09 05:56] Richie-yan commented on #1850
Hi, @MenglingD
I also encountered this problem and tried to upgrade openmpi to 4.0.3
But the problem still appears

[2020-07-09 08:12] PaulGwamanda commented on #120
For me, this solved it:

[code]

Reference: https://horovod.readthedocs.io/en/stable/api.html

horovod.tensorflow.keras.load_model(filepath, custom_optimizers=None, custom_objects=None, compression=<class 'horovod.tensorflow.compression.NoneCompressor'>)[source]
Loads a saved Keras model with a Horovod DistributedOptimizer.

The DistributedOptimizer will wrap the underlying optimizer used to train

[2020-07-09 08:56] jackygit-alt commented on #2080
Thank you for your prompt reply, @romerojosh  @tgaddair . The code above doesn't allow two request messages with the same tensor name to exist in one `tensor_queue.message_queue_` and it can avoid the case mentioned above happens, but still assuming that we have two ranks, `rank0` and `rank1`, one tensor `tensor0`, and `rank0` is the `root` process.
    In the last cycle, `tensor0` is ready at `ra

[2020-07-09 09:56] MenglingD commented on #1850
Can you describe your situation in more details? In my situation, horovod was failed as the number of nodes is over the limit. 4.0.3 openmpi may be have some limit, which you can check.

[2020-07-09 16:00] jasonliu747 opened #2087 "Sync Batch Norm for MXNet"
There are sync batch norm implementations for PyTorch and Tensorflow in Horovod. Is MXNet in our TODO list?

[2020-07-09 16:59] tgaddair commented on #2083
Hey @tvatsal1996, yes, you can use the newly introduced [hvd.join()](https://github.com/horovod/horovod/blob/master/test/test_tensorflow.py#L1317) function to work around this.  If you call `hvd.join()` at the end of the epoch, then the workers that finish early will wait until the stragglers complete before moving on to the next set of work.

[2020-07-09 17:07] tgaddair commented on #2056
Hey @davidrpugh, thanks for the explanation.  I think calling out how to run with SLURM is particularly useful.  If we can rename the repo to mention that in particular, I think that would be useful.  We can definitely add it to the horovod org, and I think it would also be good to link to its from the README as one of the guides.  What do you think?

[2020-07-09 17:09] tgaddair commented on #2084
Hey @vfdev-5, the docs are referring to the `environment.yml` from [this](https://github.com/kaust-vislab/horovod-gpu-data-science-project) repo (see #2056).

@davidrpugh, could you update the `conda.rst` file to point to the correct location of the `environment.yml` file in your repo?

[2020-07-09 17:16] tgaddair commented on #2087
Hey @jasonliu747, @romerojosh might have some thoughts on that.  If you're interested in putting together a PR, we'd definitely appreciate it!

[2020-07-09 17:19] vinhdiesal opened #2089 "SSH Issues - Username"
I want to create a `horovod` job on three machines at `192.168.1.119`, `192.168.1.191` and `192.168.1.119`, however in order for the computer to connect via SSH, you need the username which is `vinhdiesal`.
However, `horovodrun` doesn't provide the option to specify a username. I tried the following command which errors out:
`horovodrun -np -4 -H localhost vinhdiesal@192.168.1.191 vinhdiesal@192.1

[2020-07-09 17:34] tgaddair commented on #2089
Hey @vinhdiesal, to SSH using a specific username, you should be able to accomplish this by modifying `/etc/ssh/ssh_config` or `~/.ssh/config` like so:

[code]

See [this](https://stackoverflow.com/questions/6518314/configure-mpi-hostsfile-to-use-multiple-user-identities) answer on StackOverflow for more details.

You also need to specify the number of slots in your command, so something like:

[c

[2020-07-09 18:04] romerojosh commented on #2080
Even in your second example, the `DUPLICATE_NAME_ERROR` will block a second request of `tensor0` from `rank0` as `tensor0` from the initial request will exist in the `tensor_table_`. I think you might be mixing up the `tensor_table_` for the `message_queue_`, as the `DUPLICATE_NAME_ERROR` does not check for duplicate entries in `message_queue_`.  `tensor0` will not be removed from `tensor_table_`

[2020-07-09 20:05] vinhdiesal commented on #2089
thanks @tgaddair for your quick and thorough response. Much appreciated, I ran a few tensorflow scripts which finished really quick, but I'm not sure where the results are to analyze the error metrics. Usually when you run the .fit in tensorflow you get several lines after each epoch and it's performance metrics. How do I see this data, or where is the data log so I can visualize it with tools lik

[2020-07-09 20:59] #2089 closed

[2020-07-09 22:32] vinhdiesal opened #2090 "ValueError: Process number should not be larger than total available slots."
I have installed the GPU version of horovod with NCCL 2 on my local machines.

When I run the following command in the terminal:
`horovodrun -np 4 -H localhost:0 192.168.1.191:2 192.168.1.119:2 python Convolution\ Network\ MNIST.py`

`192.168.1.191` and `192.168.1.119` have 2 NVIDIA GPUs each which is why the :2.

I get the following error:
[code]
I attached the python script which tests out MNIST

[2020-07-09 22:43] tgaddair commented on #2090
Hey @vinhdiesal, can you try dropping `localhost:0` from your command line?

[2020-07-10 01:51] vinhdiesal commented on #2090
`horovodrun -np 4 -H 192.168.1.191:2 192.168.1.119:2 python Convolution\ Network\ MNIST.py`
results in the same error:
I did install with GPU.
[code]

[2020-07-10 01:53] vineeths96 commented on #2025
Hello @xinyandai,

Thank you for your reply.

I just received enough time to go through your code. What I could understand is that you made three major changes in the Horovod Torch Distributed Optimizer:

1. You created compressors for each tensor in your class init.
2. You replaced the  `allreduce` function with your `allgather` function.
3. In `synchronize` function you make sure you call the `d

[2020-07-10 02:50] jasonliu747 commented on #2087
Cool, Thanks! @tgaddair
@romerojosh It would be appreciated if you could share your current progress and thoughts!

[2020-07-10 03:46] tvatsal1996 commented on #2083
Hi, I installed horovod-0.19.5 from source using ```HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_CUDA_HOME=<cuda_path> HOROVOD_NCCL_HOME=<nccl_path> pip install --no-cache-dir horovod-0.19.5.tar.gz```, but getting ```AttributeError: module 'horovod.tensorflow' has no attribute 'join'```

[2020-07-10 04:49] Richie-yan commented on #1850
@MenglingD
My situation is at 20 nodes, the job can run normally, but 40 nodes will report this error, I tried to upgrade the openmpi version did not solve the problem.
But I solved my problem by adding `-mca routed direct` to the mpirun command, 40 Nodes can run normally

[2020-07-10 05:33] tvatsal1996 commented on #2083
Hi I am installing it from source. I got the error during installation: ``` CMake Error: The source directory "/tmp/pip-_1021vn3-build/third_party/gloo" does not appear to contain CMakeLists.txt.``` I then searched third_party/gloo dir. It was empty.

[2020-07-10 17:27] romerojosh commented on #2087
Hi @jasonliu747, I haven't currently done any work on adding a sync BN implementation for MXNet. The tricky part right now is that the Horovod MXNet implementation doesn't have any examples showing how to integrate Horovod operations into the forward/backwards pass. For example, the PyTorch Horovod allreduce has an autograd function version that enables it to be used within the compute graph defin

[2020-07-10 20:35] arunraman opened #2093 "Horovod fails when it tries to read from HDFS in DataProc"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.15
3. Horovod version: 0.19
4. MPI version: OpenMPI-Bin
5. CUDA version: cuda_10.0.130_410.48_linux
6. NCCL version: 2.4.8
7. Python version: mpirun (Open MPI) 2.1.1
8. Spark / PySpark version: Spark 3.0
9. OS and version: 2.0.0-RC1-ubuntu18 (GCP Dataproc)
10. GCC version:7.5.0

I am currently wor

[2020-07-11 05:54] davidrpugh commented on #2084
@tgaddair Yes I will make the update.

[2020-07-11 05:57] davidrpugh commented on #2056
@tgaddair now that I know there is interest from your end, I will talk specifics with my leadership and see what they think.

[2020-07-11 12:24] vfdev-5 commented on #2077
I have the same issue with 0.19.5 version and seems like env var `HOROVOD_GPU_OPERATIONS` is not yet introduced in setup.py: https://github.com/horovod/horovod/blob/b52e4b3e6ce5b1b494b77052878a0aad05c2e3ce/setup.py

To enable NCCL we need to specify :
[code]
However, in my case I get stuck with nccl lib recognition via vars:
[code]
the error is
[code]

[2020-07-11 23:14] umusa opened #2095 "Got error of running an example code on this horovod website on GPU clusters"
I am trying to run the example https://github.com/horovod/horovod/blob/master/examples/tensorflow2_keras_mnist.py

on databricks GPU cluster with 1 driver and 2 workers.

The environment

      6.5 ML, scala 2.11,  spark 2.4.5
      python 3.7
      TensorFlow 2.2.0

I got the error:

      NotFoundError: libcudart.so.10.0: cannot open shared object file: No such file or directory

I cannot find a

[2020-07-12 16:34] umusa opened #2096 "Error of running Horovod on databricks GPU cluster"
I am trying to run a simple code on databricks GPU cluster (1 driver, 2 workers).

I have followed the instructions at https://docs.databricks.com/applications/deep-learning/single-node-training/tensorflow.html
to install TensorFlow 2.2.

And followed the instructions at https://docs.databricks.com/applications/deep-learning/distributed-training/horovod-runner.html  to install Horovod 0.18.0.

My

[2020-07-13 06:24] #1766 closed

[2020-07-13 11:17] pbruneau opened #2097 "Using horovod.run.run.run on multiple nodes in the context of a SLURM job"
**Environment:**
1. Framework: Keras
2. Framework version: 2.2.4
3. Horovod version: 0.19.0
4. MPI version: 3.0.0
5. CUDA version: 10.0
6. NCCL version: NA
7. Python version: 3.6.3
8. OS and version: CentOS Linux 7
9. GCC version: 7.2.0

**Your question:**
I consider a grid search, i.e. repeatedly running the same Keras code with different hyper-parameters. Following #1766, I was able to do so usi

[2020-07-13 12:32] arehmanAzam opened #2098 "Mpirun doesn't run the script and it gets stucked"
**Environment:**
1. Framework: Keras
2. Framework version: Keras==2.1.6
3. Horovod version: horovod==0.19.5
4. MPI version: 4.0.1
5. CUDA version: 10.0
6. NCCL version: nccl_2.4.8-1
7. Python version: 3.6
8. OS and version: Ubuntu 18.04
9. GCC version: 7.5.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Yes i did and tried many solutions but none seems to

[2020-07-13 18:30] #1409 closed

[2020-07-13 18:30] #1669 closed

[2020-07-13 20:09] tgaddair opened #2100 "TensorFlow sync batch norm elastic compatibility"
Following #2075, TensorFlow now supports sync batch norm.

Currently we use `size()` constant to determine whether to do sync batch norm and how to scale.  This works in eager mode, but not graph mode.  We should use the newly introduced `size_op()` instead.

[2020-07-13 20:24] #2066 closed

[2020-07-14 05:22] mreso opened #2103 "CIFAR scaling efficiency"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.4.0
3. Horovod version: 0.19.1
4. MPI version: 4.0.0
5. CUDA version: 10.1
6. NCCL version: 2.4.8-1
7. Python version: 3.6
8. OS and version: ubuntu18.04
9. GCC version: 4.8

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.

[2020-07-14 13:59] aliatprotopia opened #2104 "Format Data for Horovod.Spark"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TF/Keras
2. Framework version: 2.2.0
3. Horovod version: 0.19.5
4. MPI version: Gloo
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7
8. OS and version: Amazon Linux 2
9. GCC version: 4.8

**Checklist:**
1. Did you search issues to find if somebody asked this question before? No
2. If your question is about hang, di

[2020-07-14 14:02] anweshpanda opened #2105 "Error while trying to run using a job script"
I am using horovod with Pytorch. I installed the package in miniconda using the following as suggested in this forum before.
--------------------------------------------------
conda config --set channel_priority strict
conda create --name fresh_env python=3.7 tensorflow-gpu pytorch horovod conda activate fresh_env
-------------------------------------------------
When I am running from command lin

[2020-07-14 19:51] vinhdiesal commented on #2090
any updates?

[2020-07-14 19:52] vinhdiesal commented on #2090
Due to lack of response and difficulty will close and continue with Ray for distributed machine learning.

[2020-07-14 19:52] #2090 closed

[2020-07-14 22:05] albertz opened #2107 "Horovod hang with stalled rank, after some time"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14
3. Horovod version: 0.19.4
4. MPI version: Open MPI 1.10.2
5. CUDA version: 10.1
6. NCCL version:
7. Python version: 3.7
8. OS and version: Ubuntu 16.04
9. GCC version:

Our framework: [RETURNN](https://github.com/rwth-i6/returnn)
I also reported it [here](https://github.com/rwth-i6/returnn/issues/323).

In our cluster environmen

[2020-07-15 05:26] anweshpanda opened #2108 "Error while trying to use gradient compression"
Hi
I am using horovod with pytorch. With the given mnist example if I am using compression fp16 instead of none , I am getting the following error
-------------------------------------------------------------------------
[1,0]<stderr>:terminate called after throwing an instance of 'c10::Error'
[1,0]<stderr>:  what():  "div_cpu" not implemented for 'Half' (operator() at /opt/anaconda/conda-bld/pyto

[2020-07-15 15:40] liangz1 opened #2109 "Add an option to use non-h5 format for horovos.spark.estimator"
**Is your feature request related to a problem? Please describe.**
When I run horovod.spark.estimator on a blob store-based distributed file system, I got an error about "unable to write the checkpoint". The checkpoint uses hdf5 format but the file system does not support random write.

**Describe the solution you'd like**
It would be nice to have an option to use non-h5 format (that does not requ

[2020-07-15 19:15] tgaddair commented on #2093
Hey @arunraman, sorry for the late response.  May be an issue with how we're handling our paths somewhere.

@abditag2, can you take a look?

[2020-07-15 19:26] tgaddair commented on #2095
Hey @umusa, this means that the version of CUDA that was used to install TensorFlow does not match the version of CUDA in the image.  TensorFlow 2.2 expects CUDA 10.1.  Can you try running `nvcc --version` to check your system CUDA version?

[2020-07-15 19:29] tgaddair commented on #2096
Hey @umusa, in your first example, do you know which line the hang is occurring on?

[code]

cc @mengxr @WeichenXu123 from Databricks who might be able to help out on the HorovodRunner side.

[2020-07-15 19:38] tgaddair commented on #2097
Hey @pbruneau, can you share a minimal reproducible example representing your `script.py` file.  If I understand your usage correctly, it sounds like you're calling `horovod.run.run.run` from within script.py which is being launched by mpirun.  Since `horovod.run.run.run` will itself call mpirun, I think this may be where the issue is coming from.

[2020-07-15 19:41] tgaddair commented on #2098
Hey @arehmanAzam, can you verify that the problem also occurs without running any Python or Horovod, so:

[code]

Next steps would be to try using strace as shown [here](https://github.com/horovod/horovod/issues/110#issuecomment-347737251) to see where the hang is coming from.

[2020-07-15 19:44] tgaddair commented on #2103
Hey @mreso, is the data being read from NFS?  It might be that I/O is bottlenecking the training process.  One way to dig into this further would be to generate a [timeline](https://github.com/horovod/horovod/blob/master/docs/timeline.rst) file so we can check whether the allreduce calls are the culprit or something else.

[2020-07-15 19:51] tgaddair commented on #2104
Hey @aliatprotopia, no need to use Unischema.  All you need to do is convert your nested lists into a single-dimensional [ArrayType](https://stackoverflow.com/questions/48394717/creating-a-pyspark-schema-involving-an-arraytype) of floats.  Then to convert the RDD into a DataFrame you can use createDataFrame as shown [here](https://stackoverflow.com/questions/29383578/how-to-convert-rdd-object-to-d

[2020-07-15 19:53] tgaddair commented on #2105
Hey @anweshpanda, for running with `aprun`, can you take a look at #516 and see if the suggestions there work for you?

[2020-07-15 19:55] aliatprotopia commented on #2104
@tgaddair How does Horovod know the right dimensions for my network input to convert the one-dimensional array back to the proper numpy array with correct size and feed it to my network for training?

[2020-07-15 19:59] tgaddair commented on #2107
Hey @albertz, there are a couple causes for the stall error you're seeing.

1. A worker node is legitimately slower than the others for whatever reason.  Those will eventually work themselves out.
2. The workers are submitting different tensors to be allreduced at the same time.

In this case, it looks like the second issue.  From the error log, we know that rank 3 is submitting a tensor called `H

[2020-07-15 20:01] tgaddair commented on #2104
@aliatprotopia, for Keras this can be inferred automatically by looking at the model definition.  For PyTorch, you need to pass in the input shape.

[2020-07-15 20:03] aliatprotopia commented on #2104
@tgaddair I am asking specifically about `hvd.KerasEstimator().fit(train_dataset)`. If I pass `train_dataset` as a Spark dataframe with two columns; one input and one target (both being single-dimensional arrays), would this work? Or do I need to do more?

[2020-07-15 20:11] tgaddair commented on #2104
If you take a look at the [keras_spark_mnist](https://github.com/horovod/horovod/blob/master/examples/keras_spark_mnist.py#L89) example, you'll see what I'm referring to.  The input to the model is coming in as a column called `features` that is a 1D `DenseVector`.  But the model input shape is `(28, 28, 1)`.  So we take care of the reshaping for you.

On your end, what you need to do is:

1. Make

[2020-07-15 20:12] aliatprotopia commented on #2104
@tgaddair Thanks a lot. Let me try this and get back to you. Appreciate your help.

[2020-07-15 20:14] tgaddair commented on #2108
Hey @anweshpanda, what version of PyTorch are you using?  Does this show up when you use fp16 compression with one of our example scripts, or only using a custom training script?

[2020-07-15 20:31] tgaddair commented on #2109
Hey @liangz1, thanks for the feature request (and if you are interested in submitting a PR, that would be awesome).  I think did not realize h5 had this limitation, so this sounds like a good improvement to me.

[2020-07-15 22:03] albertz commented on #2107
I don't think this is 1. Once this happens, I can let it run for hours or even days and nothing happens anymore, except that it keeps printing this message every 60 seconds.

I also just noticed that the Python stack trace of the hanging process (`"...TFEngine.py", line 680 in run`) is actually a `sess.run` which does not involve any Horovod op at all. And the C stack trace indicates that this han

[2020-07-16 00:26] tgaddair commented on #2107
The stall is being reported by Horovod, but I agree it's possible that the cause is not directly related to Horovod.  It may be that something causes a hang on one of the workers, but the others are fine, leading to the stall scenario you're seeing.  If it's a hardware issue, for example, it might only show up during distributed training (if you aren't using the affected nodes when not running Hor

[2020-07-16 03:07] hoyden opened #2110 "Error in computing gradients when using allgather"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.0
3. Horovod version:  0.18.2

I am trying to get the median of a tensor computed across all batches and all processes. However, I got an error TypeError: Expected int32, got None of type 'NoneType' instead.It seems that computing gradients does not work well with horovod's allgather operation. A simple illustration of what I would

[2020-07-16 03:33] jackygit-alt commented on #2080
OK, I get it. Thank you for your answer, I really appreciate it! @romerojosh
Now i will close this issue.

[2020-07-16 03:33] #2080 closed

[2020-07-16 05:17] arunraman commented on #2093
@abditag2 Any update on the issue?

[2020-07-16 06:08] anweshpanda commented on #2108
It is the example script for mnist....pytorch version is 1.3.1....
I just changed the line .....
compression = hvd.Compression.fp16 if args.fp16_allreduce else hvd.Compression.none
to......
compression = hvd.Compression.fp16

[2020-07-16 06:32] pbruneau commented on #2097
Hi @tgaddair,

Actually no, I'll try to clarify below. Please also refer to #1766 which is closely related.
Starting from the motivation: in examples such as [this](https://github.com/horovod/horovod/blob/master/docs/keras.rst), the Python script just trains a single model. In my case, I want to perform a grid search, i.e. train n models with n different parametrizations, from a single Python scri

[2020-07-16 07:47] albertz commented on #2107
I was thinking about a hardware issue. Or maybe driver issue. (The issues I linked for hangs in `cuEventSynchronize` sound related. But they are from 2015...)
But the affected nodes are also used without Horovod. So this does not quite explain why I don't see this without Horovod.
Maybe there is some other condition triggered by Horovod which leads to this indirectly?

[2020-07-16 10:28] albertz commented on #2107
Btw, thread 2 hangs in `PMPI_Allreduce`. So this means there is an ongoing reduce? Which is strange, because the specific `sess.run` (of the main thread) should actually not involve any Horovod op (unless I have some bug in my code, but I was pretty sure...).

[2020-07-16 11:41] shirosankaku opened #2112 "Cannot run test with Gloo"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.6.0a0+b7b99ab
3. Horovod version: master branch commit 7ded1075d21230266d87bfac209281ba59e55de9
4. MPI version: building Horovod without MPI
5. CUDA version: n/a
6. NCCL version: n/a
7. Python version: 3.6.10
8. OS and version: Red Hat Enterprise Linux Server 7.6
9. GCC version: 8.3.0
10. Conda env: 4.8.2

Hello! Could you, please, hel

[2020-07-16 12:49] tgaddair commented on #2093
@arunraman one thing to try would be to see if you can find the file using `pyarrow` (which is what we use internally to do this lookup):

[code]

[2020-07-16 13:33] aliatprotopia commented on #2104
Hi @tgaddair I made all the changes as you said and now am running into this error and I could not find any spark config to resolve this; can you help?

[code]

[2020-07-16 14:59] xasopheno opened #2113 "ncclCommInitRank failed: internal error"
**Environment:**
1. Framework:  Pytorch :
2. Framework version: 1.5.0
3. Horovod version: 0.19.5
4. MPI version: 4.0.4
5. CUDA version: 11.0
6. NCCL version: 10.2, V10.2.89
7. Python version: 3.7,4
8. Spark / PySpark version: N/A
9. OS and version: Arch Linux
10. GCC version: 10.1.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is abou

[2020-07-16 15:06] arehmanAzam commented on #2098
@tgaddair i have gotten out of this issue and infact the multiple nodes are working.
The problem was that i needed to have install openmpi at root. .bashrc environment variables were not picked up by the ssh when i tried to run `ssh worker-1 ompi_info | head`.
Then i made unified user and made same directory structure of project at both nodes as mentioned in this issue
https://github.com/horovod/h

[2020-07-16 15:34] arehmanAzam commented on #2098
Also my generator code is as
`self.keras_model.fit_generator(
                train_generator,
                initial_epoch=self.epoch,
                epochs=epochs,
                steps_per_epoch=self.config.STEPS_PER_EPOCH,
                callbacks=callbacks,
                validation_data=val_generator,
                validation_steps=self.config.VALIDATION_STEPS,
                max_queu

[2020-07-16 16:25] P-Light opened #2114 "Broadcasting to all processes not only tensors"
**Is your feature request related to a problem? Please describe.**
I resume training and start from  epoch = n > 0. On the master process it is possible to set  start epoch = n, while slave process needs to get start epoch value from the master.

**Describe the solution you'd like**
Implement horovod.broadcast() for objects like int, float, list, etc.

**Describe alternatives you've considered**
N

[2020-07-16 18:38] surak commented on #1678
Still happens to me with tag 0.19.5

[2020-07-16 20:09] tgaddair commented on #2108
Looks like this is a known incompatibility in PyTorch when using half-precision on CPU: https://github.com/pytorch/pytorch/issues/36318.

However, it sounds like they did recently add support for CPU ops with half precision, so you may want to try upgrading to the latest version of PyTorch to use fp16 compression.  But in practice, fp16 will not usually give you much benefit without GPUs, as you'r

[2020-07-16 20:21] tgaddair commented on #2097
Thanks for the detailed explanation, @pbruneau.  That makes sense.

Regarding the exception raised at `horovod/run/http/http_client.py, line 34, in read_data_from_kvstore`, can you share the full stack trace?  I'm wondering if that's coming from the driver or the worker.

Also, can you share the arguments to `horovod.run.run.run`.  I'm wondering if some args that are used for coordinating the resu

[2020-07-16 20:26] tgaddair commented on #2107
@albertz are all worker nodes stuck at `PMPI_Allreduce`, or are some of the workers stuck elsewhere?

Can you share more of the logs starting from:

[code]

I'm curious about what the other workers are doing when the stall occurs.  It's possible they're all trying to allreduce different tensors, or some workers are in an allreduce while others are not.  But if there are more such messages, that co

[2020-07-16 20:28] tgaddair commented on #2112
Hey @shirosankaku, I'm not sure that we've tested Gloo + CCL before.  Does this error also occur if you don't specify `HOROVOD_CPU_OPERATIONS=CCL`?

[2020-07-16 20:33] tgaddair commented on #2104
@aliatprotopia how many processes are you attempting to run with?  Can you verify that you have enough executor cores to run that many tasks?

I'm not too familiar with running on YARN.  @EnricoMi do you have some additional debugging suggestions?

[2020-07-16 20:45] mreso commented on #2103
Hi @tgaddair
thanks for your reply!
Good point with the data. I cache it on nfs after downloading it to safe some time as I only use temporary docker containers which are removed when I stop them. I tested it with local caching and had the same results though. If I read the code of the CIFAR dataset correctly the data is loaded completely into memory anyway during execution (https://github.com/pyt

[2020-07-16 20:51] tgaddair commented on #2113
Hey @xasopheno, does this error also occur when using `horovodrun`?  And can you verify that `CUDA_VISIBLE_DEVICES` is not set?

It looks to me like NCCL is trying to use the same device on both ranks.

[2020-07-16 20:55] tgaddair commented on #2098
Hey @arehmanAzam, can you try running the [tensorflow_synthetic_benchmark](https://github.com/horovod/horovod/blob/master/examples/tensorflow_synthetic_benchmark.py) first and verify that it works correctly with good performance in your environment?  If everything goes well there, then we can rule out setup issues and start digging into your model.

[2020-07-16 20:57] tgaddair commented on #2114
Hey @P-Light, we do have a [hvd.broadcast_object](https://horovod.readthedocs.io/en/stable/api.html#horovod.torch.broadcast_object) function for this purpose.  Does this work for your use case?

[2020-07-16 20:58] albertz commented on #2107
I posted all the stack traces of all the threads of the process of the hanging rank (rank 3) [here](https://gist.github.com/albertz/8d8ba27d27513b73cfad4865ebc8b13b). There is only a single thread with `PMPI_Allreduce`. But there is also only a single thread with `horovod::common::(anonymous namespace)::BackgroundThreadLoop` (or other Horovod functions).

The log from this stalled ranks just repea

[2020-07-16 21:02] tgaddair commented on #1678
Hey @surak, just to clarify the environment setup so I can try and reproduce this:

1. You're using TensorFlow v1 (1.14 or similar) with Keras
2. You do not have PyTorch installed
3. You're using NCCL.

Does this happen with every script?  Is it reproducible with one of the Horovod example scripts?

[2020-07-16 21:09] coreyjadams commented on #1886
I thought it might be useful to chime in here. I was trying to do the same thing, multiple ranks per GPU.  I hit the same issue.

Ultimately, I recompiled horovod and forced it to disable NCCL for communication.  The scaling overhead was marginally higher but I made up for it with a performance boost in throughput, even for the same problem size.

I recompiled horovod with this command:
`CC=mpicc

[2020-07-16 21:42] tgaddair commented on #2103
Hey @mreso, thanks for providing the timeline, I think it reveals a lot about what is probably going on here.

If you take a look at the capture below, you'll see that the majority of the Horovod time is being spent in the QUEUE state:

<img width="1235" alt="Screen Shot 2020-07-16 at 2 29 56 PM" src="https://user-images.githubusercontent.com/1742912/87724772-de6a6280-c770-11ea-82f9-b04e060c3309.p

[2020-07-16 21:45] tgaddair commented on #2107
So only rank 3 is attempting to do the allreduce, do you know what the other workers are doing at the same time?

[2020-07-16 21:54] tgaddair commented on #2110
Hey @hoyden, where does exception get raised from?  And you're saying this only happens when wrapped in a `tf.function`?

Do you have a small example script I can run to try and repro the error?

[2020-07-16 21:58] xasopheno commented on #2113
Thank you for your help, @tgaddair.
Built following this guide:
https://medium.com/@luca.diliello/install-horovod-on-arch-and-manjaro-linux-with-pytorch-and-gpu-support-e940ffde40ab

I have the same error running:
`NCCL_DEBUG=INFO horovodrun -np 2 python mnist.py`
and
`NCCL_DEBUG=INFO mpirun -np 2 python mnist.py`

on the other hand:
`horovodrun -np 2 python adasum.py`
using `adasum.py` from the e

[2020-07-16 22:35] albertz commented on #2107
Actually I think it is the other way around. All the other workers are waiting for the allreduce. They are complaining that rank 3 is not responding. Or not? That's how I understand the message and the situation.
As said, the posted stack traces are from rank 3, and you can see there that it is not hanging in anything Horovod related. It is hanging in an unrelated `sess.run` (without Horovod ops).

[2020-07-16 22:50] tgaddair commented on #2107
Yes, you're right @albertz, it sounds like rank 3 is the one not submitting the tensor for allreduce while the others are.  I got mixed up there somehow :)

The reason you're seeing the background thread doing allreduce calls is likely from the controller, which coordinates with the other workers about which tensors are available for allreduce on which workers.

So seems rank 3 is getting stuck so

[2020-07-16 22:50] aliatprotopia commented on #2104
@tgaddair  It turned out I was both specifying executor memory and executor cores. I removed executor memory config and everything worked. Thanks again. Closing ticket.

[2020-07-16 22:50] #2104 closed

[2020-07-16 23:18] tgaddair commented on #2104
Glad you got it working!

[2020-07-17 02:39] Mesilenceki commented on #859
hi, How do you config estimator with horovod? with kubenetes?

[2020-07-17 02:45] arehmanAzam commented on #2098
Okay. Will let you know when done with this synthetic benchmark.

[2020-07-17 07:02] pbruneau commented on #2097
Here is the complete error trace (names change slightly):
[code]

So you see that the ``mpirun`` command eventually resulting from my ``horovod.run.run.run`` calls is:

    mpirun -np 4 -npernode 2 -bind-to none -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib /mnt/beegfs/home/bruneau/meteo-hpc/env/bin/python3 -m horovod.run.run_task 127.0.0.1 9744

The associated call (

[2020-07-17 07:17] hoyden commented on #2110
Thanks @tgaddair for the quich reply! The exception get raised from calculating gradients.And yes, it only happens when wrapped in a `tf.function`, you can repro the error with the follow script:
[code]

[2020-07-17 08:27] Mesilenceki commented on #790
the same question.

[2020-07-17 08:28] Mesilenceki commented on #735
excuseme, how did you fix this problem?

[2020-07-17 09:06] surak commented on #1678
Ok, I might need to do a full new report.

1. It's tensorflow 2.2
2. For this supercomputer, pytorch is not loaded as a module
3. Yes - NCCL 2.7.3-1
CUDA-10.2.89

[2020-07-17 13:10] tgaddair commented on #790
Hey everyone, for TensorFlow estimator, you can use the [example](https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist_estimator.py) script as a starting point.  I would also take a look at our example [Dockerfile](https://github.com/horovod/horovod/blob/master/Dockerfile.gpu) (we have pre-built versions on DockerHub you can use as well).

From there, you can follow the instruc

[2020-07-17 13:20] tgaddair commented on #1678
Thanks @surak.  So PyTorch is not installed at all then?

Did you build TensorFlow from source for CUDA 10.2 compatibility?

And last question: is this reproducible with one of the Horovod example scripts?

[2020-07-17 15:45] surak commented on #1678
Thanks @tgaddair - I am refactoring the whole toolchain - brought new cuDNN, new mpi, new cuda, and will recompile everything with the new versions again. Any caveat I should be aware with the latest stuff?

I did compile tensorflow from source, just as everything else. Right now I'm compiling a cuda-aware version of ParaStationMPI - will try later with MVAPICH and OpenMPI.

Will also go with PyTo

[2020-07-17 16:07] tgaddair commented on #1678
Thanks @surak, sounds good.

[2020-07-17 17:02] sjeaugey commented on #2113
What is the system you are running on @xasopheno ? In particular, what OS (manjaro linux?), what kernel version ?

Can you set `NCCL_TOPO_DUMP_FILE=system.xml` and see if you can generate a topology dump ? One workaround could be to generate the topology XML, replace "8.0 GT/s PCIe" by "8 GT/s" then inject it back with `NCCL_TOPO_FILE=system.xml`. But there might be other things to fix so I'd like

[2020-07-17 18:30] mreso commented on #2103
Oh, that makes it pretty much clear! I was always worrying about the negotiation times which looked a bit long compared to the allreduce in some instances but I totally overlooked that the gap between allreduce where tiny. With resnet50 and 1024 batch size I get over 80% efficiency which looks much more reasonable. Thank you so much @tgaddair for pointing me to this!

[2020-07-17 18:30] #2103 closed

[2020-07-17 20:34] arunraman commented on #2093
Couple of updates I changed the util.py using the fix from here

https://github.com/horovod/horovod/pull/1967/files

Now my parquet are not even getting written to the hdfs.  I am hitting this error

`Traceback (most recent call last):
  File "/tmp/ec8b2d5bd02b4f47bf0ee9e6afe2969e/sparkjob1.py", line 336, in <module>
    keras_model = keras_estimator.fit(train_df).setOutputCols(['Sales'])
  File "

[2020-07-17 21:24] arunraman commented on #2093
Ok i noticed the something here, I am using the

https://github.com/horovod/horovod/blob/master/examples/keras_spark_rossmann_estimator.py

and this doesn't use any pyarrow.

But when  I import pyarrow to check the day I can see that

`>>> import pyarrow as pa

2020-07-17 20:58:01,488 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes w

[2020-07-17 21:33] arunraman commented on #2093
This is the error when I get

`_check_url: hdfs://
Done with this
hdfsExists: invokeMethod((Lorg/apache/hadoop/fs/Path;)Z) error:
ClassCastException: org.apache.hadoop.hdfs.protocol.proto.ClientNamenodeProtocolProtos$GetFileInfoRequestProto cannot be cast to com.google.protobuf.Messagejava.lang.ClassCastException: org.apache.hadoop.hdfs.protocol.proto.ClientNamenodeProtocolProtos$GetFileInfoReques

[2020-07-18 01:12] zhenhuahu commented on #1627
Hi, I ran into the same problem, too. The host and nodes no longer need a password to communicate. But we still got the "permission denied" problem. May I ask what you did to set the Docker pub key? Thanks.

[2020-07-18 01:45] zhenhuahu opened #2117 "Horovodrun give me Permission denied (publickey,password)"
Hi. We are trying to use Hovorod to run distributed jobs, but got the 'Permission denied (publickey,password)' error. We followed the guide on https://horovod.readthedocs.io/en/stable/running_include.html and set up passwordless authentication between the host and each nodes (also between each node). But we still got this error. In setting up passwordless authentication we used the sudo account. B

[2020-07-18 01:54] #2055 closed

[2020-07-18 02:47] zhenhuahu commented on #2117
Sorry. It's because I assigned the port to be 22. After deleting it I can ssh now.

[2020-07-18 02:47] #2117 closed

[2020-07-18 08:38] leodemo opened #2118 "If each process has the different train steps, how to synchronize the result after one epoch, Can fast processes wait for slow processes to complete?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.12
3. Horovod version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.rst)?
3. If your question is about docker, did you read [this doc](https://github.com/horovod/horovod/b

[2020-07-18 16:02] tgaddair commented on #2118
Hey @leodemo, you can solve this by calling [hvd.join()](https://github.com/horovod/horovod/blob/master/horovod/tensorflow/mpi_ops.py#L201) at the end of the epoch.  That'll ensure that workers that have already finished will wait for other workers to complete before proceeding to the next step.

[2020-07-18 16:39] anweshpanda commented on #2108
Thanks @tgaddair....

[2020-07-18 16:39] #2108 closed

[2020-07-19 08:38] leodemo commented on #2118
@

@tgaddair Which branch contains the function of join？

[2020-07-19 11:28] #2025 closed

[2020-07-19 14:51] tgaddair commented on #2118
It's in the master branch.

[2020-07-20 02:09] leodemo commented on #2118
thx, i will try this.

[2020-07-20 02:15] leodemo commented on #2118
BTW, When will this feature be released？

[2020-07-20 02:22] wuchangping commented on #1924
Closed

[2020-07-20 02:22] #1924 closed

[2020-07-20 09:50] P-Light commented on #2114
@tgaddair, I didn't notice this function before. It works, thank you!

[2020-07-20 09:50] #2114 closed

[2020-07-20 09:54] vycezhong commented on #1029
add ` 2> /dev/null` to the end of your command. it will disable all stderr messages.

[2020-07-20 15:00] tgaddair commented on #2118
We plan to have v0.20.0 released some time in August.  Until then, you can always install directly from master:

[code]

[2020-07-20 15:42] rajexplo opened #2120 "Unconnected Gradient"
Hello All-
I was trying to use TF2.0 api `self.model.trainable_variables,unconnected_gradients=tf.UnconnectedGradients.ZERO)`
with `tape = hvd.DistributedGradientTape(tape)`.
It throws an error that `keyword =unconnected_gradients is not defined`.
Any idea and thoughts will be really appreciated.

Thanks!
Raj

[2020-07-20 16:17] tgaddair commented on #2120
Hey @rajexplo, could you provide a minimal example I can run to repro the issue, as well as the full stack trace?

[2020-07-20 17:15] rajexplo commented on #2120
@tgaddair Thank you! Sure I will post these.

[2020-07-20 18:02] rajexplo commented on #2120
@tgaddair here is the detailed stack trace
[code]

[2020-07-20 21:45] tgaddair commented on #2110
Thanks for the detailed repro script, @hoyden.  That was very helpful to figure out what was going on.  Can you try running with #2121 and see if the addresses the issue?

[2020-07-20 23:17] skrsna commented on #733
Hi @alsrgv ,
I'm seeing this with pytorch's data loaders, is there an example on how to do data sharding with custom DataLoader in pytorch. My datasets are around ~100G and I'm using  Horovod on 4 V100s. The training scripts keeps getting killed once the system memory reaches ~50G during data loading. Thanks for such an awesome tool.

[2020-07-21 01:50] tgaddair commented on #733
Hey @skrsna, what format is your data in?  For very large datasets, we recommend putting them into a shardable format like Parquet, then using a framework like [Petastorm](https://github.com/uber/petastorm) to stream it in across workers.

[2020-07-21 03:02] hoyden commented on #2110
@tgaddair Thanks a lot! It works now!

[2020-07-21 03:24] #2110 closed

[2020-07-21 13:12] skrsna commented on #733
Hey @tgaddair, my datasets are [DGL](https://www.dgl.ai) graphs with features on nodes and edges that are torch tensors. I'll try out Petastorm. Thanks

[2020-07-22 02:56] jiaqianjing opened #2125 "How can I use elastic horovod"
**Your question:**
How can I use [elastic horovod](https://horovod.readthedocs.io/en/latest/elastic_include.html)?
Following this guidance (https://github.com/horovod/horovod/blob/master/docs/docker.rst), I found that the installed version of horovod is 0.19.5.
When I build horovod from source code of master branch, I found that the version of horovod is 0.19.2.

None of these meet the requirement

[2020-07-22 03:22] jiaqianjing commented on #2125
OK, I see. Horovod from source code of master branch has been elastic, but only version is 0.19.2.

[2020-07-22 03:22] #2125 closed

[2020-07-22 03:49] shinleylee opened #2126 "Horovod deadlock in fork-path model"
Sagemaker: 5 * ml.m5.4xlarge， kernel: tensorflow_p36
**Environment:**
1. Framework: TensorFlow.keras
2. Framework version: 2.0.0
3. Horovod version: 0.18.2
4. MPI version: mpi4py 3.0.3
7. Python version: 3.6

**Bug report:**
When training a model with a fork path (in the attached graph, feature1 was embedded by two layer separately and multiplied at last after distinct processes), and a deadlock e

[2020-07-22 04:21] arunarn2 opened #2127 "FORCE-TERMINATE AT Data unpack would read past end of buffer:-26 - error grpcomm_direct.c -error with OpenMPI 4.0.0 -- Fix in Troubleshooting guide does not resolve the problem"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.15.2
3. Horovod version: 0.19.2
4. MPI version: 4.0.0
5. CUDA version: 10.0.130
6. NCCL version: nccl_2.6.4-1+cuda10.0_x86_64
7. Python version: 3.6.11
8. OS and version: Ubuntu 16.04 LTS
9. GCC version: 7.5.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?

[2020-07-22 13:00] yellowcat8774 commented on #133
@alsrgv I am running with openmpi 4.0.0 and running into this same issue. Already attempted installing with --with-cuda='/usr/local/cuda' flag and still seeing the same issue. I am not using Docker.
Any help is appreciated.

[2020-07-22 13:08] tgaddair commented on #2125
Hey @jiaqianjing, sorry for the confusion.  Yes, we do not typically update the `__version__` until we cut a new release.  0.20.0 should be officially released in August.

[2020-07-22 13:14] tgaddair commented on #2126
Hey @shinleylee, seems the error is definitely coming from the fork path in the model.  4 of the workers are hitting the `feature1_embedding` path, and 1 is hitting `feature1_factor`.  Do you have a code sample I can use to reproduce the issue?  Is this running in eager mode or graph mode (`tf.function`)?

[2020-07-22 13:23] tgaddair commented on #2127
Hey @arunarn2, you may want to try asking at https://github.com/open-mpi/ompi, they can provide more helpful guidance on MPI related issues.

If you don't need to use MPI, I would suggest trying to use Horovod with Gloo mode (install horovod with `HOROVOD_WITH_GLOO=1 HOROVOD_WITHOUT_MPI=1`.  It's often a lot easier to get working than MPI, and has very comparable performance when using NCCL.

[2020-07-22 14:59] arunarn2 commented on #2127
@tgaddair Thanks for the quick response.
I tried the setup with Gloo. Uninstalled prior horovod, removed all references of mpi from my path and LD_LIBRARY_PATH (ofcourse have /usr/local/bin in my path and mpirun4.0 is installed there).
Reinstalled horovod with GLOO
[code]

horovodrun --verbose --start-timeout 300 -n 4 -H 192.168.1.18:2,192.168.1.26:2  python3.6 tensorflow_mnist.py
Filtering local

[2020-07-22 15:31] arunarn2 commented on #2127
@tgaddair Thanks for the response. Was able to get the example running with GLOO

[2020-07-22 15:35] tgaddair commented on #2127
Hey @arunarn2, thanks for trying the Gloo approach.  Looks like the processes were able to start successfully on `192.168.1.26` but not `192.168.1.18`.  It appears `192.168.1.26` is the localhost in this case, so the issue does appear to be SSH related.

What's odd is that the SSH to determine routable network interfaces succeeds in the steps above.  Can you verify that this command succeeds (from

[2020-07-22 15:40] tgaddair commented on #2127
Glad you got it working @arunarn2, was the other issue just an SSH config problem?

[2020-07-22 18:56] arunarn2 opened #2128 "Network bandwith for RTX2080 TI"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): TensorFlow
2. Framework version: 1.15.2
3. Horovod version: 0.19.2
4. MPI version: N/A Using GLOO
5. CUDA version: 10.0.1_130
6. NCCL version: nccl_2.6.4-1+cuda10.0_x86_64
7. Python version: 3.6.11
8. OS and version: Ubuntu 16.04 LTS
9. GCC version: 7.5.0

**Checklist:**
1. Did you search issues to find if somebody asked this ques

[2020-07-22 19:11] tgaddair commented on #2128
Hey @arunarn2, I would expect performance of an RTX 2080 TI to be in the same ballpark as a P100, which needs about 25 - 50 Gbps network bandwidth to be effective for most deep learning tasks.  What is the network bandwidth between these machines?

What kind of scaling are you seeing with 2 GPUs / 1 machine vs 2 GPUs / 2 machines?  Also, can you run `horovodrun --check-build` just to make sure NCC

[2020-07-22 19:43] arunarn2 commented on #2128
Thanks the quick response, @tgaddair
I have a 1Gpbs connector on both machine (Gigabyte X399 Aorus Pro). So my guess is it tops at 1Gbps.

horovodrun --check-build results look right
[code]

Using all 4 GPUs (2 per machine):
[code]

Using 1 GPU per machine:
[code]

From 2 GPUs on same machine:
[code]

Most of them are around the 20 sec for 2000 steps and I dont an improvement using the 4 GPU's

Th

[2020-07-22 20:26] Vikas-kum commented on #2008
hi @tgaddair ,
Were you able to take a stab at it?
 I am not very familiar with horovod repository. I can quickly try implementing the solution described [here](https://github.com/horovod/horovod/issues/2008#issuecomment-654371781)

This is cheaper to implement and would serve the purpose but i agree that pythonic API interface would be more cleaner. Please let me know if you are ok with cheaper s

[2020-07-22 23:13] tgaddair commented on #2008
Hey @Vikas-kum, can you take a look at #2129 and let me know if it works for your use case?

[2020-07-23 06:56] shinleylee commented on #2126
@tgaddair Here is the core codes I used (which you may find a little different from the graph above):
[code]
some inessential components (like dataset pre-processing) are removed.

I didn't enable/disable eager mode explicitly, so I guess it executed in eager mode by default in tensorflow 2.0 (though my code is static graph style).

[2020-07-23 17:41] tgaddair opened #2132 "Add unit tests for DistributedOptimizer"
DistributedOptimizer has become an increasingly complicated class that does things like convert sparse tensors to dense, branching code paths for eager vs graph execution, etc.  However, none of this is under direct unit testing.

We should add unit tests that explicitly capture and verify all major code paths in the DistributedOptimizer.

[2020-07-23 17:42] tgaddair opened #2133 "Continuous autotuning"
The right settings for fusion buffer size and other Horovod knobs can vary based on the stage of the training.  Furthermore, changes in network latency due to hardware externalities makes the optimization problem non-stationary.

We should continue to explore new knob settings throughout the duration of training, particularly if noticeable degradation occurs, without hurting overall training perfo

[2020-07-23 17:43] tgaddair opened #2134 "Compute worker-level performance metrics and detect slow workers"
Distribution of host response time from allreduce.

Automatically detect outliers and print warning during the training.

[2020-07-23 17:44] tgaddair opened #2135 "Enhance learning rate scaling and adjustment beyond linear scaling"
Breaking the frontiers - examples/results with extremely large-scale training.

- Custom per-layer learning rates from [32k batch size paper](https://arxiv.org/pdf/1708.03888.pdf)
- Zig-zag and other LR adjustment techniques - [here](https://medium.com/@bushaev/improving-the-way-we-work-with-learning-rate-5e99554f163b).
- Multi-step SGD (don't increase LR too much, make few steps based on the same

[2020-07-23 17:46] tgaddair opened #2136 "Support tf.string in hvd.broadcast"
We should add support for `tf.string` in `hvd.broadcast`, as it may be used by some models.

[2020-07-23 18:05] collinabidi opened #2137 "libgcc_s.so.1 must be installed for pthread_cancel to work"
**Environment:**
1. Framework:: Pytorch
2. Framework version: 1.5.1
3. Horovod version: 0.19.2
4. MPI version: OpenMPI 4.0.3
5. CUDA version: NA
6. NCCL version: NA
7. Python version: 3.7.0
8. OS and version: Red Hat Enterprise Linux 7
9. GCC version: 8.2.0 / 4.8.5 (See below)

**Your question:**

Hi there. I'm attempting to install Horovod from source on a Red Hat cluster for distributed CPU lear

[2020-07-23 18:11] illumidas-agn opened #2138 "Trying to install Horovod from a fresh conda environment (with tensorflow) and nothing seems to work"
**Environment:**
1. Framework: (TensorFlow)
2. Framework version:
3. Horovod version: 0.19.5
4. MPI version: -
5. CUDA version: -
6. NCCL version: -
7. Python version: 3.6
8. OS and version: Ubuntu
9. GCC version: -

**Your question:**
Please ask your question here.

Looked through all the available open questions. Currently trying to run go-explore (https://github.com/uber-research/go-explore/tre

[2020-07-23 18:15] tgaddair commented on #2137
Hey @collinabidi, when installing Horovod, can you try setting the `CC` and `CXX` environment variables to point to the right versions of `gcc` and `g++` respectively?

[2020-07-23 18:17] tgaddair commented on #2138
Hey @illumidas-agn, have you taken a look at the Conda install guide [here](https://github.com/horovod/horovod/blob/master/docs/conda.rst)?

If you're still having issues after going through that, feel free to provide log output showing where things are breaking.

[2020-07-23 18:20] illumidas-agn commented on #2138
Hi @tgaddair, Im gonna go through that and let you know how it goes

[2020-07-23 18:29] illumidas-agn commented on #2138
Im trying to run this from a server where I am not the sudo user, is there any alternatives using pip or conda install?

[2020-07-23 18:36] collinabidi commented on #2137
Hey @tgaddair , that seems to have cleared up some of the issues during compilation!

Another set of errors came up though:

1. During compilation, setup.py complains about PyTorch version being built without ROCm.

![no_rocm](https://user-images.githubusercontent.com/29078081/88324274-76c49200-ccf1-11ea-9c5f-d205c5fb62c5.png)

It sounds like I shouldn't just ```pip install torch``` and I should f

[2020-07-23 18:36] tgaddair commented on #2138
Where are you running into permissions issues?  @davidrpugh, do you have some thoughts on this?

If you don't need to use conda, you can also opt to install everything through pip in a virtual environment.  But the important thing is you'll need to make sure the CUDA devtools are available when building in NCCL support.  If this is an issue, you may want to see if you can run in a containerized en

[2020-07-23 18:38] illumidas-agn commented on #2138
I need to be able to run the CUDA Toolkit as sudo and sadly im not an admin, therefore I cant install it the conventional way. I was able to make it run on my local virtual environment and then when I transfered it into the server that's when I ran into issues. Tried the entire day to get horovod and cuda to run.

I can ask the admin of the server to install it if theres no quick fix for this

[2020-07-23 18:41] tgaddair commented on #2138
Either that or setting up Docker/Singularity would probably be the easiest way, yes.  It's certainly possible to install locally (see: https://stackoverflow.com/questions/39379792/install-cuda-without-root), but managing the correct environment variables will likely be a challenge.

[2020-07-23 18:43] illumidas-agn commented on #2138
I see, in that case ill contact the server admin and ill get back to you if everything works. Thank you for your help

[2020-07-23 18:46] tgaddair commented on #2137
Hey @collinabidi, the ROCm print out is not an issue unless you have AMD GPUs.

Regarding the error message in `horovodrun --check-build` are you installing from source?  It looks like something in your path may be messed up.  I would try running `python -c "import horovod.run"`) and check that that works.  It may be that there are multiple versions of Horovod installed on your system that need to

[2020-07-23 18:59] davidrpugh commented on #2138
@illumidas-agn you should be able to install Horovod using Conda without root privileges. You will need to use the `cudatoolkit-dev=10.1` package from Conda Forge channel. The environment file below should work (you will still need to other files referenced in the Conda install guide).

[code]

Note that I have bumped a lot of version numbers from what is in the current guide. @tgaddair I will tes

[2020-07-23 19:23] illumidas-agn commented on #2138
The project im trying to run requires python 3.6, but I will see whether 3.7 works, will keep you updated

[2020-07-23 19:24] davidrpugh commented on #2138
@illumidas-agn Then just change the Python version to 3.6. Shouldn't impact the build.

[2020-07-23 19:25] illumidas-agn commented on #2138
I see, I just see it listed in the requirements that you have posted above

[2020-07-23 19:29] davidrpugh commented on #2138
@illumidas-agn I pin the version numbers in my environment file to the most recent versions of the various dependencies for which I am able to get a successful build. Other combinations of version numbers may also work just fine. Also note that if you only need TensorFlow then you can probably get by with the following environment file which should build more quickly.

[code]

In the above environ

[2020-07-23 19:38] illumidas-agn commented on #2138
Perfect, currently installing all the packages as we speak

[2020-07-23 19:58] illumidas-agn commented on #2138
Installed all the packages, still getting errors when I use this command:

HOROVOD_WITH_TENSORFLOW=1 pip install --no-cache-dir horovod[tensorflow]

Error at the end of log:

"
Failed to load the native TensorFlow runtime.

    See https://www.tensorflow.org/install/errors

    for some common reasons and solutions.  Include the entire stack trace
    above this error message when asking for help.

[2020-07-23 20:01] davidrpugh commented on #2138
Did you activate the Conda environment prior to running `pip`?

[2020-07-23 20:02] illumidas-agn commented on #2138
Yes, running it in the environment (Should be denoted by (envName) xxx@xxx)

[2020-07-23 20:05] davidrpugh commented on #2138
After activating the Conda environment run the command `conda list` and share the output.

[2020-07-23 20:06] illumidas-agn commented on #2138
_libgcc_mutex             0.1                        main
_tflow_select             2.1.0                       gpu
absl-py                   0.9.0                    py36_0
astor                     0.8.0                    py36_0
astor                     0.8.1                     <pip>
astunparse                1.6.3                      py_0
atari-py                  0.2.6

[2020-07-23 20:13] davidrpugh commented on #2138
What version of TensorFlow are you trying to use? What changes did you make to the environment file I sketched above? You seem to have two different versions of TensorFlow installed 2.0 and 1.15; as well as different versions of the various CUDA toolkit libraries.

[2020-07-23 20:17] illumidas-agn commented on #2138
- Trying to use tensorflow==1.15.2.
- I installed all the packages according to the post above chronologically

[2020-07-23 20:26] collinabidi commented on #2137
Running ```python -c "import horovod.run"``` results in ```ModuleNotFoundError: No module named 'horovod.run'``` directly after the ```FLAGS python setup.py install``` process. However, ```python -c "import horovod"``` works just fine.

[2020-07-23 20:32] davidrpugh commented on #2138
OK. Well for sure to use TensorFlow 1.15 you will need to make changes to the environment file that I suggested above. For one, I think you will need an older version of `cudatoolkit-dev` and an older version of `nccl`. I think the following environment file should work.

[code]
I forget whether you need to install Keras separately with TensorFlow 1.15 or not.

You will also need to set the follow

[2020-07-23 20:36] tgaddair commented on #2137
Try running`python -c "import horovod; print(horovod.__path__)"`, then check the contents of that directory.  Is there a folder called `run`?

[2020-07-23 21:21] illumidas-agn commented on #2138
It managed to install almost every package except the last one:

ERROR conda.core.link:_execute(481): An error occurred while installing package 'conda-forge::cudatoolkit-dev-10.0-2'.
LinkError: post-link script failed for package conda-forge::cudatoolkit-dev-10.0-2
running your command again with `-v` will provide additional information
location of failed script: /home/cogs5/ge/go-explore-master/

[2020-07-23 22:00] illumidas-agn commented on #2138
I used conda list on my local machine where go-explore works and it appears that the cuda tool kit isnt used? This is all very confusing....

_libgcc_mutex             0.1                        main
absl-py                   0.9.0                    pypi_0    pypi
appdirs                   1.4.4                    pypi_0    pypi
astor                     0.8.1                    pypi_0    pypi
at

[2020-07-23 22:10] tgaddair commented on #2126
Hey @shinleylee, I tried reproing this locally using a small toy model with the same structure, but no luck.  One thing to try might be to upgrade to TF 2.2 and run without setting `experimental_run_tf_function=False`.  That way, graph mode will be used, which should allow the ops to be executed in parallel (no pre-determined order).

[2020-07-24 00:26] Vikas-kum commented on #2008
Thanks @tgaddair for working on it. I took a brief look and it looks good. I will take a more closer look tomorrow.

[2020-07-24 03:08] shinleylee commented on #2126
Yes, I just found that when I changed `framework_version` to 2.1.0, it could run smoothly. I guess there is some glitch between tensorflow 2.0.0 and horovod 0.18.2 in package compatibility in some special cases.
And so far this is acceptable for me as a workaround/solution though the root cause unknown. Any further insights are welcomed. I really appreciate your response and support, thank you!

[2020-07-24 05:32] wuyujiji commented on #2113
excuse me, @xasopheno ,did you solve this problem? I met the same problem.

[2020-07-24 06:38] davidrpugh commented on #2138
Getting `cudatoolkit-dev` package to work properly is a bit tedious and error prone which is why the Conda guide recommends people install the full CUDA Toolkit themselves and then use `nvcc_liunux-64` package, but I guess the standard install of CUDA Toolkit requires root.

From your conda list command I can tell that you are making progress. There are several builds of `cudatoolkit-dev` availabl

[2020-07-24 10:08] davidrpugh commented on #2138
@illumidas-agn I have created (and tested) a Horovod build for TensorFlow 1.15 using `cudatoolkit-dev=10.0=py36_0`. All of the config files can be found [here](https://github.com/kaust-vislab/horovod-gpu-data-science-project/tree/tensorflow-gpu-1.15-cudatoolkit-dev-10.0). In particular see the [`bin/create-conda-env.sh`](https://github.com/kaust-vislab/horovod-gpu-data-science-project/blob/tensorf

[2020-07-24 10:34] davidrpugh commented on #2138
@tgaddair When I built the environment setting `HOROVOD_GPU_OPERATIONS=NCCL` and then ran `horovodrun --check-build` it appeared that NCCL support was not built; when I built the environment using `HOROVOD_GPU_ALLREDUCE=NCCL` and `HOROVOD_GPU_BROADCAST=NCCL` and then ran `horovodrun --check-build` it appeared that NCCL support was built.

Hopefully NCCL support was *actually* built with `HOROVOD_G

[2020-07-24 13:47] tgaddair commented on #2138
Hey @davidrpugh, unfortunately `HOROVOD_GPU_OPERATIONS` was added recently to master and has not been released yet.

I recommend consulting the stable docs (for the latest release) when not building from source:

https://horovod.readthedocs.io/en/stable/summary_include.html#install

[2020-07-24 13:50] tgaddair commented on #2126
Glad you got it working, @shinleylee.  I missed the fact that you were on Horovod 0.18.2, that may have had something to do with it.  But I think we can resolve this issue for now as the solution seems to be to upgrade TensorFlow.

[2020-07-24 13:50] #2126 closed

[2020-07-24 16:03] rajexplo commented on #2120
Hi @tgaddair , I just had a question on `horovod.braodcast_variables`, This only broadcast the iterable objects. How to broadcast a float or integer declares as `tf.variable`.

[2020-07-24 17:30] illumidas-agn commented on #2138
I used Pip, yes, in order to get the specific version.

Im not sure how you mean to install the specific cuda version? Do I just use conda install cudatoolkit-dev=10.0=py36_0?

Im currently following the sh script that you linked in order to try and make the environment, I'll let you know how that goes

[2020-07-24 17:42] sjeaugey commented on #2113
@wuyujiji if you could post the output of `uname -r` and also run again with `NCCL_TOPO_DUMP_FILE=system.xml` and post the generated `system.xml` file here, that would be very useful. Thanks !

[2020-07-24 17:51] illumidas-agn commented on #2138
Followed the scripts in the directory you showed me, overwrote the environment.yml file according to what was in that directory

Currently its unable to find python3.6 now:

"ERROR conda.core.link:_execute(481): An error occurred while installing package 'conda-forge::astor-0.8.1-pyh9f0ad1d_0'.
FileNotFoundError(2, "No such file or directory: '/home/cogs5/ge/go-explore-master/env/bin/python3.6'")

[2020-07-24 18:48] tgaddair opened #2139 "Extend API to allow running collective ops across a subset of ranks (cross, local, etc.)"
Currently, Horovod's API is restricted to global communicators, but there are some use cases (e.g., Sync Batch Norm, #1923), where it can be useful to only perform ops within a node or similar.

We could imagine extending the API with an additional parameter:

[code]

[2020-07-24 19:44] davidrpugh commented on #2138
No worries @illumidas-agn!  I am very experienced using Conda (+Pip) to build Python data science and machine learning environments and building the Horovod environment is probably the most difficult build that I have yet encountered. You are definitely jumping into the deep end!

There are three config files and you need ALL three for the environment build to work properly: `environment.yml`, `re

[2020-07-24 20:06] Loquats commented on #1651
Hi @DEKHTIARJonathan, I'm running into a similar error. Could you clarify what you mean by not supporting "non Tesla products"?
I'm using horovod on an AWS g4 machine that has four Nvidia T4 GPU's. Do you know whether T4 is supported? (Turing architecture but part of the Tesla product line.)

[2020-07-24 20:20] DEKHTIARJonathan commented on #1651
@Loquats nvidia does not RTX and GTX cards in a server configuration. It could even violates the terms of the licence agreement (consult lawyers).
T4 are Tesla products and therefore are perfectly supported. However T4 are non suitable for training. So I'm not sure what you try to do with them with horovod.
Could you post your code and error.

[2020-07-24 20:59] tgravescs commented on #2093
this is likely the same issue I ran into: https://issues.apache.org/jira/browse/ARROW-9019?page=com.atlassian.jira.plugin.system.issuetabpanels%3Aall-tabpanel

[2020-07-24 21:18] collinabidi commented on #2137
Hey @tgaddair , there is no folder called ```run``` but there is one called ```runner```. Interesting.

[2020-07-24 21:30] tgaddair commented on #2137
Looks like you installed from master.  We recently renamed `run` to `runner`.

But also looks like your `horovodrun` script is out of date somehow.  Possibly your path is picking up `horovodrun` from an old install of Horovod?

[2020-07-24 22:37] collinabidi commented on #2137
So I wiped my horovod install and re-installed from ```master``` (if this is correct) using the ```--recursive``` option. I then built and ran the ```horovodrun --check-build``` with nothing being printed in the output file. Running the ```pytorch_mnist.py``` example seemed to work though. Thank you for all the help! I had been pulling my hair out for a couple of weeks trying to figure this out.

[2020-07-24 22:37] #2137 closed

[2020-07-25 00:38] Loquats commented on #1651
Thanks for clarifying. Actually, I found out my error was caused by multiple processes using the same GPU, and fixed it by pinning to the local rank in pytorch `torch.cuda.set_device(hvd.local_rank())`

Could you explain what you mean by T4 not being suitable for training?

[2020-07-25 10:11] #1715 closed

[2020-07-25 12:11] illumidas-agn commented on #2138
I've downloaded the files you've recommended above and put them onto the server. I've removed the environments (except one that I need for another project) and im still running into the same python error:

(base) cogs5@sci-gpu:~/ge/go-explore-master$ ./create-conda-env.sh
Solving environment: done

Downloading and Extracting Packages
libgfortran-ng 7.5.0: ##########################################

[2020-07-25 12:50] davidrpugh commented on #2138
Try running `conda clean --all` which might clean out cruft from all these failed builds and try running the build script again.

[2020-07-25 13:00] illumidas-agn commented on #2138
I ran a conda clean and cleared out the crufts, currently building the environment. Its taking a while so I will edit this comment once its done

[2020-07-25 16:41] AliOskooeiTR commented on #851
Same issue here. Tried everything from this post and other posts related to installation with HOROVOD_CUDA_HOME and --no-cache-dir but none worked for me.

[2020-07-25 18:37] davidrpugh commented on #2138
I should have asked this question at the very beginning. That conda version is at least two years old. You can try to update In place but I think the best approach would be to uninstall and reinstall.

Are you using the conda as part of the Anaconda Python distribution? Or Miniconda Python Distribution?

[2020-07-25 19:12] illumidas-agn commented on #2138
Im not sure, this version was left on the server sometime ago. Ill contact the admin again and post here once its been updated. Ill retry all the steps and go from there.

[2020-07-26 03:19] DEKHTIARJonathan commented on #1651
Awesome. T4 GPUs are designed to do inference. Not training. You will get considerably better training performance with any V100 / A100 GPUs.

[2020-07-26 03:19] DEKHTIARJonathan commented on #1651
@tgaddair can we close this issue?

[2020-07-26 06:39] davidrpugh commented on #2084
@tgaddair can this issue can be closed since #2111 was merged?

[2020-07-26 06:54] davidrpugh opened #2141 "Installing Horovod with pip install horovod[mxnet] errors out without building GPU extensions"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.6
3. Horovod version: 0.19.5
4. MPI version:
5. CUDA version: 10.1
6. NCCL version: 2.4
7. Python version: 3.6+
8. Spark / PySpark version:
9. OS and version: CentOS
10. GCC version:

When building Horovod with `HOROVOD_WITH_MXNET=1` and installing Horovod with `pip install horovod[mxnet]`, GPU bindings are not built and an error is thro

[2020-07-26 09:04] weiminggao commented on #2100
tf 1.15 support BN？

[2020-07-26 17:37] illumidas-agn commented on #2138
I've received a response from the admin of the server stating that:

Im assuming that horovod isnt able to run on CUDA this old is it?

[2020-07-26 18:03] #1651 closed

[2020-07-26 18:05] tgaddair commented on #1651
One thing I'd point out: though V100s are definitely better for training in terms of raw performance, in a lot of cloud providers t4s tend of offer better performance / dollar (g4dn.12xlarge instances use t4s, and are very reasonably costed, which is why we use them for Horovod's CI).

[2020-07-26 18:05] #2084 closed

[2020-07-26 18:08] tgaddair commented on #2141
Good catch, @davidrpugh.  One option would be to add a separate extra for GPU-enabled MXNet, similar to what we do with TensorFlow.  Though it seems like we would need to do one for potentially every supported CUDA version, with or without MKL.  Is that right?

@eric-haibin-lin any thoughts?

[2020-07-26 18:09] tgaddair commented on #2100
Yes, it should be supported in TF 1.15.  @romerojosh can you confirm which versions of TF are supported?

[2020-07-26 18:10] tgaddair commented on #2139
cc @romerojosh

[2020-07-26 19:16] abcinje opened #2142 "Logging doesn't work correctly"
**Environment:**
1. Framework: Pytorch
2. Framework version: 1.4.0
3. Horovod version: 0.19.2
4. MPI version: 4.0.0
5. CUDA version:
6. NCCL version:
7. Python version: 3.6.9
8. OS and version:
9. GCC version:

Hello.

I found that logging macro sometimes doesn't work correctly.
Specifically, logged messages are mixed up when running applications using multiple nodes.
When logging, I set the log l

[2020-07-26 20:18] davidrpugh commented on #2138
You are already installing CUDA 10.0 via Conda so none of the above about changing environment variables is relevant. You will still need GPU drivers that are capable of supporting CUDA 10.0. What NVIDIA drivers are installed on the server?

[2020-07-27 02:15] weiminggao commented on #2100
The graph mode can also work in tf 1.15？

[2020-07-27 08:34] davidrpugh commented on #2141
For reference here is the list of versions available from PyPI.

[code]

In the past I have never used extras when installing Horovod. I have always manually installed frameworks(s) and then used combination of environment variables and `pip install horovod` to explicitly control which extensions should be built. As the number of builds available for different frameworks increases it seems the mai

[2020-07-27 09:16] weiminggao commented on #2100
I test BN in graph mode(tf 1.14) but nor work. In future, will support graph mode?

[2020-07-27 14:55] tgaddair commented on #2142
Hey @abcinje, unfortunately this is mostly unavoidable.  When using MPI, printing messages from different workers is out of our control.  When using Gloo, we could opt to only print out a line containing a new line character, but that breaks other features, like a progress bar the relies on carriage returns to show progress on the same line.

[2020-07-27 14:58] tgaddair commented on #2100
Hey @weiminggao, what's the error you're seeing?  We have tests that run with graph mode on TF 1.14 and 1.15 [here](https://github.com/horovod/horovod/blob/master/test/test_tensorflow.py#L1615), so if it should be working.

[2020-07-28 03:20] abcinje commented on #2142
@tgaddair Thanks for your reply!

[2020-07-28 03:20] #2142 closed

[2020-07-28 03:21] xuehuanran opened #2144 "RDD Error when submitting Horovod-on-Spark app to yarn cluster"
I want to submit a horovod on spark app to the yarn cluster, but always failed.
**Environment:**
1. Framework: Pytorch
2. Framework version: 1.5.1
3. Horovod version: 0.19.5 and 0.19.3
4. MPI version: MPICH 3
5. CUDA version: No CUDA
6. NCCL version: No
7. Python version: 3.6.8
8. OS and version: CentOS
9. GCC version: 5.4
10. PySpark version: 2.4.4 and 2.3.2

**Your question:**
Please ask your qu

[2020-07-28 09:41] guotong1988 commented on #1950
`An MPI communication peer process has unexpectedly disconnected`
Same problem.

[2020-07-28 09:45] guotong1988 commented on #787
`An MPI communication peer process has unexpectedly disconnected`
Similar problem.

[2020-07-28 20:25] illumidas-agn commented on #2138
Im not sure what kind are installed. How do I best check this? Conda info?

[2020-07-29 01:22] tgaddair opened #2148 "Add Gloo support for All-to-All"
#2143 adds MPI and NCCL support for all-to-all.  Gloo recently added an op for all-to-all, but our current submodule ref is behind.  We should update Gloo to the latest master, then add support for Gloo when using all-to-all.

[2020-07-29 01:23] tgaddair commented on #2148
cc @romerojosh

[2020-07-29 06:02] davidrpugh commented on #2138
@illumidas-agn you should be able to run `nvidia-smi` which will generate output including the driver versions and system CUDA version.

[2020-07-29 06:25] EnricoMi commented on #2093
Your error says: `org.apache.hadoop.hdfs.protocol.proto.ClientNamenodeProtocolProtos$GetFileInfoRequestProto cannot be cast to com.google.protobuf.Message`, so I think it is a version mismatch of one of the jars Spark is using. Which hadoop version do your images have and which hadoop version does your Spark 3.0 expect?

[2020-07-29 06:29] EnricoMi commented on #2093
Your linked issue is already looking at this: https://github.com/GoogleCloudDataproc/initialization-actions/issues/779#issuecomment-660398028

[2020-07-29 06:33] EnricoMi commented on #2093
When you install pyspark over pip, it brings in its own Spark jars and dependencies, e.g. lib/python3.6/site-packages/pyspark/jars. Not sure how pyspark sorts out which jars to use, those or the jars installed on the system but maybe worth checking. In the Spark UI there is an environment tab which lists all jars used by the Spark process. Maybe that helps.

[2020-07-29 06:35] EnricoMi commented on #2144
There should be more exceptions in the output that caused the job cancellation.Can you provide more log output? Maybe check the worker's stderr logs as well.

[2020-07-29 06:48] EnricoMi commented on #1874
I think this is in a working state. All that is left to do is add some example to the `elastic.rst`: https://github.com/horovod/horovod/blob/master/docs/elastic.rst#running-on-spark

[2020-07-29 06:51] EnricoMi commented on #1874
@tgaddair btw, github does not show any of the examples in `elastic.rst`, e.g. https://github.com/horovod/horovod/blob/master/docs/elastic.rst#elastic-tensorflow, it probably does not support the `:emphasize-lines: ...` and then ignores the whole block. I can see it works on https://horovod.readthedocs.io/en/latest/elastic_include.html#elastic-tensorflow.

[2020-07-29 13:14] tgaddair commented on #1874
Good point @EnricoMi, the `:emphasize-lines` thing is an issue.  Since a lot of people look to GitHub for docs, I think we should make an effort to fix this.

@sblotner, any thoughts?  Is there a way to maybe show just a normal code block on GitHub but the emphasized lines in the ReadTheDocs?

[2020-07-29 13:17] tgaddair commented on #1874
Looks like GitHub has an open issue to track this here: https://github.com/github/markup/issues/914

But no one has responded :(

[2020-07-29 18:10] sblotner commented on #1874
That's really disappointing, especially because it's affecting code blocks with the :linenos: directive too. Some (not ideal) workarounds:
- Remove all emphasis from code blocks for now :(
- Above the code-block:: in the .rst, link to the raw .rst file as "source" (https://raw.githubusercontent.com/horovod/horovod/master/docs/elastic.rst) so people viewing in GitHub can see the examples.
- Add the

[2020-07-29 18:19] EnricoMi commented on #1874
Good suggestions! Another option:

- Above the code-block, link the respective section on horovod.readthedocs.io, e.g. https://horovod.readthedocs.io/en/latest/elastic_include.html#elastic-tensorflow.

[2020-07-29 18:44] sblotner commented on #1874
@EnricoMi I think I like that approach best, because then there's a single source of truth and everyone can see the highlighting. The language could be like, "Don't see an example below? Go to https://horovod.readthedocs.io/en/latest/elastic_include.html#elastic-tensorflow."

[2020-07-29 19:44] illumidas-agn commented on #2138
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.87.01    Driver Version: 418.87.01    CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |

[2020-07-30 08:35] davidrpugh commented on #2138
@illumidas-agn I don't see anything wrong with those drivers versions. Seems like the default CUDA installed on the server is 10.1. Can you run the command `which conda`? This will give the path to the `conda` binary and will probably indicate whether this was installed via Anaconda or Miniconda.

You need to update your Conda to the most recent version, likely by uninstalling Anaconda/Miniconda a

[2020-07-30 16:09] illumidas-agn commented on #2138
Here is the output from which conda:
/opt/anaconda3/bin/conda

Sadly the admin cant update conda as of right now, which really hinders this. I've been running the algorithm locally up until this point regardless

[2020-07-30 16:48] davidrpugh commented on #2138
Looks like you have Anaconda3 distribution installed by the sysadmin. You can install Miniconda yourself in your user home using scripts I put together in this repo.

https://github.com/kaust-rccl/ibex-miniconda-install

After installation the output of `which conda` should be something like `~/miniconda3/bin/conda`.

[2020-07-31 03:08] workingloong opened #2152 "We cannot run examples using horovod:latest docker image."
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.1.0
3. Horovod version: 0.19.5
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. Spark / PySpark version:
9. OS and version:
10. GCC version:

**Bug report:**
The TensorFlow APIs in examples are deprecated by TensorFlow 2.1.0, such as `tf.train.AdamOptimizer`. However, the [docker file](https://github.com/horov

[2020-07-31 13:50] tgaddair commented on #2152
Hey @workingloong, which examples are you referring to?  For TensorFlow 2, you should use the examples that start with `tensorflow2_`.

[2020-07-31 16:30] illumidas-agn commented on #2138
Ok that worked!

/home/cogs5/miniconda3/bin/conda

What would be the next step from here?

[2020-07-31 17:11] firejq commented on #1831
@tgaddair
Hi, I also met the same problem when I run `horovodrun --verbose -np 4 -H localhost:4 python hvd_tf_mnist.py`:
[code]

**Environment:**
1. Framework: (TensorFlow)
2. Framework version:1.13.1
3. Horovod version:0.19.5
4. MPI version:Open MPI 2.0.2
5. CUDA version:10.2
6. NCCL version:2.4.7
7. Python version:3.6.8
8. GCC version:4.8.5

Could you give me some suggestions? Thanks!

[2020-07-31 17:15] tgaddair commented on #1831
Hey @firejq, please share the full log output.  The true error message is likely hidden somewhere above.

[2020-07-31 18:04] firejq commented on #1831
@tgaddair Thanks for your reply! I can't agree more, but this is all the output of my command `horovodrun --verbose -np 4 -H localhost:4 python hvd_tf_mnist.py `:
[code]

I would like to provide any other message if useful...

[2020-08-01 01:10] eric-haibin-lin commented on #2141
sorry for the late reply. @tgaddair yes, that is correct. Although there won't be any mxnet-cuxx-mkl packages for newer mxnet releases, as MKLDNN is now turned on by default. But this option does require separate packages for different cuda versions (e.g. pip install horovod[mxnet-cu100], pip install horovod[mxnet-cu101], etc)

[2020-08-01 06:33] KeeeeiZ opened #2153 "Horovod distributed in container failed"
**Your question:**
I am using horovod in Docker to run distributed training with two containers seperately on two host machines. I have set up the ssh configs and can start the training script. But I failed and my training script stopped at reading data.

I have read the info in https://github.com/horovod/horovod/blob/master/docs/docker.rst but it does not mention where the training data is locate

[2020-08-01 09:40] weiminggao commented on #2100
Thans very much, now, the Sync_BN can work well. But when I use it to  train, it shows ”Stalled ranks:“.I add UPDATE_OP Dependency.

 Which is the right way to use the Sync_BN?

[2020-08-01 09:43] firejq commented on #1831
@tgaddair Sorry for the late reply... When I run `horovodrun --verbose --check-build`, the full log output:
[code]

[2020-08-01 15:03] tgaddair commented on #1831
Hey @firejq, this error message suggests that the version of TensorFlow you're using is not the version you used to install Horovod:

[code]

Did you by chance install a new version of TensorFlow after installing Horovod?  I would suggest trying:

[code]

[2020-08-01 18:49] firejq commented on #1831
@tgaddair Thanks for your reply!

I didn't install a new version of TensorFlow after installing Horovod and I have reinstalled the horovod but it does not work...

However, due to certain needs, the path of my Tensorflow is not python's `site-packages` directory and it is installed in another path instead:
[code]
I have no idea whether it is the cause of the above `NotFoundError `.  Is there any w

[2020-08-02 07:58] rudvlf0413 commented on #1831
Sorry for the late reply. I install OpenMpi using Conda as:

``` conda install openmpi ```

[2020-08-02 09:17] workingloong commented on #2152
Oh, Thanks. I use examples that start with `tensorflow_`. And we can close the issue first.

[2020-08-02 09:17] #2152 closed

[2020-08-02 09:33] davidrpugh commented on #2138
The environment creation script creates the environment in a subdirectory called `env` of the "project directory" (i.e., the directory in which you ran the environment creation script). In the original script you had to change `conda activate` to `source activate` because you were using a very old version of Conda. Please make sure to use `conda activate` from now on.

[2020-08-02 17:50] zanonShao commented on #1549
Hey @tgaddair , I meet the almost same question. I divide the parameters in a model into two parts, then use optimization1 and optimization2 to contral the update of them. But when the second execution to` loss.back()` There will be an error:

`:RuntimeError: Gradients were computed more than backward_passes_per_step times before call to step(). Increase backward_passes_per_step to accumulate grad

[2020-08-03 02:20] weiminggao commented on #2100
My Code:
#####################:model
             bn = hvd.SyncBatchNormalization()
            cards_feature1 = bn.apply(cards_feature1, training = is_training)
            cards_feature1 = tf.nn.relu(cards_feature1)
            cards_feature1 = tf.layers.conv1d(inputs = cards_feature1, filters = 256, kernel_size = 3, strides = 1, padding = 'same', use_bias = True)
            bn = hvd.SyncBatchN

[2020-08-03 02:23] zanonShao opened #2154 "divide parameters into two optimizations"
Hey @tgaddair , I divide the parameters in a model into two parts, then use optimization1 and optimization2 to contral the update of them. But when the second execution to` loss.back()` There will be an error:

`:RuntimeError: Gradients were computed more than backward_passes_per_step times before call to step(). Increase backward_passes_per_step to accumulate gradients locally.`

I think that's

[2020-08-03 08:20] #1056 closed

[2020-08-03 09:33] rogeryu93 opened #2156 "Internal error occured when running on multi servers"
**Environment:**
1. Framework: TensorFlow
2. Framework version:2.2.0
3. Horovod version:0.19.5
4. MPI version:3.1.5
5. CUDA version:10.1
6. NCCL version:2.4.8
7. Python version:3.7.4
8. OS and version:ubuntu
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/horov

[2020-08-03 13:30] Richie-yan commented on #1089
Hi, @un-knight @alsrgv
When I set fp16-allreduce to True, the package error is as follows:
[code]
How can I solve this problem?

[2020-08-03 15:09] tgaddair commented on #2100
@romerojosh can you take a look at the usage of Sync Batch Norm here?

[2020-08-03 15:16] workingloong opened #2157 "Can we add a tutorial to run on multiple docker container on a single machine."
**Is your feature request related to a problem? Please describe.**

[The tutorial](https://horovod.readthedocs.io/en/latest/docker_include.html) introduces how to run on multiple machines. However, multiple machines are not available if the user does not have a cluster like the Kubernetes cluster. We can launch multiple docker containers in a single machine and run Horovod on those containers.

**

[2020-08-03 15:30] tgaddair commented on #2154
Hey @zanonShao, can you take a look at this comment -- https://github.com/horovod/horovod/issues/1417#issuecomment-588367250 -- and let me know if it addresses your issue?

[2020-08-03 15:35] tgaddair commented on #2156
Hey @rogeryu93, to clarify, did you follow the recommendations in the Troubleshooting Guide for this error [here](https://github.com/horovod/horovod/blob/master/docs/troubleshooting.rst#force-terminate-at-data-unpack-would-read-past-end-of-buffer)?

My suggestion, when MPI is giving you issues, is to try using Gloo instead.  Try running with `horovodrun --gloo ..`.  You may need to reinstall Horov

[2020-08-03 15:39] tgaddair commented on #1089
Hey @Richie-yan, in general it is not advisable to mix AMP with Horovod's native FP16 compression.  I think that may be the source of the issue here.

[2020-08-03 15:40] tgaddair commented on #2157
Hey @workingloong, in what situation are you needing to run multiple containers on the same machine for Horovod?

[2020-08-03 17:02] zanonShao commented on #2154
Thank you for your prompt reply. I tried your suggestion, and glad this method works ^_^
After each optimizer.step(), call another optimizer's `synchronize()` to blank run and clear() the` _handles`.Thus solved my problem.

after I code like：
[code]

**Finally, will this method slow down the training process?**

[2020-08-03 20:06] romerojosh commented on #2100
I will take a look and report back.

[2020-08-03 21:10] romerojosh commented on #2100
Considering the `tf.layers.batch_normalization` documentation, the dependency on `UPDATE_OPS` is required in order for BN statistics to be updated between training steps. So this appears to be the correct way to use `hvd.SyncBatchNormalization` as it is a modified form of that layer.

[2020-08-04 00:17] workingloong commented on #2157
1. When I use Horovod for the first time, I want to test distributed Horovod on my personal computer.
2. When I develop a model and debug it, it is convenient to run distributed Horovod on multiple containers. Because a data-parallel distributed job contains data shards and training code definitions.

[2020-08-04 02:12] weiminggao commented on #2100
Thanks, but it can not work well when train by this way, shows ”Stalled ranks:“.  I use tf1.14, can you test it as same as this way?@romerojosh

[2020-08-04 02:58] Richie-yan commented on #1089
One more question, the reason why it is not recommended is that there will be conflicts between the two?

[2020-08-04 06:28] weiminggao commented on #2100
And I try to delete UPDATE_OPS. But when train, the same problem happens.

[2020-08-04 10:10] ShaddeHarod commented on #1831
solved my problem, thanks!

[2020-08-04 12:40] zlwzlwzlw opened #2159 "run on multiple cpu nodes"
**Environment:**
1. Framework: TensorFlow
2. Framework version:1.14
3. Horovod version:0.19.5
4. MPI version:4.0.4
5. CUDA version:
6. NCCL version:
7. Python version:3.6.5
8. OS and version:centos-7.6
9. GCC version:4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod

[2020-08-04 13:11] tgaddair commented on #1089
Hey @Richie-yan, my understanding is that the gradients should already be compressed when using AMP when it is appropriate to do so.  If you further attempt to compress them, it may not give you good results.

[2020-08-04 19:31] romerojosh commented on #2100
Hi @weiminggao,
I cannot reproduce the stall with either TF 1.14 or TF 1.15 using a variation of the model you provided using dummy input data. This is the script I tested (`script.py`):
[code]
Running this script with `horovodrun -np 2 python script.py` does not stall and all 100 steps are completed with TF 1.14 and TF 1.15.

If you try this script, does it still stall? Also, in your original cas

[2020-08-05 03:42] firejq opened #2161 "`horovodrun --check-build` raise `queue.Empty` error"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13.1
3. Horovod version: 0.19.5
4. MPI version: 2.0.2
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 3.6.4
8. OS and version: CentOS 7
9. GCC version: 4.8.5

When I run `horovodrun --check-build`, it raise a error:
[code]

Could anyone give some suggestions to solve this problem? Thanks!

[2020-08-05 03:48] weiminggao commented on #2100
Thanks very much, now it can work well.

[2020-08-05 13:14] #2161 closed

[2020-08-05 23:12] swevrywhere opened #2164 "Add support for complex64 and complex128 broadcast() and allgather()"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I'd like to have support for complex values in horovod.

**Describe alternatives you've considered**
I've considered converting complex values first to real-valued rectangular coordinates (real float ea

[2020-08-05 23:23] Doffery opened #2165 "Took a hour before starting the training"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.40
3. Horovod version: 0.19.0
4. MPI version: mpiexec (OpenRTE) 3.0.0
5. CUDA version: 10.0.130
6. NCCL version:  2.7.6
7. Python version: 3.7
8. OS and version: Ubuntu 16.4
9. GCC version: 5.4.0

**Your question:**
Please ask your question here.
I'm running on spark cluster on Azure Databricks, prepared the data outside of the train_h

[2020-08-05 23:48] swevrywhere commented on #2164
I found this as Tensorflow supports complex64 and complex128, but I got this error when running.

[code]

[2020-08-06 10:15] illumidas-agn commented on #2138
Sorry for the delay in my response. Im still getting this huge error:

# To activate this environment, use
#
#     $ conda activate /home/cogs5/ge/go-explore-master/env
#
# To deactivate an active environment, use
#
#     $ conda deactivate

CommandNotFoundError: Your shell has not been properly configured to use 'conda activate'.
To initialize your shell, run

    $ conda init <SHELL_NAME>

Curre

[2020-08-06 10:45] davidrpugh commented on #2138
@illumidas-agn You need to configure your shell to use the `conda activate` command. This should have been done for you when if you ran the installer script from the repo I linked above. Regardless, assuming you are using `bash` you need to run the following commands

[code]

Once you have initialized `conda` re-run the environment build script again I suspect the other errors are coming from the

[2020-08-06 11:14] illumidas-agn commented on #2138
Still getting the same error,I dont think that worked

[code]

[2020-08-06 11:21] davidrpugh commented on #2138
The issues you are experiencing are caused by the `anaconda3` still being on your path somewhere. Can you please share the output of the following commands.

[code]

[2020-08-06 11:24] illumidas-agn commented on #2138
[code]

[2020-08-06 11:30] davidrpugh commented on #2138
As mentioned in the error message above, you need to remove the following line from your `~/.bashrc` file which is polluting your `$PATH` with a reference to `anaconda3` which you are no longer using.

`export PATH="/opt/anaconda3/bin:$PATH"`

After removing the above line. Run the following command `conda clean --all` to clean things up a bit and then re-run the environment creation script.

[2020-08-06 11:37] illumidas-agn commented on #2138
Ok commented out the export PATH in bashrc, restarted a session, ran the conda clean, and now running the script

Lets hope it works

[2020-08-06 11:43] illumidas-agn commented on #2138
[code]

[2020-08-06 11:45] davidrpugh commented on #2138
I noticed that your shell is `/bin/sh` and not `/bin/bash` which is usually the default shell on Linux. First, can you run `which bash` or just type `bash` to see if you have `bash` shell installed?

[2020-08-06 11:46] illumidas-agn commented on #2138
(base) cogs5@sci-gpu:~/ge/go-explore-master$ which bash
/bin/bash

[2020-08-06 11:48] davidrpugh commented on #2138
Great! Two options. First, you can switch your shell to `bash` for this session by typing `bash` which will start a new shell using `bash`. Then check that `conda activate` command works and report back.

[2020-08-06 11:50] illumidas-agn commented on #2138
Done and that works

[code]

[2020-08-06 11:51] davidrpugh commented on #2138
Now maybe run `conda clean --all` and then re-run the environment creation script.

[2020-08-06 11:57] illumidas-agn commented on #2138
Exact same error again

[2020-08-06 12:06] davidrpugh commented on #2138
The environment creation script runs inside a `bash --login` shell which for some reason on your system is not sourcing `~/.bashrc` file properly. Try running the following commands.

[code]

This will start a `bash --login` shell and `then try the `conda activate` command. I expect it will fail. the `exit` command will leave the `bash --login` shell and return to the plain `bash shell`.

Then try

[2020-08-06 12:12] illumidas-agn commented on #2138
[code]

[2020-08-06 12:27] davidrpugh commented on #2138
That looks fine. When using `bash --login` shell `~/.profile` will be sourced and then `~/.bashrc` will be source which should enable the `conda activate` command. You shouldn't even need to manually type `bash`. Running the environment creation script from your default `/bin/sh` should work. Have you made any changes to the environment creation script?

Can you start a brand new shell session. Ru

[2020-08-06 12:43] illumidas-agn commented on #2138
It appears I still need to use bash when I login. Without using bash I get this error when I try to run the script:

``$ ./create-conda-env.sh
ERROR: The install method you used for conda--probably either `pip install conda`
or `easy_install conda`--is not compatible with using conda as an application.
If your intention is to install conda as a standalone application, currently
supported install m

[2020-08-06 12:47] illumidas-agn commented on #2138
Same old, same old

[code]

[2020-08-06 13:00] davidrpugh commented on #2138
From a clean shell session run `which conda` and `echo $PATH`.

[2020-08-06 13:08] illumidas-agn commented on #2138
[code]

[2020-08-06 13:15] davidrpugh commented on #2138
Try manually running the commands from the environment creation script from a fresh `/bin/sh` session as follows.

[code]

[2020-08-06 13:22] illumidas-agn commented on #2138
.....that worked, im getting things i've not seen before

[2020-08-06 13:29] davidrpugh commented on #2138
OK. Finally! Am kind of surprised that it worked TBH. Running commands manually is equivalent to ` source ./bin/create-conda-env.sh`. I also feel like `bash ./bin/create-conda-env.sh` should also work. There must be something about `/bin/sh` and how to run `bash` scripts within that shell environment that I don't understand.

[2020-08-06 13:29] illumidas-agn commented on #2138
Currently installing all the dependencies, ill let you know if I manage to get it running

[2020-08-06 13:59] EnricoMi commented on #2165
The log output says:

    The pickled object size is 1811276997 bytes.

Which means your code has some datastructure that is 1.8 GB in size, which is very slow to pickle (serialize) and send over the wire. I think getting this number down has to be targeted first.

[2020-08-06 14:01] illumidas-agn commented on #2138
It worked.....thank you so so so much

[code]

[2020-08-06 14:03] davidrpugh commented on #2138
@illumidas-agn Hurray! Great. @tgaddair I guess we can close this issue.

[2020-08-06 16:59] Doffery commented on #2165
Thanks for quick reply!

That's should be mostly space took by my training data.
Do you know how can I solve that with reducing training data? I assumed this size of training data should be common.

Thanks.

[2020-08-06 17:12] tgaddair commented on #2138
Phew!  Nice work @davidrpugh!  That looked like a tough one.

[2020-08-06 17:12] #2138 closed

[2020-08-06 17:16] tgaddair commented on #2165
Hey @Doffery, my suggestion here would be to pull the model into the training function, instead of passing it as a parameter.  That way, the model does not need to be pickled.

So instead of writing:

[code]

You could write:

[code]

[2020-08-06 18:35] Doffery commented on #2165
Thanks @tgaddair  for your advice. I tried your solution, it's still using a great amount of time to prepare the training. My model size of not big, only few million parameters.

[2020-08-07 08:16] DeruiLiu opened #2168 "some question about w/o gdr and +gdr."
i want to test the performance with horovod IB +NCCL w/o GDR and Horovod IB +NCCL +GDR.
but i don't know how to start/off GDR.
my start code as below: does i use GDR? and the performance is about 149.
mpirun --allow-run-as-root -np 2 \
    -H 172.168.30.26:1,172.168.30.25:1 \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH \
    -mca pml ob1 -mca btl ^openib \

[2020-08-10 01:20] DeruiLiu commented on #2168
when i run tf_cnn_benchmarks.py, i find i can use grpc+gdr in server_protocol, but when i use this parameter, the performance is worse than grpc+verbs.  so  how can i use gdr correctly to run tf_cnn_benchmarks.py?
my another start code is as below:
python /root/benchmarks/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py \
--server_protocol=grpc+verbs \
--model=vgg16 --variable_update=parameter_serve

[2020-08-10 05:14] sanjaydeo96 opened #2170 "Working well for batch size <=32 for single gpu and multi gpu training. While getting following error when using batch size > 32 for multi gpu. Plz help me to fix this."
**Environment:**
1. Framework: (TensorFlow 1.5)
2. Framework version:
3. Horovod version: Not using horovod instead running through openmpi command
4. MPI version: 4.04
5. CUDA version: 11
6. NCCL version: 2
7. Python version: 3.6
9. OS and version: 18.04

    for grad in grads]
  File "/home/ubuntu/anaconda3/envs/eff/lib/python3.6/site-packages/horovod/tensorflow/__init__.py", line 257, in <listc