[2017-12-21 19:53] dmadeka commented on #130
@alsrgv If I reduce my batch size, that will kill the speed right? I will try it right now..

From above:

Adding , device_dense='/cpu:0' to the Adam optimizer doesn't seem to help.

[2017-12-21 19:58] alsrgv commented on #130
@dmadeka, K80s are pretty old GPUs, so they should be still plenty busy with smaller batch sizes.

[2017-12-21 20:18] dmadeka commented on #130
@alsrgv Dropping the batch size to 64 (from 512) worked but it seems to only be using 1 GPU:

[code]

Not sure what's happening here

[2017-12-21 20:20] alsrgv commented on #130
@dmadeka, what arguments do you pass to `mpirun` command?

[2017-12-21 21:18] aellaboudy commented on #125
mpirun has no prefix option:

mpirun: Error: unknown option "--prefix=/usr/local/openmpi"
Type 'mpirun --help' for usage.

[2017-12-21 21:19] alsrgv commented on #125
Oh, sorry, `mpirun --prefix /usr/local/openmpi -bind-to none -np 8 -map-by slot -H localhost:8 -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH python tensorflow_mnist.py`

[2017-12-21 22:06] aellaboudy commented on #125
I uninstalled the other versions of openmpi using "sudo make uninstall" in the openmpi directory on my computer and then made sure that only one installation existed in /usr/local/openmpi, then followed your command line instructions. I'm seeing the same hang on hvd.init().

I actually see that /usr/lib/libmpi_cxx.so still exists after the re-installation, but this file is just a symbolic link to

[2017-12-21 22:45] alsrgv commented on #125
@aellaboudy, ok, good that we ruled that issue out. Can you try doing mpirun with just two processes?

Another observation from your strace is that one of the processes was still doing some python initalization when you interrupted the script:
[code]

How long did you wait before you Ctrl+C'ed it?

[2017-12-21 22:48] aellaboudy commented on #125
I Ctrl+C'ed it about 20 seconds in.

[2017-12-21 22:49] alsrgv commented on #125
Can you do `strace` with 2 processes, and if it hangs, wait for ~5 min before terminating it?

[2017-12-21 22:49] aellaboudy commented on #125
Ok i'll try that.

[2017-12-21 23:06] aellaboudy commented on #125
Here's the new strace output with just two processes after 5 minutes of hang.

[hang2.txt.zip](https://github.com/uber/horovod/files/1580903/hang2.txt.zip)

[2017-12-21 23:18] alsrgv commented on #125
Can you also do `gdb -p <pid> -ex "thread apply all bt" --batch` for one of the processes that will be spawned (you can check pid with `nvidia-smi`)?

[2017-12-22 00:01] aellaboudy commented on #125
So I opened a separate tmux session to start the job and monitor the pid through nvidia-smi and it seems like it works now and doesn't hang, but only if started in a separate tmux session....weird.

[2017-12-22 00:33] alsrgv commented on #125
Strange. What if you don't use tmux at all, does it work?

[2017-12-22 04:58] dmadeka commented on #130
@alsrgv I passed the exact command in the readme:

[code]

[2017-12-22 05:08] alsrgv commented on #130
@dmadeka, you should match up the number of slots in `-H` with a total number of processes.  I.e.:
[code]

What does `nvidia-smi` show in the list of processes, which processes are using which GPUs?

[2017-12-22 05:17] dmadeka commented on #130
@alsrgv When I do that, it creates `n` copies of my data in RAM though - which might blow up my the memory. Is there a way the processes can share the memory?

[2017-12-23 03:01] leoyanghw opened #131 "Can horovod use other all-reduce method？"
As horovod is based on NCCL2, is ring all-reduce used in NCCL2? I can not find information about this point, except that in NCCL1, they indeed use ring algorithm.

Actually facebook uses  halving/doubling algorithm instread of ring algorithm. They said that halving/doubling performed better for larger buffer size and larger clusters. So will horovod consider to integrate other all-reduce algorithm

[2017-12-24 01:24] David-Levinthal opened #132 "pip installation fails for TF accessed through PYTHONPATH"
Due to a need to support multiple builds of tensorflow I install the wheel into a local directory and then export PYTHONPATH=~/tf_r1.4_c91_l7_py2
 python
Python 2.7.12 (default, Nov 20 2017, 18:23:56)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

1.4.0

for reasons I do not understand I am unable to do this for the installation of horovod
an

[2017-12-24 02:18] David-Levinthal commented on #132
invoking sudo at the beginning does a bit better but still has issues finding TF runtime?
sudo HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GPU_ALLGATHER=MPI HOROVOD_GPU_BROADCAST=MPI PYTHONPATH=/home/levinth/tf_r1.4_c91_l7_py2 pip install --no-cache-dir horovod
[sudo] password for levinth:
Collecting horovod
  Downloading horovod-0.11.1.tar.gz (70kB)
    100% |\u2588\u2588\u2588\u2588\u2588\u2588\u2588\u25

[2017-12-24 02:56] David-Levinthal commented on #132
seems I must leave out sudo.
and add variables for NCCL
HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GPU_ALLGATHER=MPI HOROVOD_GPU_BROADCAST=MPI HOROVOD_NCCL_HOME=/usr/local/cuda/nccl HOROVOD_NCCL_INCLUDE=/usr/local/cuda/nccl/include HOROVOD_NCCL_LIB=/usr/local/cuda/nccl/lib PYTHONPATH=/home/levinth/tf_r1.4_c91_l7_py2 pip install --no-cache-dir horovod

but that did not work until I copied nccl.h into /usr/

[2017-12-25 12:36] dyoung23 commented on #67
@alsrgv Hello. Do you get help?

Another question.Do horovod support tf.estimator?Can you give me a example which using tf.estimator in horovod.

[2017-12-26 03:13] alsrgv commented on #132
@David-Levinthal, I would recommend looking into [virtualenv](https://virtualenv.pypa.io/en/stable/).  I use them all the time, and they don't require manually setting PYTHONPATH.

[2017-12-26 03:31] alsrgv commented on #131
@leoyanghw, that's right - NCCL2 uses ring all-reduce algorithm.  Horovod can use either MPI or NCCL for all-reduce, and in MPI it's possible to choose a variety of algorithms - ring all-reduce or recursive halving/doubling.  Most of MPI implementations only work on CPU, which means additional memory copy and summation on CPU.

It is pretty easy to integrate Horovod with another custom algorithm,

[2017-12-26 04:31] alsrgv commented on #67
@dyoung23, I did not get a response yet - it's holiday season here in the US, and so I wouldn't expect a response for next couple of weeks.

As for an Estimator example - I just made another MNIST example that uses Horovod - https://gist.github.com/alsrgv/34a32f30292f4e2c1fa29ec0d65dea26.  All the relevant parts have word "Horovod" for simplicity.

[2017-12-26 06:25] hmilxin opened #133 "Run distributed : ERROR: ORTE_ERROR_LOG: Data unpack would read past end of buffer"
I had a error with multi-nodes/GPUs ,  ,,,  single node is well.
ORTE_ERROR_LOG: Data unpack would read past end of buffer in file base/plm_base_launch_support.c at line 1230
--------------------------------------------------------------------------
ORTE was unable to reliably start one or more daemons.
This usually is caused by:
* not finding the required libraries and/or binaries on one or more

[2017-12-26 06:30] alsrgv commented on #133
@hmilxin, can you check this issue and see if it's applicable to you - https://github.com/open-mpi/ompi/issues/4437?

[2017-12-26 06:38] dyoung23 commented on #67
@alsrgv Oh,so sorry.I forgot it. Merry Christmas!

Thanks your eample even though it with a little mistake in ``config=tf.estimator.RunConfig(session_config=config))`` on tf 1.2.0.And I modified it and it works.
But I doubt that how should I handle num_epochs using horovod?

[2017-12-26 11:00] xy-xin commented on #57
Have the same problem, finally i tried NCCL_SOCKET_IFNAME=^docker0 and everything works fine. docker0 should be excluded by both mpi via -mca and nccl via NCCL_SOCKET_IFNAME. I think the doc running.md or troubleshooting.md should be updated to include this.

[2017-12-26 11:16] alsrgv commented on #57
@xy-xin, great find!  I didn't know you could exclude interfaces for NCCL as well.  Will add in next doc update.

[2017-12-26 11:23] xy-xin commented on #57
Thanks @alsrgv .

[2017-12-26 11:25] xy-xin commented on #57
BTW, here's my reference. https://devtalk.nvidia.com/default/topic/1023946/nccl-2-0-support-inter-node-communication-using-sockets-/, FYI. @alsrgv

[2017-12-27 02:50] hmilxin commented on #133
@alsrgv thank you, I checked that issue, and I used ompi_info, Found one note(1) Configure command line '--with-cuda=/usr/local/cuda'  , another note(2) Configure command line '--with-cuda' , But i run on note(2) is well,  So I re-installed with same configure, now it's ok.

thanks again

But i down know why?

[2017-12-27 09:52] jiens opened #134 "periodic WARNING when running with more than one GPU each node"
Hello,
I'm trying to reproduce the numbers of  horovod benchmark in our servers.
There are 3 servers, each with environment as following:
[code]
The horovod is installed with:
[code]
When runing with 2 GPUs on1 node, it hangs with periodic WARNING:
[code]
When runing with 4 GPUs on 2 nodes, it also hangs with periodic WARNING:
[code]
But it's OK, when runing with 1 GPU on 1 node:
[code]
It's also

[2017-12-28 00:23] #133 closed

[2017-12-28 03:18] alsrgv commented on #134
Thanks for the detailed description!  Are there any irregularities in the `dmesg` or `nvidia-smi` when it gets stuck?

[2017-12-28 03:42] jiens commented on #134
@alsrgv Thank you for quick reply.
When runing with 2 GPUs on 1 node, the `nvidia-smi` output is:
[code]
The `dmesg` output has some irregularities:
[code]

[2017-12-28 03:45] alsrgv commented on #134
@jiens, looks like P2P is failing for some reason. Can you try adding `-x NCCL_P2P_DISABLE=1` to your `mpirun` command?

[2017-12-28 03:51] jiens commented on #134
Ah, after adding ` -x NCCL_P2P_DISABLE=1`, both of 2 GPUs on 1 node and 4 GPUs on 2 nodes are running OK.

[2017-12-28 04:33] jiens commented on #134
@alsrgv Appreciate your help! I will find out why the NCCL P2P cannot work.

[2017-12-28 04:34] alsrgv commented on #134
@jiens, glad it worked!

[2017-12-29 04:46] #134 closed

[2018-01-01 01:43] hmilxin opened #135 "I used horovod，But There was a question about global variables."
Hi,
     I had a question about global variables.
     How to use global variables， eg： global_step.

     Now , Each node had its own count （global_step）.

    Happy new year!

[2018-01-02 00:15] alsrgv commented on #135
@hmilxin, happy new year!

You should make sure that all workers start with the same `global_step`. Then, since training is synchronous, they will be incrementing `global_step` at the same rate.

For other global variables, e.g. initial training weights, `BroadcastGlobalVariables`-Hook/Callback will broadcast them from the first worker to other workers if you add it to your training script.

E.g.

[2018-01-02 02:32] dyoung23 commented on #67
@alsrgv .I modified this part.tf.estimator.RunConfig want no parameters with TF 1.2.0.
[code]

Follow your example,I tried it with my code.But I met some error.Multiple processes are being placed on the same GPU.
[code]
And its ouput:[output of my code](https://gist.github.com/dyoung23/a512598c8257ed11e306069d0c3a9c87)

This is my code:[main.py](https://gist.github.com/dyoung23/464057822ab36abcc37

[2018-01-02 02:55] hmilxin commented on #135
@alsrgv，
        I modified “horovod/examples/tensorflow_mnist.py” .  (two notes)
       <<
        while not mon_sess.should_stop():
            # Run a training step synchronously.
            image_, label_ = mnist.train.next_batch(100)
            mon_sess.run(train_op, feed_dict={image: image_, label: label_})

            **#=======begin========
            gstep = mon_sess.run(global_step)

[2018-01-02 05:18] alsrgv commented on #135
@hmilxin, it's actually correct to have the same global step on both workers, since they're synchronously executing code.  You just need to take into account that single global step increment is equivalent to `hvd.size()` individual increments.

For this reason, you'd typically want to do two things (examples will be updated accordingly in the next doc update round):
1. `opt = tf.train.RMSPropOpti

[2018-01-02 05:20] alsrgv commented on #67
@dyoung23, you have this code which is not bound to a GPU, so will spill over all the GPUs:
[code]

It doesn't seem to be necessary for your model, so I suggest to just remove it.  You can examine `hvd.size()`, `hvd.rank()` and `hvd.local_rank()` without creating a TF session.

[2018-01-02 06:35] dyoung23 commented on #67
@alsrgv .I got a error ``CUDA ERROR OUT OF MEMORY `` without this code,so I added them using troubleshooting advise.Even without this code,it will output same error and multiple processes are being placed on the same GPU too.

[2018-01-02 06:44] hmilxin commented on #135
@alsrgv  thanks！
This may not be what I need.
I need a global variable to control the overall progress, and I'll try other ways.

thank you

[2018-01-02 06:49] alsrgv commented on #67
@dyoung23, there may be an issue with Estimators in TensorFlow 1.2.  Can you upgrade to TensorFlow 1.4?  You can setup TensorFlow in a `virtualenv`.

[2018-01-03 01:00] thalassa3 opened #137 "still mpicxx --show fails"
Hi!  Thank you so much for open-sourcing this.

Question:  I have

- openmpi installed in /home/username/openmpi
- added this to my path and
- can successfully mpicxx --show and mpirun --version

When I tried pip install --no-cache-dir horovod, I still get 'mpicxx -show failed (see error below), is MPI in $PATH?'

....
running build_ext
    gcc -pthread -fno-strict-aliasing -O2 -g -pipe -Wall -Wp,

[2018-01-03 01:11] alsrgv commented on #137
@thalassa3, do you do `pip install` or `sudo pip install`?  The latter will override PATH.  Also, activating `virtualenv` overrides PATH.

[2018-01-03 01:14] thalassa3 commented on #137
@alsrgv thank you so much, yes I sudo.

[2018-01-03 01:17] thalassa3 commented on #137
@alsrgv I can figure it out from here, thanks!!

[2018-01-03 02:16] dyoung23 commented on #67
@alsrgv But it doesn't work for me using TF1.4.0. Do you forget above error?

[2018-01-03 02:37] alsrgv commented on #67
@dyoung23, what if you don't use NCCL?

[2018-01-03 05:55] nanobyte-dg opened #139 "Facing errors while installing Horovod on Windows."
Hi,
I am new to Horovod and trying to install Horovod on windows. I am facing two errors on installing Horovod.

1.  **LINK : fatal error LNK1181: cannot open input file 'tensorflow_framework.lib'**
2. **fatal error C1189: #error:  "You must define TF_LIB_GTL_ALIGNED_CHAR_ARRAY for your compiler." error: Unable to determine CXX11 ABI to use with TensorFlow (see error above).**

It then fails to bu

[2018-01-03 09:16] alsrgv commented on #139
@nanobyte-dg, Windows is not currently supported, but contributions are very welcome!

[2018-01-03 09:30] #128 closed

[2018-01-04 04:10] nanobyte-dg commented on #139
@alsrgv Thanks for the reply. I will try to make it work and if something works then will let you know.

[2018-01-04 10:05] hmilxin commented on #135
@alsrgv  I had another question，
   I tested the sample “tensorflow_mnist.py” 。
  run：
mpirun -np 2 -H localhost:2 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH ...

 Allreduce is not used here, then the parameters are how to update it ?  In our project , one note's result  is similar to two nodes。

[2018-01-05 03:10] hmilxin opened #141 "Examples not used allreduce ？"
HI ：
I tested the sample “tensorflow_mnist.py” 。
run：
mpirun -np 2 -H localhost:2 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH ...

Allreduce is not used here, then the parameters are how to update it ?
In our project , one note's result is similar to two nodes。

Thanks!

[2018-01-05 03:31] dyoung23 commented on #67
@alsrgv I thought NCCL is necessary.
This time I remove NCCL,and only install openmpi3.0.0 and horovod 0.11.1.It looked well when run in first epoch but another epoch  begin I met same error as above.It hang forever and output these.
[code]

Another point,I added this code to print the length of data files,it should ouput twice each epoch,but at the beigining of second epoch,it only output once be

[2018-01-05 04:38] alsrgv commented on #141
@hmilxin, we just updated [tensorflow_mnist.py](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py) example to demonstrate best practices:

1. Scale the learning rate with the number of workers.
2. Scale down the number of steps with the number of workers.
3. Reduce learning rate, as it was too high.

It does use allreduce since the optimizer is wrapped in `hvd.DistributedOpt

[2018-01-05 04:45] alsrgv commented on #67
@dyoung23, can you share your code?  This most likely is caused by code difference between workers or mismatch of the amount of data they read / number of optimization steps they take.  The warning is simply showing that one of the workers is waiting for another.

[2018-01-05 05:08] dyoung23 commented on #67
@alsrgv I agree with you about this warning.
But I run it with two processes on one machine with three GPUs.So the code can't be difference between workers.
I shared this code before,This code is new with a little modification.
[imagenet_main.py](https://gist.github.com/dyoung23/8e0960ef6c54b3750c532851a303443d)
[resnet_model.py](https://gist.github.com/dyoung23/ec5759dc0ffc85d414830aae45c2db1d)

[2018-01-05 05:51] alsrgv commented on #67
@dyoung23, in your code you read from partitioned data set:
[code]

That does not guarantee (and most likely leads) to different workers having a different number of batches per epoch, which in turn causes the deadlock - worker A with fewer batches in the dataset wants to keep training and is, therefore, blocked, while worker B has finished with the epoch.

One simple solution is to not partition

[2018-01-06 15:23] hmilxin commented on #141
@alsrgv thank you！
  I tested it, it's well.  But I found a new problem with “tensorflow_word2vec.py”  when running on two machines with 4 GPUs(). I have TF 1.4, horovod 0.11.1 and openmpi 3.0.0.
 Here is a command I use to run:  （use tcp）
   mpirun -np 4 \
      -H server1:2,server2:2 \
      -bind-to none -map-by slot \
      -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH \
      python tensorflow_word2v

[2018-01-07 19:05] ahundt opened #142 "How can I tell if horovod is installed correctly and if features are enabled/disabled?"
For example, how can I tell horovod has found and is able to use MPI and NCCL correctly?

I've installed horovod and I'm trying to start out with multi-gpu training on a single machine, then later a cluster. It appears to run locally but I'm not sure how to tell what features are enabled and disabled based on the packages I've installed.

[2018-01-08 14:45] dyoung23 commented on #67
@alsrgv .Thanks  your solution.
This time I used your method ``steps=batches_per_epoch // hvd.size()``.And it looked well.It got 1.7 times speed up by using 2 GPUs and 2.3 times using 3 GPUs on one machine than using one GPU.
But I tried to run same program on two machine with two GPUs.It was slower than normal.It takes 148 seconds per 100 steps while it need only 35 seconds per 100 steps using on

[2018-01-08 21:33] alsrgv commented on #141
@hmilxin, can you quantify how much time it takes between prints in single machine vs two machine case?

E.g., between these two:
[code]

Also, can you share which compilation flags did you use when you compiled Horovod?

[2018-01-08 21:37] alsrgv commented on #142
@ahundt, at this point there's no API / debug print in Horovod to show which features it's compiled with.  It's a good idea to add them.

There are few ways you can check that it's working correctly indirectly:
1. If you run a job with `-x NCCL_DEBUG=INFO`, you should see debug messages from NCCL, e.g. `NCCL version 2.1.2+cuda8.0`
2. You can check whether MPI is working properly by inspecting `hvd

[2018-01-08 21:41] alsrgv commented on #67
@dyoung23, what's the network interface speed between two machines?  How large is the model (what's the size of checkpoint file?)?

[2018-01-08 21:48] alsrgv commented on #86
Closing this issue due to lack of activity.  Please feel free to reopen or raise a new one if you have more questions.

[2018-01-08 21:49] #86 closed

[2018-01-08 21:49] alsrgv commented on #74
Closing this issue due to lack of activity.  Please feel free to reopen or raise a new one if you have more questions.

[2018-01-08 21:49] #74 closed

[2018-01-08 21:49] alsrgv commented on #89
Closing this issue due to lack of activity.  Please feel free to reopen or raise a new one if you have more questions.

[2018-01-08 21:49] #89 closed

[2018-01-09 02:36] dyoung23 commented on #67
@alsrgv .Both of them are 1000Mb/s.So I think the network speed between two machines should be 1000Mb/s too.
[code]
And the checkpoint file is about 180M.
[code]

[2018-01-09 02:51] alsrgv commented on #67
@dyoung23, then 148 seconds per 100 steps makes sense.  Assuming gradients are about the same size as weight, it takes 1.44 second per step to transmit the data.  You need to upgrade you NIC to at least 10 Gbit, or, preferably to 25 Gbit.

[2018-01-09 06:49] nischalhp commented on #8
@alsrgv We are facing the same issue with our implementation of a deep learning architecture with keras and running horovod on it. Could you point me to the example where you are using CPU to computing the average by the DistirbutedOptimizer?

[2018-01-09 14:03] joeyearsley opened #145 "XLA + Horovod + FP16"
When running Horovod with XLA and `n` gpus, XLA will create `n` XLA instances on each GPU whilst only using the `i`th XLA instance on that card. Where `i` is the card number.

Have you ran into this/ Do you know a way around this?

We have seen XLA dramatically speed up our code with NCCL replicated, however we are struggling to get Horovod up to the same speeds.

 Also, with FP16 it seems we can'

[2018-01-09 20:20] alsrgv commented on #145
Hi @joeyearsley,

Can you clarify a bit more how you use XLA, NCCL and Horovod?  In my mind, XLA is used for inference, so I want to understand the context a bit more.

Re. FP16 - are you planning to run pure FP16 training?  We don't have support for FP16 at the moment, but it's pretty easy to add.  I have tried FP16 training with TF benchmarks (see #119) and got 15-20% speedup, but that transmits

[2018-01-09 20:39] alsrgv commented on #8
@nischalhp, do you want to compute all the averages on CPU, or just for specific gradients?  In the former case, you can specify `hvd.DistributedOptimizer(opt, device_dense='/cpu:0')`.

[2018-01-10 06:11] gyeongin opened #146 "Unable to run Horovod in distributed environment"
Hi,

I've faced an unknown hanging issue while running Horovod on 2 machines.
My environment is:
* tensorflow r1.5 branch built from source
* 2 MT4115 ConnectX®-4 HCA for each machine + IB switch
* 10G ethernet
* OpenMPI 3.0.0

I can execute the following commands (both on `server1`):
[code]
[code]
But I cannot execute this:
[code]

I have tested basic MPI examples such as `mpi_ring.cc` using mult

[2018-01-10 06:47] alsrgv commented on #146
@gyeongin, thanks for the detailed description.  Can you attach the output of `thread apply all bt` from gdb as well as output from the script?

Can you also check that there's no other MPI installed in the system?  E.g. `find /usr | grep mpi | grep \\.so`.

[2018-01-10 07:38] gyeongin commented on #146
Thanks for quick response, @alsrgv. I've checked I dont have other MPI installation
Please refer to the links below:
1) output from the script `mpirun -np 2 -H server1:1,server2:1 ...` [link](https://gist.github.com/gyeongin/c8ba37ff3a35fbb34add542eb6ab253b)
2) bt of TF process on server-1 [link](https://gist.github.com/gyeongin/99878195cebdca5a2a6ad71c17e1901f)
3) bt of TF process on server-2 [li

[2018-01-10 07:42] alsrgv commented on #146
Seems that it happened [before](https://github.com/uber/horovod/issues/74#issuecomment-342173803).  Can you try `-mca btl_openib_if_include mlx5_0:1`?  If that doesn't work, can you also try `-mca btl ^openib`?  The latter will force MPI to use TCP for coordination, but NCCL will still use InfiniBand.

[2018-01-10 08:01] gyeongin commented on #146
Still does not work with the following command ;)
[code]

[2018-01-10 08:11] alsrgv commented on #146
Any change to output or backtraces?  In previous trace, MPI hanged on the broadcast operation [one](https://gist.github.com/gyeongin/99878195cebdca5a2a6ad71c17e1901f#file-with-mca-btl-openib-L1872), [two](https://gist.github.com/gyeongin/6339f91a54d127892d499f133790d037#file-with-mca-btl-openib-L1846).

[2018-01-10 11:17] joeyearsley commented on #145
Hi @alsrgv,

Sorry, I wasn't casting my logits to float32 so that fixed the nccl broadcasting in Horovod.

So that now works, I see an improvement of:
- 167% (2.67x) using mixed precision and XLA _(vs no XLA)_
- 139% (2.39x) using FP32 and XLA _(vs no XLA)_
- 31% (1.31x) using mixed precision _(vs fp32)_ and XLA
- 20% (1.2x) using mixed precision  _(vs fp32)_ and no XLA

I use XLA via the [jit ini

[2018-01-11 06:55] gyeongin commented on #146
@alsrgv You are pointing new backtraces, which uses `-mca btl ^openib`.

[2018-01-11 07:39] hmilxin commented on #141
@alsrgv
mpirun -np 2 -H localhost:2 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH python tensorflow_word2vec.py
Log：--------------------------------------------------------------
Average loss at step  0 :  269.390014648
Average loss at step  0 :  299.440856934
Average loss at step  2000 :  87.3621843588  step_Time: 12.083
Average loss at step  2000 :  86.4530362191  step_Time: 1

[2018-01-11 07:47] hmilxin commented on #141
@alsrgv  another question：
We needed “clip_by_global_norm”  to calculate the gradient， In Horovod， where to add more good then？

eg：
tvars = tf.trainable_variables()
grads, _ = tf.clip_by_global_norm(tf.gradients(cost, tvars), config.max_grad_norm)
self._train_op = optimizer.apply_gradients(zip(grads, tvars), global_step=global_step)

[2018-01-11 13:18] gyeongin commented on #146
@alsrgv Do you use CUDA-aware MPI installation? (e.g., OpenMPI configured with `--with-cuda` option)
What do you think about [this](http://docs.nvidia.com/deeplearning/sdk/nccl-developer-guide/index.html#intergpu) documentation? Is this can be a problem in Horovod?

[2018-01-11 20:42] alsrgv commented on #146
@gyeongin, very interesting pointer! We are not using CUDA-aware MPI typically. Horovod only uses CUDA-aware MPI if you compile it with `HOROVOD_GPU_ALLGATHER=MPI HOROVOD_GPU_BROADCAST=MPI`. Which installation command did you use?

[2018-01-11 20:50] alsrgv commented on #141
@hmilxin, thanks for the timing information.  Basically, time just grows linearly - it is expected for that example.  The word2vec model is very small and is mostly used to demonstrate/test working of sparse gradients used by embeddings.  Time per iteration is very low - 12 sec per 2000 iterations, 6ms per step.  This leaves very little time to communicate gradients between workers.

In order to m

[2018-01-11 20:57] alsrgv commented on #145
@joeyearsley, would be great if you could share your benchmarking code.

Replicated / vs Horovod with XLA speed-up you see may potentially be related to the fact that you're probably running one process in replicated set up, and N (# GPU) processes in Horovod case - which presents more work to XLA compiler as it independently needs to do N times more work.  What if you start your sampling in this

[2018-01-12 05:28] hmilxin commented on #141
@alsrgv ,  thank you !!!      I will try again,
Is horovod a plan for async mode?

[2018-01-12 08:08] gyeongin commented on #146
@alsrgv I've used the following command for installing Horovod:
`HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GPU_ALLGATHER=MPI HOROVOD_GPU_BROADCAST=MPI pip install --no-cache-dir horovod`
I have CUDA-aware OpenMPI installation and my tensorflow is built with MPI support.

[2018-01-12 10:37] joeyearsley commented on #145
@alsrgv Unfortunately our benchmarking code is currently not setup for synthetic data at the moment so we can't release it.

I'll try doing that, however we've realised now that with XLA our code doesn't converge - so we are currently digging into that, as the speed ups look great.

I'll try that in the future, for now single servers do the job.

[2018-01-12 18:12] nischalhp commented on #8
@alsrgv Okay, thank you. Will try this out and keep you posted. I think we can close this issue for now.

[2018-01-13 00:44] alsrgv commented on #141
@hmilxin, not at the moment.  A number of researchers indicated that appearance of speed up produced by async mode is often offset by stale gradient problem, and as result model not converging to comparable accuracy.

[2018-01-13 00:46] alsrgv commented on #146
@gyeongin, can you reinstall Horovod with `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod` and, if it's not enough, try TF without MPI support (just in case)?

[2018-01-13 00:46] alsrgv commented on #8
@nischalhp, sounds good.

[2018-01-13 00:46] #8 closed

[2018-01-14 11:10] gyeongin commented on #146
@alsrgv `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod` works, thanks!
Does removing `HOROVOD_GPU_ALLGATHER=MPI HOROVOD_GPU_BROADCAST=MPI` flag make Horovod works a little slower for sparse tensors?

[2018-01-15 23:40] alsrgv commented on #146
@gyeongin, if your sparse tensors are not huge, e.g. typical word embedding, it should not matter much, but for very large sparse tensors you may notice a difference.

This is the first time I'm seeing CUDA MPI break NCCL though.  We should update the documentation to account for that.

[2018-01-16 05:20] Sampson1107 opened #147 "recv failed : Connection reset by peer？"
mpirun --allow-run-as-root  -np 4 -H localhost:4 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -mca pml ob1 -mca btl_openib_receive_queues P,128,32:P,2048,32:P,12288,32:P,65536,32 python scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py --model resnet101 --batch_size 64 --variable_update horovod

node1:54573:54696 [1] include/socket.h:194 WARN Call to recv failed : Connection reset

[2018-01-16 05:50] alsrgv commented on #147
@Sampson1107,

What messages were in the log prior to `TENCENT64:16736:16986 [1] include/socket.h:194 WARN Call to recv failed : Connection reset by peer`?

Can you check `ifconfig`, and if you see interfaces like `docker0`, add `-x NCCL_SOCKET_IFNAME=^docker0`?

[2018-01-16 06:27] Sampson1107 commented on #147
@alsrgv There are no docker0
eth0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        ether 24:8a:07:e1:9b:80  txqueuelen 1000  (Ethernet)
        RX packets 0  bytes 0 (0.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 0  bytes 0 (0.0 B)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

eth1: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500

[2018-01-16 06:33] Sampson1107 commented on #147
@alsrgv
There is no docker0.
eth0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
......

eth1: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
  ......

lo: flags=73<UP,LOOPBACK,RUNNING>  mtu 65536
......

[2018-01-16 06:36] Sampson1107 commented on #147
@alsrgv
The log like this:
Extracting MNIST-data-0/train-images-idx3-ubyte.gz
Extracting MNIST-data-1/train-images-idx3-ubyte.gz
Extracting MNIST-data-1/train-labels-idx1-ubyte.gz
Extracting MNIST-data-1/t10k-images-idx3-ubyte.gz
Extracting MNIST-data-0/train-labels-idx1-ubyte.gz
Extracting MNIST-data-0/t10k-images-idx3-ubyte.gz
Extracting MNIST-data-1/t10k-labels-idx1-ubyte.gz
Extracting MNIST-da

[2018-01-16 06:49] alsrgv commented on #147
@Sampson1107, looks like something is happening with your `mlx4_0` interface:
[code]

Can you try to add `-x NCCL_IB_DISABLE=1` and see if it helps?

[2018-01-16 07:01] Sampson1107 commented on #147
@alsrgv
Thanks， it works!
Will this decrease the performance of the training speed?

[2018-01-16 07:06] alsrgv commented on #147
@Sampson1107, if you will run Horovod across multiple machines, RoCE should give you better performance.  In that case, we'd have to figure out why NCCL is failing to initialize it.

[2018-01-16 07:18] Sampson1107 commented on #147
@alsrgv
Alsrgv, I will run Horovod across multiple machines and I want to get a high training speed. Is there any bug or is it my problem?

[2018-01-16 07:28] Sampson1107 commented on #147
The nccl version I used  is nccl_2.1.2  and ROCE is used for my server. The mlx4_0 is as following(the port 1 is down):
CA 'mlx4_0'
	CA type: MT4103
	Number of ports: 2
	Firmware version: 2.36.5000
	Hardware version: 0
	Node GUID: 0x248a07030068f380
	System image GUID: 0x248a07030068f380
	Port 1:
		State: Down
		Physical state: Disabled
		Rate: 40
		Base lid: 0
		LMC: 0
		SM lid: 0
		Capability ma

[2018-01-16 08:14] alsrgv commented on #147
According to quick googling:
[code]
(from http://lists.openfabrics.org/pipermail/ewg/2010-February/014826.html)

@bureddy, do you have any pointers or user guides for @Sampson1107 to diagnose this problem?

[2018-01-16 11:52] Sampson1107 opened #148 "node1:22671:22795 [1] transport/p2p.cu:431 WARN failed to open CUDA IPC handle : 30 unknown error"
During run the distrbuted mode on two server. The following error appears.
node1:18225:18239 [0] INFO NET/IB : Using interface eth1 for sideband communication
node1:18225:18239 [0] INFO Using internal Network Socket
node1:18225:18239 [0] INFO Using NCCL Low-latency algorithm for sizes below 16384
node1:18226:18240 [1] INFO NET : Using interface eth1:100.102.32.176<0>
node1:18226:18240 [1] INFO NET

[2018-01-16 11:54] Sampson1107 commented on #147
@alsrgv
Thanks a lot! Uninstall the IB driver and the problem is solved.

[2018-01-16 11:59] alsrgv commented on #148
Seems like same issue as https://github.com/uber/horovod/issues/110#issuecomment-347754834 - do both of your servers have the same host name?

[2018-01-16 12:01] alsrgv commented on #147
Removing the driver will have the same effect as NCCL_IB_DISABLE. It would be good to figure out source of the error and fix it to get a better perf.

[2018-01-16 14:47] Sampson1107 commented on #148
@alsrgv
Thanks, I get it!

[2018-01-16 14:49] Sampson1107 commented on #147
@alsrgv
OK. Perhaps it has two network drivers. I will figure out the reason the next step!

[2018-01-16 14:51] #147 closed

[2018-01-16 14:51] #148 closed

[2018-01-17 03:13] liying-liu commented on #107
@asanakoy Hi, I am having exactly the same issue as you. Did you solve it eventually and how?

[2018-01-17 06:06] TillLindemann opened #149 "Trying to run HOROVOD on my 1-gpu machine ,but got an error"
My own PC only got 1 gpu(the lab got multi-gpus),and I wanna test the HOROVOD if it can work on single gpu.
HERE is my command:
mpirun -np 1 \
    -H localhost:1 \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH \
    python3 tensorflow_mnist.py

and I got the error below:
2018-01-17 13:50:43.080380: I tensorflow/core/platform/s3/aws_logging.cc:53] Initializing Curl libr

[2018-01-17 06:07] TillLindemann commented on #149
any suggestions will be appreciated

[2018-01-17 06:21] TillLindemann commented on #149
OK,I found the reason.It's just a server request problem when downloading the MNIST DATA.Now I manually download the MNIST DATA ,and everything goes well.

[2018-01-17 11:26] asanakoy commented on #107
@liying-liu no, I haven't solveed it yet. It still crashes from time to time (roughly once per 1-2 days). And I was lazy to get a core dump. If you do what @alsrgv said it might help to find out what is going on.

[2018-01-19 05:29] alsrgv commented on #149
@TillLindemann, great!  I will close this issue since you found the solution.

[2018-01-19 05:29] #149 closed

[2018-01-22 13:56] giladcohen opened #151 "Training multiple workers with different train operations?"
I wish to implement synchronized training for MultiNet:

<img width="1107" alt="image" src="https://user-images.githubusercontent.com/20541403/35223844-89f4455e-ff8b-11e7-9587-ec4919ef3b37.png">
(paper in https://arxiv.org/pdf/1612.07695.pdf)

I want to use 3 workers training in parallel the 3 different heads (Classification/Detection/Segmentation). Each of my 3 nodes should have a specific train

[2018-01-22 15:20] Sampson1107 opened #152 "For the large Full Connect layer"
@alsrgv
If  one full connect layer have the 90 percent  weight parameters in a 100 layers network, is there any method to split the gradients and  allreduce them?

[2018-01-22 22:23] alsrgv commented on #151
@giladcohen, does each of (1), (2), (3) fit on a single GPU with an appropriate batch size?  If so, you could manually place them there using `with tf.device('/gpu:X')` and use Horovod across these 3-GPU workers.

[2018-01-22 22:26] alsrgv commented on #152
@Sampson1107, you could try to define two (or more) separate dense layers that would be placed on different GPUs using `with tf.device('/gpu:X)`, and then concatenate them.  You can then use Horovod across workers.

E.g.:

[code]

Will become:
[code]

[2018-01-22 23:27] giladcohen commented on #151
Yes, every head fits into a single GPU, but with different batch size. Is it problematic to run (1),(2),(3) with different batch_sizes?

I plan to write something like this:

enconder_out = convnet(input)
with tf.device('/gpu:0'):
    head0_loss = classification_head(enconder_out)
    head0_variables = tf.get_collection(<variables_in_backbone_and_head0>)
    head0_optimizer = tf.train.AdamOptimize

[2018-01-23 04:01] alsrgv commented on #151
Different batch sizes should not be a problem.

You probably don't need to explicitly do:
[code]

Instead, you can just do regular `hvd.DistributedOptimizer`, but specify the device:

[code]

Re: batch norm - which components will have batch norm layers - CNN encoder with VGG, heads?

[2018-01-23 09:38] giladcohen commented on #151
Thank you @alsrgv.
Both the VGG encoder and the heads can have batch normalization layers.
Each worker needs to update the batch normalization parameters in its corresponding head, but how should I update the batch normalization parameters in the encoder?
Lets assume all the tasks employ the same batch_size.
If all workers shared the same input data, I could just choose one worker to update the ba

[2018-01-24 08:58] alsrgv commented on #151
I think if you share parameters among heads, BN parameters would get updated from all the sources of gradient updates.  In order to average them, you could adjust learning rate for VGG to be 1/3rd of typical learning rate, similar to https://github.com/tensorflow/tensorflow/issues/313.  Would that work?

[2018-01-25 01:14] hmilxin opened #153 "The call to cuMemcpyAsync failed."
HI，
     There was a mistake when we ran horovod one day，
     One note and two GPUs.
     mpirun -np 2 -H localhost:2 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH python train.py

 The log：
2018-01-25 08:26:42.262115: E tensorflow/stream_executor/cuda/cuda_driver.cc:1124] could not synchronize on CUDA stream: CUDA_ERROR_ILLEGAL_ADDRESS :: No stack trace available
-------------

[2018-01-25 10:52] alsrgv commented on #153
@hmilxin, seems to be some issue with CUDA-aware OpenMPI.

I recommend building Horovod **without** CUDA-aware MPI (i.e. set `HOROVOD_GPU_ALLREDUCE=NCCL`, and don't set `HOROVOD_GPU_BROADCAST` or `HOROVOD_GPU_ALLGATHER` when you install it) unless you've proven that CUDA-aware MPI gives performance advantage on your system.

[2018-01-25 11:00] alsrgv commented on #153
BTW, would be great if you reported this issue to https://github.com/open-mpi/ompi/issues as well.

[2018-01-25 14:39] giladcohen commented on #151
Hi, not all the BN parameters are updated by the optimizers.

tf.layers.batch_normalization:
"""When training, the moving_mean and moving_variance need to be updated. By default the update ops are placed in tf.GraphKeys.UPDATE_OPS, so they need to be added as a dependency to the train_op."""

I can train many steps without updating the moving average/variance, but prior to running validation I nee

[2018-01-25 21:25] alsrgv commented on #151
@giladcohen, what if you modify momentum of the batch norm to have 1/3 of "update power", i.e. 0.9967 instead of default 0.99, and then run updates from all three towers sequentially?  Should give you approximately the same answer without the code complexity.

[2018-01-26 02:40] hmilxin commented on #153
@alsrgv  Ok， I'll try ， thank you

[2018-01-26 03:47] ksy3395 opened #154 "unordered_map error"
Hello,

I am having trouble to install horovod on macOS 10.12.6.
Could you help me if there is any way to fix this?

Thank you,
Soyoung Kim

Error message below
-----------------------------------------------------------------------------------------------------
Collecting horovod
  Downloading horovod-0.11.2.tar.gz (71kB)
    100% |████████████████████████████████| 81kB 1.8MB/s
Installing collect

[2018-01-26 03:54] alsrgv commented on #154
@ksy3395, what does `clang --version` output on your Mac?

[2018-01-26 03:56] ksy3395 commented on #154
Thank you for your response! I got this:

Apple LLVM version 9.0.0 (clang-900.0.39.2)
Target: x86_64-apple-darwin16.7.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

[2018-01-26 04:09] alsrgv commented on #154
@ksy3395, can you add `MACOSX_DEPLOYMENT_TARGET=10.12` before your pip install command?

[2018-01-26 04:11] ksy3395 commented on #154
It worked! Thank you so much!

Collecting horovod
  Using cached horovod-0.11.2.tar.gz
Building wheels for collected packages: horovod
  Running setup.py bdist_wheel for horovod ... done
  Stored in directory: /Users/soyoungkim/Library/Caches/pip/wheels/4f/9c/0b/c91cfa87fe7d33c5ba88e6cf46e77a5f909591c490f2ba2745
Successfully built horovod
Installing collected packages: horovod
Successfully install

[2018-01-26 05:45] alsrgv commented on #154
The issue turned out to be quite interesting. Python setup tools set `MACOSX_DEPLOYMENT_TARGET` to the same version that Python was built with, which in your case should be older than 10.7.

Marking this as an enhancement request to automatically set `MACOSX_DEPLOYMENT_TARGET` to counteract this effect:
[code]

[2018-01-27 06:24] alsrgv commented on #96
@Nimi42, take a look at this example - https://gist.github.com/alsrgv/cbbb2e25f09c1df983098098511d16c4.  Relevant parts are marked with "Horovod Model Parallelism" comment.

In that example, each process uses two GPUs.  I have 4 GPUs per server, so I launch two processes per server.  I run it with:
[code]

The open-source version of OpenMPI directly does not use NCCL 2.  Some of proprietary forks/

[2018-01-28 10:05] gyeongin opened #155 "Building Horovod from source"
Hi, I am trying to make some modifications to Horovod internals, but could not find documentations for building Horovod from source. Could you kindly let me know how to do this?

[2018-01-28 12:10] giladcohen commented on #151
Yes, setting 0.9967 instead of 0.99 could work if there was a shared parameter server that holds the current moving_mean and moving_average. Since every task (every GPU) updates its own moving values, how can they sync in horovod? The UPDATE_OPS are operations, not gradients.

[2018-01-28 19:05] alsrgv commented on #151
@giladcohen, this way you would have per-GPU averaged batch norm parameters.  Keeping batch-norm parameters to bounds of GPU, rather than computing batch norm parameters across all servers was advocated in #49, as well as Facebook's [paper](https://research.fb.com/wp-content/uploads/2017/06/imagenet1kin1h5.pdf).

[2018-01-28 19:07] alsrgv commented on #155
@gyeongin, the simplest way would be...

[code]

[2018-01-28 19:10] giladcohen commented on #151
I'll try that. The issue can be closed.
Thanks @alsrgv!

[2018-01-28 19:11] #151 closed

[2018-01-29 04:57] gyeongin commented on #155
@alsrgv Thanks!

[2018-01-30 20:57] fastalgo opened #156 "Any distributed ResNet-50 by tensorflow example?"
Facebook scaled ResNet-50 to 8K, is there an example to implement?
https://research.fb.com/wp-content/uploads/2017/06/imagenet1kin1h5.pdf

The resnet-50 example at https://github.com/uber/horovod/blob/master/examples/keras_imagenet_resnet50.py
is based on keras.

Is there a tensorflow version example?

Thanks!

[2018-01-30 21:20] alsrgv commented on #156
Hi @fastalgo,

Not at the moment.  We implemented the example in Keras, because it's so much more concise than TensorFlow, especially for standard convnets.

The contribution of TensorFlow example would certainly be very welcome!

Thanks,
Alex

[2018-01-30 21:35] fastalgo commented on #156
Thanks so much!

[2018-01-31 07:26] Agoniii opened #157 "Error using horovod to run tensorflow benchmark"
tensorflow version: 0.15.0rc
horovod version: 0.11.2
NCCL version 2.1.2+cuda9.0

I used horovod to run tensorflow benchmark on one machines with 8 gpus . My command is as follows(using the HOROVOD_FUSION_THRESHOLD):
[code]
But it got the error :

[code]

[2018-01-31 07:28] alsrgv commented on #157
@Agoniii, you can ignore that error - it happens with CUDA-aware Open MPI upon TensorFlow termination and is not harmful.

[2018-01-31 07:50] Agoniii commented on #157
@alsrgv Thanks for your quick answer. I have another question to ask you please.

When I run on  two machines with 8 gpus per machine. My command is as follows(using the HOROVOD_FUSION_THRESHOLD):
[code]
My results are vary greatly within 5 tests.

| Test1 | Test2 | Test3 | Test4 | Test5 |
| :------- : | :------- : | :------- : | :------- : | :------- : |
| 2082.97 | 1217.45 | 1149.17 | 2310.15 |

[2018-02-01 06:55] alsrgv commented on #157
@Agoniii, few questions:

1. What kind of network do you have between machines?
2. How much does performance fluctuate during each run, as it prints out images/sec?
3. Can you try specifying large `--num_batches` value, say 1000, and report if you see any difference in the behavior?

[2018-02-01 09:46] Agoniii commented on #157
@alsrgv
1. Network between machines is 10 GbE.
2. The performance fluctuate:
   for test4: 100 images/sec: 144.6 +/- 3.2 (jitter = 45.5)
   for test5: 100 images/sec: 82.0 +/- 2.6 (jitter = 27.1)
3. I found that I did not set  `HOROVOD_GPU_ALLREDUCE=NCCL` When I installed horovod.
After reinstalled with NCCL, the results are relatively stable:
| Test1 | Test2 | Test3 | Test4 | Test5 |
|:-------:|:

[2018-02-01 18:12] ppwwyyxx opened #159 "Access to MPI_Barrier as an op?"
My use case: I wanted to do some extra things (e.g. validation) in process rank 0, and would like other processes to wait for it.
If other processes don't wait for it, when it takes too long on process 0 to do these things, I saw things like:
[code]

After many of this messages the training hangs forever. I guess after they waited too long they will give up eventually?

Is it OK to add an op which

[2018-02-01 19:06] alsrgv commented on #157
@Agoniii, that's a little better.  What performance do you get on a single GPU?  10 GbE is on a lower side, we typically recommend 25-50 GbE for Pascal and 50-100 GbE for Volta.

[2018-02-01 19:15] alsrgv commented on #159
The purpose of this warning is to show to the user that there's a large asymmetry in his workload.  Since you have many GPUs waiting, can you shard your validation load on all of them, and then simply average metrics with allreduce, like [here](https://github.com/uber/horovod/blob/master/examples/keras_mnist_advanced.py#L91)?

There's no "give up" mechanics, so if you see these messages forever, i

[2018-02-01 22:56] alsrgv commented on #159
@ppwwyyxx, actually, we just realized internally that we'd need to make a small change to allow other MPI operations to coexist with Horovod.  We plan to release a large refactor with a bundle of changes including this in a couple of weeks, but let us know if you want to try this earlier and I can push a private branch for you.

[2018-02-01 23:08] ankurhanda commented on #100
I'm running the tensorflow_mnist.py on 24 GPUs and been observing the same issue. I didn't change the file except changing paths. ```WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that only subset of

[2018-02-01 23:23] ppwwyyxx commented on #159
Thanks! I do hope to have access to MPI primitives like MPI_Barrier.

I understand that keeping all other GPUs waiting is not a good idea for performance, but it can be very helpful during debugging. Also, for metrics other than accuracy, it's not always easy to shard and distribute the evaluation tasks.

[2018-02-01 23:29] alsrgv commented on #159
@ppwwyyxx, `hvd.allreduce([], name="Barrier")` would produce an equivalent effect to an MPI_Barrier.  But it would still print a warning that other nodes are waiting on the node running the validation, which can be ignored.  Would that work for you?  We can think about finer control over warnings if you don't want to see them.

[2018-02-01 23:39] alsrgv commented on #100
@ankurhanda, thanks for the command.  Assuming all 24 GPUs are not on the same machine, you should specify hostnames using -H, e.g. `-H server1:8,server2:8,...` if you have 8 GPUs per server.

[2018-02-02 15:51] ankurhanda commented on #100
thanks the answer was something closer to what you suggested!

[2018-02-02 16:17] ankurhanda opened #160 "horovod with my custom data loader"
Hi @alsrgv I am using a custom implementation of u-net and the code is available here: https://github.com/ankurhanda/tf-unet

Places where I use horovod are
- https://github.com/ankurhanda/tf-unet/blob/master/UNet.py#L51-L57
- https://github.com/ankurhanda/tf-unet/blob/master/train_u-net.py#L107-L108

I was assuming that I'd have to increase the batch size as batch_size_per_gpu * number_of_gpus. H

[2018-02-02 16:23] #103 closed

[2018-02-02 17:10] ankurhanda commented on #160
I also think MNIST example isn't very convincing because the size of images is very small and you'd never catch ways where things can go wrong. Once this works out I'm happy to push that in to the main repo of horovod.

[2018-02-02 21:30] alsrgv commented on #160
Can you un-comment this line https://github.com/ankurhanda/tf-unet/blob/master/train_u-net.py#L98?  Right now every TensorFlow process will place the model on first GPU.

Also, I didn't see `hvd.broadcast_global_variables()` or `hvd.BroadcastGlobalVariablesHook()` anywhere.  You should add it so that all your workers start from the same weights.

All these steps can be found in https://github.com/

[2018-02-02 21:33] ankurhanda commented on #160
I see -- sorry I should have read the documentation properly.

[2018-02-02 21:33] alsrgv commented on #160
No worries!  Thanks for sharing the code by the way.  Makes it much easier to help :-)

[2018-02-03 13:09] ankurhanda commented on #160
messaging to let you know that things are running good! If you wish to add this example in your codebase let me know https://github.com/ankurhanda/tf-unet/blob/master/train_u-net_horovod.py it is per-pixel image segmentation network. The network is nicely decoupled from the main code in a class and is fairly straight forward to understand.

[2018-02-04 15:19] mfojtak opened #161 "Horovod dosn't work with CUDA 9.1"
pip  install returns following error:

[code]

[2018-02-04 22:58] alsrgv commented on #161
@mfojtak, are you able to use TensorFlow without Horovod on that system?  The installation is complaining that it cannot import tensorflow library.

AFAIK since TF 1.5 they have switched to CUDA 9.0 as a default environment and you may need to rebuild TensorFlow from source for CUDA 9.1 support.

[2018-02-05 08:48] feiyilicare opened #162 "docker distributed sample cannot work"
i use your dockerfile build docker image, and in diffience machine

this is the first machine  gpu information:
Mon Feb  5 08:46:30 2018
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 375.26                 Driver Version: 375.26                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Pers

[2018-02-05 10:53] johnkim126 opened #163 "Does it unstable to use Multiple GPU per MPI Process?"
Hello, Great Team.

I knew that Horovod can execute tensorflow code with Multiple GPU.

In the usage, It looks like horovod recommended using GPU per process.
--> Pin a server GPU to be used by this process using config.gpu_options.visible_device_list. With the typical setup of one GPU per process, this can be set to local rank

So, Does it unstable to use Multiple GPU per MPI Process?

[2018-02-05 18:01] alsrgv commented on #163
@johnkim126, you can use multiple GPU per process - just make sure to change `config.gpu_options.visible_device_list` appropriately and manage data exchange between GPUs.  E.g. see discussion / examples here - https://github.com/uber/horovod/issues/96.

[2018-02-05 18:12] alsrgv commented on #162
@feiyilicare, can you make sure:

1. `/mnt/share/ssh` exists and has keypair for passwordless ssh.  E.g. it should have `id_rsa` and `authorized_keys` files set up [appropriately](http://www.linuxproblem.org/art_9.html).

2. In the command that you execute on the first container, remove `\` if you're not using multiple lines.  `\` symbol must be last symbol on the line.  Also, make sure that `-np

[2018-02-06 02:37] feiyilicare commented on #162
in my two contian, first contain run root@chenai-Z97X-UD3H:/examples# mpirun -np 2 -H 192.168.1.102:1,192.168.1.183:1 -mca plm_rsh_args "-p 12345" python keras_mnist_advanced.py
second contain run  root@LearnFarm01:~# nvidia-docker run -it --network=host -v /mnt/share/ssh:/root/ssh horovod:latest     bash -c "/usr/sbin/sshd -p 12345; sleep infinity"
But print nothing information in a long time, wh

[2018-02-06 03:34] alsrgv commented on #162
Which host has which IP address? Can you do `ssh 192.168.1.102` from the first container as well?

[2018-02-06 03:36] feiyilicare commented on #162
yes,192.168.1.102 is the first container, i also can ssh 192.168.1.102, this is ssh information
root@chenai-Z97X-UD3H:/examples# ssh 192.168.1.102
Welcome to Ubuntu 14.04.5 LTS (GNU/Linux 4.4.0-104-generic x86_64)

 * Documentation:  https://help.ubuntu.com/
New release '16.04.3 LTS' available.
Run 'do-release-upgrade' to upgrade to it.

Last login: Tue Feb  6 11:17:28 2018 from host1
root@chenai-

[2018-02-06 04:02] alsrgv commented on #162
Can you modify the command to be `mpirun -np 2 -H 192.168.1.102:1,192.168.1.183:1 -mca plm_rsh_args "-p 12345 -vvvv" python keras_mnist_advanced.py`, and share the output via http://gist.github.com?

[2018-02-06 04:30] feiyilicare commented on #162
Croot@chenai-Z97X-UD3H:/examples# mpirun -np 2 -H 192.168.1.102:1,192.168.1.183 -mca plm_rsh_args "-p 12345 -vvvv" python keras_mnist_advanced.py
OpenSSH_7.2p2 Ubuntu-4ubuntu2.4, OpenSSL 1.0.2g  1 Mar 2016
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 19: Applying options for *
debug2: resolving "192.168.1.183" port 12345
debug2: ssh_connect_direct: needpr

[2018-02-06 04:32] alsrgv commented on #162
Ah, I think there's a mistake in the documentation.  Can you try to replace `/root/ssh` with `/root/.ssh` in commands that you run on both machines?

[2018-02-06 05:54] alsrgv commented on #162
Your second command has typo: `nvidia-docker run -it --network=host -v /mnt/share/ssh:/ro/.ssh horovod:latest bash -c "/usr/sbin/sshd -p 12345; sleep infinity"`, `/ro/.ssh` should be `/root/.ssh`

[2018-02-06 05:56] feiyilicare commented on #162
this is copy mistake. i do this also get this information

[2018-02-06 07:36] alsrgv commented on #162
@feiyilicare, can you try `ssh -vvvv 192.168.1.183` **inside** the container and share the output?

[2018-02-06 07:48] feiyilicare commented on #162
root@chenai-Z97X-UD3H:/examples# ssh -vvvv 192.168.1.183
OpenSSH_7.2p2 Ubuntu-4ubuntu2.4, OpenSSL 1.0.2g  1 Mar 2016
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 19: Applying options for *
debug2: resolving "192.168.1.183" port 22
debug2: ssh_connect_direct: needpriv 0
debug1: Connecting to 192.168.1.183 [192.168.1.183] port 22.
debug1: Connection establi

[2018-02-06 07:54] alsrgv commented on #162
Ah, ok, looks like this connects to the host itself.  Can you try `ssh -p 12345 -vvvv 192.168.1.183` to connect to another container?

[2018-02-06 07:56] johnkim126 commented on #163
@alsrgv  Thanks.
I have another question.
Well, Keras code with multiple GPU code can use in Horovod?
-> using from keras.utils.training_utils import multi_gpu_model in Keras code
-> and remove config.gpu_options.visible_device_list and manage data exchange between GPUs.

[2018-02-06 07:57] feiyilicare commented on #162
^Croot@chenai-Z97X-UD3H:/examples# ssh -p 12345 -vvvv 192.168.1.183
OpenSSH_7.2p2 Ubuntu-4ubuntu2.4, OpenSSL 1.0.2g  1 Mar 2016
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 19: Applying options for *
debug2: resolving "192.168.1.183" port 12345
debug2: ssh_connect_direct: needpriv 0
debug1: Connecting to 192.168.1.183 [192.168.1.183] port 12345.
debug1: C

[2018-02-06 07:58] feiyilicare commented on #162
Permission denied (publickey,password).

[2018-02-06 11:48] aravind-ramesh opened #165 "keras_imagenet_resnet50.py errors out"
I am trying to run the ResNet50 model on a multi GPU Setup, I am using the script keras_imagenet_resnet50.py without any modifications to the model, but I am seeing this error, any ideas pointing what is causing this would be a great help...
I am able to run the keras_mnist.py and other scripts in a multi-host multi-gpu setup using the mpirun command.

bash::> mpirun -np 1 -H 192.x.x.x:1 -bind-to

[2018-02-06 13:14] mfojtak commented on #161
I downgraded to CUDA 9.0 and now I am getting following error:

[code]

My numpy version is:
[code]

[2018-02-06 14:06] mkovalski opened #166 "Splitting up large data sets"
Hello,

First off, thanks for creating such a great library, it is really appreciated!

What I wanted to know is if horovod supports a effective way for splitting up datasets between MPI processes or would this need to be prepossessed and sent via some MPI send/recv commands? In the tensorflow_mnist example, it looks as though each process will read the entire dataset. For large datasets, this can

[2018-02-07 02:00] alsrgv commented on #161
@mfojtak, can you `pip install -U numpy` and try again?

[2018-02-07 02:02] alsrgv commented on #165
@aravind-ramesh, can you try upgrading to latest version of Keras, just in case?

[2018-02-07 02:06] alsrgv commented on #166
@mkovalski, welcome, we're happy it's serving the community!

As for data partitioning, what we typically do is just random sampling from the whole dataset, if it's available via some distributed filesystem (NFS, HDFS, etc).  We then but the number of iterations by the number of workers.

Example of this approach is demonstrated [here](https://github.com/uber/horovod/blob/master/examples/keras_ima

[2018-02-07 02:07] alsrgv commented on #162
@feiyilicare, ok, so you cannot ssh between containers.  Can you check that permissions / ownership in `/root/.ssh` are set correctly and both `id_rsa` and `authorized_keys` are present?

[2018-02-07 03:29] aravind-ramesh commented on #165
I am running the latest keras 2.1.0

[2018-02-07 03:52] alsrgv commented on #165
@aravind-ramesh, the latest is 2.1.3.  There were quite a few bugfixes between 2.1.0 and 2.1.3.

[2018-02-07 06:08] aravind-ramesh commented on #165
Sorry, I am running 2.1.3.
aravind@R-54:~$ pip list
DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
absl-py (0.1.9)
backports.weakref (1.0.post1)
bleach (1.5.0)
enum34 (1.1.6)
funcsigs (1.0.2)
futures (3.2.0)
h5py (2.7.1)
horovod (0.11

[2018-02-07 06:54] aravind-ramesh commented on #165
I am using python2.7, Tensorflow 1.4, Cuda8.0...

[2018-02-07 07:02] alsrgv commented on #165
Thanks for confirming your versions.  After careful reading of logs, I think the problem is with your data pointer:
[code]

`train_dir` should be pointing to directory that contains 1000 subdirectories, each of which contains jpeg files.

[2018-02-07 07:29] aravind-ramesh commented on #165
Thanks for the reply.
Did you mean that the train_dir should have 1000 sub-directories with each directory having 22 images approximately ?
I have the imagenet dataset, with 12.5K cat images and 12.5K dog images, I have moved roughly 1K cat images and 1K dog images to the test_dir. So I should also have a 1000 sub directories in the test_dir and have 2 images in each directory ?
I am not sure why

[2018-02-07 09:47] aravind-ramesh commented on #165
That worked. Thanks.

[2018-02-07 09:51] Sampson1107 opened #167 "How to scatter the image data in every machine by using 'horovod broadcast'?"
In my application, there are 8 machines and I use the hvd.allreduce to aggregate the variables. I want to read the data by the first process( eg. process 0 ,9 ,17...) on every machine  and scatter the data to other gpus in the same machine. Can I use horovod to do this work? There are 8 gpus in every machine.

[2018-02-07 13:33] inscite opened #168 "with exactly same env, some host cannot launch horovod proc with parallelism"
Greetings!
Recently, I installed horovod on 4 different nodes with same environment factors.
However, only one node returns segmentation fault error.

OS: CentOS 7.1
Python: Anaconda Python 3.6.2 w/ virtualenv
TF: TensorFlow r1.4 source build for CUDA 9.0
CUDA: CUDA 9.0 w/ cuDNN v7
GPUs: multiple P100, K40m
O2IB: Mellanox Infiniband

Here's my command list for build OpenMPI:
$ sudo -s
$ ./configur

[2018-02-08 02:23] alsrgv commented on #168
@inscite, can you do `gdb python /path/to/core/dump`, then `thread apply all bt` and share the stack traces?

[2018-02-08 02:26] alsrgv commented on #167
@Sampson1107, you could run one process per server and do tower-based approach with gradient averaging. Then, you could do Horovod among nodes.

That said, what's the reason you want to run data processing only on first process and not all of them?

[2018-02-09 06:57] ksy3395 opened #169 "Question about the HOROVOD_MPICXX_SHOW environment variable"
Hello,

I am trying to install horovod on Ubuntu 17.10 x64, and I am having an error I couldn't solve.
Could you help me with this error? I check the $PATH, and it has openmpi, and I don't know about  HOROVOD_MPICXX_SHOW environment variable.

I got this error:
error: mpicxx -show failed (see error below), is MPI in $PATH?
  Note: If your version of MPI has a custom command to show compilation fla

[2018-02-09 07:06] mfojtak commented on #161
that fixed it. Thanks.

[2018-02-09 08:46] alsrgv commented on #168
@inscite, looks like the stack trace is pointing to InfiniBand plugin for Open MPI.  Can you try adding `-mca btl ^openib` to your `mpirun` command, which would disable IB at MPI level for a test?  It would still keep using IB for data exchange in NCCL.

[2018-02-09 08:57] inscite commented on #168
@alsrgv  Certainly. Here's how I generated several log files:
$ mpirun -mca btl ^openib -np 2 -H localhost:2 -bind-to none -map-by slot -x NCCL_DEBUG=DEBUG -x LD_LIBRARY_PATH bash -c 'source activate mpiworker;python tensorflow_mnist.py'

Well, the process also dead as a result. Here's some gdb stack traces:
[gdb_out_core_128354.log](https://github.com/uber/horovod/files/1710304/gdb_out_core_12835

[2018-02-09 09:42] #169 closed

[2018-02-09 10:16] alsrgv commented on #168
Very strange that it crashes on one particular machine.  Couple of things to check:
1. Are there any environment differences? OS, kernel, python version, etc.
2. Are there any messages in `dmesg` / syslog?

[2018-02-09 10:30] inscite commented on #168
@alsrgv For both you and me, this is a bizarre situation!

There was no significant message on dmesg, as well as any system logs.
Both Kernel and OS are exactly same, as well as python version is same.

Well, due to the unexpected issue, we expected to reset that exact computing node soon.
If there exists any issue again or not, we are happy to share the information about that node.
Thank you for

[2018-02-11 04:25] ppwwyyxx commented on #163
`from keras.utils.training_utils import multi_gpu_model` does not scale, and that's one of the reason horovod is useful.

[2018-02-11 22:43] SrivastavaKshitij opened #171 "Compatibility with other DL frameworks"
Hey there

I just want to know if Horovod is compatible with other deep learning frameworks such as MXnet and PyTorch and if yes, are there any specifics which needs to be taken care of when installing Horovod with these frameworks ?

Thanks

[2018-02-12 11:19] sabarinathh opened #172 "How does horovod work for async training? [Question]"
How does horovod work when training is **asynchronous**? ( tf.Session() is used instead of tf.train.MonitoredTrainingSession).

Global variables are broadcasted explicitly once model is loaded from checkpoint on worker 0.

[2018-02-12 11:27] #172 closed

[2018-02-13 11:45] glkclass opened #173 "workers located at same host converge better than workers at different hosts"
Hi,
running benchmarks from https://github.com/alsrgv/benchmarks/tree/horovod_v2 using horovod approach I see that configurations with workers located at same host converge better comparing to same number of workers but located at different hosts.
Hence the question: Do are math operations (gradient averaging, ...) the fully equivalent when workers are located on same host and on different hosts?

[2018-02-13 13:39] christopher5106 opened #174 "CNTK support / Keras"
Hi Guys,
Would you be open to integrate a pull request if I work on compatibility with KERAS+CNTK engine ?
Such a lib would help us clear the training code from distribution code... that would be great!
Thanks

[2018-02-13 15:16] udacitysimon opened #175 "horovod example as tensorflow_mnist.py"
Hi, I correctly installed horovod and can be test by run the example of tensorflow_mnist.py, first i run under np 3, which means i have 3 nodes each node has 1 GPU, total running time is 4 minutes 50 seconds till the training finished, then i run under np 1, which means i have only 1 node with 1 GPU, total runing time is almost same as np 3 case. I do not understand why the time cost is almost sam

[2018-02-13 17:09] glkclass commented on #175
Using more GPUs during this 'almost same running time' you should get better results (accuracy etc) comparing to single GPU.

[2018-02-13 19:02] alsrgv commented on #171
@SrivastavaKshitij, as of now, Horovod only supports TensorFlow and Keras with TensorFlow backend.  We are investigating PyTorch support at the moment.

[2018-02-13 19:15] alsrgv commented on #174
Hi @christopher5106,

I think support for Keras+CNTK would be great.  We are currently doing a major refactoring in the Horovod backend to make coordination and tensor reduction logic framework-agnostic.  After that change lands, adding CNTK support should be much more straightforward.

[2018-02-13 19:20] alsrgv commented on #175
@udacitysimon, tensorflow_mnist.py example is mostly a hello world example that demonstrates all the moving parts and is runnable on the laptop.  You can see actual speedups if you replace a model with a more powerful one.  We have an example of [ResNet50 training](https://github.com/uber/horovod/blob/master/examples/keras_imagenet_resnet50.py) which demonstrates scaling.

[2018-02-13 19:28] alsrgv commented on #173
Math operations are supposed to be the same, so this is very interesting.  Do you observe the same behavior with NCCL?

[2018-02-13 19:31] alsrgv commented on #174
@christopher5106, sure - will do.

[2018-02-14 00:05] udacitysimon commented on #175
@alsrgv thanks for your answer, i still have doubt that why can't see scaling in a hello world example. it should show some improvement when i use 3 GPU.
The example of ResNet50 training is a keras example, I will try to demonstrates but my team works on tensorflow, i would like to show tensorflow_mnist.py case which exist in horovod examples.

[2018-02-14 00:14] alsrgv commented on #175
@udacitysimon, you can add more layers to `tensorflow_mnist.py` example - then you should see 3-GPU take less wall clock time than 1-GPU.

[2018-02-14 00:23] udacitysimon commented on #175
@alsrgv thanks for your suggestion, i will try to make test that add more layers to tensorflow_mnist.py example and report the result.  I just updated my uppper comments. Can you guide me  why each 10 step the cost is changed from 0.059 to 0.16 that use 3 GPU.

[2018-02-14 00:38] alsrgv commented on #175
@udacitysimon, the synchronization between GPUs has non-zero cost, and if the model is too small, it may be dominating - that's most likely why you see higher step time in 3-GPU case.  In practice, you don't really need 3 GPUs to train 3-layer model - you'd either just use one GPU and train it in few mins, or train more complicated model with multiple GPUs.

[2018-02-14 00:41] udacitysimon commented on #175
@alsrgv thanks for your answer. this make sense. So next step is add more layers to the model. will report the result. Thanks again.

[2018-02-14 17:25] glkclass commented on #173
@alsrgv  I have Intel MPI, so installed Horovod using next command:
`HOROVOD_GPU_ALLREDUCE=MPI pip install horovod`
That means I don't use NCCL for all-reduce op  and I can't check it right now.
As I understood NCCL/NCCL2 is required only to perform all-reduce op fast
(please, correct me if I am wrong)

Do you guess that different all-reduce implementations may lead to such significant difference

[2018-02-14 18:41] alsrgv commented on #173
@glkclass, a couple of things to try and see if you observe any difference:
1. Use Intel MPI on CPU, i.e. install with: `pip install --no-cache-dir horovod`.  I'm curious if there is any discrepancy between CPU and GPU - MPI implementations often have bugs in GPU implementations.
2. Try NCCL2 - you should be able to do that irrespective of what MPI you're using.

[2018-02-14 19:11] glkclass commented on #173
@alsrgv ,
1. Do you mean to set flag horovod_allreduce=CPU ?
2. How can I force application to use nccl2 allrefuce instead Intel MPI allreduce? Any flag?

[2018-02-14 19:28] alsrgv commented on #173
1. You can set `--horovod_device cpu` in benchmarks.
2. Uninstall the current Horovod using `pip uninstall -y horovod` and then follow [this guide](https://github.com/uber/horovod/blob/master/docs/gpus.md#have-gpus) to setup Horovod with NCCL2.  You don't need to install Open MPI - this should work for Intel MPI as well.

[2018-02-16 12:54] #127 closed

[2018-02-16 19:36] #145 closed

[2018-02-19 10:14] glkclass commented on #173
1. --horovod_device = cpu/gpu - seems doesn't matter.
Have run 4 workers on 1/2/4 hosts with different `--horovod_device` flag. Results are attached. There is obvious difference between them (red, green, blue plots) irrespective to  `--horovod_device` flag.

2. Will try to do this later and publish results here.

![figure_1](https://user-images.githubusercontent.com/5112030/36372246-22bf3b3a-156d-

[2018-02-20 01:11] alsrgv commented on #173
Is total # of GPUs the same if you run on 1/2/4 hosts?  If not, you should adjust learning rate to be proportional to the # of GPUs.

E.g. if you learning rate on 1 GPU with batch size 32 is 0.01, your learning rate on 4 GPUs with batch size 32 should be 0.04.

[2018-02-20 06:12] glkclass commented on #173
@alsrgv, Total number of GPUs(workers) is 4 for all cases. They just located on 1/2/4 hosts: i.e. 4x1, 2x2, 1x4. From math point of view, they should be equivalent.

[2018-02-20 06:39] alsrgv commented on #173
@glkclass, thanks for the confirmation.  Please let me know how NCCL test goes.  I will run similar tests on my side.

[2018-02-20 07:06] glkclass commented on #173
@alsrgv , Ok. Will update you with nccl results, but maybe in several days.

[2018-02-22 19:00] mkovalski commented on #166
Thanks for the response! Ended up going with this technique and it works well.

[2018-02-22 19:00] #166 closed

[2018-02-22 23:47] prafulag opened #180 "mnist_advanced example freezing after printing epoch 1/24"
After printing "Epoch 1/24" from all devices, the GPU util goes to zero whereas process is still active on GPU with memory allocated.

However, mnist example is working fine. Seems to be some issue in fit_generator ?

[2018-02-23 03:06] alsrgv commented on #180
If you're using NCCL, can you run with NCCL_DEBUG=INFO and see if it prints any more info?

Thanks,
Alex

[2018-02-23 07:37] alsrgv commented on #173
@glkclass, I'm running a repro using https://github.com/tensorflow/benchmarks.

I modified a couple of things: 1) there's no `--flush_stdout` anymore, 2) I'm using fewer batches, 3) my dataset is 10% of ImageNet, 4) I'll use TF summaries and TensorBoard, 5) I'm using fixed learning rate.

One node:
[code]

Four nodes:
[code]

Will update you when these finish.

[2018-02-23 19:18] alsrgv commented on #180
What version of Keras are you using?

[2018-02-23 19:20] prafulag commented on #180
2.1.3

[2018-02-23 19:23] alsrgv commented on #180
Can you share the output of nvidia-smi as it runs out of memory?

[2018-02-24 05:11] atinsood opened #181 "docker image push fails with file integrity checksum failed"
docker build -t user/horovod_15 .
docker tag 9b74b628d808 <private_registry>/horovod_15:latest
docker push <private_registry>/horovod_15:latest
bb722ac35434: Pushing [==================================================>]  569.6MB/569.6MB layer
keeps failing with file integrity checksum failed for "usr/lib/x86_64-linux-gnu/libcudnn.so.7.0.5"

[2018-02-26 08:50] alsrgv commented on #181
These two pointers may help you:
1. https://stackoverflow.com/questions/39529630/unable-to-push-docker-image-on-local-private-registry
2. https://github.com/moby/moby/issues/33991

[2018-02-26 08:57] alsrgv commented on #173
My results are opposite to yours - on multiple nodes I got better loss than on a single node.

<img width="1038" alt="screen shot 2018-02-26 at 12 42 59 am" src="https://user-images.githubusercontent.com/16640218/36661266-af83ce06-1a8f-11e8-808c-0ab7923c7558.png">

I will do a pair of runs with NCCL to see if there will be any difference in the behavior.

[2018-02-26 09:59] glkclass commented on #173
@alsrgv, In fact our results are the same: they show difference in learning process for two cases which supposed to be equivalent from this point of view ).
Unfortunately I wasn't able to try with NCCL runs due to some issues with our infrastructure. Will do it when have a chance and upload results here.

[2018-02-27 05:37] zxw866 commented on #103
I have the same problem. The logs :
HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod -v
Collecting horovod
  1 location(s) to search for versions of horovod:
  * https://pypi.python.org/simple/horovod/
  Getting page https://pypi.python.org/simple/horovod/
  Starting new HTTPS connection (1): pypi.python.org
  "GET /simple/horovod/ HTTP/1.1" 200 1543
  Analyzing links from page https:

[2018-02-27 06:03] alsrgv commented on #103
@zxw866, can you paste the exact error you're getting?

[2018-02-27 06:10] zxw866 commented on #103
/home/xwzhang/anaconda2/lib/python2.7/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/h

[2018-02-27 06:19] alsrgv commented on #103
Can you try suggestions from https://stackoverflow.com/questions/41096313/pyopencl-import-error-cffi-so-undefined-symbol?answertab=votes#tab-top ?

[2018-02-27 06:31] zxw866 commented on #103
It works!
Appreciate your help!

[2018-02-28 00:53] smurching opened #182 "Horovod doesn't seem to work with tf.estimator.train_and_evaluate API"
Hi all,

I've been trying to run a modified version of the mnist estimator example ([link to gist](https://gist.github.com/smurching/bb703e024507dde065ea11289b36da29)) using the `tf.estimator.train_and_evaluate` to intersperse training & evaluation. I'm hitting the following error when training resumes after the first run of evaluation:

[code]

[2018-02-28 00:54] smurching commented on #182
I have a potential fix for this in #183 but I'm open to any suggestions! Thanks in advance :)

[2018-02-28 07:09] alsrgv commented on #182
Hi @smurching, thanks for your PR.  I tried it on 2 GPUs with your MNIST example, but it got stuck like this:

`WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that only subset of ranks is submitting

[2018-02-28 08:09] alsrgv commented on #173
I think I found the root cause of the problem.

[code]

It appears that the way TF/numpy seed works, random generator is not guaranteed to generate the same numbers on different machines.  So, if we run four processes on the same machine, we get all of them to read the **same** TF records.  However, if we run on different machines, they read different TF records in the same batch.

I have modified

[2018-02-28 14:01] glkclass commented on #173
@alsrgv , Will try your fix at my side and update you with results.

Meanwhile, want to clarify some moments here...
1. As I understand all workers initialize the network using same set of parameters (weights). i.e. there is a main worker which initializes its network with set of random values and broadcasts this initial set of parameters to every worker inside the horovod. I.e. every worker has t

[2018-02-28 14:04] xKelsius commented on #180
@prafulag I'm also encountering this issue across multiple GPUs, although I'm not running out of memory. The process seems to hang after printing "Epoch 1/X" where X is number of epochs requested.

[2018-02-28 16:28] xKelsius commented on #180
@prafulag Just as an update, my issue seemed to be with using the wrong version of NCCL. I was using a conda environment that happened to have NCCL 1.3.4 installed, when I needed to use NCCL 2.x. Hope that helps or helps someone else.

[2018-02-28 19:55] alsrgv commented on #173
Your clarifications are exactly correct.  They're further confirmed by the fact that loss curve with seed adjusted to rank matches loss curve of original TF benchmark executed on multiple nodes.

[2018-02-28 20:54] glkclass commented on #173
But this seems to contradict my results. On the other hand it may be an issue of our supercom infrastructure: jobs scheduled for execution  to different nodes have same seed, while jobs on same node have different seeds. At any case, adding rank makes seed unique and should fix this problem. Will run tests and update this thread when ready. Thanks.

[2018-03-01 04:28] ppwwyyxx commented on #156
I can train 8k batch size with horovod, but my code is not pure tensorflow. [code](https://github.com/tensorpack/benchmarks/tree/master/ResNet-Horovod).

[2018-03-01 14:32] gururao001 commented on #125
@aellaboudy Where you able to resolve this issue? @alsrgv I am having the same trouble

[2018-03-01 14:44] gururao001 opened #187 "hvd.init() hangs on aws deep learning instance"
Hello,
I am using base deep learning aws instance with g3 (2 gpus)
 After horovod installation using this command
**HOROVOD_GPU_ALLREDUCE=NCCL pip install horovod --user**
it hangs before hvd.init() (by printing out the statements)

I have ens3 and lo
I have two tesla M60s

#

[2018-03-01 16:43] maorzalt commented on #182
In my opinion, this is more of a bug than an enhancement.

Try calling `estimator.train(...)` twice and you'll get the same error message.

To reproduce, use the example code of:
https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist_estimator.py

and add a second identical call to `mnist_classifier.train()`:

(https://github.com/uber/horovod/blob/73a5f72f8d1bbf4e57e4dc31be346b066a0

[2018-03-01 17:11] maorzalt commented on #182
@smurching - Thank you.  Your PR resolved the issue in my case.

[2018-03-01 20:33] xKelsius commented on #107
@asanakoy I'm kind of having the same issue as you. If it helps at all, I think I've narrowed it down to being an issue between the order of my import and/or hvd.init() when called on a multi-node, multi-gpu job.

[2018-03-01 20:37] xKelsius commented on #107
@asanakoy looks like my issue as with the order of my imports. I moved all non Keras/Tensorflow/Horovod imports up, then Keras, then Tensorflow, then Horovod. Hope it helps.

[2018-03-02 04:27] bearnshaw commented on #120
@ViaFerrata did option 2 actually work?  I get errors like the following:
[code]
which I think results from standard session setting lines:
[code]

[2018-03-02 05:03] alsrgv commented on #187
@gururao001, on AWS you should uninstall MPI that comes with their base image:

[code]

[2018-03-02 05:16] alsrgv commented on #182
Good point.  Indeed, having a loop that would repeatedly do training followed by evaluation makes perfect sense.

I have merged the PR.  Thanks again, @smurching, for submitting it.

It does not fully solve the original issue in this thread though since the `tf.estimator.train_and_evaluate` relies on the time.  One way to solve this would be to send Google a PR adding periodic evaluation based on

[2018-03-02 07:37] #146 closed

[2018-03-02 13:04] xKelsius commented on #107
@asanakoy My issue was a silly one. It had to do with a type in a try/except import, so it was due to a bad import.

[2018-03-02 13:48] svetlov commented on #107
@xKelsius so what's the solution, import horovod after tensorflow?

[2018-03-02 14:41] svetlov commented on #107
@alsrgv backtrace you asked https://pastebin.com/72YkwUru

[2018-03-02 15:21] gururao001 commented on #187
Hey, @alsrgv  Thanks a lot for the help. I got it running after uninstalling mpi. But I have ncclCommInitRank failed: unhandled cuda error. I followed your troubleshooting advice. I get the following error

2018-03-02 15:20:03.975737: I tensorflow/core/platform/cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 FMA
2

[2018-03-02 19:45] maorzalt commented on #182
@alsrgv I am experiencing the same issue (deadlock).
Should horovod block the whole training process if one of the workers is gone?

[2018-03-02 22:56] alsrgv commented on #182
@maorzalt, you could do the following (similar to what we do with Keras):

1. `estimator.train(...)`
2. `estimator.evaluate(...)` for a subset of data (1/N if you can deterministically partition, or 3/N if you randomly sample - should give good enough results).
3. `hvd.allreduce()` metrics from the evaluate (2).
4. goto (1)

That's what [Keras ImageNet](https://github.com/uber/horovod/blob/master/

[2018-03-03 00:06] alsrgv commented on #174
Hi @christopher5106, the refactoring changes have been released, feel free to start looking at the code.  We've also pushed draft PyTorch integration [here](https://github.com/uber/horovod/tree/pytorch) - the diff may help you understand good pluggability points.

[2018-03-03 04:56] alsrgv commented on #91
As of 0.12.0+, Horovod will not conflict with PyTorch's own NCCL 1.x.

If you're using Horovod 0.12.0+ and still seeing `ncclAllReduce failed: invalid data type`, you likely have NCCL 1.3.4 **conda** package.  The solution is to `conda remove nccl`.

[2018-03-03 09:17] alsrgv commented on #120
@bearnshaw, I was able to utilize (2) with this simple example, using Keras 2.1.3:

[code]

[2018-03-03 11:01] asanakoy commented on #107
@xKelsius borderline, is it because of the typo or because of the order of the imports?

[2018-03-03 13:26] christopher5106 commented on #174
ok, my idea was to create a horovod.cntk module in Python (not C) to package already available MPI instruction methods for CNTK [here](https://docs.microsoft.com/en-us/cognitive-toolkit/multiple-gpus-and-machines) so that my code would work with the same HVD functions hvd.init(), hvd.size(), hvd.rank() whether I'm running it under Tensorflow and CNTK. Does that make sense ?

[2018-03-05 00:50] johnkim126 commented on #163
@ppwwyyxx Okay, Thanks :)

[2018-03-05 00:50] #163 closed

[2018-03-05 15:21] LukaszCmielowski opened #190 "Q: How to store trained model using tf.saved_model.builder.SavedModelBuilder ?"
Do you have any example how to use SavedModelBuilder (SavedModel) to store the model after training?.
Most of sample are using checkpoint that is not enough in some cases since it requires knowledge about graph.

[2018-03-05 16:32] atinsood commented on #181
yep, think a few things helped. we were using python 3.5 so using pip3 in the dockerfile helped.  also we don't use nvidia docker so had to do a few soft links.

closing this, since this seems to be running well now. appreciate the help @alsrgv

[2018-03-05 16:33] atinsood commented on #190
@alsrgv do you mind taking a look, we are interested in this as well. It might be just the lack of knowledge of TF in our case. But I am assuming we an hook this up in the monitored session and run this only as chief.

[2018-03-05 16:35] #181 closed

[2018-03-05 17:21] gururao001 commented on #187
Hey, @alsrgv  Thanks for the help man! It solved the problem. A couple of  follow-up questions
1. I read that NCCL 2 does not support fp16. Is there a workaround for it as fp16 improves speeds during training in latest voltas?
2. when I run the program with horovod i see two iterations are taking place at the same time (2 gpu system). I am relatively new to horovod. So is there a way to sanity che

[2018-03-05 18:07] maorzalt commented on #182
@alsrgv
Step 4 would be impossible due to calling `estimator.train(...)` more than once :(

[2018-03-05 19:35] alsrgv commented on #182
@maorzalt, it should be now, new version 0.12.0 includes @smurching's fix for that :-)

[2018-03-06 00:53] alsrgv commented on #174
@christopher5106, I think it would be important to leverage the same core Horovod functionality as TensorFlow does, otherwise debugging and support would be a nightmare.  Also, since Horovod Core has NCCL support, it will be faster than plain MPI.  AFAIK CNTK has C/C++ extensibility, so it should be doable?

[2018-03-06 01:06] alsrgv commented on #187
@gururao001,

1. According to http://docs.nvidia.com/deeplearning/sdk/mixed-precision-training/index.html#lossscaling, it's better to keep weights in FP32.  Since gradients are to be aggregated between many GPUs, it is likely better to keep them in FP32 as well.  You will still get a performance benefit of computing gradients in FP16 on each worker.  E.g. you can run TF benchmarks with FP16 and se

[2018-03-06 01:07] yaroslavvb commented on #187
Hm, I just followed these instructions and I can't find mpiexec anymore

[2018-03-06 01:13] alsrgv commented on #187
@yaroslavvb, if you ran `make install`, it must be somewhere.  What about `mpirun`?

[2018-03-06 01:17] yaroslavvb commented on #187
Ah yes, mpirun got dropped into `/usr/local/bin`, but not mpiexec
Also this procedure seems to be incompatible with mpi4py (`pip install mpi4py; python run.py` ... `libmpi.so.12: cannot open shared object file`)

[2018-03-06 01:24] alsrgv commented on #187
@yaroslavvb, try reinstalling mpi4py, make sure to use `--no-cache-dir` option.

[2018-03-06 14:36] gururao001 commented on #187
Hey @alsrgv thanks for the info. It was really helpful. So when trying to force all reduce in CPU using device_dense='/cpu:0' I don't see info about setting up rings but I see it when doing with gpu. Is it normal? I installed horovod using the command 'HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod'. Is there another version of horovod to force cpu reductions? Thanks

[2018-03-06 16:01] alsrgv commented on #187
@gururao001,

You can do a dummy test where you do: `hvd.allreduce(tf.constant(hvd.rank() == 0 ? 1. : 2.))` and print out the answer, which should be 1.5 if you have two processes.

BTW, what's the reason you want to force reductions to CPU?  It's almost always slower.

[2018-03-06 16:08] gururao001 commented on #187
@alsrgv  Thanks man! So I am assuming reductions in GPU are going to take up some gpu memory. So I want to test whether I can increase the batch size while doing the reductions in CPU. What do you think?

[2018-03-06 16:16] gururao001 commented on #187
Also while prefetching the data can we continue doing next iteration in GPU while reductions happens in CPU?

[2018-03-06 16:45] atinsood commented on #190
[code]

[2018-03-06 17:01] alsrgv commented on #187
OK, sure - it's good idea to try both. Please share if you see better performance on CPU.

[2018-03-06 17:03] alsrgv commented on #190
@atinsood, thanks for this example. Let me try it and confirm.

[2018-03-06 23:01] alsrgv commented on #190
@atinsood, I have tried your example, but it looks like exported saved_model still has HorovodAllreduce operations, which would be a problem if you try to use this graph for inference.

The current approach for inference based on checkpoints is outlined [here](https://github.com/uber/horovod/blob/master/docs/inference.md), and it uses "optimize for inference" operation, which removes training oper

[2018-03-07 02:34] smurching commented on #182
Apologies for being MIA - thanks so much @alsrgv and @maorzalt for the super-quick responses & suggestions!

FWIW another thing I've tried (similar to what @maorzalt described) is running training on all N workers and an evaluate/sleep loop in a separate process on one of the workers, since I tend to run eval pretty infrequently & I want to fully utilize the workers for training. Perf-wise I'm not

[2018-03-07 02:56] seelam commented on #82
If you run with this, `--mca btl_smcuda_use_cuda_ipc 0`, you can get rid of the error.

[2018-03-07 02:57] gangliao commented on #82
@seelam  Thanks

[2018-03-07 02:58] seelam opened #191 "Run to achieve final accuracy"
With Horovod, have you run any models to achieve the final accuracy reported in the papers. Like 75.9% for Resnet50? What parameters have you guys used? Appreciate any pointers.

[2018-03-07 07:02] alsrgv commented on #191
@seelam, our https://github.com/uber/horovod/blob/master/examples/keras_imagenet_resnet50.py example achieves 75.66% - 75.88% top-1 and 92.65% - 92.66% top-5 accuracy without modification on 128 GPUs across three experiments.  I believe it's possible to get better accuracy if one faithfully reproduces data augmentations and multi-crop validation used in the original ResNet-50 paper.

[2018-03-07 09:15] GoodJoey opened #192 "an issue in the dockerfile, seems the cudnn version does't match."
tensorflow/stream_executor/cuda/cuda_dnn.cc:378] Loaded runtime CuDNN library: 7101 (compatibility version 7100) but source was compiled with 7004 (compatibility version 7000).  If using a binary install, upgrade your CuDNN library to match.

maybe it is because the nvidia/cuda image has been updated.

[2018-03-07 09:49] alsrgv commented on #192
@GoodJoey, indeed, it got updated.  I just pushed PR #193 to upgrade to TF 1.6.0 which seems to be working fine.  Feel free to use Dockerfile from that PR.

[2018-03-07 12:51] seelam commented on #191
thanks @alsrgv Any other models to final accuracy? like VGG16, Inception?

[2018-03-07 13:58] seelam commented on #192
This update 5 days ago (move from cudnn 7.0 to 7.1) caused this issue for future reference: https://gitlab.com/nvidia/cuda/commit/3138ae16591b6a06edce4ea55864c8782360092d

If you wish to stick with Tensorflow 1.5, uninstall 7.1 and and install 7.0 as follows:

[code]

[2018-03-07 14:35] xKelsius commented on #107
@svetlov Yes, importing Horovod before Tensorflow fixed my issue.
@asanakoy Both the order of the imports and the typo were issues. I just didn't encounter the typo issue until after I fixed the import order.

[2018-03-07 16:00] jmjwozniak opened #194 "Calling Horovod as a library"
I am trying to call Horovod as a library from a parent MPI C program.  I made the following modification:

https://github.com/jmjwozniak/horovod/commit/b5e7d7c4ff0c37348c7b9bbd47528cbf33a51d59

to eliminate MPI_COMM_WORLD but there is a problem at shut down where the communicator is destroyed but the BackgroundThreadLoop is still running.  I would like to be able to restart Horovod on the same res

[2018-03-07 16:12] gururao001 commented on #187
sure @alsrgv

[2018-03-07 16:12] #187 closed

[2018-03-07 19:15] alsrgv commented on #191
@jeevan, we also trained the NMT model from TensorFlow website and a number of internal models.

[2018-03-07 19:18] #192 closed

[2018-03-07 19:21] seelam commented on #191
Good to know. How you trained with any of the [HPM](https://github.com/tensorflow/benchmarks/tree/master/scripts/tf_cnn_benchmarks) code?

Thanks for your answers.

[2018-03-07 19:25] alsrgv commented on #191
There's a bug in HPM that we found in #173 regarding random seeds.  I haven't tried to run it to convergence, but I believe it should work with that bug fixed.

[2018-03-07 20:07] jmjwozniak commented on #194
My most critical question: Is there any state in Horovod or TensorFlow that cannot be reinitialized for a second invocation as part of the same process?

[2018-03-07 21:58] alsrgv commented on #194
@jmjwozniak, I think it should be fine to shut down and re-initialize Horovod.

You could guard `MPI_Init_thread()` with `!MPI_Initialized()` and move `MPI_Finalize()` into `HorovodGlobalState` destructor and guard with `!MPI_Finalized()`.

Then you could add a function that would stop Horovod along these lines:
[code]

If you find this very useful, we could take a PR with such changes.

[2018-03-07 23:24] gururao001 commented on #187
Hey @alsrgv I am getting this error https://gist.github.com/gururao001/7134780210e3521e319ac212e4cc2b4e
Is openmpi using too many threads? how do I resolve it?

[2018-03-08 01:46] gururao001 commented on #187
@alsrgv Its actually p3.16x instances that got the error. It works fine on p3.8x with same code, same data and same ami. very strange. Just wanted to ask you if you seen this before. Thanks for responding so quickly man!

[2018-03-08 01:51] alsrgv commented on #187
@gururao001, very strange. What if you try another instance, maybe there was a hardware issue?

[2018-03-08 01:53] gururao001 commented on #187
@alsrgv good point. Let me try that. Also just curious is there some optimations on horovod side to be run to make it faster on aws p3?

[2018-03-08 01:59] alsrgv commented on #187
@gururao001, the same way as in https://github.com/uber/horovod/blob/master/docs/running.md.

[2018-03-08 03:20] GoodJoey opened #195 "tried to run the docker sample, get this error"
run two containers in two nodes.
contrain1(10.240.209.120) and container2(10.240.208.206) can ssh to each other.
i can run mpirun -np 2 -H 10.240.209.120:2 -mca plm_rsh_args "-p 12345"
and mpirun -np 2 -H 10.240.208.206:2 -mca plm_rsh_args "-p 12345"  sucessfully (both run on contain1).

but can't run -np 4 -H 10.240.209.120:2,10.240.208.206:2 (use two nodes at the same time)

the progress gets st

[2018-03-08 03:33] alsrgv commented on #195
Are you running docker with `--network=host`?

[2018-03-08 04:50] GoodJoey commented on #195
on the contain1:
docker0   Link encap:Ethernet  HWaddr 02:42:dc:65:93:13
          inet addr:172.17.0.1  Bcast:172.17.255.255  Mask:255.255.0.0
          inet6 addr: fe80::42:dcff:fe65:9313/64 Scope:Link
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:678285 errors:0 dropped:0 overruns:0 frame:0
          TX packets:944591 errors:0 dropped:0 overruns:0 carrier:0

[2018-03-08 04:54] alsrgv commented on #195
Using the instructions from https://github.com/uber/horovod/blob/master/docs/running.md#hangs-due-to-non-routed-network-interfaces, you can disable all the interfaces you don't need.

`-mca btl_tcp_if_exclude docker0,enp7s0,lo,tunl0
 -x NCCL_SOCKET_IFNAME=^docker0,^enp7s0,^lo,^tunl0`

I'm not sure if `NCCL_SOCKET_IFNAME` needs just one ^ in the beginning or before each interface - you can try both

[2018-03-08 06:03] Matrixsun opened #196 "the cluster of horovod is slow"
my cluster is 8 server , each server has 4 GPU , when I start the cluster running resnet-50 , after some time, the cluster became slow

[2018-03-08 06:13] alsrgv commented on #196
@Matrixsun, how are you measuring slowness?  In terms of images per second?

[2018-03-08 07:45] GoodJoey commented on #195
worked, thanks. @alsrgv

[2018-03-08 07:45] #195 closed

[2018-03-08 12:57] #191 closed

[2018-03-08 15:21] xutaatmicrosoftdotcom opened #197 "missing apply_gradients function in horovod/tensorflow/__init__.py"
I think you missed an apply_gradients function in the DistributedOptimizer class, like this:

def apply_gradients(self, *args, **kwargs):
     return self._optimizer.apply_gradients(*args, **kwargs)

Everytime I use horovod, it shows the error that _apply_dense not implemented in lib/python3.5/site-packages/tensorflow/python/training/optimizer.py", line 590. The detailed error is like this:

`Trac

[2018-03-08 20:54] georgezakinih commented on #110
I am getting similar issue with a benchmark I use.
I am using singularity to launch horovod on a cluster. Every node has 4 GPUs

With K80 GPUs it works fine.

I am using openmpi 3.0.0, with cuda 8. The rest of the singularity image follows the horovod docker container.

My call is:
mpiexec -n 2  singularity exec --nv  ../../../horovod.simg python my_benchmark.py

With P100 GPUs it hangs at this li

[2018-03-08 23:38] maorzalt commented on #182
@smurching - thank you for the feedback.
@alsrgv - thanks for the PR!

I will test it in the upcoming days and tell you if it worked on my setup as well.  In the meanwhile, keep up the good work! The `horovod` approach to scaling the optimization process is amazing.

[2018-03-09 02:46] alsrgv commented on #110
@georgezakinih, can you attach to the process using `gdb -p <pid>` and paste the result of `thread apply all bt`?

[2018-03-09 02:51] alsrgv commented on #197
@xutaatmicrosoftdotcom, few questions:

1. What's the version of TensorFlow that you're using?
2. Does https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist_estimator.py example work in your environment?
3. Can you paste the code where you initialize optimizer, how you wrap it with `hvd.DistributedOptimizer`, and how do you use that optimizer subsequently?

The function `apply_grad

[2018-03-09 06:13] avolkov1 commented on #171
You guys are awesome! Great code and awesome architecture.

[2018-03-09 08:06] LukaszCmielowski commented on #190
Would it work if our deployment service has horovod installed ?
We serve models in Cloud and we have the possibility to per-install whatever is needed on our site before serving - this basically goes to proper docker image configuration.

[2018-03-09 09:31] somya12 opened #198 "Unable to determine C++ compilation flags while installing horovod using pip install"
Hi,

I am trying to install horovod using pip install in an ec2 instance. I am installing it inside a conda env with conda version - 4.4.10 and python version - 3.5.5. I get the following error while installing horovod -

[code]

OS  - 4.9.77-31.58.amzn1.x86_64, centOS

gcc packages installed -

[code]

I found this question on [stackoverflow](https://stackoverflow.com/questions/34654682/unrecogni

[2018-03-09 09:53] GoodJoey opened #199 "question: if the model is too large to load into one gpu, how to adjust the paramerts?"
For example, if i have 4 gpu in each of my node, but the single gpu doesn't have enough memory to load resnet101(it's a hypothesis, i know one way is to reduce the batch_size), what should i do?
i tried to set --num_gpus=2, but seems the gpu num has to be 1 if we use --variable_update horovod.

nvidia-docker run -it --network=host -v /mnt/share/ssh:/root/.ssh horovod:latest
root@c278c88dd552:/exam

[2018-03-09 14:49] xutaatmicrosoftdotcom commented on #197
I am so sorry it's my code bug, just ignore this issues, no need the apply_gradients function.

[2018-03-09 15:26] zippeurfou commented on #42
It seems to be more a keras issue btw than horovod.

[2018-03-09 15:31] zippeurfou opened #200 "Horovod and Google cloud ML Engine"
Hi,
This is more of a guide request than a bug report. Feel free to close the issue if it is outside of the scope of what is covered here.
There is a nice guide for Microsoft Azure and I was hoping to find something similar for Google cloud ML but couldn't find any.
I believe there is a real value to it as a lot of people use google cloud ML.
Best,

[2018-03-09 15:54] ink1 commented on #199
Most approaches (synchronous or asynchronous) to distributed learning share (clone) parameters and therefore replicate the model. You can try splitting the model, say, on two and arranging a flow. Then you'd use even rank for part one and odd rank for part two but doing so is significantly more complicated than simple replication. So, yes, reduce the batch size, reduce accuracy.

[2018-03-09 21:18] alsrgv commented on #197
No worries, I will close the issue then.  Feel free to open a new one if you get another problem.

[2018-03-09 21:18] #197 closed

[2018-03-09 21:22] alsrgv commented on #198
@somya12, which AMI are you using?  I'll try to repro on my side.

[2018-03-09 21:37] alsrgv commented on #199
Reducing the batch size to 32 is very appropriate.  It will not necessarily reduce accuracy.  If you're up for modifying the code, you can pin GPUs and do a mixture of model parallel and data parallel approach, see #96.  Lastly, you can also use [gradient checkpointing](https://github.com/openai/gradient-checkpointing).

[2018-03-10 03:39] heliangliang91 commented on #107
@asanakoy Hi, I am having similar issue. But I install Horovod with nccl.
Horovod 0.12.0 (build with CUDA 8, CuDNN 6 and without NCCL 2)
Tensorflow 1.6.0
Python 2.7.11
CentOS 6

`*** Process received signal ***
Signal: Segmentation fault (11)
Signal code: Address not mapped (1)
Failing at address: (nil)
[ 0] /opt/compiler/gcc-4.8.2/lib/libpthread.so.0(+0x10160)[0x7f8258e93160]
[ 1] /opt/compiler/g

[2018-03-10 03:47] alsrgv commented on #107
@heliangliang91, what's your NCCL version?  Does it work if you specify `-x NCCL_IB_DISABLE=1` (disable RDMA).

[2018-03-10 05:53] heliangliang91 commented on #107
@alsrgv Hi, specifying -x NCCL_IB_DISABLE=1 does not work, the segmentation fault remains，NCCL version is 2.1.15, cuda version 8.0, cudnn version 6.0.

the mpi comand:
mpirun -np 4 -H localhost -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x L
D_LIBRARY_PATH -x NCCL_IB_DISABLE=1 -mca pml ob1 -mca btl ^openib python train.py

driver info:
nvidia-smi
Sat Mar 10 13:43:34 2018
+----------------------

[2018-03-10 06:26] alsrgv commented on #107
@heliangliang91, can you try with NCCL 2.0.5 to determine whether this is a regression?

[2018-03-10 06:35] alsrgv commented on #200
@zippeurfou, from what I understand Cloud ML will not be able to run MPI jobs. We are looking at whether Horovod training can be done as a Kubernetes job. Contributions would be very welcome here.

[2018-03-10 06:48] alsrgv commented on #190
@LukaszCmielowski, it may be possible to LD_PRELOAD Horovod shared library to make serving aware of new operations. You can try that and we can debug together if it doesn't work right off the bat. Meanwhile, we are still planning to figure out how to properly optimizer saved model for inference and remove all the training ops.

[2018-03-10 13:19] heliangliang91 commented on #107
@alsrgv With NCCL 2.0.5, I can not install Horovod:

gcc -pthread -shared build/temp.linux-x86_64-2.7/test_compile/test_nccl.o -L/home/users/heliangliang/libtool/nccl/lib -L/home/users/heliangliang/libtool/nccl/lib64 -L/usr/local/cuda/lib -L/usr/local/cuda/lib64 -L/home/users/hpc/mms-hpc-devel/lib -lnccl_static -o build/temp.linux-x86_64-2.7/test_compile/test_nccl.so
    (ld path)/ld: /home/users/

[2018-03-10 18:14] heliangliang91 commented on #107
use cuda 9.0, cudnn 7.0, nccl 1.0.5, I solve the installing problem “unrecognized relocation (0x2a) in section `.text'”，but importing horovod.tensorflow fails:

File ".../lib/python2.7/site-packages/horovod/common/__init__.py", line 37, in <module>
    'mpi_lib' + get_ext_suffix()), mode=ctypes.RTLD_GLOBAL)
  File ".../lib/python2.7/ctypes/__init__.py", line 365, in __init__
    self._handle = _dl

[2018-03-11 04:48] alsrgv commented on #107
@heliangliang91, can you try specifying `HOROVOD_CUDA_HOME=/path/to/cuda` during compilation?

[2018-03-11 05:02] somya12 commented on #198
@alsrgv Sorry, I can't give the ami-id, it's not a public ami. If you could help me with where to look, that will be a great help!

[2018-03-11 05:29] alsrgv commented on #198
@somya12, no problem.  Can you paste a full installation log, perhaps on [Gist](https://gist.github.com)?

[2018-03-11 09:00] somya12 commented on #198
@alsrgv  please find the installation logs [here](https://gist.github.com/somya12/b97d445620056d26dbdf88bb68738377).

[2018-03-11 09:08] somya12 commented on #198
Also, to move ahead I removed stdlib=libc++ from [setup.py](https://github.com/uber/horovod/blob/master/setup.py#L53) and installed gcc 6.1 in my conda env. I ran `python setup.py install` with debuggers and found that it's failing while trying to run the following command -

`gcc -pthread -shared -L/usr/lib/a-4.2.0-py-3.5.3-dl-gpu-full/lib -Wl,-rpath=/usr/lib/a-4.2.0-py-3.5.3-dl-gpu-full/lib,--no

[2018-03-11 11:38] Matrixsun commented on #196
yes.  at first,  10  iterations(about 1000 images) takes less than 3 seconds. 10  iterations(about 1000 images)  would take 7-17s when the cluster is slow.

[2018-03-11 16:39] gururao001 opened #202 "Restoring checkpoints when using multiple servers"
Hey @alsrgv When I restore checkpoints when using multiple servers I am getting this error

WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that only subset of ranks is submitting tensors, which will

[2018-03-11 17:34] donghwicha opened #203 "dockerfile need to downgrade cuDNN"
if there is anyone who are faced with the error below,

The thread below can be pointer to resolve this issue,
https://github.com/keras-team/keras/issues/9567

and the command lines on the reply below could be added to the dockerfile of the current horovod until Keras supports new version cuDNN.
https://github.com/keras-team/keras/issues/9567#issuecomment-371566669

[2018-03-12 03:28] alsrgv commented on #198
@somya12, which MPI are you using and what's the output of `mpicxx -show` ?

[2018-03-12 03:29] alsrgv commented on #196
@Matrixsun, are you using real data or synthetic data?  Can you confirm whether your data pipeline is always full?

[2018-03-12 03:31] alsrgv commented on #202
@gururao001, which rank #s are displayed in the error message?  Can you paste the code that you use for restoring from the checkpoint?

[2018-03-12 03:33] alsrgv commented on #203
It appears that NVIDIA changed their docker file next day after TF 1.6.0 was released, that's why it was not picked up.  I will update the Dockerfile, thanks for the fix!

[2018-03-12 04:03] gururao001 commented on #202
1. error message
WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that only subset of ranks is submitting tensors, which will cause deadlock. Stalled ops: DistributedMomentumOptimizer_Allreduce/Horovod

[2018-03-12 04:05] gururao001 commented on #202
Also to store checkpoints I am using
 if iters % 100 == 0 and hvd.rank() == 0:
        saver.save(sess, os.path.join(FLAGS.checkpoint_dir, 'checkpoint-%s') % str(iters))

[2018-03-12 04:10] alsrgv commented on #202
@gururao001, do you do `broadcast_global_variables` on all ranks?  Seems that ranks 4-7 want to broadcast, but rank 0-3 already want to do training.

[2018-03-12 04:14] gururao001 commented on #202
@alsrgv so I have the same script copied in both servers and I do the following
bcast = hvd.broadcast_global_variables(0)
sess.run(bcast)
Also do I have to store checkpoints in both the server?

[2018-03-12 04:16] alsrgv commented on #202
@gururao001, you can restore from the checkpoint on rank 0, and then execute broadcast.  That will set weights on all workers.

[2018-03-12 06:26] somya12 commented on #198
I have installed openmpi-3.0.0 using the following steps -

[code]

Output of `mpicxx -show` -

[code]
Output of `mpirun  --version` -

[code]

[2018-03-12 14:44] traveller59 opened #205 "Unable to run distributed training with two server that both using Anaconda"
## Environment
Ubuntu 16.04
cuda9.0, cudnn7.0
openmpi with cuda

## Problems
When I run horovod in local environment, every thing is fine, but then I try to run horovod in a remote machine, ```print(sys.version)``` print 'python 2.7' but my Anaconda environment is python 3.6, I have add anaconda path to .bashrc and when I directly use ssh to access remote machine and run python, the python environ

[2018-03-12 18:09] heliangliang91 commented on #107
@alsrgv Thanks for your help. We solved the problem. The nccl lib I used is incompatibility with the kernel of the os. We replaced the nccl library with the right version. Horovod works well with nccl 2.1.

[2018-03-12 19:17] alsrgv commented on #205
@traveller59, instead of using `python`, can you try using `/path/to/anaconda/bin/python`?  If you're using a custom environment, you may need to activate it in the command, too.

[2018-03-12 19:35] ink1 commented on #205
You can try
[code]
to find out which python is being picked up.

I'm playing with horovod and really pleased with it. I'm also using anaconda and simply pass env vars
[code]

I'm not even using Open MPI with CUDA support, just the one I'd built previously.
Ethernet 10 Gbps, two servers with 4x P100 in each give me 1712s (342ms/step) on the first ImageNet epoch running keras_imagenet_resnet50.py (a

[2018-03-12 19:40] alsrgv commented on #205
Thanks, @ink1!  It's a good idea to pass `-x PATH`, we shall update our docs to include it in sample commands.

[2018-03-13 00:02] #203 closed

[2018-03-13 02:00] GoodJoey commented on #199
got it, thanks.

[2018-03-13 02:00] #199 closed

[2018-03-13 02:51] traveller59 commented on #205
Thanks! Now the problem is solved, I use that cnn benchmark with two cloud server(1xP100, 3Gbps) and get 130->180 speed up.

[2018-03-13 02:51] #205 closed

[2018-03-13 03:11] alsrgv commented on #198
@somya12, thanks!  I was able to install Horovod on Amazon Linux Deep Learning image.  What's the output of `conda list`?  Maybe one of the packages is causing the problem.

[2018-03-13 05:26] somya12 commented on #198
@alsrgv Yes, I also tried installing it on aws deep learning image and it worked fine. Couldn't find any relevant difference in the ami though. Here's the output of [conda list](https://gist.github.com/somya12/d58cb57d8cc3efb0d92c891d4803249f). Do you think that gcc version could cause this issue?

[2018-03-13 08:05] donghwicha opened #208 "training 2 nodes x 2 gpus hangs"
Hello.
Below is the command line I used to run, but it hangs and doesn't start.
Is there any other option to be added or changed?

If there is more than one node which has 2 or better, it hangs as same

[2018-03-13 12:50] donghwicha opened #209 "mpi connection issue with the docker network masqueraded with Iptable"
Hello,

I'm using docker to run horovod, but it seems that connection back after initial ssh connection fails because of docker network. I'm using docker host network (not bridge), but is there any workround to resolve this issue?

[code]

[2018-03-13 13:27] donghwicha commented on #209
sorry for the duplicate, and I found the document
https://github.com/uber/horovod/blob/master/docs/running.md#hangs-due-to-non-routed-network-interfaces
https://github.com/uber/horovod/issues/195

[2018-03-13 13:27] #209 closed

[2018-03-13 14:38] donghwicha commented on #208
solved with this thread
https://github.com/uber/horovod/issues/134

[2018-03-13 14:38] #208 closed

[2018-03-13 22:09] alsrgv commented on #198
I think there may be an issue with gcc.  I was able to install your version into conda on Amazon Linux, and I get these commands:

[code]

In your log, linker uses `gcc` instead of `x86_64-conda_cos6-linux-gnu-gcc`.  Can you try uninstalling system-level GCC and just use Conda's?

[2018-03-14 09:05] Matrixsun opened #210 "include/socket.h:194 WARN Call to recv failed : Connection reset by peer"
I have  installed  nccl 2 ,   start up the example by:
 mpirun -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib  --mca btl_base_verbose 30   -mca btl_tcp_if_include eth1 -np 8 -H 192.168.189.55:4,192.168.190.74:4  python tensorflow_mnist.py

but ,the model is hang, and the show is :

ml-gpu-ser015:2123:2230 [3] include/socket.h:194 WARN Call to

[2018-03-14 13:13] #210 closed

[2018-03-14 14:30] revilokeb opened #211 "SSH authentication"
I am trying to set up horovod on AWS. I have 2 x 4 GPU instances with IP adresses host1 and host2.

I have created an AMI with nvidia-docker and a built of the horovod docker image, both instances are derived from that AMI (i.e. they have nvidia-docker and the image horovod:latest). I can start horovod container `nvidia-docker run -it --rm --network host --name=horovod_host1 --privileged -v /mnt/s

[2018-03-14 15:27] gangliao opened #212 "MPI in Docker hang"
When I use horovod in Docker, it can work on 8 GPUs under the single node, but when it across 2 nodes, it always hangs.

Thus, I write a tiny program `Hello`:

[code]

Then, it can work on the individual node.

[code]

[code]

But,

[code]

It hangs at here!

Any tips?

[2018-03-14 18:15] alsrgv commented on #212
@gangliao, can you check whether troubleshooting of hangs in `https://github.com/uber/horovod/blob/master/docs/running.md` will help you?

[2018-03-14 18:18] alsrgv commented on #211
@revilokeb, it sounds like you should mount `/root/.ssh` from host as well, e.g. `-v /root/.ssh:/secure/ssh` and in your command do `mpirun -np 8 -H host1:4,host2:4 -mca plm_rsh_args "-p 8500 -i /secure/ssh/id_rsa" python keras_mnist_advanced.py`.  Can you try that?

[2018-03-14 18:21] alsrgv commented on #210
@Matrixsun, did you figure it out with `https://github.com/uber/horovod/blob/master/docs/running.md#hangs-due-to-non-routed-network-interfaces`?

[2018-03-14 18:22] alsrgv commented on #196
@Matrixsun, what GPUs are you using and what's your network interface bandwidth?

[2018-03-14 18:26] gangliao commented on #212
thanks @alsrgv  it works!

But,

[code]

[code]

[2018-03-14 18:27] gangliao commented on #212
@alsrgv  echo MPI process has 2 threads in here

[2018-03-14 18:31] alsrgv commented on #212
@gangliao, progress!  Can you get a core dump by setting `ulimit -c unlimited` and running `mpirun` with `-mca opal_signal ""`, and then get a stack trace from `thread apply all bt`?

Also, what's your Open MPI version?

[2018-03-14 18:47] alsrgv commented on #198
`_ZTINSt6thread6_StateE` seems like an issue with mixed gcc libraries.  Did you delete `gcc=4.8.5` package completely?

[2018-03-14 22:50] somya12 commented on #198
deleted the system versions of gcc. I am getting -

[code]

[2018-03-14 22:51] alsrgv commented on #198
@somya12, can you rebuild Horovod?  If you have multiple cuda installations, may help to pass `-x HOROVOD_CUDA_HOME=/path/to/cuda`

[2018-03-15 02:13] dmwendt commented on #190
@alsrgv I'm trying to follow the [optimized-for-inference](https://github.com/uber/horovod/blob/master/docs/inference.md) instructions but cannot figure it out. Would it be possible to paste a snippet which shows how to use this tool based on the [tensorflow_mnist.py](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py) example?  I tried passing in the checkpoint `model.ckpt-1

[2018-03-15 02:54] alsrgv commented on #190
@dmwendt, I had to fight these scripts a little bit, checkpoint saver makes graph definition in text format and freeze graph takes binary format.  Here's an example:

[code]

[2018-03-15 11:06] inscite commented on #168
After cleaning the problematic computing node, horovod works seamlessly.
I can't figure out why the node was not available at the previous moment.
Anyway, I am closing this issue! Thx ;-)

[2018-03-15 11:06] #168 closed

[2018-03-15 11:19] xKelsius commented on #114
@alsrgv Related to this topic, if you adjust the number of iterations as seen in approach 2 above, and you're using a sorted, ordered dataset, would this essentially divide the dataset by the number of GPUs? Such as if you have 1000 images in your training dataset for 4 GPUs, would each process/GPU only process the 1st 250 images in your data generator?

If this is the case, would you recommend ra

[2018-03-15 15:01] revilokeb commented on #211
@alsrgv thanks for your reply! On AWS ubuntu instances you are typically working as user ubuntu, whereas when starting a docker container typically one is root. So now I have `sudo su` on both AWS instances, added the authorized_key / id_rsa to /root/.ssh and starting any horovod container as root (not as user ubuntu).

This allows me to ssh from my horovod container on host1 to host2 with `ssh -i

[2018-03-15 16:33] revilokeb commented on #211
@alsrgv could it be that since as I described when I ssh from horovod container on host1 always end up on host2 (not in horovod container on host2) that this message is related to that fact? Of course there is no /usr/local/bin/orted on host2, only in the container running on it?

[2018-03-15 18:32] dmwendt commented on #190
Ok, this helps. I added the following lines to the end of the [tensorflow_mnist.py](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py) example:
[code]
And then I was able to verify the inference of the saved model using the `saved_model_cli` tool.
So I traded the two scripts with the equivalent calls to `optimize_for_inference_lib.optimize_for_inference` and `freeze_graph.fr

[2018-03-15 19:29] alsrgv commented on #190
@dmwendt, this looks good.  Can you publish it as a gist and reference here, so other folks can easily follow?  We will also release a similar example.

[2018-03-16 01:50] lkmokadam opened #213 "Error on using hvd.mpi_threads_supported() error: undefined symbol: mpi_threads_supported"
Error on using hvd.mpi_threads_supported()

error: undefined symbol: mpi_threads_supported

`mpi_threads_supported = MPI_COMMON_LIB_CTYPES.mpi_threads_supported()`
 should be
`mpi_threads_supported = MPI_COMMON_LIB_CTYPES.horovod_mpi_threads_supported()`

[2018-03-16 06:53] Matrixsun commented on #210
yeah, I think . but I check it again . when I am sure in my problem I would post it

[2018-03-16 06:57] Matrixsun commented on #196
My GPU is P40, network is RoCe 40Gb.

[2018-03-16 07:26] somya12 commented on #198
I had cudatoolkit (version 8) installed in my anaconda env. While building the package, I used the following command -

`HOROVOD_CUDA_HOME=/usr/local/cuda HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod`

I was still getting the same error while running the example. I uninstalled cudatoolkit from my anaconda env and installed horovod again, and things started working fine =D

[2018-03-16 14:01] bilgeacun opened #215 "Hang when using multiple nodes with GPUs"
I'm seeing the below hang with the ImageNet example code when running on more than 1 node each having 4 GPUs.

[code]
It keeps printing the warning and training does not progress. It looks like only 1 or only a few ranks do not contribute to allreduce when it hangs - in this case only rank # 16 is missing. Also, the hang does not occur when running only on the CPUs with the same setup.

[code]

I

[2018-03-16 18:00] alsrgv commented on #213
Thanks for the report and the fix!

[2018-03-16 18:02] #213 closed

[2018-03-16 18:02] alsrgv commented on #198
Excellent, glad it works now :-)

[2018-03-16 19:56] mkovalski opened #216 "Multiple MPI ranks per GPU process"
Hello,

I wanted to know if there's a way to use multiple processes per GPU rank. For example, say I wanted there to be 4 total processes per GPU, where 3 of those processes simply do data augmentation and the other to get the data from the other 3 processes and feed to the training. I was able to set this up using a single GPU using MPI Groups without horovod, but now I wanted to scale this up. W

[2018-03-16 21:44] alsrgv commented on #216
@mkovalski, would it work if we had a way to set up a communicator across a specific list of ranks as part of `hvd.init()` - do you know that information up front, or would you need MPI to discover topology?

[2018-03-16 21:47] alsrgv commented on #215
@bilgeacun, can you try upgrading to Open MPI 3.0.0 just to rule it out, check whether you have any errors in `dmesg`, especially on the node that is late, and also run [TF benchmark](https://github.com/uber/horovod/blob/master/docs/benchmarks.md) on all nodes, and just on that GPU (using CUDA_VISIBLE_DEVICES)?

[2018-03-17 00:42] alsrgv commented on #211
@revilokeb,

That sounds definitely wrong.  Can you run ssh with `-vvvv` and dump the trace here so we can figure out what's happening?

[2018-03-17 00:45] alsrgv commented on #114
@kelsiuss, with Keras, I would say the easiest option is to randomly read the dataset on all the workers, like we do in ImageNet example - https://github.com/uber/horovod/blob/master/examples/keras_imagenet_resnet50.py.

The option of pre-partitioning and re-shuffling dataset on every epoch is feasible but requires more work.  I've tried both options and arrived to the same final accuracy, so the

[2018-03-17 00:46] alsrgv commented on #196
@Matrixsun, that combination should work pretty well.  Can you try running [benchmarks](https://github.com/uber/horovod/blob/master/docs/benchmarks.md) with synthetic and real data to see if you get better performance?

[2018-03-17 00:47] mkovalski commented on #216
@alsrgv Ideally, I'd use MPI first to find topology but I can always grab this from some environment variables I use instead (for my use, grab whatever slurm environment variables I can)

[2018-03-17 00:49] alsrgv commented on #216
@mkovalski, that seems like sub-par experience.  I guess we could also add `mpi_init=False` to `hvd.init()` in case you ran `MPI_Init_thread()` before using mpi4py.  Would those two things be ideal?

[2018-03-17 00:53] mkovalski commented on #216
@alsrgv Yeah that would work really well then, that in addition to specifying ranks to hvd init would be great!

[2018-03-17 00:56] alsrgv commented on #216
OK, excellent.  This should be pretty straightforward.  I will mark this as a "contribution welcome" task in case you want to work on it before we get to it :-)

[2018-03-17 01:01] alsrgv commented on #216
@mkovalski, BTW, another way to solve this was mentioned in #105, I wonder if it may be relevant to you, too.  The idea was to be able to specify a subset of ranks per operation.  The benefit is that you can do separately an allreduce within node and an allreduce between nodes.  The downside is that all workers would still participate in global MPI coordination, but those are lightweight messages

[2018-03-17 01:17] lkmokadam commented on #105
I think you can try [this](https://github.com/lkmokadam/MultiCommHorovod.git). It can allow you to train model on mutually exclusive set of nodes.

On calling hvd.init([[0,1],[2,3]]), it will create two communicators will be created for communications, one with rank 0 and 1, another with rank 2,3.

If you find useful, I can create PR from it.

[2018-03-17 01:35] alsrgv commented on #105
@lkmokadam, if I understand the code correctly, if you run the multicomm example on 4 GPUs, you'd get two MNIST models trained on 2 GPUs each?  This may be useful in #216, @mkovalski could specify all his actual allreduce ranks in the first group, and all the preprocessing ranks in the second group (and never use them).

I am wondering though if it will be useful to be able to specify different gr

[2018-03-17 01:45] lkmokadam opened #217 "Importing module using external MPI library used"
Observation 1:  External library makes sure MPI is not re-initialized.
error:
Local abort before MPI_INIT completed completed successfully, but am not able to aggregate error messages, and not able to guarantee that all other processes were killed!
*** The MPI_Comm_rank() function was called before MPI_INIT was invoked.
*** This is disallowed by the MPI standard.
*** Your MPI job will now abort

O

[2018-03-17 01:57] alsrgv commented on #217
@lkmokadam, would importing the library after you call `hvd.init()` work for you?  I.e. put `import horovod.tensorflow as hvd` and `hvd.init()` at the top of your python file.

As an enhancement, we could add check if MPI was initialized and then not-reinitialize it.  Additionally, if MPI was initialized without thread support we would print a WARNING because we would likely crash right after tryi

[2018-03-18 05:46] lkmokadam commented on #105
API-wise this will be great addition. But, for better performance, we have to consider various aspects. Most basic is what is maximum number of processes do we have to support?  This will be crucial for deciding communication pattern. All further questions depend on this.

Considering the communication pattern of the operation that do allreduce within node, and other operations which would do allr

[2018-03-18 07:18] alsrgv commented on #105
I believe both MPI and NCCL2 can do the right thing here.

Let me give a more concrete example how I think specifying ranks per operation may be helpful in a context of batch normalization.

One of the problems with object detection models is that they consume so much GPU memory that you have to put only 1 or 2 examples per GPU.  With that, it's impossible to run batch normalization in training mo

[2018-03-19 04:31] gururao001 commented on #202
@alsrgv thanks, man! It works!  Also one more thing I can fit 80 batch size on one server with 4 GPUs but when I scale to multiple servers I cant linearly scale the batch size. I cant fit 160 two servers with same configuration and same GPUs' . What might be the reason?

[2018-03-19 04:54] #202 closed

[2018-03-19 14:50] alsrgv commented on #202
@gururao001, I assume you're talking about global batch size, i.e. batch size per GPU * number of GPUs.  Can you try reducing the batch size by 10% and see if it helps?  NCCL may be occupying a little bit of GPU space.

[2018-03-19 16:10] revilokeb commented on #211
@alsrgv yeah I was expecting that this is not a good sign.

**So here again the steps I have taken on AWS:**
1. host1 (IP: 172.31.33.149) after logging in as user ubuntu
  a. sudo su (proper ssh keys and authorized_keys available at /root/.ssh/)
  b. nvidia-docker run -it --rm --network=host -v /mnt/share/ssh:/root/.ssh -v /:/dh horovod:latest
2. host2 (IP: 172.31.43.109) after logging in as user

[2018-03-20 17:41] bilgeacun commented on #215
The hang is not deterministic -- missing ranks are different in consequent runs using the same nodes. No errors in `dmesg` and TF benchmark runs fine on all nodes. I'm having a different problem with OpenMPI 3.0.0 in my system, it seems not related to horovod.
Setting keras workers in model.fit_generator to 1 does not make the hang disappear but it makes it happen on larger scale. Maybe there's so

[2018-03-20 21:38] alsrgv commented on #211
@revilokeb, wanted to make sure - are you running `/usr/sbin/sshd -p 8500` inside the docker container on host2?  Can you paste the log of your terminal session?

[2018-03-20 21:40] alsrgv commented on #215
@bilgeacun, what if you set workers to 0, does it help?  Also, can you try to upgrade to latest Keras?

[2018-03-21 07:56] alsrgv commented on #105
@mkovalski, @lachlants, do you have any opinions about being able to specify ranks per operation, e.g. via `hvd.allreduce(..., ranks=[1, 3, 5])`, and being able to specify a default set of ranks via `hvd.init()`, e.g. `hvd.init(default_ranks=[1, 3, 5])`?  `hvd.rank()` would still return an actual `COMM_WORLD` rank.  We can shield other MPI communication from tag pollution by creating a private com

[2018-03-21 11:14] glkclass commented on #173
Sorry for late updating the discussion.

Have the following results:
1. Running tests using **openMPI+NCCL** ( i.e. Horovod installation with `HOROVOD_GPU_ALLREDUCE=NCCL` which should mean: perform all-reduce operation using NCCL lib)  **have no this issue** (difference between single and multiple host runs). Even **without hvd.rank mixing together with rnd seed**

2. Running tests using **IntelMP

[2018-03-21 20:53] maorzalt commented on #182
I tested the [mnist example](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist_estimator.py) with 2 consecutive `estimator.train(...)` calls on a machine with 4 GPUs and it works like a charm.  Also, the synchronization issues mentioned above were resolved.

Great work @alsrgv & @smurching !

[2018-03-21 21:35] bilgeacun commented on #215
@alsrgv Same hang occurs with 0 workers, and with keras-2.1.4, also with and without NCCL too.

[2018-03-22 01:39] tremblerz opened #220 "How to use horovod with tensorflow's slim training"
In this [models repository](https://github.com/tensorflow/models) session objects are not available explicitly. Any suggestions on how to reconcile horovod with slim's inbuilt model training?

[2018-03-22 05:55] alsrgv commented on #220
TF-Slim is rather outdated, I would recommend switching to `MonitoredTrainingSession` or `Estimator` APIs.

If you really want to use Slim, you can pass `session_config` and `init_fn` to [train](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/slim/python/slim/learning.py) function.

`init_fn` would do something along these lines:
[code]

[2018-03-22 13:26] mkovalski commented on #105
Agreed with setting the ranks in hvd.init() should not change any of the ranks or size of the communicator, it should mirror however many processes you ran it with via MPI. IE running mpirun -n 4 and only using 2 of those procs for the allreduce method at training time, hvd.size() should still give you 4. I think this gives the user more control over what they can do with the remaining procs not u

[2018-03-22 13:41] maorzalt commented on #182
@alsrgv
I apologize to revive this... but I did experience the synchronization issue above when running it with my full model and pipeline with `tf.estimator.train_and_evaluate(...)`.  The training gets stuck after the first eval and sending this kind of errors:

```... optimizer/DistributedMomentumOptimizer_Allreduce/HorovodAllreduce_optimizer_gradients_model_dense_1_BiasAdd_grad_tuple_control_de

[2018-03-22 15:09] alsrgv commented on #182
@maorzalt, as I mentioned in https://github.com/uber/horovod/issues/182#issuecomment-369823019, I don't think there's a way to fix `tf.estimator.train_and_evaluate(...)`, but you can instead just do `tf.estimator.train(...)` followed up `tf.estimator.evaluate(...)` in a loop.

[2018-03-22 15:10] alsrgv commented on #105
Excellent.  Then it's just a small matter of implementing it :-)

[2018-03-22 15:22] alsrgv commented on #173
Update: the random seed fix has been merged into TF benchmarks.

@glkclass, I'm not sure I completely follow.  If I take (1) + (3), it means that Open MPI with and without NCCL has no issue.  However, you mention that Intel MPI does have an issue in (2).  Finally, in (4) you mention that in fact, Intel MPI converges better than Open MPI.  Can you clarify your experiments?

[2018-03-22 16:04] maorzalt commented on #182
@alsrgv

Thank you.  I changed it to as you suggested and it worked.
```tf.estimator.train_and_evaluate(...)  =>  estimator.train(...) + estimator.evaluate(...)```

I start getting the larger Horovod picture.  Workers are synched using the global step.  This could potentially cause many additional issues.

Examples:
* `1` out of `N` workers crashes => will lead to all `N-1` workers stuck (waiting

[2018-03-22 16:05] alsrgv commented on #182
@maorzalt, yes, that's the nature of synchronous SGD.  One caveat: if one of the worker crashes, other workers will fail rather than get stuck.

[2018-03-22 16:46] alsrgv commented on #215
@bilgeacun, if TF benchmark is working without hiccups, I suspect the issue is with reading / processing the data.  Something is causing an imbalance in your load pattern.

[2018-03-22 17:01] glkclass commented on #173
@alsrgv
1. I used your appropriate/temporary branch 'different_seed_for_different_workers' for experiments

2. Runs using Horovod version installed as following: `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod` **have no this issue**. I suppose all-reduce operation is executed by NCCL2 lib here.

3. Runs using Horovod version installed as following: `HOROVOD_GPU_ALLREDUCE=MPI HOROVO

[2018-03-22 17:08] alsrgv commented on #173
In (3) you're saying that Intel MPI with GPU has issue, but in (4) you say it converges faster than Open MPI.  Do you mean Intel MPI with NCCL?

We're you doing git pulls from my fork of benchmarks between your tests? As part of addressing code review comments there was a time when the code had regressed to an initial state.  I wonder if it may have had an impact on your tests.

[2018-03-22 17:49] jmjwozniak commented on #194
Ah- I may have fixed it with this change at the end of the run:
[code]

[2018-03-22 20:04] alsrgv commented on #173
I see, that's very interesting! Can you share the curves for Open MPI + NCCL and Intel MPI + GPU?

[2018-03-22 20:53] alsrgv commented on #194
@jmjwozniak, I think this PR, once completed, will help you - https://github.com/uber/horovod/pull/218.  You'll be able to do `horovod_finalize()` followed by `horovod_init()`.

What's the purpose of having a custom communicator for you?  Would https://github.com/uber/horovod/issues/105#issuecomment-373977819 solve your need?

[2018-03-22 21:06] jmjwozniak commented on #194
This basically works as of: https://github.com/jmjwozniak/horovod/commit/ea715e13c23931fcca63997ed4de3be888838522

[2018-03-22 21:07] jmjwozniak commented on #194
The next issue is a nicer interface to pass the communicator to Horovod from the parent

[2018-03-22 21:18] jmjwozniak commented on #194
Yes, #218 is related.  However, the goal of the custom communicators is to run multiple Horovod instances inside a big MPI job that is doing, e.g., hyperparameter optimization.  The changes and tests in my fork handle MPI_Init/Finalize, allow the Python user to stop the background thread, and re-initialize the tensor buffers for the next Horovod job within the same resources.

[2018-03-22 23:24] tremblerz commented on #220
Thanks for the answer. I agree with the fact that it is outdated. Although, I think aforementioned `models` repository is still widely used to train well known CNN models.

[2018-03-22 23:24] #220 closed

[2018-03-23 04:05] scotthuang1989 opened #221 "horovod performance decrease dramatically when run on multiple server"
I have 2 server, each have 4 GPUs, if I run horovod on single server,  1 epoch takes 10 seconds, but If I run it on 2 serer, it takes  60 seconds.  I am not familiar with  mpi. So I can only debug it by observing system resources. when I run it on multiple server.
1. cpu  utilization is around (60%), which is a bit higher then run it with single server (40%)
2. network trans/receive is about 20M/s

[2018-03-23 08:54] glkclass commented on #173
@alsrgv, I will rerun tests one more again to be sure. Could point me at last relevant version of benchmarks on github?

[2018-03-23 23:19] alsrgv commented on #221
@scotthuang1989, what model are you training and are you using NCCL?

[2018-03-24 00:51] alsrgv commented on #173
@glkclass, `master` from https://github.com/tensorflow/benchmarks should be working fine now.

[2018-03-24 01:07] alsrgv commented on #194
@jmjwozniak, how big is your big MPI job?  Would doing it with #105 work, i.e. just specify ranks via `hvd.init(default_ranks=[1,3,5,...])`?  I'm wondering if the solution for per-operation ranks could be useful to you, too.  Caveat: `hvd.rank()` would still return `COMM_WORLD` ranks.

[2018-03-24 14:24] scotthuang1989 commented on #221
just a simple LSTM model which  is ok when run locally. And one of my college told me maybe is because network cable. But  it need administrator to go to server room to check it, I will update the status when they have confirmation.

[2018-03-24 18:03] jmjwozniak commented on #194
Pretty big- we are using large Crays to do these runs as described here: http://www.mcs.anl.gov/~wozniak/papers/CANDLE_2017.pdf

[2018-03-25 00:09] alsrgv commented on #194
OK, so it sounds like there's a room for two features.

One feature is to create a small horovod in a "sandbox" of few ranks, these sandboxes are totally independent.  This can be implemented by creating a group with list of ranks and then creating a communicator from that group.  These sandboxed Horovods can come and go over a lifetime of an MPI application.  E.g. hyperparameter tuning.

Second f

[2018-03-25 02:21] alsrgv commented on #221
@scotthuang1989, how large is the checkpoint of your model?

[2018-03-25 13:50] alsrgv commented on #221
I see. You may have trouble scaling this small model over regular 10GbE because of latency. You may need RoCE or InfiniBand low latency network. Training bigger model may help with scaling, but then you may become latency constrained.

Rule of thumb: 25GbE for 1080TI, 50GbE for P100, 100GbE for V100.

[2018-03-25 15:46] scotthuang1989 commented on #221
My GPU is 1080Ti. sound like a long way to go...

[2018-03-25 17:24] alsrgv commented on #221
Yeah, network is quite demanding for distributed deep learning.  How many epochs are you training?  I wish my epochs took 10 seconds to run.

[2018-03-26 03:41] scotthuang1989 commented on #221
In this example, 10 seconds if I run my model only on local GPUs, If I go distributed, it takes 60 seconds.

[2018-03-26 03:41] #221 closed

[2018-03-27 08:15] glkclass commented on #173
@alsrgv , seems I can't reproduce the difference between **OpenMPI+NCCL vs IntelMPI**.
Let's consider I was wrong  here and we have no diff between runs on different MPI

[2018-03-27 14:57] surak commented on #86
I have a machine where each node has 2 Tesla K80s, so it shows as 4 gpus. If I try to run it with less GPUs than I currently have (say, 2), it will still detect the 4 of them and fail.

[2018-03-27 18:07] benyoti opened #223 "Horovod behavior with dataset API"
Hi,
I was doing some test with the tensorflow dataset API (tf.data.Dataset) on a single machine with multiple GPUs, but it looks like horovod is sending the same data to each GPU each time the dataset's iterator is called (I am not using MonitoredTrainingSession but a standard tf.Session())
Is this behavior intended? Do you have any idea how to overcome this problem?

[2018-03-28 09:14] glkclass commented on #173
@alsrgv , Yes I can't reproduce the difference between runs on IntelMPI vs OpenMPI_NCCL. So let's consider we have no this issue for now.

[2018-03-28 15:43] msinto93 opened #224 ""No protocol specified" and ""Client is not authorized to connect to Server""
I am trying to run TensorFlow with Horovod on an NVIDIA DGX Workstation with 4 V100 GPUs. I have installed OpenMPI and Horovod (NCCL 2 was already installed). However, any time I try to run any Horovod code I get the following messages, then the process just hangs:

"No protocol specified"
"Client is not authorized to connect to Server"

I suspect this problem may be coming from OpenMPI, but I am

[2018-03-28 15:55] alsrgv commented on #224
@msinto93, can you paste all output of `mpirun`?

[2018-03-28 15:57] alsrgv commented on #223
@benyoti, that's very interesting. Are you manually setting random seed?  Are you using shuffling?

[2018-03-28 16:03] alsrgv commented on #86
@surak, can you open a new issue for this?  Please include output of `nvidia-smi` and the `mpirun` command that you ran.

[2018-03-28 16:04] msinto93 commented on #224
mpirun by itself results in the following output:

``No protocol specified ``
``Client is not authorized to connect to ServerClient is not authorized to connect to ServerClient is not authorized to connect to ServerClient is not authorized to connect to ServerClient is not authorized to connect to Server ``

After this it simply hangs.

[2018-03-28 16:19] alsrgv commented on #224
Can you paste your `mpirun` command and add `-mca plm_rsh_args "-vvvv"` to your mpirun command to debug?  This appears to be ssh issue.

[2018-03-28 17:48] benyoti commented on #223
I am not doing any shuffling or setting a random seed in order to see what's going on. I wrote a basic script using the Dataset API, AlexNet and incorporated horovod following examples/tensorflow_word2vec.py

If I use one GPU:
[code]

If I use 2 GPUs:
[code]

What is shown are the labels input after calling a sess.run(). I have 3 classes, 4 samples per classes (12 samples in total), batch size is

[2018-03-28 18:20] alsrgv commented on #223
Can you add shuffling to your dataset? That should help different processes read different data.  It's also help to reduce over fitting.

[2018-03-28 20:53] jianyinglang opened #225 "Build error with #include "tensorflow/compiler/tf2xla/xla_op_kernel.h""
Tried "pip install horovod" including the header file 'tensorflow/compiler/tf2xla/xla_op_kernel.h' in mpi_ops.cc file and got the following error message:
build/temp.linux-x86_64-3.5/test_compile/test_tensorflow_abi.cc:5:55: fatal error: tensorflow/compiler/tf2xla/xla_op_kernel.h: No such file or directory compilation terminated.
error: Unable to determine CXX11 ABI to use with TensorFlow (see err

[2018-03-29 06:48] alsrgv commented on #225
@jianyinglang, I'm not sure `xla_op_kernel.h` is packaged in the TensorFlow python package.  What functionality are you including from there?

[2018-03-29 08:53] gangliao opened #226 "Our benchmark on 64 GPUs"
Our benchmark on 64 GPUs (8 GPUs per node):

https://gist.github.com/gangliao/235fe1f055cf4c944efb698ae1f67577

Thanks.

[2018-03-29 16:52] jianyinglang commented on #225
@alsrgv, Thanks a lot for the quick response! I am trying to use the function of `REGISTER_XLA_OP`. I wonder if there is a way to include `xla_op_kernel.h`.

[2018-03-29 17:09] abidmalik1967 opened #227 "Error running Horovod"
I am currently running the horovod framework on different machines. On one machine I got the following message.

-----------------------
 mpirun -np 1 -H node04:1 -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH python scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py --model resent101 --batch_size 64 --variable_update horovod
Traceback (most recent call last):
  File "scripts/tf_cnn_benchmarks/tf_cnn_b

[2018-03-30 05:41] TomorrowIsAnOtherDay opened #228 "Any advice with large embedding layer with large batch size?"
Thanks for your nice job, Horovod can be used to train lots of  image models which have a lot of dense parameter.
But I found its performance with large embedding layer with large batch size is very slow,
I supposed its bottleneck is
https://github.com/uber/horovod/blob/85882b0b04afe207ae9d5b91cc1eef726dea0083/horovod/tensorflow/__init__.py#L68
Because it have to collect  lots of sparse gradients

[2018-03-30 07:13] scotthuang1989 opened #229 "When use horovod with keras, allreduce operation will be performed every epoch?"

[2018-03-30 07:13] #229 closed

[2018-03-30 18:43] dmwendt commented on #190
Here is a gist that shows the above workaround (optimize-graph) as well as alternate method.
https://gist.github.com/dmwendt/ed2779f07aa849eda2e1756cd3b9fcb0

[2018-03-31 11:15] calledbymountains commented on #223
@alsrgv @benyoti  I have the same problem. In my tests I have found that If according to my specified batch size, one epoch should get over in 200 steps, and I am training on 8 gpus, then instead one epoch gets over in 1600 epochs. This corresponds exactly to the issue pointed.

@alsrgv  I do not see any reason for things to improve by shuffling the dataset. This is not a problem of dataset shuffl

[2018-03-31 19:54] alsrgv commented on #226
@gangliao, very nice, thanks for sharing!

[2018-03-31 19:56] alsrgv commented on #225
@jianyinglang, I'd recommend making a PR for TensorFlow team to include headers in the python package.

[2018-03-31 19:58] alsrgv commented on #227
@abidmalik1967, this looks like a TensorFlow installation issue. Can you try installing TensorFlow in a virtual env?

[2018-03-31 20:02] alsrgv commented on #228
@TomorrowIsAnOtherDay, it would be great if we make Horovod work efficiently with sparse models as well.  Is there a good public benchmark which would approximate your workload so we could profile it internally?

[2018-04-01 20:20] abidmalik1967 opened #230 "Running Tensorflow with Horovod with Slurm"
@alsrgv   I am trying to run tf_cnn_benchmarks with Horovod on a cluster. The cluster has 20 GPU nodes with 2 P100 GPUs per node. I am using the following script.

#!/bin/bash -l

#SBATCH -p long
#SBATCH -t 1:00:00
#SBATCH -N 20
#SBATCH -C pascal
#SBATCH --gres=gpu:2
#SBATCH --qos=normal
#SBATCH -o hostname_%j.out

module load openmpi/3.0.0-gnu
module load anaconda2/4.2.0
module load cuda/9.0
modu

[2018-04-01 20:21] abidmalik1967 commented on #227
Ok.. Will try right now!

[2018-04-01 21:02] calledbymountains commented on #223
@alsrgv  @benyoti  The problem can be solved by using `shard()` method of `tf.data.Dataset` class.

[2018-04-02 01:03] alsrgv commented on #230
@abidmalik1967, try adding `--variable_update horovod` as per https://github.com/uber/horovod/blob/master/docs/benchmarks.md

[2018-04-02 01:04] alsrgv commented on #223
@calledbymountains, thanks for sharing.  Indeed, per https://www.tensorflow.org/api_docs/python/tf/data/Dataset#shard, you can do:
[code]

[2018-04-02 11:07] abidmalik1967 commented on #230
@alsrgv  I am using the following flags:

mpirun -np 2  -npernode 2 -x LD_LIBRARY_PATH  python tf_cnn_benchmarks.py --model=resnet50 --batch_size=64 --horovod_device=gpu --num_batches=2000 --print_training_accuracy --variable_update horovod
LD_LIBRARY_PATH has the link to NCCL2 library.

Now I can horovod instead of parameter server. It means the library is in action now.

---------
However,
I am

[2018-04-02 11:36] abidmalik1967 commented on #230
@alsrgv  Here are some more information:

ldd `find $HOME/.local/lib/python2.7/site-packages | grep horovod/tensorflow/mpi_lib.so`
	linux-vdso.so.1 =>  (0x00007fffdeffd000)
	libcudart.so.9.0 => /usr/local/cuda-9.0/targets/x86_64-linux/lib/libcudart.so.9.0 (0x00002b451442c000)
	libpython2.7.so.1.0 => /hpcgpfs01/software/anaconda2/4.2.0/lib/libpython2.7.so.1.0 (0x00002b451469a000)
	libmpi.so.40 => /

[2018-04-02 11:37] abidmalik1967 commented on #230
Also what is

libmpi.so.40 => /hpcgpfs01/software/openmpi/3.0.0-gnu/lib64/libmpi.so.40 (0x00002b4514a94000)
libtensorflow_framework.so => not found

Why am I getting this?

[2018-04-02 12:40] abidmalik1967 commented on #227
@alsrgv In the virtual environment, How should I configure TF for MPI? or Horovod takes care of this and we only need simple Tensorflow installation (without MPI configuration)?

[2018-04-02 16:26] TomorrowIsAnOtherDay commented on #228
How about word2vec with wikipedia corpus?

[2018-04-02 21:40] alsrgv commented on #227
@abidmalik1967, simple TF installation should suffice. We also do embed NCCL into Horovod binary using static compilation.  You can check whether this happened by running an example with `-x NCCL_DEBUG=INFO` - you should see NCCL printing information about rings it's making.

[2018-04-02 21:42] alsrgv commented on #230
@abidmalik1967, `ncclAllReduce failed: invalid data type` is indicative of using the wrong version of NCCL (see troubleshooting [page](https://github.com/uber/horovod/blob/master/docs/troubleshooting.md#ncclallreduce-failed-invalid-data-type)).  If you're using anaconda, can you remove `nccl` package that it may have?

[2018-04-02 21:43] alsrgv commented on #228
@TomorrowIsAnOtherDay, how large is your sparse embedding dimensionality?

[2018-04-02 23:18] abidmalik1967 commented on #227
@alsrgv Thanks. I was able to run it successfully. I was making a mistake as well. I was using CUDA 9 and using NCCL2 for CUDA8.

[2018-04-03 03:40] TomorrowIsAnOtherDay commented on #228
Two embedding layers:
[100001, 256]
[400001, 256]
And I tried to launch two mpi workers with batch size 4096 each.
total batch size is 4096 * 2.

[2018-04-03 04:30] TomorrowIsAnOtherDay commented on #228
@alsrgv But [400001, 256] is an embedding layer used for word embedding.
In my case, a sentence(average length 100) was fed into memory for each example.

[2018-04-03 04:35] alsrgv commented on #228
@TomorrowIsAnOtherDay, 400001 is vocabulary size, right? So, for each word you'll have 256 element vector. If an average length is 100, you'll do ~1.6GB per batch.  It's going to be harder to scale as the number of workers grows though - but doable, since the data can be pinned to CPU RAM.  What is the time per batch with distributed training and on a single GPU?

[2018-04-03 04:37] alsrgv commented on #227
I'll close this issue as it appears to be resolved.  Feel free to reopen or raise a new one.

[2018-04-03 04:37] #227 closed

[2018-04-03 04:37] alsrgv commented on #161
I'll close this issue as it appears to be resolved.

[2018-04-03 04:37] #161 closed

[2018-04-03 04:38] alsrgv commented on #160
I'll close this issue as it appears to be resolved.

[2018-04-03 04:38] #160 closed

[2018-04-03 04:38] alsrgv commented on #165
I'll close this issue as it appears to be resolved.

[2018-04-03 04:38] #165 closed

[2018-04-03 04:39] alsrgv commented on #180
I'll close this issue as it appears to be resolved.

[2018-04-03 04:39] #180 closed

[2018-04-03 04:40] alsrgv commented on #155
I'll close this issue as it appears to be resolved.

[2018-04-03 04:40] #155 closed

[2018-04-03 04:41] alsrgv commented on #106
I'll close this issue as it appears to be resolved.

[2018-04-03 04:41] #106 closed

[2018-04-03 04:42] alsrgv commented on #113
I'll close this issue as it appears to be resolved.

[2018-04-03 04:42] #113 closed

[2018-04-03 04:42] alsrgv commented on #117
I'll close this issue as it appears to be resolved.

[2018-04-03 04:42] #117 closed

[2018-04-03 05:07] TomorrowIsAnOtherDay commented on #228
a single GPU: 55 batch /s
two GPU: 7.27 batch /s

[2018-04-03 05:13] alsrgv commented on #228
Right, this kind of workload would be hard to scale this way - you're essentially doing no computation, it's all about communication and matrix lookups.  Probably you don't even need GPUs.  This may benefit from having a parameter server with parameter matrix sharded across multiple servers.

[2018-04-03 05:30] TomorrowIsAnOtherDay commented on #228
Thanks for your advice.
But then the bottleneck would be in worker?
Because the worker must sync its own model for parameter server before running the next batch, though having multiple servers.

[2018-04-03 05:34] alsrgv commented on #228
Right, basically you have a set of parameter servers, each time you process batch you need to request embedding values at given indices from parameter server, compute updates and send them back.  You may benefit from running asynchronous training since there's less chance of collision between workers compared to the dense training of image models, and so you won't have a problem of stale gradients

[2018-04-03 05:41] TomorrowIsAnOtherDay commented on #228
We still have a lot of layers above embedding layers(e.g encoding/decoding).
Is asynchronous training still a good choice?

[2018-04-03 06:40] TomorrowIsAnOtherDay commented on #228
Thanks for your advice：）I will have a try.

[2018-04-03 06:40] #228 closed

[2018-04-03 11:35] benyoti commented on #223
Great, thanks! I can confirm this is working as intended :)

[2018-04-03 11:35] #223 closed

[2018-04-03 19:15] atinsood commented on #60
@alsrgv I wanted to have done this earlier, but just had a little baby boy so that's keeping me really busy. I would like to thank you for helping out with getting horovod going and your patience in answering my questions around horovod. I am a part of IBM Watson and we have been able to integrate Horovod natively as a part of IBM Watson Studio which offers you Deep Learning as a Service. I believ

[2018-04-03 19:50] abidmalik1967 commented on #230
@alsrgv Thanks. I was able to run it on 10 GPU Nodes.  Will try to scale it on bigger machines.

[2018-04-04 01:00] ortutay opened #232 "Performance is worse going from 1->2 CPU on word2vec"
I'm testing out horovod and getting surprising result for the word2vec example. I rand it using 1 CPU and got the following output:

[code]

The "after X sec" is the only change I made to the code.

I then ran it on two nodes, expecting same or better performance. Instead I got this:

[code]

Note that it takes around 2x longer in terms of clock time to reach the same loss.

Is this expected behav

[2018-04-04 01:00] ortutay commented on #232
I am running on t2.medium instances on AWS

[2018-04-04 08:56] #230 closed

[2018-04-04 14:16] msinto93 opened #233 "Saving checkpoint only on rank 0 results in future steps being out of sync"
I am running Horovod multi-GPU training on a single machine with 4 GPUs.

Below is my command used to start training:

[code]

As suggested in the usage instructions, I only save a checkpoint if hvd.rank() == 0. However, while the checkpoint is saving on process 0, the other processes continue to train, meaning the steps become out of sync between processes. (e.g. if I save a checkpoint at step 10

[2018-04-04 15:42] alsrgv commented on #233
@msinto93, saving checkpoint should not result in any de-sync between workers because allreduce acts as a barrier and makes all workers wait for the slowest worker.  It sounds like you may not have added `hvd.DistributedOptimizer()` to your code and your code, in fact, does not do distributed training.

[2018-04-04 16:08] msinto93 commented on #233
This issue has now been solved, not sure exactly what was causing it but it is now working as it should. I did have hvd.DistributedOptimizer() in there. Thanks for the help.

[2018-04-04 16:08] #233 closed

[2018-04-06 12:31] abidmalikwaterloo opened #234 "Segmentation fault -- when ran with 240 GPUs"
I got the following error message:

ichost103:15819:15981 [1] include/socket.h:196 WARN Connection closed by remote peer
ichost103:15819:15981 [1] INFO transport/net_ib.cu:461 -> 2
ichost103:15819:15981 [1] INFO include/net.h:29 -> 2 [Net]
ichost103:15819:15981 [1] INFO bootstrap.cu:170 -> 2
ichost103:15819:15981 [1] INFO init.cu:422 -> 2
ichost103:15819:15981 [1] INFO init.cu:542 -> 2
[ichost003:

[2018-04-06 22:22] jianyinglang opened #236 "undefined symbol: _ZTIN10tensorflow13AsyncOpKernelE"
I did `pip install horovod` after tensorflow build but got the following error message when I tried to load  `horovod.tensorflow`. I used bazel 0.11.1 and gcc6.3 for tensorflow build and openmpi3.0.0 for horovod.

[code]

[2018-04-06 22:41] #236 closed

[2018-04-06 23:13] alsrgv commented on #234
@abidmalik1967, it looks like a networking issue.  Can you include output before `ichost103:15819:15981 [1] include/socket.h:196 WARN Connection closed by remote peer`?  Does it always happen, or sporadically?

[2018-04-06 23:15] alsrgv commented on #232
hi @ortutay, as mentioned in #228, word2vec example is there to show how to use Horovod with sparse gradients rather than an example with a great scaling.  Amount of work performed per worker is much less than the communication required for synchronization, that's why you see worse performance between nodes.

[2018-04-07 12:02] abidmalik1967 commented on #234
@alsrgv  I faced the same issue with 400 GPUs.

[2018-04-08 01:32] abidmalik1967 commented on #234
[hostname_180292_400.pdf](https://github.com/uber/horovod/files/1886872/hostname_180292_400.pdf)
@alsrgv I have attached the output file of the run. I am also looking into it.

[2018-04-08 01:59] ortutay commented on #232
Thanks @alsrgv for the explanation. Are there any debug outputs that help monitor amount of communication vs. computation to assist with optimizing?

[2018-04-08 18:50] alsrgv commented on #232
@ortutay, you can use `top` or `htop` for monitoring CPU utilization, `nvidia-smi` for monitoring GPU utilization and `ethtool -S` for monitoring network utilization.

[2018-04-08 18:55] alsrgv commented on #234
@abidmalik1967, in your case the issue starts with:
[code]

Can you exclude that host (ichost003) from your run to see if it helps with stability?

[2018-04-09 12:13] msinto93 opened #237 "Horovod with tf.data.Dataset input pipeline (num_parallel_calls argument)"
I am training a model in Tensorflow using 4 V100 GPUs. I am using 'tf.data.Dataset' code (https://www.tensorflow.org/api_docs/python/tf/data/Dataset) for my input pipeline. Within this code I use the dataset.map() function shown below to map `map_func` across the dataset.

[code]
The Tensorflow documentation suggests to set `num_parallel_calls` to be equal to the number of CPU cores available on t

[2018-04-09 22:07] ortutay commented on #232
Thanks @alsrgv

[2018-04-09 22:07] #232 closed

[2018-04-09 23:09] richardliaw opened #238 "Running Horovod on P3 Instances"
Hi, I have a question about running Horovod on AWS P3.16x instances (with the newest DL AMI).

I understand that these instances offers support for NCCL 2, which advertises multi-node collective communication primitives.

If I follow these instructions (https://github.com/uber/horovod/blob/master/docs/gpus.md), will object/gradient transfer during training result in CPU involvement?

Thanks! (If t

[2018-04-10 16:47] alsrgv commented on #237
@msinto93, yes, I would recommend dividing this number by the number of GPUs.  You can use `hvd.local_size()` to make it more generic so you could move between 4-GPU and 8-GPU machines.

[2018-04-10 16:49] alsrgv commented on #238
@richardliaw, this comment may help you - https://github.com/uber/horovod/issues/187#issuecomment-369821478.  If you install with NCCL support, it will use NCCL for all-reduce.  You can use `mpirun` argument `-x NCCL_DEBUG=INFO` to confirm - you should see NCCL debug output.

[2018-04-11 00:57] richardliaw commented on #238
Thanks for the reference! So it seems like CPU involvement is avoided.

Do you know where I can read about the specifics of how the multi-node GPU <-> GPU communication is implemented?

[2018-04-11 01:14] alsrgv commented on #238
@richardliaw, I should clarify that since AWS does not have RDMA networking, there will be data transfer between GPU - CPU on the way to NIC:
[code]
However, CPU will not be used for the expensive averaging operation.

If RDMA was available, one could bypass CPU with GPUDirect technology:
[code]

[2018-04-11 01:47] richardliaw commented on #238
OK I see, your explanations and diagrams are very helpful. Thanks!

[2018-04-11 01:47] #238 closed

[2018-04-11 11:34] Queequeg92 opened #239 "Failed to load the native TensorFlow runtime"
I'm trying to install horovod with tf 1.6, cuda 9.0, python3.6, ubuntu 16.04. The tensorflow runtime can be loaded normally from terminal. But when I install horovod, it always reports the following error:
ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory
Failed to load the native TensorFlow runtime.

Can anyone help me?

[2018-04-11 19:05] harryxu-yscz opened #240 "why all processes get allocated on 1 gpu?"
As title suggests. And here is what I observe from `nvidia-smi`. The command I used was `mpirun -np 2 python run.py <flags>`

[code]

[2018-04-11 19:44] alsrgv commented on #240
@harryxu-yscz, I suspect that you missed setting https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py#L101 or you have some TensorFlow code that creates a session without this config (e.g. if you're enumerating all the available GPUs).

[2018-04-11 19:45] alsrgv commented on #239
@Queequeg92, are you installing Horovod with `sudo`?  If you do, you may need to put `sudo LD_LIBRARY_PATH=$LD_LIBRARY_PATH HOROVOD_GPU_ALLREDUCE=NCCL [other flags] pip install horovod`

[2018-04-11 23:02] harryxu-yscz commented on #240
Thanks for the reply!

In fact I did include that line. Another weird behavior I observed is that all my logging statements are print out twice..

[code]

[2018-04-11 23:52] harryxu-yscz commented on #240
I solved the first issue: processes get placed on single gpu. Turned out I was not running the horovod part of the code..

Now my remaining question is the double printing. It looks like each gpu training process is replicating the training behavior: create loggings, generating data from its own generator, evaluating results. Any suggestion on this?

[2018-04-12 06:30] GoodJoey commented on #234
wow... that's a hell lot of gpus.

[2018-04-12 06:48] Queequeg92 commented on #239
Adding LD_LIBRARY_PATH=$LD_LIBRARY_PATH helps. Thank you very much! I think you should update     your docs here https://github.com/uber/horovod/blob/master/docs/gpus.md. There is no LD_LIBRARY_PATH=$LD_LIBRARY_PATH in the suggested command.

[2018-04-12 10:34] Queequeg92 opened #241 "Confusion about learning rate and batch_size when using horovod"
When I transfer a tensorflow single-gpu code to horovod, should I adjust the learning rate and the batch_size?

[2018-04-12 13:17] scotthuang1989 opened #242 "why rank 0 wil comsume more GPU memory"
![image](https://user-images.githubusercontent.com/5325686/38679566-a9306d7c-3e96-11e8-84e4-cc225b63a349.png)

I have 4 GPUs on one machine, but when I run distributed training on it. I found that GPU0 (which I think is rank 0) will use more GPU memory.  the problem is I want to increase batch size.  GPU 1,2,3 still have a big room for it , but not for GPU 0.  Do I make some mistakes?

[2018-04-12 18:05] alsrgv commented on #239
Good suggestion.  Seems more suited for the [Troubleshooting](https://github.com/uber/horovod/blob/master/docs/troubleshooting.md) section though.

[2018-04-12 18:11] alsrgv commented on #240
@harryxu-yscz, we did an internal comparison between data loader that does deterministic partitioning where there's no overlap between workers in a single epoch, and completely random data loader which reads random slices from the whole dataset with potential for some examples to be read multiple times in a single epoch.  We found no observable impact on the convergence.  So, the recommendation is

[2018-04-12 18:20] alsrgv commented on #241
@Queequeg92, you don't have to adjust batch size, but you generally need to adjust learning rate.  Facebook published [ImageNet in 1hr](https://research.fb.com/wp-content/uploads/2017/06/imagenet1kin1h5.pdf) paper demonstrating linear scaling. If you're using Keras, we have it implemented as a plug-in, e.g. see [ImageNet training example](https://github.com/uber/horovod/blob/master/examples/keras_

[2018-04-12 20:09] harryxu-yscz commented on #240
Thanks! All questions answered

[2018-04-12 20:09] #240 closed

[2018-04-12 21:18] gururao001 commented on #223
So will the same behavior hold true for multiple node setting as well? Say there are 2 servers with 2 gpus
each of the servers will shard the dataset based on rank but both the servers will get the same initial dataset to shard right?

server 1
Batch 1 - gpu 0
[0 0 0 0]
Batch 1 - gpu 1
[1 1 1 1]

server 2
Batch 1 - gpu 0
[0 0 0 0]
Batch 1 - gpu 1
[1 1 1 1]

 How can I modify this to multiple node

[2018-04-13 00:38] alsrgv commented on #223
@gururao001, I believe your desired outcome is what dataset API will do for you. `hvd.size()` will be 4, and `hvd.rank()` will be [0..3].

[2018-04-13 01:10] scotthuang1989 commented on #242
![image](https://user-images.githubusercontent.com/5325686/38711722-02bd3c54-3efa-11e8-8a9d-fc1a4c641222.png)
@alsrgv  this pciture is taken from different model, but show the same problem.

[2018-04-13 01:28] scotthuang1989 commented on #242
@alsrgv  As far as I know, rank 0 do 2 extra things: write summaries (which is unlikely the cause and easy to try) and  broadcast initial variable(not sure what will happen if I delete this, but I will try it). I will try these next time I have the machine. if you have any other ideas, let me know.

[2018-04-13 01:57] Queequeg92 commented on #241
Thanks for your reply.
Does horovod change the effective batch size? If the batch size of a tensorflow single-gpu code is 128 and it's distribute to 4 gpus by horovod, dose the effective batch size change to 128*4? I just want to keep the effective batch size and learning rate schedule unchanged.

[2018-04-13 06:41] harryxu-yscz opened #243 "Horovod has been shut down?"
I am running tensorflow-gpu scripts on a k80 machine and the command I used was `mpirun -np 3 python run.py <flags>`; to specify which gpus to use, I set `os.environ['CUDA_VISIBLE_DEVICES'] = '0,1,2'`.

Error logs:

[code]

Didn't see this when I ran on my 2*1080 gpus... not sure what went wrong. Please suggest. Thanks in advance!

[2018-04-13 07:09] alsrgv commented on #243
@harryxu-yscz, are there any exceptions before this error?  What's the very first exception in the log?

[2018-04-13 07:12] alsrgv commented on #241
@Queequeg92, that's going to be tricky.  Yes, if you keep batch size per GPU the same, effective batch size will grow according to your formula.  You can decrease batch size per GPU, but GPUs are not optimized for small batch processing, and pretty quickly scaling will not increase performance anymore.  Hence, industry is trying to figure out how to do training effectively with large batches.

[2018-04-13 08:42] Queequeg92 commented on #241
@alsrgv Got it! :clap::clap::clap:Large batches make training effectively. But for people doing research, some models are too large for a single gpu system. What they want to do is to distribute large models to a multi-gpu system and keep the effective batch size unchanged. I think the docs and examples should make the effective batch size part more clear. So people could adjust the effective batc

[2018-04-13 08:43] #241 closed

[2018-04-13 14:40] abidmalik1967 opened #244 "Horovod Timeline"
I was unable to get the trace. I am getting the following message:

**WARNING: Error opening the Horovod Timeline file /home/amalik/horovod/benchmarks/TRACES/, will not write a timeline.**

I ran with the following command:

 **mpirun -np 6 -H node04:1,node05:1,node06:1,node07:1,node01:1,node02:1 -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x HOROVOD_TIMELINE python  scripts/tf_cnn_benchmarks/tf

[2018-04-13 16:50] harryxu-yscz commented on #243
@alsrgv Thanks for the swift reply...

here are the full tracebacks:

[code]
The code is run in a docker container built according to horovod `Dockerfile`

[2018-04-13 21:47] alsrgv commented on #241
@Queequeg92, good point - we'll update the docs.

[2018-04-13 21:50] alsrgv commented on #243
@harryxu-yscz, can you share the full log from `mpirun`?  `Horovod has been shut down.` should happen only after some failure already has happened.

[2018-04-13 21:51] alsrgv commented on #244
@abidmalik1967, you should set `HOROVOD_TIMELINE` to a filename, rather than a directory.  It will write file only on rank 0, so there's no worry about concurrent writes.

[2018-04-14 00:56] harryxu-yscz commented on #243
@alsrgv It turned out I did not expose 1 gpu in the environment variable... Sorry about my stupidity. Now the training seems fine except these `Read -1, expected xxx` statements:

[code]
Did I do anything wrong here.?

[2018-04-14 01:47] abidmalik1967 commented on #244
@alsrgv Thanks Got. It is a pretty neat stuff.

[2018-04-14 01:47] #244 closed

[2018-04-14 01:57] alsrgv commented on #243
Great that you figured it out.

Those `[062fc37504b7:00350] Read -1, expected 321120, errno = 1` messages are typical in Docker and are not harmful.  I haven't found a way to silence them yet.

[2018-04-14 02:48] harryxu-yscz commented on #243
Thanks! all question answered

[2018-04-14 07:30] harryxu-yscz commented on #243
@alsrgv things were fine when I use 2 processes but went wrong with 3+ processes.

I observed that `[062fc37504b7:00350] Read -1, expected 205600, errno = 1` stop updating and the python process just hang there. GPU volatile util was fixed at 100% for all 3 gpus. I can still put the process to background/kill it with `ctrl + c`. Any idea what's happening here?

[2018-04-16 20:36] thyeros opened #245 "how to run keras-resnet50?"
I found the script horovod/examples/keras_imagenet_resnet50.py, but not sure what input it requires. Does it need TFRecord or LMDB or raw file? Any help would be appreciated.

[2018-04-16 21:36] alsrgv commented on #245
@thyeros, that specific example uses raw JPEG files in a standard structure: `train/<class>/<example>.jpeg` & `validation/<class>/<example>.jpeg`.

[2018-04-16 23:39] abidmalik1967 commented on #234
@alsrgv I tried with 160 GPUs ( 4 GPUs per node).  Last time it ran. But this time got a message from the system that one of the nodes died due to the segmentation error and thus terminated the whole job. I am not getting consistent success with large GPUs, especially after 80 GPUs.

[2018-04-16 23:39] thyeros commented on #245
Got it, I tried with raw files, but it failed perhaps I have "val"/class instead of "validation". Do you have a recommended command line options to reach 75% in 100 epochs?

[2018-04-16 23:59] abidmalik1967 commented on #234
@alsrgv another job with 320 GPUs terminated with the same message. Does, the Horovod support the fault tolerance/resilience mechanism? The strange thing is that in both cases the same node died.

[2018-04-17 12:29] Zhaojp-Frank opened #246 "Question on benchmark baseline"
A quick question about the baseline (original TensorFlow) shown in the benchmark.
what's the distributed param used in baseline test at that moment? e.g., using --server_protocol=grpc or grpc+mpi, or gdr? distributed_replicated or parameter_server?

[2018-04-17 21:31] alsrgv commented on #245
@thyeros, I ran it as easily as `mpirun -np N [... other flags ...] python keras_imagenet_resnet50.py`, with flags based on https://github.com/uber/horovod/blob/master/docs/running.md.

[2018-04-17 21:35] alsrgv commented on #234
@abidmalik1967, in your other runs, what is the first error message that you see, along the lines of `ichost003:36391:36755 [0] misc/ibvwrap.cu:249 WARN Call to
ibv_create_comp_channel failed` from the previous run that we looked at?  MPI / NCCL don't have fault tolerance, unfortunately, and so it's necessary to weed out all the bad nodes.

[2018-04-18 15:35] abidmalik1967 commented on #234
@alsrgv

Here is the detail for  node 94
hostname_184109_320.out:[ichost094:17969] *** Process received signal ***

hostname_184109_320.out:[ichost094:17969] Signal: Segmentation fault (11)

hostname_184109_320.out:[ichost094:17969] Signal code: Address not mapped (1)

hostname_184109_320.out:[ichost094:17969] Failing at address: 0x1170

hostname_184109_320.out:[ichost094:17969] [ 0] /usr/lib64/li

[2018-04-19 00:53] alsrgv commented on #234
@abidmalik1967, those are both segfaults, but typically we do see WARN messages from NCCL prior to segfault.  For example, in the pdf file that you shared before with full log, the issue was `ichost003:36391:36755 [0] misc/ibvwrap.cu:249 WARN Call to
ibv_create_comp_channel failed`.  What is the first set of WARN messages that you got on those two other runs that failed?

[2018-04-19 00:55] alsrgv commented on #246
@Zhaojp-Frank, that was plain `grpc` + `parameter_server` as of TensorFlow 1.3.0.

[2018-04-19 00:58] alsrgv commented on #243
@harryxu-yscz, if you did not get it resolved, it would be helpful to do:
1) `nvidia-smi`
2) determine PID of training process
3) `gdb -p $PID`
4) `thread apply all bt`
& paste the output via http://gist.github.com

[2018-04-19 18:55] alsrgv commented on #200
@zippeurfou, we've recently added Kubernetes job support via Kubeflow (https://github.com/kubeflow/kubeflow/tree/master/kubeflow/openmpi).

[2018-04-19 18:56] #200 closed

[2018-04-19 20:12] wuxf99 opened #248 "hvd.broadcast issue"
Hi, I write the Horovod code to use hvd.broadcast to broadcast the data from rank 0 to other ranks as follows:

# Horovod: broadcast df_train and df_test from rank 0 to other ranks.
    if hvd.rank() == 0:
        print('Loading data...')
        df_train = (pd.read_csv(train_path,header=None).values).astype('float32')
        df_test = (pd.read_csv(test_path,header=None).values).astype('float32')

[2018-04-20 20:24] wuxf99 commented on #248
I understood that because the data is read remotely via ftp for different nodes. I try to compare which way is efficient.

I see. hvd.broadcast requires data dimensions to be known before it is executed, that is why I had the problem. If so, I prefer mpi4py Bcast. Thanks.

[2018-04-20 20:24] #248 closed

[2018-04-23 06:17] anpark opened #249 "How to split dataset by multi workers?"
HI, if i have 5 parts input dataset in hdfs, then if i use 5 workers to train 2 epochs
i think worker 0 read part-0 2epochs, worker 1 read part-1 2 epochs,..... is it right, if yes, how to do that by horovod?

[2018-04-23 06:26] alsrgv commented on #249
If your # of files exactly matches a number of workers or is a multiple of it, you could use [tf.train.match_filenames_once](https://www.tensorflow.org/api_docs/python/tf/train/match_filenames_once) with `hvd.rank()` as part of file name pattern.

That said, it would be better and more scalable to create # of training files in HDFS which is a 10+ multiple of # of workers (e.g. 50 files for 5 worke

[2018-04-23 06:41] anpark commented on #249
but i don't see that code in tf-benchmark, how do you test multi workers?

[2018-04-23 06:49] alsrgv commented on #249
TF benchmark does random file reading via different [random seed](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/benchmark_cnn.py#L1688) on different workers.

Here's an example of per-epoch adjustment of number of steps: https://github.com/uber/horovod/blob/master/examples/keras_imagenet_resnet50.py#L140

[2018-04-23 06:54] anpark commented on #249
but that's not exact shard, maybe have same file part on different workers, i'm not sure that's ok?

[2018-04-23 06:57] anpark commented on #249
because i found that horovod runs much faster then PS with sync, but converged much worse than parameter server

[2018-04-23 06:57] alsrgv commented on #249
We did an experiment with ImageNet where we trained one model with random reading, which could indeed face issues with multiple workers reading the same shard on certain occasions, and also trained model with pre-determined partitions that are re-shuffled every epoch.  Both experiments converged to the same accuracy.

[2018-04-23 06:58] alsrgv commented on #249
That's an interesting observation.  Can you share details of your experiment?  Note - in ImageNet experiment # of file shards was 10x of # of workers.

[2018-04-23 17:40] harryxu-yscz commented on #243
@alsrgv Thanks for the advice. Here's the output: https://gist.github.com/harryxu-yscz/1e91aa5be6263feb481fc894d626812c

[2018-04-24 12:19] zuowang opened #250 "Error when using horovod with tensorflow's slim"
@alsrgv I modified train_image_classifier.py to use horovod, but I got below errors, could you help me?

[code]

[2018-04-24 13:19] zuowang commented on #250
resolved

[2018-04-24 13:19] #250 closed

[2018-04-25 01:45] anpark commented on #249
I ran the benchmark for cifar10 in tensorflow/models  using 1 node with 4 gpus:
accuracy: 0.9114 by PS sync or official multi gpu, time: 2 hours, but 0.8931 by hornovd, time: 30min

model: resnet32_v2
Batch size: 128 global 32 per device
num_samples:50000, num_epochs:250.00, num_steps:97657
piecewise_learning_rate_schedule: 0.1;100;0.01;150;0.001;200;0.0001
data_format:NCHW

[2018-04-25 12:30] lamperouge11 opened #251 "when I add code hvd.allgather(fc_feature) in tensorFlow_mnist.py, loss can not converge"
def conv_model(feature, target, mode):
    """2-layer convolution model."""
    # Convert the target to a one-hot tensor of shape (batch_size, 10) and
    # with a on-value of 1 for each one-hot vector of length 10.
    target = tf.one_hot(tf.cast(target, tf.int32), 10, 1, 0)

    # Reshape feature to 4d tensor with 2nd and 3rd dimensions being
    # image width and height final dimension being th

[2018-04-25 12:35] lamperouge11 commented on #251
@jiezhang ,please help me....
no allgather

![image](https://user-images.githubusercontent.com/17671593/39245997-e4f04c70-48c7-11e8-99f9-189c7cd03327.png)
add allgather

![image](https://user-images.githubusercontent.com/17671593/39246017-f7e185b0-48c7-11e8-8d0a-9466c39ba918.png)

[2018-04-25 18:25] alsrgv commented on #249
@anpark, I've trained a couple of models and got approximately the same result between single-GPU (P100 with batch size 128) and 4xGPU with batch size 32 each.

Single GPU:
[code]

4xGPU with Horovod:
[code]

[2018-04-25 18:31] alsrgv commented on #251
@lamperouge11, did you mean to use `hvd.allreduce` rather than `hvd.allgather`?

[2018-04-26 01:29] lamperouge11 commented on #251
@alsrgv ,hi , I am sorry about detailed description of the problem。
 I wanted to train a model of great class(more than 500000 classification) within multiple GPU , but the parameter of  the last full_connect  layer is too huge(about 1-2G), so I used to allgather the label and feature before the last full_connect  layer for avoiding transmission parameters , It can compute parameter instead of tra

[2018-04-26 02:38] anpark commented on #249
@alsrgv Thanks!
I found the problem is my env is out of date, now it's ok
Horovod cost 50min, PS sync and multi-gpu using 1hour, Horovod is a Great Job!

[2018-04-26 02:45] anpark opened #252 "Timeline maybe Start but without end"
https://github.com/uber/horovod/blob/f4c326ca25a142d1d2a117a87809fa7655724679/horovod/common/operations.cc#L936

when using nccl, thread not join, maybe timeline start but  without end, cause timeline next time start conflict

[2018-04-28 02:55] scotthuang1989 opened #255 "How to analyze timeline log with horovod"
I post this  issue on [stackoverlfow](https://stackoverflow.com/questions/50072398/how-to-analyze-timeline-log-with-horovod), but I found that no horovod tag. so I put it on tensorflow tag and hope I can find more useful advice at here.

After some debug, I found a very extreme situation, the **NEGOTIATE_ALLREDUCE**  takes a lot time.
NCCL is installed and I have set the **LD_LIBRARY_PATH** correc

[2018-04-28 08:01] alsrgv commented on #255
@scotthuang1989, `NEGOTIATE_ALLREDUCE` captures the timeline of when each worker sent readiness event for a particular tensor.  If you see this phase take 30 seconds, it means there's a very large imbalance between your workers.  What's your time per iteration on a single GPU?

[2018-04-28 08:05] alsrgv commented on #252
@anpark, do you actually see this overlap in timelines?

From the code just above:
[code]

Essentially, it will emit "End" event for a tensor before telling TensorFlow that tensor has finished the reduction.  In normal SGD situations, the tensor will not be reduced again while previous reduce operation is still not finished.

[2018-04-28 08:16] alsrgv commented on #251
@lamperouge11, I see.  I suspect the issue happens because `hvd.allreduce()` and `hvd.allgather()` are marked as not differentiable operations.  What if instead of splitting the layer, you put first layers on GPU:0 and this large layer on GPU:1?  You can do that with `with tf.device("/gpu:0"):` context managers.  You can see #96 for more discussion on the subject.

[2018-04-28 08:47] scotthuang1989 commented on #255
If I train on local GPUs, it take ~0.03 to finish a batch.    BTW, my latest debug show that if I set my dense device as CPU with this line of code:  `opt = hvd.DistributedOptimizer(opt, device_dense='/cpu:0')`  , learning speed is faster, but is still 2-3 times slower then on local GPU. I check NCCL documentations, according to my understanding, NCCL only speed up training when all GPU is on one

[2018-04-28 16:43] weiliu620 opened #256 "error: attempting to use an MPI routine after finalizing MPI"
I'm new to MPI programming but I have a small script called `test_hvd.py`:
[code]

I run it by
[code]

And get output like this:
[code]

The last line `Attempting to use an MPI routine after finalizing MPI` seem an error because of the `hvd.init()`.

I'm using the latest hvd library from master branch.

I'm on CentOS 7.4, and my MPI is Intel MPI library version 2018, update 1.

[2018-04-29 00:36] eaplatanios opened #257 "Release pre-compiled binaries"
Hi,

I was wondering if there is any chance you guys can release pre-compiled binaries so that the custom ops library you have developed can be used by other libraries (in my case, [TensorFlow Scala](https://github.com/eaplatanios/tensorflow_scala)). I would be more than happy to support and use Horovod in TensorFlow Scala, if the pre-compiled binaries were somehow available. :)

Thanks,
Anthony

[2018-04-30 11:04] alsrgv commented on #255
@scotthuang1989, 0.03s is pretty low time per batch and may be challenging to scale.  What model are you training, what's your batch size and checkpoint size?  How long does it take to converge?  What kind of NICs do you have?

[2018-04-30 11:09] alsrgv commented on #257
@eaplatanios, unfortunately, it's hard to release pre-compiled binaries - everyone has a different version of MPI, TensorFlow, and NCCL.  Can you elaborate more on how does the absence of pre-compiled binaries make your life harder?

[2018-04-30 11:11] alsrgv commented on #256
@weiliu620, there's a PR #218 that will allow passing an option to Horovod to not re-initialize MPI.  For now, you can follow the example here https://github.com/uber/horovod#mpi4py that shows how to tell mpi4py to skip initialization.

[2018-05-01 00:43] scotthuang1989 commented on #255
0.03s is achieved on local GPUs,  if I run it on multiple server. speed is 2 - 3 times slower. I want to find out why. For now, I don't analyze the converge speed. just focus on how fast it can run on GPUs.  here my NICs:  for now, the read and write speed is around 400M/s, just half of its capabiltiy, So I think NICs should not be the bottleneck.

[2018-05-01 15:40] abidmalik1967 opened #258 "Segmentation error"
I just upgraded the TF to 1.8. It ran with parameter_server. However, when I ran with horovod, it gave crashed:

mpirun -np 1 -H node04:1 python tf_cnn_benchmarks.py --model=alexnet --data_name=imagenet --data_dir=/home/amalik/NEWIMAGENETDATA/tfrecrd/train/ --batch_size=64 --horovod_device=gpu --num_batches=200 --print_training_accuracy --variable_update=horovod
TensorFlow:  1.8
Model:       alexn

[2018-05-01 15:54] abidmalik1967 commented on #258
I built the Horovod again with TF 1.8 and now it is working.

[2018-05-01 15:54] #258 closed

[2018-05-01 16:55] alsrgv commented on #255
@scotthuang1989, you need to collect millisecond-level profile from NIC to see bottlenecks.  10 Gbit/s is not great for distributed training.  You may see something similar to:

![image](https://user-images.githubusercontent.com/16640218/39482802-4885711e-4d25-11e8-908e-8598db4ac38e.png)

In this case, average utilization is below 25 Gbit/s, but it's actually getting bottlenecked by network half o

[2018-05-03 17:53] abidmalikwaterloo opened #259 "Information from Timeline Framework"
I am using the Timeline framework for analyzing Horovod performance. I am using two GPUs. When I visualize it, I don't see any information related to GPU. How can I extract the information related to GPU? I am also attaching the JASON file for your convenience.
[out_put.json.gz](https://github.com/uber/horovod/files/1972059/out_put.json.gz)

[2018-05-04 01:01] alsrgv commented on #259
@abidmalik1967, GPU-level information is surfaced at negotiation phase.  E.g. in your example:

![image](https://user-images.githubusercontent.com/16640218/39609194-cec2e068-4efb-11e8-82fd-eeec64696063.png)

Those two ticks under `NEGOTIATE_ALLREDUCE` correspond to ranks that became ready at that time.  You can select them to see which ranks they represent.

In you want to get in-GPU view of all t

[2018-05-04 06:05] scotthuang1989 commented on #255
@alsrgv  sorry for late response. Just got stuck on others thing.  I try to measure network speed with `nload` , the max speed is amlost 1.5 - 2 times then average. the network is indeed the bottleneck. BTW, how to you generate the nice graph, I can find a tool to do that.

[2018-05-04 06:35] sparticlesteve opened #260 "Workers not synchronized when using Keras Adam optimizer"
Hello,

Thank you, developers, for this easy to use library!

I have trained the simple keras mnist example:
https://github.com/uber/horovod/blob/master/examples/keras_mnist.py
It gave me sensible results. The validation losses and accuracies were in-sync across worker ranks during training, and the model weights were in sync at the end of training.
Here is a sample of the printouts from 2 workers

[2018-05-04 14:01] burness commented on #250
@zuowang  Have you try the multi machine and multi gpus with horovod  ?

[2018-05-04 16:10] sparticlesteve commented on #260
I've updated versions to horovod (0.12.1), Keras (2.1.6), tensorflow (1.8.0), and things might already be fixed. I'm running some more tests and will comment again, closing if truly fixed.

[2018-05-05 01:56] cheyang opened #261 "Do we have official docker image in docker hub?"

[2018-05-05 02:17] alsrgv commented on #255
@scotthuang1989, no problem!  We captured information using `ethtool`:

[code]

And then render using Jupyter Notebook + matplotlib.

[2018-05-05 02:55] scotthuang1989 commented on #255
@alsrgv  thanks for your support, it is really helpful.

[2018-05-05 02:55] #255 closed

[2018-05-05 21:42] #260 closed

[2018-05-08 22:28] ankurhanda opened #262 "use N-1 GPUs for rendering and Nth GPU for training"
Hi Alex,

I want to know if there is a way to use N-1 GPUs to render the data is a shared buffer that Nth GPU uses for training? I am doing experiments on RL.

[2018-05-08 23:14] ankurhanda commented on #262
What I want is something like this https://github.com/uber/horovod/issues/113

[2018-05-09 01:38] ankurhanda commented on #262
I tried this
[code]
Does hvd not to allreduce on np in tensorflow? I got this error

[code]

[2018-05-09 03:02] zldrobit opened #264 "How could Horovod assure multiple initialization are the same?"
Since the mechanism of MPI, parallel processes are to be created.
Each process has its own variables and independent random initialization, so I wonder
how Horovod assure multiple initialization are the same.

[2018-05-09 19:26] alsrgv commented on #262
@ankurhanda, if you're using numpy, you can use `hvd.allreduce()` from `import horovod.keras as hvd`, rather than TensorFlow.

[2018-05-09 19:26] alsrgv commented on #261
@cheyang, not yet - but we are working on it :-)

[2018-05-09 21:01] ankurhanda commented on #262
[code]

This works for me. Thank you!

[2018-05-10 02:41] zldrobit commented on #264
Thanks for the explanation. I did not read the instruction carefully 🤣

[2018-05-10 02:41] #264 closed

[2018-05-11 00:16] alsrgv commented on #261
@cheyang, we have added images on docker hub:  https://hub.docker.com/r/uber/horovod/

Latest are:
* Python 2.7 - uber/horovod:0.12.1-tf1.8.0-py2.7
* Python 3.5 - uber/horovod:0.12.1-tf1.8.0-py3.5

[2018-05-11 01:15] alsrgv commented on #257
Perhaps this may interest you - https://hub.docker.com/r/uber/horovod

[2018-05-11 15:32] #261 closed

[2018-05-15 03:40] xieydd opened #268 "If my machines don`t has GPU ,can i use horovod?"
Context as title thanks, or are there some demo i can use horovod without Gpu
@alsrgv

[2018-05-15 04:01] alsrgv commented on #268
@xieydd, sure, you can.  You can try running MNIST examples on CPU, as I routinely do on my Mac.

[2018-05-15 05:19] xieydd commented on #268
@alsrgv But when I import horovod.tensorflow ,  failed
[code]

[2018-05-15 05:41] xieydd commented on #268
@alsrgv i run it in k8s cluster , but cluster machine don`t have GPU ,I can run container , but i can`t use horovod

[2018-05-15 05:55] alsrgv commented on #268
@xieydd, I see - can you try running `ldconfig /usr/local/cuda/lib64/stubs` before executing actual training command?

[2018-05-15 06:02] xieydd commented on #268
@alsrgv yep ,this is some messages
[code]

[2018-05-15 06:04] alsrgv commented on #268
@xieydd, add `ldconfig /usr/local/cuda/lib64/stubs` before executing your training command.  E.g. `ldconfig /usr/local/cuda/lib64/stubs; python train.py`

[2018-05-15 06:10] xieydd commented on #268
yep......;It works ,Thanks a lot @alsrgv ,But i am not sure this works in 2 machines;below is logs

[code]

[2018-05-15 06:33] xieydd commented on #268
Thank you for your careful guidance. when i try command above,Get stuck in this place
[code]

it stoped here long time ,i think it must be related with my k8s-network ,i use flannel;did you test something about it

[2018-05-15 07:28] alsrgv commented on #268
Didn't try flannel, but it works with Google Cloud - https://github.com/kubeflow/kubeflow/tree/master/kubeflow/openmpi.  Can you try suggestions from [here](https://github.com/uber/horovod/blob/master/docs/running.md#hangs-due-to-non-routed-network-interfaces).

[2018-05-15 07:32] xieydd commented on #268
@alsrgv  I have try this ,but i get something wrong [kubeflow/issues/344](https://github.com/kubeflow/kubeflow/issues/344)、[kubeflow/issues/784](https://github.com/kubeflow/kubeflow/issues/784).

By the way;I have tested horovod use k8s cni bridge in distribution env,and it works.

[2018-05-15 07:51] xieydd commented on #268
@alsrgv I have try this , test flannel ,make sure flannel network is not working;below is error logs

By the way , i think k8s cni calico is also not wiorking , did you test something about it?

[code]

[2018-05-15 12:35] burness opened #269 "I can't run in multi machines successfully"
Hi horovoder:

    I use horovod sucessfully in a Docker `mpirun -np 8 -H localhost:8 python keras_imagenet_resnet50.py` using 8 gpu to train resnet50.

But when I run between two machines, it get error like this:
![image](https://user-images.githubusercontent.com/3112825/40056925-5d93e5a8-587f-11e8-80b9-6bdc73c5a136.png)

I don't know what it happen, could anyone help me ?

[2018-05-15 21:09] alsrgv commented on #268
@xieydd, no, we did not try calico CNI.  Can you show the content of hostfile and make sure you can `ssh` into each host in that list?  Also, can you do `ping` for each host to determine IP address, and compare those IP addresses with ones from the `ifconfig`.

[2018-05-15 21:11] alsrgv commented on #269
@burness, what's the output of `ifconfig` on both hosts?  Can you try instructions from [here](https://github.com/uber/horovod/blob/master/docs/running.md#hangs-due-to-non-routed-network-interfaces)?

[2018-05-15 21:38] dashesy commented on #98
@alsrgv that test is very helpful, and reproduces an issue I have.
I use NCCL2.1 and CUDA9.

When calling ncclCommInitRank I get this error:

[code]
Followed by

[code]
Any help/hint is appreciated.

[2018-05-15 23:27] calledbymountains opened #270 "Handling Batch normalization in Horovod in TensorFlow"
What is the correct way to handle batch normalization when using horovod in TensorFlow ?

In the standard case I suppose, it will also aggregate the statistics of each batch normalization layer in each  GPU, which I think is wrong.

[2018-05-15 23:32] alsrgv commented on #270
@calledbymountains, Horovod handles each worker independently from Batch Norm perspective, so if you run 1 GPU per process, each GPU will have its own BN statistics.  See #49 for more discussion.

[2018-05-15 23:34] alsrgv commented on #98
@dashesy, what does `ulimit -l` show?  Any messages in `dmesg`?

[2018-05-16 01:10] xieydd commented on #268
@alsrgv  Of course; Below is something you say：

···
root@tf-mpi-f7998c44f-xnjsp:/home/nfsdir/au_user# cat hostfile
10.1.81.3 slots=1
10.1.6.3 slots=1

root@tf-mpi-f7998c44f-xnjsp:/home/nfsdir/au_user# ifconfig
eth0      Link encap:Ethernet  HWaddr 02:42:0a:01:06:03
          inet addr:10.1.6.3  Bcast:0.0.0.0  Mask:255.255.255.0
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1

[2018-05-16 01:55] burness commented on #269
@alsrgv  I change the run command and run the command in host1:

[code]

It seems to be ok with this issue, but get another error in host1:
[code]

and I use `gdb python core.***`, it get the follow information:

![image](https://user-images.githubusercontent.com/3112825/40092317-4a7362f8-58ef-11e8-8a88-5b5b24661424.png)

[2018-05-16 03:11] burness commented on #269
@alsrgv  After change the tensorflow to 1.6.0， it's ok with core dump , but get another problem:

![image](https://user-images.githubusercontent.com/3112825/40094434-8e5bb8d0-58f9-11e8-94f7-6d36c699f7af.png)
It  stucks like this for 20 minutes， I don't know why ？ could  you help me with it  ?

[2018-05-16 04:21] alsrgv commented on #268
@xieydd, any firewall rules requiring ports to be explicitly opened?

[2018-05-16 04:23] alsrgv commented on #269
@burness, when you upgraded TensorFlow, did you reinstall Horovod?  If not, you should reinstall with `--no-cache-dir` option to pip.

[2018-05-16 04:24] burness commented on #269
@alsrgv  Ok, I will try

[2018-05-16 04:24] alsrgv commented on #98
@dashesy, what does `ibv_devinfo` show on both nodes?

[2018-05-16 04:30] burness commented on #269
@alsrgv  It works  👍 👍 👍 , I really need reinstall horovod.
Thanks

[2018-05-17 01:49] xieydd commented on #268
@alsrgv Thranks a lot ,I want try ,but i find my kube-dns has some mistakes; i will check firstly

[code]

[2018-05-17 07:32] xieydd commented on #268
@alsrgv Below is some message

[code]

[2018-05-17 19:17] vilmara commented on #162
hi @alsrgv , @feiyilicare  I have been following your comments and incorporating these to my tests.

I followed the steps in [passwordless authentication](http://www.linuxproblem.org/art_9.html), but when we are working inside the docker the user is changed to root; and the passwordless authentication was done with a different user, I think that is the reason we can't ssh between the machines insi

[2018-05-17 20:33] #262 closed

[2018-05-18 03:13] vilmara commented on #162
@alsrgv I was able to set up passwordless authentication as a root user, and now the host where mpirun is executed is able to ssh to the secondary host without any prompts. Then, when I run the below commands on each host they hang forever without any output:

Note: I have 2 hosts with 4 GPUs each one

Primary worker:
root@host-1:~# nvidia-docker run -it --network=host -v /root/.ssh:/root/.ssh hor

[2018-05-18 11:56] vilmara opened #272 "Docker hangs when using multiple hosts"
Hi all, I have 2 hosts with 4 GPUs each one, I am trying to run the test inside the docker. I  was able to set up passwordless authentication as a root user, the host where mpirun is executed is able to ssh to the secondary host without any prompts. Then, when I run the below commands on each host they hang forever without any output, here are the commands I am using.

Primary worker:
root@host-1:

[2018-05-18 12:08] vilmara commented on #226
@ganglio nice job, thanks for sharing. I am working on similar project, can you help with the issue I posted ?: Docker hangs when using multiple hosts #272

[2018-05-18 16:44] calledbymountains commented on #270
@alsrgv
Okay. I quote you from #49 , where you say that " I believe if you add batch normalization to the train_op following example here, the batch norm would run on every worker independently, without exchanging or averaging those updates. Do you anticipate that creating any problems? "

Now, if something is added to the train_op, then does it mean that horovod would only exchange or average onl

[2018-05-18 22:03] alsrgv commented on #270
Basically, with enough uniformity in the way data is processed by workers, BN statistics on each worker should be approximately the same - and so BN and renormalization should work as expected.

The list of gradients averaged by Horovod is driven by the gradients returned from `optimizer.compute_gradients()` - which normally computes all gradients w.r.t. loss.

[2018-05-18 22:06] alsrgv commented on #272
Are you sure your first command is copy-pasted correctly?

`-vvvv` should be inside `plm_rsh_args` and `192.168.10.2` should only be in the host list.

Assuming those are fixed, are you able to ssh to second host container from first host container?

I.e. `ssh -p 12345 root@192.168.10.2` from within the first container.

[2018-05-18 22:10] alsrgv commented on #162
@vilmara, let's follow up your issue in #272.

@feiyilicare, did you resolve your issue?

[2018-05-18 22:30] alsrgv commented on #268
@xieydd, I looked at your command and saw that you do this: `-x NCCL_SOCKET_IFNAME=^eth0 -mca pml ob1 -mca btl ^openib -mca btl_tcp_if_exclude lo,eth0`.

Since `eth0` is actually the only useful interface that you have, you should not exclude it.

Can you try removing `-x NCCL_SOCKET_IFNAME=^eth0` and replacing `-mca btl_tcp_if_exclude lo,eth0` with `-mca btl_tcp_if_exclude lo`?

[2018-05-18 22:31] calledbymountains commented on #270
Okay. I understand the point.

[2018-05-18 22:31] #270 closed

[2018-05-18 22:32] alsrgv commented on #259
It's actually going to be somewhat overlapped.  Ideally, data IO is happening in a separate thread and is not blocking anything.  A lot of gradient computation usually will happen overlapped with gradient communication (ALLREDUCE).

[2018-05-18 22:34] alsrgv commented on #243
@harryxu-yscz, NVIDIA just released NCCL 2.2.12.  And we now have official docker image on DockerHub - https://hub.docker.com/r/uber/horovod/tags/.  Could you try testing `uber/horovod:0.13.0-tf1.8.0-torch0.4.0-py2.7` or `uber/horovod:0.13.0-tf1.8.0-torch0.4.0-py3.5` ?

[2018-05-18 23:16] Kipok opened #273 "DistributedOptimizer cannot be used when underlying optimizer overwrites compute_gradients and apply_gradients"
In our use case we have a TensorFlow optimizer that explicitly defines `compute_gradients` and `apply_gradients` functions. The current version of `DistributedOptimizer` cannot be used in our case because it does not overwrite `apply_gradients` to use` self._optimizer.apply_gradients` and it calls (lines 178-179 of `horovod/tensorflow/__init__.py`)
[code]
instead of `gradients = self._optimizer.co

[2018-05-18 23:31] vilmara commented on #272
Hi @alsrgv , I followed the examples in [#226](https://github.com/uber/horovod/issues/226) and was able to run the test keras_mnist_advanced.py as well as the TensorforFlow benchmarks with real data imagenet. In both cases it produced expected metrics but also the warning "WARN Failed to open libibverbs.so", does it affect the final performance of the model?, what does it mean?, what is the proble

[2018-05-18 23:46] alsrgv commented on #272
Assuming your cluster does not have RoCE or InfiniBand NICs, you can ignore `WARN Failed to open libibverbs.so` message - it simply means that NCCL cannot use RDMA.

You can look at [this page](https://github.com/uber/horovod/blob/master/docs/benchmarks.md) for benchmark results and instructions how to reproduce those on Pascal GPUs.