[2017-08-17 23:09] byronyi opened #5 "NCCL 2 does not support RoCE"
NCCL 2 will even fail in local mode if there's an RoCE capable NIC on the target system. See http://docs.nvidia.com/deeplearning/sdk/nccl-release-notes/rel_2.0.2.html

[2017-08-18 00:53] alsrgv commented on #5
Hi @byronyi,

Thanks for reporting this issue!

NCCL has bunch of knobs to tune various things, and turning off RDMA is one of the [knobs](http://docs.nvidia.com/deeplearning/sdk/nccl-developer-guide/index.html#ncclknobs).

Can you try this setting?
[code]

Thanks,
Alex

[2017-08-18 01:00] byronyi commented on #5
Thanks for the prompt response. We shall be able to test it soon then.

Regarding to the benchmark results you posted in mailing list, e.g. 13.8x sped up on vgg16 using 16 GPUs, is RDMA enabled in that case?

[2017-08-18 01:05] alsrgv commented on #5
Great!

Yes, 13.8x was with VGG-16 on 16 GPUs with RDMA (InfiniBand).  With TCP we were getting 12.5x.

Can you share details about your GPU cluster: how many servers are you planning to use, how many GPUs per server and what kind of GPUs?

[2017-08-18 01:16] byronyi commented on #5
We are using a small RoCE cluster with 4 nodes. Each node is equipped with 4 K40m GPUs and 1 40GbE ConnectX-3 pro NIC.

Btw, I observe similar performance numbers with grpc and grpc+gdr runtime in the latest TF. The grpc runtime has been known to have a performance bug long time ago and it's been fixed recently. For the lastest master, we observe around 11.6x speed up with grpc and 13.6x speed up

[2017-08-18 01:29] alsrgv commented on #5
Oh, that's great!  Would be very interesting to see how Horovod fares on your hardware :-)

Primary reason we prefer Horovod approach internally is due to complexities that traditional distributed TensorFlow entails.  There are many concepts to be learned - `tf.Server`, `tf.ClusterSpec`, `tf.replica_device_setter`, `tf.train.SyncReplicasOptimizer`, and we found that it's very easy to make mistake

[2017-08-18 01:43] byronyi commented on #5
I truly agree that MPI is the way to go for synchronous data parallelism, and all reduce is an awesome technique for distributed training. The reason we came up with low-level send/recv primitives of TF is because we have to support alternative parallelization mechanisms (async, model parallelism, etc.). A good deal of comparing PS with AllReduce discussion could be found on M. Li's OSDI'14 paper.

[2017-08-18 02:32] alsrgv commented on #5
Agreed.  Thanks for the pointer!

[2017-08-20 18:20] rohskopf opened #6 "hvd.allreduce() is not reducing tensors"
In the Horovod source, in `mpi.ops.py` under the `_allreduce` function, it says:

[code]

I made a minimum example to reproduce this description, by reducing a tensor called `const` on each process to a tensor called `reduced`:

[code]

Saving this in a file called `test.py`, I run with the following:
`mpirun -np 2 python allreduce.py`

The result is:
[code]

This is just returns the original tens

[2017-08-20 19:12] #6 closed

[2017-08-20 19:57] alsrgv commented on #6
@rohskopf no worries!  If you desire to get a sum, you can do:

[code]

[2017-08-20 22:38] byronyi commented on #5
I guess this could serve as a tracking issue, since you suggest that NV will support RoCE in the near future. Hope this issue could be closed sooner than later :)

[2017-08-20 22:40] alsrgv commented on #5
Yes, we all do :-)

[2017-08-20 22:46] rohskopf opened #8 "Parallel mini-batch scalability issue"
I am performing batch gradient descent, where the gradients are averaged across all training examples to move forward in a single training epoch. This can easily be parallelized by splitting the original batch into "mini-batches", and each process calculates gradients associated with its mini-batch. The resulting mini-batch gradients can be averaged on the master process to then move forward with

[2017-08-20 23:04] chentingpc opened #9 "motivation for this project"
Hi, I'm curious about the motivation for this project, since Tensorflow itself provides supports for distributed training. Is it because the open-sourced distributed Tensorflow is slow? If it is the case, what are the bottlenecks (e.g. grpc?) and why? Are there some benchmarks we can compare? Thanks.

[2017-08-20 23:18] rohskopf commented on #9
Just to throw in some discussion - I think it's just because Distributed TensorFlow doesn't use MPI. MPI is convenient and powerful for high performance computing, and this project brings MPI to TensorFlow.

[2017-08-20 23:26] alsrgv commented on #8
Hi @rohskopf,

Your code is correct, but you need to make your network more complicated to get wall-clock speedup from distributed training.  The rule of thumb we found is that one step should take about one second.  You can try to get there by increasing batch size per worker until you reach such speed.  I had to increase N to `40000000` to see actual scaling, which is too large batch size for th

[2017-08-20 23:35] alsrgv commented on #9
The primary motivation for us was to make it easy to take single GPU TensorFlow program and successfully train it on many GPUs faster.  This has two aspects: (1) how much modifications does one have to make to program to make it distributed, and how easy is it to run it, and (2) how much faster would it run in distributed mode?

Internally, we found that it's much easier for people to understand M

[2017-08-20 23:41] rohskopf commented on #8
Thanks for the reply @alsrgv .

I noticed the same thing with the scaling. It makes sense that it'll scale well with more complicated networks.

Regarding the second issue - I noticed that identical losses are printed for each process during the training. This is because the averaged gradients are being sent to all processes, like you mentioned. And then all processes apply the gradients in the tr

[2017-08-20 23:48] alsrgv commented on #8
With single master responsible for averaging it's highly likely that it will become a bottleneck.

This brings interesting point.  TensorFlow uses multi-threading on CPU, so if you have multi-core CPU you'd already compute gradients and average them in separate threads.

However, when you have GPU, we found that sometimes it's good to let the GPU work on computing gradients and let the CPU do the

[2017-08-21 00:04] rohskopf commented on #8
Very interesting. Thanks again for your help.

[2017-08-21 18:48] alsrgv commented on #9
Added motivation to README as per #10. Closing this issue.

[2017-08-21 18:48] #9 closed

[2017-08-21 18:48] alsrgv commented on #8
I will close this issue, please feel free to reopen if you have additional questions.

[2017-08-22 09:34] apcode opened #13 "Benchmark description"
The benchmarks in the README are not clear to me. Could you possibly clarify?

The single GPU version has benchamrk of 133 for inception.
The multi GPU versions have Distributed Tensorflow at 10.4
The Horovod results range from 14.4 to 15.6.

I presume given single GPU results that higher is worse. But you have bolded the highest result for Horovod suggesting that is best. These results suggest Di

[2017-08-22 17:41] alsrgv commented on #13
Hi @apcode,

Thanks for raising this issue.  The numbers in the table are actually multiples of single-GPU performance, so Horovod's 15.6 for Inception V3 means 2074.8 images/sec, while Distributed TensorFlow gets 10.4 which translates to 1383.2 images/sec.

We will update the README to clarify this.

[2017-08-22 17:44] apcode commented on #13
Ah the 'x' now makes sense in the 'on 16 GPU' row.

Thanks.

[2017-08-22 17:44] #13 closed

[2017-08-23 08:08] suiyuan2009 commented on #5
I only got about 6.3x speedup for most computer vision base models using 8 1080ti gpus on a single machine, mode is cpu based parameter server, so it's reasonable 4 gpus 4 machines distributed training using `grpc+gdr` only has 11x speedup using 16 gpus. How about single machine benchmark result in your environment @alsrgv .

[2017-08-23 18:19] alsrgv commented on #5
@suiyuan2009 I don't have 8x 1080TI, but I have one server with 8x P100 on NVLink.

On that server, I was getting 7.6x for Inception V3, 7.4x for ResNet-101, 7.8x for VGG-16.

[2017-09-05 19:52] alsrgv commented on #5
Good news: NVIDIA just released NCCL with RoCE support.  I've updated documentation with installation pointers and additional benchmarks.

[2017-09-05 21:21] byronyi commented on #5
Yay that's good! I'm closing this.

[2017-09-05 21:21] #5 closed

[2017-09-11 02:36] Zhaojp-Frank opened #20 "Question: RDMA Horovod with NCCL"
Hi,
a question on the first 16-GPU benchmark shown in the README, it's said RoCE 25Gb, and "RDMA Horovod (allreduce on GPU with NCCL)", however, NCCL2 so far doesn't support RoCE RDMA, so it's a typo about this 'RDMA Horovod'? right?

RDMA Horovod (allreduce on GPU with NCCL) | 2,022.6 (15.0x) | 1,746.2 (14.6x) | 1,787.4 (13.7x)
-- | -- | -- | --

instead, in the 2nd benchmark on 64-GPU, it's 'TCP

[2017-09-11 02:48] alsrgv commented on #20
Hi, @Zhaojp-Frank.  The [latest version of NCCL](http://docs.nvidia.com/deeplearning/sdk/nccl-release-notes/rel_2.0.5.html#rel_2.0.5) released a few days ago has experimental support for RoCE, which is what we have tested in this benchmark.

[2017-09-11 03:10] Zhaojp-Frank commented on #20
wow, that's cool! thanks. We'd like to try Horovod and latest NCCL
pls close this issue.

[2017-09-11 03:31] alsrgv commented on #20
Great! Please share your feedback when you do.

[2017-09-11 03:31] #20 closed

[2017-09-11 14:57] jimdowling opened #21 "Reproduce the example benchmarks"
Will you be making the benchmark programs available in the examples section (Resnet, Inception, VGGNet)? That would enable us to reproduce your numbers. Thanks.

[2017-09-11 18:53] alsrgv commented on #21
Hi, @jimdowling.

We have made [a fork](https://github.com/alsrgv/benchmarks/tree/horovod) of official TF benchmarks available.

In that fork, we replaced all the regular multi-tower / multi-node code with Horovod in [this](https://github.com/alsrgv/benchmarks/commit/86bf2f9269dbefb4e57a8b66ed260c8fab84d6c7) commit.

## Our test setup

1. We install Horovod following the [Have GPUs?](https://githu

[2017-09-11 19:32] jimdowling commented on #21
That's brilliant @alsrgv . Two Deeplearning11's on their way with 40Gb infiniband. Will report back.

[2017-09-11 19:38] alsrgv commented on #21
Great, looking forward to it!

With so many GPUs on the PCIx bus and a shared set of RAM channels, it's important to make sure you're not saturating them. Would be interesting to see 1x10 GPU vs 2x5 GPU comparison.

All the benchmarks we ran so far were on 4 GPU PCIx servers.

[2017-09-11 19:41] jimdowling commented on #21
These are 1x10 SingleRoot supermicro machines. 2 weeks delivery, we've been told, so end of the month, i guess.

[2017-09-11 19:49] alsrgv commented on #21
We can leave this issue open till you get the numbers.

[2017-09-14 13:10] chenliu0831 opened #23 "Comparison with upcoming tensorflow.contrib.mpi_collectives"
Just curious if you guys notice a recent contribution from [here](https://github.com/tensorflow/tensorflow/pull/12299) which added `allreduce/allgather` (which I think horovod derived from?) and a similar optimizer wrapper. I'm planning to do a benchmark with both horovod and above.  It'll be great if you guys could share some insight in terms of features/flexibility/performance.

Thanks for the g

[2017-09-14 15:39] alsrgv commented on #23
Hi, @chenliu0831.

This is a great question. Indeed, Horovod was based on allreduce code from Baidu. At the time when Horovod was started, Baidu's fork appeared stale, so we decided to take it upon ourselves to improve it.

There are few changes that we made:

1. We converted the code to be stand-alone Python package. We wanted to make it extremely easy and quick for folks to try out Horovod, so w

[2017-09-14 16:20] chenliu0831 commented on #23
@alsrgv Thanks! Those are very helpful.

[2017-09-19 16:32] chenliu0831 commented on #23
@alsrgv Hey I might have a stupid question. At [this line] (https://github.com/alsrgv/benchmarks/commit/86bf2f9269dbefb4e57a8b66ed260c8fab84d6c7#diff-632d3c06e6607601ccb136629596a464R920) of your fork of tensorflow benchmarks, it seems to make it only 1 shard, which seems confusing to me how the data parallelism is achieved.  Is there anything I'm missing or I misunderstand the input pipeline?

[2017-09-19 18:44] alsrgv commented on #23
@chenliu0831 the simple solution is to use regular TensorFlow data pipeline, like https://www.tensorflow.org/api_guides/python/reading_data or https://www.tensorflow.org/performance/performance_models#input_pipeline. These pipelines randomize the order in which files are read and add random shuffling to TFRecords, which means that on average each TFRecord will be read the same number of times in r

[2017-09-19 18:53] chenliu0831 commented on #23
@alsrgv gotcha Thanks!

[2017-09-29 10:52] zuowang opened #27 "Order of broadcast ops' evaluation"
./horovod/tensorflow/__init__.py:89
[code]
@alsrgv I think we can't make sure  that the broadcast ops are evaluated by TensorFlow in the same order for each instance for all platform. Do you think so?

[2017-09-29 17:25] alsrgv commented on #27
Hi @zuowang,

You are right - there's no guarantee about op order in this case. We have another layer of orchestration that runs before we invoke collective ops to avoid mixing up different tensors.

The way it works is:

[2017-09-30 01:40] zuowang commented on #27
I have found the related code. Thanks a lot! BTW, the order can also be guaranteed  with the use of tf.control_dependencies() statement.

[2017-09-30 01:40] #27 closed

[2017-09-30 07:51] zuowang opened #28 "Is computation and communication overlapped?"
@alsrgv
You are using AsyncOpKernel. Does that overlaps computation and communication?
I don't know what's the cycle life of an AsyncOpKernel. Will Tensorflow wait for async ops to finish at the end of each iteration?

I am quite curious about horovod's internals. Thank you so much!

[2017-09-30 18:35] alsrgv commented on #28
@zuowang

From TensorFlow source code:
[code]

Using AsyncOpKernel allows to not waste threads.  And yes, runtime waits for AsyncOpKernels to signal `done()` before an operation that follows it in the graph can be computed.

Irrespective of that, Horovod does overlap communication and computation since TensorFlow can execute multiple Ops in parallel.

[2017-10-03 18:00] pbalapra opened #30 "keras_mnist.py for CPU example"
@alsrgv Could you please provide a CPU only example for keras_mnist.py? Thanks...

[2017-10-03 18:15] alsrgv commented on #30
@pbalapra The example in the docs works on both CPU and GPU. Does that help?

[2017-10-03 18:27] pbalapra commented on #30
@alsrgv Thanks for the quick answer! I tried to run it on 8 CPU nodes (1 mpi rank per node).
The values of hvd.local_rank() and hvd.size are 0 and 1, respectively for all ranks. Based on the code documentation, hvd.size should be the number of GPUs (in my case CPUs)? Is that correct?

[2017-10-03 18:34] alsrgv commented on #30
@pbalapra Can you clarify which MPI are you using (Open MPI, MPICH, etc) and what is your mpirun command?

If you're doing `mpirun -n 8 -H host1,host2,host3,host4,host5,host6,host7,host8 ...`, then `hvd.local_rank()` should be 0 on all nodes because you'd run only one process per node, `hvd.rank()` should be index of node, and `hvd.size()` should be `8`.

[2017-10-03 20:34] pbalapra commented on #30
@alsrgv I am using Cray’s MPICH and launch the code using aprun -n 8 -N 1 python ./keras_mnist.py

[2017-10-03 23:10] alsrgv commented on #30
@pbalapra I see! You are right, you don't need to rebuild TensorFlow. To confirm your symptoms, can you run this simple program as well:
[code]

The output I get with Open MPI is:
[code]

[2017-10-05 19:39] tslater opened #31 "NCCL Error Symbol not found: _ncclAllReduce"
I downloaded NCCL and installed it according to the horovod gpu installation guide. I'm on MacOS, so I was a little surprised to see everything work. I tried the Keras example and things worked like a charm, first time. Then, today I went to install it on another Mac, and on my original machine where it was working, and I get this error:

[code]

I can't get it working again. I'm so confused and c

[2017-10-05 19:48] alsrgv commented on #31
Hi @tslater,

Seems like you installed Horovod with NCCL, but I haven't seen NCCL 2 binary for OSX.  Can you try fresh install:

[code]

[2017-10-05 20:01] tslater commented on #31
I could be confused, because it was late, but I was pretty sure at one point that using this worked:
![screen shot 2017-10-05 at 2 00 25 pm](https://user-images.githubusercontent.com/449326/31249720-990017a0-a9d5-11e7-90e8-b1704f02c315.png)
There's a small chance that I had a 2nd environment without NCCL working and was confused.

[2017-10-05 20:02] tslater commented on #31
Thinking back, I think I remember seeing that it was using the GPU. Can Horovod use a single GPU without these options: HOROVOD_NCCL_HOME=/usr/local/nccl-<version> HOROVOD_GPU_ALLREDUCE=NCCL?

[2017-10-05 20:13] alsrgv commented on #31
Unfortunately, I don't have Mac with GPUs to test, but my understanding is that there's no NCCL 2 for OSX. Happy to be proven wrong!

Horovod can do distributed training across GPUs without NCCL.  Gradients will still be computed on GPU, but the all-reduce will happen on CPU.  It may be slower, but it will work.  You can try and see what speed-up you're getting.

[2017-10-05 20:17] tslater commented on #31
I think I understand what happened. I had 2 python envs up, one where I had installed vanilla horovod, and another where I attempted to install Horovod with NCCL. I read this on the README: "If you're installing Horovod on a server with GPUs, read the Horovod on GPU page.", and falsely assumed that Horovod can only use GPUs when you have NCCL because of all the NCCL talk on that page. When I saw t

[2017-10-05 20:17] #31 closed

[2017-10-05 20:46] alsrgv commented on #31
Good feedback!  Can you share a little more about your setup - are you running distributed training across multiple Macs, or you have Mac with multiple GPUs, perhaps via eGPU?

[2017-10-05 20:58] tslater commented on #31
I'm trying to do a proof-of-concept. Our company has a big sea of iMacs
with decentish specs  (3.4 GHz Intel Core i7NVIDIA GeForce GTX 680MX's). I
thought it would be cool to try and setup something where we could use them
at night for training. I realize that really powerful GPU's are the best,
but I was just curious how well TensorFlow parallelizes. I found Horovod,
and thought that that might b

[2017-10-05 21:02] alsrgv commented on #31
Gotcha. That's a neat idea! Please share your results.

[2017-10-09 01:31] zuowang commented on #28
Great! Thanks for your reply!

[2017-10-09 01:31] #28 closed

[2017-10-10 20:12] crizCraig opened #33 "AttributeError: 'NoneType' object has no attribute 'dtype'"
Some models, like [RFCN](https://github.com/tensorflow/models/tree/master/research/object_detection) can return variables without gradients
[code]
I just work around it by replacing compute_gradients() with
[code]
but think adding
[code]
after this line: https://github.com/uber/horovod/blob/64317537436ae4225a004043acaa37a205a18dc3/horovod/tensorflow/__init__.py#L166

could fix it for others.

[2017-10-11 02:27] giranntu opened #34 "horovod in single node Multi-GPU training"
Hi professional team,

Is there any possible to use horovod distributed training in Single node Multiple GPU training?

Thanks for the kindly support.

[2017-10-11 03:20] alsrgv commented on #33
Thanks @crizCraig for reporting this issue!

I think the more transparent way could be to retain `(None, var)` in the list of computed gradients and just bypass all reduce phase for those gradients.  This seems more aligned with original optimizer interface.

Do you agree?

Thanks,
Alex

[2017-10-11 03:46] alsrgv commented on #34
Hi, @giranntu,

Sure thing! Just follow installation instructions [here](https://github.com/uber/horovod/blob/master/docs/gpus.md) and usage instructions [here](https://github.com/uber/horovod/blob/master/README.md#usage).

Thanks,
Alex

[2017-10-11 11:42] k9sret commented on #21
Are you training alexnet with real data?

[2017-10-11 18:54] TimZaman opened #35 "Listing tf local devices makes horovod go bananas."
See title.

Add this to the top of fe. the keras-example script, and it will allocate a ton of processors and go OOM when using multiple devices.

[code]

Release 🍌 with:

[code]

[2017-10-11 18:58] alsrgv commented on #35
Hi @TimZaman,

The problem is that when TensorFlow lists devices, it also allocates all the memory on them. So, when you have multiple processes doing the same, you get OOM.

Is there any particular reason you need to list devices in your script?  Horovod scripts are usually coded with the assumption of having a single GPU pinned by `hvd.local_rank()`:

[code]

Thanks,
Alex

[2017-10-11 19:00] alsrgv commented on #21
@jimdowling, any luck with your tests?

[2017-10-11 19:01] alsrgv commented on #23
@chenliu0831, any luck with your tests?

[2017-10-11 19:05] TimZaman commented on #35
Afaik, it's the only way to check which GPUs are visible to tensorflow. This then can be used to scope whether or not a GPU is available at all. That then can be used for various tasks; in my specific case to guess some soft-device placement for tensorflow. This line of code is also in Keras: https://github.com/fchollet/keras/blob/master/keras/backend/tensorflow_backend.py#L53

[2017-10-11 19:06] TimZaman commented on #35
Before I forget: congratulations on this cool repo! I just got linear scaling with 4 devices, which is suspiciously amazing.

[2017-10-11 19:14] alsrgv commented on #35
Thanks!

Basically, the premise is that you'd want to forget you have multiple GPUs in the script :-)  You should know how many GPUs you have per host when you do an `mpirun` - but that can be done with an `nvidia-smi` query.

Thanks,
Alex

[2017-10-11 19:37] alsrgv commented on #30
Hi, @pbalapra,

@jbalma (from Cray) and I huddled on this and made a change to Horovod to enable Cray-MPI.  Can you try to reinstall Horovod like this and let us know if it helps?

[code]

or if your cluster has GPUs:

[code]

[2017-10-11 20:22] jimdowling commented on #21
@alsrgv  - just got delivery of the 1st server, waiting on the 2nd. Long wait time on the supermicro 10GPU machines. Will take another couple of weeks, i guess.

[2017-10-11 21:23] chenliu0831 commented on #23
@alsrgv Hey Alsrgv, sry I didn't get enough bandwidth on this yet (partially because I need to get approval on open source MPI license check).

[2017-10-11 21:42] alsrgv commented on #23
Gotcha, good luck with getting the approval!

[2017-10-11 21:59] crizCraig commented on #33
That sounds reasonable per https://github.com/tensorflow/tensorflow/blob/84e00bf64d89b8b39fe3b82fa305ee13b2a5613b/tensorflow/python/training/optimizer.py#L381-L383

The underlying optimizer removed the variables without a gradient in my case, so maybe that solution is more specific to me than I thought.

[2017-10-11 22:47] jbalma commented on #30
@alsrgv This works for me but users will need to add "--user" at the end of the pip command ensure it installs to their local /home/user/.local/lib/python2.7/site-packages;  Also if you are using GPUs, be sure to export LD_LIBRARY_PATH and HOROVOD_CUDA_* like this:

export LD_LIBRARY_PATH=$CUDATOOLKIT_HOME/lib64:$CUDNN_PATH/lib64:$CRAY_LD_LIBRARY_PATH:$LD_LIBRARY_PATH

export HOROVOD_CUDA_HOME=$CU

[2017-10-12 00:48] alsrgv commented on #34
@giranntu I'll close this issue since it seems that your question was answered.  Please feel free to re-open if you have more questions on this subject or open a new issue for a different subject.

[2017-10-12 00:48] #34 closed

[2017-10-12 00:59] #33 closed

[2017-10-13 15:50] pbalapra commented on #30
@jbalma and @alsrgv Fantastic! Thanks a lot for fixing this.

[2017-10-13 15:50] #30 closed

[2017-10-13 16:04] hfutxrg commented on #21
Hi @alsrgv ,

I have tried horovod with resnet50 and ILSVRC2012 dataset. Now the speedup is ~1.4x for two nodes. I think the performance can be further improved with setting like "-mca btl_openib_receive_queues P,128,32:P,2048,32:P,12288,32:P,131072,32". But your P values settings does not work for me. Could you explain a bit more about what this setting means?  I searched online and found it's so

[2017-10-13 16:13] alsrgv commented on #21
Hi @hfutxrg,

Can you clarify your setup:
1. How many servers, and how many GPU cards do you run on?
2. What network cards do you have?
3. What command did you run to install Horovod?  Did you specify `HOROVOD_GPU_ALLREDUCE=NCCL` if you have GPUs?
4. What is your `mpirun` command?

I just ran resnet50 benchmark on our 16 GPU (4x4) cluster, and I got ~14.3x.

We're writing a blog post about Horovod

[2017-10-13 16:20] AlexanderYukhanov opened #39 "hvd.init() hangs on mpi gpu cluster"
Hello,
I have a cluster of 2 gpu nodes.

1. I installed horovod with the following command:
HOROVOD_GPU_ALLREDUCE=MPI HOROVOD_GPU_ALLGATHER=MPI HOROVOD_GPU_BROADCAST=MPI pip install --user --no-cache-dir horovod
2. added print statements into original tensorflow_mnist.py sample before and after hvd.init() call
3. when i am running the sample on two nodes I see the print statements before hvd.init(

[2017-10-13 16:32] alsrgv commented on #39
Hi @AlexanderYukhanov,

Thanks for your question!

Few questions:
1. Is your Open MPI compiled with `--enable-cuda` support?  It's required for `HOROVOD_GPU_*=MPI`.
2. Do you have Tesla or Quatro GPU cards and GPUDirect drivers installed, or you're using consumer GPUs, such as GTX ***?
3. What network cards are you using?
4. Are you able to run any example MPI program, such as [OSU Benchmarks](htt

[2017-10-13 16:35] hfutxrg commented on #21
@alsrgv 14.3x speedup is impressive. I hope I also can get that speedup.

Here are my setup:
1. I have up to 4 servers and each server has 4 P100 GPUs. Now first I am trying only 2 servers and then scale to 4 servers later.
2. My network card is Mellanox EDR (100Gb/s).
3. I used the same command on the docs page:
```HOROVOD_NCCL_HOME=/cm/shared/apps/nccl/2.0.4 HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GP

[2017-10-13 16:41] alsrgv commented on #21
@hfutxrg, could you try running on synthetic data first, without --data_dir & --data_name?

`node014:36616:36771 [0] INFO nvmlDeviceGetNvLinkRemotePciInfo() failed: Not Supported` can be ignored - they're just stating that your system doesn't have NVLink.

We found `-mca btl_openib_receive_queues P,128,32:P,2048,32:P,12288,32:P,131072,32` to be helpful, can you clarify what do you mean by "does no

[2017-10-13 16:47] AlexanderYukhanov commented on #39
Thank you for quick response.
1. I am using standard mpi coming with ubuntu
2. I have Tesla K80
3. i am running on azure vm
4. i am able to run other mpi based frameworks, horovod on two gpus on same vm and simple tests like mpirun -H host;host echi hi -)

I was trying first pip install horovod without any HOROVOD_GPU* environment variables but had the same results, so decided to try xxx=MPI way.

[2017-10-13 16:49] hfutxrg commented on #21
OK, I will try with synthetic data first and also run 4 GPUs on single node.

Because I only tried 2 nodes and therefore I used ```-mca btl_openib_receive_queues P,128,32:P,2048,32```, but then the program could not continue after the running warm up and outputting the devices info. It seems the program was hanging.

[2017-10-13 16:56] alsrgv commented on #21
Let me know how it goes!  To isolate issue you can also try `-x NCCL_IB_DISABLE=1 -mca btl ^openib` to disable IB altogether.

[2017-10-13 17:00] hfutxrg commented on #21
@alsrgv sure. I will let you know when I get the performance numbers.

[2017-10-13 17:36] hfutxrg commented on #21
@alsrgv I have finished the testing. I found with synthetic data, my speedup is 1.97x, and with real imagenet data, the speedup is 1.45x. How does Horovod read the input data? Using single thread or multiple threads? Or the work of processing input data is done by TensorFlow?

[2017-10-13 17:45] alsrgv commented on #21
@hfutxrg Is 1.97x performance of 1 machine vs 2 machines, or 8 gpus vs 1 gpu?

The real data is handled completely by TensorFlow.  One suspicion I have is whether CPU are powerful enough to handle multiple streams of data.  Can you try couple of things with real data:

1. `mpirun -np 1 <real data training>`
2. `git checkout horovod; mpirun -np 4 <real data training>` on 1 machine
3. `git checkout

[2017-10-13 17:53] hfutxrg commented on #21
@alsrgv both 1.97x and 1.45x are the speedup of using 2 nodes over 1 node, with 4 GPUs on each node. So it's actually speedup of 8 GPUs vs 4 GPUs.

Sure I will try those different combinations and let you know the results.

[2017-10-13 17:55] alsrgv commented on #21
Gotcha. I updated instructions above to make it a little simpler - no need to switch branches.

[2017-10-13 18:06] alsrgv commented on #39
Let's try to debug together :-)

Can you share output of:
1. `mpirun -version`
2. `ifconfig -a`

Can you try compiling vanilla allreduce program:
1. `wget https://raw.githubusercontent.com/wesleykendall/mpitutorial/gh-pages/tutorials/mpi-reduce-and-allreduce/code/reduce_stddev.c`
2. `mpicc -lm reduce_stddev.c -o reduce_stddev -lm`
3. `mpirun <your flags for multi-node> ./reduce_stddev 100000000`

[2017-10-13 18:15] AlexanderYukhanov commented on #39
sure, allocating new cluster to run these tests

[2017-10-13 18:24] AlexanderYukhanov commented on #39
1. mpirun (Open MPI) 1.10.2
2.
ifconfig -a
docker0   Link encap:Ethernet  HWaddr 02:42:14:97:4c:f1
          inet addr:172.17.0.1  Bcast:0.0.0.0  Mask:255.255.0.0
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:0 errors:0 dropped:0 overruns:0 frame:0
          TX packets:0 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:0
          RX bytes:0 (0.

[2017-10-13 18:25] alsrgv commented on #39
Aha, this is familiar.  Can you try `mpirun -mca btl_tcp_if_exclude docker0,lo ...`?

[2017-10-13 18:27] AlexanderYukhanov commented on #39
Thanks a lot! That works

[2017-10-13 18:39] AlexanderYukhanov commented on #39
FYI, i am going to add a recipe on running horovod on new BatchAI service: https://github.com/Azure/BatchAI/tree/master/recipes.

Thanks a lot for the help!

[2017-10-13 19:41] alsrgv commented on #39
That's great!  Please share a direct link to the recipe when it's ready, and I'll add it to the README :-)

[2017-10-13 21:17] hfutxrg commented on #21
@alsrgv I used a node with 4 Volta GPUs (V100). The following are the results for different combinations (all of them use real data training):
1. np=1, speed is **321.7** images/sec
2. np=4, speed is **917.2** images/sec, 2.85x over np=1
3. np=4, allreduce=false, speed is **1214.1** images/sec, 3.77x over np=1
4. np=4, distortions=false, speed is **1150.2** images/sec, 3.58x over np=1
5. np=4, all

[2017-10-13 22:45] AlexanderYukhanov commented on #39
Here it is https://github.com/Azure/BatchAI/tree/master/recipes/Horovod

[2017-10-13 22:45] #39 closed

[2017-10-14 03:52] alsrgv commented on #21
Since speedup improves a lot when distortions are disabled, CPU may be playing a role here.  What may be happening is that it can't handle doing 4x more distortion work in synchronous mode (2), but can spread the work in test (3).  Do you know what kind of CPU do you have?  You can check by running `dmesg | grep CPU`.

Another thing to try is to shift preprocessing from CPU to GPU by adding `with

[2017-10-14 15:19] hfutxrg commented on #21
Hi @alsrgv, the CPU on my server is Intel Xeon E5-2690 v4 @2.6GHz. I think it's powerful enough.

I tried to use ```with tf.device('/gpu:0')``` for ```distort_image()```,  but the training speed is lowered to 804.4 images/sec on single node.

I also tried ```opt = hvd.DistributedOptimizer(opt, device_dense='/cpu:0')```, then the training speed is lowered 865.8 images/sec on single node.

Is there

[2017-10-14 21:08] TimZaman commented on #35
Yeah so there's no way around it: https://stackoverflow.com/questions/46734796/how-to-list-visible-tensorflow-devices-without-allocation?noredirect=1#comment80443635_46734796

Thanks!

[2017-10-14 21:08] #35 closed

[2017-10-14 21:34] TimZaman opened #40 "Benchmark's scalability (weak/strong)"
I take it the benchmarks in the README are based on weak scaling? (i.e. batch size per process stays the same regardless of number of processes?). If it is weak scaling, you'd be solving a different problem than if you would divide the back size by the number of processes (strong scaling), also giving you worse results.

[2017-10-14 21:37] TimZaman opened #41 "Syncing metrics between processes."
In the context of some job that reports a loss, each process reports the loss of the batch they have just processed. Does horovod, or can you suggest a best way of aggregating/syncing metrics or loss values across processes for reporting those somewhere?

[2017-10-15 05:26] alsrgv commented on #40
We've found that it's very hard to make strong scaling work well, and haven't heard of anybody reporting successful results.  This is mostly because at large batch sizes (e.g. =1) modern GPUs have a lot of overhead.

On the contrary, companies are pursuing modifications to SGD, such as [custom learning rate schedules](https://research.fb.com/wp-content/uploads/2017/06/imagenet1kin1h5.pdf) to make

[2017-10-15 05:35] alsrgv commented on #41
The simplest way for many metrics would be just to average them using `hvd.allreduce()`.  You can also do `hvd.allgather()` of metric value to do custom aggregation.  Does either of those two options solve your need?

[2017-10-15 05:37] alsrgv commented on #21
@hfutxrg very interesting data points!  I will run a real data experiment next week on our server with Voltas and let you know if I see a similar or different scaling.

[2017-10-15 12:11] shinechou opened #42 "Error: 'TFOptimizer' object has no attribute 'lr'"
Thanks a lot for this great framework. I got this error message "'TFOptimizer' object has no attribute 'lr'" when I was using ReduceLROnPlateau callback from Keras, could you please help me to find a way to solve this with horovod? Thank you very much in advance.

[2017-10-16 19:50] shinechou commented on #42
@alsrgv:+1: Thank you very much. However, I got the error message as below,

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/client/session.py", line 1327, in _do_call
    return fn(*args)
  File "/usr/local/lib/python3.5/dist-packages/tensorflow/python/client/session.py", line 1306, in _run_fn
    status, run_metadata)
  File "/usr/lib/python3.5

[2017-10-16 20:10] alsrgv commented on #42
@shinechou, couple of questions:
1. Did it work before if you don't use `ReduceLROnPlateau`?
2. The error like that is very hard to diagnose without seeing the code. Can you publish relevant part of the code somewhere?

[2017-10-16 20:22] shinechou commented on #42
@alsrgv: Really appreciate your help.
(1) Yes, it works well without using ReduceLROnPlateau (even I use your "MetricAverageCallback" callback) although when I wanna save the weights I got "_UserWarning: TensorFlow optimizers do not make it possible to access optimizer attributes or optimizer state after instantiation. As a result, we cannot save the optimizer as part of the model save file.You wi

[2017-10-16 20:31] shinechou commented on #42
@alsrgv: Thank you. I think I  found the reason, because I should put "model = Model(outputs=out, inputs=x)" before "learning_rate = K.variable(1.0 * hvd.size())". Sorry for my mistake and I'm really grateful for your kind help. Hope to see the new examples or updated one.

[2017-10-16 20:36] alsrgv commented on #42
@shinechou, glad you resolved the issue!

[2017-10-16 20:48] #40 closed

[2017-10-16 20:54] TimZaman commented on #41
Thanks mate.

[2017-10-16 20:54] #41 closed

[2017-10-16 21:56] hfutxrg commented on #21
@alsrgv I also tried two nodes where each node has 4 P100 GPUs, and the speedup with 2 nodes is ~1.59x over one node. This speedup is a little bit higher than V100 nodes but still far from the results on Horovod readme. So the speedup on Horovod readme file is for synthetic data rather than real data, right?

[2017-10-16 22:22] alsrgv commented on #21
@hfutxrg, correct - the idea was to separate GPU workload that involves synchronization from preprocessing which in theory is easily parallelizable. I didn't have a chance to run real data tests yet, once I do I'll let you know if I'm seeing similar phenomena.

[2017-10-16 23:12] TimZaman commented on #42
@alsrgv I don't think your callback does anything.

This does:
[code]

[2017-10-16 23:18] alsrgv commented on #42
@TimZaman aren't those equivalent except for `self.history`? It will be doing useful stuff if every worker processes a different slice of validation data, i.e. `x_test`/`y_test` are slices of full validation data set.  I'll make a bigger example with this and publish shortly.

[2017-10-16 23:20] TimZaman commented on #42
Yeah I was going to make a PR and decided you might not want this as it got a bit too involved, and not very "add 5 lines for horovod".
Functionally the same, but the result from your callback would not be saved or shown anywhere.

[2017-10-16 23:25] alsrgv commented on #42
@TimZaman It's supposed to modify `logs` which is passed to all the callbacks, and my understanding was that the modified value in `logs` would be propagated to the next callback, which would be `ReduceLROnPlateau` in the example.

[2017-10-16 23:32] alsrgv commented on #42
Short-term, I think I'll create one more example with callbacks that would do validation data partitioning & automatic learning rate adjustments.

Long-term, I'm quite open to adding useful Keras code to `horovod/keras/callbacks.py` and collaborating with Keras on making API easy to use. One specific issue I had is that it's not possible to use native Keras optimizers with Horovod because gradient

[2017-10-17 07:35] alsrgv commented on #21
@hfutxrg I got some results on a server with 4x**P100** GPUs for starters:

batch_size=64: **3.3x** with resnet50, and **3.5x** with resnet101.
batch_size=128: **3.7x** with resnet50.

You can also experiment with `config.inter_op_parallelism_threads` option. I had slightly better performance with the value of `8`:

batch_size=64: **3.5x** with resnet50, and **3.6x** with resnet101.
batch_size=128

[2017-10-17 15:00] hfutxrg commented on #21
Hi @alsrgv, could you send your outputs of running resnet50 with 1 P100 and 4 P100? I also used batch_size=64 but only got 2.85x for 4 P100. I want to see what is the difference between your output and my output. Yes I will also try to use a larger value of ```config.inter_op_parallelism_threads```.

[2017-10-17 22:01] alsrgv commented on #21
@hfutxrg:

* `config.inter_op_parallelism_threads = 8`: 213 img/sec on 1xP100, 758 img/sec on 4xP100 - 3.55x speedup.
* `config.inter_op_parallelism_threads = unlimited`: 217 img/sec on 1xP100, 719 img/sec on 4xP100 - 3.31x speedup.

Note that this is SXM2 (not PCI-e) server.  How many DIMMs do you have on the server?  We have 4x32GB DIMMs on our server balanced across memory channels.  More chann

[2017-10-17 22:44] hfutxrg commented on #21
@alsrgv I found in my last post, there was a mistake. The 2.85x speedup is actually for 4 V100-PCIe.
I also tried P100-SXM2 with batch_size=64, and the speedup is 3.16x. The performance is 233 images/sec on 1xP100, 736 images/sec on 4xP100.

All of my servers have 16x16GB DIMMs. So here it seems faster GPUs lead to lower speedup. I will also try larger ```config.inter_op_parallelism_threads``` to

[2017-10-17 22:52] alsrgv commented on #21
@hfutxrg I just tried AWS V100 server. On 4xV100 I get 1179 img/sec. When I try a single GPU, some silliness is happening and the performance is just 77 img/sec. What's your 4xV100 number?

[2017-10-17 23:03] hfutxrg commented on #21
My number for 4 V100-PCIe is only 917 images/sec. Your 1179 images/sec is for default configuration or setting ```config.inter_op_parallelism_threads = 8 ``` or ```unlimited```?

Also on your V100 server, what is the CPU model, memory size, V100-PCIe or V100-SXM2, and how GPUs are connected to CPUs (use "nvidia-smi topo -m" command)?

[2017-10-18 16:57] tslater commented on #31
Unfortunately, out of the dozens and dozens of iMacs that we have, mine happens to be one of the 4 or 5 that has an Nvidia graphics card, the rest are AMD.... :-(.

I did find, however, a library that lets me use the AMD cards!!!! Victory...almost.

Horovod does not install with this fork of tensorflow:
https://github.com/hughperkins/tf-coriander.

Here is the error I get:
[code]

Should I create

[2017-10-18 18:33] tslater commented on #31
This could just be because they're on TF 1.1 instead of 1.3.

[2017-10-18 19:35] alsrgv commented on #31
Hi @tslater,

Unfortunately, 0.11.x is not supported - the earliest supported version is 1.1.0. Maybe there's more fresh version of TF that works with OpenCL?

As for environment variables, I do `mpirun ... -x env_var ...` a lot, which propagates `env_var` from host where you run `mpirun` to all the workers.

[2017-10-19 02:58] alsrgv commented on #21
@hfutxrg, unfortunately, I cannot share the spec at the moment. Did you have a chance to try out `config.inter_op_parallelism_threads = 8`?

[2017-10-19 16:54] hfutxrg commented on #21
Hi @alsrgv , in one V100-SXM2 node where two CPUs are connected to four GPUs with two PCIe buses, ```config.inter_op_parallelism_threads = 7``` improved ~25 images/sec. I chose 7 instead of 8 because my node has 28 cores so that each GPU can run on 7 cores. But from ```top``` command, I still saw each GPU only used 5 CPU cores. I checked that the default value ```inter_op_parallelism_threads``` in

[2017-10-19 21:24] alsrgv commented on #21
@hfutxrg, can you collect [Horovod Timeline](https://github.com/uber/horovod/blob/master/docs/timeline.md) for your training?  That may help reveal areas to dig in further.  Also, I assume that your training data is on the local disk with fast access speed?

[2017-10-19 22:13] hfutxrg commented on #21
@alsrgv Thanks for the timeline tool suggestion. I will give it a try. Right now the training data is stored on a HDD NFS. I will try to copy it to the local SSD in each node to see whether there is any improvement.

[2017-10-19 22:15] alsrgv commented on #21
@hfutxrg, aha! NFS latency may be your bottleneck in this case. Let's see results on SSD.

[2017-10-22 06:34] weixsong opened #46 "Is mpirun a necessary to launch distributed training?"
Hi,

Is distributed training with Horovod must use mpirun to distribute the training process?

I mean, could me run each process on local machine by manually and then Horvorod could find the cluster or peer node to do distributed computation?

Such as,
In machine 1, I run "python train.py"
In machine 2, I also run "python train.py"

Is this OK?

[2017-10-22 06:38] alsrgv commented on #46
Hi @weixsong,

At this point, Horovod uses MPI to coordinate what tensors should be reduced, gathered or broadcasted and in which order, so it's necessary to use `mpirun` to launch distributed training.

[2017-10-22 06:50] weixsong commented on #46
@alsrgv , thanks very much.

[2017-10-23 04:25] alsrgv commented on #46
I'll close this issue. Please re-open if you have any additional questions on the subject.

[2017-10-23 04:25] #46 closed

[2017-10-23 13:23] shinechou opened #47 "Got error when installing it under windows 10"
@alsrgv: I wanna use it under windows 10 (one of our tool will call horovod and it can only support Windows) and I got the following error messages when I install it, could you please help me? Or there is no chance to use it under Windows? Also, I couldn't use the options "HOROVOD_GPU_ALLREDUCE=MPI HOROVOD_GPU_ALLGATHER=MPI HOROVOD_GPU_BROADCAST=MPI pip install --no-cache-dir horovod" as you menti

[2017-10-23 13:25] shinechou commented on #47
@alsrgv: I've already installed MSMPI v8.1 and VS 2015 building tool. Thanks a lot in advance.

[2017-10-23 16:41] alsrgv commented on #47
@shinechou, unfortunately, I don't have Windows machine to try this out.  [This article](https://joe-antognini.github.io/machine-learning/windows-tf-project) seems to have some breadcrumbs how this can be fixed if you feel adventurous to modify `setup.py`.  Contribution to make this work would be very welcomed.

[2017-10-23 18:53] AlexanderYukhanov opened #48 "FYI, BatchAI added a demo of running Horovod on a gpu cluster"
FYI, we have added a demo on how to run horovod on Azure Batch AI. https://github.com/Azure/BatchAI/tree/master/recipes/Horovod

Thanks,
Alex

[2017-10-23 19:01] ygoncharov opened #49 "Running batch norm updates"
Is there a simple way to run batch norm updates in addition to gradient updates? The industry practice is to run batch update ops from a single tower only, therefore, it would be incorrect to add batch updates to the training op in the provided sample code.

[2017-10-23 19:04] alsrgv commented on #48
Hi @AlexanderYukhanov, this is great!

Thanks for the reminder, let's use this issue as a tracking issue until this gets added to the README upon next docs update.

[2017-10-23 19:10] shinechou commented on #47
@alsrgv : Thank you very much. I'll try my best to modify the setup.py file as you suggested. If it works I'll let you know.

[2017-10-23 19:28] alsrgv commented on #49
I believe if you add batch normalization to the `train_op` following example [here](https://www.tensorflow.org/api_docs/python/tf/layers/batch_normalization), the batch norm would run on every worker independently, without exchanging or averaging those updates. Do you anticipate that creating any problems?

[2017-10-23 21:08] ygoncharov commented on #49
As long as batch statistics is not aggregated, my understanding is that it should work for the regular batch norm. However, it may have some side effects for the batch renormalization since a tower won't have access correct batch statistics (i. e. the one used for inference) during training.

Also, we should keep in mind that we may get different inference results from each tower.

When a model is

[2017-10-23 21:21] alsrgv commented on #49
Great, that matches my understanding of regular batch normalization.

Can you elaborate a bit more on batch renormalization issue? Is it for inference or for training?

That's true that every tower will have a slightly different result. The example script right now is not configured to save checkpoint, but it can be easily done with hooks for [TF](https://www.tensorflow.org/versions/r1.4/api_docs/

[2017-10-23 21:34] ygoncharov commented on #49
For the batch renormalization, the activations computed in the forward pass of the training step are supposed to be identical to the activations computed in inference. For the proposed solution, it is not a case since only one worker has access to the batch statistics that will be used during inference. It may still successfully solve the problems the batch renormalization is supposed to solve (i.

[2017-10-23 21:37] alsrgv commented on #49
I see, thanks for the clarification. It would be interesting to run this on few practical examples and see how much different those BN parameters would turn out to be.

[2017-10-24 03:15] experiencor opened #50 "Quick questions: feeding images to GPUs"
Thanks for a great library.

I have 2 quick questions.

In the context of the Keras example, each GPU reads the same set of images in each epoch, possibly in different orders.

So the time it takes to make an epoch is independent of the number of GPUs. Is this understanding correct?

It may happen that different GPUs may read a few same images in a batch. Is there any easy way to make sure that ea

[2017-10-24 09:58] weixsong opened #51 "Any detailed documents about this package?"
Hi,

About how to use the parameters, how to save model and restore model, is there any detailed documents about this package?
Such as code beblow:
    hooks = [hvd.BroadcastGlobalVariablesHook(0),

             tf.train.StopAtStepHook(last_step=10000),

             tf.train.LoggingTensorHook(tensors={'step': global_step, 'loss': loss},

                                        every_n_iter=10),

[2017-10-24 22:53] norman-kraft opened #52 "Horovod won't install on Mac OSX El Capitan"
On Mac OSX El Capitan with Anaconda 3, ```pip install horovod``` gives the following error:

```fatal error: 'unordered_map' file not found```

This can be fixed if I have access to the compilation scripts, but in this case pip does all that and I don't know a workaround. Can this be fixed?

[2017-10-25 03:00] alsrgv commented on #52
Hi @norman-kraft,

This is very suspicious. I just installed Anaconda3 5.0.0 from [Anaconda website](https://www.anaconda.com/download/#macos), and then installed TensorFlow and Horovod using `~/anaconda3/bin/pip`.

[code]

Can you run `~/anaconda3/bin/pip install --no-cache-dir -v horovod` to paste the whole output?

[2017-10-25 03:08] alsrgv commented on #51
Hi @weixsong,

The question you ask about parameters, saving and restored model are generally answered on the official TensorFlow [website](https://www.tensorflow.org/).

If you use `tf.train.MonitoredTrainingSession()` ([doc](https://www.tensorflow.org/api_docs/python/tf/train/MonitoredTrainingSession)), you can specify the parameter `checkpoint_dir` and model will be restored/checkpointed into t

[2017-10-25 03:21] alsrgv commented on #50
Hi @experiencor,

You are right, the Keras example provided makes it possible for an occasional batch with the same image repeated twice to happen.  I don't believe such rare occasions would have any substantial negative effect on the training.  Did you have an experience where that was not the case?

[2017-10-25 07:05] weixsong commented on #51
@alsrgv , thanks.

[2017-10-25 11:12] weixsong commented on #51
@alsrgv , I'm using the following code:
    is_chief = (hvd.rank() == 0)
    save_secs = 60 if is_chief else 800000000000000000
    with tf.train.MonitoredTrainingSession(hooks=hooks,
                                           config=config,
                                           is_chief=is_chief,
                                           checkpoint_dir=args.output_model_path,

[2017-10-25 11:49] experiencor commented on #50
@alsrgv I have not encountered this issue in my code.

[2017-10-25 15:17] shinechou opened #53 "Got similar error when installing Horovod under Ubuntu 16.04 (as I got under Windows 10)"
@alsrgv: I got similar error as I got under windows 10, could you please help me? Thanks a lot in advance. I´ve installed tensorflow-gpu (version1.3.0) and Cuda 8/CudNN 6, it works well with python 2.7 when I run the script without horovod, and I also installed openmpi-3.0/NCCL2.0.

$sudo -H HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod -v
Converted retries value: Retry(total=5, co

[2017-10-25 15:31] alsrgv commented on #53
Hi @shinechou,

Seems like you error is `mpicxx: error while loading shared libraries: libopen-pal.so.40: cannot open shared object file: No such file or directory`.

I've seen this error happen before when I had two versions of Open MPI installed in the system or had it installed in a non-standard location.

There are a couple of things you can try:
1. `export LD_PRELOAD=$YOUR_MPI_LOCATION/lib/li

[2017-10-25 15:34] alsrgv commented on #51
Yes, for Horovod all the workers should be "chiefs", as they all should initialize variables and do other initialization procedures. I'll update the example to explicitly clarify this - thanks for your feedback!

[2017-10-25 15:36] alsrgv commented on #50
@experiencor I may have had rare batches with duplicate examples, but I really doubt they can have a noticeable impact.

[2017-10-25 16:06] shinechou commented on #53
Hi @alsrgv: thank you very much. I could try your possible solutions tomorrow when I go to office.
However, I think the problem comes earlier than this MPI problem, have you seen the error message "/usr/bin/ld: cannot find -ltensorflow_framework"? It seems that the setp script coudln't find tensorflow lib. Or I should install tensorflow instead of tensorflow-gpu? Thanks in advance.

[2017-10-25 16:24] alsrgv commented on #53
@shinechou, you can ignore "-ltensorflow_framework" error and just look at the last error. The reason is that over time build instructions for TensorFlow plugins have changed, and we just try all possible options for TensorFlow 1.1.0+ - so there could be errors from unsuccessful attempts, which can be ignored. Only the last error is relevant.

[2017-10-25 16:39] shinechou commented on #53
@alsrgv: thank you so much. I'll try this out tomorrow and let you know if it works.

[2017-10-25 17:10] alsrgv commented on #21
@hfutxrg, did reading data from local SSD improve your scaling?

[2017-10-25 19:15] hfutxrg commented on #21
Hi @alsrgv, using SSD has the same performance as using NFS. However, I found there are many "waiting for data" in the Horovod timeline, so I suspect reading the dataset is the bottleneck. Then I found TensorFlow website says "Placing input pipeline operations on the CPU can significantly improve performance". So i tried to use the following code:
```with tf.device('/cpu:0'):```
 ```           ima

[2017-10-25 19:29] alsrgv commented on #21
@hfutxrg, it may be interesting to tinker with these parameters. If you're using same seed everywhere, you may actually be reading the same files at the same time, which may be hurting FS performance. You can try to specify different `seed` instead, e.g. `seed=hvd.rank()`. Parallelism may also benefit from being reduced, since you're running 4 processes on one server, and so it will try to run 256

[2017-10-25 20:58] shinechou opened #54 "How can I properly store the best weights into a json file to use it later?"
@alsrgv: If I use multiple GPUs, I tried to store the best weights to use it later but I couldn't get the results like what I could get using single GPU, what is the proper way to do it by using Horovod? Thanks a lot in advance.

[2017-10-25 21:03] alsrgv commented on #54
@shinechou, you may need to adjust your learning rate when you use multiple GPUs - the simplest strategy is to just multiply your original learning rate by total # of GPUs.

If you're using Keras you can use https://keras.io/callbacks/#modelcheckpoint callback, and specify `save_best_only=True` in which case it will save best model in .h5 format, that you can subsequently load back with:

[code]

[2017-10-25 21:29] shinechou commented on #54
@alsrgv: thank you very much. I did like what you said. Actually you helped me about how to adjust the learning rate. And I am using the "checkpoint = ModelCheckpoint(weightsfilepath, monitor='val_acc', verbose=1, save_best_only=True, mode='max')" to store the model with the weights. But I think maybe the problem comes from the loading model "loaded_model.compile(loss='categorical_crossentropy', o

[2017-10-25 21:48] alsrgv commented on #54
1. I'm not sure I understand your first problem - do you get an exception during loading the model?

2. TensorFlow seems to have Nadam optimizer - https://www.tensorflow.org/api_docs/python/tf/contrib/opt/NadamOptimizer

3. I'm very surprised to see accuracy > 1. While I don't know how that was possible, the learning rate you use with AdadeltaOptimizer seems to be very high. You start with # GPU *

[2017-10-26 00:44] #51 closed

[2017-10-26 00:45] weixsong commented on #51
thanks.

[2017-10-26 05:22] shinechou commented on #54
Really appreciate. Thank you.

(1) No, I didn't get exception. I can load the model but the inference result is very different from the one with single GPU. I think maybe also due to the strange val_acc values because I monitor it to store the model and weights.

(2) Yesterday I tried the optimizer as you mentioned but I got error at that time, now I try the learning rate of "0.001* #GPUs" and it

[2017-10-26 07:59] shinechou commented on #53
@alsrgv: both your solutions didn´t work for me,  but ´**sudo ldconfig**´ works.

[2017-10-26 08:09] experiencor opened #55 "Check whether GPUs are communicating directly"
How to check if the models on different GPUs exchange gradients directly via nv_peer_mem?

I measure the running time of the keras example when nv_peer_mem is turned on and off. The 2 cases make no difference in running time. There's no complaint from the code too.

[2017-10-26 11:19] saikishor opened #56 "To run on 4 machines with 1 GPUs each using Open MPI"
To run on 4 different machine that has 1 GPU and connected by LAN, do I need to use the following command in any one of the system or use it on every computer changing the position of server IP's?

[2017-10-26 11:47] ydp commented on #56
I have the same question, I have 4 machine with 1 gpu,
run command:
mpirun -np 4 -x LD_LIBRARY_PATH -H server1:1,server2:1,server3:1,server4:1 python train.py
will fail with server1:1 name or service cannot resolved
so I have to use
mpirun -np 4 -x LD_LIBRARY_PATH -H server1,server2,server3,server4 python train.py
then, how do I specifiy the GPU number for each machine.
my Openmpi version is:
mpir

[2017-10-26 11:53] ydp commented on #56
plus, I run the tensorflow_mnist.py on multiple node, the process just block, maybe it's because I did not specify GPU number?

[2017-10-26 13:54] alsrgv commented on #55
You can check that by setting `NCCL_DEBUG=INFO`, e.g.:
[code]

If you see the following in the output, you're using nv_peer_mem:
[code]

If you simply see the following, you're not using nv_peer_mem:
[code]

[2017-10-26 14:00] alsrgv commented on #56
@saikishor, no, you can run the mpirun command once on any of those servers.

@ydp, I remember seeing `server1:1 name or service cannot resolved` with very old Open MPI, definitely not 3.0.0. Do you happen to have two versions of MPI installed in your system? This may explain process blocking, too.

I that's the case, you can fix this by making sure `$PATH` points to Open MPI 3.0.0 first, e.g.:
[c

[2017-10-26 16:21] alsrgv commented on #53
@shinechou, great!  I'll add this to the troubleshooting docs in the next doc update round.

[2017-10-26 16:21] #53 closed

[2017-10-26 16:22] alsrgv commented on #52
@norman-kraft, was your issue resolved?

[2017-10-26 16:25] alsrgv commented on #50
I'll close this issue. Please feel to re-open if you have additional questions.

[2017-10-26 16:25] #50 closed

[2017-10-26 16:25] alsrgv commented on #49
I'll close this issue. Please feel free to re-open if you have additional questions or ideas.

[2017-10-26 16:25] #49 closed

[2017-10-26 16:27] alsrgv commented on #54
Very strange.  These versions seem very reasonable.

[2017-10-27 04:20] ydp commented on #56
@alsrgv  thanks for your help, I can run the program now, but get other error, I will open a new issue.

as for my problem, I first download openmpi-3.0.0.tar.gz on local machine, setup env, then I start to run on kubernetes, so I make a docker image, in the dockerfile I write apt-get install ..., which is not 3.0.3, but 1.10.0, so it is version problem, I rebuild the docker with tar.gz compiled,

[2017-10-27 04:28] ydp opened #57 "run distributed mnist example on kubernetes failed with error "writev error Bad address(1)""
so I run this example on kubernetes, the standalone is ok, but distributed version failed.
my run command is (change eth0 to flannel.1 have the same error, and other card just cannot run):
[code]
error msg:
[code]
ifconfig in docker as follow:
[code]
is there anyway for my to know what went wrong? I don't know which address is bad.

[2017-10-27 05:39] saikishor commented on #56
@alsrgv Thank you for your comments. I have one more question based on your comment. As you said, I can run the command once on any of those systems connected by LAN. Will this still work even the tensorflow is not installed on other system on LAN(The systems whose GPU we are using for running training).

@ydp from your previous comment I see that you are using docker for this purpose. It's a very

[2017-10-27 07:52] weixsong opened #58 "Error when save model"
Hi,

I'm using Horovod to do distributed TF training.

In my code, seems that at the beginning my task failed due to save model error:
[code]

My code is
[code]

work_path is an HDFS path here.

Any idea about this issue?

[2017-10-27 07:53] weixsong commented on #58
BTW, the same Horovod code works when I tried it on small network MNIST.

[2017-10-27 08:33] weixsong commented on #58
Update: With MNIST, if I increased the GPU to 12, also got the same error.

[2017-10-27 10:21] ydp commented on #57
the same env, I run opemmpi example executable, it return success:
[code]

[2017-10-27 11:30] shinechou commented on #56
what does "server1:1" mean in the command line? "server1" is the ip-address/name of your first server or just use "server1"? ":1" means you have 1 GPU for this node?

[2017-10-27 15:01] experiencor commented on #55
I'm running on a single machine with 4 GPU. These are the information lines:

instance-4:700:785 [0] INFO 0 -> 1 via direct shared memory
instance-4:701:782 [1] INFO 1 -> 2 via direct shared memory
instance-4:702:800 [2] INFO 2 -> 3 via direct shared memory
instance-4:703:788 [3] INFO 3 -> 0 via direct shared memory

I receive these lines regardless of whether nv_peer_mem is on of off.

Does that

[2017-10-27 15:17] ydp commented on #56
@saikishor  I run a kubernetes cluster with flannel installed

@shinechou  I think you are right

[2017-10-27 17:34] alsrgv commented on #58
Hi @weixsong,

I think the problem is that even though `save_checkpoint_secs` is very large, `MonitoredTrainingSession` does save checkpoint on every worker at the end of the training.

Plan B to solve this is to change the code like that:
[code]

[2017-10-27 18:40] alsrgv commented on #57
@ydp, can you try running the MPI Allreduce example from [MPI Tutorial GitHub](https://github.com/wesleykendall/mpitutorial/tree/gh-pages/tutorials/mpi-reduce-and-allreduce/code)?  I'm wondering if the example that you ran actually did any communication, or just printed out ranks and exited.

[2017-10-27 18:57] alsrgv commented on #55
Ah, `nv_peer_mem` is only useful for RDMA between servers.  Within the server, you should be seeing P2P/IPC lines if GPUs talk directly, like this:
[code]

You will see `instance-4:700:785 [0] INFO 0 -> 1 via direct shared memory` when GPUs are unable to talk directly. If you have too many communications done via shared memory, it will become saturated and your performance will suffer.

Can you ru

[2017-10-27 19:01] alsrgv commented on #56
@saikishor, you need to have TensorFlow, MPI and NCCL installed on every server. The source code of your model should be available on every server as well.

Docker can be a good idea to simplify management of TensorFlow, MPI, NCCL and source code. You can do `docker run --network=host your-container` to map all the host network interfaces inside the container.

Additionally, if you're running Dock

[2017-10-27 19:21] saikishor commented on #56
@alsrgv Thank you for your useful information.

[2017-10-27 19:32] shinechou commented on #56
@ydp, @alsrgv: thank both of you. I've figured it out by looking into openmpi documentation.

[2017-10-28 01:54] atinsood opened #60 "confirming installation and setup running examples in the code"
Guys thanks for this interesting project. Appreciate the effort that you have put in here. I am trying out a few things but have a few doubts if I am doing things right.

I have 2 machines, each with 2 P100s and 16gig mem on each GPU
I am starting with examples/  , and executing the command `~/.openmpi/bin/mpirun  -np 4 -v -hostfile ~/hostfile -x NCCL_DEBUG=INFO ~/envs/horovod/bin/python tensorflo

[2017-10-28 03:49] #48 closed

[2017-10-28 04:11] alsrgv commented on #60
Hi @atinsood,

`tensorflow_word2vec.py` is actually very tiny example utilizing embeddings - small enough that it doesn't scale well.  You won't need multiple GPUs to train word2vec model.  This example is primarily there to serve two purposes - 1) show that you can do averaging of sparse tensors, used in embeddings, 2) show that you don't have to use `tf.train.MonitoredTrainingSession`.

If you w

[2017-10-28 05:45] experiencor commented on #55
This is what I got:

[code]

[2017-10-28 06:05] alsrgv commented on #55
Very interesting. Usually, I see cards connected with PHB talk to each other using P2P/IPC. Can you share full output from the training, including TensorFlow and NCCL output?

[2017-10-28 07:53] experiencor commented on #55
This is my tensorflow output:

[code]

Full NCCL output:
[code]

[2017-10-28 08:01] alsrgv commented on #55
This thread may be helpful - https://devtalk.nvidia.com/default/topic/883054/cuda-programming-and-performance/multi-gpu-peer-to-peer-access-failing-on-tesla-k80-/post/4766413/#4766413.

Does `sudo lspci -s 00:04.0 -vvvv | grep -i acs` show anything?

[2017-10-28 08:23] experiencor commented on #55
It does not show anything. This is the output without ```grep```:

[code]

[2017-10-28 08:26] alsrgv commented on #55
It seems that P2P for K80s is not supported on Google Cloud - https://stackoverflow.com/questions/44804982/google-compute-engine-tesla-k80-has-additional-htod-an-dtoh-ops-and-a-way-lower#comment76594203_44804982.

[2017-10-28 17:06] atinsood commented on #60
@alsrgv appreciate the help in answering the question, seem to be running into this issue when running the above command. I want to think I did install TF correctly ` pip install --upgrade ~/tensorflow_gpu-1.3.0-cp27-none-linux_x86_64.whl`

[code]

[2017-10-28 18:25] alsrgv commented on #60
@atinsood looks like TF benchmarks have been updated and now require TF 1.4.0-rc1. You'd have to upgrade to that and reinstall Horovod (with `--no-cache-dir` to make sure it actually does rebuild C++ code).

[2017-10-28 20:37] shinechou commented on #54
@alsrgv: is it possibly caused by 2 different type of GPUs?

[2017-10-28 21:43] atinsood commented on #60
@alsrgv this was perfect. thanks that did the trick and I am past the error and able to run `$ mpirun -np 4 python scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py --model resnet101 --batch_size 64 --variable_update horovod
`

I am trying to understand now, if I have to run the same benchmarks that you guys ran and test these against our hardware,

`a` what would be the way to go about it
`b` how do

[2017-10-29 00:17] alsrgv commented on #60
@atinsood great! You should be able to easily repro out benchmarks just by running that script. Make sure that NCCL is installed and is being used by adding `-x NCCL_DEBUG=INFO` to your `mpirun` command like you did before. If you have RoCE/InfiniBand, I found this `mpirun` option to improve performance, too: `-mca btl_openib_receive_queues P,128,32:P,2048,32:P,12288,32:P,131072,32`

[2017-10-29 00:40] alsrgv commented on #54
@shinechou, do you have 2 different types of GPUs on your servers, or between your home setup and at work?

Also, can you try this improved version of `MetricAverageCallback`? It names metrics specifically, so there's less chance that they will get mixed up by allreduce.
[code]

[2017-10-29 01:34] atinsood commented on #60
@alsrgv perfect perfect. and thank you for being so patient and answering my questions. I guess this is my relative ignore with the deep learning topic and TF, but I am trying to understand the benchmark correctly.

I am looking at this comment https://github.com/uber/horovod/issues/21#issuecomment-336503397 which is also trying to replicate your benchmark

[code]

[2017-10-29 08:30] alsrgv commented on #60
@atinsood, no worries!

The numbers below are actually using synthetic data (i.e. fake data), to purely measure GPU scaling with the assumption that CPU and disk IO speed are sufficient to support that.

![benchmark](https://user-images.githubusercontent.com/16640218/31681220-7453e760-b32b-11e7-9ba3-6d01f83b7748.png)

`mpirun -np 4 -H host1:2,host2:2 python scripts/tf_cnn_benchmarks/tf_cnn_benchma

[2017-10-29 15:16] shinechou commented on #54
@alsrgv: thank you very much. I have only single GPU at home so I couldn't try it. Tomorrow I'll borrow another GPU from work to try it and let you know. That's why I had two different types of GPUs when I tried it last time at home. Have a nice weekend.

[2017-10-29 19:30] alsrgv commented on #54
@shinechou, you too. Let me know how it goes!

If the new version of `MetricAverageCallback` doesn't help, you can also try disabling NCCL by passing `device_dense="/cpu:0"' to `hvd.DistributedOptimizer` (see example below). If that helps, it means there may be a bug in NCCL related to dealing with different GPUs in the same ring.

[code]

[2017-10-30 02:06] ydp commented on #57
@alsrgv  here is my result for reduce_avg and reduce_stddev
[code]

[code]

[2017-10-30 04:19] ydp commented on #57
since the error message is Bad Address; I modify code in OpenMPI and recompile it. Code I add is here:

[code]

message is:
[code]

seems it is communicating, but after a while, it shows segmentfault error

[2017-10-30 04:50] ydp commented on #57
I made a few other test;
Now I have 2 GPU on 1 docker;
run the command:
[code]
same error as on different docker;
but when change it to -np 1, it run success.
so I guess there is something wrong with different GPU commnunicationg, but not mpi node commnunicate

[2017-10-30 04:52] ydp commented on #57
I found something here:
https://stackoverflow.com/questions/18070428/simple-mpi-send-and-recv-gives-segmentation-fault-11-and-invalid-permission-2
maybe it is relevant, but not sure how to solve it

[2017-10-30 05:00] alsrgv commented on #57
@ydp, did you by any chance install Horovod with `HOROVOD_GPU_ALLREDUCE=MPI`, `HOROVOD_GPU_ALLGATHER=MPI` or `HOROVOD_GPU_BROADCAST=MPI`?

[2017-10-30 05:52] ydp commented on #57
yes, I installed it with that command, since I donot have nccl and rdma, so I used mpi.

[2017-10-30 05:53] ydp commented on #57
I an wondering if I need to build mpi with cuda aware support

[2017-10-30 06:00] alsrgv commented on #57
@ydp, `HOROVOD_GPU_ALLREDUCE=MPI` is made for very special situations, e.g. for people running on Cray systems.

In most cases, you should simply follow [NCCL 2 + Horovod Guide](https://github.com/uber/horovod/blob/master/docs/gpus.md#have-gpus). NCCL 2 will give you better performance on GPUs than pure MPI.

[2017-10-30 06:23] ydp commented on #57
@alsrgv  really appreciate your help, sorry for my big mistake, now I changed it to nccl2 run -np 2, it run success, but run on 2 different docker, now has following error:
[code]

[2017-10-30 06:24] ydp commented on #57
my tensorflow-version is
[code]

[2017-10-30 06:36] alsrgv commented on #57
@ydp, no worries. For your `ncclCommInitRank` error, take a look at this [troubleshooting section](https://github.com/uber/horovod/blob/master/docs/troubleshooting.md#ncclcomminitrank-failed-unhandled-cuda-error).

[2017-10-30 06:53] ydp commented on #57
add debug info, came into another error:
[code]

[2017-10-30 06:59] ydp commented on #57
my command:
[code]
don't know why I used btl_tcp_if_include, it still found 4 interfaces.

[2017-10-30 07:46] alsrgv commented on #57
Yes, NCCL found few interfaces.  NCCL interface selection is independent from MPI.
[code]

You can narrow it down to eth0 by adding `-x NCCL_SOCKET_IFNAME=eth0` to your `mpirun` command, which will set the `NCCL_SOCKER_IFNAME` environment variable.

[2017-10-30 07:52] ydp commented on #57
@alsrgv  so much thanks， finally I run the example successfully!!

my command:
[code]

I am so excited!!! I can try my own tensorflow example now!
thanks again to @alsrgv

[2017-10-30 15:52] shinechou commented on #54
@alsrgv: thanks again. I've tried the newer version of MetricAverageCallback with 2 GPUs at office (they worked well with your old version of MetricAverageCallback), I got errors as below,

----------------------------------------------------------------------------------------------------------------------------------
Epoch 1/50
Epoch 1/50
38624/38656 [============================>.] - ETA: 0s -

[2017-10-30 16:42] alsrgv commented on #54
@shinechou, this confirms my suspicion that original issue was due to the different order of metrics in the dictionary. Here's a modified version of `MetricAverageCallback` that orders metrics, could you try it?

[code]

[2017-10-30 17:36] shinechou commented on #54
@alsrgv: thank you so much. I've tred your latest version but I got the same error. But I think I figured it out, it is not caused by your code. If I use python 2.7 then everything is fine (even with your first version of MetricAverageCallback code), but things go wrong if I use python 3.5/6-x. Maybe tensorflow-gpu has a bug related to this, I don't know yet. Maybe you can give me some hints?

[2017-10-30 18:24] alsrgv commented on #54
@shinechou, it's strange that new version doesn't work.  I was able to repro your issue on python3.4 with old code, but I can't repro the issue with `for metric in sorted(logs.keys())` modification.

[2017-10-30 20:06] hpjeonGIT opened #62 "[q] mpirun crash"
Hi,

We're testing HOROVOD on centos7.3, nccl2, cuda/8, cudnn6.0 but it keeps crashing. We tested openmpi 2.1.2, 3.0.0, and mvapich2.2. but all crashes with same error message shown below.
NCCL2 has been confirmed working through nccl-tests.

Could you comment about the issues? Other details are shown below.

Best regards,

Byoungseon

Install command: HOROVOD_NCCL_HOME=$NCCL_HOME HOROVOD_GPU_ALLR

[2017-10-30 20:16] shinechou commented on #54
@alsrgv: thx a lot. I even didn't know that you repro. my problem using python 3.4. Indeed, it is weird, I tried several times, both at office and at home, python 2.7 always give me correct results but python 3.5 always give me wrong ones.

[2017-10-30 20:19] alsrgv commented on #62
@hpjeonGIT, we've just updated GPU instructions [here](https://github.com/uber/horovod/blob/master/docs/gpus.md). In particular, you should only use `HOROVOD_GPU_ALLGATHER=MPI HOROVOD_GPU_BROADCAST=MPI` if you have RDMA and GPUDirect, you've installed `nv_peer_mem` driver and compiled MPI with CUDA support.

[2017-10-30 20:53] alsrgv commented on #54
@shinechou, can you add this debug information to the callback:

[code]

[2017-10-30 21:26] shinechou commented on #54
@alsrgv: now it's going well with those two lines of code for debugging. I am really confused.

[2017-10-30 23:08] alsrgv commented on #56
Closing this issue. Feel free to reopen if you have more questions.

[2017-10-30 23:08] #56 closed

[2017-10-30 23:08] alsrgv commented on #55
Closing this issue. Feel free to reopen if you have more questions.

[2017-10-30 23:08] #55 closed

[2017-10-30 23:30] dhaners opened #63 "Unable to install Horovod on GPUs"
I have installed NCCL2 and OpenMPI but am unable to install Horovod on a GPU. As specified in the documentation I am using the following command:

HOROVOD_NCCL_HOME=/usr/local/nccl_2.0.5-3+cuda8.0_amd64 HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod

This results in the following output:

#HOROVOD_NCCL_HOME=/usr/local/nccl_2.0.5-3+cuda8.0_amd64 HOROVOD_GPU_ALLREDUCE=NCCL pip install

[2017-10-30 23:33] alsrgv commented on #63
@dhaners, this is the real error:
[code]

Can you upgrade your TensorFlow to 1.1.0+?

[2017-10-31 01:44] dhaners commented on #63
Hi,

I've upgraded tensorflow to 1.3.0 and now it installed successfully. Thanks for the help and for the quick response!

[2017-10-31 01:49] alsrgv commented on #63
Closing this issue. Feel free to reopen if you have more questions.

[2017-10-31 01:49] #63 closed

[2017-10-31 15:44] ydp opened #65 "plan to support D-PSGD?"
I have tested horovod in my own tensorflow code, which shows significant improvement!!!
Dive into the docs and implementation, horovod used the ring-Allreduce algorithom, when I search on website, found there is a new method published recently, which says it can remove gradients divide latency, only communicate weights with each neighbor, and proved the local weights converged too and the converge

[2017-10-31 19:28] hfutxrg commented on #21
@alsrgv, I tried to reduce the parallelism and change ```seed=hvd.rank()```, but none of them can improve the performance. However, I tried the option "-mca btl_openib_receive_queues P,128,32:P,2048,32:P,12288,32:P,131072,32" again for 4 nodes and it did improve the performance. Now the speedup of using 16 GPUs (4 nodes) is 12.45x compared to 1 GPU which is pretty good. What I do not understand is

[2017-10-31 20:39] hpjeonGIT commented on #62
Hi,

We double-checked the RDMA (from udaddy and rmda_server) and GPUDirect work. nv_peer_mem i s loaded (Centos 7.3). Also Cuda 8.0 enabled openmp 3.0.0 was used and we tested 0.9.11 but still same error comes. Could there be anything that we can check for any missing components or steps? Any comments are appreciated.

Best regards,

Byoungseon

PS.
$ service nv_peer_mem status
nv_peer_mem module

[2017-10-31 20:49] alsrgv commented on #62
Sounds like MXM / Yalla was not compiled with CUDA support or does not have it.  @bureddy, @jladd-mlnx - do you have any pointers for ^?

[2017-10-31 21:01] bureddy commented on #62
@alsrgv @hpjeonGIT Currently MXM/Yalla do not have support for GPU transfers.  The GPU support is planned in future Mellanox UCX releases.

Currently,  OMPI supports GPU transfers only with the native IB transport (-mca pml ob1) when it compiled with GPU support.

[2017-10-31 21:07] alsrgv commented on #65
@ydp, thanks for the paper - it is an interesting read.  I think the impact of higher latency network on Horovod would be less than it is on CNTK due to [Tensor Fusion](https://github.com/uber/horovod/blob/master/docs/tensor-fusion.md) that Horovod does.

It would be very interesting (and quite straightforward) to try out this idea on Horovod. The challenging part would actually be to empirically

[2017-10-31 21:28] alsrgv commented on #62
@hpjeonGIT, I also noticed that your installation command doesn't have `HOROVOD_GPU_ALLREDUCE`.  That's the most important component - as *allreduce* gets much more used than *allgather* and *broadcast* (see [Concepts](https://github.com/uber/horovod/blob/master/docs/concepts.md)), and you will get the best performance if you install NCCL 2 ([guide](https://github.com/uber/horovod/blob/master/docs

[2017-10-31 21:56] hpjeonGIT commented on #62
Thanks for many advices.
I tried the recompilation but it yielded same errors.
However, I noticed that the error message is yielded at line 77: K.get_session().run(hvd.broadcast_global_variables(0)). I replaced it as hvd.BroadcastGlobalVariablesHook(0), as shown in HOROVOD guide, and it works (!?).
Therefore, I would like to ask consequential questions:

1) such replacement wouldn't affect the cal

[2017-11-01 01:56] hpjeonGIT commented on #62
Hi alsrgv and bureddy,

Thanks for the great help. After reverting the code,
"mpirun  -mca pml ob1  -n 4 python3 keras_mnist.py" runs good.
Even "mpirun  -mca pml ob1   -mca btl_openib_receive_queues P,128,32:P,2048,32:P,
12288,32:P,131072,32   -n 4 python3 keras_mnist.py" shows 10-20% faster results, even with mnist set.

Just when I tried multiple nodes (2 or 3 nodes, total 8 or 12 GPUs), they h

[2017-11-01 02:37] alsrgv commented on #62
@hpjeonGIT, can you try:
[code]

I had seen broadcast get stuck before with wrong queue settings.  If that doesn't work, can you try to disable Open IB for MPI:
[code]

[2017-11-01 07:49] dyoung23 opened #67 "Meet error when run examples keras_mnist.py in horovod V0.9.10"
I run examples  keras_mnit.py in horovod/examples.

mpirun --allow-run-as-root --mca btl_tcp_if_include eno1 -np 2 -x LD_LIBRARY_PATH -H 192.168.12.50:1,192.168.12.49:1 python /home/dyc/horovod/examples/keras_mnist.py

But got warning messages below so that it can't continue to run.

WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiti

[2017-11-01 10:36] ydp commented on #67
I met this error occasionally when run my own tensorflow code

[2017-11-01 15:03] dyoung23 commented on #67
@ydp why it happened occasionally,I'm really confused.
I doubt that I installed OpenMPI wrongly,but not sure.It's really work when I run examples in openmpi in parallel.
mpirun --host 192.168.12.49,192.168.12.50 hello_c

[2017-11-01 16:52] atinsood commented on #60
@alsrgv just wanted to touch base that all the above helped and we were able to get things going at our end. Really appreciate it. Once I have the numbers in and have tried out a couple of iterations going will touch base again.

thanks for all the help.

[2017-11-01 16:59] alsrgv commented on #67
@dyoung23,

Can you check that TensorFlow and Keras versions are the same across both servers?  I'm suspicious that you have Keras 2.x on 192.168.12.50 and Keras 1.x on 192.168.12.49 because in Keras 2.x they changed naming for optimizer variables from simply `iterations:0` to `TFOptimizer/iterations:0`.

[2017-11-01 17:01] alsrgv commented on #60
@atinsood, excellent!

[2017-11-01 17:04] alsrgv commented on #58
@weixsong, did your problem get resolved?

[2017-11-01 17:05] alsrgv commented on #57
Closing this issue. Feel free to reopen if you have more questions.

[2017-11-01 17:05] #57 closed

[2017-11-02 00:52] weixsong commented on #58
@alsrgv , sorry for later reply, I was on Vacation without network.

Actually with my solution, even at the beginning, it will report this kind of error.
I have already tired your suggested solution, it works. but I have a question: What should I do if I want to restore a model and continue to training?
checkpoint_dir = work_path if is_chief else None
checkpoint_dir will be none for non-master wor

[2017-11-02 00:54] weixsong commented on #58
And, I'm frequently suffering this issue when using more than 8 Gpus:
[code]

Is this related to network bottleneck?

[2017-11-02 00:57] alsrgv commented on #58
@weixsong, no worries - just wanted to make sure you're not blocked :-)

`checkpoint_dir=None` should be fine on non-master workers, since the master worker will broadcast loaded model to everyone else.  Please let me know if that doesn't work as expected.

As for your warning - does the training actually progress after you see it, or everything just gets stuck forever?

[2017-11-02 01:01] weixsong commented on #58
@alsrgv ,
Sometimes it continue to work correctly.
But I'm trying a 24 GPUs task, after more than 100 hours, it still blocking at this status, my network model size is about 300MB.

[2017-11-02 01:06] alsrgv commented on #58
@weixsong, that's not supposed to happen. Can you show paste full output of the warning, with all the tensor names?

[2017-11-02 02:18] hyciswu opened #69 "undefined symbol: opal_cuda_check_bufs"
After i installed horovod and run the tensorflow_mnist.py, i get the following error.

python: symbol lookup error: /usr/local/lib/openmpi/mca_coll_cuda.so: undefined symbol: opal_cuda_check_bufs

[2017-11-02 03:03] dyoung23 commented on #67
@alsrgv
Thanks for your answer.
I checked the version of Keras and TensorFlow on my servers.I have Keras 2.0.4 and TensorFlow  on 1.2.0-rc0 192.168.12.50 and Keras 2.0.8 and  TensorFlow  on 1.2.0-rc0 on 192.168.12.49.

[2017-11-02 03:06] alsrgv commented on #67
@dyoung23, can you upgrade Keras on both machines to the same version, e.g. 2.0.8?

[2017-11-02 03:09] alsrgv commented on #69
@hyciswu,

This error sounds like an Open MPI installation problem. Which of the paths [here](https://github.com/uber/horovod/blob/master/docs/gpus.md) did you follow?

[2017-11-02 03:52] weixsong commented on #58
@alsrgv , OK, I will paste it.

BTW, in Horovod every worker is supposed to be chief worker, is that still OK if I want to restore a model and set checkpoint_dir=None for non-master worker?

Not quite clear about the relation for chief and master worker.

[2017-11-02 03:57] alsrgv commented on #58
`checkpoint_dir=None` should be fine on non-master workers, since the master worker will broadcast loaded model to everyone else. Please let me know if that doesn't work as expected.

[2017-11-02 03:58] hyciswu commented on #69
I followed `Horovod on GPU` path and installed mpi with
[code]

[2017-11-02 04:00] alsrgv commented on #69
Can you try to run `sudo ldconfig` afterwards?

[2017-11-02 04:12] dyoung23 commented on #67
@alsrgv
It really works after I upgraded Keras to 2.0.9 on both of servers.But I got a new error like below.

Traceback (most recent call last):
  File "/home/dyc/horovod/examples/keras_mnist.py", line 82, in <module>
    validation_data=(x_test, y_test))
  File "/usr/lib64/python2.7/site-packages/keras/models.py", line 893, in fit
    initial_epoch=initial_epoch)
  File "/usr/lib64/python2.7/site

[2017-11-02 04:14] alsrgv commented on #67
Can you try to debug it using this [troubleshooting](https://github.com/uber/horovod/blob/master/docs/troubleshooting.md#ncclcomminitrank-failed-unhandled-cuda-error) advise?

[2017-11-02 05:47] hyciswu commented on #69
@alsrgv yap, tried that as well, and the same error occurs. also did
`export PATH=$PATH:/path/to/mpi/bin` and
`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/path/to/mpi/lib`

[2017-11-02 06:00] alsrgv commented on #69
@hyciswu, I think the problem is that you used to have a different version of Open MPI installed before (e.g. compiled with CUDA), and now your freshly installed Open MPI without CUDA is trying to pick up components of an old Open MPI installation by mistake.

You can try to perform a surgery to remove old Open MPI installation:
[code]

[2017-11-02 12:08] tobyyouup opened #70 "Error when pip install horovod"
After installing nccl 2.0 and mpi, I use "HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod" to install horovod, but is shows error: `horovod/tensorflow/mpi_ops.cc:802:79: error: invalid conversion from ‘const void*’ to ‘void*’ [-fpermissive]`.

The details log shows:

`Collecting horovod
  Downloading horovod-0.9.11.tar.gz (65kB)
    100% |████████████████████████████████| 71kB 271kB/

[2017-11-02 14:12] hyciswu commented on #69
It works now, thanks.

[2017-11-02 14:12] #69 closed

[2017-11-02 17:51] alsrgv commented on #70
@tobyyouup,

Can you update Open MPI to a more recent version? We recommend Open MPI 3.0.0.

[code]

See Open MPI installation instruction [here](https://www.open-mpi.org/faq/?category=building#easy-build).

[2017-11-03 02:02] hyciswu opened #71 "multi-gpu seems to be slower than single gpu"
I have tried to run on single and multiple-gpus and multi-gpu seems to be slower on horovod on the tensor_mnist.py example. Below is the outputs
Here is single GPU run with `CUDA_VISIBLE_DEVICE=1 python  tensorflow_mnist.py`
[code]

here is cmd for 2 gpus `CUDA_VISIBLE_DEVICES=1,2 mpirun -np 2 python tensorflow_mnist.py `
and the outputs
[code]

[2017-11-03 02:05] alsrgv commented on #71
@hyciswu, MNIST examples are made to just demonstrate the API, not as a performance benchmark. See [this comment](https://github.com/uber/horovod/issues/60#issuecomment-340137721) for instructions about running larger-scale CNN benchmarks which show scaling.

[2017-11-03 03:32] weixsong commented on #58
@alsrgv , thanks very much. It's clear now.

Regarding the 24 GPU blocking issue, it sometimes could work, sometimes blocked endlessly. Seems it's issue with my network I/O.

Thanks very much.

[2017-11-03 03:32] #58 closed

[2017-11-03 03:42] hyciswu commented on #71
here is what i did with a much bigger network on the mnist, with 100 conv layers, the scaling still doesn't seem well

for 1 GPU
[code]

----
for 4 GPUS

[code]

[2017-11-03 03:42] weixsong commented on #60
@alsrgv , is that a must to use **-x NCCL_DEBUG=INFO** for speedup training?

[2017-11-03 03:45] hyciswu commented on #71
I am looking at the `global_step/sec`, but i guess that doesn't really say anything about the scaling? I guess a fair comparison is the loss at different time.

[2017-11-03 05:22] alsrgv commented on #71
@hyciswu, global_step/sec here is actually a number of **synchronous** steps among all workers.

So, if you had batch size 64 on one GPU and your process ten batches in 1.876 sec, you process 64 * 10 / 1.876 = 341.15 images/sec. And if you have batch size 64 on each of 4 GPUs and you process ten batches in 2.024 sec, you process 64 * 4 * 10 / 2.024 = 1264.82 images/sec which is 3.71x faster.

[2017-11-03 05:27] alsrgv commented on #60
@weixsong, it's important to use NCCL, but the `-x NCCL_DEBUG=INFO` flag is just for the diagnostic output. It helps to confirm that NCCL is working correctly.

[2017-11-03 08:28] dyoung23 commented on #67
@alsrgv
I debug it following troubleshooting advise,but only got a WARN:No route to host.I really have no idea about this.
So I upgrade horovod to the newest version of 0.10.0,and run kera_mnist.py again.But got this error message as below.

Traceback (most recent call last):
  File "keras_mnist.py", line 92, in <module>
    validation_data=(x_test, y_test))
  File "/usr/lib64/python2.7/site-packa

[2017-11-03 09:12] xuerq opened #72 "run distributed tensorflow_mnist.py on kubernetes, got "TCP connection request " error"
Command :
[code]
Error log :
[code]
But the following commands is ok
[code]

[2017-11-03 09:29] hyciswu commented on #71
@alsrgv thanks. Got it.

[2017-11-03 09:29] #71 closed

[2017-11-03 12:46] tobyyouup commented on #70
@alsrgv  I remove and reinstall open mpi with 3.0.0, but it still shows the same error. So is there something else that can fix this?

[2017-11-03 17:14] alsrgv commented on #70
@tobyyouup, after reinstalling Open MPI, can you reinstall Horovod as well?

[2017-11-03 17:18] alsrgv commented on #72
@xuerq, seems that you have multiple network interfaces. Can you show an output of `ifconfig` on both machines?

[2017-11-03 17:33] alsrgv commented on #67
@dyoung23, this is strange. Did you upgrade Horovod on both nodes? You should be able to get back to your `WARN:No route to host` error. Once you do, can you paste the whole output, and also the output of `ifconfig` on both nodes?

[2017-11-03 18:17] AlexanderYukhanov opened #73 "Do you have a sample of using tensorboard with distributed horovod?"
Thanks

[2017-11-03 18:28] alsrgv commented on #73
Here it is.  Start with [this example](https://github.com/uber/horovod/blob/master/examples/keras_mnist_advanced.py#L102), and modify part with `ModelCheckpoint` callback to:

[code]

[2017-11-03 19:07] AlexanderYukhanov commented on #73
You are awesome, thanks!

[2017-11-03 19:07] #73 closed

[2017-11-03 22:56] ydp commented on #72
you may need to use host network for pod, specify eth0.

[code]
refer my issue #57

[2017-11-03 23:05] alsrgv commented on #42
This is now fully supported by the `horovod.keras` package. See an example code [here](https://github.com/uber/horovod/blob/master/examples/keras_mnist_advanced.py).

[2017-11-03 23:05] #42 closed

[2017-11-04 03:58] pineking commented on #72
@ydp If the Pod network set to host network mode, does it mean there only one pod is working on each k8s node?

[2017-11-04 12:52] tobyyouup commented on #70
@alsrgv   I finally uninstall mpich, then the system can find openmpi, and horovod can install successfully.

[2017-11-04 16:25] dyoung23 commented on #67
@alsrgv Yes,it's true I upgraded Horovod to v0.10.0 on both nodes.But it can't reappear this `WARN:No route to host` error after upgrading.
And what's stranger is that it goes wrong when I run `mpirun --allow-run-as-root -np 2 python keras_mnist.py` only on one node , what was OK before.

`[root@cx50 examples]# mpirun --allow-run-as-root -np 2 python /home/dyc/horovod/examples/keras_mnist.py
Using

[2017-11-04 16:26] dyoung23 commented on #67
The output of `ifconfig` on one node is:
`[root@cx50 examples]# ifconfig
docker0: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        inet 10.1.23.1  netmask 255.255.255.0  broadcast 0.0.0.0
        ether 02:42:3d:33:84:77  txqueuelen 0  (Ethernet)
        RX packets 0  bytes 0 (0.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 0  bytes 0 (0.0 B)
        TX errors 0  d

[2017-11-04 17:02] atinsood commented on #60
@alsrgv so I was able to get going but have noticed an odd thing with my results on 1, 2, 4 and 6 GPU nodes. I have machines with P100s with each machine holding 2 P100s

Here are my results

[code]

Notice how on 1 and 2 GPU nodes within the same machine I am just getting about 35 images per second on each node, while on a 2 machine 4 GPU node setup I get about 100 images/sec on each node.

I am

[2017-11-04 17:32] alsrgv commented on #67
@dyoung23, the issue is:
[code]

Can you run `nvidia-smi` and kill all the other processes using the GPUs?

Also, can you try to add two following arguments for your multi-node runs: `-mca btl_tcp_if_include eno1 -x NCCL_SOCKET_IFNAME=eno1` to use `eno1` interface.

[2017-11-04 17:40] alsrgv commented on #60
@atinsood, let's debug this.

1. What do you get if you just run `~/envs/horovod/bin/python scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py --model resnet101 --batch_size 64 --data_dir /home/SSO/wps/imagenet_tf/IMAGENET-FULL/ --data_name imagenet --num_batches=2000` (no Horovod)?

2. Can you paste full logs of those runs?  You can use https://gist.github.com/ and put the links here.

3. What is the

[2017-11-04 17:59] atinsood commented on #60
What is the version of MPI?
~/.openmpi/bin/mpirun --version
mpirun (Open MPI) 3.0.0

Do you have NCCL installed? Which version?
Yes, but the current runs are without nccl. Also when installing horovod, I did not specify the all reduce to use nccl

Do you have RoCE / InfiniBand in your system?
No

What's the output of find / 2>/dev/null | grep libucs.so?
returned empty

Let me get you the other res

[2017-11-04 18:18] atinsood commented on #60
@alsrgv also noticing on 8GPU 4node run with data that the jitter increases significantly starting from 0 to about 8.0 after about 200 iterations taking the number of images processed per second from about 90 on each GPU node to 70

[2017-11-05 01:44] dyoung23 commented on #67
@alsrgv .I'm aware of this issue too,but I'm sure there are not any other processes running on these nodes.And what is strange two processes run on each GPU when I run this command `mpirun --allow-run-as-root -np 2 python /home/dyc/horovod/examples/keras_mnist.py`

The output of `nvidia-smi` is as below:
[code]

[2017-11-05 02:28] alsrgv commented on #67
@dyoung23,

I assume your `keras_mnist.py` has this piece of code:
[code]

It's supposed to pin GPU to be used to the local rank (0 or 1 in your example, since you just have 2 processes) - but it doesn't seem to be taking effect.

Can you try upgrading both machines to TensorFlow 1.4.0?

[2017-11-05 02:28] alsrgv commented on #60
@atinsood, the dropoff may be related to how many images your CPUs can preprocess per second. Having CPUs do the allreduce takes away additional cycles that could otherwise be spent preprocessing images. We should see those things from the logs.

[2017-11-05 03:36] alsrgv commented on #67
@dyoung23,

Also, there's a bug in Keras 2.0.9 - https://github.com/fchollet/keras/issues/8353. If you're using Keras 2.0.9, can you downgrade to 2.0.8?

[2017-11-05 03:55] atinsood commented on #60
@alsrgv what makes you think that the CPUs are doing the allreduce. I thought we were using nccl2 for all reduce which in my mind was implemented  in GPU.

[2017-11-05 03:58] alsrgv commented on #60
@atinsood, you said "the current runs are without nccl. Also when installing horovod, I did not specify the all reduce to use nccl".

[2017-11-05 05:14] dyoung23 commented on #67
@alsrgv I downgraded Keras to 2.0.8 and keep TensorFlow on 1.2.0_rc. Nothing goes wrong,but it stuck at there.
[code]

After that,I upgraded TensorFlow to 1.14.0 but got this error:`ImportError: libcudnn.so.6: cannot open shared object file: No such file or directory`,while I have libcudnn.so.5.Should I upgrade cuda from 8.0 to 9.0?I doubt that can't horvod run on TensorFlow 1.12.0?

[2017-11-05 05:19] alsrgv commented on #67
@dyoung23, I think you should be able to make it work with TF 1.2.0. Can you add `-x NCCL_DEBUG=INFO` and show the output of that?

[2017-11-05 05:20] alsrgv commented on #67
Also, don't forget these two as well: `-mca btl_tcp_if_include eno1 -x NCCL_SOCKET_IFNAME=eno1`.

[2017-11-05 06:05] atinsood commented on #60
@alsrgv here are the gists for when I ran the test on the node with native TF and with horovod

https://gist.github.com/atinsood/8ffcc05e487c159efff2e8f09ee8871d
https://gist.github.com/atinsood/5ff2bf149d54d358f06b63225e24879d

Also to your above question, I am running all the latest tests with horovod installed with `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod`

And goes withou

[2017-11-05 06:07] atinsood commented on #60
also curious if you guys ran your tests on your local bare metal boxes, AWS or google cloud and did you guys did anything to ensure that the neighbors required for ring reduce approach were optimally placed close to each other.

[2017-11-05 06:39] dyoung23 commented on #67
@alsrgv Thank you for your reply.
I think these two `-mca btl_tcp_if_include eno1 -x NCCL_SOCKET_IFNAME=eno1` are not must,because I run it on only one node.
This time I run `mpirun --allow-run-as-root -mca btl_tcp_if_include eno1 -x NCCL_SOCKET_IFNAME=eno1 -x NCCL_DEBUG=INFO -np 2 python /home/dyc/horovod/examples/keras_mnist.py` on one node with Horovod 0.10.0  Keras 2.0.8 and TensorFlow 1.12.0-

[2017-11-05 07:01] alsrgv commented on #60
@atinsood, thanks for the logs!

Yeah, we ran the tests on local bare metal boxes. We give out names / IP addresses in racks sequentially, so we just order addresses in the `mpirun` command by name / IP address. This ensures that each rank will have one inflow and one outflow (per training session).

Back to your performance:
[code]

Since it took 3 min and 10 sec to fill up 10k image buffer, the

[2017-11-05 07:32] alsrgv commented on #67
`cx50:18926:19004 [1] INFO nvmlDeviceGetNvLinkCapability() failed: Not Supported` these are not really an errors unless you have a server with NVLink.

I'm surprised to see this:
[code]

When I specify `-x NCCL_SOCKET_IFNAME=eth0` on my servers, it will only show `eth0` interface in that list.

Couple of things to try out:
1. `export NCCL_SOCKET_IFNAME=eno1`
2. `export NCCL_IB_DISABLE=1` & `-x NCC

[2017-11-05 10:20] atinsood commented on #60
yep I can try tweaking that number and see what we get.

Though I am curious if you can elaborate more on ` This ensures that each rack will have one inflow and one outflow (per training session).` . For a particular run did your topology always included more than 1 rack or only once you got past a certain number of GPUs. I am just more curious about topology, when you plan to put this in public c

[2017-11-05 10:51] atinsood commented on #60
Also if you know off the top of.your head how to.run this in a distributed tensor flow native dkst across gpus across nodes I can use that to.cpate against native tf.distribution on my setup

[2017-11-05 15:27] tobyyouup opened #74 "run distributed tensorflow_mnist.py on two machines, but it hangs up and dose not show log"
Hi, @alsrgv   I run tensorflow_mnist.py on two machines with
`mpirun -np 2 -x PATH -x LD_LIBRARY_PATH -x CUDA_VISIBLE_DEVICES -H 172.23.233.77:1,172.23.233.75:1 python tensorflow_mnist.py`

After showing some logs, it hangs up and cannot proceed. The process on both machines has GPU memory usage, but didn't show logs any more. The logs before hangs up is as follows:

`2017-11-05 23:17:20.677867: I

[2017-11-05 16:36] nischalhp commented on #70
I followed the following steps to install horovod and it worked perfectly.

1. Installing openMPI with apt-get
2. Installing tensorflow in the virtualenv with pip
3. Installing horovod with pip

[2017-11-05 18:35] alsrgv commented on #74
@tobyyouup, can you show an output of `ifconfig` and add `-x NCCL_DEBUG=INFO` to your `mpirun`? If your system has interfaces like `docker0`, `vtun0`, etc, you should pass `-mca btl_tcp_if_include <primary if> -x NCCL_SOCKET_IFNAME=<primary if>`.

[2017-11-05 18:57] alsrgv commented on #60
@atinsood,

Yes, we try to tight-package jobs inside the server or a rack, but even if they spread multiple racks each rack will only have one inflow and one outflow in the ring topology, so most of the traffic is contained.

In AWS, you can request similar topology by having a placement group.  I tried running Horovod on AWS P3 and found that their 25 Gbit networking is a bottleneck and requires

[2017-11-05 19:52] nischalhp opened #75 "Unable to get Horovod to run successfully on multiple-GPU"
I am currently running InceptionV3 model on a Tesla K80 GPU. And here is the code snippet that works perfectly fine:

            file_list = build_data(sys.argv[1])
            train_size = math.ceil(0.8 * len(file_list))

            train_file_list = file_list[:train_size]
            test_file_list=file_list[train_size:]

            nbatches_train, mod = divmod(len(train_file_list), BATCH_SIZ

[2017-11-05 19:58] alsrgv commented on #75
Can you try adding `—bind-to none` to your `mpirun` command?

[2017-11-05 21:07] nischalhp commented on #75
@alsrgv I did, no change to the outcome.

[2017-11-05 22:47] alsrgv commented on #75
@nischalhp, gotcha, here are couple more things to try:

1. Can you add `-oversubscribe` argument to `mpirun`. You can keep `-bind-to` as it still may be helpful.

2. Keras 2.0.9 has a bug (https://github.com/fchollet/keras/issues/8353) which causes it to grab all available GPUs. If you’re using Keras 2.0.9, can you downgrade to 2.0.8?

[2017-11-06 01:35] dyoung23 commented on #67
@alsrgv
I try it follow your advise `mpirun --allow-run-as-root -mca btl_tcp_if_include eno1 -x NCCL_SOCKET_IFNAME=eno1 -x NCCL_IB_DISABLE=1 -x NCCL_DEBUG=INFO -np 2 python /home/dyc/horovod/examples/keras_mnist.py`.It only show `eth1` this time,but it still stuck at there and don't go on.

[code]

[2017-11-06 02:58] tobyyouup commented on #74
@alsrgv  Hi, my `ifconfig` shows:

`eth0      Link encap:Ethernet  HWaddr 70:10:6f:bc:39:2c
          inet addr:10.150.144.114  Bcast:10.150.147.255  Mask:255.255.252.0
          inet6 addr: fe80::7210:6fff:febc:392c/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          RX packets:3765077 errors:0 dropped:0 overruns:236 frame:0
          TX packets:2170956 errors:0 d

[2017-11-06 03:04] alsrgv commented on #67
@dyoung23, that's progress!

When it gets stuck like this, can you see if `nvidia-smi` shows GPU utilization? You will see process IDs, can you `ps auxw | grep <pid>` to see CPU utilization as well?

Also, can you do `sudo gdb -p <pid> -ex "thread apply all bt" --batch` and make a [gist](https://gist.github.com/) with the output?

[2017-11-06 03:08] alsrgv commented on #74
@tobyyouup, can you make a [gist](https://gist.github.com) with stdout and stderr of the full output with `-x NCCL_DEBUG=INFO`?

[2017-11-06 03:20] tobyyouup commented on #74
@alsrgv  i have create the gist. https://gist.github.com/tobyyouup/ca7ba6542deed1c6a473be70061b41a5

By the way, I install horovod with RDMA and GPUDirect following https://github.com/uber/horovod/blob/master/docs/gpus.md#advanced-have-gpus-and-networking-with-rdma-and-gpudirect

is there any problems with RDMA?

[2017-11-06 03:25] alsrgv commented on #74
@tobyyouup, can you try disabling RDMA for now - add `-mca btl ^openib -x NCCL_IB_DISABLE=1` to your `mpirun` command.

[2017-11-06 03:28] tobyyouup commented on #74
Hi @alsrgv   it success when disabling RDMA!  So there are some problems with my RMDA?

[2017-11-06 03:34] alsrgv commented on #74
@tobyyouup, awesome!

Well, there's a warning from Open MPI:
[code]

Do you know the vendor and models of your networking hardware? Can you add gist of `ibv_devinfo -v`?

One more thing to try - specify `-mca btl ^openib` but not `-x NCCL_IB_DISABLE=1` to see if NCCL will still work with RDMA.

[2017-11-06 03:38] tobyyouup commented on #74
@alsrgv  removing "-x NCCL_IB_DISABLE=1"  still works. I have added "ibv_devinfo -v" in gist.

[2017-11-06 03:40] tobyyouup commented on #74
@alsrgv  I also add the log for "specify -mca btl ^openib but not -x NCCL_IB_DISABLE=1"
in gist

[2017-11-06 03:44] alsrgv commented on #74
@tobyyouup, sweet! What if you add `-mca pml ob1 -mca btl_openib_if_include mlx5_0 -x NCCL_IB_HCA=mlx5_0`. No need to disable anything.

Also, `m13:45462:45667 [0] transport/net_ib.cu:192 WARN No module present for GPU Direct RDMA.` means that `nv_peer_memory` driver is not working.  Did you install it from http://www.mellanox.com/page/products_dyn?product_family=116 and ran `/etc/init.d/nv_peer_m

[2017-11-06 03:51] tobyyouup commented on #74
@alsrgv  I run  /etc/init.d/nv_peer_mem start, and and it start now.    When i add "-mca pml ob1 -mca btl_openib_if_include mlx5_0 -x NCCL_IB_HCA=mlx5_0", it hangs again.

[2017-11-06 03:59] alsrgv commented on #74
@tobyyouup, OK, what if you try `-mca btl ^openib` again, with `nv_peer_mem` running? Will it still print `WARN No module present for GPU Direct RDMA`?

[2017-11-06 04:01] tobyyouup commented on #74
@alsrgv  I have -mca pml ob1 -mca btl_openib_if_include mlx5_0 -x NCCL_IB_HCA=mlx5_0, it can run.

If I change mlx5_0 to mlx5_1, and didnot  disable anything. it will can run now.
But ibstat shows  mlx5_1 is linked to ethernet, not inifinband, is it normal?

[2017-11-06 04:05] alsrgv commented on #74
@tobyyouup, what if you try mlx5_2?

[2017-11-06 04:10] tobyyouup commented on #74
@alsrgv  strange!   mlx5_2 cannot, but mlx5_3 can run. The log for mlx5_3 is show in gist.

[2017-11-06 04:12] tobyyouup commented on #74
@alsrgv   the log for mlx5_3 has a warnning:
 "WARNING: There is at least non-excluded one OpenFabrics device found,
but there are no active ports detected (or Open MPI was unable to use
them).  This is most certainly not what you wanted.  Check your
cables, subnet manager configuration, etc.  The openib BTL will be
ignored for this job."

[2017-11-06 04:19] alsrgv commented on #74
@tobyyouup, seems that mlx5_1 and mlx5_3 cannot be used, MPI realizes that and disables `openib`, whereas `mlx5_0` and `mlx5_2` make it "stuck".

@bureddy, do you have any pointers to resolve this issue:
[code]

[2017-11-06 07:00] dyoung23 commented on #67
@alsrgv  When it stuck there the out of `nvidia-smi` is as below.It shows GPU utilization reach to 100%. :
[code]
The output of `ps auxw | grep <pid>` is that,it seems CPU is not busy.
[code]
Lastly,output of `gdb` :[output_of_gdb](https://gist.github.com/dyoung23/6a5c0cadbcb04c674b2424ab5db0a83b)

[2017-11-06 07:38] alsrgv commented on #67
Thanks for the details, @dyoung23.  It appears that NCCL is stuck in the allreduce.  I have observed this situation before and have a potential fix.  Can you try this:

[code]

... and run your experiment again.

[2017-11-06 14:08] nischalhp commented on #75
Adding `-oversubscribe` with the downgrade of the library worked.
Thank you @alsrgv :)
Will close the issue now.

[2017-11-06 14:08] #75 closed

[2017-11-06 14:58] bureddy commented on #74
@alsrgv @tobyyouup  can you try with specific port <hca:port> (-mca btl_openib_if_include mlx5_0:1)

[2017-11-06 16:46] HamedMP opened #77 "`bool` is not in the list of allowed variables - cifar"
I'm running `Cifar10` implementation adopted for Horovod on gpu cluster (with 4 and another time 8 gpus) and I get the following error.
The code is working on the local machine when horovod codes removed, no problem with the tensorflow implementation I guess. Also on the cluster, the `mnist` example runs perfectly so the setup also looks okay.

My guess is that it's something with `horovod_broadca

[2017-11-06 18:15] alsrgv commented on #67
@dyoung23, looks like you have other copies of python script running. Can you try `killall python` before doing an `mpirun`?

[2017-11-06 18:35] alsrgv commented on #77
@HamedMP, thanks for reporting this!  We will push out a version with `bool` support shortly.

[2017-11-06 18:44] TimZaman commented on #42
Very cool, @alsrgv .

[2017-11-06 19:51] norman-kraft commented on #52
I ran a `brew upgrade` to update LLMV and the C++ libraries, then ran the command you suggested. Now I don't get the error I had, but it sits forever at the compilation of test_tensorflow_libs.so (I let it run for an hour thinking it may be a slow compilation). No matter what, I can't get this Python library to install on my Mac. It works fine on my Linux box. Guess I'll just run it there.

[2017-11-06 20:16] HamedMP commented on #77
Thanks @alsrgv for the fast reply, looking forward to it!

[2017-11-06 22:59] alsrgv commented on #70
Documentation has been updated, closing this issue.

[2017-11-06 22:59] #70 closed

[2017-11-06 23:04] alsrgv commented on #52
@norman-kraft. that's very strange. It works fine on my Mac, and installation takes less than a minute.  Good that you're unblocked and can run on Linux though.  I will close this issue, feel free to reopen if you have more questions.

[2017-11-06 23:04] #52 closed

[2017-11-07 01:38] TimZaman opened #81 "Add tags to commits corresponding to pypi uploads."
Hey Alex! Thanks for adding the `__version__`!. Would you mind adding tags to the corresponding commits?

[2017-11-07 01:43] alsrgv commented on #81
@TimZaman, the tags [here](https://github.com/uber/horovod/releases) correspond to versions on pypi. Does that answer your question?

[2017-11-07 01:52] TimZaman commented on #81
Whoops! Missed the `tags` tab!

[2017-11-07 01:52] #81 closed

[2017-11-07 01:55] alsrgv commented on #77
@HamedMP, Horovod 0.10.1 with boolean `broadcast()` and `allgather()` has been released. Can you try it out and confirm that your Cifar10 training script works?

[2017-11-07 03:06] dyoung23 commented on #67
@alsrgv Maybe it doesn't matter.But it still stuck at there and doesn't go on.Why?

[2017-11-07 04:00] alsrgv commented on #67
Same point as https://github.com/uber/horovod/issues/67#issuecomment-342062546 ?

[2017-11-07 05:47] atinsood commented on #60
@alsrgv so yep that tweak you suggested in openmpi argumet did the trick and I was able to get the numbers which linearly scale.

There are a few things we are looking at:

0. I think I did pick up your comment on one of TF user mails about the desire to run this in mesos. We run a k8s cluster and been trying to investigate what's a good way to have these running on a k8s cluster and how to deploy

[2017-11-07 07:04] dyoung23 commented on #67
@alsrgv  Yes,it is.

[2017-11-07 11:14] HamedMP commented on #77
Hey @alsrgv , The bool operator works (as far as I don't get that error anymore)

But there is another issue which I think I might open another issue (as you suggest and if it can be related to horovod)

I get `You must feed a value for placeholder tensor 'input/image' with dtype float and shape [?,32,32,3]` but the same code without using horovod runs smoothly on the same machine with 1 GPU.
(I u

[2017-11-07 18:22] alsrgv commented on #77
@HamedMP, can you publish a full code for this example somewhere, so I could try to repro it in my lab?

[2017-11-07 18:29] alsrgv commented on #60
That's great! Glad it works for you. To answer your questions:

1. We just use [Mesos](http://mesos.apache.org/) and a scheduler on top of it (e.g. [Aurora](http://aurora.apache.org/)). Aurora spins up few containers (one container per host), which have TensorFlow, MPI, Horovod, NCCL, ssh and user code installed. All the containers also have per-job ssh keypair, so they can ssh onto each other. Th

[2017-11-07 18:33] alsrgv commented on #67
@dyoung23, interesting!  Can you make a gist with `gdb` output with the `horovod-0.10.1.dev0`?  I'm wondering if it's a different issue now.

[2017-11-07 18:47] HamedMP commented on #77
Yeah, sure,

The cifar data is converted to `.tfrecords` using [this code](https://github.com/tensorflow/models/blob/master/tutorials/image/cifar10_estimator/generate_cifar10_tfrecords.py)

[code]

[2017-11-07 19:22] alsrgv commented on #77
@HamedMP,

I removed all the Horovod components, but I'm still getting this error:
[code]

Can you share the code that is working for you without Horovod?

[2017-11-07 21:18] HamedMP commented on #77
Thank you @alsrgv for checking the code, yeah definitely, I just re-run the code below and it works fine, the only difference as far as I see is in the `SingularMonitoredSession` which is replaced by normal `tf.Session()` for using on single machine/gpu/cpu.

[code]

[2017-11-07 21:47] alsrgv commented on #77
I think the problem is that tf.data API doens't like SingularTrainingSession for some reason. Worth opening a ticket on TensorFlow GitHub.

We have an example with plain `tf.Session` [here](https://github.com/uber/horovod/blob/master/examples/tensorflow_word2vec.py), and I also modified your code:

[code]

[2017-11-07 21:53] HamedMP commented on #77
Thank you @alsrgv I will just check it.
What about supporting `tf.train.MonitoredSession ` in Horovod? Because in TF api [recommends](https://www.tensorflow.org/api_docs/python/tf/train/SingularMonitoredSession) using this instead of other sessions such as `tf.train.SingularMonitoredSession`.

[2017-11-07 21:56] alsrgv commented on #77
[This example](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py) is using `MonitoredTrainingSession`. It should be supported.

[2017-11-07 21:59] HamedMP commented on #77
Nice, I will explore the compatibility of `tf.data` and different kinds of Sessions, can be on other TF distributed examples too, will let you know about the results.

[2017-11-07 22:01] alsrgv commented on #77
I will close this issue, since it was about `bool` datatype support, but feel free to open another one about `tf.data` & Sessions, or any other question!

[2017-11-07 22:01] #77 closed

[2017-11-07 22:02] HamedMP commented on #77
Yes, definitely, thank you for the support.

[2017-11-08 08:02] xuerq commented on #72
@ydp  Thanks for your ideas , ”host network for pod“ solve my problem
@alsrgv  Thanks for your great job , the benchmark I got :
- 417.74 images/sec for 4 GPUs on 2 nodes
- 117.61 images/sec for 1 GPU on 1 nodes

much faster than tensorflow' implementation, and is more convenient to be used than https://github.com/baidu-research/tensorflow-allreduce
[code]

[2017-11-08 08:05] alsrgv commented on #72
@xuerq, congrats!  88.8% scaling, that's pretty good.

[2017-11-08 08:26] gangliao opened #82 "The call to cuIpcCloseMemHandle failed. This is a warning and the program will continue to run."
[code]

[2017-11-08 08:36] alsrgv commented on #82
@gangliao, I think it's Open MPI's tendency to not be able to close those mem handles (I saw this message in my tests as well). It doesn't really hurt, so can be ignored.

[2017-11-08 08:37] gangliao commented on #82
Yeah, I also think it's harmless. Thanks, @alsrgv  Well done!

[2017-11-08 08:44] gangliao opened #83 "How do I know GPUDirect is being used?"
Hi, @alsrgv

I have a concern that when I installed nv_peer_memory driver and I also installed horovod via

[code]

But, when I enable the training task, how do I know the GPUDirect is being used?

For instance,

[code]

[2017-11-08 08:45] #82 closed

[2017-11-08 08:47] alsrgv commented on #83
GPUDirect requires multi-node setup - it's basically an ability of GPUs to do RDMA. If you run multi-node, you should see some "GDRDMA" words.

`ecb2de971add:35790:35969 [2] INFO 2 -> 1 via P2P/IPC` - this is intra-node version of GPU DMA.

[2017-11-08 08:48] gangliao commented on #83
@alsrgv  Thanks, sound reasonable.

[2017-11-08 08:55] #83 closed

[2017-11-08 09:57] miroenev commented on #67
I'm getting a similar issue (all-reduce deadlock?) with the keras examples. The code hangs in the first epoch anytime the batch_size is set to a number other than the default 128 (e.g., 64 or 256).

In my case the nvidia-smi utilization goes to 0 on all hosts once the training freezes.

If I wait for a long time the mpirun eventually keeps repeating the following warning:
...
WARNING: One or more

[2017-11-08 10:00] alsrgv commented on #67
@miroenev, did you synchronize the code between nodes after you changed the batch size? It seems that one of the workers declared itself done, while another wants to do more work. This is typically either due to data partitioning mismatch, or code de-sync.

[2017-11-08 19:49] asanakoy opened #84 "Error when installing horovod with pip (Unable to determine CXX11 ABI)"
I do `pip install horovod`.

[code]
Full log: [horovod_install_error_log.txt](https://gist.github.com/asanakoy/19d96180851fb420d457eb793137e2a5.js)

OS: Red Hat 4.8.5-16
Tensorflow version: 1.4.0
Openmpi version: 1.10
Compiler: Intel(R) C Intel(R) 64 Compiler for applications running on Intel(R) 64, Version 16.0.4.258

[2017-11-08 23:10] alsrgv commented on #84
@asanakoy, thanks for reporting this issue!

Seems that Intel C Compiler doesn't like protobufs:
[code]

Is it possible for you to try out GCC compiler?

[2017-11-08 23:11] miroenev commented on #67
Ah this is indeed the issue thanks! @alsrgv

[2017-11-09 12:31] littleDing opened #86 "WARNING when running more than one process."
I'v add horovod in my project and found strange warnings like below.

`WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that only subset of ranks is submitting tensors, which will cause deadlock.`

It

[2017-11-09 12:46] alsrgv commented on #86
@littleDing, does your training proceed after you see these warnings?

[2017-11-09 15:47] tobyyouup commented on #74
@bureddy @alsrgv  Sorry for late reply. I have try hca:port (-mca btl_openib_if_include mlx5_0:1).
Previously I can run with mlx5_1, but it is linked to ethernet. I cannot run with mlx5_0, mlx5_2.
After adding hca:port, I can run now. But the details are shown as folows:

I add port to different hca, each lines represent an experiment. The right side in each line represent which mode it used (the

[2017-11-09 17:22] alsrgv commented on #74
@tobyyouup, `NET/IB/0` represents that NCCL is using RDMA (either via InfiniBand, or RoCE - RDMA over Converged Ethernet), whereas `NET/Socket/0` represents that NCCL is using plain sockets.

`mlx5_0` is a preferred interface for you to use. It's 100 Gbit and it's one the same PCIe complex as your GPUs, as indicated by this line in the log from before:
[code]

PIX means same PCIe complex, SOC mean

[2017-11-09 21:45] asanakoy commented on #84
@alsrgv. yes with GCC 7.1 it worked. It means the problem is with intel compiler.

[2017-11-09 23:57] alsrgv commented on #84
@asanakoy, gotcha. Glad to hear that you're unblocked.

I've renamed the issue to indicate Intel compiler reference and will make it up for grabs - if somebody has an Intel compiler the fix for this is very welcome! :-)

[2017-11-10 02:55] littleDing commented on #86
@alsrgv
No it just hangs there. Not even started, my debug msg shows that it hangs at the first batch.
I had tried to wait, but after 30 minutes it still kept repeating those massages.

Here's some more detail of the warning massage when I run with 2 machine:

`WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ran

[2017-11-10 06:07] alsrgv commented on #86
@littleDing, I think I have to take you up on your repro offer. Can you make a small repro for this issue, perhaps similar to the [word2vec example](https://github.com/uber/horovod/blob/master/examples/tensorflow_word2vec.py)

[2017-11-10 11:51] shinechou opened #87 "Error: one node wanna use CPU to do allreduce but another node wanna use GPU to do it"
@alsrgv: sorry for a new question. I got the error as below, it seems one of my node use CPU but another node wanna use GPU to do allreduce operation, what could be the reason? I installed the latest horovod in both nodes with the same TF/Keras/OpenMPI/CUDA/CUDNN/NCCL.

'''
Epoch 1/100
Epoch 1/100
Using TensorFlow backend.
Using TensorFlow backend.
Traceback (most recent call last):
  File "/usr/l

[2017-11-10 16:02] #87 closed

[2017-11-11 05:23] derekhh commented on #86
I've also seen something like this.

[2017-11-11 07:02] alsrgv commented on #86
@derekhh, a repro would be very helpful to nail this down. I've tried the [word2vec example](https://github.com/uber/horovod/blob/master/examples/tensorflow_word2vec.py) with both regular and unique lookups, and it persistently works.

[2017-11-11 22:23] asanakoy commented on #86
I got the same thing by running `mpirun -np 4 -x PATH -x LD_LIBRARY_PATH -x CUDA_VISIBLE_DEVICES -H localhost:4 python tensorflow_mnist.py` on the machine with 2 GPUs.

[2017-11-12 07:33] alsrgv commented on #86
@asanakoy, you shouldn't run more workers than you have GPUs on the server, as each worker allocates one GPU.

If you see an error like this, it means that you're over-allocating workers:
[code]

[2017-11-12 07:38] derekhh commented on #86
@alsrgv - Thanks Alex! I'll try to see if I can have a consistent repro.

PS: I'm trying hard to implement something like "run a validation pass after each epoch" using Horovod but seems it's not too easy. Do you have any sample code that might work? :p

[2017-11-12 07:50] alsrgv commented on #86
@derekhh, if you use Keras it's very easy - see an [example](https://github.com/uber/horovod/blob/master/examples/keras_mnist_advanced.py).

[2017-11-12 22:42] derekhh commented on #86
@alsrgv - Thanks! I'll take a look and see if it is easy to implement on TensorFlow as well. :)

[2017-11-13 05:07] tobyyouup commented on #74
Hi @alsrgv  I have also tried `-mca pml ob1 -mca btl_openib_if_include mlx5_0:1 -x NCCL_IB_HCA=mlx5_0`, it still hangs.

[2017-11-13 05:44] alsrgv commented on #74
@tobyyouup, does it work correctly with `-mca btl ^openib -x NCCL_IB_HCA=mlx5_0`?

[2017-11-13 06:49] tobyyouup commented on #74
@alsrgv  yes, it works and shows the mode with  INFO 5 -> 6 via NET/IB/0/GDRDMA,   I also add the log in gitst with file name "-mca btl ^openib -x NCCL_IB_HCA=mlx5_0"  https://gist.github.com/tobyyouup/ca7ba6542deed1c6a473be70061b41a5
Is that normal now?

[2017-11-13 07:17] alsrgv commented on #74
@tobyyouup, this looks pretty good. Allreduce (NCCL) is using RDMA, but the orchestration (Open MPI) is using plain sockets. Usually, there's no perceivable difference whether the orchestration is using RDMA or not, so you should be ok.

Still, maybe @bureddy has another suggestion how to make Open MPI work with RDMA.

[2017-11-13 07:32] tobyyouup commented on #74
@alsrgv  Thanks very much for the help,  So `-mca btl ^openib -x NCCL_IB_HCA=mlx5_0` means I am using NCCL with Infiniband RDMA, and at the same time disable openmpi on infiniband RDMA?

[2017-11-13 07:56] alsrgv commented on #74
@tobyyouup, that's right. You're welcome!

[2017-11-13 08:00] tobyyouup commented on #74
@alsrgv  You are really nice. Now I can get nearly 90% system efficiency across two machines.  :)

[2017-11-13 10:43] robzor92 commented on #21
Hello @alsrgv, I've been performing the benchmarks for the SingleRoot supermicro machines on behalf of @jimdowling

The first numbers we publish is for a single machine (10x1080 GTX Ti)
All the runs were with the following command using synthetic datasets.

mpirun -np **num_gpus** python ./scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py --model **model_name** --batch_size 64 --horovod_device gpu

T

[2017-11-13 12:20] shinechou opened #89 "Different results using generator with multi-nodes/GPUs or with single GPU"
@alsrgv: thank you so much for providing such a nice example. Now I can run my script with multi-nodes/GPUs, but I have a few questions about it because I have noticed the difference of the results when I run my test with multi-nodes/GPUs when I use generator. I didn't notice the difference if I don't use generator.

I have noticed that in your example, you divide the number of batches by hvd.size

[2017-11-13 18:45] hpjeonGIT commented on #62
Hi, we installed horovod 0.10.2, and now  it works good for both of intra/inter nodes. Even without -mca pml ob1, it works good. Thanks for the support and the update.

Best regards,

Byoungseon

[2017-11-13 18:45] #62 closed

[2017-11-13 19:02] bureddy commented on #74
@tobyyouup can you get a backtrace of hang with -mca  pml ob1?

[2017-11-13 19:17] alsrgv commented on #21
@robzor92, thanks for sharing your results! I think these look good for 10xGPU machine, considering how much gradient exchanges put on PCIx bus.

When you try `horovod_v2` branch, can you add `--variable_update horovod` argument?  You can see detailed instructions [here](https://github.com/uber/horovod/blob/master/docs/benchmarks.md).

We used the master branch from https://github.com/tensorflow/b

[2017-11-13 19:19] alsrgv commented on #89
@shinechou, what is the size of your test data set?  Factor `3` was empirical.  Can you try removing division for the `validation_steps`, and just set `validation_steps = test_batches`?

I do use this same scheme for ImageNet training experiments and it seems to be working pretty well.

[2017-11-13 20:06] shinechou commented on #89
@alsrgv: thanks. Yes, as I mentioned, I tried "validation_steps = test_batches" and it also shows the zigzag accuracy results. But if I don't use generator but just load all the data (training/validation/test data sets) into RAM, the results are going well then. For my data, it is not too big, 256 classes, 960 training samples  and 240 validation samples per class, each sample is a 744x1(width x h

[2017-11-13 20:22] alsrgv commented on #89
@shinechou, another thing that is different about generator example is the presence of the warmup callback. I recommend upgrading to 0.11.0 which was just released to take the advantage of it.

You typically want to scale your learning rate by the number of GPUs - `LR * had.size()`. However, if you scale it immediately, your final accuracy may suffer. Facebook purposed to use smaller learning rate

[2017-11-13 20:32] shinechou commented on #89
@alsrgv: thank you very much for your improved version! I'll try it out and let you know the results. I have a question about the initial learning rate "opt = keras.optimizers.Adadelta(lr=1.0 * hvd.size())", when I use another optimizer I assume that I need to change the "1.0" to default learning rate of that optimizer accordingly, right?

[2017-11-13 20:36] alsrgv commented on #89
@shinechou, that's right!

[2017-11-13 23:04] jimdowling commented on #21
If anybody is interested in how we run Horovod on Spark, to reproduce @robzor92 experiments, i gave a talk here:
https://www.youtube.com/watch?v=5bVubfUt7ec
We will be releasing Spark/Horovod with the Hops platform in the next few weeks.

[2017-11-14 00:29] Madalin-Florin opened #90 "issue running the examples on multi node and GPU configuration"
Hello,

I am deploying the Horovod framework on a 10 node cluster each node with it's own P100 card following the instructions detailed [here](https://github.com/uber/horovod/blob/master/docs/gpus.md). When I run the examples on a single node everything finishes just fine but when I increase the number of nodes, word2vec runs on the GPU of the node where the mpirun command is given but on the rest

[2017-11-14 00:44] alsrgv commented on #90
@Madalin-Florin, the error message confirms your observation that on other nodes word2vec runs on CPUs.  Could you run the training with `--tag-output` argument added to an `mpirun`, and make a [gist](https://gist.github.com) with the output?

[2017-11-14 02:28] atinsood commented on #60
@alsrgv have a quick question, I know little about this, but I am curious if this impacts horovod in any fashion https://research.googleblog.com/2017/02/announcing-tensorflow-fold-deep.html

I wonder if there is anything that horovod does so far to leverage the static nature of graph of TF

[2017-11-14 02:40] alsrgv commented on #60
@atinsood, haven't tried TensorFlow Fold, but was planning to try [Eager execution](https://research.googleblog.com/2017/10/eager-execution-imperative-define-by.html?m=1).

In theory, it should just work - as long as graph nodes have the same name on all workers.

[2017-11-14 04:43] atinsood commented on #60
argh!! yep Eager execution was what I was actually referring to, did not realize I had the wrong link in. If things work without a change then great.

[2017-11-14 06:30] asanakoy opened #91 "ERROR: ncclAllReduce failed: invalid data type"
Getting ncclAllReduce failed: invalid data type error when running training with horovod on 2 GPUs on single machine.
[code]

Fail at the first call of
[code]

[code]

Any ideas why it is happening?

But the same script works well with `-np 1`.
OS: CentOS / Ubuntu
Open MPI 3.0.0
Nvidia driver 367.48
CUDA 8.0
NCCL 2.0.5
Tensorflow 1.4.0
Horovod 0.11.0

[2017-11-14 06:33] alsrgv commented on #91
@asanakoy, can you add `-x NCCL_DEBUG=INFO` to your `mpirun`? It may help reveal some NCCL debug messages about this error.

[2017-11-14 06:41] asanakoy commented on #91
Full log with `-x NCCL_DEBUG=INFO`.

[code]

[2017-11-14 06:49] alsrgv commented on #91
@asanakoy, the NCCL log does not look like NCCL 2.0.5. Do you happen to have NCCL 1.x installed on your system as well?

Can you paste the output of this as well:
[code]

[2017-11-14 07:01] weixsong opened #92 "Long time cost for Logging hook"
Hi,

I found that the logging time cost is very high:
[code]

[code]

Is there anything wrong for my code?

[2017-11-14 07:04] asanakoy commented on #91
[code]

[2017-11-14 07:09] alsrgv commented on #91
@asanakoy, did you install TensorFlow 1.4.0 from source, or from the official pip package?

[2017-11-14 07:15] alsrgv commented on #92
@weixsong, you should divide number of seconds by number of iterations. This means that every batch takes `1185.455 / 200 = 5.927275 sec/iter`.  What GPU utilization do you see in `nvidia-smi`?

[2017-11-14 07:16] weixsong opened #93 "Is Horovod support multiple Node and multiple GPU for each Node?"
Hi,

I'd like to use Horovod with more than one node, and each node contains multiple GPU, such as 8 GPU each node.

Could me programming in each node the same way as gradient average TF code, and then use Horovod to do distributed gradient update?

[2017-11-14 07:18] weixsong commented on #92
@alsrgv , got it.

Then the time cost make sense. I'm using a platform, could not get nvidia-smi info.
But my network is very big, according to my experience, the GPU utilization should be 100%.

[2017-11-14 07:18] #92 closed

[2017-11-14 07:20] alsrgv commented on #93
@weixsong, it is absolutely supported. The idea is to code a single-GPU training script and let MPI run a copy of the script per GPU.  See [Running Horovod](https://github.com/uber/horovod/blob/master/docs/running.md) page for details on how to run multiple processes per node - most of examples use 4 GPUs per server.

[2017-11-14 08:15] asanakoy commented on #91
@alsrgv from official pip. Should I buid it from source?

[2017-11-14 18:19] shinechou commented on #90
@Madalin-Florin: I got similar problem a few days ago, in my case, it is caused by that by accidentally I forgot to add "HOROVOD_GPU_ALLREDUCE=NCCL" when I install horovod at that node.

[2017-11-14 22:14] asanakoy commented on #91
@alsrgv is it necessary to build Tensorflow with MPI support ?

[2017-11-15 01:33] weixsong opened #94 "Error at Create Session"
Hi,

Sometimes I got this Error:
[code]

Then my job will run into endless waiting for other sessions:
[code]

[2017-11-15 01:56] weixsong commented on #93
@alsrgv, thanks.

[2017-11-15 01:56] #93 closed

[2017-11-15 06:28] alsrgv commented on #91
@asanakoy, no, you don't need to build TensorFlow - the version from the pip should work fine.  I'm trying to repro it on my machine, but to no avail for now.

Can you confirm whether this [example code](https://raw.githubusercontent.com/uber/horovod/master/examples/tensorflow_mnist.py) crashes as well?

Also, can you run this (may take a while) and share the output:
[code]

[2017-11-15 06:30] alsrgv commented on #94
@weixsong, you shouldn't run more workers on the machine than you have GPUs on that machine. See [Running Horovod](https://github.com/uber/horovod/blob/master/docs/running.md) page for examples, and this [thread](https://github.com/uber/horovod/issues/86#issuecomment-343719006) for similar issue.

[2017-11-15 06:32] alsrgv commented on #54
Closing this issue. Feel free to reopen if you have more questions.

[2017-11-15 06:32] #54 closed

[2017-11-15 06:32] alsrgv commented on #72
Closing this issue. Feel free to reopen if you have more questions.

[2017-11-15 06:32] #72 closed

[2017-11-15 09:15] alsrgv commented on #94
@weixsong, I also found an issue with Open MPI 3.0.0 that makes it behave weird with mixed NUMA configurations, so I'm in process of updating the running instructions to these:

[code]

Basically, the idea is to replace `-oversubscribe` with `-map-by slot`.

Could you give this new command a shot?

[2017-11-15 15:47] atinsood commented on #60
@alsrgv similar question, out of curiosity does the ordering of the code matter. I am thinking that broadly do

[code]

[2017-11-15 15:55] alsrgv commented on #60
@atinsood, you need to have that config whenever you're creating `tf.Session()`, `tf.train.MonitoredTrainingSession()` or any other kind of session. Apart from that, it doesn't matter.

[2017-11-15 20:14] asanakoy commented on #91
@alsrgv [example code](https://raw.githubusercontent.com/uber/horovod/master/examples/tensorflow_mnist.py) works well.

My code is different because I have to call `sess.run(equeue_op)` in a separate thread where I read data from disk.
It's not allowed to explicitly call  `MonitoredTrainingSession.run()`  therefore I use `MonitoredTrainingSession._tf_sess().run()` as I don't have any other option.

[2017-11-15 20:40] asanakoy commented on #91
@alsrgv Also I reinstalled `horovod` whithout `nccl` and it doesn't fail. Will it be much slower without `nccl` ?

[2017-11-15 21:33] alsrgv commented on #91
@asanakoy, you can check the scaling that you're getting without NCCL. Does your code use NCCL directly? Did you get an output from that `find` command?

[2017-11-15 21:48] asanakoy commented on #91
@alsrgv I don't use NCCL directly, it is used only be horovod.
I'm still running that `find`.

[2017-11-15 21:57] alsrgv commented on #91
@asanakoy, could you also try to add `-x LD_DEBUG=all` to your run with NCCL?  That should help us understand which libraries are loaded.

[2017-11-16 02:03] asanakoy commented on #91
@alsrgv I figured out what was the problem. `-x LD_DEBUG=all` helped, thank you!

I use pytorch's `Dataset` to load data. Pytorch depends on `libnccl.so.1` and has it in the `site-packages/torch/lib`. Horovod requires NCCL v2. And different versions of the same library screw everything.

After I removed pytorch from the code, everything works well.

[2017-11-16 02:35] alsrgv commented on #91
@asanakoy, congrats!

[2017-11-16 02:37] alsrgv commented on #91
I will add this to the troubleshooting on the next doc update.

[2017-11-16 14:05] Dapid opened #96 "Is model parallelism supported?"
All the examples seem to implement data parallelism. Can I train a model that is too big for my card?

[2017-11-16 20:09] SrivastavaKshitij opened #97 "Horovod Keras vs Horovod Tensorflow"
Hi there

I have installed horovod on a cluster and I am trying to run the code provided under the examples section.
when I am trying to run keras_mnist.py , I get the following error :

[code]

On the other hand, when I am trying to run tensorflow_mnist.py, I get the following error:

[code]

My question is : Is there any separate installation for horovod.keras and horovod.tensorflow ?
Also, any

[2017-11-16 23:22] AdrianLsk opened #98 "Horovod hangs even after specifying non-routed interfaces"
Hi, I managed to install everything, but I have a problem with the process hanging after launching the code in tensorflow_mnist.py

I tried to exclude the non-routed interfaces (although my knowledge here is very limited). The interfaces I excluded: enp30s0,docker0,br-bb10fb5deea4. I determined them by running `ip addr`, here is it's output:
[code]
Here is the output of the test script containing

[2017-11-17 03:08] alsrgv commented on #98
@AdrianLsk, can you try adding `-x NCCL_SOCKET_IFNAME=enp30s0`?  Typically NCCL is much better at detecting non-routed interfaces than Open MPI, but in your case, it didn't find `eth` or `ib`, so it just added all of them.

[2017-11-17 03:13] alsrgv commented on #97
@SrivastavaKshitij, can you try to upgrade Horovod to 0.11.0?  Make sure you install it on the same set of machines that you will use it on since it does compile a bit of native code.

[2017-11-17 03:16] alsrgv commented on #96
@Dapid, yes, you can. There are changes you should do:

1. Manually place portions of the model to appropriate GPUs using `with tf.device('/gpu:N'):`

2. Modify or remove the portion of the code that pins GPUs to be visible to TensorFlow: `config.gpu_options.visible_device_list = str(hvd.local_rank())`

3. Modify your `mpirun` command to adjust the number of processes you run per machine. If your

[2017-11-17 08:17] AdrianLsk commented on #98
@alsrgv, adding the argument gets rid of the other interfaces, but it still hangs a bit and then gives a synchronization error due to timeout (as it did also last time):

[code]

Do I need to call some synchronization method in my code?

[2017-11-18 00:22] alsrgv commented on #98
I don't think I've seen this error. Is `enp30s0` interface routed?  If not, you can add another interface to `-x NCCL_SOCKET_IFNAME=...`.

[2017-11-18 09:27] AdrianLsk commented on #98
@alsrgv, unfortunately I don't know how to check if it's routed. I tried other interfaces but none of them worked. I am running it on a desktop machine with 2 GPUs. If you point me to what I should be looking for, then I can figure it out. How can I check that any of the interfaces is routed?

[2017-11-18 10:58] alsrgv commented on #98
@AdrianLsk, are you able to run single-GPU training on both GPUs?  You can check by running `CUDA_VISIBLE_DEVICES=0 python test.py` and `CUDA_VISIBLE_DEVICES=1 python test.py`.

Also, in [this thread](https://github.com/tensorflow/tensorflow/issues/2121#issuecomment-225659476), folks recommend using `CUDA_LAUNCH_BLOCKING=1` to debug. You can set it via `-x CUDA_LAUNCH_BLOCKING=1` in your `mpirun`

[2017-11-18 11:08] AdrianLsk commented on #98
@alsrgv, single GPU training works, `python test.py` or `CUDA_VISIBLE_DEVICES=1 python test.py` worked, even using MPI with only one process
[code]
worked, adding `-x CUDA_LAUNCH_BLOCKING=1` to `mpirun` with 2 processes yields the same error as before, just to note, I am running it on TF 1.4 with CUDA 9.0 + CUDNN 7.0 + NCCL 2.0.5

[2017-11-19 04:31] chandangm commented on #97
@alsrgv, facing the same issue . upgrading horovod to 0.11.0 didn't work .
But from python interpreter i can import the line that's throwing the error , if you run the same thing from mpirun command it throws an error
`Traceback (most recent call last):
  File "horovod.py", line 18, in <module>
    import horovod.tensorflow as hvd
  File "/home/chandangm/PycharmProjects/learning/horovod.py", line

[2017-11-19 08:44] hycis opened #99 "horovod with tensorboard"
horovod does not seem to behave properly with tensorboard. During training, each gpu will write to the log directory when i run a for loop. Is there a way to control such that only 1 gpu is writing to the log directory?

below is a sample code

[code]

[2017-11-19 17:59] alsrgv commented on #98
@AdrianLsk, can you try to run this sample NCCL program?

[code]

If that doesn't work, can you try upgrading to NCCL 2.1 that just came out?

[2017-11-19 18:02] alsrgv commented on #97
@chandangm, I think in your case it doesn't like that you named your program `horovod.py`. Can you rename it and give it another shot?

[2017-11-19 18:03] alsrgv commented on #99
@hycis, you can wrap your tensorboard writing code in an if statement like this:
[code]

[2017-11-20 04:17] hycis commented on #99
@alsrgv awesome! thanks.

[2017-11-20 04:17] #99 closed

[2017-11-20 12:11] ydp opened #100 "subset of ranks and are waiting for remainder of ranks for more than 60 seconds, ... which will cause deadlock"
I am increasing my running nodes number to 99, but the program hangs and output:

[code]
my command is:

[code]

 @alsrgv , could you please kindly help on this problem?

[2017-11-20 15:22] SrivastavaKshitij commented on #97
@alsrgv : Hi sorry for the late reply. I am asking cluster admin to install the latest version. I will let you know once its done. I will get back to you ASAP. Thanks again!

[2017-11-20 16:24] atinsood commented on #60
@alsrgv well this is embarassing and I guess pushing you too much, but have you seen issues with running
`/openmpi/bin/mpirun -np 1 ~/envs/horovod/bin/python tensorflow_word2vec.py` in docker/kubernetes.

I am able to run `~/envs/horovod/bin/python tensorflow_word2vec.py` without any issues but the openmpi python just gets stuck with nothing in the logs.

I was able to run `openmpi echo hello` cor

[2017-11-20 19:42] alsrgv commented on #100
@ydp, does the training progress after you see that warning, or gets stuck forever?

[2017-11-20 19:44] alsrgv commented on #60
@atinsood, no worries! What's the version of `openmpi` that ships with kubernetes?

[2017-11-20 21:49] atinsood commented on #60
@alsrgv
this is the openmpi that I use `https://www.open-mpi.org/software/ompi/v3.0/downloads/openmpi-3.0.0.tar.gz`

and this is the docker file https://gist.github.com/atinsood/535104d57b8e35b6fcc7a480a0a3ddb2

I don't think there's anything specific to k8s here. I'd be curious if you are more than doing using the simple docker file I pasted above to get things going

[2017-11-20 21:57] alsrgv commented on #60
@atinsood, thanks for details. Helps me help you :-)

1. Can you add `--enable-mpirun-prefix-by-default` to `./configure` on line https://gist.github.com/atinsood/535104d57b8e35b6fcc7a480a0a3ddb2#file-dockerfile-L89.  Unless you do that, you have to add `--prefix=/openmpi` on every `mpirun`.

2. Can you replace line https://gist.github.com/atinsood/535104d57b8e35b6fcc7a480a0a3ddb2#file-dockerfile-

[2017-11-20 22:43] chenliu0831 commented on #23
Ah I doubt I'll have bandwidth to actually prioritize this in a short term. If someone else already done it or interested in this, feel free to take over or close this issue. Sorry.

[2017-11-20 22:44] alsrgv commented on #23
No worries. Feel free to reopen this issue or raise a new issue when you have more questions.

[2017-11-20 22:44] #23 closed

[2017-11-21 02:03] ydp commented on #100
@alsrgv  when node number is 99, seems like training gets stuck forever, more warning comes, and the warning message size become longer().

Before I increase to 99, I tested 70 nodes, which is ok.

So after stuck in 99 nodes, I decrease to 80 nodes, the similar warning message comes once, short later, I can see the training progress.

So I guess it is caused by too much nodes communication, waitin

[2017-11-21 04:27] ksasi opened #101 "pip install horovod fails with error: Unable to determine CXX11 ABI to use with TensorFlow"
Hi,

sasikanthkotti$ pip install horovod on mac fails as below :

Collecting horovod
  Using cached horovod-0.11.0.tar.gz
Building wheels for collected packages: horovod
  Running setup.py bdist_wheel for horovod ... error
  Complete output from command /anaconda2/envs/Tensorflow_Python3_6/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/24/sln_smf506j41c593wqcmm180000g

[2017-11-21 04:50] alsrgv commented on #101
@ksasi, could you try to add `CFLAGS=-stdlib=libc++` in front of your `pip install horovod`?

[2017-11-21 04:51] alsrgv commented on #100
@ydp, can you try to collect a [Timeline](https://github.com/uber/horovod/blob/master/docs/timeline.md) and share it here?

[2017-11-21 05:47] zh794390558 commented on #100
@alsrgv  I have the same question, but with One server and 2 rank, which gets stuck forever.

I use horovod in Pod of kubernetes, with command ` mpirun -np 2 pyton train.py`

This may indicate that different ranks are trying to submit different tensors or that only subset of ranks is submitting tensors, which will cause deadlock.

Stalled ops:
model/model/DistributedAdamOptimizer_Allreduce/Horovod

[2017-11-21 06:33] zh794390558 opened #102 "Does multi-gpu tensorflow code can be simply migrate to horovod ?"
Does multi-gpu tensorflow code can be simply migrate to horovod with opt.compute_gradients() and opt.apply_gradients()?

[2017-11-21 15:56] abidmalik1967 opened #103 "Unable to run the HOROVOD framework"
I am using Ubuntu machine for the framework and got the following error.

import tensorflow as tf

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/amalik/anaconda3/lib/python3.6/site-packages/horovod/tensorflow/__init__.py", line 34, in <module>
    from horovod.tensorflow.mpi_ops import size
  File "/home/amalik/anaconda3/lib/python3.6/site-packages/horovod/

[2017-11-21 18:00] ksasi commented on #101
Adding the flag CFLAGS=-stdlib=libc++ in front of your pip install horovod, seems to have helped. Below is the output :

CFLAGS=-stdlib=libc++ pip install horovod
Collecting horovod
  Using cached horovod-0.11.0.tar.gz
Building wheels for collected packages: horovod
  Running setup.py bdist_wheel for horovod ... done
  Stored in directory: /Users/sasikanthkotti/Library/Caches/pip/wheels/20/1e/24/2

[2017-11-21 19:24] alsrgv commented on #103
Hi @abidmalik1967,

Can you uninstall Horovod, reinstall with `-v` flag added at the end of `pip install` command, and paste the logs?  I want to understand all the compilation flags that were used.

Also, can you share the way you installed TensorFlow in this environment?

Lastly, is it an option for you to use a plain `virtualenv`?

Thanks,
Alex

[2017-11-21 19:30] alsrgv commented on #102
Sure, you can simply squeeze this code in between:

[code]

[2017-11-21 19:38] atinsood commented on #60
ha, I think I found the issue. something is messed up in that dockerfile (I will try to clean up and debug), but the good thing is I was able to piggy back on top of the tf docker file, get nccl2 and horovod installed and that did the trick.

I am curious though, do you guys have openmpi installed per container, or on the underlying nodes . Also is the openmpi only used for configuration or more t

[2017-11-21 21:37] alsrgv commented on #60
@atinsood, we have Open MPI in the container. It's used for orchestration - negotiate which tensors are ready to be reduced and orchestrate the reduction. This is necessary since TensorFlow can execute multiple Graph ops in parallel, and so the order of tensors to be reduced is non-deterministic.

[2017-11-21 21:43] alsrgv commented on #100
@zh794390558,  I think the issue in your case is that on one rank tensors are called HorovodAllreduce\_**model_1_model**\_gradients_AddN_4_0, whereas on another rank they're called HorovodAllreduce\_**model_model**\_gradients_AddN_4_0.  Can you share the code of your model?

[2017-11-22 01:05] #101 closed

[2017-11-22 02:40] weixsong commented on #102
@alsrgv , does this mean that:
I could allocate 8 GPU on 2 node, 4 GPU for each node.
And in each node, I could use the multiple-gpu gradients average code, and then use your code to do distributed computation between these two node with 8 GPU?

[2017-11-22 02:44] alsrgv commented on #102
@weixsong, yes, you can.  However, traditional tower-based averaging is typically slower and requires more code.

[2017-11-22 02:45] weixsong commented on #94
@alsrgv , actually I use 16 GPU, and each node contains 8 GPU, so I think the workers on each machine is no more than the GPUs I have on that machine. But still has the "create session failed" issue.

I'm using a platform, and I see the platform seed a mpirun command contains "--npernode 8", does it make sense?

[2017-11-22 02:49] weixsong commented on #102
@alsrgv , more code is not an issue for me. But slower maybe the issue.
Then you mean if launch one process for each GPU would be much faster than the tower way? for example 2 towers, 8 gpu for each tower?

My understanding if I use tower based gradient averaging, then gradient communication between each node would be much less, only two copy of gradient need to be send over network. By my underst

[2017-11-22 02:55] alsrgv commented on #102
@weixsong, you can do an experiment. I saw on two very different hardware configurations that ring-allreduce within a server was faster than tower-based approach. It would be interesting if it's not the case on your system.

Also, never underestimate the power of simpler code. :-)

[2017-11-22 02:57] alsrgv commented on #94
@weixsong, I see. Do you have `CUDA_VISIBLE_DEVICES` set anywhere? If so, can you unset it?

[2017-11-22 03:01] weixsong commented on #94
@alsrgv , Yes, I have.
I think this is the root cause of this "create session failure" issue.
In the platform, each GPU card is set to a GPU by CUDA_VISIBLE_DEVICES
such as:
worker_0: envs={'CUDA_VISIBLE_DEVICES': '0'}
worker_1: envs={'CUDA_VISIBLE_DEVICES': '1'}
worker_5: envs={'CUDA_VISIBLE_DEVICES': '5'}
...

I will contact the platform owner and try your suggestion.

Really thank you very very

[2017-11-22 06:22] #94 closed

[2017-11-22 08:54] zh794390558 commented on #102
@alsrgv   If I have 4 gpus, 2 nodes, 2 gpus per node. Then I need 2 process which can see 2 gpus per process, right?  Then use averaged gradients to do all-reduce for 2 processes? I need one process to see all 2 gpus on one node ?

[2017-11-22 11:11] zh794390558 commented on #100
Code like below, and I have one node with 2 gpus, using hvd 2 process with only one gpu per proecss.

I want to know the reason,  though https://github.com/uber/horovod/issues/102 is work for me .
`
tower_grads = []
for i, gpu_id in enumerate(gpus):
             with tf.device(gpu_id):
                 with tf.variable_scope(tf.get_variable_scope(), reuse=i > 0):
                 .......

[2017-11-22 11:25] zh794390558 commented on #21
@robzor92 The result looks good.

[2017-11-22 19:31] alsrgv commented on #100
@zh794390558, in your 2 GPUs, 2 Horovod process and one GPU per process set up, is `len(gpus) == 1`, and `gpu_id` is 0 or 1?  Is there any code in `...` that depends on gpu_id?  How do you configure your session, do you do anything along the line of https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py#L99 ?

[2017-11-22 19:33] alsrgv commented on #102
@zh794390558, if you want to use code [like this](https://github.com/uber/horovod/issues/102#issuecomment-346135571), then yes.

[2017-11-23 01:34] lachlants opened #105 "allreduce on a subset of processes"
Hello,
Is it possible to call `allreduce` on a subset of Horovod processes? This is useful when your doing distributed batch normalization, i.e. , you estimate the batch statistics for a single node then `allreduce` them across a subset of nodes... this way the batch size used in the batch normalization can be independent from the batch size in the overall gradient computation.

[2017-11-23 10:51] dyoung23 commented on #67
@alsrgv Hi. I try run horovod in docker cluster,but it's hard to create passwordless connection between docker containers because OpenMPI using ssh/rsh.
Do you have any ideas about it.And do horovod support other MPI implementations.

[2017-11-23 18:16] asanakoy commented on #91
You can also add a solution how to use Horovod with NCCL 2 and Pytorch.
By default pytorch is linked to system-default nccl (version 1).
I have build it from sources `NCCL_ROOT_DIR=$NCCL_PATH CUDNN_LIB_DIR=$CUDNN_LIB_DIR  CUDNN_INCLUDE_DIR=$CUDNN_INC_DIR python setup.py install` with NCCL 2.0.5.
Now horovod doesn't fail.

[2017-11-23 20:09] alsrgv commented on #105
@lachlants, not at the moment. I think the simplest way to achieve that would be to allocate multiple GPUs per process, do the necessary math and use tower based averaging within the process, and then let Horovod take care of scaling among processes. This is similar to #102.

[2017-11-23 20:10] alsrgv commented on #67
@dyoung23, ssh without a password is pretty straightforward - see [here](http://www.linuxproblem.org/art_9.html).

[2017-11-23 20:11] alsrgv commented on #91
@asanakoy, that's a neat idea, thanks!

[2017-11-24 01:49] lachlants commented on #105
Is there any major issues with implementing a solution like the one I described? I may have a crack at it since the method you suggest is not feasible with my cluster (I rarely get assigned two GPUs on the same machine) and batch normalization batch-size seems crucial to my models.

[2017-11-24 02:17] dyoung23 commented on #67
@alsrgv I know this method.But it's impossible to achieve to docker containers which run by Kubernetes because you don't know its IP in advance.

By the way,does horovod support mpich2-1.2 ? I met gcc comply error when install horovd while mpi implementation is mpich2-1.2.

[2017-11-24 07:41] zh794390558 commented on #100
@alsrgv Yes, the config is what you think.

[2017-11-24 08:52] chgxtony opened #106 "mpirun will hang, no error, no output"
I test the tensorflow_word2vec.py in the exampless
`mpirun -np 3 \
    -H ml-208,ml-209,ml-210 \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=DEBUG -x LD_LIBRARY_PATH \
    --mca  btl_tcp_if_exclude virbr0,virbr0-nic -d \
    python tensorflow_word2vec.py`
I use the above command , but no output, no error.

[2017-11-24 23:01] alsrgv commented on #67
@dyoung23, we solve the address problem by having a registry where all workers register themselves. After that happens, the first worker executes `mpirun`.

Not sure about mpich2-1.2. We made it work with MPICH v3. What error are you seeing? Feel free to send PR if you get it working.

Did you solve your [getting stuck problem](https://github.com/uber/horovod/issues/67#issuecomment-342578292) from

[2017-11-24 23:02] alsrgv commented on #106
Which version of Open MPI are you using?  Do you have multiple versions of Open MPI installed?  I saw such behavior before where Open MPI in PATH was different from Open MPI an application was compiled with.

Another idea is to run `strace mpirun ...` and check where it gets stuck.

[2017-11-24 23:06] alsrgv commented on #105
I think having an `allreduce`, `broadcast` or `allgather` on a set of specific ranks along with an example use case like yours would be a good addition.

[2017-11-24 23:12] alsrgv commented on #100
@zh794390558, don't think I will have more ideas unless I see the actual code or minimal repro. I believe it comes down to tensor name mismatch (e.g. HorovodAllreduce\_**model_1_model**\_gradients_AddN_4_0 vs HorovodAllreduce_**model_model**_gradients_AddN_4_0).

Can you try to make minimal repro?  That may help to figure out the actual issue.

[2017-11-26 20:08] asanakoy opened #107 "Segmentation fault (11) in the worker with rank=0"
Horovod 0.11.0 (build with CUDA 8, CuDNN 6 and without NCCL)
Tensorflow 1.4.0
Python 2.7.14
Red Hat Enterprise Linux Server release 7.4

After several thousands of iterations worker with rank=0 crashes with Segmentation fault (11)

    [h06c0901:07661] Signal: Segmentation fault (11)
    [h06c0901:07661] Signal code: Address not mapped (1)
    [h06c0901:07661] Failing at address: 0x2ae83e011880

[2017-11-27 01:22] chgxtony commented on #106
I used the open-mpi-3.0.0. I have found the reason that my machines had many network devices and mpi don't known which card to use. Later I used the `--mca btl_tcp_if_exclude` parameters and excluse all irrelevant network devices then it works. Thank you all the same

[2017-11-27 01:59] dyoung23 commented on #67
@alsrgv ,Can you introduce your method about workers registering themselves in detail?

As I know,mpich2 is different from mpich.I forgot to record this error but I think it's something wrong with mpi.h.

Yes.I update horovod to v0.11.0 and it works well.

[2017-11-27 07:36] zh794390558 opened #108 "ncclCommInitRank failed: unhandled cuda error"
How to deal with this error?

UnknownError (see above for traceback): ncclCommInitRank failed: unhandled cuda error
	 [[Node: model/HorovodAllreduce_model_Mean_25_0 = HorovodAllreduce[T=DT_FLOAT, _device="/job:localhost/replica:0/task:0/device:GPU:0"](model/Mean_25)]]
	 [[Node: model/div_2/_1107 = _Recv[client_terminated=false, recv_device="/job:localhost/replica:0/task:0/device:CPU:0", send_devic

[2017-11-27 07:49] zh794390558 commented on #108
I use the latest NCCL verion which force used cuda9.0.

sudo apt-get install libnccl2=2.1.2-1+cuda8.0 libnccl-dev=2.1.2-1+cuda8.0

Read more at: http://docs.nvidia.com/deeplearning/sdk/nccl-install-guide/index.html#ixzz4zcGhHa49
Follow us: @GPUComputing on Twitter | NVIDIA on Facebook

[2017-11-27 07:49] #108 closed

[2017-11-27 08:03] zh794390558 opened #109 "GPU memory usage is not balance"
GPU memory usage is not balance in one node with 2 process, one gpu per process.
Do you have konw the reaons?

Mon Nov 27 08:00:52 2017
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 378.13                 Driver Version: 378.13                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persi

[2017-11-27 08:05] #109 closed

[2017-11-27 08:07] zh794390558 commented on #109
One process exit without forcing all process exit.

[2017-11-27 08:50] asanakoy commented on #107
This happens only on the cluster machines with Tesla K80-s when I run on multiple nodes.
It doesn't crash on the machine with Ubuntu Server 16.04 and 4 Titan X Pascal.

Any idea why does it happen?

[2017-11-27 09:01] asanakoy commented on #107
This may be happening because I use threads to fill data in the queues.
https://stackoverflow.com/a/44483833/1351629
I might need to build Open MPI from source and enable the support for `MPI_THREAD_MULTIPLE`.

[2017-11-27 10:59] ydp commented on #100
sorry for late response, we have tried 96 nodes, and it is ok, so not so much a problem that 99 nodes cannot running now, but if later I have this problem again, I will add timeline and attach here.

thanks

[2017-11-27 17:51] alsrgv commented on #107
@asanakoy, you Open MPI is also pretty old - 2.0.3-gnu-5.2, can you upgrade to 3.0.0?

[2017-11-27 17:54] alsrgv commented on #67
@dyoung23, glad it's working for you now.  The registration method is very simple - there's a server with a well-known address (`registry`).  Every job gets a unique name, all the workers register themselves in the registry for that job name, and worker 0 polls registry until all the workers have registered.  After that, worker 0 executes an `mpirun`.  You can use a shared filesystem as a registry

[2017-11-27 18:04] asanakoy commented on #107
@alsrgv I'm waiting for an admin of our cluster to upgrade OpenMPI. I will let you know if the issue is resolved.

[2017-11-28 01:51] lachlants commented on #105
Actually just noticed the `allgather` method, I should be able to implement the batch norm averaging with it...  won't be as efficent as a ring based `allreduce`, but shouldn't really matter since the batch norm statistics are relatively tiny compared to the gradients.

[2017-11-28 02:06] alsrgv commented on #105
@lachlants, that's a good idea! Do you mind sharing an example code when you make it work?

[2017-11-28 23:57] BIGBALLON opened #110 "horovod can't work in distributed."
It works by using the following cmd in an single machine:

[code]

[code]

But it seem doesn't work by using the following cmd  in two machines :

[code]

It seems the program hangs up and output nothing.

[code]

https://github.com/uber/horovod/issues/106  said that the reason(mpirun will hang, no error, no output) is mpi don't known which card to use.
So I try to use

[code]

But it still doesn'

[2017-11-29 01:46] chenglinzhang opened #111 "horovod hangs on hvd.init() with mpirun to multiple hosts"
Horovod 0.11.1 (HOROVOD_GPU_*=MPI pip install with no-cache)
OpenMPI  (3.0 with cuda 8 support)
NCCL2 not available
Tensorflow 1.2
Python 3.6

Command line:
mpirun -mca btl_tcp_if_exclude docker0 -np 4 -bind-to none -oversubscribe -H host1:2,host2:2 python3 tensorflow_mnist.py

It runs fine on a single host with GPUs, e.g., host1:2 or host2:2. Here tensorflow_mnist.py is a horovod example.

Every

[2017-11-29 02:01] alsrgv commented on #110
Hi @BIGBALLON, a couple of questions:
1. Do both machines have interface `enp0s31f6`?
2. If you wait for a long time, say 10 minutes, is there any output?

[2017-11-29 02:05] BIGBALLON commented on #110
hello,  @alsrgv
1. Do both machines have interface enp0s31f6? yes. all of the ubuntu machines have interface enp0s31f6.
2. If you wait for a long time, say 10 minutes, is there any output?   yes. there are nothing output.

[2017-11-29 02:06] alsrgv commented on #111
@chenglinzhang, do you get any output if you let it run for a longer time, e.g. 10 minutes?

[2017-11-29 02:09] alsrgv commented on #110
@BIGBALLON, how did you install Open MPI, do you happen to have multiple version of it installed?
  Also, can you try `strace mpirun ...` and see where it gets stuck?

[2017-11-29 02:15] BIGBALLON commented on #110
yep, @alsrgv .
1.  openmpi installed by the official website's install method.
2. after run strace mpirun, I get the following messages:

[code]

[2017-11-29 02:30] BIGBALLON commented on #110
I think there something problem when I run ``mpirun``.
because I run the cmd in the empty folder, it still hangs up & doesn't output any error.

[2017-11-29 02:36] alsrgv commented on #110
@BIGBALLON, was that output above from simple `strace mpirun` or `strace mpirun -np 2 \
    -H 192.168.2.243:1,192.168.3.246:1 \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH \
    python3 keras_mnist_advanced.py`?

Can you make a gist will the full output?

[2017-11-29 02:43] BIGBALLON commented on #110
@alsrgv

after run
[code]

https://gist.github.com/BIGBALLON/dc617eeafa0160aa912537088fe82d75

[2017-11-29 02:46] alsrgv commented on #110
@BIGBALLON, one quick thing to try:

[code]

[2017-11-29 02:51] BIGBALLON commented on #110
@alsrgv  it still doesn't work. and have the save issue.

[2017-11-29 02:56] alsrgv commented on #110
@BIGBALLON, no problem.  It seems that `mpirun` does the fork, at which point `strace` stops following it.

Can you try this instead and update the gist:
[code]

[2017-11-29 03:01] BIGBALLON commented on #110
@alsrgv

[code]

[2017-11-29 03:07] alsrgv commented on #110
@BIGBALLON, one more idea, can you `ssh 192.168.3.246` from `192.168.2.243`?  Does it ask any question, like "do you want to add this host identity to known hosts", etc?

If that doesn't help, can you update the gist with the full output?

[2017-11-29 03:08] BIGBALLON commented on #110
@alsrgv
[code]

[2017-11-29 03:11] alsrgv commented on #110
@BIGBALLON, try saying yes, and then running the `mpirun` command again.

[2017-11-29 03:15] alsrgv commented on #111
@chenglinzhang, another idea discovered in #110 is to try to manually `ssh host2` from `host1` and if it prompts to confirm identity, say `yes`.

[2017-11-29 03:19] BIGBALLON commented on #110
it's doesn't work, but i have another discover:

[code]

When I ``ctrl + c`` to stop the cmd,

[code]

[2017-11-29 03:25] alsrgv commented on #110
@BIGBALLON, see [this guide](https://www.open-mpi.org/faq/?category=rsh#ssh-keys) for passwordless ssh.

[2017-11-29 03:58] BIGBALLON commented on #110
@alsrgv
It works now.!! thanks!

But output ``ImportError: No module named horovod.keras``

[code]

but single machine is fine:

[code]

[2017-11-29 04:12] alsrgv commented on #110
@BIGBALLON, did you install Horovod on the second machine, too? Are you using a virtualenv?

[2017-11-29 04:14] BIGBALLON commented on #110
@alsrgv
I install Horovod  in both machine. But all the Horovod installed in virtualenv

[2017-11-29 04:19] alsrgv commented on #110
@BIGBALLON, can you try this (not `python3` path):
[code]

[2017-11-29 04:24] BIGBALLON commented on #110
@alsrgv

[code]

[2017-11-29 04:29] alsrgv commented on #110
@BIGBALLON, before you were using `-H 192.168.2.243:1,192.168.3.246:1`, did you change the IP address of your server?

[2017-11-29 04:37] BIGBALLON commented on #110
@alsrgv  I make sure the IP address is correct(I use .3.246 & .2.249 to test  passwordless ssh).

[code]

[2017-11-29 04:39] alsrgv commented on #110
@BIGBALLON, can you make `hostname` different on different servers?  Also, which machine has address `192.168.2.1`?

[2017-11-29 04:48] BIGBALLON commented on #110
It's seems that ``192.168.2.x`` can only access ``192.168.2.x``
so i change the cmd:

[code]

[2017-11-29 05:09] alsrgv commented on #110
@BIGBALLON, sounds like NCCL is also confused about hostnames being the same, since it's trying to use IPC to talk between machines:
[code]

[2017-11-29 05:22] BIGBALLON commented on #110
@alsrgv
cool!!! I change the hostname in one machine!!!!
it works!!! perfect !!

BTW, but it seem two machines(2 GPUs) slow than one machine(1 GPUs)?? is it make sence

[2017-11-29 05:29] chenglinzhang commented on #111
Thanks for the quick response. Password-less ssh has been enabled from host1 to host2 and vise versa. I can run hello_c and ring_c tests for example with mpirun on host1:2,host2:2.

[2017-11-29 05:31] alsrgv commented on #110
@BIGBALLON, congrats!

You should run something more complicated than MNIST to really notice the difference. MNIST is more like a hello world than a performance test.

For instance, you can run [the benchmarks](https://github.com/uber/horovod/blob/master/docs/benchmarks.md).

[2017-11-29 05:34] chenglinzhang commented on #111
There was no output when it was let run more than 30 minutes.

[2017-11-29 05:36] alsrgv commented on #111
@chenglinzhang, gotcha. Can you make a gist with the full output of `strace -f -e 'trace=!poll' mpirun ...`? It helped to find an ssh issue last time.

[2017-11-29 05:47] ydp opened #112 "cannot load binary meta checkpoint proto file for inference"
I have trained the model, and now I have several model files.

* graph.pb, saved when the graph init
* checkpoint files(meta_graph, checkpoint, check.index, etc)

with above files, I can generate other format of this model.

* graph.pb + latest checkpoint file --> frozen_graph.pb
* checkpoint files --> saved model

but when using horovod, I used

https://github.com/tensorflow/tensorflow/blob/maste

[2017-11-29 05:50] ydp commented on #112
may be it is because my meta checkpoint proto file is binary, not text? I add a comment [here](https://github.com/tensorflow/tensorflow/commit/f3033eef37e36a99e1c11ab5648cb587eb16fe97#diff-151710f08ea6603246baf2595edc6810)
to see if it can deal with binary proto file.

did not know if it is the right way

[2017-11-29 06:06] alsrgv commented on #112
What if you take [optimize script](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/optimize_for_inference.py), pass it `graph.pb`, and tell it that it's a frozen graph?  From the diff you quoted, it doesn't seem that `frozen graph` logic goes beyond reading/writing the graph definition.

[2017-11-29 07:30] tegulia opened #113 "Can we use horovod to calculate ordinary values?"
Horovod can easily calculate the gradient of tensorflow. Can we use horovod to calculate ordinary values?For example:
-- | --

    import horovod.tensorflow as hvd
    import numpy as np
    hvd.init()
    hvd_r=int(hvd.rank())
    #each process compute a small part of something and then compute the average etc.
    test_array=np.random.rand(100,100,100)
    #compute a small part
    x=np.mean(tes

[2017-11-29 11:12] asanakoy commented on #107
Still sometimes get similar segmentation fault, on another machine with OpenMPI 3

[code]

[2017-11-29 11:41] BIGBALLON commented on #110
@alsrgv thanks for your help!! it works perfectly now!
you are awesome!!

[2017-11-29 11:53] BIGBALLON opened #114 "parameter setting problem in keras?"
assume I have an CNN network trained by **single machine(1 gpu):**

batch size:64
iteration: 200

then I want to use mult-gpu (4 gpus, 1 gpu each machine) to train,
**only** need to achieve **the same** performance.

which one is **correct**!

**1.**  batch size divided 4

batch size:16
iteration: 200

**2**  iteration divided 4

batch size:64
iteration: 50

**3** epoch divided 4

batch size:64
it

[2017-11-29 11:53] #110 closed

[2017-11-29 20:31] alsrgv commented on #107
@asanakoy, can you get a core dump (`ulimit -c unlimited`) and get a backtrace of all threads (`gdb python /path/to/core`, `thread apply all backtrace`)?

[2017-11-29 20:35] alsrgv commented on #113
@tegulia, Keras version has functions to do an allreduce on numpy arrays:

[code]

If you want to do general-purpose MPI, you may want to look into [mpi4py](https://mpi4py.readthedocs.io/en/stable/).

[2017-11-29 20:46] alsrgv commented on #114
@BIGBALLON, I'm glad we're past setup issue and now are chatting about math behind distributed deep learning :-)

In practice, approach 1 does not scale since GPUs are not optimized to train small batches.  This will also make communication overhead much larger, since you still need to exchange the whole model, regardless of what is your batch size.

So, most people use approach 2.  In case of app

[2017-11-30 00:21] chenglinzhang commented on #111
Problem solved. Horovod was installed to host2 with an older version of MPI. A reinstallation with MPI 3.0 resolved the problem.  Thanks.

[2017-11-30 00:47] #111 closed

[2017-11-30 06:37] BIGBALLON commented on #114
@alsrgv thank you， alsrgv。

**single machine(1 gpu):**

batch size:64
iteration: 200

I tried approach  2, it seems that we just use [45 epochs, batch size 64, iteration 50] can get the same performance as single machine(1 gpu).

I am confused why is 45 epochs, not 185 epochs ?
I only change the iteration from 200 to 50.

[2017-11-30 06:53] tegulia commented on #113
that is great! Thanks

[2017-11-30 09:55] Dapid commented on #96
Thanks! I have it working now.

This is a rough sketch of how I am defining my model:

[code]
It runs, but `nvidia-smi` reports the usage of GPU0 between 70 and 99%, while GPU1 is between 0 and 4%. Shouldn't the usage be alternating between GPU0 and GPU1? Any insights on this?

Tensorboard tells me that the model is indeed distributed, and it wouldn't fit in a single card anyway.

[2017-11-30 15:58] BIGBALLON commented on #114
@alsrgv  this is my tony demo code:

[code]

Is there something wrong with me?

[2017-11-30 19:17] alsrgv commented on #96
@Dapid, looks very reasonable.  Maybe layers on GPU1 are easier to compute, and so the utilization is lower?

[2017-11-30 22:12] alsrgv commented on #114
@BIGBALLON, can you try downgrading your Keras to 2.0.8?  2.1.1 has an issue (https://github.com/fchollet/keras/pull/8509) that it ignores `steps_per_epoch`.

I played with your learning rate schedule a bit and got a tad better accuracy on 4 GPUs, in 1/4th time (3s per epoch instead of 12s per epoch on single GPU):
[code]

I modified your `scheduler` and `lr` of `optimizers.SGD` to be more conserv

[2017-12-01 04:00] weixsong opened #115 "Model quality is not same good as tower 8 GPU"
Hi,

Thanks very much for this great work of Horovod. It's really made the distributed TF more easier.

I have tried 16 GPU and 24 GPU, the speedup ratio is nearly linear.

But the distributed model is not the same good as my Tower 8 GPU way. (In tower implementation, gradients are averaged and then do a parameters update step.).
Regarding the distributed model, training steps is more than 8 GPU t

[2017-12-01 05:49] alsrgv commented on #115
@weixsong, typically you'd scale your learning rate with the # of GPUs.  As you increase # of GPUs, it may be helpful to also do learning rate warmup, like in this [example model](https://github.com/uber/horovod/blob/master/examples/keras_mnist_advanced.py).

[2017-12-01 19:06] alsrgv commented on #114
@BIGBALLON, you can now also upgrade to Keras 2.1.2 which was released today and has that bug fixed :-)

[2017-12-02 05:31] BIGBALLON commented on #114
@alsrgv
thanks a lot!!

I upgraded keras to the 2.1.2, then my demo works perfectly.
Sincere thanks for your help and guidance, you solved all my questions!
awesome!

[2017-12-05 06:47] weixsong commented on #115
@alsrgv , thanks.

[2017-12-05 06:47] #115 closed

[2017-12-05 18:07] okuchaiev commented on #100
I have the same problem when running on one machine with 4 GPUs. I have TF 1.4, horovod 0.11.1 and openmpi 3.0.0.

Here is a command I use to run:

I runs fine for > 5 hours and then stalls with a lot of outputs like this:

... **a lot of tensor names below, but all have ready ranks on [3, 1,0], not 2**

I also tried running exactly the same thing on another machine with exactly the same specs and

[2017-12-06 03:33] qiang13568 opened #117 "horovod's work pattern?"
1. single server single GPU
2. single server multiple GPUS
3. multiple servers single GPU   (servers cluster but single GPU each server)
4. multiple servers multiple GPUS (servers cluster and multiple GPUs each server)

I have been wondering which one is right? Two pictures below are from official document, i am puzzled.

![image](https://user-images.githubusercontent.com/18524705/33643082-0924a54

[2017-12-06 05:20] kingder opened #118 "How to handle the data imbalance problem?"
It's not an issue, just wondering how horovod handled this situation: say there's one worker has explicitly more data than the other workers, since horovod perform synchronous training, what will happen during the end of training? does the worker with more data hanging there waiting for the allreduce return?

[2017-12-06 06:29] alsrgv commented on #100
@okuchaiev, I looked at the code, is it possible that `dl.iterate_one_epoch()` has a different number of batches on different ranks?

[code]

[2017-12-06 06:32] alsrgv commented on #117
@qiang13568, all four are valid use cases for Horovod.  The quote you mentioned refers to another dimension - how many GPUs each **worker** will utilize?  In most cases, the model would fit on one GPU, and so most of the examples are currently focused on that.

However, it's possible with Horovod to split the model across multiple GPUs with a server, and then do an `allreduce` among servers.  This

[2017-12-06 06:36] alsrgv commented on #118
@kingder, unfortunately, the training will stall.  The solution is to either ensure that data is partitioned among workers in a completely even way, **or** read data on every worker randomly, thus ensuring that on average every worker would read a disjoint set of data.  I recommend the latter way since it's easy to implement and it gives good results.  [This script](https://github.com/uber/horovod

[2017-12-06 06:58] okuchaiev commented on #100
Thanks a lot @alsrgv . I think this is actually possible, I'll double check this tomorrow. Thanks again!

[2017-12-06 07:43] qiang13568 commented on #117
@alsrgv thanks for your reply sincerely. According to your answer, can I  think of multiple servers with single GPU each as mainstream, but multiple servers with multiple GPUs each can be easily implemented?

And another question, which situation horovod is  used more usually?

[2017-12-06 16:11] renganxu opened #119 "FP16 is not working in Horovod benchmark but works in TensorFlow benchmark"
Recently I tested FP16 in TensorFlow benchmark https://github.com/tensorflow/benchmarks.git. It works and FP16 is ~50% faster than FP32. I added the flags "--use_fp16=True --use_tf_layers=False" when using FP16.  Then I tested FP16 in Horovod_v2 branch of Horovod benchmark repo https://github.com/alsrgv/benchmarks.git, but it has the following error:

Traceback (most recent call last):
  File "tf_

[2017-12-06 16:54] joeyearsley commented on #119
The `Horovod_V2` branch needs updating, the `TF` one has been updated a month ago compared to 2 months for Horovod.

[2017-12-06 20:28] atinsood commented on #60
@alsrgv just curious if you have thought through other options on doing this besides openmpi or you happy with what openmpi supports. Also curious how does recovery works, when say openmpi spins process across boxes, the process fails or there is a network partition for a short duration.
Curious if these cases will make any difference on running openmpi

[2017-12-06 20:33] alsrgv commented on #117
@qiang13568, one GPU per worker process is mainstream with servers having one or multiple GPUs.  Tricks described in #96 to support models that don't fit single GPU are not mainstream but supported.

[2017-12-06 20:38] alsrgv commented on #60
@atinsood, at the moment we're pretty happy with MPI, but we're open to ideas for orchestration layer that would be easier to set up. With MPI, if any process fails, MPI will clean up all the processes. In our environment, we have simple retry logic to restart failed MPI jobs if we detect failures such as host failure. We don't usually have network partitioning within the datacenter, but host fail

[2017-12-06 21:12] alsrgv commented on #119
@hfutxrg, @joeyearsley, I just published `horovod_v3` branch which contains recent changes.  Unfortunately, these recent changes require one to use nightly TF GPU build, so I don't want to force it on everyone by updating `horovod_v2`. Horovod benchmarks are in the processes of getting [upstreamed](https://github.com/tensorflow/benchmarks/pull/73) into the official TF benchmarks, so hopefully, thi

[2017-12-07 01:06] qiang13568 commented on #117
@alsrgv thank you very much！

[2017-12-07 14:40] ViaFerrata opened #120 "How to set the distributed optimizer with a loaded Keras model"
Hello there,

suppose that I've saved a horovod trained Keras model ( `model.save`) with an optimizer that has saved weights - e.g. Adam.

Now, I want to continue training by loading the model (`ks.models.load_model`).
How can I set the distributed optimizer (`hvd.DistributedOptimizer()`) in this case, since there's no reference to the loaded Adam optimizer?

The only way I can imagine now, is to

[2017-12-07 21:59] alsrgv commented on #120
@ViaFerrata, there are a few ways:

1. You can re-compile the model:
[code]

2. I haven't tried it, but I bet you can change optimizer after you loaded the model:
[code]

3. You should also be able to specify optimizer via custom object:
[code]

Which way does seem most attractive to you?

[2017-12-07 23:23] ViaFerrata commented on #120
Thank you so much for your detailed answer!

Regarding 1), I always thought that the weights of the saved optimizer are lost if you re-compile the model. However, I could be mistaken for sure? If the recompilation doesn't change the saved config of the optimizer, this would be the simplest way of course.

Also, I didn't know the method `model.optimizer`, will try that tomorrow.

And thanks also fo

[2017-12-07 23:33] alsrgv commented on #120
You're right that re-compilation resets the optimizer config - e.g. gradient momentums and other per-variable parameters.  I believe reloading the model actually has the same effect - the momentums will be reset to 0.

Please let me know which way you end up going with, as this may be good learning for the community.

[2017-12-07 23:53] ViaFerrata commented on #120
Are you sure about that?

If I understand the Keras FAQ (and some issues) correctly, the state of the previous optimizer is fully loaded with `load_model` (https://keras.io/getting-started/faq/):

I'll try 2) and 3) tomorrow and will report back then.
As far as I could figure it out from the horovod sources, `hvd.DistributedOptimizer` doesn't do any recompiling. So if you can access the optimizer

[2017-12-07 23:59] alsrgv commented on #120
AFAIK, `load_model` does reload training configuration (what loss/optimizer, learning rate, momentum rate (e.g. 0.9), etc - these are stored as `config`), but it does not reload per-variable momentums which are reset to 0 after loading the model.

Example of `config`:
[code]

As you can see, there are no per-variable momentums in the config.

[2017-12-08 14:31] ViaFerrata commented on #120
Ah, now I get what you mean. Yes, there are no per-variable momenta in the config.

But I think they may be saved in the `save_model` code, after the optimizer config is saved ([Link](https://github.com/fchollet/keras/blob/master/keras/models.py#L143)):
[code]

So for me, it looks like the `save_model` function accesses the weights attribute of the used optimizer which should also include the per-

[2017-12-08 16:41] AlexanderYukhanov commented on #100
Hi, the same problem with us. We are trying to run the official benchmark samples on resnet152 using imagenet dataset on 16 nodes with 64 gpu in total.

[2017-12-08 22:47] alsrgv commented on #120
@ViaFerrata, even if they are saved, I don't believe they're reloaded back, based on the [load_model()](https://github.com/fchollet/keras/blob/409b0005b5d3bec469009a95302e95fa8bdf2452/keras/models.py#L181) code.  Happy to be proven wrong though!

[2017-12-08 22:49] alsrgv commented on #100
@AlexanderYukhanov, can you make a gist with a full log of the benchmark run, so I get a better understanding at which point it hangs?

[2017-12-12 06:34] jinzequn opened #121 "Is there some schemes about different GPUs?"
For example , I have 4 GTX1080 and 4 GTX1070,  horovod could set different batch size or something else to handle this situations?

[2017-12-12 06:45] alsrgv commented on #121
@jinzequn, if you run Horovod with `mpirun` like this: `mpirun -np 8 -H srv-gtx1080:4,srv-gtx1070:4 ... python train.py`, then first four ranks `hvd.rank() == [0..3]` will correspond to GTX1080, and `hvd.rank() == [4..7]` will correspond to GTX1070.  You can then adjust batch size with an if statement.

Your effective batch size will be a sum of batch sizes on all GPUs.  E.g. if your batch size on

[2017-12-12 06:51] jinzequn commented on #121
OK, is that means I have to set it by myself, horovod couldn't adapt different GPUs?

[2017-12-12 06:53] alsrgv commented on #121
@jinzequn, that's right.  Horovod doesn't know which GPUs have how much memory and what are appropriate batch sizes.

[2017-12-12 07:00] jinzequn commented on #121
@alsrgv I get that, thanks a lot

[2017-12-12 07:00] #121 closed

[2017-12-12 15:48] SrivastavaKshitij commented on #97
Horovod works completely fine. I created a virtual conda environment on the cluster and it works.

[2017-12-12 15:59] SrivastavaKshitij opened #122 "Horovod sends `model.predict` to all the GPUs instead of 1 !"
Hi @alsrgv

I am scaling my training process to 8 nodes (32 GPUs). After the training is complete, and I want the model to predict the output on the test set so that I can calculate F-scores, it sends the data to all the GPUs and calculates 32 F-scores. Could you please let me know how can I make sure that it calculates just one final F score ?

![screen shot 2017-12-12 at 10 55 12 am](https://use

[2017-12-12 16:01] #97 closed

[2017-12-12 19:55] alsrgv commented on #122
Hi @SrivastavaKshitij,

If I understand your question correctly, you can just add an `if` statement around prediction code to predict is only on first GPU, like this:
[code]

[2017-12-12 20:33] SrivastavaKshitij commented on #122
Yes, thank you. thats the correct solution. Somehow I overlooked  the solution.. Thanks for your quick response.

[2017-12-12 20:33] #122 closed

[2017-12-13 08:06] dyoung23 commented on #67
@alsrgv .Hello.I wrote a program in TensorFlow 1.4.0.But I met the error like above.And I try to run the example in this command
[code]
And I met the same error——it stuck at there. Doesn't horovod support Tensorflow 1.4.0? Do you have some idea,I can't use a lower version of TensorFlow because its new features.

[2017-12-14 03:07] atinsood commented on #60
@alsrgv yep, looking into things here.

btw did anything change with the latest pip package. I keep running into

[code]

[2017-12-14 03:15] atinsood commented on #60
```Inconsistency detected by ld.so: get-dynamic-info.h: 129: elf_get_dynamic_info: Assertion `info[DT_RELAENT]->d_un.d_val == sizeof (ElfW(Rela))' failed!```

[2017-12-14 09:22] manjunaths opened #123 "Non-OK-status: RegisterAlreadyLocked(op_data_factory) error with tensorflow 1.4 and openmpi 2.1.2"
I am getting the below error with latest horovod and OpenMPI 2.1.2 with NCCL 2.0 and Cuda 8.0 and Cudnn 6.0 with latest Tensorflow. I am trying to run the

This works perfectly with Tensorflow 1.4 release version. I am trying to get (https://github.com/alsrgv/benchmarks) working and for that I need a later version of Tensorflow.

I am trying to run the tensorflow_mnist.py example.

Any ideas on ho

[2017-12-14 16:24] manjunaths commented on #123
I got this fixed, using gcc 5.3.1 instead of gcc 4.8.5 seems to have made this issue go away. Closing it. Thanks.

[2017-12-14 16:24] #123 closed

[2017-12-14 19:09] alsrgv commented on #123
Glad you were able to resolve it!

[2017-12-14 19:14] alsrgv commented on #67
@dyoung23, Horovod should work fine with both 1.3 and 1.4.  Are you able to run exactly the same `mpirun` command with `keras_mnist.py` successfully with TensorFlow 1.3?

[2017-12-14 19:28] alsrgv commented on #60
@atinsood, I doubt this error is related to Horovod. After quick googling, I found issues along the lines of https://github.com/Linuxbrew/legacy-linuxbrew/issues/126.

[2017-12-14 20:53] atinsood commented on #60
@alsrgv interesting, let me try to take a look `https://gist.github.com/atinsood/11f41bd8f7fd0aca8e8546e32e191cf3` is what I end up using for the docker file. Pretty sure this used to work, may be some of the internal dependency changed

[2017-12-14 21:56] alsrgv commented on #60
@atinsood, looks reasonable. What if you try `tensorflow/tensorflow:1.4.0-gpu` instead of devel-gpu?  Maybe the official release will be more stable.

[2017-12-15 03:11] dyoung23 commented on #67
@alsrgv .It seems not work to me.I met a new error about TF 1.3.0.
[code]
I search it by google ,but can't find a answer.

[2017-12-15 03:14] alsrgv commented on #67
@dyoung23, can you reinstall Horovod with `--no-cache-dir` after you reinstall TensorFlow?

[2017-12-15 05:21] dyoung23 commented on #67
@alsrgv I reinstall Horovod in this way and get old error
[code]
I run it in TF1.3.0,Keras 2.0.8,horovod 0.11.1.

[2017-12-15 05:31] alsrgv commented on #120
@ViaFerrata, actually, it looks like I was wrong - [this part of load_model()](https://github.com/keras-team/keras/blob/409b0005b5d3bec469009a95302e95fa8bdf2452/keras/models.py#L274) is restoring the optimizer weights.  This is very nice.  What it means is that options 2) and 3) are better than 1).

[2017-12-15 07:22] alsrgv commented on #67
@dyoung23, can you try `CUDA_VISIBLE_DEVICES=0,1`?  `CUDA_VISIBLE_DEVICES` is indexed starting with 0.

[2017-12-15 07:42] dyoung23 commented on #67
I think it will be same.I use ``CUDA_VISIBLE_DEVICES=1,2`` because last running it hang on the same point so  I had to stop it but it created some zombie processes.
[code]
[code]
This is really strange. But I think it doesn't affect the result no matter which two GPUs I'm using.

[2017-12-15 07:44] alsrgv commented on #67
@dyoung23, oh - if you have processes looking like that you should reboot the server.

[2017-12-15 08:35] dyoung23 commented on #67
@alsrgv OK.It's really different using ``CUDA_VISIBLE_DEVICES=0,1``.This time it hang on there again. orz.
[code]

[2017-12-15 08:47] alsrgv commented on #67
@dyoung23, OK, we're back to situation from before :-)

Can you upgrade NCCL to 2.1.2 (maybe they fixed your issue), reinstall Horovod, then run the test again and if it gets stuck share the output of `sudo gdb -p <pid> -ex "thread apply all bt" --batch` via gist?

[2017-12-15 09:31] dyoung23 commented on #67
@alsrgv I followed your method.This time it stuck there.
[code]
The output of gdb:[output of gdb](https://gist.github.com/dyoung23/18982ef419269c1746a71a168d0f5a4a)

[2017-12-15 11:23] manjunaths opened #124 "Slow performance on second node"
I am trying to use 4 GPUs on 2 nodes, at 2GPUs/node. But on the second node I get really bad performance. If I run 1 GPU per node that runs fine. I am trying tf_cnn_benchmarks.

Below is the log.

Inside the script, I just have some LD_LIBRARY_PATHs and python tf_cnn_benchmarks.py and the --model=resnet50 and --num_gpus=2 is passed into the python command.

So each process runs in multi-gpu mode.

[2017-12-15 12:51] ViaFerrata commented on #120
@alsrgv Thanks for looking into it again! Yes, I also thought that this part loads ALL (at least I hope) optimizer weights. So we should be safe.
I'll stick to using option 2) then.

Thank you very much again for your help and quick replies!

[2017-12-15 20:20] atinsood commented on #60
yep yep, argh!!! that was it. switching to tensorflow-gpu  fixed things. thank you thank you, appreciate you taking the time and looking into it :)

[2017-12-18 04:04] ppwwyyxx commented on #102
@alsrgv On a DGX1 running `tensorflow/benchmarks` with resnet50, I actually saw that gradient averaging within tensorflow is slightly faster than horovod (using your [PR](https://github.com/tensorflow/benchmarks/pull/73)).

[2017-12-18 08:20] alsrgv commented on #67
@dyoung23, this looks exactly like your issue from before.  Can you try `experimental_sleep` branch, and if it hangs, make a gist with an output of gdb:

[code]

[2017-12-18 08:23] alsrgv commented on #124
@manjunaths, please take a look at [benchmarking](https://github.com/uber/horovod/blob/master/docs/benchmarks.md) page about the instructions for running TF benchmarks with Horovod.  Specifically, you should use a fork of TF benchmarks referenced on that page and specify `--variable_update horovod` flag.

[2017-12-18 08:41] alsrgv commented on #102
@ppwwyyx, that's an interesting result!  Can you specify which flags were you using and what scaling factors are you seeing?

On my system with 8xP100 on SXM2 training ResNet-50 with batch size 64 per GPU, I get 229.86 img/sec on a single GPU, 1519.87 img/sec on 8xGPU (6.61x) with towers and 1715.18 img/sec on 8xGPU with Horovod and NCCL (7.46x).

[2017-12-18 21:55] ppwwyyxx commented on #102
Oh, the test was about a month ago when I saw your PR. Just now I tested again and I saw better performance for horovod (horovod-1759 vs replicated-1643). Nice work!

[2017-12-19 01:56] dyoung23 commented on #67
@alsrgv I followed your method just different in ``HOROVOD_NCCL_HOME=/usr/local/nccl_2.1.2-1+cuda8.0_x86_64 HOROVOD_GPU_ALLREDUCE=NCCL pip install dist/horovod-0.11.1.dev0.tar.gz
``
And its output is similar to before and it hangs on the same point.
The output of gdb:[ouyput of gdb](https://gist.github.com/dyoung23/a549b022731ee968157727ea5b6b4635)

[2017-12-19 12:03] neundorf commented on #84
I added a ticket for protocol buffers:
https://github.com/google/protobuf/issues/4069

[2017-12-19 19:32] ibaned commented on #62
@bureddy are there any plans for GPU support in MXM/Yalla ?

[2017-12-19 19:36] aellaboudy opened #125 "mpirun hangs with no output on localhost"
I'm running on an Ubuntu server with 8 K80 GPUs. Everything is done locally but mpirun seems to hang with no output. After some debugging, it looks like the call to hvd.init() is hanging. Here's the command I'm running from the examples folder:

mpirun -bind-to none -np 8 -map-by slot -H localhost:8 -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH python tensorflow_mnist.py

I've verified that NCCL 2.1 and O

[2017-12-20 05:01] alsrgv commented on #125
@aellaboudy, does `ssh` ask you to add a new entry to `known_hosts`? E.g.:

[code]

If so, can you try to accept and retry `mpirun ... tensorflow_mnist.py`?

[2017-12-20 05:02] alsrgv commented on #67
@dyoung23, I'm afraid I'm out of debugging ideas at this point since the lockup seems to be happening inside NCCL.  I will ask my contacts at NVIDIA for help.

[2017-12-20 07:05] dyoung23 commented on #67
@alsrgv .Thanks a lot.Please tell me after you get help

[2017-12-20 09:33] weixsong opened #126 "Restore model failed"
Hi,

I tried to restore a model trained by my 8-gpu tower implementation, this model is used as warm up model for 16 gpu horovod MPI implementation.
But I got some error:
[code]

Is that because my model used for warm up is trained by tower implementation, this model format is not compatible with Horovod model format requirement?

Or How I supposed to solve this issue?

[2017-12-20 16:57] Tutufa opened #127 "Best practices for distributed learning"
Hi, I'm trying to do distributed learning on 4 GPU's. Horovod works great, but the quality of the model I get using 4 GPU is worse than quality single GPU model. What are best practices, tips, and tricks for moving single GPU training into multi GPU?

It seems like my network oscillates and doesn't converge. How to deal with that?

[2017-12-20 18:07] aellaboudy commented on #125
I tried to ssh into localhost and it asked for confirmation. I typed "yes" and I'm now able to ssh into localhost. I re-tried the mpirun command but it still hangs.

[2017-12-20 19:28] alsrgv commented on #125
@aellaboudy, can you try to do the same with:
[code]

[2017-12-20 19:30] alsrgv commented on #126
@weixsong, in your `model.load_weights`, can you add `by_name=True`?

[code]

Then it should be able to ignore these Adam weights.

[2017-12-20 19:39] aellaboudy commented on #125
Just tried it, same result. ssh asked me to verify, I typed yes, but mpirun still hangs.

[2017-12-20 19:41] alsrgv commented on #127
@Tutufa, you can get inspiration from [this example](https://github.com/uber/horovod/blob/master/examples/keras_mnist_advanced.py):

1. Adjust learning rate: `lr = single_gpu_lr * num_gpus`.
2. Use learning rate warm-up: see `hvd.callbacks.LearningRateWarmupCallback`.
3. Don't forget to use `hvd.callbacks.BroadcastGlobalVariablesCallback` to make sure all workers initialize from a consistent state

[2017-12-20 19:53] alsrgv commented on #125
Gotcha. Can you try to make a gist with an output of `strace ... mpirun ...` like in [this comment](https://github.com/uber/horovod/issues/110#issuecomment-347737251)

[2017-12-20 19:54] gibiansky opened #128 "Add link/credit to original Baidu implementation (somewhere)"
Hey folks,

Horovod is based off stuff we built at Baidu, originally published [here](https://github.com/baidu-research/tensorflow-allreduce) but later merged into a TF contrib to TF master.

No big deal but it would be nice if you could add info crediting the original authors of the allreduce and TF integration somewhere on the README. (There's a reference to a blog post, but no mention of Horovo

[2017-12-20 20:00] alsrgv commented on #128
Hi @gibiansky, sure thing!

Any particular resource you'd like us to link? We currently have a link to your blog post at the end of https://github.com/uber/horovod/blob/master/README.md and there's mention of the original repo in a https://github.com/uber/horovod/blob/master/LICENSE file.

[2017-12-20 20:04] alsrgv commented on #128
If you plan to keep https://github.com/baidu-research/tensorflow-allreduce around, it would probably be a good resource to reference.

[2017-12-20 20:06] aellaboudy commented on #125
Seems like it's looping indefinitely and I had to Ctrl-C to stop the output. Here's the output txt file compressed.
[hang.txt.zip](https://github.com/uber/horovod/files/1576871/hang.txt.zip)

[2017-12-20 20:23] gibiansky commented on #128
I think the `tensorflow-allreduce` is the right place to reference, although it's not going to be maintained (since it's not merged as `tf.contrib.mpi_collectives`). Maybe just write something along the lines of, "The Horovod source code was based off the Baidu `tensorflow-allreduce` repository written by Andrew Gibiansky and Joel Hestness and described in this blog post" somewhere at the bottom o

[2017-12-20 23:25] bureddy commented on #62
@ibaned no plan for GPU support in MXM/Yalla because it is going to deprecated soon in favour of Mellanox's  UCX (https://github.com/openucx/ucx).   We are working on GPU support in UCX.

[2017-12-21 01:39] gibiansky opened #129 "Allow forcing use of allreduce w/o MPI being present"
In my projects I like to first create the TF graph, and then separately run training. However, if you do this, [this line](https://github.com/uber/horovod/blob/master/horovod/tensorflow/__init__.py#L174) will trip you up, because when you create the graph (without MPI), it creates the graph w/o the allreduce, so when you use it, all your ranks end up doing their own thing instead of communicating.

[2017-12-21 04:17] dmadeka opened #130 "OOM errors when using horovod"
Im trying to build a medium size LSTM. For some reason - when I use tf directly, I get no problem. But using horovod (the keras_mnist example) - I get the following error

[code]

The nvidia-smi is below:

[code]

Not sure what's happening here exactly, the relevant line seems to be:

[code]

I made sure to set the appropriate growth parameters:

[code]
Adding `, device_dense='/cpu:0'` to the Adam

[2017-12-21 06:20] weixsong commented on #126
@alsrgv ,
I'm using <code>tf.train.MonitoredTrainingSession</code> to let it restore the model from checkpoint_dir, is that also OK to control it?

[2017-12-21 06:56] weixsong commented on #126
@alsrgv ,
seems Tensorflow did not treat Adam parameters as trainable, so not saved in checkpoint. I think if I save all parameters, it will be OK.

[2017-12-21 06:56] #126 closed

[2017-12-21 18:49] aellaboudy commented on #125
By adding some print statements, I've confirmed that the hang always happens on the call to hvd.init().

[2017-12-21 18:53] alsrgv commented on #128
Cool, will add it in the next round of doc updates.

[2017-12-21 18:57] alsrgv commented on #129
It's actually a bit more complicated since we use `size()` in `allreduce()` as well (e.g., see [here](https://github.com/uber/horovod/blob/master/horovod/tensorflow/__init__.py#L75)).

One way of solving that can be to add back TensorFlow ops for `size()`, `rank()` and `local_rank()` and use those inside `allreduce()` and `DistributedOptimizer`.  Would that solve your problem?

[2017-12-21 19:01] gibiansky commented on #129
Oooh, good point. Wow, thanks for pointing that out, that would have really tripped me up.

I'm  not sure it's necessary to have `rank` and `local_rank` but yeah, I think the best fix would be what you said. (Easier hack is to just allow overriding size, but it's more hacky)

[2017-12-21 19:03] alsrgv commented on #125
@aellaboudy, I see that you have this line in your log:
[code]
At the same time, it appears that you have installed OpenMPI into `/usr/local/openmpi`.

Do you happen to have two version of MPI installed in your system?  You can check by doing `find /usr | grep mpi`.

[2017-12-21 19:11] aellaboudy commented on #125
Hmm...I'm running a Amazon EC2 deep learning instance, so it might be that OpenMPI was already installed in a different location. When I did the manual install I placed it in /usr/local, but I see from the find command that there is also native OpenMPI libraries is /usr/lib and /usr/include.

[2017-12-21 19:20] alsrgv commented on #129
Mostly for completeness sake. I like symmetrical APIs :-)

I should be able to do this change shortly.  Feel free to send a PR if you get to it first though.

[2017-12-21 19:23] alsrgv commented on #125
@aellaboudy, that may be tripping you up. Can you do:
[code]

[2017-12-21 19:25] alsrgv commented on #130
@dmadeka, can you try to reduce your batch size a little bit and see if it helps?

You can also try passing `device_dense='/cpu:0'` to `DistributedOptimizer` (not Adam) and see if that helps - but in general CPU allreduce is slower than NCCL allreduce.