[2020-01-23 16:38] tgaddair commented on #1686
Hey @sto-chastic, in the second example, you specify `-np 8` to `mpirun`:

[code]

But in the Horovod example run, you do not:

[code]

Please try providing `-np` when using Horovod, and try again.  Also, you may want to consider using `horovodrun` instead of `mpirun`.  Is there a reason you're using `mpirun` directly?

[2020-01-23 22:48] fanbeatsman commented on #656
I am having this problem too and none of the above steps are solving it for me.

Ubuntu 18.04
OpenMpi 4.0.2
Python 3.6.10
Cuda 10.0
Tensorflow 1.14

[code]

[2020-01-23 22:52] fanbeatsman commented on #431
I am having this problem too and none of the above steps are solving it for me. Nor did any of the solutions in https://github.com/horovod/horovod/issues/656

Ubuntu 18.04
OpenMpi 4.0.2
Python 3.6.10
Cuda 10.0
Tensorflow 1.14

To install Horovod, I did
conda create --name myenv3
conda activate myenv3
conda install python=3.6
conda install gcc_linux-64 gxx_linux-64
conda install pip
pip install --n

[2020-01-24 00:06] sto-chastic commented on #1686
Hello, thank you for your help. I tried adding np:
`mpirun --hostfile hostfile_horovod -np 4 -mca plm_rsh_args "-p 8022" python3 small:test.py` with the same result. Also, I do not use `horovodrun` since I use a custom port "-p 8022", and in the documentation I found, the example you provide for custom ports uses `mpirun`. I am not sure how to use custom ports directly with `horovodrun`

[2020-01-24 01:25] anishagartia commented on #431
Remove the dependencies as well:
pip-autoremove horovod -y

[2020-01-24 06:01] #1382 closed

[2020-01-24 20:55] tgaddair opened #1688 "TensorFlow master branch (tf-nightly) compatibility"
See: https://github.com/tensorflow/tensorflow/issues/35138

In TensorFlow 2.1, `experimental_run_tf_function` was removed from `tf.keras.Model.compile` at this commit: c73c99c#diff-de9b96ac2d81503324cbbbe21732031fR1159

In Horovod, this flag / graph mode is necessary in order for `Optimizer.get_gradients()` to be called, which aggregates gradients across workers. Since this flag has been removed,

[2020-01-25 00:12] fanbeatsman commented on #431
It didn't work. I kept making virtual envs which should remove dependencies.

What worked for me is completely removing Anaconda (because of it's compilers), recompiling openmpi (with system compilers) using https://www.open-mpi.org/faq/?category=building#easy-build,
making a clean python virtual env
pip install tensorflow==1.14
sudo apt-get install g++-4.8 (Needed because Horovod can't build tens

[2020-01-25 06:49] nskool opened #1690 "horovodrun convenience script does not account for 'OpenRTE' in the output of mpirun --version"
**Environment:**
1. Framework: (TensorFlow, PyTorch)
2. Framework version: 1.14.0
3. Horovod version: 0.16.4
4. MPI version: 3.1.4/4.0.1
5. CUDA version: 10.1
6. NCCL version: 2.4.8
7. Python version: 3.6
8. OS and version: Ubuntu, Docker
9. GCC version:5.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Yes, hasn't been specifically asked
4. Did you chec

[2020-01-25 17:09] karan6181 commented on #1690
I am also facing similar issue. It requires a feature support to add OpenRTE flags in `mpi_run.py` file. Please use `mpirun` command directly instead of `horovodrun` for now until this feature is supported.  By following this [link](https://www.open-mpi.org/faq/?category=building#easy-build) for building/installing OpenMPI , you will be able to run horovodrun command.

[2020-01-27 11:47] gobigrassland commented on #1652
test

[2020-01-27 16:03] nvcastet commented on #1688
To be clear, TF 2.1.0 release works fine because the https://github.com/tensorflow/tensorflow/commit/c73c99ca3e0bacf2bca313f270bb3eae28869530 commit is not included in it. It is currently in `master`, so the next release of TF will have the issue.

[2020-01-27 18:39] tgaddair commented on #1688
Thanks @nvcastet, good catch.  I'll update the issue.

[2020-01-27 21:06] brandon-biggs commented on #1677
@tgaddair No, recompiling MPI didn't seem to resolve my issue. I understand the complexity issue. I wasn't really looking for you to solve my issue here, I just wanted to make everyone aware of this issue that I was running into. Maybe someone will stumble upon this in the future.

@nvcastet `-H` doesn't work. I'm not sure why. Something to do with this version of openmpi, or a mix with Centos7 +

[2020-01-27 21:26] brandon-biggs opened #1691 "horovod.run.run throws error "not enough available slots""
**Environment:**
1. Framework: (**TensorFlow**, Keras, PyTorch, MXNet)
2. Framework version: 2.0
3. Horovod version: 0.19.0
4. MPI version: 4.8.5
5. CUDA version: 10.2
6. NCCL version: 2.5.6
7. Python version: 3.7
8. OS and version: Centos 7.7
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Couldn't find anything.
2. If your question i

[2020-01-28 00:49] tgaddair commented on #1690
Hey @nskool @karan6181 please try #1693 and let me know if it solves your issue.

[2020-01-28 01:12] tgaddair commented on #1691
Hey @brandon-biggs, does it work if you run `horovodrun -np 2 -H localhost:2 /path/to/python/python3.7 script.py`, or does that fail with the same error?

[2020-01-28 05:04] karan6181 commented on #1690
@tgaddair Yes working for me. Thanks for the quick fix!

[2020-01-28 14:08] nvcastet commented on #1677
@brandon-biggs I tried to google "behavior differences between --hostfile and -H MPI" but did not get anything. If you are interested in pursuing this mystery, it would be nice to get more info from the MPI guys by opening an issue at: https://github.com/open-mpi/ompi/issues (assuming you are using OpenMPI).

[2020-01-28 14:14] brandon-biggs commented on #1691
Hi @tgaddair Yes, `horovodrun --verbose -np 2 -H localhost:2 /path/to/python/horovod-0.19.0/bin/python horovod-run-run.py` worked. Here are the contents of `horovod-run-run.py`, very similar to cell 2 from above, except with a `if __name__ == "__main__":`

[code]

[2020-01-28 14:31] brandon-biggs commented on #1677
@nvcastet It really was a weird issue. Doesn't really matter to me. I installed a different version from source and it's fine now, assuming I use horovodrun with that new openmpi loaded of course :)

Really just wanted to make a note of it in case someone else ran into this issue as this stumped me for quite some time while I was trying to get horovodrun to work in my environment, especially since

[2020-01-28 14:47] nvcastet commented on #1677
@brandon-biggs Just for reference, which version of OpenMPI pulled by `yum install openmpi-devel` did not work and which one did work (built from source)?

[2020-01-28 14:54] brandon-biggs commented on #1677
`yum install openmpi-devel` installed -
[code]

From source, looks like the same version, but with different configure flags.
[code]
The config flags - `./configure --prefix=./openmpi/openmpi-4.0.2/ --with-tm=/opt/pbs/ --enable-mpirun-prefix-by-default`

[2020-01-28 14:59] nvcastet commented on #1677
@brandon-biggs That is the GCC version. To get the MPI version, run `mpirun --version`.

[2020-01-28 15:00] brandon-biggs commented on #1677
That's embarrassing. Both are 4.0.2

[2020-01-28 15:07] nvcastet commented on #1677
@brandon-biggs No problem. Just curious, can you try the default MPI with `horovodrun -np 16 --hostfile hostfile --mpi-args="--prefix <full_path>" python train.py` with `full_path` being the absolute path of your MPI folder e.g. `/opt/openmpi/openmpi-4.0.2/`?

[2020-01-28 15:22] brandon-biggs commented on #1677
@nvcastet
[code]

[2020-01-28 15:29] nvcastet commented on #1677
@brandon-biggs Ok i found the issue: https://www.mail-archive.com/devel@lists.open-mpi.org/msg18505.html
In version `1.10`, specifying the number of slots on the command line with `-H` is not supported, so it considers the `:4` as part of the hostname.

[2020-01-28 17:07] #1690 closed

[2020-01-28 17:23] tgaddair commented on #1677
Nice find @nvcastet!  I think a sufficient solution to this issue is to note in our docs that `horovodrun` with Open MPI requires version > 2.  What do you think?

[2020-01-28 17:59] tgaddair commented on #1691
Hey @brandon-biggs, based on the conversation in #1677, it sounds like `horovod.run.run` is picking up an old version of Open MPI (< 2.X).  Is it possible that the old version of MPI was not uninstalled completely?

[2020-01-28 18:52] nvcastet commented on #1677
@brandon-biggs  For RHEL/CentOS 7, the version 3 of MPI should be present in their repo:
`sudo yum install openmpi3-devel` (notice the number `3` in the package name). But to get the latest version, you will need to compile.

[2020-01-28 18:53] nvcastet commented on #1677
@nvcastet Yes that should be fine.

[2020-01-28 19:01] #1677 closed

[2020-01-28 19:30] apeforest commented on #1669
@ahmadki Do you need any help with this PR? Thanks!

[2020-01-28 19:31] apeforest commented on #1669
There is another report of this issue (https://github.com/horovod/horovod/issues/1519). It would be great if you could provide an ETA for this fix. Thanks!

[2020-01-28 19:50] brandon-biggs commented on #1691
@tgaddair I don't think it's the issue mentioned in #1677 for a couple of reasons. 1) I've uninstalled that older version of OpenMPI and I'm still getting the same issue. 2) Inside of my Jupyter notebook, I'm checking to make sure the updated version of OpenMPI is loaded, and it is. Still getting the same error.

[2020-01-28 22:42] sonNeturo commented on #1685
Couldn't get mpi to work properly, but succeeded to run the examples through the docker image. Closing, the issue.

[2020-01-28 22:42] #1685 closed

[2020-01-30 00:23] szhengac opened #1699 "Average gradients before allreduce"
When a large number of workers with half-precision are used, allreduce can possibly cause overflow. Thus, one solution is to divide the gradient by number of workers before performing allreduce while the averaging is performed after the allreduce in horovod.

[2020-01-30 00:32] tgaddair commented on #1699
Hey @szhengac, have you observed overflow issues during training?  We experimented with a divide-before-sum approach in the past, and found that it was more likely to lead to underflow (as gradients tended to have smaller magnitudes on average, see [this](https://docs.nvidia.com/deeplearning/sdk/mixed-precision-training/index.html) page from NVIDIA).

But we can definitely consider providing both

[2020-01-30 00:59] szhengac commented on #1699
Yes. I observed overflow when I trained large bert with hundreds of gpus. Providing both options looks good to me.

[2020-01-30 01:53] tgaddair commented on #1699
Sounds reasonable, should be pretty straightforward.  We already have the branch containing the divide-before-sum implementation on GitHub [here](https://github.com/horovod/horovod/compare/fp16_divide_before_sum), though it's from an old version of Horovod.

[2020-01-30 23:10] ahmadki commented on #1669
Sorry for going  AWOL. Incorrect output tensor shape was only the symptom, and the problem is much deeper than I originally though. I got tied up with other things at work and I won't be able to take a second crack at a solution before next week. A summary of my findings so far:

The allgather output nd-tensor is defined [here](https://github.com/horovod/horovod/blob/master/horovod/mxnet/mpi_ops.p

[2020-01-31 09:31] hoangcuong2011 commented on #1412
For some unknown reasons to me I got this issue as well. Nonetheless by uninstalling horovod and installing it again with HOROVOD_WITH_MPI=1 flag helps, as suggested by @tgaddair. Thx @tgaddair

[2020-01-31 13:36] abhi278 commented on #221
Tried horovod again today with docker. Following are the results:
Versions:
horovod: 0.19.0
mpirun: 4.0.0
environment: docker
example: tensorflow2_synthetic_benchmarks.py provided in horovod/examples
GPU: nvidia 1080Ti - one per node

- Scenario 1: 1 GPU, local machine
command:
`horovodrun -np  -H localhost:1 python3 tensorflow2_synthetic_benchmark.py`
Output:
[code]

- Scenario 2: 2 GPUs. 1 on lo

[2020-02-02 12:44] saareliad commented on #82
Yes it does, see [here](https://www.open-mpi.org/faq/?category=runcuda),
it disables using cuda-aware via PCI.

(I got problem with it when using RTX2080ti without NVlinks, as Nvidia disabled using p2p via PCI for the entire Turing GPU architecture).

[2020-02-02 22:25] sonNeturo opened #1706 "Install horvod on Nvidia's NCG vmi"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) PyTorch
2. Framework version:
3. Horovod version: latest in pip
4. MPI version: PyTorch
5. CUDA version: V10.2.89
6. NCCL version: 2.5.6
7. Python version: 3.6.9
8. OS and version: Ubuntu 18.04
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about

[2020-02-03 19:21] denfromufa commented on #655
you probably built against one mpi version and then running horovod in another mpi version.

[2020-02-03 21:17] jarednielsen commented on #1706
Also experiencing the same issue, any resolution?

[2020-02-03 22:05] jarednielsen commented on #1706
Found the answer here: https://blog.csdn.net/baidu_27167467/article/details/79657476

[code]

Would love an explanation of why this works, or a less hacky way to do it :)

[2020-02-03 23:45] romerojosh commented on #1706
Please try adding the following to your posted installation command: `HOROVOD_NCCL_INCLUDE=/usr/include HOROVOD_NCCL_LIB=/usr/lib/x86_64-linux-gnu HOROVOD_NCCL_LINK=SHARED`.

[2020-02-04 01:35] abditag2 commented on #1688
we have a temporary fix for this in https://github.com/horovod/horovod/pull/1692

However, we are working with TF team to come up with a better solution here: https://github.com/tensorflow/tensorflow/issues/36398

[2020-02-04 04:08] jarednielsen commented on #1706
I did that, didn't help. sonNeturo also mentions trying the same thing at the bottom of his issue.

[2020-02-04 09:04] Richie-yan opened #1707 "Horovod Timeline shows ALLREDUCE (Did Not Finish)"
It is found that the phenomenon of ALLREDUCE (Did Not Finish) will appear on the generated timeline of Horovod. What is the reason for this phenomenon?
<img width="1373" alt="屏幕快照 2020-02-04 下午5 03 28" src="https://user-images.githubusercontent.com/41471499/73729595-4ce1d800-4770-11ea-865d-bf6d37b6531e.png">

[2020-02-04 22:01] apatsekin commented on #1651
Got similar error while using keras. Container: nvcr.io/nvidia/tensorflow:20.01-tf1-py3

[code]

[2020-02-04 23:11] sonNeturo commented on #1706
@jarednielsen There's the additional `HOROVOD_NCCL_LINK=SHARED` that I didn't have in my initial comment. Now it installed correctly.
Cheers @romerojosh .

[2020-02-04 23:11] #1706 closed

[2020-02-04 23:16] DEKHTIARJonathan commented on #1651
Can you execute `nvidia-smi` inside the container

[2020-02-05 00:11] apatsekin commented on #1651
@DEKHTIARJonathan
I run it through `mpirun` directly (instead of horovodrun). And more verbose output gave more context:
[code]

It's a kind of confusing to me. Since There are 250 GB free RAM and 500 GB disk space on /.
[code]

I'm getting this error while running tensorflow_mnist.py or keras_mnist examples. It works for 1 GPU, 2 GPU. But fails starting 3+ GPUs.

[2020-02-05 01:11] DEKHTIARJonathan commented on #1651
Can you try this:

[code]

[2020-02-05 02:41] apatsekin commented on #1651
Added to https://github.com/horovod/horovod/blob/7d7a9df9ffb77a121030207f1659ec6c9afaa8ed/examples/tensorflow_mnist.py#L151

[code]
Running:
[code]

Output:
[code]
Detailed description how to reproduce I left on Stackoverflow: https://stackoverflow.com/questions/39901311/docker-ubuntu-bash-ping-command-not-found

[2020-02-05 02:50] DEKHTIARJonathan commented on #1651
Remove: config.gpu_options.allow_growth = True
It overwrites memory management restrictions. Shall be avoided in general

[2020-02-05 03:01] apatsekin commented on #1651
Same error

related snippet of the file:
[code]
I also set checkpoint_dir=None to exclude possible errors while trying to write the disk. But it doesn't help.

[2020-02-05 04:38] DEKHTIARJonathan commented on #1651
Do you have this server in premise or you rent to AWS or smthg?

[2020-02-05 05:05] apatsekin commented on #1651
On premises
I tried on another server with most recent CUDA/Nvidia drivers. Same error.

However, everything works fine with nvcr.io/nvidia/tensorflow:**19.10**-py3

[2020-02-05 05:06] DEKHTIARJonathan commented on #1651
Sorry, can't tell. We don't support servers with non Tesla products. I can't even reproduce your issue.

[2020-02-05 08:38] zrss commented on #1634
/cc

i met the same thing, i doubt it's relative to the GPU deivce ...

[2020-02-05 09:16] Stonesjtu commented on #1634
Afaik, GeForce GPU like 2080ti does not support p2p access anymore.

[2020-02-05 14:24] brandon-biggs commented on #1691
@tgaddair Sorry to bother y'all again with this. I'm out of ideas for this. Seems like it's close, but I'm not sure what I'm doing wrong/what's going wrong.

[2020-02-05 15:13] jiawensong opened #1710 "pytorch blocked with two machine"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
pytorch
2. Framework version:
torch==1.3.1
3. Horovod version:
0.19.0
4. MPI version:
openmpi-4.0.1
5. CUDA version:
cuda:10.0-cudnn7-devel-ubuntu18.04
6. NCCL version:
2.4.2
7. Python version:
python3.6
8. OS and version:
ubuntu18.04
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question b

[2020-02-05 17:16] tgaddair commented on #1710
Hey @jiawensong, what version of NCCL are you using?  We've seen this error come up a few times before (#893, #1122), and in both cases it was caused by a bug in NCCL 2.4.X.

[2020-02-05 17:19] tgaddair commented on #1691
Hey @brandon-biggs, no worries at all, sorry we haven't found a solution for you yet.  We have so far been unable to reproduce the issue.  I still suspect it is an environment issue of some kind.  @WeichenXu123, since you worked on this feature, do you have any thoughts on what might be causing this?

[2020-02-05 22:29] awan-10 opened #1712 "Is Keras (with MXNet backend) supported by Horovod?"
**Environment:**
1. Framework: (MXNet)
2. Framework version:
3. Horovod version: 0.19.0
4. MPI version:
5. CUDA version: 10.1
6. NCCL version: N/A
7. Python version: Python3
8. OS and version: RHEL 7
9. GCC version: gcc 8.3.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod

[2020-02-05 22:33] tgaddair commented on #1712
Hey @awan-10, at the moment we only support Keras with a TensorFlow backend, but this sounds like it would be worth adding support for.  @apeforest, is this on your roadmap, or do you have an estimate for how difficult it would be to support this?

[2020-02-06 09:50] marcelgwerder commented on #1198
@adriancaruana Ever figured out what your issue was exactly? I see similar behavior with my PyTorch code. My training also looks like I'm only training on 1/4 of the dataset and I am also using Adam.

[2020-02-06 16:38] jiawensong commented on #1710
i meet this problem in nccl 2.4.2. Then i have changed the version to 2.5.6, the code can run correctly. Thanks for your help.

[2020-02-06 16:38] #1710 closed

[2020-02-06 17:31] #1559 closed

[2020-02-06 19:58] awan-10 commented on #1712
@tgaddair - Thanks for your quick response! It will be great to have this support as Keras is a good bridge between two major frameworks (TF and MXNet). It will also simply my life as a person developing benchmarks for distributed training using different frameworks.

[2020-02-07 19:36] 652994331 opened #1713 "Problem about the hostname"
I am using a cluster(there are multi gpus here). However, this cluster has an old problem. the node name of each machine(hostname) contain "_". when i tried to use horovod on the machines in this cluster. invalid hostname (because of "_" in the hostname of the machine) cause problem. however, this hostname problem can not be modified because of the rules of the cluster. My question is: Is there an

[2020-02-07 21:02] tgaddair commented on #1713
Hey @652994331 can you share the full error message you see?  This may be MPI specific.  If so, you could consider using our [Gloo](https://github.com/horovod/horovod#gloo) controller instead.

[2020-02-08 02:57] raz-bn opened #1715 "Dealing with datasets when using Horovod on k8s cluster"
Hey! I would like to provide Horovod infrastructure on my organization GPU k8s cluster.
The only issue I struggle with is to find a solution on how to deal with large datasets.
I looked over some other issues and saw you are recommending to split the datasets into smaller datasets #249 #166 and then read them at random order.

However, I would like that my researchers won't have to deal with it, s

[2020-02-08 16:34] Tron-x opened #1716 "Increasing the number of tfrecord data blocks leads to test accuracy loss"
I am running a distributed training experiment, training Imagenet to use resnet50. When I shard Imagenet into 1024 tfrecord, the experiment is correct, whether I use 1024gpu or 2048gpus. But when I shard Imagenet into 2048 tfreocrd. No matter how many cards I use(8gpus, 1024gpus，2048gpus), the test accuracy will be lost. But I didn't find out what was wrong with reading the data. The training scri

[2020-02-08 18:46] tonyreina commented on #686
I'm having the same error with TensorFlow 1.15 and the latest Horovod.

$ protoc --version
libprotoc 3.11.2

I don't really want to have to hack the protoc just to get Horovod to work. Is there some way the install package can be changed to correct the error?

[2020-02-10 11:53] veritas9872 commented on #851
I also have the same error but erasing then reinstalling doesn't work for me either. I am using Pytorch 1.4 OpenMPI 4.0.1. and horovod 0.18.

[2020-02-10 12:01] veritas9872 commented on #851
I suspect that it has something to do with the installation process of horovod. When I try to specify CUDA settings during the install, it keeps failing.

[2020-02-10 18:43] brandon-biggs commented on #1691
@tgaddair What kind of a demo do y'all run? And do you do anything special to launch your Jupyter Notebooks? Could you share your horovod.run.run notebook so I could give it a shot in my environment?

[2020-02-10 19:17] brandon-biggs commented on #1691
@tgaddair Scratch my last post. I finally resolved the issue. The key was in the message the debug output whole time, we just never thought to try it I guess.

[code]
This solved all of my problems. I updated your `horovod/run/mpi_run.py` locally on line 117 and added `--oversubscribe` and it finally started working. [After some Googling](https://stackoverflow.com/a/40044717), apparently the funct

[2020-02-11 03:17] Keepmoving-ZXY opened #1719 "Can horovod run with OpenMPI's allreduce implement?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)TensorFlow
2. Framework version:1.13.1
3. Horovod version:0.19.0
4. MPI version:4.0.2
5. CUDA version:10.0
6. NCCL version:2.4.2
7. Python version:3.6.8
8. OS and version:CentOS 7.6
9. GCC version:4.8.5

I am try to bring `usnic`(a `NIC`  support `DMA`) to allreduce of deep learning framework. Currently, `usnic` can be used  by `Ope

[2020-02-11 17:04] tgaddair commented on #1719
Hey @Keepmoving-ZXY, Horovod does support OpenMPI for allreduce.  If you want to use MPI for operations on GPU memory, you need to set `HOROVOD_GPU_ALLREDUCE=MPI` at install time (see docs [here](https://github.com/horovod/horovod/blob/master/docs/gpus.rst#advanced-have-a-proprietary-mpi-implementation-with-gpu-support-optimized-for-your-network)).

[2020-02-11 17:13] tgaddair commented on #1716
Hey @Tron-x, that's very strange.  I'm not familiar with this implementation of ImageNet training.  Have you tried our [keras_imagenet_resnet50.py](https://github.com/horovod/horovod/blob/master/examples/keras_imagenet_resnet50.py) example?  Does it have similar issues as the tfrecord block size changes?

[2020-02-11 20:00] apatsekin commented on #55
`You will see instance-4:700:785 [0] INFO 0 -> 1 via direct shared memory when GPUs are unable to talk directly.`

How to address this? Is it hardware or software issue? We have single-machine 8x GPU setup
[code]

[2020-02-11 21:33] tgaddair commented on #1715
Hey @raz-bn, to answer your first question, we commonly recommend using the [petastorm](https://github.com/uber/petastorm) framework for reading data to automatically handle sharding, partitioning, shuffling, etc.  I would suggest taking a look at that first and let us know if you have any thoughts on how it might be improved to fit your use case.

For your second question, you generally do not wa

[2020-02-11 22:05] raz-bn commented on #1715
@tgaddair Thanks for the replay!
So just let me know if I get you right.
I'm going to generate the Petastorm dataset (parquet file), store in S3 and read it with the Petastrom API (sharding and shuffling) and that should do to trick?

Can you provide details about the networking consequences of such an approach?

[2020-02-11 22:26] tgaddair commented on #1715
Hi @raz-bn, that's the general idea, yes.  We have an example [here](https://github.com/horovod/horovod/blob/master/examples/keras_spark_rossmann_run.py#L453) that shows you what the API would look like for Horovod + TensorFlow.

@selitvin, who owns the Petastorm project, could give you more details about the network implications.  Because Petastorm makes good use of caching and prefetching, you s

[2020-02-11 22:39] raz-bn commented on #1715
Thanks! @tgaddair
is there any slack channel for Horvod or Petastorm?

[2020-02-11 22:47] tgaddair commented on #1715
No problem @raz-bn.  I'm not sure about Petastorm, but we have a slack channel for Horovod at horovod-ai.slack.com.

[2020-02-11 23:51] Keepmoving-ZXY commented on #1719
ok, thank you, I will try to find another way to achieve this.

[2020-02-11 23:51] #1719 closed

[2020-02-12 00:10] raz-bn commented on #1715
@tgaddair seems like I need an invitation to get into your slack channel

[2020-02-12 02:10] tgaddair commented on #1715
@raz-bn do you have an email I can use to send you an invite?

[2020-02-12 13:31] raz-bn commented on #1715
@tgaddair Yes, Im going to send you an email about it (for privacy reasons)

[2020-02-13 13:50] Ricahrd-Li commented on #1340
I also want to ask for a solution, thx!

[2020-02-13 14:18] Ricahrd-Li commented on #1340
I find a solution. Just have all the paths of python3 on your servers be the same. For example, I use 2 servers gpu1 and gpu2, then I have the same python3 path that `horovod_venv/bin/python3"`.

[2020-02-14 04:09] sazzad1012 opened #1723 "AWS DLAMI upgrade to Horovod Spark"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-02-14 04:23] tgaddair commented on #1723
Hey @sazzad1012, happy to help.  Can you share the error message along with the exact command you used to install Horovod?

[2020-02-14 09:41] Ricahrd-Li commented on #1338
I meet the same problem but I'm NOT using container.

Framework: mxnet-cu101
Horovod version: 0.19.0
MPI version: Open MPI: 3.1.2
CUDA version: 10.1
NCCL version: 2.4.2
Python version: 3.6.8
OS and version: linux 3.10.0-957.21.2.el7.x86_64
GCC version: 5.4.0
After execuate:
`NCCL_SOCKET_IFNAME=xxxxxx horovodrun -np 2 -H gpu15:1,gpu16:1  --start-timeout 60 --verbose python3 xxx`
I get
`Exception: T

[2020-02-14 09:42] chengdianxuezi commented on #1673
Has this problem been solved？I also have this problem

[2020-02-14 09:55] Ricahrd-Li commented on #1338
I just found that if I set --start-timeout be 300, then it works. Sorry for bothering you.

[2020-02-14 13:42] sazzad1012 commented on #1723
Hello Travis. Thanks a lot for your prompt response. I have two issues, one
is withe the DLAMI. The other is installing Horovod from scratch on an AWS
EC2 gpu instance. But for this I can't even downgrade to g++-4.9 on
Ubuntu18.04.  I have tried various suggestions offered at Stackoverflow
(see below). Pls let me know what is the best way to proceed to have
Horovod installed on AWS instances. Your

[2020-02-14 17:47] romerojosh commented on #1673
Due to clustering of ops by XLA, enabling XLA can cause Horovod ops to no longer overlap (or overlap less efficiently) with computation, causing degradation in scaling performance. The issue is that Horovod will only be informed of tensors needing processing between XLA clusters. With that being said, depending on the scale you are running at, the increase in performance provided by XLA may outwei

[2020-02-15 12:39] Ricahrd-Li commented on #1039
I also meet this kind of problem but for me is pytorch.
` error: can't copy 'build/lib.linux-x86_64-3.6/horovod/torch/mpi_lib.cpython-36m-x86_64-linux-gnu.so': doesn't exist or not a regular file
`

[2020-02-17 15:31] brandon-biggs opened #1724 "Horovod.run.run on multiple hosts kills jupyter notebook session"
**Environment:**
1. Framework: (**TensorFlow**, Keras, PyTorch, MXNet)
2. Framework version: 2.0
3. Horovod version: 0.19.0
4. MPI version:
[code]
5. CUDA version: 10.2
6. NCCL version: 2.5.6
7. Python version: 2.7
8. OS and version: Centos 7,7
9. GCC version:
[code]
**Checklist:**
1. Did you search issues to find if somebody asked this question before? No
2. If your question is about hang, did yo

[2020-02-17 15:36] kangp3 opened #1725 "PID KeyError in broadcast_optimizer_state"
**Environment:**
1. Framework: PyTorch
2. Framework version: `torch==1.4.0`, `torchvision==0.5.0`
3. Horovod version: `horovod==0.19.0`
4. MPI version: Open MPI 4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.2-1+cuda10.0
7. Python version: 3.7.6
8. OS and version: Ubuntu 18.04
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If you

[2020-02-17 15:56] amnda-d commented on #1725
This script seems to consistently reproduce the error in our environment:

[code]

[2020-02-17 19:49] tgaddair commented on #1724
Hey @brandon-biggs, does it also fail if you use `horovodrun` as opposed to `mpirun`?  The code paths should be very similar.

[2020-02-17 20:12] brandon-biggs commented on #1724
Thanks @tgaddair sorry for all the problems I'm causing. Hopefully these problems are more helpful to y'all than annoying :)
[code]
Hmm.. How interesting. Quite the issue. The interface names definitely aren't the same. It's not on purpose that they're different. When we set this system up, we never really had a purpose to having them be the same or different, it just happened.

According to the d

[2020-02-17 21:38] tgaddair commented on #1725
Thanks for raising this issue @kangp3 and thanks for the repro @amnda-d.  Looks like this bug was introduced by #1609, where we fixed this method to skip setting state on params that do not require grads, but didn't fix the attempt to broadcast those params.

#1726 should fix the issue, feel free to try it out and let me know how it goes.

Thanks!

[2020-02-18 01:55] #1725 closed

[2020-02-18 02:54] enduringstack opened #1727 "horovod.run.run can not debug under pycharm"
**Environment:**
1. Framework: TensorFlow
2. Framework version:1.12
3. Horovod version:0.18.2
4. MPI version:openmpi 4.0
5. CUDA version:9.2
6. NCCL version:2.4.2
7. Python version:3.6.8
8. OS and version:ubuntu 16.04
9. GCC version:4.8.4

horovod.run.run can not debug under pycharm.  The configuration I refer to this issue： https://github.com/horovod/horovod/issues/1360

[code]

[2020-02-18 09:20] uniwuppes commented on #1458
I'm getting the same error when trying to run the `tensorflow2_keras_mnist.py` example on 2 nodes with 1 GPU each using `-np 2`.
I added these 2 prints for debugging:
[code]
And I'm getting this output:
[code]
Why is local_rank = 1 for the second node?

[2020-02-18 15:47] brandon-biggs commented on #1727
Wasn't horovod.run.run released in horovod version 0.19.0?

How about trying to use horovodrun instead of horovod.run.run?

[2020-02-18 17:53] tgaddair commented on #1724
That's a good question, @brandon-biggs.  cc @abditag2, who did the original implementation of `horovodrun`.  Do you know the reasoning for including interfaces instead of excluding unroutable interfaces?  It may make sense to allow users to circumvent this behavior in some way.

[2020-02-18 18:11] tgaddair commented on #1727
Hey @enduringstack, are you having trouble running the program at all or just debugging?  I believe your command line should have `--module horovod.run.run` instead of `--file`, but I'm not familiar enough with pydevd to know for sure.

[2020-02-19 00:48] enduringstack commented on #1727
@tgaddair
Thanks for your reply.

The program uses the following command, which can run normally：
[code]

And using pycharm and module configured as `horovod.run.run`, and using pycharm running mode, the program also running normally.
[code]

however，when change to debug mode. it can not run normally.

and I have try the other program not using `horovod.run.run`， in debug mode， they can run normal

[2020-02-19 03:30] howardgriffin commented on #1417
I have the same problem when I train a GAN. Could anyone help me sovle it?

[2020-02-19 07:40] czs1886 commented on #403
I also got this problem when I train my pytorch model using horovod. I partitioned the validation set by ranks, why does it still get this warning? @alsrgv

[2020-02-19 16:49] Tron-x commented on #1716
Hi, this script mainly implements Lars algorithm and some parameter tuning to ensure the accuracy of large batch training. This problem seems strange. I tried another script, but it didn't appear this problem, but I couldn't find where the script problem occurred。

[2020-02-19 17:41] shailensobhee commented on #1483
Just in case you came here experiencing a similar problem with Tensorflow >=1.15 on CentOS 7 which ships with an old version of GCC (4.x), here is what you could do to get the latest version of Horovod (v1.19 at the time of writing) to work:

**Steps:**
Install GCC8 toolchain on CentOS 7:

[code]

**Result:**

[2020-02-19 18:17] tgaddair commented on #1417
Hey @ldd91 @RayOct18 @howardgriffin, the issue here seems to be that every time `loss.backwards()` is called, all optimizers receive gradients, and if `optimizer.step()` or `optimizer.synchronize()` isn't called before `optimizer.zero_grad()` after that, then this exception is raised.

You can workaround this by calling `optimizer.synchronize()` before calling `optimizer.zero_grad()`.  This will c

[2020-02-19 22:09] abditag2 commented on #1724
After looking carefully into this, matching interface names is not something that is strictly necessary. If I remember correctly, we chose this because explicitly specifying what NIC to use rather than excluding some NICs, seemed simpler and compatible with most of the common naming scheme on cloud and on-prem machines.

I don't disagree with switching to excluding the unroutable interfaces. Note

[2020-02-20 05:35] lpinilla commented on #415
Can confirm, had the same problem and creating the priv/pub keys and the authorized_keys file from root user fixed my problem

[2020-02-20 14:39] brandon-biggs commented on #1724
Hi @abditag2 Thanks for the feedback. That makes sense as to why it may be an option, but it seems like it's being strictly enforced right now. I could be wrong, I just never saw an option as to where I could specify a way to ignore this.

Is there a way to ignore strict enforcement so that I can submit to multiple nodes or is there something in the code that's going to need to change?

[2020-02-20 14:44] canisn opened #1729 "problem when I use DistributedAdasumOptimizer"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow
2. Framework version:
1.14.0
3. Horovod version:
1.19.0
4. MPI version:
4.0.2
5. CUDA version:
no
6. NCCL version:
no
7. Python version:
3.6.5
8. OS and version:
Linux version 3.10.0-862.3.3.el7.x86_64 (builder@kbuilder.dev.centos.org)
9. GCC version:
(gcc version 4.8.5 20150623 (Red Hat 4.8.5-28) (GCC) )
**Checklist:**

[2020-02-20 19:15] abditag2 commented on #1724
we don't have an option right now. I will submit a fix for this asap. In the meanwhile, can you rename your NICs to get unblocked?

[2020-02-20 22:19] abditag2 commented on #1729
We do not call the stand-alone optimizer, rather we dynamically create a new python optimizer class, with the same name and attributes of the original optimizer except we overwrite get_gradients with all_reduced gradients. That is why if you print the type of the distributed_optimizer, you will get the same name as the original optimizer that you passed in. If you inspect more with `ipdb` you can

[2020-02-20 22:21] abditag2 commented on #415
In order for horovod to work, the driver needs to be able to ssh into all the workers and all the workers need to be able to ssh into each other (this is a superset of the actual condition in the ring) without any password prompts. So pub private keys and list of authorized_keys must have been configured properly.

[2020-02-21 03:49] jyhengcoder commented on #1435
I meet the same problem in tensorflow1.15.0. I got error when installing horovod by`pip install horovod`. @tgaddair

[2020-02-21 03:53] zmldndx commented on #1729
I got the same problem. _DistributeAdasumOptimizer does not call _apply_shared which calls allreduce(In _apply_shared function, _get_or_make_slot with 2 inputs is not found in source code), it seems that it only compute and apply gradients locally. I changed __init__.py under horovod/tensorflow as follow, please help to check if there is any problem:
https://github.com/horovod/horovod/compare/mast

[2020-02-21 05:56] ldd91 commented on #1417
Thank you for your reply,i will have a try,and show the result.

[2020-02-21 06:14] lpinilla commented on #415
I understand the need but on the [instructions](https://github.com/horovod/horovod/blob/master/docs/docker.rst), there isn't step for the master to listen for ssh on specific ports (like they do with the slaves using /usr/sbin/sshd -p 12345) so, when the slave machine ssh's to the master, wouldn't it be connecting to the host machine because of the --network=host flag?

[2020-02-21 10:58] hoangcuong2011 commented on #1616
I think I found a way to overcome this issue - instead of running with nohup, I can run horovod with & command. For instance:

horovodrun -np 8 -H localhost:8 python -u mycode.py > ./mylog_file 2>&1 &

With this I did not find the issue.

[2020-02-21 10:58] #1616 closed

[2020-02-21 15:35] nanne-aben opened #1732 "S3Store on hovorod.spark.common.store"
I'm interested in using Hovorod on our Spark cluster, but I'd like to use it with S3 rather than HDFS.

[2020-02-22 13:34] canisn commented on #1729
@abditag2  Thanks for your reply.
However, I still think that when the adasum strategy is executed, all_reduce operations are not performed between multiple machines. There is evidence to prove my point. When I use distributed training for a period of time, I save checkpoints under each machine. These checkpoints are used to predict the same data, and their predictions vary widely.
In addition, th

[2020-02-22 13:38] canisn commented on #1729
@abditag2 ,thank you for your reply.
However, I still think that when the adasum strategy is executed, all_reduce operations are not performed between multiple machines. There is evidence to prove my point. When I use distributed training for a period of time, I save checkpoints under each machine. These checkpoints are used to predict the same data, and their predictions vary widely.
In addition,

[2020-02-22 20:35] jarednielsen commented on #1324
@Kohulan Did you find a solution? I'm hitting the same issue.

[2020-02-24 05:52] czs1886 commented on #1725
what model are you training? I encountered with this problem when I was training faster-rcnn.

[2020-02-24 08:53] Kohulan commented on #1324
@jarednielsen I had to divide the workload by step size, not epoch size. Meanwhile, try to update TensorFlow 2.0 to the stable version.

[2020-02-24 08:53] #1324 closed

[2020-02-24 17:03] tgaddair commented on #1732
Hey @nanne-aben, thanks for the feature request.  I think this should be doable given that PyArrow now natively supports S3.  I can try putting together a quick PR for you to try out.

[2020-02-24 23:06] LearnedVector commented on #1281
@tgaddair  @kaituoxu any update if this works?

[2020-02-24 23:14] tgaddair commented on #1281
Hey @LearnedVector, the `broadcast_object` function is available in Horovod v0.19.0.  Can you give it a shot and let me know if it works for you?  I haven't run into any issues in my tests.

[2020-02-25 03:46] ivankxt opened #1734 "DataType string not in list of allowed values variables -- ctr model(embedding+fc)"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13.1
3. Horovod version: 0.19
4. MPI version:4.0.0
5. CUDA version: release 10.0, V10.0.130
6. NCCL version: 2.4
7. Python version: 3.6
8. OS and version: Ubuntu 16.04.4 LTS
9. GCC version: 4.9.4

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [

[2020-02-25 08:06] nanne-aben commented on #1732
Hi @tgaddair, that'd be great! Thanks! Let me know when it's there, would be more than happy to look at the PR.

[2020-02-25 20:42] tgaddair commented on #1729
@Tixxx @kit1980 could you take a look at this issue?

[2020-02-25 20:45] tgaddair commented on #1727
Hey @enduringstack, which part of Horovod are you attempting to debug?  In general, it would not be possible to attach a debugger this way to the training script itself, as that gets executed as separate processes.  If your goal is to debug the training script, we might want to explore other debug options.

[2020-02-26 00:31] jarednielsen opened #1735 "`hvd.allreduce(..., op=hvd.Adasum)` can't compile inside tf.function"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.1 (also occurs in 2.0)
3. Horovod version: 0.19.0
4. MPI version: 3.1.4
5. CUDA version: 10.2
6. NCCL version: 2.5.6
7. Python version: 3.6
8. OS and version: Linux
9. GCC version: 7.4.0

(Nvidia docker container - nvcr.io/nvidia/tensorflow:20.02-tf2-py3)

**Bug report:**
Running `hvd.allreduce(loss, op=hvd.Adasum)` fails with error

[2020-02-26 00:34] tgaddair commented on #1735
Hey @jarednielsen, Adasum does not yet support TF 2.X, though that work is in progress.  @Tixxx might be able to tell you more.

[2020-02-26 06:09] enduringstack commented on #1727
@tgaddair  Thanks for your reply.

I attempt to debug my own code(TensorFlow code with eager execution), not horovod source code.

And after using horovod in my code, the training speedup is obvious. However，sometimes， I want to debug something, and running without horovod is too slow.  So I want to konw how to debug code with horovod.

[2020-02-26 09:44] marktsai123 opened #1737 "When training tensorflow deeplab v3+, the loss increase quickly when using Horovod ."
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.12.3
3. Horovod version: 0.19.0
4. MPI version: 4.0.2
5. CUDA version: 9.0
6. NCCL version: 2.5.6
7. Python version: 3.5
8. OS and version: ubuntu 16.04
9. GCC version: 4.9

**Question**
When training model with Horovod 1 host 2 gpu, the loss increase quickly. It's normal in 1 host 1 gpu.

The repository location:
https://github.com

[2020-02-26 21:45] garudareiga opened #1738 "Horovod crashed with Auto Mixed Precision Training"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14
3. Horovod version: 0.18
4. MPI version: 4.0.1
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/d

[2020-02-27 03:57] Young768 commented on #1558
@tgaddair Hi, I found a paper related to this idea. The basic idea is to synchronize partial results among workers. For example, we have two workers, fast w0 and slow w1. When we call the allreduce operation, only the gradients from worker w0 is ready, i.e. g0. Since w1 has no output yet, it will synchronize a NULL with g0 via the allreduce. In the next iteration, if it can catch up with other pro

[2020-02-27 05:23] Young768 commented on #1558
Hi, @tgaddair "Once a tensor is ready to be reduced, the coordinator sends a Response instructing all ranks to start the reduction to all ranks." Does the function ConstructResponse(std::string& name, int joined_size = 0); check if tensors from all the rank are ready and then start the reduction?

[2020-02-27 05:30] Tron-x commented on #1558
Can we talk about it? I'm interested in it，can you give me your email?

[2020-02-27 05:52] tgaddair commented on #1558
Hey @Young768, thanks for looking into this!  I think your approach makes sense.  For frameworks like TensorFlow and PyTorch, one way to accomplish what you suggest would be to have the `hvd.allreduce` op return immediately with a zero tensor (no gradient update) the first time it's called, then always return the result of the previous step's allreduce afterwards.

When the allreduce completes, yo

[2020-02-27 06:05] Young768 commented on #1558
Hi @Tron-x my email is dyang33@uncc.edu
@tgaddair Yes, this design is optional. I think it has 3 cases. Lets say we have two processes p0 and p1. Normally, we should average gradients from these two processes, g0 and g1. If p0 is a slower one, then we might a zero tensor with g1. In the next iteration, we might average (g0' + g0) and g1 if p0 can catch up. Here, g0' is from the previous iteration.

[2020-02-27 07:59] novoforce commented on #1668
Hey @lushishuai did you uninstall horovod first before reinstalling horovod.
Please do the following:
1. pip uninstall horovod
2. HOROVOD_WITH_PYTORCH=1 pip install --no-cache-dir horovod

My problem is solved now !!
Thanks @tgaddair for the solution

[2020-02-27 09:16] wangli1426 opened #1741 "Any performance benchmark on alternative communication libraries?"
I am a big fan of Horovod and our team has been using Horovod for distribute training since last year.

Currently, there are multiple communication libraries available to Horovod, e.g., MPI, gloo.

As an end-user, may I ask which one is recommended and is there any benchmark comparing the performance of Horovod under different communication libraries?

Thank you.

[2020-02-27 14:10] jacob1017 opened #1742 "V0.19.0 allreduce not working"
**Environment:**
1. Framework: pytorch
2. Framework version: 1.3.0
3. Horovod version:0.19.0
4. MPI version:mpich 3.3a2
5. CUDA version:10.1
6. NCCL version:2.4.8
7. Python version:3.7.5
8. OS and version:ubuntu 16.04
9. GCC version:4.9

**Bug report:**
Please describe errorneous behavior you're observing and steps to reproduce it.
`
 import horovod.torch as hvd
import torch

hvd.init()
if hvd.ran

[2020-02-27 16:40] tgaddair commented on #1741
Hey @wangli1426, that's a good question.  We do have some benchmarks on Gloo vs MPI.  The quick answer is that if you are using NCCL for GPU allreduce, we see no performance difference between Gloo and MPI for the controller.  However, if you are using Gloo for the "data plane" as well (meaning no NCCL), then there is some performance degradation from using Gloo due to the lack of shared memory an

[2020-02-27 16:40] jamesprinc3 opened #1743 "Is @tf.function working with horovod.spark?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): TF
2. Framework version: 2.1.0
3. Horovod version: 0.19.0
4. MPI version: 4.0.1
5. CUDA version: 10.1
6. NCCL version:
7. Python version: 3.6.8
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Yes
2. If your question is about hang, did you read [this doc](h

[2020-02-27 17:04] tgaddair commented on #1558
Hey @Young768, to make sure I understand your proposal, if we suppose there are three processes {p0, p1, p2}, then we might imagine that at some time t0 the following gradients are ready to reduce:

p0: g0, g1
p1: g1
p2: g0

In this situation, are you suggesting that we allreduce g0 from p0 and p2, g1 from p0 and p1 without waiting for the other workers, then in the next step we incorporate the gr

[2020-02-27 17:17] Young768 commented on #1558
@tgaddair Hi, I think what you suggest is similar to this paper from ASPLOS 2020 https://arxiv.org/abs/1909.08029. We can generate a new allreduce group for those ready ranks. Then in the next step, we incorporate other ranks.

And what I suggest is similar to this paper from PPoPP 2020,  https://arxiv.org/pdf/1908.04207.pdf. We don't need to regenerate a new allreduce group. So if at step t0, onl

[2020-02-27 18:35] LearnedVector opened #1745 "How to interpret the autotune score?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-02-27 18:43] tgaddair commented on #1743
Hey @jamesprinc3, thanks for raising the issue.  I think there are two issues here, both of which are upstream problems with `tf.function`.

The first is that we cannot pickle a function decorated with `tf.function`, which we should try and find a workaround for (ideally, this should be fixed in TensorFlow).

The second issue is running autograph on function that has been pickled.  This issue is m

[2020-02-27 18:56] tgaddair commented on #1745
Hey @LearnedVector, the score is approximately a measure of bytes processed during allreduce / allgather per microsecond, so higher is better.  In this case, it looks like a low cycle time and fusion buffer threshold resulted in the best performance.  Worth noting is that the best param settings will vary with each model, number of workers, cluster config, etc.  Let me know if you have any additio

[2020-02-27 20:01] gromovadarya90 opened #1747 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:56] tgaddair commented on #1699
cc @romerojosh

[2020-02-28 01:37] 372046933 commented on #1167
@alsrgv , I met up the same problem when using NCCL for the `tf.distribute.experimental.CollectiveCommunication`. TF2.0 bundled NCCL was also 2.4.7

[2020-02-28 10:20] PANXiao1994 commented on #1729
Same problem here. I encountered the same problem a couple of weeks ago. My assumption is the same as yours. [https://github.com/horovod/horovod/issues/1676](url) and [https://github.com/horovod/horovod/issues/1667](url)

[2020-02-28 11:59] jamesprinc3 commented on #1743
Hi @tgaddair thanks for getting back to me so quickly!

Thanks for suggesting the workaround,  I've been looking into it this morning but I'm not sure that the code gets autographed correctly. If we set the autograph verbosity to 10, i.e.:
[code]

We get the following output:

[code]

Whilst it sounds like things have gone to plan, upon closer inspection:

- "Converted call" is a little confusing

[2020-02-28 13:58] jamesprinc3 commented on #1743
It seems that the whitelist is there for good reason, if you try to directly use `tf.autograph.to_code(f.python_function)` then we're back to the `OSError: could not get source code` issue.

We have a workaround for the time being, which is to put the function in a module that we `pip install -e` right before we run the job and just import it as usual - but obviously having this work out of the bo

[2020-02-28 14:08] wangli1426 commented on #1741
@tgaddair Thank you so much for your reply. It's very informative and helpful!

[2020-02-28 16:24] tgaddair commented on #1738
Hey @garudareiga, thanks for raising this issue.  Can you share the full stack trace and a simple example we can use to repro?

@romerojosh is looking into ways of addressing issues of overflow / underflow of the allreduce when using mixed precision.  Possibly the solution he's working on would be relevant to this as well.

[2020-02-28 16:25] tgaddair commented on #1743
Glad you found a workaround for now.  We'll look into fixing the serialization of tf.function issue to make this easier for you in the future.

[2020-02-28 17:25] tgaddair commented on #1558
Hey @Young768, thanks for sending along the papers.  I read through the second one (the solution you're proposing).  The idea sounds doable given Horovod's current approach.  I agree that most of the changes that need to be made will necessarily be in the Controller.  I would suggest taking a look at [this](https://github.com/horovod/horovod/pull/1058) PR, which added the Join operation to Horovod

[2020-02-29 04:45] Young768 commented on #1558
@tgaddair Yep. I am looking into this PR recently. I did help me get familiar with the code. If I have further questions, I will email you.

Regarding the cases, in my mind, one is from imbalanced workloads across nodes. Another can be from the system heterogeneity.  For example, the cluster in my lab consists of machines with different capacities. Or if it is a shared cluster, it can be resource

[2020-02-29 11:56] tirkarthi opened #1752 "Importing ABC directly from collections was deprecated and will be removed in Python 3.10. Use collections.abc instead."
**Bug report:**

[code]

[2020-02-29 14:01] tirkarthi commented on #1752
I will raise a PR for this.

[2020-03-01 16:55] #1752 closed

[2020-03-01 17:38] romerojosh commented on #1742
The issue here is that you are using `hvd.allreduce` which is the out of place version of the operation. For an in-place allreduce, use `hvd.allreduce_`.

[2020-03-01 17:48] romerojosh commented on #1738
Automatic mixed precision should work with Horovod correctly. The allreduce occurs _before_ dynamic loss scaling and will propagate any infinite gradient values if they occur on any worker (i.e. summing infinite or NaN values is not problem in MPI or NCCL). Then dynamic loss scaling is applied based on the allreduced gradients so it acts consistently across all workers.

Can you share how you are

[2020-03-02 00:50] abdullahfsm opened #1754 "Issues with multi machine training"
1. Do I need to have the executing script available on all servers in a multi-machine training setup?
2. It seems like horovodrun is just replicating the training script on specified servers rather than synchronized distributed training between them. I know this because printing hvd.rank() yields the same value (= 0) from each instance. Am I missing something? I have been able to correctly run mul

[2020-03-02 04:05] THULiusj commented on #839
@alsrgv ,Hi, I'm tesing multiple processes with Horovod on single GPU, but failed. Can you explain why NCCL may deadlock if I run multiple NCCL ranks on the same GPU? I remember NCCL can support multiple ranks.

[2020-03-02 08:34] uniwuppes opened #1755 "local_rank() out of range"
**Environment:**
Docker image: horovod/horovod:0.19.0-tf2.0.0-torch1.3.0-mxnet1.5.0-py3.6-gpu

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.rst)? not related
3. If your question is about docker, did you read [this doc](https://github.

[2020-03-02 12:14] wuxun-zhang opened #1756 "Why hvd.rank() is always 0 while 4 MPI processes have been launched?"
**Environment:**
1. Framework: MXNet
2. Framework version:
3. Horovod version: 0.18.2
4. MPI version: Intel MPI
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/

[2020-03-02 13:21] thnkim opened #1757 "error on 'pip install' for PyTorch 1.5"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) PyTorch
2. Framework version: '1.5.0a0+ad769d7'
3. Horovod version: unknown
4. MPI version: 4.0.2
5. CUDA version: 10.2
6. NCCL version: 2.5.6 (nccl-repo-ubuntu1604-2.5.6-ga-cuda10.2_1-1_amd64.deb)
7. Python version: 3.7.4 (Anaconda)
8. OS and version: Ubuntu 16.04.12
9. GCC version: 5.4.0 20160609

**Bug report:**
Please describe

[2020-03-02 13:36] thnkim commented on #1757
Worked when I tried
HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GPU_BROADCAST=NCCL HOROVOD_WITH_PYTORCH=1 pip install --no-cache-dir git+https://github.com/horovod/horovod

[2020-03-02 13:36] #1757 closed

[2020-03-02 15:55] tgaddair commented on #1756
Hey @wuxun-zhang, how are you launching Horovod?  It looks like Horovod was installed with Gloo support, but you're attempting to launch it with `mpirun`.  If that's true, then you have a couple options:

1. Use `horovodrun` instead of `mpirun` to run with Gloo.
2. Reinstall Horovod setting `HOROVOD_WITH_MPI=1` to run with MPI.

[2020-03-02 16:00] tgaddair commented on #1755
Hey @uniwuppes, the issue is in the way MPI assigns processes to slots.  In your command line, you had:

[code]

That says you want to run 2 processes total across 2 machine, where each machine has 4 slots.  MPI decided to place both processes on the same host.  But since each host only has 1 GPU, it threw an error when the script attempted to allocate memory on a second GPU.

To fix this, all you

[2020-03-02 16:08] tgaddair commented on #1754
Hey @abdullahfsm, to answer your questions:

1. Yes, the training script needs to be available on all hosts.  This can be either on a local disk or a shared filesystem like NFS.
2. Seeing `hvd.rank() == 0` across all workers usually means there's an issue with how MPI is configured (see [this](https://stackoverflow.com/questions/4039608/why-do-all-my-open-mpi-processes-have-rank-0) SO issue, for e

[2020-03-02 18:41] kahrabian opened #1758 "Confusing documentation for Mac OS"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3.1
3. Horovod version: 0.19.0
4. MPI version: 4.0.2
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7.5
8. OS and version: Mac OS 10.15.2
9. GCC version: 9.2.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://g

[2020-03-02 19:02] chandana1332 opened #1759 "Latency with Horovod"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): MXNET
2. Framework version: 1.5
3. Horovod version: 0.18.2
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/ho

[2020-03-03 01:43] wuxun-zhang commented on #1756
@tgaddair Thanks. It's my fault. There is something wrong with the MPI library I used and looked it fall back to Gloo implementation. Now everything is Okay after switching to the right one.

[2020-03-03 02:17] tgaddair commented on #1756
Glad you got it working, @wuxun-zhang.  I'll close the issue for now.

[2020-03-03 02:17] #1756 closed

[2020-03-03 02:23] tgaddair commented on #1759
Hey @chandana1332, assuming the same number of hosts, GPUs, networking environment, etc., and only the model is changed, then it's usually a matter of the number and size of parameters.

Some models like VGG16 with 138 million parameters will be more difficult to scale than ResNet50 with 25 million parameters.

But that said your particular GPU and networking setup can also be better suited to som

[2020-03-03 02:30] chandana1332 commented on #1759
Some models like VGG16 with 138 million parameters will be more difficult to scale than ResNet50 with 25 million parameters.

But that said your particular GPU and networking setup can also be better suited to some models than others. In general, we recommend creating a timeline when you see poor scaling efficiency so we can better understand where the slowdown is happening

Also, what is the expe

[2020-03-03 06:40] uniwuppes commented on #1755
Thanks @tgaddair I somehow missed that the number after the `:` is the number of slots on that machine.

[2020-03-03 06:40] #1755 closed

[2020-03-03 13:40] ParkGeonYeong opened #1761 "Questions about multi-node&multi-gpu training"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.4.0
3. Horovod version: 0.19.0
4. MPI version: 4
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/d

[2020-03-03 18:34] m-mallory opened #1762 "DenseVectors metadata missing when Model is fitted on parquete"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version: 0.19.0
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horov

[2020-03-03 20:10] cofiiwu commented on #96
@alsrgv I am studying model parallelism. In the original tensorflow, even if the colocate_gradients_with_ops of optimizer is enabled, there are some operations of gradient are still located on the default GPU. Can Horovod make sure all operations of FW and BW on the same GPU if I assign the GPU in the model?
[The detail of my question](https://stackoverflow.com/questions/60513983/how-to-place-all-

[2020-03-03 21:25] tgaddair commented on #1734
Hey @ivankxt, can you provide a minimal reproducible example for us to run?  It's tough to say for sure what the issue is without having access to the model definition.  It looks like there's a string global variable somewhere that cannot be converted into a tensor, but I'm not sure how that string came to be represented as a global variable in your model.

[2020-03-04 08:10] EnricoMi commented on #1691
@tgaddair shall I sketch out a PR that allows to pass extra arguments to mpi_run? `HorovodArgs` used in `horovod.run.run` allows for this but `horovod.run.run` does not wire this through to the user.

Or do you want this `--oversubscribe` to be added statically to the list of `mpi_run` arguments?

[2020-03-04 08:47] pbruneau opened #1766 "Grid search with Horovod and Keras"
**Environment:**
1. Framework: Keras
2. Framework version: 2.2.4
3. Horovod version: 0.19.0
4. MPI version: 3.0.0
5. CUDA version: 10.0
6. NCCL version: NA
7. Python version: 3.6.3
8. OS and version: CentOS Linux 7
9. GCC version: 7.2.0

**Your question:**

I would like to combine grid search with using horovod, basically nesting a piece of code such as https://github.com/horovod/horovod/blob/mast

[2020-03-04 13:49] shailensobhee commented on #1164
What about Intel MPI?

Output of `horovodrun`:

[code]

[code]

[2020-03-04 16:09] tgaddair commented on #1691
Thanks @EnricoMi, that would be great!  I think exposing the `--mpi-args` parameter from `horovodrun` through `horovod.run.run` is a good solution.

[2020-03-04 18:54] kahrabian opened #1769 "Broken Mac OS package"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.4.0
3. Horovod version: 0.19.0
4. MPI version: 4.0.2
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.8.1
8. OS and version: Mac OS 10.15.3 (19D76)
9. GCC version: 9.2.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](h

[2020-03-05 07:50] hoangcuong2011 commented on #403
This happens to me as well. I hope it would not produce a big problem (i.e. much lower accuracy for the model after training).
I have a quick question - how to know which version of Horovod I am using? I googled but could not find any command. I am confident my version is > Horovod-0.18.2 but I just wanted to make one more check. Thx.

[2020-03-05 14:51] cofiiwu opened #1771 "Can the operations of backward computing(gradient) of a layer be placed on the GPU executes the forward computing of the layer in model parallelism?"
**Environment:**
NVIDIA TensorFlow container 20.02
1. Framework: TensorFlow
2. Framework version: 1.15.2
3. Horovod version: 0.19.0
4. MPI version: openMPI 3.1.4
5. CUDA version: 10.2.89
6. NCCL version: 2.5.6
7. Python version: 3.6
8. OS and version: Linux
9. GCC version: N/A

I want to implement a VGG mode in model parallelism. I tried to implement it with the original TF, and I have assigned co

[2020-03-05 21:17] abditag2 commented on #1762
this should fix it: https://github.com/horovod/horovod/pull/1764

[2020-03-06 01:08] #1762 closed

[2020-03-06 01:50] kahrabian commented on #1769
I think this is an issue with python 3.8, not the Mac OS, so I'll close this issue for now.

[2020-03-06 01:50] #1769 closed

[2020-03-06 05:23] ivankxt commented on #1734
Hello @tgaddair,  my project is  complicated and it is difficult to provide a separate demo for you to run.
However, I check my code again, and found a node defined as a string:

we print the global_variables:
print('global_variables:', global_variables())
the output is:

_config_variable/Variable:0' shape=() dtype=string_ref>

therefore, we remove the define of pron_config_variable, such as:
[cod

[2020-03-06 11:16] SriramAvatar opened #1773 "PySpark - Passing ImageSchema Rdd Data to Horovod"
**Environment:**
1. Framework: PySpark with Keras
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, did you read? Not related
3. If your question is about docker, did you read?

[2020-03-06 18:38] LearnedVector opened #1774 "rank 0 starts degrading in performance when loading from checkpoint PyTorch"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.4.0
3. Horovod version: 0.19.0
4. MPI version: 4.0.0
5. CUDA version: 10.0.130
6. NCCL version: 2.4.7-1+cuda10.0
7. Python version: 3.6.9
8. OS and version: using the provided docker container
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did

[2020-03-06 23:20] LearnedVector commented on #1774
I think this has to do with the optimizer not being broadcast correctly. After loading the optimizer from state i am broadcasting it across all machines. When i comment out the loading the optimizer state the root rank behaves like normal. Have any ideas?

code sample below
[code]

[2020-03-07 04:15] alexbrowngh commented on #1089
@un-knight You mentioned that Horovod + multile-nodes will have worse performance than Pytorch's native distributed data parallel. Is it still the case? Moreover, does Horovod + Apex O1 work well?

[2020-03-07 12:28] Leslie-Fang commented on #1688
I will meet the same error when use TF2.1 and horovod 0.19.0

[2020-03-07 13:11] Leslie-Fang opened #1775 "Example to run training on multi-sockets CPU with TF2.0"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TF2.0
2. Framework version:
3. Horovod version: 0.19.0
4. MPI version: OPENMPI 3.0.4
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://gith

[2020-03-07 13:18] Leslie-Fang commented on #1775
The function works when I try the example: https://github.com/horovod/horovod/blob/master/examples/tensorflow2_keras_mnist.py
And the running command:
horovodrun -np 2 -H localhost:2 python mnist.py

Since my CPU has 2 sockets, but I am not sure how to make each process running on the corresponding socket?

[2020-03-08 18:24] LearnedVector commented on #1745
thank you!

[2020-03-08 18:24] #1745 closed

[2020-03-09 00:32] tgaddair commented on #1775
Hey @Leslie-Fang, @nvcastet recently landed #1767 that should address this.  If you build Horovod from master, you can run:

[code]

@nvcastet please correct me if I'm mistaken on anything above.

[2020-03-09 00:55] tgaddair commented on #1774
Hey @LearnedVector, thanks for the detailed report.  It's definitely possible that optimizer state isn't broadcasting correctly.  It's one of the more complex pieces of code, and pretty fragile to changes in PyTorch's underlying parameter representation.  Do you have an example script I can use to repro this issue?

One thing you can also try is to broadcast the optimizer state as raw bytes (can b

[2020-03-09 01:14] tgaddair commented on #1773
Hey @SriramAvatar, to answer your questions:

1. You can accomplish this using a map function in pyspark:

[code]

In pyspark, this will be represented as an Array type, I believe.  Petastorm can be used to read this Array type data as tensors when using Horovod.

2. It's important that the data is moved to disk out of the RDD.  RDDs are not currently well-suited to distributed training, in large

[2020-03-09 01:37] tgaddair commented on #1766
Hey @pbruneau, I would suggest using [horovod.run.run](https://horovod.readthedocs.io/en/latest/api.html#module-horovod.run) for this.  This will allow you to spawn a separate Horovod distributed job for every call to `training(p)`.

Some care needs to be taken to handle proper serialization/deserialization of the model over pickle.  For that, I would take a look at [this](https://github.com/horov

[2020-03-09 03:23] zfxxfeng commented on #1198
I use hovord +estimator( tf.estimator.train_and_evaluate(classifier, train_spec, eval_spec)). I get a strange phenomenon. My train_acc which log in tensorboard is high but the eval_acc is low. And I test the train data in another script ,the acc is also low.I use lr* hvd.size()(32gpu)
![image](https://user-images.githubusercontent.com/22147218/76180147-1d533f00-61f8-11ea-9ce3-2044013654b6.png)

![

[2020-03-09 12:52] pbruneau commented on #1766
Hi @tgaddair, this seems to suit my needs indeed, thanks!

So if I understand correctly, I would call the enclosing script the regular way (i.e. `python3 script.py`), call `training(p)` with `horovod.run.run`, and have the individual `hvd.init()` etc... in the training function, right?

Also, I use horovod in the context of a slurm batch script on a HPC, with MPI and Tensorflow 1.14.0 (cf Troubles

[2020-03-09 13:34] nvcastet commented on #1775
@tgaddair @Leslie-Fang I would also add the `-rank-by core` (https://github.com/horovod/horovod/blob/master/horovod/run/mpi_run.py#L35), it should not matter with only 2 ranks but if you have 4 ranks and 4 GPUs, it will give first 2 ranks on 1st socket and last 2 ranks on 2nd socket (which is what you want with Horovod) instead of a round-robin (rank 0,2 socket 1 and rank 1,3 socket 2).
So full co

[2020-03-09 13:46] nvcastet commented on #1775
FYI, adding `--mpi-args="--report-bindings"` will display the binding that MPI selected for each rank.

[2020-03-09 18:27] #1521 closed

[2020-03-10 00:52] tgaddair commented on #1688
@Leslie-Fang, are you setting `experimental_run_tf_function=False` in your script?

[2020-03-10 07:21] yeliang2258 opened #1778 "How should I use Horovod if I change the model size during training"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): pytorch
2. Framework version: 1.4.0
3. Horovod version:0.19.0
4. MPI version:
5. CUDA version:10.1
6. NCCL version:
7. Python version:3.6
8. OS and version:16.06
9. GCC version:5.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](h

[2020-03-10 10:53] Leslie-Fang commented on #1775
Thanks, Guys. I will try it.

[2020-03-10 10:54] Leslie-Fang commented on #1688
@tgaddair  Yes, I set `experimental_run_tf_function=False`.
Downgrade the TF t0 2.0 fix this problem.

[2020-03-10 15:03] tgaddair commented on #1778
Hey @yeliang2258, can you give an example of what you're attempting to do?  In principle, it should be possible to change the model and have Horovod work correctly, but I'm not familiar with the approach you're describing to say for sure.

[2020-03-10 15:21] tgaddair commented on #1198
Hey @zfxxfeng, using `estimator.train_and_evaluate` requires special consideration.  Are you setting `throttle_secs=0` in your `EvalSpec`?

[2020-03-10 15:43] zhangjunnana commented on #1646
Hey @tgaddair I had the same problem.  The hvd.size() was always 1. I had tried comm.Get_size(), it still returned 1. My machine has 3 GPUs(RTX 2080Ti).

Environment:

- Framework: TensorFlow 1.14.0
- Horovod version: 0.19
- MPI version: Open MPI: 4.03
- CUDA version: CUDA Version 10.1
- NCCL version: libnccl-dev=2.5.6
- Python version: python 2.7

[2020-03-10 15:52] tgaddair commented on #1646
Hey @zhangjunnana, if `comm.Get_size()` is also returning 1, then there is a problem with your MPI configuration.

Are you using `horovodrun`? If so, you may want to consider running with `horovodrun --gloo ...` to avoid having to mess with MPI.

If you want/need to stick with MPI, then usually this is caused by having multiple versions of MPI in your system.  See: https://stackoverflow.com/questi

[2020-03-10 16:04] tgaddair commented on #1732
Hey @nanne-aben, quick update on this.  We're making some changes to our intermediate data storage API to make it more generic, so it will work with S3 if your Spark application is configured to use S3.  I'll let you know when these features are available, should be soon.  Thanks.

[2020-03-10 16:30] #1688 closed

[2020-03-10 16:57] zhangjunnana commented on #1646
@tgaddair  Thanks !!!   `horovodrun --gloo ...` works.

[2020-03-10 19:24] Vidyaranya commented on #676
I am getting a similar error on my device.
"`TensorFlow device (GPU:0) is being mapped to multiple CUDA devices (1 now, and 0 previously), which is not supported.`".
 So, I tried using the method suggested by @yurijvolkov and @TUMAAA However, using that solution (adding `os.environ['CUDA_VISIBLE_DEVICES'] = str(hvd.local_rank())`), I end up getting a different error. Specifically,

`InvalidArgumen

[2020-03-10 20:38] m-mallory opened #1779 "Add Aadditional datatypes to util.data_type_to_str"
Feature request to add:
[code]
to `'Vector'` statement in [`util.data_type_to_str` ](https://github.com/horovod/horovod/blob/master/horovod/spark/common/util.py#L36)

[2020-03-10 20:58] abditag2 commented on #1779
https://github.com/horovod/horovod/pull/1780

[2020-03-11 09:31] nanne-aben commented on #1732
Thanks, Travis!

On Tue, 10 Mar 2020 at 17:04, Travis Addair <notifications@github.com>
wrote:

[2020-03-11 12:09] zfxxfeng commented on #1198
Hello@tgaddair  I already set throttle_secs=0.But the loss and eval_acc still shock.

[2020-03-11 14:46] pbruneau commented on #1766
To update the above: I tried to run a SLURM script that books 2 nodes (with 2 GPU per node) and launches `script.py`. So quite logically, a single process is spawned in one of the nodes (say `gpu1`). I would like to use all available 4 GPU.

In `script.py`, I tried to hack my way around (basically customize the `mpirun_command` in `mpi_run.py` to match the code block above), but the best I could g

[2020-03-11 21:51] #1779 closed

[2020-03-12 02:02] yeliang2258 commented on #1778
Thank you for replying. For example, I want to use horovod to help me complete the network compression work. In 10 training epochs, the size of the network will reduce gradually. In general, I want to train on multiple GUPs, but as the training progresses, the network size will change gradually.

[2020-03-12 11:10] SriramAvatar commented on #1773
Hi @tgaddair ,
Thanks for the response.

1. I tried your sample but couldn't make it work with the image schema.Could you please tell me what is that I am missing here?
[code]
The image_df_new data does not contain the converted array.

On points 2 and 3, I see examples about writing the rdd as a parquet using petastorm and then accessing it. My understanding is that, we cannot use parquet files w

[2020-03-12 19:34] LearnedVector commented on #1774
@tgaddair Whenever i broadcast the optimizer state using `hvd.broadcast_object`, I get a CUDA error. I notice that when resuming from checkpoint and using `hvd.broadcast_object`, more GPU memory is being taking. Anyway around this? Is there any specific order to loading the model and object from checkpoint?

[2020-03-12 20:52] ChenYuHo commented on #1741
@tgaddair This sounds quite interesting, are there any tracking issues or public discussions somewhere for this feature?

[2020-03-13 13:42] abcinje opened #1791 "Dockerfile needs to be updated"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version: 3.6
8. OS and version: Ubuntu 18.04.4
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/h

[2020-03-13 14:42] tgaddair commented on #1741
Hey @ChenYuHo, we have an RFC [here](https://docs.google.com/document/d/15ZoHA5AeSI_boeyIBapg9WPXKrYXMRvPytPzQWTCTn4/edit?usp=sharing) you can take a look at.

[2020-03-13 15:08] tgaddair commented on #1791
Thanks for catching this @abcinje.  Looks like there was a breaking change to the `wheel` module at https://github.com/pypa/wheel/commit/b5733b86155c696274564e86c2a5f966f9abbebf.  I'll make a fix.

[2020-03-13 17:01] #1791 closed

[2020-03-16 03:37] chengdianxuezi opened #1794 "Is this a bug"
https://github.com/horovod/horovod/blob/52cff13dc3c4be7b6d02757855172add04a9968b/horovod/common/gloo/gloo_context.cc#L148
local_rank and cross_rank ，These two variables are reversed
  local_ctx = Rendezvous(HOROVOD_GLOO_LOCAL_PREFIX + std::to_string(local_rank),
                         rendezvous_addr_env, rendezvous_port,
                         local_rank, local_size, dev, timeout);

[2020-03-16 05:34] tgaddair commented on #1794
Hey @chengdianxuezi, this code is pretty confusing, but it's actually correct.  The idea is that we use the "cross rank" to uniquely identify the host when setting up a local communicator.  The local rank is done within a host, and every host has a unique cross rank.  Same goes for setting up a cross communicator: the local rank will uniquely identify the cross communicator because every local ran

[2020-03-16 06:43] #1794 closed

[2020-03-16 07:39] chaochaoSZ commented on #1340
Have you already soloved the problem? I also meet the same problem when I want to run on two different servers.

[2020-03-17 07:19] CuriousCat-7 commented on #125
Hi, I in my case, I solve this problem by uninstalling horovod, updating openmpi and installing horovod again. I think the old openmpi version made you install a not so good horovod.

[2020-03-17 20:23] zlenyk opened #1797 "Contrastive loss training on multiple GPUs"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): Pytorch
2. Framework version:
3. Horovod version: 0.19.0
4. MPI version:
5. CUDA version: 10
6. NCCL version:
7. Python version: 3.7
8. OS and version: Ubuntu
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://g

[2020-03-18 03:47] JuZhengHub opened #1798 "When build docker container with ubuntu16.04 install horovod failed with error code -4"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow
2. Framework version: tensorflow-gpu==1.14.0
3. Horovod version: latest
4. MPI version: 3.1.5
5. CUDA version: 10.0
6. NCCL version: 2.5.6
7. Python version: 3.5
8. OS and version: ubuntu16.04
9. GCC version: g++ 5.6

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your q

[2020-03-18 04:47] jyhengcoder opened #1799 "Tensorflow processes with horovod(NCCL) get stuck during the training."
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.14
3. Horovod version: 0.19.0
4. MPI version: 4.0.1
5. CUDA version: 10.0
6. NCCL version: 2.5.7
7. Python version: 2.7.5
8. OS and version: CentOS7
9. GCC version: 4.8.5

**Bug report:**
I found that tensorflow process gets stuck after training lasts almost 30 hours and this problem can be reproduced every time. The usages of all g

[2020-03-18 14:12] tgaddair commented on #1799
Hey @jyhengcoder, did you only encounter this problem with NCCL 2.5.7?  You may want to try 2.5.6 and see if it has similar issues.

15% seems like a pretty extreme performance difference between NCCL versions.  @romerojosh do you have thoughts on this?

[2020-03-18 14:25] tgaddair commented on #1798
Hey @JuZhengHub, this error looks very similar to the one from #577.  Can you check that your CPU supports AVX instructions?

[2020-03-18 15:06] jiangzihanict opened #1800 "How to use Horovod timeline to analyze the communication time?"
I have two questions about the timeline.

First, the following picture is the timeline after running 10 steps of [the Imagenet ResNet-50 code](https://github.com/horovod/horovod/blob/master/examples/keras_imagenet_resnet50.py). I want to get the communication time each step, but the granularity is second and the events are too crowded. Is there a way to make the millisecond-level analysis?

Second

[2020-03-18 21:02] romerojosh commented on #1799
I'd agree with the suggestion to try 2.5.6. As far as the 15% performance difference goes, I am not sure. 2.4.7 to 2.5.7 is a big version gap so there could be some performance optimizations missing.

For the 2.5.7 build, could you try disabling the low-latency (LL) protocol in NCCL (set `NCCL_PROTO=^LL`) and see if it still hangs?

[2020-03-18 21:42] denfromufa opened #1801 "Put data input KVStore server failed"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version: tf 1.14
3. Horovod version: 0.19.1
4. MPI version: openmpi 4.0.1
5. CUDA version: cuda 10.1
6. NCCL version: 2.4
7. Python version: 3.6
8. OS and version: centos 7.5
9. GCC version: 7.3

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about han

[2020-03-19 01:23] ParkGeonYeong commented on #1417
@tgaddair I got no error but a warning:
optimizer.step() called without optimizer.skip_synchronize() context after optimizer.synchronize(). It says it may cause training slowdown. Above your example, is it okay just do a normal optimizer.step() or add skip_synchronize()?

[2020-03-19 02:33] JuZhengHub commented on #1798
@tgaddair exactly , this eeror cause by this, i changed another server to build this image, it works !
thank u for answer, this is really helpful for me !

[2020-03-19 02:33] #1798 closed

[2020-03-19 02:42] jyhengcoder commented on #1799
@tgaddair @romerojosh
Thanks for answering.
Before I tried 2.5.7, I already tried 2.5.6. At the beginning I felt that the nccl version was not new enough, but in fact it was not the case. In addition, when using nccl2.5.7, I tried horovod0.18.2, the processes still got stuck.

@romerojosh
I will try disabling the low-latency (LL) protocol in NCCL and feedback the results.

[2020-03-19 08:36] yurinishikawa opened #1802 "Runtime Error: hvd.broadcast_global_variables() does not support eager execution"
**Environment:**
1. Framework: Keras
2. Framework version: 2.3.1 (Backend: TensorFlow 2.0.1)
3. Horovod version: 0.19.1
4. MPI version: OpenMPI 2.1.6
5. CUDA version: 10.0.130.1
6. NCCL version: 2.5.6-1
7. Python version: 3.6.5
8. OS and version: CentOS 7.5.1804
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?  -- yes
2. If your questio

[2020-03-19 12:37] alokprasad commented on #1627
@tgaddair my remote machine dont have root user but another user "xyz" with same privilega but horovod run only tries to connect remove user with root@host instead of xyz@host.?
Is there setting in docker before running horovodrun where user can be specified.

[2020-03-19 16:09] tgaddair commented on #1802
Hey @yurinishikawa, you should not need `experimental_run_tf_function` for standalone Keras.  Instead of using `BroadcastGlobalVariablesCallback` should still work, if it's not then that may be a bug on our end.  Can you share a gist of the script you're running with all the modifications you've made?

[2020-03-19 16:41] alokprasad commented on #1068
its difficult to change interface name without reboot and most of training machine being servers it quite difficult, horovod team should seriously think to remove this limitation of same interface name across all hosts.

[2020-03-19 16:45] tgaddair commented on #1068
@alokprasad, a fix to allow using multiple network interfaces is targeted for this sprint.  @abditag2 is working on the fix, which is being tracked by #1724.

[2020-03-19 17:45] alokprasad commented on #1724
@abditag2 anyway to bypass same name NIC requirement .

[2020-03-19 19:33] roclark commented on #1541
Hey @kaituoxu! Did you ever find a solution to this? I'm running into a similar issue when I use a custom optimizer with additional parameters and am trying to figure out how to get it working.

Thanks for any help!

[2020-03-20 02:20] TethysSun commented on #1549
Hi @YoungDav  Are you able to solve it? I have the same issue...

Hi @tgaddair, I have the same issue. I have the same issue. In my case, I have two loss functions and two optimizers. But they are operating on same neural networks weights.

The reason I did that is that, in a single epoch, I want optimizer2 operating multiple times but optimizer1 only update one time.

The code works fine on a sin

[2020-03-20 02:54] yurinishikawa commented on #1802
Thanks @tgaddair.  The training started when I omitted both `experimental_run_tf_function` and `BroadcastGlobalVariablesCallback` from my code, but I encountered a NaN loss after around 10 epochs, so I was thinking it was due to removing the function from the callback.   (I get the runtime error when I only remove `experimental_run_tf_function` since the following statement becomes False, probably

[2020-03-20 03:19] cfanyyx commented on #1417
Same warning as ParkGeonYeong. Could anyone give a solution?

[2020-03-20 08:24] jyhengcoder commented on #1799
@romerojosh
I disabled the low-latency (LL) protocol in NCCL by setting `NCCL_PROTO=^LL`, with NCCL 2.5.7 and Horovod 0.18.2, but the processes get stuck again after 30 hours training.

I'm really puzzled for this problem, in order to solve it,  I will try NCCL 2.5.6 and Horovod 0.19.1, with `NCCL_PROTO=^LL`, and update the startup script based on suggestions in https://github.com/NVIDIA/nccl/issu

[2020-03-20 09:37] godblessY commented on #676
try this
config.gpu_options.visible_device_list = '0'

[2020-03-20 12:17] alokprasad commented on #1508
@tgaddair i feel documentation need information.specially simplest multihost setup.
1. Example for 2 Machine with single GPU each
2 .prerequisite like same interface name in all host etc.
3.Recommended for system , like higher bw networking backbone as most of the general user might be using 1G interface which might not give them required speed boost in training as they would have expected.
4.Diag

[2020-03-20 23:05] romerojosh commented on #1799
Thanks for the update on your experiments @jyhengcoder. Please keep us posted on your findings from NVIDIA/nccl#306 (in fact my initial suggestion for `NCCL_PROTO=^LL` came from the NCCL developer helping you in that issue).

[2020-03-21 03:06] yurinishikawa commented on #1802
Hi @tgaddair, the NaN loss issue has been resolved by scheduling the learning rate using `LearningRateScheduleCallback`.  Thanks for your help.  I am still curious about the behavior of `BroadcastGlobalVariablesCallback` at the end of each batch.  I'd appreciate if you can give me the answers to the question in your free time.

[2020-03-21 05:22] #1802 closed

[2020-03-21 14:58] tgaddair commented on #1802
Hey @yurinishikawa, glad you got the issue resolved.  Feel free to reach out if you have any further questions.

[2020-03-21 20:19] askucher opened #1810 "How to launch Horovod on untrusted servers?"
Hey, I see that it is quite easy to launch the Horovod on trusted computers. But how to use resources of other untrusted people.

[2020-03-21 22:50] EchoTheCat opened #1811 "openmpi - could not resolve hostname"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-03-22 12:42] jacob1017 commented on #1742
@romerojosh thank you for your reply. I found this operation was not in-place。

[2020-03-22 13:00] Leslie-Fang commented on #1775
Thanks all for the valuable comments.

[2020-03-22 13:00] #1775 closed

[2020-03-23 06:28] cCloudSky opened #1812 "Horovod synthetic benchmarks example command exec fail"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
0.19.1
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horov

[2020-03-23 12:56] sj6077 commented on #665
@tgaddair What about TensorFlow? Is it also valid to TensorFlow?

[2020-03-23 16:25] tgaddair commented on #1812
Hi @cCloudSky, yes, you need specify the command as:

[code]

We'll update the docs.  Thanks for pointing this out.

[2020-03-23 16:59] tgaddair commented on #1800
Hey @jiangzihanict, in the tracing UI you can use the third button in the selection (upper right of the screenshot) to zoom in for higher granularity.

As for digging into communication-only time, the NCCLAllreduce step int the timeline should represent that the most closely.  @romerojosh, do you have any further suggestions for digging into communication time?

[2020-03-23 17:06] tgaddair commented on #1810
Hey @askucher, can you clarify a bit of the requirements?  In what ways are the computers untrusted?

[2020-03-23 17:12] tgaddair commented on #1811
Hey @EchoTheCat, can you check that you don't have more than one version of OpenMPI installed?  Also, can you try `ssh sleepy` directly and verify that it works without a password prompt?

[2020-03-23 18:00] itamarst commented on #1743
I've submitted an upstream PR to tensorflow to try to make functions decorated with `@tf.function` pickleable: https://github.com/tensorflow/tensorflow/pull/37837

[2020-03-23 18:42] EchoTheCat commented on #1811
Hi! I'm not sure to check if I have multiple versions installed, though I have attempted to uninstall openmpi with the command `make uninstall openmpi-4.0.3` and the result is `make: *** No rule to make target `uninstall'.  Stop.` The result of `sudo ssh sleepy` and `ssh sleepy` is `Could not resolve hostname sleepy: nodename nor servname provided, or not known`

[2020-03-23 21:14] tgaddair commented on #1743
This is awesome.  Thanks @itamarst!

[2020-03-24 00:11] #1812 closed

[2020-03-24 04:07] alokprasad commented on #1627
it turned out , You need Docker pub key in the host it is running and all remote machine.Setting up docker environment was not clear.

[2020-03-24 04:28] pratzz opened #1816 "Can I specify multiple CPUs and memory?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-03-24 05:28] Mahatisuvvari commented on #1206
@alsrgv @ktokolwiek Hey. Is there any resolution for this? I have observed the same kind of error.

[2020-03-24 04:54:54.292744: W horovod/common/stall_inspector.cc:105] One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different te

[2020-03-25 03:02] tgaddair commented on #1724
Hey @alokprasad @brandon-biggs, can you try out #1808 and check that it addresses your issue?

[2020-03-25 13:25] brandon-biggs commented on #1724
@tgaddair I'd be happy to give it a shot! I'll try it out today and get back to you on it.

[2020-03-25 14:57] brandon-biggs commented on #1724
@tgaddair I installed it, tested it on my "hello world" code that was in my original post, and it didn't crash! So that's exciting! I'm working on a more advanced test now. I'll keep y'all updated. Here's my horovod.run.run command:

horovod.run.run(train, np=2, hosts="host1:4,host2:4", verbose=True, disable_cache=True, network_interface="enp19s0f1.10,enp19s0f0.10", use_mpi=True, mpi_args="--overs

[2020-03-25 18:03] #1724 closed

[2020-03-25 19:24] jarednielsen opened #1819 "Request: Add Horovod to PyTorch container"
I use Horovod to train PyTorch distributed models. Currently I have to install it manually, would love it it came built-in and optimized. Others do the same, see for example #1706 .

**Describe the solution you'd like**
Add
[code]
to the PyTorch Dockerfile `nvcr.io/nvidia/pytorch:20.03-py3`. Thank you!

[2020-03-25 19:25] jarednielsen commented on #1819
Sorry, wrong repo. Closing.

[2020-03-25 19:25] #1819 closed

[2020-03-26 10:06] KangGrandesty opened #1821 "horovod cannot be use with nohup?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.0
3. Horovod version: 0.19.1
4. MPI version: 4.0.3
5. CUDA version: 10.0
6. NCCL version: 2.5.6
7. Python version: 3.6
8. OS and version: ubuntu 16.04
9. GCC version: 5.4.0

**Question:**

This is my script:

[code]

I run it in a SSH terminal, and everything goes well.
But, when I press `Ctrl + c` to kill `tail` process, I find

[2020-03-26 13:19] Richie-yan commented on #832
@tgaddair @kit1980
I provide a join op that supports Tensorflow. This PR has just been submitted. I hope to review it.

[2020-03-26 14:42] jiangzihanict commented on #1800
Thanks, @tgaddair. I use this timeline tool to analyze my code and find there is a NEGOTIATED_ALLREDUCE before each ALL_REDUCE operation of each training step. The NEGOTIATED_ALLREDUCE dominated the communication time (The following figure).  It seems very time-consuming.

My question is what is the purpose of this negotiation? I have read the related docs, but I am confused cause there are too ma

[2020-03-26 15:02] anweshpanda opened #1823 "error while trying to install horovod in conda"
So I am trying to install horovod using the command pip install horovod and getting the following error. Can anyone please help?

Collecting horovod
  Using cached horovod-0.19.1.tar.gz (2.9 MB)
Requirement already satisfied: cloudpickle in /home/mas/20/cdsanwesk/miniconda3/envs/horovod_new/lib/python3.7/site-packages (from horovod) (1.3.0)
Requirement already satisfied: psutil in /home/mas/20/cds

[2020-03-26 15:30] nvcastet commented on #1823
@anweshpanda Thanks for the question.
When using conda, you will need to use the compiler conda provides, also if you want CUDA support you will need the dev toolkit:
[code]

If you are interested in a pre-built conda package for x86 or ppc64le with MPI/NCCL, you can use the IBM conda channel:
[code]
Note: The conda package is built and tested about every quarter. So, current available version is

[2020-03-26 15:42] pattasiago opened #1825 "Horovod in GPU-CPU nodes"
Is it possible to distribute pytorch/tensorflow training in heterogeneous nodes, i.e, for 2 nodes, one using cpu and the other one using gpu.

[2020-03-26 15:43] iou2much commented on #1361
same issue here.. does anyone manage it solve this? seems really tricky one

[2020-03-26 16:00] nvcastet commented on #1825
@pattasiago Horovod uses synchronized distributed deep learning. After each step, the workers communicates their gradients, so you will always be waiting for the slowest worker, in this case the cpu. So, you will lose the performance benefit of having GPUs.

[2020-03-26 16:36] romerojosh commented on #1800
The Horovod timeline doesn't show any of the compute operations on GPU, so you cannot get a good understanding of how well communication is overlapping with computation using this alone. I generally use NVIDIA profiling tools (like NVPROF and NVVP for visualization or the newer Nsight system). With these more broad profiles, you can see all the NCCL Allreduce kernels launched by Horovod along side

[2020-03-26 16:39] pattasiago commented on #1825
I asked because when I tried to run "pytorch_mnist" example in these heterogeneous nodes I ended up with "Mismatched BROADCAST CPU/GPU device selection: One rank specified device CPU, but another rank specified device GPU.". In this case, I have 2 conteiners built, the cpu one was built with dockerfile.cpu image from the repository and the gpu one with dockerfile.gpu

[2020-03-26 16:50] anweshpanda commented on #1823
Thank you @nvcastet .  I used the second solution(IBM conda channel) and It worked  ..however after installation when I tried to import, I got the following error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/mas/20/cdsanwesk/miniconda3/envs/horovod_new/lib/python3.7/site-packages/horovod/torch/__init__.py", line 39, in <module>
    from horovod.torch.mpi_

[2020-03-26 17:47] chandana1332 opened #1827 "Does Horovod use the optimized NCCL2 hierarchical allreduce?"
I have the understanding that Horovod uses NCCL to allreduce (with a ring structure) within each machine and use MPI to allreduce (with a tree structure) across machines because NCCL's allreduce across machines wasn't not optimal.

NCCL2 has since introduced a hierarchical allreduce. Does Horovod use that?

[2020-03-26 18:17] nvcastet commented on #1825
@pattasiago It probably won't work right out of the box because we never saw a use case for it for the reason I mentioned: adding the CPU node will give you worse performance than having single GPU node. Does that make sense?

[2020-03-26 18:37] nvcastet commented on #1823
@anweshpanda Which version of pytorch are you using? How did you install it? Horovod package in the channel was built against Pytorch 1.3.1 and TF 2.1 with the compiler provided by conda. What I usually recommend is to create a fresh conda environment with this channel that will pull all the compatible conda packages:
[code]
We can see package versions at: https://www.ibm.com/support/knowledgecent

[2020-03-26 19:29] pattasiago commented on #1825
@nvcastet totally

[2020-03-26 19:35] #1825 closed

[2020-03-27 01:22] askucher commented on #1810
@tgaddair When people rent their resources to other people with small fee

[2020-03-27 03:33] anweshpanda commented on #1823
Thanks a lot @nvcastet . It worked finally.

[2020-03-27 04:39] iou2much commented on #403
my version is 0.19.0. it still happens when training stage finished and evaluating start for every epoch

[2020-03-27 04:46] jiangzihanict commented on #1800
Thanks, @romerojosh. I've already used Nvidia NVPORF to analyze the time breakdown of a FasterRCNN model. I trained this model with an end-to-end manner and deployed it on an 8-V100-GPUs machine. The GPU is connected bt NVLINK.

In my profiling results, the kernel named `ncclAllReduceRingLLKernel_sum_f32` occupies 35% of total running time. Is it because of the bad overlap between communication an

[2020-03-27 12:31] #1823 closed

[2020-03-27 12:49] Desein-Yang opened #1831 "How can I cope with 'Fail to determine if Gloo support has been built'"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.5.1
3. Horovod version: 0.19.1
4. MPI version: 1.0
5. CUDA version: 10.2.89
6. NCCL version: 2.6.7.1
7. Python version: 3.6
8. OS and version: RedHat
9. GCC version: 4.8.5
I use command
`horovodrun -np 4 -H localhost:4 python train_atari.py --verbose`

`Traceback (most recent call last):

[2020-03-27 15:56] adamjstewart opened #1832 "Unable to build Horovod without CUDA support"
**Environment:**

1. Framework: Tensorflow
2. Framework version: 2.1.0
3. Horovod version: 0.19.1, master
4. MPI version: OpenMPI 3.1.5
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7.6
8. OS and version: macOS 10.15.3
9. GCC version: Clang 11.0.3

**Bug report:**

I'm trying to build Horovod on my laptop, which does not have CUDA support, but the installation fails with the follo

[2020-03-27 16:09] tgaddair commented on #1831
Hey @MrOxygen, can you share the full log?  The error should be somewhere above.  Also, did you install Horovod with `HOROVOD_WITH_GLOO=1 pip install --no-cache-dir horovod`?  If not, I would recommend reinstalling with that environment variable set.  It'll print an error if Gloo fails to install.

[2020-03-27 16:58] romerojosh commented on #1827
The hierarchical strategy (NCCL intranode, MPI internode) is an optional path in Horovod (enabled via `HOROVOD_HIERARCHICAL_ALLREDUCE=1`), while the default path is to use NCCL alone for the allreduce across the entire worker set. The underlying NCCL library will use tree-based or ring-based communication algorithms, depending on the topology of the system it detects and message sizes.

[2020-03-27 17:28] tgaddair commented on #1832
Hey @adamjstewart, I see from your environment that you have `HOROVOD_GPU_ALLREDUCE=MPI` (and ALLGATHER, BROADCAST) set.  Setting these flags is for using MPI in conjunction with CUDA.  In your case, you do not want to do GPU allreduce at all.

Try unsetting the following flags:

[code]

[2020-03-27 17:33] chandana1332 commented on #1827
I couldn't find anything on NCCL that explains the above behaviour. Is the logic to pick a particular algorithm in Horovod or NCCL?

Also, if MPI for allreduce is optional behavior, what are the main reasons for using MPI in Horovod? Can I get speedup by using NCCL's ring allreduce without MPI?

[2020-03-27 18:32] adamjstewart commented on #1832
Thanks @tgaddair! That fixed my issue. I'm now experiencing a different issue while building the TF backend:
[code]
Full build log and environment:

* [spack-build-out.txt](https://github.com/horovod/horovod/files/4395288/spack-build-out.txt)
* [spack-build-env.txt](https://github.com/horovod/horovod/files/4395291/spack-build-env.txt)

[2020-03-27 18:35] romerojosh commented on #1827
The algorithm selection logic is within NCCL. For more details, you can refer to their docs or ask a question on their Github repository.

Even when using NCCL for allreduce and other collectives, there is still network communication in Horovod for control logic (making sure workers are submitting the same collectives, in the same order, etc.). Horovod can use either MPI or gloo for this control c

[2020-03-27 21:52] adamjstewart commented on #1832
@tgaddair I managed to get the build to succeed with the following patch:
[code]
I have no idea if this is macOS/Apple Clang specific, or should be applied for all compilers. I'm a Python guy, not a C++ guy.

[2020-03-27 22:28] tgaddair commented on #1832
Nice find @adamjstewart!  That's curious though, I don't have any issues with that flag being absent when building on my Mac.  cc @nvcastet who most recently modified these flags, do you have any thoughts on what might cause this?

One workaround would be to set the environment variable `HOROVOD_BUILD_ARCH_FLAGS="-mfma"` to ensure it's included.

[2020-03-28 00:59] MrOxygen commented on #1831
Thank for your help and I try to reinstall with `HOROVOD_WITH_GLOO=1 pip install --no-cache-dir horovod` , it printed out the same error. And the full log is
`Traceback (most recent call last):
  File "/home/yangqi/anaconda3/envs/tf1.5/bin/horovodrun", line 21, in <module>
    run_commandline()
  File "/home/yangqi/anaconda3/envs/tf1.5/lib/python3.6/site-packages/horovod/run/run.py", line 876, in

[2020-03-28 01:00] MrOxygen commented on #1831
Thank for your help and I try to reinstall with HOROVOD_WITH_GLOO=1 pip install --no-cache-dir horovod , it printed out the same error. And the full log is
Traceback (most recent call last): File "/home/yangqi/anaconda3/envs/tf1.5/bin/horovodrun", line 21, in <module> run_commandline() File "/home/yangqi/anaconda3/envs/tf1.5/lib/python3.6/site-packages/horovod/run/run.py", line 876, in run_command

[2020-03-28 06:07] MrOxygen commented on #1831
Thanks for your help and I have tried to reinstall with `HOROVOD_WITH_GLOO=1 pip install --no-cache-dir horovod` , it printed the same error. I also try to run with `horovodrun -np 10 -H localhost:10 python train_atari.py --mpi `. And the full log is
`Traceback (most recent call last):
  File "/home/yangqi/anaconda3/envs/tf1.5/bin/horovodrun", line 21, in <module>
    run_commandline()
  File "/ho

[2020-03-30 01:39] JohnTaylor2000 opened #1833 "Horovod applied to a LSTM"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) any
2. Framework version: any
3. Horovod version: any
4. MPI version: any
5. CUDA version: any
6. NCCL version: any
7. Python version: any
8. OS and version: any
9. GCC version: any

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc]

[2020-03-30 07:21] anweshpanda opened #1834 "Error while trying to run on more than 4 CPU cores"
Hi
I am using horovod with pytorch and trying to run the pytorch_mnist.py which is an example given .
I am able to run in successfully for number of cpu cores<=4 by using the command :
horovodrun -np 4   python pytorch_mnist.py
However while trying to run on more than 4 cpu cores I am getting the following error:
[code]

Can anyone please help?

[2020-03-30 10:55] rudvlf0413 commented on #1831
I also got the same error

I installed using the following command
`HOROVOD_WITH_PYTORCH=1 HOROVOD_WITH_MPI=1 HOROVOD_NCCL_HOME=/home/rudvlf0413/nccl HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GPU_BROADCAST=NCCL pip install --no-cache-dir horovod`

And I got an error

`Traceback (most recent call last):
  File "/home/rudvlf0413/anaconda3/bin/horovodrun", line 21, in <module>
    run_commandline()
  File "

[2020-03-30 15:19] tgaddair commented on #1831
Hey @MrOxygen @rahul003, that's a stack trace, but not the entire log.  Please run `horovodrun --verbose ...` and provide the entire log in a gist.  If you run in verbose mode, then the true error should appear above that stack trace.

[2020-03-30 15:31] nvcastet commented on #1832
@adamjstewart Could you run this command in a terminal on your mac and paste the output here `gcc -march=native -E -v - </dev/null 2>&1`?

[2020-03-30 15:57] adamjstewart commented on #1832
[code]
Note that I'm using Apple Clang, not GCC.

[2020-03-30 16:25] abditag2 commented on #1834
I was not able to recreate this error on my local environment.
From your errors, it seems that one of your ranks has trouble decompressing the dataset. I'd suggest use a few print statements to identify what happens exactly.

[2020-03-30 16:27] abditag2 commented on #1833
There is not any difference for using LSTM vs. other types of models. You can follow any of our examples and only swap out the model with your model and inject your data.

[2020-03-30 16:32] abditag2 commented on #1816
You can only specify number of processes. If there are GPUs on the machine, each process will use one GPU. If there are no GPUs on the machine, process can use all the machine cores. How much of the cores they utilize totally depends on your code and your framework (pytorch and TF's underlying multiprocessing and multithreading.

We do not restrict the use of memory and it is all up to your code.

[2020-03-30 16:33] rudvlf0413 commented on #1831
@tgaddair Oh, sorry, I ran horovodrun with verbose, and the results as

[code]

[2020-03-30 16:40] abditag2 commented on #1797
Seems that after your forward pass, you need to gather all the outputs, and labels then calculate the loss. At this point, only one of the GPUs needs to calculate the loss and disperse the results to the rest.  From the description of your problem, it does not seem that you cannot use pure data-parallel for training because you need all the batch values for every step of the training of each repli

[2020-03-30 17:33] nvcastet commented on #1832
@adamjstewart. Yes, as you can see if the output, clang overwrote the gcc command.
For clang we would expect to be `+fma` instead of `-fma` https://github.com/llvm-mirror/clang/blob/master/test/Driver/x86-target-features.c#L35-L36 to be a supported target optimization. So, I would assume that FMA optimizations are not supported on your hardware.
Just curious, which MacOS device are you building on

[2020-03-30 17:53] nvcastet commented on #1832
I added a PR to fix the compilation issue if FMA is not supported for your targeted architecture, in this case Adasum for fp16 will not be compiled. It would be great to have a non-optimized code path for Adasum and fp16.

[2020-03-30 18:20] adamjstewart commented on #1832
I'm building and running on a 2013 MBP with a dual-core ivybridge CPU. If FMA being unsupported is the issue, then why does adding the flag `-mfma` solve the issue for me? Let me try your PR and see if it solves the issue for me.

[2020-03-30 18:28] nvcastet commented on #1832
@adamjstewart You can usually compile with optimizations that are not supported by the CPU of the build machine. But if you run those unsupported instructions in the build machine, in this case by using Adasum fp16, the program will crash.
Ivy Bridge does not have FMA: https://software.intel.com/en-us/forums/intel-isa-extensions/topic/508192

[2020-03-30 18:31] adamjstewart commented on #1832
Your PR solves the issue for me. Thanks!!!

[2020-03-30 20:17] #1832 closed

[2020-03-31 01:26] tgaddair commented on #1831
Hey @rudvlf0413, you're using PyTorch, right?  Looks like your issue is similar to https://github.com/horovod/horovod/issues/431#issuecomment-577915458.  Can you try running:

[code]

And share the result?  You may also want to look into some of the discussion in the linked issue.

[2020-03-31 04:46] anweshpanda commented on #1834
So I am getting the error exactly in this line:
train_dataset = \
    datasets.MNIST('data-%d' % hvd.rank(), train=True, download=True,
                   transform=transforms.Compose([
                       transforms.ToTensor(),
                       transforms.Normalize((0.1307,), (0.3081,))
                   ]))

[2020-03-31 07:02] rudvlf0413 commented on #1831
After I reinstall the OpenMPI using conda, and then I ran the using:
ldd  /home/rudvlf0413/anaconda3/lib/python3.7/site-packages/horovod/torch/mpi_lib_v2.cpython-37m-x86_64-linux-gnu.so

Then, I reinstalled Horovod, and it finally worked! Thank you @tgaddair !

[2020-03-31 15:42] tgaddair commented on #1834
Hey @anweshpanda, looks like the MNIST dataset got corrupted when downloading for rank 3 somehow.  Can you try doing the following to fix it:

[code]

Basically, replace the corrupted copy of the dataset with an uncorrupted copy.

[2020-03-31 17:09] anweshpanda commented on #1834
Thanks a lot @tgaddair .It worked.

[2020-03-31 17:41] tgaddair commented on #1834
Excellent!  I'll go ahead and close this issue for now.

[2020-03-31 17:41] #1834 closed

[2020-04-01 00:43] KangGrandesty commented on #1821
I know it, The `tail` shouldn't be use with `nohup horovodrun` in the **same** script.

[2020-04-01 00:43] #1821 closed

[2020-04-01 02:25] JohnTaylor2000 commented on #1833
Yes you are correct there are many ways to achieve this based on exisiting applications of horovod.  Time series problems do pose their own unique problems. I am interested identifying the most efficient way of using horovod ie how the LSTM problems map to solutions using horovod, so was interested in surveying the approaches that others have taken, but have not found many LSTM examples using horo

[2020-04-01 09:40] rudvlf0413 opened #1838 "cuda runtime error - device not ready"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.4
3. Horovod version: 0.19.1
4. MPI version: OpenMPI 4.0.2
5. CUDA version: 10.1
6. NCCL version: 2.6
7. Python version: 3.7.7
8. OS and version:
9. GCC version:

I got an error link:
THCudaCheck FAIL file=horovod/torch/ready_event.cc line=94 error=600 : device not ready

And the full logs are:

[code]

I don't know how to solve this p

[2020-04-01 14:08] mtrimmel commented on #1045
Hello, I am having the same problem: `horovodrun -np 2 -H localhost:2 python train.py` returns `horovodrun: command not found`.
Horovod 0.13.8, Tensorflow 1.8, Ubuntu 16.4, Python 3.6.9, pip 20.0.2.
I am trying to run on 2 GPUs on my local machine. As suggested above by @alsrgv, I have made sure to use the latest pip version to install Horovod. I used Pycharm for the installation of Horovod. I am

[2020-04-01 15:15] tgaddair commented on #1045
Hey @martin294, `horovodrun` was introduced in Horovod version `0.18`.  Can you try upgrading to a more recent version?  Otherwise, I would suggesting using [mpirun](https://github.com/horovod/horovod/blob/master/docs/mpirun.rst) instead.

[2020-04-01 17:31] martin294 commented on #1045
Thanks a lot, that solves my problem! 👍

[2020-04-02 11:11] weberxie commented on #1384
@atranitell Nice work! Any updates on this feature? Could you please update the it with latest version?

[2020-04-02 11:49] #1816 closed

[2020-04-02 14:01] Leslie-Fang opened #1840 "load and pre-process training data when doing the sync of weight"
Hi All, I am using horovod with TF. Since my dataset is little bit larger. When I am using horovod to do the training among the CPU cluster. After each training step, horovod would sync the data among the system with ring-allreduce.
My question is that, is it possible for the worker to load and pre-process the training data for next step when sync the weights of current training step among the wor

[2020-04-02 14:24] Leslie-Fang commented on #733
Hi @abditag2 Thanks for the reply.
I have another question is is it possible for each rank creates a batch of data meanwhile updates the weights. I think these 2 steps are irreverent, Right? After both of this steps are finished, the new step could start the forward pass.

[2020-04-02 16:09] anweshpanda opened #1841 "Dataset distribution"
Hi
I have my own dataset and I am using horovod with pytorch. I want to distribute my dataset among all the processors uniformly so that I can do distributed training. So can anyone please help , how can I do that?

[2020-04-03 00:29] tgaddair commented on #1833
Hey @JohnTaylor2000, [OpenSeq2Seq](https://devblogs.nvidia.com/mixed-precision-nlp-speech-openseq2seq/) is one example that combines LSTM (among other layers/cells) with Horovod.  However, the way they use Horovod is pretty raw, and I wouldn't recommend it in most cases.

[Ludwig](https://github.com/uber/ludwig) is another framework that uses Horovod and is commonly applied to NLP tasks.

For most

[2020-04-03 00:33] tgaddair commented on #1840
Hey @Leslie-Fang, yes, this is something that TensorFlow natively supports called [prefetching](https://www.tensorflow.org/guide/data_performance#prefetching).  If you're using `tf.data` and you enable it, then you can preprocess batch b+1 while batch b is being allreduced.

[2020-04-03 01:37] Leslie-Fang commented on #733
https://github.com/horovod/horovod/issues/1840
Thanks this reply resolves my problem

[2020-04-03 01:38] Leslie-Fang commented on #1840
@tgaddair Thanks that's what I am looking for.

[2020-04-03 01:38] #1840 closed

[2020-04-03 03:46] kingwales1 commented on #1449
Hi, @tgaddair I want to do the performance comparison with [tensorflow 2](https://github.com/tensorflow/models/tree/master/official) official models. But the provided guideline is evaluated with tensorflow 1. Do the tensorflow 2 official models support Horovod now?  Could you please show me a simple command example to run the [BERT ](https://github.com/tensorflow/models/tree/master/official/nlp/be

[2020-04-03 09:35] Victorsoukhov opened #1842 "Horovod with Tensorflow"
**Environment:**
Documentation information

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.rst)?
3. If your question is about docker, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/docker.rst)?
4. Did you check

[2020-04-03 10:10] SriramAvatar commented on #1841
@anweshpanda, these two links could help.
[Issue1210](https://github.com/horovod/horovod/issues/1210)
[Issue1100](https://github.com/horovod/horovod/issues/1100) - Check the last replies.
Thanks.

[2020-04-03 15:58] tgaddair commented on #1842
Hey @Victorsoukhov, thanks for pointing out this issue with the docs.  I'll make a change to fix this.  In the meantime, you can find the information you're looking for [here](https://horovod.readthedocs.io/en/latest/tensorflow.html).

Also, we have a number of [examples](https://github.com/horovod/horovod/tree/master/examples) of both TensorFlow v1 and v2 (with and without Keras) to work off of.

[2020-04-03 17:31] kingwales1 opened #1843 "Running tensorflow 2 official models with horovod"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 2.0
3. Horovod version: latest
4. MPI version: 4.0
5. CUDA version: 10.1
6. NCCL version:
7. Python version: 3.7
8. OS and version: Ubuntu 16.04
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [t

[2020-04-03 18:09] abditag2 commented on #1843
Yes, Horovod supports TF2 and the command is the same. We have several examples in Horovod repo for Tensorflow 2 that you can take a look at.

[2020-04-03 22:50] kingwales1 commented on #1843
Hi @abditag2 Thanks! I did try the horovod example. But I want to know if I can run the official models from tensorflow 2, this [repo](https://github.com/tensorflow/models)?

[2020-04-06 08:35] oldmonkABA commented on #1842
Hi @tgaddair The [link](https://horovod.readthedocs.io/en/latest/tensorflow.html) you have given seems to be for Tensorflow 1.0 and not 2.0. Do you have something for tf 2.0

[2020-04-06 15:03] cmtcl18 commented on #1197
Dear All,
I am getting the above error.

/usr/bin/mpirun -n 8 python DMFTSC_test.py
Starting run with 8 MPI rank(s) at : 2020-04-06 18:17:11.870724
Iteration =  1
Dichotomy adjustment of Chemical Potential to obtain Total Density = 197.000000 +/- 0.000100
Warning: Imaginary part in density will be ignored (3.91963762861e-05)
Warning: Imaginary part in density will be ignored (3.90174583302e-05)

[2020-04-06 16:49] abditag2 commented on #1843
You can. You need to make a few lines of changes though.

1. hvd.init()
2. wrap your optimizer with hvd.DistributedOptimizer
3. scale you learning rate

For example, mnist official model is https://github.com/tensorflow/models/blob/master/official/vision/image_classification/mnist_main.py
and its modification with horovod is
https://github.com/horovod/horovod/blob/master/examples/tensorflow2_mnist

[2020-04-06 20:32] dktemp888 opened #1848 "Is allreduce needed for custom loss function for tf.keras"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): tf.keras
2. Framework version: TF 2.1.0
3. Horovod version: 0.19.1
4. MPI version: 4.0.1
5. CUDA version: n.a.
6. NCCL version: n.a.
7. Python version: 3.7.5
8. OS and version: CentOS 7
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, di

[2020-04-07 18:28] anweshpanda commented on #1841
I checked them but I did not get them quite much.... What I want to do is like process 0 reads the data,store in a dataloader and distributes them uniformly among all the processors....How can I do that?Is there any simple way to achieve this?

[2020-04-08 10:34] MenglingD opened #1850 "ORTE does not know how to route a message to the specified daemon"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) mxnet
2. Framework version: 1.6.0
3. Horovod version: 0.19.0
4. MPI version: 4.0.1
5. CUDA version: 10.0.130
6. NCCL version: 2.4.8
7. Python version: 3.6.9
8. OS and version: ubuntu18.04
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
[https://github.com/horovod/horovo

[2020-04-08 12:02] ilmarkov opened #1851 "Docker example fails"
**Environment:**
1. Framework: Any of frameworks
2. Framework version:
3. Horovod version: 0.19.1
4. MPI version: 3.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.7-1+cuda10.0
7. Python version: 2.7
8. OS and version: ubuntu16.04
9. GCC version: g++-2.8

**Bug report:**

I build a docker image of the latest horovod sources from Dockerfile.test.gpu with a slight addition to support ssh (took a coup

[2020-04-08 16:11] chaaland opened #1853 "Typo in install documentation?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-04-08 18:26] tgaddair commented on #1853
Good catch, @chaaland.  It should be `HOROVOD`, not `HOROVOOD`.  I've updated the docs in #1854.

[2020-04-08 18:27] tgaddair commented on #1842
Hey @oldmonkABA, yes.  I've updated the docs to include v2 details in #1854.  Please take a look.

[2020-04-08 22:16] akirillov opened #1855 "Running Horovod on Kubernetes with Istio"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.1.0
3. Horovod version: 0.19.0
4. MPI version: 4.0.0
5. CUDA version: 10.1
6. NCCL version: 2.4.8
7. Python version: 3.7.5
8. OS and version: Ubuntu 18.04 (Docker)
9. GCC version: 7.5.0

**Checklist:**
- [x] 1. Did you search issues to find if somebody asked this question before?
- [x] 2. If your question is about hang, did you read

[2020-04-08 23:59] #1842 closed

[2020-04-08 23:59] #1853 closed

[2020-04-09 12:23] SriramAvatar opened #1857 "When/Why to distribute the epochs?"
** Epochs :**
 As I understand, horovod does a training based on data parallelism, every node trains on the different set of data. When a node trains on a subset of data, I assume all the epochs should happen on the same node.
I see in some samples that the epochs are distributed too. Why is this?

`# Horovod: adjust number of epochs based on number of GPUs.#Check
hvd_epochs = int(math.ceil(param_

[2020-04-09 12:37] SriramAvatar opened #1858 "Data Parallelism: How it works and is Slicing the right way?"
**Data Parallelism:**
 As horovod does a training based on data parallelism, every node trains on the different set of data?How is the data split done with proper sampling?
Some tensorflow samples use the tensorflow: `tensorflow.dataset.shard()`
Some databricks samples use Slicing : `dfSliced = dfFull.iloc[hvd.rank()::hvd.size(), :].copy()`

1 : What is the correct way?
2 : If slicing is used, is

[2020-04-09 12:43] SriramAvatar commented on #1841
I am working on a similar sample.Try the distribution using dataframe slicing as below.
`dfSliced = dfFull.iloc[hvd.rank()::hvd.size(), :].copy()`

dfFull - the pandas dataframe that contains the image path as a column
On node 0, hvd.rank() = 0 and for a total of 4 nodes, hvd.size()
So on node 0, take dfFull.iloc[0::4(every 4th record)]. Make sure to copy the dataframe.

[2020-04-09 13:36] EnricoMi commented on #1743
@jamesprinc3 @itamarst A fix has landed in Horovod master which might also fix the cloudpickle issue: https://github.com/horovod/horovod/commit/16d1fd175f5ce804f4daa66da5d51e2dc3da1b36

With that fix cloudpickle might be able to unpickle the training function when all code is provided with `spark-submit --py-files` or `session.sparkContext.addPyFile()`. Please give it a try.

[2020-04-09 16:28] zenetio commented on #390
I executed the same command line with 1 and 4 GPUs and the accuracy with 1 GPU is better than with 4 GPUs, although the training time with 4 is almost 50% faster. Maybe you need decide if the lower in accuracy may justify the decrease in training time.

[2020-04-09 18:28] zenetio commented on #1663
I think this will not work in WSL because the current version os WSL still does not recognize the GPU installed.

[2020-04-10 09:00] MenglingD commented on #1850
It's seems to the bug of openmpi，and I find analogous issues in openmpi repository. [OMPI 4.0.1 TCP connection errors beyond 86 nodes](https://github.com/open-mpi/ompi/issues/6786). And that bug fixed at 4.0.3 of openmpi，which is tested in my situation.

[2020-04-10 09:00] #1850 closed

[2020-04-10 16:17] tgaddair commented on #1851
Hey @ilmarkov, thanks for raising the issue.  It does look like there is indeed a typo following a recent refactor on master.  @abditag2, can you take a look, and add a unit test to ensure we are properly testing this code path?

[2020-04-10 16:23] tgaddair commented on #1858
Hey @SriramAvatar, usually we would recommend using `tf.dataset.shard()` if using TFRecord, or [Petastorm](https://github.com/uber/petastorm) if using Parquet.

The example Databricks provides using `iloc` is probably a toy example.  In practice, you wouldn't use Pandas to read the data, as it would require reading the entire dataset into memory on each worker.  One of the motivations for data par

[2020-04-10 16:43] tgaddair commented on #1857
Hey @SriramAvatar, you're probably referring to the [keras_mnist.py](https://github.com/horovod/horovod/blob/master/examples/keras_mnist.py#L25) example.  In that example, because the data is not being partitioned among the workers, decreasing the number of epochs is equivalent to decreasing the number of steps per epoch (because we're not reshuffling between epochs).

It's mostly a toy example me

[2020-04-10 19:29] iamyangchen opened #1862 "Question about TF multithread session run with horovod"
I'm trying to adopt horovod to scale our current TF training script to multiple gpus/machines. I'm testing with one machine with 4 GPUs right now, using command like `horovodrun -np 4 python trainer.py ...`

Our current script used python multithreading to speed up the training throughput, which basically calls session.run on each of the thread using the same session object. It seems that it's not

[2020-04-10 19:46] tgaddair commented on #1862
Hey @iamyangchen, it sounds like your multithreading approach is doing something similar to Horovod but within a single GPU: processing multiple batches in parallel.  Are you also averaging the gradients among the different threads or just applying them as soon as they're computed.  If you're not averaging them, I would expect you to have convergence problems.

If I understand what you're doing co

[2020-04-10 21:14] iamyangchen commented on #1862
@tgaddair Thanks for the quick response and clarification!

I have actually tried use more horovod workers, basically do what you suggested. But then I end up with a NCCL error

[code]

adding `--mpi-args="-x NCCL_DEBUG=WARN"` to the command I saw warnings like
[code]

so I suspect NCCL only allows one process to pin to one GPU? Any suggestions on this error?

BTW I'll give it a shot on the larger

[2020-04-11 17:45] tgaddair commented on #1862
@iamyangchen yes, it seems NCCL does not support using the same device for multiple ranks (see [docs](https://docs.nvidia.com/deeplearning/sdk/nccl-developer-guide/docs/usage/communicators.html)).

I'm sure we could think of a way to work around this, but I would still suggest trying to tune the batch size first.  In nearly every case, you should be able to saturate the GPU effectively with a sing

[2020-04-12 05:34] tirkarthi opened #1865 "Deprecation warning due to invalid escape sequences in Python 3.7"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version: 3.7
8. OS and version: Linux Ubuntu 18.04
9. GCC version:

**Bug report:**

Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals.

[code]

[2020-04-13 18:35] Vidyaranya commented on #676
It 'sort of works' but it runs out of memory when I use two GPUs. When I used 1 GPU the process runs fine but for 2 GPUs with 2 processes, the first process runs fine but the second process runs out of memory. I suspect this is because visible_device_list is set to 0, every process is using just the first GPU?

[2020-04-13 18:36] Vidyaranya commented on #676
It 'sort of works' but it runs out of memory when I use two GPUs. When I used 1 GPU the process runs fine but for 2 GPUs with 2 processes, the first process runs fine but the second process runs out of memory. I suspect this is because visible_device_list is set to 0, every process is using just the first GPU?

[2020-04-13 18:45] shividhar commented on #1634
@tgaddair This issue still persists. Do you have any advice?

[2020-04-13 19:19] tgaddair commented on #676
Hey @Vidyaranya, for most environments, you should do the following:

1. Unset `CUDA_VISIBLE_DEVICES`.  That way, every process can see every GPU initially (this is important for NCCL to work correctly).
2. Set `config.gpu_options.visible_device_list = str(hvd.local_rank())`.  This will ensure that process 0 sees only GPU 0, process 1 sees GPU 1, etc.

Use `nvidia-smi` to verify that both GPUs are

[2020-04-13 19:26] tgaddair commented on #1634
Hey @shividhar, apologies for dropping the ball on this.  Nothing looks out of the ordinary at first glance.  It may help to see the full log, if you can paste it into a gist.

@romerojosh @nvcastet do you have any thoughts on what could cause this NCCL issue?

[2020-04-13 19:28] tgaddair commented on #1865
Thanks for raising this issue, @tirkarthi.  Are you interested in creating a PR for this?

[2020-04-13 20:31] Vidyaranya commented on #676
Hi @tgaddair, thanks for the quick response. It still get the same 'mapped to multiple cuda devices'. I use a singularity container to run my python training script. I have done unset CUDA_VISIBLE_DEVICES and then config.gpu_options.visible_device_list = str(hvd.local_rank()) in the script.

[2020-04-13 20:40] tgaddair commented on #676
Hey @Vidyaranya, since you're using Singularity, did you follow the guidance in this doc: https://github.com/sylabs/examples/tree/master/machinelearning/horovod

Were you able to run the `keras_mnist_advanced.py` example without needing to modify the training script?

Also, are you using SLURM to launch your jobs?

[2020-04-13 22:24] Vidyaranya commented on #676
Hi @tgaddair, I did follow those instructions while I initially created the singularity container. However, now I see that the `keras_mnist_advanced` example doesn't work. it fails with error `AttributeError: module 'tensorflow.python.keras.backend' has no attribute 'get_graph'`

And yes, I am using slurm to launch my jobs.

[2020-04-14 12:26] CaptainDuke commented on #1483
hi I'm installing horovod with tensorflow==1.15.0, and meet same problem.

[code]
I have tried GCC8 toolchain but it failed either.
[code]

[2020-04-14 15:34] nvcastet commented on #1634
@shividhar Having the full log into a gist would help. Are you running baremetal or within container?
Most of the errors I got from NCCL in the past were due to limited shared memory on the container or the box. You can check the size with `df -h /dev/shm`, usually you would want a few GB.

[2020-04-15 01:23] atranitell commented on #1384
@weberxie probably, I will update the latest version and test it at this weekend, compared with the torch.dist.

[2020-04-15 13:09] tirkarthi commented on #1865
@tgaddair Sure, just created #1871 . Thanks.

[2020-04-15 15:41] tgaddair opened #1872 "Change ElasticDriver to send a "cancel" notification to workers when updates are undone between resets"
In the current behavior, the ElasticDriver will send a `HostsUpdatedRequest` for every change to the available hosts that would result in a change in host assignments.  However, it is possible that these changes can be undone before workers have a chance to react to them.  For example:

[code]

If workers are started at t0 and call `state.check_host_updates()` at t2, then the resulting reset will

[2020-04-15 15:43] tgaddair opened #1873 "Support functional `horovod.run` codepath for elastic mode"
Currently, elastic mode only works in command-line mode, but it should also be supported by the functional interface via the same args.

[2020-04-15 15:45] tgaddair opened #1874 "Support Elastic Horovod on Spark"
Recent work done to add Gloo support for Horovod on Spark (#1807) makes it compatible with the Elastic mode for Horovod (#1849).  We should integrate these systems.

[2020-04-15 15:47] tgaddair opened #1875 "Consolidate rank initialization to always happen through rendezvous for both elastic and standard run modes"
Currently, standard mode initializes ranks through environment variables, while elastic mode uses rendezvous after the first reset.  We should consolidate to simplify the complexity to only use rendezvous.

[2020-04-15 15:50] tgaddair opened #1876 "Avoid synchronizing state when workers are only removed, not added"
During a graceful removal, no state needs to be synced between the workers, but we do not distinguish between graceful adds / removals.  If we could know that the reset only removed workers, then we could skip synchronization.

[2020-04-15 18:06] EnricoMi commented on #1874
Working on it.

[2020-04-15 18:12] #1865 closed

[2020-04-15 18:15] anweshpanda commented on #1841
Thanks....... @SriramAvatar

[2020-04-15 18:15] #1841 closed

[2020-04-15 20:23] martin294 opened #1878 "Using Horovod with Docker and mpirun"
**Environment:**
1. Framework: TensorFlow, Keras
2. Framework version: TensorFlow 1.8
3. Horovod version: 0.13.8
4. MPI version: mpirun (Open MPI) 4.0.3
5. CUDA version: 9.0
6. NCCL version: -
7. Python version: 3.6.9
8. OS and version: Ubuntu 16.04
9. GCC version: 5.4.0

**Question:**
Hello! I am trying to use Horovod with Docker, following the instructions given at
https://github.com/horovod/hor

[2020-04-16 06:48] SriramAvatar commented on #1857
Ok, thanks for the clarification

[2020-04-16 06:48] #1857 closed

[2020-04-17 02:48] cheneyoung opened #1882 "How to use horovod on fast styleGAN training?"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3.1
3. Horovod version: 0.19.1
4. MPI version: 3.1.0
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 3.6.8
8. OS and version: linux Centos 7
9. GCC version: 7.4.0

**Your question:**
Please ask your question here.
When I use horovod on styleGAN training, it warning that "UserWarning: optimizer.step() called without opti

[2020-04-17 04:41] cheneyoung commented on #1417
I meet the same problem when I training on styleGAN, anyone could give a solution?

[2020-04-17 04:46] xupengcoding opened #1883 "horovod docker run multiple machines without shared filesystem"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-04-17 04:47] xupengcoding commented on #1883
@tgaddair

[2020-04-17 06:48] murphypei commented on #594
this works for me, thanks.

[2020-04-17 13:24] ParkGeonYeong commented on #1417
@cfanyyx, @cheneyoung  In my case, i don't see any qualitative problems without using .skip_synchronize(). It seems fine.

[2020-04-18 09:23] vycezhong opened #1885 "speed plunges when training locally"
**Environment:**
1. Framework:  mxnet-cu102
2. Framework version: 1.6.0
3. Horovod version: 0.19.1
4. MPI version: 3.1.0
5. CUDA version: 10.2
6. NCCL version: 2.5.6
7. Python version: 3.6
8. OS and version: ubuntu18.04lts
9. GCC version: 7.5.0

HW: p3.16xlarge

**Bug report:**

[code]
At first everything worked well. but later GPUs run so slow that i thought they did not run at all. I set `log-in

[2020-04-18 14:36] guoyuanxiong opened #1886 "Multiple processes on a single GPU in Horovod?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-04-18 16:01] dkajtoch opened #1887 "How does horovod handles fault tolerance"
I would like to know if horovod is able to resume training if one of the nodes is down in distributed training? This situation happens frequently on Google Ai platform when training for many hours with lot of virtual machines and resources. I believe it maybe due to maintenance reasons. Or from different angle: is it possible to train models on preemptible virtual machines which can be down pretty

[2020-04-19 03:18] Snowdar opened #1888 "Questions about lr_scheduler of Pytorch and logging"
Hi, I have two questions when using horovod:
(1) How to use lr_scheduler after replacing torch.optim.optimizer with hvd.DistributedOptimizer?
(2) Why print information by <stderr> type and there seems a cache when using logging.info?

[2020-04-19 03:35] #1888 closed

[2020-04-19 14:56] cheneyoung commented on #1417
How did you use .skip_synchronize()? Below is my code:
`# update generator weights
        optimizer_G.synchronize()
        optimizer_G.zero_grad()
        if opt.fp16:
            with amp.scale_loss(loss_G, optimizer_G) as scaled_loss: scaled_loss.backward()
        else:
            loss_G.backward()
        optimizer_G.step()
        optimizer_G.skip_synchronize()

        # update discrimina

[2020-04-20 06:59] Alwaysproblem opened #1889 "error: None of TensorFlow, PyTorch, or MXNet plugins were built. See errors above."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) tensorflow
2. Framework version: 2.1
3. Horovod version: 0.19
4. MPI version: 1.6.5
5. CUDA version:
6. NCCL version:
7. Python version: 3.7.6
8. OS and version: Ubuntu 14.04 LTS
9. GCC version: g++ (Ubuntu 4.9.4-2ubuntu1~14.04.1) 4.9.4

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2.

[2020-04-20 20:40] ehsab opened #1890 "W horovod/common/stall_inspector.cc:105] One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that only subset of ranks is submitting tensors, which will cause deadlock."
**Environment:**
1. Using Horovd docker on Ubuntu18.04 on Google GCP
2. All ssh connections work well between docker containers

I am trying to run pytorch_imagenet_resnet50.py from example folder. I have 4 servers each has 4 V100 GPUs. I run it with the following settings:

1 Server 1 GPU => works fine
1 Server 2 GPUs => works fine
1 Server 4 GPUs => works fine
2 Servers 1 GPU each server => work

[2020-04-20 22:05] ehsab commented on #403
Did you find a better solution? I am trying to run pytorch_imagenet_resnet50.py in docker and get the same error:

any update?

[2020-04-20 22:17] ehsab commented on #403
@alsrgv I have an exact same problem. I am just trying to run pytorch_imagenet_resnet50.py sample from Horovod. It doesn't work in some situation e.g. 4 servers 4 gpus. But it works on 1/2servers 1/2 gpus. Any idea? Does the sample work without any changes?

Thanks,

[2020-04-20 23:21] tgaddair opened #1891 "Python 3.8 incompatibility with nccl_built check"
See: https://github.com/huge-success/sanic/issues/1774

[code]

[2020-04-21 01:07] tgaddair commented on #1890
Hey @ehsab, there's a lot going on in the ResNet script, so my first suggestion would be to try running a script that doesn't require reading any data from disk.  Can you verify that [pytorch_synthetic_benchmark.py](https://github.com/horovod/horovod/blob/master/examples/pytorch_synthetic_benchmark.py) works correctly / exhibits the same behavior when run with > 4 GPUs?

[2020-04-21 01:12] tgaddair commented on #1889
Hey @Alwaysproblem, looks like you don't have TensorFlow installed:

[code]

Can you verify that TensorFlow is installed with `pip show tensorflow`? I would suggest checking the Installation Guide [here](https://horovod.readthedocs.io/en/latest/install_include.html#tensorflow) for some additional debugging tips.

[2020-04-21 01:14] ehsab commented on #1890
@tgaddair Thanks for the reply. I just tried the one you suggested. Same problem. When I run it on one server with 4 GPUs it works very well and I get the following log:

root@gcp00:/examples# horovodrun --start-timeout 300 -np 4 -H localhost:4,gcp01:0 -p 123  python pytorch_synthetic_benchmark.py
2020-04-21 01:10:55.669032: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not

[2020-04-21 01:16] tgaddair commented on #1887
Hey @dkajtoch, this is a timely question.  We have a PR in review now that adds fault tolerance capabilities to Horovod: #1849.

Once that lands, it will be possible to recover from individual worker failure or run on preemptible VMs, with minor code changes (see the linked [RFC](https://docs.google.com/document/d/15ZoHA5AeSI_boeyIBapg9WPXKrYXMRvPytPzQWTCTn4)).

We hope to have that landed soon, h

[2020-04-21 02:54] kmtaotao opened #1892 "horovod running on remote host"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-04-21 03:42] Alwaysproblem commented on #1889
Thank you @tgaddair, I think I solve that problem, with "HOROVOD_WITH_TENSORFLOW=1"
but I got another error like this after I changed default g++ to g++-6 ,  the version MPI is 1.6.5:

ERROR: Command errored out with exit status 1:
   command: /home/sdev/yongxi/tf2dis/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-chgmi5d5/horovod/setup.py'"'"'; __file__='"

[2020-04-21 08:39] ZHUXUHAN commented on #1855
hi, do you solve the problem?

[2020-04-21 09:39] sixindang opened #1893 "Horovod hangs when running examples on a machine with 4 GPUs"
**Environment:**
1. Framework: (TensorFlow, Keras)
2. Framework version: TensorFlow 2.1.0; Keras 2.3.1
3. Horovod version: 0.19.1
4. MPI version: 4.0.1
5. CUDA version: 10.1.243
6. NCCL version: 2.6.4
7. Python version: 3.6.8
8. OS and version: centos 8.0
9. GCC version: 8.3.1

**Your question:**
Hi,
I have a cluster with 4 machines (each with 4 GPUs). I am trying to execute an Horovod example on

[2020-04-21 17:57] iamyangchen commented on #1883
You basically need to be able to ssh to the other machines from your rank 0 docker. With that said, simply copy the public key to the other machines' `/root/.ssh/authorized_keys`.

[2020-04-22 11:50] feevos opened #1897 "gluon.Trainer restore parameters"
Dear all,

how can I restore gluon.Trainer parameters from a saved state? I cannot find anything in the documentation. I have seen corresponding functions from pytorch, but I am not sure how to translate it (if possible) to mxnet. When I tried to load states from all nodes, it didn't work.

Any help most appreciated.

[2020-04-22 15:54] mcsuy commented on #1680
is there something wrong with having libopenmpi-dev installed?

[2020-04-22 16:45] tgaddair commented on #1886
Hey @guoyuanxiong, when using NCCL, this is not supported, as NCCL does not allow the same GPU to be assigned to multiple ranks.

Can you give some more details about what it is you're trying to achieve?  There may be another way to do what you're trying to do.

[2020-04-22 16:58] tgaddair commented on #1892
Hey @kmtaotao, what version of Horovod are you running?  Looks like the name of this property was recently changed from `nic` to `nics`.

[2020-04-22 18:46] kmtaotao commented on #1892
Thanks for the reply, it looks the remote server could be the problem, especially when the Hovovod is not installed properly, to make sure the most update version, to install Horovod with:
HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir git+https://github.com/horovod/horovod

[2020-04-23 01:09] #1886 closed

[2020-04-23 01:30] guoyuanxiong commented on #1886
Thanks for your reply. I am trying to test the performance of my proposed distributed learning algorithm where multiple workers solve some optimization problems in parallel and exchange results iteratively. I want to simulate a non-trivial number of workers (e.g., 8 workers), but my machine only has four GPUs. My initial idea is to put several workers on a single GPU so that at least it works bett

[2020-04-23 12:54] justusschock opened #1898 "Hard Torchvision Dependency"
Hi,
we're trying to build a docker image for lightning, which also installs horovod as an extra dependency.

We noted that in https://github.com/horovod/horovod/blob/master/setup.py#L1578 you have a hard torch vision dependency.

We don't want a hard dependency on torch vision, since guys doing NLP or other stuff don't need it.

So I just wanted to ask, whether you need a hard dependency on it and

[2020-04-23 14:32] Borda commented on #1898
is is used only for examples, see https://github.com/horovod/horovod/search?q=torchvision&unscoped_q=torchvision so could it be moved to optional dependencies?

[2020-04-23 16:22] tgaddair commented on #1898
Hey @justusschock, @Borda is correct that it's only used in examples, so we can definitely remove it.  I can make a PR for this today.

As a workaround for now, I think you should be able to change the requirement `horovod[pytorch]` to just `horovod` in `requirements-extra.txt` for now, since `torch` is guaranteed to already be installed (from `requirements-txt`) before you install `requirements-e

[2020-04-23 20:38] tgaddair opened #1901 "Provide instructions for running examples"
Example scripts contains some dependencies not listed for Horovod, and in some cases require datasets without explaining how to obtain them.  We should provide a README file along with a set of packages (`requirements.txt`) for successfully running the examples.

[2020-04-23 20:38] #1898 closed

[2020-04-23 20:43] jarednielsen commented on #105
Running allreduce on a subset of ranks would unblock my use case of language models. I pretrain a language models on N nodes, 8*N ranks. However, for finetuning periodically throughout the pretraining process (for intermediate evaluation on downstream tasks), I only use 1 node and 8 ranks. A barrier op like `hvd.allreduce(tf.random.normal([1]))` doesn't work for the unutilized nodes because it con

[2020-04-23 21:43] jchwenger opened #1903 "Catch KeyboardInterrupt"
Hi,
I'm working on distributing openAI's TF 1.14 gpt-2 code on several GPUs, working fine so far, except I can't preserve this handy feature to save the model on keyboard interrupt:
[code]
I would do it only on rank 0, but nothing happens, no exception at all (I also tried `except Exception as e:` to see if I could print it). I'm assuming this is because the horovod/mpi wrapper is the one receivin

[2020-04-23 23:25] tgaddair commented on #1903
Hey @jchwenger, when MPI receives an interrupt signal, it sends a SIGTERM signal to all the worker processes, followed shortly by a SIGKILL (see discussion [here](https://users.open-mpi.narkive.com/x4jxxpE4/ompi-users-how-does-mpirun-handle-ctrl-c)).

So my suggestion would be to use a signal handler to do the saving:

[code]

[2020-04-23 23:25] #1851 closed

[2020-04-23 23:46] joadiazcr opened #1905 "gcc error"
While installing horovod with

HOROVOD_WITH_TENSORFLOW=1 pip install horovod[tensorflow,keras]

I am getting a long error that ends with:

error: command '/usr/bin/gcc' failed with exit status 1
    ----------------------------------------
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-mhz8vk74/horovod/se

[2020-04-23 23:54] tgaddair commented on #1905
Hey @joadiazcr, can you share the full log output?  It looks like there might be another error message hidden in there.

What version of TensorFlow are you using?  That should also help us determine which version of gcc you should be using.  Assuming you have the correct version of gcc somewhere on your system, our install script should be able to find it.

[2020-04-24 00:25] joadiazcr commented on #1905
[horovod_install.log](https://github.com/horovod/horovod/files/4525976/horovod_install.log)

Thanks for the reply!

Attached is the log file.

The tensorflow version I have is 2.1.0 for python 3

gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)

When I try to install gcc 4.8 I  get:

$ sudo apt-get install gcc-4.8
[sudo] password for simulations:
Reading package lists... Done
Building dependency tr

[2020-04-24 00:56] tgaddair commented on #1905
Hmm, looks like this may be related to AVX instructions.  What kind of CPU are you using?

[code]

@nvcastet, any thoughts?

[2020-04-24 01:01] joadiazcr commented on #1905
![image](https://user-images.githubusercontent.com/12650044/80163875-55d29080-858c-11ea-9090-47d2d19db113.png)
Here the CPU info

[2020-04-24 03:41] kmtaotao commented on #1892
@tgaddair  thanks a lot for the support, I tried to reinstall the horovod as well as openmpi, the newer version looks better for me. I believe the source file has to be the github new version.

[2020-04-24 03:41] #1892 closed

[2020-04-24 11:59] jchwenger commented on #1903
Hi @tgaddair thanks a lot for this! It really is the exact same situation as in the post you mention. I tried implementing your proposal, but so far no luck, I also have a print message in my function, and nothing happens (the processes are just stopped). I tried `SIGKILL` directly, which cannot be stopped or used in this way, and that unsurprisingly doesn't work.  I'll see if I can find time to g

[2020-04-24 12:37] nvcastet commented on #1905
weird, your cpu does not support fma and we use `__FMA__ ` guard when that is the case so it should not compile this code.

[2020-04-24 12:41] nvcastet commented on #1905
@joadiazcr Can you paste the output of `gcc -dM -E - < /dev/null`?

[2020-04-24 13:05] nvcastet commented on #1404
@bethune-bryant

[2020-04-24 13:06] nvcastet commented on #1905
Nevermind, my PR https://github.com/horovod/horovod/pull/1835 did not make it to the 0.19.1 release, @joadiazcr before we cut a new release you can build with master branch `pip install git+https://github.com/horovod/horovod.git --no-cache-dir`

[2020-04-24 13:28] jchwenger opened #1906 "sentencepiece protobuf mismatch (only with Horovod!)"
**Environment:**
Horovod version: 0.19.1,
mpirun (Open MPI): 4.0.3
CUDA Version 10.1.243
nccl: libnccl2=2.4.8-1+cuda10.1 libnccl-dev=2.4.8-1+cuda10.10.1
gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
(installed using [the recommended steps](https://github.com/horovod/horovod#install))
sentencepiece 0.1.86 (compiled from source)
and also the python packages:
sentencepiece        0.1.85
tf-sentencepiece

[2020-04-24 14:12] jchwenger commented on #1903
Hi again!

After a quick investigation, I adapted [this script](https://stackoverflow.com/a/2148925) to loop through all the signals and see which one was printed by my processes.

It seems it was `18`, or `SIGCONT`. However, even with this one, no luck. If I only ask my gpu processes to print this then they do, but if I ask them to save as well I'm back to silence, I'm assuming that the saving of

[2020-04-24 14:53] wuchangping commented on #983
Hi @khayamgondal  @JohnTaylor2000  , how about this featue? Is LARS ready at Horovod?

[2020-04-24 18:55] joadiazcr commented on #1905
Thanks! It worked:
Successfully installed horovod-0.19.1

[2020-04-24 19:21] tgaddair commented on #1906
Hey @jchwenger, how did you install / build sentencepiece?  Looks like it gets installed with its own version of protobuf (which I'm guessing was 3.6.1).  TensorFlow comes with its own version of protobuf that it uses, which for TensorFlow 1.14 is Protobuf 3.7.1 (see: [here](https://github.com/tensorflow/tensorflow/blob/v1.14.0/tensorflow/workspace.bzl#L374)), so that's where 3.7.1 is coming from.

[2020-04-24 19:34] tgaddair commented on #1885
Hey @vycezhong, does this pattern happen consistently when training on a single machine, or does it happen differently each time?  If you could create a [timeline](https://github.com/horovod/horovod/blob/master/docs/timeline.rst), that would help us to understand what's going on.  @romerojosh, any thoughts?

For the 8 machine case, 68% scaling efficiency is pretty good for 25Gbps network on the p3

[2020-04-24 20:16] tgaddair opened #1907 "Elastic mode to enable fault tolerance and auto-scaling"
[RFC](https://docs.google.com/document/d/15ZoHA5AeSI_boeyIBapg9WPXKrYXMRvPytPzQWTCTn4/edit?usp=sharing)

This feature covers the bare-metal implementation of a fault tolerant and auto-scaling capability / API for Horovod built on top of the Gloo controller.

[2020-04-24 20:17] tgaddair commented on #1905
Glad you got it working!  I'm going to close this issue for now.  Sounds like we should try and get 0.19.2 released soon.

[2020-04-24 20:17] #1905 closed

[2020-04-24 20:17] tgaddair commented on #1897
Hey @apeforest @eric-haibin-lin any thoughts on this?

[2020-04-24 23:22] jchwenger commented on #1906
Hi @tgaddair, thanks, I'll try that!

[2020-04-25 08:16] vycezhong commented on #1885
@tgaddair it seems that this happened by accident. i cannot reproduce it now. everything's back to normal. if I encounter this situation again later, I will report in time.

Thanks for your explanation for scaling efficiency. I open a PR https://github.com/horovod/horovod/pull/1908 to add this feature.

[2020-04-25 08:16] #1885 closed

[2020-04-25 10:46] feevos commented on #1897
@apeforest  gave me a solution [in mxnet forum](https://discuss.mxnet.io/t/distributed-training-questions/1269/25), thank you. Am closing the issue.

[2020-04-25 10:46] #1897 closed

[2020-04-26 07:10] shuo-ouyang opened #1910 "Installation issue with MXNet built from source - No such file or dictionary <dmlc/base.h>"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.4.0
3. Horovod version: 0.19
4. MPI version: openmpi-2.1.6
5. CUDA version: CUDA 8.0
6. NCCL version: None
7. Python version: 2.7.9
8. OS and version: centos 7.6
9. GCC version: 4.8.5

**Your question:**

Hi, I am installing horovod for mxnet, which is built from source, using `pip install horovod-0.19.1.tar.gz` on my private cluster, an

[2020-04-26 09:29] csdingbin opened #1911 "ValueError: Feature column count 5 must equal model inputs count 1"
**Environment:**
1. Framework: PyTorch
2. Framework version:1.3.1
3. Horovod version:0.19

I used the horovod on spark to run pytorch model. In my pytorch model forward, there had 5 inputs.
The code like below:

def forward(self,input1,input2,input3,input4,input5):

I set the feature_cols=['input1','input2','input3','input4','input5']

torch_estimator = hvd.TorchEstimator(store=store,

[2020-04-26 15:18] jchwenger commented on #1906
Hi @tgaddair, I'm sorry my previous response was quite inadequate, I wanted to send something quickly. So I compiled sentencepiece [from source](https://github.com/google/sentencepiece#c-from-source) and it's 0.1.86, with the two pip packages at version 0.1.85. I can locate the "300600" relating to protobuf, so indeed making the versions compatible seems the way to go.

 I'm looking into the whole

[2020-04-26 21:25] kingwales1 commented on #1843
Hi @abditag2 Thanks for your help. I have two more questions.
1, when i ran the mnist example provided, here is the log from one iteration:

[1,1]<stderr>:INFO:tensorflow:loss = 0.12649937, step = 150 (0.487 sec)
[1,1]<stderr>:I0426 17:18:37.099774 140350276830976 basic_session_run_hooks.py:260] loss = 0.12649937, step = 150 (0.487 sec)
[1,3]<stderr>:INFO:tensorflow:loss = 0.027115755, step = 150

[2020-04-26 22:50] tgaddair commented on #1911
Hey @csdingbin, apologies for the unclear error message.  What it's trying to say is that the number of `input_shapes` must equal the number of `feature_cols`.  In your case, it looks like you need to set `input_shapes=[[5,1], [1], [1], [1], [1]]`.

[2020-04-27 01:21] csdingbin commented on #1911
@tgaddair Thanks for your reply. You are right. But I got another issue

Exception: Timed out waiting for Spark tasks to start. Please check that you have enough resources to run all Horovod processes. Each Horovod process runs in a Spark task. You may need to increase the start_timeout parameter to a larger value if your Spark resources are allocated on-demand.

I used Spark-submit(Spark2.4.4 on

[2020-04-27 03:12] sixindang commented on #1893
Finally, I figured out. The problem lies in the version of openmpi. I tried openmpi 1.10.2 and 4.0.3, all failed. In the end, openmpi 4.0.0 works well for me

[2020-04-27 03:12] #1893 closed

[2020-04-27 09:11] yozhao opened #1912 "Horovod timelines are not consistent about HorovodAllreduce"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensor flow
2. Framework version:  1.12
3. Horovod version:  0.19.1
4. MPI version:  4.0.3
5. CUDA version: 10.0
6. NCCL version:  2.4.8
7. Python version: 3.6.9
8. OS and version: CentOS Linux release 7.4.1708
9. GCC version: gcc-5.3

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If you

[2020-04-27 10:20] Agoniii opened #1913 "Error when use XLA and HOROVOD_HIERARCHICAL_ALLREDUCE"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.0
3. Horovod version: 0.19.1
4. MPI version: 4.0.2
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version:  3.6.8
8. OS and version: CentOS Linux release 7.2
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [t

[2020-04-27 10:23] Agoniii commented on #1913
The code is [here](https://github.com/Agoniii/hvd-test)

[2020-04-27 12:24] Danliran opened #1914 "How to use multi-gpu for training on one node."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) pytorch
2. Framework version: 1.2.0
3. Horovod version: 0.19.1
4. MPI version:4.0.3rc4
5. CUDA version:10.2
6. NCCL version:2.4.8
7. Python version:3.6
8. OS and version:ubuntu18.04
9. GCC version:9.3

**Checklist:**
1. Did you search issues to find if somebody asked this question before?no
2. If your question is about hang, did yo

[2020-04-27 23:11] kingwales1 commented on #1843
Hi @abditag2 Fabin, Can you help me look at these two problems?

[2020-04-28 02:59] kingwales1 commented on #1833
Hi @JohnTaylor2000 Did you figure it out?

Also, @tgaddair like the LSTM training example from [tensorflow](https://github.com/tensorflow/models/blob/master/research/lstm_object_detection/train.py), can I follow the pattern of using hvd.DistributedOptimizer to distribute it?

[2020-04-28 06:17] #1889 closed

[2020-04-28 09:07] Danliran commented on #1914
resolve, close it.

[2020-04-28 09:07] #1914 closed

[2020-04-28 13:22] csdingbin opened #1916 "MPI connect error"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)Horovod with Pytorch in Spark
2. Framework version:torch1.3.1,Spark2.4.4
3. Horovod version:0.19
4. MPI version:4.0.3
5. Python version:3.7.5
6. OS and version:
7. GCC version:5.4.0

**Bug report:**
Please describe errorneous behavior you're observing and steps to reproduce it.
On my cluster, I can successfully use horovodrun and mp

[2020-04-28 14:08] yozhao opened #1917 "Make HorovodAllgather run on GPU"
**Environment:**
Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensor flow
Framework version: 1.12
Horovod version: 0.19.1
MPI version: 4.0.3
CUDA version: 10.0
NCCL version: 2.4.8
Python version: 3.6.9
OS and version: CentOS Linux release 7.4.1708
GCC version: gcc-5.3

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did y

[2020-04-28 20:31] tgaddair commented on #1912
Hey @yozhao, can you explain a little bit more about the experiment setup?  The timeline is usually only generated on worker 0, so I'm not sure what you did to generate two timelines for the same process.  If you're running two separate `horovodrun` jobs in parallel, that would partially explain the disparity, as you have two processes competing for the same GPU resources.

I also don't see any NC

[2020-04-28 20:36] tgaddair commented on #1913
Possibly related to #973.

@romerojosh @nvcastet are you familiar with any interactions between XLA / Horovod / CUDA that might cause this?

[2020-04-28 20:38] tgaddair commented on #1910
@apeforest @romerojosh is there any guidance on how best to install Horovod + MXNet built from source?

[2020-04-28 20:39] tgaddair commented on #1911
Hey @csdingbin, can you try setting `TorchEstimator(num_proc=...)` epxlicitly?  It might be that the default parallelism is asking for too many resources.

[2020-04-28 21:54] jchwenger commented on #1903
I thought I'd write a message to the open-mpi users list, as a complement to the answer from 2015 quoted above, and I received this response:

I'm guessing that in order to do that one would have to bake this parallel messaging functionality into horovod itself (the rank 0 program)?  Clearly beyond what I can do right now, but maybe useful to somebody.

[2020-04-28 21:54] #1903 closed

[2020-04-29 04:20] sparticlesteve opened #1920 "hvd.load_model not properly wrapping optimizer in tf.keras 1.15"
**Environment:**
1. Framework: tf.keras
2. Framework version: TF 1.15.0
3. Horovod version: 0.19.0
4. MPI version: cray-mpich/7.7.10
5. CUDA version: n/a
6. NCCL version: n/a
7. Python version: 3.7.4
8. OS and version: Cray linux based on SLES 15
9. GCC version: 7.3.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Oui
2. If your question is about hang, did

[2020-04-29 05:22] sparticlesteve opened #1921 "Keras LR callbacks have unintended behavior when resuming from checkpoint"
**Environment:**
1. Framework: tf.keras
2. Framework version: TF 1.15.0
3. Horovod version: 0.19.0
4. MPI version: cray-mpich/7.7.10
5. CUDA version: n/a
6. NCCL version: n/a
7. Python version: 3.7.4
8. OS and version: Cray linux based on SLES 15
9. GCC version: 7.3.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, did

[2020-04-29 18:18] nvcastet commented on #1913
@Agoniii I have not seen this issue with Horovod and XLA. Quickly, looking at your code, you probably want to remove line https://github.com/Agoniii/hvd-test/blob/master/train.py#L13 to have the model ops executed on the GPU assigned to each rank which is not always 0 when you have more than 1 GPU per node.

[2020-04-29 19:03] alsrgv commented on #1384
@atranitell, I haven't seen your code until now - do you want to collaborate on #1923?  It's currently using PyTorch's internal kernels and would be great to switch to an implementation that does not use internals.  One requirement for it is to be able to hot swap BatchNorm to SyncBatchNorm in models like torchvision.resnet.

[2020-04-30 03:24] Agoniii commented on #1913
@nvcastet Thanks for your reply. In the code, I have set [`config.gpu_options.visible_device_list = str(hvd.local_rank())` ](https://github.com/Agoniii/hvd-test/blob/master/train.py#L33). So the device is always GPU0 for each Horovod process.

[2020-04-30 03:46] wuchangping opened #1924 "support for xPU"
Dear,
Is there any plan for adding the addons or contrib folder  and MACRO XPU to support xPU, for example: Google TPU, or xxxx xPU, or any other deep learning processors?

Jeff Wu

[2020-04-30 08:16] JohnTaylor2000 commented on #1833
Hi kingwales1,

You can apply horovod as per the documentation by using using hvd.DistributedOptimizer.

I have gone back to a single GPU implementation to sort out efficiency issues. These issues are definitely problem specific so no single recipe here. For my problem I have found that generator methods are useful. The quality and time to solution were most sensitive to batch size (1024-2048), se

[2020-04-30 09:32] yozhao commented on #1912
"The timeline is usually only generated on worker 0".
Oops, I  dump timeline in each process like:

        profile_hook = tf.train.ProfilerHook(save_steps=500, output_dir='./timeline_json_{}/'.format(pid), show_memory=True)
        training_hooks = hooks
        training_hooks.append(profile_hook)
        return tf.estimator.EstimatorSpec(mode=mode, loss=total_loss, train_op=tf.group(train_op_lis

[2020-04-30 09:41] yozhao commented on #1912
Hi  Travis，
In tensorflow timeline I can grep some nccl message like:

timeline-57780-774.json-        {
timeline-57780-774.json-            "ph": "X",
timeline-57780-774.json-            "cat": "Op",
timeline-57780-774.json-            "name": "unknown",
timeline-57780-774.json-            "pid": 13,
timeline-57780-774.json-            "tid": 0,
timeline-57780-774.json-            "ts": 158791910

[2020-04-30 09:42] yozhao commented on #1912
Horovod v0.19.1:

Available Frameworks:
    [X] TensorFlow
    [ ] PyTorch
    [ ] MXNet

Available Controllers:
    [X] MPI
    [ ] Gloo

Available Tensor Operations:
    [X] NCCL
    [ ] DDL
    [ ] CCL
    [X] MPI
    [ ] Gloo

We have NCCL supported but no Gloo, does this matter?

[2020-04-30 10:15] yozhao commented on #1912
This is horovod generated timeline：
![nego_brod](https://user-images.githubusercontent.com/2783399/80698778-862aa980-8b0d-11ea-829f-d379ee048478.jpg)

NEGOTIATE_BROADCAST is the biggest block,  seems this is initialization work?

After zoom in, the timeline is:
![zoom_hvd](https://user-images.githubusercontent.com/2783399/80699265-41534280-8b0e-11ea-91ad-285e6baa83eb.jpg)

BROADCAST WAIT_FOR_OTHER

[2020-04-30 20:12] #1384 closed

[2020-04-30 21:08] gibiansky commented on #1481
I think this is noj

[2020-04-30 21:08] #1481 closed

[2020-04-30 22:46] kingwales1 commented on #1800
Hi @jiangzihanict Did you figure it out? I also want to profile both and computation and communication time in each step respectively.

[2020-05-01 02:13] tgaddair opened #1926 "Implement more forgiving host blacklist policy in elastic mode"
Currently, process failure results in permanent blacklist of the offending host.  This is problematic, as often a host failure will be transient, or a host will be temporarily removed and later restored (in the case of graceful removal).

As such, we should add two policies:

1. Cooldown on failing hosts that allows them to be assigned again once the cooldown period has elapsed.
2. Do not blacklis

[2020-05-01 22:07] tgaddair commented on #1920
Thanks for raising this issue, @sparticlesteve.  I'll take a look this.  Presumably, this means our load_model test is not behaving correctly (or at least missing some edge cases).

[2020-05-01 22:11] tgaddair commented on #1916
Hey @csdingbin, my understanding is that this kind of error typically indicates that the version of MPI running `mpirun` is different from the version running on the workers (see https://github.com/open-mpi/ompi/issues/7015).  Can you check that all hosts have the same version of MPI?

[2020-05-01 22:14] tgaddair commented on #1924
Hey @wuchangping, there is interest in adding other deep learning accelerators.  Some (like TPU) do not lend themselves to the allreduce model of gradient aggregation across devices.  However, others (like Intel Habana) might be good candidates.

Was there a particular use case you had in mind?

[2020-05-01 22:27] tgaddair commented on #1921
Hey @sparticlesteve, thanks for the detailed report.  I am inclined towards letting the user optionally provide the `initial_lr` in the callback constructor, and only pulling it in `on_train_begin` if it hasn't been set.  That way, we don't break the existing behavior, but provide a solution for for this scenario.

Curious if other contributors have any thoughts on this.

@alsrgv @nvcastet @romero

[2020-05-01 23:37] ufimtsev opened #1927 "Is it guaranteed that all replicas of reducible parameters are exactly same on all workers?"
I understand that each worker has exactly same initial parameters in the beginning, since they're broadcasted from worker 0. The parameters are then updated independently on each worker. Ideally all the updates are exactly same across all the workers. However I wanted to ask if it might be possible that parameters on different workers "diverge" at some moment either due to slightly different gradi

[2020-05-01 23:44] tgaddair commented on #1927
Hi @ufimtsev, you're correct, it is possible that workers can diverge due to numerical non-determinism (like the summation order issue you mentioned).  A good policy if you observe drift between workers is to periodically perform the `broadcast` parameters op (for example, at the end of each epoch).

[2020-05-02 00:31] alsrgv commented on #1921
+1 for optional `initial_lr`, wouldn't want to introduce a breaking change.

[2020-05-02 01:57] romerojosh commented on #1921
Should it really be optional though? It sounds like what @sparticlesteve is describing here is erroneous behavior on restart, which really ought to be fixed. I can't imagine any user would want their LR schedule somehow dependent on if/when they restart.

[2020-05-02 02:22] alsrgv commented on #1921
Breaking existing scripts it not nice without major version bump, some people may not even be using restarts from checkpoints :-)

[2020-05-02 04:37] kingwales1 opened #1928 "Which g++ version support horovod with tensorflow 2.1?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version: tf 2.1
3. Horovod version: 0.19
4. MPI version: 4.01
5. CUDA version: 10.1
6. NCCL version: 2.6.4
7. Python version: 3.7
8. OS and version: Ubuntu 16.04
9. GCC version: 5.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read

[2020-05-02 14:25] tgaddair commented on #1928
Hey @kingwales1, as the error message indicates, you need at least GCC 7.3.1 to build against TensorFlow 2.1.  In general, this information can be found for each version of TensorFlow [here](https://www.tensorflow.org/install/source#gpu).

[2020-05-02 14:29] kingwales1 commented on #1928
@tgaddair Yep. But I installed tf 2.1.0 from conda, not compiling from source code. Do I still need GCC 7.3.1?

[2020-05-02 14:41] tgaddair commented on #1928
Yes, you still need GCC 7.3.1.  Horovod is compiled against a specific version of TensorFlow.  In order to guarantee ABI compatibility, we need to use a version of GCC compatible with the one used to compile TensorFlow.  Hope that makes sense.

[2020-05-02 14:42] kingwales1 commented on #1928
@tgaddair Thanks for the clarification. I will close the question.

[2020-05-02 14:42] #1928 closed

[2020-05-02 14:49] tgaddair commented on #1921
One option would be to add the `initial_lr` parameter as optional for now, but with a `DeprecationWarning` that we will remove the option to set `initial_lr` implicitly in a future version (e.g., `0.21.0`).  Thoughts?

[2020-05-02 20:46] tgaddair opened #1929 "Proposal: Drop Python 2 support in v0.20.0"
At this point, most frameworks in our ecosystem have dropped Python 2 support, so it makes sense for us to consider doing the same.

Already, a number of our more recent features (elastic mode, synchronized batch normalization) are Python 3 only.

We still officially maintain support for Python 2 for all legacy code paths, but there are a number of reasons to consider dropping this:

1. Running Py

[2020-05-02 22:50] zfan2016 opened #1930 "CNN model trained on distributed deep learning lose generalization"
**Environment:**
 Framework: Keras backend with TensorFlow

For a binary classification task, I trained a CNN model using both a single GPU with keras backend with tensorflow, and multiple GPUs through distributed learning with Horovod and still keras backend with tensorflow.
In the first case, I firstly loaded both validation and training datasets before training.
In the later case, I loaded both

[2020-05-02 23:25] alsrgv commented on #1929
+1 for removing Python 2 support for future releases.

[2020-05-03 00:37] DEKHTIARJonathan commented on #1929
+1 I also support this move ;)

[2020-05-03 01:37] zfan2016 commented on #1930
please ignore this problem. Suddenly I realized that the two testing datasets are not exactly same. Now I confirmed that the testing and validation accuracies are comparable for the model trained through distributed learning. (I don't know how to delete this issue)

[2020-05-03 01:37] #1930 closed

[2020-05-03 05:11] kingwales1 opened #1931 "How to use timeline log for horovod"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version: Tensorflow 2.1.0
3. Horovod version: 0.19
4. MPI version: 4.01
5. CUDA version: 10.1
6. NCCL version: 2.6.4
7. Python version: 3.7
8. OS and version: Ubuntu 16.04
9. GCC version: 8.1.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, di

[2020-05-03 09:16] EnricoMi commented on #1929
+1 for finally removing Python 2 ... and no more `from __future__ import ...` workarounds

[2020-05-03 11:33] Vidyaranya opened #1932 "Out of resource error while running horovod"
**Environment:**
I used singularity to run and hence I used a dockerfile
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.11.0
3. Horovod version:
4. MPI version: 3.1.2
5. CUDA version: 9.0
6. NCCL version: 2.3.5-2+cuda9.0
7. Python version: 2.7
8. OS and version: ubuntu16.04
9. GCC version: 5.5.0

**Checklist:**
1. Did you search issues to find if somebody aske

[2020-05-03 17:04] romerojosh commented on #1929
+1 I also support this!

[2020-05-03 18:57] karakusc commented on #1929
+1 agree with the reasoning

[2020-05-04 12:48] nvcastet commented on #1929
+1 yes that makes complete sense.

[2020-05-04 14:11] nvcastet commented on #1921
@tgaddair yes, seems to be the best solution.
`tf.keras.callbacks.LearningRateScheduler` in the next TF version seems to go from LR scheduler not taking any learning rate as input (only current epoch) to taking the current epoch and current LR: https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/LearningRateScheduler?version=nightly
I am assuming customers can use `tf.keras.callbacks.Lea

[2020-05-04 14:53] #1921 closed

[2020-05-04 14:54] tgaddair commented on #1921
Good point, @nvcastet.  Yes, users can use the Keras LR scheduler as an alternative.

[2020-05-04 15:41] sparticlesteve commented on #1921
Yeah, I mentioned the Keras implementations above, and this is my current workaround, but as I noted, one (perhaps minor) difference is that the Keras ones do not do any momentum correction.

[2020-05-04 15:44] tgaddair commented on #1921
Hey @sparticlesteve, can you take a look at #1933 and verify that it solves the issue for you?

[2020-05-04 15:46] sparticlesteve commented on #1921
Thanks. I'll give it a shot when I have time and report back.

[2020-05-04 16:15] tgaddair commented on #1932
Hey @Vidyaranya, usually this kind of error is caused by having different versions of MPI on the system (for example, building Horovod with one version of MPI, then attempting to run it with a different version).  See: [this](https://stackoverflow.com/questions/53149888/error-when-executing-openmpi-code-opal-error-with-nvcc) StackOverflow thread for more info.

[2020-05-04 16:36] Inception95 opened #1934 "Can't find routable network interface when using Horovod Docker on two machines"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Keras
2. Framework version: 2.3.1 (TensorFlow 1.14.0 backend)
3. Horovod version: 0.18.2
4. MPI version: 1.10.2
5. CUDA version: 10.0
6. NCCL version: 2.4.8
7. Python version: 3.6.8
8. OS and version: Ubuntu 18.04 (Docker), Ubuntu 16.04 (Host)
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this q

[2020-05-04 16:59] #1891 closed

[2020-05-04 20:45] kingwales1 commented on #1931
Hey @tgaddair could you please give me some suggestions to obtain the computation time?

[2020-05-04 21:57] tgaddair commented on #1920
Hey @sparticlesteve, I think #1935 should address this issue.  Please give it a shot when you have some time and let us know how it goes.  Thanks.

[2020-05-04 22:08] sparticlesteve commented on #1920
Awesome, @tgaddair , thanks for the quick turnaround!
I will report back when I can.

[2020-05-04 22:53] sai-anyvision commented on #1932
Hi @tgaddair, thanks for the quick response! While that solved the problem to an extent, I face another issue now. Specifically, hvd.init() hangs. I went through quite a few issues and tried to implement the solutions present there (as you can see in the mpirun command below as well). However, none of them worked for me. The mpirun command I use is as follows:
[code]
I am running on only one GPU a

[2020-05-04 22:58] Vidyaranya commented on #1932
Hi @tgaddair, thanks for the quick response! While that solved the problem to an extent, I face another issue now. Specifically, hvd.init() hangs. I went through quite a few issues and tried to implement the solutions present there (as you can see in the mpirun command below as well). However, none of them worked for me. The mpirun command I use is as follows:
[code]
I am running on only one GPU a

[2020-05-04 23:39] tgaddair commented on #1934
Hey @Inception95, can you share your results from running `ifconfig -a` here?  If you know which network interface you need to use, you can provide it manually using `horovodrun --nic`.

[2020-05-04 23:53] Inception95 commented on #1934
Hi @tgaddair, sure. Here is the screenshot of "ifconfig -a" of the two machines I use:
<img width="802" alt="ifconfig_info" src="https://user-images.githubusercontent.com/56369917/81024220-a0bf9400-8e27-11ea-88a2-17de745d8aaa.png">
Please let me know if any else is needed.

[2020-05-05 14:23] anweshpanda opened #1937 "Error while trying to install in virtual environment"
Hi,
I am trying to install horovod with tensorflow 1.14 in virtual environment. I am following the instructions from the link below
https://horovod.readthedocs.io/en/latest/contributors_include.html
----------------------------------------------------------------------------------------------------------------
But while executing  the command : HOROVOD_WITH_TENSORFLOW=1 python setup.py install
I a

[2020-05-05 17:26] #1920 closed

[2020-05-05 17:31] tgaddair commented on #1934
Looks like ens3 should be the right interface.  Can you try using `mpirun` without `horovodrun` following [these](https://github.com/horovod/horovod/blob/master/docs/mpirun.rst) instructions, and let us know if it works.

cc @abditag2

[2020-05-05 17:56] tgaddair commented on #1937
Hey @anweshpanda, looks like you may be missing `libpython3.6-dev`.  Could you take a look at https://github.com/pwndbg/pwndbg/issues/356 and try running through the suggestions there?

[2020-05-05 23:12] wuchangping commented on #1924
hi @tgaddair ，Sorry for late reply.

Yes, in addition to GPU / CPU / TPU, there are many start-up AI chip companies, which are also part of  AI ecosystem.
For example, current horvord / tensorflow supports CPU / GPU. When tensorflow needs to be supported, different macros have to be added to isolate the code. For example, TPU.NPU, XXU, etc., This approach destroys the beauty of the code and is dif

[2020-05-06 02:47] tgaddair commented on #1932
Hey @Vidyaranya, can you try generating a stack trace from the hanging process?  For example, using `gdb -p <pid>` and provide the output of `thread apply all bt`?

[2020-05-06 03:23] anweshpanda commented on #1937
Hi @tgaddair , thanks for the reply. But the solution says to install libpython system wide using sudo. But I am working in a cluster and do not have sudo permission. Is there any way out?

[2020-05-06 06:14] pmthahir opened #1938 "Horovod issue with MXNet 1.6 and Cuda 10.x"
After building horovod with MXNet 1.6 and Cuda 10.x, when importing 'horovod.mxnet' I get the following issue
  File "horovod/mxnet/__init__.py", line 25, in <module>
    from horovod.mxnet.mpi_ops import allgather
  File "horovod/mxnet/mpi_ops.py", line 29, in <module>
    _basics = _HorovodBasics(__file__, 'mpi_lib')
  File "horovod/common/basics.py", line 27, in __init__
    self.MPI_LIB_CTYPES

[2020-05-06 06:33] Inception95 commented on #1934
Hi @tgaddair there, here are my trying:

try1(use "Custom SSH ports" section example): mpirun -np 2 --allow-run-as-root -H localhost:1,server1:1 -bind-to none -map-by slot -mca plm_rsh_args "-p 12345" -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib python examples/keras_mnist.py

try2(exclude lo and docker0): mpirun -np 2 --allow-run-as-root -H localhost:1,server1:1 -bi

[2020-05-06 14:02] Vidyaranya commented on #1932
Hi @tgaddair , I am using slurm to schedule my jobs on an HPC cluster. My jobs randomly get allocated to a gpu on a node and I can't ssh to those nodes directly to get the stack trace. Is there anything else that I can do?

[2020-05-06 18:26] mengxr opened #1939 "Pin GPUs using MPI local_rank in Spark 3.0 GPU scheduling"
**Is your feature request related to a problem? Please describe.**

The current [Spark 3 example](https://github.com/apache/spark/blob/b2e9e1717b90697e1349756fc336ab1cf59249cb/python/pyspark/taskcontext.py#L218) fetches the assigned GPU index and pins to it. However, this is inconsistent with other code examples, where we suggest pinning based on MPI local rank.

cc: @tgaddair @lu-wang-dl

**Descr

[2020-05-07 00:32] tgaddair commented on #1939
Per our conversation in Slack, I think this is a good idea overall, as it keeps a consistent experience for the user.

One question I have is around how this will play with Elastic mode (#1849).  In Elastic mode, we might start with, say 3/4 GPUs from one machine, and end up with `CUDA_VISIBIBLE_DEVICES="0,2,3"`.  Then, at some point in the future, the scheduler gives us the 4th GPU.  Will this, t

[2020-05-07 00:32] tgaddair commented on #1939
cc @EnricoMi

[2020-05-07 01:09] mengxr commented on #1939
We should test that setup. I guess if NCCL is initialized before we set CUDA_VISIBLE_DEVICES, which is before import tensorflow, the behavior should be what you described.

[2020-05-07 06:05] Richie-yan commented on #430
HI， @alsrgv
Recently, I'm using horovod to train a visual model. The model will execute allgather once at each step. Now I use MPI_Allgather on CPU. I implemented a simple NCCL_Allgather on GPU in the source code, and the performance has been greatly improved. What is your opinion on this patch and whether the community accepts the patch？

[2020-05-07 07:35] EnricoMi commented on #1939
I am not sure what _"pinning to local_rank work"_ exactly means. I know that every Spark task gets GPUs assigned by Spark and provided via `TaskContext` / `TaskInfo.get_available_devices`, which is a list of GPU device IDs for each task. Where does `local_rank` come into play here?

[2020-05-07 08:15] abcinje opened #1940 "How does broadcast_parameters() work?"
### **Framework: PyTorch**

Hello.

I wonder how `broadcast_parameters()` works when using Horovod with PyTorch.
The function is defined [here](https://github.com/horovod/horovod/blob/master/horovod/torch/__init__.py#L452).

Looking at `pytorch_mnist.py` in `examples` directory, the function is called [here](https://github.com/horovod/horovod/blob/master/examples/pytorch_mnist.py#L173).
And the fi

[2020-05-07 13:04] tgaddair commented on #430
Hey @Richie-yan, I think a NCCL Allgather implementation would be a great addition.  Looking forward to the PR!

[2020-05-07 13:13] Richie-yan commented on #430
@tgaddair Ok, I will provide the PR in the near future.

[2020-05-07 14:48] mengxr commented on #1939
The main UX we try to solve here is the inconsistency between previous horovod example code and the spark example code. The latter pins to hvd.local_rank() while spark requires using get_available_devices. Not many existing horovod users would look up the document when they move to Spark backend. And they might hit issues due to wrong pinning, which could be hard to debug.

[2020-05-07 19:56] chandana1332 commented on #1938
@apeforest any suggestions on how to resolve this issue?

[2020-05-08 01:07] tgaddair commented on #1940
Hey @abcinje, before we call `broadcast_parameters()`, every node has random weight initialization.  Then, when we call `broadcast_parameters()`, all the weights from the root node (rank 0) are used to set the values of the other nodes.  The `state_dict` contains all the tensors of the model, and when we broadcast them, every other worker node can set its model tensors to the broadcasted values.

[2020-05-09 04:01] Alwaysproblem opened #1941 "RuntimeError: mpirun failed with exit code 139 for Horovod[spark] running on cpu mode"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version: Horovod[spark]
3. Horovod version: 0.19
4. MPI version: 4.0.3 install through conda
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7.6
8. OS and version: Ubuntu 14.04
9. GCC version: gxx_linux64 with conda
10. tensorflow version: 2.1.0
11. pyspark version: 2.4.4

**Checklist:**
1. Did you searc

[2020-05-10 10:51] Vidyaranya commented on #281
`mpirun -x NCCL_SOCKET_IFNAME=bond0 -mca btl_tcp_if_include bond0 .....` However, bond0 might not work for you. You will have to see the network interface being used by using the command `ifconfig`

[2020-05-10 10:53] Vidyaranya commented on #1932
After quite a bit of debugging, the problem seems to be arising from using the OpenMPI 3.0.0 version. Upgrading to 3.1.2 worked. Closing this.

[2020-05-10 10:53] #1932 closed

[2020-05-11 03:44] czs1886 opened #1942 "How to restore a tensorflow checkpoint while using hvd"
When I use the restorer of tensorflow, it gave me 'You must feed a value for placeholder tensor 'keep_prob' with dtype float' error.'
Is there a special way to restore a checkpoint file when using hvd?

[2020-05-11 04:51] apeforest commented on #1938
@pmthahir Could you provide more information to reproduce?
e.g. did you build mxnet/horovod from pypi or source? Which version etc.

[2020-05-11 07:35] catwt commented on #1914
@Danliran Hello, I have the same problem as you, How did you solve it?

[2020-05-11 09:48] Richie-yan opened #1943 "Add NCCLAllgather feature"
Horovod currently supports allgather functions such as mpi allgather and mpi gpu allgather, and lacks nccl allgather. Recently, I'm using horovod to train a visual model. The model will execute allgather once at each step. Now I use MPI_Allgather on CPU. I implemented a simple NCCL_Allgather on GPU in the source code, and the performance has been greatly improved.So this issue plans to provide an

[2020-05-11 10:21] Danliran commented on #1914
one node with two GPU, command like this: horovodrun -np 2 -H localhost:2 python pytorch_mnist.py @catwt

[2020-05-11 11:22] czs1886 commented on #348
Hi alsrgv,
When I restore from a checkpoint file,  it gives me 'Not found: Key global_step not found in checkpoint' Error. Do you have any idea how this happens?

[2020-05-11 12:14] catwt commented on #1914
Thanks, I do this, but the two processes only user the first GPU( GPU 0), hvd.rank is always 0, do you know why?

[2020-05-11 12:29] zhxh1 opened #1944 "Cannot find NCCL 2 which is installed by anaconda"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15
3. Horovod version: 0.19.1 to install
4. MPI version: 4.0.3
5. CUDA version: 10.0.130
6. NCCL version: 2.6.4.1
7. Python version: 3.7.7
8. OS and version: CentOS 7
9. GCC version: 9.2.0

**Checklist:**
1. [x] Did you search issues to find if somebody asked this question before?
2. [x] If your question is about hang, did you read

[2020-05-11 14:14] anweshpanda commented on #1937
I tried to install with conda and it worked....

[2020-05-11 14:14] #1937 closed

[2020-05-11 14:56] nvcastet commented on #1944
@zhxh1 Thanks for the question.
With your environment activated, running:
`HOROVOD_CUDA_HOME=$CONDA_PREFIX HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GPU_BROADCAST=NCCL pip install --no-cache-dir horovod` should work
For more info, see another anaconda resolved issue: https://github.com/horovod/horovod/issues/1823#issuecomment-604497233

[2020-05-11 15:27] tgaddair commented on #1914
Hey @catwt, this is usually caused by having mismatched versions of MPI at the time you build Horovod vs the time you run Horovod.  See: https://stackoverflow.com/questions/4039608/why-do-all-my-open-mpi-processes-have-rank-0

[2020-05-11 16:50] abditag2 commented on #1934
It seems that the workers are unable to connect to the Horovodrun server. Do your AWS machine allow incoming traffic over ports in the range of `min_port = 1024,    max_port = 65536`?

[2020-05-11 17:32] Inception95 commented on #1934
Thanks! @abditag2 I thought the port 12345 is the only inbound port I need to open besides ssh 22 (same as the horovod docker example), it works now after I allow all traffic inbound to my server1 node. I think I can close the issue now.

[2020-05-11 17:32] #1934 closed

[2020-05-12 01:58] czs1886 commented on #348
@vitalyli, could you share your way of solving the lock-up problem?

[2020-05-12 02:37] Danliran commented on #1914
please make sure you have installed the correct version of openmpi and horovod with pytorch.

[2020-05-12 02:38] zhxh1 commented on #1944
@nvcastet Thanks for you reply.

I have tried
[code]
but it doesn't work for me either. I am still getting the `nccl not found` error.

Also, I have installed dependencies mentioned in #1823 :
[code]
[code]
[code]

The IBM conda solution does not work for me either. Anaconda first reports `Found conflicts! Looking for incompatible packages.`, and failed eventually.

[2020-05-12 02:49] zhxh1 commented on #1944
I try to do a fresh install with
[code]

But conda reports a conflict

[code]

[2020-05-12 03:46] czs1886 commented on #55
Same here, have you fixed it?

[2020-05-12 14:30] nvcastet commented on #1944
Yes using the IBM conda channel, the release with tensorflow 1.15 did not have Horovod. Right now, we only have tensorflow 2.1 and pytorch 1.3.1 with Horovod.

Going back to the issue `HOROVOD_CUDA_HOME=$CONDA_PREFIX HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GPU_BROADCAST=NCCL pip install --no-cache-dir horovod`, Could you share the full log with us?

[2020-05-12 21:47] tgaddair commented on #1943
Thanks for raising this, @Richie-yan, I think this would be a great contribution.

1. For Horovod, we need an implementation of [allgatherv](https://www.mpich.org/static/docs/latest/www3/MPI_Allgatherv.html).
2. In the Horovod tests for allgather on GPU, we're testing the behavior if the Tensor is on a different GPU for each process (local_rank), but the allgather happens over MPI going through ho

[2020-05-12 22:11] tgaddair opened #1947 "Add reset limit when running in elastic mode"
The user should be able to optionally specify a hard limit on the number of reset events that can occur, with an optional sliding window.

For example:

[code]

Or:

[code]

In the latter case, we will only fail of there are 3 reset events in a minute (60 seconds), while in the former, we will fail if we ever see 3 reset events over the lifetime of the job.

[2020-05-12 22:30] romerojosh commented on #1943
Hi @Richie-yan, thanks for the suggestion and for volunteering to contribute this!

While NCCL doesn't have an allgatherv interface available, the way to accomplish this with NCCL is to do a _grouped_ `NCCL_Broadcast`. This would look something like:
[code]
where the `sendbuf`, `recvbuf` and `count` arguments are set to correspond to the data each rank needs to send or receive in the allgatherv ca

[2020-05-13 02:01] zhxh1 commented on #1944
Sure.

[code]

[2020-05-13 02:12] Richie-yan commented on #1943
Hi, @tgaddair @romerojosh
Compared to ncclAllGather, will ncclBroadcast have any performance loss?
My current approach is to use the ncclAllGather interface. When there are different sizes, it will be downgraded to mpi_allgather. Is this acceptable? Or use ncclBroadcast according to your suggestion?

[2020-05-13 02:29] Richie-yan commented on #1943
Hi, @tgaddair
for question 2 mentioned:  In the Horovod tests for allgather on GPU, we're testing the behavior if the Tensor is on a different GPU for each process (local_rank), but the allgather happens over MPI going through host memory.
I still have some doubts: take the test_horovod_allgather function as an example. If the current environment has available GPUs, I use mpirun -np 2 to test the

[2020-05-13 08:09] loveunk commented on #1338
Same issue here, I am trying to set the timeout as 300.

[2020-05-13 19:17] nvcastet commented on #1944
The error is here when linking with NCCL static library:
[code]
I have never tried the `nccl` package from conda-force. So, i do not know if its static library has issues.
You could try setting `HOROVOD_NCCL_LINK=SHARED` to see if you have a better luck with the shared library:
`HOROVOD_CUDA_HOME=$CONDA_PREFIX HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GPU_BROADCAST=NCCL HOROVOD_NCCL_LINK=SHARED pip insta

[2020-05-14 02:25] akirillov commented on #1855
soft ping @EnricoMi. Can you please share any pointers to the documentation or share the idea why the inter-service communication deprecates NAT? Is it possible to make this behavior configurable?

[2020-05-14 02:35] zhxh1 commented on #1944
This works! Thanks a lot!

[2020-05-14 02:35] #1944 closed

[2020-05-14 09:59] yozhao opened #1950 "MPI process crashes occassionally"
**Environment:**
Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensor flow
Framework version: 1.12
Horovod version: 0.19.1
MPI version: 4.0.3
CUDA version: 10.0
NCCL version: .2.5.6
Python version: 3.6.9
OS and version: CentOS Linux release 7.4.1708
GCC version: gcc-5.3

**Your question:**

We run 12 nodes in 6 machines, we find some horovod process may exit due to lost connection, then all other

[2020-05-14 17:32] romerojosh commented on #1943
@Richie-yan  In the cases where you can use a regular `ncclAllGather` (when the first dimensions are all the same across tensors), it may be faster than using the allgatherv via grouped `ncclBroadcast`. On the other hand, I would expect that the allgatherv using nccl with grouped broadcasts would outperform `MPI_Allgatherv` as it does not require copying the memory to the CPU.

Since it sounds lik

[2020-05-15 16:04] #1907 closed

[2020-05-15 17:30] thecooltechguy commented on #1271
I'm facing the same issue, did anyone happen to find a fix? @Himscipy @andrewor14

[2020-05-15 17:40] Himscipy commented on #1271
@thecooltechguy  For me the new version of Horovod- 0.18.1 solved the issue. You can all play with stall time settings which you can change if that helps.

[2020-05-15 18:28] thecooltechguy commented on #1271
Thanks for the reply @Himscipy ! I was using Horovod 0.19.1 and had this issue, so I will try upgrading to 0.19.2 or downgrading to 0.18.1 to see which solves the issue.

[2020-05-15 23:06] #1929 closed

[2020-05-15 23:16] tgaddair opened #1955 "Account for dynamic world size when averaging gradients in TensorFlow"
Currently, the TensorFlow graph is constructed with the world size embedded as a constant tensor.  When running in elastic mode, this results in problems with averaging as the size is not updated as workers are added / removed.

#357 provides an implementation of size ops that account for dynamic world sizes.  We should rebase and merge in this change to fix this.

[2020-05-16 17:50] lalalapotter opened #1959 "Get different performances using different ways to install horovod"
**Environment:**
1. Framework: PyTorch
2. Framework version:1.4.0
3. Horovod version:0.19.1
4. MPI version:4.0.0
5. CUDA version:10.1
6. NCCL version:2.4.8
7. Python version:3.6.9
8. OS and version:ubuntu 18.04
9. GCC version:7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Yes
2. If your question is about hang, did you read [this doc](https://github.c

[2020-05-17 04:26] thecooltechguy commented on #1271
For some reason, @Himscipy 's suggestion didn't work for me when I downgraded to 0.18.2 (or when I upgraded to 0.19.2). I'm still having the stalled tensors errors for the batch normalization layers, and this only goes away if I call hvd.load_model on all horovod workers (instead of on just rank 0 and then using BroadcastVariables hook to sync them with the other workers). However, if I call hvd.l

[2020-05-17 05:17] Himscipy commented on #1271
@thecooltechguy  Let me know if you can share a demo code to reproduce  your error. Some details about the model size,  network structure  and number of parameter would further help in understanding your case.

[2020-05-17 08:59] shuo-ouyang commented on #1910
Solved it by adding all header files into system environment variable `CPLUS_INCLUDE_PATH`.

[2020-05-17 08:59] #1910 closed

[2020-05-17 18:34] thecooltechguy commented on #1271
@Himscipy It's basically a ResNet-based CNN with 7.1M parameters being trained on a ~1M audio file dataset. It uses a lot of Batch Norm for the input into the CNN and within the Conv blocks (expected to be trained for a few hundred epochs).

I, unfortunately, can't share the exact code but in your experience, do you call hvd.load_model(checkpoint_file) on each rank when resuming from a checkpoint