[2019-11-03 03:00] lxl910915 commented on #1454
4 hours to finish autotuning.  @tgaddair

[2019-11-03 20:43] agemagician commented on #1453
I am having the same problem on SUMMIT.
Did you find a solution?

[2019-11-04 03:32] zarzen commented on #1491
Thanks!

[2019-11-04 03:32] #1491 closed

[2019-11-04 04:16] ldd91 commented on #1417
@tgaddair  thanks for your replay,I see in your example all have only one optimiter,but in my project we use two optimiter,it is there any different with the one optimiter

[2019-11-04 05:25] ldd91 commented on #1417
@tgaddair this is the origin code that use only one gpu and no horovod：
import numpy as np
import torch
from torch import nn
from tensorboardX import SummaryWriter
from scipy.special import softmax
import argparse

from general_functions.dataloaders import get_loaders, get_test_loader
from general_functions.utils import get_logger, weights_init, load, create_directories_from_list, \

[2019-11-04 07:47] asawanggaa commented on #1365
same issue, stuck at the first step, and without any info throw out

[2019-11-04 19:49] zarzen commented on #1086
you can use `-mca btl_tcp_if_include 110.20.7.0/24` for `mpirun` to let all traffic go through `ib0`
full version:
[code]

[2019-11-04 20:31] SaremS opened #1495 "Interaction with probabilistic frameworks (pyro, tensorflow probability)?"
Hi,

does Horovod as of now interoperate with the above mentioned probabilistic frameworks for PyTorch and/or Tensorflow? Google and the Issue archive didn't really provide a clear answer I'm afraid.

Thanks for any help,
Sarem

[2019-11-04 21:17] yselivonchyk commented on #686
In order to resolve similar issue had to:
1. remove all existing protobuf installs
[code]
2. manually clean up /usr/include/google/protobuf/ where /usr/bin/ is the installation folder of older protobuf
3. Install latest version of protobuf, not necessarily the exact one used by TF.

[2019-11-04 21:20] #1492 closed

[2019-11-04 21:20] tgaddair commented on #1365
Hey @asawanggaa, did you try running with `horovodrun --gloo ...`?

[2019-11-04 21:25] tgaddair commented on #1495
Hey @SaremS, I'm not aware of anyone having used Horovod with Pyro or TensorFlow Probability in the past.  Is this something you're looking into?  Would be happy to help out with any issues that come up.

[2019-11-04 21:29] tgaddair commented on #1493
Hey @larroy, thanks for the detailed error message.  Looks like the segfault is occurring somewhere in the MXNet plugin, possibly @yuxihu might have more insight into what went wrong.

[2019-11-04 22:10] larroy commented on #1493
@tgaddair thanks a lot.

[2019-11-04 23:02] apeforest commented on #1493
Looks like it's horovodrun with --mpi_args using incorrect mpi binary. Could you try to run with mpirun and see if it gives you error?

[2019-11-04 23:09] larroy commented on #1493
I think the binary is ok, the problem was the executing host was specified twice, once as "localhost" and second time by IP. Why do you think the binary is incorrect?  Do we need any special options to mpirun vs horovodrun?

[2019-11-05 09:28] alasdairm-gr opened #1497 "Memory usage issue when using Horovod with spark-submit and YARN"
**Environment:**
1. Framework: Keras (but it doesn't matter)
2. Framework version:
3. Horovod version: 0.18.2
4. MPI version: 4
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.6
8. OS and version: N/A
9. GCC version: N/A

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://gith

[2019-11-05 15:48] SaremS commented on #1495
@tgaddair Thanks for the offer and your answer. So far, this is only an idea that I have for a problem I want to solve. Once plans become more concrete, Ill definitely come back to you.

[2019-11-05 20:41] #1293 closed

[2019-11-05 21:32] zarzen commented on #1276
I am also curious about the debugging process.
Specificity how to debug c++ extension mixed with python programs. I can set debug points at python files, while not likely to jump into the C++ extension. While a large proportion of the code base is C++. Same issues in PyTorch/Tensorflow encountered while debugging gradient hook functions, I hope to know where/when did hook functions are called duri

[2019-11-06 03:41] zarzen opened #1498 "How to step through C++ part of the horovod?"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3.0
3. Horovod version: 0.18.2
4. MPI version: 4.0.2
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version: ubuntu 16.04
9. GCC version: 5.4.0

**Your question:**
I am trying to step through `horovod` implementations, specifically the `DoAllreduce` at `horovod/torch/mpi_ops_v2.cc` file. Because I want to know the runti

[2019-11-06 06:20] johnkim126 opened #1500 "OpenMPI 3.0.0 hangs initialize step in SGE"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.3.0
3. Horovod version: 0.18.2
4. MPI version: 3.0.0
5. CUDA version: 8.0
6. NCCL version:
7. Python version: 3.6.8
8. OS and version: RHEL 7.6
9. GCC version: 4.8.5

Hello, I have been testing OpenMPI 3.0.0 and Horovod 0.18.2 in SGE.
It works fine in terminal (not use job scheduler)

but in SGE, My mpi process hangs in initialize s

[2019-11-06 06:24] johnkim126 commented on #1500
I'm testing this python script (https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist.py)

[2019-11-06 15:25] josephren opened #1501 "Memory Leak Of tensorflow_mnist_eager.py"
**Environment:**
1. Framework:Tensorflow
2. Framework version:1.12.0
3. Horovod version:0.16.2
4. MPI version:4.0.1rc3
5. CUDA version:9.0
6. NCCL version:
7. Python version:3.5
8. OS and version:
9. GCC version:5.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod

[2019-11-06 17:12] shailensobhee commented on #1483
Hello @tgaddair , I'm using Tensorflow 1.14.0 from the anaconda channel.

[2019-11-06 17:37] tgaddair commented on #1483
Thanks for clarifying @shailensobhee.  That makes sense, then.  As I said, the issue is upstream with TensorFlow's binaries themselves, which require using G++ 4.X prior to TensorFlow 1.15.  When you upgrade to a newer version of TensorFlow, this problem will go away.

I'll go ahead and close this issue for now, but feel free to reach out if you have any more questions.

[2019-11-06 17:37] #1483 closed

[2019-11-06 20:29] zarzen commented on #321
hey @alsrgv
Thanks for you previous clarification about the communication time. But why negotiate_allreduce time is not counted as communication time? Currently, I often observe a longer time spend on `negotiate_allreduce` comparing to `MPI_Allreduce`, is this reasonable?

[2019-11-06 20:55] zarzen opened #1502 "Is Tensor Fusion enabled by default when I use mpirun?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version: 0.18.2
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Your question:**
If running distributed training with `mpirun` command, will `horovod` enable tensor fusion by default?

[2019-11-06 22:50] rajatchopra commented on #1195
@ivankxt Did you get around and resolve that error?

[2019-11-07 04:23] rchinna opened #1503 "RHEL 8 support"
Hi,

Looks like RHEL 8 comes with GCC 8 by default and that makes it hard to have G++4 libraries in the system.

Are there any instructions to install horovod on RHEL8 without G++4.8/4.9 installation?

Thanks,
Raj

[2019-11-07 07:16] jusonn opened #1504 "horovod does not make learning faster"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) tensorflow
2. Framework version: 2.0.0
3. Horovod version:  horovod docker image

**Your question:**
Please ask your question here.

I tried tensorflow2_mnist example. It looks like if I use more gpus, model learns faster with less steps since multi gpus take dataset separately.

However, in my case It takes 300 secs to learn 1 epo

[2019-11-07 07:50] jusonn opened #1505 "Can not understand tensorflow2 minst example"
I found somewhat interesting phenomenon in example.

In the example, It does not give `shard()` API so I think the script gives a whole dataset to every process so that every process run same steps.
But it does not.

https://github.com/horovod/horovod/blob/38e91bee84efbb5b563a4928027a75dc3974633b/examples/tensorflow2_mnist.py#L36

when i tried `horovodrun -np 1 -H localhost:1 python tensorflow2_mn

[2019-11-07 09:49] 522730312 commented on #1174
what`s your openmpi version？

[2019-11-07 12:50] vmarkovtsev commented on #923
@jiangzihanict Why did you close this? I have the same problem.

[2019-11-07 12:53] vmarkovtsev commented on #923
https://github.com/horovod/horovod/issues/566#issuecomment-430455575

[2019-11-08 02:09] jusonn commented on #1504
I solved it.
This was because dataset `take` API.
I tried 'dataset.take(datasetlen//hvd.size()'
I missed datasetlen is the whole length of dataset not divided by batchsize.
So I changed it to `dataset.take(datasetlen//hvd.size()//batch_size)`

https://github.com/horovod/horovod/blob/38e91bee84efbb5b563a4928027a75dc3974633b/examples/tensorflow2_mnist.py#L83

[2019-11-08 02:09] #1504 closed

[2019-11-08 05:17] jusonn commented on #820
@tgaddair How do I ensure that each worker gets a different random batch??

[2019-11-08 07:46] NigulasiChen commented on #1501
The same problem with Horovod version： 0.18.1  ！！

[2019-11-08 09:47] NigulasiChen commented on #1501
this code cause the Memory Leak :
tape = hvd.DistributedGradientTape(tape)

[2019-11-08 15:54] shailensobhee opened #1506 "Horovod 0.18.x fails to install, failing to run `install` or `bdist_wheel`"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.14.0
3. Horovod version: 0.18.2 (issue happens with 0.18.0, 0.18.1, 0.18.2)
4. MPI version: Intel MPI 2019 U5- but that's not important as the issue is at the install level
5. CUDA version:
6. NCCL version:
7. Python version: 3.7.4
8. OS and version: CentOS 8
9. GCC version: (version 8.2.1 20180905 (Red Hat 8.2.1-3))

**Bug report:*

[2019-11-08 16:04] tgaddair commented on #1506
Hey @shailensobhee, this behavior is intended.  The error message explains what the problem is:

[code]

The reason you don't get this behavior in older versions of Horovod is because we didn't run this compiler check previously.  In older versions of Horovod, the build process would "succeed", but then could segfault at runtime due to the ABI incompatibility.

My suggestion would be to use Tensor

[2019-11-08 16:09] tgaddair commented on #1503
Hey @rchinna, what version of TensorFlow / PyTorch / MXNet are you using?  If you're using TensorFlow, I would suggest upgrading to TensorFlow 1.15, which can be built with newer versions of GCC.

[2019-11-08 16:11] shailensobhee commented on #1506
I use `conda` as my package manager and Tensorflow version `1.15.x` is not available on the `anaconda` channel. From the 1.1x line, it seems that `1.14.0` is the latest I can use. I cannot use the Tensorflow from PyPI (i.e `pip install tensorflow` is not an option for me).

Any recommendations?

[2019-11-08 16:24] rchinna commented on #1503
I am using TensorFlow version 2.0. I will try building with GCC8 and see if it helps.

[2019-11-09 14:59] vichubtor opened #1507 "An Error which is that I can't install with HOROVOD_WITH_TENSORFLOW=1"
**can anyone help me please?...
when I import horovod.tensorflow, there was an importError. so I reinstall it. then I got this below.**

$ sudo HOROVOD_NCCL_HOME=/usr/local/nccl_2.4.8-1+cuda10.1_x86_64 HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_GPU_ALLREDUCE=MPI HOROVOD_GPU_ALLGATHER=MPI HOROVOD_GPU_BROADCAST=MPI HOROVOD_WITH_TENSORFLOW=1 pip3 install --no-cache-dir horovod
Looking in indexes: https://mir

[2019-11-09 16:43] tgaddair commented on #1507
Hey @vichubtor, what versions of TensorFlow and CUDA are you using?  Can you try running `ldconfig -v` and print the result?

[2019-11-10 08:41] jakubzitny commented on #465
I have the same with both `horovodrun` and `mpiprun`.

[2019-11-10 09:40] jusonn commented on #1198
does this issue solved??

[2019-11-11 16:35] tgaddair commented on #1497
Hey @alasdairm-gr, apologies for the late response.  Sounds like we need to modify the host_hash calculation in [host_hash.py](https://github.com/horovod/horovod/blob/master/horovod/run/common/util/host_hash.py) for YARN.  If we add information about the YARN container ID ([example](https://stackoverflow.com/questions/41724300/how-do-i-get-the-yarn-containerid-from-inside-the-container)), it shoul

[2019-11-11 22:04] mariamrahmaani commented on #1419
Here is what I did so far for my CPU experiment.
I setup a completely new system this time with the dockerfile presented in the project: "https://github.com/horovod/horovod/blob/master/Dockerfile.cpu" instead of setting up my system using virtual env. from scratch.

I just added Bert specific packages and data-set downloaded in this dockerfile.  and some other configs for my proxies.

so far I ran

[2019-11-11 23:44] Himscipy commented on #403
For future users coming to this thread. The issue was resolved using the latest Horovod-0.18.2 version.
The limitations of Horovod were reported in following paper (link below) as well and the new release has the fix for it.
https://arxiv.org/pdf/1909.11150.pdf

[2019-11-12 00:49] apeforest commented on #403
Does that mean Horovod can support unequal work load on workers now? Meaning one can run evaluation only on rank 0?

[2019-11-12 01:00] tgaddair commented on #403
Hey @apeforest, I think @Himscipy's issue was caused by a lagging worker.  For training with uneven batches, @kit1980 recently landed #1058, which adds a "Join" operation for PyTorch.  Would be awesome to add an implementation for MXNet as well!

[2019-11-12 10:56] SAswinGiridhar commented on #1242
@liuyongheng123 May I know how you were able to solve the multi gpu inference scenario?

[2019-11-12 17:13] vilmara commented on #1483
hi @tgaddair, I see the Dockerfile.gpu still refers g++-4.8  even though it builds from ubuntu18.04 with TENSORFLOW_VERSION=2.0.0, should the Dockerfile be updated also to use a newer version of g++ ?

[2019-11-13 00:16] apeforest commented on #1493
@larroy I have never used the option --mpi --mpi-args. If I run horovodrun -H localhost:2,<ip> or mpirun -H localhost:2,<ip> I did not see any issue

[2019-11-13 02:14] liuyongheng123 commented on #1242
Hello, happy to hear your asking!
In my experiment, I get three Inference development board with AI inference chip , which the Ubuntu runs on. I install Horovod and openmpi on the OS of the board , and chose one of the three as master nodes run the "horovodrun" command. The three board differentiated to classify the part load of picture which was  decomposed to three part.
After the experiment, I

[2019-11-13 08:29] #1402 closed

[2019-11-13 08:48] Flamefire opened #1508 "Improve documentation on Horovod installation"
Judging by the logic in https://github.com/horovod/horovod/blob/38e91bee84efbb5b563a4928027a75dc3974633b/setup.py#L1369 it is clear, that before installing Horovod one needs to install the underlying framework(s) (TensorFlow, PyTorch, ...).

This is not mentioned in the installation instructions which made me think, I can install Horovod and then any framework I like (or switch between them) and i

[2019-11-13 09:23] lxl910915 opened #1509 "Broadcast diffrence shape tensor"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-13 10:10] hpc-unex opened #1510 "Where is the partitioning of the gradients done for Ring AllReduce?"
Hello, im trying to undestard the communication code, and as I see in the original paper, the gradients are divided in hvd.size() partitions and then the allreduce is done in 2*(N-1) steps, but I cannot find that code in the framework. Im working under Torch.

[2019-11-13 15:14] Himscipy commented on #731
Hey @mwoodson1 , I am facing the similar issue. @tgaddair  I used your suggestion but it didn't worked for me for my model  freezing.

[2019-11-13 23:03] tgaddair commented on #1498
Hey @zarzen, I would take a look at [this](https://gist.github.com/Mistobaan/738e76c3a5bb1f9bcc52e2809a23a7a1) gist.  It documents how to attach a debugger to a running process running C++ code but launched by Python.

[2019-11-13 23:05] tgaddair commented on #321
Hey @zarzen, if you network is fast or your model is small, or you have imbalanced performance between the workers, it's possible for long negotiation phases.

[2019-11-13 23:06] tgaddair commented on #1276
For info on compiling Horovod from source, please see https://github.com/horovod/horovod/blob/master/docs/contributors.rst.  For info on attaching a debugger, see #1498.

[2019-11-13 23:08] tgaddair commented on #1502
Hey @zarzen, yes tensor fusion is enabled by default with a 64MB buffer.  This can be configured with `horovodrun --fusion-threshold-mb` or the `HOROVOD_FUSION_THRESHOLD` environment variable.

[2019-11-13 23:12] tgaddair commented on #1505
Hey @jusonn, all the MNIST examples use a "random sampling" strategy for loading the data, as opposed to a "partitioning" strategy (using `shard()`).  Instead of splitting the data, every worker iterates over a random permutation of the same dataset.  Because you're doing distributed training, you can perform fewer steps per worker, which is why each worker runs 1250 steps (10000 / 8) instead of t

[2019-11-13 23:15] tgaddair commented on #1506
Hey @shailensobhee, can you check which versions of gcc are available:

[code]

If it's available, try installing GCC 4.8.  As long as it's on your system and in your binary path, it Horovod should be able to use it to install TensorFlow.

[2019-11-13 23:16] tgaddair commented on #1503
Hey @rchinna, any luck with 2.0?  As I mentioned in #1506, you may also want to see if there's a GCC 4.8 package available in your RHEL distribution.

[2019-11-13 23:17] tgaddair commented on #1501
Thanks for pointing this out, @josephren.  I'll take a look at this and see if I can repro.

[2019-11-13 23:24] tgaddair commented on #465
Hey @karthikvadla and @jakubzitny, does the error also occur when you run one of the Horovod example scripts, or only when you run your custom training code?

[2019-11-13 23:27] tgaddair commented on #1198
Hey @jusonn, which issue are you referring to?  If you're seeing that multi gpu training is worse than single gpu, then most likely it's an issue with the specific model or environment.  Feel free to create a new issue so we can dive into the issue further.

[2019-11-13 23:34] vilmara opened #1511 "old GCC compiler on Dockerfile.gpu"
I see the Dockerfile.gpu still refers gcc 4.8 version even though it builds from ubuntu18.04 with TENSORFLOW_VERSION=2.0.0, should the Dockerfile be updated to use a newer version of gcc compiler?, if so what is the recommended version?

[2019-11-13 23:40] tgaddair commented on #1511
Hey @vilmara, I believe we can safely remove that going forward, thanks for pointing that out.  The version of GCC that comes with ubuntu18.04 should be ABI compatible with the latest TensorFlow, as should any version >= GCC 5.  You can check which version of GCC was used to compile TensorFlow with `tf.version.COMPILER_VERSION` to be safe.

[2019-11-14 00:15] tgaddair commented on #1509
Hey @lxl910915, can you elaborate on your request?  It sounds like what you're requesting can be accomplished in three steps:

1. Broadcast the shape of the tensor to the other workers.
2. Allocate empty tensors of the correct shape on each of the receiving workers.
3. Broadcast the tensor to the other workers.

Is that the goal of this request?

[2019-11-14 00:59] tgaddair commented on #1508
Hey @Flamefire, thanks for bringing this up.  We can definitely add this to the docs.

To answer your questions here:

- Most of Horovod's dependencies are included in the requirements, except for specific training frameworks (TensorFlow, Keras, PyTorch, MXNet).
- For any framework you want to use with Horovod, it should be installed at the time you install Horovod.
- To be safe, we recommend rein

[2019-11-14 01:03] tgaddair commented on #1510
Hey @hpc-unex, this is handled by the underlying implementation of `Allreduce` in MPI, NCCL, Gloo, etc.  You can see an example implementation for Gloo [here](https://github.com/facebookincubator/gloo/blob/master/gloo/allreduce_ring.h).

[2019-11-14 01:23] abditag2 commented on #1242
@SAswinGiridhar Horovod does not provide any tools for serving. You can take a look at https://github.com/uber/neuropods which is another Uber project that helps package the DL models for serving.

[2019-11-14 01:26] abditag2 commented on #1384
@atranitell Do you want to make a PR?

[2019-11-14 03:00] lxl910915 commented on #1509
Yes, this is our goal. But we don't known how to implement step 1 and step 2 in tensorflow. Can you give us an demo ? Thank you!

[2019-11-14 03:05] atranitell commented on #1384
@abditag2 Emmm.. Surely, I am glad to do that. But, should I place the "sync_bn" codes at "/examples"?
In addition, I just implement a pytorch version.

Best,
KJ

[2019-11-14 06:25] y-rok opened #1512 "Distributed training with keras does not seem to synchronize models of each node."
**Environment:**
1. Framework: Keras
2. Framework version:
3. Horovod version:0.18.2
4. MPI version:
5. CUDA version:10.0
6. NCCL version:
7. Python version:3.7.5
8. OS and version:linux ubuntu 18.04
9. GCC version:4.8.5

Hello.

I've written codes for resnet distributed training with keras.

When distributed training, the gradients of all nodes are averaged at each step before updating model.
The

[2019-11-14 09:21] jakubzitny commented on #465
I was only trying it with the example code @tgaddair  - [keras_mnist.py](https://github.com/horovod/horovod/blob/master/examples/keras_mnist.py) for example.

[2019-11-14 09:44] 522730312 commented on #1421
The same error occur to me!!!    "AssertionError: optimizer.zero_grad() was called after loss.backward() but before optimizer.step() or optimizer.synchronize()"

[2019-11-14 10:33] byronyi commented on #1256
If you use HDFS, that may because both PyArrow and TensorFlow load libhdfs, and MPI that forks multiple processes make the issue more complicated.

We might encounter a similar issue and we are tracing its root cause.

[2019-11-14 16:01] tgaddair commented on #1421
Hey @522730312, can you share your training script?  Are you calling `optimizer.zero_grad()` after `loss.backward()` but before `optimizer.step()` somehow?

[2019-11-14 16:04] tgaddair commented on #1512
Hey @y-rok, how different are the models?  In some cases, small divergences can occur due to numerical non-determinism in the training process.  If this is causing an issue with convergence, you can modify the `hvd.callbacks.BroadcastGlobalVariablesCallback(0)` callback to run at the end of each epoch.  That will force all model replicas across all workers to share the same state.

[2019-11-14 16:07] tgaddair commented on #465
Thanks for the response @jakubzitny.  I suspect there is an issue with the MPI configuration in your environment.  Can you try running with `horovodrun --gloo` to see if things can run without MPI?

[2019-11-14 22:32] jli111 opened #1514 "Tensor fusion seems doesn't help with decreasing Allreduce operations"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow 1.10, Keras 2.2.2
2. Framework version:
3. Horovod version: 0.13.11
4. MPI version: Cray MPICH 3.0
5. CUDA version:
6. NCCL version:
7. Python version: Python 3.7
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about ha

[2019-11-15 01:33] #1502 closed

[2019-11-15 02:18] tgaddair commented on #1514
Hey @jli111, good questions!  Let me take a stab at answering them, feel free to followup as needed:

**Is the tensor reduction operated in a layer-wise way?**

From Horovod's perspective, tensors are submitted for reduction as soon as they are available.  Every `allreduce` call made is at the tensor level of granularity.  From the framework (TensorFlow, PyTorch, etc.), the `allreduce` operation i

[2019-11-15 05:15] tgaddair commented on #731
Hey @Himscipy, can you take a look at our [inference](https://github.com/horovod/horovod/blob/master/docs/inference.rst) page and try running the optimization script provided there?

[2019-11-15 05:45] jli111 commented on #1514
Hello @tgaddair, thank you so much for answering!

Well, I still have some confusion regarding your answer.

(1). When you say
"We only make a single Allreduce call to NCCL at a time because the assumption is that each of these calls is already fully utilizing your GPU and network bandwidth."
Do you mean one Allreduce for one tensor at a time or one Allreduce for multiple tensors at a time? Back t

[2019-11-15 06:10] lxl910915 commented on #1259
https://github.com/kubeflow/kubeflow/issues/3789#issuecomment-553736690

[2019-11-15 06:22] #1259 closed

[2019-11-15 16:11] tgaddair commented on #1514
Hey @jli111, I apologize, I didn't take a close enough look at the timeline last night and apparently misread it.  Taking a second look, it does appear that tensors are getting fused together.

When you see multiple tensors being Allreduced at the same time on the timeline, that's tensor fusion.  In your case it appears that 10 total tensors were submitted to be Allreduced in your selection.  2 of

[2019-11-15 16:43] jakubzitny commented on #465
Can't really get install it with `gloo`. Tried the following without luck, installation finished successfully.

[code]

Horovodrun with `--gloo` is returning
[code]

[2019-11-15 16:52] tgaddair commented on #465
Hey @jakubzitny, do you have CMake installed?  If not, can you try `pip install cmake`?

[2019-11-15 17:04] jakubzitny commented on #465
I do, version `3.6.1`.

[2019-11-15 17:12] tgaddair commented on #465
That's strange, so installing Horovod did not raise an error, but running `horovodrun` did?

Are you certain that Horovod installed the `horovodrun` binary to `.local/bin`?  Is it possible you have more than one version of Horovod installed?

[2019-11-15 17:33] vilmara opened #1516 "mca_btl_tcp_endpoint_recv_connect_ack] received unexpected process identifier"
**Environment:**

1. Framework: (TensorFlow, Keras, PyTorch, MXNet): TensorFlow
2. Framework version: TensorFlow 1.14.0
3. Horovod version: horovod-0.18.2
4. MPI version: openmpi-4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.7-1
7. Python version: 2.7
8. OS and version:  Ubunto18.04
9. GCC version: 4.8
10. Mellanox: MLNX_OFED_LINUX-4.7-1.0.0.1

**Bug report:**
Hi, I am running TensorFlow benchm

[2019-11-15 17:39] #1255 closed

[2019-11-15 17:40] vilmara commented on #1511
@tgaddair, I got it. Thanks!

[2019-11-15 17:40] #1511 closed

[2019-11-15 17:43] vilmara commented on #504
Hi @Geof23, yes it was solved, closing the issue

[2019-11-15 17:43] #504 closed

[2019-11-15 17:48] vilmara commented on #1261
issues solved with the lasted Horovd v0.18.2

[2019-11-15 17:48] #1261 closed

[2019-11-15 19:01] vilmara commented on #1516
Fixed, I just added the flag specifying the interface to include ib0: -mca btl_tcp_if_include ib0. My command ended as:
`mpirun -np 8 -H <ib0 master node>:4,<ib0 second node>:4 --allow-run-as-root -x NCCL_IB_DISABLE=0 -x NCCL_IB_CUDA_SUPPORT=1 -mca btl_tcp_if_include ib0 -x NCCL_SOCKET_IFNAME=ib0 -x NCCL_DEBUG=INFO --bind-to none --map-by slot --mca plm_rsh_args "-p 50000" python tf_cnn_benchmarks

[2019-11-15 19:01] #1516 closed

[2019-11-15 20:38] vilmara commented on #288
Hi, @alsrgv. I am running the TF benchmarks in multi-node mode with the latest version of Horovod 0.18.2, MLNX_OFED_LINUX-4.7-1.0.0.1, and GPUDirect RDMA (nvidia-peer-memory_1.0-8). I am following the above instructions, but I am not seeing the output connection `via NET/IB/0/GDRDMA`. Do you have some comments or recommendations on what else I am missing with the new software stack version?

`mast

[2019-11-16 02:03] jli111 commented on #1514
Great! I think this really clarifies my questions now!

Thank you so much for detailed answer!

[2019-11-16 02:03] #1514 closed

[2019-11-16 07:44] #1505 closed

[2019-11-16 09:24] zjusgy opened #1517 "for help: training seized up when synchronize"
**Environment:**
1. Framework: PyTorch
2. Framework version:
3. Horovod version:0.18.2
4. MPI version:4.0.2
5. CUDA version:9.0
6. NCCL version:2.2.13
7. Python version:3.5
8. OS and version:Ubuntu 16.04
9. GCC version:5.4.0

Hello:
I've run codes for distributed pretraining bert with pytorch.
However, it seized up at optimizer.step(). I found it can be traced back to
`output = synchronize(handle)

[2019-11-16 15:21] zdgithub commented on #1091
How do you specify the GPU ids? For example , I just want to use `1,2,3` gpus and not to use the `0` gpu

[2019-11-16 18:23] tgaddair commented on #1091
Hey @zdgithub, you can either do this outside of Horovod by setting `CUDA_VISIBLE_DEVICES="1,2,3"`, or within Horovod by running with `horovodrun -np 3` then pinning to specific GPUs: `config.gpu_options.visible_device_list = str(hvd.local_rank() + 1)`.

[2019-11-16 18:29] tgaddair commented on #1517
Hey @zjusgy, what version of PyTorch are you using?  `wait_and_clear(handle)` is like a "join" operation following a "fork" (in multithreading terms).  You can see the implementation for PyTorch >=1.0 [here](https://github.com/horovod/horovod/blob/master/horovod/torch/mpi_ops_v2.cc#L228).

Does training also hang if you run one of our examples scripts like [pytorch_mnist.py](https://github.com/hor

[2019-11-17 02:32] zdgithub commented on #1091
Oh, thank you very much!

[2019-11-17 02:49] zjusgy commented on #1517
Thx, @tgaddair , My version of Pytorch is 1.0.0.
yep, it also hangs when I try to run pytorch_mnist.py at same line.
I try to `synchronize(handle)` in `_allreduce_async` and I got this error:
`ncclGetUniqueId failed: unhandled system error`
with `NCCL_DEBUG=WARN` I got warning like this:
` transport/net_ib.cu:103 WARN NET/IB : No IP interface found.`
`include/socket.h:311 WARN Socket creation fail

[2019-11-17 06:43] zdgithub commented on #686
I degrade my tensorflow from `1.13.0` to `1.12.0`

[2019-11-17 09:40] zdgithub opened #1518 "seemingly not using gpus though they are available"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) tensorflow-gpu
2. Framework version: 1.12.0
3. Horovod version: 0.18.1
4. MPI version: 4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.8
7. Python version: 3.6
8. OS and version: Ubuntu18.04
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about h

[2019-11-18 00:38] tgaddair commented on #1518
Hey @zdgithub, can you try setting `config.log_device_placement = True` as suggested [here](https://stackoverflow.com/questions/38009682/how-to-tell-if-tensorflow-is-using-gpu-acceleration-from-inside-python-shell) to check that TensorFlow is correctly making use of GPU acceleration?

[2019-11-18 03:30] lxl910915 commented on #1509
https://github.com/horovod/horovod/issues/248

[2019-11-18 04:02] pl-lee commented on #1237
@tvovalentin Hi, have you solved this problem? My Open MPI is 4.0.0, and my output is same to you. could anybody tell me the reason? Thanks!

[2019-11-18 05:09] chandana1332 opened #1519 "allgather doesn't concatenate tensors"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.4.1
3. Horovod version: 0.16.4
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/runn

[2019-11-18 06:42] zdgithub commented on #1518
Thank you! I found it's because my tensorflow-gpu 1.12.0 is too low to use the cuda 10.0.
So when I upgraded the tensorflow-gpu to 1.13.1, the problem was solved.

[2019-11-18 06:42] #1518 closed

[2019-11-18 10:14] apeforest commented on #1519
Hi @chandana1332, allgather in Horovod with MXNet was not fully implemented and tested. There was a recent [PR](https://github.com/horovod/horovod/pull/1424) that provided a fix, although it may have some performance impact. We will revisit this problem in two weeks.

[2019-11-18 14:28] chandana1332 commented on #1519
The PR was not merged so I can't build and test it.
I'm not too familiar with the internals of Horovod to verify if diff solves the problem I'm seeing.

Do you have suggestions on how I can verify this fix?

[2019-11-18 16:50] apeforest commented on #1519
@chandana1332 I will provide you the steps offline

[2019-11-18 21:20] rb-determined-ai opened #1520 "Incremental build support"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow
2. Framework version: TF 1.14.0
3. Horovod version: tip of master
4. MPI version:
5. CUDA version: 10.0
6. NCCL version: tip of master
7. Python version: 3.6.8
8. OS and version: Ubuntu 18.04
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes.
2. If your que

[2019-11-18 21:59] rich-junwang commented on #832
Do we have any update on this issue? I also got hit by the same problem.

[2019-11-18 22:11] tgaddair commented on #832
Hey @rich-junwang, what framework are you using?  @kit1980 added an implementation for PyTorch in #1191.  Work is being done on a TensorFlow implementation.

[2019-11-18 22:15] tgaddair commented on #1520
Hey @rb-determined-ai, are you modifying C++ or Python files?  For C++, I'm not aware of any way to speed things up currently other than to exclude frameworks you're not using (e.g., `HOROVOD_WITHOUT_TENSORFLOW=1`.  That said, we have plans to migrate our build process to CMake sometime next year, which should enable incremental build support (though we haven't yet tested that).

For Python, thing

[2019-11-18 22:51] rb-determined-ai commented on #1520
Yeah, I'm referring to the C++ code.  I'll look forward to the CMake build system.

[2019-11-18 23:34] rich-junwang commented on #832
Thanks! I am using MXNet

[2019-11-19 08:32] Shirlly commented on #900
Hi, I have got the same problem as well.  Have you got any solutions?

[2019-11-19 12:54] Oktai15 commented on #1329
This problem can be caused by install pytorch while horovod was already installed for tensorflow (or vice versa). It can be fixed not only uninstall pytorch (tensorflow), but also downgrade other dependencies (if you use `conda`, see `conda list --revisions`).

[2019-11-19 21:29] nvcastet opened #1521 "NCCL broadcast for the Horovod broadcast operation"
Is there a way to use NCCL Broadcast `ncclBroadcast` for the Horovod broadcast? If not, is there a reason?
I may be wrong but from the code, it seems only Gloo, MLSL, or MPI can be picked.

[2019-11-19 22:09] tgaddair commented on #1521
Hey @nvcastet, that's a good question.  I'm not aware of any technical reason it hasn't been implemented.  Because most broadcast calls tend not to fall on the performance-critical path (i.e., training loop), it hasn't been a high priority in the past.  That said, more users are exploring broadcasting model state once per epoch or more frequently, in which case that might start to change.  Are you

[2019-11-19 22:48] HassamSheikh opened #1522 "GPU utilization when running using MPI commands on 2 computers"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TF
2. Framework version: 1.13.1
3. Horovod version: 0.18.2
4. MPI version: 4. 0. 0
5. CUDA version: 10.1
6. NCCL version:2.4.8
7. Python version:3.6.8
8. OS and version: Ubuntu 18.04
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang,

[2019-11-19 23:32] vilmara opened #1523 "Why it doesn't show connection via NET/IB/0/GDRDMA"
**Environment:**
1. Framework: TensorFlow
2. Framework version: TF 1.4
3. Horovod version: 0.18.2 via Horovod in docker
4. MPI version: 4.0.0
5. CUDA version: 10.0
6. NCCL version: .4.7-1
7. Python version: 2.7
8. OS and version: Ubuntu 18.06
9. GCC version: 4.8
10. Mellanox OFED 4.7.1
11. GPUDirect RDMA - nvidia-peer-memory_1.0-8

**Your question:**
Please ask your question here.
I am running the

[2019-11-20 01:14] y-rok commented on #1512
@tgaddair  Thanks for your reply :)
Could you explain me the meaning of "numerical non-determinism"?

The test losses of nodes are slightly different.
As i know, the gradients are averaged across nodes before updating model at each step.
So I think the models of nodes should be same.

[2019-11-20 05:16] ujjawalcse opened #1524 "OS Issue"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-11-20 09:50] EnricoMi commented on #1497
Hi @tgaddair, adding CONTAINER_ID environment variable to the host hash fixed this problem: #1525.

It took quite some effort to understand how Horovod uses MPI to launch the Python method inside the Spark executors. I have added a description of that process to the contributors.rst file in docs, together with some more comments in the code, that would have helped me understanding the mechanics fa

[2019-11-20 13:46] VincentJing opened #1526 "Horovod doesn't work when I use 2 machines, each machine has 8 GPUs."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version: Tensorflow
3. Horovod version: 0.18.2
4. MPI version: 4.0.2
5. CUDA version: 10.0
6. NCCL version: 2.4.8
7. Python version: 3.5.2
8. OS and version: ubuntu 16.04
9. GCC version: 4.9

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did y

[2019-11-20 15:09] zdgithub opened #1527 "multi gpus training results in zigzag loss curve"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) tensorflow
2. Framework version: 1.13.1
3. Horovod version: 0.18.1
4. MPI version:4.0.0
5. CUDA version:10.0
6. NCCL version:2.4.8
7. Python version:3.6
8. OS and version:Ubuntu 18.04
9. GCC version:4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did

[2019-11-20 19:54] meshaun9 opened #1528 "Where is Horovod shared library normally installed on Ubuntu?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:latest
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:Ubuntu 18.04
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?yes
2. If your question is about hang, did you read [this doc](https://github.com

[2019-11-20 20:58] tgaddair commented on #1528
Hey @meshaun9, if you're running outside a virtual environment, it will typically be something like `/usr/lib/python3.6/site-packages`.  You can check the install path in Python like so:

[code]

We build a separate `.so` for each framework you install, so you may have multiple libraries like:

[code]

[2019-11-20 21:29] tgaddair commented on #1497
Thanks for the PR!  We'll go ahead and close the issue sicne #1525 has landed.

[2019-11-20 21:29] #1497 closed

[2019-11-20 22:39] meshaun9 commented on #1528
Hi @tgaddair  I saw the mpi*.so  but is their one specific for Tensorflow?

[2019-11-20 22:54] tgaddair commented on #1528
Hey @meshaun9, yes, the `mpi_lib.*.so` under `horovod/tensorflow` is specific to TensorFlow.  That contains the compiled custom op used to connect TensorFlow to Horovod.

[2019-11-21 17:46] hanyucui opened #1531 "Timeline json file content invalid (has only an opening bracket)"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): tensorflow-mkl
2. Framework version: 1.14.0
3. Horovod version: 0.18.2
4. MPI version: 3.0.0
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7
8. OS and version: ubuntu 16.04 LTS
9. GCC version: 5.4

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about

[2019-11-21 23:01] Rong-Inspur commented on #935
@alsrgv Any update on this? Or any related documents can refer to? Thanks a lot!

[2019-11-22 05:46] vilmara commented on #55
hi @alsrgv, could you please help me to figure out the solution for the issue #1523? . The last year I worked with you successfully using nv_peer_mem, but nv_peer_mem is not working now with the new SW

[2019-11-22 08:06] 972461099 commented on #1340
hello,can you tell me how did you fix it?

[2019-11-23 08:34] konnase commented on #504
Could you please show us how you solved this problem?

[2019-11-24 18:48] eric-haibin-lin opened #1533 "mxnet crashes"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): mxnet
2. Framework version: mxnet-cu100 20191123
3. Horovod version: 0.18.2
4. MPI version: 3.1.4
5. CUDA version: 10.0
6. NCCL version:
7. Python version: 3.7
8. OS and version: amazon linux
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang,

[2019-11-24 19:28] eric-haibin-lin commented on #1533
after i add: `hvd.shutdown()`
[code]

[2019-11-25 07:02] ahzz1207 opened #1534 "horovod with tensorflow--More GPU, More RAM?"
**Environment:**
1. Framework: tf
2. Framework version:1.14
3. Horovod version:0.18
4. MPI version:4.0.2
5. CUDA version:10.0
6. NCCL version:2.0
7. Python version:3.6
8. OS and version:linux & k8s
9. GCC version:4.9

**Your question:**
I found that when I use more GPUs to run script I will meet bug that  process get killed(exited signal 9), when I increase RAM to run the same cmd, this bug is gon

[2019-11-25 14:58] agemagician opened #1535 "Horovod + Apex with backward_passes_per_step"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Pytorch
2. Framework version:
Pytorch 1.1.0
3. Horovod version:
Latest from Github
4. MPI version:
IBM MPI Spectrum
5. CUDA version:
10
6. NCCL version:
2
7. Python version:
3.6
8. OS and version:
IBM Power
9. GCC version:
Unkown

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
yes
2. If your

[2019-11-25 19:17] romerojosh commented on #1533
@eric-haibin-lin So I just tried this out and the issue seems to be this line here `b = hvd.allreduce(a * 1, average=False)`. If I change the line to this `c = a * 1; b = hvd.allreduce(c, average=False)`, it seems to work without error.

Your first case without `hvd.shutdown()` shows that the program segfaults while attempting to perform the `MPI_Allreduce`, which suggests that in the case where a

[2019-11-25 21:44] apeforest commented on #1533
I was trying to reproduce this error but it seems I didn't get core dump with @eric-haibin-lin command.

[code]

It may be due to corrupted memory as @romerojosh suggested. Looking into it now.

[2019-11-25 23:49] apeforest commented on #1533
I also noticed that if I build Horovod without HOROVOD_ALL_REDUCE=NCCL, there is no error.
In that case, the tensor will be copied to CPU and allreduce is performed between CPUs before they are copied back to GPU memory.

[2019-11-25 23:58] romerojosh commented on #1533
The original error was generated with `HOROVOD_GPU_ALLREDUCE=NCCL` enabled right? Given that the original error shows that the problem segfaults during an `MPI_Allreduce` call, this would suggest that `hvd.allreduce(a * 1, average=False)` is actually using the path that assumes the tensor is on the CPU. Is the result of `a*1` supposed to be a CPU tensor?

[2019-11-26 01:03] tgaddair commented on #1534
Hey @ahzz1207, yes, if you run (for example): `horovodrun -np 4 ...` then there will be 4 copies of the same process running on the same machine (but using different GPUs).  That means that any input files that get read in by that process will be read in multiple times.

[2019-11-26 05:32] ahzz1207 commented on #1534
Thank u for replay. So if I want to avoid the OOM Killer of Linux in Docker way on k8s, I must set bigger RAM to run the horovod on more GPUs.
That would be great if u can imporve it, let every process read inputs from RAM for only one copy.

[2019-11-26 23:24] amity137 opened #1539 "Intuition behind scaling LR by hvd.size() and backward_passes_per_step"
Hey folks, just wanted to know about the intuition behind multiplying the LR by hvd.size() and backward_passes_per_step. I know there was some discussion in the PR comments which enabled gradient accumulation, but seems like it wasn't complete or I didn't get it fully.

[2019-11-27 03:07] chandana1332 opened #1540 "How to make Horovod wait for processes?"
Hello,

I have a process per GPU and the amount of data distributed across all the processes could be imbalanced so a process could complete training faster than other processes.

If a process completes training, I want that processes to wait for other processes to complete. Is there a way I can do that?

Do I have to remove that process from the communicator to allow other processes to proceed tr

[2019-11-27 04:00] chandana1332 commented on #1540
I'm using MXNET btw

[2019-11-27 07:47] enestaylan commented on #1335
is there any development here?

[2019-11-27 10:54] kaituoxu opened #1541 "how to define Noam optimizer in horovod.torch?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-11-27 14:00] zdgithub opened #1542 "scale learning rate"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-11-27 15:24] YoungDav opened #1543 "run code in multi nodes"
i can run "mpirun -np 8 --oversubscribe python train.py" in one node with 8 gpus
how can i use multi mechine ?

[2019-11-27 19:43] zarzen opened #1544 "Confused about QUEUE event on timeline"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3.0
3. Horovod version: 0.18.2
4. MPI version: 4.0.2
5. CUDA version: 10.1
6. NCCL version: 2.4.8
7. Python version:
8. OS and version:
9. GCC version:

**Your question:**
Hi there,
I see the explanation for `QUEUE` at document as following:
[code]

I am confused here, is that why the current `Allreduce` operation needs to wait for the

[2019-11-28 06:41] YoungDav commented on #1215
i meet the same problem

[2019-11-29 02:40] Richie-yan opened #1548 "Horovod using tensor fusion results in unstable gradients"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3.0
3. Horovod version:0.18.2
4. MPI version: ompi-4.0.0
5. CUDA version:9.0
6. NCCL version:2.3.7
7. Python version:3.6.8
8. OS and version:c7
9. GCC version:4.9

When I use horovod to run the mnist example of pytorch, the gradient of the network parameters is saved after optimizer.step (), and it is found that when the tensor fusion

[2019-11-29 06:15] #1543 closed

[2019-11-29 06:40] YoungDav opened #1549 "Error about backward_passes_per_step"
**Environment:**
1. Framework: Pytorch
2. Framework version: 1.1
3. Horovod version: 0.18.2
4. MPI version: 3.0.0
5. CUDA version: 9.0
6. NCCL version: 2.5.6
7. Python version: 3.5.6
8. OS and version: centos7.2
9. GCC version: 5.4.0

one Network contain two part parameters[p1, p2] with two optimizers, but i face thise problem:
`AssertionError: Gradients were computed more than backward_passes_per

[2019-11-29 07:28] AHEADer opened #1550 "Deadlock detection api"
**Is your feature request related to a problem? Please describe.**
Assume total 4 processes, and one is blocked for a long time, the other 3 processes have to wait for it, which will cause resource waste. How can we detect this kind of deadlock?

**Describe the solution you'd like**
Provide an argument, eg. 120s, that all processes will end if they have been blocked for 120s.

**Describe alternati

[2019-11-29 08:05] AHEADer commented on #1550
Sorry no need. Just set two environment variables:
HOROVOD_STALL_SHUTDOWN_TIME_SECONDS
HOROVOD_STALL_CHECK_TIME_SECONDS

[2019-11-29 08:05] #1550 closed

[2019-11-29 10:44] huoliquankai7 commented on #1548
Here are my test cases：convenient to reproduce this problem
Running the following test multiple times, you will find that the md5 of the saved gradient is inconsistent
horovodrun -np 3 -H localhost:3 python py_mn.py

#py_mn.py
from __future__ import print_function
import argparse
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torchvision import datasets, tra

[2019-11-29 18:32] eric-haibin-lin commented on #1533
No, `a*1` should yield a tensor on the same context as `a`'s (gpu)

[2019-12-01 03:09] tgaddair commented on #1523
Hey @romerojosh or @DEKHTIARJonathan, do either of you know anyone who may be able to help with this GPUDirect issue?

[2019-12-01 03:12] tgaddair commented on #1522
Hey @HassamSheikh, could you try creating a [timeline](https://github.com/horovod/horovod/blob/master/docs/timeline.rst) for the 3 GPU / 2 server case?  My guess is that server2 is spending a lot of time waiting for server1 to catch up, which is leading to low utilization.

[2019-12-01 03:16] tgaddair commented on #1512
Hey @y-rok, to clarify, there are some operations (for example, floating-point summation) which occur in different orders on different devices.  Because floating-point summation is not exactly precise, the order of summation can slightly change the final results, leading to different gradients on different workers, in some cases.  I would suggest trying to synchronize model state more frequently a

[2019-12-01 03:18] tgaddair commented on #1524
Hey @ujjawalcse, I would suggest taking a look at #758.  My understanding is that some people have successfully installed Horovod on Windows, but I have not tried it myself.

[2019-12-01 03:20] tgaddair commented on #1526
Hey @VincentJing, to clarify, does Horovod get stuck there and is unable to continue?  Have you tried running the [tensorflow_synthetic_benchmark.py](https://github.com/horovod/horovod/blob/master/examples/tensorflow_synthetic_benchmark.py) example, and does it have the same issues?

[2019-12-01 03:26] tgaddair commented on #1527
Hey @zdgithub, how many GPUs are you using to train?  For very large batch sizes, model convergence can start to break down.

@jaliyae, @klipto, @Tixxx, and some other folks from Microsoft recently added a new gradient aggregation method called Adasum in #1485.  If you're having issues with convergence as you scale up the GPUs, you may want to give their approach a shot.

[2019-12-01 03:29] tgaddair commented on #1531
Hey @hanyucui, thanks for raising this issue.  We initially left it like this because Chrome's tracing feature will still recognize the file as valid JSON without the closing bracket.  Are you attempting to use the timeline file in such a way that this is causing you trouble?

[2019-12-01 03:35] DEKHTIARJonathan commented on #1523
Have you looked into the official guide from Mellanox ?

https://docs.mellanox.com/m/view-rendered-page.action?abstractPageId=15049724

If I understand correctly they even work on the same benchmark as you do

[2019-12-01 03:35] tgaddair commented on #935
Hey @Rong-Inspur, we're still investigating the best approach to integrate with Distribution Strategy, as it will require some changes to Horovod's internals to make it work.

The Horovod steering committee will be meeting in January, and this will be one of the projects we look into for our 2020 roadmap, but no timelines or documents as of yet.

Let me know if this is something you're very intere

[2019-12-01 03:47] tgaddair commented on #1535
Hey @agemagician, to answer your first question, `backward_passes_per_step` is the parameter for local gradient accumulation, yes.

Regarding Apex, @alsrgv or @romerojosh may be able to give you more information.

[2019-12-01 08:35] ujjawalcse commented on #1524
Thanks for your response.

On Sun 1 Dec, 2019, 08:48 Travis Addair, <notifications@github.com> wrote:

[2019-12-02 04:58] haven-jeon commented on #1533
I have same issue.

[2019-12-02 06:30] zwqjoy opened #1551 "Run dist 2 gpus , the speed-up radio is low x1.4"
docker image:  horovod:0.18.2-tf2.0.0-torch1.3.0-mxnet1.5.0-py3.6-gpu

Tensorflow2 Test

**Your question:**
I use the  official docker hub image to run tensorflow2 dist test

I run with one process,    the benchmark is Result:  440.6 pic/sec
and I run with 4 processes (1 machine,   2 docker contaniner. )  I expect the result is   440* 2 = 880
but the get  715.9 pic/sec

I do not know why the speed

[2019-12-02 06:40] Tron-x opened #1552 "what does cycle mean?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-12-02 07:48] y-rok commented on #1512
@tgaddair Is there any way to check if gradients are averaged before updating model? I am curious if there is log i can check.

[2019-12-02 07:57] ticlazau commented on #312
Hello,

has this problem been solved? apparently, I have the same problem with Horovod 0.18.2 on ppc64le architecture based on 4x GPU system.

[1,1]<stderr>:  File "/anaconda3/envs/horovod/lib/python3.6/site-packages/torch/utils/data/dataloader.py", line 826, in _try_put_index
[1,1]<stderr>:    index = self._next_index()
[1,1]<stderr>:  File "/anaconda3/envs/horovod/lib/python3.6/site-packages/tor

[2019-12-02 11:19] haven-jeon opened #1553 "Mixed precision support for MXNet"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.5.1
3. Horovod version: 0.18.2
4. MPI version: 4.0
5. CUDA version: 10.0
6. NCCL version: 2.4.7-1+cuda10.0
7. Python version: 3.6
8. OS and version: ubuntu18.04
9. GCC version: 4.8

Does horovod support mixed precision triaining(amp) for MXNet？

[2019-12-02 14:42] vilmara commented on #1523
Hi DEKHTIARJonathan, yes I have  looked at the official guide from Mellanox, and also I have successfully done it before (see issue #288); however, for some unknown reason with the new SW versions there is not connection via NET/IB/0/GDRDMA, could you please assist?

[2019-12-02 17:20] romerojosh commented on #1548
One possible reason for this is that the tensor fusion in Horovod is dynamic and the sets of gradients tensors that are fused from run to run (or even training step to training step) are not guaranteed to be the same. As a result, the NCCL allreduce operation may perform reductions with different summation ordering, resulting in small numerical differences in the gradients.

[2019-12-02 19:26] chandana1332 commented on #1540
Any suggestions?

[2019-12-03 04:19] jmwoloso opened #1555 "Multi-Worker + Multi-GPU from script instead of command line"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 2.0.0
3. Horovod version: 0.18.1
4. MPI version: 3.0.0
5. CUDA version: 10.1
6. NCCL version: ----
7. Python version: 3.7
8. OS and version: Ubuntu 16.04
9. GCC version: 7

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes.
2. If your question is about hang, did you read [this doc](https://git

[2019-12-03 05:02] power1628 opened #1556 "How to configure the number of threads to use for Horovod distributed optimizer"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-12-03 07:04] Tron-x opened #1558 "Whether horovod implements cross iteration scheduling"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Your question:**
Hi, Whether horovod implements cross iteration scheduling？
Or can we flexibly implement layer-wise communication and computation overlap in this layer?

[2019-12-03 09:25] chenbiaolong opened #1559 "tf.AUTO_REUSE cause Mismatched ALLREDUCE tensor shapes error"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.12
3. Horovod version: v0.18.2
4. MPI version: 4.0.2
5. CUDA version: 9.0
6. NCCL version: nccl_2.5.6-1+cuda9.0_x86_64
7. Python version: 3.5
8. OS and version: centos7.4
9. GCC version: gcc version 4.8.5 20150623 (Red Hat 4.8.5-28) (GCC)

I try to use horovod to train retinanet which use `tf.AUTO_REUSE`  in its class and bbox subne

[2019-12-03 12:52] Richie-yan commented on #1548
@romerojosh
After testing, tensor fusion in Horovod is dynamic.
What I am more confused is why the different sets of gradients tensors that are fused will cause gradient inconsistencies? Is there a problem with the nccl segmentation? Why does nccl's different summation ordering cause small numerical differences in the gradients?

[2019-12-03 18:07] romerojosh commented on #1548
The buffer submitted to NCCL will be partitioned into chunks, with different chunks having their summation start on a different GPU. The dynamic tensor fusion generates different configurations of the fused buffer, causing NCCL to vary which GPU is the first to sum a given entry. Summation ordering causing small numerical differences isn't a NCCL specific issue, but is a general phenomenon that oc

[2019-12-04 07:52] ChandlerGuan opened #1560 "Install error with anaconda tensorflow GPU"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.14.0
3. Horovod version: pip and github version both tried
4. MPI version: openmpi
5. CUDA version: 10.1
6. NCCL version: libnccl 2
7. Python version: 3.7
8. OS and version: ubuntu 18.04
9. GCC version: 7.3.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about han

[2019-12-04 08:07] eYi-z commented on #684
anyone got the same problem?

[2019-12-04 08:14] Richie-yan commented on #1548
@romerojosh Thank you for your reply.
 I probably understand what you mean. When using nccl for allreduce, for the same part of the data, dynamic fusion will eventually cause the order of summation to be different. For floating point numbers, different summation order will result in different results.

[2019-12-04 17:17] tgaddair commented on #1552
Hey @Tron-x, the "cycle" being referred to here is the frequency with which the Horovod background thread runs.  As tensors are enqueued for allreduce from the framework (TensorFlow, PyTorch, etc.), the background thread periodically pulls tensors from that queue and populates them into the fusion buffer for allreduce.  The frequency of that process is called the cycle time, and can be configured

[2019-12-04 17:19] tgaddair commented on #1512
Hey @y-rok, in TensorFlow you can look at the graph.  There should be a Horovod Allreduce op in the graph that occurs before gradients are applied to update the model.  You can also check that allreduce is occurring on all the gradients by creating a [timeline](https://github.com/horovod/horovod/blob/master/docs/timeline.rst).

[2019-12-04 17:31] tgaddair commented on #1551
Hey @zwqjoy, thanks for providing the timeline file.  Looks like about half the time is being spent waiting for data, which suggests that we may be able to see some improvement by tuning the fusion buffer threshold and cycle time (try running `horovodrun --autotune` to explore different combinations of these parameters).

I would also suggest running the [tensorflow2_synthetic_benchmark.py](https:

[2019-12-04 17:32] tgaddair commented on #1553
Hey @apeforest and @yuxihu, can you comment on the status of AMP + Horovod with MXNet?

[2019-12-04 17:36] tgaddair commented on #1540
Hey @chandana1332, good question.  We're in the process of adding a new `join` operation that will solve this issue.  Currently an initial implementation has been added for PyTorch (#1058), but our hope is to port it to TensorFlow and MXNet as well.

In the meantime, our suggestion is to cap the number of batches each epoch to be the same across all workers.

[2019-12-04 17:46] tgaddair commented on #1555
Hey @jmwoloso, yes, you can check out `horovod.run.run` (#1307).  You would need to use Horovod off of master, as it has not been released officially yet, but it should do what you're looking for.

[2019-12-04 17:48] hanyucui commented on #1531
Hi @tgaddair , thanks for getting back. I didn't encounter trouble. It just didn't occur to me a single open bracket is considered valid by Chrome's tracing feature. I still think it's good practice to add a closing bracket. But it's minor, and you can close the ticket.

[2019-12-04 17:49] tgaddair commented on #1556
Hey @power1628, which threads are you referring to?  Horovod will only use a single MPI/Gloo thread for operations, though you can also run Horovod with additional MPI threads being used for other (non-Horovod) tasks. Are you referring to threads within TensorFlow?

[2019-12-04 17:52] jmwoloso commented on #1555
@tgaddair Thanks a million! I'll check it out and report back.

[2019-12-04 17:57] tgaddair commented on #1531
Thanks for the response @hanyucui.  I agree, it is still a good practice.  What we can do is change this open as an enhancement.  Could be a good small task for someone with free cycles.

[2019-12-04 17:59] abditag2 commented on #1560
can you also add `HOROVOD_WITH_TENSORFLOW=1` flag to your build and try again?

[2019-12-04 18:22] hanyucui commented on #1531
Thanks, that sounds good. I might be able to spend sometime on it as well.

[2019-12-04 23:58] rb-determined-ai opened #1564 "AssertionError: daemonic processes are not allowed to have children"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) `tensorflow-gpu==1.14.0`
2. Framework version: `tensorflow-gpu==1.14.0`
3. Horovod version: `5fa1d7aea2c89fdfa15a688aa413ea49a480ab38`
4. MPI version: N/A
5. CUDA version: 10.0
6. NCCL version: tip of master
7. Python version: 3.6.9
8. OS and version: Ubuntu 18.04
9. GCC version: 4.8 (I think that's what gets selected)

**Checklist

[2019-12-05 02:27] ChandlerGuan commented on #1560
Now I am installing with command:
HOROVOD_WITH_TENSORFLOW=1 HOROVOD_WITHOUT_MXNET=1 HOROVOD_WITHOUT_PYTORCH=1 HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_INCLUDE=/usr/include HOROVOD_NCCL_LIB=/usr/lib/x86_64-linux-gnu/ pip install --no-cache-dir git+https://github.com/horovod/horovod

The output error message is very similar as before.

    Complete output (732 lines):
    running install
    running

[2019-12-05 03:03] jmwoloso commented on #1555
@tgaddair I've also seen this paradigm out there in the wild and tried experimenting with it first before you gave me your suggestion.

![image](https://user-images.githubusercontent.com/7530947/70200280-1edd0a80-16d1-11ea-9b27-80371a997a67.png)

It doesn't work because Tensorflow is looking for CUDA 10.1 and I'm using databricks which only offers CUDA 10.0. I think it relates to this [issue](http

[2019-12-05 06:27] zwqjoy commented on #1551
Run tensorflow2_synthetic_benchmark.py
1.  one gpu
Img/sec per GPU: 80.8 +-0.7
Total img/sec on 1 GPU(s): 80.8 +-0.7

2  two node, each node one gpu

Img/sec per GPU: 64.0 +-2.6
Total img/sec on 2 GPU(s): 128.1 +-5.3

128/80 == 1.6

[2019-12-05 12:54] Fangyh09 opened #1567 "torch.distributed and horovod gave different results. The results using horovod are more unstable."
Hello, I tried horovod and torch.distributed.  The difference is a little big.
The results using horovod is more unstable.  I tried three times for each.
Currently, I am trying to train each 10 times.

What are the possible reasons?
horovod: 4 gpus x 8 batchsize
torch.distributed: 4 gpus x 8 batchsize

[2019-12-05 15:29] aaron276h opened #1568 "Failing on checking if extension is built with GLOO."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TF, PyTorch
2. Framework version: TF 1.14, PyTorch 1.2
3. Horovod version: Tip of Master (`e97ca10aaa9c5b1e063ab4afa85b297bacf77267`)
4. MPI version: N/A
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 3.6
8. OS and version: Ubuntu 16
9. GCC version: 4.8

**Bug report:**
We build horovod using GLOO (`HOROVOD_WITHOUT

[2019-12-05 15:31] aaron276h commented on #1568
Realized this is identical to: https://github.com/horovod/horovod/issues/1564, so feel free to close.

[2019-12-05 17:31] jmwoloso commented on #1555
Using

[code]
results in:

[code]

Going to try your suggestion now.

[2019-12-05 17:56] jmwoloso commented on #1555
@tgaddair Just tried your suggestion:

[code]

same exception is thrown about _LazyLoader objects:

[code]

[2019-12-05 18:04] jmwoloso commented on #1555
Actually, looks like I didn't install master, but 0.18.2 (doing this on a databricks cluster which is finicky about how you install stuff, lol).

[2019-12-05 18:15] abditag2 commented on #1567
Can you further clarify your question? Different results in model convergence or number of samples per second of training?

[2019-12-05 18:15] abditag2 commented on #1567
And what is your model?

[2019-12-05 18:25] abditag2 commented on #1564
@tgaddair

[2019-12-05 18:27] abditag2 commented on #1560
@tgaddair

[2019-12-05 18:46] rahul003 opened #1569 "module 'horovod.tensorflow' has no attribute 'Average'"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TF
2. Framework version: 1.15
3. Horovod version: 0.18.2
4. MPI version: 4.0.1
5. CUDA version: 10.0
6. NCCL version:
7. Python version: 3.6
8. OS and version: Ubuntu 16.04
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [th

[2019-12-05 18:47] abditag2 commented on #1559
This error indicates that your workers are not doing the exact same thing. There is a tensor with the same name on both ends that has different shapes. You might need to dig a bit deeper, try to understand what is going on.

[2019-12-05 19:03] tgaddair commented on #1564
Hey @rb-determined-ai, I'm looking into this now.  I'll let you know as soon as I have a fix.

[2019-12-05 20:49] tgaddair commented on #1568
Hey @aaron276h, thanks for reporting this error.  Can you take a look at #1570 and see if that fixes your issue?

[2019-12-05 20:49] tgaddair commented on #1564
Hey @rb-determined-ai, thanks for reporting this error.  Can you take a look at #1570 and see if that fixes your issue?

[2019-12-05 21:06] apeforest commented on #1553
@haven-jeon Yes, AMP + Horovod works with MXNet. Please refer to https://mxnet.apache.org/api/python/docs/tutorials/performance/backend/amp.html

[2019-12-05 21:18] aaron276h commented on #1568
@tgaddair #1570 worked for me, thanks for the quick turnaround!

[2019-12-05 22:27] tgaddair commented on #1569
Hey @rahul003, the examples on GitHub have changes from the upcoming `0.19.0` release, which is not out yet.  Could you try pulling the examples from tag `v0.18.2`?

[2019-12-05 23:16] tgaddair commented on #1551
Hey @zwqjoy, the log file should contain the best parameters.  If it's not, then that's a bug and I'll see if I can reproduce the issue.

You can also see them printed to the screen if you run with `horovodrun --log-level INFO ...`.

[2019-12-06 00:08] #1564 closed

[2019-12-06 00:09] tgaddair commented on #1568
Of course!  I'll go ahead and close this issue.

[2019-12-06 00:09] #1568 closed

[2019-12-06 05:12] misslibra opened #1572 "how to run horovod with multi-machine on conda env"
**Environment:**
1. Framework: PyTorch
2. Framework version:
3. Horovod version:0.18.2
4. MPI version:4.0.2
5. CUDA version:10.1
6. NCCL version:2
7. Python version:3.7
8. OS and version:ubutnu 16.04
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/b

[2019-12-06 06:47] tgaddair commented on #1572
Hey @misslibra, as long as you can ssh between the machines, then you should be able to run distributed training.  Then you can just specify `horovodrun -np 3 -H server_ip1:1,server_ip2:1,server_ip3:1 ...`.

[2019-12-06 06:48] tgaddair commented on #1567
Hey @Fangyh09, do you have a reproducible example we can take a look at?  We'd be happy to take a look.

[2019-12-06 06:52] tgaddair commented on #1555
Hey @jmwoloso, @WeichenXu123 or @mengxr may be able to help with Databricks Runtime specific setup.

[2019-12-06 06:55] Fangyh09 commented on #1567
Hello, currently more experiments are carried out.
I will summary my results later.  Currently, I think it is related to  https://github.com/horovod/horovod/issues/1548.

Thanks for your quick reply.

[2019-12-06 07:00] tgaddair commented on #1567
One thing to consider trying if you're seeing unstable gradients is to broadcast model state periodically, like once per epoch or more.  That can help if you're seeing significant drift between model replicas due to nondeterminism.

[2019-12-06 09:33] zwqjoy commented on #1551
@tgaddair

horovodrun --autotune --autotune-warmup-samples 500 --log-level INFO -np 4 -p 12345 -H 172.200.22.5:2,172.200.48.7:2  python /home/work/dist/hvd-dist-tf2.py --batch-size-per-replica=128

I donot set printed to the screen.
[code]

[2019-12-06 14:56] pstjohn opened #1573 "tf.keras.optimizers.schedules not supported by distributed optimizer"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
tensorflow
2. Framework version:
2.0.0
3. Horovod version:
0.18.2
4. MPI version:
openmpi/3.1.3
5. CUDA version:
cuda/10.0.130
6. NCCL version:
2.4.8
7. Python version:
3.7
8. OS and version:
centos 7
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is abou

[2019-12-06 19:58] rb-determined-ai commented on #1564
@tgaddair Thanks for the quick fix!  I had a chance to test it, and I can confirm that this fixes my issue!

[2019-12-06 23:48] Vidyaranya opened #1574 "No module named horovod"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.11.0
3. Horovod version: NA
4. MPI version: 3.1.2
5. CUDA version: 9.0
6. NCCL version: 2.3.5-2+cuda9.0
7. Python version: 2.7
8. OS and version: ubuntu16.04
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang,

[2019-12-07 05:39] saurabheights opened #1575 "Support for TPU"
Dear all,
 Is there any plan for support of TPU using horovod(backend Tensorflow)?

P.S. I kept it concise, but ask me if any other information is required.
Thank you.

[2019-12-07 08:09] eric-haibin-lin opened #1576 "MXNet crashes with broadcast(name=name)"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): MXNet
2. Framework version: mxnet-cu101==1.6.0b20191122
3. Horovod version: 0.18.2
4. MPI version: mpirun (Open MPI) 3.1.0
5. CUDA version: 10.1
6. NCCL version:
7. Python version: 3.6.5
8. OS and version: ubuntu
9. GCC version: 5.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If yo

[2019-12-07 10:28] VincentJing commented on #1526
I have solved the problem by reinstalling the openMPI

[2019-12-07 10:28] #1526 closed

[2019-12-08 04:56] karan6181 commented on #1576
When the `name` parameter is a string, it works perfectly fine. If it's other than that then I see the error you mentioned above. I checked the definition of `horovod_mxnet_broadcast_async()`.
[code]

I think the issue is `const char* name` where if you pass a string representation of name then it works fine otherwise not.  I guess we need to typecast the `name` to `c_str(name)`

[2019-12-08 04:59] eric-haibin-lin commented on #1576
I did not read the API doc carefully. I'll consider this a user error in this case.

[2019-12-08 04:59] #1576 closed

[2019-12-08 11:20] s-0 commented on #1574
Hi @Vidyaranya,

You probably have various versions of Python installed.

Try the following command to ensure you are installing it to your current environment:

`python -m pip install horovod `

[2019-12-08 12:44] y-rok opened #1577 "Distributed training bert model with multi-node is so slow..."
**Environment:**
1. Framework: Tensorflow
2. Framework version:
3. Horovod version:0.18.2
4. MPI version:
5. CUDA version:10
6. NCCL version:
7. Python version:3.7.5
8. OS and version:
9. GCC version:

Hello.
I am trying to speed up training BERT model with horovod.
(I modified google's bert code to support distributed training horovod like this [link](https://lambdalabs.com/blog/bert-multi-gpu-im

[2019-12-08 14:32] y-rok commented on #1512
@tgaddair Thank you! i will try it

[2019-12-08 14:32] #1512 closed

[2019-12-08 17:57] tgaddair commented on #1577
Hey @y-rok, what kind of interconnect do you have between your servers?  Lack of GPUDirect will definitely cause longer queue times as well.

Since you seem to be bottlenecked by network, I would suggest trying fp16 compression (`hvd.DistributedOptimizer(..., compression=hvd.Compression.fp16)`).  You may also want to try using `horovodrun --autotune` to explore different fusion buffer settings.

[2019-12-09 02:19] misslibra commented on #1572
thanks for your support!
I run: horovodrun -np 2 -H ip1:2 ip2:2 ~/anaconda3/envs/py37/bin/python  path_to_my_script/train.py
but I got error:
--------------------------------------------------------------------------
mpirun was unable to find the specified executable file, and therefore
did not launch the job.  This error was first reported for process
rank 0; it may have occurred for other proces

[2019-12-09 04:27] haven-jeon commented on #1553
As I see #1089 case of pytorch.

Do I need to add `optimizer.synchronize()` like codes on MXNet scripts?

[2019-12-09 13:57] zdgithub commented on #1527
Thanks for your reply. I use 3 gpus and batch_size is 128.

[2019-12-09 13:57] #1527 closed

[2019-12-09 17:28] karan6181 commented on #1553
@haven-jeon No. You don't need to add `optimizer.synchronize()` separately. Distributed Trainer Handles this for you. Here is another example of `amp` with MXNet/Gluon.

https://github.com/dmlc/gluon-cv/blob/master/scripts/instance/mask_rcnn/train_mask_rcnn.py

You will find more examples in `gluon-cv`.

[2019-12-09 18:19] chandana1332 commented on #1540
For our usage of Horovod, it is essential for us to run through the entire dataset as part of an epoch and given that we cannot cap it at number of batches since number of batches is not equal across processes.

Is there an ETA for this change?

[2019-12-09 21:19] tgaddair commented on #1540
@kit1980 is in the process of fixing an interaction between the join op and another part of the code. (#1571).  He could tell you more about the timeline, but that PR should be almost ready to land.

@Richie-yan has a work-in progress implementation for TensorFlow that I believe is ready for review once the previous commit lands.

So hopefully we'll have this in the next release, which shouldn't b

[2019-12-10 03:47] ChandlerGuan commented on #1560
This may be a silly problem related to compiling the horovod project.
I am not an expert at this thing and have not figured out how to solve this problem yet.

Here is my case.
I am trying to do something with the tensorflow version BERT-LARGE, which is the official one.
And I would like to use horovod to enable the training on multiple GPU.
Now I am changing into a pytorch version of BERT which s

[2019-12-10 04:46] power1628 commented on #1556
hi @tgaddair  thanks for your kind reply, 'threads' here means when I'm using distributed optimizer operations, there must be some threads do the all-reduce operation and also some threads apply the gradients to parameters.
So, as you noted, the all-reduce operation is backed by MPI/Gloo threads and apply gradients operation is handled by tensorflow threads, am I right?

[2019-12-10 08:17] haven-jeon commented on #1553
Thanks @karan6181 !

[2019-12-10 08:17] #1553 closed

[2019-12-10 09:20] Richie-yan commented on #1567
@Fangyh09 This is because tensor_fusion of Horovod is dynamic. When using nccl to do allreduce (nccl divides the data into blocks), the order of adding floating point numbers may be inconsistent, which eventually leads to unstable gradients.
@tgaddair Does the horovod community consider changing tensor_fusion to static, like pytorch's DDP, allocate buffers according to model parameters before trai

[2019-12-10 09:23] Fangyh09 commented on #1567
@Richie-yan
Does these two things are equal?
1. horovod
2. torch.distribute, having set torch.backends.cudnn.benchmark = True, torch.backends.cudnn.deterministic = False

[2019-12-10 12:54] Richie-yan commented on #1567
@Fangyh09
According to my experience, your second two settings are invalid for the instability of the gradient. It is not introduced by torch. As I said before, it is caused by the dynamic tensor_fusion of horovod (the most fundamental reason Is caused by the inconsistent sum order of floating point numbers)

[2019-12-10 16:05] tgaddair commented on #1567
@Richie-yan, @romerojosh is working on a PR that will allow you to control the level of determinism in the summation order (#1130).

[2019-12-10 16:06] Fangyh09 commented on #1567
@Richie-yan
In the setting two, horovod is not used.

[2019-12-11 01:36] Fangyh09 commented on #1567
Besides the instability problems, what are the other possible reasons?

[2019-12-11 01:51] AHEADer opened #1581 "Retrain in Tensorflow will make the master rank exit earlier than other ranks"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.14
3. Horovod version:
4. MPI version:
5. CUDA version: 2.4.7
6. NCCL version:
7. Python version: 3.6.8
8. OS and version: Ubuntu 16.04
9. GCC version: 4.9.3

**Bug report:**
After training in Tensorflow, I will get a trained model containing its training steps.

If I train with the same model_dir again, tf.estimator.train() will de

[2019-12-11 08:55] Tron-x opened #1582 "local tensor cache hit mechanism"
**Your question:**
I review detail code and I was a little confused. Maybe it was my understanding. I have a problem with the local tensor cache hit mechanism. Is there such a situation? When a sensor fails to hit the local cache, but other processes have hit, it needs to be handed to rank 0 for coordination, but the process that hits the tensor will not send a request to rank 0, So rank 0 can nev

[2019-12-11 16:20] tgaddair commented on #1581
Hey @AHEADer, do you have a small example that demonstrates the issue?  From your description, it sounds like you should be able to load the checkpointed model state on worker-0, then broadcast the number of trained steps before calling train().  If the number of trained steps is equal to the maximum_step, then all workers can exit.  But perhaps I'm misunderstanding something, please let me know i

[2019-12-11 16:34] tgaddair commented on #1582
Hey @Tron-x, when you say you have a problem with the cache, are you also seeing incorrect or unexpected behavior, or is it only that you are uncertain how the cache is working?

The cache does a bitwise AND to ensure that all ranks have the tensor cached, so if a tensor fails to hit the local cache on one rank, the other ranks will know that not everyone has that tensor.

The cache is also guaran

[2019-12-11 19:14] marcfielding1 commented on #1560
So I noticed you've got CUDA 10.1 - I can't promise this is going to work but I had all kinds of issues on 18.04 with getting all the versions lined up I've got this PR as a WIP https://github.com/horovod/horovod/pull/1422/files

[2019-12-12 01:37] AHEADer commented on #1581
I check the source code, it seems that Horovod broadcast the global variables in TF Hook. However, before starting a session in estimator.train(), estimator will check if trained steps larger than maximum steps. I mean in retraining situation, estimator.train() will exit after checking and will not start a session. So other ranks who start their session and wait for the master rank to broadcast gl

[2019-12-12 03:44] #1548 closed

[2019-12-12 03:44] Tron-x commented on #1582
hey@Travis Addair，What I'm talking about is the cache miss situation. After the first iteration, all the sensors are miss. But after the first iteration, is there a situation like this? A sensor is hit locally, but some miss, so it's time to give it to rank 0 for coordination. At the same time, the hit sensor will not send a request to rank 0. At this time, the process 0 will not cause deadlock? B

[2019-12-12 16:14] romerojosh commented on #1582
Hi @Tron-x. For the cache, there are two scenarios that can occur:
1. If the request is cached: On a given cycle some workers may hit locally while others miss. This is resolved by a bitwise allreduce AND in the cache coordinator which determines if *all* workers report a cache hit for this request. If this is not the case, the request on the workers with the local hit is placed back into the queu

[2019-12-12 16:49] Tron-x commented on #1582
thanks @romerojosh，Is there such a situation? For a request, if some rank is cached locally and some are not, the cached rank will not send a request to process 0, while the uncached rank will send a request to process 0 for coordinate，In this case, rank 0 will not always collect all requests?

[2019-12-12 16:52] romerojosh commented on #1582
The cache is maintained in such a way that it should be globally consistent across workers (i.e. there should be no scenarios where one worker thinks a request is cached while another thinks it is uncached.) If you do run into such a scenario, please let us know because that would be a bug.

[2019-12-12 17:03] Tron-x commented on #1582
Can I understand that for the first training iteration, the local cache table is empty? This is what you call the second situation, "2. If the request does not exist in cache"? , and from the second iteration is what you call the first case: "1.If the request is cached",At this time, the cache table has cached all requests through iteration 1, which can always be cached for all requests (one cycle

[2019-12-12 17:04] Tron-x commented on #1582
@romerojosh, Can I understand that :for the first training iteration, the local cache table is empty? This is what you call the second situation, "2. If the request does not exist in cache"? , and from the second iteration is what you call the first case: "1.If the request is cached",At this time, the cache table has cached all requests through iteration 1, which can always be cached for all reque

[2019-12-12 17:07] romerojosh commented on #1582
Yes, that is a correct interpretation.

[2019-12-13 01:58] #1556 closed

[2019-12-13 05:13] VincentJing commented on #1582
but I have a question, the cache status have 3 types, HIT  MISS  and INVALID,  if there are only 2 situations as @romerojosh  says, what's the meaning of INVALID ?  HIT  and MISS is enough?

[2019-12-13 08:25] zrsjta opened #1583 "modification on Allgather: how to achieve a random sampling process"
Hello, dear researchers.
In recent work, I try to implement my own parallel training algorithm: for each worker, instead of gathering from all ranks, only the data of tensors from several neighbor ranks would be sampled. The key feature of this algorithm is that, for different training step / different variable / different rank, the sampling target should randomly change. The details of the algori

[2019-12-13 17:35] romerojosh commented on #1582
INVALID is the state that is set in order to force workers to evict an existing entry from the cache. This occurs if a request is found in the cache, but the parameters of the cached entry do not match those of the request. We will also invalidate entries that are stalled, in order to force those requests to pass through the coordinator for gathering information for the stall message.

[2019-12-13 18:28] tgaddair commented on #1540
@Richie-yan, since issues with the cache have been fixed by #1571, is your PR for TensorFlow ready for review?

[2019-12-13 19:09] tgaddair commented on #1581
@AHEADer, you should be able to create a temporary session to broadcast this information before calling `estimator.train()`.  You can also use `mpi4py` to broadcast the trained steps without needing to create a session.

Fixing this within Horovod automatically would be tricky, because as you say, the estimator does not execute any hooks before returning when global step is greater than max steps.

[2019-12-14 19:21] surak commented on #1569
Worked for me on every test which failed before. You can close this

[2019-12-14 20:13] #1569 closed

[2019-12-15 03:32] tgaddair commented on #1583
Hey @zrsjta, this is an interesting approach. Do you think you would be interested in turning this into a PR at some point?

To answer your question about `Execute`, it is not necessarily the case that one call to `allgather` from TensorFlow maps to one call to `Execute` in Horovod, due to tensor fusion.  But I think what you mean is: should `Execute` be called every time I call `sess.run()`?

In

[2019-12-15 04:06] tgaddair commented on #1540
Hey @apeforest and @yuxihu , do you know someone who would be interested in adding this op to MXNet now that #1571 has landed?

[2019-12-15 05:22] ChandlerGuan commented on #1560
Thank you for the comment.
I will try with CUDA 10.0 to see whether I can fix the environment problem.

[2019-12-15 05:22] #1560 closed

[2019-12-15 06:30] VincentJing commented on #1582
thank you, I see @romerojosh

[2019-12-15 08:12] weidai0903 commented on #105
@alsrgv I have a question that is similar to this issue. We are trying to implement a functionality that makes multiple subgroups run in parallel. I have already make one subgroup work without problem, but when it comes to multiple subgroups, there is some hard problem with the response cache. For instance, in the controller,  when it tries to update the cache, it considers all tensors on all rank

[2019-12-15 15:44] shividhar opened #1586 "RuntimeError: cuda runtime error (10) : invalid device ordinal"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3.1+cu100
3. Horovod version: 0.18.2
4. MPI version: 3.1.1
5. CUDA version: 10.0
6. NCCL version: nccl_2.1.2
7. Python version: 3.5.2
8. OS and version: Centos 7.4
9. GCC version: 6.3.0

**Bug report:**
I'm trying to run the `pytorch_synthetic_benchmark.py` script on two nodes each with 1 GPU.

[code]

[2019-12-15 16:57] tgaddair commented on #1586
Hey @shividhar, a few questions:

1. Are you setting `CUDA_VISIBLE_DEVICES`?  If so, what is the value?
2. Can you try running `python -c "import torch; torch.cuda.set_device(0)"` on each machine and verify that it works or raises a similar issue.
3. Can you run `nvidia-smi` on each machine and verify that both GPUs are visible?

[2019-12-15 17:34] shividhar commented on #1586
I wasn't setting `CUDA_VISIBLE_DEVICES`, but even after setting it I get the same error. I set `CUDA_VISIBLE_DEVICES=0`.

No exceptions were raised when I ran `python -c "import torch; torch` on each of the compute nodes.

`nvidia-smi` ran successfully on all the compute nodes and both GPUs were visible.

For additional context I'm ran the command `horovodrun -np 2 -H node003:1,node004:1 --verbose

[2019-12-15 18:38] shividhar commented on #1586
I did some more debugging and for some reason, horovod is executing torch.cuda.set_device(1) with a device number other than specified by `CUDA_VISIBLE_DEVICES ` which causes the program to crash.

[2019-12-15 19:14] tgaddair commented on #1586
Hey @shividhar, the line that sets the device in the synthetic benchmark is `torch.cuda.set_device(hvd.local_rank())`.  Since you're running with 1 worker per host, this will `hvd.local_rank()` will always be 0.  In general, we recommend not setting `CUDA_VISIBLE_DEVICES` as it can cause communication issues within a host using NCCL.

Can you clarify what value you have set for `CUDA_VISIBLE_DEVIC

[2019-12-16 01:34] misslibra commented on #1572
problem fix,by install openmpi and horovod
troubleshooting docs can be helpfull:
https://horovod.readthedocs.io/en/latest/troubleshooting_include.html

[2019-12-16 01:34] #1572 closed

[2019-12-16 04:25] tgaddair commented on #1573
Hey @pstjohn, thanks for raising this issue.  And apologies for not getting back to you sooner.

Looks like this is being caused by our overriding of the `Optimizer.from_config()` method that was introduced in #1444.  In TensorFlow's implementation, they handle the learning rate schedule specially, which was causing this error.

I put together #1588 to fix this.  Please try it out if you get a cha

[2019-12-16 07:09] zrsjta commented on #1583
@tgaddair Thanks! the problem has been fixed, and this is a feedback

1. The idea of using` tf.Variable ` still cannot work for me. It seems that TensorFlow would cache the output of this operation as long as the value of the variables stay the same, no matter it is a constant or a variable. Here is an example.
`mpirun -np 8 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH

[2019-12-16 08:07] misslibra opened #1589 "how to control data transfer frequency between nodes ?"
**Environment:**
1. Framework: PyTorch
2. Framework version:
3. Horovod version:0.18.2
4. MPI version:4.0
5. CUDA version:10.1
6. NCCL version:2.5.6
7. Python version:3.7
8. OS and version:linux16.04
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/b

[2019-12-16 08:24] misslibra commented on #1589
`if __name__ == "__main__":
    '''DDP SETTING '''
    torch.manual_seed(317)
    torch.cuda.manual_seed(317)
    if 'WORLD_SIZE' in os.environ:
        args.distributed = int(os.environ['WORLD_SIZE']) > 1
    if args.distributed and not FLAGS_horovod:
        torch.cuda.set_device(args_plus.local_rank)
        torch.distributed.init_process_group(backend='nccl', init_method='env://')
        args

[2019-12-16 08:24] misslibra commented on #1589
`if __name__ == "__main__":
    '''DDP SETTING '''
    torch.manual_seed(317)
    torch.cuda.manual_seed(317)
    if 'WORLD_SIZE' in os.environ:
        args.distributed = int(os.environ['WORLD_SIZE']) > 1
    if args.distributed and not FLAGS_horovod:
        torch.cuda.set_device(args_plus.local_rank)
        torch.distributed.init_process_group(backend='nccl', init_method='env://')
        args

[2019-12-16 08:25] misslibra commented on #1589
`#!usr/bin/python
#-*-coding:utf-8-*-

from __future__ import division

from models import *
from utils.utils import *
from utils.datasets import *

import os
import time
import argparse

import torch
from torch.utils.data import DataLoader
from torch.autograd import Variable
import args
import logging
import torch.backends.cudnn as cudnn
import torch.distributed as dist
import torch.utils.data.di

[2019-12-16 08:26] misslibra commented on #1589
`if __name__ == "__main__":
    '''DDP SETTING '''
    torch.manual_seed(317)
    torch.cuda.manual_seed(317)
    if 'WORLD_SIZE' in os.environ:
        args.distributed = int(os.environ['WORLD_SIZE']) > 1
    if args.distributed and not FLAGS_horovod:
        torch.cuda.set_device(args_plus.local_rank)
        torch.distributed.init_process_group(backend='nccl', init_method='env://')
        args

[2019-12-16 08:26] misslibra commented on #1589
`if __name__ == "__main__":
    '''DDP SETTING '''
    torch.manual_seed(317)
    torch.cuda.manual_seed(317)
    if 'WORLD_SIZE' in os.environ:
        args.distributed = int(os.environ['WORLD_SIZE']) > 1
    if args.distributed and not FLAGS_horovod:
        torch.cuda.set_device(args_plus.local_rank)
        torch.distributed.init_process_group(backend='nccl', init_method='env://')
        args

[2019-12-16 08:27] misslibra commented on #1589
`    if FLAGS_amp:
        amp.register_float_function(torch, 'sigmoid')
        model, optimizer = amp.initialize(model, optimizer,
                                        opt_level=args.opt_level,
                                        keep_batchnorm_fp32=args.keep_batchnorm_fp32,
                                        loss_scale=args.loss_scale
                                        )
    fo

[2019-12-16 08:32] misslibra commented on #1589
`#!usr/bin/python
#-*-coding:utf-8-*-

from __future__ import division

from models import *
from utils.utils import *
from utils.datasets import *

import os
import time
import argparse

import torch
from torch.utils.data import DataLoader
from torch.autograd import Variable
import args
import logging
import torch.backends.cudnn as cudnn
import torch.distributed as dist
import torch.utils.data.di

[2019-12-16 12:40] shividhar commented on #1586
Hi @tgaddair, to clarify I initially didn't set `CUDA_VISIBLE_DEVICES`, but it doesn't work in either case.

Case 0 (without `CUDA_VISIBLE_DEVICES` set): The device ordinal Horovod sets in `torch._C._cuda_setDevice(device)` is `0` and `1`.
Case 1 (with `CUDA_VISIBLE_DEVICES` set):  The device ordinal Horovod sets in `torch._C._cuda_setDevice(device)` is `0` and `1`

Both cases error out.

Note: Up

[2019-12-16 12:56] shividhar commented on #1586
Hi @tgaddair,
I did some more testing and found out that in the `pytorch_synthetic_benchmark` Horovod was setting the `local_rank` twice on the same host (first 0 and then 1) instead of 0 on both hosts. Will try to debug further.

[2019-12-16 14:06] shividhar commented on #1586
@tgaddair I figured out my mistake. It was a problem with my SLURM configuration not related to Horovod.

For general reference, I had to specify `--ntasks-per-node=1` to force the command to run exactly once.

However, the OpenMPI error still stands and upgrading OpenMPI to 4.0+ fixed that issue.

[2019-12-16 14:06] #1586 closed

[2019-12-16 16:24] tgaddair commented on #1583
Hey @zrsjta, there may be an issue with the way you're using `tf.Variable`.  When I ran a similar test, I got different results for each call to `hvd.allgather()`.  Feel free to post your code and I'd be happy to test it out.

A broadcast operation would slow things down, but how much would vary a lot in different situations.  In your case, because you're using a sampling process, you should be ab

[2019-12-16 16:27] tgaddair commented on #1586
Thanks for clarifying the fix @shividhar.  Glad you got it working!

[2019-12-16 18:09] taylorwwebb opened #1590 "AttributeError: module 'horovod.torch' has no attribute 'Average'"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3.1
3. Horovod version: 0.18.2
4. MPI version: 4.0.2
5. CUDA version: 10.2
6. NCCL version: 2.5.6
7. Python version: 3.6.9
8. OS and version: ubuntu 18.04
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://

[2019-12-16 18:59] taylorwwebb commented on #1590
When I remove the 'op' argument (op=hvd.Adasum if args.use_adasum else hvd.Average) from the call to hvd.DistributedOptimizer, the script runs just fine, but still curious what's going on here...

[2019-12-16 19:44] tgaddair commented on #1590
Hey @taylorwwebb, the master branch of Horovod has changes that have not yet been released, including `hvd.Adasum`.  For now, I would use the version of examples from the `v0.18.2` tag [here](https://github.com/horovod/horovod/tree/v0.18.2):

[code]

[2019-12-16 19:55] taylorwwebb commented on #1590
Got it, that one ran just fine, thanks!

[2019-12-16 19:55] #1590 closed

[2019-12-17 04:15] tgaddair commented on #1423
Hey @oskotsky, just FYI, we're actively working on auto-scaling support and should have something ready early 2020.

[2019-12-17 04:17] tgaddair commented on #1413
Hey @marcfielding1, this is something we're working on right now with Gloo.  Should have something for you early 2020.

[2019-12-17 06:52] jinamshah opened #1591 "OpenMPI "slot" not available using horovodrun"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.4.0a0+bb0e46b
3. Horovod version: 0.18.2
4. MPI version: 4.0.2
5. CUDA version: 10.1
6. NCCL version: 2.4.8
7. Python version: 3.6
8. OS and version: Ubuntu 18.04
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](http

[2019-12-17 07:13] jhsa26 commented on #1535
if back_ward_passes_per_step is larger than local gradient accumulation, the result is the same as that of back_ward_passes_per_step equal to local gradient accumulation. I guess that when back_ward_passes_per_step is equal to local gradient accumulation, the computed local gradients
are exchanged with other ranks while computing gradients of preceding  layer.

[2019-12-17 11:39] misslibra commented on #1589
`
optimizer = hvd.DistributedOptimizer(optimizer, named_parameters=model.named_parameters(),
                                                        compression=compression,
                                                         backward_passes_per_step=50
                                                              )
`
I set backward_passes_per_step=50, Does it mean very 50 batches, do once al

[2019-12-17 16:14] tgaddair commented on #1591
Hey @jinamshah, looks like you put a space between the hosts in your `horovodrun` command.  This is likely what's causing the parsing error.  Can you try replacing the space with a command and running again, like so:

[code]

[2019-12-17 22:08] jmwoloso commented on #1555
Thanks @tgaddair ! I was able to successfully use `HorovodRunner` and `horovod.run.run` paradigms on a single node.

The most recent errors above stemmed from the fact that my training function was calling a function defined outside of its scope. In order to do that, I needed to either:

1. put import statements inside those functions called by the training function or
2. define the functions insi

[2019-12-17 22:08] #1555 closed

[2019-12-17 22:11] mengxr commented on #1555
@jmwoloso TF 1.15 and 2.0 starts to have pickling issues. We mentioned the workaround in our release notes: https://docs.databricks.com/release-notes/runtime/6.2ml.html#upgraded-machine-learning-libraries

HorovodRunner will print the global names got pickled. If you hit a pickling issue, moving those variables inside your function would be a workaround.

[2019-12-18 01:51] misslibra commented on #1589
@alsrgv @mcarilli
hi ~~ Could you please help me with the problem that how I can control data transfer frequency between nodes?
I find each batch ,data transfer cost too much time ,so I want to do local training for every 50 batch,and then transfer data to do all reduce once.

[2019-12-18 03:16] Lyken17 commented on #1230
Is there any progress?

[2019-12-18 04:10] Fangyh09 opened #1593 "pytorch1.0.0 + horovod 0.15.2 != pytorch1.1.0 + horovod 0.18.2"
Hello,
these two different configurations gave different results. What are the possible reasons?
I used these two configurations to train a CNN.
configuration1:  pytorch1.0.0 + horovod 0.15.2, train the CNN successfully
configuration2:  pytorch1.1.0 + horovod 0.18.2, output NaN

---
**Environment:**
1. Framework: PyTorch
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version: 9.

[2019-12-18 08:54] jinamshah commented on #1591
Thanks for this @tgaddair
I cannot believe I made this mistake :man_facepalming:
Anyway, after solving the above error, I got this error:

ORTE was unable to reliably start one or more daemons.
This usually is caused by:

  one or more nodes. Please check your PATH and LD_LIBRARY_PATH
  settings, or configure OMPI with --enable-orterun-prefix-by-default

  Please verify your allocation and authori

[2019-12-18 09:28] Matrix8128 commented on #575
another easy way to do this :
dataset = dataset.apply(tf.contrib.data.batch_and_drop_remainder(batch_size))

[2019-12-18 18:39] tgaddair commented on #1591
Hey @jinamshah, could you try some of the suggestions in #400.  Sounds like there may be some config differences between the two machines.

[2019-12-18 18:45] tgaddair commented on #1593
Hey @Fangyh09, do you have a minimal reproducible example?  I am not aware of any changes in 0.18.2 that would causes NaNs like this.  Does the same issue occur with PyTorch 1.0.0 + Horovod 0.18.2?

[2019-12-18 18:51] tgaddair commented on #1589
Hey @misslibra, yes, `backward_passes_per_step` is what you'd want to use to reduce communication between workers.  We have an example in [pytorch_imagenet_resnet50.py](https://github.com/horovod/horovod/blob/master/examples/pytorch_imagenet_resnet50.py) that shows how it can be used in practice.  The key to getting better performance is that you only want to call `optimizer.step()` every `backwar

[2019-12-18 19:49] LaVieEstDure opened #1595 "Timeline not parsed by chrome tracing"
**Environment:**
1. Framework: pytorch
2. Framework version: 1.2.0
3. Horovod version: 0.18.2
4. MPI version: 4.0.1
5. CUDA version: 10.1
6. NCCL version: N/A
7. Python version: 3.5.6
8. OS and version: Ubuntu 16.04
9. GCC version: 5.4

**Checklist:**
1. Did you search issues to find if somebody asked this question before? ✅
2. If your question is about hang, did you read [this doc](https://github

[2019-12-18 22:23] jdaaph commented on #1060
Thanks for the clarification @tgaddair , however in my own testing of a NLP training task, I found that even with different batch sizes for each rank I can still run my program without any error or warning. Would you say that Horovod now would give undefined behavior and calculate something wrong even if there is no error reported? Thank you!

[2019-12-18 22:33] XuesongYang commented on #1060
I just realized that I forgot to reply this message. Typically for the use case of speech recognition, we usually organize a batch with a constant number that equals to the multiplication of number of utterances in a batch and the max length (in frames) of the utterances in a batch.

In this case, does Horovod correctly support this setup? I can run experiments through without any errors so far, b

[2019-12-19 00:04] LaVieEstDure commented on #1595
Oh and stripping the whitespace of the json and joining it back `new_file.write("".join(file.read().strip()))` fixes it.

[2019-12-19 03:37] jinamshah commented on #1591
Hey @tgaddair I have tried the suggestions in #400 and they didn't seem to make any difference

[2019-12-19 05:57] #1577 closed

[2019-12-19 06:52] AHEADer commented on #1581
@tgaddair Actually I run each rank in different pods inside one job. My solution is a little stupid by detecting if rank 0 exit normally. I think your solutions are much better. It indeed a little tricky to do this in Horovod.

[2019-12-19 06:52] #1581 closed

[2019-12-19 08:39] miguelrc1 opened #1596 "Horovod + DALI"
**Is your feature request related to a problem? Please describe.**
Slightly, both DALI and Horovod help decrease training time which has been a problem in the past. Theoretically those are not mutually exclusive but there isn't a Horovod wrapper for DALI iterator.

**Describe the solution you'd like**
I would like a wrapper or a version of a data sampler for a DALI iterator. I understand this is c

[2019-12-19 14:26] Fangyh09 commented on #1593
I am sorry that I  forgot to update it.
I tried PyTorch 1.2.0 + Horovod 0.18.2, and it is okay. So currently I think NaN is related to the version of PyTorch.

[2019-12-19 14:27] #1593 closed

[2019-12-19 15:34] romerojosh commented on #1596
@miguelrc1 Have you taken a look at https://github.com/NVIDIA/DeepLearningExamples? The RN50 examples for both TensorFlow and MXNet both show use cases of Horovod + DALI. The PyTorch convnets examples also show DALI usage with DDP, but the usage should be similar for a script using Horovod for distribution.

[2019-12-19 19:04] hoangcuong2011 opened #1601 "Module 'horovod' has no attribute 'keras', and can I use tf.keras for keras code?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): TensorFlow + Keras
2. Framework version: 1.15.0
3. Horovod version:0.18.2
4. MPI version: openmpi-4.0.2
5. CUDA version: 10.0
6. NCCL version: 2.5.6
7. Python version: 3.6
8. OS and version: Ubuntu
9. GCC version: 5.4.0

Hello - I have two questions.

First, I install horovod succesfully. I can use horovod.tensorflow, but I cannot

[2019-12-19 20:33] tgaddair commented on #1601
Hey @hoangcuong2011, how are you importing Horovod?  Have you tried running the example scripts first, and do they produce the same error?

We have examples for both [keras](https://github.com/horovod/horovod/blob/master/examples/keras_mnist.py) and [tf.keras](https://github.com/horovod/horovod/blob/master/examples/tensorflow_keras_mnist.py) you can try running.

Also, can you try running `horovod

[2019-12-19 20:44] coreyjadams opened #1602 "Spack Installation of Horovod"
Is there any plan to implement a spack (https://github.com/spack/spack) installation of horovod?  We over here at Argonne's leadership computing facility have been exploring spack as a way to manage our compiler/python/mpi/DL-framework dependency matrix, and horovod is an obvious missing piece.

We're still exploring the installation of the base DL frameworks for pytorch and TF, though working wit

[2019-12-20 02:00] kaituoxu commented on #1281
any update?

[2019-12-20 08:26] misslibra commented on #1589
hi @tgaddair  Thanks for your reply!
I followed the example,and change my optimizer.step() from this guide:
[https://github.com/horovod/horovod/blob/master/docs/pytorch.rst](url)
 do  optimizer.step()  for every  batch  to be 'pytorch_imagenet_resnet50.py ' way ,that is every epoch do one step() .In this way ,every batch time is cut down .
But it crash
`File "/home/l4/anaconda3/envs/py37/lib/pytho

[2019-12-20 14:13] manish-kumar-garg opened #1603 "Issue with the installation"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.15
3. Horovod version: 0.18.2
4. MPI version: mpirun (Open MPI) 3.1.0
5. CUDA version: 10.1
6. NCCL version:
7. Python version: 3
8. OS and version: #58-Ubuntu SMP Tue Nov 26 15:14:34 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
9. GCC version: gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0

**Bug report:**

I am not able to install horovod.

[2019-12-20 22:58] ebarsoum commented on #1596
I think this should be part of bigger discussion, should Horovod have data pipeline that work across frameworks and optimized for distributed training?

[2019-12-20 23:02] ebarsoum commented on #1542
Hi @zdgithub

If you reduced your batch size by 3, then you don't need to scale your LR. Because your effective batch size still 150. However, reducing your batch size will reduce your throughput. It is usually better to keep you batch size and scale your LR (as long as you still converge). If you kept your batch size to 150 per GPU, then your effective batch size is 450.

Thanks,
Emad

[2019-12-21 00:51] tgaddair commented on #1176
Fixed by #1192.

[2019-12-21 00:51] #1176 closed

[2019-12-21 00:52] tgaddair commented on #1164
Fixed by #1441 for Spectrum MPI.  Gloo is also now supported by #1181.

[2019-12-21 00:52] #1164 closed

[2019-12-22 00:19] tgaddair commented on #1539
Hey @amity137, the main thing to keep in mind is that distributed training essentially increases the batch size you're using to train the model.  This makes since intuitively, since you're processing the same amount of data per epoch in fewer steps when you spread the work out among different workers.  As such, the batch size must be increasing as you do so.

Because the batch size has been increa

[2019-12-22 00:38] tgaddair commented on #1544
Hey @zarzen, in Horovod we limit the number of parallel NCCL streams used at once with the environment variable `HOROVOD_NUM_NCCL_STREAMS` / `horovodrun --num-nccl-streams`.  The default is 1, but you can experiment with increasing it to see if it will improve performance.

In general, I would think that with fusion buffering, you should be taking efficient enough advantage of your network bandwid

[2019-12-22 00:55] tgaddair commented on #1549
Hey @YoungDav, do you have a reproducible example I can take a look at?  It would seem that there is some overlap between the parameters managed by `optimizer1` and those of `optimizer2`.  In the example you gave, you initialized both `optimizer1` and `optimizer2` with `model.name_p1`, was that a typo in writing this post, or is that also in your training script?  If so, I suspect that's what's ca

[2019-12-22 01:07] tgaddair commented on #1558
Hey @Tron-x, Horovod does not currently support cross-iteration allreduce, but contributions are welcome if you have in mind a particular approach.  At NeurIPS this year, there was an interesting poster that @abditag2 showed me about applying allreduced gradients from the previous step to update the model in the current step, allowing the allreduce to occur in the background, which sounded interes

[2019-12-22 01:11] tgaddair commented on #1603
Hey @manish-kumar-garg, looks like you're running into the "newer version of protoc" error (see #1492 and #686).

Please take a look at the recommendations here and let me know if any of them work for your case: https://stackoverflow.com/questions/46235376/tensorflow-protobuf-version-mismatch

[2019-12-22 01:13] tgaddair commented on #1602
Hey @coreyjadams, thanks for proposing this.  There aren't any immediate plans on our end, but I'd be happy to meet to discuss this and figure out what it would take make it happen.  Let me know if that's something you all would be interested in.

[2019-12-22 01:21] tgaddair commented on #1575
Hey @saurabheights, thanks for proposing this.  My understanding is that it could be difficult to train on multiple TPUs at once, because the TPU executes all the ops within the graph of the training loop, but does not support custom C++ ops like Horovod's (see [Google Cloud: TPUs](https://cloud.google.com/tpu/docs/tpus)).

Let me know if you have some thoughts on how this might be overcome.

[2019-12-22 14:22] Tron-x commented on #1558
Hey@Travis Addair ，I'm interested in layer wise computation and communication overlap, but it seems to be difficult to implement. I see that bytescheduler implements PS cross iteration https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/tensorflow/plugin.cc. I'm confused about whether you think cross iteration will bring performance improvement? If I plan to implemen

[2019-12-23 17:37] tgaddair commented on #1558
Hey @Tron-x, I suspect that it could give performance improvements, but only in certain situations.  For instance, in cases where your network cannot keep up with your GPUs, but your model parameters are small enough that you can keep some tensors on the device for allreduce while a forward pass is happening at the same time.

In the BytePS approach, I believe they get around this by having all th

[2019-12-23 18:53] romerojosh commented on #1558
I may be misunderstanding the question here but fundamentally, there is nothing in the current Horovod backend that would disallow cross iteration scheduling of collective operations. The reason for this is that the backend has no concept of an iteration: it simply checks at a given regular interval what tensor collective operations are submitted by all the workers, does an intersection of these t

[2019-12-23 20:45] una-dinosauria opened #1608 "RuntimeError: For integral input tensors, argument alpha must not be a floating point number"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): Pytorch
2. Framework version: 1.3.0
3. Horovod version: 0.16.1
4. MPI version: 3.1.2 (?)
5. CUDA version: 10.2
6. NCCL version: ? (probably not important)
7. Python version: 2.7
8. OS and version: Ubuntu 14.04.4 (probably not important)
9. GCC version: 4.8.4 (probably not important)

**Bug report:**
Horovod does not like it when m

[2019-12-23 23:19] tgaddair commented on #1608
Hey @una-dinosauria, thanks for reporting this.  And thanks even more for the reproducible example.  I'll take a look at this today and get back to you as soon as I have a fix.

[2019-12-24 00:35] tgaddair commented on #1608
Hey @una-dinosauria, please take a look at #1609 if you get a chance, it should address your issue.  Going forward, it will also provide a more generic `broadcast_object` function that can be used to broadcast anything, for example, if `broadcast_optimizer_state` doesn't work in the future.

[2019-12-24 00:55] LaVieEstDure opened #1610 "Multi-node training seems to only happen on 2 of my 4 nodes"
**Environment:**
1. Framework: pytorch
2. Framework version: 1.2.0
3. Horovod version: 0.18.2
4. MPI version: 4.0.1
5. CUDA version: 10.1
6. NCCL version: 2.2.13
7. Python version: 3.5.6
8. OS and version: Ubuntu 16.04
9. GCC version: 5.4

**Checklist:**
1. Did you search issues to find if somebody asked this question before? ✓
2. If your question is about hang, did you read [this doc](https://git

[2019-12-24 01:24] tgaddair commented on #1610
Hey @LaVieEstDure, does this also happen when you run our example scripts?  Can you try running with [pytorch_synthetic_benchmark.py](https://github.com/horovod/horovod/blob/master/examples/pytorch_synthetic_benchmark.py) and share the results?

[2019-12-24 01:58] VincentJing opened #1611 "gradient computing"
When the tensor enter the tensor_queue, I'd like to know whether the gradient has been computed in the rank?

[2019-12-24 05:40] una-dinosauria commented on #1608
Left a comment in the PR. Looks awesome -- thanks.

[2019-12-26 07:07] nyaang opened #1614 "multiple gpu in one local machine have different hvd.rank()"
**Environment:**
1. Framework: Keras
2. Framework version:2.1.5
3. Horovod version:0.18.2
4. MPI version:4.0.1
5. CUDA version:10.0.130
6. NCCL version:None
7. Python version:3.7.5
8. OS and version:Centos 7.7.1908
9. GCC version:7.3.1

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.c

[2019-12-26 07:09] Fangyh09 opened #1615 "Remove hvd.allreduce and val_sampler in pytorch_imagenet_resnet50.py, will it be equivalent to original setting?"
Hello,
I am use horovod v0.15.2.
For codes in
`https://github.com/horovod/horovod/blob/v0.15.2/examples/pytorch_imagenet_resnet50.py`,
I removed hvd.allreduce and val_sampler, will it be equivalent to original code? Thanks !

[2019-12-26 07:45] hoangcuong2011 commented on #1601
@tgaddair: Sorry for late response as it takes sometimes to figure out. I confirmed it works now, and the tf.keras example is extremely useful for me.
I want to thanks for your help, and I will close the ticket.

[2019-12-26 07:45] #1601 closed

[2019-12-26 11:59] Owen864720655 commented on #1290
It seems that the [help](https://gitlab.nautilus.optiputer.net/patternlab/horovod/blob/51fb2d0603366271986cbe6bd6748f9778893e98/docs/troubleshooting.md) solves this issue according to my experiment. The solution is summarized as below.

[code]

[2019-12-26 13:07] hoangcuong2011 opened #1616 "Horovodrun stops unexpectedly without any notifications"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow Keras
2. Framework version:  1.15.0
3. Horovod version: 0.18.2
4. MPI version: openmpi-4.0.2
5. CUDA version: 10.0
6. NCCL version: 2.5.6
7. Python version: 3.6
8. OS and version: Ubuntu
9. GCC version: 5.4.0

I run my abc python file as:
`horovodrun -np 4 -H localhost:4 python abc.py`

Just in case: my model is a seq2se

[2019-12-26 15:06] hoangcuong2011 opened #1617 "Quick question about learning rate, batch size and epoch with Horovod"
**Environment**:

    Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow Keras
    Framework version: 1.15.0
    Horovod version: 0.18.2
    MPI version: openmpi-4.0.2
    CUDA version: 10.0
    NCCL version: 2.5.6
    Python version: 3.6
    OS and version: Ubuntu
    GCC version: 5.4.0

First of all - I would like to give my thanks for providing this amazing library. I just have a quick q

[2019-12-26 15:22] hoangcuong2011 commented on #1617
After some more investigation (with [this](https://github.com/horovod/horovod/issues/241) and [this](https://github.com/horovod/horovod/issues/699)) - I think I can answer 1 - if we set the batch size of 128, then the full batch size of training is 128*4, not 128/4.

But it is not clear to me with 2 and 3, though.

[2019-12-26 16:38] tgaddair commented on #1611
Hey @VincentJing, the gradient has been computed **locally** by the time the tensor enters the tensor_queue.  But the gradient has not yet been aggregated across all the workers yet.  Happy to answer any more questions you might have about the process.

[2019-12-26 16:44] tgaddair commented on #1614
Hey @nyaang, **rank** is kind of like a "process ID".  Every worker process will have a unique rank.  In Horovod, we run one worker process for GPU most of the time, so you would expect every GPU to have a different rank.

So your output looks correct to me.  If you were to run with 2 machines with 4 GPUs each, like this:

[code]

You would see output like this:

[code]

Hope that helps, let me kn

[2019-12-26 16:50] tgaddair commented on #1615
Hey @Fangyh09, yes, results should be nearly the same.  The major difference, of course, is that you will be computing the validation metrics on the entire dataset on every worker, instead of dividing that work between the different workers.

[2019-12-26 16:57] tgaddair commented on #1616
Hey @hoangcuong2011, I've not seen this behavior before.  Does this also happen if you run without `horovodrun`, or run with fewer processes?

The lack of any error message whatsoever implies that some other process is hard killing `horovodrun`.  If the worker processes were killed somehow, there would be an error message from MPI.

[2019-12-26 17:03] Fangyh09 commented on #1615
Yes, I need to compute the validation metrics on the entire dataset on every worker.
Because I have many metrics, it will be a bit simpler to use the above trick instead of adding hvd.allreduce for each metrics.

[2019-12-26 17:05] Fangyh09 commented on #1615
By the way, has version v0.18.2 improved accuracy comparing to v0.15.2?
Thanks !

[2019-12-26 17:13] tgaddair commented on #1617
Hey @hoangcuong2011, thanks for trying out Horovod.  Let me take a shot at answering your questions.

1. Yes, the batch size will be 128*4.  In Horovod we typically think in terms of "local batch size" and "effective batch size".  Local batch size is whatever you set it to in your training script, effective batch size is the "true" batch size in terms of its effect on model convergence.  If you we

[2019-12-26 17:19] tgaddair commented on #1591
Hey @jinamshah, sorry for the late response.  Have you tried looking for that file on each machine? Also, have you run `ldconfig` on each machine?

I would take a look at [this](https://askubuntu.com/questions/997681/mpirun-error-while-loading-shared-libraries-libopen-rte-so-12/997684) answer and try looking for installation differences between the hosts and reinstalling the missing package as nec

[2019-12-26 18:29] apeforest commented on #1428
Fixed by https://github.com/horovod/horovod/pull/1607

[2019-12-26 18:29] #1428 closed

[2019-12-26 18:35] karan6181 commented on #1272
@DerrickGXD Could you please provide the script that you are running? Just for the basic functionality check, I ran the `test_horovod_broadcast_grad()` in `test/test_mxnet.py` and it's working for me.

[2019-12-26 19:09] hoangcuong2011 commented on #1617
Many thanks for this very detailed answer @tgaddair !

[2019-12-26 19:09] #1617 closed

[2019-12-27 03:38] #1614 closed

[2019-12-27 04:22] LaVieEstDure commented on #1610
Error was somewhere in inconsistent MPI setup between nodes. Reinstalled MPI and horovod on all nodes with a script which fixed it.

[2019-12-27 04:22] #1610 closed

[2019-12-27 09:27] AndyYuan96 opened #1618 "pytorch frozen parameter training failed"
**Environment:**
1. Framework: PyTorch
Framework version: 1.1.0
Horovod version: 0.18.2
MPI version: openmpi-4.0.2
CUDA version: 10.0
NCCL version: 2.5.6
Python version: 3.6
OS and version: Ubuntu
GCC version: 5.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? nobody.
2. If your question is about hang, did you read [this doc](https://github.com/horovod/h

[2019-12-27 11:53] AndyYuan96 commented on #1618
I find the reason , but don't know how to solve.
I use two gpus,
when init pytorch optimizer:
params_dict = [ {'params': filter(lambda p: p.requires_grad, self.model.parameters())}]
self.optimizer = torch.optim.Adam(
params=params_dict,
lr=self.settings.lr,
weight_decay=self.settings.weight_decay,
)
before I init pytorch optimizer, I print the parameter that has grad:
print("current rank is : ", h

[2019-12-27 15:16] tgaddair commented on #1618
Hey @AndyYuan96, if rank 1 is printing the whole network's parameters before you construct the optimizer, I'm wondering if it also does so before you call `hvd.broadcast_parameters(...)`.  It may be that `broadcast_parameters` is not working correctly with your model for some reason.

I tried reproducing this, but was not able to get this behavior.  Do you have a small script you can share that wi

[2019-12-27 17:30] #1615 closed

[2019-12-27 17:39] hoangcuong2011 commented on #1616
@tgaddair: Thx for your reply. I think one of the possible reasons is that I set the steps_per_epoch wrongly. This is because If I do that properly (by dividing to hvd.size() as well) then I don't observe it happens. Modifying steps_per_epoch was the only thing I did if I recall correctly.

I will close this but when I know in details with more examples why it happens and how to fix that, I will r

[2019-12-27 17:45] Fangyh09 opened #1619 "4gpus with total batchsize=8 and 1gpu with batchsize=8, same lr, different results"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.0.0
3. Horovod version: 0.15.2

I think the two experiments should give same results, but the results are quite different. I set lr = 1e-4 to both of the two experiments. What are the possible reasons?  Currently, I think it may be related to `torch.optim.Adam(model.parameters(), float(args.lr * hvd.size())...`.  Thanks !

1. 4gpus wit

[2019-12-28 04:28] AndyYuan96 commented on #1618
@tgaddair , fixed, my mistake, I only set parameter's requries_grad in rank0.

[2019-12-28 04:29] AndyYuan96 commented on #1618
@tgaddair , fixed, my mistake, I only set parameter's requries_grad in rank0.

[2019-12-28 04:29] #1618 closed

[2019-12-28 07:31] hoangcuong2011 commented on #1616
@tgaddair: Actually, I wanted to confirm that it happens again.
I have the same code, and I run it multiple times.
For the first time it runs OK. For the seconds it was killed around epoch 7. Because of this I reopen the issue, even though I don't know how to do next because the error seems mysterious.
So I will try runing without horovodrun, or run with fewer processes and let you know.

[2019-12-28 11:06] hoangcuong2011 opened #1620 "Question about memory usage for gpus"
I just wanted to have a quick question about memory usage for gpus.

I have two different machines, one of them has 4 gpus and the another has 8 gpus.

I run the amazing horovod succesfully on the first machine with 4 GPUs (just in case my model is with 80M and I use a batch size of 50 to train the model).

However, give them same model and batch size setting, I could not run horovod on the anothe

[2019-12-28 16:36] tgaddair commented on #1619
Hey @Fangyh09, can you clarify something about your experiment setup: it sounds like you're keeping the effective batch size the same across both experiments, but scaling the learning rate, is that correct?

Specifically:

- 1 GPU: 8 local batch size -> 8 total batch size, 1e-4 learning rate
- 4 GPUs: 2 local batch size -> 8 total batch size, 4e-4 learning rate

If my assumption is correct, then t

[2019-12-28 16:43] tgaddair commented on #1620
Hey @hoangcuong2011, because Horovod uses a parallel-programming approach to training, every GPU will have a separate worker process that runs a replica of the training script.  As a result, if your training script is using a lot of memory running as a single process (for example, reading the entire dataset into memory), then it will use linearly more memory as you scale the number of GPUs up.

Fo

[2019-12-28 19:26] Fangyh09 commented on #1619
I see, I thought it is
[code]
You are right. I should change `args.lr * hvd.size()` to `args.lr`. Thanks !

[2019-12-28 19:26] #1619 closed

[2019-12-28 19:49] Fangyh09 commented on #1567
I found another reason, it may be related to sync batchnorm.

[2019-12-28 19:56] Fangyh09 commented on #1077
@hubutui I tried use 4gpus with total batch size 8, it seems does not work.
The loss is first increasing and then decreasing.

[2019-12-28 19:57] #1567 closed

[2019-12-28 20:08] Fangyh09 opened #1621 "Different accuracy score comparing to DataParallel, and horovod is always better. What are the possible reasons?"
Horovod version: 0.15.2
PyTorch version: 1.0.0
Hello, these are my two configurations.
1. horovod + 4gpus + total batch size 32 + real lr 0.0001 + float32
2. dataparallel + 4gpus + total batch size 32 + real lr 0.0001 / 4 + float32
( Because dataparallel sums all gradients, so I use 0.0001/4 )
Configuration 1 always gave better accuracy scores than configuration 2, what are the possible reasons?

[2019-12-29 06:23] jon-chuang opened #1622 "Keras shape error when utilising multiple devices"
**Environment:**
1. Framework: Keras
2. Framework version: 2.2.5
3. Horovod version: 0.18.2
4. MPI version: 3.1.4
5. CUDA version: 10.1
6. NCCL version:
7. Python version: 3.6
8. OS and version:
9. GCC version:

**Bug report:**
When running Horovod with multiple devices with the Yolov3 model, I get the error `expected input_2 to have shape (15, 20, 3, 54) but got array with shape (3, 4, 3, 54)` on

[2019-12-29 07:00] jon-chuang commented on #1622
Sorry, I've realised it has something to do with my code and the way that rank is used.

[2019-12-29 07:00] jon-chuang commented on #1622
Sorry, I've realised it has something to do with my code and the way that rank is used.

[2019-12-29 07:00] #1622 closed

[2019-12-29 08:09] VincentJing opened #1623 "the communication method between GPUs in a node"
I want to know the communication method between GPUs in a node, p2p or others?

[2019-12-29 10:11] y-rok opened #1624 "How to synchronize after few iterations (not each iteration)?"
Hello.
I am training large deep learning model such as BERT.
However, I have 2080ti which of memory is just 11GB.
Because of OOM, I should train the model with only small batch size.
The problem is that the smaller batch size, the higher communication cost.
For example, when training the same number of training instances, the communication cost of 4 batch size is 4 times bigger than 32 batch size.

[2019-12-29 14:05] hoangcuong2011 commented on #1620
@tgaddair I think you are right. I just checked carefully. It is all about memories in CPUs that keeps a lot of data or so as you mentioned when we have more GPUs. I thought it was because the memory in GPUs increased significantly when we have more GPUs, but it is indeed not the case.
To fix this issue, I increased the RAM memory from 30Gb to 58GB, and it works well now!

Thank you for your help!

[2019-12-29 14:05] #1620 closed

[2019-12-29 16:03] tgaddair commented on #1620
Hey @hoangcuong2011, glad you got it working.  One thing to point out: when running with 1000 GPUs, those 1000 GPUs will be spread across many hosts, each with their own pool of host memory.  So maybe every host only has 4 GPUs, so as long as you have enough memory per host to read 4x the data of a single process, then you should not get any OOM issues.

[2019-12-29 16:11] tgaddair commented on #1621
Hey @Fangyh09, it's tough to say without seeing the code.  Are you using local batch norm with Horovod and sync batch norm with DataParallel?  Maybe you could try removing sync batch norm and see how that performs.

[2019-12-29 16:15] tgaddair commented on #1623
Hey @VincentJing, it will depend on your hardware setup and choice of underlying framework (NCCL, MPI, DDL, etc.).

If you're using NCCL, then you can take advantage of NVLinks (P2P) if your nodes are configured with them.  NVIDIA wrote a good [blog post](https://devblogs.nvidia.com/scaling-deep-learning-training-nccl/) about NCCL and NVLink that covers this in more detail.

[2019-12-29 16:22] tgaddair commented on #1624
Hey @y-rok, if you're using PyTorch, then you can do this relatively easily using Horovod's built-in support for local gradient accumulation.  Take a look at the [pytorch_imagenet_resnet50.py](https://github.com/horovod/horovod/blob/master/examples/pytorch_imagenet_resnet50.py#L154) example, particularly the option `backward_passes_per_step`, which controls how many forward passes we accumulate be

[2019-12-30 00:47] y-rok commented on #1624
@tgaddair Thanks! I am using tensorflow now but pytorch will be an option. And i will consider contributing that feature in tensorflow! :)

[2019-12-30 00:47] #1624 closed

[2019-12-30 06:26] NanYan1119 opened #1625 "A question about NCCLHierarchicalAllreduce."
Why use mpi allreduce instead of nccl allreduce for cross node communication when implement NCCLHierrarchicalAllreduce？

[2019-12-30 07:54] VincentJing commented on #1623
hey @tgaddair  If I don't install the NCCL, it will communicate through MPI between the GPUs in a node ?

[2019-12-30 09:32] Fangyh09 commented on #1621
Yes, you are right. I added sync batchnorm for both. But I found recently that horovod did not support sync batchnorm.

[2019-12-30 10:41] Tron-x commented on #1623
@tgaddair  hey, if we chose nccl , intra-node gpu communication, the default is PCI-CPU or PCI- switch?

[2019-12-30 12:47] lileilai commented on #627
@tingweiwu i am also try the tensorflow_mnist on my cluster, but my parameter setting as follows:

num_gpu=8    batch_size=64     log_interval_step=200
-----------------------------------------
But, i got the log as follows:
*********************************************************************
INFO:tensorflow:loss = 0.090276375, step = 200 (7.442 sec)
INFO:tensorflow:loss = 0.04766946, step = 200

[2019-12-30 16:26] jon-chuang opened #1626 "Workers running at different speed"
**Environment:**
1. Framework: Keras

**Your question:**
Is it normal that different workers are completing their batches at different speeds?
Usually, most workers complete before a single worker and sit idle. I suppose this could be because I added Tensorboard as a callback `if hvd.rank() == 0`? But it seems Tensorboard logs only at the end of an epoch? Or could this be because by the end of tra

[2019-12-30 17:16] jon-chuang commented on #1626
Sorry, this was a mistake.

[2019-12-30 17:16] jon-chuang commented on #1626
Sorry, this was a mistake

[2019-12-30 17:16] #1626 closed

[2019-12-31 01:11] mariamrahmaani opened #1627 "Horovodrun give me Permission denied (publickey,password) when using cpu dockerfile"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) pytorch
2. Framework version:
3. Horovod version: 0.18.2
4. MPI version: 4.0.0
5. CUDA version:-
6. NCCL version:-
7. Python version: 3.6.8
8. OS and version: ubuntu 18.04
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, did you rea

[2019-12-31 07:43] mariamrahmaani commented on #1627
Any clue?

[2019-12-31 09:23] naturomics opened #1628 "hvd + tf2 eager mode is slow, allreduce step takes too much time"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.0, 2.1
3. Horovod version:
4. MPI version:
5. CUDA version: 10.2
6. NCCL version: 2.5
7. Python version: 3.6
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/ma

[2019-12-31 16:12] miguelrc1 commented on #1596
Hi @romerojosh - Thank you for pointing out those examples. I went through those and the adaptation does not seem straight forward. More specifically the point where I am having more issues on extrapolating those examples to Horovod for PyTorch is that this uses `torch.utils.data.distributed.DistributedSampler` to distribute the dataset among workers. This method expects a dataset, not a pipeline

[2020-01-02 04:26] enduringstack commented on #1177
Can we use `tf.contrib.eager.defun` with TF 1.12 version? Thanks.

[2020-01-02 11:15] umialpha commented on #1423
@tgaddair  thx for your information! Our cluster needs this feature sooo much! I can't wait.

[2020-01-02 23:25] chandana1332 commented on #1552
Can you confirm if the intuition behind setting --cycle-time-ms is, if the tensors being reduced are large, then set this to a smaller value meaning horovod will reduce tensor at a more frequent cadence and if the tensors being reduced are small, then set this to a larger value meaning horovod will wait to accumulate tensors and then perform allreduce at a less frequent cadence saving on compute?

[2020-01-02 23:32] romerojosh commented on #1596
@miguelrc1 If you compare the `get_dali_train_loader` function here: https://github.com/NVIDIA/DeepLearningExamples/blob/aa061052c674ce19db4966854db196c209fa82e0/PyTorch/Classification/ConvNets/image_classification/dataloaders.py#L181
with the `get_pytorch_train_loader` function here:
https://github.com/NVIDIA/DeepLearningExamples/blob/aa061052c674ce19db4966854db196c209fa82e0/PyTorch/Classificatio

[2020-01-02 23:56] naturomics commented on #1628
Closing. This implementation has better performance:

[code]

[2020-01-02 23:56] #1628 closed

[2020-01-03 07:03] mnmhouse opened #1629 "Every time , docker buid, then the Error happend,"
**Environment:**
https://github.com/horovod/horovod/blob/v0.16.4/Dockerfile

**Your question:**
docker buid, then the Error happend,

![image](https://user-images.githubusercontent.com/7891811/71711016-e64c6000-2e39-11ea-98dc-b327046b48f3.png)
so  how to solve the above problems?
thank si

[2020-01-03 08:53] mnmhouse commented on #1629
I have solved this question ，just downgrade gcc gcc++

in the dockerfile add next context
# downgrade gcc g++ ,becase tensorflow incompatable
RUN apt-get install -y gcc-4.9 && apt-get install -y g++-4.9 && \
  cd /usr/bin && \
  rm gcc && \
  ln -s gcc-4.9 gcc && \
  rm g++ && \
  ln -s g++-4.9 g++ && \
  gcc --version

[2020-01-03 10:14] miguelrc1 commented on #1596
Thank you @romerojosh! Those links are super useful and your explanation really clear. Will try those and provide feedback :)

[2020-01-03 11:58] Richie-yan opened #1630 "How horovod's timeline reflects all rank information？"
Recently, I was analyzing performance based on horovod's timeline, but there is a point of confusion about horovod's timeline:
How to understand that horovod's timeline is only recorded on rank0, but contains all rank information? How does the timeline reflect the information of other ranks?

[2020-01-03 15:39] tgaddair commented on #1625
Hey @NanYan1119, from the paper [Exascale Deep Learning for Climate Analytics](https://arxiv.org/pdf/1810.01993.pdf) that introduced the hierarchical allreduce approach, the idea is that because MPI often uses tree-based communication patterns at high scale (where hierarchical allreduce is most useful), whereas NCCL prefers to use a ring to take advantage of bandwidth for nodes connected by NVLink

[2020-01-03 15:44] tgaddair commented on #1623
Hey @VincentJing, yes MPI is the default if you do not have NCCL installed.

Hey @Tron-x, PCI-CPU vs PCI-switch will depend on how your nodes are configured.  I would talk with your hardware folks about that.

[2020-01-03 15:55] tgaddair commented on #627
Hey @lileilai, `tensorflow_mnist.py` is not a good measure for scalability, as the model is too small to take advantage of data parallelism.  I would suggest trying `tensorflow_synthetic_benchmark.py` as a better baseline for scaling efficiency.

If you have further questions, feel free to open a new issue.  We'll keep this issue focused on the Horovod timeline feature.

[2020-01-03 16:08] tgaddair commented on #1627
Hey @mariamrahmaani, the process you used for enabling passwordless-ssh from node1 to 2 can be replicated for ssh from node 2 to 1.

For a more general solution, we recommend taking a look at our docs for running [Horovod in Docker](https://horovod.readthedocs.io/en/latest/docker_include.html), which covers using a shared filesystem for common SSH keys.

[2020-01-03 16:12] tgaddair commented on #1552
Hey @chandana1332, your intuition is correct.  Lower cycle time means lower delays between attempts to call allreduce.  Which means fewer opportunities to batch tensors together, more network calls, etc.  But it also means less waiting around if tensors are ready.

[2020-01-03 16:30] shyhuai commented on #1215
Does anyone address the problem? I met the same error after running about 2 epochs on the data set of ImageNet-2012. The configurations of my cluster are Horovod-0.18.2, PyTorch-1.1.0, Python3.5, OpenMPI-4.0.1, NCCL-2.4.7, 100Gbps InfiniBand and RTX 2080Ti.

[2020-01-03 16:48] chandana1332 commented on #1552
Got it! Thank you for confirming.

What's the best way to figure the breaking point on the size of the tensor which doesn't do well with higher cycle times?

Also, within MPI, are all processes reducing the same tensors after batching tensors? Is there a possibility that a process could be reducing one less tensor in a batch due to delays in compute, etc.

[2020-01-03 22:09] eric-haibin-lin commented on #1533
@apeforest is there any fix ?

[2020-01-03 22:15] apeforest commented on #1533
Got preempted by other work. PR should be out next week.

[2020-01-03 23:19] mariamrahmaani commented on #1627
Thanks Travis for your reply. I enabled the passwordless-ssh from node 2 to 1 as well but still I see the same issue.
I think I don't completely understand your documents for running Horovod in multi machine Dockers.

This is what the document says:

host1$ nvidia-docker run -it --network=host -v /mnt/share/ssh:/root/.ssh horovod:latest
root@c278c88dd552:/examples# horovodrun -np 16 -H host1:4,hos

[2020-01-03 23:23] mariamrahmaani commented on #1627
PS. sorry I don't know how my command lines have crossed lines. I couldn't fix it.

[2020-01-04 03:48] NanYan1119 opened #1633 "Does horovod support multiple sessions running in parallel?"
I notice that when pushing the tensor into the tensor_queue, horovod uses node name to identify different allreduce op. But node name can be the same in different graphs or sessions in tensorflow. If so, does horovod support multiple graphs or sessions running in parallel? If supported, how to identify these nodes with the same name?

[2020-01-04 07:32] shividhar opened #1634 "Running Horovod with exactly 2 GPUs on the same node fails"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3.1+cu100
3. Horovod version: 0.18.2
4. MPI version: 3.1.1
5. CUDA version: 10.0
6. NCCL version: nccl_2.1.2
7. Python version: 3.5.2
8. OS and version: Centos 7.4
9. GCC version: 6.3.0

**Your question:**
When I try to run Horovod on a single node with exactly 2 GPUs, NCCL gives the following error
`node205:10645:10653 [0] transport/p

[2020-01-04 16:36] tgaddair commented on #1552
Hey @chandana1332, in general the best way to set the cycle time and fusion buffer threshold is to run with `horovodrun --autotune` to explore various combinations.  In practice, there are many things that affect the performance for different settings of those parameters.

All processes will be reducing the same tensors in each fusion buffer batch, yes.  The tensors that are fused together are det

[2020-01-04 16:43] tgaddair commented on #1215
Hey @shyhuai, thanks for the details.  Are you training ImageNet with the provided [pytorch_imagenet_resnet50.py](https://github.com/horovod/horovod/blob/v0.18.2/examples/pytorch_imagenet_resnet50.py) script or your own training script?

Can you open the stack trace in gdb and paste the stack trace here?

[2020-01-04 16:47] tgaddair commented on #1633
Hey @NanYan1119, yes you can run multiple sessions in parallel, but you need to ensure that tensor names do not conflict between the sessions.  One way to achieve that would be to use a name scope for each session.

[2020-01-04 16:56] tgaddair commented on #1634
Hey @shividhar, can you share the `horovodrun` or `mpirun` command you are using?

[2020-01-04 17:11] shyhuai commented on #1215
Hi, @tgaddair , I train ImageNet with my own scripts, but the main codes are similar to [pytorch_imagenet_resnet50.py](https://github.com/horovod/horovod/blob/v0.18.2/examples/pytorch_imagenet_resnet50.py) except the data part. Instead of using the built-in `datasets.ImageFolder`, I used my own defined dataset as [this one](https://github.com/hclhkbu/gtopkssgd/blob/master/datasets.py). It works we

[2020-01-04 17:13] tgaddair commented on #1627
Hey @mariamrahmaani, the container ID is not important for SSH.  When you run sshd within one of the containers, that service will be running on some port (in the examples, we use port `12345`).  So you're still just sshing into `lin-haswell-01`, `lin-haswell-02`, etc., but because you're using port `12345` instead of `22`, you'll ssh into the correct container.

Just make sure that the other work

[2020-01-04 17:21] tgaddair commented on #1215
Hey @shyhuai, first you need to setup your system to write out core dumps.  If you're using Ubuntu, there is some guidance [here](https://askubuntu.com/questions/966407/where-do-i-find-the-core-dump-in-ubuntu-16-04lts) on how to set that up.

Once you know where the core dump is, you can open it in gdb and run `bt` to get that backtrace:

[code]

[2020-01-04 17:33] chandana1332 opened #1635 "Usage of MPI within Horovod"
Hello,

I'm trying to understand what is the need for MPI in Horovod.

From reading through, I see that
1. MPI is used for all collective communication operations in the absence of NCCL
2. MPI is used to reduce gradients across nodes

What are the other usages?
Is it used to negotiate all reduce, etc?

[2020-01-05 02:38] chandana1332 commented on #1625
A clarification about hierarchial allreduce:

1. Given that MPI is used to reduce gradients across nodes, is a new MPI communicator created to reduce gradients with only one GPU from each node participating in the all reduce operation?
2. And is NCCL used to broadcast parameters within each node? Is NCCL the default?

[2020-01-05 17:47] tgaddair commented on #1635
Hey @chandana1332, MPI is used to reduce gradients across nodes with hierarchical allreduce, but if you're not using that feature than NCCL will be used across nodes.

The primary purpose of MPI when using NCCL is to manage the control plane to determine which tensors need to be reduced at each step (negotiation).  Alternatively, you can also use Gloo for this.

[2020-01-05 17:55] tgaddair commented on #1625
Hey @chandana1332, to answer your questions:

1. Yes, we create a separate cross communicator for this purpose [here](https://github.com/horovod/horovod/blob/master/horovod/common/mpi/mpi_context.cc#L158).
2. Yes, we use NCCL for reduce-scatter, allgather, and broadcast ops within a node.  You can see the full implementation [here](https://github.com/horovod/horovod/blob/master/horovod/common/ops/

[2020-01-05 18:04] tgaddair commented on #1630
Hey @Richie-yan, the timeline does not reflect rank-specific information.  It only gives you the time it took for different operations to complete for different tensors.  Because these ops are performed synchronously among all the workers, the times would be the same for every rank, which is why they're only recorded on rank 0.

[2020-01-05 22:02] chandana1332 commented on #1625
Thank you for the clarifications.

Incase of broadcast and gather across nodes, does Horovod use a combination of MPI and NCCL just like allreduce does?

[2020-01-06 07:49] shyhuai commented on #1215
Hi @tgaddair , the backtrace from the core dump file is as follows. Thanks!
[code]

[2020-01-06 12:01] shividhar commented on #1634
The `mpirun` command I'm using

[code]

[2020-01-06 16:44] chandana1332 opened #1637 "Support MPICH when using horovodrun"
I'm using MPICH instead of OpenMPI.
I'm able to train models using mpiexec and mpirun on my cluster but when I try to use horovodrun, it fails with the following error

[code]

Horovod version: 0.18.2
MPICH version: 3.2

From looking at it, it looks like certain args are not available in MPICH.
Is horovodrun compatible with MPICH?

[2020-01-07 11:59] Richie-yan commented on #1630
Thanks for your answer, I will close this question.

[2020-01-07 11:59] #1630 closed

[2020-01-07 14:15] tgaddair commented on #1637
Hey @chandana1332, `horovodrun` only supports OpenMPI and Gloo at this time.  Apologies for that.  Contributions would definitely be welcome, if you know what needs to be modified to support MPICH.

[2020-01-07 19:00] chandana1332 commented on #1637
Thanks for confirming. I'm not as familiar with the horovod codebase yet to contribute but will look into it.

I was trying to use horovodrun to profile horovod. Given that I can't use it with MPICH at the moment, are you aware of any workarounds to profile horovod? Would it help if I manually altered the mpirun command to remove the flags that are not supported in MPICH yet?

[2020-01-07 19:09] oskotsky commented on #1423
This is great! Thank you!

Boris

From: umialpha [mailto:notifications@github.com]
Sent: Thursday, January 2, 2020 3:16 AM
To: horovod/horovod <horovod@noreply.github.com>
Cc: Oskotsky, Boris <Boris.Oskotsky@ucsf.edu>; Mention <mention@noreply.github.com>
Subject: Re: [horovod/horovod] horovod on aws emr with auto-scaling (#1423)

@tgaddair<https://urldefense.proofpoint.com/v2/url?u=https-3A__gith

[2020-01-07 21:54] amity137 opened #1640 "Installation issue - No such file or directory <bits/stdlib-bsearch.h>"
Hi, I am installing hvd for and for PyTorch I get this error. The final message is "Above error indicates that this PyTorch installation does not support CUDA." but from the compilation error it seems the problem is something else.

_cc1plus: warning: command line option '-Wstrict-prototypes' is valid for C/ObjC but not for C++
    In file included from /home/adsbybing/anaconda3/lib/python3.7/site

[2020-01-08 08:12] hoangcuong2011 commented on #1616
@tgaddair: I have a Mac laptop, and I loggin GCP machines with the laptop. I run python with nohup command.
I noticed if I kept my mac access to the same session on GCP I run python all the time, I didn't have any of this problem. However, if I happened to exist the session for sometime the problem would happen at some points - horovod suddently stops unexpectedly.

Specially, It happened when tur

[2020-01-08 17:37] jinamshah commented on #1591
Hey, @tgaddair sorry for the late response.
I tried the above commands, and the packages were the same on both the machines.

[2020-01-08 17:40] brandon-biggs opened #1641 "Can't install Horovod Spark"
While trying to follow the installation instructions for Horovod in Spark (https://github.com/horovod/horovod/blob/master/docs/spark.rst) I run into the issue that the Horovod[Spark] packages do not exist. I also noticed that on this documentation page, the required version of Horovod is >= 0.19.0, but the current release of Horovod is 0.18.2. Does Horovod not currently support Spark? I've been lo

[2020-01-08 18:01] tgaddair commented on #1641
Hey @brandon-biggs, please take a look at the Spark docs for [v0.18.2](https://github.com/horovod/horovod/blob/v0.18.2/docs/spark.rst).  The docs you're referring to are from master, which has unreleased changes.  Apologies for the confusion.

[2020-01-08 18:02] brandon-biggs commented on #1641
I'll give that a shot @tgaddair. Thanks for pointing me to that!

[2020-01-08 18:30] brandon-biggs commented on #1641
Do I need to be using tensorflow 1.x? The example provided in that documentation uses 'ConfigProto' which apparently has been [deprecated](https://github.com/tensorflow/tensorflow/issues/33504) as of Tensorflow2.x.

So pointing me to that documentation allowed me to install the packages for Spark, but I wasn't able to get a good test. My main goal here is to run horovod from within a Jupyter Noteb

[2020-01-08 19:16] tgaddair commented on #1641
Hey @brandon-biggs, you do not need TensorFlow 1.x.  The Spark example provided uses TensorFlow 1, but we also have TensorFlow 2 examples you can take a look at that show how to pin GPUs using their new API (see: [tensorflow2_mnist.py](https://github.com/horovod/horovod/blob/master/examples/tensorflow2_mnist.py)).

If your goal is to run from a Jupyter notebook, and not necessarily to run on top o

[2020-01-08 20:28] brandon-biggs commented on #1641
@tgaddair horovod.run.run looks like it would be helpful, but I'm not able to install horovod from the master branch.

Here's some information:
Centos7.7
Conda 4.8
Python 3.7
Tensorflow-GPU 2.0.0

I created the environment with Conda and installed tensorflow with Conda, but am installing horovod with pip inside of the conda environment, following the instructions [here](https://github.com/horovod/

[2020-01-08 20:41] tgaddair commented on #1641
Hey @brandon-biggs, can you share the full error log in a gist?

[2020-01-08 21:55] brandon-biggs commented on #1641
@tgaddair Here's a [link](https://gist.github.com/brandon-biggs/08256a8640a51156d7540d9c59500539) to the gist

[2020-01-09 07:35] crownk1997 opened #1644 "Horovod segmentation fault under Tenensorflow 2.0.0 beta1"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.0.0-beta1
3. Horovod version: 0.18.2
4. MPI version: mpirun (Open MPI) 2.1.1
5. CUDA version: 10.2
6. NCCL version: 2307
7. Python version: 3.7.1
8. OS and version: 18.04.3 LTS (Bionic Beaver)
9. GCC version: gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)

**Your question:**
I install the Tensorflow 2.0.0-beta1 version under my v

[2020-01-09 09:01] marcelgwerder opened #1645 "device_dense parameter not implemented for torch"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3.0
3. Horovod version: 0.18.2
4. MPI version: 4.0.2
5. CUDA version: 10.1
6. NCCL version: 2.5.6
7. Python version: 3.6.9
8. OS and version: Amazon Linux
9. GCC version: 7.2.1

**Your question:**

I just tried to use the `device_dense` parameter in the distributed optimizer for PyTorch [according to the readme](https://github.com/horo

[2020-01-09 09:37] PANXiao1994 opened #1646 "hvd.size() always gets 1 with unreleased version"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.0
3. Horovod version: unreleased version by using `HOROVOD_NCCL_HOME=/usr HOROVOD_GPU_BROADCAST=NCCL HOROVOD_WITH_TENSORFLOW=1 HOROVOD_GPU_ALLREDUCE=NCCL pip3 install git+https://github.com/horovod/horovod.git`
4. MPI version: Open MPI: 2.0.2
5. CUDA version: CUDA Version 10.0.130
6. NCCL version: libnccl-dev=2.4.8-1
7. Python ve

[2020-01-09 12:06] lento234 commented on #492
Where you able to resolve the issue?

I also see that if `num_workers=0` and `pin_memory=False`, the issue does not appear. It indicates that it is an issue with multiprocessing.

FYI, this is my setup:
[code]

[2020-01-09 13:15] fengchaohao opened #1647 "DockerFile build NCCL is invalid"
**Hello when I try to build the latest  Dockerfile(with Add NCCL Broadcast operation)  ,I meet the err**

  error: HOROVOD_GPU_BROADCAST=NCCL is invalid, supported values are "", "MPI".
  ----------------------------------------
  ERROR: Failed building wheel for horovod

I think the git was updated  but  PyPI was not updated, Please check the Dockerfile.gpu:

RUN ldconfig /usr/local/cuda/targets/

[2020-01-09 15:48] #1533 closed

[2020-01-09 16:01] tgaddair commented on #1647
Hey @fengchaohao, please take a look at Dockerfile.gpu for [v0.18.2](https://github.com/horovod/horovod/blob/v0.18.2/Dockerfile.gpu).  The master branch has changes for v0.19.0, which has not yet been released.

[2020-01-09 16:15] tgaddair commented on #1646
Hey @PANXiao1994, I wasn't able to reproduce this in my environment.  Can you try modifying your `run.py` script with the following:

[code]

You can install `mpi4py` with `pip install mpi4py`.  I want to rule out the possibility that the issue is coming from the MPI side.

[2020-01-09 21:03] #1573 closed

[2020-01-09 21:03] #1608 closed

[2020-01-09 21:34] 652994331 opened #1648 "a batch question about horovod"
i used this horovod for a multigpu_pretrain on September, 2019. it's really good. recently i was thinking about a question about horovod. According to my understanding, horovod is a data split strategy multi-gpu training like tensorflow mirrored strategy. Which means, for example, i have 4 data_tfrecords files and i want to do a 4 gpus horovod pretrain, horovod gonna assign these 4 to 4 gpus, one

[2020-01-09 21:40] tgaddair commented on #1648
Hey @652994331, yes, this is correct.  Total batch size is <num_workers> * <batch_size_per_worker>.  This is why we need to scale the learning rate proportional to `hvd.size()`.

[2020-01-09 21:55] 652994331 commented on #1648
@tgaddair got you, thanks so much

[2020-01-09 22:23] 652994331 commented on #1648
@tgaddair  When I looked in to the code, i found the train_input_fn still use train_batch_size. if we want to use global_batch_size, we need to make sure report_loss parameter is TRUE, am i right? Thanks

[2020-01-09 23:19] denfromufa commented on #1260
I see the same warning with pytorch at least.

[2020-01-09 23:20] denfromufa commented on #1260
Does HOROVOD_MPI_THREADS_DISABLE=1 solve this?

[2020-01-10 02:03] mnmhouse opened #1651 "tensorflow.python.framework.errors_impl.UnknownError: ncclCommInitRank failed: unhandled system error"
##

when i run this commond ：

    mpirun -np 2 -x NCCL_IB_DISABLE=0 -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x NCCL_IB_GID_INDEX=5 -x NCCL_IB_HCA=mlx4_0:2 -H 1.0.43.203:1,1.0.123.52:1 --allow-run-as-root   python tensorflow_mnist_estimator.py

log:

name: Tesla P40 major: 6 minor: 1 memoryClockRate(GHz): 1.531
pciBusID: 0000:0e:00.0
totalMemory: 23.88GiB freeMemory: 23.55GiB
2020-01-10 09:3

[2020-01-10 04:06] PANXiao1994 commented on #1646
Thanks, it perfectly solved my problem!

[2020-01-10 07:12] gobigrassland opened #1652 "Is it possible to compute different graph on each separate gpu device with Horovod?"
For example, I have 10 classification tasks and the feature dimension is 1024. Each classification task is 1000000-way and the weights of the backbone for extracting features are shared. I would like to compute such graphs whose backbone weights are shared but the classification layer are different on each separate gpu device.

[2020-01-10 07:17] gobigrassland commented on #1652
I try to realize this , but it does not work.
error information:
One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that only subset of ranks is submitting tensors, which will cause deadlock.

[2020-01-10 08:43] PANXiao1994 opened #1653 "Should I use different learning rate when using op=Adasum in DistributedOptimizer?"
I want to use [backward_passes_per_step](https://github.com/horovod/horovod/blob/master/horovod/tensorflow/__init__.py#L443-L446) feature to implement gradient accumulation in TensorFlow. And it is obliged to use op=Adasum. However, I suffer from significant performance loss when I use this op, **is this an issue of learning rate?**

The optimizer I use is Adam. I followed the learning rate of pap

[2020-01-10 09:07] PANXiao1994 commented on #1653
I realized that it may be caused by the Algorithm that I use to locally accumulate the gradients within one single GPU:
[code]

and  during training:

[code]

Is that issue caused by the inconsistency of "Average" used within single GPU and "Adasum" among GPUs?

[2020-01-10 09:40] baranikannan commented on #1393
Hi, Any update on this issue. Please help on this

[2020-01-10 11:03] XueCangQiuYe commented on #1412
hello ,everyone
i got same question, when i run pytorch_mnist.py (official example)

Environment:

Framework: (TensorFlow，pytroch)
Framework version:1.14, 1.12
Horovod version: 0.18
MPI version: 4.0.2
CUDA version:10.0
NCCL version:
Python version: 3.6.8
OS and version: centos7
GCC version: 4.9.4

`[root@vm-gpu-2 horovod_pytorch]# horovodrun -np 2 -H ip1:1,ip2:1 python pytorch_mnist.py
Traceback (

[2020-01-10 11:07] XueCangQiuYe opened #1655 "Run pytorch_mnist.py, got ValueError('Neither MPI nor Gloo support has been built. )"
**Environment:**
1. Framework: (TensorFlow,  PyTorch)
2. Framework version:1.14,1.12
3. Horovod version:0.18
4. MPI version:4.0.2
5. CUDA version:10.0
6. NCCL version:
7. Python version:3.6
8. OS and version:centos7
9. GCC version:4.9.4

 when i run pytorch_mnist.py (official example)
`[root@vm-gpu-2 horovod_pytorch]# horovodrun -np 2 -H ip1:1,ip2:1 python pytorch_mnist.py
Traceback (most recent c

[2020-01-10 13:16] lento234 commented on #1655
What's your output to:

`horovodrun --check-build`

[2020-01-10 13:45] XueCangQiuYe commented on #1655
@lento234
thank you for your reply, I will try later and let you know the result

[2020-01-10 16:44] brandon-biggs commented on #1641
Hi @tgaddair Do you have any ideas on what the issue might be? We've also tried using ipyparallel to run horovod in a jupyter, but that didn't work out so well.

Multiple nodes with multiple nodes work great with horovod batch. The horovod.run.run seems like it would work, but I was curious if you had any other ideas.

[2020-01-10 16:52] brandon-biggs commented on #1655
Did you do a `module load mpi` when you tried to install horovod? I ran into this issue because I forgot to load mpi when I started a new environment to install horovod.

[2020-01-10 21:32] pstjohn commented on #1573
Thanks for this fix!! Sorry for not replying earlier, I hadn't previously been working off the horovod master, so I was looking into how to best build from source :)
This is great though, I'm looking forward to using these lr schedules

[2020-01-10 21:40] jarednielsen commented on #1569
Getting a similar issue with `horovod.tensorflow.size()` on horovod 0.18.2. I believe it's related, let's re-open and resolve the issue.

[2020-01-10 21:58] tgaddair commented on #1569
Hey Jared, can you create a new issue for your problem?  I suspect there may be something else going on in your case.

[2020-01-10 22:58] eric-haibin-lin opened #1657 "No error message when distributed optimizer is used for gluon trainer"
[code]
I found that there is no error message if I use distributed optimizer inside gluon trainer. This is not recommended way, and deserves an error message.

@apeforest

[2020-01-10 22:59] apeforest commented on #1657
Acknowledged issue. I will add an error message when users mix DistributedOptimizer with regular Gluon Trainer.

[2020-01-11 03:29] XueCangQiuYe commented on #1655
i got this output
`Horovod v0.18.2:

Available Frameworks:
    [ ] TensorFlow
    [ ] PyTorch
    [ ] MXNet

Available Controllers:
    [ ] MPI
    [ ] Gloo

Available Tensor Operations:
    [ ] NCCL
    [ ] DDL
    [ ] MLSL
    [ ] MPI
    [ ] Gloo `

What it means?

[2020-01-11 03:36] XueCangQiuYe commented on #1655
Hi, @brandon-biggs ,
You mean to do `model load mpi` after install openmpi?
How can I do `model load mpi`, or how to solve this problem? Uninstalled horovod ,then `model load mpi`, then install horovod?

[2020-01-11 08:40] lento234 commented on #1655
It means that the horovod installation wasn't properly linked with the MPI, GLOO, NCCL nor the python library for some reason.

You can make sure the horovod sees links the library during the installation using the following flags:
[code]

Try with the above command (you can skip NCCL if you don't want it) and check the horovod build again. If that doesn't work, perhaps you can try to install horo

[2020-01-12 01:54] XueCangQiuYe commented on #1655
@lento234 thank you a lot, i give up installing horovod locally, i'm not good at linux, maybe docker pull the image is a good optation.....

[2020-01-12 08:58] Richie-yan opened #1658 "horovod multiple NCCL streams did not bring performance improvements"
When I was profiling horovod, a long QUEUE time was displayed on the timeline. My understanding of QUEUE is: the time to wait for the nccl stream to end.
So I used HOROVOD_NUM_NCCL_STREAMS = 4 and found that the final training speed is almost the same as when HOROVOD_NUM_NCCL_STREAMS = 1, but there is almost no QUEUE on the timeline, so I am confused about this phenomenon.
I compared timeline info

[2020-01-12 10:51] lento234 commented on #1655
@XueCangQiuYe You should omit the braces (< >). Also, perhaps install it to your user dir. Perhaps, you don't have the necessary privileges for install to system directory. Install to your user dir with the following flag `--user`.

[code]

[2020-01-12 11:12] XueCangQiuYe commented on #1655
@lento234 thanks, i will try it tomorrow.

today, i try run horovod docker in one machine with 1 gpu，and up 2 container，call a and b.
`docker run -it --name a --runtime=nvidia horovod
docker run -it --name b --runtime=nvidia horovod`
and got ipa, ipb
in container a, i run this command
`root@a:/examples# horovodrun -np 2-H ipa1:1,ipb:1 -p 12345 python keras_mnist_advanced.py`
but it not working pro

[2020-01-12 15:48] JF-D commented on #665
I wonder if this question is solved? I test the distributed performance for pytorch and tensorflow, it seems that computation and communication are overlapped. But I am not sure whether they are executed in different streams.

[2020-01-12 16:05] ticlazau opened #1659 "Models available for tensorflow2_synthetic_benchmark.py"
Hello,

for the https://github.com/horovod/horovod/blob/master/examples/tensorflow2_synthetic_benchmark.py

- it seems that using model ResNet152, VGG16, Alexnet etc is not working
- same for --fp16-allreduce option, has no effect on performance.

I am getting with TF 2.0. on single V100 GPU 342.4 img/sec for default values, has anyone used this synthetic benchmark?

Rgds,
Florin

[2020-01-12 16:10] byronyi opened #1660 "Failed to run in-stock example with TensorFlow 1.15 and Horovod 0.18.2"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.0
3. Horovod version: 0.18.2
4. MPI version: 2.1.1
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 2.7
8. OS and version: Ubuntu 18.04
9. GCC version: 7.4.0

**Bug report:**
Please describe errorneous behavior you're observing and steps to reproduce it.

Use the following Dockerfile:

[code]

After build, run it and

[2020-01-13 00:16] saurabheights commented on #1575
@tgaddair We have a repo that is integrated with horovod and thus for TPU, we had no other choice but to move to a new repo. However, before finalizing anything, I wanted to confirm if its even necessary(hoping horovod might have or will have TPU support).

I am pretty sure you know about this, but just in case, tensorflow provides allreduce op for TPU which is used in TPUStrategy. Shouldn't horov

[2020-01-13 02:46] PANXiao1994 opened #1661 "how to use backward_passes_per_step in Tensorflow?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.0
3. Horovod version: unreleased version by using `HOROVOD_NCCL_HOME=/usr HOROVOD_GPU_BROADCAST=NCCL HOROVOD_WITH_TENSORFLOW=1 HOROVOD_GPU_ALLREDUCE=NCCL pip3 install git+https://github.com/horovod/horovod.git`
4. MPI version: Open MPI: 2.0.2
5. CUDA version: CUDA Version 10.0.130
6. NCCL version: libnccl-dev=2.4.8-1
7. Python ve

[2020-01-13 08:19] PANXiao1994 commented on #1653
@tgaddair

[2020-01-13 09:48] lento234 commented on #1655
I would first try a simple setup and progressively increase the complexity:

- [ ] Inside docker or native without distributed computing (i.e. just `python pytorch_mnist.py`).
- [ ] Then with a distributed setup using MPI.
- [ ] Then multi-docker setup in a single machine.
- [ ] Multi-docker in multi-machine setup.

Good luck.

[2020-01-13 09:52] XueCangQiuYe commented on #1655
@lento234 , hi, i ran the command thart you provided.
the ouput is
`
[root@vm-gpu-2 horovod_pytorch]# HOROVOD_CUDA_HOME=/usr/local/cuda-10.0 \

WARNING: Running pip install with root privileges is generally not a good idea. Try `pip install --user` instead.
Requirement already satisfied: horovod in /usr/local/lib64/python3.6/site-packages
Requirement already satisfied: cffi>=1.4.0 in /usr/local/li

[2020-01-13 10:24] byronyi commented on #1660
Turns out adding a GPU makes the example running fine.

[2020-01-13 10:24] #1660 closed

[2020-01-13 10:58] rudvlf0413 opened #1662 "fail to install horovod"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3
3. Horovod version: 18.2
4. MPI version: 4.0.2
5. CUDA version: 10.0
6. NCCL version: 2.4.8
7. Python version: python 3.7
8. OS and version: ubuntu 18.04
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https:/

[2020-01-13 14:01] nvcastet commented on #1659
Hi Florin,

What are the errors you are getting for those models? Could you paste the full console output?
For `--fp16-allreduce`, it is casting the gradients to 16bits to reduce the amount of communicated data (still using float32 computation), so you will see performance benefits only when the network is the bottleneck (unlikely on single box with NVLINK GPUs).

Regards,

Nicolas

[2020-01-13 18:14] HussainTaj-W opened #1663 "Horovod on Windows Subsystem for Linux (WSL)"
**Environment:**
1. Framework: **TensorFlow**
2. Framework version: **2.0.0**
3. Horovod version: **0.18.2**
4. MPI version: **4.0.2**
5. CUDA version: _None_
6. NCCL version: _None_
7. Python version: **3.7.0**
8. OS and version: **Windows 10 (Ubuntu 18.04, WSL)**
9. GCC version: _None_

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes.
2. If your questi

[2020-01-13 22:42] saurabh-jogalekar opened #1664 "Migrating from (non-distributed)TensorFlow to Horovod"
I am new to the distributed ML paradigm and I have a few TF scripts written for, let's say, a "non-distributed" mode. Now, I need to migrate these scripts to a Horovod environment. Is there any way I can automate this migration? Surely, I shall try and understand the MPI concepts and run through examples but was curious to know if there was a package/library that did this?

[2020-01-14 03:38] #1661 closed

[2020-01-14 05:57] lushishuai opened #1666 "when i run tensorflow-word2vec.py in examples,the program is very slow and even seized up"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-01-14 06:00] lushishuai commented on #1666
when i use :horovodrun -np 2 -H localhost:4 python fenbushi.py
the programe can also work well!

[2020-01-14 06:09] PANXiao1994 opened #1667 "Adasum Algorithm leads to convergence degradation"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.0
3. Horovod version: unreleased version by using `HOROVOD_NCCL_HOME=/usr HOROVOD_GPU_BROADCAST=NCCL HOROVOD_WITH_TENSORFLOW=1 HOROVOD_GPU_ALLREDUCE=NCCL pip3 install git+https://github.com/horovod/horovod.git`
4. MPI version: Open MPI: 2.0.2
5. CUDA version: CUDA Version 10.0.130
6. NCCL version: libnccl-dev=2.4.8-1
7. Python ve

[2020-01-14 07:03] lento234 commented on #1655
Can you try on a single node, single-core first? Maybe, it wasn't properly installed.

[2020-01-14 09:49] lushishuai opened #1668 "when i use pytorch in this framework,the mistake will come out !"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2020-01-14 10:44] lushishuai commented on #1393
have anyone solved this problem？

[2020-01-14 16:13] tgaddair commented on #1667
Hey @PANXiao1994, how are you scaling your learning rate?  With Adasum + NCCL, it should be `lr * hvd.local_size()` as opposed to the normal `lr * hvd.size()`.

[2020-01-14 17:47] karan6181 commented on #1657
Agree with your point. So I was looking into class `DistributedOptimizer` and `DistributedTrainer`. The `DistributedTrainer` checks if the optimizer is of instance of `DistributedOptimizer` or `mx.optimizer.Optimizer` and adjust accordingly. Since the `gluon.Trainer` takes optimizer as a part of a parameter, how are we gonna put a checking condition in horovod since implementation of `gluon.Traine

[2020-01-14 17:56] eric-haibin-lin commented on #1657
Good point. It might be hard to check this. We don't want to add horovod specific code in gluon Trainer. I am not sure about putting warning message in distributed optimizer - if the user is using the API correctly and see this warning, they will get confused

[2020-01-14 18:02] Tixxx commented on #1667
Thanks @PANXiao1994  for doing the experiments. As Travis already suggested, Adasum does require a bit of change when migrating from sum/average. Generally we will tell users to start with ` lr * hvd.local_size()` for Adasum + NCCL and just `lr` for only Adasum. We are working on an user guideline and will publish it soon.

[2020-01-14 21:15] ahmadki opened #1669 "mxnet allgather is borken. it crashed when using GPU and produces wrong results when using CPU"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.5.1
3. Horovod version: built from source
4. MPI version: 3.1.1
5. CUDA version: 10.2
6. NCCL version: 2.5.6
7. Python version: 3.6.9
8. OS and version: Linux Ubuntu 18.04.3
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this

[2020-01-14 21:25] apeforest commented on #1669
There is a known issue with MXNet allgather. https://github.com/horovod/horovod/issues/1409

We are currently working to resolve it. Will keep you posted. Thanks!

[2020-01-15 00:19] ahmadki commented on #1669
I believe I found the issue.
The operation receive buffer is defined to have the same size as the send buffer (instead of the sum of sizes from all ranks):
https://github.com/horovod/horovod/blob/master/horovod/mxnet/mpi_ops.py#L155
This obviously results in truncated results on CPU and illegal memory access in CUDA.

I'm working on a PR.

[2020-01-15 02:25] PANXiao1994 commented on #1667
I used Adam Optimizer with noam decay
![image](https://user-images.githubusercontent.com/24204710/72399417-16242d80-3781-11ea-992c-e403b9f0e9a6.png)

So what I need to do is to set `scale *= hvd.local_size()`?

[2020-01-15 02:53] kit1980 commented on #1662
Support for `HOROVOD_GPU_BROADCAST=NCCL` added just a few days ago, you need to build from master to use it. Are you sure you really need this parameter?

[2020-01-15 03:51] lushishuai commented on #1668
Thanks for helping me!
i have used "HOROVOD_WITH_PYTORCH=1 pip install --no-cache-dir horovod" to install horovod,but some errors have come out：

Requirement already satisfied: cloudpickle in ./anaconda3/lib/python3.7/site-packages (from horovod) (1.2.2)
Requirement already satisfied: psutil in ./anaconda3/lib/python3.7/site-packages (from horovod) (5.6.3)
Requirement already satisfied: pyyaml in

[2020-01-15 06:01] apeforest commented on #1669
Thanks. That'll be really great. I would love to review when it's ready.

[2020-01-15 12:00] yguo33 opened #1672 "Training speed is more and more slow on 8 Tesla V100 GPUs !"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14
3. Horovod version: 0.18.1
4. MPI version: 4.00
5. CUDA version: 10.1
6. NCCL version: 2.3.4
7. Python version: 3.6
8. OS and version: centos7
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com

[2020-01-15 16:24] tgaddair commented on #1640
Hey @amity137, can you verify that `bits/stdlib-bsearch.h` exists on your system?

[2020-01-15 16:41] tgaddair commented on #1651
Related to #1195.  @DEKHTIARJonathan or @romerojosh, are you familiar enough with NCCL configuration to help out with this issue?

[2020-01-15 16:42] tgaddair commented on #1646
Hey @PANXiao1994, to clarify, `comm.Get_size()` returned 4 for `hvd.size()` still returns 1?  If so, it sounds like there's a Horovod issue.

[2020-01-15 16:47] tgaddair commented on #1652
Hey @gobigrassland, do you have a small example script that illustrates what you're trying to achieve.  I think it should be possible, but just need some clarification about the setup.

In general, as long as the tensors between graphs have unique names or are placed on different devices, it should work.

[2020-01-15 16:49] tgaddair commented on #1412
Hi @XueCangQiuYe, can you try `pip uninstall horovod` and rerun `HOROVOD_WITH_MPI=1
 HOROVOD_WITH_PYTORCH=1 pip install --no-cache-dir horovod`.  It looks like Horovod did not install because it was already installed.

[2020-01-15 16:50] tgaddair commented on #1641
Hey @brandon-biggs, we released Horovod v0.19.0 yesterday with support for `horovod.run.run`.  Can you give it a shot?

[2020-01-15 16:52] tgaddair commented on #1658
Hey @Richie-yan, did @romerojosh's response in #1128 answer your question?

[2020-01-15 16:56] tgaddair commented on #665
Hey @JF-D, we do allocate a separate CUDA stream (optionally multiple streams) in Horovod separate from the one used by PyTorch.

[2020-01-15 17:19] tgaddair commented on #1575
Because Horovod sits at a lower level (C++ custom op), I don't think we would be able to use those higher level APIs.  I will discuss this with the TensorFlow folks when I meet with them later this month, though.

[2020-01-15 17:22] tgaddair commented on #1653
Hey @PANXiao1994, the learning rate always needs to be scaled when using Horovod, as your batch size will vary with the number of workers you're running with.  For Adasum, the learning rate needs to be scaled by `lr * hvd.local_size()`, while for Average it's `lr * hvd.size()`.

[2020-01-15 17:29] tgaddair commented on #1663
Hey @HussainTaj-W, can you print the output of running `ifconfig -a` on `otherMachineOnLAN`?

[2020-01-15 17:31] tgaddair commented on #1664
Hey @saurabh-jogalekar, we do not have an automated script.  We've toyed with the idea before, but for any but the most simple cases it could potentially break something.  That said, the modifications are usually pretty minimal, and we have a tutorial [here](https://github.com/horovod/tutorials/tree/master/fashion_mnist) that walks you through everything you need to change in your script (about 5

[2020-01-15 17:34] DEKHTIARJonathan commented on #1651
I suppose you are using a docker container. If yes, which one?

Could you try with this one :
nvcr.io/nvidia/tensorflow:19.12-tf1-py3

[2020-01-15 17:36] tgaddair commented on #1666
Hey @lushishuai, it looks like there was a problem with rank 2, as it never got to this line:

[code]

Can you check the RAM usage of your machine when running with 4 processes?  Also, can you try running with `np 3` and see if the same issue occurs?

[2020-01-15 17:39] tgaddair commented on #1393
Hey @baranikannan, the `HOROVOD_GPU_BROADCAST=NCCL` option was added in Horovod v0.19.0, released yesterday.  Can you try installing again with the latest version of Horovod?

@lushishuai, can you clarify the details of your issue?

[2020-01-15 17:41] tgaddair commented on #1662
Hey @rudvlf0413, as @kit1980 said this feature was just added.  Horovod v0.19.0 was released yesterday, so if you try again it should work.

[2020-01-15 17:43] tgaddair commented on #1668
Hey @lushishuai, looks like your version of GCC needs to be upgraded to use that version of PyTorch.  Can you refer to the instructions here:

[code]

[2020-01-15 17:46] tgaddair commented on #1667
Hey @PANXiao1994, in your experiments both setups converged in the same number of steps, but was there any difference in the time taken for each step to complete (alternatively, total time to convergence)?

[2020-01-15 17:49] tgaddair commented on #1672
Hey @yguo33, can you run `horovodrun --check-build` verify that everything is properly installed?  Also, can you clarify your training setup.  Was there an existing script for Horovod on BERT you used, or did you make modifications to a script yourself?

[2020-01-15 18:15] vilmara commented on #1063
Hi @alsrgv, did you use a single machine or did you use  8xGPU in distributed mode?. What was the throughput for a 1xGPU?. I have multi-node configuration and the scaling efficiency doesn't look ok, please see below

1xGPU within the node: total images/sec: 1358.21
8xGPU's across the nodes: total images/sec: 9140.62

[2020-01-15 18:24] vilmara commented on #1523
hi @DEKHTIARJonathan / @tgaddair, thanks for your support. I got GPUDirect RDMA enabled after rebuilding my multi-node system from scratch with the below configuration:

**Environment:**
[code]

**Flags:**
`-x NCCL_NET_GDR_LEVEL=3 -x NCCL_DEBUG_SUBSYS=NET -x NCCL_IB_DISABLE=0 -mca btl_tcp_if_include ib0 -x NCCL_SOCKET_IFNAME=ib0 -x NCCL_DEBUG=INFO --bind-to none --map-by slot --mca plm_rsh_args "-

[2020-01-15 18:24] #1523 closed

[2020-01-15 18:47] vilmara commented on #288
solved, see #1523

[2020-01-15 18:47] #288 closed

[2020-01-15 18:52] saurabh-jogalekar commented on #1664
@tgaddair Thanks a lot!

[2020-01-15 19:31] vilmara opened #1673 "Scaling Efficiency drops with xla enabled"
**Environment:**
1. Framework: TensorFlow
2. Framework version: TF 1.4
3. Horovod version: 0.18.2 via Horovod in docker
4. MPI version: 4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.5.6
7. Python version: 2.7
8. OS and version: Ubuntu 18.04
9. GCC version: 4.8
10. CUDNN version: 7.6.5
11. Mellanox OFED 4.7-3.2.9.0
12. GPUDirect RDMA - nvidia-peer-memory_1.0-8

**Your question:**
I am running TF b

[2020-01-16 01:42] yguo33 commented on #1672
Thank you for your response. I did modifications to bert script and and the training is successful, you can check the first image, and the training speed is very quick. But when I retrain the model, it became more and more slow, I don't know why. 'nvidia-smi' shows normally, 8 Gpus are using, 'Volatile GPU-Util' almost 100%.

Here is the `horovodrun --check-build` shows:
`Available Frameworks:

[2020-01-16 02:35] PANXiao1994 commented on #1667
@tgaddair  No, there is no difference. In experience 1, where I reduced hvd.local_size from 8 to 1, the time for each step keeps the same...

[2020-01-16 02:44] #1655 closed

[2020-01-16 03:43] Tron-x commented on #1653
@PANXiao1994 Hi，I'm interested in large batch size training. Can we talk about this adasum in private firstly? My contact information is zz3223zz@163.com. You can send me your wechat. I have some computing resources. I also want to do this experiment~

[2020-01-16 05:16] vainaijr opened #1674 "ModuleNotFoundError: No module named 'horovod.torch'; 'horovod' is not a package"
horovod installed but when I
[code]
then it throws error

[2020-01-16 14:54] maxhgerlach commented on #1381
In the mean time I have updated to Open MPI 4.0.2 and Horovod 0.19, but this issue still occurs with many of our training jobs. Unfortunately it is very hard to reproduce consistently.

I noticed that there are a couple of open issues regarding the Vader shared memory BTL in Open MPI, e.g. https://github.com/open-mpi/ompi/issues/7308

@alsrgv @tgaddair Would you recommend switching to `sm` instead

[2020-01-16 15:51] tgaddair commented on #1674
Hey @vainaijr, can you share the error?

Likely Horovod installed correctly for one of the frameworks (e.g., TensorFlow), but failed to install with PyTorch.  To force Horovod to fail if it can't install with PyTorch, run with `... HOROVOD_WITH_PYTORCH=1 pip install --no-cache-dir horovod`.

[2020-01-16 16:13] apeforest commented on #1637
@karan6181 would you like to take a look at this if available? Thanks!

[2020-01-16 21:17] karan6181 commented on #1637
@chandana1332 Please use this option to profile horovod timeline for mpich library. `-env HOROVOD_TIMELINE=<path where you want to save a json file>`

e.g.:
`mpirun -np 1 -env HOROVOD_TIMELINE=/home/ubuntu/sample.json python -u horovod/examples/mxnet_mnist.py`

Below are my details of mpirun version:

[code]

[2020-01-17 02:25] rudvlf0413 commented on #1662
@kit1980 @tgaddair Thank you for answering my question.

After reinstalling Horovod and trying to load the library, I got an error as

import horovod.torch as hvd
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/rudvlf0413/anaconda3/lib/python3.7/site-packages/horovod/torch/__init__.py", line 39, in <module>
    from horovod.torch.mpi_ops import allreduce, all

[2020-01-17 03:07] chengdianxuezi commented on #55
My machine support nvlink. whether I use nvlink to communicate data or not? the log as follow:

b31b01229:3795:3946 [0] NCCL INFO Bootstrap : Using [0]bond0:127.0.0.1<0>
b31b01229:3795:3946 [0] NCCL INFO NET/Plugin : No plugin found (libnccl-net.so), using internal implementation
b31b01229:3795:3946 [0] misc/ibvwrap.cc:63 NCCL WARN Failed to open libibverbs.so[.1]
b31b01229:3795:3946 [0] NCCL INFO

[2020-01-17 04:53] tgaddair commented on #1281
@kaituoxu @hdubey can you try using the [broadcast_object](https://github.com/horovod/horovod/blob/master/horovod/torch/__init__.py#L598) function in Horovod 0.19.0 with learning rate schedules?

[2020-01-17 08:17] PANXiao1994 commented on #1667
@tgaddair I am pretty sure now that the time for each step to finish when I use horovod with Adasum keeps exactly the same as I train with such batch size / gpu on a single GPU... ...

[2020-01-17 08:26] rudvlf0413 commented on #1662
I reinstall the openmpi, and I fix the bug I got the error.

Thank you.

[2020-01-17 08:26] #1662 closed

[2020-01-17 08:59] RayOct18 commented on #1417
Have anyone solve this problem?
I have same situation.
Works fine with the optimizer, but two optimizers cause this problem.

[2020-01-17 08:59] gobigrassland commented on #1652
Thank you very much for your reply. The main script which trains a face recognizer with two datasets(Webface and VGGFace2) shows as follows.

def main(args):
    print(args)
    global IMAGE_HEIGHT
    global IMAGE_WIDTH
    IMAGE_HEIGHT = args.image_height
    IMAGE_WIDTH = args.image_width
    network = importlib.import_module(args.model_def)
    image_size = (args.image_height, args.image_width

[2020-01-17 12:31] ticlazau commented on #1659
Hi @nvcastet ,

I am running fine with default values, however if I want to change the model from ResNet50 to something else I am getting this error:
**RUN:**
horovodrun -np 1 -H localhost:1 python tensorflow2_synthetic_benchmark.py --model Alexnet
**Error:**
Process 0 exit with status code 1.
Traceback (most recent call last):
  File "/nobackup/users/florin/anaconda3/envs/wmlce-ea/bin/horovodrun"

[2020-01-17 12:37] ticlazau commented on #1659
+3 more questions:
- what are the supported models?
- is mix precision used in TF?
- what is the used resolution?

[2020-01-17 14:49] nvcastet commented on #1659
So it is for 224x224 images. So you need to make sure the model takes the same input shape. I don't know what have been tested with this script? @tgaddair Do you know?
This script does not seem to use mix precision but TF supports it.
Is there other info before the gloo termination error you are getting?

[2020-01-17 20:05] HussainTaj-W commented on #1663
@tgaddair, sure, here's the output.

[code]

[2020-01-17 21:33] ifed-ucsd commented on #403
Can someone please comment on whether it is safe to ignore the horovod warning in the case that it appears when one of the workers is doing something that the others aren't (for instance, evaluation)? Does this cause the entire training process to go out of sync?

[2020-01-17 22:17] tgaddair commented on #403
Hey @ifed-ucsd, usually it's not a problem.  The only time it will cause things to get out of sync is if the workers end up performing different collective operations.  For example, worker-1 proceeds to the next batch and calls `hvd.allreduce` while worker-0 does validation and calls `hvd.broadcast`.  As long as all the workers will eventually meet back up at the same point, it will be okay.

[2020-01-17 22:22] tgaddair commented on #1659
Hey @ticlazau, to answer your questions:

- These are the available models: https://www.tensorflow.org/api_docs/python/tf/keras/applications#functions
- In our script, we only test fp16 compression during allreduce.  We do not benchmark using fp16 during the forward/backward passes.
- As @nvcastet said, the images are 224x224 with 3 channels.

[2020-01-18 09:12] Richie-yan commented on #1658
Hey @tgaddair  Yes he answered my doubts and i will close the question

[2020-01-18 09:12] #1658 closed

[2020-01-19 07:57] apeforest commented on #1540
Add @karan6181. Let's discuss how we can support this feature.

[2020-01-19 11:01] PANXiao1994 opened #1676 "TensorFlow backward_passes_per_step>1 not work"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.0
3. Horovod version: 0.19.0
4. MPI version: Open MPI: 2.0.2
5. CUDA version: CUDA Version 10.0.130
6. NCCL version: libnccl-dev=2.4.8-1
7. Python version: python 3.5
8. OS and version: Debian GNU/Linux,   9 (stretch)
9. GCC version: gcc version 6.3.0 20170516 (Debian 6.3.0-18+deb9u1)

**Bug report:**
Please describe errorneous b

[2020-01-20 06:14] kaituoxu commented on #1281
Cool~

[2020-01-20 15:55] maxhgerlach commented on #1381
After further investigation it looks like I misattributed this issue to Horovod or Open MPI.

A default setting in systemd, that we did not know about, causes shared memory files in `/dev/shm` to be deleted while the Horovod training making use of them is still running. See https://superuser.com/questions/1117764/why-are-the-contents-of-dev-shm-is-being-removed-automatically

This was very hard to

[2020-01-20 15:55] #1381 closed

[2020-01-20 17:35] brandon-biggs commented on #1641
I'm working through this now. Thanks for all the work and releasing this new version. I've ran into some new things, but they're unrelated to the issue I originally created this issue for. I'm going to close this up. I believe that horovod.run.run will solve our problems once I resolve some other, unrelated issues. Thanks again.

[2020-01-20 17:35] #1641 closed

[2020-01-20 18:32] brandon-biggs opened #1677 "Horovodrun can't run when translating to mpirun because of '-H'"
**Environment:**
1. Framework: (**TensorFlow**)
2. Framework version: 2.0 GPU
3. Horovod version: 0.19.0
4. MPI version: 1.10.7
5. CUDA version: 10.2
6. NCCL version: 2.5.6
7. Python version: 3.7
8. OS and version: Centos 7.7
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before? I looked for it, couldn't find it.
2. If your question is about

[2020-01-21 03:51] aaron276h opened #1678 "Segmentation fault when installing with `HOROVOD_WITHOUT_PYTORCH=1`"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.14
3. Horovod version: 18.2
4. MPI version: N/A (Using GLOO controle
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 3.6
8. OS and version: Ubuntu 16.04
9. GCC version: 4.8

**Bug report:**
When compiling using `HOROVOD_WITHOUT_PYTORCH=1`, get the following segfault when running with Tensorflow Keras:

[code]

[2020-01-21 04:05] tgaddair commented on #1678
Hey @aaron276h, this issue looks similar to #1171.  Have you taken a look at the suggestions described there?

Also, since you mentioned `HOROVOD_WITH_PYTORCH=1`, can you confirm whether this issue happens if you do not set that flag at install time?

[2020-01-21 11:39] feevos opened #1679 "DUPLICATE_NAME_ERROR when training a GAN system with mxnet"
Dear all,

I am trying to train a "modified" GAN system, based on mxnet. It is basically a domain adaptation problem, where there are two networks, say a Generator G, and a discriminator T.  The whole training process is wrapped in a class, where it holds the trainers and the networks. This is a portion of the code where I define relative horovod+mxnet functions/trainers etc:

[code]

and this is

[2020-01-21 14:46] aaron276h commented on #1678
Hey @tgaddair, yep took a look at #1171, doesn't seem like any of those fixes work for us. I build Horovod by pointing it a our locally built version of NCCL (which nearly identical to the upstream version):

[code]

I did try also not including `HOROVOD_WITHOUT_PYTORCH=1` and for cases where PyTorch is not installed I am able to reproduce the error. When it is installed everything works as expect

[2020-01-21 16:08] tgaddair commented on #1678
Hey @aaron276h, what version of Horovod are you building off of?  You referenced commit 1c6dd68a990f7bdc992ef2f1438d81d7c537f5f8, but that doesn't appear to be a valid commit to master.  Are you working off a different branch?

[2020-01-21 16:24] aaron276h commented on #1678
Hey @tgaddair, sorry about that confusion, that commit is in fact from our fork of the repo (don't believe any changes we added on are causing this issue). We are going off of horovod commit: `38e91bee84efbb5b563a4928027a75dc3974633b`.

I will test this with the v0.19.0 to see if this issue goes away.

[2020-01-21 16:31] sonNeturo opened #1680 "Help running the examples provided"
**Environment:**
1. Framework: pytorch
2. Framework version: 1.3.1
3. Horovod version: 0.19.0
4. MPI version: 4.0.1
5. CUDA version: V10.0.130
6. NCCL version: 2.3 I guess, since it's a google VM
7. Python version: Python 3.6.10
8. OS and version: Debian GNU/Linux 9 (stretch)
9. GCC version: g++ (Debian 6.3.0-18+deb9u1)

where running `python horovod/examples/pytorch_mnist.py`

I get the following

[2020-01-21 16:37] #1680 closed

[2020-01-21 16:38] sonNeturo commented on #1680
nvm it looks like it's because I had installed libopenmpi-dev.

[2020-01-21 16:47] tgaddair commented on #1677
Hey @brandon-biggs, were you able to resolve the issue by recompiling MPI?  I agree that the behavior is not identical to running `mpirun --hostfile, but I'm hesitant to add more complexity to the code by changing the behavior without understanding where the difference in behavior is coming from.  @nvcastet or @romerojosh, are you familiar enough with the underlying workings of MPI to know if ther

[2020-01-21 16:48] aaron276h commented on #1678
@tgaddair I confirmed that the issue is reproducible with commit: `1a805d9b20224069b294f361e47f5d9b55f426ff`.

[2020-01-21 16:53] tgaddair commented on #1676
Hey @Tixxx, can you help with looking into this issue?

[2020-01-21 17:26] karan6181 opened #1681 "Incompatible pickle cache support on Python 2.7"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.5.1
3. Horovod version: 0.19.0
4. MPI version: 3.1.0
5. CUDA version: 10.0
6. NCCL version: 2.4.8
7. Python version: 2.7
8. OS and version: Ubuntu 16.04
9. GCC version: 5.4.0

I was trying to install and run horovod with MXNet backend on a linux machine(EC2_GPU) with python 2.7. I was able to install horovod successfully but unable to ru

[2020-01-21 17:29] tgaddair commented on #1681
@abditag2, can you take a look?  Basically, a cache created with Python 3.6 cannot be loaded by a Python 2.7 interpreter.  We should handle this gracefully by evicting / ignoring the cache in this instance.

[2020-01-21 17:49] nvcastet commented on #1677
@tgaddair @brandon-biggs In the past, I have seen different behavior between `-H` and `--rankfile` and saw that Open MPI had a separate logic for both code paths. I would not be surprise if for legacy reason, there is also a different behavior with `--hostfile` in same cases.
@brandon-biggs We could probably call `--hostfile` with horovodrun but it would be nice if you could share with us a specif

[2020-01-21 18:47] abditag2 commented on #1681
This should fix it: https://github.com/horovod/horovod/pull/1682

[2020-01-21 23:15] tgaddair commented on #1681
Fixed by #1682.

[2020-01-21 23:15] #1681 closed

[2020-01-22 00:01] sto-chastic opened #1684 "tcp_peer_send_blocking broken pipe"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.4
3. Horovod version: 0.19
4. MPI version: 1.10.2
5. CUDA version: 10.0
6. NCCL version:  2.4.2
7. Python version: 3.5
8. OS and version: Ubuntu 16.04
9. GCC version: 7.4.0

I have the same docker environment running on two different machines in my network. I can successfully ssh between the two docker containers (from one to the other

[2020-01-22 01:42] rosrad commented on #1653
hi @tgaddair  and @PANXiao1994

I have observed the similar trend that the adasum do not convert to a better point
I have done a comparison experiment with 3 differernt setting
with avg, adasum, adasum with lr*hvd.local_sie
the experiment are trained in the same 1x4 gpus
I found that
1. with the same lr, the adasum do not convert to a better point
2. enlarge the lr by hvd.local_size(), the adasum

[2020-01-22 02:29] rosrad commented on #1667
hi @tgaddair and @PANXiao1994

I have observed the similar trend that the adasum do not convert to a better point
I have done a comparison experiment with 3 differernt setting
with avg, adasum, adasum with lr*hvd.local_sie
the experiment are trained in the same 1x4 gpus
I found that

with the same lr, the adasum do not convert to a better point
enlarge the lr by hvd.local_size(), the adasum do not

[2020-01-22 04:40] Tixxx commented on #1676
Hi @PANXiao1994, yes the purpose of using `backward_passes_per_step` is to reduce the number of allreduce communications by accumulating gradients computed from `backward_passes_per_step` number of back-props per GPU, so we don't actually need to consider global step in this case.  Users will also need to call optimizer.step() every `backward_passes_per_step` number of minibatches to make this wor

[2020-01-22 06:08] feevos commented on #1679
Some additional info: the problem appears only when I request Generator and Discriminator to live in different contexts (i.e. gpus). In this case, neither setting ```grad_req```  to 'null' (as suggested in #784) worked or solved the problem.  If I manage to fit both Generator and Discriminator on the same GPU everything is running fine.

[2020-01-22 15:31] sonNeturo opened #1685 "Can't run examples"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Pytorch
2. Framework version: 1.4.0
3. Horovod version: 0.19.0
4. MPI version: 4.0.1
5. CUDA version: 10.1
6. NCCL version: 2.? (pre installed on google deep learning images)
7. Python version: 3.6
8. OS and version: Debian GNU/Linux 9 (stretch)
9. GCC version: 6.3.0

**Checklist:**
1. Did you search issues to find if somebody aske

[2020-01-22 17:16] Tixxx commented on #1667
Hi @PANXiao1994, trying to understand your experiments better. In your experiment 1, are you saying the total time to convergence is the same between local_size=8 and local_size=1?
For your experiment 2 where you use 8 gradient accumulations for Adasum, have you measured total time to convergence too? With 8 local accumulations Adasum is essentially doing way less communications than Averaging so

[2020-01-22 17:18] Tixxx commented on #1667
Hi @rosrad Was your experiment run with Horovod compiled with `HOROVOD_GPU_ALLREDUCE=NCCL`?

[2020-01-22 18:18] apeforest commented on #1635
Thanks @tgaddair for answering. @chandana1332 Please let me know if this answers your question and feel free to reopen if more clarification is needed.

[2020-01-22 18:18] #1635 closed

[2020-01-22 19:09] abditag2 commented on #1667
If your batch size per GPU is `bs1, to set your decay_step_scale, you can use `bs*num_gpus` as your batch size for average and `bs*num_local_gpus` in the Adasum case (assuming all your workers have same local size). This will make sure you have compatible learning rates.

[2020-01-22 20:08] oakkas commented on #1344
Any resolution yet?

[2020-01-22 20:13] oakkas commented on #465
Any resolution yet?

[2020-01-23 01:10] tgaddair commented on #1684
Hey @sto-chastic, have you tried running with `horovodrun` instead of `mpirun`?  It simplifies a lot of the process of finding the right arguments to `mpirun`.

Alternatively, can you try running `ifconfig` on each machine and ensuring that network interfaces are the same.  If not, try excluding the ones that do not overlap with `-mca btl_tcp_if_exclude`.

It also seems you're using an old version

[2020-01-23 01:26] tgaddair commented on #1685
Hey @sonNeturo, looks like MPI is not properly installed on your machine.  Can you try taking a look at the suggestions here: https://stackoverflow.com/questions/36156822/error-when-starting-open-mpi-in-mpi-init-via-python then reinstalling Horovod?

[2020-01-23 04:23] sto-chastic commented on #1684
Hello @tgaddair, I did indeed solved this issue by upgrading MPI, and adding "--network=host" parameter when running the docker container.
However, I know face another issue which is that my hvd.local_rank() is always 0, no matter the slots or the number of processes. Do you have some idea of what I could try?

[2020-01-23 04:24] #1684 closed

[2020-01-23 06:15] sto-chastic opened #1686 "hvd.local_rank() is always 0"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.4
3. Horovod version: 0.19
4. MPI version: 1.10.2 OR 4.0. (tested both)
5. CUDA version: 10.0
6. NCCL version: 2.4.2
7. Python version: 3.5
8. OS and version: Ubuntu 16.04
9. GCC version: 7.4.0

When I run `mpirun --hostfile hostfile_horovod -mca plm_rsh_args "-p 8022" python3 small_test.py`, which prints `print(hvd.local_rank())`, I a