[2019-01-10 15:31] gganes3 commented on #747
Yes MPI ver. 4.0 on both servers.
Yes, I am running it using TCP and made sure it is configured properly.

[2019-01-10 20:14] weiwenjiang opened #748 "Mismatched ALLREDUCE CPU/GPU"
I have 4 nodes, each with 2 GPUs.

Nodes 1-3 work smoothly, the 4th node can work well independently using itself 2 GPUs.
But when the 4th node work with others, errors come out. It reports the error of "Mismatched ALLREDUCE CPU/GPU", as follows.

[1,1]<stderr>:tensorflow.python.framework.errors_impl.FailedPreconditionError: Mismatched ALLREDUCE CPU/GPU device selection: One rank specified device

[2019-01-11 01:26] harishkool opened #749 "Horovod is not picking the right GPU"
I have 2 servers (for e.g., server1 and server2) both has 2 GPUs, I am trying to run my experiment from server1 to run it on server2. The thing is server1 has GPU 1 free and server2 has GPU 0 free, so when I am running my experiment from server1 to run on server2 it is always picking the GPU 1 of server2. I have set CUDA_VISIBLE_DEVICES, tried setting the variable in many different ways even thoug

[2019-01-11 05:44] gganes3 commented on #747
I am using this link to set up MPI cluster configuration.
http://mpitutorial.com/tutorials/running-an-mpi-cluster-within-a-lan/
Is this the right one? Pls help.

[2019-01-11 12:56] mgoundge11 commented on #734
Hi @alsrgv Actually I'm able set up the two machine with password less ssh, mpi 4.0 configuration.
I run the following command
 mpirun --prefix /home/ges/openmpi -np 2 -H server1:1,server2:1 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl_tcp_if_include enp0s31f6 -x NCCL_SOCKET_IFNAME=enp0s31f6 python3 horovod_keras_mnist.py

I changed only Adadelta o

[2019-01-12 05:34] jackalcooper opened #750 "Hovorod hangs when ssh is passwordless and docker interface excluded"
Here is my command:
[code]
MPI:
[code]
Interfaces:
[code]

[2019-01-12 05:38] jackalcooper commented on #750
I can ssh to either of the hosts by running `ssh [IP ADDRESS]` and there is no output when running mpirun command.

[2019-01-13 01:41] scotthuang1989 commented on #504
@alsrgv  I upgrade Open MPI from 3.0.0 to 4.0.0, it works.  Do you have any luck identify the root cause of this issue?

[2019-01-13 04:15] alsrgv commented on #504
@scotthuang1989, no - we just recommend installing Open MPI 3.1.2 or 4.0.0 at this point.

[2019-01-13 05:30] alsrgv commented on #734
@mgoundge11, great!  Could you make [a gist](https://gist.github.com) with the full script output?

[2019-01-13 05:31] alsrgv commented on #747
@gganes3, can you check if this helps - https://github.com/uber/horovod/blob/master/docs/running.md#hangs-due-to-non-routed-network-interfaces ?

[2019-01-13 05:33] alsrgv commented on #749
@harishkool, is it working correctly if you run the experiment directly from server2?  Can you check with `nvidia-smi` which GPUs are being used by the program (just one, or all of them)?

[2019-01-13 05:35] alsrgv commented on #748
@weiwenjiang, can you run `nvidia-smi` on all machines during the failure, to see which processes are bound to which GPUs?  Also, can you check `dmesg` (kernel log) on 4th node after the failure?

[2019-01-13 05:36] alsrgv commented on #746
@UditGupta10, can you give an estimate of the amount of memory required to fit the embedding?

[2019-01-13 05:38] alsrgv commented on #743
@ustcyue, can you share the log of NCCL messages during the run (use `NCCL_DEBUG=INFO`) and the output of `ifconfig` for us to understand the context better?

[2019-01-13 05:41] alsrgv commented on #742
@YeYuanS, can you check if discussion in #297 helps?

[2019-01-13 05:45] alsrgv commented on #155
@libliang, `bdist_wheel` will build you a wheel file on that can be installed on a server with exactly the same build flags (e.g. HOROVOD_GPU_ALLREDUCE) and version of TensorFlow, MPI, CUDA, and NCCL as the server you built the wheel on.

`sdist` provides source tarball that you can install on a target server with build flags and versions of dependencies available on the server that you're install

[2019-01-13 05:46] UditGupta10 commented on #746
Somewhere in the range of 30-40 GB.

[2019-01-14 09:49] sudheerExperiments commented on #249
@alsrgv, sure I will try it out and will let you know how it goes.

[2019-01-14 13:30] mr-ubik opened #752 "Extreme Performance Decrease when scaling with multiple machines"
Having cloned the repository and run the `build-docker-images.sh` script I proceeded to run both PyTorch and TensorFlow synthetic benchmarks.

On a dual 1080 Ti machine I obtain circa 171 img/sec GPU.

If I try and distribute the workload using an identical machine (following the "Running with Docker example") suddenly the computation becomes 10x slower.

Is this related to #221?

[2019-01-14 23:01] alsrgv commented on #249
@sudheerExperiments, can you try checking out a new copy of https://github.com/tensorflow/benchmarks?  I can successfully checkout or reset to `4d8aa531132d5b144750c1a48c7c8a29cc0eba6a:  HEAD is now at 4d8aa53 Allow --gradient_repacking, --compact_gradient_transfer, and --variable_consistency to work independently of --hierarchical_copy and each other, Part 1.`

[2019-01-15 02:32] harishkool commented on #749
sorry I have to take it back some of things from above.....I am actually facing error whenever I tried to run on two servers.
PFB details for the error:
Local abort before MPI_INIT completed successfully; not able to aggregate error messages, and not able to guarantee that all other processes were killed!

I am getting this error whenever I am trying to run my experiments from server1 on server2.

[2019-01-15 05:58] UditGupta10 opened #757 "not displaying timeline"
Hi, I followed the instructions to get horovod timeline and write it to a json file as mentioned in readme. I copy the file from server to my local computer and display using chrome/tracing. This is what i get.
![capture](https://user-images.githubusercontent.com/18660215/51161406-47d98e80-18b8-11e9-948e-ef3df378e519.PNG)
Why is it not showing details?

[2019-01-15 07:05] shliang0603 opened #758 "Install environment for Windows"
Does the horovor support installing in windows 10 environment ?
I Install in my windows 10 PC， but return the error for following:

C:\Users\93176>pip install -i https://pypi.tuna.tsinghua.edu.cn/simple horovod
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting horovod
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/17/1a/3e836e3f659d3b331afcb679f84c46c8d489c2b8c21b1d

[2019-01-15 07:16] #757 closed

[2019-01-15 07:46] shellhue opened #760 "runing horovod across multi machine shows bash: orted: command not found"
running horovod by commands below just on local machine works very well.
[code]
But runing horovod across multi machines by commands below shows error.
[code]

The error on one mathine is:
[code]
The error on the other is:
[code]
### **Environments:**

**1.  openmpi**
openmpi on both machine is installed by running commands
[code]
openmpi path is added to .bashrc

**2. ncc**
ncc on both machine is

[2019-01-15 10:05] ustcyue commented on #743
@alsrgv these info looks normal, I am running on a k8s cluster. Somehow after I set NCCL_MIN_NRINGS to 4, it is much faster. I remember that you mentioned using multiple rings will help with many nodes. I am surprised it make such a big difference on two nodes.

[2019-01-15 14:19] tsmolcic opened #761 "horovod with pytorch produces seg fault"
Hi.

I have a problem running Horovod PyTorch examples from Horovod git.

mpirun flags used to run:
```-bind-to none -x NCCL_DEBUG=INFO -mca pml ob1 -mca btl ^openib python3.5 horovod/examples/pytorch_mnist.py```

My system: CentOS 7, CUDA 10.0, NCCL 2.3.5, Horovod 0.15.2, PyTorch 1.0.0

Horovod is installed with
`HOROVOD_NCCL_HOME=/apps/nvidia/nccl/nccl_2.3.5-2+cuda10.0_x86_64 HOROVOD_GPU_ALLREDU

[2019-01-15 16:51] sudheerExperiments commented on #249
Thanks @alsrgv, its working now.

[2019-01-15 16:56] alsrgv commented on #761
@tsmolcic, to narrow down the problem, are you using workers in DataLoader in your PyTorch script?  Does the error disappear if you set workers to 0?

[2019-01-15 16:57] alsrgv commented on #743
@ustcyue, I'd need to see the NCCL and ifconfig output to provide further feedback.

[2019-01-15 17:00] alsrgv commented on #758
@shliang0603, we have not tried, but if you succeed, please publish a tutorial!

[2019-01-15 19:33] jianyinglang opened #763 "How does Horovod guarantee the allreduce call order across different ranks are the same for different tensors?"
For two different ranks, each rank could have different tensor call orders of the Allreduce. For example:
Rank0                                         Rank1
Allreduce(Tensor1)                  Allreduce(Tensor2)
Allreduce(Tensor2)                 Allreduce(Tensor3)
Allreduce(Tensor3)                 Allreduce(Tensor4)
Allreduce(Tensor4)                 Allreduce(Tensor1)
This different execution

[2019-01-15 19:55] lminer commented on #708
@alsrgv I tried your suggestion and it didn't change anything. Any other ideas?

[2019-01-16 01:00] tgaddair commented on #731
Hey @mwoodson1, one issue that can arise when freezing graphs with Horovod ops is that Horovod needs to be imported in order for the graph to deserialize properly.  Not sure if this is the exact issue in your case, but can you try running your freeze command as a script and `import horovod.tensorflow`?

For example, here's a simple example for the `tensorflow_mnist.py` example:

[code]

[2019-01-16 01:02] tgaddair commented on #740
Hey @lostemples, one issue that can arise when deserializing graphs with Horovod ops is that Horovod needs to be imported in order for the graph to deserialize properly. Not sure if this is the exact issue in your case, but do you `import horovod.tensorflow` somewhere in your script that's attempting to optimize your model?

[2019-01-16 01:07] tgaddair commented on #763
Hey @jianyinglang, Horovod has rank 0 act as a "coordinator" for the allreduce process.  All other ranks report in which tensors they're ready to reduce, and based on that information, the coordinator decides which tensors are going to be reduced in what order.

See [operations.cc](https://github.com/uber/horovod/blob/master/horovod/common/operations.cc#L2117) for more details.

[2019-01-16 05:20] gganes3 commented on #747
I checked that. Still no luck.
At the end, got this error " include/socket.h:196 WARN Connection closed by remote peer".

Just checking whether https://id-vision.net/detail/how-to-install-openmpi-on-linux-QIMAu_o_5V8.html is the right link to install openmpi?

[2019-01-16 07:11] UditGupta10 opened #764 "Horovod timeline inference"
Hi, I am using the Timeline to gain insights about the performance bottlenecks. I am getting this
![capture](https://user-images.githubusercontent.com/18660215/51231193-a66e3d80-1988-11e9-8026-ff9fbb1f9f7c.PNG)
The zoomed in version is shown below.
![capture1](https://user-images.githubusercontent.com/18660215/51231890-0bc32e00-198b-11e9-9d2c-f46eb10036c0.PNG)

I have following queries:
1. What's

[2019-01-16 07:20] tsmolcic commented on #761
@alsrgv I was using the original horovod example script, `pytorch_mnist.py`. I tried setting `num_workers = 0`, but I get the same error.

[2019-01-16 09:43] yamajik opened #765 "hvd.broadcast_parameters hangs on multi gpu nodes"
hvd.broadcast_parameters hangs on multi gpu nodes(pytorch 1.0.0)

but, distributed training on single gpu nodes in multi processes is fine.

[2019-01-16 15:11] ustcyue commented on #743
@alsrgv Thanks for your help, I am going to close the issue since network is no longer the issue for us now.

[2019-01-16 15:11] #743 closed

[2019-01-16 15:17] ustcyue opened #766 "Is it possible to let horovod processes on one node share the same input function?"
I am running horovod on multiple nodes, with 10 cards on each node. Since horovod started one process for each GPU card, it created 10 input function instance, this created some trouble for me since each of my input function will take lots of memory.

Is it possible to let all GPUs on the same node share the same input function? I am using estimator API.

[2019-01-16 15:47] jaliyae opened #767 "Horovod with latest PyTorch src"
Hi,

I tried using Horovod with the current PyTorch src build and noticed the following error in all PyTorch samples, which seems to need an update to the horovod/torch. Is this a known issue?
[code]
Thank you

[2019-01-16 18:30] jianyinglang commented on #763
Thanks @tgaddair ! I will check it for more details.

[2019-01-16 19:55] alsrgv commented on #767
@jaliyae, could you install Horovod from master:
[code]

[2019-01-16 19:57] alsrgv commented on #766
@ustcyue, we generally recommend having each process behave as a separate single-GPU model trainer.  As such, it needs to have input pipeline.  Is it possible to make input pipeline lighter?  E.g., use shallow prefetch buffer or shard data stored in memory?

[2019-01-16 23:40] ustcyue commented on #766
Hi Alex, it is difficult to change because my input pipeline uses a third
party library.

I am thinking whether it is possible to let local rank 0 read all the data
and send to each process using mpipy?

On Thu, 17 Jan 2019 at 03:57, Alex Sergeev <notifications@github.com> wrote:

--

Xiaoning Yue

Mail: ustcyue@gmail.com

[2019-01-17 01:11] jaliyae commented on #767
@alsrgv It worked with the build from master as you mentioned. Thank you!

[2019-01-17 01:11] #767 closed

[2019-01-17 04:42] alsrgv commented on #766
@ustcyue, it should be possible - but I'd imagine will require extra work.

[2019-01-17 06:47] shellhue commented on #760
Installing Open MPI with `--prefix=/usr` solves the problem.

[2019-01-17 06:48] #760 closed

[2019-01-17 08:53] jasstionzyf commented on #672
i also face same issues, currently i have two gpu, then i run, each gpu's step is not same.   what you means by saying ' I just applied tf.gradients for each woker '  can you paste some code?  currently my code as followers:
` opt = tf.train.AdamOptimizer(learning_rate * hvd.size(), beta1=0.9, beta2=0.999, epsilon=0.1)

    # Op to calculate every variable gradient
    grads = tf.gradients(total_l

[2019-01-18 02:46] yamajik commented on #765
mpi non-routed interface problem

[2019-01-18 02:46] #765 closed

[2019-01-18 12:02] hujie-frank commented on #716
I meet the same problem.

[2019-01-18 16:48] #766 closed

[2019-01-18 20:02] YeYuanS commented on #742
@alsrgv

[2019-01-18 20:02] #742 closed

[2019-01-19 00:34] alsrgv commented on #752
@mr-ubik, if I understand correctly, once you run Horovod across two machines using Docker, performance drops by 10x?  Can you tell us more about your network setup?

[2019-01-19 04:46] sarunyap opened #770 "Address out of bounds"
I have the address out of bounds problem (segmentation fault) with Horovod 0.15.2 when running on large process count (using CPUs only).  I use 4096 processes to run my TensorFlow benchmark on 128 nodes.

Segmentation fault happens when it is trying to do `DistributedLARSOptimizer_Allreduce/HorovodAllreduce_gradients_AddN_0`

Here is the stack trace from the core file:

[code]

Do you know how can

[2019-01-19 05:06] sarunyap commented on #687
@billy19murahmi @alsrgv Hi guys, what is the problem with data sharding in this case?

[2019-01-20 01:45] Jeffwan commented on #396
@wskinner Looks like you submit you job on kubernetes?  How do you setup different environments? Manually or some scripts to build up environments?

[2019-01-20 02:34] darchonyzx opened #773 "Does Horovod means the larger batchsize like the ordinary distributed Tensorflow?"

[2019-01-21 03:36] amazingyyc commented on #736
print the time again, and find it does not take a lot of time.
close the issue.

[2019-01-21 03:36] #736 closed

[2019-01-21 09:20] mr-ubik commented on #752
Yes, the same 10x drop happens both when using Docker and manual installation. By the looks of it, it is probably due to our network being a normal 1GbE.

[2019-01-21 09:22] mr-ubik commented on #773
Since the documentation says to change the learning rate to compensate for the batch size increase, I would hazard a yes.

[2019-01-21 09:30] mr-ubik commented on #737
@alsrgv I have recently released a small article detailing my experience with the library. While I criticize some of the shortcomings I have seen I really love the library and am actively recommending around, if you think that it could be useful as a resource, I am linking it here for reference. [Horovod: the Good, the Bad, the Ugly](https://essays.ubik.tech/machine-learning/horovod_the_good_the_b

[2019-01-22 07:35] ziyangli commented on #93
I don't see why this question is marked as solved. In fact I have similar requirements. That is my single training script will use all 8 GPUs on one server. Is it possible for me to use horovod to extend this to more than one servers?

[2019-01-22 13:23] lakshmiumenon opened #774 "TypeError: DistributedOptimizer() got an unexpected keyword argument 'backward_passesper_step"
Getting the following  error while running pytorch_imagenet_resnet50.py

File "pytorch_imagenet_resnet50.py", line 143, in <module>
    backward_passesper_step=args.batches_per_allreduce)
TypeError: DistributedOptimizer() got an unexpected keyword argument 'backward_passesper_step'

[2019-01-22 13:33] blessengeorge commented on #676
In your output.log file, I find the following from line 192.

[code]

What this means is that the Graph was initialized using by mapping onto GPU 0. As mentioned by @zqlai
the code to pin TF to a specific GPU is executed late. So after the initial mapping, changes are not permitted.

Generally, what happens is something of the following form takes place:

[code]

The first line creates the graph w

[2019-01-22 16:25] Fernando189 commented on #758
Is there no Windows-compatible MPI that allows for the mpicxx -show (or any mpicxx command) to be ran? I have been running into a multitude of issues while trying to install horovod on my Windows 10 OS. Currently, I have MSMPI (Microsoft's MPI application) but it seems there are some compatibility issues when installing horovod (through the pip install horovod command) from the command prompt (the

[2019-01-22 17:10] tgaddair commented on #774
Hey @lakshmiumenon, the parameter should be `backward_passes_per_step` with an additional underscore.  That's one possible cause of this error (assuming that wasn't just a transcription error).

That parameter was added very recently, and those changes haven't yet been packaged into a release yet, so it's possible that your installed version of Horovod is behind the version of the examples you're

[2019-01-22 19:41] lkmokadam commented on #308
@alexhagen I am using horovod on SummitDev with 16 GPUs. How are you allocating resource sets?

[2019-01-23 03:11] ziyangli commented on #93
I think I didn't make myself clear, but I find answer to my question from this issue. https://github.com/uber/horovod/issues/102

[2019-01-23 06:11] lakshmiumenon commented on #774
Thank you...

[2019-01-23 06:11] #774 closed

[2019-01-23 14:08] vangogh0318 commented on #748
hi， I got the same error.
FailedPreconditionError (see above for traceback): Mismatched ALLREDUCE CPU/GPU device selection: One rank specified device GPU, but another rank specified device CPU.

here is dmseg log.
[6121872.630355] nvidia 0000:85:00.0: irq 169 for MSI/MSI-X
[6123097.816649] python[10754]: segfault at 0 ip 00007f636f912216 sp 00007f6231ff9490 error 4 in _pywrap_tensorflow_internal.s

[2019-01-23 15:44] alexhagen commented on #308
@lkmokadam Do you mind sharing a bsub script and a simple python file for you using horovod on SummitDev?  Thanks.

[2019-01-23 22:50] makseq commented on #747
Maybe you are not follow rules about ssh - it must not have password and any asks at the ssh login..

[2019-01-24 03:43] soyuutaku opened #776 "Failed to install from source with MXNet enabled"
When I try to install horovod from source with only MxNet enable, I got an error.

How can i fix this?

Here is my Docker file:
[code]

And the error info is:
[code]

[2019-01-24 04:02] ustcyue opened #777 "horovod hang after a few hours"
Hi, I launched a four worker horovod training job using [k8s mpi-operator](https://github.com/kubeflow/mpi-operator). It runs normal for three hours and then hanged. the last output in log is:
![image](https://user-images.githubusercontent.com/2103334/51652836-f8881200-1fcb-11e9-937b-46d65fe3ae62.png)
Then there is no more output in the log and no checkpoint saving. But GPUs on all worker are stil

[2019-01-24 05:10] alsrgv commented on #777
@ustcyue, this looks like an intermittent network issue and/or node failure.  Did you observe either from your log?  Also, could you try upgrading NCCL to latest?  Technically, it should fail once there is a communication issue instead of locking down.

[2019-01-24 06:21] ustcyue commented on #777
@alsrgv I haven't seen any sign of node failure or network issue. I will try upgrade NCCL.

[2019-01-24 06:47] GoodJoey commented on #776
is there an existing Docker image(or Dockerfile) which i can run mxnet with horovod?

[2019-01-24 06:47] alsrgv commented on #776
Not yet.  We will add it to the official Dockerfile shortly.

[2019-01-24 06:50] GoodJoey commented on #776
Great!

[2019-01-24 09:47] mgoundge11 commented on #734
hi @alsrgv thanks. I am able to run the keras_mnist example on the two systems with single gpu each.
I kept same data and source code in both systems but I'm unable understand how it's using data for training from each system and its taking more time than single machine training?
how to data parallelism works in horovod can u pls explain ?

[2019-01-25 01:37] Jeffwan opened #779 "Very Slow running with ResNet50 using real dataset"
I am testing ResNet50 using synthetic data and real dataset. Now I experience two issues.

1. For synthetic data, scaling efficiency can not hit 90% if I use > 4 nodes. Anything I can optimize?
2. For real data, performance is really bad, just ~200-300 images/second, I use EFS and I don't think that's the problem of storage, I tried host storage and it's same result.  I am trying to understand why

[2019-01-25 02:35] tgaddair commented on #773
@darchonyzx, I'm not sure which distributed TensorFlow policy you're referring to.  In your script, the batch size is going to be given per-device.  So in your case: 8.  However, the _effective_ batch size will be 32 because you're running 4 processes and aggregating the results.

[2019-01-25 02:50] tgaddair commented on #770
Hey @sarunyap, not immediately sure, it appears that when attempting to deserialize an MPI message, the call to get a tensor name [here](https://github.com/uber/horovod/blob/v0.15.2/horovod/common/mpi_message.cc#L292) fails by attempting to access a null pointer [here](https://github.com/uber/horovod/blob/v0.15.2/horovod/common/wire/flatbuffers/flatbuffers.h#L476).

Is this something that occurs c

[2019-01-25 03:05] soyuutaku commented on #776
@alsrgv, Your suggestion works. Thanks a lot!

I have noticed that OpenMPI 3.1.3 have some issues, will use 4.0.0.

[2019-01-25 03:05] #776 closed

[2019-01-25 07:37] qiang13568 opened #781 "unable to start horovod"
I am using a Ubuntu machine with 3 GPUs. when I try to run the example  tensorflow-mnist.py, I  have some trouble as following,

![image](https://user-images.githubusercontent.com/18524705/51732965-e46f0e00-20ba-11e9-8937-87a528d12682.png)
![image](https://user-images.githubusercontent.com/18524705/51732988-f0f36680-20ba-11e9-86d5-3f7da8c32312.png)

all environments have been installed,including N

[2019-01-25 08:06] qiang13568 commented on #781
I directly copied and pasted the text with typesetting problems, so I pasted it into word and sent out the screenshot.

[2019-01-25 08:08] tsmolcic commented on #781
How did you install Horovod?
Have you tried what the error output says, reinstall Horovod with `HOROVOD_WITH_TENSORFLOW=True`?

[2019-01-25 08:14] qiang13568 commented on #781
@tsmolcic
yes, have installed horovod successfully. I am reinstalling Horovod immediately

[2019-01-25 13:11] qiang13568 commented on #781
@tsmolcic
after I have finished what the console suggested, run as following , nothing happens,so that must Ctrl+c to kill it

[2019-01-25 13:15] qiang13568 commented on #781
@tsmolcic
after I have finished what the console suggested, run as following , nothing happens,so that must Ctrl+c to kill it

mpirun -np 3 \
    -H localhost:3 \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH \
    -mca pml ob1 -mca btl ^openib \
    python3 tensorflow_mnist.py

[2019-01-25 15:12] tsmolcic commented on #781
The second command doesn't run your code on 3 GPU-s, rather only on one.

Can you paste the full command you used to install Horovod?

[2019-01-25 22:43] sarunyap commented on #770
Thanks for replying, @tgaddair

It happens consistently (every time) when training on 128 nodes using 4096 processes.

Message size is 16549 when Horovod fails.

[2019-01-25 23:00] xinli94 opened #783 "Install horovod with pytorch only"
Hi,

I am trying to build dockerfile, in which I want to install horovod with **cuda10** and **pytorch only**. But it looks like even if I set `HOROVOD_WITH_TENSORFLOW=0`, tensorflow is still required at some point. Is it possible to turn off any tensorflow related requirements?

For your information:
RTX does not work with cuda9 well, and cuda10 breaks tensorflow. That's why I want pytorch-only h

[2019-01-25 23:12] xinli94 commented on #783
Sorry I already fixed my dockerfile: just set `HOROVOD_WITHOUT_TENSORFLOW=1` and it works..

[2019-01-25 23:12] #783 closed

[2019-01-26 03:19] hughplay opened #784 "DUPLICATE_NAME_ERROR when training GAN"
There is no problem with this great framework while training a normal model.

But yesterday when I attempt to train a GAN, Horovod raise RuntimeError.

I guess two optimizers are conflicted.

[code]

And I found this error is defined as `DUPLICATE_NAME_ERROR ` in [horovod/horovod/common/operations.cc](https://github.com/uber/horovod/blob/c314949a60fca30674388b69e730c83b79d22ff5/horovod/common/oper

[2019-01-26 06:17] alsrgv commented on #784
@hughplay, I suspect that the issue is here:
[code]

Do you intend this step to train both generator and discriminator?  If not, you need to detach generator outputs, or [flip `requires_grad_`](https://github.com/uber/horovod/blob/master/test/test_torch.py#L1182).

If you do intend to train both of them concurrently, you'll need to make sure that variable names of generator and discriminator do no

[2019-01-26 06:18] alsrgv commented on #770
@sarunyap, which version of MPI are you using?  Is it possible to try Open MPI 3.1.2 or 4.0.0?

[2019-01-26 06:20] alsrgv commented on #781
In addition, could you try recommendations from https://github.com/uber/horovod/blob/master/docs/running.md ?

[2019-01-26 11:15] vangogh0318 opened #785 "tensorflow_mnist_estimator run false : ncclCommInitRank failed: unhandled cuda error"
I have two machine : server1, server2. I want to run example in two machine.
but, I got error. ncclCommInitRank failed: unhandled cuda error.

my script is here:

export CUDA_VISIBLE_DEVICES=2,3

mpirun -np 2 \
    -H server1:1,server2:1 \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH \
    -mca pml ob1 -mca btl ^openib \
    /export/homes/XXX/software/tools/an

[2019-01-26 19:59] sarunyap commented on #770
@alsrgv I'm using Intel MPI 2019.  Are you suggesting that it is an MPI bug?  I could try Open MPI 3.1.2, but I won't be able to try that until next week.  Also, have you tested with MPICH or Intel MPI at all?

[2019-01-27 02:32] alsrgv commented on #761
@tsmolcic, could you make a docker image with repro?  That would help a lot.

[2019-01-27 02:42] vangogh0318 commented on #785
@alsrgv  thank you very much. After modify hostname configuration , the demo successed.
it is great.

[2019-01-27 14:26] mx8435 opened #786 "libmpi error"
I run horovod  program in local machine with 6 gpus, but it fail. It seem like the error threw by mpi. Can you give me some advices how to fix it. Thanks.

[good:02773] *** Process received signal ***
[good:02773] Signal: Segmentation fault (11)
[good:02773] Signal code: Invalid permissions (2)
[good:02773] Failing at address: 0x7f1246cb4a00
[good:02776] *** Process received signal ***
[good:02776

[2019-01-27 16:04] hughplay commented on #784
@alsrgv Thank you for you reply.

The code you highlight is to optimize generator.

When optimizing discriminator, I `detach` the `gen_imgs`.

[code]

In fact, the reference code is here: https://github.com/eriklindernoren/PyTorch-GAN/blob/master/implementations/dcgan/dcgan.py

So should I "freeze" discriminator's parameters when backward g_loss? And "unfreeze" it after  `self.generator_optimizer.

[2019-01-28 03:26] soyuutaku opened #787 "Segmentation Fail when running MxNet with horovod"
I install horovod with mxnet only. When running [InsightFace](https://github.com/deepinsight/insightface) with horovod, Got Segmentation Fault as below.

I don't know how to fix this. Is there any one can help?

[code]

MXNet is build from source at commit: 4c88f30.
Horovod is build fromsource at commit: 97fa0cd
My Dockerfile of Image:
[code]

I run InsightFace with command:
[code]

And I port Fac

[2019-01-28 05:54] alsrgv commented on #787
@apeforest @yuxihu @ctcyang, could you take a look?

[2019-01-28 08:03] lakshmiumenon opened #788 "Converting horovod implementation of pytorch imagenet to without horovod"
Hi,

I was trying to convert the pytorch_imagenet_resnet50.py in the examples folder to the code without using horovod to see the performance variation of both.

Could you please let me know what is the significance of t.update(1) in train function and how can I implement the same in a code which doesn't use horovod.

Thank You.

[2019-01-28 08:07] soyuutaku commented on #787
@yuxihu I did try the commit, but with no luck. Backtrace of the SegmentFault as below. I notice that there are 1900+ threads, is that normal?

[code]

[2019-01-28 09:04] crab1234 opened #789 "NCCL connect timeout : Connection refused error"
Hello!
I'm using horovod on 2 dockers from 2 servers. But at last I meet an error and get stuck.
This is the error log:
`e53b7da88fea:2493:2753 [0] misc/ibvwrap.cu:63 NCCL WARN Failed to open libibverbs.so[.1]
e53b7da88fea:2493:2753 [0] NCCL INFO Using internal Network Socket
e53b7da88fea:2493:2753 [0] NCCL INFO NET : Using interface lo:127.0.0.1<0>
e53b7da88fea:2493:2753 [0] NCCL INFO NET : Using

[2019-01-28 09:51] qiang13568 commented on #781
@alsrgv
refer to "Hangs due to non-routed network interfaces", I change the orders

![image](https://user-images.githubusercontent.com/18524705/51827551-a70db900-2324-11e9-931e-ad49c2f4a77d.png)

following are the configuration
![image](https://user-images.githubusercontent.com/18524705/51827653-dae8de80-2324-11e9-8301-013acff09ade.png)

both all failed
Could you give me some advice

[2019-01-28 10:47] mgoundge11 commented on #96
Hi **@alsrgv @Dapid**  I have two systems with single GPU (same gpu's ) each.
Currently I'm made distributed training running using horovod on these systems using data parallelism approach on my own dataset for object detection using keras retinannet.
But I wanted to train retinanet using large batch size. Is model parallelism will be helpful?
If yes, How to do it using horovod?
**Do I need at-lea

[2019-01-28 17:03] yuxihu commented on #787
@soyuutaku This segfault is new to us. Would it be possible to share your complete training script as well as the steps to run the script? We will try to see if we can repro the issue on our side.

[2019-01-28 21:23] jaroslaw-wieczorek opened #790 "How to run model estimator with horovod on more than one docker"
I have a model based on tensorflow estimator and horovod  which I can run on one docker container. Data sets are placed directly in the dock container.  I have implemented a mechanism to divide the training set based on hvd.rank() and hvd.size() and pandas_input_fn.
I try to run my model in more than one container.
Analyzing the examples I'm not sure how to do it.
Does each host contain code with

[2019-01-28 21:44] #528 closed

[2019-01-29 01:39] soyuutaku commented on #787
@yuxihu My trainning code base on [deepinsight/insightface](https://github.com/deepinsight/insightface/commit/67f106645bc4f2ea79a070b2d76fd82dc85d6576).

My modification: [insightface-mpi-port.diff](https://gist.github.com/soyuutaku/9c1e369345225337353c5e975b4947ae)

Startup command:
[code]

[2019-01-29 03:37] HugoPu opened #791 "Fail to install Horovod on Ubuntu 16.04"
I failed to install Horovod on ubuntu 16.04, nccl2 and openmpi4.0 were installed. The following is the error info.
[code]

[2019-01-29 05:47] jw447 opened #792 "Number of GPUs used in training"
I'm trying to run the tensorflow_mnist from [horovod examples](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py). I'm running on centos server with 2 gpus but I think the timeline indicates that only one is being used.

![screen shot 2019-01-29 at 00 43 46](https://user-images.githubusercontent.com/20617304/51886716-f83a9e80-235e-11e9-83ad-7c1d549c9103.png)

However, the lo

[2019-01-29 07:54] HugoPu commented on #791
`pip install horovod` works for me. But when I installed nccl2 and openmpi4.0, there were no errors to display, why can't I use `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod` to install horovod

[2019-01-29 09:14] zxb1489479870 commented on #761
@aladdha-uber , I also have a similary error when I use the latest pytorch to test the example on one **cpu core** , but the mnist example can be run if pytorch downgrade to version 0.4.1. I hope you can reproduce the results according to following steps on Linux:

1. Install OpenMPI as said in https://github.com/uber/horovod#install
2. Install Pytorch: `conda install pytorch-cpu torchvision-cpu -

[2019-01-29 14:39] vilmara commented on #288
Hi @alsrgv, I ran again my tests using distributed horovod, I have 2 nodes 4xV100 each, total of 8 gpus, my question is how can I know all the nodes are communicating via GPUDirect_RDMA?. I see below the trace log but I don't understand why some connections are shown as via  P2P/IPC

[code]

[2019-01-29 19:52] yuxihu commented on #787
@soyuutaku I will give it a try and let you know

[2019-01-29 23:50] yuxihu commented on #787
@soyuutaku can you make your modified complete script (train_softmax.py) available to us? Please also provide all other necessary steps to run your script, like how to get your data. It will help us get to work on the repro faster. The first link points to a README.

[2019-01-30 02:18] hughplay commented on #784
I have resolved this problem after carefully reading the examples and document in source code. :stuck_out_tongue_closed_eyes:

The DUPLICATE_NAME_ERROR raised because I didn't give a correct `named_parameters` to `hvd. DistributedOptimizer `. I passed `model.parameters()` rather than `model.named_parameters()`.

 So when process the line below, both `generator_optimizer` and `discriminator_optimiz

[2019-01-30 02:18] #784 closed

[2019-01-30 02:22] soyuutaku commented on #787
@yuxihu related code and yaml can be found on [this gist](https://gist.github.com/soyuutaku/13d069f2687fc378eef1c01508aeecc7), but you need  [deepinsight/insightface](https://github.com/deepinsight/insightface) project to run, on [this commit](https://github.com/deepinsight/insightface/commit/67f106645bc4f2ea79a070b2d76fd82dc85d6576).

I run the code with [MPI-Operator](https://github.com/kubeflow

[2019-01-30 04:09] hughplay opened #796 "Backward hooks of discriminator parameters are triggered twice when training GAN"
## Background

I'm using Horovod and PyTorch to train a GAN. The key code is showing below and more detail about background can be found in #784 :

Optimizer definition:
[code]
Training:
[code]

The problem is that when run the code above, it will raised Assertion Error:
https://github.com/uber/horovod/blob/42c0977d8ee62060b1d4c25a98b15c9cac85ebef/horovod/torch/__init__.py#L92

This hook is regist

[2019-01-30 04:16] alsrgv commented on #796
@hughplay, it's correct to flip requires_grad like you're doing in the second way to train GAN.  We have a test case demonstrating similar concept here: https://github.com/uber/horovod/blob/master/test/test_torch.py#L1163

The code you're referring to was changed to support multiple backwards passes per `optimizer.step()` - but that's aimed to support local gradient aggregation rather than trainin

[2019-01-30 05:02] #796 closed

[2019-01-30 05:32] alsrgv commented on #791
@HugoPu, you should install with NCCL if you have GPUs.  Can you try upgrading `pip` using `pip install -U pip` while in conda environment, before installing Horovod with `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod`?

[2019-01-30 07:20] Jeffwan opened #797 "Should I use HOROVOD_HIERARCHICAL_ALLREDUCE=1 that will change ring topology?"
1. I notice when I use multiple nodes to distributed train model. The ring topology is different if I use
`HOROVOD_HIERARCHICAL_ALLREDUCE=1`

### With HOROVOD_HIERARCHICAL_ALLREDUCE=1
I have 4 nodes and each one has 8 gpus. Based on my ring setting, I think every node create 12 rings and each of them just use all gpus in that node to form the ring. That's the reason all GPUs has intra communicatio

[2019-01-30 07:33] HugoPu commented on #791
After update pip from 19.0 to 19.0.1, it seems work for me, thank you!

[code]

[2019-01-30 07:34] #791 closed

[2019-01-30 07:40] crab1234 commented on #789
I just solved the problem

[2019-01-30 07:40] #789 closed

[2019-01-30 14:19] lakshmiumenon opened #798 "Issue with horovod timeline"
Hi,

$ HOROVOD_TIMELINE=/path/to/timeline.json mpirun -np 4 -x HOROVOD_TIMELINE python train.py

When I gave the above command,it is giving the following error.
unrecognized argument x

How to resolve this issue?

[2019-01-30 16:11] tgaddair commented on #578
Hey @Jeffwan, to clarify, there are two things we could be talking about when we say "fp16 compression": compression in the model, or compression during allreduce.  If you're running the `tf_cnn_benchmarks.py` script, then what they refer to is compression in the model.  For Horovod, I was referring to compression during allreduce, which you can enable with:

[code]

Usually, compression in the mo

[2019-01-30 18:41] LeanderK opened #799 "training GANs with Horovod"
Hi, I want to train a GAN using horovod and I wonder whether I can just get different step-counters for the discriminator and generator optimizers (I am using different numbers of steps).

My code is (essentially, i can't copy the code since I need to type this on another computer):

[code]

Since I am still not sure how exactly horovod works, I raise this issue to ask whether the approach is ok o

[2019-01-30 20:42] abidmalikwaterloo opened #800 "Installing Horovod with IBM PowerPC"
I am trying to install on HPC machine with POwerPC. I am getting the following error messages:
[code]

[2019-01-30 23:04] rongou commented on #797
Hmm, this is more of a question for @alsrgv, perhaps with `HOROVOD_HIERARCHICAL_ALLREDUCE=1`, Horovod only reduces on a single node using NCCL, and relies on MPI to do allreduce between nodes?

I think this is orthogonal to how mpi-operator operates. You can try to pass in the same command line arguments to your `MPIJob`.

[2019-01-31 01:06] Jeffwan commented on #578
Thanks for clarification, now I get it! This is super helpful. @tgaddair  Thanks!

[2019-01-31 01:30] Jeffwan commented on #797
I update question and details to make it more clear.

[2019-01-31 04:14] RomanMauricio commented on #779
I suggest you check out this talk to get more insight into the network behavior -- https://insidehpc.com/2018/04/amazon-libfabric-case-study-flexible-hpc-infrastructure/

[2019-01-31 16:58] rongou commented on #797
Ring allreduce still uses P2P/IPC to connect within a node, and only uses socket across the node boundaries. As for performance, I don't think one is clear better than the other. It depends on your environment, network interface, and how many GPUs you are using. Best to measure yourself.

As a general rule of thumb, ring allreduce performs better when you have a small number of GPUs (say, < 1024),

[2019-01-31 17:14] renganxu opened #801 "Error when using Horovod and TensorFlow XLA"
I am running Resnet50 model with TensorFlow benchmark, but it has error when XLA is enabled. It works fine if XLA is disabled, but it will be much slower than TensorFlow's parallel execution model. So I wish this issue can be fixed.

Here are the settings for running the benchmark:
**TensorFlow**: nightly built 1.13.0-dev20190113
**Benchmark**: https://github.com/tensorflow/benchmarks with commit

[2019-01-31 19:55] tgaddair commented on #798
Hi @lakshmiumenon, could you paste or screenshot the exact input and output you get from running the command?  I am unable to reproduce the issue with the command you've provided (possibly the arguments are out of order).

[2019-01-31 19:58] tgaddair commented on #792
Hey @jw447, looks like it's working correctly, though I can't say for sure since I don't have access to the entire timeline.  Have you tried checking `nvidia-smi` to verify GPU utilization?

[2019-01-31 20:10] Jeffwan commented on #797
Thanks for the update. Another thing I notice is GPU memory usage is higher for tree allreduce and sometimes it leads to unallocated memory issue.

I think it's pretty clear for me now. I will close this issue. @rongou Appreciate your help.

[2019-01-31 20:10] #797 closed

[2019-01-31 20:14] Jeffwan commented on #798
I experienced this issue in kubernetes. sometimes one line command have have issues, need good arrangement.

I also suggest to use
`mpirun -np 4 -x HOROVOD_TIMELINE=/path/to/timeline.json python train.py` to have a try

[2019-01-31 23:31] karakusc commented on #801
@renganxu, can you try running with the flag `--xla=True` instead of `--xla_compile=True`?

[2019-02-01 00:03] tgaddair commented on #788
Hey @lakshmiumenon, [tqdm](https://github.com/tqdm/tqdm) is just a progress bar to visually track the progress of the training.  It's nothing specific to Horovod.

There shouldn't be any noticeable difference between running the `pytorch_imagenet_resnet50.py` example with and without Horovod, because in the single process case (when you just run `python pytorch_imagenet_resnet50.py`), Horovod will

[2019-02-01 07:53] lakshmiumenon commented on #788
Thank you so much..It worked..

[2019-02-01 07:53] #788 closed

[2019-02-01 07:54] mr-ubik commented on #752
Closing the issue for now.

[2019-02-01 07:54] #752 closed

[2019-02-01 08:19] Jeffwan commented on #547
@cheyang, you may already resolve this issue. Try to use `nload`to have a check of maximum/minimum/average network. That will give a basic idea if it has ever reached limit.

But it's still good to check milliseconds level metrics.

[2019-02-01 17:05] DEKHTIARJonathan opened #802 "How to detect if Horovod is used or Initialized ?"
I want my code to support single and multi GPU.

Q1: How can I test if the script has been launched using `mpirun` thus I should use Horovod ?
Q2: Is there a way to check if HVD has already been initialized (e.g. `hvd.is_init()`)

Thanks a lot

[2019-02-01 17:45] abimur-123 opened #803 "Running horovod spark on local system"
I've been trying to setup horovod with spark from the example mentioned [here](https://github.com/uber/horovod/blob/master/docs/spark.md).

I get the following error when I try to run the `magic_number` function

[code]

I setup a simple Spark session and tried running it on a notebook, but encountered the same error -
[code]

Am I doing something wrong with my setup here?

[2019-02-01 18:40] tgaddair commented on #802
Hey @DEKHTIARJonathan, there may be better ideas out there, but off the top of my head:

1. One way is to check that certain environment variables have been set, as we do in [mpi_env_rank_and_size](https://github.com/uber/horovod/blob/master/test/common.py#L25), but note that these environment variables vary by implementation (for example, `OMPI_COMM_WORLD_RANK` for OpenMPI).
2. You could try call

[2019-02-02 02:46] alsrgv commented on #803
@abimur-123, which version of MPI are you using?  Horovod-in-PySpark currently works exclusively with Open MPI and we recommend 3.1.2 or 4.0.0.

[2019-02-02 03:01] tgaddair commented on #786
Hey @mx8435, could you run `gdb python /path/to/core/dump`, then `thread apply all bt` and share the stack traces to help diagnose the issue?

[2019-02-02 14:33] HaiguangWen commented on #549
Hi, I have the same segmentation fault issue. I used mpirun to train Pytorch model with 4 GPUs in the same node with Horovod. But sometimes got the seg fault while most of the time is fine. Is this issue resolved on top of tree? Thanks!

[2019-02-02 15:54] LeanderK opened #806 "Implement allgather/allreduce for numpy arrays"
When working with more complex models and evaluations, it happens that I want to gather or reduce numpy arrays (for example when sklearn provides critical functionality). It would be great if there would be a simple way to gather and reduce numpy arrays, without going through tensorflow.

[2019-02-02 18:55] alsrgv commented on #806
@LeanderK, we recommend using `mpi4py` for this.  [mpi4py](https://github.com/uber/horovod#mpi4py) coexists with Horovod very nicely.

[2019-02-02 18:55] alsrgv commented on #799
@LeanderK, I believe it should just work - but please let us know if it does not!

[2019-02-02 18:56] LeanderK commented on #799
seems to work so far, thanks!

[2019-02-02 18:56] #799 closed

[2019-02-02 18:56] LeanderK commented on #806
ok, thansk!

[2019-02-02 18:56] #806 closed

[2019-02-02 19:09] alsrgv commented on #549
@HaiguangWen, please open a new issue.  Please collect a core dump and attach a backtrace, as well as describe versions of components.

[2019-02-02 22:56] renganxu commented on #801
@karakusc I just tried, but it has another error:
[code]

[2019-02-03 00:19] cheyang commented on #547
Thank you for your nice tips!

[2019-02-03 00:19] #547 closed

[2019-02-03 02:35] Geof23 commented on #504
@vilmara, have you resolved this issue?

[2019-02-03 06:39] lkmokadam commented on #308
I am installing latest horovod using
$ pip install horovod
and then

#!/bin/bash
#BSUB -P projectId
#BSUB -J test1
#BSUB -o test1.o%J
#BSUB -W 60
#BSUB -nnodes 10
#BSUB -alloc_flags gpumps

gpumps flag is a workaround for bug in tensorflow -  Error when running two simultaneous sessions #4196

[2019-02-04 20:43] bapriddy opened #808 "Horovod Dockerfile with python 2.7 EOL?"
@alsrgv @tgaddair  I realize everyone must be busy but are there any plans to update the Dockerfile to python 3.6 or later since python 2.7 has an end of life date for Jan 2020.

 https://pythonclock.org/

I guess there is also a definitive split between ubuntu 16 vs 18.  18 supports cuda 10 but might not be useful of some older systems.

[2019-02-04 20:54] bapriddy commented on #800
If I remember correctly to get it to work you must install from source because of ppl64ce arch.
See issue #541

Also
https://github.com/pytorch/pytorch#from-source

Clearly, you also need to specify

HOROVOD_CUDA_XX=??

[2019-02-05 03:44] abimur-123 commented on #803
@alsrgv Yeah, that was it. Was using an older version of MPI. It works now

Cheers!

[2019-02-05 03:44] #803 closed

[2019-02-05 21:09] abimur-123 opened #811 "Error while running spark end-to-end example"
I am currently trying to run the end-to-end example provided on the spark page [here](https://github.com/uber/horovod/blob/master/docs/spark.md) and get the following error -

[code]

`keras version = 2.2.2`

[2019-02-05 22:13] sedghi commented on #733
I have a question regarding the same process
I'm using horovod with 2 GPUs on one computer. I followed all the instructions but horovod loads the dataset twice on the memory. Is there any explanation of why this happens?
I thought it loads the data into the memory ONCE, and send portions of it to each model on each GPU.

[2019-02-05 23:57] gautamkmr opened #812 "Why does the Dockerfile uses 'devel' not the 'base'"
The Dockerfile is built on top of `nvidia/cuda:9.0-devel-ubuntu16.04` while official Tensorflow has been built on top of `nvidia/cuda:9.0-base-ubuntu16.04`

**Horovod Dockerfile**: https://github.com/uber/horovod/blob/master/Dockerfile#L1
**TensorFlow Dockerfile**: https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/tools/dockerfiles/dockerfiles/nvidia.Dockerfile#L38

[2019-02-06 00:06] alsrgv commented on #811
@abimur-123, can you upgrade h5py to latest?

[2019-02-06 00:10] alsrgv commented on #812
@gautamkmr, to give us the flexibility to compile CUDA code if needed.  We're planning to add MXNet to the image, and it needs to be compiled from source.

That said, if there's a desire for smaller docker images from the community, we could start producing a separate image for each framework, which would make TF and PyTorch images smaller.

[2019-02-06 05:37] alsrgv commented on #733
@sedghi, I believe recent Keras supports tf.data API, which does in turn support sharding, so you could use that.  This comment mentions shard API: https://github.com/uber/horovod/issues/708#issuecomment-447664883

[2019-02-06 05:49] alsrgv commented on #801
@renganxu, do you get the segfault if you try to remove most of the ML perf options and just leave core options (model, batch size, variable_update=horovod, xla=True)?

[2019-02-06 14:11] UditGupta10 opened #814 "Does horovod (tensorflow) use Openmp to utilize multiple cores in CPU"
I am running Horovod (with tensorflow) on Cray XC40 and wanted to know how Horovod uses multithreading within a node to use multiple cores. Does it have its own implementation or does it delegate that to tensorflow?
P.S. This has nothing to do with inter node communications.

[2019-02-06 15:42] DEKHTIARJonathan opened #815 "Prefetch to GPU device"
For performance optimization I try to use prefetch to device, however I consistently obtain the same error

[code]

Error

[code]

If anyone has an idea on how this should be used with Horovod :/

[2019-02-06 18:30] tgaddair commented on #814
Hey @UditGupta10, in the case of multi-CPU training, it's not multithreading but rather multiprocessing.  You run a separate worker process for every "thread" of execution you want to use, and MPI handles the synchronization between processes.

There is still some amount of multithreading that takes place within Horovod even within a single MPI process.  TensorFlow itself uses multiple threads, an

[2019-02-06 19:12] alsrgv commented on #815
@DEKHTIARJonathan, do you pin GPU in your session config [like this](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py#L141)?  If so, you should use '/gpu:0' in prefetch configuration.

[2019-02-06 19:26] #811 closed

[2019-02-06 20:27] abimur-123 opened #816 "Error message while runnning horovod-spark"
While running the spark example, I get the following error messages for every epoch (image below). This happens even when I set `verbose=0` in the `horovod.spark.run` command
![image](https://user-images.githubusercontent.com/14052278/52371364-49aff100-2a23-11e9-9316-be2de7ec3599.png)

Trying to figure out what this error message means

[2019-02-06 20:37] alsrgv commented on #816
@abimur-123, it seems that you're running in docker container.  Can you run your container in `-privileged` mode? These messages are harmless but are annoying.

[2019-02-06 21:17] jw447 commented on #792
Hi @tgaddair thank you for the suggestion. Sorry I couldn't get back to you earlier. I ran the mnist example again using the same setup and I'm attaching the timeline here so that you could take a look if time permits. Also I observe that both gpus are working with 8% - 20% capacity utilized during the training so I guess the program is fine. Maybe it is because the bug of tensor-flow timeline?

[

[2019-02-06 23:21] Ruijin1988 commented on #165
Sorry, I got a similar problem, which is something like
`Found 939 images belonging to 4 classes.
Found 939 images belonging to 4 classes.`
`ValueError: Error when checking input: expected conv2d_1_input to have shape (28, 28, 1) but got array with shape (224, 224, 3)
`
Does that mean I need make my input size to be (28, 28, 1)? But I don't feel that's correct. And I don't quit understand

 I'm re

[2019-02-07 01:31] UditGupta10 commented on #814
Yes it partially answers the question. What kind of shared memory parallelism (like openmp) does horovod use? Could you link the source code where horovod uses multi threading. How to check the utilisation of cores.

[2019-02-07 17:11] tgaddair commented on #814
You can see an example of shared memory using what MPI calls "windows" in the hierarchical allgather implementation [here](https://github.com/uber/horovod/blob/master/horovod/common/operations.cc#L932).

Remember that Horovod itself does not spawn additional processes, the user spawns multiple processes when they specify `mpirun -np <N>` where N is the total number of worker processes.

Horovod's

[2019-02-07 17:26] tgaddair commented on #792
Hmm, looks like you're using GPUs in the forward pass, but not during allreduce.  What version of Horovod are you using, and how did you install it?  Did you include NCCL?

[2019-02-07 19:23] gautamkmr commented on #812
@alsrgv  Thank you for prompt reply.

In fact I was trying to make it work on top of  base or run time nvidia docker but it was not going well. I will give another shot. IMHO having smaller docker image will always be welcomed by community :)

At least TensorFlow it would make sense given that we are adding pip binary.

[2019-02-07 21:51] alsrgv commented on #165
@Ruijin1988, it appears that your images are sized (28,28,1).  You'll have to either resize the images to (224,224,3) - or higher - or use a different model that would take (28,28,1) images.  If you don't expect that images are (28,28,1), perhaps there's an issue with your data pipeline.

[2019-02-07 22:10] Ruijin1988 commented on #165
@alsrgv Thanks for your explanation. Yes, you're right, I don't expect the images to be (28,28,1), and I set the images to be (224,224) in the `flow_from_directory` function as the original version. My data pipeline likes:
PATH/TO/imagenet/test(train,validation)/(4 subdirectories with images inside it).
Does it look correct to you?

Thanks!

[2019-02-08 03:50] abhishekpatnia opened #817 "Advice on how to tune and debug Horovod performance"
Hi,
I ran synthetic CNN benchmark on a 4 GPU node(1080 Ti). I got results that seemed reasonable.

<img width="458" alt="screen shot 2019-02-07 at 7 21 17 pm" src="https://user-images.githubusercontent.com/6693858/52457225-92dc6f80-2b0d-11e9-906d-a80de82abe48.png">

Then, I tried Horovod on a simple dummy model. Below is the code.

[code]

First I tried this with a single GPU and below are the tim

[2019-02-08 16:28] AnkBurov opened #818 "Horovod pypi release doesn't have horovod.spark package"
Hi. I'm following https://github.com/uber/horovod/blob/master/docs/spark.md guide and having the following error:
[code]
IDE says there is no such package indeed:
![screenshot from 2019-02-08 19-23-25](https://user-images.githubusercontent.com/5352029/52490968-0dbd8d00-2bd7-11e9-88c1-a0d832b0bb71.png)
Horovod package version is 0.15.2

horovod-0.15.2.tar.gz in the Pypi repository also has no horov

[2019-02-08 16:34] AnkBurov commented on #818
Renamed the issue, sorry I've been thinking about other things and accidentally wrote it down instead of horovod.spark

[2019-02-08 17:39] jw447 commented on #792
I installed it via `pip install horovod`. I didn't include NCCL. I will try again with NCCL included.

[2019-02-08 20:20] gautamkmr opened #819 "Horovod hangs using containers on multiple hosts."
I am trying to run `multiple machine` example from [here](https://github.com/uber/horovod/blob/master/docs/docker.md).

I have two hosts (A and B) each with 8 GPUs. I've enabled passwordless ssh from host A (master to host B as well as passwordless ssh to itself (ssh localhost).

**Command on host A**
Host A had three interface 'docker0, ens3 and lo'
`nvidia-docker run -it --network=host -p 12345:

[2019-02-09 14:51] DEKHTIARJonathan commented on #815
Seems like the issue is on TF side. I will re-open if I have any evidence that this is caused by HVD ;)
Thanks for your answer

[2019-02-09 14:51] #815 closed

[2019-02-09 17:08] tgaddair commented on #792
Sounds good, please see the docs on [GPUs](https://github.com/uber/horovod/blob/master/docs/gpus.md) for more install instructions.

[2019-02-09 17:10] tgaddair commented on #818
Hey @AnkBurov, PySpark integration has been landed to master, which is why it shows up in README.md docs on GitHub, but hasn't yet been released.  We plan on releasing it in `v0.15.3` which will be coming very shortly.  In the meantime, you can try installing from source if you'd like to start using `horovod.spark` now.

[2019-02-10 03:17] josesuero opened #820 "How does horovod coordinates training?"
I'm trying to learn how to train a distributed Keras model and found horovod, I created a Google Cloud Kubernetes cluster (GKE) and installed Kubeflow with the mpi-operator and the nvdia drivers.

I tried running the sample https://github.com/uber/horovod/blob/master/examples/keras_mnist_advanced.py

I created a Docker image with this definition:

[code]
pushed it to the project repository and mad

[2019-02-10 03:46] tgaddair commented on #820
Hey @josesuero, you're running 24 epochs with 1 model that's replicated across all 3 workers.

In the `keras_mnist_advanced.py` example, the training data is split into `K` minibatches that are _randomly sampled_ from during training.  In every epoch, each of the `N` workers will sample `K / N` of the minibatches (so the more workers you have, the fewer minibatches per worker).

Each minibatch is

[2019-02-10 04:14] josesuero commented on #820
Thanks for your reply. I think I finally understand how this works.

If I understood correctly when I put my own model all I have to do is make sure all workers have access to the same dataset and horvod will handle the splitting between them.

Could you please confirm if I have to include anything else to the mpirun command or the YAML to make it "better" meaning more efficient for my when I do m

[2019-02-10 09:39] #242 closed

[2019-02-10 09:43] scotthuang1989 commented on #578
@Jeffwan, where Can I find tf_cnn_benchmarks.py? I check repository of tensorflow and horovod, can't find it.

[2019-02-10 17:16] tgaddair commented on #578
@scotthuang1989, you can find the TensorFlow benchmarks [here](https://github.com/tensorflow/benchmarks/tree/master/scripts/tf_cnn_benchmarks).  Horovod also provides its own TensorFlow benchmark using synthetic data [here](https://github.com/uber/horovod/blob/master/examples/tensorflow_synthetic_benchmark.py) if you prefer to use that.

[2019-02-10 18:52] abhishekpatnia commented on #817
I am closing this issue. I read more closed issues here and also played around with the configuration. I realize now that we need to saturate the per worker load before switching it to multi-gpu setup. This would make per-worker computation bigger than the inter-GPU communication and then we will see speed-up.

Please reopen it if you want to add more.

[2019-02-10 18:52] #817 closed

[2019-02-11 02:03] qiang13568 commented on #750
@jackalcooper
hello, I have the same problems with you, I used the script in horovod-master/examples/tensorflow_mnist.py, did you or used the same folder ? Can you send me the same file you used so that I can find out the error , thank you, my email 285740572@qq.com

[2019-02-11 08:20] scotthuang1989 commented on #578
thanks. these example made the problem very clear.

[2019-02-11 08:23] qiang13568 opened #821 "horovod：mpirun was unable to start the specified application"
hardware env: a server with 3GPUs

I want to test the official samples, but something wrong, commands as following:

[code]
Open MPI tried to fork a new process via the "execve" system call but failed.  Open MPI checks many things before attempting to launch a child process, but nothing is perfect. This error may be indicative
of another problem on the target host, or even something as silly as ha

[2019-02-11 08:38] qiang13568 commented on #821
[https://github.com/uber/horovod/issues/98#issuecomment-345536375](url) the nccl test runs successfully

[2019-02-11 09:46] AnkBurov commented on #818
Oh, it makes sense now. Thank you. I will wait the next release then. Hopefully it will be released soon.
Thank you.

[2019-02-11 09:46] #818 closed

[2019-02-11 22:08] alsrgv commented on #818
@AnkBurov, you can always install using `[flags] pip install git+https://github.com/uber/horovod` and get the latest master.

[2019-02-11 22:53] LiweiPeng commented on #694
@abditag2 My use case is exactly what's inside  #711. The implementation is what I want to have for Horovod.

[2019-02-11 22:56] LiweiPeng commented on #609
I did more testing and found this type of error occurs when OOM kills tensorflow. it is out of scope for Horovod. So close the issue.

[2019-02-11 22:56] #609 closed

[2019-02-11 23:04] alsrgv commented on #694
@LiweiPeng, can you share more light on your use case? Do you get this error because you have an uneven number of steps across workers, or some workers actually physically fail? If you're working around failure, is it possible to checkpoint more frequently to avoid losing much of progress?

The OutOfRange prototype we have in #711 currently only works with Estimator, while our API is designed to w

[2019-02-12 00:45] LiweiPeng commented on #694
@alsrgv I am using Estimator. My use case is that I have an uneven number of steps across workers. There is no worker that is physically failed.

The uneven number of steps is hard to get around formy NMT application. When I was given a new dataset for training on N gpus, I couldn't find a way to really evenly distributed the batches among the N gpus. So it often results that some GPUs has 1 or 2

[2019-02-12 00:51] alsrgv commented on #694
@LiweiPeng, my concern with #711 is that it's specific to Estimator, but requires a change in core Horovod API, and also it has the potential to hide actual failures - e.g. if you have an exception on one of the workers, your training will shut down with what may appear as successful completion.

How are you sharding your data?  Would using [TensorFlow dataset API](https://www.tensorflow.org/api_d

[2019-02-12 01:34] gautamkmr commented on #819
@alsrgv  Any help on what I might be missing here?

[2019-02-12 02:10] abditag2 commented on #820
@josesuero You can also take a look at the Horovod paper: https://arxiv.org/abs/1802.05799

[2019-02-12 03:17] LiweiPeng commented on #694
@alsrgv I understand this is specific to Estimator. One implementation option is to define an environment variable to switch this feature on/off, with  default to be current existing design.

I shard my data using tensorflow shard.  I have to shard in number of lines (tf.data.TextLineDataset) because NMT handles lines. the results are not even when in terms of words at training. so it often hits t

[2019-02-12 04:42] alsrgv commented on #694
@LiweiPeng, I feel like solving this via shutdown error is a big hack.  Are you training based on the number of epochs?  Could you switch to training based on # of total batches (that you'd divide by # of workers)?  That way you know precisely how many N-grams your training did process.

We can expose additional API to notify Horovod about end-of-data situation on one of the ranks that you could c

[2019-02-12 15:29] LiweiPeng commented on #694
@alsrgv I am training based on number of epochs. Let me change it to using total batches. I found that I could leverage the tf.data.Dataset.repeat() API to avoid the issue.

[2019-02-12 16:15] dgaleareading opened #822 "Model getting replicated on 4 CPU instead of being distributed"
Hi,

I am new to Horovod and so to get to grips with it, I am trying to adapt a [Cat vs Dogs classification](https://github.com/fchollet/deep-learning-with-python-notebooks/blob/master/5.2-using-convnets-with-small-datasets.ipynb) from the Deep Learning from Python book to run on 4 CPUs on my laptop to speed it up.

My code now is:
[code]

I noticed that the model was being replicated 4 times inst

[2019-02-12 17:03] Ruijin1988 commented on #165
OK. I figure out the issue. I run the keras_mnist.py example, and it saves a checkpoint, so for the keras_imagenet_res50.py, the error always says "expected input should be 28 by 28".

[2019-02-12 22:08] renganxu commented on #801
Hi @alsrgv , I tried only those simple options with and without xla=True.  Now it has error even without xla=True.
[code]

*** Error in `python3': munmap_chunk(): invalid pointer: 0x0000555560e2b570 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x7f574)[0x2aaaaaf6a574]
/cm/local/apps/cuda/libs/current/lib64/libcuda.so.1(+0x20de81)[0x2aab7db59e81]
/cm/local/apps/cuda/libs/current/lib64/libcuda

[2019-02-12 22:39] alsrgv commented on #694
@LiweiPeng, perfect. That's exactly what I had in mind.

[2019-02-12 22:41] alsrgv commented on #801
@renganxu, can you try with synthetic data?  Also, for your second test case, can you check that GPU memory is free with `nvidia-smi`?

[2019-02-12 22:46] alsrgv commented on #822
@dgaleareading, it's likely that you have two versions of MPI installed in your system, and that you've compiled Horovod with a different version of MPI than the one you're using.  Can you reinstall Horovod, while making sure that proper MPI's `mpirun` and `mpicxx` are in $PATH?

[2019-02-12 22:47] alsrgv commented on #819
@gautamkmr, you may have wrong permissions on your `.ssh` folder and its files (they're all supposed to be owned by root for ssh to accept the key), can you check that you can do ssh between docker containers (instead of hosts) and possibly fix permission issues?

[2019-02-12 22:52] alsrgv commented on #715
@sedghi, sorry for delayed reply.  You need to upgrade NVIDIA driver on the host.

[2019-02-12 22:54] alsrgv commented on #821
@qiang13568, you need to remove "-mca plm_rsh_args". Currently, that parameter consumes `python3` argument and mpirun is trying to run python file directly.

[2019-02-12 22:56] alsrgv commented on #70
@GabrielLin, if you haven't resolved this yet, could you open new issue?

[2019-02-12 22:58] alsrgv commented on #96
@mgoundge11, Horovod currently supports model parallelism within the server.  It'd be helpful if you can move GPU from one server to another.

[2019-02-12 23:00] alsrgv commented on #734
@mgoundge11, MNIST example has very small iteration time which does not scale well beyond a single server.  If you switch to training bigger models, you should see better scaling efficiency.

[2019-02-12 23:12] renganxu commented on #801
I just tried with synthetic data. For the case without --xla=True, it works when I reduced the batch size to 128. For the case with --xla=True, it still has the same error even with synthetic data and batch size 128.

[2019-02-12 23:55] yuxihu commented on #787
@soyuutaku I did not see segmentation fault when running your script in my environment. Note that I ran it in my python virtual environment which has the same software version of your docker. Please check your environment setup.

[code]

[2019-02-13 00:53] qiang13568 commented on #821
@alsrgv
At first,there is no the parameter, but the program hung up without any prompt, and after refering to many documents, added the parameter, and then the program appeared some error messages
#781

[2019-02-13 01:29] gautamkmr commented on #812
Closing this for now, will revisit if I find any issue on building on top of base.

[2019-02-13 01:29] #812 closed

[2019-02-13 01:52] alsrgv commented on #781
@qiang13568, you need to keep routed interfaces.  Can you remove `enp15s0` from your parameters?  Also, can you make sure that you can `ssh localhost` w/o password?

[2019-02-13 01:52] alsrgv commented on #821
Got it. Let's keep debugging there - I will close this issue.

[2019-02-13 01:52] #821 closed

[2019-02-13 02:30] alsrgv commented on #801
@renganxu, it's possible that XLA requires a higher amount of GPU memory, can try reducing the batch size further?

[2019-02-13 02:39] douzsh opened #823 "mxnet plugin error after success build"
With mxnet plugin , I have to build from source.
I build successfully with command
`HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_WITH_MXNET=1 python setup.py install`
envs: NCCL 2.4.2 openMPI:3.1.2 CUDA:9.0

I got following error when load horovod with command `import horovod.mxnet as hvd`

`
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/zesheng.dzs/anaconda/lib/pyth

[2019-02-13 02:41] alsrgv commented on #823
cc @apeforest, @yuxihu

[2019-02-13 02:59] yuxihu commented on #823
@douzsh which mxnet package are you using? Did you build from source? which commit?

[2019-02-13 03:17] alsrgv commented on #761
@zxb1489479870, can you get a backtrace from the core file that gets dumped?

[2019-02-13 03:38] douzsh commented on #823
My mxnet is installed from pip with command
`pip install mxnet-cu90 --pre`

[2019-02-13 03:46] yuxihu commented on #823
@douzsh When did you install mxnet? Older mxnet nightly package does not have the symbol exposed. Can you rerun the command in your environment?

In addition, which OS are you running on? If you are running on an OS with GCC 5.X, we recommend to build mxnet from source. Please see [note](https://github.com/horovod/horovod#mxnet).

[2019-02-13 04:39] yuxihu commented on #823
@douzsh There might be some issue with our nightly pip package for cu90. We are investigating. In the meanwhile, please build mxnet from source.

[2019-02-13 04:47] douzsh commented on #823
@yuxihu Is it possible for me to use a stable version of mxnet?
Build from source will cost some time.

[2019-02-13 05:19] yuxihu commented on #823
@douzsh  The first MXNet release that supports Horovod will be 1.4.0, which will be coming soon. Even with the MXNet 1.4.0 release, you may still need to build mxnet from source due to GCC incompatibility issue if the GCC version is 5.x or above in your OS (e.g. Ubuntu 16.04).

If the GCC version is 4.x in your OS, you can use the mxnet nightly pip package and the upcoming 1.4.0 release. But there

[2019-02-13 06:57] douzsh commented on #823
@yuxihu Thanks a lot!
I'll try to build from source later. Hope you can publish upgraded MXNet ASAP ^-^

[2019-02-13 08:41] crab1234 opened #824 "training speed suddenly slow down in benchmark"
@alsrgv
Hi, recently I use horovod to run the benchmark on a real data, and I find that the training speed suddenly slow down. I use 8 GPUs on 2 servers to train the model, at first the training speed can reach near 200 images/sec, then after several steps, the training process get stunned for a long time(during which the GPU capacity drop to 0%)
the training speed drop like this:
990     images/s

[2019-02-13 15:58] dgaleareading commented on #822
I have reinstalled everything as suggested and have now managed to get `4, 0, 0`, `4, 1, 1`, `4, 2, 2`, `4, 3, 3`. Also, when I do `which mpirun`, I get `/usr/local/bin/mpirun` and for `which mpicxx`, I get `/usr/local/bin/mpicxx`. Also, `echo $PATH` gets `/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin` so everythin is loaded up as it should be (I think). Despite all of this, I am st

[2019-02-13 18:01] LiweiPeng commented on #694
I validated the above solution and it works perfect for me. I am closing this issue.

[2019-02-13 18:01] #694 closed

[2019-02-13 19:16] renganxu commented on #801
@alsrgv , even if I reduce the batch size to 32, it still has  the " munmap_chunk(): invalid pointer:" error.

[2019-02-13 20:16] armandmcqueen opened #825 "Horovod install fails with Tensorflow 1.13"
I am unable to install Horovod on top of Tensorflow 1.13 (rc0, rc1 or built from source). This is the failure we see:

`distutils.errors.DistutilsExecError: command 'gcc' failed with exit status 1`

More detail:

`This file was generated by a newer version of protoc which is incompatible with your Protocol Buffer headers.  Please update your headers.`

Is this an issue that needs to be resolved wi

[2019-02-13 21:17] armandmcqueen commented on #825
This was an issue on my side. I needed to upgrade protoc to 3.6.1 for TF 1.13 and I wasn't doing it correctly.

Steps for installing 3.6.1 if anyone else has this issue: https://gist.github.com/ryujaehun/991f5f1e8c1485dea72646877707f497

[2019-02-13 21:17] #825 closed

[2019-02-13 21:46] alsrgv commented on #822
@dgaleareading, when you use Horovod, you'll get one copy of the model running per compute device.  DL frameworks like TensorFlow have their own mechanism to use many cores w/o having to resort to distributed training - but you can now take your code and run it across servers.

[2019-02-13 21:49] alsrgv commented on #824
@crab1234, can you share what kind of GPUs and CPUs do you have in your servers?  CPU may be underpowered.  Also, @karakusc found that if you set `--datasets_num_private_threads=8` (or some other value), you may have less thread contention which will allow data preprocessing to progress faster.

[2019-02-14 00:57] gautamkmr commented on #819
Thanks that helps to resolve the issue.

[2019-02-14 01:08] gautamkmr commented on #819
However it requires to change the permission for ~/.ssh to root:root and sometime it becomes difficult to connect to that instance.

I was thinking of other way to put these keys in some other folder and change the permission there and mount that folder to container as volume but that did not work.

[2019-02-14 02:02] douzsh commented on #823
I can import hvd.mxnet successfully after rebuild mxnet from source.
close the issue.

[2019-02-14 02:02] #823 closed

[2019-02-14 02:13] douzsh opened #827 "Address not mapped"
I build horovod mxnet plugin with command in [issue 823](https://github.com/horovod/horovod/issues/823).
Now I'm trying to run the examples in horovod example with the following error.

[code]

[2019-02-14 04:54] HugoPu opened #828 "Variables are different in different rank"
I consult [horovod word2vec sample](https://github.com/horovod/horovod/blob/master/examples/tensorflow_word2vec.py), and  try to add horovod to [tensorflow nmt sample](https://github.com/tensorflow/nmt/tree/master/nmt). But it doesn't work, since the inference results are diffenent(I want to know if the model are same, so I let one gpu infer one result) and the train efficiency isn't improved. It

[2019-02-14 05:40] alsrgv commented on #827
cc @yuxihu @apeforest

[2019-02-14 05:49] yuxihu commented on #827
@douzsh can you provide information about your environment, like OS, MXNet commit, Horovod commit, the command you used to run the example, etc? Also the config.mk you used to build MXNet from source.

[2019-02-14 06:17] crab1234 commented on #824
@alsrgv GPU: nvidia Tesla V100, CPU: Intel(R) Xeon(R) Gold 6152 CPU @ 2.10GHz

This is the performance of CPU and GPU at full speed (200imgs/sec for single GPU)
![fullspeed-cpu](https://user-images.githubusercontent.com/47098550/52766541-6b802800-3062-11e9-83c1-6a4805ea38ac.PNG)

![fullspeed-gpu](https://user-images.githubusercontent.com/47098550/52766547-75a22680-3062-11e9-8a0c-21ad816541ab.PNG)

[2019-02-14 07:06] yuxihu commented on #827
Can you verify if your NCCL path is correct, which means it has the nccl.h file and libnccl? Also, when you build Horovod, can you also specify HOROVOD_NCCL_HOME?

[2019-02-14 07:29] douzsh commented on #827
I installed NCCL 2.4.2 with su. The include path is /usr/include/ and the lib path is /usr/lib64

Do you mean I should modify config.mk with USE_NCCL_PATH = /usr/include/
and build horovod with HOROVOD_NCCL_HOME=/usr/lib64

[2019-02-14 11:06] douzsh commented on #827
I rebuild horovod with command
[code]
also rebuild mxnet with config.mk changed USE_NCCL_PATH=/usr/

I checked my server with only one nccl lib is installed.

The same issue still happened.

[2019-02-14 16:37] tgaddair commented on #828
Hey @HugoPu, can you check if this problem also exists when you run the provided Horovod examples?  Could be an issue with your environment.

Assuming that works, the issue is likely to do with one of the following:

- Not broadcasting randomly initialized parameters (looks like you're doing that in `create_or_load_model()`, but I recommend doing it after loading the model as well as after creatin

[2019-02-14 18:23] yuxihu commented on #827
@douzsh can you provide step by step instructions on how to reproduce your issue? I will try to setup the same environment locally. Please include all the information that I may need to reproduce the issue.

[2019-02-14 19:31] tgaddair commented on #801
Hey @renganxu, TensorFlow recently landed a fixed to [Issue 9328](https://github.com/tensorflow/tensorflow/issues/9328) which caused memory leaks in TensorFlow with XLA when performing distributed training.  It appears this fix isn't included in a release candidate yet.  Is it possible for you try building from master and seeing if that solves your issue?

[2019-02-14 20:39] renganxu commented on #801
@tgaddair Sure. I will try to pull from master, then build from source and see whether it works.

[2019-02-14 21:53] #819 closed

[2019-02-14 23:25] alsrgv commented on #824
@crab1234, could it be that your `/share` is too slow?

[2019-02-15 01:29] douzsh commented on #827
@yuxihu No Problem. I installed the environment on the server for our company.
Env:
**GPU** is M40 with Driver Version: 396.44
**CUDA** 9.0 is installed in /usr/local/cuda-9.0
**NCCL** 2.4.2 is installed by nccl-repo-rhel7-2.4.2-ga-cuda9.0-1-1.x86_64.rpm and located in /usr/
**Anaconda** with python 3.6.
Install OpenMPI
[code]
installed TF and torch by command
[code]
install Mxnet:
[code]
install

[2019-02-15 02:14] qiang13568 commented on #781
@alsrgv @tsmolcic
After various failed attempts, I uninstalled all the packages, reinstalled the programs, changed the versions of some of them, and it works

nccl 2.3.7 -> nccl 2.1.15
openmpi 3.1.1
cuda 9.0
cudnn 7.1.2

thanks for your suggestions and help, best wishes!

[2019-02-15 02:31] yuxihu commented on #827
What is your CentOS version?

[2019-02-15 03:02] TonyTangYu opened #829 "errors when installing Horovod on aarch64"
I want to install Horovod on an aarch64 Linux. But when I run the command `PATH=/usr/local/bin:$PATH LD_LIBRARY_PATH=$LD_LIBRARY_PATH  HOROVOD_WITHOUT_TENSORFLOW=1 HOROVOD_WITHOUT_PYTORCH=1 MSHADOW_USE_CUDA=0 HOROVOD_MPICXX_SHOW="/usr/local/mpi3/bin/mpicxx -show" INCLUDES=['mxnet git directory'/python/mxnet/include] LIBRARY_DIRS=['mxnet git directory'/lib] /home/ubuntu/anaconda3/bin/pip install --

[2019-02-15 03:06] douzsh commented on #827
CentOS 7

[2019-02-15 03:12] HugoPu commented on #828
@tgaddair Thanks for helping!
I ran [horovod word2vec sample](https://github.com/horovod/horovod/blob/master/examples/tensorflow_word2vec.py) with one gpu and got the following output:
[code]
I modify the evaluation code in the end of word2vec.py to let each worker outputs one result:
[code]
Then rrn work2vec.py with the following command:
[code]
In the end, I got the following output:
[code]
It l

[2019-02-15 04:28] yuxihu commented on #827
what is the gcc version on your CentOS?

[2019-02-15 06:16] yuxihu commented on #827
@douzsh I cannot replicate the same environment you had (e.g. my GPU is V100) but here is what I did. I am using [nvidia/cuda docker for centos](https://hub.docker.com/r/nvidia/cuda/) for easier and quicker setup. Since the gcc version is 4.8.5 in my container, I can install MXNet using pip package (we fixed our pipeline yesterday so mxnet_cu90 can be used now if your GCC is 4.x).

**On the server

[2019-02-15 06:57] nidhidamodaran opened #830 "Low perfomance on V100s"
I am trying to run horovod in a 2 node setup with 2 GPUs(V100) each.

mpirun --allow-run-as-root --mca btl_openib_want_cuda_gdr 1  -x LD_LIBRARY_PATH -x PATH sh /examples/wrapper.sh 'python /examples/benchmarks/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py --variable_update=horovod  --model=resnet50 --device=gpu --distortions=False --init_learning_rate=.04 --optimizer=sgd --use_fp16=True --use_tf

[2019-02-15 14:43] dgaleareading commented on #822
Very well. Would Horovod then train each of the models on a different part of the data? If not, how is the speedup achieved? Also, how would I then finish up with one final model?

[2019-02-15 18:49] deepakn94 opened #831 "Horovod stalls when trying to train a ResNet-50 model on MXNet"
Command being run is:
[code]
(`run_and_time.sh` is [here](https://github.com/mlperf/results/blob/master/v0.5.0/nvidia/submission/code/image_classification/mxnet/run_and_time.sh))

Stall happens at this call in [train_imagenet.py](https://github.com/mlperf/results/blob/master/v0.5.0/nvidia/submission/code/image_classification/mxnet/train_imagenet.py#L99): `kv = mx.kvstore.create('horovod')`.

I am

[2019-02-15 18:57] deepakn94 commented on #831
Result of `ifconfig` run within the container,

[code]

[2019-02-15 20:25] yayamao-ponyai opened #832 "Is it possible run horovod with unequal steps on each worker?"
Background, I prefer specify epochs instead of steps, but if the data sizes are not equal on each worker, then the steps could be different.

e.g: for batch size 10, epoch 20,
worker0, data size: 100, total steps: 100 / 10 * 20 = 200
worker1, data size: 110, total steps: 110 / 10 * 20 = 220

But horovod will raise error if steps are unequal on each worker due to some workers may exist before other

[2019-02-15 21:32] alsrgv commented on #832
@yayamao-ponyai, would you want the other ranks that are still training to average gradients with the missing node(s) contributing zero gradients in that case?

[2019-02-15 21:34] alsrgv commented on #694
@LiweiPeng, FYI - we started another discussion in #832 around more general-purpose solution for uneven steps.  Can you see if it would be helpful for your use cases as well?

[2019-02-15 21:37] alsrgv commented on #831
cc @apeforest @yuxihu

@deepakn94, could you clarify what do you mean by 'stall'?  No output from `mpirun` command?  I don't see you specifying the number of processes, I think you should add `-np 8` to your command.

[2019-02-15 21:41] alsrgv commented on #822
@dgaleareading, it would if you configure your data pipeline in such a way.  Since you're using `train_datagen.flow_from_directory`, dataset will do shuffling for you and if you have multiple workers reading dataset for `M/(K*B)` steps, where `M` is the number of examples, `K` is the number of workers and `B` is batch size, you should have reasonably good coverage of the dataset.  You can then spe

[2019-02-15 21:43] alsrgv commented on #830
@nidhidamodaran, can you share the output of `nvidia-smi topo -m`, `ifconfig` and `ibv_devinfo -v` on both nodes?

[2019-02-15 21:43] alsrgv commented on #830
Also, what images/sec do you get on a single GPU w/o Horovod?

[2019-02-15 21:45] alsrgv commented on #829
cc @apeforest @yuxihu to take a look

[2019-02-15 21:54] LiweiPeng commented on #694
Thanks Alex. I'll follow up on the other thread.

[2019-02-15 21:55] LiweiPeng commented on #832
A horovod design that can handle this case should also help my original case in $694. For my NMT application, my desired result is that if one worker finishes early, all other rank workers should quit gracefully. It doesn't make much sense to average the remaining N-1 ranks for my case.

[2019-02-15 22:04] alsrgv commented on #832
@LiweiPeng, it wouldn't average `N-1`, but rather it would sum all gradients and still divide by N to account for constant LR.

[2019-02-15 22:05] yuxihu commented on #829
@TonyTangYu The instructions you were following is out of date. If you GCC version is 4.x, you can follow these steps to install Horovod:
[code]

[2019-02-15 22:06] shaunstoltz commented on #94
This seems to be a wide spread problem, have tried on two machines, and just keep on getting this error when trying accross more than one machine.

[2019-02-15 22:07] shaunstoltz commented on #520
This seems to be a wide spread problem, have tried on two machines, and just keep on getting this error when trying accross more than one machine.

[2019-02-15 22:07] alsrgv commented on #94
@shahzadlone, could you open a new issue and share the exact output you're seeing?

[2019-02-15 22:10] dgaleareading commented on #822
Great! Finally, would I be correct in saying that the model in each rank has the same weights at the end, i.e. does Horovod do the averaging itself, so that I can evaluate the model from any rank and get the same accuracy?

[2019-02-15 22:20] shaunstoltz commented on #94
Moving on for now, to frustrated. Ray seems to be much more usable.

[2019-02-15 22:23] alsrgv commented on #822
@dgaleareading, they should be approximately the same - we do not exchange batch norm statistics across GPUs, so there could be a little bit of variation there.

[2019-02-15 22:39] LiweiPeng commented on #832
@alsrgv Because I am not sure how this will affect the overall training for NMT, can you make it optional? Option1: sum all the gradients and still divide by N; Option2: just stop training (or discard remaining data)

[2019-02-15 22:40] yayamao-ponyai commented on #832
@alsrgv Another solution I can come up is introduce a `join` method, these method does:
1. If a worker finished, tell other workers, so the average become `N - 1`, and the finished worker become waiting mode.
2. After all worker finished, broadcast the final weights to every worker, so make sure every worker has identical weights.

This is because if the worker who is responsible for checkpoint fi

[2019-02-15 22:53] alsrgv commented on #832
@LiweiPeng, as we discussed in the other issue, we don't have a good way to nicely abort the training gracefully.  However, typically these data imbalance outliers would be small and it should be OK to actively involve waiting nodes in the finalization process.

What I'm thinking is a special `hvd.join()` collective operation, inspired by @yayamao-ponyai's original request.  If nodeC is executing

[2019-02-15 23:22] dgaleareading commented on #822
@alsrgv, I have run a few experiments with steps_per_epoch as you suggested and am concerned that the accuracy isn't what I expect.

When i run with 1 CPU, I get an accuracy of ~0.75 on the training set ([1cpu.txt](https://github.com/horovod/horovod/files/2871270/1cpu.txt)); with 5CPUs, I get an accuracy of 0.5325 ([5cpu.txt](https://github.com/horovod/horovod/files/2871269/5cpu.txt)); with 10CPUs

[2019-02-15 23:56] LiweiPeng commented on #832
Thanks @alsrgv . This design looks great.

[2019-02-16 01:56] nidhidamodaran commented on #830
@alsrgv , without these
NCCL_IB_CUDA_SUPPORT=1
NCCL_IB_DISABLE=0
HOROVOD_HIERARCHICAL_ALLREDUCE=1
HOROVOD_FUSION_THRESHOLD=16777216
NCCL_MIN_NRINGS=4

I am able to get 500 images/sec per GPU with horovod +RDMA , but if GPU direct is enabled, the  perf numbers drop to 110. What could be the issue here ?

[2019-02-16 02:02] nidhidamodaran commented on #830
Logs with GPU direct
--------------------------
tensorflow-benchmarks-2-custom-worker-0:29107:29150 [0] INFO NET : Using interface net1:10.55.0.62<0>
tensorflow-benchmarks-2-custom-worker-0:29107:29150 [0] INFO NET/IB : Using interface net1 for sideband communication
tensorflow-benchmarks-2-custom-worker-0:29107:29150 [0] INFO NET/IB: [0] mlx5_18:1/RoCE
tensorflow-benchmarks-2-custom-worker-0:2910

[2019-02-16 03:31] douzsh commented on #827
Thanks for your help.
I have to find the problem from my local machine.
I'll try to use a docker later.

[2019-02-16 05:49] nidhidamodaran commented on #830
nvidia-smi topo -m
	GPU0	GPU1	mlx5_12	mlx5_25	mlx5_23	mlx5_10	mlx5_21	mlx5_8	mlx5_6	mlx5_19	CPU Affinity
GPU0	 X 	SYS	NODE	NODE	NODE	NODE	NODE	NODE	NODE	NODE	0-19
GPU1	SYS	 X 	SYS	SYS	SYS	SYS	SYS	SYS	SYS	SYS	20-39
mlx5_12	NODE	SYS	 X 	PIX	PIX	PIX	PIX	PIX	PIX	PIX
mlx5_25	NODE	SYS	PIX	 X 	PIX	PIX	PIX	PIX	PIX	PIX
mlx5_23	NODE	SYS	PIX	PIX	 X 	PIX	PIX	PIX	PIX	PIX
mlx5_10	NODE	SYS	PIX	PIX	PIX	 X 	PIX	PI

[2019-02-16 14:34] abidmalikwaterloo commented on #308
@lkmokadam I am using Summit and trying to install Horovod. What are the correct steps to install Horovod+TF on Summit? Any help would be appreciated.

[2019-02-16 14:34] abidmalikwaterloo commented on #308
@alexhagen Are you using Horovod on Summit?

[2019-02-16 22:32] abidmalikwaterloo commented on #800
@bapriddy @alsrgv I upgraded the TF to 1.12 as on summit, the default is 1.2.

I am still getting the following error
[code]
How can I over come this? I see people mention running Horovod on Summit. How they installed it?

[2019-02-17 11:32] dgaleareading commented on #822
I have now run your [advanced example](https://github.com/horovod/horovod/blob/master/examples/keras_mnist_advanced.py) without any changes on 1, 5, 10, 15 CPUs and got the following results:
[code]
Surely this shouldn't be happening as no speedup is obtained?

I am running this on an LSF HPC cluster from inside a Singularity container using the following jobscript:

[code]

where toy_model2.py is

[2019-02-18 06:02] crab1234 commented on #824
@alsrgv  You are right, I found that we use nfs to share data between servers, which is very slow
now I use ssd to store data in both servers, the training speed is quite fast now. Thank you very much!
By the way, is there any other file sharing system I can use to store training data? It's inconvenient to store data in local disk since every time I have to copy the data to all servers , and it co

[2019-02-18 15:53] opetrova opened #833 "Horovod on Kubernetes without the GPUs"
Hi, I am trying to train a Pytorch MNIST model with Horovod on a Kubernetes cluster that does not have GPUs. Here is my Dockerfile:
[code]
Here is the yaml:
[code]
It fails every time, even with a single replica :-/ Here is the output of `kubectl logs pytorch-mnist-1-launcher-d98rk`:
[code]

Would really appreciate some help on this!

[2019-02-18 22:02] Ruijin1988 opened #834 "mpirun -H issue"
I have a issue while running `mpirun -np 2 -H localhost:1 python3 keras_imagenet_resnet50.py`
the returns is like a help list, but if I remove the -H,like `mpirun -np 2 python3 keras_imagenet_resnet50.py` works fine. Does that means I have mpirun installed inaccurately? I could run `mpiexec --version`, and the return is `3.2.1`. Does anybody got the same issue? Btw, I'm using ubuntu 18.04

`
Usage

[2019-02-18 23:56] hillolsarker opened #836 "Installation issue in Ubuntu 16.04"
OS: Ubuntu 16.04

`apt-get install libnccl2 libnccl-dev`
Installs 2.4.2-1+cuda9.2

`nvcc --version`

Horovod installation fails for the following command:
`HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_WITH_TENSORFLOW=1 pip install --no-cache-dir horovod`

Log:

`Failed to load the native TensorFlow runtime.

Traceback (most recent call last):
      File "/usr/local/lib/python3.5/dist-packages/tensorflow/pyt

[2019-02-19 05:46] UditGupta10 opened #839 "How to run more than 1 process on a single gpu/cpu"
Hi, I am familiar with running horovod on multigpu systems where each process is run on separate gpu. What changes need to be made to the command line and code such that we can spawn more than 1 process on a single gpu.
P.S. This is for debugging purpose only.

[2019-02-19 07:26] deepakn94 commented on #831
Yeah, no output / progress after the `create()` call.

This is being run from within Slurm, and I believe has worked for people with Infiniband (I added `-mca pml ob1 -mca btl ^openib -mca btl_tcp_if_exclude lo,docker0,bond0` to the command to try to get it working over TCP)

[2019-02-19 07:57] fightbob commented on #317
Hi @JKChun ,  horovod with MVAPICH has better performance  than openmpi?

[2019-02-19 07:58] tsmolcic commented on #839
I'm not familiar if you can do this with Horovod, but you might find this useful: https://docs.nvidia.com/deploy/mps/index.html

[2019-02-19 08:03] tsmolcic commented on #836
Are you sure you have CUDA installed?
IIRC, I had the same error once installing Horovod. Solved it using the following command to install it:

```HOROVOD_NCCL_HOME=/path/to/nccl HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_CUDA_HOME=/path/to/cuda pip install --no-cache-dir horovod```

[2019-02-19 08:09] nidhidamodaran commented on #830
with 2 workers, horovod + RDMA, i get 560 images/s on each worker
with 2 workers, horovod +GDRDMA, i get 116 images/sec on each worker

[2019-02-19 20:32] hillolsarker commented on #836
It was inside a singularity environment which needed some flags to mount the drivers.

[2019-02-19 20:32] #836 closed

[2019-02-20 00:47] alsrgv commented on #830
@nidhidamodaran, do you have [nv_peer_memory](https://github.com/Mellanox/nv_peer_memory) driver installed & running on both machines?  If yes, you may need to Mellanox to help with debugging.

[2019-02-20 00:49] alsrgv commented on #839
@UditGupta10, you'd have to specify `allow_growth`, [like so](https://github.com/horovod/horovod/blob/master/examples/tensorflow_mnist.py#L140), and make sure multiple processes will end up pointing to the same GPU (e.g. by using `hvd.local_rank() % gpus_per_server`).

[2019-02-20 00:49] alsrgv commented on #839
Note though, that NCCL may deadlock if you run multiple NCCL ranks on the same GPU.

[2019-02-20 00:53] alsrgv commented on #831
@deepakn94, can you check that there are no other non-routed interfaces on those servers that should be excluded as well?

[2019-02-20 00:54] alsrgv commented on #834
@Ruijin1988, could you uninstall MPICH and install Open MPI 4.0.0 instead?

[2019-02-20 00:57] alsrgv commented on #833
@opetrova, I think the issue is caused by the fact that our image is based on NVIDIA CUDA image and may not work well on machines w/o GPU.  Is it an option for you to make your own docker image w/o CUDA?  You could reuse https://github.com/horovod/horovod/blob/master/Dockerfile, just remove all the CUDA parts.

[2019-02-20 00:59] alsrgv commented on #824
@crab1234, there are many options from different vendors.  You could check with your IT what are the good options to purchase.

[2019-02-20 01:06] alsrgv commented on #800
@abidmalikwaterloo, this error message should be harmless, as it falls back to another set of flags in case of this error.  Could you share the installation log?

[2019-02-20 01:27] alsrgv commented on #822
@dgaleareading, you generally need a lot of steps to train deep learning model.

Because of that, Horovod generally helps when your training takes days or weeks and allows you to cut it to hours, but it's going to struggle to cut down training that takes few minutes to seconds.

Additionally, TensorFlow does not work very well if you give it just a single core.  I would recommend trying to run Ten

[2019-02-20 02:50] nlaanait commented on #308
@abidmalikwaterloo if you have access to ornl's gitlab then this repo will get you started:
https://code.ornl.gov/jqyin/mldl-hpc/blob/master/utils

[2019-02-20 04:52] douzsh commented on #827
@yuxihu I tried docker with your command recently.
[code]
Here I got an error I cant pip install a forlder.. and After I replace the command with
[code]
After I using this command, I can successfully install horovod while [Issue](https://github.com/horovod/horovod/issues/823) happend again....
[code]

[2019-02-20 05:11] ustcyue commented on #779
@Jeffwan have you solved the issue? I am also facing similar performance issue on kubernetes, it can only use 1/2 of my network bandwidth, but when running on the same machines without kubernetes, it could fill up the network.

[2019-02-20 05:13] yuxihu commented on #827
It looks like you did not install the correct MXNet package. How did you install MXNet? What is your MXNet version?

[2019-02-20 05:24] ustcyue opened #843 "horovod is summing the gradient or averaging gradient from all the workers?"
This issue https://github.com/horovod/horovod/issues/390 mentioned that in the benchmark, gradients are summed up instead of being averaged.

My question is, what is the default behavior for horovod? Looking at the source code https://github.com/horovod/horovod/blob/master/horovod/tensorflow/__init__.py#L230, it seems the default behavior is summing gradient from all workers? Is this the truth and

[2019-02-20 05:30] alsrgv commented on #779
@ustcyue, are you using `hostNetwork: true` in Kubernetes?

[2019-02-20 05:31] alsrgv commented on #843
@ustcyue, the default is to average: https://github.com/horovod/horovod/blob/master/horovod/tensorflow/__init__.py#L46

[2019-02-20 05:35] douzsh commented on #827
In this docker, I followed your command
[code]
This is the issue I mentioned before....

[2019-02-20 05:35] ustcyue commented on #843
@alsrgv Thank you for pointing it out. Seems the only way to change this behavior is modifying the source code?

[2019-02-20 05:41] tgaddair commented on #843
Hey @ustcyue, you can run `allreduce(tensor, average=False)` or create your own [DistributedOptimizer](https://github.com/horovod/horovod/blob/master/horovod/tensorflow/__init__.py#L151) implementation that does gradient summing.  No need to modify the source code.

[2019-02-20 05:49] ustcyue commented on #843
Thank you @tgaddair , may I know why horovod uses average as the default? Is there any benchmark result for sum vs avg gradient?

[2019-02-20 06:04] UditGupta10 opened #844 "Error when running with large dataset"
I am able to run my parallel code using horovod with a small dataset, but when i switch to a larger dataset I get following Error:
`2019-02-20 11:37:32.386397: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
WARNING:tensorflow:From /mnt/lustre/cds/cdsudit/hvd-14feb/models/TransE.py:45: calling reduce_

[2019-02-20 06:11] tgaddair commented on #843
They should converge the same in most cases, provided you scale the learning rate with the number of workers when averaging.  Facebook published a paper, [Accurate, Large Minibatch SGD: Training ImageNet in 1 Hour](https://arxiv.org/pdf/1706.02677.pdf), that talks about the idea of scaling the learning rate.

An advantage of averaging is gradient magnitudes that are invariant to the number of work

[2019-02-20 06:14] ustcyue commented on #843
@tgaddair Got it, thank you for the explanation, it is very helpful. I will close the issue.

[2019-02-20 06:14] #843 closed

[2019-02-20 06:23] yuxihu commented on #827
can you try: pip install mxnet_cu90==1.5.0b20190215?

[2019-02-20 07:12] douzsh commented on #827
Thanks A LOT!!!  this works well..
downgrade from 1.5.0b20190219
to
1.5.0b20190215
I think this is the problem...
Hope you can have a stable mxnet pip source ASAP..

[2019-02-20 07:12] #827 closed

[2019-02-20 07:45] Jeffwan commented on #779
@ustcyue For your case, you'd better use hostNetwork and give another shot as @alsrgv suggest.
Please also share network hard limit and your kubernetes cluster configuration.

For my case, I do think my kubernetes cluster have big overhead from CNI plugin. Even host network will encounter same issue because in average it cannot utilize all the network and traffic flow is not balanced between NCCL

[2019-02-20 11:59] fightbob commented on #598
@wangxf2018 Could you provide some performance data about horovod with MVAPICH2-GDR ? Thanks a lot in advance.

[2019-02-20 12:01] fightbob commented on #598
Hi @alsrgv, within horovod,  MVAPICH2-GDR is better performance than OpenMPI and nccl2?  Thanks a lot in advance.

[2019-02-20 22:01] alsrgv commented on #598
@fightbob, I do not believe the choice of MPI matters much until you hit a very large scale - hundreds of GPUs.

[2019-02-21 01:10] alsrgv commented on #844
@UditGupta10, is it possible that you have different versions of Horovod on different nodes?

[2019-02-21 01:36] nidhidamodaran commented on #830
I have another weird issue with scaling across node. After the number of workers increases beyond 3, Images/s per worker drops down to 20 Images/sec.

After setting these  I get  around 200 Images/sec per worker. But till 3 workers, i get 500 Images/sec. This is 3 node setup

HOROVOD_HIERARCHICAL_ALLREDUCE=1
HOROVOD_FUSION_THRESHOLD=16777216
NCCL_MIN_NRINGS=4

I am at loss understanding what could

[2019-02-21 02:06] UditGupta10 commented on #844
The error was due to out of memory. I am using a word2vec kind of model. After reducing the dimensions of embedding by 10 times it worked fine. I wonder how the memory issue can be resolved.

[2019-02-21 02:58] TonyTangYu commented on #829
@yuxihu  What if I installed mxnet through source?

[2019-02-21 04:51] #830 closed

[2019-02-21 07:57] soyuutaku commented on #787
@yuxihu Can you please have a look at my Dockerfile, and find out what is missing? I try many ways to compile mxnet/horovod, but have no luck to make it work.

[2019-02-21 09:04] ustcyue commented on #779
Thanks @Jeffwan and @alsrgv , I will try using hostNetwork.  Also, may I know how did you know the traffic flow is not balanced between NCCL rings?

[2019-02-21 18:40] yuxihu commented on #829
Here is the [guide ](http://mxnet.incubator.apache.org/versions/master/install/build_from_source.html)to build MXNet from source. Then you can install Horovod as:
[code]

[2019-02-21 20:13] Ruijin1988 commented on #834
Thanks, it works for me after I remove MPICH.

[2019-02-21 20:27] Ruijin1988 opened #848 "two server with different openmpi version"
I'm using ubuntu 18.04, by typing in `ompi_info`, I got
`Package: Open MPI buildd@lcy01-amd64-009 Distribution
`
`Open MPI: 2.1.1`
But on another server, which I want to call get the version is 3.1.2.

While I'm running the `mpirun -np 16 \
    -H server1:4,server2:4` it causes an ERROR:

May I ask, is it because the two servers have different openmpi version?

Thanks!

[2019-02-21 20:58] alsrgv commented on #848
@Ruijin1988, maybe.  You must use the same Open MPI version everywhere.

[2019-02-21 22:03] yuxihu commented on #787
@soyuutaku The error you got within your docker seems mysterious to me. There might be some configuration issues that I am still not aware of. But I suggest you to try a few things:

1. Try to run your script outside docker container following the same steps and configuration in your Dockerfile. If it works, then we know it is something related to docker environment.
2. Here is a MXNet [CU90](http

[2019-02-21 23:35] YeYuanS opened #849 "Scaling Efficiency for deep fully connected neural network"
I tried to use Horovod to train a four-layer fully connected neural network on a `4-GPU` machine(each machine train on 1/4 training data and evaluate on same evaluation dataset) and the speed performance was only like `20%` better than training on `1-GPU` machine. Is that because fully connected neural network is hard to parallelize or I'm doing something wrong?

[2019-02-21 23:42] alsrgv commented on #844
@UditGupta10, are you running one process per server?

[2019-02-21 23:48] apeforest commented on #831
@deepakn94 The script in mlperf is using an old version (prototype) of MXNet+Horovod. We no longer need kv = mx.kvstore.create('horovod') any more in the script. Please refer to this new example: https://github.com/horovod/horovod/blob/master/examples/mxnet_imagenet_resnet50.py

[2019-02-22 01:42] UditGupta10 commented on #844
Yes, one process per server.

[2019-02-22 02:29] hillolsarker opened #850 "Horovod init fails"
Platform: Ubuntu 16.04 inside a singularity image
Here is the code:

`import tensorflow as tf`
`import horovod.tensorflow as hvd`
`hvd.init()`

It fails in the init with the following error message:

Fatal error in PMPI_Init_thread: Other MPI error, error stack:
MPIR_Init_thread(474)..............:
MPID_Init(190).....................: channel initialization failed
MPIDI_CH3_Init(89)...............

[2019-02-22 18:43] windson87 opened #851 "Internal error. Requested ReadyEvent with GPU device but not compiled with CUDA."
HI,
I am new to horovod and openmpi stuff..
I want to run distributed training on ubuntu 18.04 with pytorch and two tesla GPU..
After installing horovod newest version (0.16.0) and pytorch (cuda 10, 1.0.1-post2)

it always give me this error (running  horovod/examples/pytorch_mnist.py)
Internal error. Requested ReadyEvent with GPU device but not compiled with CUDA.

I dont know how to handle it, s

[2019-02-22 20:26] WangXin93 opened #852 "'float' object has no attribute 'detach' in pytorch imagenet example."
I ran the [pytorch imagenet example](https://github.com/horovod/horovod/blob/master/examples/pytorch_imagenet_resnet50.py) but got an error that `float` number don't have `detach()` method. It seems that `loss.item()` lead to the `float` number, but I don't know how to fix that in `horovod` framework.

Can anyone help me? Thanks a lot!

[code]

[code]

My environment is:
* pytorch==0.4.1
* horovod

[2019-02-22 20:36] alsrgv commented on #852
Sorry about that, it's a bug.  I've submitted #853 with a fix, meanwhile, you can replace `train_loss.update(loss.item())` with `train_loss.update(loss)`.

[2019-02-22 21:45] hillolsarker commented on #850
Added DNS entry for ac922 via `/etc/hosts`

[2019-02-22 21:45] #850 closed

[2019-02-22 22:15] #852 closed

[2019-02-22 22:47] sudheerExperiments opened #854 "Horovod trained models are not identical across workers"
Hello @alsrgv,

I am training a CNN model using Adam optimizer on a Multi GPU Multi node cluster with 2 compute nodes, each node has 4 GPUs, so in total I have 8 workers.

I need a clarification about something. From what I have read Horovod works in this way. Correct me if I am wrong. 1) Each process loads different chunk of data from the dataset for training. 2) At the end of each epoch, Horovod

[2019-02-22 22:50] sudheerExperiments commented on #828
@HugoPu. I have the same problem, I am getting different predictions after training even though I used broadcast. Did you find out why this is happening?

[2019-02-23 05:57] scotthuang1989 opened #855 "how to sync variable if I use tf.Session?"
In the example,  horovod use:

to sync variable at the beginning of training, but only

 accept hooks as parameter?

Is there native support for **tf.Session?**

[2019-02-24 01:43] TonyTangYu commented on #829
@yuxihu  Thank you for response! I have installed MXNet from source.  Now when I install Horovod, it gives me the following error:

    horovod/mxnet/mpi_ops.cc:47:23: error: no match for call to ‘(horovod::mxnet::Callback {aka mxnet::engine::CallbackOnComplete}) (dmlc::Error*)’
         on_complete(&error);
                           ^
    In file included from horovod/mxnet/mpi_ops.h:22:0,

[2019-02-24 02:37] ppwwyyxx commented on #855
`sess.run()` this op:
https://github.com/horovod/horovod/blob/ca3c1e38798ddfad56d714eaef6ddcfd14fe6bdf/horovod/tensorflow/__init__.py#L95-L102

[2019-02-24 04:52] karlbernard2 opened #856 "Data column features has not been analyzed yet,"
I've been successful fitting a HorovodEstimator
However when I call transform, I get:

java.lang.Exception: Data column features has not been analyzed yet, cannot run TF on this dataframe

My features column is a Dense Vector generated from a  VectorAssembler in a Pipeline.

If I try
`df = tfs.analyze(df_with_val)`
`tfs.print_schema(df)`

I get

I'm not sure what to do and I am stuck, any advice?

[2019-02-25 02:05] fightbob commented on #340
@msalvaris @alsrgv IntelMPI performance is better than "IntelMPI/OpenMPI + NCCL2", is really? That's strange.

[2019-02-25 06:35] ustcyue commented on #582
We also observed similar pattern. We found that tensorflow can only support one computation stream, is horovod allreduce OP launching a computation kernel?
https://stackoverflow.com/questions/36098947/how-does-tensorflow-support-cuda-streams

[2019-02-25 08:44] msalvaris commented on #340
@fightbob With IntelMPI  we are able to use Infiniband but with OpenMPI we weren't.

[2019-02-25 08:52] fightbob commented on #340
@msalvaris Why OpenMPI can't use Infiniband? OpenMPI seems to spupport Infiniband.

[2019-02-25 16:15] AnkBurov commented on #848
@Ruijin1988 I've just been struggling with this for some time. AFAIK no, unfortunately openmpi doesn't have a backward compatibility like at all. Even if the other side of the MPI communication will have same flags compatibility, in the end openmpi will raise an error that versions of the local side and remote side are different.
So you will have to have the exact same version everywhere :disappoi

[2019-02-25 18:16] yuxihu commented on #829
@TonyTangYu It looks like you are building MXNet from source with a commit which does not support Horovod yet. Which branch/commit did you use to build MXNet? We recommend you to use the latest master.

[2019-02-25 18:39] windson87 opened #857 "include/topo.h:20 NCCL WARN Cuda failure 'invalid argument'"
Hello,
I am using NCCL2, horovod to run distributed training with the example of mnist.py from https://github.com/horovod/horovod/blob/master/examples/pytorch_mnist.py.

I installed NCCL2 newest version and OPENMPI according to the official documents, and added to the LD_LIBRARY_PATH. OPENMPI, CUDA are also in the environment path.

But I got the following error which I couldn't figure it out. Rea

[2019-02-26 00:21] alsrgv commented on #856
@karlbernard2, I assume you're using Databricks platform - in which case it's best to contact their support.

[2019-02-26 00:24] alsrgv commented on #844
@UditGupta10, I guess you can try to use fp16 embeddings which may decrease memory usage by ~2x, assuming embeddings dominate the space.

[2019-02-26 00:25] alsrgv commented on #849
@YeYuanS, how many batches per second does your 4-layer FC model process on GPU?  Most likely communication overhead dominates if this number is large.

[2019-02-26 00:59] HugoPu commented on #828
@sudheerExperiments， I have no idea. I tried to find some documnets about how Horovod works, but I got nothing.

[2019-02-26 07:22] UditGupta10 commented on #844
Any references to model parallelism that can be used within horovod?

[2019-02-26 07:36] UditGupta10 commented on #814
Thanks. I am using a Cray system which has a profiler 'craypat' but it requires an executable binary file and i am not sure how to do it with python. After searching on internet for long i haven't found a solution, please suggest a way to profile a distributed python code.

[2019-02-26 10:13] scotthuang1989 commented on #855
thanks. It works .

[2019-02-26 10:13] #855 closed

[2019-02-26 11:56] wangzhimingchn commented on #761
@alsrgv I meet the same problem. It looks like pybind11。
# gdb python3 core.22995
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-114.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copy

[2019-02-26 12:08] vangogh0318 opened #859 "multi-gpu seems to be slower. how to use estimator API to increase train speed"
Running tensorflow_mnist_estimator.py code, I found that there is no linear acceleration， and I also read the related discussion #71 . (running larger-scale CNN benchmarks which show scaling.)

but I have a question,  if I want to use estimator api, how should I modify the estimator code to increase trainning speed? thank you.
Now I am modifying the bert code （support distributed） , so the model i

[2019-02-26 12:33] weixsong commented on #154
My $clang --version$ output:
[code]

and $gcc -v$ output:
[code]
```$ MACOSX_DEPLOYMENT_TARGET=10.12 pip install horovod``` still not work on my macbook

[2019-02-26 19:49] Ruijin1988 commented on #848
Thanks @alsrgv  @AnkBurov . You're right that the versions should be consistent.  Now I'm facing another issue, while I was trying to use another server, it gives me an error like:
`python3: can't open file 'keras_imagenet_resnet50.py': [Errno 2] No such file or directory`.
But it works totally fine with localhost. Do you have any idea what's going wrong here?

Thanks!

[2019-02-26 19:53] AnkBurov commented on #848
Do you have the keras_imagenet_resnet50.py file on the server?

[2019-02-26 19:58] Ruijin1988 commented on #848
@AnkBurov Thanks for your timely response. I have the 'keras_imagenet_resnet50.py' on my localhost. Does that mean the server should also have the same code? If so, where should I put the code and specify the running directory? Thanks!

[2019-02-26 20:45] AnkBurov commented on #848
Yes, you need to have the exact same Python script on all servers where you're planning to run distributed training. This also means that all these scripts on each worker should have an access to your features dataset in the same manner. So when you're runnung `mpirun ... server1,server2 python3 script.py` your MPI implementation will execute this script (these scripts *) on all specified servers

[2019-02-26 20:47] AnkBurov commented on #848
Same script - I mean they can be physically different scripts with the same code, but it's pain to edit them, so one script in a network storage works better.

[2019-02-26 23:10] Ruijin1988 commented on #848
Hi @AnkBurov , I think you're right. I put the code on a shared disk and it's working, but conditionally. I'm able to use only the server, or the localhost. But if i'm trying to call them together like:
`mpirun -np 2 -H localhost:1, deeplearning:1 ........`
and then ends up with following error:
`[deeplearning:32578] [[64792,0],1] ORTE_ERROR_LOG: Data unpack would read past end of buffer in file g

[2019-02-26 23:16] Jeffwan commented on #779
@ustcyue We have data scientist run tests prove that. Sorry I don't know how to easily show that.

[2019-02-27 02:17] yiwuyao3863 opened #860 "Training slows down with gluon and horovod on single server with 4GPUs"
When I use gluon and horovod to tain resnet101 on single server with 4GPUs, the training speed slows down after 100 steps, from 400 samples/s to 80 samples/s。The size of train-set is 4819499, the batch-size for each GPU is 60:
![image](https://user-images.githubusercontent.com/14269389/53463906-52746f80-3a83-11e9-981c-29841eb09953.png)

[2019-02-27 03:29] tgaddair commented on #828
Hey @HugoPu, I've been looking into this issue and the best theory at the moment is that it may be related to GPU floating point rounding in some way.  After testing with both CPU and GPU, it looks like the issue only appears when GPUs are configured.

The error between the embedding tensors gets progressively worse as time goes on:

[code]

One workaround for now would be to periodically `broadca

[2019-02-27 03:33] tgaddair commented on #854
Hey @sudheerExperiments, similar to my suggestion in #820, could you try broadcasting model parameters periodically and see if that solves the model divergence issue and improves accuracy?  It may be that there's something else causing your issue in particular, but if it's also due to something like numerical stability, then that may solve your issue as well.

[2019-02-27 03:34] xiongxiaochu opened #861 "model saved between epochs are same"
I use horovod + keras(tensorflow) to train my model, and i save my model in HDFS path, so i rewrite the modelcheckpoint class, but when i check the model saved in hdfs, i found the model parameters are same between all epochs. Did anyone ever meet this situation? And How do you save the model?

[2019-02-27 03:42] alsrgv commented on #860
cc @yuxihu @apeforest

[2019-02-27 03:46] alsrgv commented on #154
@weixsong, what's precise error message that you're getting?

[2019-02-27 09:11] #861 closed

[2019-02-27 10:19] ghtyrant opened #862 "CUDA invalid argument on PyTorch example"
I'm trying to run the provided PyTorch example (`https://github.com/horovod/horovod/blob/master/examples/pytorch_mnist.py`) using horovod on a machine that has two K80 GPUs.

To start this, I use `mpirun -np 2 -H localhost:2 -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib  -x PATH -x NCCL_DEBUG=INFO python3 torchtest.py`

The process crashes somewhere at line 119 (`loss.backward()`) givin

[2019-02-27 10:26] AnkBurov commented on #848
@Ruijin1988 can't help you with it - I see you're using openmpi. Personally I tried openmpi and had little success with it - in the end I managed to get it working between servers, but when I tried to run mpirun on a different server from my computer I got an error which was reported in an issue tracker as a bug of openmpi in Ubuntu. In your case I would suggest enabling verbose logging of openmpi

[2019-02-27 13:07] ghtyrant commented on #862
Looks like this was caused by having installed horovod twice (in ~/.local/lib and /usr/local/lib). I'm still getting errors, but those are most likely related to NCCL2 and not to Horovod.

Closing this.

[2019-02-27 13:07] #862 closed

[2019-02-27 14:58] wedsall opened #863 "Run Horovod using MPI inside container?"
Hello group,
 Is it possible to run Horovod using the mpirun that's inside the Singularity container? This would make the container fully portable.

[2019-02-27 15:08] nicolefinnie commented on #431
I hit the very same problem on `RHEL 7` with `openMPI 3.0.0` , it seems the pre-built tensorflow version does not work with horovod which is built from source, when `pip install horovod` is issued. I see this problem on `RHEL` but not on `Ubuntu`, so I do think the statement of @tonyreina might be very close to the truth,  glibc on CentOS/RHEL might be out of date. `2.24` on my Ubuntu versus `2.17

[2019-02-27 16:52] naveenmiriyalu opened #864 "Deeplab with Horovod"
Hi ,
I am trying to use Deeplab (https://github.com/tensorflow/models/tree/master/research/deeplab) with Horovod.  I am following the example (https://github.com/horovod/horovod/README.md).

I am at this step of creating a hook and we must then pass it to the tf.train.MonitoredTrainingSession . The steps I have pasted from the tutorial .

But from Deeplab code perspective ,train.py uses slim.train

[2019-02-27 17:06] #816 closed

[2019-02-27 17:12] yuxihu commented on #860
@yiwuyao3863 Please provide your information about your setup, such as training script, Horovod version, MXNet version, CUDA version, etc.

[2019-02-27 17:15] yuxihu commented on #860
@alsrgv Can we have a template in Horovod for users to provide their environment/setup information when they asks a question or report an issue? Right now we have to go through a couple of conversations in order to get these information. Thanks.

[2019-02-27 18:51] sudheerExperiments commented on #854
@tgaddair, Could you please provide me an example on how to use broadcast?

I searched on google but didn't find anything.

With Regards,
Sudheer.

[2019-02-27 19:43] yuxihu commented on #787
@soyuutaku When you build MXNet from source, could you please disable MKLDNN (set USE_MKLDNN = 0)? We recently noticed that there are issues running Horovod with MKLDNN enabled in MXNet. Yours might be related.

[2019-02-27 19:59] alsrgv commented on #860
@yuxihu, good point, adding.

[2019-02-27 20:13] alsrgv commented on #863
@wedsall, running Horovod in Singularity should be similar to running other MPI programs.  We do not have experience (or user guide) with Singularity, but if you make it would it'd be great if you can publish the steps.

[2019-02-27 21:54] nicolefinnie commented on #656
If you can live with the pip tensorflow without MKL DNN performance libraries, you can find "solutions" in the issue #431.  The current pip tensorflow 1.10~1.12 (or 1.13) is built with CUDA 9.0 (or 10.0) so it requires `libcublas.so.9.0` or `libcublas.so.10.0`. That's why you can't run it with CUDA 9.2.

[2019-02-28 01:49] hubutui opened #866 "Question about manual seed in PyTorch"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.0.1
3. Horovod version: 0.16.0
4. MPI version: 3.1.2
5. CUDA version: 10.0
6. NCCL version: 1.3.5
7. Python version: 3.6.8
8. OS and version: Ubuntu 16.04

**Your question:**
In the pytorch example, https://github.com/horovod/horovod/blob/master/examples/pytorch_mnist.py#L35, and https://github.com/horovod/horovod/blob/master/examples/

[2019-02-28 03:25] ustcyue opened #867 "is there a way to identify the slow rank except dump the timeline?"
Our training job sometimes became slower and we suspect it is due to some issue in one of the workers. But horovod only report missing rank when one worker is slower for more than 60s. Is there a way to find out the slowest rank during runtime?

[2019-02-28 03:36] weixsong commented on #154
[code]

[2019-02-28 05:09] UditGupta10 commented on #864
The word2vec example `https://github.com/horovod/horovod/blob/master/examples/tensorflow_word2vec.py`
does not use hooks, hope this helps.

[2019-02-28 08:40] weixsong commented on #154
[code]

[2019-02-28 08:58] nicolefinnie commented on #431
@alsrgv  It's interesting to see an Intel white paper pointed out the very same problem, check out the page 13.

[Best Known Methods for Scaling Deep Learning with Tensorflow on Intel Xeon Processor Based Clusters](https://www.intel.ai/ai/wp-content/uploads/sites/69/Intel_Xeon_HPC_AI_TensorFlow_Scaleout_Package_V_Saletore_AIPG_v0.85_04302018.pdf )

[code]

[2019-02-28 12:26] AnkBurov opened #870 "hvd.size() doesn't change when multiple mpi/horovod processes are executed"
**Environment:**
1. Framework: Keras
2. Framework version: 2.2.4
3. Horovod version: 0.16.0
4. MPI version: mpich 3.2
5. CUDA version: -
6. NCCL version: -
7. Python version: 3.6.2
8. OS and version: Ubuntu 18.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
* https://github.com/horovod/horovod/issues/822

**Your question:**
Hi, when I'm trying to execute

[2019-02-28 18:10] Jeffwan opened #871 "What's the reasonable NEGOTIATE_ALLREDUCE duration?"
**Environment:**

1. Container Image: uber/horovod:0.15.2-tf1.12.0-torch1.0.0-py2.7
2. Machines:  AWS P3.16xlarge V100-SXM2 16GB in placement group
3. Storage: Lustre (use AWS FSx) and ebs (Provisioned IOSP SSD). The following examples are against Lustre.

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes

**Your question:**

I am trying to reproduce Resne

[2019-02-28 21:32] alsrgv commented on #867
We have a plan to implement such slow worker auto-detection, but it's not implemented yet.  You can gather [a timeline](https://github.com/horovod/horovod/blob/master/docs/timeline.md) to see if something consistently stands out.

[2019-03-01 02:46] yiwuyao3863 commented on #860
Maybe the random access of disk leads to slow training, when the Shuffle=False in RecordIO, the training speed maintains high. But how can I solve this problem? Thanks~

[2019-03-01 03:32] ustcyue commented on #194
We are currently implementing a dynamic scheduling feature (number of workers used for a training change dynamically based on the resource availability in a cluster). Most simple way would be restarting the train from a checkpoint when number of workers changed, but this will introduce lots of overhead. If horovod can detach from MPI, it would make this feature much more efficient.

[2019-03-01 03:32] yiwuyao3863 commented on #860
ENV CUDNN_VERSION=7.4.1.5-1+cuda9.0
ENV NCCL_VERSION=2.4.2-1+cuda9.0
ENV MXNET_URL=https://s3-us-west-2.amazonaws.com/mxnet-python-packages-gcc5/mxnet_cu90_gcc5-1.4.0-py2.py3-none-manylinux1_x86_64.whl

Thanks~~

[2019-03-01 03:38] yiwuyao3863 commented on #860
@yuxihu
ENV CUDNN_VERSION=7.4.1.5-1+cuda9.0
ENV NCCL_VERSION=2.4.2-1+cuda9.0
ENV MXNET_URL=https://s3-us-west-2.amazonaws.com/mxnet-python-packages-gcc5/mxnet_cu90_gcc5-1.4.0-py2.py3-none-manylinux1_x86_64.wh
Thanks~~

[2019-03-01 03:38] yiwuyao3863 commented on #860
@alsrgv @yuxihu
Maybe the random access of disk leads to slow training, when the Shuffle=False in RecordIO, the training speed maintains high. But how can I solve this problem? Thanks~

[2019-03-01 03:41] yuxihu commented on #860
Usually we load the data from disk to tmpfs. But you need to have enough memory to host your training data. Here is the command I use:
[code]

[2019-03-01 04:16] yiwuyao3863 commented on #860
@yuxihu Our dataset is ~400GB, maybe the space is not enough~~

[2019-03-01 07:29] jiangzihanict opened #874 "TypeError: Object of Type 'DirectoryIterator' has no len()?"
When I was running keras_imagenet_resnet50.py example, I found the following error. But in the source code,  len() is a function of object Iterator that inherited by DirectoryIterator.  My tensorflow version is 1.2.0 and keras is 2.0.5

traceback (most recent call last):
  File "keras_imagenet_resnet50.py", line 167, in <module>
    steps_per_epoch=len(train_iter) // hvd.size(),
TypeError: object

[2019-03-01 22:07] denfromufa commented on #800
I was able to install horovod in powerai 1.5.4 with python 3.6 and gcc compiler:
`pip install horovod`.
I have not done any testing yet.

[2019-03-02 02:15] alsrgv commented on #194
@ustcyue, detachment from MPI and elastic execution is one of the Horovod projects for 2019.

[2019-03-02 02:18] alsrgv commented on #874
@jiangzihanict, is it possible to upgrade to TF 1.12.0 and latest Keras?  Keras 2.0.5 and old TF may not work with examples.

[2019-03-02 02:19] alsrgv commented on #870
@AnkBurov, do you have any Open MPI or any other MPI version installed separately from your normal MPICH?  This seems like conflict between two MPI implementations.

[2019-03-02 03:35] JaggerYoung opened #875 "question about horovod on mxnet"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) MXnet
2. Framework version: Newest
3. Horovod version: Newest
4. MPI version:  3.1.4
5. CUDA version: 8.0
6. NCCL version: 2.1.4
7. Python version: 2.7
8. OS and version: centos

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https:/

[2019-03-02 14:22] zrss commented on #684
@alsrgv , hi alsrgv, i hang at the init method of horovod ... any advice to debug it ?

[code]

[2019-03-02 14:24] zrss commented on #863
@wedsall , hi wedsall, u can check this out [mpi-operator](https://github.com/kubeflow/mpi-operator)

[2019-03-02 23:39] eric-haibin-lin commented on #875
It looks like the metric is just computed per process, not reduced between nodes.

@apeforest @yuxihu

[2019-03-02 23:41] eric-haibin-lin commented on #194
@alsrgv what kind of interface would hvd expose to elastic execution/MPI detachment? Is there a thread for technical discussion or design?

[2019-03-02 23:42] alsrgv commented on #194
@eric-haibin-lin, not yet - we will start a discussion thread when thoughts are ideas are fleshed out more concretely.

[2019-03-03 02:51] mx8435 opened #876 "Each Process requires GPU memory in TensorFlow 1.13.1"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.13.1
3. Horovod version: 0.6.0
4. MPI version: 4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.2
7. Python version: 3.6.5
8. OS and version: OSX

**Your question:**
Hi @alsrgv, I test `np=8` on localhost, but I find that each process occupy a gpu memoy. Is my openmpi install failed? Or NCCL insta

[2019-03-03 02:54] abditag2 commented on #876
Each horovod process (or as we call it a rank) runs on one GPU. The number of processes that you specify must match the total number of GPUs you have on all your nodes.

[2019-03-03 04:23] mx8435 commented on #876
Thanks for your reply. I've checked the number of GPUs (8) and the `np` option (np=8), it's match.  Is the openmpi or nccl  not install correct?

[2019-03-03 04:33] tgaddair commented on #876
Hey @mx8435, is the issue here that every worker process is taking some memory from every GPU?

If so, did you remember to pin each process to a unique GPU?

[code]

Also, are you running with XLA enabled? XLA may cause issues with GPU memory being allocated across all processes.

[2019-03-03 06:25] mx8435 commented on #876
XLA is not  used in my program and `config.gpu_options.visible_device_list = str(hvd.local_rank())` has been set.

[2019-03-03 14:34] xajxiang opened #877 "Why in one node with 4 V100 GPU card, every GPU card run four mpi program"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow
2. Framework version: 1.13.1
3. Horovod version: 0.16.0
4. MPI version: openmpi4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.3.4
7. Python version: 3.6.5
8. OS and version: ubuntu 16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you rea

[2019-03-03 16:10] xajxiang commented on #876
@mx8435 do you find the solution yet?

[2019-03-03 16:45] tgaddair commented on #876
@mx8435 does this problem also occur when you run standard Horovod examples?  For instance `tensorflow_synthetic_benchmark.py` or `tensorflow_mnist.py`?

[2019-03-03 20:22] abditag2 commented on #877
Seems related to https://github.com/horovod/horovod/issues/876
@xajxiang did you pin each process to a unique GPU?
[code]

[2019-03-03 21:34] alsrgv commented on #876
@mx8435, @xajxiang, this is [a known issue](https://github.com/tensorflow/tensorflow/pull/24461#issuecomment-467235703) in TF 1.13.1.  Unfortunately, the fix did not make it into TF 1.13.x branch.  You can either downgrade to TF 1.12.0 or try out `tf-nightly-gpu`.

[2019-03-03 21:38] alsrgv commented on #877
Closing this issue as a duplicate.

[2019-03-03 21:38] #877 closed

[2019-03-04 00:21] xajxiang commented on #876
@alsrgv  but TF1.12.0 only support cuda 9.0. I see the issue releated a known issue in TF 1.13.1.

If I can close the XLA feature in 1.13.X,  then I can solve the problem

[2019-03-04 00:25] alsrgv commented on #876
@xajxiang, if you have to continue using CUDA 10, you can try `tf-nightly-gpu`. Alternatively, you can try to [build TF from source](https://www.tensorflow.org/install/source) and disable XLA.  I’m not aware of a way to disable XLA without rebuilding TF 1.13.

[2019-03-04 00:32] xajxiang commented on #876
@alsrgv thanks a lot,   I will try to build TF from soure and disable XLA. the solution to disable XLA is through  marco definiton or some thing?

[2019-03-04 01:02] swethmandava commented on #159
I have a similar issue. I tried using all reduce like this

`
if master_process:
    //code
barrier = hvd.allreduce(tf.constant(0))
with tf.Session(config=config) as sess:
    sess.run(barrier)
estimator.train(.....)
`

But this gives me missing_rank:0 for as long as it takes //code to run and then missing_rank:[1,2,3,4,5,6,7] after that and just hangs. Can I increase the 60s limit? The //code is

[2019-03-04 01:06] alsrgv commented on #876
@xajxiang, the configuration script will ask whether you want XLA enabled and you can say “N”.

[2019-03-04 02:23] soyuutaku commented on #787
@yuxihu When i build horovod with Pre-Build MXNet you give, it works. But have no luck when build from source with MKLDNN disable. I also tried branch v1.4.x on mxnet, and it is not work.

[2019-03-04 06:23] jiangzihanict commented on #874
@alsrgv Thanks！I can't upgrade, but there is another way to compute len().

[2019-03-04 06:23] #874 closed

[2019-03-04 09:22] HugoPu commented on #828
Hi @tgaddair，thank you very much for giving me the answer,  I think it is correct.

[2019-03-04 09:22] #828 closed

[2019-03-04 10:49] UditGupta10 commented on #159
I don't think allreduce should be used within if block of rank 0. It should be seen by all ranks so remove the 'if' part, see if it works.

[2019-03-04 12:52] #876 closed

[2019-03-04 13:13] zrss opened #878 "horovod hangs on tf switching to next dataset"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)

TensorFlow

2. Framework version:

1.8.0

3. Horovod version:

0.15.2

4. MPI version:

3.1.3

5. CUDA version:

390.67

6. NCCL version:

2.4

7. Python version:

3.6

8. OS and version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?

Yes

2. If your question is about hang, did you read [

[2019-03-04 17:09] tgaddair commented on #878
Hey @zrss, few questions:

1. Do the Horovod example training scripts (e.g., `tensorflow_mnist.py`) work correctly, or do they also hang?
2. Does your training script still hang if you run with only one process (i.e., `python train_optimizer_v2_fl3_wm_16_horovod.py`)?
3. Do you see any output from Horovod in stdout/stderr about the failure?

If all that checks out, perhaps you could upload a gist

[2019-03-04 17:24] tgaddair commented on #866
Hey @hubutui, my understanding is that there are subtle differences between `torch.manual_seed()` and `torch.cuda.manual_seed()`.  Namely, that `torch.cuda.manual_seed()` will guarantee determinism for on-GPU generation of random numbers like `torch.cuda.FloatTensor(100).uniform_()` ([source](https://discuss.pytorch.org/t/difference-between-torch-manual-seed-and-torch-cuda-manual-seed/13848)).

Af

[2019-03-04 17:53] swethmandava commented on #159
All reduce is not within the if block. Only //code is.

[2019-03-04 18:00] UditGupta10 commented on #159
I missed that. Maybe you could use hvd.shutdown before if block and hvd.init after if block again. I haven't used it personally, just give it a try.

[2019-03-04 18:09] UditGupta10 commented on #159
There's also a naive approach. Initialise a boolean flag to be False for all ranks. In the //code last line set the flag to be True and broadcast using mpi4py. All other ranks check for the flag to be True using while loop, break when true. This will act as a barrier, allreduce (0) not required. Let me know if it helps.

[2019-03-04 19:55] #792 closed

[2019-03-05 00:48] xajxiang opened #880 "horovod hang with tensorflow_mnist.py, gdb show block on semaphonre in nsync call"
Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow
Framework version: 1.13.1
Horovod version: 0.16.0
MPI version: openmpi4.0.0
CUDA version: 10.0
NCCL version: 2.3.4
Python version: 3.6.5
OS and version: ubuntu 16.04

**Your question:**
Please ask your question here.

I  want to run tensorflow_minist.py, but block on issues such as #877 #876 yesterday.
@alsrgv  suggest me to  try out tf-nig

[2019-03-05 08:53] jiangzihanict opened #881 "Training Resnet50 error"
I am using latest keras and keras-application to train a resnet50 model, but found following error. I have been google for a long time but haven't found a solution.

The related code:
`input_shape=(64,64,3)`
`model = keras.applications.resnet50.ResNet50(include_top=False, weights=None, input_shape=input_shape, classes=2)`
`train_gen = ImageDataGenerator(preprocessing_function=keras.applications.re

[2019-03-05 13:27] sergei-from-vironit opened #882 "Horovod docker with Cuda-10.0 support"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.12.0
3. Horovod version:
4. MPI version: 3.1.2
5. CUDA version: nvidia/cuda:10.0-devel-ubuntu16.04
6. NCCL version: 2.4.2-1+cuda10.0
7. Python version: 2.7
8. OS and version: 16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https

[2019-03-05 13:37] zrss commented on #878
thx @tgaddair  ~ i found my problem, i use `-mca btl ^openib` instead of `-mca btl self,openib,tcp`, it doesn't hang any more ...

[2019-03-05 13:38] #878 closed

[2019-03-05 17:56] ssstuvz commented on #94
If I unset CUDA_VISIBLE_DEVICES the code can't find any devices...

[2019-03-05 18:17] ssstuvz commented on #748
Same issue :(

[2019-03-05 18:54] bluesummers1129 opened #883 "No module named horovod.spark"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow
2. Framework version:
1.13.1
3. Horovod version:
0.16
4. MPI version:
3.0.0
5. CUDA version:
N/A
6. NCCL version:
N/A
7. Python version:
2.7
8. OS and version:
Amazon Linux AMI release 2018.03

**Your question:**
Please ask your question here.
When I try to run the toy or end-to-end Spark examples I get the following err

[2019-03-05 22:03] apeforest opened #884 "Segmentation fault: running MXNet with Horovod on Ubuntu Linux 16.04"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.4.0
3. Horovod version: 0.16.0
4. MPI version: 3.1.1
5. CUDA version: 9.2
6. NCCL version: 2.2.13
7. Python version: 3.5
8. OS and version: Linux Ubuntu 16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/h

[2019-03-05 22:08] apeforest commented on #884
The rootcause of this issue is because the pip release of MXNet is built using GCC 4.8.4 and Horovod pip release is built using GCC 5.x. There is a function call from Horovod to MXNet using `std::function()` which has different function signature between [GCC 4.x](https://github.com/gcc-mirror/gcc/blob/gcc-4_8_4-release/libstdc++-v3/include/std/functional#L2069) and [GCC 5.x](https://github.com/gc

[2019-03-06 00:49] alsrgv commented on #883
@bluesummers1129, do you have TensorFlow & Horovod installed on Spark workers?

[2019-03-06 00:50] alsrgv commented on #748
@ssstuvz, can you check whether there are any errors in `dmesg` or during the TensorFlow run?  This mismatch is often caused by a misconfiguration or GPU error, in which cases you should have an error message.

[2019-03-06 00:55] alsrgv commented on #882
@sergei-from-vironit, TensorFlow 1.12.0 is prebuilt with CUDA 9.  TensorFlow 1.13.1 supports CUDA 10, but it has [an issue with XLA](https://github.com/horovod/horovod/issues/876).  One option is to use `tf-nightly-gpu` which does support CUDA 10, another option is to rebuild TensorFlow from source w/o XLA, like one of the users did in https://github.com/horovod/horovod/issues/876.

[2019-03-06 01:42] xajxiang commented on #880
@alsrgv  disable_p2p show exchange parameters with direct memeory, enable p2p show exchange parameter with p2p, which one has the highest performance? thanks.

what's our reason for #880

[2019-03-06 05:52] jiangzihanict commented on #881
I solve this by change the loss function from `sparse_categorical_crossentropy` to `categorical_crossentropy`. And if doing classification, the resnet50 model `include_top` must be true.

[2019-03-06 05:52] #881 closed

[2019-03-06 06:00] bluesummers1129 commented on #883
@alsrgv D'oh that appeared to be the problem. I installed the libraries on the workers as well and it seems to have fixed the issue and I can run it end-to-end, though now I'm seeing the cluster hang if I ctrl-c out of a training run of the rossman Spark script and then try to run it again. That is, after I spark-submit it gets to the training and I see
[code]
and then the job just hangs forever.

[2019-03-06 06:56] eric-haibin-lin commented on #194
hi @alsrgv just for clarification - does "detachment from MPI" mean horovod is not going to use existing MPI implementations for this feature?

[2019-03-06 08:38] #882 closed

[2019-03-06 08:45] ustcyue commented on #871
@Jeffwan What we found is that horovod timeline is recorded at host side, which cannot always show the real problem. You'd better dump the tensorflow timeline and look at the execution timeline on GPU.

[2019-03-06 09:09] ssstuvz commented on #94
Now I get 'tensorflow.python.framework.errors_impl.InvalidArgumentError: 'visible_device_list' listed an invalid GPU id '4' but visible device count is 4' :)

Here is the SLURM script:
#!/bin/bash -l
#SBATCH -J horovod
#SBATCH -N 2
#SBATCH -n 8
#SBATCH --gres=gpu:4
#SBATCH --time=1-0:0:0
#SBATCH -p all

module load gpu/cuda-9.0
module load mpi/openmpi-3.1.2
module load python/python-3.6.8

cd /tri

[2019-03-06 09:49] Crystalrem opened #889 "Scaling efficiency is less than 70% when we training on single server with 4 GPUs"
When we train resnet50 with imagenet on a server with a Tesla V100, the traing speed is  3.81 steps/s. But when we training with horovod on on the same server with 4 V100 GPUs, the training speed can only reach 2.62 steps/s. Our observe from the timeline is that horovod is not overlapping with backward propagation and some horovod cycle blocked the training process for more than 100ms. By the way,

[2019-03-06 12:15] windson87 opened #890 "how does Horovod do allreduce after each epoch"
Hi, Could you please kindly clarify some questions from "pytorch_mnist.py" script.

My question is: we do data sampling using torch.utils.data.distributed.DistributedSampler, and then broadcast params from Rank 0 to other GPUs to guarantee every GPU has the same params to start.

But we did it outside the training loop so seems only done once at the beginning of the training. So how does Horovod d

[2019-03-06 13:03] ssstuvz commented on #520
I am really wondering whether -H flag is needed when using SLURM. It definitely works fine without this flag on a single node!

[2019-03-06 17:55] abditag2 commented on #159
@swethmandava i dont think you can allreduce a constant tensor. Try the barrier with a Variable tensor.

[2019-03-06 19:26] Jeffwan commented on #871
@ustcyue

I check GPU utilization, it's not always above 90% level and it comes intermittent drop down then I suspect CPU side may blocker.

I check CPU utilization rate.  Seems each process uses 450~550% cpu in these cases. The machine I use has 8 gpus and 64 cpus. I tried different parameters like inter_op and intra_op but can not utilize full CPU resource. It's probably the IO limitation? I tri

[2019-03-07 01:54] ustcyue commented on #871
@Jeffwan did you try synthetic data? Is scaling efficiency the same? Also did you compare performance of single card and 8 card on the same machine?

[2019-03-07 07:32] xyy-Iv opened #892 "Question about Tensorflow using horovod"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13.1
3. Horovod version: 0.16.0
4. MPI version: openmpi-bin (1.10.2-8ubuntu1)
5. CUDA version: 10, RTX2070 GPU, CUDNN 7.4.2
6. NCCL version: 2.4.2
7. Python version: 3.7
8. OS and version: Ubuntu 16.04

I have a tensorflow problem, it cannot use Convolution layers with horovod. Here is the output:
[code]

[2019-03-07 07:52] Jeffwan commented on #871
@ustcyue I've tried synthetic data. Absolute number is little bit higher. Actually scaling efficiency is close to 90% for 8 machines.  I have not checked more machines.

1 | 875 | 1
-- | -- | --
8 | 6725 | 96%
16 | 12719 | 90.80%
32 | 25096 | 89.62%
64 | 49123 | 87.70%

[2019-03-07 09:55] Sergei-Lebedev commented on #871
@Jeffwan It can be a problem with the network. What interconnect you use? I see from logs that NCCL tried to load ibverbs but failed.

[2019-03-07 13:13] maxhgerlach opened #893 "Horovod hangs -- include/shm.h:42 NCCL WARN Cuda failure 'invalid argument'"
Hi,

I am trying to get Horovod trainings running on a cluster built from Nvidia RTX 2080 ti GPUs and Infiniband interconnects.

Installed software:

- Ubuntu 16.04.5 LTS
- Cuda 10.0.130-1
- NCCL 2.4.2-1+cuda10
- Open MPI 3.1.2
- Mellanox OFED 4.4-2.0.7.0
- Tensorflow 1.13.1, custom built without XLA support
- Horovod 0.16

This is the device topology (PCI express dual root):

[code]

Horovod work

[2019-03-07 15:04] casparvl opened #894 "Pip3 install error for Horovod 0.16.0 with intel compilers"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13.1
3. Horovod version: 0.16.0
4. MPI version: 2018.3.222
5. CUDA version: 10.0.130
6. NCCL version: 2.3.5
7. Python version: 3.6.6
8. OS and version: RedHatEnterpriseServer 7.5
9. Compilers: icc version 2018.3.222

**Bug report:**
Running

`pip3 install horovod`

fails on the setup.py install:

[code]

I have noticed that timeline

[2019-03-07 18:33] Jeffwan commented on #871
@Sergei-Lebedev I use 25Gbps network without IB support. It will use default eth0 instead. I think 25Gbps should be good enough for ResNet50 model?

[2019-03-08 04:29] eric-haibin-lin opened #895 "mxnet+hvd with different random seed won't work with Gluon API"
**Environment:**
1. Framework: (MXNet)
2. Framework version: 1.4
3. Horovod version: v0.16.0
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version: 2.7/3.6
8. OS and version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.md)

[2019-03-08 04:36] yuxihu commented on #895
@eric-haibin-lin append "using Gluon API" in the title to avoid confusion?

[2019-03-08 06:42] eric-haibin-lin commented on #895
Added. Thanks

[2019-03-08 07:29] kinglion811 opened #897 "horovod with nccl2 and rdma on mellanox 100Gb device not work"
**Environment:**
1. Framework: tenworflow
2. Framework version:  1.9
3. Horovod version:  0.11.0
5. CUDA version: 9.2
6. NCCL version: ncc2
7. Python version: python3
8. OS and version: ubuntu 16.04

I have some v100 gpu machines (host1 host2 host3 host4), using the mellanox 100Gb NIC, host1 and host2 are on the same switch (switch1), host3 and host4 are on the other switch (switch2), and switch1

[2019-03-08 15:13] maxhgerlach commented on #893
I downgraded NCCL from 2.4.2-1 to 2.3.7-1 and reinstalled Horovod.

That seems to have fixed the problem!

[2019-03-08 19:09] jaliyae commented on #761
Facing a similar issue and originating from pybind11. Any suggestions?
`Signal: Segmentation fault (11)
Signal code: Address not mapped (1)
Failing at address: 0x7fe7cc8e2000
[ 0] /lib/x86_64-linux-gnu/libpthread.so.0(+0x11390)[0x7fe981079390]
[ 1] /lib/x86_64-linux-gnu/libc.so.6(+0x14e199)[0x7fe980dec199]
[ 2] [1,15]<stderr>:/opt/conda/lib/python3.6/site-packages/readers/data_ext.cpython-36m-x86_

[2019-03-09 19:56] pstefanou12 opened #898 "│tensorflow.python.framework.errors_impl.NotFoundError: /home/pat/.virtualenvs/venv/lib/python3.6/site-packag training = mp.Process(target=train) │es/horovod/tensorflow/mpi_lib.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN10tensorflow14kernel_fac measuring = mp.Process(target=measure) │tory17OpKernelRegistrar12InitInternalEPKNS_9KernelDefEN4absl11string_viewESt10unique_ptrINS0_15OpKernelFacto │ryESt14default_deleteIS8_EE"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/run

[2019-03-10 10:50] witeko commented on #531
@computingdolas You should try the "hipped" version of horovod: https://github.com/ROCmSoftwarePlatform/horovod

[2019-03-10 17:43] computingdolas commented on #531
@witeko 👍 Thank you. Looks promising .. Do we have any performance results ?

Would be interested too.

[2019-03-11 06:34] ustcyue commented on #416
@alsrgv how about 1080Ti? Our system setup is very similar to @meteortwinkle 's. And we observed similar scaling efficiency for both 1080Ti and V100.

[2019-03-11 12:20] vangogh0318 opened #900 "multi code may be slow , how to modify"
**Environment:**
1. Framework: TensorFlow
2. Framework version:  tf 1.11
3. Horovod version:  0.15.2
4. MPI version:  mpirun.real (OpenRTE) 3.1.2
5. CUDA version: cuda 9.0
6. NCCL version: master
7. Python version:  3.6.7
8. OS and version: Ubuntu 16.04.5 LTS
9. GPU=V100
10. batch_size=128

**Checklist:**
1. Did you search issues to find if somebody asked this question before?  yes

**Your questio

[2019-03-11 15:58] tgaddair commented on #894
Hey @casparvl, thanks for raising this issue.  Let me know if #901 fully addresses the compilation issues you were experiencing.

[2019-03-11 17:04] tgaddair commented on #892
Hey @xyy-Iv, this looks like a TensorFlow config issue on one or more machines.  When you run this exact program without any Horovod statements, does it also produce this error message?

[2019-03-12 05:18] ustcyue commented on #582
Turns out it is a issue with tensorflow timeline, if you shut down tensorflow timeline and dump timeline using nvprof, you will find out that they are actually overlapped.

[2019-03-12 05:52] alsrgv commented on #582
@ustcyue, great find!

[2019-03-12 05:57] lakshmiumenon opened #903 "py4j.protocol.Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python"
**Environment:**
1. Framework: Keras
2. Framework version:1.0.5
3. Horovod version:0.16.0
4. Python version:3.6

I was trying to run keras_spark_rossmann.py.
 Installed java jdk1.8.0_201 and set JAVA_HOME. Py4j  updated to the latest version 0.10.8.1.
Attached the error trace.

[keras_spark_error.txt](https://github.com/horovod/horovod/files/2955333/keras_spark_error.txt)

[2019-03-12 08:18] jaliyae opened #904 "Latest Horovod with PyTorch error with NCCL"
**Environment:**
1. Framework: (PyTorch)
2. Framework version: Source
3. Horovod version: 0.16
4. MPI version: openmpi:1.10.3
5. CUDA version:90
6. NCCL version:2.3.7-1+cuda9.0
7. Python version:3.6
8. OS and version:Ubuntu 16

PyTorch with Horovod 0.16 produce the following error (repro all the time) on multi node setup with NCCL. Could not find a similar stack in previous questions. Is this a kn

[2019-03-12 14:42] wackxu opened #905 "Horovod hangs when running mxnet_imagenet_resnet50 example"
Hi,

I am trying to run example  mxnet_imagenet_resnet50  in container with Nvidia P100 GPU. Using horovod/horovod:0.16.0-tf1.12.0-torch1.0.0-mxnet1.4.0-py2.7 image.

but it hangs, the following is the log:
[code]
Could anyone give me some help?

[2019-03-12 16:01] #894 closed

[2019-03-12 22:02] awan-10 opened #907 "Will Horovod work with TensorFlow 2.0 Alpha?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 2.0 alpha
3. Horovod version: master
4. MPI version: MVAPICH
5. CUDA version: 10
6. NCCL version: N/A
7. Python version: 2.7 or 3.6
8. OS and version: RHEL 7

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod

[2019-03-12 23:38] alsrgv commented on #907
@awan-10, we are working with TensorFlow team to support Horovod in 2.0 release.

One of the biggest issues so far is https://github.com/tensorflow/tensorflow/issues/26460, which prevents the user from specifying GPUs to be visible to TensorFlow.  After it's fixed, you should be able to use TF 2.0 APIs, similar to our [eager example](https://github.com/horovod/horovod/blob/master/examples/tensorfl

[2019-03-12 23:41] alsrgv commented on #905
@wackxu, could you check [this](https://github.com/horovod/horovod/blob/master/docs/running.md) and [this](https://github.com/horovod/horovod/blob/master/docs/docker.md) document and check recommendations there, especially around potential hang issues due to routable interfaces and ssh passwordless auth?

[2019-03-12 23:45] alsrgv commented on #904
@jaliyae, to help with reproduction, does this repro with simple [PyTorch MNIST](https://github.com/horovod/horovod/blob/master/examples/pytorch_mnist.py) example?  Additionally, can you share the output of `nvidia-smi topo -m`?

[2019-03-12 23:48] alsrgv commented on #903
@lakshmiumenon, could you paste the log with full output?  The most interesting part is likely before `[1,0]<stderr>:2019-03-11 22:50:41.975079: F ./tensorflow/core/common_runtime/bfc_allocator.h:298] Could not find Region for 0x7fcc3c0130f0`.

[2019-03-12 23:54] alsrgv commented on #416
@ustcyue, 1080TIs would require much more modest networking, 25GbE should be sufficient.  Can you share more details about your set up and the model that you're scaling?

[2019-03-13 00:03] alsrgv commented on #893
@maxhgerlach, did you happen to run in a container environment?  Since NCCL is now open source, we can find the [failing line](https://github.com/NVIDIA/nccl/blob/master/src/include/shm.h#L42), which is:
[code]

Is it possible that you had insufficient shared memory provisioned?

[2019-03-13 00:05] alsrgv commented on #897
@kinglion811, could you provide logs when things aren't working and specify the version of NCCL?

[2019-03-13 00:11] alsrgv commented on #761
@wangzhimingchn, @jaliyae, can you specify `mpirun` command that you use and whether you have RDMA capable NICs in your system?

[2019-03-13 00:17] alsrgv commented on #889
@Crystalrem, can you provide Horovod timeline, and the output of `nvidia-smi topo -m`?  PCIE gen3 may be an issue here.

@ustcyue has [recently found](https://github.com/horovod/horovod/issues/582#issuecomment-471860721) that it's better to use nvprof timeline to determine if communication/computation overlap is happening.

[2019-03-13 01:49] wackxu commented on #905
@alsrgv I am running the example in a single container and the command is
[code]
So it may not be related to the routable interfaces and ssh passwordless auth.

[2019-03-13 02:14] wangzhimingchn commented on #761
@alsrgv No RDMA capable NICs in our system.
The mpirun command:
mpirun --allow-run-as-root --bind-to none -np ${total_gpus} -npernode ${n_per_node} \
     --mca btl_tcp_if_include eth0 \
     --mca orte_keep_fqdn_hostnames t \
     -x HOROVOD_TIMELINE \
     -x HOROVOD_FUSION_THRESHOLD \
     -x NCCL_SOCKET_IFNAME=eth0 \
     -x LD_LIBRARY_PATH \
     python ./scripts/tf_cnn_benchmarks/tf_cnn_benc

[2019-03-13 06:04] lakshmiumenon commented on #903
@alsrgv
[keras_spark_error.txt](https://github.com/horovod/horovod/files/2959968/keras_spark_error.txt)

Attached the updated log.

[2019-03-13 06:21] alsrgv commented on #903
@lakshmiumenon, thanks for the updated log.  Which version of TensorFlow are you using?

[2019-03-13 06:21] alsrgv commented on #905
@wackxu, can you try removing `-H localhost:1`?

[2019-03-13 06:23] alsrgv commented on #761
@wangzhimingchn, thanks!  Which version of Horovod are you using?

[2019-03-13 06:26] alsrgv commented on #871
@Jeffwan, 25GbE is not great for V100 GPUs.  In practice, you get the best performance with 2x100GbE with RDMA, and everything below that is a tradeoff.  AWS has p3dn GPU instances that come with 100GbE connectivity and may improve your scaling.

[2019-03-13 06:39] jaliyae commented on #761
@wangzhimingchn,
This is the mpirun command we used.
`mpirun --hostfile mpi-hosts -x NCCL_IB_DISABLE=1 -x NCCL_SOCKET_IFNAME=eth0 -x NCCL_DEBUG=INFO -x NCCL_IB_DISABLE=1 --mca pml ob1 python`

The NICs are capable of RDMA but we have not enabled it yet.

[2019-03-13 06:40] wangzhimingchn commented on #761
@alsrgv  0.15.2

[2019-03-13 06:41] alsrgv commented on #761
@jaliyae, what if you add `--mca btl ^openib` to your command?
@wangzhimingchn, can you try upgrading to 0.16.0 and see if it changes anything?

[2019-03-13 06:55] lakshmiumenon commented on #903
@alsrgv
tensorflow 1.12.0

[2019-03-13 09:44] maxhgerlach commented on #893
@alsrgv, thanks for looking into this.

We are not using any container technology. I believe there are no shared memory limits in place -- here's what I checked on the four hosts:
[code]

[2019-03-13 12:06] wackxu commented on #905
@alsrgv Thanks for you replay, I removed it but it does not work.

[2019-03-13 14:53] ssstuvz commented on #761
same error, adding --mca btl ^openib didn't help.
I also upgraded to 0.16.0 - didn't help. Tensorflow works fine.

I also have a singularity image with horovod and pytorch that works on the same machine (it has other problems though).

[2019-03-13 16:57] Jeffwan commented on #871
@alsrgv Thanks. I will double check network peak traffic. I will close this issue now, if I have further questions, I will submit another one or reopen this.

[2019-03-13 16:57] #871 closed

[2019-03-13 17:01] Jeffwan commented on #779
Actually EFS is definitely a blocker, if I use provisioned mode with Max I/O, it becomes better. I also tried Lustre as backend storage. It's also better than this.

Network is definitely another factor of slowness, but this is something we can not change at this moment.

I will close this ticket for now.

[2019-03-13 17:01] #779 closed

[2019-03-13 17:35] jw447 opened #909 "Install horovod from source for tensorflow only"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TensorFlow
2. Framework version: r1.13
3. Horovod version: master
4. MPI version: Specturm MPI 10.2
5. CUDA version: 9.2
6. NCCL version: 2.2
7. Python version: 3.6
8. OS and version: Centos 7

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [th

[2019-03-13 17:40] awan-10 commented on #907
@alsrgv - Thanks for the detailed information!

I hope that TF folks don't remove this GPU selection capability. This is really important for advanced use cases such as running things with MPI/Horovod.

[2019-03-13 18:08] jw447 commented on #825
Did yo enabled mxnet and pytorch when building? I got this error "error: TensorFlow, PyTorch, and MXNet plugins were excluded from build. Aborting." When i set HOROVOD_WITHOUT_PYTORCH=1 HOROVOD_WITHOUT_MXNET=1

[2019-03-13 18:33] jw447 commented on #909
I'm thinking there might be a bug for setup.py. I'm not sure if I'm the only one getting this error. I'm using the master branch of horovod and the function "build_extensions(self)" under class "custom_build_ext" is not working.

I'm modifying the corresponding lines to show the error:
[code]
When I set the "HOROVOD_WITHOUT_TENSORFLOW" to be 0, which will make the if statement true, the function d

[2019-03-13 19:14] jw447 commented on #308
Hi @abidmalikwaterloo @nlaanait when you installed horovod on Summit, and you run hvd.init() in python, did you observe some warning/error messages like following?

[code]

I built nccl2 and tensorflow r1.13 on local. Thank you.

[2019-03-13 21:48] kalyc opened #910 "Horovod not working with CUDA 10"
Hello,

We are installing tensorflow 1.13.1 with CUDA 10 and installing [Horovod 0.14.0](https://pypi.org/project/horovod/0.14.1/) on Amazon Linux ec2 instance.

Test Script provided by Uber:
[code]

However, CUDA 10 appears to be not supported with Horovod yet.

We get the following error message:

[code]

[code]

How should this issue be fixed? Is CUDA 10 not supported with Horovod?

[2019-03-13 22:04] tgaddair commented on #909
Hey @jw447, when you set the environment variable `HOROVOD_WITHOUT_TENSORFLOW` to `0`, you're actually setting it to the string value "0", which will evaluate to `True` in Python.

Instead, you should set `HOROVOD_WITH_TENSORFLOW=1`.

So your command line could be:

[code]

[2019-03-13 22:07] jw447 commented on #909
Oh, I see. Thank you so much.

[2019-03-13 22:24] alsrgv commented on #910
@kalyc, how are you installing Horovod?  Horovod does support CUDA 10, but in your case, it's likely that Horovod was compiled with a wrong CUDA version.  You can specify CUDA version to use during Horovod installation by providing `HOROVOD_CUDA_HOME=/path/to/cuda10` and rebuilding Horovod with `--no-cache-dir`.

Also, there's an issue (#876) in TensorFlow 1.13.1, that would require you to rebuild

[2019-03-13 22:27] kalyc commented on #910
Hi @alsrgv thanks for getting back to me. We are using the shipped PyPi package for installing horovod.

[2019-03-13 22:28] kalyc commented on #910
We have disabled XLA already

[2019-03-13 22:29] alsrgv commented on #910
@kalyc, great!  The PyPI package is source distribution, so it compiled during `pip install`.  Can you try reinstalling it with `--no-cache-dir` and `HOROVOD_CUDA_HOME=/path/to/cuda10`, along with regular NCCL flags?

[2019-03-13 22:32] kalyc commented on #910
@alsrgv can you clarify how to install it using `--no-cache-dir`?

[2019-03-13 22:36] alsrgv commented on #910
@kalyc,
[code]

[2019-03-13 22:56] kalyc commented on #910
Hi @alsrgv
Thanks, this fixed the issue. Would be great to have info about `HOROVOD_CUDA_HOME` and `--no-cache-dir` in the user docs.

[2019-03-13 23:12] alsrgv commented on #910
Great idea! Made PR #911

[2019-03-13 23:18] kalyc commented on #910
@alsrgv thanks for the PR!

Wanted to check if we need to set the following variables as well?

[code]

[2019-03-13 23:19] alsrgv commented on #910
If you set up HOME, you don't need to set up INCLUDE and LIB.

[2019-03-13 23:22] kalyc commented on #910
Ok thanks @alsrgv , would be nice to mention the above as well.

Found links to other variables from this issue: https://github.com/horovod/horovod/issues/734

[2019-03-13 23:26] alsrgv commented on #910
Good idea, updated.

[2019-03-13 23:29] jw447 commented on #909
@tgaddair Hi I'm trying to use advised command to install horovod. However I've got this error:
[code]
Could you help me locate the error please?

[2019-03-13 23:31] kalyc commented on #910
Thank you for the fix @alsrgv!

[2019-03-13 23:31] #910 closed

[2019-03-13 23:43] #909 closed

[2019-03-13 23:44] jw447 commented on #909
This can be solved by "git clone https://github.com/horovod/horovod.git --recursive".

[2019-03-14 07:32] jaliyae commented on #904
@alsrgv, thank you for looking into this. I think this is a no issue, we found that only one of the machines in our cluster is causing this, probably it has a bad configruation. After removing it we no longer see this error. I will close the issue for the above reason.

[2019-03-14 07:32] #904 closed

[2019-03-14 08:57] canopyPanda opened #912 "Scaling efficiency difference between Pytorch and Tensorflow"
**Environment:**
1. Framework: (TensorFlow, PyTorch)
2. Framework version: TensorFlow 1.11.0, PyTorch 1.0.1.post2
3. Horovod version:0.15.2
4. MPI version: (Open MPI) 4.0.0
5. CUDA version: cuda_9.0.176_384.81_linux.run
6. NCCL version:
7. Python version: 2.7
8. OS and version: unbuntu 16.04

**Your question:**
I run (tensorflow/pytorch)_synthetic_benchmark.py using horovod in a machine with two T

[2019-03-14 09:18] tingweiwu opened #913 "Segmentation fault when run with mutiGpu"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow
2. Framework version:
tf1.12.0
3. Horovod version:
0.15.2
4. MPI version:
3.1.2
5. CUDA version:
9.0
6. NCCL version:
2.3.5-2+cuda9.0

7. Python version:
3.5
8. OS and version:
Ubuntu 16.04.5 LTS

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
yes. but no effective solution

2. If

[2019-03-14 16:44] jw447 opened #914 "Using Horovod on Summit (IBM Power9 machine)"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow r1.13
2. Framework version:
3. Horovod version: 0.16
4. MPI version: spectrum mpi 10.2
5. CUDA version: 9.2
6. NCCL version: 7.5
7. Python version: 3.7
8. OS and version: Centos

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, did you read [th

[2019-03-15 06:31] BoseSean opened #918 "Keras taking super long saving the first checkpoint"
**Environment:**
1. Framework: Keras
2. Framework version:
tf-nightly-gpu       1.14.1.dev20190314
Keras                2.2.4
3. Horovod version: 1.16.0
4. MPI version:
mpirun (Open MPI) 3.1.2
5. CUDA version:
cuda/10.0 nccl/2.4.2-cuda10.0 cuDNN/7.5.0-cuda10.0
6. OS and version:
Centos 7.4
**Your question:**
Please ask your question here.
The first checkpoint will taked minutes to save, whereas la

[2019-03-15 08:04] alsrgv commented on #914
I've asked a few folks who run Horovod on Summit to take a look.

[2019-03-15 08:05] alsrgv commented on #918
@BoseSean, as a sanity check, are you using any sort of network storage to save checkpoints?

[2019-03-15 08:16] alsrgv commented on #912
@canopyPanda, that's odd - I get 94% scaling efficiency on pytorch_synthetic_benchmark.py on a system with similar GPUs.  Are you using NCCL?

[2019-03-15 08:21] alsrgv commented on #905
cc @yuxihu @apeforest to take a look

[2019-03-15 08:23] alsrgv commented on #893
That's pretty odd. @sjeaugey, does anything jump out to you as a possible cause for `cudaHostRegister` to fail?

[2019-03-15 08:27] canopyPanda commented on #912
I didn't use NCCL when doing that test. So the the difference due to the lack of NCCL?
And why the tensorflow's scaling efficiency is better than pytorch?

[2019-03-15 12:57] nlaanait commented on #914
@jw447 we haven't experienced any compatibility issues between spectrum-mpi and horovod. See #308 for link to a build recipe.
Also you're initiating horovod on a login node... instead grab a compute node and use jsrun to configure/launch mpi process and execute your script.

[2019-03-15 14:34] jw447 commented on #914
Hi @nlaanait Thank you for your suggestion.

Now it seems working on work node when I launch jsrun job. One thing interesting is that hvd.init() still gives error outside a jsrun command. I'm guessing it only works with mpi program. Not sure if it is an issue if I run tensorflow benchmark in a local mode and update variables using horovod.

[2019-03-15 14:45] GwinSalbor commented on #319
Hi, i have no idea, but your solution didn't solve my problem
![image](https://user-images.githubusercontent.com/28218333/54439530-06475180-474a-11e9-9235-31fd44f5c12b.png)

[2019-03-15 15:46] sjeaugey commented on #893
This is a known, fixed bug. https://github.com/NVIDIA/nccl/pull/185
To get the fix, use the latest version on github.
If you do not want to recompile NCCL (and likely Horovod) you may workaround the issue by :
 - Disabling trees : NCCL_TREE_THRESHOLD=0 (but performance may be lower)
 - Forcing P2P (instead of SHM) across all GPUs if you have a Skylake CPU with a proper BIOS : NCCL_P2P_LEVEL=5
Or r

[2019-03-15 16:12] maxhgerlach commented on #893
@sjeaugey -- thanks for letting me know about that known issue!

We will stick with NCCL 2.3 for now and reconsider 2.4 once the fix is released.

[2019-03-15 16:12] #893 closed

[2019-03-15 22:30] alsrgv commented on #912
@canopyPanda, any reason for not using NCCL?  Without it, we fall back to CPU allreduce and PyTorch fallback code path may be less optimized.

[2019-03-16 05:28] alsrgv commented on #319
@GwinSalbor, can you try the latest version of Open MPI 4.0.0?  It should work without `-mca btl ^tcp`.

[2019-03-16 06:14] BoseSean commented on #918
@alsrgv yes I am using BeeGFS as storage server

[2019-03-16 14:28] #912 closed

[2019-03-17 11:52] boyuzz opened #921 "Issues in training multiple models separately but simultaneously in Pytorch"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.1.0a0+f36f3cc
3. Horovod version: 0.15.2
4. MPI version: 4.0.0
5. CUDA version: 9.2.88
6. NCCL version: 2.4.2
7. Python version: 3.6.8
8. OS and version: Red Hat 4.8.5-36

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Yes
2. If your question is about hang, did you read [this doc](https://github

[2019-03-18 06:42] anjuanjup opened #922 "keras_spark_rossman.py is throwing type error while trying to train"
**Environment:**
1. Framework:  tensorflow 1.12.0, Spark 2.2.1
2. Horovod version: 0.16.0
3. MPI version: openMPI 3.1.1
4. CUDA version: NA
5. NCCL version: NA
6. Python version: 3.6
7. OS and version: CentOS 7

**Question:**
--------------------------------------------------------------------------

######
I'm getting a type error while trying to run the training using keras_spark_rossman.py. The

[2019-03-18 08:45] jiangzihanict opened #923 "Running test_tensorflow.py on cpu nodes ERRNO=38"
I  am running test_tensorflow.py on a CPU node for testing horovod installing, but I get the following error:
...
[anode84:04386] Read -1, expected 4912, errno = 38
[anode84:04384] Read -1, expected 4912, errno = 38
[anode84:04383] Read -1, expected 4914, errno = 38
[anode84:04385] Read -1, expected 4912, errno = 38
[anode84:04384] Read -1, expected 4914, errno = 38
[anode84:04383] Read -1, expect

[2019-03-18 10:12] GwinSalbor commented on #319
I already use the latest version of MPI
![image](https://user-images.githubusercontent.com/28218333/54522955-768ae880-497f-11e9-870b-f5b30a9a0b27.png)

[2019-03-18 16:09] alsrgv commented on #319
@GwinSalbor, is that a Mac? This question is specifically about OSX.

[2019-03-18 16:54] GwinSalbor commented on #319
oh sorry,  i'm working with ubuntu.

[2019-03-18 17:20] alsrgv commented on #319
@GwinSalbor, could you open a new question ticket and fill out questionnaire about your environment?

[2019-03-18 17:28] GwinSalbor opened #926 "mpirun noticed that process rank 0 with PID 0"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch)
2. Framework version: tensorflow-gpu==1.4.0, keras==2.0.8, torch==1.0.1
3. Horovod version:0.15.2
4. MPI version:4.0.0
5. CUDA and cudann version: 8.0, 6.0
6. NCCL version:2.2.13
7. Python version: 3.5.2
8. OS and version: Ubuntu 16.04 lts
9. Processor: Intel® Celeron(R) CPU G3930

**Issue**
mpirun noticed that process rank 0 with PID 0 o

[2019-03-18 17:42] GwinSalbor commented on #319
https://github.com/horovod/horovod/issues/926

[2019-03-18 18:05] LeavesLei opened #927 "I have installed MPI, but when I installed Horovod: "pip install horovod". there is a problem:"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/run

[2019-03-18 19:59] alsrgv commented on #926
@GwinSalbor, I suspect that the issue is with some piece of software pre-compiled with AVX instructions, while your processor [does not support](https://ark.intel.com/content/www/us/en/ark/products/97452/intel-celeron-processor-g3930-2m-cache-2-90-ghz.html) them.

Does simply running `python -c "import tensorflow"` succeed?

If it does, can you try to follow [this guide](https://stackoverflow.com/

[2019-03-19 07:20] cklsoft opened #930 "Why use learning_rate=learning_rate*worker_num?"
**Your question:**
Please ask your question here.

I doubt that why use learning_rate=learning_rate*worker_num? What will happen if still use origin learning_rate?

[2019-03-19 12:37] hubutui opened #934 "GPU0 uses more memory?"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.0.1
3. Horovod version: 0.16.1
4. MPI version: 3.1.2
5. CUDA version: 10.0.130
6. NCCL version: 2.4.2
7. Python version: 3.6.8
8. OS and version: Ubuntu 16.04

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
 related to #242 , but not helpful.

**Your question:**
![image](https://user-images.gith

[2019-03-19 13:28] GwinSalbor commented on #926
Thanks, problem was fixed by downgrading horovod version to 0.14.1.

[2019-03-19 13:28] #926 closed

[2019-03-19 13:44] hubutui commented on #930
check #241

[2019-03-19 15:13] tgaddair commented on #921
Hey @boyuzz, yes, you can train multiple models simultaneously with (or without) Horovod.

If you only want to train one model per GPU, you can throw out most of the Horovod components for data parallelism, gradient aggregation, learning rate adjustment, etc.  The only thing you need to do is ensure that each process is pinned to a separate gpu:

[code]

Then you need to use some conditional logic

[2019-03-19 15:20] tgaddair commented on #930
Hey @cklsoft, because Horovod's `DistributedOptimizer` averages the gradients across all workers, if you don't increase the learning rate, then you will travel a much smaller distance through your parameter search space each epoch.

For example, suppose your dataset works out to 100 batches per epoch.  If using Horovod you scale up to 10 workers, then each worker will only be processing 10 batches

[2019-03-19 15:35] tgaddair commented on #934
Hey @hubutui, does this happen when you run the standard benchmarks, like [pytorch_synthetic_benchmark.py](https://github.com/horovod/horovod/blob/master/examples/pytorch_synthetic_benchmark.py)?

[2019-03-20 00:18] zhouhaiy opened #935 "How horovod integrate itself into tf distribute strategy?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/run

[2019-03-20 06:32] hubutui commented on #934
Thank you. I double check it. And I found that I have a pretrained model load as backbone but not used in my training model. It used extra memory.

[2019-03-20 06:32] #934 closed

[2019-03-20 06:38] hubutui opened #936 "broadcast optimizer state dict or not in PyTorch?"
Hey, I notice there is a minor difference in https://github.com/horovod/horovod/blob/master/examples/pytorch_synthetic_benchmark.py#L64, https://github.com/horovod/horovod/blob/master/examples/pytorch_imagenet_resnet50.py#L155, and https://github.com/horovod/horovod/blob/master/examples/pytorch_mnist.py#L94. Do I need to broadcast optimizer state dict or not?
Also, there's no API reference documen

[2019-03-20 09:10] jiangzihanict commented on #898
Maybe the version of TF is not compatible with Horovod?

[2019-03-20 10:24] jiangzihanict opened #937 "segmentation fault(invalid permisions) happen when training TensorFlow model"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.12.0 only cpu version
3. Horovod version: 0.16.1
4. MPI version: OpenMPI 3.1.2
5. CUDA version: \
6. NCCL version: \
7. Python version: 3.6.8
8. OS and version: centos6.2 (I can't upgrade)
My gcc version is 4.8.5
My glibc version is 2.17

**Your question:**
I am training a ResNet model on CPU clus

[2019-03-20 11:58] maxhgerlach commented on #930
Note: When you are using Adam or some other optimizer apart from SGD, it is less clear that the learning rate needs to be scaled.

[2019-03-20 12:24] jiangzihanict commented on #937
Sometimes the segmentation fault happens at the beginning.
with gdb, clearly can't access /lib64/libpthread.so.0:
#0  0x00002b452ad07397 in __reclaim_stacks () from /lib64/libpthread.so.0
Cannot access memory at address 0x7fffe72e9da8

[2019-03-20 13:11] nicolas-ivanov opened #938 "Horovod hangs on Keras TensorBoard Histograms"
**Environment:**

Horovod docker container 0.16.0-tf1.12.0-torch1.0.0-mxnet1.4.0-py3.5

1. Framework: TensorFlow, Keras
2. Framework version: tensorboard==1.12.2, tensorflow-gpu==1.12.0, Keras==2.2.4
3. Horovod version: horovod==0.16.0
4. MPI version: (OpenRTE) 3.1.2
5. CUDA version: V9.0.176
6. NCCL version: 2.4.2
7. Python version: 3.5.2
8. OS and version: Ubuntu 16.04.5 LTS

**Checklist:**
- [x

[2019-03-20 17:39] maxhgerlach commented on #105
@alsrgv Is this functionality still planned for Horovod? It would be very helpful for several of our use cases.

What would you estimate: How much work would it be to implement this without prior knowledge of the code base?

[2019-03-20 18:30] zhenghh04 opened #939 "Symbol not found: __ZN10tensorflow12OpDefBuilder3DocESs"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow

2. Framework version: 1.13.1
3. Horovod version: 0.16.1
4. MPI version: MPICH 3.3
5. CUDA version: Non
6. NCCL version: Non
7. Python version:3.6.5
8. OS and version: macOS Mojave 10.14.3

**Bug report:**
Horovod was built successfully. But try to run it as

$ python -c 'import horovod.tensorflow as hvd'
I got the follo

[2019-03-20 23:49] boyuzz commented on #921
@tgaddair Thank you for your answer. The last point you mentioned sounds interesting. But are there any examples about that? E.g., training 5 models with 10 GPUs where each model is trained on 2 GPUs? I can't find any examples until now. Thank you.

[2019-03-21 07:40] transuranium88 commented on #251
@alsrgv I am trying to do the same thing (split the last fc layer onto multiple devices). I saw there is gradient implementation for allgather operation now, so I think this should be supported, right?

[2019-03-21 08:35] tingweiwu opened #940 "nv_peer_memory should be installed inside the docker or on the host"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/run

[2019-03-21 08:39] tingweiwu commented on #940
found the answer . so close
https://github.com/Mellanox/nv_peer_memory/issues/41#issuecomment-396025143

[2019-03-21 08:39] #940 closed

[2019-03-21 10:06] Qiuzhuang commented on #922
I got this issue too.

[2019-03-21 10:22] ustcyue opened #941 "horovod all gather will report error when the first dimension size is not determined"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.12
3. Horovod version: 0.16
4. MPI version: 3.1.2
5. CUDA version: 9.0
6. NCCL version: 2.2.13
7. Python version: 3.5.2
8. OS and version: Ubuntu 16.04

**Bug report:**
Please describe errorneous behavior you're observing and steps to reproduce it.
I am trying to use all gather to collect net_out from my net function, and I got foll

[2019-03-21 10:25] YashSinha1996 opened #942 "Error pip installing horvod on aws emr-5.16.0 via bootstrap action"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version: 0.16.1
4. MPI version: 3.1.2
5. CUDA version: None
6. NCCL version:
7. Python version: 2.7
8. OS and version: CentOS

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/hor

[2019-03-21 14:27] hubutui commented on #930
@maxhgerlach Interesting, could you share more details?

[2019-03-21 19:44] maxhgerlach commented on #930
Adam normalizes the gradients, after those have been averaged over the workers via allreduce, in an involved way with first and second moment decay. Only the result of that is multiplied by the overall learning rate factor before it is applied to the weights. This is quite a lot more involved than straight SGD, therefore the motivation for the linear scaling rule as presented in Sec. 2.1 of the [I

[2019-03-22 02:31] kinglion811 commented on #897
@alsrgv  it's ok,that my error,thanks

[2019-03-23 10:43] wangguangyuan opened #944 "install error"
HOROVOD_NCCL_HOME=/home/guangyuan/lib/nccl_2.4.2-1_cuda10 HOROVOD_GPU_ALLREDUCE=NCCL conda install --no-cache-dir horovod
usage: conda [-h] [-V] command ...
conda: error: unrecognized arguments: --no-cache-dir --user
(tf1.0) [guangyuan@172-16-30-154 ~]$ module load basic
(tf1.0) [guangyuan@172-16-30-154 ~]$ HOROVOD_NCCL_HOME=/home/guangyuan/lib/nccl_2.4.2-1_cuda10 HOROVOD_GPU_ALLREDUCE=NCCL conda

[2019-03-23 22:28] jw447 opened #945 "Best practice to run horovod using CPUs"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: v1.12
3. Horovod version: 0.10
4. MPI version: cray-mpich
5. CUDA version: none
6. NCCL version: none
7. Python version: 3.6
8. OS and version: centos

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](h

[2019-03-24 00:41] alsrgv commented on #945
@jw447, I'd recommend using [MKL-enabled TensorFlow](https://software.intel.com/en-us/articles/intel-optimization-for-tensorflow-installation-guide?page=1#pip_wheels).  TensorFlow has an internal mechanism to use many cores, so you generally can just launch one process per node.

[2019-03-24 00:44] alsrgv commented on #944
@wangguangyuan, what's the output of `find /home/guangyuan/lib/nccl_2.4.2-1_cuda10`?

[2019-03-24 19:10] jw447 commented on #945
I see. Thank you. I'm using MKL enabled TensorFlow already which I didn't make it clear in my previous post. I guess my question is about the performance of my CPU cluster. Right now I'm launching one process(worker) per node and the throughput is about 30 images/sec on 1 node and 70 images/sec on 2. Is it about right for CPU training?

[2019-03-25 02:16] nan0755 opened #947 "Multiple loss.backward() before optimizer.step() in PyTorch"
My loss fun has 2 sub-loss tasks, and I want to calculate grad through each loss.backward() in 1 forward. The key code is as below:
[code]

this code works well on stan-alone pytorch, however it does not work on horovod:
[code]
and this error is same as [https://github.com/horovod/horovod/issues/796](https://github.com/horovod/horovod/issues/796), but it doesn't work with both ways in this issue.

[2019-03-25 03:56] Tangjiandd opened #948 "A bug "/bin/sh: -c: line 0: syntax error near unexpected token `('""
when I run "horovodrun -np 4 -H localhost:4 python3 train_mfh_coatt_glove.py "
then a bug "/bin/sh: -c: line 0: syntax error near unexpected token `('" shows

[2019-03-25 04:07] alsrgv commented on #948
@Tangjiandd, thanks for being one of the early adopters of `horovodrun`!

Could you re-run your command with `--verbose` flag and paste the output? It will help us debug the problem.

[2019-03-25 04:21] Tangjiandd commented on #948
thanks for your replying
I have tried to use --verbose flag, but it just ouputs the bug "bash: syntax error near unexpected token `('".
whether it may be caused by the version of bash.

[2019-03-25 04:57] alsrgv commented on #948
Interesting.  I'm wondering where is the `(` coming from.

Did you add `--verbose` flag before the program name, like this?
[code]

What does the output of `horovodrun --version -np 1` look like?

[2019-03-25 05:04] Tangjiandd commented on #948
I am also confused by the origin '('.
 when I run "horovodrun -np 4 -H localhost:4 --verbose python3 train_mfh_coatt_glove.py", the output is '/bin/sh: -c:行0: 未预期的符号 `(' 附近有语法错误'.
The output of  "horovodrun --version -np 1" is "0.16.1"

[2019-03-25 05:04] Tangjiandd commented on #948
I am also confused by the origin of  '('.
when I run "horovodrun -np 4 -H localhost:4 --verbose python3 train_mfh_coatt_glove.py", the output is '/bin/sh: -c:行0: 未预期的符号 `(' 附近有语法错误'.
The output of "horovodrun --version -np 1" is "0.16.1"

[2019-03-25 05:16] alsrgv commented on #948
Is `Filtering local host names.` present in the output with the `--verbose` flag?

[2019-03-25 05:19] alsrgv commented on #947
@nan0755, can you try adding `backward_passes_per_step=2` to the `hvd.DistributedOptimizer()` parameters?

[2019-03-25 05:19] Tangjiandd commented on #948
Yes, it ouputs the 'filtering local host names' followed by ''/bin/sh: -c:行0: 未预期的符号 `(' 附近有语法错误'.'

[2019-03-25 05:20] alsrgv commented on #948
Is there anything else between `Filtering local host names.` and `/bin/sh: -c:行0: 未预期的符号 `(' 附近有语法错误'`?

[2019-03-25 05:22] Tangjiandd commented on #948
"mpirun --allow-run-as-root --tag-output -np 4 -H localhost:4 -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib   -x NCCL_DEBUG=INFO  -x XDG_SESSION_ID -x HOSTNAME -x SHELL -x TERM -x HISTSIZE -x SSH_CLIENT -x QTDIR -x QTINC -x SSH_TTY -x QT_GRAPHICSSYSTEM_CHECKED -x USER -x CUDA_HOME -x LD_LIBRARY_PATH -x LS_COLORS -x TERMCAP -x PATH -x MAIL -x STY -x PWD -x JAVA_HOME -x LANG -x MODULEPATH

[2019-03-25 05:26] alsrgv commented on #948
Thanks!  This seems to be related to https://bugzilla.redhat.com/show_bug.cgi?id=1147453.  What's the output of your `bash --version`?

[2019-03-25 05:27] Tangjiandd commented on #948
Thank you very much!
bash --version outputs "GNU bash， 版本 4.2.46(1)-release (x86_64-redhat-linux-gnu)"

[2019-03-25 05:35] alsrgv commented on #948
Added PR #949 with a potential fix.  Could you try it by reinstalling horovod with `[flags] pip install --no-cache-dir git+https://github.com/horovod/horovod@ignore_bash_func_module`?

[2019-03-25 05:44] Tangjiandd commented on #948
thanks for your detailed reply.
I am trying to reinstall horovod by the script above.

[2019-03-25 06:01] Tangjiandd commented on #948
the version of "ignore_bash_func_moudle" has satisfied. but the error still exits.
![image](https://user-images.githubusercontent.com/18570393/54898232-671f1880-4f06-11e9-82f9-81a242dc3e13.png)

[2019-03-25 06:12] alsrgv commented on #948
@Tangjiandd, can you `pip uninstall -y horovod` first?

[2019-03-25 06:22] Tangjiandd commented on #948
Thank you very much!
The problem has been solved by pip uninstall horovod and then pip install --no-cache-dir git+https://github.com/horovod/horovod@ignore_bash_func_module

[2019-03-25 10:30] memozhu opened #950 "In the run.py file, the variable "envs" does not have a attribute "ENV_IGNORE""
![image](https://user-images.githubusercontent.com/24536530/54912344-651b8080-4f2b-11e9-91fa-15d949f73843.png)

![image](https://user-images.githubusercontent.com/24536530/54912371-75cbf680-4f2b-11e9-9f6f-40da57b82c70.png)

![image](https://user-images.githubusercontent.com/24536530/54911665-ed008b00-4f29-11e9-993c-85975d954bba.png)

Maybe there is something wrong with the "env" variable name. How

[2019-03-25 11:24] LeavesLei commented on #339
@ChangingFond  Hi, do you know how to update openmpi on Ubuntu16.04？

[2019-03-25 15:01] LeavesLei opened #951 "Could not resolve hostname localhost:4: Name or service not known"
when I execute:  **horovodrun -np 4 -H localhost:4 python train.py**
there is a error:

[code]

[2019-03-25 15:10] LeavesLei commented on #339
@sumedhvdatar  Hi, I have the same problem. Did you solve it?

[2019-03-25 16:46] dasight opened #952 "Fails when running Horovod over CDH 5.15.1 or HDP 3.1.0"
**Environment:**
1. Framework: PySpark
2. Framework version: 2.3.2
3. Horovod version: 0.16.0 & 0.16.1
4. MPI version:3.1.2
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.6
8. OS and version: CentOS 7.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Searched, but no found.

2. If your question is about hang, did you read [this doc](https://

[2019-03-25 18:04] solomatov opened #953 "I want to run my model on horovod, and get out of memory"
I want to run horovod on my model. Unfortunately, when I do so, the process dies with out of memory even in case when there's only one process. I tried reducing batch size to low values, it doesn't help.

I use pytorch.

Could you give me some hints on how to debug it?

[2019-03-25 18:18] alsrgv commented on #950
@memozhu, looks like there was a name clash.  I've updated #949 with the fix.  Could you re-install and try again?

[2019-03-26 00:35] #948 closed

[2019-03-26 00:35] #950 closed

[2019-03-26 04:39] umangkeshri commented on #922
I'm also getting the same issue.

[2019-03-26 04:54] Qiuzhuang commented on #922
I use make_batch_reader's schema_fields to fetch only desired columns excluding the date field as follows:

    with make_batch_reader('%s/train_df.parquet' % DATA_LOCATION, num_epochs=None,
                           cur_shard=hvd.rank(), shard_count=hvd.size(),
                           schema_fields=all_cols + ['Sales'],
                           hdfs_driver=PETASTORM_HDFS_DRIVER) as train_re

[2019-03-26 08:47] Tangjiandd opened #956 "slow on 3 gpus"
**Your question:**
My code runs on three gpus is slower than just one gpu.
I spent 15 minutes running code with three gpus, but 3 minutes running code with only one gpu.

[2019-03-26 10:23] umangkeshri opened #957 "Getting error while running Horovod for spark clusters which dosen't have GPU's or NCCL"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): MKL enabled Tensorflow
2. Framework version: 1.13.1
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: NA
6. NCCL version: NA
7. Python version: 3.6.6
8. OS and version: CentOS 7

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [

[2019-03-26 19:16] AvKhokhlov commented on #594
I've the same issue.  I learned the model from PocketFlow using horavod and got 'HorovodAllreduce' error when I imported meta graph. Is there some workaround to write script which loads only checkpoints and freeze model without this horavod issue if I don't have '.pb' file and the code of the model ?

[2019-03-27 03:20] nan0755 commented on #947
@alsrgv Yes, it works on 0.6.1 version.
Thanks!

[2019-03-27 03:20] #947 closed

[2019-03-27 06:21] alsrgv commented on #957
@umangkeshri, this seems like a data issue.  It needs a bit of further debugging.  Can you check which column causes the issue?

[2019-03-27 06:23] alsrgv commented on #594
@AvKhokhlov, can you try following [this guide](https://github.com/horovod/horovod/blob/master/docs/inference.md) to optimize your model for inference?

[2019-03-27 06:24] alsrgv commented on #956
@Tangjiandd, does the whole training take 3 minutes on a single GPU?  Normally, you want to use distributed training if your training on a single GPU takes hours or days.

[2019-03-27 07:03] alsrgv commented on #957
I was able to reproduce the error, it happens because of the null values in `PromoInterval` column.  Python 3 doesn't like to sort lists that include None values.

Replacing `build_vocabulary()` with the following definition solves the problem:
[code]

I will make a PR with a fix shortly.

[2019-03-27 07:19] alsrgv commented on #922
Seems like there was an issue with Petastorm which was fixed in [this commit](https://github.com/uber/petastorm/commit/0979a5f503ae25d4a132a248d481319317400029).

Could you upgrade to `petastorm>=0.7.0`?

Also, if you're using Python 3, please see #957 for the fix.  The script will be updated shortly.

cc @selitvin

[2019-03-27 07:23] alsrgv commented on #339
Please see [this command](https://github.com/horovod/horovod/blob/master/Dockerfile#L40) for installing Open MPI 4.0.0 on Ubuntu 16.04.

[2019-03-27 07:41] alsrgv commented on #953
@solomatov, is it running out of CPU RAM of GPU memory?  How does the error message look like?

[2019-03-27 07:43] alsrgv commented on #952
@dasight, we had success with 2.3.x and 2.4.0, but prior versions may work as well.

To help debug, could you execute `horovod.spark.run()` with `verbose=2`?

[2019-03-27 07:44] alsrgv commented on #951
@LeavesLei, please upgrade your Open MPI to 4.0.0.  You can use [this command](https://github.com/horovod/horovod/blob/master/Dockerfile#L40).

[2019-03-27 07:45] alsrgv commented on #945
@jw447,  unfortunately, I don't have reference points for CPU training performance.  You can also try running 2 processes per node to see if it makes things better or worse.

[2019-03-27 07:48] alsrgv commented on #942
@YashSinha1996, it looks like gcc installation is incomplete. Can you try installing gcc/g++ 4.8 or gcc/g++ 4.9?

[2019-03-27 07:49] Qiuzhuang commented on #922
Thanks @alsrgv, upgrading to 0.7.0 along with python 3 fixing look good to me now.

[2019-03-27 07:51] alsrgv commented on #941
@ustcyue, thanks for reporting this issue!  Could you provide a small repro script for us to debug/fix?

[2019-03-27 08:52] umangkeshri commented on #957
thanks @alsrgv it worked for me.

[2019-03-27 08:52] #957 closed

[2019-03-27 09:49] LeavesLei commented on #951
@alsrgv , There has already been OpenMPI with a old version. I don't know how to upgrate it. Or I must install a new OpenMPI 4.0.0?

[2019-03-27 10:40] Tangjiandd commented on #956
just 100 iterations spend 3 minutes. In general, this system may be run on 100,000 iterations, which may take about 3 days.

[2019-03-27 11:55] #923 closed

[2019-03-27 12:52] solomatov commented on #953
It's running out of GPU memory. It's a CUDA message.

[2019-03-27 14:30] LeavesLei opened #961 "Could I put multiple network models on single GPU with Horovod?"
Hi, @alsrgv I have used horovod with 4 GPUs. But the usage for every GPU is only about 30% because of my small network architecture.
-  I follow the examples that pin GPU to be used to process local rank **(one GPU per process)**.
- Could I pin GPU so that **one GPU with multiple processes** with horovod to make full use of GPU?

[2019-03-27 14:47] AvKhokhlov commented on #594
It doesn't look as my case. I don't have '.pb', '.pbtxt' and etc. files. Only checkpoints and I want to load the model from them. Give the result to some our proprietor converter and make some processing with them. There are a variety of the models and some of them are ours and I can load them as estimators pr some kind of it because I have code of the model. But I'd like to have general solution

[2019-03-27 15:26] jw447 commented on #945
Thank you. Your help is sincerely appreciated!

[2019-03-27 15:26] #945 closed

[2019-03-27 17:05] alsrgv commented on #951
Please uninstall older OpenMPI using a package manager and just install a new OpenMPI 4.0.0.

Thanks,
Alex
________________________________
From: LeavesLei <notifications@github.com>
Sent: Wednesday, March 27, 2019 2:49:57 AM
To: horovod/horovod
Cc: Alex Sergeev; Mention
Subject: Re: [horovod/horovod] Could not resolve hostname localhost:4: Name or service not known (#951)

@alsrgv<https://nam01.s

[2019-03-27 17:07] LeavesLei commented on #951
Thanks^_^

[2019-03-27 17:07] alsrgv commented on #953
Could you check the output of `nvidia-smi` and make sure nothing is using GPU memory?

If you run a single process with Horovodrun, it should not consume much more memory than non-Horovod program, so making batch size smaller should have fixed the issue.

Thanks,
Alex
________________________________
From: Konstantin Solomatov <notifications@github.com>
Sent: Wednesday, March 27, 2019 5:53:01 AM
T

[2019-03-27 17:10] alsrgv commented on #956
So it’s ~2 second per iteration? That sounds pretty good for distributed training. You mentioned you’re trying to scale the training to 3 GPUs, are they all in the same server, or spread across machines?

Thanks,
Alex
________________________________
From: Tangjiandd <notifications@github.com>
Sent: Wednesday, March 27, 2019 3:40:31 AM
To: horovod/horovod
Cc: Alex Sergeev; Comment
Subject: Re: [ho

[2019-03-27 17:14] solomatov commented on #953
@alsrgv I run the same program and checked there was nothing in there. I will try again, later and write here. For now, I tried DistributedDataParallel from pytorch and it worked fine for me. AFAIU, horovod is better if I have many GPUs over infiniband, right?

[2019-03-27 23:36] mohanraj1311 opened #962 "data files to run the horovod spark examples missing !"
I was trying to run the horovod spark example, where can i find all the data files used by the example. The kaggle link doesnt have all the csv files: https://www.kaggle.com/c/rossmann-store-sales/data.

Where can i download all the data files ? Missing ones : weather.csv, store_states, state_names, googletrend.csv

[2019-03-28 00:22] alsrgv commented on #962
@mohanraj1311, please see [this doc](https://github.com/horovod/horovod/blob/master/docs/spark.md#end-to-end-example) for instructions.

[2019-03-28 00:28] mohanraj1311 commented on #962
@alsrgv : i have already read the doc, it asks to get the data from kaggle page : https://www.kaggle.com/c/rossmann-store-sales/data.
The files used in the example are not present even in the kaggle data section. You can check that there only 4 files, rest of the files used by the script - weather.csv, store_states, state_names, googletrend.csv are MISSING

[2019-03-28 00:36] alsrgv commented on #962
These files are coming from http://files.fast.ai/part2/lesson14/rossmann.tgz.

[2019-03-28 00:42] alsrgv commented on #921
@boyuzz, can you clarify why you want to train models simultaneously?  Would all models have exactly the same training duration?

[2019-03-28 00:46] mohanraj1311 commented on #962
Thanks @alsrgv 👍

[2019-03-28 03:35] #895 closed

[2019-03-28 03:56] #962 closed

[2019-03-28 04:03] mohanraj1311 opened #963 "Unable to set the masterURL for the horovod-spark on k8s"
i was trying to run simple MNIST app on k8s cluster , i face the following error:
[code]

The program I used :

[code]

[2019-03-28 11:00] tsmolcic commented on #961
Similar question recently: #839

[2019-03-28 17:52] mohanraj1311 opened #964 "Error in the script - keras_spark_rossmann.py"
While i am able to run the sample example, this is the error that i get :
Am i missing something,?
[code]

[2019-03-29 00:14] kit1980 commented on #832
I'd really like to see this implemented.
Any progress?
Any way a person new to the horovod codebase could help?

[2019-03-29 02:49] zoooo0820 commented on #820
Hi, I'm confused about how to feed data when training on multi-nodes. For example, if I want to train a model on two servers (each has 4 GPUs, total 8GPUs),  as far as I know, I have to put the training scripts and datas on each server.  So here is the question, should I put data_all on both servers, or should I put data_half_1 on server1 and data_half_2 on server2?

[2019-03-29 03:59] ZhenhuaGe commented on #594
try   import horovod.tensorflow as hvd

[2019-03-29 04:02] ZhenhuaGe commented on #594
try
import horovod.tensorflow as hvd
I've the same issue, and add this line help me solve this problem

[2019-03-29 04:40] tgaddair commented on #820
@zoooo0820, all the data should be available to all the servers (it doesn't have to be physically there, it could be read from HDFS or any network mounted filesystem).  The reason being that after each epoch, you want to shuffle the data such that different workers will have different minibatches between epochs.

One way to handle reading and partitioning data across machines is to use a system li

[2019-03-29 06:26] zoooo0820 commented on #820
@tgaddair  Thanks for your reply. That's quite clear.

[2019-03-29 06:41] UditGupta10 opened #966 "Compression for IndexedSlices not supported"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): Tensorflow
2. Framework version: 1.10
3. Horovod version:0.15.1
4. MPI version: MPI 3.0
5. CUDA version: NA
6. NCCL version:NA
7. Python version:3.5.6
8. OS and version: NAME="SLES"
VERSION="12-SP2"
VERSION_ID="12.2"
PRETTY_NAME="SUSE Linux Enterprise Server 12 SP2"

**Checklist:**
1. Did you search issues to find if somebody aske

[2019-03-29 07:53] alsrgv commented on #966
@UditGupta10, I think it'd be a good addition, we just didn't get to it yet :-)

[2019-03-29 07:55] alsrgv commented on #594
@AvKhokhlov, as @ZhenhuaGe mentioned, is it possible for you to `import horovod.tensorflow` as part of your importer?

[2019-03-29 07:58] alsrgv commented on #832
@kit1980, a contribution would be welcome.  We could start with the design described [here](https://github.com/horovod/horovod/issues/832#issuecomment-464235493).  Please let me know if you'd like to take it up, and we can have more discussion.

[2019-03-29 07:59] alsrgv commented on #964
@mohanraj1311, this was recently fixed.  Can you use updated https://github.com/horovod/horovod/blob/master/examples/keras_spark_rossmann.py ?

[2019-03-29 07:59] UditGupta10 commented on #966
The compression for allreduce is implemented in a very easy to understand and straightforward way, I was thinking that may be similar thing can be done with allgather as well. Could you mention a few issues/complications that may occur while implementing compression for allgather.

[2019-03-29 08:00] alsrgv commented on #961
#839 is indeed a helpful way to solve this.  You can also take a look at [NVIDIA MPS](https://docs.nvidia.com/deploy/pdf/CUDA_Multi_Process_Service_Overview.pdf) as it may help to spread the GPU compute resources across processes more evenly.

[2019-03-29 08:03] alsrgv commented on #966
Allgather is even simpler conceptually, since we just need to cast the tensor, allgather it, and cast back.  There's no need for special handling in the Horovod core (e.g. like one we had to do for [CPU FP16 allreduce](https://github.com/horovod/horovod/blob/57be59474ddca30f4fdcca38269bfc1c5bc7ea4e/horovod/common/operations.cc#L772)).  We should use the same compression interface as we use for all