[2019-07-31 12:18] chenghuige commented on #1198
I face the same problem. With one gpu batch size 512, I want to check if using horovod 8 gpu each batch size 64 will reproduce same result (all other things the same, like lr..).
For each batch 64 worker shows lower loss then 1 gpu training. (0.3 to 0.29)
But I got worse valid loss and auc .

[2019-07-31 12:42] kkk33 opened #1264 "docker error: signal 11 (Segmentation fault)"
**Environment:**
we use the default docker [enviroment](https://raw.githubusercontent.com/horovod/horovod/master/Dockerfile) whose info is as followed:
TENSORFLOW_VERSION=1.14.0
CUDNN_VERSION=7.6.0.64-1+cuda10.0
NCCL_VERSION=2.4.7-1+cuda10.0
python=3.6
gcc=4.8
openmpi=4.0.0

**Your question:**
we start the docker by the command `docker run -it horovod`, and run the example code `horovodrun -np 1 -

[2019-07-31 15:28] denfromufa commented on #101
@alsrgv the issue is not relevant anymore, horovod builds ok with gcc 7.3 from conda in powerai 1.6/1.6.1 and with either smpi 10.1+ or openmpi 4.0.1.

[2019-07-31 15:34] denfromufa commented on #969
Here is a good discussion with open bounty on stackoverflow. In short, learn what hwloc can do for you.

https://stackoverflow.com/questions/55364149/understanding-nvidia-smi-topo-m-output/

[2019-07-31 18:42] jianyinglang opened #1267 "Can not install horovod with gcc4.8 on ubuntu18.04.1"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14.0
3. Horovod version: 0.16.4
4. MPI version: 2.1.1
5. CUDA version: None
6. NCCL version: None
7. Python version: 3.6.8
8. OS and version: ubuntu 18.04.1
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https:/

[2019-08-01 02:54] renganxu opened #1268 "How to reproduce horovod mxnet result?"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.5.0
3. Horovod version: 0.16.4
4. MPI version: 4.0.1
5. CUDA version: 10.0.130
6. NCCL version: 2.4.7
7. Python version: 3.6.5
8. OS and version: RHEL 7.5
9. GCC version: 7.2.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://gi

[2019-08-01 05:04] linhanxiao opened #1269 "docker"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-08-01 23:25] golden0080 commented on #913
I've been seeing this issue for days. I'm trying the solution here, although the stack trace I see is different and include nothing about cuda.

[2019-08-02 05:36] andrewor14 opened #1271 "Batch norm layer causes Horovod to hang"
**Environment:**
1. Framework: TF
2. Framework version: TF2.0 beta
3. Horovod version: master branch, 958695e7343ce470ad3b0d9df1967b5af3bd6ec3 (7/10/19)
4. MPI version: 4.0.1
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.6
8. OS and version: Springdale (Red Hat)
9. GCC version: 4.8.5

**Your question:**
Hello, I am trying to run Horovod with the [models](https://github.com/tensorf

[2019-08-02 07:24] Kylin9511 commented on #761
@qiuyang163  Please refer to the common records and you shall see.

[2019-08-02 21:28] DerrickGXD opened #1272 "Horovod.mxnet broadcast_parameters not working for me"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.4.1
3. Horovod version: master
4. MPI version: 4.0.1
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7.2
8. OS and version: Mac 10.14.6
9. GCC version: Apple LLVM version 10.0.1 (clang-1001.0.46.4)

**Bug report:**
Please describe errorneous behavior you're observing and steps to reproduce it.

I am using horovod.mxnet
I t

[2019-08-03 00:25] alsrgv commented on #1272
cc @apeforest @yuxihu

[2019-08-03 00:27] #1231 closed

[2019-08-03 01:15] abidmalikwaterloo opened #1273 "Scaling Horovod using CIFAR"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Pytorch
2. Framework version:
1
3. Horovod version:
latest
4. MPI version:
5. CUDA version:
9
6. NCCL version:
2
7. Python version:
3
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.c

[2019-08-03 01:39] alsrgv commented on #1273
@abidmalikwaterloo, what's your hardware setup? Is your CIFAR model training script published anywhere?

[2019-08-03 02:42] abidmalikwaterloo commented on #1273
I am using Summit machine. Each node has 6 V100 GPUs. The model training script is very simple. I used horovod/example template

[code]

[2019-08-03 04:28] compete369 opened #1274 "NCCL 2.4.8 could not work"
I want to leverage the new feature of NCCL 2.4.8 offered, for example, socket send/receive threads. I modified the Dockerfile "ENV NCCL_VERSION=2.4.7-1+cuda10.0" -> "ENV NCCL_VERSION=2.4.8-1+cuda10.0", build docker image successfully. Got the runtime error as below: many thanks

Primary job  terminated normally, but 1 process returned
a non-zero exit code. Per user-direction, the job has been abor

[2019-08-03 07:00] rvallari1 commented on #1142
@tgaddair Thanks! Apology for being late. It is printing training processes for 12 epochs but runs 12/n epochs with n as number of workers. Gotcha.

[2019-08-03 08:39] justanotherYO opened #1275 "Is Horovod runs on Synchronize Batch Norm?"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.8
3. Horovod version: 0.15.1
4. MPI version:
5. CUDA version:9.0
6. NCCL version:
7. Python version:3.6
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? YES
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/mas

[2019-08-05 08:30] wlzzZ opened #1276 "Debug the horovod in my own machine"
How to compile the horovod source code in my own machine? If I want to add some features about horovod, I should test whether the feature works. How can I do?

[2019-08-05 08:37] jimmy-walker opened #1277 "Does docker support only cpu run?"
**Environment:**
1. Docker with the project provided

**Your question:**
I have used docker the project provided. Cause I have no GPU, I wanna use the CPU instead.
But it always show the error:"Attempting to fetch value instead of handling error Internal: no CUDA devices found".
So I wanna ask a question, does the docker support only cpu run?

[2019-08-05 10:32] wlzzZ commented on #1277
the file Docker.test.cpu would help you

[2019-08-05 10:33] wlzzZ commented on #1277
The Dockfile.test.cpu would help you~

[2019-08-05 14:36] kumsh commented on #1222
Hi, Alex @alsrgv do you have pointers to any more spark examples? especially with pytorch optimization will help.

[2019-08-05 14:38] kumsh opened #1278 "Hi, Alex @alsrgv do you have pointers to any more spark examples? especially with pytorch native optimization will help."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-08-05 19:29] Griffbo99 opened #1280 "Attribute error with horovod_broadcast"
Hey,

When trying to run a program i run into this issue:

File "/lib/python3.7/site-packages/horovod/tensorflow/mpi_ops.py", line 155, in broadcast
    return MPI_LIB.horovod_broadcast(tensor, name=name, root_rank=root_rank)
AttributeError: module '670cc8cfec5b6d3b8635f39bd583d769' has no attribute 'horovod_broadcast'

I have no clue what this is referring to and any sort of help would be greatly

[2019-08-05 20:25] abidmalikwaterloo commented on #1273
@alsrgv I just tried the implementation without Horovod. The running time per epoch with CIFAR using one GPU is better than multi GPUs with batch size 32 (data points) using Horovod.

[2019-08-05 20:31] abditag2 commented on #1273
@abidmalikwaterloo In your current setup, if you use N GPUs, you get a effective batch size of N*32.
You can reduce the batch size of each worker to `batch_size=args.batch_size/hvd.size()` and then compare completion of one epoch in single GPU and multi  GPU cases.

Also, in order to get the best results, you should scale your learning rate with the number of workers i.e., `learning_rate = arg.lr

[2019-08-06 06:46] xiaozhouX commented on #1117
There is another wa using rdma in horovod.
I modify the device plugin to mount the `libibverbs.so`, `librdmacm.so`, `libmlx5.so`  and some other `.so` files in pod.
In this way, we don't need to install any library in docker image.

[2019-08-06 16:43] tgaddair commented on #1262
Hey @aaron276h, NCCL is used for inter-node (cross machine) allreduce as well as intra-node allreduce.

[2019-08-06 16:49] tgaddair commented on #1276
Hey @wlzzZ, please take a look at the Horovod [Contributor Guide](https://horovod.readthedocs.io/en/latest/contributors_include.html).  If you have any questions, let us know and we'll be sure to update the guide to make it more clear.

[2019-08-06 17:02] nickkimer commented on #1067
@Young768 any chance you were able to fix this issue? running into the same problem...

[2019-08-06 17:04] tgaddair opened #1281 "Add support for broadcasting learning rate scheduler in PyTorch"
**Is your feature request related to a problem? Please describe.**
Some users wish to broadcast the learning rate scheduler similar to how we support `broadcast_optimizer_state`, but there is no out of the box solution for this.

**Describe the solution you'd like**
Ideally, we would either have a new function `broadcast_lr_scheduler_state` that does just this for a learning rate scheduler, or we

[2019-08-06 19:39] aaron276h commented on #1262
@tgaddair Thanks!

[2019-08-06 19:39] #1262 closed

[2019-08-07 00:31] abidmalikwaterloo commented on #1273
@abditag2 Does Horovod benefit from cuda aware MPI?

[2019-08-07 19:23] romerojosh opened #1282 "Autotuner causes unstable training behavior at startup due to possible race condition"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 1.14.0
3. Horovod version: 0.16.4
4. MPI version: OpenMPI 3.1.4
5. CUDA version: 10.1
6. NCCL version: 2.4.8
7. Python version: 3.6.8
8. OS and version: Ubuntu 18.04.2
9. GCC version: 7.4.0

**Bug report:**
Recently, one of our developers has been running cases with TensorFlow + AMP and noticed some very unstable training behavior at

[2019-08-07 20:15] LiweiPeng opened #1283 "Why Horovod doesn't have compute and communication overlap when XLA is used?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.14
3. Horovod version: 0.16.4
4. MPI version: 3.1.1
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 2.7.5
8. OS and version: CentOS 7.4
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about ha

[2019-08-07 21:46] Lyken17 opened #1284 "[pytorch] Why wrap optimizer with a cls ?"
In current `horovod/torch/__init__.py`, the optimizer design looks like follows

[code]

Why not directly use `_DistributedOptimizer`? Is it necessary to wrap with cls?

[2019-08-07 22:03] Lyken17 commented on #1284
The problem I met is: When I attempt to create a new class inheriting `_DistributedOptimizer`, a weird error occurs when initializing.

[code]

gives

[code]

Any advice on fixing it?

[2019-08-08 03:24] alsrgv commented on #1282
Great catch!  @tgaddair, could you take a look?

[2019-08-08 10:04] DEKHTIARJonathan commented on #1282
@tgaddair : In order to help you. I can run a stability test in 3-4hours. The only thing I need is a git repo and git commit hash and I'll be able to tell you if any change solved the issue ;)

[2019-08-08 14:18] vilmara commented on #1117
Hi @xiaozhouX , thanks for your comment. May I know what kind of modifications you did to make it work with the mounted libraries, does it work for Ubuntu 16.04?

[2019-08-08 15:14] tgaddair commented on #1282
Thanks, @DEKHTIARJonathan, I'll take a look at this hopefully some time today or tomorrow at the latest.

[2019-08-08 15:57] DavideCatto commented on #758
Can you explain better what does it mean "_comment out a first couple lines in mpicc.bat file."_ which ones? Thanks

[2019-08-08 17:28] AnnaDaly commented on #758
Well, my understanding is that horovod using "mpicxx -show" command to find out where the MPI include and lib folders are. If you look inside mpicc.bat that comes from IntelMPI, you will see that the first thing it does is talks about itself:

echo Copyright 2007-2018 Intel Corporation.
echo.

Horovod cannot process those lines, so they need to be commented out, so that the output is only like

I

[2019-08-09 04:09] Witness167 opened #1285 "distributed tensorflow of reinforcement"
how to run reinforcement on multiple node and multiple GPU  using distributed tensorflow

[2019-08-09 04:53] Witness167 opened #1286 "horovod in mlperf/training/reinforcement"
i have run the reinforcement code in mlperf/training.
[https://github.com/mlperf/training/tree/master/reinforcement](url)
and now,i want use horovod to run this project in multiple node and multiple GPU.

[2019-08-09 06:56] DavideCatto commented on #758
Thanks for your reply, I can't install anyway but It's a step towards salvation 😂😂 (maybe I will try only for CPU).

[2019-08-09 16:45] tohmas19 opened #1287 "No module named horovod.run when running on nvidia-docker"
**Environment:**
1. Framework: Keras
2. Framework version: 2.2.4
3. Horovod version: 0.16.4
4. MPI version:
5. CUDA version: 10.1
6. NCCL version:
7. Python version: 2.7
8. OS and version: Ubuntu 16.04
9. GCC version:

**Checklist:**
1. Did you sear ch issues to find if somebody asked this question before?
   yes.
2. If your question is about hang, did you read [this doc](https://github.com/horovo

[2019-08-09 21:44] denfromufa commented on #582
@ustcyue is this issue with the tf-timeline overlap tracked anywhere in their repo?

[2019-08-09 21:57] denfromufa commented on #255
@alsrgv is there any equivalent of ethtool, but not for NIC, instead for PCIE switch/fabric within a node between CPUs and GPUs?

[2019-08-10 03:12] tgaddair commented on #1282
Hey @DEKHTIARJonathan, could you take a look at #1288?  My current hypothesis is that because the finalizer thread didn't have a handle to the fusion buffer pointer, that resetting the shared pointer in the fusion buffer manager led to the memory being reclaimed and used by something else.  With this change, we keep an extra reference count to that pointer for the duration of the finalization.

[2019-08-10 10:15] DEKHTIARJonathan commented on #1282
Testing your fix. I'm updating the PR

[2019-08-10 18:09] #1282 closed

[2019-08-12 07:54] wlzzZ commented on #1276
Thanks, but I still don't find the way how to debug the source code. Can you share the debug method when you add or modify the source code?

[2019-08-12 08:10] tingweiwu opened #1290 "ncclCommInitRank failed: internal error"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-08-12 08:27] chenghuige opened #1291 "Pytorch with tensorflow dataset, setting torch.cuda.set_device not work"
pytorch 1.1.0, tensorflow 1.14.0, I'm using tensorflow dataset for data reading and feeding to pytorch model training process. When using horovod, however torch.cuda.set_device not work, not each process with 1 gpu but each process still can access all gpu, then horovod can not run.
Is it possible to solve this problem ?

[2019-08-12 10:16] Double1996 commented on #905
I  meet same project with hang.

when I  run this command

[code]

this error message

![image](https://user-images.githubusercontent.com/22317647/62858490-0c5b5180-bd2d-11e9-8b84-a5a2ec6c836f.png)

[2019-08-12 13:46] chenghuige opened #1292 "Will we support pytorch SparseAdam optimizer ?"
Seems horrovod currently not support sparse tensor. "

# L-BFGS is currently unsupported, as are sparse tensors,   which are |  
-- | --
  | # required by SparseAdam optimizer

"
Will support sparse tensor ?

[2019-08-12 13:56] ustcyue commented on #582
@denfromufa seems not.  It should be a tf-timeline issue as we found the nvprof timeline matched the actual behaviour.

[2019-08-12 20:49] garyshincc opened #1293 "Horovod single server multi gpu pytorch using same gpu"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.1.0
3. Horovod version: 0.16.4
4. MPI version: 2.1.1
5. CUDA version: 10.1
6. NCCL version: N/A
7. Python version: 3.6.8
8. OS and version: Ubuntu 18.04
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, did you read [this doc](https://gi

[2019-08-13 07:47] 5hubh4m opened #1296 "Horovod without MPI (using only Gloo)"
I'm in an environment without MPI so I'm trying to build Horovod with Gloo support without using MPI. I'm building with `HOROVOD_WITHOUT_TENSORFLOW=1 HOROVOD_WITHOUT_MXNET=1 HOROVOD_WITHOUT_MPI=1 python setup.py bdist_wheel && HOROVOD_WITH_TORCH=1 pip install dist/horovod-0.16.4-cp36-cp36m-linux_x86_64.whl -U` but when I try to test it, it throws the following error:

[code]

Can anyone help me ou

[2019-08-13 07:55] alsrgv commented on #1296
@5hubh4m, can you try installing with `HOROVOD_WITH_PYTORCH=1`? It should catch the error and help debug.

cc @tgaddair @zsh-thu

[2019-08-13 08:29] 5hubh4m commented on #1296
I've done this already, as I mentioned in the original post. But for clarity, here's the output from `pip install`.

[code]

[2019-08-13 12:13] 5hubh4m commented on #1296
Figured it out. I was executing `python` from within `/horovod` which with preventing it from picking the module from the `PYTHONPATH`.

[2019-08-13 14:50] tgaddair commented on #1296
@5hubh4m, what Alex is saying is that you should try setting `HOROVOD_WITH_PYTORCH=1`, you're setting `HOROVOD_WITH_TORCH=1`, which is not the same thing.

[2019-08-13 14:56] tgaddair commented on #1296
Hey @5hubh4m, is this issue resolved?  I see you had a comment here previously:

But that comment has since been deleted somehow.

[2019-08-13 14:56] #1296 closed

[2019-08-13 16:20] abditag2 commented on #1273
what do you mean by CUDA aware MPI? MPI and Gloo are mainly used in the control layer of Horovod (i.e., to do all the coordination between the workers). They can also perform the data layer operations for gradient aggregation however you will get much better results with NCCL which uses CUDA and GPUs under the hood.

[2019-08-13 17:01] karakusc commented on #1273
@abidmalikwaterloo If MPI is installed with CUDA support, and if Horovod is built with `HOROVOD_GPU_ALLREDUCE=MPI` or `HOROVOD_GPU_ALLGATHER=MPI`, Horovod can leverage this by performing the MPI collectives directly from the GPU memory. Whether this will have a benefit will likely depend on the system and the model you are training, I believe. In most cases, you will get better results with NCCL a

[2019-08-13 23:43] leimao commented on #182
Correct me if I am wrong. So the conclusion is `train_and_evaluate` will not work for Horovod. Uber Horovod team is also not seeking any integration to TensorFlow regarding this. We have to iteratively do `estimator.train()`, and `estimator.evaluate()`.

[2019-08-14 08:51] fabboe commented on #1051
@LiJianbo-AI do you have new insights on this? Experiencing the same on single machine run, with a training task that works well without horovod in the same config (batch size etc)

[2019-08-14 09:40] wuzhiyang2016 opened #1301 "undefined symbol: ompi_mpi_real"
I have install openmpi and pip install horovod , but error happened: File "/opt/conda/envs/maskrcnn/lib/python3.7/site-packages/horovod/torch/mpi_ops.py", line 28, in <module>
    from horovod.torch import mpi_lib_v2 as mpi_lib
**ImportError: /usr/lib/libmpi_cxx.so.1: undefined symbol: ompi_mpi_real**

could anybody meet this issue?

[2019-08-14 14:17] fabboe commented on #1211
Any more insights on this? Seeing this as well, even on one GPU but only after step 2. So Step 1 and 2  the loss is printed, then it's `nan`. Other metrics are logged with reasonable + changing numbers throughout following steps. Just the loss of the optimizer shows this problem.

[2019-08-14 14:22] raj-brown commented on #1211
I was able to fix it as there was an issue with the data distribution.. I am still working on it and will be posting the result here soon..

[2019-08-14 15:20] tgaddair commented on #1293
Hey @garyshincc, looks like MPI is launching completely separate processes, as each process has rank 0.  This can happen if you somehow have multiple versions of MPI installed on your system (see [this](https://stackoverflow.com/questions/4039608/why-do-all-my-open-mpi-processes-have-rank-0) SO answer for suggestions on how to debug).

I would also suggest upgrading to OpenMPI v3 or v4, and unsett

[2019-08-14 16:53] karakusc commented on #1051
@fabboe Make sure the effective learning rate used is the same when Horovod is used. Note that this script uses `hvd.allreduce` with the option `average=False`, which effectively scales the learning rate by the number of gpus. Make sure the learning rate is not scaled somewhere else too.

[2019-08-15 06:37] wlzzZ opened #1305 "some questions about Response_cache"
In the following code, if the message is in the local response cache but not in coordinator cache, you choose to process again in the next cycle. If the tensor is ready to send the rank=0, I think it's better to send it to the rank=0 as earlier as possible. when the tensor is not in the response cache, it is hard to avoid having to send the request.

https://github.com/horovod/horovod/blob/0232984

[2019-08-15 09:11] passerbyd opened #1306 "DUPLICATE_NAME_ERROR when broadcast variables"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13
3. Horovod version: 0.16.1
4. MPI version: 4.0.0
5. CUDA version: 9
6. NCCL version: 2.1.15
7. Python version: 3.6
8. OS and version: centOS 7
9. GCC version: 4.9

**Bug report:**
When running broadcast op, "DUPLICATE_NAME_ERROR" is returned in TensorQueue::AddToTensorQueue function. There is no problem in calling allreduce op. T

[2019-08-15 13:41] denfromufa commented on #582
cc @prb12

[2019-08-15 17:31] romerojosh commented on #1305
The purpose of the `response_cache` is to avoid redundantly sending request information to the coordinator (i.e. rank 0) over the network for scheduling redundantly every training step. When a request corresponding to a cached response is encountered on a worker, it must know that all other workers also have that request ready during the same cycle (accomplished via a bitvector reduction that occu

[2019-08-15 22:13] prb12 commented on #582
The underlying NVidia CUPTI tracing library that is used by both TensorFlow and Nvidia's tools can capture a trace in various modes.  One of these modes disables concurrent kernel execution, the other doesn't.  (basically you can ask for CUPTI_ACTIVITY_KIND_CONCURRENT_KERNEL or CUPTI_ACTIVITY_KIND_KERNEL)

Several versions of the CUTPI library have had serious memory leak/corruption bugs that we d

[2019-08-16 02:52] wlzzZ commented on #1305
The cache path just makes this postponement of processing more obvious, which means I close the cache path and could get a higher efficiency?

[2019-08-16 05:48] lichaoir opened #1309 "Example keras_spark_rossman.py throws java.net.SocketException when predicting"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.12.0
3. Horovod version: 0.16.4
4. MPI version: openmpi 4.0.1
5. CUDA version:
6. NCCL version:
7. Python version: 3.6.7
8. OS and version: macOS 10.14.6
9. GCC version: Apple LLVM version 10.0.1 (clang-1001.0.46.4)

**Bug report:**
The training part was successful. Only the prediction step failed. The following error was thrown:
[c

[2019-08-16 08:30] wlzzZ commented on #1305
I still have a question about the cache update method. The response cache is adopted LRU. In each training step,  mostly a tensor's response would only broadcast once? If one receives a tensor's response, it may wait until the next training step and then send the ready tensor again. The LRU does not seem to improve efficiency.

[2019-08-16 09:33] fabboe commented on #1051
@karakusc great tipp. Indeed there was a bug in my learning rate setting. Thanks!

[2019-08-16 10:12] Kohulan commented on #907
@alsrgv , Hi Alex,

I was able to use horovod in my own Autoencoder code. It is running without any errors when I use 1GPU.

But, when I use 2 GPUs nothing happens,
I could see my GPUs are fully occupied but no training output, no error output the progress is just stuck at that point. it's not moving to the next step. any suggestions would help.

[2019-08-16 14:16] romerojosh commented on #1305
The purpose of the response cache is to improve the efficiency of the control plane, the phase of the code that coordinates the worker collective communication, _not_ reduce the amount of tensor data sent for the actual collective communication (e.g. allreduce). The original uncached coordination strategy relies on sending many auxiliary MPI messages to the coordinator rank every step, which is in

[2019-08-16 16:37] #1051 closed

[2019-08-19 08:49] un-knight opened #1313 "Will horovod support lingvo?"
Will horovod support [lingvo](https://github.com/tensorflow/lingvo)?

[2019-08-19 16:15] DEKHTIARJonathan opened #1315 "TF 2 issue introduced in commit 2be9d149"
@alsrgv : Your last commit: 2be9d1492a1483a9d1f38343261d9350bdf1dcd5 introduces an issue with Tensorflow 2.

[code]

If I rollback to commit 61e62f7a0a6a73a567c96e61bb6edbe861c5181a, everything is fine ;)

[2019-08-19 18:48] alsrgv commented on #1315
@DEKHTIARJonathan, thanks for the bug report!  Could you try the fix in #1316?

[2019-08-19 20:32] #1315 closed

[2019-08-20 05:04] #1242 closed

[2019-08-20 05:14] liuyongheng123 opened #1322 "How to replace NCCL2 and CUDA with another accelerator driver in Horovod ?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-08-20 08:00] Kohulan opened #1324 "Tensorflow -2.0: Training not proceeding to next step, GPUs occupied."
**Environment:**
1. Framework: Tensorflow
2. Framework version: 2.0 - beta 1
3. Horovod version: 0.16.4
4. MPI version: 4.0.1
5. CUDA version: 10.0
6. NCCL version: 2.4.8
7. Python version: 2.7
8. OS and version: Debian 4.9.168
9. GCC version: 4.9

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, did you read [this doc](

[2019-08-20 14:24] kangp3 opened #1325 "Can no longer use IP for remote hostnames"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
TensorFlow

2. Framework version:
`1.14.0`

3. Horovod version:
`0.17.0.post1`

4. MPI version:
`4.0.0`

5. CUDA version:
`10.0`

6. NCCL version:
`2.4.2-1+cuda10.0`

7. Python version:
`3.6.8`

8. OS and version:
`Ubuntu 18.04.1 LTS`

9. GCC version:
`g++-4.8 4.8.5-4ubuntu8`

**Bug report:**
Previously, we were able to use IPs to

[2019-08-21 02:48] qingyu-wang opened #1328 "multi-node training error: div_cpu"
**Environment:**
1. Docker: horovod/horovod:0.16.4-tf1.14.0-torch1.1.0-mxnet1.4.1-py3.6

**Bug report:**

I want to use horovod and apex together to try fp16 training, but when I run the demo, I got following error.

[code]

here is my demo code, if `APEX = False`, multi-code trainning is fine.

[code]

[2019-08-21 05:08] tgaddair commented on #1322
Hey @liuyongheng123, please take a look at our Contributors Guide, specifically the section on [Adding Custom Operations](https://github.com/horovod/horovod/blob/master/docs/contributors.rst#adding-custom-operations).  It explains how to add a new operation for a given framework, and you can take a look at the implementations for MLSL, DDL, and Gloo for guidance.

[2019-08-21 07:49] oskotsky opened #1329 "Neither MPI nor Gloo support has been built"
I am trying to install horovod on aws ami ec2 instance.
I have open mpi installed and added to the path:
[ec2-user@ip-10-0-9-178 ~]$ mpicxx --show
g++ -I/opt/ompi/include -pthread -Wl,-rpath -Wl,/opt/ompi/lib -Wl,--enable-new-dtags -L/opt/ompi/lib -lmpi
[ec2-user@ip-10-0-9-178 ~]$ sudo mpicxx --show
g++ -I/opt/ompi/include -pthread -Wl,-rpath -Wl,/opt/ompi/lib -Wl,--enable-new-dtags -L/opt/ompi/li

[2019-08-21 08:00] HongmingHUANG opened #1330 "Call HorovodAllreduce independently without training"
Hello
I want to do some performance analyzing experiment that just call HorovodAllreduce() like a communication library without training a model. Is there any documents or guidance about howto achieve that? There seems to be so many environment variables to set.
E.g. I will just define a tensor on 2 GPU and call HorovodAllreduce() to aggregate them.

[2019-08-21 08:36] LaCandela opened #1331 "Horovod with TF2.0beta and tf.keras fails"
I am trying to use Tensorflow 2.0 beta with tf.keras and horovod 0.17.0post1. The training script is updated to run with horovod multi GPU training but currently I am not using MPI and calling the trainig script with just one GPU yet horovod fails:

  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/engine/training.py", line 643, in fit
    use_multiprocessing=use_multiprocessi

[2019-08-21 08:36] oskotsky commented on #1329
looks like default version horovod-0.17.0.post1 is the problem
it looks better with older 0.16.4

[2019-08-21 08:59] oskotsky commented on #1329
horovod==0.17.0 works as well but his different problem
ImportError: Extension horovod.tensorflow has not been built.  If this is not expected, reinstall Horovod with HOROVOD_WITH_TENSORFLOW=1 to debug the build error.

even if horovod was installed with tensorflow

[2019-08-21 10:53] liuyongheng123 commented on #1322
Thanks a lot!!!

[2019-08-21 10:53] #1322 closed

[2019-08-21 13:32] rayburgemeestre commented on #1212
Thank you for your answer. It's been a very slow reply but I finally have some time to test this out today. I'm using calico for networking and found out about a feature named IPIP in Calico. I'm testing now with the patch disabled, and will post an update when I make any progress

[2019-08-21 16:36] tgaddair commented on #1330
Hey @HongmingHUANG, you can take a look at our [unit tests](https://github.com/horovod/horovod/blob/master/test/test_tensorflow.py#L184) for examples of how to call `hvd.allreduce` to aggregate tensors without training a model.

[2019-08-21 17:11] alsrgv commented on #1331
@LaCandela, could you try using latest TF2-nightly wheel?

[2019-08-21 17:48] alsrgv commented on #1325
Fixed by #1327

[2019-08-21 17:48] #1325 closed

[2019-08-21 17:50] alsrgv commented on #1324
@Kohulan, could you try latest TF2 nightly wheel?

[2019-08-21 21:05] tgaddair commented on #1329
Hey @oskotsky, can you clarify something: were you able to get this working with v0.17.0.post1, or did you need to roll back?  If it's not working with the latest release, we should keep this issue open and find a solution for you.

[2019-08-21 21:24] oskotsky commented on #1329
correct - v0.17.0.post1 totally failed for me. I installed with horovod==0.17.0 and things look better. I am running test on the single host so far and planning to try on the cluster. What is the difference between v0.17.0.post1 and v.0.17.0?

[2019-08-21 22:42] tgaddair commented on #1329
The main difference is https://github.com/horovod/horovod/commit/bab1f83a769d5cdd5ae22141559dab4a3fe3c460, which adds subprocess isolation to check which frameworks are installed.  It looks like somehow the subprocesses are failing to return the correct values to you.

Using `0.17.0.post1`, what happens if you run `mpirun -np 1 python36 train.py --verbose` instead of `horovodrun`?

[2019-08-22 00:50] alsrgv commented on #1329
@oskotsky, I've started https://github.com/horovod/horovod/pull/1332 to help debug this further.  Could you re-install Horovod via `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir git+https://github.com/horovod/horovod@verbose_check_build`, run `horovodrun --check-build --verbose`, and share the full output?

[2019-08-22 01:04] oskotsky commented on #1329
I think I found the reason for the failure. Please correct me if I am wrong.
I am installing horovod on aws ec2 p2 type (gpu). The instance has gpu but doesn't have nvidia drivers for it (I wrongly assumed that since it 2 type the instance has everything installed). However, installation tensroflow and horovod works even without cuda(?). When I manually installed drivers for gpu   v0.17.0.post1 se

[2019-08-22 01:26] YangFei1990 opened #1333 "Support for delayed allreduce"
There is a delayed allreduce option implemented in Apex: https://nvidia.github.io/apex/parallel.html#apex.parallel.DistributedDataParallel

Is there something similar in horovod for tensorflow?

[2019-08-22 01:27] liuqi commented on #1264
This issue should be caused by g++ version detection issue of horovod. It has been fixed in most recent code changes. Could you please try to reinstall from mater?
`HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir git+https://github.com/horovod/horovod`

[2019-08-22 02:17] alsrgv commented on #1329
@oskotsky, gotcha! No problem, glad it's working now.

[2019-08-22 07:51] alsrgv commented on #1309
Per https://github.com/ansible/ansible/issues/32499, can you `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` before running PySpark?

[2019-08-22 08:10] andvidal commented on #1275
I have used [tensorpack](https://github.com/tensorpack/tensorpack) for this, where local mean and variances and aggregated across multiple gpus, so there are global statistics rather than local ones, as is the case for horovod

[2019-08-22 08:20] qingyu-wang commented on #1328
https://gist.github.com/alsrgv/0713add50fe49a409316832a31612dde
i try this code and solv

[2019-08-22 08:20] #1328 closed

[2019-08-22 08:29] HongmingHUANG commented on #1330
Thanks a lot, I can run it now~

[2019-08-22 08:29] #1330 closed

[2019-08-22 09:16] LaCandela commented on #1331
@alsrgv I installed tf-nightly-gpu-2.0-preview 2.0.0.dev20190821, now I don't get the 'get_default_session' error. However, now the tf.datset api tries to load and shuffle the whole content of the TFrecods training file which fills up the memory and the process dies. I am not using .shuffle() at all in my dataset pipeline. Is this a nightly bug?

[2019-08-22 14:00] beizhengren opened #1334 "Install error: None of TensorFlow, PyTorch, or MXNet plugins were built. See errors above."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) PyTorch
2. Framework version:1.2.0
3. Horovod version:latest
4. MPI version:4.0.0
5. CUDA version:10.0
6. NCCL version:no
7. Python version:3.7.2
8. OS and version:ubuntu18.04
9. GCC version:7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?yes
2. If your question is about hang, did you r

[2019-08-22 14:31] andvidal opened #1335 "All example hangs when using all available GPUS, expect GPU0"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) any
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horo

[2019-08-22 16:05] oskotsky commented on #1329
Thank you! Will see what problems I will have when I move to cluster from single instance. ;)

[2019-08-22 18:35] alsrgv commented on #1331
@LaCandela, maybe - I recommend filing it in TensorFlow issue tracker.  TF 2.0 nightlies are not extremely stable yet.

[2019-08-22 19:35] alsrgv commented on #1334
@beizhengren, sorry about that, it's a bug. The fix is in #1336. Could you give it a try? `HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir git+https://github.com/horovod/horovod@fix_compiler_version_check`

[2019-08-22 19:44] alsrgv commented on #1306
@passerbyd, could you try it again with the latest Horovod version?  Also, which broadcast ops are you using, are you using BroadcastGlobalVariablesHook() or something else?

[2019-08-22 19:44] alsrgv commented on #182
@leimao, at this point that's correct.

[2019-08-22 21:56] #1334 closed

[2019-08-23 03:26] beizhengren commented on #1334
@alsrgv Hi alsrgv, thank you very much!
with your help
- I installed nccl
- `HOROVOD_GPU_ALLREDUCE=NCCL  HOROVOD_NCCL_HOME=~/Workspace/git_project/nccl/build pip install --no-cache-dir git+https://github.com/horovod/horovod  `
then, installed successfully!

[2019-08-23 04:06] alsrgv commented on #1333
This is very closely related to #1130.  That PR is a bit outdated, but @romerojosh mentioned he's planning to refresh it soon.

[2019-08-23 06:15] #1329 closed

[2019-08-23 06:55] oskotsky opened #1338 "horovodrun times out but mpirun works"
**Environment:**
1. Framework: (TensorFlow)
2. Framework version: 1.14
3. Horovod version: 0.17.1
4. MPI version: Open MPI: 4.0.1
5. CUDA version: 396.26
6. NCCL version: 2.2.13
7. Python version: 3.6
8. OS and version: Amazon Linux
9. GCC version: 4.8.5

mpirun -np 2 -H localhost:1,10.0.7.54:1 python3 train.py runs fine

the same command through horovod:
horovodrun -np 2 -H localhost:1,10.0.7.54:

[2019-08-23 07:22] alsrgv commented on #1338
Can you add --verbose flag and possibly --start-timeout 60?

________________________________
From: oskotsky <notifications@github.com>
Sent: Thursday, August 22, 2019 11:56:06 PM
To: horovod/horovod <horovod@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [horovod/horovod] horovodrun times out but mpirun works (#1338)

Environment:

  1.  Framework: (TensorFlow)
  2.

[2019-08-23 07:30] oskotsky commented on #1338
doesn't help :(

[hadoop@ip-10-0-13-220 tmp]$ horovodrun -np 2 -H localhost:1,10.0.7.54:1 python3 train.py --start-timeout 60 --verbose
Traceback (most recent call last):
  File "/usr/local/bin/horovodrun", line 21, in <module>
    run.run()
  File "/usr/local/lib64/python3.6/site-packages/horovod/run/run.py", line 471, in run
    settings, fn_cache=fn_cache)
  File "/usr/local/lib64/python3.6/sit

[2019-08-23 07:39] alsrgv commented on #1338
Can you add those before word "python"? Otherwise, they're passed as arguments to your training script instead of Horovodrun

________________________________
From: oskotsky <notifications@github.com>
Sent: Friday, August 23, 2019 12:30:42 AM
To: horovod/horovod <horovod@noreply.github.com>
Cc: Alex Sergeev <alexander.sergeev@live.com>; Comment <comment@noreply.github.com>
Subject: Re: [horovod/ho

[2019-08-23 07:43] oskotsky commented on #1338
oops.. this looks better
[hadoop@ip-10-0-13-220 tmp]$ horovodrun -np 2 -H localhost:1,10.0.7.54:1 --start-timeout 60 --verbose python3 train.py
Filtering local host names.
Remote host found: 10.0.7.54
Checking ssh on all remote hosts.
SSH was successful into all the remote hosts.
Testing interfaces on all the hosts.
Launched horovodrun server.
Attempted to launch horovod task servers.
Waiting for

[2019-08-23 07:51] oskotsky commented on #1338
could it be NCCL related?

[2019-08-23 08:04] oskotsky commented on #1338
oh well, doesn't look like it is about NCCL but I had to try it - reinstalled horovod with
sudo HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=/usr/local/nccl HOROVOD_WITH_TENSORFLOW=1 pip-3.6 --no-cache-dir install horovod

not luck and I am stuck - mpirun works but horovod doesn't

[2019-08-23 08:17] beizhengren commented on #1122
@alsrgv  how should I configue the host address?In other words, I want to train a model in two machines, how horovod know the other machine address?
Thank you!

[2019-08-23 10:10] beizhengren opened #1340 "Launching horovodrun task function was not successful"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)PyTorch
2. Framework version:1.2.0
3. Horovod version:latest
4. MPI version:
5. CUDA version:10.0
6. NCCL version:2.4.8
7. Python version:3.7.2
8. OS and version:ubuntu18.04
9. GCC version:7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?yes
2. If your question is about hang, did you read

[2019-08-23 12:03] passerbyd commented on #1306
@alsrgv
Days spent on this problem, tried different horovod and tensorflow versions to find which modification cause it.
BroadcastGlobalVariablesHook in the demo use an empty device for the broadcast op, which works well in local_server mode. But if in distributed TF mode(ps-workers), the empty device will place all the ops on worker:0, which causes DUPLICATE_NAME_ERROR.
And as the processes run i

[2019-08-23 12:03] #1306 closed

[2019-08-23 14:48] alsrgv commented on #1306
What was the use case that required parameter server usage with Horovod? Normally, you don't need them.

________________________________
From: passerbyd <notifications@github.com>
Sent: Friday, August 23, 2019 5:03:20 AM
To: horovod/horovod <horovod@noreply.github.com>
Cc: Alex Sergeev <alexander.sergeev@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [horovod/horovod] DUPLICATE_NAME

[2019-08-23 17:20] khayamgondal opened #1341 "terminate called after throwing an instance of 'gloo::EnforceNotMet' ifa != nullptr. Unable to find address for: eth0"
hvd.init() throws following error
[code]
What I understand is that gloo is hardcoded to check for eth0 and in my case (Centos 7.6) I have em1 and em2. I came acrros solution to export the below env variables but i am still seeing the issue
[code]
How can I get pass this?

**Environment:**
Framework:  Keras
Tensorflow Version 1.13.1
Keras Version 2.2.4-tf
Horovod version: horovod==0.17.0.post1
Pyth

[2019-08-23 17:39] tgaddair commented on #1341
Hey @khayamgondal, can you try setting `HOROVOD_GLOO_IFACE=em2` instead?  Apologies that this is not better documented, I'll add some docs to explain this (and perhaps we can even auto-detect this similar to how we do it for MPI).

[2019-08-23 17:39] YangFei1990 commented on #1333
Thanks @alsrgv ! I just checked the PR. If I'm not misunderstanding, setting group_num=1 will be the same as the delay_allreduce in Apex right?

[2019-08-23 17:43] khayamgondal commented on #1341
Thanks @tgaddair, If its a minor issue in the code, I can try to fix it.

[2019-08-23 17:52] tgaddair commented on #1341
Like I said, it's just another environment variable you need to set:

[code]

Let me know if that works.

[2019-08-23 18:33] khayamgondal commented on #1341
@tgaddair Yes, I got it the first time. What I was saying that I can try to fix it like you said "auto-detect this similar to how we do it for MPI". But looks like you already have a PR opened.

[2019-08-23 18:44] tgaddair commented on #1341
Ah, sorry I misunderstood.  Hopefully the fix should prevent you from needing to set anything manually, feel free to try it out and let us know how it goes.

[2019-08-23 19:22] khayamgondal opened #1343 "FailedPreconditionError: Error while reading resource variable *** from Container: localhost. This could mean that the variable was uninitialized. Not found: Resource localhost/conv1d_9/bias/N10tensorflow3VarE does not exist."
I am seeing following error on running model.fit with the horovod callbacks. If I skip the callbacks fit runs fine. Note: I am using `horovod.tensorflow.keras` package and my model is based on `tensorflow.keras` (I am not direclty using keras package but from the tensorflow)

[code]
Callbacks are as following
[code]
Environment:
Framework: tensorflow.keras
Tensorflow Version 1.13.1
Keras Version 2

[2019-08-23 19:46] ruanxt opened #1344 "Horovod init failed for tensorflow in singularity container"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet): Tensorflow
2. Framework version: 2.0.0b1
3. Horovod version: 0.17.0.post1
4. MPI version: openmpi 2.0.2
5. CUDA version: 10.1
6. NCCL version: 2
7. Python version: 3.6
8. OS and version: Scientific Linux release 7.4
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
Yes.

[2019-08-23 20:25] #1341 closed

[2019-08-23 23:41] alsrgv opened #1346 "Support gradient clipping before & after allreduce"
**Is your feature request related to a problem? Please describe.**
Currently, each framework allows one (not always consistent) way to do gradient clipping. Generally, one could do gradient clipping locally (before allreduce) or globally (after allreduce).

In PyTorch, gradient clipping is done globally (after allreduce).

In MXNet and TensorFlow (since Horovod 0.17.0), gradient clipping is done l

[2019-08-24 01:24] passerbyd commented on #1306
normally yes, so there is little information about this problem.
In my case, I need a shared_name queue as a message queue among the session. I do not use PS for sync variables.

[2019-08-24 02:30] alsrgv commented on #1306
I see, I wonder if you could accomplish similar results with [mpi4py](https://mpi4py.readthedocs.io/en/stable/index.html) instead of parameter servers.

[2019-08-24 07:07] oskotsky commented on #1338
while horovodrun trying to start a job on remote server:

horovodrun -np 1 -H 10.0.8.81:1 --verbose 4 python3 train.py --mpi

that server 10.0.8.81 sees request:

[hadoop@ip-10-0-8-81 ~]$ ps aux | grep horovod*
hadoop    3143  2.0  0.0 582180 17144 ?        Ssl  07:02   0:00 /usr/bin/python3.6 -m horovod.run.task_fn gASVAwAAAAAAAABLAC4= gASVfwAAAAAAAAB9lCiMAmxvlF2UjAkxMjcuMC4wLjGUTR6qhpRhjARldGgwl

[2019-08-24 17:13] marcfielding1 opened #1348 "Running Horovod on Jetson Series"
Heya,

So we'd like to see if we can run Horovod on Jetson TX2 I tried building the docker image and got...

[code]

Now this makes sense because some of the libs are x86_x64 whereas Jetson is ARM, has anyone managed to achieve this? If not no worries we can try and figure it out - obviously didn't want to reinvent the wheel if anyone else has already done the work.

Cheers

Marc

[2019-08-24 23:44] oskotsky commented on #1338
i uninstalled 0.17.1 and installed 0.17.0
now mpirun -np 3 -H localhost:1,10.0.12.32:1,10.0.7.77:1 python3 train.py  works

but horovodrun does different thing:
[hadoop@ip-10-0-7-187 ~]$ horovodrun -np 3 -H localhost:1,10.0.12.32:1,10.0.7.77:1 python3 train.py
Traceback (most recent call last):
  File "/usr/local/bin/horovodrun", line 21, in <module>
    run.run()
  File "/usr/local/lib64/python3.

[2019-08-25 01:00] zhonghual1206 commented on #1277
but use  Dockfile.test.cpu i always build failed
tensorflow 1.14.1
python 3.6

Error ：
/usr/local/lib/python3.6/dist-packages/torch/utils/cpp_extension.py:191: UserWarning:
!! WARNING !!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Your compiler (/usr/bin/g++-4.8 4.8) may be ABI-incompatible with PyTorch!
Please use a compiler that is ABI-compatible with GCC 4.9

[2019-08-25 08:30] jageshmaharjan commented on #1069
@billtiger , Have a similar issue (https://github.com/horovod/horovod/issues/1069?_pjax=%23js-repo-pjax-container#issuecomment-491721087) while trying to `pip install horovod`.
Horovod is the dependency to run one of my application ([BERT for optimized model](https://github.com/NVIDIA/TensorRT/tree/release/5.1/demo/BERT)) in TensorRT.

[2019-08-26 07:16] wlzzZ commented on #1277
The g++ version seems not to be compatible.

[2019-08-26 07:44] alsrgv commented on #1277
@jimmy-walker, @zhonghual1206, it seems like you don't have Git submodules cloned.  Can you re-clone with `--recursive`?

[2019-08-26 07:44] alsrgv commented on #1333
Yes, that's right.

[2019-08-26 07:49] alsrgv commented on #1338
@oskotsky, were you able to resolve your issue?

[2019-08-26 07:55] BillMK opened #1349 "Does horovod support HOROVOD_TIMELINE using mpirun ?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)TensorFlow
2. Framework version: 1.14.0
3. Horovod version: latest
4. MPI version:openmpi 4.0.0
5. CUDA version: 10.0
6. NCCL version:2.4.8
7. Python version:3.6.8
8. OS and version:ubuntu 18.04
9. GCC version:4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?yes
2. If your question is abo

[2019-08-26 08:04] #1349 closed

[2019-08-26 08:05] BillMK commented on #1349
solved! this seems work~

/usr/local/openmpi/bin/mpirun --allow-run-as-root  \
--mca oob_tcp_if_include ens160 --mca btl_tcp_if_include ens160 -np 2 -x NCCL_SOCKET_IFNAME=ens160  \
-H hec01:1,hec02:1 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH
-x HOROVOD_TIMELINE=/nfs/home/mk/minist/timeline.json  -mca pml ob1 -mca btl ^openib \
python3 fashion_mnist_solution.py

[2019-08-26 09:32] zhonghual1206 commented on #1277
ok, i will try  thank you very much !

[2019-08-26 09:35] zhonghual1206 commented on #1277
i had try anthoner g++ vesion but also not work. thanks for your review

[2019-08-26 10:02] Kohulan commented on #1324
@alsrgv , No luck so far. I have tried with the nightly wheel. If I run with 1 GPU everything works fine and the model gets built. If I run with 2 GPUs, It's stuck at a point and not proceeding to the next step.

Original Script
[code]

Altered script to use horovod
[code]

[2019-08-26 18:44] aaron276h opened #1350 "CUDA_OUT_OF_MEMORY on tensorflow2_keras_mnist example."
**Environment:**
Using: `horovod/horovod:0.17.1-tf1.14.0-torch1.2.0-mxnet1.5.0-py3.6` container.

Log:
[code]

**Bug report:**
`docker run --privileged -it --shm-size=16g -v /home:/home --runtime=nvidia --net=host horovod/horovod:0.17.1-tf1.14.0-torch1.2.0-mxnet1.5.0-py3.6`

`NCCL_DEBUG=INFO horovodrun -np 2 -H localhost:2 python /home/aaronharlap/repos/horovod/examples/tensorflow2_keras_mnist.py`

[2019-08-27 07:26] lifematrix opened #1353 "Docker file build error"
Hi, I find horovod is a great work and meets our need for distributed training.
However, when I follow the guide to build the example docker image,

[code]

some error raised like this:

[code]

I guess nivdia has changed its repo and package info mismatch.

Thanks for your help!

[2019-08-27 08:20] Kohulan commented on #1324
@alsrgv , `tensorflow2_mnist.py` and `tensorflow2_keras_mnist.py` are running without any problem. I never had any errors.

When I run the altered script with 1 GPU ` horovodrun -n 1 python Train.py`, I could see the script running fine and there was the final model. When I run the same script with 2 or more GPUs `horovodrun -n 2 python Train.py`, the following GPU output was there, I could see tw

[2019-08-27 09:15] wlzzZ commented on #1305
if I set the size of response_cache 0 or some values(larger than the number of tensors), the Img/sec nearly are same. But if I set the response_cache size between 0 and the number of tensors, it will have a poor performance. I test it in one machine with multi-GPUs. Does it mean that if I train the model in one machine with multi-GPUs, the efficiency can not benefit from the response cache?

[2019-08-27 09:22] wlzzZ commented on #1305
[In response_cache.cc, this warning ](https://github.com/horovod/horovod/blob/a639de51e9a38d5c1f99f458c045aeaebe70351e/horovod/common/response_cache.cc#L112l)

[2019-08-27 09:36] agemagician commented on #1250
@zmsunnyday Could you please share the code for XLNet distributed training?

[2019-08-27 12:58] windson87 opened #1354 "_DistributedOptimizer fail to initialize when using a customerized optimizer"
**Environment:**
1. Framework: PyTorch
2. Framework version:1.0.0
3. Horovod version:0.16.4
4. MPI version:
5. CUDA version:10
6. NCCL version:
7. Python version:3.6
8. OS and version:
9. GCC version:

**Bug report:**
Hi, I want to use a customized optimizer: over9000 (https://github.com/mgrankin/over9000/blob/master/ralamb.py) in my distributed training. But it got errors in this line:
'''optimiz

[2019-08-27 14:23] AbdullahNauman opened #1355 "Running on multiple nodes: Horovod stuck on hvd.init()"
I recently set up Horovod using a conda environment and am trying to run the _mnist_keras.py_ example. The example runs properly on one process. However, when trying to run on two GPUs, it either gets stuck at **hvd.init()** or displays the following error message:

`Traceback (most recent call last):
    File "mnist_keras_hvd.py", line 21, in <module>
        K.set_session(tf.Session(config=confi

[2019-08-28 03:55] ipScore opened #1360 "How to call "horovodrun -np 4 -H localhost:4 python mnist.py" for distributed training in Pycharm?"
**Environment:**
1. Framework: (PyTorch)
2. Framework version: 1.2
3. Horovod version: 0.18
4. MPI version: 4.0.0
5. CUDA version: 10.1
6. NCCL version: 2.1.4
7. Python version: 2.6.8
8. OS and version: Ubuntu 16.04
9. GCC version: 7.4.0

**Your question:**
Hello, I'd like to call **"horovodrun -np 4 -H localhost:4 python mnist.py"** for distributed training in **Pycharm**?  I wonder konw if I can

[2019-08-28 08:33] XuanBaby opened #1361 "different ranks are trying to submit different tensors"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)：Tensorflow
2. Framework version:1.13
3. Horovod version:horovod-0.16.2-py3.6
4. MPI version:4.0.0
5. CUDA version:AMD
6. NCCL version:
7. Python version:3.6.8
8. OS and version:centos 7.4
9. GCC version:7.2.1

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang,

[2019-08-28 11:00] windson87 commented on #1354
Hi, thanks for answering. I did the same for over9000, have you tried over9000?
[code]
but it didn't work, it worked for general Adam optimizer.

[2019-08-28 11:03] windson87 commented on #1354
note that with the same code except for the distributed training part, the optimizers work fine locally

[2019-08-28 11:45] windson87 commented on #1354
it seems Radam and ralamb works but others which is using lookahead doesn't work.  Locally they all work fine but with distributed training pipeline, the below "lookahead init" is not working in the line of "self.param_groups = self.optimizer.param_groups".
[code]

[2019-08-28 13:50] ipScore commented on #1360
@alsrgv Thank you for reply. Actually, directly running command **horovodrun -np 4 -H localhost:4 python mnist.py** in **terminal** to start training is OK, but it doesn't work in **Pycharm** . Thus,  I wonder if there is a module like **torch.distributed.launch** in horovod to lauch the distributed training in **Pycharm**.

[2019-08-28 19:26] #1350 closed, assigned to nobody

[2019-08-28 22:17] windson87 commented on #1354
Hi, thanks, but not sure how to do it tho. Any explanation or examples will be highly appreciated.

[2019-08-29 01:10] ipScore commented on #1360
Hey @tgaddair., thank you for your advice. But it seems something wrong with my environment. Since I've installed OpenMPI 4.0.0 and re-installed horovord with pip, it still doesn't work.
![image](https://user-images.githubusercontent.com/30183023/63902577-cac0eb00-ca3c-11e9-9c53-647615322909.png)

![image](https://user-images.githubusercontent.com/30183023/63902475-63a33680-ca3c-11e9-837f-6c0717f8

[2019-08-29 01:17] #1338 closed

[2019-08-29 01:26] oskotsky opened #1362 "horovod.spark.run example gives two different results"
I am testing spark horovod on the cluster of three p2.xlarge aws instances. Your example works (horovod.spark.run(fn, args=(42,)) however
first run gives:
Running 2 processes (inferred from spark.default.parallelism)...
exit from pyspark and re-run agin, yields:
Running 7 processes (inferred from spark.default.parallelism)...

How could this be? Is something wrong?

Thank you

p.s.
$ pyspark
[PySp

[2019-08-29 02:03] seilna commented on #1089
Hi, I have a question about using `apex.amp` in horovod setup.
From what I know, `apex.amp` uses [dynamic scale loss](https://nvidia.github.io/apex/amp.html) where the loss is adaptively scaled over time. The loss is scaled when its value is NaN. But it seems that this information (whether the loss is NaN or not) is not shared between multiple processes in horovod. Have you ever met such situation

[2019-08-29 02:12] un-knight commented on #1089
There is no need to share Nan information between multiple processes. Besides, the purpose of loss scaling is to avoid gradient presented in fp16 occurs  underflow.

[2019-08-29 03:06] wlzzZ commented on #1305
Thanks for your patient comments. I still have a question that whether the horovod supports gradient compression.

[2019-08-29 05:22] y-bai commented on #465
I have the same error when using the mpirun command as follows:

mpirun -np 12
-H host1:4,host3:4,host2:4
-bind-to none -map-by slot
 -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH     -mca pml ob1 -mca btl ^openib     python model_train_main.py

*** An error occurred in MPI_Init_thread
*** on a NULL communicator
*** MPI_ERRORS_ARE_FATAL (processes in this communicator will now abort,
***    and po

[2019-08-29 07:59] PlusWayne opened #1363 "Error in run multiple node"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 2.0rc
3. Horovod version:  0.18.0
4. MPI version: 4.0.1
5. CUDA version: 10.0
6. NCCL version:
7. Python version: 3.6.5
8. OS and version: linux
9. GCC version: 7.3.1

**Your question:**
Please ask your question here.

Hi, i am running the example `tensorflow2_keras_mnist.py` using tensorflow 2 and

[2019-08-29 10:36] seilna commented on #1089
@un-knight Thank you for reply. I mean when the one of the process meet nan loss value, the call of `loss.backward()` induces nan value of its gradient (let me say it as `nan_process`). The problem is, when we call `model.optimizer.synchronize()` or `model.optimizer.step()`, this nan gradient is averaged (allreduced) across all processes so they share nan gradient. The call of `synchronize() or st

[2019-08-29 13:41] aaron276h opened #1364 "Multi machine example crashes when using GLOO controller."
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) TF
2. Framework version: 1.14.0
3. Horovod version: Latest: `83eaa163b395ae8866a404f94facf82cc8127642`
4. MPI version: N/A
5. CUDA version: 10
6. NCCL version: 2.4.7
7. Python version: 3.6
8. OS and version: ubuntu 16.04
9. GCC version: 4.8

**Bug report:**
After installing Horovod without MPI (using GLOO controller), when I run th

[2019-08-29 15:35] un-knight commented on #1089
@seilna Oh I see, I think the first thing you should do is to check why your program will get Nan gradient during training. There must be some inappropriate op in your code, you should check it out.

[2019-08-29 15:57] tgaddair commented on #1364
Hey @aaron276h, thanks for raising this issue.  Looks like this is due to running on a single GPU with multiple machines.  A quick workaround in the short term would be to run on more than one GPU per machine if available.

We put in a fix a while back in Horovod to support running with 1 GPU (world size = 1), but this appears to be coming from the local communicators on each machine, which form r

[2019-08-29 16:44] aaron276h commented on #1364
Hey @tgaddair thanks for the quick reply!

I tried out running with 4 GPUs per machine and got a diferrent error message:

[code]

[2019-08-29 17:12] AbdullahNauman commented on #1355
Thank you for the response!

I was able to find and install [OpenMPI 4.0 ](https://anaconda.org/conda-forge/openmpi) within my conda environment and get _horovodrun_ working. That seems to fix the problem for now.

Thank you again.

[2019-08-29 17:12] #1355 closed

[2019-08-29 18:04] khanx169 opened #1365 "horovod.keras doesn't work when mutiprocessing=True in fit_generator"
**Environment:**
1. Framework: (Keras, Backend: Tensorflow 1.14)
2. Framework version: 2.2.4
3. Horovod version: 0.18.0
4. Python version: 3.7.4

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.rst)? Yes

**Bug report:**

I'm using a ker

[2019-08-29 19:25] alsrgv commented on #1365
@khanx169, this may be MPI specific. Can you run `horovodrun --gloo ...` to see if it helps?

[2019-08-29 19:36] alihydri commented on #626
@alsrgv , can you help me with the details of data distribution method? I have one host and multiple processing  nodes (all CPU) with shared storage units, but only in host-node fashion (not node-node fashion). Can I put the images on different storage units ( ex: half on shared storage between host and node1 and the other half on shared storage between the host and node2)? If so, will Horovod use

[2019-08-29 20:38] tgaddair commented on #1364
Hey @aaron276h, I put together a branch that updates Gloo and should address some of the issues you've been seeing (at least the issue with running 1 GPU per host).  Can you try it out and let me know how it goes?

[code]

As to the latest issue you're seeing, can you try running with `horovodrun --log-level DEBUG ...`? This should give us more insight into what's failing.

Thanks.

[2019-08-29 21:42] denfromufa commented on #997
@benckx when you say it is not learning 4 times faster, what metric/score did you base your conclusion on? The loss function seems not useful at all.

[2019-08-29 21:54] aaron276h commented on #1364
@tgaddair I ran the new branch with 1 GPU per machine and 8 GPUs per machine.

With 1 GPU per machine it hung after the NCCL initilization:
(Note: I had to delete `Thu Aug 29 21:41:06 2019[0]<stdout>:[2019-08-29 21:41:06.839497: D horovod/common/controller.cc:117] Cache coordinated.` to avoid going over Github comment length.
[code]

With 8 GPUs per machine, it crashed with the same error as befor

[2019-08-29 23:04] abditag2 commented on #626
Horovod does not deal with data distribution and it is entirely up to your scripts how to feed the data into each worker.

To create a mental model of how to distribute the data, think about it in this way. You want to partition your entire data to equal chunks for each horovod worker. Now, with shared storage, you can have each worker to read their own chunk from the original data source. If you

[2019-08-29 23:13] abditag2 commented on #1363
Does this happen with other examples as well or just tf2 example?

On Thu, Aug 29, 2019, 12:59 AM PlusWayne <notifications@github.com> wrote:

[2019-08-29 23:14] abditag2 commented on #465
Can you try using horovodrun command?

[2019-08-29 23:15] abditag2 commented on #1305
Yes it does. You can specify the compression type in the DistributedOptimizer class.

[2019-08-29 23:15] abditag2 commented on #1305
You can also create your own compression scheme.

[2019-08-29 23:19] abditag2 commented on #1360
This error is most likely due to pycharm path. In the meanwhile, have you considered using python debugger instead of pycharm for debugging? Simply do 'pip install ipdp' and then in your code 'import ipdb;ipdb.set_trace()' where you want to set a breakpoint.

[2019-08-29 23:28] wlzzZ commented on #1305
I mean that the sparse expression of  gradients, you can see this [paper](https://openreview.net/pdf?id=SkhQHMW0W)

[2019-08-29 23:29] tgaddair commented on #1364
Hey @aaron276h, sorry about the flood of cache messages, we'll remove those with the fix when it's ready.

I was able to reproduce this issue.  Seems be related specifically to compiling without MPI.  I'm currently digging into what the root cause is, hope to have a solution for you soon.

[2019-08-30 00:36] alihydri commented on #626
Thank you @abditag2.
Does that mean in case of local storage, the nodes  stop training after processing all of their input data chunks? I had the notion that nodes exchange input data as well as weights and parameters.
And what's the proper way to allocate parts of shared directory or data to a specific node?

[2019-08-30 00:38] tgaddair commented on #1364
Hey @aaron276h, I think I found the source of the error.  I've updated the branch if you'd like to try installing it again:

[code]

Note that you should include any environment variables used to install Horovod (for example `HOROVOD_NCCL_HOME`) in front of `pip install`.

[2019-08-30 01:36] aaron276h commented on #1364
@tgaddair Using the new install running after installing `HOROVOD_WITHOUT_MPI` works for both 2 machine with 1 GPU each, and 2 machine with 8 GPUs each. Thanks so much for your help!

I was wondering, are there any known issues we should keep in mind if we plan to use Horovod with GLOO instead of MPI?

[2019-08-30 01:55] tgaddair commented on #1364
Hey @aaron276h, that's great!  Happy to help.

At the moment there aren't any major issues (besides this one) that we're aware of with Gloo.  The only caveats I can think of are:

- Only works on Linux currently (no Mac OS for now).
- Does not support hierarchical allreduce / hierarchical allgather options yet (only needed for very large cluster setups).
- MPI will outperform Gloo for CPU operatio

[2019-08-30 02:18] abditag2 commented on #1305
We don't have this compression implemented. But we encourage contributions if you are willing to implement it we can gladly help you. The changes we have made in the past few months provides clean interfaces for implementing new compression schemes.

[2019-08-30 07:14] XuanBaby commented on #1361
Hi, @tgaddair thank you for your answer,as your advice, I test the /horovod/example/tensorflow_synthetic_benchmark.py :
mpirun -np 2 --allow-run-as-root python3 tensorflow_synthetic_benchmark.py
the output:
2019-08-30 15:00:23.412460: I tensorflow/core/kernels/conv_grad_filter_ops.cc:979] running auto-tune for Backward-Filter
2019-08-30 15:00:23.423146: I tensorflow/core/kernels/conv_grad_filter_o

[2019-08-30 07:46] PlusWayne commented on #1363
Thank you for you help, I finally fixed this issue by reinstall horovod.
I found that tensorflow 2.0 needs gcc 7.3.1, so hope can update the installation guide.

[2019-08-30 07:46] #1363 closed

[2019-08-30 14:46] #1364 closed

[2019-08-30 16:22] abditag2 commented on #626
For local storage, you can set the number of epochs -- which should be
identical on all the workers. So you can train for as long as you like and
then yes, the nodes will stop.

For shared storage, or if you want to read only your chunk for your worker
from a large datasets, we recommend using petastorm. Petastorm takes care
of chunking the data and uses multiple threads for reading data which
inc

[2019-08-30 16:28] abditag2 commented on #626
You can look at this example for using petastorm with tf: https://github.com/horovod/horovod/blob/9f87459ead9ebb7331e1cd9cf8e9a5543ecfb784/examples/keras_spark_rossmann.py#L453

There are pytorch examples on the petastorm github repo as well.

[2019-08-30 17:47] khayamgondal opened #1370 ":tensorflow.python.framework.errors_impl.NotFoundError: libcudart.so.10.0: cannot open shared object file: No such file or directory"
I have cuda 10.0 installed, and exported` LD_LIBRARY_PATH=/usr/local/cuda-10.0/lib64/`. This is how I built horovod `HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=/usr/include HOROVOD_CUDA_INCLUDE=/usr/local/cuda-10.0/include HOROVOD_CUDA_LIB=/usr/local/cuda-10.0/lib64 pip install --no-cache-dir horovod==v0.16.4`
I run my application using ` horovodrun -np 2 -H localhost:2  python3 horovod_trianing

[2019-08-30 17:58] khayamgondal commented on #1370
@tgaddair I know you are super busy, any help would be appreciated :)

[2019-08-30 18:25] 652994331 commented on #951
@alsrgv  Hi, can i ask a quick question? I was using horovod multi-gpu in my server, it ok. Recently i moved to a new server and already got every thing for the environment, but when i used same command as my old server, it said:
![image](https://user-images.githubusercontent.com/51428350/64043248-bb16d480-cb18-11e9-995a-527312a08929.png)
i guess ther's something wrong with "localhost". could you

[2019-08-30 18:44] 652994331 opened #1371 "a quick question about running the horovod"
**Environment:**
1. Framework: (TensorFlow,)
2. Framework version: tensorflow-gpu==1.12.0
3. Horovod version: 0.18.0
4. MPI version: 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.4.8
7. Python version: 3.6.5
8. OS and version: centos 7
9. GCC version: >4.8.5

**Your question:**
Please ask your question here. Hi, can i ask a quick question? I was using horovod multi-gpu in my server, it ok. Recentl

[2019-08-30 19:48] khayamgondal commented on #1370
okay, for some reason I needed to explicity export by doing `export HOROVOD_CUDA_HOME =/path/to `after installing the horovod and before running it.

[2019-08-30 19:48] #1370 closed

[2019-08-30 19:50] khayamgondal commented on #1371
Try chaning your hostname i.e. remove underscores.

[2019-08-30 22:36] 652994331 commented on #1371
@khayamgondal thanks so much man, it works.

[2019-08-31 03:25] khayamgondal commented on #1371
Glad it helped. @tgaddair can you close this one?

[2019-08-31 03:29] khayamgondal commented on #983
@alsrgv @JohnTaylor2000 Is anyone working on this If not I can take it.

[2019-08-31 03:39] JohnTaylor2000 commented on #983
That would be great - let me know and I will try it out!

Best wishes,

John

On 31 Aug 2019, at 1:30 pm, Khayam Gondal <notifications@github.com<mailto:notifications@github.com>> wrote:

@alsrgv<https://github.com/alsrgv> @JohnTaylor2000<https://github.com/JohnTaylor2000> Is anyone working on this If not I can take it.

—
You are receiving this because you were mentioned.
Reply to this email dire

[2019-08-31 03:50] tgaddair commented on #983
Thanks @khayamgondal, looking forward to the contribution!

[2019-08-31 03:50] #1371 closed

[2019-09-01 01:27] ppwwyyxx commented on #404
Haven't seen such errors afterwards. So closing

[2019-09-01 01:27] #404 closed

[2019-09-01 08:55] ppwwyyxx opened #1373 "Let horovodrun save per-worker log file"
**Describe the solution you'd like**
`mpirun` can save per-worker log file. This is quite useful but currently `horovodrun` prints everything to terminal.

**Describe alternatives you've considered**
`horoodrun` a bash script which redirects outputs of the actual job to a file named after the rank?

[2019-09-01 09:54] ppwwyyxx opened #1374 "Configure gloo timeout"
**Is your feature request related to a problem? Please describe.**
I'm seeing this in a run with gloo:
[code]
at the first iteration.

**Describe the solution you'd like**
In tensorflow, the first iteration often involves heavy tasks such as jit-compile some cuda kernels and XLA-compile the graph. It is quite common that my model takes >5 minutes in the first iteration. I would like to be able to

[2019-09-02 15:03] StillerPatrick commented on #1344
i had the same issue

[2019-09-02 18:34] lucifer2503 opened #1375 "Bug"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-09-03 00:05] tgaddair commented on #1375
Hey @lucifer2503, was this bug report created in error?  Feel free to open with more details if not.

[2019-09-03 00:05] #1375 closed

[2019-09-03 07:22] benckx commented on #997
I don't have any formal metrics. It's just the way the video render seemed to evolve.

I have not used Horovod since then. For my specific purpose, I found that using a batch size of 1 was actually as efficient.

[2019-09-03 14:13] snsun opened #1377 "Does each worker keep a copy of the codes and implement them independly?"
**Environment:**
1. Framework: PyTorch,
2. Framework version:
3. Horovod version: 0.16.4
4. MPI version:
5. CUDA version: 10
6. NCCL version: 2
7. Python version: py3.6
8. OS and version:
9. GCC version:

**Your question:**
I am a little confused about how horovod works. For example, I have the following codes:

...
print("hello world")
hvd.init()
..

If I have N workers, this code will print N ti

[2019-09-03 16:14] khayamgondal opened #1378 "Horovod only uses Single GPU"
I have two Tesla x100 GPUs, I am invoking the script as `horovodrun -np 2 -H localhost:2  python3 horovod_trianing.py `
In the logs I see that tensorflow initiates the connection to both GPUs, I also see the python processes running on both GPUs but the GPU utilizaiton for one GPU is always zero. Please see the nvidia-smi below,
+--------------------------------------------------------------------

[2019-09-03 16:28] tgaddair commented on #1378
Hey @khayamgondal, please replace this line:

[code]

with

[code]

By setting the visible device list to `0,1`, you're telling *both* processes to use *both* GPUs. When there's limited model parallelism, each process will default to just using the first GPU it sees.

So in this case, both processes are attempting to use GPU:0, which is resulting in GPU:1 being unused.  What you want to do instead

[2019-09-03 16:40] tgaddair commented on #1377
Hey @snsun, yes, each worker keeps its own copy of the code and runs (mostly) independently.

Horovod is based on parallel computing concepts taken from the high-performance computing community.  In that model, you run multiple copies of the same application in parallel, and then use an API like the [Message Passing Interface](https://en.wikipedia.org/wiki/Message_Passing_Interface) to synchronize

[2019-09-03 16:44] tgaddair commented on #1373
Hey @ppwwyyxx, thanks for suggesting this.  Should be a pretty straightforward change, so happy to take a look at it.

[2019-09-03 16:55] khayamgondal commented on #1378
Thanks @tgaddair that throws the following error
[code]

[2019-09-03 17:04] tgaddair commented on #1374
Good suggestion!  Should be a simple change. Though I think it would make more sense to users to have a new flag for this, like `--gloo-timeout-ms`. Does that work for you?

[2019-09-03 17:05] tgaddair commented on #1378
Looks like your process is only able to see one GPU.  Have you set `CUDA_VISIBLE_DEVICES`?  If so, try unsetting that first.

[2019-09-03 17:11] khayamgondal commented on #1378
Yes, I already have export CUDA_VISIBLE_DEVICES=0,1, keras mnist example works fine and I see it uses both GPUs. I have posted my source code below if that helps,
[code]

[2019-09-03 18:55] tgaddair commented on #1378
Hey @khayamgondal, this appears to be an upstream bug with `tf.keras.callbacks.TensorBoard` in TensorFlow 1.14 (see: https://github.com/tensorflow/tensorflow/issues/31451).

I was able to repro this issue in my environment with two GPUs and TF 1.14.  Removing the `TensorBoard` callback or rolling back to TensorFlow 1.12 fixed the issue.  If you're comfortable with either of those solutions, those

[2019-09-03 19:36] khayamgondal commented on #1378
Thanks man, really appreciate for your help, I know you are super busy :)  I commented out the tensorboard calllback for now.

[2019-09-03 19:36] #1378 closed

[2019-09-04 07:36] snsun commented on #1377
Thank you very much. It makes sense to me. I can understand how horovod works now.

I have another question. Does horovod support BatchNorm1d in pytorch? I have tried to add bach norm layer after lstm layer, but I found my model can not converge. I have read some answers mentioned that the mean and variance of each worker can not sync during training. Is that right?

[2019-09-04 18:47] alsrgv commented on #1374
Could probably be just `--gloo-timeout-seconds` since high resolution is unlikely necessary?

________________________________
From: Travis Addair <notifications@github.com>
Sent: Tuesday, September 3, 2019 10:04:12 AM
To: horovod/horovod <horovod@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [horovod/horovod] Configure gloo timeout (#1374)

Good suggestion! Shoul

[2019-09-04 20:42] tgaddair commented on #1373
Hey @ppwwyyxx, I noticed that `mpirun`'s behavior with `--output-filename` appears to be inconsistent with its docs for the version I'm running.  For something like `--output-filename logs` I'm getting something like:

[code]

Since we'll be implementing this from scratch for the Gloo controller, what would be your expectations for this feature regarding:

- Directory structure and filename organi

[2019-09-04 20:57] ppwwyyxx commented on #1373
Thanks for asking! Very appreciate it.

* I don't have a strong preference as long as I can access them. Both `base/rank/{stdout,stderr}` and `base.rank.{stdout,stderr}` make sense to me, (assuming that in the later case, `base` can be a path in a different directory).

* Unmerged would be most helpful. If stdout & stderr are merged, ideally there should be a way to tell them apart. For example, I

[2019-09-05 02:12] adiri commented on #75
@nischalhp which library did you downgrade? I have the same situation here.

[2019-09-05 02:52] pkuCactus opened #1380 "Any operator in horovod like torch.distributed.barrier?"
Hi,

I often training network on cloud, and need copy data from local. I wonder whether there is op in horovod like torch.ditributed.barrier or can i use the torch.distributed.barrier to let all process wait until the data been copy completely? Thanks very much for any suggestion.

[2019-09-05 03:17] tgaddair commented on #1373
Thanks for the feedback @ppwwyyxx.  Based on your suggestion, in #1379 we went with this format:

[code]

All the files will be on worker-0.

[2019-09-05 03:17] #1373 closed

[2019-09-05 03:17] #1374 closed

[2019-09-05 03:21] andfoy commented on #1380
From my own use case, I've used mpi4py's ``comm.Barrier()``, which is interoperable with Horovod.

[2019-09-05 07:10] XuanBaby commented on #1361
@tgaddair I could not solve this question,can you help me? or give me some ideal to find the reason? Thank you very much!

[2019-09-05 08:27] #1340 closed

[2019-09-05 09:20] maxhgerlach opened #1381 "hvd.init() hangs with error message help-opal-shmem-mmap.txt"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13.1, custom built without XLA
3. Horovod version: 0.16.4
4. MPI version: Open MPI 4.0.1
5. CUDA version: 10.0
6. NCCL version: 2.3.7-1+cuda10.0
7. Python version: 2.7.12
8. OS and version: Ubuntu 16.04.5 LTS
9. GCC version: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609

Mellanox OFED 4.4-2.0.7.0 is installed.

**Bug report:**

[2019-09-05 12:35] xuwwwux opened #1382 "RuntimeError: storage has wrong size"
**Environment:**
1. Framework: PyTorch
2. Framework version:1.0
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Your question:**
Hi. I use the docker image (0.16.1-tf1.12.0-torch1.0.0-mxnet1.4.0-py2.7) from dockerhub (https://hub.docker.com/r/horovod/horovod/tags), and I successfully trained the model with several GPUs

[2019-09-05 15:02] tgaddair commented on #1380
Hey @pkuCactus, I would second @andfoy's suggestion to use `mpi4py` if using MPI.  There are also some other good suggestions in #159.  Now that we also support Gloo as an alternative to MPI, though, we may want to consider supporting something like this in the future as part of the Horovod API.

[2019-09-05 15:35] pkuCactus commented on #1380
Thanks for the suggestions @andfoy @tgaddair , and I'll try it.

[2019-09-05 18:59] vlimant opened #1383 "mpi support via pip3 install"
**Environment:**
1. Framework: TF,keras
2. Framework version: tensorflow-gpu==1.14.0 Keras==2.2.4
3. Horovod version: 0.18.1
4. MPI version: openmpi-3.1.0
5. CUDA version: 10
6. NCCL version: N/A
7. Python version: 3.6.8
8. OS and version: centos7
9. GCC version: 4.8.5

**Bug report:**
I have extensively looked at the existing GH issues and other possible solutions out there.
I am making a singula

[2019-09-05 20:37] msalvaris opened #1384 "Sync Batch Norm for Pytorch"
There are sync batch norm implementations for PyTorch distributed and Apex but can't seem to find one for Horovod. Is there a technical reason why there isn't one?

[2019-09-05 20:59] abditag2 commented on #1384
@msalvaris sync batch norm is not implemented for horovod yet but it is in our todo list coming out soon.

[2019-09-05 21:01] abditag2 commented on #1383
Can you install open mpi before installing horovod?

[2019-09-05 21:10] abditag2 commented on #1361
It seems that you can run the benchmarks which indicate that the problem is most likely in your training script. How are you dividing the data between your workers? You need to make sure that each worker processes "exactly" the same number of samples of data.

[2019-09-05 21:10] abditag2 commented on #75
Keras 2.0.9 to  to 2.0.8

[2019-09-05 21:12] abditag2 commented on #951
@652994331 can you add --verbose flag and post the output?

[2019-09-05 21:15] abditag2 commented on #951
answered in https://github.com/horovod/horovod/issues/1371#event-2598637245

[2019-09-05 21:15] #951 closed

[2019-09-05 21:18] vlimant commented on #1383
open mpi is fully installed by the time horovod is installed, and available in the image at runtime

[2019-09-05 21:43] hdubey commented on #287
I m having the same issue and re-installing horovod did not helped. In my case, I have conda installation in home directory and I do not use virtual enviroment. hvd.mpi_threads_supported() return false. I have horovod with pytorch and openmpi 1.10. Can we use intel-MPI for better/faster performance.

[2019-09-06 01:26] WeichenXu123 opened #1385 "Daily build failed."
See https://buildkite.com/horovod/horovod/builds/1135
Test on Tensorflow 2.0 were failed.

[2019-09-06 07:08] windson87 commented on #1354
hmm it didnt work too unfortunately.. Lookahead is not a object below ralamb, it is in a separate file where has been imported in ralamb.

Now am using RADAM (which not work with lookahead)

[2019-09-06 09:28] XuanBaby commented on #1361
@tgaddair I just run "mpirun -np 2 --allow-run-as-root python3 tensorflow_synthetic_benchmark.py" without other args.I use strace -p PID,get messages:
futex(0x6c0dad8, FUTEX_WAIT_BITSET_PRIVATE|FUTEX_CLOCK_REALTIME, 0, NULL, 0xffffffff) = 0
write(1, "    80     1     7.7   9.314 0.0"..., 39) = 39
futex(0x6d1fab4, FUTEX_WAKE_OP_PRIVATE, 1, 1, 0x6d1fab0, FUTEX_OP_SET<<28|0<<12|FUTEX_OP_CMP_GT<<24|0x

[2019-09-06 12:59] msalvaris commented on #1384
@abditag2 That is great to hear. Would the Horovod implementation of sync batch norm simply be like the PyTorch one except replacing the distributed methods such as all_reduce with Horovod ones or is there some further technical issues that need to be overcome?

[2019-09-06 15:07] alsrgv commented on #1385
Logs suggest that the issue was with 20190905 nightly build, but it seems that they pulled it since now the latest is 20190903. I reran the test and it worked.

[2019-09-06 15:51] alsrgv commented on #1385
Looks like 20190906 also has an issue though, this time another set of objects is missing.  I've raised https://github.com/tensorflow/tensorflow/issues/32293

[2019-09-06 18:49] wsstriving opened #1386 "Only 2X speedup using 4GPUs on the same machine"
**Environment:**
1. Framework: Pytorch
2. Framework version: 1.2.0
3. Horovod version: 0.18
4. MPI version: openmpi 4.0.0
5. CUDA version: 10.0
6. NCCL version:  2.4.8
7. Python version: 3.6
8. OS and version:
9. GCC version: 5.4.0

**Your question:**
I just installed Horovod and tried the benchmark:
https://github.com/horovod/horovod/blob/master/examples/pytorch_synthetic_benchmark.py

command is

[2019-09-07 07:57] #1360 closed

[2019-09-08 05:07] #1385 closed

[2019-09-08 18:31] MichaelMonashev opened #1389 "ValueError: named_parameters was specified, but one or more model parameters were not named."
**Environment:**
1. Framework: PyTorch
2. Framework version: torch 1.2.0
3. Horovod version: horovod 0.18.1
4. MPI version:  openmpi 4.0.1
5. CUDA version: cuda 10.1
6. NCCL version: nccl 2.4.8
7. Python version: Python 3.6.8
8. OS and version: Linux 31607 4.15.0-60-generic #67-Ubuntu SMP Thu Aug 22 16:55:30 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
9. GCC version: gcc 7.4.0

**Checklist:**
1. Did y

[2019-09-09 12:50] gongjingcs opened #1390 "error happen when training mxnet across 2 nodes with 8 GPU in a node if I set use HOROVOD_HIERARCHICAL_ALLREDUCE=1"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) mxnet
2. Framework version:
3. Horovod version:
4. MPI version:3.1.2
5. CUDA version:8.0
6. NCCL version:2.1.4
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
yes
2. If your question is about hang, did you read [this doc]
yes
(https://git

[2019-09-09 12:51] gongjingcs commented on #1390
if I don't set this environment, everything is fine

[2019-09-09 21:50] romerojosh commented on #1383
@vlimant Are you initializing Horovod with an mpi4py communicator? If so, the issue may be related to this (https://github.com/horovod/horovod/pull/1391).

[2019-09-10 14:41] vlimant commented on #1383
sounds about right indeed. The minimal code to reproduce the crash is

[code]

[2019-09-10 22:13] Himscipy commented on #1361
Hi,
I am facing the same issue, I have a data-pipeline similar to one of many examples of Tensorflow.
as following
`ef build_input_pipeline(x_train, x_test, y_train, y_test,
                         batch_size, valid_size,SEED=None):
    """Build an Iterator switching between train and heldout data."""

    x_train = x_train.astype("float32")
    x_test = x_test.astype("float32")

    x_train /= 2

[2019-09-11 03:42] Rico-the-dog opened #1393 "Fail to install horovod"
**Environment:**
1. Framework: TensorFlow 1.14.0
2. Framework version:
3. Horovod version: latest
4. MPI version: 4.0.1
5. CUDA version: None
6. NCCL version: None
7. Python version: 3.6.6
8. OS and version: ubuntu 14.04.5
9. GCC version: 4.9.3

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https:/

[2019-09-11 05:52] Rico-the-dog commented on #1393
Created temporary directory: /tmp/pip-ephem-wheel-cache-oh58_k4y
Created temporary directory: /tmp/pip-req-tracker-f41f9tc_
Created requirements tracker '/tmp/pip-req-tracker-f41f9tc_'
Created temporary directory: /tmp/pip-install-a8cnb5uv
Collecting horovod
  1 location(s) to search for versions of horovod:
  * https://pypi.org/simple/horovod/
  Getting page https://pypi.org/simple/horovod/
  Fou

[2019-09-11 08:52] PiseyYou commented on #155
Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Processing ./horovod-0.18.1.tar.gz
Requirement already satisfied: cloudpickle in /home/pisey/anaconda3/envs/horovod/lib/python3.6/site-packages (from horovod==0.18.1) (1.2.1)
Requirement already satisfied: psutil in /home/pisey/anaconda3/envs/horovod/lib/python3.6/site-packages (from horovod==0.18.1) (5.6.3)
Requirement already satisfied

[2019-09-11 14:30] denfromufa opened #1394 "Profiling mixed NCCL/MPI communication with nvprof?"
If I use nvprof for profiling distributed TensorFlow without Horovod, then I can get topology output in NVVP user interface with bandwidth information between various H2D, D2D, D2H communications for NVLINK and supposedly for PCIE too.

If I now switch to Horovod, then nvprof is not MPI aware, hence cannot scan for topology and communication between host and devices.

So what do I propose? Here ar

[2019-09-11 16:38] abditag2 commented on #1384
Most likely. It will also be implemented for keras and Tensorflow.

On Fri, Sep 6, 2019 at 5:59 AM Mat <notifications@github.com> wrote:

[2019-09-11 16:42] abditag2 commented on #155
@PiseyYou you have to do `pip install tensorflow` before installing horovod.

[2019-09-11 16:45] abditag2 commented on #1393
can you install `setuptools` before installing horovod?

[2019-09-11 16:51] abditag2 commented on #1389
Hard to stay without seeing the code.

[2019-09-11 16:57] vlimant commented on #1383
I'd love to, can I do this with a pip command?

[2019-09-11 17:04] tgaddair commented on #1383
@vlimant can you try:

[code]

[2019-09-11 17:05] vlimant commented on #1383
thx. I'll get back to you.

[2019-09-11 19:35] denfromufa commented on #1063
@alsrgv for the same settings as above, we are observing 6% degradation when switching from TF parameter server to Horovod. Any ideas?

[2019-09-11 20:59] vlimant commented on #1383
yup. after installing using

things are working just fine

[2019-09-12 00:22] giacaglia commented on #1232
I'm running into the same problem :-(

[2019-09-12 00:58] yichungchen84 commented on #1348
I did it on Jetson nano with NV Jetpack image and tensorflow 1.3.1. No need of NCCL (since you dont have NV driver) but you may want to install horovod by pip from github master.

[2019-09-12 02:00] Rico-the-dog commented on #1393
Thank you for your reply. I installed setuptools(41.2.0) by pip and retried, now the message is:

Created temporary directory: /tmp/pip-ephem-wheel-cache-6arnf1j1
Created temporary directory: /tmp/pip-req-tracker-1d479hio
Created requirements tracker '/tmp/pip-req-tracker-1d479hio'
Created temporary directory: /tmp/pip-install-da7j11gq
Collecting horovod
  1 location(s) to search for versions of h

[2019-09-12 06:57] molyswu opened #1396 "Launching horovodrun task function was not successful:"
Hi,
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:pytorch1.1.0
3. Horovod version:1.8.1
4. MPI version:3.1.2
5. CUDA version:10.0
6. NCCL version:2.4.8
7. Python version:3.7
8. OS and version:16.04
9. GCC version:5.4

I tried to horovodrun Multiple machine with example pytorch_mnist.py
$horovodrun -np 2 -H 192.168.3.177:2 ,192.168.3.175:2python3 pytorch_mn

[2019-09-12 07:00] huoliquankai7 commented on #1305
What is an extra mpi message? If the tensor of each training step is the same, does that mean that it does not need to be controlled by the coordinator (such as rank0)? Take the local response directly to perform allreduce?

[2019-09-12 07:28] molyswu commented on #1396
There is a machine with the following problem

-
![image](https://user-images.githubusercontent.com/11438784/64763063-3f9c2680-d50d-11e9-9e09-115885a80d28.png)

[2019-09-12 07:37] molyswu commented on #1396
Try to input  password, ok ,enter,then it loop jumps out of this window。

[2019-09-12 07:43] molyswu commented on #1396
ssh set
 su root
a@A:~> ssh-keygen -t rsa
a@A:~> ssh b@B mkdir -p .ssh
a@A:~> cat .ssh/id_rsa.pub | ssh b@B 'cat >> .ssh/authorized_keys'
sudo chown -R  spark:spark /home/spark
chmod 700 /home/spark
chmod 700 /home/spark/.ssh
chmod 644 /home/spark/.ssh/authorized_keys
chmod 600 /home/spark/.ssh/id_rsa

[2019-09-13 01:17] 652994331 opened #1397 "guys, really need some help about multi-devices(multi-GPU)training"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) tensorflow
2. Framework version: 1.14.0
3. Horovod version: 0.18.0
4. MPI version:4.0.1
5. CUDA version:10
6. NCCL version:2.4.8 for cuda 10
7. Python version:3.6.9
8. OS and version: centos7
9. GCC version:>4.8.5

Hi, guys, i have two devices with 4 gpus on each. i already set up the same environment for each device. And after i b

[2019-09-13 06:51] snsun opened #1398 "What's the right way to do weight perturbation during model training?"
**Environment:**
1. Framework: PyTorch
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.rst)?
3

[2019-09-13 15:02] JZPeterPan opened #1399 "segmentation fault in env of conda, tensorflow=1.14, gcc & g++=4.8.5"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14
3. Horovod version: 0.16.4
4. MPI version: 4.0.1
5. CUDA version: 10.0
6. NCCL version: 10.0
7. Python version: 3.7
8. OS and version: ubuntu18.04
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
yes. #761, #1232, #1261
2. If your question is about hang, did you read [

[2019-09-13 15:17] tgaddair commented on #983
Hey @khayamgondal, you should be able to wrap the existing LARS optimizer that @JohnTaylor2000 provided in a `hvd.DIstributedOptimizer`, which will do the work of overriding `get_gradients` for you.  So in the example script you're writing, you would just need to do:

[code]

[2019-09-13 15:25] tgaddair commented on #1399
@JZPeterPan it looks like Horovod is not installing with TensorFlow support.  Try creating a fresh environment, installing TensorFlow, then running:

[code]

And if it fails, please provide the log in a gist.  If it success, try running `horovodrun --check-build` and let me know what it prints out.

[2019-09-13 15:30] tgaddair commented on #1398
Hey @snsun, do you have a working example using a single process?  The right answer will depend on where / how frequently you're doing the weight perturbation, but in general, the solution would be to run `hvd.broadcast_parameters(model.state_dict(), root_rank=0)` immediately after perturbing the weights.

[2019-09-13 16:12] Himscipy commented on #403
@nicolefinnie I am facing similar issues while training the large network such as VGG16 as you mentioned in your last comment, @alsrgv  I am trying following example posted on [TFP](https://github.com/tensorflow/probability/blob/master/tensorflow_probability/examples/cifar10_bnn.py)  to run with horovod. But the training stuck stating following shown below. I understand that horovod has been used

[2019-09-13 17:52] 652994331 commented on #1397
@tgaddair thanks so much for your help. I found the solution yesterday, after i use mpirun with parameters instead of horovodrun, it  worked. still dont know why this happened, but anyway, it works now. Then here I encountered a problem, i am using two devices with 4 gpus on each(8 in total) but the train speed is not as fast as what i  was expected. after i use nvidia-smi to check the status of t

[2019-09-13 17:57] 652994331 commented on #1397
![image](https://user-images.githubusercontent.com/51428350/64883762-fafbb280-d614-11e9-90ff-b9b187a4d3a1.png)
sorry for the duplicate images, there is the low status screen shot. btw, i am using watch -n 2 nvidia-smi.  the normal status(99%) even cant maintain 2s.

[2019-09-13 20:13] marcfielding1 commented on #1348
@yichungchen84 thanks for your response so you just literally installed via pip and it worked?

[2019-09-13 21:11] yichungchen84 commented on #1348
Yes, now you can only use tensorflow and horovod.
follow this for tensorflow and then hovorod
[nvidia_jetson_tensorflow](https://docs.nvidia.com/deeplearning/frameworks/install-tf-jetson-platform/index.html)

[2019-09-13 23:28] tgaddair commented on #1397
Hey @652994331, can you provide the `mpirun` that ran successfully and the `horovodrun` command that did not?  That information will be very useful for us to fix issues like this with `horovodrun` that may arise for other users.

For the performance issue, have you tried running `tensorflow_synthetic_benchmark.py`?  Do you get similar results?  What is the scaling efficiency as you go from 1 GPU t

[2019-09-13 23:32] tgaddair commented on #403
Hey @Himscipy, looks like your version of Horovod is out of date.  Can you try upgrading to the latest version?  If for whatever reason you're unable to upgrade, you can generate a timeline by using the following environment variables:

[code]

[2019-09-13 23:51] 652994331 commented on #1397
mpirun -np  8 -H 10.252.192.90:4,10.252.192.89:4 -bind-to none  -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib python3 run_pretraining.py   --input_file=./tf_examples.tfrecord*          --output_dir=./pretrain_jd/pretraining_output_jd \    --do_train=True      --do_eval=True     --bert_config_file=./bert_config.json    --init_checkpoint=./model_new.ckpt

[2019-09-14 00:32] 652994331 commented on #1397
@tgaddair  i just finished running tensorflow_synthhetic_benchmark.py, the usage of the gpus around 60%, but no huge fall (fall to 3%-4%). So i guess, that means, the environment is ok(original we cant get 99% for this benchmark.py) and the problem should be my own script. what I was thinking is, the usage age, as you can see from my previous screen shot, it can reach 99%-100%，the problem is if we

[2019-09-14 02:24] huoliquankai7 commented on #1305
@tgaddair ，Thank you for your prompt reply to help me solve the doubts.

[2019-09-14 05:32] Himscipy commented on #403
Hey, @tgaddair Thank you for the reply. I worked your recommendation earlier to fix the horovod  timeline what are your thoughts on the other error. I tried to do the trace plot for 2 ranks and 1 rank run, as you can see for the 1 rank run negotiate broadcast is negligible but for 2 ranks it takes lot of time.
![Screenshot from 2019-09-13 14-11-07](https://user-images.githubusercontent.com/7496964

[2019-09-14 18:18] tgaddair commented on #1305
You're welcome.  I'm going to close this for now.

[2019-09-14 18:18] #1305 closed

[2019-09-14 18:23] tgaddair commented on #403
Hey @Himscipy, can you create a gist of the code with your modifications?  I'll see if I can reproduce the hang in my environment.

Also, to clarify, you were able to successfully run the Horovod examples like `tensorflow_mnist.py`, correct?

[2019-09-14 18:27] tgaddair commented on #1397
Hey @652994331, I noticed there's no comma in the `horovodrun` script between hosts:

[code]

Assuming that's not a typo, that could be the cause of the issue.  Correct way is identical to how it's done in `mpirun`:

[code]

As you said, your training script may be I/O bound.  I would suggest creating a timeline to debug it further.  Is it possible to decrease record or batch size to see if that m

[2019-09-15 12:57] snsun commented on #1398
Hi @tgaddair , thanks for your suggestion.  I am trying this method. But I don't know if I run hvd.broadcat_parameters(..., root_rank=0) immediately after perturbing the weights, how can make sure that every rank can obtain the perturbed weights? I think that it is possible that other ranks could run faster than rank0.

[2019-09-15 14:51] ParkGeonYeong commented on #1032
@alsrgv Hello, i have exactly same problem with @heartbeat2015 , and i'm willing to install openmpi with ver 4.0.0 again. Now i have mpirun version 1.10.2 which seems to be my default one in ubuntu 16.04

How should i reinstall or overwrite new version over 1.10.2? Should i remove the old default one? Open MPI team recommends to install another path, such as /opt/openmpi-<version>. Then how should

[2019-09-15 23:59] JohnTaylor2000 commented on #983
Hey @khayamgondal<https://github.com/khayamgondal>, Yes, I have tested this quickly and believe that it works, though further testing to verify that this is what happened is required. I have not implemented or tried LARC.

From: Travis Addair <notifications@github.com>
Reply-To: horovod/horovod <reply@reply.github.com>
Date: Saturday, 14 September 2019 at 1:18 am
To: horovod/horovod <horovod@norep

[2019-09-16 02:11] 652994331 commented on #1397
thanks，for the comma, it's typo. For the tfrecord size, is there any way we can split it? Cuz it's in data format and a txt file. We actually don't want to decrease batch size considering the performance. Thanks for your help. Btw for the time line, after I read the turorial of horovod I only found timeline for horovodrun command. So, for according to my condition(I used mpirun),how can I make a t

[2019-09-16 02:29] tgaddair commented on #1397
For the timeline you use:

[code]

[2019-09-16 08:53] CXMANDTXW commented on #1386
horovodrun --check-build
Horovod v0.18.1:

Available Frameworks:
    [ ] TensorFlow
    [X] PyTorch
    [ ] MXNet

Available Controllers:
    [X] MPI
    [ ] Gloo

Available Tensor Operations:
    [ ] NCCL
    [ ] DDL
    [ ] MLSL
    [X] MPI
    [ ] Gloo

pytorch: 1.2.0 ,MPI: 4.0.1
no NCCL

[2019-09-16 10:45] PiseyYou commented on #155
after run under root permission, it works.

[2019-09-16 10:52] JZPeterPan commented on #1399
Hi @tgaddair , thank you for your response! I've tried to created a fresh environment, installed Tensorflow again, and ran the above code, but it failed again. Here is the log:
[code]

[2019-09-16 11:48] CXMANDTXW commented on #1386
I have generated a timeline, I only see two situations：
![image](https://user-images.githubusercontent.com/22285070/64955383-aed19c00-d8ba-11e9-9317-00263fd96eca.png)
![image](https://user-images.githubusercontent.com/22285070/64955408-bee97b80-d8ba-11e9-8bc0-a4685b05f770.png)
Is there any bottlenecks exits?

[2019-09-16 15:00] tgaddair commented on #1399
Hey @JZPeterPan, looks like the problem is Horovod is unable to find NCCL.  Try setting `HOROVOD_NCCL_HOME` or `HOROVOD_NCCL_INCLUDE` as described [here](https://github.com/horovod/horovod/blob/master/docs/gpus.rst).

[2019-09-16 15:13] tgaddair commented on #1386
Hey @CXMANDTXW, thanks for the info.  Could you upload the full JSON file?  It's hard to see what's going on at the granularity shown in the screenshot.

One possible culprit, as discussed in #1070, is CPU over-utilization, since you're using MPI on a single host.  Can you share how many CPU cores your machine has, and check its utilization in `top` when the benchmark is running?

[2019-09-16 16:51] wangg12 commented on #353
@alsrgv How about syncbn in PyTorch with horovod?

[2019-09-16 17:02] tgaddair commented on #353
Hey @wangg12, see #1384.

[2019-09-16 17:51] khayamgondal commented on #983
Thanks John and Travis, I'll work on it.

[2019-09-16 21:28] Himscipy commented on #403
Hey @tgaddair, I cannot share the code publicly but can create a gist but in that case as well I will not be able to post the link in public since if I create a secret gist and paste the url here it make it accessible to anyone having it. So let me know how to share the gist with you. Thank you.

[2019-09-16 21:50] 652994331 commented on #1397
@tgaddair  when i used this command, something wrong showed up:
![image](https://user-images.githubusercontent.com/51428350/64995818-1ecb2c80-d891-11e9-97fe-41ad33bbdba3.png)
my command is like this:
HOROVOD_TIMELINE=/path/to/timeline.json mpirun -np  8 -H 10.252.192.90:4,10.252.192.89:4 -bind-to none  -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib python3

[2019-09-17 21:16] 652994331 commented on #1134
@alsrgv  Hi, could you please help me solve this, when i used command
 HOROVOD_TIMELINE=/path/to/timeline.json mpirun -np  8 -H 10.252.192.90:4,10.252.192.89:4 -bind-to none  -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib python3 run_pretraining.py   --input_file=./tf_examples.tfrecord*          --output_dir=./pretrain_jd/pretraining_output_jd \    --do_tr

[2019-09-17 21:27] tgaddair commented on #1397
Hey @652994331, my mistake on the args, try this:

[code]

Basically, from `mpirun` the environment variable needs to be provided by `-x`.

[2019-09-17 21:40] 652994331 commented on #1397
it works, thanks so much. the right command line is like below. Btw, how can i collect this timeline, i mean i should collect timeline.json now or wait the training process for a while. Until now, i haven't seen this  /timeline/timeline.json in the current folder
mpirun -np  8 -H 10.252.1990:4,10.252.192.89:4 -bind-to none  -map-by slot -x HOROVOD_TIMELINE=/timeline/timeline.json -x NCCL_DEBUG=INF

[2019-09-17 21:44] tgaddair commented on #1397
`/timeline/timeline.json` is an absolute path, so if you want it to be written to the current folder, you would need to use a relative path: `HOROVOD_TIMELINE=timeline.json`.

I would suggest letting it run through a few batches to smooth out any noise.  Be careful that these files can grow very large, so I wouldn't run it for too long.

[2019-09-17 22:11] 652994331 commented on #1397
here are some screen shots. looks a little t bit weird..
![image](https://user-images.githubusercontent.com/51428350/65083252-e7c24d00-d95c-11e9-9a81-b980918f58e5.png)
![image](https://user-images.githubusercontent.com/51428350/65083276-fa3c8680-d95c-11e9-9747-a8242d06eaec.png)
![image](https://user-images.githubusercontent.com/51428350/65083316-13ddce00-d95d-11e9-8b7e-4d8f62163c2e.png)
![image](h

[2019-09-18 08:23] biggerkim commented on #790
Hi，Have your problem solved?

[2019-09-18 08:41] jbasquiat opened #1400 "About MetricAverageCallback()"
.

[2019-09-18 09:23] #1400 closed

[2019-09-18 11:11] marcfielding1 commented on #1348
Awesome that works, thanks!

[2019-09-18 13:06] shekharidentv opened #1401 "horovodrun is not working , but MPI run is working."
well the code which is recommended by the site is
`root@server1:/examples# horovodrun --verbose --start-timeout 840 -np 4 -H localhost:server2_ip:2 -p 12345 python keras_mnist_advanced.py
Filtering local host names.
Remote host found: 10.21.102.16
Checking ssh on all remote hosts.
SSH was successful into all the remote hosts.
Testing interfaces on all the hosts.
Launched horovodrun server.
Attempt

[2019-09-18 13:07] CXMANDTXW commented on #1386
Sorry, it’s been a long time to return to you. My machine has 32 CPU cores as we can see in the screenshot.
this is a 'htop' screenshot
![image](https://user-images.githubusercontent.com/22285070/65150626-1886ad00-da57-11e9-9945-561183ef784d.png)
this is a 'top' screenshot
![image](https://user-images.githubusercontent.com/22285070/65150800-6bf8fb00-da57-11e9-904e-d0984e5cd8d5.png)
this is my full

[2019-09-19 03:12] Rico-the-dog commented on #1393
Anyone can solve this?

[2019-09-19 09:21] DavidRuhe opened #1402 "Why does @tf.function get executed twice in Tensorflow 2 example?"
**Environment:**
1. Framework: Tensorflow
2. Framework version: 2.0.0rc0
3. Horovod version: 0.18.1
4. MPI version: 3.1.0
5. CUDA version: 10
6. NCCL version: 2.4.7
7. Python version: 3.6
8. OS and version: Linux
9. GCC version: 8.2.0

Please ask your question here.

When I run the horovod tensorflow 2.0 MNIST example, and add a print statement to the         `hvd.broadcast_variables(mnist_model.v

[2019-09-19 11:32] CXMANDTXW opened #1403 "Really need help! Try horovodrun performs slower!"
**Environment:**
1. Framework: (PyTorch)
2. Framework version:1.2.0
3. Horovod version:0.18.1
4. MPI version:4.0.1
5. CUDA version:10.0
6. NCCL version:No NCCL
7. Python version:3.7.4
8. OS and version:UBUNTU 18.04
9. GCC version:7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.c

[2019-09-19 12:31] CXMANDTXW commented on #1403
I found when I use horovod
gpu set 4:
[1,1]<stdout>:bacward_time:0.6748
[1,0]<stdout>:bacward_time:0.7129
[1,2]<stdout>:bacward_time:0.8603
[1,3]<stdout>:bacward_time:0.9149
[1,3]<stdout>:opt_time:0.0293(optimizer.step())
[1,0]<stdout>:opt_time:0.3149
[1,1]<stdout>:opt_time:0.3267
[1,2]<stdout>:opt_time:0.1189
[1,0]<stdout>:forward_time:0.0622
[1,2]<stdout>:forward_time:0.0788
[1,1]<stdout>:forwar

[2019-09-19 15:24] tgaddair commented on #1402
Hey @DavidRuhe, can you share the command you're using to run the script?  If you're running with two processes (i.e., `horovodrun -np 2 ...`), then this would be the expected behavior.

[2019-09-19 15:32] Himscipy commented on #403
Hey @tgaddair, I created a minimalist code  [gist](https://gist.github.com/Himscipy/297613f8b48e7ddaa20ff25502eedf67) for you, my horovod and tensorflow version is as follows  Tensorflow 1.13.1 and horovod 0.16.3.
Also the tensorflow_mnist.py works fine for me , the broadcast is taking a lot of time and I get stalled rank even with 2 Ranks. I am using CPU's for the run. Let me know if you could re

[2019-09-19 15:37] abidmalikwaterloo opened #1404 "Installing Horovod on Summit with Pytorch"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
Pytorch
2. Framework version:
1.01
3. Horovod version:
the latest
4. MPI version:
IBM version on the summit machine
5. CUDA version:
9.2
6. NCCL version:
2.3
7. Python version:
3.6.6
8. OS and version:
Linux
9. GCC version:
7.4
**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your questi

[2019-09-19 15:49] abidmalikwaterloo commented on #1404
I created and new environment using conda with python 3.6.6 and building Horovod in the new environment. Just in case the information helps

[2019-09-19 15:50] tgaddair commented on #1403
Hey @CXMANDTXW, judging from the large amount of time spent in Negotiation from the timeline, it looks like there's some kind of imbalance among the workers:

<img width="1384" alt="Screen Shot 2019-09-19 at 8 34 59 AM" src="https://user-images.githubusercontent.com/1742912/65258805-68e22700-dab8-11e9-92d3-945526c1f19a.png">

You'll also notice that there are large gaps between Negotiate phases wi

[2019-09-19 16:01] CXMANDTXW commented on #1403
@tgaddair thanks for response.
Yes, they are on a single host.
And the following is the results of p_s_b.py:
[1,0]<stdout>:Model: resnet50
[1,0]<stdout>:Batch size: 32
[1,0]<stdout>:Number of GPUs: 4
[1,0]<stdout>:Running warmup...
[1,0]<stdout>:Running benchmark...
[1,0]<stdout>:Iter #0: 73.8 img/sec per GPU
[1,0]<stdout>:Iter #1: 72.7 img/sec per GPU
[1,0]<stdout>:Iter #2: 72.2 img/sec per GPU
[

[2019-09-19 16:11] tgaddair commented on #1403
Thanks for the quick response!  Looks like your scaling efficiency is about 37.5% ((291.6/193.9)/4), which is not great.

I noticed you're not using NCCL, any particular reason?  I suspect a big part of the issue is that you're doing forward/backward passes on GPU with CUDA, but performing allreduce over CPU (host memory) with MPI.  If you were to install NCCL, I suspect you would see a significan

[2019-09-19 16:18] CXMANDTXW commented on #1403
I thought that in NCCL and MPI, I just need one of them. My bad,now I will try to use NCCL, and see what the result will be.
No matter what happend, I will notify you immediately.Thank you for your great advice!

[2019-09-19 16:58] 652994331 commented on #1397
@tgaddair  Hi, tgaddair, did you receive my screen shot. still in trouble here, please help, thanks!

[2019-09-19 17:58] Himscipy commented on #1271
@andrewor14 Were you able to find a solution for this   ? I am facing similar issue with the resnet model arch. Thank you

[2019-09-19 18:17] 652994331 opened #1405 "bad performance of horovod, for detail information please check question #1397"
here is my timeline.json. could anyone help me to figure out why my GPU perform like that?

[timeline.zip](https://github.com/horovod/horovod/files/3632640/timeline.zip)

[2019-09-19 18:18] 652994331 commented on #1397
this is my timeline.json. please feel free to check,thanks
[timeline.zip](https://github.com/horovod/horovod/files/3632643/timeline.zip)

[2019-09-20 02:59] denfromufa commented on #622
@alsrgv here is an approach from national labs using ipyparallel, which is the "built-in" way to run HPC cluster jobs interactively from jupyter notebooks:

https://drive.google.com/file/d/1-OFjrk1q3L1d3uakr2xkozrPn2c2VZpZ/view
https://indico.cern.ch/event/587955/contributions/2937509/attachments/1683970/2741752/CHEP2018_HEPGANs_Farrell.pdf

[2019-09-20 03:00] denfromufa commented on #622
https://github.com/sparticlesteve/cori-intml-examples

[2019-09-20 14:26] DavidRuhe commented on #1402
Hi @tgaddair ,

Thanks for the reply. It happens for any -np and I double checked that the function isn't simply executed twice because of a python bug.  Tried replicating the issue in a Colab, but there it didn't happen. Can't access the code and environment at the moment. I'll get back to you next week.

[2019-09-20 14:28] tgaddair commented on #1402
Hey @DavidRuhe, can you share the diff you made to `tensorflow2_mnist.py` so I can try and reproduce?

[2019-09-20 14:41] DavidRuhe commented on #1402
Hi @tgaddair ,

Yes. I've inserted the following at line 75:

`
if hvd.rank() == 0:
    print("Broadcasting variables")
`

Then I simply run the file with `python tensorflow-mnist.py` (i.e. 1 worker.)

This is the output:

[code]

Note the double print statement.

Please let me know if you want to know any package versions etc.

[2019-09-20 15:23] CXMANDTXW commented on #1403
Yes,NCCL Yes!
Now horovod performs very well!

[2019-09-20 15:23] #1403 closed

[2019-09-20 15:27] tgaddair commented on #1403
Excellent!  Happy to hear that!

[2019-09-20 17:14] wuliytTaotao commented on #42
Set the `opt.lr = learning_rate` actually do nothing to the optimizer's true learning rate `opt._lr`, and when you do learning rate decay or ReduceLROnPlateau, the true learning rate `opt._lr` is actually not changed. (tensorflow 1.14)

When we need do learning rate decay, we should use the optimzers of tf.keras not tf.train.

[2019-09-20 20:59] 652994331 commented on #1068
@alsrgv  same problem here, could you please help me out? thanks
![image](https://user-images.githubusercontent.com/51428350/65358598-da9c9c80-dbae-11e9-8aa8-2f8ac65d3bff.png)

[2019-09-20 21:03] 652994331 commented on #975
same probelm here,i read the information above, what did you guys mean: "should have same @alsrgv @KimMeen interface for two servers", could you please help me out? same, mpirun ok, but horovodrun not, i think horovodrun might have better training speed and performance than mpirun, am i right?
![image](https://user-images.githubusercontent.com/51428350/65358819-70382c00-dbaf-11e9-9341-ed44e72074f4

[2019-09-20 21:07] 652994331 commented on #975
![image](https://user-images.githubusercontent.com/51428350/65358880-a4135180-dbaf-11e9-9f36-3f1986c0535e.png)

![image](https://user-images.githubusercontent.com/51428350/65358992-f5bbdc00-dbaf-11e9-8cc1-18c249878d14.png)
these are my results of command ifconfig -a

[2019-09-20 21:53] #820 closed

[2019-09-20 22:04] tgaddair commented on #1397
Hey @652994331, could you try uploading the timeline json again?  The file appears to be empty.

[2019-09-20 22:17] 652994331 commented on #1397
@got it , tgaddair, thanks for your reply. Btw, let me share some things i did yesterday. I found the nccl I used is for cuda-9.0.(i installed 10.0 myself, but later someone used these machines). So I installed nccl for cuda_10(did not uninstall old nccl, I think it will overwrite). now, it seems , the huge wave of GPU usage disappears.
then, i read an article about the training speed of horovod,

[2019-09-20 22:17] 652994331 commented on #1397
@tgaddair got it , tgaddair, thanks for your reply. Btw, let me share some things i did yesterday. I found the nccl I used is for cuda-9.0.(i installed 10.0 myself, but later someone used these machines). So I installed nccl for cuda_10(did not uninstall old nccl, I think it will overwrite). now, it seems , the huge wave of GPU usage disappears.
then, i read an article about the training speed of

[2019-09-20 22:19] tgaddair commented on #1397
Thanks for the update.  Before you were getting around 60% usage on the synthetic benchmark.  Have the numbers improved at all since your changes?

[2019-09-20 22:34] 652994331 commented on #1397
around 100% and here is the screen shot
![image](https://user-images.githubusercontent.com/51428350/65362428-2bff5880-dbbc-11e9-9ba7-f1b087fc8f0d.png)

[2019-09-20 23:07] karthikvadla commented on #465
Anyone able to resolve this? I see the same issue.
I'm on `Ubuntu 18.04` with `openmpi -4.0.1`
My mpirun command looks as below
[code]

[2019-09-20 23:41] 652994331 commented on #1397
@tgaddair  hope we can find out the reason, gl!

[timeline.json.zip](https://github.com/horovod/horovod/files/3638094/timeline.json.zip)

[2019-09-22 16:47] nmatare commented on #182
Following up on the previous two comments from @alsrgv @leimao and addressing the graph re-initialization challenges mentioned at https://github.com/horovod/horovod/issues/182#issuecomment-441830583, TensorFlow estimators _do_ support evaluation on a per step basis.

Specifically, commit https://github.com/tensorflow/tensorflow/commit/3edb609926f2521c726737fc1efeae1572dc6581 addressed this shortco

[2019-09-22 17:15] CXMANDTXW opened #1407 "training samples cannot be divisible by the number of GPUs."
The number of my training samples cannot be divisible by the number of GPUs.
858 train samples and 183 test samples, 4 GPUS,8 Batch size
  0%|          | 0/4 [00:00<?, ?it/s][1,0]<stdout>:26
  0%|          | 0/4 [00:00<?, ?it/s][1,3]<stdout>:25
  0%|          | 0/4 [00:00<?, ?it/s][1,1]<stdout>:26
  0%|          | 0/4 [00:00<?, ?it/s][1,2]<stdout>:26

RuntimeError: Horovod has been shut down. This

[2019-09-23 11:28] JZPeterPan commented on #1399
Hi @tgaddair , sorry for the later answer. I did as you recommended and now I can install horovod successfully, but as I ran `horovodrun --check-build` it returns:
[code]

It seems nothing have been built. But I have installed all of them already.
I installed tensorflow through conda and installed gxx_linux-64.

What's the problem?

[2019-09-23 15:31] tgaddair commented on #1399
Can you try running `horovodrun --check-build --verbose` and share the output in a gist?

[2019-09-23 15:34] tgaddair commented on #1407
Hey @CXMANDTXW, there are a few things you can do, depending on how you're currently reading the data and what framework you're using.  If this is TensorFlow and you're using their Dataset API, for example, you can call `.take()` to ensure that each worker gets the same (lowest common denominator) number of batches each epoch.

Keras models allow you to fix the number of examples per epoch using `

[2019-09-23 15:41] tgaddair commented on #1397
Hey @652994331, here's what I'm noticing in the timeline.  Everything looks fine for the most part, but there are these periodic long pauses of negotiation:

<img width="1386" alt="Screen Shot 2019-09-23 at 8 37 34 AM" src="https://user-images.githubusercontent.com/1742912/65440334-6dbb1980-dddd-11e9-8778-07e23a7e60ef.png">

That would suggest that one of the ranks is doing something else while th

[2019-09-23 15:57] 652994331 commented on #1397
Thanks so much for your reply. I guess it's because each small piece of my data is pretty big, (around 1 million rows). right now the useage is good(around 100%) after I installed right NCCl. Btw, for the code, it's official nvidia deeplearning-&gt;Bert pretraining using horovod from github. Thanks again.

发自我的iPhone

------------------ Original ------------------
From: Travis Addair <notification

[2019-09-23 17:08] abhi8830 opened #1408 "Horovod + MPICH on custom ports - NCCL INFO Call to connect returned Connection refused, retrying"
Hi,
Our node setup blocks communication except on open ports.
I am using MPICH as the MPI lib and a simple MPI communication example works fine between the nodes. I set the open port range in the MPICH_PORT_RANGE env variable.

However, when I run my tensorflow program with NCCL and Horovod it stalls after a bunch of errors from NCCL complaining about Connection refused.
**hostname:26407:26474 NCC

[2019-09-23 19:47] denfromufa commented on #160
Here is benchmark implementation of U-NET with Horovod, tested up to 8 GPUs:

https://github.com/NVIDIA/DeepLearningExamples/blob/master/TensorFlow/Segmentation/UNet_Industrial/model/unet.py

[2019-09-24 01:08] yjxiong opened #1409 "SegFault when using horovod.mxnet.allgather"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.5.0
3. Horovod version: 0.18.1
4. MPI version: 4.0.1
5. CUDA version: 10.0
6. NCCL version: 2.3.7
7. Python version: 3.6.8
8. OS and version: Linux 4.14.138-89.102.amzn1.x86_64 (EC2 instance on AWS)
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is ab

[2019-09-24 03:01] xiaozhouX commented on #1117
In my case, it worked in Host CentOS 7.4 and the image system is Ubuntu16.04.
I thought it should work in Ubuntu Host too.

[2019-09-24 03:01] xiaozhouX commented on #1117
In my case, it worked in Host CentOS 7.4 and the image system is Ubuntu16.04.
I thought it should work in Ubuntu Host too.

[2019-09-24 05:59] PiseyYou commented on #748
The same error, when I try to `horovodrun -np 3 -H master:2,localhost:1 python3 pytorch_mnist.py` with two computer, the output as these:

[1,1]<stderr>:pytorch_mnist.py:87: UserWarning: Implicit dimension choice for log_softmax has been deprecated. Change the call to include dim=X as an argument.
[1,1]<stderr>:  return F.log_softmax(x)
[1,0]<stderr>:pytorch_mnist.py:87: UserWarning: Implicit dime

[2019-09-24 06:56] JZPeterPan commented on #1399
Hi @tgaddair , here you are:

[code]

[2019-09-24 07:50] pratzz opened #1410 "How do I change the log level?"
Most logs are coming under stderr, shouldn't it be stdout?
Also how do I set the logging level to stdout?

[2019-09-24 08:24] kaituoxu commented on #930
Hi @maxhgerlach , do you have some empirical results to share? Thx

[2019-09-24 08:59] kaituoxu commented on #1198
Any update? Watching...

[2019-09-24 09:33] molyswu opened #1411 "pytorch distributed training which tow GPUs run doesn't work"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:pytorch
3. Horovod version:0.18.1
4. MPI version:3.1.2
5. CUDA version:10.0
6. NCCL version:2.4.8.1
7. Python version:python3.5
8. OS and version:unbuntu16.04
9. GCC version:4.9

I tried to  horovodrun  distributed training my pytorch-horovod project  ,a GPU run is working,
if the machine>=2 gpus have errors:

[2019-09-24 13:15] linjiaqin opened #1412 "ValueError('Neither MPI nor Gloo support has been built. )"
**Environment:**
1. Framework: (TensorFlow，keras)
2. Framework version:
3. Horovod version: 0.18
4. MPI version: 4.0.0
5. CUDA version:
6. NCCL version:
7. Python version: 3.6
8. OS and version: ubuntu 14.04
9. GCC version: 4.8

(horovod) hadoop3@cu07:~/openmpi-4.0.0/examples$ mpirun -np 8 hello_c
Hello, world, I am 2 of 8, (Open MPI v4.0.0, package: Open MPI linjiaqing@cu07 Distribution, ident: 4

[2019-09-24 13:28] marcfielding1 opened #1413 "Dynamic / fluctuating number of hosts during training?"
I hope you mind me dodging the to question template as it doesn't really apply it's more of a general question. FYI I'm on the latest tensorflow and keras with MPI and Horovod at their default versions from pip.

I'm launching our training on a pre configured image containing horovod/mpi on AWS spot instances with worker 0 being an on demand instance so it can't get terminated.

Let's say I have a

[2019-09-24 14:36] linjiaqin opened #1414 "horovod can't run in two servers"
**Environment:**
1. Framework: (Keras)
2. Framework version:
3. Horovod version: 0.18
4. MPI version: 4.0.0
5. CUDA version:
6. NCCL version:
7. Python version: 3.6
8. OS and version: ubuntu14.04
9. GCC version: 4.9

**Bug report:**

(horovod) hadoop3@cu11:~$ horovodrun -np 16 -H cu11:8,cu08:8 python keras_mnist.py
Traceback (most recent call last):
  File "/software/hadoop3/anaconda3/envs/horovod

[2019-09-24 16:39] Himscipy commented on #1260
Any answers to the question facing similar issues.

[2019-09-24 16:45] marcfielding1 opened #1415 "'BroadcastGlobalVariablesCallback' object has no attribute 'on_train_batch_begin'"
**Environment:**
1. Framework: (TensorFlow, Keras)
2. Framework version:
tensorflow                         1.14.0
tensorflow-estimator               1.14.0
tensorflow-serving-api             1.14.0
Keras                              2.2.4
Keras-Applications                 1.0.8
Keras-Preprocessing                1.1.0
3. Horovod version:
horovod                            0.18.1
4. MPI version:

[2019-09-24 17:01] marcfielding1 commented on #1414
Hey, i'm not part of the Horovod team but have just been through debugging this, First thing to check is that you can SSH manually to cu08?

[code]

[2019-09-24 17:25] marcfielding1 commented on #1415
One thing I did find it [this](https://stackoverflow.com/questions/57122907/tensorboard-attributeerror-modelcheckpoint-object-has-no-attribute-on-train) on stackoverflow I don't know if it means anything, in my mind it shouldn't because tf and hvd are different objects but I'm fairly new to this!

[2019-09-24 17:38] marcfielding1 commented on #1415
Yep got it, ignore this, I was being an idiot and mixing tf.keras and keras together - I'll post an answer shortly sorry guys.

[2019-09-24 18:09] CXMANDTXW commented on #1407
hey@tgaddair, my framework is pytorch1.2.
My dataset have 1041 samples,and partition it by 0.8 to get the training sets and test sets.
Batch-size is 8,gpu 4.
It means my training sets number for each gpu =1041*0.8/32=26.025.
Now I manually assign 832 training samples which can be divisible by 32.
Is this the only way can work?This means I have to manually assign the number of training samples for

[2019-09-24 18:15] marcfielding1 commented on #1415
So yeah if you see above where I imported tensflow.keras models, callbacks I just needed to remove the tensorflow bit since HV is expecting  keras not tf.keras! Silly me

[2019-09-24 18:15] #1415 closed

[2019-09-24 18:36] marcfielding1 opened #1416 "orted: Error: unknown option "--tree-spawn" On AWS EC2 Instances"
Environment:

Framework: (TensorFlow, Keras)
Framework version:
tensorflow 1.14.0
tensorflow-estimator 1.14.0
tensorflow-serving-api 1.14.0
Keras 2.2.4
Keras-Applications 1.0.8
Keras-Preprocessing 1.1.0
Horovod version:
horovod 0.18.1
MPI version:
(tensorflow_p36) ubuntu@ip-172-31-38-183:~$ mpirun --version
mpirun (Open MPI) 4.0.1
CUDA version:
CUDA Version 10.0.130

NCCL version:
Not sure

Python

[2019-09-24 18:48] karakusc commented on #1413
@marcfielding1 Although MPI provides some functionality to include new hosts mid-way, this is a bit complicated and it is not a feature currently built into Horovod. If you are training with spot instances on AWS, you might want to check out [Spot training on SageMaker](https://www.linkedin.com/in/marc-fielding-a8bb3293/).

[2019-09-24 18:50] karakusc commented on #1413
@marcfielding1 Although MPI provides some functionality to include new hosts mid-way, this is a bit complicated and it is not a feature currently built into Horovod. If you are using spot instances for training in AWS, you might want to checkout [Spot training on SageMaker](https://docs.aws.amazon.com/sagemaker/latest/dg/model-managed-spot-training.html).

[2019-09-24 19:00] marcfielding1 commented on #1413
@karakusc Thanks a lot, I was just wondering tis all, I can imagine it's very complicated!

[2019-09-24 19:08] marcfielding1 commented on #1416
Found it! AWS Instances use their **PRIVATE IP** to communicate, don't use the public one.

[2019-09-24 19:09] marcfielding1 commented on #1416
Sorry didn't mean to close this.

[2019-09-24 19:59] marcfielding1 commented on #1416
I've just tested adding

[code]

As I assume that gets distributed to the clients. Same error.

[2019-09-24 20:16] marcfielding1 commented on #1416
Another update so it's training now after including the network inferface like so:

[code]

But slooowwwlly, just reading some more.

[2019-09-24 20:50] marcfielding1 commented on #1416
Hmm hunch is mpirun is running of the CPU, any ideas how to translate my mpirun command to horovodrun please?

[2019-09-24 21:12] tgaddair commented on #1416
Hey @marcfielding1, to propagate the virtual environment to other hosts, just source the env before running `horovodrun`.  All the other workers will then use the same virtualenv (assuming it exists on the other hosts).  So no need to source it in a separate script.

It also looks like you have multiple versions of MPI installed, I would suggest removing older versions which is likely what's causi

[2019-09-24 21:14] tgaddair commented on #1414
Yes, as @marcfielding1 suggested, it looks like ssh connectivity or interface compatibility might be the issue here.  Please try what he suggested.

[2019-09-24 21:19] marcfielding1 commented on #1416
@terrytangyuan Thanks Travis let me take a look, I still have a problem Horovod run, i'll post it back in a sec after I get rid of the other mpi versions!

[2019-09-24 21:22] marcfielding1 commented on #1416
Erm given this:

[code]
mpirun: /usr/bin/mpirun.openmpi /usr/bin/mpirun /home/ubuntu/anaconda3/bin/mpirun /usr/local/mpi/bin/mpirun /usr/share/man/man1/mpirun.1.gz
[code]

[2019-09-24 21:23] tgaddair commented on #1407
There's a work-in-progress PR to add support for a `join` operation that will allow you to train with imbalanced batches per worker (#1058), so this will be available soon.

In the meantime, the typical way to address this is to calculate the number of steps you wish to perform per epoch from the number of rows in your dataset, then iterate that number of times per epoch:

[code]

Since you know t

[2019-09-24 21:30] tgaddair commented on #1260
Hey @abidmalikwaterloo @Himscipy how are you initializing MPI?  Does your installation support multi-threading, and if so, can you initialize with `MPI_THREAD_MULTIPLE`?  Horovod runs a separate background thread for MPI ops and if your MPI does not support multi-threading it could segfault.

[2019-09-24 21:36] marcfielding1 commented on #1416
There go do so all I did was do whereis openmpi

Deleted all the openmpi binaries that weren't in my virtual env.

[2019-09-24 21:43] Himscipy commented on #403
Hello @alsrgv @tgaddair were you able to reproduce the issue from the gist I shared earlier you, I am still facing this issue. that the code stalls will Allreduce operations. Below is the snippet of the issue again.

[code]

[2019-09-24 21:58] Himscipy commented on #1260
Hey @tgaddair , I use `hvd.init()` only once in my code and I see this warning getting printed.
I also saw this when, I had `hvd.init()` and `mpi4py` both in my code, even after shutting off my `mpi4py
 comm` I see this message.

[2019-09-24 22:10] tgaddair commented on #1412
Hey @linjiaqin, the error message is coming from `horovodrun`, so it will only test on the machine you're running it on.  It looks like Horovod did not install correctly.  Can you try reinstalling with `HOROVOD_WITH_MPI=1 HOROVOD_WITH_TENSORFLOW=1 pip install --no-cache-dir horovod` along with any other flags you used before?  If that succeeds, then there may be something else going on.

[2019-09-24 22:12] tgaddair commented on #1260
Hey @Himscipy have you tried running `hvd.init(comm)` with your existing communicator?

[2019-09-24 22:34] tgaddair commented on #403
Hey @Himscipy thanks for putting the gist together.  Looking it over, there are two possible issues I see.  The first is that it looks like rank 0 is doing a lot of extra work, including validation, which may be slowing it down compared to the other workers.  That would be consistent with the first error message you reported where rank 0 was the one missing from the broadcast.

The second possible

[2019-09-25 00:56] tgaddair commented on #1198
Hey @mariamrahmaani, there are many things that can cause poor scaling ranging from environment setup bugs, or slow networks to problems with the training script.  Feel free to open an new issue with your specific details and we'd be happy to help you diagnose any problems.

[2019-09-25 00:58] tgaddair commented on #1410
Hey @pratzz, for Horovod logs you can set `horovodrun --log-level` or the environment variable `HOROVOD_LOG_LEVEL`.

[2019-09-25 02:28] linjiaqin commented on #1414
@marcfielding1 @tgaddair
I have followed what you suggest and the debug result are in the below. It seems the ssh is fine.

hadoop3@cu11:~$ horovodrun --verbose -np 16 -H cu11:8,cu08:8 python keras_mnist.py
Filtering local host names.
Remote host found: cu08
Checking ssh on all remote hosts.
SSH was successful into all the remote hosts.
Testing interfaces on all the hosts.
Launched horovodrun serv

[2019-09-25 02:40] linjiaqin commented on #1412
@tgaddair
hello, I have reinstall horovod with the command you mentioned. But the problem still exists. Some nodes can work. But some nodes can't.
There are 10 nodes in my clusters. And the home directories of every node are the same because we mount the home directories to a shared disk by NFS. That means the home directories of every nodes are the same. Horovod is same too. But the root director

[2019-09-25 03:29] ldd91 opened #1417 "Prohibit optimizer.zero_grad when use two different DistributedOptimizer"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:0.18.1
4. MPI version:3.0.4
5. CUDA version:10.1
6. NCCL version:
7. Python version:python3
8. OS and version:linux
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://gith

[2019-09-25 08:00] marcfielding1 commented on #1414
So could you make sure ALL tcp traffic is permitted between those two servers temporarily rather than just 22 for ssh? mpirun uses a few ports(I don't know what they are at this stage).

If that is the case already could you try using ```--start-timeout 600```

[2019-09-25 10:47] molyswu commented on #1411
[1,0]<stderr>:Traceback (most recent call last):
[1,0]<stderr>:  File "train.py", line 210, in <module>
[1,0]<stderr>:    loss.backward()
[1,0]<stderr>:  File "/home/ai/anaconda3/lib/python3.7/site-packages/torch/tensor.py", line 118, in backward
[1,0]<stderr>:    torch.autograd.backward(self, gradient, retain_graph, create_graph)
[1,0]<stderr>:  File "/home/ai/anaconda3/lib/python3.7/site-package

[2019-09-25 11:21] molyswu commented on #1411
Traceback (most recent call last):
[1,1]<stderr>:  File "train_1.py", line 160, in <module>
[1,1]<stderr>:    optimizer = hvd.DistributedOptimizer(optimizer,named_parameters=net.parameters(),compression = compression,backward_passes_per_step=args.batches_per_allreduce)
[1,1]<stderr>:  File "/home/ai/anaconda3/lib/python3.7/site-packages/horovod/torch/__init__.py", line 252, in DistributedOptimizer

[2019-09-25 15:08] Himscipy commented on #403
Hi @tgaddair  Thank you for the response. I have tried commenting most of the `hvd.rank() == 0 ` operations in the code, but it didn't helped, I still find the run stalling. I also changed the data-pipeline to a simple batch generator and modified the network with less number of parameter to train. The actual number of parameters are ~19 Million, I modified the arch to have 17M parameter. For the

[2019-09-25 16:20] pratzz commented on #1410
Thank you @tgaddair but my concern is why are the logs coming under stderr?

[2019-09-25 16:35] tgaddair commented on #1410
Hey @pratzz, which logs are you referring to?  Most commonly your underlying framework (like TensorFlow) does logging to stderr, which is pretty standard.  Can you provide a specific example where the logs from Horovod are different from the behavior when running without Horovod.

[2019-09-25 16:47] marcfielding1 commented on #1416
@tgaddair So I FINALLY got everything working with basically clean install of Ubuntu and building it myself - I might do an updated installation instructions as a PR if you guys want it?

I noticed actually with two AWS p3 instances on small model it's actually slower, is this because of network latency? It's 14,950 images on 6 classes and 4000 for validation.

On a single instance it's blazing fa

[2019-09-25 19:59] tgaddair commented on #1416
Hey @marcfielding1, glad you got it working.  A PR would certainly be appreciated.

Network latency in cloud environments tends to be a limiting factor for small models like MNIST, yes.  I would suggest running our `tensorflow_synthetic_benchmark` script to measure scaling efficiency.

I'll update this ticket as a documentation update task.

[2019-09-25 20:15] #286 closed

[2019-09-25 20:18] #312 closed

[2019-09-25 21:39] tgaddair commented on #1409
Hey @yuxihu, could you take a look at this MXNet issue when you get a chance?

[2019-09-25 22:04] yuxihu commented on #1409
@yjxiong The allgather function is not well tested in mxnet-horovod. Currently the mxnet-horovod integration uses allreduce and broadcast functions. Any specific use case that you want to use allgather?

[2019-09-25 23:21] mariamrahmaani opened #1419 "multi cpu training is worse than single cpu"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)      Pytorch
2. Framework version:  latest code from huggingface: https://github.com/huggingface/pytorch-transformers

3. Horovod version: 0.18.1
4. MPI version: 4.0.1
5. CUDA version: None
6. NCCL version: None
7. Python version: Python 3.6.8
8. OS and version: ubuntu 18.04.2 LTS
9. GCC version: 7.4.0

**Checklist:**
1. Did you se

[2019-09-26 01:37] HwanGoh opened #1420 "Horovod has been shut down... [[node HorovodBroadcast_Variable_0 (defined at <string>:251) ]]"
Sorry I don't know how to remove my posted issue but the issue is resolved :)

[2019-09-26 05:57] molyswu commented on #1328
How do you solve this problem?，I have the same problem. Can I parse the code?

Thank you!

[2019-09-26 09:09] molyswu opened #1421 "distribution training with horovod ,Horovod has been shut down. This was caused by an exception on one of the ranks or an attempt to allreduce, allgather or broadcast a tensor after one of the ranks finished execution. If the shutdown was caused by an exception, you should see the exception in the log before the first shutdown message."
Try to  distribution training  pytorch code  with horovod  for error:
[1,0]<stdout>:global [ 0/ 2], local [ 0/ 2]
[1,1]<stdout>:global [ 1/ 2], local [ 1/ 2]
[1,0]<stdout>:
[1,0]<stdout>:
[1,0]<stdout>:epoch: 0,batch: 0
[1,1]<stdout>:Epoch 0/100, Batch 0/14658
[1,1]<stderr>:WARNING:tensorflow:From /media/ai/sdc1/tools/horovod_study/yolov3-pytoch/PyTorch-YOLOv3/utils/logger.py:16: The name tf.Summa

[2019-09-26 09:11] #1411 closed

[2019-09-26 10:51] marcfielding1 commented on #1421
Err whats the question?

[code]

Looks like a node ran out of memory?

[2019-09-26 19:10] oskotsky opened #1423 "horovod on aws emr with auto-scaling"
We are testing Horovod on aws emr cluster. So far so good. However we use auto scaling on our cluster (auto scaling adds and deletes workers when needed to avoid under/over provisioning). Will this a problem for Horovod? Will spark-horovod handle this dynamic correctly?

Thank you

[2019-09-26 20:35] yjxiong commented on #1409
Many use cases in distributed training require Allgather. For example, to gather output from all workers into each worker for model parallelism and testing. Really hoping to see this get fixed.

[2019-09-27 02:31] molyswu commented on #1421
fix :batch_size =4 ,   runingtimeError as:
:Epoch 0/100, Batch 0/29316
[1,1]<stderr>:WARNING:tensorflow:From /media/ai/sdc1/tools/horovod_study/yolov3-pytoch/PyTorch-YOLOv3/utils/logger.py:16: The name tf.Summary is deprecated. Please use tf.compat.v1.Summary instead.
[1,1]<stderr>:
[1,1]<stdout>:Total loss is  216.03663635253906 ETA is  10:15:10.829853
[1,1]<stdout>:Epoch 0/100, Batch 1/29316
[1,

[2019-09-27 17:10] marcfielding1 commented on #1421
Err so you might wanna retitle this buddy to " optimizer.zero_grad() was called after loss.backward() but before optimizer.step() or optimizer.synchronize()." ? Also whats your training code look like please?

[2019-09-27 17:12] marcfielding1 commented on #1423
So I asked a similar question here if it helps: #1413

[2019-09-27 17:17] marcfielding1 commented on #1412
Err if you're on Ubuntu I've been through a lot of pain, is there a reason you're on 14.04? I you fancy being a guinea pig you could try testing out my [tutorial/PR](https://github.com/horovod/horovod/pull/1422/files?short_path=7537f1f#diff-7537f1fd3b643da36d205172669476c1) although it's geared at 18.04 - it looks like you've got the same kind of version conflicts I was suffering with(i've had the

[2019-09-28 01:32] molyswu commented on #1421
code:

for epoch in range(opt.epochs):
        model.train()
        train_sampler.set_epoch(epoch)
        start_time = time.time()
        for batch_i, (_, imgs, targets) in enumerate(dataloader):
          if use_cuda:
            imgs, targets = imgs.cuda(), targets.cuda()
            batches_done = len(dataloader) * epoch + batch_i
            #torch.manual_seed(batches_done)
            #tor

[2019-09-28 02:05] molyswu commented on #1421
2.
Tried to removed " if batches_done % opt.gradient_accumulations:"  run :
horovodrun -np 2 -H localhost：2 python3  train_1.py
ERR:
Traceback (most recent call last):
  File "/usr/local/bin/horovodrun", line 21, in <module>
    run.run()
  File "/usr/local/lib/python3.5/dist-packages/horovod/run/run.py", line 611, in run
    raise ValueError('Invalid host input, please make sure it has '
ValueErr

[2019-09-28 02:07] molyswu commented on #1421
[1,0]<stdout>:Epoch 0/100, Batch 64/29316
[1,0]<stdout>:Total loss is  1918322432.0 ETA is  3:30:42.256528
[1,0]<stdout>:Epoch 0/100, Batch 65/29316
[1,1]<stdout>:Epoch 0/100, Batch 65/29316
[1,0]<stdout>:Total loss is  1563825107107840.0 ETA is  3:29:28.521462
[1,1]<stdout>:Total loss is  1563825107107840.0 ETA is  3:29:29.889266
[1,1]<stdout>:Epoch 0/100, Batch 66/29316
[1,1]<stdout>:Total loss

[2019-09-28 02:21] molyswu commented on #1421
1.Tried to removed "" optimizer.zero_grad() " before  "before optimizer.step()",
Chagned  "optimizer.step() " to  "optimizer.synchronize()"
it is working.

[2019-09-29 04:19] #1420 closed

[2019-09-29 04:19] HwanGoh commented on #1420
issue is resolved :)

[2019-09-29 11:14] passerbyd opened #1425 "AllReduceMin/Max needed"
**Is your feature request related to a problem? Please describe.**
The min/max values in a tensor will be used from time to time.

**Describe the solution you'd like**
Get the min/max value via ringallreduce. nccl on gpus.

**Describe alternatives you've considered**
For now, the procedure will be reducing locally, allgather, then reduce again.
directly allreduce will consume much less memory and

[2019-09-29 12:18] honnibal opened #1426 "numpy/cupy support?"
Distributed training support has been a long-term goal for our NLP library [spaCy](https://spacy.io). I think this could be relevant to Uber as well, as I think it's in use in some places.

spaCy's default models don't use Tensorflow or PyTorch --- they use my own ML library, Thinc, which I wrote before PyTorch was released. Thinc uses numpy and cupy for its tensor objects.

I've had a look throug

[2019-09-30 06:58] Tron-x opened #1427 "timeline log what does HorovodAllreduce_gradients_AddN mean"
Hi,When I read timeline information, there are some places I don't understand, such as
![image](https://user-images.githubusercontent.com/7659413/65855545-c0727380-e391-11e9-8fb6-b90313aa5406.png)
HorovodAllreduce_gradients_AddN There are 177 allreduces in total, which means that 177 allreduces are executed in each iteration. In addition, whether allreduces are executed according to the network la

[2019-09-30 16:12] Himscipy commented on #403
Hi @tgaddair, does `HOROVOD_STALL_CHECK_TIME_SECONDS` affects the time all_reduce stall check also, as I not finding any change in the Stall ops error message which say's time as 60 sec only even after setting the `HOROVOD_STALL_CHECK_TIME_SECONDS= 600 sec`

[2019-09-30 16:29] #1362 closed

[2019-09-30 16:30] oskotsky commented on #1423
Thank you! Looks like auto-scaling is not on the menu at least for now.

[2019-10-01 08:15] marcfielding1 commented on #1421
So - shot in the dark https://stackoverflow.com/questions/12984426/python-pil-ioerror-image-file-truncated-with-big-images

[2019-10-01 17:59] mariamrahmaani commented on #1419
Any idea?

[2019-10-01 21:39] abditag2 commented on #1419
When you use horovod, you need to scale down your batch size by the hvd.size() so that your effective batch size across all the workers becomes equal to when not using Horovod. In other words, in your code, set the batch size to bath_size.hvd.size()

Not sure if this is exactly related to the accuracy you are seeing.

[2019-10-01 23:08] mariamrahmaani commented on #1419
I made sure to scale down the batch size, and  I tried smaller batch size and still I get no improvement in accuracy. I used size of 32 with 2 CPU (hvd.size() = 2) which should be equal to using Batch size=64 without using horovod. My total time to train improves near 100% but accuracy as I said decreases 13%.

Thanks for any other help/idea you may have.

[2019-10-02 01:22] hollowgalaxy commented on #1413
@karakusc what happens to horovod's optimizer if an instance goes down in a multi-node setup?

[2019-10-02 01:30] karakusc commented on #1413
@hollowgalaxy If you are using Horovod with MPI, then MPI will detect that some of the processes died and the program will crash. Not sure how Gloo handles such scenarios.

[2019-10-03 01:41] atranitell commented on #1384
Hello, I have implemented a sync-bn based on pytorch and horovod.
See: https://github.com/atranitell/Synchronized-BatchNorm-PyTorch-Horovod/blob/master/sync_bn.py

[code]

There is a slight error (about 1e-6), and I'm not clear currently.

KJ,
Best

[2019-10-03 19:56] Himscipy commented on #403
Hi @tgaddair ,
I am still receiving the error of stall ops `train/DistributedAdamOptimizer_Allreduce/HorovodAllreduce_train_gradients_Add`, I checked the number of total flops operations needed for my network ( of ~18M parameters) are about  (564.46millon flops. The total number of times the operation `train/DistributedAdamOptimizer_Allreduce/` called in the graph is 34 times. As you mentioned in

[2019-10-04 08:38] apeforest opened #1428 "horovodrun with --hostfile option is not working"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.5.1
3. Horovod version: 0.18.2
4. MPI version: 3.1.4
5. CUDA version: 10.0
6. NCCL version: 2.4.6
7. Python version: 3.7.3
8. OS and version: Ubuntu 16.04
9. GCC version: 5.4

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Yes
2. If your question is about hang, did you read [this doc](https://gith

[2019-10-04 18:18] alsrgv commented on #1428
@apeforest, I think it may be hard to support all possible options in the hostfile, what are the most common that we should target?

[2019-10-07 08:01] linjiaqin commented on #1412
@tgaddair @marcfielding1
after using " --verbose". I find thees error information. What should I do next?
tensorflow.python.framework.errors_impl.NotFoundError: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by /software/hadoop3/anaconda3/envs/horovod/lib/python3.6/site-packages/horovod/tensorflow/mpi_lib.cpython-36m-x86_64-linux-gnu.so)

[2019-10-07 08:23] marcfielding1 commented on #1412
@linjiaqin Err looks like the version of python and the version of that lib are out of sync see [this](https://github.com/tensorflow/tensorflow/issues/26378) - did you try my suggestion above?

[2019-10-08 07:11] linjiaqin commented on #1412
@marcfielding1
I have try your suggestion above, but it occurred the same errors. I use gcc-5.5, openmpi4.0.1.
Are there any problem with the version?

[2019-10-08 11:03] Dreadnut93 opened #1430 "A simple question"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) tf.Keras
2. Framework version: 1.14
3. Horovod version: 0.18.0
4. MPI version:
5. CUDA version: 10.0.130
6. NCCL version:2.4.8
7. Python version:3.6
8. OS and version:
9. GCC version:
I don't know the information about the last two points. For testing, I  was using the following docker image  https://hub.docker.com/layers/horovod/h

[2019-10-08 12:27] marcfielding1 commented on #1412
Heya, erm so you did a fresh install run through that post, what version of ubuntu are you on?

[2019-10-08 13:12] Keepmoving-ZXY opened #1431 "Horovod hang when running cpu training in two nodes"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)TensorFlow
2. Framework version:1.14.0
3. Horovod version:0.18.1
4. MPI version:3.1.3
5. CUDA version:N/A
6. NCCL version:N/A
7. Python version:2.7.16
8. OS and version:CentOS Linux release 7.5.1804 (Core)
9. GCC version:7.3.0

Hi, these days I run distributed cpu training with horovod and intel mkl support in two cpu nodes, the bas

[2019-10-08 13:33] linjiaqin commented on #1412
@marcfielding1
My OS is ubuntu 14.04.
When I delete the conda env, recreate a new one and install with "HOROVOD_WITH_MPI=1 HOROVOD_WITH_TENSORFLOW=1 pip install --no-cache-dir horovod" .It occur "horovod didn't build with MPI".  These are the logs:
**tensorflow.python.framework.errors_impl.NotFoundError: /software/hadoop3/anaconda3/envs/horovod/lib/python3.6/site-packages/horovod/tensorflow/mpi_li

[2019-10-09 08:36] TJMATH opened #1433 "horovod.tensorflow.broadcast can not get data"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.12
3. Horovod version: 1.0.14
4. MPI version: 1.10.2
5. CUDA version:N/A
6. NCCL version:N/A
7. Python version:3.5.2
8. OS and version: Ubuntu 16.04.4 LTS
9. GCC version: 4.9.3

**Your question:**
Hi all.
My question is, when I use hvd.broadcast to send and get data, I can not get anything in my worker rank. The code is as following

[2019-10-09 11:25] #1433 closed

[2019-10-09 12:06] GoWeiXH opened #1434 "python3: can't open file 'mnist.py': [Errno 2] No such file or directory"
**Environment:**
1. Framework: Keras
2. Framework version: 2.2.4
3. Horovod version: 0.18.1
4. MPI version: (Open MPI) 4.0.0
5. CUDA version: 9.0
6. NCCL version: 2.0
7. Python version: 3.6.2
8. OS and version: CentOS Linux release 7.3.1611 (Core)
9. GCC version: 4.8.5

**Checklist:**
1. Did you search issues to find if somebody asked this question before? ——yes
2. If your question is about hang,

[2019-10-09 14:34] cklsoft opened #1435 "Horovod not support tensorflow_gpu==1.15.0-rc3 ?"
**Environment:**
3. Horovod version: 0.18.1
4. MPI version: 4.0.0
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 2.7
8. OS and version: ubuntu
9. GCC version: 4.9.3

**Your question:**
 Traceback (most recent call last):
    File "/tmp/pip-install-EQHt8d/horovod/setup.py", line 1375, in build_extensions
      build_tf_extension(self, options)
    File "/tmp/pip-install-EQHt8d/horo

[2019-10-09 18:29] zarzen opened #1436 "What is the "ideal" in benchmark figure?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-10-09 21:51] Himscipy commented on #403
Hello @tgaddair @alsrgv ,
I made slight changes in my program which could affect the distributed optimizer, the changes brought me success with 2 rank run, but I still face same issue of  `train/DistributedAdamOptimizer_Allreduce/HorovodAllreduce_train_gradients_AddN_4_0 ` stalled ops. I have tried changing ` HOROVOD_STALL_CHECK_TIME_SECONDS` but non has affected the timeout time of '60 second' in

[2019-10-09 23:17] yselivonchyk opened #1437 "DistributedOptimzer is not compatible with keras.Optimizer"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version: 1.14
3. Horovod version: 0.16.4
7. Python version: 3.6.8

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob/master/docs/running.rst)?
3. If your question is about docker, did

[2019-10-10 03:43] liuyongheng123 opened #1438 "In the mpi_controller.cc 's line 75~77, why are not the cross_comm and displacement used after referenced?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:  0.17
4. MPI version:  4.0.1
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:  5.4

**Checklist:**
1. Did you search issues to find if somebody asked this question before? no
2. If your question is about hang, did you read [this doc](https://github.com

[2019-10-10 21:28] rahmatkhah commented on #1408
I am also running into a similar issue. However, I'm setting different parameters to limit the ports:
`mpiexec --allow-run-as-root \
        -hostfile "$hostfile" \
        -bind-to none \
        -map-by slot \
        --mca pml ob1 \
        --mca plm_rsh_args "-p $ssh_port" \
        --mca orte_base_help_aggregate 0 \
        --mca btl ^openib \
        --mca btl_tcp_if_exclude docker0,lo \

[2019-10-10 22:14] mshlis commented on #625
Having same exact problem with torch==1.2 and tf==1.14. Any update? I have NCCL and OpenMPI properly installed

[2019-10-10 23:22] hdubey commented on #1281
@tgaddair Is there any way to use the Learning rate schedular for pytorch with horovod? If we choose to not broadcast it, will it cause poor learning?

[2019-10-11 03:41] tgaddair commented on #1281
Hey @hdubey, it should work fine with Horovod.  The only tricky part is if you need to checkpoint your learning rate scheduler state so you can pause and resume training.  Currently, you'd need to write/read it in on every worker separately, but ideally it should work the same as our other broadcast calls, where you can write/read on worker-0 then broadcast the state to the other workers.

[2019-10-11 03:47] tgaddair commented on #625
Hey @mshlis, can you create a new issue with details about the error you're seeing?  For example, can you share the command you used to install Horovod and the output you saw if it didn't build successfully?

[2019-10-11 03:56] tgaddair commented on #1438
Hey @liuyongheng123, for MPI specifically, the ring structure is handled externally to Horovod (MPI manages it itself).  The `local_size_at_cross_rank` you're seeing in `mpi_controller.cc` is used by the HierarchicalAllgather operation in `mpi_operations.cc` [here](https://github.com/horovod/horovod/blob/master/horovod/common/ops/mpi_operations.cc#L252).

Hierarhical allgather needs the cross comm

[2019-10-11 04:15] tgaddair commented on #1437
Hey @yselivonchyk, for using `tf.keras` can you try importing `horovod.tensorflow.keras` instead of `horovod.tensorflow`?

[2019-10-11 09:33] marcfielding1 commented on #1412
Err actually did you install tensorflow before installing horovod?

[2019-10-11 09:33] marcfielding1 commented on #1412
Err actually did you install tensorflow before installing horovod?

[2019-10-11 10:24] linjiaqin commented on #1412
@marcfielding1
yes， I install tensorflow before installing horovod . But when I uninstall tensoflow and horovod. Then i install the horovod again. But It occurs no tensorflow module errors as below.

**gcc -pthread -B /software/hadoop3/anaconda3/envs/horovod/compiler_compat -Wl,--sysroot=/ -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -fPIC -std=c++11 -fPIC -O2 -Wall -I/software

[2019-10-11 11:30] marcfielding1 commented on #1431
Just a stab in the dark have you confirmed connectivity to and from all hosts via ssh AND tcp ports?

[2019-10-11 11:33] nateagr opened #1440 "Support of non-mpi communications"
Hello there,

I'm currently working on a tensorflow distribution strategy similar to Horovod (based on allreduce/allgather ops for gradient aggregations). But contrary to Horovod, I don't rely on MPI. Instead, I'm using dmlc/rabit (https://github.com/dmlc/rabit) for non-mpi communications between nodes. I wonder if I could introduce dmlc/rabit in Horovod as an alternative to mpi. How do you guys f

[2019-10-11 15:21] mshlis commented on #625
@tgaddair I made a new environment and reinstalled just TensorFlow and got it to work

[2019-10-11 15:37] tgaddair commented on #625
Great to hear!  I'm going to close this issue since it's now about a year old.

[2019-10-11 15:37] #625 closed

[2019-10-11 15:48] tgaddair commented on #1431
Hey @Keepmoving-ZXY, as @marcfielding1 said, I would look into SSH connectivity between hosts first.  I would also suggest trying to run `horovodrun` instead of `mpirun` at first, as the former takes care of a lot of the interface resolution and arg setting for you.  Finally, I would suggest trying to run one of our examples from our repo to verify everything is working correctly.

[2019-10-11 15:52] tgaddair commented on #1440
Hey @nateagr, that sounds great!  To clarify, Horovod no longer relies on MPI, we also support [Gloo](https://github.com/facebookincubator/gloo/tree/master/gloo) as an alternative to MPI for our control plane.  You can take a look at #1181 to get an idea for how to do this for dmlc/rabit.  The one thing I'm unsure of with rabit is how to handle Allgather, which is used for dealing with sparse tens

[2019-10-11 15:56] nateagr commented on #1440
Thanks for you quick answer @tgaddair
Allgather op is almost part of dmlc/rabit. It will be after this last pr https://github.com/dmlc/rabit/pull/113. I'll have a look to your pointers.

[2019-10-11 15:58] tgaddair commented on #1436
Hey @zarzen, "ideal" here is 1:1 (100%) scaling efficiency, meaning exactly what you suggested: the comparison of the performance with N GPUs as compared to 1 GPU.  You can calculate the scaling efficiency at N GPUs as `scaling_efficiency(N) = (inputs_per_s(N) / N) / inputs_per_s(1)`.

[2019-10-11 16:02] tgaddair commented on #1440
Excellent, then once that's landed it should work fine.  Feel free to reach out if you have any questions.

[2019-10-11 16:14] tgaddair commented on #1435
Hey @cklsoft, what version of gcc are you using?  Can you share that along with the string returned from `tf.version.COMPILER_VERSION`?  There are some ABI incompatibilities between certain versions of GCC (namely 4.X to 5.X) that can cause this issue (see: https://github.com/tensorflow/tensorflow/issues/27067).

[2019-10-11 16:18] tgaddair commented on #1434
Hey @GoWeiXH, can you try specifying the path to `mnist.py` as an absolute path and double check that it is the same path with the same permissions on both machines?  MPI may be having trouble changing directories into that path on the other host.

[2019-10-11 16:28] tgaddair commented on #1430
Hey @Dreadnut93, because Horovod uses synchronous distributed training, the time it takes for one GPU / worker to train one epoch will be the same time it takes for all workers to complete one epoch.

If your total training set size is 20k and it takes 51s to train with N workers (GPUs), then each worker processed `20k / N` examples within that epoch.  That's the key insight of data-parallel distr

[2019-10-11 16:53] marcfielding1 commented on #1412
Sorry I deleted that comment re tensorflow installing order, this could be quite a few things, I am going to look at a 14.04 install out of morbid curiosity this weekend, **Are you tied to Ubuntu 14.04?** - **Did you follow step by step the instructions in that draft PR?** - I mean every single step, every single command?

[2019-10-11 16:53] liyi193328 commented on #1440
Great ideas. @nateagr That distribution strategy will be public?

[2019-10-11 16:56] marcfielding1 commented on #1431
@Keepmoving-ZXY Oh when you do horovodrun make sure you add --verbose as the first flag it'll help debug any issues!

[2019-10-11 18:05] yselivonchyk commented on #1437
@tgaddair Thank you for pointing that out. I updated the issue to reflect how hvd.tensorflow.keras is not compatible with tf.keras.optimizers.Optimizer.

[2019-10-11 18:08] yselivonchyk commented on #1437
To put it in context, this functionality is used by `tensorflow.python.keras.models.clone_and_build_model` which is called by` tf.keras.experimental.export_saved_model`

[2019-10-11 18:11] eric-haibin-lin opened #1442 "intermittent hang during training, followed by divergence"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) MXNet
2. Framework version: 1.5
3. Horovod version: 0.18.1
4. MPI version: mpirun (Open MPI) 3.1.4
5. CUDA version: 10.1
6. NCCL version: 2.4.8
7. Python version: 3.6.8
8. OS and version: Ubuntu
9. GCC version: 7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is abou

[2019-10-11 18:19] tgaddair commented on #1437
Hey @yselivonchyk, for the new example, can you try this instead:

[code]

Basically, we never directly instantiate the `DistributedOptimizer`, we always create it by wrapping another optimizer.

[2019-10-11 19:24] yselivonchyk commented on #1437
It would not solve the problem of `.from_config(cfg)` not working and  `tensorflow.python.keras.models.clone_and_build_model` along with it.

[2019-10-12 01:49] #1436 closed

[2019-10-12 06:48] GoWeiXH commented on #1434
Thanks for your attention! @tgaddair

I‘m tried to use absolute path: '''horovodrun --verbose -np 2 -H 192.168.8.42:1,192.168.8.41:1 -p 10000 --start-timeout 600 python3  /home/jq/Distributed_learning/mnist.py''', but not work.

1. The path of 'mnist.py' is same: '/home/jq/Distributed_learning/mnist.py';
2. The Python env path is same;
3. The openMPI path is same: '/usr/local/openmpi'
4. The permi

[2019-10-12 19:34] tgaddair commented on #1437
I see, thanks for clarifying the usage @yselivonchyk.  That makes sense.  I put together a quick PR with your suggested fix (#1444).  Feel free to try it out and let me know if it solves the issue.

[2019-10-13 01:39] Jarvis-Cai opened #1445 "Is there pre-build cpu version Docker containers ?"
**Your question:**
Please ask your question here.
hi~I am a graduate from chinese. And thanks for providing the cpu version of dockerfile, but as it's known for us all, we don't have a good internet for outside. So when I build the cpu-dockerfile, it always fails owing to the internet.Could you please provide the Pre-built Docker containers of CPU version?
Thanks very much.

[2019-10-13 20:55] #1437 closed

[2019-10-14 02:56] df19900725 opened #1446 "Time consuming for distributed training is confusing"
My model is seq2seq written by TensorFlow 1.13.
I use two machines which each one of them have 8 vCPUs.
I use tqdm to record time consuming for training. I have 40110 training samples in total and batch size is 256. Max epoch is set to be 100.
When I use only one machine with python command, it shows time consuming as follows:

`94/157 [00:07<00:05, 11.83it/s]`

it seems that the program processed

[2019-10-14 07:06] 652994331 commented on #1397
Hi,@tgaddair, it's me. it's been a longtime, we finally finished pretrain 200 0000 steps of bert. during this period, what I noticed is, although I made it run using 100% gpu usage with your help. the Pwr:Usage/Cap and memory useage of my gpus afre still not good. what I am thinking right now is: maybe we can make it better through improving them. /Users/qizhou.huang/Desktop/Screen Shot 2019-10-14

[2019-10-14 07:10] 652994331 commented on #1397
as you can see , it only 150w/250w ,16691/22919
/Users/qizhou.huang/Desktop/Screen Shot 2019-10-14 at 3.04.19 PM.png

[2019-10-14 16:28] romerojosh commented on #1442
@eric-haibin-lin Out of curiosity, is this script using AMP?

[2019-10-14 17:00] eric-haibin-lin commented on #1442
No it does not use AMP. But it does use the dynamic loss scaling module and manual fp16 casting

[2019-10-14 18:09] romerojosh commented on #1442
Hmm, interesting. Do you see other instances of the stalling without the loss divergence, or does it happen every time you see this stall occur?

[2019-10-14 20:00] jkbradley opened #1447 "Apache Spark 3.0 compatibility"
This is meant to be a discussion around preparing Horovod for the upcoming Apache Spark 3.0 release.

For reference, the current Spark dev list discussions indicate these rough dates:
* Fall 2019: Spark 3.0 Preview release
* Early 2020: Spark 3.0 release
* See http://apache-spark-developers-list.1001551.n3.nabble.com/Thoughts-on-Spark-3-release-or-a-preview-release-td27891.html and other "3.0 Prev

[2019-10-15 00:09] eric-haibin-lin commented on #1442
I've also seen cases where it stalls forever.. I'm not sure if there is stalling without loss divergence as it happens at a random batch. I will report if I find one

[2019-10-15 06:08] Keepmoving-ZXY commented on #1431
selinux blocks openmpi, thank you for help.

[2019-10-15 06:09] #1431 closed

[2019-10-15 06:34] df19900725 opened #1448 "Does horovod make program read all dataset for each rank?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.13
3. Horovod version: 0.18
4. MPI version: 4.0.1
5. CUDA version:
6. NCCL version:
7. Python version: 3.6
8. OS and version: SUSE 12
9. GCC version: 4.9.3

**Your question:**

I use tf.data.dataset api to load data from local file system

`raw_data = np.loadtxt(file)`
`tf.data.Dataset.from_tensor_slices(raw_data).shard(num_shards,

[2019-10-15 08:00] venuswu opened #1449 "Does horovod support stable tensorflow2.0 now?"
Which version of horovod support stable tensorflow2.0?

@alsrgv

[2019-10-15 22:48] tgaddair commented on #1445
Hey @Jarvis-Cai, we can definitely provide some pre-built CPU docker images for you.  We typically provide images with the latest versions of Horovod, TensorFlow, and PyTorch, so TF 2.0 and PyTorch 1.2.  Would those versions work for you?

[2019-10-15 22:59] tgaddair commented on #1449
Hey @venuswu, stable TensorFlow 2.0 support is available in the latest version of Horovod: `0.18.1`.  Feel free to reach out if you have any issues!

[2019-10-16 01:46] tgaddair commented on #1448
Hey @df19900725, my suggestion would be to stream the data as opposed to reading it all into memory at once.  For example, you could try using [tf.data.TextLineDataset](https://www.tensorflow.org/api_docs/python/tf/data/TextLineDataset) or you could preprocess your data into a [tf.data.TFRecordDataset](https://www.tensorflow.org/api_docs/python/tf/data/TFRecordDataset).

[2019-10-16 02:52] Jarvis-Cai commented on #1445
ok, that's would be great.Though I use TF1.14 now, I think it's easy to change the version by myself. Thanks very much. That will help a lot. So how could you send it to me? Do you need my e-mail please?

[2019-10-16 04:55] Jarvis-Cai commented on #1445
hi~ @tgaddair I think it twice.Is there any possible that providing Tensorflow Lite version too please?
ヽ(✿ﾟ▽ﾟ)ノ

[2019-10-16 05:38] gibiansky commented on #1399
FYI, this is probably another case of https://github.com/horovod/horovod/issues/1123 (and should be closed?)

[2019-10-16 05:48] gibiansky commented on #1123
I just got bit by this and spent a long time debugging it until I found this issue. It would be great if it were added to the troubleshooting doc. (I made [a PR](https://github.com/horovod/horovod/pull/1450).)

[2019-10-16 09:46] chenyu-jiang opened #1451 "Segmentation fault when running on MXNet 1.5.0 with CUDA 10.1"
**Environment:**
1. Framework: MXNet
2. Framework version: 1.5.0
3. Horovod version: 0.18.1
4. MPI version: OpenMPI 3.1.4
5. CUDA version: 10.1
6. NCCL version: 2.4.8 (built from GitHub repo)
7. Python version: 3.6
8. OS and version: CentOS Linux 7 (Core)
9. GCC version: 8.3.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? Y
2. If your question is about ha

[2019-10-16 13:40] Dreadnut93 commented on #1430
@tgaddair Thank you very much for the explanation. We can close the issue.

[2019-10-16 13:40] #1430 closed

[2019-10-17 06:30] GoWeiXH commented on #1434
This problem has been solved.
1. I unified the users and paths of the python environment of the two servers.
2. I created a new folder on both servers and moved the script into it.

Close！

[2019-10-17 06:30] #1434 closed

[2019-10-17 09:38] lijain opened #1452 "horovodrun"
The security free communication between servers has been OK. It is OK to run horovodrun - NP 1 - H 192.168.48.145:1 Python xx.py on a separate server of 192.168.48.145. But on 192.168.48.145, the program horovodrun - NP 1 - H 192.168.31.147:1 Python XX. Py does not respond???

[2019-10-17 22:56] tgaddair commented on #1452
Hey @lijain, can you try running with `horovodrun --verbose` and provide the printed output here?  Thanks.

[2019-10-17 23:00] tgaddair commented on #1451
@yuxihu any thoughts on what might be causing this segfault?

[2019-10-17 23:04] tgaddair commented on #1399
Nice catch @gibiansky.  @JZPeterPan, can you check out the troubleshooting steps in #1123 and see if that solves the issue?

[2019-10-18 00:53] abidmalikwaterloo opened #1453 "Running Horovod on Summit"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
PyTorc
2. Framework version:
1.1
3. Horovod version:
0.18.1
4. MPI version:
IBM
5. CUDA version:
10.1
6. NCCL version:
2.3
7. Python version:
3.6.6
8. OS and version:
9. GCC version:
6.4

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc

[2019-10-18 01:34] lijain commented on #1452
出现这个，麻烦你帮忙看下

------------------ 原始邮件 ------------------
发件人: "Travis Addair"<notifications@github.com>;
发送时间: 2019年10月18日(星期五) 上午6:56
收件人: "horovod/horovod"<horovod@noreply.github.com>;
抄送: "利剑"<1632401541@qq.com>;"Mention"<mention@noreply.github.com>;
主题: Re: [horovod/horovod] horovodrun   (#1452)

Hey @lijain, can you try running with horovodrun --verbose and provide the printed output here?  T

[2019-10-18 04:14] plenari commented on #1277
Thanks

[2019-10-18 07:46] plenari commented on #1277
How to start horovodrun when only cpus?

[2019-10-18 10:51] abidmalikwaterloo commented on #1453
It runs fine with one GPU. jsrun -n1 -a1 -c1 -g1.  However, it gives an error when running with more than one GPU.

[2019-10-18 10:59] abidmalikwaterloo commented on #1453
The error comes with a simple program having only horovod initialization.

[2019-10-18 15:19] abidmalikwaterloo commented on #1453
Very simple case:

[code]
[code]

[2019-10-18 19:42] abidmalikwaterloo commented on #1453
I am using the example
[code]
It seems like the  error is happening at

[code]

[2019-10-18 20:51] zarzen opened #1454 "Why NEGOTIATE_ALLREDUCE is much longer in TensorFlow comparing to PyTorch?"
**Environment:**
1. Framework: TensorFlow, Keras, PyTorch
2. Framework version: tensorflow -1.14.0, torch-1.3.0
3. Horovod version: 0.18.1
4. MPI version: openmpi-4.0.2
5. CUDA version: None
6. NCCL version: None
7. Python version: 3.7.0
8. OS and version: Ubuntu 16.04
9. GCC version: 5.4.0

**Your question:**
I am running the experiments on two machines no GPU. The experiment scripts are from [ho

[2019-10-19 03:45] chenyu-jiang commented on #1451
Hi, it turned out that there's a previous installation of MXNet in the conda environment. The problem is solved by deleting all MXNet packages in the environment and reinstall mxnet-cu101 using pip. Thanks and sorry for the trouble.

[2019-10-19 03:45] #1451 closed

[2019-10-20 02:43] chenchen-tom commented on #155
Will this solve the problem yet, I also encountered

[2019-10-20 08:55] Jarvis-Cai commented on #1445
BTW, my e-mail is 1075214539@qq.com

[2019-10-21 06:57] zira-wang commented on #1419
Have you solved the problem ？I have the same problem .

[2019-10-21 09:26] zira-wang opened #1456 "when work-0 is in 6 epoch，work-1 have be in 7 . how to shuffled data before per epoch ？"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.5.0
3. Horovod version: 0.16.0
4. MPI version: openmpi/4.0.0
5. CUDA version: cuda/9.0
6. NCCL version:  nccl/2.1.15
7. Python version: 3.6.0
8. OS and version: linux
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](htt

[2019-10-21 17:28] mariamrahmaani commented on #1419
Not resolved yet

[2019-10-21 20:19] tgaddair commented on #1419
Hey @mariamrahmaani and @zira-wang, what I would suggest doing is first is to try running one of our [example](https://github.com/horovod/horovod/tree/master/examples) benchmark scripts (either for TensorFlow or PyTorch).

See how the performance compares going from 1 CPU to 2 to 4, etc.  Then if you're seeing no improvement, try creating a [timeline](https://github.com/horovod/horovod/blob/master

[2019-10-21 20:29] tgaddair commented on #1456
Hey @zira-wang, let me make sure I understand your use case.  It looks like you're performing a shuffle on disk on worker 0 between each epoch, but while worker 0 is doing the shuffle, the other workers are proceeding ahead to the next epoch, is that right?

One thing I would suggest you do to workaround this is to make use of a barrier operation following the shuffle so that the other workers do

[2019-10-21 23:13] hanyucui opened #1457 "Question on PyTorch 1.3.0 compatibility"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3.0
3. Horovod version: 0.18.1
4. MPI version: 3.0.0 (OpenMPI)
5. CUDA version: 10.0
6. NCCL version: 2.4.7
7. Python version: 3.7
8. OS and version: Ubuntu 16.04 LTS

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/hor

[2019-10-22 02:17] zira-wang commented on #1456
Thank u. My bug has been solved。My bug has been solved. The reason for this error is that I did not replace "tf.gradients" with "optimizer.compute_gradients" .

[2019-10-22 02:20] #1456 closed

[2019-10-22 03:41] zira-wang commented on #900
i have same question. Have you solved this problem yet?

[2019-10-22 11:39] JohnTaylor2000 opened #1458 "Tensorflow 2 GPU Config error"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 2 stable
3. Horovod version: horovod/0.18.1-py36-cuda90-tf2
4. MPI version: openmpi/3.1.4-ofed45
5. CUDA version:9.0
6. NCCL version:nccl/2.3.7-cuda90
7. Python version: python/3.6.1
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question b

[2019-10-22 13:01] Marsyyh opened #1459 "Multi Machine crush with gloo::IoException"
Environment:

Framework: (TensorFlow, Keras, PyTorch, MXNet) PyTorch
Framework version: 1.2.0
Horovod version: Latest
MPI version: (Open MPI) 4.0.2
CUDA version: 9.2
NCCL version: 2.4.7
Python version: 2.7
OS and version: ubuntu 16.04
GCC version: 5.4
Bug report:
After installing Horovod with MPI, when I run the my trainning on multiple machines I get an error. When run on multi-gpus within the sa

[2019-10-22 15:08] tgaddair commented on #1459
Hey @Marsyyh, looks like MPI + Horovod didn't install correctly.  If you want to use MPI, you can try reinstalling Horovod with `HOROVOD_WITH_MPI=1 ... pip install --no-cache-dir horovod`, which will force Horovod to raise an error if MPI can't be installed.  Then you can post the error message here and we can help you debug it.

If you're okay using Gloo instead of MPI (performance should be the

[2019-10-22 15:54] tgaddair commented on #1457
Hey @hanyucui, there shouldn't be any issues running Horovod with PyTorch 1.3.0.  Our integration tests run against both a stable PyTorch version (currently 1.1.0) and nightly (currently 1.4.0.dev20191022), and we haven't seen any breaking changes from PyTorch in some time.  But of course, please let us know if something comes up!

[2019-10-22 16:03] tgaddair commented on #1458
Hey @JohnTaylor2000, is the `IndexError` coming from `gpus[hvd.local_rank()]`?  Can you try checking the lengths of that list on each on each node?

[code]

I suspect one of the nodes is reporting a different number of GPUs than the others.

Can you also try running the `tensorflow_mnist.py` example with an earlier version of TensorFlow and see if it produces a similar error?  I'd be curious to se

[2019-10-22 18:13] tgaddair commented on #1454
Thanks for the detailed investigation @zarzen!  @abditag2 is going to look into this on our side and see if we can reproduce / identify the source of the discrepancy.

[2019-10-22 22:03] JohnTaylor2000 commented on #1458
Travis,

I will give this a try and let you know how I go.

Best wishes,

John

From: Travis Addair <notifications@github.com>
Reply-To: horovod/horovod <reply@reply.github.com>
Date: Wednesday, 23 October 2019 at 3:03 am
To: horovod/horovod <horovod@noreply.github.com>
Cc: "Taylor, John (Data61, Black Mountain)" <John.Taylor@data61.csiro.au>, Mention <mention@noreply.github.com>
Subject: Re: [hor

[2019-10-23 01:57] tgaddair commented on #1445
Hey @Jarvis-Cai, I just released a new version of Horovod with pre-built CPU Docker containers.  You can find them here: https://hub.docker.com/r/horovod/horovod/

You'll want either tag `0.18.2-tf2.0.0-torch1.3.0-mxnet1.5.0-py2.7-cpu` or `0.18.2-tf2.0.0-torch1.3.0-mxnet1.5.0-py3.6-cpu` depending on which version of Python you prefer.  Hopefully you can pull the images from there.

I didn't includ

[2019-10-23 02:41] Jarvis-Cai commented on #1445
hi~@tgaddair ,get it. That's very kind of you. Thanks a lot.

[2019-10-23 03:09] Marsyyh commented on #1459
@tgaddair Thanks for the Guilding. This is solved by reinstall horovod on both machines with `HOROVOD_WITH_MPI=1 HOROVOD_GPU_ALLREDUCE=NCCL sudo pip install --no-cache-dir horovod` since I'm using MPI + Horovod

[2019-10-23 03:09] #1459 closed

[2019-10-23 03:45] hanyucui commented on #1457
Great. Thanks a lot, @tgaddair .

[2019-10-23 05:16] #1287 closed

[2019-10-23 10:55] maxhgerlach commented on #1381
We still observe this issue quite often. Might this be fixed in a more recent Horovod release?

[2019-10-23 11:50] plenari opened #1464 "Loss multiplied"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)
2. Framework version:
3. Horovod version:
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://github.com/horovod/horovod/blob

[2019-10-23 20:43] #1457 closed

[2019-10-23 20:44] #1445 closed

[2019-10-23 21:35] karan6181 commented on #1454
@zarzen Could you please also try and post your result with MXNet-1.5.1 or MXNet-1.5.0. Since you have the similar environment, it would be easy to compare across different frameworks.

MXNet Installation: https://mxnet.apache.org/get_started?version=v1.5.1&platform=linux&language=python&environ=pip&processor=cpu

Thanks!

[2019-10-24 09:45] stonephoenix commented on #551
If anyone stilling looking for a solution....
In my case, the reason is missing multiprocessing libs, such as mpich. Download mpich and add the bin path to $PATH and lib path to $LD_LIBRARY_PATH solves the problem.

[2019-10-24 12:56] eigenstate47 opened #1466 "Docker host networking"
Hi,

Can you run Horovod in Docker without using host networking but using the default bridge network instead, when each worker container lives on a separate Docker host?

I have an environment where I am restricted to the default bridge network for my containers but my containers live on separate hosts(1 Horovod container/worker per Docker host). I am mapping a set range of ports from the hosts t

[2019-10-24 16:15] zarzen commented on #1454
@karan6181 Hi, I just uploaded the tracing for mxnet, hope that helps.

[2019-10-24 17:36] #308 closed

[2019-10-24 19:21] zarzen opened #1468 "Installation with TensorFlow support failed on Mac OS"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14
3. Horovod version: 0.18.2
4. MPI version: 4.0.2
5. CUDA version: X
6. NCCL version: X
7. Python version: 3.7.1
8. OS and version: Mac Catalina
9. GCC version: clang version 11.0.0

**Bug report:**
Installation through `HOROVOD_WITH_TENSORFLOW=1 pip install horovod` fails, because of following error:
[code]

I think the problem i

[2019-10-24 21:28] hanyucui opened #1469 "Setup.py fails to detect the correct tensorflow 1.15.0 ABI"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.15.0
3. Horovod version: 0.18.1
4. MPI version: 3.0.0
5. CUDA version: N/A
6. NCCL version: N/A
7. Python version: 3.7.3
8. OS and version: Ubuntu 16.04
9. GCC version: 7.4

**Checklist:**
1. Did you search issues to find if somebody asked this question before?
2. If your question is about hang, did you read [this doc](https://githu

[2019-10-25 08:26] lxl910915 commented on #1454
Same issue. Allreducing a tensor with shape [1024, 1024], HorovodAllreduce takes 9ms, but pytorch 0.02ms.

[2019-10-25 10:58] y-vectorfield opened #1471 "How to run Horovod + Keras on CUDA9?"
Our team's GPU server is installed on CUDA9. However, the latest versions of Horovod on Docker needs CUDA10. We would like to know how to run Horovod Docker latest + Keras on CUDA9. Our team should install CUDA latest version 10 ??

[2019-10-25 16:25] hanyucui commented on #1469
OK, false alarm. There is something wrong with my tensorflow installation.

[2019-10-25 16:25] #1469 closed

[2019-10-25 20:13] zarzen opened #1472 "How to convert "ts" field in timeline trace file to standard datetime?"
**Environment:**
1. Framework: TensorFlow
2. Framework version: 1.14
3. Horovod version: 0.18.2
4. MPI version:
5. CUDA version:
6. NCCL version:
7. Python version:
8. OS and version:
9. GCC version:

**Your question:**
Hi there,
I am checking the timeline-file, following is part of the log
[code]
I am confused about the "ts" field, I think this is the "time-started", but how to interpret the numb

[2019-10-25 21:35] plopresti opened #1473 "Please make "cmake" name configurable"
**Is your feature request related to a problem? Please describe.**
This is not a huge problem because I can always put a script named "cmake" in my PATH to do whatever I want. But that is an ugly hack.

**Describe the solution you'd like**
Right now, when I do "envHOROVOD_WITH_GLOO=1 pip install horovod", the installer looks for "cmake" in its path. But on my system, the cmake binary is named "cma

[2019-10-28 00:21] tgaddair commented on #1472
Hey @zarzen, the time being printed being off is due to a bug with the initialization of the start time.  What it is intended to show you is the timestamp of the event since the timeline was initialized (roughly, the start of the program).  I can put together a quick fix for that so the timestamps make more sense.

It sounds like what you're interested in, however, is the system clock timestamp of

[2019-10-28 00:36] tgaddair commented on #1473
Hey @plopresti, thanks for the suggestion.  I just put together #1474 which would allow you to set `HOROVOD_CMAKE=cmake3` during install to work around this.  Let me know if that solution works for you.

[2019-10-28 00:52] tgaddair commented on #1471
Hey @y-vectorfield, one option is to upgrade to CUDA 10, as you said (that would be my recommendation).

If that's not an option for you, you can also build your own Docker image using our provided [Dockerfile](https://github.com/horovod/horovod/blob/master/Dockerfile.gpu) using CUDA 9, or use one of our older images with older versions of Horovod.  Images on DockerHub built with Horovod v0.16.4 (

[2019-10-28 02:29] zarzen commented on #1472
Hi @tgaddair , thanks for the quick response.
I am trying to fuse both timelines from horovod and tensorflow/pytorch, first. So we can get ideas of event relationship between the distributed operator, HOROVOD_ALLREDUCE and normal forward/backward operations.
multiple timelines are also possible coming from multiple machines, so we can have a general view of what's happening between servers.

[2019-10-28 02:29] y-vectorfield commented on #1471
Hello, @tgaddair
Thank you very much for your comments.
We tried to use Horovod V0.16.4, we found that this version of Dockerfile need to add Keras version ENV. If we build this Dockerfile without changes, we can not run Horovod on Docker.(import keras is terminated with import Error) Therefore, We would like to add ENV KERAS_VERSION=2.2.4 to this and submit a pull request.

[2019-10-28 03:57] Maxpa1n opened #1475 "RuntimeError: cuda runtime error"
**Environment:**
1. Framework: PyTorch
2. Framework version:1.1.0
3. Horovod version:0.18.2
4. MPI version:4.0.0
5. CUDA version:9.0.176
6. NCCL version:2.4.8-1
7. Python version:3.7.0
8. OS and version:ubuntu 16.04
9. GCC version:5.4.0

Please ask your question here.

`[1,0]<stderr>:THCudaCheck FAIL file=horovod/torch/cuda_util.cc line=32 error=35 : CUDA driver version is insufficient for CUDA ru

[2019-10-28 05:21] zh794390558 commented on #1449
follow this.

[2019-10-28 05:34] zh794390558 commented on #1449
@tgaddair where can i find the performance comparison with tensorflow?

[2019-10-28 17:10] tgaddair commented on #1468
Hey @zarzen, this issue was caused by an upstream bug in TensorFlow 1.14 with custom ops: https://github.com/tensorflow/custom-op/issues/13.  A fix was landed here https://github.com/tensorflow/tensorflow/pull/30656 and should be available in 1.15 versions.

[2019-10-28 17:16] tgaddair commented on #1449
Hey @zh794390558, what kind of performance comparison are you looking for?  We had a comparison of Horovod with Distributed TensorFlow (parameter servers) in the original [Horovod blog post](https://eng.uber.com/horovod/) from 2017.  For more up to date numbers, I'd suggest following our [benchmarks](https://github.com/horovod/horovod/blob/master/docs/benchmarks.rst) guide and comparing different

[2019-10-28 17:25] tgaddair commented on #1471
Hey @y-vectorfield, are you able to build the Docker image with your modifications?  The Dockerfiles provided are just intended to be used as an example, so shouldn't be any need to pin to a specific Keras version on master.

[2019-10-28 17:37] tgaddair commented on #1475
Hey @Maxpa1n, is it possible you have more than one version of CUDA on your system?  Could you try re-installing with the following flags as in #591:

[code]

[2019-10-28 17:39] tgaddair commented on #1447
Hey @jkbradley, we have an upcoming PR (see: https://github.com/horovod/horovod/compare/spark_estimator) that will ad much deeper integration of Horovod with Spark.  Would be great to chat more about some of the things we're doing and see if there's anything we could or should be doing differently for 3.0.

[2019-10-28 17:49] tgaddair commented on #1446
Hey @df19900725, can you try running one of our synthetic benchmark scripts in the [examples](https://github.com/horovod/horovod/tree/master/examples) directory and see if you get the same results.  If so, we can try creating a [timeline](https://github.com/horovod/horovod/blob/master/docs/timeline.rst) to dig into where things are slowing down.

[2019-10-28 18:04] tgaddair commented on #1426
Hey @honnibal, thanks for reaching out, and apologies for the late response.  This is a great suggestion, and would love to chat more with you about your plans for distributed spaCy.  As you said, I do know a number of people at Uber who are actively using it with great success.

[2019-10-28 18:10] tgaddair commented on #1425
Hey @passerbyd, thanks for the suggestion, and apologies for the late response.  This is a good suggestion.  Would you be interested in contributing this yourself?  If not, no worries, we can add it to the backlog.

[2019-10-28 18:14] zarzen commented on #1468
Thanks!

[2019-10-28 18:14] #1468 closed

[2019-10-28 18:22] tgaddair commented on #1417
Hey @ldd91, apologies for the late response.  Can you create a gist with a more complete repro for more context?

[2019-10-28 18:57] sourcecode369 commented on #511
thanks for the solution.

[2019-10-28 20:24] tgaddair commented on #1472
Thanks for clarifying @zarzen.  Given your use case, it sounds like having the timestamp be relative to the application start time would be the most useful solution.  I put together #1476 to address the issue of the timestamp not making sense, please take a look and let me know what you think.

[2019-10-28 20:59] plopresti opened #1477 "Provide mechanism to set -DUSE_NCCL=ON to Gloo build"
**Is your feature request related to a problem? Please describe.**
Unless I am missing something (?), it looks like there is no way for Horovod with Gloo to use NCCL.

**Describe the solution you'd like**
Any mechanism to set -DUSE_NCCL=ON in the cmake invocation for building Gloo

**Describe alternatives you've considered**
N/A

**Additional context**
The Gloo CMakelists.txt sets USE_NCCL_DEFAULT

[2019-10-28 22:01] tgaddair commented on #1477
Hey @plopresti, Horovod only uses Gloo for what we term our "control plane", which handles coordinating metadata between workers like which tensors to allreduce each step.  NCCL is used in our "data plane" to do the actual allreduce on the tensor data.  We manage NCCL ourselves, so there's no need to compile Gloo with NCCL support.  What is important for Horovod is to install Horovod with flags `H

[2019-10-28 22:23] y-vectorfield commented on #1471
Hello, @tgaddair,
Thank you very much for your message. I understand what you said. The Dockerfile on master should not pin to a Keras version.

[2019-10-28 23:27] plopresti commented on #1477
Ah, thanks.

`horovodrun --check-build` does have NCCL checked. Is there something else we need to do to use (or check that we are using) NCCL?

[2019-10-29 01:29] tgaddair commented on #1477
A couple other things to try:

1. Run one of the [example](https://github.com/horovod/horovod/tree/master/examples) benchmarks like `tensorflow_synthetic_benchmark.py`.  Try running with and without `--no-cuda`.  Performance should be much better without that flag.
2. Try creating a [timeline](https://github.com/horovod/horovod/blob/master/docs/timeline.rst).  The timeline should contain events th

[2019-10-29 01:38] Maxpa1n commented on #1475
Thank you,it is work!

[2019-10-29 01:38] gibiansky opened #1481 "Accelerate Allreduce of IndexedSlices via Compression"
**Is your feature request related to a problem? Please describe.**

When using `tf.gather` or `tf.nn.embedding_lookup`, the gradient is a `tf.IndexedSlices` object. Reducing these `IndexedSlices` can be slow.

**Describe the solution you'd like**

Apply FP16 gradient compression to `IndexedSlices`. Right now, [compression is only applied to dense tensors](https://github.com/horovod/horovod/blob/ma

[2019-10-29 01:40] #1475 closed

[2019-10-29 04:06] liuyongheng123 opened #1482 "When does the optim.step() execute allreducing the grad per step?"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet)  PyTorch 1.1.0
2. Framework version:
3. Horovod version:0.17
4. MPI version:4.01
5. CUDA version:
6. NCCL version:
7. Python version:3.6
8. OS and version:
9. GCC version:

**Checklist:**
1. Did you search issues to find if somebody asked this question before?   yes
2. If your question is about hang, did you read [this doc](https:/

[2019-10-29 07:30] chldmstj commented on #1340
I have same problem.
how did you fix it?

[2019-10-29 09:07] liuyongheng123 commented on #1482
Then I insert print code in the function "make_hook", and find the process "allreduce" of grad is operated in the function. So I get it that you guys use the observer mode. great!

[2019-10-29 09:08] #1482 closed

[2019-10-29 12:43] shailensobhee opened #1483 "Upgrade support of newer GCC/G++ compiler"
**Is your feature request related to a problem? Please describe.**
On newer version of Ubuntu (ex 18.04 or later) or CentOS 8, gcc versions 4.8 or 4.9 are old.
Besides, gcc 4.9 is more than 5 years old.
One should not see an issue like this on Ubuntu 18.04:
`INFO: Compiler /usr/bin/g++-4.8 (version 4.8.5) is not usable for this TensorFlow installation. Require g++ (version >=4.8.5 20150623 (Red Ha

[2019-10-29 14:46] shailensobhee commented on #1393
Same problem on CentOS:

**Environment:**

Framework: TensorFlow 1.14.0
Framework version:
Horovod version: latest
MPI version: Intel(R) MPI Library for Linux* OS, 2019.5.281
CUDA version: None
NCCL version: None
Python version: 3.6.8
OS and version: Cent OS 7
GCC version:  4.8.5 20150623 (Red Hat 4.8.5-36) (GCC)

[2019-10-29 15:42] tgaddair commented on #1483
Hey @shailensobhee, what version of TensorFlow are you using?  Horovod actually does support newer versions of GCC, but the problem here is that it appears your version of TensorFlow does not.

Prior to TensorFlow 1.15, TensorFlow binaries were built using G++ 4.X, which is ABI incompatible with G++ 5.X+.  If your version of TensorFlow was built with G++ 4, then we need to use G++ 4 to compile Hor

[2019-10-30 00:24] #1471 closed

[2019-10-30 11:30] TUMAAA commented on #676
Make sure to do that right after importing tensorflow and horovod otherwise it is ignored!

[2019-10-30 12:38] lxl910915 commented on #1454
We open HOROVOD_LOG_LEVEL=trace, and get that the process from Allreduce enqueued to response takes about 4ms. Three examples:
[code]

[2019-10-30 13:27] #1464 closed

[2019-10-30 14:53] zarzen commented on #1472
@tgaddair Thanks for the suggested fix. While the relative to the application start might not align well for fusing from multiple timelines in my opinion. e.g. TensorFlow profiler started at `T1`, horovod-profiler start from `T2`, if we use the relative time to plot them on the same timeline, we might inaccurate relative time between horovod-profiler and tensorflow-profiler, if `deltaT = abs(T1-T2

[2019-10-31 03:23] Tron-x opened #1487 "Why is bitvecotr a long long type"
![image](https://user-images.githubusercontent.com/7659413/67916348-5fc49980-fbd0-11e9-888e-89d662c8df58.png)
When I analyze the source code and read some articles, I understand that 0 or 1 should be stored in the bitvector, but why is the long long type here? I'm confused

[2019-10-31 07:02] lxl910915 commented on #1454
In RunLoopOnce() method, there is a sleep() method. but the sleep time is too long, it is 5ms - A. And A is one loop time. In our case, one loop time is about 1ms, so it will sleep 4ms. We change the sleep time to 10 nanoseconds, the performance increase about 80%.
[code]

If you do not want to build horovod, there is a env HOROVOD_CYCLE_TIME to change the sleep time. HOROVOD_CYCLE_TIME's default

[2019-10-31 14:57] tgaddair commented on #1454
Good find @lxl910915!  I would also suggest giving our [autotuner](https://github.com/horovod/horovod/blob/master/docs/autotune.rst) a try.  It will experiment with different values of the cycle time and fusion buffer to find the optimal values in your environment.  You can run it with `horovodrun --autotune` or `mpirun -x HOROVOD_AUTOTUNE=1`.

FYI, the cycle time can also be set in horovodrun wit

[2019-10-31 15:02] tgaddair commented on #1454
@zarzen, I would suggest giving the autotuner a try and seeing if that improves performance for TensorFlow.  Also, @romerojosh had mentioned that a possible cause for the different in `NEGOTIATE_ALLREDUCE` times might be due to the difference in when TensorFlow vs PyTorch submit tensors for allreduce, where one may be waiting for tensors to be ready while the other does not.

[2019-10-31 17:07] tgaddair commented on #1472
@zarzen, if we provided an option to use absolute system clock time instead of relative steady clock time, would that work for you?

[2019-10-31 17:23] Tron-x commented on #1487
Each long long in bitvector_ represents a maximum of 64 sensors. What about two long long elements in bitvector_? So what does the whole bitvector_ stand for?

[2019-11-01 02:25] VincentJing commented on #1487
@Tron-x as you say, each long long in bitvector_ represents a maximum of 64 sensors. in the bitvector, there are m long long elements, as a result, it can represent m * 64 tensors,  but the first element has NUM_STATUS_BITS to represent the status, and if the timeline enabled, there are some bits to represent, The  `long long` type can make it more efficient.

[2019-11-01 02:39] lxl910915 commented on #1454
We have tried `-x HOROVOD_AUTOTUNE=1 -x HOROVOD_AUTOTUNE_LOG=horovod_tune.log`. It will takes a long time to converge.

[2019-11-01 06:43] jasstionzyf opened #1490 "pytorch multi optimizer error"
i want to apply different learning rate at different layers within one model, so i write following code:
[code]
then
[code]
but throw error:
[code]

[2019-11-01 07:02] #1490 closed

[2019-11-01 07:04] jasstionzyf commented on #1490
not bug.   i have used pytorch optimizer wrong.
should like following way to support  layer wise learning rate:
[code]

[2019-11-01 14:49] tgaddair commented on #1454
Hey @lxl910915, is that 4 hours to finish autotuning, or 4 hours to train the model?  How long does it take to converge without autotuning?

[2019-11-01 19:17] zarzen commented on #1472
@tgaddair that would be great. Thanks!

[2019-11-01 20:34] zarzen opened #1491 "Does `optimizer.step()` function complete gradient update before next batch coming in?"
**Environment:**
1. Framework: PyTorch
2. Framework version: 1.3.0
3. Horovod version: 0.18.2
4. MPI version: 4.0.2
5. CUDA version: X
6. NCCL version: X
7. Python version: 3.7.1
8. OS and version: Ubuntu 16.04
9. GCC version:

**Your question:**
Does `horovod.torch.DistributedOptimizer.step()` function complete the gradient updates before next batch started forwarding process?
I have timed the `o

[2019-11-01 21:03] yselivonchyk opened #1492 "Horovod would not build with TF1.15 due to protobuf version mismatch"
**Environment:**
1. Framework: (TensorFlow, Keras, PyTorch, MXNet) Tensorflow
2. Framework version: 1.15
3. Horovod version: 0.18.2 (pip install horovod)
4. MPI version: 4.0.1
5. CUDA version: 10.0
6. NCCL version:
7. Python version: Python 3.6.6 :: Anaconda, Inc.
8. OS and version: 16.04
9. GCC version: gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.11)

**Bug report:**
Error while insta

[2019-11-02 00:00] tgaddair commented on #1492
Hey @yselivonchyk, can you try following the recommendations here: https://stackoverflow.com/questions/46235376/tensorflow-protobuf-version-mismatch

See #686.

[2019-11-02 00:15] tgaddair commented on #1491
Hey @zarzen, the allreduce will actually occur after the call to `loss.backward()` via a hook.  When `optimizer.step()` is called, the optimizer will synchronize to ensure all gradients have been aggregated.  So you would probably want to time both methods together.

[2019-11-02 00:30] larroy opened #1493 "Segmentation fault when the host list is incorrect"
**Environment:**
1. Framework: (MXNet)
2. Framework version: 1.6.0  e9e267ef7
3. Horovod version: 0.18.2
4. MPI version: 4.0.1
5. CUDA version: 10.1.105-1
6. NCCL version: 2.4.8-1+cuda10.1
7. Python version:  3.6.8
8. OS and version:  Ubuntu 18.04
9. GCC version:  7.4.0

**Checklist:**
1. Did you search issues to find if somebody asked this question before? yes
2. If your question is about hang, d