[2018-05-19 02:09] adavanisanti opened #274 "Horovod runtime problem mpi_lib.so: undefined symbol: __cudaPopCallConfiguration"
I have successfully installed horovod using the instructions. But when I try to run any example, I see the following error:

`import horovod.tensorflow  as hvd`

Error:
[code]

Environment:

Ubuntu 1604
CUDA 9.0
Python 2.7
Tensorflow 1.8.0
MPI 3.1.0

Any pointers on where to look?

Thanks
Santi

[2018-05-21 06:34] alsrgv commented on #273
@Kipok, I've pushed the change to re-wrap optimizer in a way you proposed in the branch `wrapped_tf_optimizer`.  [The change](https://github.com/uber/horovod/commit/b4e1816649b7b0297f839b40e821e812e582c15a) should simplify the wrapping logic quite a bit.  Can you verify that it works for your use case?

You can install it via:
[code]

[2018-05-21 18:39] adavanisanti commented on #274
Does MPI have to build `with-cuda` support?

[2018-05-21 19:44] vilmara commented on #272
Hi @alsrgv, the clusters have mellanox cards for the Infiniband network, but I am still getting the same warnings, how can I fix it?, does it will affect the performance?

[2018-05-21 20:11] Kipok commented on #273
Yes, now everything works, thanks for the quick fix!

[2018-05-21 21:01] alsrgv commented on #274
@adavanisanti, no, MPI does not need to be built with CUDA support.  Can you check `ldd /home/ubuntu/horovod/local/lib/python2.7/site-packages/horovod/common/mpi_lib.so` ?

[2018-05-21 23:11] #273 closed

[2018-05-21 23:27] adavanisanti commented on #274
@alsrgv Reinstalled everything from scratch and it is working now on a single GPU machine. I think the problem was with running.

`sudo apt install libnccl2 libnccl-dev`
instead of
`sudo apt install libnccl2=2.2.12-1+cuda9.0 libnccl-dev=2.2.12-1+cuda9.0`

[2018-05-21 23:45] alsrgv commented on #274
@adavanisanti, ah - that's possible.  Glad you got it working.

[2018-05-22 04:08] hsmyy opened #278 "support fp16"
does horovod want to support float16 communication?

[2018-05-22 05:25] alsrgv commented on #278
@hsmyy, can you provide more context - are you interested in using `float16` in broadcast or allreduce operations?  Are you planning to use [mixed precision](https://devblogs.nvidia.com/mixed-precision-training-deep-neural-networks/) training?

I can push out a branch with FP16 support if you'd like to try and report whether you see the same convergence as with FP32 gradient averaging.

[2018-05-23 05:51] alsrgv commented on #272
@vilmara, I don't think either of those has any adverse performance effects.

[2018-05-23 06:48] xieydd commented on #268
@alsrgv I solve this problem

I used calico,Thanks a lot

[2018-05-23 06:48] #268 closed

[2018-05-23 10:05] casparvl opened #279 "Undefined ompi symbols because mpi_lib.so fails to link to OpenMPIs libmpi.so"
**Issue**
When compiling Horovod with OpenMPI 2.1.1, the compilation completes without errors. However, when running e.g.
`import horovod.tensorflow as hvd`
I get the error
`OSError: /home/casparl/virtualenvs/tensorflow_cpu_oldmods_openmpi/lib/python2.7/site-packages/horovod/common/mpi_lib.so: undefined symbol: ompi_mpi_op_sum`

**Cause**
mpi_lib.so is not being linked to libmpi.so of the OpenMPI

[2018-05-23 19:45] vilmara commented on #272
@alsrgv, how can I make the additions explained in [Usage](https://github.com/uber/horovod#usage) from the command line?. do you have some example?. I am trying to save the checkpoints passing the flag --data_dir to the tensorflow benchmarks, but getting the below error:

< a lot of normal outputs>
....
2018-05-23 14:23:47.184453: W tensorflow/core/framework/op_kernel.cc:1318] OP_REQUIRES failed a

[2018-05-24 03:32] kuzemchik opened #280 "Horovod example is hanging on more the 1 GPU"
Hi, I cannot figure out why Horovod is not working for me.
It is working fine if I allocate only 1 GPU.
If I allocate 2+ It is hanging after first task sent to GPUs. GPUs are spinning 100% but nothing is happening.
I ran both tensorflow and pytorch examples.
I use cuda 9.1.
Latest OpenMPI.
Latest nvidia drivers.
Ubuntu 16.04.
[code]
I tried to do strace, but the output is huge, and I'm not fully s

[2018-05-24 05:48] alsrgv commented on #280
@kuzemchik, what interfaces do you have?  I see that you excluded enp5s0 from NCCL but included in MPI - that doesn't seem like a right combination.

[2018-05-24 05:54] alsrgv commented on #279
@casparvl, what output does `mpicxx -show` give you?

On my system I see the following, which does contain `-lmpi`.
[code]

[2018-05-24 05:57] alsrgv commented on #272
@vilmara, if you're running TF benchmarks, you can just pass `--variable_update horovod`, but if you're writing your own model you'll have to make those changes in your code.

As for your restore problem, is it possible that there is some old checkpoint?

[2018-05-24 06:55] ligc commented on #82
Thanks @seelam.  I ran into the same issue, the --mca btl_smcuda_use_cuda_ipc 0 resolved the issue.

[2018-05-24 09:27] hsmyy commented on #278
Hi, @alsrgv , as you said, I want to try mixed precision training using TF+horovod. If you can push out the FP16 branch, I will try it and give you some feedback about the precision and preformance. Thank you very much!

[2018-05-24 11:06] kuzemchik commented on #280
@alsrgv This is one of things I tried to change back and forth (found in one of questions where there were suggestion either exclude lo,docker from MPI or add another interface).
It didn't work in any case.
[code]

[2018-05-25 04:30] alsrgv commented on #280
@kuzemchik, can you try following the guide, but instead of excluding docker0, exclude tun0?

[2018-05-25 04:35] alsrgv commented on #279
@casparvl, I see - that makes sense.  We use `mpicxx -show` because it's supported by MPICH as well - https://www.mpich.org/static/docs/v3.1/www1/mpicxx.html

Does specifying HOROVOD_MPICXX_SHOW environment variable with custom show command help in your wrapper case?

[2018-05-25 04:42] kuzemchik commented on #280
@alsrgv Unfortunately that is where I started from. Just followed the guide.

[2018-05-25 04:43] alsrgv commented on #280
@kuzemchik, can you share the command with tun0 excluded?

[2018-05-25 05:00] kuzemchik commented on #280
@alsrgv Here:
[code]

[2018-05-25 05:04] alsrgv commented on #280
@kuzemchik, what's the reason to restrict btl to `self` and `tcp`? Usually `sm` or `vader` are required. I'd recommend keeping default.

[2018-05-25 05:10] kuzemchik commented on #280
@alsrgv no reason, just trying everything. It doesn't affect anything, it hangs anyway at the same spot.

[code]
[code]

[2018-05-25 05:12] alsrgv commented on #280
@kuzemchik, OK - good to rule out. What were the flags you built Horovod with? Can you capture output of `gdb -p pid`, `thread apply all bt` in a bist?

[2018-05-25 05:36] kuzemchik commented on #280
@alsrgv https://gist.github.com/kuzemchik/7b97f8890cfe385ca03f8422c77f68ee

[2018-05-25 07:09] alsrgv commented on #280
@kuzemchik, nothing immediately popped out.  Can you try with latest released NCCL 2.2.12?  If that does not help, please capture output of `strace -f -e 'trace=!poll' mpirun ...` into another gist.

[2018-05-25 12:26] casparvl commented on #279
How could I completely overlook that environment variable when I looked at the source code... Yes, setting that to 'mpicxx --showme:link' works!

Is it an idea to document somewhere a comprehensive list of all environment variables that Horovod uses? A number are mentioned in the troubleshooting.md, but they don't always stand out (HOROVOD_MPICXX_SHOW is only present in the Note that you apparentl

[2018-05-25 13:19] kuzemchik commented on #280
@alsrgv strace wrote 50M in 15 seconds. I attached the gzipped log. I kept it hanging for 10-15 seconds to make sure I capture stuff. [strace.log.gz](https://github.com/uber/horovod/files/2039426/strace.log.gz)

Also this is running on 2.2.12 now
[code]

[2018-05-25 22:07] kuzemchik commented on #280
@alsrgv I finally made some progress and made it work with ```export NCCL_P2P_DISABLE=1```. I still want to dig it through to understand why P2P doesn't work.

[code]

[2018-05-25 22:33] alsrgv commented on #280
@kuzemchik, great - that's what I was going to suggest next.  Do you have any weird errors in `dmesg`, like in #134 ?

[2018-05-25 22:36] alsrgv commented on #279
@casparvl, can you elaborate when people usually use compiler wrapper, like in your case?  That would help update documentation in a right way.  I also hope that users search for existing issues :-)

[2018-05-25 22:37] alsrgv commented on #278
@hsmyy, sounds good!  Will do that next week.

[2018-05-25 22:39] kuzemchik commented on #280
Ok, I think I found the problem. Because I'm using AMD Threadripper I needed to add "iommu=soft" to kernel parameters.
https://github.com/NVIDIA/nccl/issues/120
https://github.com/pytorch/pytorch/issues/1637#issuecomment-338268158

@alsrgv Thank you very much!

[2018-05-28 08:32] casparvl commented on #279
@alsrgv, I work on the Dutch national supercomputer and cluster computer. Since these are large, shared systems, we generally have many different versions of the same software installed. Users can change between versions by loading TCL modules. These modules prepend the .../lib and .../include dirs of the corresponding software to custom environment variables (SURFSARA_LIBRARY_PATH and SURFSARA_IN

[2018-05-29 14:06] jiajinyu opened #281 "Hang on hvd.init() with multiple nodes based on Docker"
the command I ran was
[code]

I print out stuff in tf_cnn_benchmarks.py and it hangs with no further output at the place calling hvd.init() in BenchmarkCNN.setup() :
https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/benchmark_cnn.py#L2533

I can confirm that I may ssh to host2 from host1 without any problem like this `ssh -p 12345 root@host2 -i  ~/.ssh/id_rsa_horovod`.

[2018-05-29 17:41] karthikvadla opened #282 "openmpi-controlller:0.0.3 image pull error"
Re-created in [kubeflow](https://github.com/kubeflow/kubeflow/issues/887)

[2018-05-29 21:15] alsrgv commented on #279
@casparvl, thanks.  Will incorporate this in the next doc update.

[2018-05-29 22:16] alsrgv commented on #281
@jiajinyu, can you connect to host3 as well?  Do you still experience this issue if you run a simple MNIST example, like in [docker instructions](https://github.com/uber/horovod/blob/master/docs/docker.md#running-on-multiple-machines)?

[2018-05-30 02:12] jiajinyu commented on #281
@alsrgv thanks for the prompt reply.

I can confirm I may login into host3. I am running the tensorflow_mnist.py and it still doesn't work.  Here is the command line I am using.
[code]

[2018-05-30 09:46] jiajinyu commented on #281
We solved the problem be specifically setting bond0 to NCCL and MPI as the only interface.

[2018-05-30 09:47] #281 closed

[2018-05-30 20:02] alsrgv commented on #282
Closing this issue since the problem was resolved in the Kubeflow tracker.

[2018-05-30 20:02] #282 closed

[2018-05-31 06:32] haNa-meister commented on #110
Hi!
I am working on a similar project now. And I encounter same issue when I use NCCL2 to run on 2 machines with 8 GPUs each.
This is my log:
![1](https://user-images.githubusercontent.com/34223424/40765432-04c02a42-64df-11e8-8d09-224caf0eb35e.png)
![2](https://user-images.githubusercontent.com/34223424/40765433-061c6996-64df-11e8-864c-8b0baba88074.png)
![3](https://user-images.githubusercontent.c

[2018-05-31 07:14] alsrgv commented on #110
@haNa-meister, can you try running with `-x NCCL_P2P_DISABLE=1` and seeing if it helps?

[2018-05-31 07:18] haNa-meister commented on #110
HI, I have already tried it before. I think this env will let NCCL try to use shm. And the error massage like:
![4](https://user-images.githubusercontent.com/34223424/40767703-d8b242a8-64e5-11e8-9811-86df44542c2e.png)

[2018-05-31 07:34] haNa-meister commented on #110
On my gosh!
It seems work now!
In fact, we have a really big data set to test.
When I done this I will post my error massage on this issue, it may also help your platform.
Anyway, so thank you for your help!!!
May I have one more question if we disable p2p and shm, how does nccl communicate between multi machines? Maybe RDMA?

[2018-05-31 07:36] alsrgv commented on #110
@haNa-meister, great!  Yes, it will use RDMA to communicate between every GPU pair if both P2P and SHM are disabled.  Do you see any messages in `dmesg` as you run your test that could indicate issue with P2P/SHM?

[2018-05-31 07:39] haNa-meister commented on #110
I did not take attention to this I will check this later today.
And I think if we disable p2p and shm, the performance will decrease a lot, is that right?
Because I have tested that NCCL1 is 30% faster than normal algorithms and allreduce from baidu.

[2018-05-31 07:43] alsrgv commented on #110
@haNa-meister, the decrease in performance will depend on few things.  Somehow NCCL thinks that both machines are supposed to share all the resources.  Normally, I've seen this happen if both machines have the same hostname, but you're saying you've already fixed that?

[2018-05-31 07:51] haNa-meister commented on #110
I am positive that these two machines have different hostname.
And when I enable p2p dmesg has that:
[504615.873198] CPU31: Package power limit normal
[513819.673902] traps: titan_for_serve[58922] general protection ip:7fae46ab0208 sp:7ffc3ac67ec0 error:0 in libc-2.17.so[7fae46a34000+1b8000]
[524968.829720] traps: titan_for_serve[59461] general protection ip:7fc9ead15208 sp:7ffd82a59e30 error:0 in

[2018-05-31 07:55] haNa-meister commented on #110
otherwise there is no massage related to p2p or shm I think

[2018-05-31 08:10] alsrgv commented on #110
@haNa-meister, nothing really stands out in that log.  Can you try to upgrade to latest NCCL 2.2?  If that doesn't help, you can raise an issue at [NVIDIA Dev Zone](https://developer.nvidia.com/) against NCCL.

[2018-05-31 18:55] whbrewer opened #284 "pytorch_mnist.py example ValueError"
Running the `pytorch_mnist.py` example with PyTorch 0.4 and Horovod 0.13.2 gives the following error on its first broadcast call.  I'm using Python 3.6 from the Anaconda 5.1 distro, Horovod was built with the OpenMPI libs, using GCC 7.2.0 on SLES12.  Appreciate if anyone has ideas how to fix this.

[code]

[2018-05-31 19:42] alsrgv commented on #284
@whbrewer, thanks for reporting this issue!  Can you share the command you used to install horovod?  Also, could you uninstall and re-run it with `<flags> pip install -v --no-cache-dir horovod` and share the output?

[2018-05-31 20:41] whbrewer commented on #284
@alsrgv Your suggestion of running `<flags> pip install -v --no-cache-dir horovod` gave the same error.  We didn't set any specific flags.  Should we have?  We originally installed with simply `pip install --user horovod`, which installed Horovod with no errors.  Thanks

[2018-05-31 20:51] alsrgv commented on #284
@whbrewer, could you share the output of installation with `-v` and `--no-cache-dir` flags?  I want to see if there are any errors/warnings during the compilation.

For best performance on a server with GPU, you should install with NCCL.  See [this guide](https://github.com/uber/horovod/blob/master/docs/gpus.md) for more info.

[2018-05-31 20:59] whbrewer commented on #284
I'm working with @bapriddy on this issue.  He is going to post the output from `pip install -v --no-cache-dir horovod`.  Is it worth installing NCCL if

[2018-05-31 21:01] whbrewer commented on #284
I'm working with @bapriddy on this issue.  He is posting the output from `pip install -v --no-cache-dir horovod`.

Question: is it worth installing NCCL if you only have one GPU per node?  We may try it on another system that has NCCL installed.

[2018-05-31 21:03] bapriddy commented on #284
Here is the output from the pip install -v --no-cache-dir horovod

Traceback (most recent call last):
  File "pytorch_mnist.py", line 90, in <module>
    hvd.broadcast_parameters(model.state_dict(), root_rank=0)
  File ".../python3.6/site-packages/horovod/torch/__init__.py", line 147, in broadcast_parameters
    handle = broadcast_async_(p, root_rank, name)
  File ".../python3.6/site-packages/horo

[2018-05-31 21:03] alsrgv commented on #284
It will still be better even with 1 GPU per node - because NCCL will use GPU to perform gradient averaging.  Looking forward to the log.

[2018-05-31 21:04] alsrgv commented on #284
@bapriddy, that's the output of running `mpirun ... python pytorch_mnist.py`, but I'd like to see the output of horovod installation via `pip install -v --no-cache-dir horovod`.  Please make sure to uninstall horovod first.

[2018-06-01 13:46] bapriddy commented on #284
[code]

[2018-06-01 17:18] PubChimps commented on #284
seeing similar errors on install... was this resolved?

[2018-06-01 17:36] SrivastavaKshitij opened #286 "Tweaking horovod: Sharing weights instead of gradients"
Hi @alsrgv

I am trying to use horovod in a different way and for that I need to all-reduce weights of layers instead of gradients. Is there a way I can do that. I am using horovod + pytorch on Summit supercomputer.

Thanks
Kshitij Srivastava
ORNL

[2018-06-01 18:53] alsrgv commented on #284
@bapriddy, thanks for sharing the log. It's really helpful.

@whbrewer, @PubChimps, I'm looking into resolving this issue.  I was able to run `pytorch_mnist.py` example with Python 3.6, Miniconda, PyTorch 0.4.0 and Horovod 0.13.2 in my environment, so I'll need to ask a few questions to understand the issue further.

Can you do the following and share the output:
1. `find ~ | grep horovod | grep m

[2018-06-01 19:06] PubChimps commented on #284
can you try a new env? my problem seems to be that I cannot even install

`pip install horovod`
`Command "/anaconda3/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/9d/4k_jv5pd7xg3ht95s25xwg6m0000gn/T/pip-install-utd76oxt/horovod/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" in

[2018-06-01 19:11] alsrgv commented on #284
@PubChimps, what's your `pip --version`?

[2018-06-01 19:14] PubChimps commented on #284
@alsrgv 10.0.1

[2018-06-01 19:18] alsrgv commented on #284
@PubChimps, [this](https://stackoverflow.com/a/31499596) StackOverflow answer suggests running:
[code]

[2018-06-01 19:22] alsrgv commented on #110
@haNa-meister, excellent! :-)

[2018-06-01 19:34] PubChimps commented on #284
I didnt have setuptools, but after running that command and installing setuptools i still get the same error for horovod

[2018-06-01 19:37] alsrgv commented on #284
@PubChimps, can you share the full output between `$ pip install ...` to the last line of failure?

[2018-06-01 19:44] PubChimps commented on #284
[code]

[2018-06-01 20:03] alsrgv commented on #284
@PubChimps, so this is the actual error:
[code]

Can you make sure your MPI is in `$PATH`?  If you don't have MPI installed, you can install Open MPI by following [this guide](https://www.open-mpi.org/faq/?category=building#easy-build).

Also, if your server(s) have GPUs, I recommend installing [with NCCL](https://github.com/uber/horovod/blob/master/docs/gpus.md) as you will get a better performan

[2018-06-02 09:52] alsrgv commented on #286
@SrivastavaKshitij, great to see one of the first Horovod + PyTorch usages! You should be able to do something along the lines of:
[code]

[2018-06-02 13:56] Sroy20 opened #287 "PyTorch MNIST example spawns multiple processes in the same GPU"
Hi,

Thanks for the awesome package. I was trying to play around with the PyTorch MNIST example. I have a server with 2 K80s i.e. 4 GPUs and previously I have successfully used Horovod to run Keras programs on them.

However, when I ran the PyTorch program, it spawned 4 processes on GPU 0 and none on the other 3. Screenshots to explain things better:

1. First I ran "python main.py" and nvidia-smi

[2018-06-02 16:43] vilmara opened #288 "Performance tuning parameters for Horovod-TensorFlow benchmarks"
Hi all, can you recommend a set of tuning parameters to get the highest performance (throughput images/sec) using Horovod-TensorFlow benchmarks? . I got the below result and I was wonder if there is room for more improvement:

`mpirun -np 8 -H 192.168.11.1:4,192.168.11.2:4 -x NCCL_IB_DISABLE=0 -x NCCL_SOCKET_IFNAME=ib0 --mca plm_rsh_args "-p 50000" -x python tf_cnn_benchmarks.py --data_dir=/data/i

[2018-06-02 19:29] alsrgv commented on #287
@Sroy20, this is fairly strange. The code path dealing with `hvd.local_rank()` is actually shared among Keras and PyTorch.

Do you see the same issue when running the https://github.com/uber/horovod/blob/master/examples/pytorch_mnist.py example?

What if you run this simple program, what is the output?
[code]

[2018-06-02 19:47] alsrgv commented on #67
Closing this issue due to inactivity.  Please feel free to re-open if you have additional questions.

[2018-06-02 19:47] #67 closed

[2018-06-02 19:48] alsrgv commented on #100
Closing this issue due to inactivity.  Please feel free to re-open if you have additional questions.

[2018-06-02 19:48] #100 closed

[2018-06-02 19:49] #102 closed

[2018-06-02 19:49] #107 closed

[2018-06-02 19:49] alsrgv commented on #112
Closing this issue due to inactivity.  Please feel free to re-open if you have additional questions.

[2018-06-02 19:49] #112 closed

[2018-06-02 19:50] #114 closed

[2018-06-02 19:50] alsrgv commented on #118
Closing this issue due to inactivity.  Please feel free to re-open if you have additional questions.

[2018-06-02 19:50] #118 closed

[2018-06-02 19:51] alsrgv commented on #124
Closing this issue due to inactivity.  Please feel free to re-open if you have additional questions.

[2018-06-02 19:51] #124 closed

[2018-06-02 19:52] alsrgv commented on #130
Closing this issue due to inactivity.  Please feel free to re-open if you have additional questions.

[2018-06-02 19:52] #130 closed

[2018-06-02 19:52] alsrgv commented on #132
Closing this issue due to inactivity.  Please feel free to re-open if you have additional questions.

[2018-06-02 19:52] #132 closed

[2018-06-02 20:06] vilmara commented on #288
hi @alsrgv, the system has 2 nodes with 4 V100 GPUs each, a single node produces around 255 images/second.

I have run the benchmark with parameter tuning for only a single node and I got even higher throughput; I tried these parameters with horovod but I got errors.

Here is the result for Single Node with regular TF benchmark without horovod
With tuning parameters: --batch_size=128 --use_fp16=Tr

[2018-06-02 20:37] alsrgv commented on #288
@vilmara, can you try using `--use_fp16=True` for horovod as well?

[2018-06-02 22:55] David-Levinthal commented on #132
The issue has to do with minimizing the layers of sw to get a correct hw
performance evaluation, so avoid virtualenv, docker, etc.
This is the only sw package we have encoutered where we could not jse
pythonpath.

On Sat, Jun 2, 2018, 12:52 PM Alex Sergeev <notifications@github.com> wrote:

[2018-06-03 01:31] Sroy20 commented on #287
Hi @alsrgv

Thanks for your quick reply. Yes, actually that was the example (pytorch_mnist.py) I was renamed. I just renamed it to main.py in my case.

I ran the simple program in my PyTorch environment and here is the output:
<img width="488" alt="screen shot 2018-06-03 at 11 29 03 am" src="https://user-images.githubusercontent.com/20379348/40882307-639630a4-6721-11e8-8f81-3637aaa56d87.png">

It

[2018-06-03 01:37] alsrgv commented on #288
@vilmara, the best performance I got with (ResNet-50, batch size 64, FP16, V100 with NVLink, real data) combination is ~616 img/sec.  If you have NVLink, you should get ~80-85% scaling efficiency within the node - so ~2464 img/sec on 4 GPUs.  You may get slightly better numbers since you're using a little higher batch size.  Scaling efficiency between nodes will depend on your network.  It looks l

[2018-06-03 01:45] alsrgv commented on #287
@Sroy20, what's the output of `pip freeze` in your PyTorch and Keras environments?

[2018-06-03 01:52] alsrgv commented on #132
@David-Levinthal, is it still an issue for you?  I'm not familiar with installing packages via setting PYTHONPATH.  Is this PYTHONPATH an empty directory, or you need to seed it with something, e.g. a Python installation?

Separately, AFAIK `virtualenv` does not introduce a virtualization layer and so does not have any impact on the hardware performance.  Pure convenience with no performance cost.

[2018-06-03 02:48] Sroy20 commented on #287
Hi @alsrgv

Here is the output of pip freeze in the PyTorch environment:
<img width="538" alt="screen shot 2018-06-03 at 12 46 53 pm" src="https://user-images.githubusercontent.com/20379348/40882657-317bb340-672c-11e8-9bc9-9c7703c807b2.png">

And here is the output of the same command in my Keras environment:
<img width="541" alt="screen shot 2018-06-03 at 12 47 09 pm" src="https://user-images.git

[2018-06-03 03:13] cheyang opened #290 "Running Horovod with helm chart in Kubernetes"
Hello,

I'm the author of [horovod helm chart](https://github.com/kubernetes/charts/tree/master/stable/horovod).  The horovod helm chart can deploy official horovod docker image with following features:

1. support official horovod docker image : uber/horovod:0.12.1-tf1.8.0-py3.5
2. support both host network and overlay network
3. customize the ssh port for  MPI connection without changing the doc

[2018-06-03 04:53] Sroy20 commented on #287
@alsrgv Thanks for helping out! Here you go:

For PyTorch environment:
<img width="522" alt="screen shot 2018-06-03 at 2 49 34 pm" src="https://user-images.githubusercontent.com/20379348/40883354-b3a09316-673d-11e8-8535-029aab25d769.png">
<img width="510" alt="screen shot 2018-06-03 at 2 50 22 pm" src="https://user-images.githubusercontent.com/20379348/40883355-bd892082-673d-11e8-8356-2d8ebf1526b0

[2018-06-03 05:15] alsrgv commented on #287
@Sroy20, let's try the basics. What's the output of:
1. `ldd /path/to/conda/envs/pytorch/lib/python3.6/site-packages/horovod/common/mpi_lib.cpython-36m-x86_64-linux-gnu.so`
2. `ldd /path/to/conda/envs/tf_py36/lib/python3.6/site-packages/horovod/common/mpi_lib.cpython-36m-x86_64-linux-gnu.so`
3. `mpirun -np 4 bash -c 'echo $OMPI_COMM_WORLD_LOCAL_RANK'` (in both environments)

[2018-06-03 05:34] alsrgv commented on #287
@Sroy20, now I see your problem and I was able to reproduce :-)

If you look at the list of libraries, you have `libmpi` pointing to MPICH.  However, when you run the script you're using Open MPI.  Since MPICH does not know about Open MPI, it thinks that you just start 4 separate "python main.py" processes, that's why each of them gets `rank` = 0.

Assuming `which mpicxx` points to `/usr/local/bin

[2018-06-03 05:49] Sroy20 commented on #287
@alsrgv Yes, it works after reinstalling Horovod! You are a champ - thank you so much!

[2018-06-03 05:55] #287 closed

[2018-06-04 08:58] cheyang commented on #290
Thank you. I have checked with my boss. I'm not able to sign the CLA without the lawyer's permission. Since it's only updating the docs, can you do me the favor to help update?

[2018-06-04 12:03] SrivastavaKshitij commented on #278
Hi guys. Any update on fp16 support ?

[2018-06-04 18:50] bapriddy commented on #284
@whbrewer @alsrgv

Okay.  I got everything to work in parallel.  It was my environment and not related to pytorch_mnist.py.  I had to reinstall everything anaconda/miniconda pytorch and horovod into my home directory and unload all the sys env variables then send to each node.   I tested it with anaconda and miniconda.  The pre-installed anaconda we have would not work because of some issues with

[2018-06-05 01:41] ankurhanda opened #291 "Tensorflow apply_gradients with horovod"
[code]

I just want to make sure that this will do parameter averaging. In the horovod code https://github.com/uber/horovod/blob/8a36f3bb6ec089fa69ab033a4eb8ee63ad5ae50e/horovod/tensorflow/__init__.py#L193 I'm not sure if it is doing averaging? I saw another thread here https://github.com/uber/horovod/issues/273. Ideally, I'd like to do apply_gradients on each GPU and then do parameter averaging a

[2018-06-05 02:58] ankurhanda commented on #291
Will this do parameter averaging after applying?
[code]

[2018-06-05 12:33] SrivastavaKshitij commented on #286
Thanks @alsrgv 👍

[2018-06-05 13:56] vilmara commented on #288
Hi @alsrgv, I have infiniband, the NIC's speed is 100 GB/s, I have NVLink, I ran the test adding the flag --datasets_num_private_threads=4 and it boosted ~500 img/sec per gpu, so ~4000 img/sec on 8 GPUs; however, I still don't reach the performance you mentioned.

Here is the command I used:
`
mpirun -np 8 \
-H 192.168.11.1:4,192.168.11.2:4 \
-x NCCL_IB_DISABLE=0 \
-x NCCL_SOCKET_IFNAME=ib0 \
--mc

[2018-06-05 19:39] Hoileong89 opened #293 "3D CNN model with large input image size"
Hi, I would like to train a 3D model with large input image size (e.g. 512x512x512), which can't train using a single GPU. How could I use horovod to train my model if I have 4 GPUs?

[2018-06-05 20:40] alsrgv commented on #278
Hi @hsmyy,

I've pushed two branches with FP16 support:
1. https://github.com/uber/horovod/tree/fp16 - SUM, then divide by # of workers
2. https://github.com/uber/horovod/tree/fp16_divide_before_sum - divide by # of workers, then SUM.

I'd love if you try both.  The first addresses vanishing gradient problem, while the second addresses gradient overflow problem.

You can install directly from git

[2018-06-05 20:42] alsrgv commented on #293
@Hoileong89, are you not able to train it on a single GPU because you're running out of GPU memory, or because it's too slow?

[2018-06-05 20:50] alsrgv commented on #291
@ankurhanda, instead of doing parameter averaging, `hvd.DistributedOptimizer()` does gradient averaging:
![image](https://user-images.githubusercontent.com/16640218/41001999-5e22b960-68c7-11e8-975d-198bb5e5086a.png)

Do you see a specific need to do parameter averaging instead?

[2018-06-05 20:54] ankurhanda commented on #291
Imagine RL agents training in parallel but each one having their own learning rate so you cannot just do gradient averaging in that case. I added hvd.allreduce(var) that seemed sensible to me but wanted to check with you if you think otherwise? Let me know please.

[2018-06-05 21:06] alsrgv commented on #291
I see.  Yes, you can remove `hvd.DistributedOptimizer()` altogether, and after applying the gradients average the variables in the way you described.

[2018-06-05 21:07] ankurhanda commented on #291
OK --- cool. That is reassuring. Thank you. I will close the issue.

[2018-06-05 21:07] #291 closed

[2018-06-05 21:14] alsrgv commented on #288
@vilmara, great!

Sorry - I made a mistake in the expected number that I published.  With batch size 64, ~2000-2100 img/sec on 4 GPUs are expected within a node.

I don't have numbers for batch size 128 - what performance are you getting within a node in your setup?

[2018-06-05 22:02] vilmara commented on #288
Hi @alsrgv, I am getting ~500 img/sec per gpu, so ~4000 img/sec on 8 GPUs with batch size 128

[2018-06-05 22:52] alsrgv commented on #288
@vilmara, do you also get ~500 img/sec per GPU with 4 GPUs within node?

[2018-06-06 03:26] lxl910915 commented on #100
@alsrgv Hi, the same problem with us. We are trying to run object detection on horovod using docker. I have the same problem when running on one machine with 2 GPUs. I have TF 1.4, horovod 0.13.3 and openmpi 3.0.0.

Our command is run on k8s, we start two pods and each pod's command is like that:

mpirun -np 2 -H pod1:1,pod2:1 -bind-to none -map-by slot -x LD_LIBRARY_PATH python /tmp/train.py

it

[2018-06-06 03:29] #290 closed

[2018-06-06 09:29] Hoileong89 commented on #293
I am running out of GPU memory. I am training it based on a FCN model.

[2018-06-06 12:34] lxl910915 commented on #100
@alsrgv In addtion, it is works for  [tensorflow_mnist](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py) demo. However, nvidis-smi shows only one GPU is used, even though we  start two pods on a node.

[2018-06-06 12:35] wangguangyuan opened #295 "error: Your TensorFlow version is outdated. Horovod requires tensorflow>=1.1.0"
HOROVOD_NCCL_HOME=/home/guangyuan/nccl_2.2.13-1+cuda9.0_x86_64 HOROVOD_WITH_TENSORFLOW=1 H                                  OROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod --user
Collecting horovod
  Downloading https://files.pythonhosted.org/packages/ea/3d/4f36c30798d6feb5e81234693a8e5f4b57e02539603ffb1bc8af47b723b7                                  /horovod-0.13.3.tar.gz (93kB)
    1

[2018-06-06 12:38] wangguangyuan commented on #295
my tensorflow version is 1.6.0

[2018-06-06 15:07] vilmara commented on #288
Hi @alsrgv, sorry I got it, here are the results within node:
with only 1 GPU: ~644 img/sec
with 4 GPUs:  : ~595 img/sec per gpu,  ~2381 img/sec

[2018-06-06 19:09] alsrgv commented on #295
@wangguangyuan, can you provide an output of `pip freeze` immediately after the failure?

[2018-06-06 19:35] alsrgv commented on #293
@Hoileong89, one way to solve this is to do hybrid model/data parallel approach - place the first couple of layers on one GPU and the rest on another, or split among 4 GPUs.  See [this thread](https://github.com/uber/horovod/issues/96#issuecomment-360964021) for more examples.

[2018-06-07 07:44] hsmyy commented on #278
Hi @alsrgv , Thank you very much, I will try both branches and give you some feedback!

[2018-06-07 11:51] burness opened #297 "horovod hang on with TensorBoard"
I run my job successfuly with no TensorBoard:

![image](https://user-images.githubusercontent.com/3112825/41097844-f58e715c-6a8b-11e8-9984-a0c97c811d85.png)
But if I uncomment the `callbacks.append(keras.callbacks.TensorBoard(config.log_dir, histogram_freq=1, batch_size = config.batch_size, write_grads=True))`

It seems to be hang on and here is the log:
![image](https://user-images.githubusercont

[2018-06-07 12:53] alsrgv commented on #297
@burness, does the training proceed after this warning or it hangs forever?

[2018-06-07 16:14] vilmara commented on #288
hi @alsrgv, here are the outputs for NCCL lines, C4140-V100-1 is the primary host and C4140-V100-2 is the secondary host:

C4140-V100-1:24:201 [0] misc/ibvwrap.cu:61 WARN Failed to open libibverbs.so[.1]
C4140-V100-1:24:201 [0] INFO Using internal Network Socket
C4140-V100-1:24:201 [0] INFO Using NCCL Low-latency algorithm for sizes below 16384
C4140-V100-1:24:201 [0] INFO NET : Using interface ib

[2018-06-07 19:51] gtbai opened #298 "mpirun error when running tensorflow_mnist.py with multiple processes"
Hi all,

I was trying to run one of the example tensorflow script with multiple processes on my mbp, but met an mpirun error when I do that. Here is the error message I got:

[code]

 The bash script I run is as follows:
[code]
And after the job terminated, there is nothing in the ```stdout``` and ```stderr``` file of all ranks.

The version of Open MPI I have on my mbp (returned by running ```mpi

[2018-06-07 20:04] janhuang6 opened #299 "Horovod in industry application"
My team is evaluating using Horovod. We want to know is Horovod ready for industrial application, or is it more academic for research purpose? Does anyone use it in industrial customer facing product and how did that do? Thanks!

[2018-06-07 20:36] gtbai commented on #298
To follow up, I modified the ```tensorflow_mnist.py``` script a bit by adding some debug print statements in ```main()```, before and after ```hvd.init()```, like follows:

[code]

And "in main()" did get printed twice in the terminal, while "after init()" never got printed. Seems like there is some issue with the "hvd.init()" statement.

Did I miss something with my installation?

[2018-06-07 22:30] alsrgv commented on #298
@gtbai, try running with `-mca btl ^tcp`. For some reason, Open MPI TCP fails on MBP.

[2018-06-07 22:43] alsrgv commented on #299
@janhuang6, is the product a platform for deep learning training or deep learning is used to train the model used in the product?

In either case, many companies like [AWS](https://aws.amazon.com/blogs/machine-learning/aws-deep-learning-amis-now-include-horovod-for-faster-multi-gpu-tensorflow-training-on-amazon-ec2-p3-instances/), [Databricks](https://docs.databricks.com/applications/deep-learning

[2018-06-07 22:45] gtbai commented on #298
@alsrgv Thanks a lot, that works!

By the way, does this happen for Linux/Ubuntu as well?

[2018-06-07 22:46] alsrgv commented on #298
@gtbai, no - on Linux it works fine.  I'm not sure why it fails, but I'm quite confident that Open MPI folks would be super happy to take a PR that would fix it :-)

[2018-06-07 22:48] gtbai commented on #298
I see ;-).
Thanks for the help, and I would close this issue.

[2018-06-07 22:48] #298 closed

[2018-06-07 22:49] alsrgv commented on #288
@vilmara, good news - there is software room for improvement :-)

`C4140-V100-1:27:199 [3] misc/ibvwrap.cu:61 WARN Failed to open libibverbs.so[.1]` indicates that Mellanox drivers are not installed.

`C4140-V100-1:24:201 [0] INFO 7 -> 0 via NET/Socket/0` indicates that communication is happening over sockets instead of IB.

Hopefully, these two pointers will help:
1. https://community.mellanox.co

[2018-06-08 04:27] alsrgv commented on #100
@lxl910915, for the second issue with `tensorflow_mnist.py` example, what was the exact `mpirun` command?

[2018-06-08 06:30] burness commented on #297
No, It hang forever @alsrgv

[2018-06-08 11:36] lxl910915 commented on #100
@alsrgv , for the first issue, we have resolved it.
And for the second one, the command is 'mpirun -np 2 -H pod1:1,pod2:1 -bind-to none -map-by slot -x LD_LIBRARY_PATH python /tmp/tensorflow_mnist.py'

[2018-06-08 13:53] vilmara commented on #288
hi @alsrgv, I have installed Mellanox driver and GPUDirect RDMA API, and loaded the GPUDirect kernel module  on each server; also I have checked its status to make sure  GPUDirect RDMA is active and I realized it is not recognized inside horovod docker, see below:

Outside the docker:
`service nv_peer_mem status`
Output
● nv_peer_mem.service - LSB: Activates/Deactivates nv_peer_mem to \ start at b

[2018-06-08 18:27] pablete opened #300 "Running Horovod on p2.8xlarge (8 GPUs)"
I am using the latest Dockerfile from master (as of June 8 2018)
And running the examples (say /examples/tensorflow_mnist.py) with

[code]

Works fine, uses all gpus (8) and finish as expected.
But the output is full of errors like these:

[code]

I do not know if this is introduced by horovod , nccl, or it is a glitch of the hardware used.

Is this normal?
where should I look in order to find out

[2018-06-08 20:14] alexcordover opened #301 "Can't run distributed Horovod on LAN?"
I have 2 servers with 4 gpus each that I'm trying to use Horovod with. Horovod trains my model on each machine locally, but I have been unable to distribute the training between the computers. I am using Horovod in Docker for reference.

Within the master container, I can do passwordless ssh with `ssh -p 22 10.0.0.36` which takes me into the shell of the other machine as the root user. However, wh

[2018-06-08 20:56] alsrgv commented on #301
@alexcordover, I believe the issue is that you're trying to ssh to the host, while you should be sshing to the container running on the other host.  As per https://github.com/uber/horovod/blob/master/docs/docker.md, can you try running sshd in the docker on the other host on custom port and using that port number when you do distributed mpirun?

[2018-06-08 20:57] alsrgv commented on #300
@pablete, it's [expected](https://github.com/uber/horovod/blob/master/docs/docker.md).  If you run docker in privileged mode, it will disappear, but AFAIK it's not harmful.

[2018-06-08 21:01] alsrgv commented on #288
@vilmara, you need two more things:
1. Extend Dockerfile to install Mellanox drivers - the same version as the version running on the host.
2. Plumb through the appropriate devices. The simplest way is to run Docker in --privileged mode.

Mellanox has much more detail in this document: https://community.mellanox.com/docs/DOC-3014#jive_content_id_Create_or_pull_a_base_image_and_run_Container, but I

[2018-06-08 21:02] alsrgv commented on #297
@burness, very interesting.  Does that still happen if you don't set `histogram_freq=1, batch_size = config.batch_size, write_grads=True`, just write summaries?

[2018-06-08 21:03] alsrgv commented on #100
@lxl910915, if -H pod1, pod2 ends up running both processes on the same server, it feels like both pods are running on the same server?  You may need to specify anti-affinity of pods.

[2018-06-08 21:29] alsrgv commented on #288
@vilmara, you can either edit [Horovod Dockerfile](https://github.com/uber/horovod/blob/master/Dockerfile), or make your own Dockerfile and specify `FROM uber/horovod:0.13.4-tf1.8.0-torch0.4.0-py2.7` or another version that you prefer and install drivers there.

This guide has a good introduction to Docker: https://docs.docker.com/get-started/

[2018-06-08 21:59] vilmara commented on #288
@alsrgv , whenusing the command for the option 1 it is throwing this error:  Error response from daemon: pull access denied for mellanox/hpcx-2-0, repository does not exist or may require 'docker login'.  I logged into the docker but still getting the same error

[2018-06-08 22:48] alsrgv commented on #288
@vilmara, I found this image - https://hub.docker.com/r/mellanox/hpcx20_docker/, but I haven't personally tried it.

[2018-06-08 22:49] alsrgv commented on #288
I don't think their docker would container CUDA / NCCL / TF though.  So it may be easier to start with Horovod docker and just install MLNX_OFED using their installation script.

[2018-06-09 11:57] burness commented on #297
@alsrgv  I try, if i don't set these config, it will be successfully

[2018-06-09 15:25] burness opened #302 "[Horovod Keras] flow_from_directory Error with Multi GPUS"
When I use a large dataset, I got an error like this:
![image](https://user-images.githubusercontent.com/3112825/41193236-f8df388a-6c3b-11e8-8ee7-2b7ac54a2c34.png)
I got an different image size with a dataset, It seems to be an bug with keras flow_from_directory, Have you met it and how to resolve it  ?

[2018-06-10 00:44] ankurhanda opened #303 "clipping norm of compute_gradients"
[code]

This gives me error ```File "/home/libs/pyenv/versions/3.5.5/lib/python3.5/site-packages/tensorflow/python/framework/ops.py", line 400, in __iter__
    "Tensor objects are not iterable when eager execution is not "
TypeError: Tensor objects are not iterable when eager execution is not enabled. To iterate over this tensor use tf.map_fn.```

I'd like to average gradients but clip the gradien

[2018-06-10 11:41] lxl910915 commented on #100
@alsrgv , yes, two pod are running on the same server, since we only have one server. We set resources limits and requests, and two pods use different GPU. Thank you for your reply.

[2018-06-11 03:28] vilmara commented on #288
@alsrgv, here some extra questions:

1- if I select the option 3, editing the horovod Dockerfile and adding  MLNX_OFED using their installation script, I won't need to use the options 1 or 2, right?.

2. When editing the horovod Dockerfile, do I need to add GPUDirect rmda installation?, I guess yes.

3. What are the flags to be used with mpirun to indicate we are using GPUDirect?

[2018-06-11 14:20] JKChun opened #304 "Installing horovod with error, stdarg.h No such file or directory."
While I try to install horovod with the command

HOROVOD_NCCL_HOME=/usr/local/nccl_2.2.13-1+cuda8.0_x86_64/ HOROVOD_GPU_ALLREDUCE=NCCL env "PATH=$PATH" env "LD_LIBRARY_PATH=$LD_LIBRARY_PATH" pip3 install --no-cache-dir horovod

It output the error message

fatal error: stdarg.h: No such file or directory

Here is the output message

Collecting horovod
  Downloading https://files.pythonhosted.org/p

[2018-06-11 15:32] alexcordover commented on #301
I am able to ssh into the container on the secondary worker from within the docker container on the primary worker (without authentication) using port 12345. Now, when I start the remote container (secondary) and run the mpirun command on the primary:
```mpirun -np 8 -H localhost:4,10.0.0.36:4 -mca plm_rsh_args "-p 12345 -v" python3 train_rnn_only.py```
the command eventually fails with:
[code]

I

[2018-06-11 21:50] alsrgv commented on #100
@lxl910915, it seems that both GPUs are visible to each pod, which is incompatible with default settings.  In general, pod should only see GPUs it's supposed to use.  The simplest way to use multiple GPU on the same server is to just allocate one pod with 2 GPUs and use `mpirun -np 2 ...`, would that work?

[2018-06-12 15:08] alexcordover commented on #301
Actually, I managed to figure it out. I noticed that this:
[code]
for some reason was reversed. Prod should have been the remote host and beta should have been the local host. I was never able to figure out why that happened, but I just made it so that they could both ssh into each other without authentication and that fixed the issue, and I was able to start training.

Out of curiosity, I noticed

[2018-06-12 18:31] alsrgv commented on #301
@alexcordover, congrats on figuring it out. 1Gbps is very small. As a rule of thumb, P100 needs 25-50Gbps, V100 needs 100Gbps.

[2018-06-12 19:00] phil67b opened #306 "Error code -4 when installing horovod"
Hi. I have an error message when installing horovod.
In bold the text that appears in red in my terminal view.
Maybe someone has an idea. Thanks

root@soap-NM844AA-ABF-m9680fr:~# pip3 install --verbose --no-cache-dir horovod
Created temporary directory: /tmp/pip-ephem-wheel-cache-t3l24w3i
Created temporary directory: /tmp/pip-install-z7vumy6b
Collecting horovod
  1 location(s) to search for versio

[2018-06-12 19:05] vilmara commented on #288
@alsrgv, in the primary node I was able to extend Dockerfile to install Mellanox driver (only MLNX_OFED since GPUDirect Rmda is throwing errors), so I installed GPUDirect Rmda API outside the docker and activated it before running the benchmarks.

In the secondary node, when I built the extended Dockerfile it is throwing this error:
... a lot of outputs...
/MLNX_OFED_LINUX-4.3-1.0.1.0-ubuntu16.04-

[2018-06-12 19:55] alexcordover commented on #301
Thanks for the help @alsrgv! This can be closed.

[2018-06-12 21:54] #301 closed

[2018-06-12 22:16] phil67b commented on #306
I resolved the issue.
Finally I did :
- pip install torch
- pip install --verbose --no-cache-dir horovod

[2018-06-12 22:16] #306 closed

[2018-06-12 22:39] alsrgv commented on #288
@vilmara, are you able to do `ibv_devinfo` inside the docker image?  Are you running them in privileged mode?  I believe you should not need to install GPUDirect inside the container.

[2018-06-12 22:45] feifeibear opened #307 "All rank is zero"
I tried to install horovod on multiple-node system, each of which has one GPU card. The system uses slurm to submit task.

My code is very simple:

[code]

My submit script test.py is like this:

[code]

The output is
0
8
0
8
0
8
0
8
0
8
0
8
0
8
0
8

all process is assigned to rank 0!!!

[2018-06-12 22:50] vilmara commented on #288
Hi @alsrgv, yes I am able to `ibv_devinfo` inside the docker image in both servers. Yes I am running container in provileged mode. I tried to install GPUDirect inside the container but it didn't work, also the Mellanox's guys told me that regarding nv_peer_mem, it is only required to be loaded once, on the host. You don't need to load it inside a container too. [https://github.com/Mellanox/nv_peer

[2018-06-12 22:52] alsrgv commented on #288
@vilmara, gotcha. Do all these things apply to the second node as well, i.e. `ibv_devinfo` works in the container, it's running in privileged mode, etc?

[2018-06-12 22:54] alsrgv commented on #307
@feifeibear, makes sense - `hvd.local_rank()` is the rank within node.  You should use `hvd.rank()` to extract rank of the process across all nodes.

[2018-06-12 22:56] vilmara commented on #288
@alsrgv here is my command in both servers:

Primary server:
`nvidia-docker run -it --network=host --runtime=nvidia -v /root/.ssh:/root/.ssh -v /home/dell/data/:/data/ -v /home/dell/benchmarks/:/benchmarks -v /etc/localtime:/etc/localtime:ro --privileged horovod:latest`
`cd /benchmarks/scripts/tf_cnn_benchmarks`
`mpirun -np 8 -H 192.168.11.1:4,192.168.11.2:4 -x NCCL_IB_DISABLE=0 -x NCCL_SOCKET_IFN

[2018-06-12 22:56] alsrgv commented on #304
@JKChun, what's the location of `stdarg.h` on your system?

[2018-06-12 22:57] alsrgv commented on #288
@vilmara, is `horovod:latest` on the second server updated to have MLNX_OFED as well? Can you try running `ibv_devinfo` in the container on the second server?

[2018-06-12 23:00] vilmara commented on #288
@alsrgv here are the outputs of both servers inside the docker:

Primary server:
`ibv_devinfo`
hca_id: mlx5_0
        transport:                      InfiniBand (0)
        fw_ver:                         12.17.2052
        node_guid:                      e41d:2d03:0062:1256
        sys_image_guid:                 e41d:2d03:0062:1256
        vendor_id:                      0x02c9
        vendor_pa

[2018-06-12 23:06] alsrgv commented on #288
@vilmara, it's extremely strange that you have both:
[code]
and `ibv_devinfo` working correctly.

Is it possible that you still have container running an older version of docker image on the second server, and that's what gets accessed over ssh from the first node container?

[2018-06-12 23:10] vilmara commented on #288
@alsrgv in the secondary node outside docker this is what I have:

`docker images`
REPOSITORY              TAG                     IMAGE ID            CREATED             SIZE
horovod                 latest                  069fc17c7694        3 hours ago         6.09GB

[2018-06-12 23:12] alsrgv commented on #288
@vilmara, one other way to check:
[code]

[2018-06-12 23:27] alsrgv commented on #288
@vilmara, ok, this:
[code]

Suggests that container on the second node is running an older version of the image which does not have ibv_devinfo.

Can you just reboot the second server and run your commands again?

[2018-06-12 23:50] vilmara commented on #288
@alsrgv here are the commands in the primary node after rebooting secondary node :

root@c4140v1001:/examples# `ssh -p 50000 192.168.11.1 ibv_devinfo`
ssh: connect to host 192.168.11.1 port 50000: Connection refused

root@c4140v1001:/examples# `ssh -p 50000 192.168.11.2 ibv_devinfo`
Failed to get IB devices list: Function not implemented

[2018-06-12 23:54] vilmara commented on #288
@alsrgv some progress, I ran the benchmark again and the outputs are not showing the docker connection anymore, but still the primary server is hanging:

Running warm up
c4140v1001:23:198 [0] INFO NET : Using interface ib0:192.168.11.1<0>
c4140v1001:23:198 [0] INFO NET/IB : Using interface ib0 for sideband communication
c4140v1001:23:198 [0] INFO NET/IB: [0] mlx5_0:1/IB
c4140v1001:23:198 [0] INFO

[2018-06-12 23:59] alsrgv commented on #288
@vilmara,
[code]
Can you check that MLNX_OFED is installed on the second host?

[2018-06-13 00:01] feifeibear commented on #307
@alsrgv  Thank you for your quick response. It solves my problem. I still have two questions.
1. On multi-node system, where each node has one card, should I set the device as local_rank for all node?
torch.cuda.set_device(hvd.local_rank())

2. should I compile openmpi3.0 with --with-cuda

[2018-06-13 00:05] vilmara commented on #288
@alsrgv after rebooting the second host it is not installed, I will rebuild horovod again with the extended horovod Dockerfile

[2018-06-13 00:11] vilmara commented on #288
@alsrgv here are the outputs in the secondary node after re-building extended horovod docker with MLNX_OFED

root@C4140-V100-2:/examples# `ofed_info -s`
MLNX_OFED_LINUX-4.3-1.0.1.0:

root@C4140-V100-2:/examples# `ibv_devinfo`
Failed to get IB devices list: Function not implemented

[2018-06-13 00:17] alsrgv commented on #288
@vilmara, please install MLNX_OFED on the second host as well, since you need to have kernel driver in addition to userland libraries that you have installed in the docker.

[2018-06-13 00:18] alsrgv commented on #307
@feifeibear,
1. Doesn't matter, it's going to be no-op since there's only one GPU.  Doesn't hurt.
2. It's not necessary, better to skip as NCCL could potentially conflict with CUDA-aware MPI in certain scenarios.

[2018-06-13 01:07] SrivastavaKshitij opened #308 "Segmentation fault : PowerPC architecture"
Hi @alsrgv

I am running my code on Summit Supercomputer which has IBM Power9 CPUs and Volta GPUs. It has spectrum-mpi (ibm implementation of openmpi) and we use jsrun instead of mpirun.

The way jsrun works is : `jsrun n4 a6 g6' which means number of nodes requested n=4, number of processes per node a=4 and number of gpus per node (g=6). So with the above configuration, jsrun maps 1 process to 1

[2018-06-13 01:11] alsrgv commented on #308
@SrivastavaKshitij, what was the command that you used to install Horovod?

[2018-06-13 01:18] SrivastavaKshitij commented on #308
First I am building pytorch from source in a virutalenv and then I tried three methods:

1. Clone horovod github and ran the command: `python setup.py install`
2. pip3 install horovod
3. HOROVOD_GPU_ALLREDUCE=<path to spectrum mpi> HOROVOD_GPU_ALLGATHER=<path to spectrum mpi> HOROVOD_GPU_BROADCAST=<path to spectrum-mpi> pip3 install --no-cache-dir horovod

[2018-06-13 01:32] alsrgv commented on #308
@SrivastavaKshitij, is it an option for you to use NCCL2 built for Power9?  Then you can use `HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=<where you put unpacked NCCL> pip3 install --no-cache-dir horovod`.

Initially, I thought that your issue is because you're using `HOROVOD_GPU_[...]=MPI` which would require CUDA-aware MPI.  Now I suspect that there may be some issue with Spectrum MPI - can you

[2018-06-13 01:50] SrivastavaKshitij commented on #308
@alsrgv : NCCL2 is not available as of now but might be available in future. Ok. I will contact IBM guys and will get back to you with updates.

[2018-06-13 03:58] alsrgv commented on #303
@ankurhanda, the way your code is structured, you'll first average gradients, and then clip the result - would that work for you?

I believe your code can be fixed by replacing:
[code]

With:
[code]

[2018-06-13 04:00] alsrgv commented on #302
@burness, any idea why different workers find a different number of images?

[2018-06-13 04:07] alsrgv commented on #297
@burness, what version of Horovod are you using?  I was able to get this error when I added `histogram_freq=1`:

[code]

Recent versions of Horovod will shut down in this case, but old version could get stuck.  Do you see that error before all the stall warning messages?

The way to fix this issue is to provide `validation_data` as error suggests.

[2018-06-13 06:29] yogurfrul opened #310 "hvd.init() hangs on docker"
I got the docker tf_1.7.1-gpu-py3, and I install the openmpi 0.3.0 and horovod 0.13.3

I run mpi test ok as blow:
Hello world from processor userver1, rank 0 out of 4 processors
Hello world from processor userver1, rank 1 out of 4 processors
Hello world from processor userver2, rank 2 out of 4 processors
Hello world from processor userver2, rank 3 out of 4 processors

while hvd.init() hangs on whe

[2018-06-13 06:37] yogurfrul commented on #310
when I change -x NCCL_SOCKET_IFNAME=^docker0
then I got
`[u10-154-66-206][[39817,1],2][btl_tcp_endpoint.c:638:mca_btl_tcp_endpoint_recv_connect_ack] received unexpected process identifier [[39817,1],3]
`

I change it back to enp35s0d1
the error  last line
`[u10-154-66-206][[38971,1],2][btl_tcp_endpoint.c:796:mca_btl_tcp_endpoint_complete_connect] connect() to 172.17.0.1 failed: Connection refused

[2018-06-13 06:46] yogurfrul commented on #310
get some idea from [https://github.com/uber/horovod/issues/281](url)
it works when I add
-mca btl_tcp_if_exclude lo,docker0

[2018-06-13 08:42] matthiasreisser opened #311 "Installation Issue with tensorflow 1.9.0rc0"
I am trying to compile Horovod with the newest tensorflow release (1.9.0rc0). I have compiled the tensorflow wheel myself from the v1.9.0-rc0 branch at
`git rev-parse HEAD`: `e1436b2952c7600c8ac88114210381db0398be16`

The installation fails with the following error stack: (Paths removed)
`HOROVOD_NCCL_HOME=/HOME/Software/nccl_2.2.13-1+cuda9.0_x86_64/ HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cac

[2018-06-13 09:07] burness commented on #297
@alsrgv I use the 0.12.1 horovod, what mean is the `validation_data` ?

[2018-06-13 09:09] burness commented on #302
@alsrgv  Maybe this is the bug of keras `preprocessing.image.DirectoryIteror`. The `theadpool` cause the count error, I have fixed this with 1 thead but it too slow

[2018-06-13 12:37] SrivastavaKshitij opened #312 "Tweaking Horovod: Using nn.DataParallel with Horovod"
Hi @alsrgv:

As you know Summit Supercomputer architecture has 6 GPUs per node. My understanding is if I want to run Horovod with `n1024 a6 g6' command as described in [308](https://github.com/uber/horovod/issues/308) , this would lead to creation of 6144 MPI ranks in Horovod that will lead to a lot of communication overhead.

I looked at nn.DataParallel source code for Pytorch at [data parallel](

[2018-06-13 16:05] vilmara commented on #288
hi @alsrgv have reinstalled MLNX_OFED on the second host and ran the below test again

In the primary node:
`nvidia-docker run -it --network=host --runtime=nvidia -v /root/.ssh:/root/.ssh -v /home/data/:/data/ -v /home/benchmarks/:/benchmarks -v /etc/localtime:/etc/localtime:ro --privileged horovod:latest
#inside the docker:
root@C4140-V100-1:/examples# `ssh -p 50000 192.168.11.1 ibv_devinfo`
ssh:

[2018-06-13 17:44] ziqifan16 opened #313 "Inside docker mpirun with multiple nodes cannot find libcuda"
I am trying out horovod within docker on two machines (centos 7.3).

On secondary worker, I run
`nvidia-docker run -it --network=host -v /mnt/nfs/var/nfs/ssh:/root/.ssh horovod:latest`
Then
`/usr/sbin/sshd -p 12345; sleep infinity"`

On primary worker, I run
`nvidia-docker run -it --network=host -v /mnt/nfs/var/nfs/ssh:/root/.ssh horovod:latest `
Then
`mpirun -np 4 -H 192.168.0.131:2,192.168.0.132

[2018-06-13 18:21] vilmara commented on #288
@alsrgv also I was able to run the benchmark again with the below performance and output compilation:

Within a Node (single node mode with 4GPUs ):
1 GPU: ~641 img/sec
4 GPUs: ~595 img/sec
total img/sec: 2380
92.80% scaling efficiency within the node

Multinode mode (2 nodes with 4 GPUs each):
~552.4 img/sec
~4419.71 total img/sec
86.19% scaling efficiency with multinode

Outputs:
C4140-V100-1:34

[2018-06-13 18:30] alsrgv commented on #288
@vilmara, great!  I think installing the MLNX_OFED drivers on the second node resolved the issue.  Right now you're using RDMA, but not GPUDirect.

Can you try a couple of things:
1. Show output of `nvidia-smi topo -m`
2. Try running the test with `-x NCCL_IB_CUDA_SUPPORT=1` in mpirun command.

[2018-06-13 18:34] alsrgv commented on #297
@burness, validation data is a parameter to `fit()` method ([docs](https://keras.io/models/sequential/#fit)).  I'm not sure `fit_generator()` works with `historgram_freq`.  Also, please update to latest Horovod - it would make diagnosing such issues easier.

[2018-06-13 18:35] alsrgv commented on #302
@burness, which version of Keras are you using?

[2018-06-13 18:39] alsrgv commented on #311
Looks like there's an issue in TensorFlow tracker: https://github.com/tensorflow/tensorflow/issues/18841

[2018-06-13 18:51] alsrgv commented on #311
The workaround is to copy XLA compiler header files into the python package directory:
[code]

I'm following up with the TF team.

[2018-06-13 18:58] vilmara commented on #288
@alsrgv here is the `nvidia-smi topo -m`

        GPU0    GPU1    GPU2    GPU3    mlx5_0  CPU Affinity
GPU0     X      NV2     NV2     NV2     SYS     0-0,2-2,4-4,6-6,8-8,10-10,12-12,14-14,16-16,18-18,20-20,22-22,24-24,26-26,28-28,30-30,32-32,34-34,36-36,38-38
GPU1    NV2      X      NV2     NV2     SYS     0-0,2-2,4-4,6-6,8-8,10-10,12-12,14-14,16-16,18-18,20-20,22-22,24-24,26-26,28-28,30-30,32-32

[2018-06-13 19:01] alsrgv commented on #288
@vilmara, you should keep both. I'm not sure if GPUDirect actually works over NUMA. It would be far better if Mellanox NIC is attached to PCIx root complex that has NVLink mesh. You hardware team or Dell contacts should be able to help with that.

[2018-06-13 19:06] alsrgv commented on #313
@ziqifan16, are NVIDIA drivers installed on the second host?  Can you do `nvidia-smi` there?

[2018-06-13 19:15] vilmara commented on #288
@alsrgv , here is the performance with `-x NCCL_IB_CUDA_SUPPORT=1`, it looks like improved a little using RDMA
~560.5 img/sec per GPU
total img/sec: ~4483
~87% scaling efficiency with multinode

And here are some of the NCCL info output:
C4140-V100-2:283655:283859 [0] INFO 3 -> 4 via NET/IB/0/GDRDMA
C4140-V100-2:283655:283859 [0] INFO Ring 00 : 4[0] -> 5[1] via P2P/IPC
C4140-V100-1:385231:385407 [

[2018-06-13 19:19] alsrgv commented on #288
@vilmara, oh - it worked, great!  I think you may get slightly better performance with the hardware change I mentioned, since `NVLink <-> PCI <-> Mellanox` performance may be quite a bit better than `NVLink <-> CPU <-> Mellanox`.

[2018-06-13 20:35] alsrgv commented on #312
Hi @SrivastavaKshitij,

Thanks for the detailed analysis.  You mentioned you're not using NCCL2 with Horovod, is it still the case?  Do you still install Horovod without `HOROVOD_GPU_ALLREDUCE=MPI`?

I believe what ends up happening is that in Horovod + DataParallel mode you use MPI for cross-node allreduce and NCCL1 for intra-node allreduce. This is actually semi-optimal setting at this amount of

[2018-06-13 21:27] ziqifan16 commented on #313
@alsrgv NVIDIA driver is installed on both machines (version 390.59). I can do `nvidia-smi` on both sides.

[2018-06-13 21:50] alsrgv commented on #313
@ziqifan16, can you try adding `-x LD_LIBRARY_PATH` to your mpirun command?

[2018-06-14 01:39] burness commented on #302
@alsrgv  2.1.6

[2018-06-14 02:05] alsrgv commented on #302
@burness, so if you use the single thread, do all threads report the same # of examples?  Do you see an exception?

[2018-06-14 07:55] burness commented on #302
@alsrgv  As shown in the picture, when I use  all thread, it report the diferent examples, and No exception happened, It maybe the bug with Keras Multi-thread and Ceph

[2018-06-14 15:47] #272 closed

[2018-06-14 19:16] janhuang6 commented on #299
Thank you alsrgv for replying!
We are doing both: building a platform for deep learning and also use deep learning to train.
Understand that your team is developing Horovod. Is that right the latest and greatest code from your developer is publicly available (after some reasonable and necessary time for it to go public, of course)?
Do you have any restriction for others to use your open source Hor

[2018-06-14 21:33] alsrgv commented on #299
@janhuang6, great!  Yes, Horovod development is done in the open and there are no restrictions for the usage, as dictated by the [Apache 2 license](https://github.com/uber/horovod/blob/master/LICENSE).

[2018-06-15 13:59] JKChun commented on #304
this is the output when I type the command "locate stdarg.h"

/home/cch/Downloads/sandbox/usr/include/c++/5/tr1/stdarg.h
/home/cch/Downloads/sandbox/usr/lib/gcc/x86_64-linux-gnu/5/include/cross-stdarg.h
/home/cch/Downloads/sandbox/usr/lib/gcc/x86_64-linux-gnu/5/include/stdarg.h
/home/cch/ENV_BUILD/install_files/gcc-4.8.5/fixincludes/tests/base/stdarg.h
/home/cch/ENV_BUILD/install_files/gcc-4.8.5/g

[2018-06-15 15:23] franz101 opened #314 "Extension horovod.tensorflow has not been built."
Has anyone an Idea how to fix this? Would be really thankful ;)

ImportError                               Traceback (most recent call last)
<ipython-input-1-a577c1fce70c> in <module>()
      1 import tensorflow as tf
----> 2 import horovod.keras as hvd

~/.local/lib/python3.6/site-packages/horovod/keras/__init__.py in <module>()
     17 import tensorflow as tf
     18
---> 19 import horovod.tenso

[2018-06-15 19:04] ziqifan16 commented on #313
@alsrgv We solved the problem using another passwordless authentication method. Thanks.

[2018-06-15 19:20] alsrgv commented on #314
@franz101, can you try reinstalling Horovod via:
[code]

It will fail.  Please paste the log here.

[2018-06-15 19:22] alsrgv commented on #304
@JKChun, thanks!  And what's the output of `which x86_64-linux-gnu-gcc` ?

[2018-06-15 23:10] ziqifan16 commented on #313
@alsrgv I have another problem.

Right now, I can make two dockers (in two nodes) talk to each other. But there are some nccl related problem popping out.

Below is the error message from the primary node, any idea? Deep appreciation.

[2018-06-16 03:20] gtbai opened #315 "Questions about Running Horovod on Aurora"
Hi Alex,

In [this issue](https://github.com/uber/horovod/issues/60), you mentioned that you are running Horovod on Mesos cluster with Aurora, which is exactly what I am trying to do now. However, there are still some places I have no clue about:

1. In the issue (https://github.com/uber/horovod/issues/60) you mentioned that Aurora spins up only **one** container per host. Is there a way to explic

[2018-06-16 07:00] roastduck opened #316 "Something unexpected in timeline"
I think each Allreduce op in the timeline should have exactly 2 lines: NEGOTIATE_ALLREDUCE or ALLREDUCE above, and specific operations below. But I got 4 lines from time to time. See the image.

![image](https://user-images.githubusercontent.com/6522983/41496575-748ca268-7175-11e8-844e-efb7aa4069ff.png)

There's a NEGOTIATE_ALLREDUCE phase inside ALLREDUCE phase. Is it normal or a bug? Running wit

[2018-06-16 07:12] alsrgv commented on #313
@ziqifan16, can you try specifying `-x NCCL_SOCKET_IFNAME= enp5s0` in your `mpirun` command?

[2018-06-16 07:15] alsrgv commented on #315
@gtbai, we're not running in Aurora anymore - we've switched to an internal scheduler we built on top of Mesos, and to Kubernetes.  That said, here are ideas for your questions:

1. We ensured that by specifying # gpus per task = # gpus on host.
2. We had a custom registry where every container registers its IP address and ports.  The container that executes mpirun waits for all other containers t

[2018-06-16 07:31] gtbai commented on #315
@alsrgv Thanks for the enlightening ideas.

For 1, it seems that this demands for a specialized cluster. If we do that on a shared cluster, then the tasks may never get assigned?

For 2, does that mean you have a server-like program running on some host, and then each container client will register with it, after which it will broadcast the ip and port info to all containers?

Previously I saw it

[2018-06-16 07:36] alsrgv commented on #315
@gtbai,

1. That was part of the reason we went away from Aurora to a scheduler that supports gang scheduling.

2. Yes, Zookeeper can be used for that purpose.

[2018-06-16 07:45] gtbai commented on #315
@alsrgv I see. Still,

For 1, are there any specific reasons to keep only one container on each host? It seems to me that running multiple gradient workers on a host can get the work done as well.

For 2, may I ask why you did not choose to use ZooKeeper to get the host address info, while decided to write some extra registry logic?

Thanks.

[2018-06-16 11:17] JKChun commented on #304
/usr/bin/which: no x86_64-linux-gnu-gcc in (/usr/python3/bin:/usr/local/cuda-9.0/bin:/usr/python3/bin:/usr/local/cuda-9.0/bin:/usr/lib64/qt-3.3/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin:/opt/ibutils/bin:/home/cch/bin)

[2018-06-16 11:35] JKChun opened #317 "Is NCCL needed if installing horovod with MVAPICH ??"
I want to use MVAPICH to peform allreduce operation on horovod, then do I still need to install NCCL?

All I need to do is to use the command $ HOROVOD_GPU_ALLREDUCE=MPI pip install --no-cache-dir horovod ?

How does the system know that my MPI is MVAPICH? (because I have OpenMPI and MVAPICH installed in my computer)

[2018-06-16 19:55] alsrgv commented on #315
@gtbai,

1. We still run one process per GPU, but we run all processes in a single container to allow CUDA IPC.  CUDA IPC does not work between containers.

2. The registry service we used was a wrapper around ZK and Cassandra.  It provides convenient REST API for such registration and querying, and it's used by multiple projects.

[2018-06-16 19:56] alsrgv commented on #317
@JKChun, in this case, you don't need to have NCCL.  In order to point the installation to MVAPICH, make sure that `which mpirun` and `which mpicxx` point to MVAPICH installation, i.e. it must be in `$PATH`.

[2018-06-16 19:57] alsrgv commented on #304
That's strange, given that the output of installation has:
[code]

Can you try to find `x86_64-linux-gnu-gcc` then?

[2018-06-16 20:10] alsrgv commented on #316
@roastduck, this is quite interesting. Could you share your timeline?  I'm surprised to see next negotiation to start before the last iteration ended, are you trying to do 1-late SGD or something along those lines?

[2018-06-17 02:35] roastduck commented on #316
[timeline_decomp.zip](https://github.com/uber/horovod/files/2108635/timeline_decomp.zip)

Here's the timeline file.

I'm doing data parallelism with strong consistency, not 1-late SGD.

Please don't be confused with that `v0/tower_0/HorovodAllreduce_v0_tower_0_HorovodAllgather_v0_tower_0_cg_Reshape_0_0` op. I'm just doing allgather using allreduce (padding 0 then perform allreduce), because there'

[2018-06-17 02:39] roastduck commented on #316
Plus: I merged `fp16_divide_before_sum` branch to use fp16 allreduce.

[2018-06-17 06:30] gtbai commented on #315
@alsrgv ,

For 1: Got it. How about if I only train with CPUs? Will communication be a problem if I run multiple containers on a host?

For 2: That is a cool idea, sounds very neat!

[2018-06-17 11:05] JKChun commented on #304
this is the output when I type the command "locate x86_64-linux-gnu-gcc"

/home/cch/Downloads/sandbox/usr/bin/x86_64-linux-gnu-gcc
/home/cch/Downloads/sandbox/usr/bin/x86_64-linux-gnu-gcc-5
/home/cch/Downloads/sandbox/usr/bin/x86_64-linux-gnu-gcc-ar
/home/cch/Downloads/sandbox/usr/bin/x86_64-linux-gnu-gcc-ar-5
/home/cch/Downloads/sandbox/usr/bin/x86_64-linux-gnu-gcc-nm
/home/cch/Downloads/sandbox/

[2018-06-17 15:57] ppwwyyxx opened #318 "Make Horovod Ops Differentiable"
The TensorFlow `nccl.all_sum` (and some other nccl ops) is differentiable. Why not make horovod ops differentiable as well? There are use cases.

[2018-06-18 04:41] ajbouh commented on #194
Any update here?

Would love to be able to use Horovod as a library embedded in a larger application with a lifecycle that's not managed by mpirun!

[2018-06-18 14:32] SrivastavaKshitij commented on #312
Hi @alsrgv :

I am sorry for the delayed response

1. I am still not using NCCL2
2. I see your point with 3 GPUs and that suits summit architecture 👍
3. I would be definitely interested in trying a private branch
4. I am working on the results and will update you ASAP
5. I didnt get a seg fault with native mode. I only get seg fault with Horovod + nn.Dataparallel approach

[2018-06-18 14:46] SrivastavaKshitij commented on #312
I also wanted to try out all reduce on a subset of rank. Basically mimicking Horovod + nn.DataParallel but using Horovod ranks.

Lets say I have three nodes with 6 gpus each. Total number of hvd ranks = 18. I want to implement something like partial all reduce on ranks 0-5 (node 1) ,6-11 (node 2) and 12-17 (NODE 3) and another all reduce on ranks 0,6 and 12. This would be close to mimicking nn.Dat

[2018-06-18 16:52] lgarithm opened #319 "horovod crashes on OSX"
Hi, I'm trying to run a simple hello world program `horovod-helloworld.py` on OSX

[code]

and it crashed immediately

[code]

I found that this is caused by calling `MPI_Init_thread` in a thread, which happened in `InitializeHorovodOnce`.

The following program could be used to reproduced the bug:
[code]

[2018-06-18 18:06] franz101 commented on #314
Thanks for your quick reply:
My flags are as follows:
HOROVOD_GPU_ALLREDUCE=NCCL  HOROVOD_WITH_TENSORFLOW=1 HOROVOD_NCCL_HOME=/students/home/user/ncc/nccl_2.2.13-1+cuda9.0_x86_64 pip install --no-cache-dir horovod

No returns the following error:
`Command "/students/home/user/anaconda3/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-7i0fytgz/horovod/setup.py';f=getattr(tok

[2018-06-18 18:19] franz101 commented on #314
`gcc -pthread -shared -B /students/home/user/anaconda3/compiler_compat -L/informatik2/students/home/6krekele/anaconda3/lib -Wl,-rpath=/students/home/user/anaconda3/lib -Wl,--no-as-needed -Wl,--sysroot=/ build/temp.linux-x86_64-3.6/test_compile/test_nccl.o -L/students/home/user/ncc/nccl_2.2.13-1+cuda9.0_x86_64/lib -L/students/home/user/ncc/nccl_2.2.13-1+cuda9.0_x86_64/lib64 -L/usr/local/cuda/lib -L

[2018-06-19 03:18] burness commented on #302
yes， It's ok when use single thread and train succssfully.

[code]
I change here in `/usr/local/lib/python2.7/dist-packages/keras/preprocessing/image.py` to use single thread.
![image](https://user-images.githubusercontent.com/3112825/41574068-73e1d0ba-73b2-11e8-881e-5b62a7cecd4f.png)

[2018-06-19 03:20] burness commented on #297
@alsrgv  Thanks! It's too fast to implement new version of Horovod, And my env is not easy to update the horovod, Could you share me what cause and I fixed this in 0.12.1

[2018-06-19 06:10] alsrgv commented on #318
Good idea.  Here's [reference implementation](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/nccl/python/ops/nccl_ops.py) in TF.

[2018-06-19 06:14] alsrgv commented on #304
@JKChun, this is quite a strange environment.  Seems that your compiler is in `/home/cch/Downloads/sandbox`, but I'm not sure libraries are being picked up correctly.  Are you trying to install Horovod in a virtualenv or private Python installation?  If not, can you remove any sandbox paths from `$PATH`?

[2018-06-19 06:16] alsrgv commented on #297
@burness, seems that you need to use `fit()` instead of `fit_generator()` to use `histogram_freq`.  This does not directly depend on Horovod version, it's just newer Horovod makes it easier to diagnose issues.

[2018-06-19 06:28] alsrgv commented on #302
@burness, nothing really jumps out in the source code as a potentially suspicious.  What kind of data store are you reading those images from?  Is it local disk, NFS?

[2018-06-19 06:29] alsrgv commented on #314
@franz101, can you share the full output starting with `pip install` command?

[2018-06-19 06:31] alsrgv commented on #319
@lgarithm, can you try running your test with `-mca btl ^tcp`?  #298 covers similar (if not identical) issue.

[2018-06-19 06:41] alsrgv commented on #315
@gtbai,

1. There's a similar problem - by default containers will not be able to communicate with each other using shared memory.

2. No plans at the moment.  It should be pretty straightforward to re-implement it with Zookeeper.

[2018-06-19 06:44] alsrgv commented on #194
@ajbouh, @lgarithm (since you upvoted) - can you share your use cases?  Would you need programmatic (re)initialization/termination (#218), allreduce on static subgroups (partition Horovod communicator during initialization), or allreduce on dynamic subgroups (specify set of ranks per operation)?

[2018-06-19 06:46] alsrgv commented on #316
@roastduck, do you get better performance with this padded allreduce than a simple MPI allgather that is supported?  Since allgather is focused on data transmission rather than computing sum, I think there should be less benefit of running it on GPU.

[2018-06-19 06:52] gtbai commented on #315
@alsrgv ,

For 1: In this case, are containers using loopback networks to communicate with each other? And this would only hurt the performance, while not break down the training process, right?

For 2: Could you please provide me with some pointers to relative docs? I tried to google it for a while but did get much...

Thanks!

[2018-06-19 06:55] alsrgv commented on #312
@SrivastavaKshitij, looking forward to your results.

Doing hierarchial allreduce with #105 would be a bit more wasteful than a native implementation in Horovod since it would require additional synchronization step between allreduce within a node, across nodes and subsequent broadcast.

I will make a branch for you that will do NCCL reduce within the node, followed by MPI allreduce, followed by N

[2018-06-19 07:02] alsrgv commented on #315
1. That's right.

2. See e.g. http://blog.arungupta.me/zookeeper-microservice-registration-discovery.  It's a Java implementation, but the ideas are quite generic and can be implemented in Python as well.

[2018-06-19 07:09] lgarithm commented on #319
@alsrgv, I've tested with `-mca btl ^tcp` and it worked.
I'm sure that this is identical to #298.

[2018-06-19 07:09] #319 closed

[2018-06-19 07:13] lgarithm commented on #298
I did some investigation in the openmpi source code, and found the line that crashed.
@alsrgv do you have an issue against https://github.com/open-mpi/ompi where I can share my findings.

[2018-06-19 07:51] gtbai commented on #315
@alsrgv, Thanks a lot for your great help!

I suspect I would encounter more issues as I try further to run Horovod on Aurora. Considering this, as well as to preserve the context, I would leave this issue open for now.

[2018-06-19 09:16] burness commented on #302
@alsrgv we use the ceph to store our dataset

[2018-06-19 09:19] burness commented on #297
@alsrgv  Our dataset is too large, we can't load the memory by using `fit()`

[2018-06-19 11:27] roastduck commented on #316
As described in `docs/running.md`, if I use RDMA for allreduce (with NCCL), I cannot use RDMA for allgather (with MPI) then. So I think this padded allreduce is better, because it's using RDMA. Am I right?

[2018-06-19 12:16] yogurfrul opened #320 "one question about benchmarks"
I want to reproduce the benchmarks from [benchmark](https://github.com/uber/horovod/blob/master/docs/benchmarks.md)

But I don't know if horovod with tcp is horovod_mpi which is installed by
HOROVOD_GPU_ALLREDUCE=MPI pip install --no-cache-dir horovod

and horovod with RDMA is horovod_nccl which is installed by
HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod

[2018-06-19 12:36] abidmalikwaterloo opened #321 "Events in Horvovd TimeLine"
I am looking into the JSON file: I see the following events:

1. Negotiated Borat cast
2. MPI_Bcast
3. MPI_ALL_REDUCE
4. MEMCOPY_OUT_FUSION
5. NEGOCIATED_ALL_REDUCE

These events are associated with a time stamp and process ID (PID). Does Pid mean CUDA thread?
If I need to calculate the total communication time for the ring All reduce approach, which event should I look into? What is MEMCOPY_OUT_F

[2018-06-19 12:56] franz101 commented on #314
Sure! Can you see a problem here? Can also post the installation of the other dependencies.
Or the tensorflow Version etc.

user@ubuntu:~$ pip uninstall horovod -y
Uninstalling horovod-0.13.4:
Successfully uninstalled horovod-0.13.4
user@ubuntu:~$ HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_WITH_TENSORFLOW=1 HOROVOD_NCCL_HOME=/students/home/user/ncc/nccl_2.2.13-1+cuda9.0_x86_64 pip install --no-cache-dir h

[2018-06-19 13:02] Troy-M opened #322 "LearningRateScheduleCallback/LearningRateWarmupCallback missing from TF api"
The keras api has the functionality to use the "warm up" learning rate approach straight out of the box, but the tensorflow verison of horovod does not. Could this be achieved using the tf.train.SessionRunHook system?

[2018-06-19 13:09] franz101 commented on #314
Running python setup.py install

I get:

cc1plus: warning: command line option ‘-Wstrict-prototypes’ is valid for C/ObjC but not for C++
gcc -pthread -shared -B /students/home/user/anaconda3/compiler_compat -L/students/home/user/anaconda3/lib -Wl,-rpath=/students/home/user/anaconda3/lib -Wl,--no-as-needed -Wl,--sysroot=/ build/temp.linux-x86_64-3.6/test_compile/test_nccl.o -L/students/home/user/nc

[2018-06-19 13:19] SrivastavaKshitij commented on #312
Hi @alsrgv

Here is the stack trace from seg fault:

[code]

[2018-06-19 13:23] SrivastavaKshitij commented on #312
Hi @alsrgv

This is the error from nn dataparallel run
[code]

[2018-06-19 15:01] ajbouh commented on #194
My use case is essentially: run Horovod from the Python REPL using a *pre-allocated* set of workers.

To do this I need to do two things differently than Horovod documentation suggests:

- start the proper number of worker machines and connect them to one another *without* knowing what graph they'll be running.
- transmit the fragments of training graph needed by each worker dynamically. (This is

[2018-06-19 15:11] jmjwozniak commented on #194
Yes, my fork above should address this use case.  It will also let you subdivide the communicators and run Horovods concurrently.

[2018-06-19 15:38] franz101 commented on #314
I think it is because openmpi 3.0 is I. The export variable but openmpi 1.0 is in usr/ and used instead of the new one.

[2018-06-19 18:45] ziqifan16 commented on #313
@alsrgv It works. Thank you so much!

[2018-06-19 18:45] #313 closed

[2018-06-19 19:33] alsrgv commented on #314
@franz101, if you do `export PATH=/path/to/mpi3:$PATH`, you should be able to force it to use OpenMPI 3.0 instead of the system one.

[2018-06-19 19:35] alsrgv commented on #322
@Troy-M, you can define learning rate as a function of global step with a few `tf.cond()` statements.  Something like `https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/benchmark_cnn.py#L978`.

[2018-06-19 19:39] alsrgv commented on #297
@burness, can your validation dataset fit into memory?

[2018-06-19 21:22] gtbai commented on #315
@alsrgv , one question:

You mentioned that processes in different containers could not communicate via IPC. I am wondering, why did you choose to run horovod within containers then? Why not directly run native processes on the agent host, so that different processes on the same host could communicate via shared mem?

Thanks.

[2018-06-19 21:31] alsrgv commented on #320
@yogurfrul, these benchmarks were run with `HOROVOD_GPU_ALLREDUCE=NCCL` for both TCP and RDMA.  Assuming your NIC supports RDMA, you can turn off RDMA (and run TCP) by setting `-x NCCL_IB_DISABLE=1`.

[2018-06-19 21:34] gtbai commented on #315
I see, thanks! @alsrgv

[2018-06-19 21:35] alsrgv commented on #316
@roastduck, it's not entirely true - while MPI will not do GPU-to-GPU RDMA, it can still do GPU->CPU->RDMA->CPU->GPU which is still offloading the data transfer to NIC.  Which MPI & NIC are you using?

Regardless, you are still likely to get a lot of benefit from using allgather because of its simplicity.  Did you try to compare the performance of both approaches?

[2018-06-19 21:37] alsrgv commented on #298
@lgarithm, great!  I see that it got traction already.

[2018-06-20 02:02] #322 closed

[2018-06-20 02:27] roastduck commented on #316
@alsrgv, I'm confused with the word

in `docs/running.md`. Is MPI truly uses RDMA in this scenario?

[2018-06-20 06:09] alsrgv commented on #321
@abidmalik1967, `pid` in Horovod Timeline does not relate to CUDA threads, but rather to tensor name.  Each tensor gets a unique `pid`, e.g.:
[code]

Realistically, you should count time of `MEMCPY_IN_FUSION_BUFFER`, `MPI_ALLREDUCE` and `MEMCPY_OUT_FUSION_BUFFER` as a communication.   More details are available here - https://github.com/uber/horovod/blob/master/docs/timeline.md

[2018-06-20 08:04] alsrgv commented on #316
@roastduck, can you share how much is padded NCCL allreduce over RDMA numerically better than MPI allgather over TCP? 5%, 10%, 50%?

Instructions we have for Open MPI indeed disable RDMA for MPI.  The reason for that is that default OpenIB BTL doesn't work with multi-threading.  I've just pushed a branch / PR that includes a flag that allows you to disable threading: https://github.com/uber/horovo

[2018-06-20 08:12] alsrgv commented on #312
@SrivastavaKshitij, is there a core dump of the data loader process?  I'd like to see the output of:
[code]

[2018-06-20 08:17] alsrgv commented on #194
@ajbouh, are you preferring to pre-allocate workers instead of running multiple smaller MPI jobs because of scheduling inefficiencies?

[2018-06-20 08:49] roastduck commented on #316
@alsrgv, Sorry for saying padded allreduce gains some performance, which was wrong. This result came from testing a complete DNN model, where there are too many influence factors for performance.

This time, I did a dedicated test for allgather. I performed allgather on 10^9 float32 items, using EDR IB. See below:

Method| Negotiation (ms) | Transmission (ms) | Total (ms)
--|--|--|--
Original | 11

[2018-06-20 12:47] JKChun commented on #304
I trying to install horovod in the sandbox which I built by using singularity.

[2018-06-20 14:22] ajbouh commented on #194
Part of it is latency of scheduling. For example, I'd like to be able to
dynamically provision 20+ GPUs in less than 10 seconds.

Part of it is also ease of integration with other tools. For example, being
able to integrate with a REPL means it's also possible to integrate with an
IDE, a notebook, or other development tools. In order to integrate with
these kinds of tools, we can't assume that mpi

[2018-06-20 14:22] SrivastavaKshitij commented on #312
@alsrgv : there were many core files which we were being dumped after the run. I used your command on the last dumped file. and the output is:

[code]

[2018-06-20 14:40] SrivastavaKshitij commented on #312
@alsrgv : I dont think this is the output that you are looking but this is what I got. The actual core dump is ~2.6GB. Do you need that file ?

[2018-06-20 19:55] abidmalik1967 commented on #321
@alsrgv Should all the flags be present in the trace? For example, I could n't find WAIT_FOR_DATA etc. I am using NCCL and couldn't find NCCL_ALLREDUCE in the trace.

[2018-06-20 20:47] AlexanderYukhanov opened #325 "FYI, New article on using horovod with Azure"
https://blogs.technet.microsoft.com/machinelearning/2018/06/20/how-to-do-distributed-deep-learning-for-object-detection-using-horovod-on-azure/

[2018-06-20 22:30] alsrgv commented on #304
@JKChun, are you doing it while running within singularity environment?

[2018-06-20 22:32] alsrgv commented on #316
@roastduck, how many allgathers did you do for this test?  The first operation can have an overhead of setting things up, especially in case of NCCL.  Can you quantify how much your own model training is faster with padded allreduce?

[2018-06-20 22:38] alsrgv commented on #194
@ajbouh, makes sense.  There are few aspects of doing distributed training in REPL-style environment:
1. Distribute the training Python code.
2. Run the training code everywhere.
3. Synchronize gradients during training.

Horovod provides a solution for (3).  (1) and (2) are typically solved with docker or NFS, and `mpirun`.  If you want to do training from the notebook or IDE, you'd need to re-so

[2018-06-20 22:40] alsrgv commented on #321
@abidmalik1967, if you see `MPI_ALLREDUCE` and don't see `WAIT_FOR_DATA` and you're reducing GPU tensors, that means that Horovod was not compiled with NCCL.  What command did you use to install Horovod?

[2018-06-20 22:43] ajbouh commented on #194
Yes, I have a working implementation that solves both (1) and (2) that works with stock TensorFlow. It does this via grpc without NFS or dockerfiles.

[2018-06-20 23:27] abidmalik1967 commented on #321
@alsrgv I used the following:

HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=/sdcc/u/amalik/Tensorflow/nccl_2.1.15-1+cuda9.0_x86_64 pip install --user --no-cache-dir horovod

[2018-06-20 23:56] alsrgv commented on #321
@abidmalik1967, looks reasonable.  Can you re-install horovod with these settings just to make sure?  Also, do you see GPU utilization spike up during your tests?  Last, you can pass `device_dense='/gpu:0'` option to `hvd.DistributedOptimizer()` to make sure allreduce is placed on GPU.

[2018-06-21 00:04] alsrgv commented on #194
@ajbouh, so you're basically creating a graph on the head process and distributing it to TF workers via gRPC?  You could still use Horovod in this case if you use mpirun to allocate resources, or if you want to be MPI-less you can [allreduce-over-grpc](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/allreduce.py) from TF benchmarks.

[2018-06-21 01:51] abidmalik1967 commented on #321
@alsrgv it works now. Now I can see other flags that are related to NCCL.

[2018-06-21 02:47] SrivastavaKshitij commented on #312
Hi @alsrgv : there is an update on Summit Supercomputer. Its been taken offline for some time for some reason.
But the good thing is, I have access to Summitdev which is a test bed of Summit Supercomputer.  It has 63 nodes, PowerPC architecture and  4 Tesla P100 GPUs per node. I was able to get nccl 2 on summitdev today. Following are the packages that I am using when running Horovod on Summit-Dev

[2018-06-21 03:14] SrivastavaKshitij commented on #308
@alsrgv : Let me write SummitDev's configuration here once again

Summitdev is a test bed of Summit Supercomputer. It has 63 nodes, PowerPC architecture and 4 Tesla P100 GPUs per node with nccl2. Following are the packages that I am using when running Horovod on Summit-Dev.
[code]
I installed Horovod by using the following command:
HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=${NCCL_HOME} HOROVOD_

[2018-06-21 03:43] hewei1990102 opened #326 "Question about FP16 data to do the hvd.allreduce?"
We have a question when using FP16 to do hvd.allreduce in our experiment. As number of GPU increasing, the scaling efficiency of resnet50 decreases significantly from 91% (32 GPU) to 52% (256 GPU).

But if cast the data from FP16 to FP32:
`hvd.allreduce(tf.cast(grad,tf.float32), device_dense=horovod_device)`
The scaling efficiency will remain at around 90%, no matter how many GPU.

Our Environment

[2018-06-21 03:48] SrivastavaKshitij commented on #308
Update: I am still getting seg fault when I run my code on more than 8 nodes.

Error:
[code]

[2018-06-21 04:17] alsrgv commented on #326
@hewei1990102, are you using branches from https://github.com/uber/horovod/issues/278, or vanilla installation?

[2018-06-21 04:21] alsrgv commented on #316
@roastduck, can you start measuring time after the first iteration completes?  Otherwise, variability during startup can cause these numbers to be very random.

You can also try playing with `-x HOROVOD_CYCLE_TIME=[...]` environment variable which dictates delay between Horovod cycles, as described in https://github.com/uber/horovod/blob/master/docs/tensor-fusion.md.  The default value is `5`, whi

[2018-06-21 04:42] roastduck commented on #316
@alsrgv, I made a mistake. I forgot to enable RDAM in MPI before performing the 3rd test above. Now it's fixed.

Here's the timing of the last 9 of the 10 allgathers in previous experiments. It doesn't vary much.

Method | Total negotiation + transmission time (ms)
---|---
Original | 12266.511
Padded allreduce | 34251.899
PR #324 | 2465.120

I did the measurement by summing up all the bars in the

[2018-06-21 04:57] roastduck commented on #316
Since you mentioned fusion, I guess my model might benefit from fuse the allgathers, which are actually padded allreduces, with other normal allreduces. I observed that this type of fusion really happened. This might explain why padded allreduce performs better in my model.

[2018-06-21 06:19] alsrgv commented on #316
@roastduck, ah - these new numbers are much better.  What if you try disabling fusion for your real model, do you see performance degradation of the padded allreduce?  Sounds like we should add fused allgather.

[2018-06-21 06:28] alsrgv commented on #316
@roastduck, sounds like what you're doing is best for your model then :-)

[2018-06-21 11:31] lxl910915 opened #327 "Anybody can provide a docker image to build horovd or a build manual ?"
It is hard to run 'python setup.py build' without error.

[2018-06-21 12:49] nvcastet commented on #308
@SrivastavaKshitij With Spectrum MPI and Horovod, please use the MPI flags:
`-restrict_libs none -tcp`.
Even If you specify tcp for MPI here, bulk of communications will still use InfiniBand with NCCL2 if available. You may have to include or exclude ethernet interface to use if you have several on each node. For that, add `--mca btl_tcp_if_include interface_name` to include or `--mca btl_tcp_if_e

[2018-06-21 13:06] #327 closed

[2018-06-21 16:23] tgaddair commented on #318
Have some changes ready for TensorFlow.  Will also add support for PyTorch.

[2018-06-21 20:22] ajbouh commented on #194
Yes, that's what I'm doing essentially.

I hadn't seen allreduce-over-grpc before. What a fantastic pointer. Thank you!

It sounds like the primary value in Horovod from your perspective is tied to using mpirun. Is that right?

[2018-06-21 20:49] alsrgv commented on #194
@ajbouh, at this point it is pretty MPI-focused.  We may un-tie it at some point in the future and provide alternative backends, but there are no specific plans yet.

[2018-06-21 22:16] tgaddair commented on #318
Hey @ppwwyyxx , did you have a specific use case in mind of this?  @alsrgv and I were just chatting, and we think there might be more than one valid way to compute the gradients here (and possible memory implications) depending on the desired behavior.  Let me know if you have thoughts around what should be computed and what they could be used for.

[2018-06-21 23:05] abidmalikwaterloo opened #328 "performance drops with 128 GPUS"
I am using ImageNet data with Alexnet with Horovod. With  64 GPUS image/sec is 16000 and it drops to 8000 images/sec with 128 GPUs. Batch size is 128 and I am using K80. Any comments

[2018-06-21 23:11] ppwwyyxx commented on #318
For example, in a normalization layer, compute the mean and variance of all the batches across all GPUs, and use it to perform normalization.

[2018-06-22 02:41] bearnshaw commented on #120
@alsrgv None of these options actually restores the state of the _optimizer_.  This is obvious for options 1 and 3 since new optimizers are instantiated.  Option 2 looks like it might work, however because of [this line of code](https://github.com/uber/horovod/blob/master/horovod/keras/__init__.py#L89) a new keras optimizer also gets instantiated, which for SGD [zeros out the iterations](https://g

[2018-06-22 03:15] ajbouh commented on #194
Makes sense. I'm subscribed to this thread and looking forward to future updates along these lines!

[2018-06-22 08:32] abidmalik1967 commented on #328
[hostname_239227_128_128_k80.pdf](https://github.com/uber/horovod/files/2126863/hostname_239227_128_128_k80.pdf)
@alsrgv network seems okay as no more crash with more than 100 nodes. I am attaching the output for your information.

[2018-06-22 11:28] alsrgv commented on #312
@SrivastavaKshitij, this PR has hierarchical allreduce - #329.  Pass `-x HOROVOD_HIERARCHICAL_ALLREDUCE=1` to turn it on.

[2018-06-22 13:07] SrivastavaKshitij commented on #312
Thanks @alsrgv 👍  I will get back to you with results from PR !

[2018-06-22 17:35] #171 closed

[2018-06-22 18:19] bapriddy opened #330 "Question about pytorch_imagenet_resnet50.py"
I'm running pytorch_imagenet_resnet50.py on many nodes and was wondering...
from line 75 '''kwargs = {'num_workers': 4, 'pin_memory': True} if args.cuda else {}'''
if i'm running on say 32 or 64 nodes, each node being a mb + cpu + gpu +ram, what should 'num workers' be?

Second question...In the output of pytorch_imagenet_resnet50.py what is it/s iterations per second...images/second?

[2018-06-22 20:14] alsrgv commented on #330
@bapriddy,

4 workers per GPU should be reasonably OK, but feel free to play with the setting and let us know if you find better values!

"it/s" is the number of batches per second.

[2018-06-22 20:20] alsrgv commented on #278
@hsmyy, do you have any findings so far?

[2018-06-22 20:30] alsrgv commented on #330
Good catch, you can send a PR with the fix :-)

[2018-06-22 20:57] bapriddy commented on #330
Okay.  Thanks!

[2018-06-23 00:51] alsrgv commented on #328
@abidmalik1967, you can try to use an early version of hierarchical allreduce (#329):

Install:
[code]

Use:
[code]

Depending on how well your MPI works with multithreading + RDMA, you may also benefit from forcing it to use a single thread:
[code]

[2018-06-23 13:44] abidmalik1967 commented on #328
@alsrgv OK. I will try this one. https://github.com/uber/horovod/blob/master/docs/benchmarks.md results use synthetic data. Did you try with ImageNet? Do the synthetic data have the same effect on system performance (especially on I/0) as real data?

[2018-06-23 17:48] alsrgv commented on #328
@abidmalik1967, assuming the input pipeline is not bottlenecked and CPU is able to do all the data augmentation fast enough, it should not be an issue.  I saw around 5% performance degradation with real data.

[2018-06-23 18:32] abidmalik1967 commented on #328
@alsrgv I think we are looking at performance portability problem here. The cluster here doesn't have NVLink. However, NCCL2+PCIe should degrade the performance that much. What OpenMP did you use for the experimentation? I am using OpenMPI 3 built with gnu compiler. I see that you used some option for MPI. Are these essential for performance enhancement? I see time per epoch about 2 min. with 64 G

[2018-06-23 23:08] alsrgv commented on #328
@abidmalik1967, I'm wondering if the network may have hotspots or inconsistent behavior over time.  Can you try to install Horovod with hierarchical allreduce and check whether it makes it better or worse?

[2018-06-24 08:08] xiezhq-hermann opened #332 "Question about the variance of distribued training"
I deployed Horovod in my distributed training of VGG model. From the loss curve I'm quite uncertain about the training diagram, here I have some questions:

1. Are duplicated models in different GPUs have the same parameters from begining?
2. If yes, will the parameters of models diverge in the training phase for any resaon?
3. If they won't diverge, what introduce the quite different loss and val

[2018-06-24 17:50] #303 closed

[2018-06-25 11:17] abidmalik1967 commented on #328
@alsrgv It seems we are looking at the performance variability issue here. This is well known in scientific simulations. Running scientific workflow on large core gives different runtime performance when running at a different time because of network and other infrastructure behavior. I was able to see throughput around 25000 images/sec using 128 GPUs with Alexnet when the job was allowed to run d

[2018-06-25 14:22] bapriddy opened #333 "pytorch_imagenet_resnet50.py gives Possibly corrupt EXIF data. Expecting to read 2555904 bytes but only got 0. Skipping tag 0"
When running pytorch_imagenet_resnet50 (or resnet18) I'm getting the infamous Pillow error

'''1394872 STDOUT (Last Update 2018-06-25 09:15):
Train Epoch     #1:  17% 3438/20019 [26:40<1:59:26,  2.31it/s, loss=6.22, accuracy=1.82] ~.local/lib/python3.6/site-packages/PIL/TiffImagePlugin.py:739: UserWarning: Possibly corrupt EXIF data.  Expecting to read 2555904 bytes but only got 0. Skipping tag 0

[2018-06-25 14:43] bapriddy commented on #330
I sent the PR with the fix.  Not sure if I did it correctly.

[2018-06-25 15:03] SrivastavaKshitij commented on #312
Hi @alsrgv :

I am getting segfault from PR:

`Horovod has been shut down. This has been caused by an exception on one of the rank or an attempt to allreduce, allgather or broadcast a tensor after one of the ranks has finished execution.`

I have attached the entire log file:

[error_output.log](https://github.com/uber/horovod/files/2133606/error_output.log)

My lsf run script is as follows:

[cod

[2018-06-25 15:55] gongzg opened #335 "Multiple hvd process on same GPUs hang with NCCL enabled"
Actually the hang is as expected as by default we can't make the multiple kernels to run concurrently on the same GPU device thus it hangs. I just want to know is it possible to still use NCCL in this situation？Thanks.

[2018-06-25 20:11] alsrgv commented on #312
@SrivastavaKshitij, the real error is still:
[code]

Horovod shutdown error just indicates that "something bad happened, please look in the log above".

Any chance to get output of `gdb python /path/to/core` **in the context of the program**?  One way to get it would be to add `gdb python /path/to/latest/core` into the script you execute with `jsrun`.

**lsf script**:
[code]

**runme.sh**:
[code]

[2018-06-25 21:19] alexcordover opened #336 "Training With Inconsistent Shapes"
I'm training a fully convolutional network using images of (sometimes drastically) different shapes. If I distribute the training across multiple workers, can Horovod handle the shape inconsistencies in the backward pass?

I've tried running it and haven't seen any issues yet (nothing hangs or throws an error), but I haven't let it fully train, and I want to make sure it's theoretically ok before

[2018-06-26 03:16] SrivastavaKshitij commented on #312
Oh shoot. I forgot to give u the output of core dump ... I am sorry , my bad. I will give u the output tomorrow morning.

[2018-06-26 03:59] alsrgv commented on #333
@bapriddy, those are warnings and can be ignored.  However, in [this thread](http://forums.fast.ai/t/help-needed-pil-corrupt-exif-data/3497/2) there's a bit of discussion about cleaning them up.

[2018-06-26 12:49] bapriddy commented on #333
Thanks!!

[2018-06-26 13:53] abidmalik1967 commented on #328
@alsrgv Do I have to install hierarchical all reduce above the horovod framework?

I am trying to reinstall horovod again and getting the following error:

---

 export HOROVOD_NCCL_INCLUDE=/home/amalik/nccl_2.1.4-1+cuda8.0_x86_64
(/home/amalik/tenENV) [amalik@node04 ~]$ export HOROVOD_NCCL_LIB=/home/amalik/nccl_2.1.4-1+cuda8.0_x86_64
(/home/amalik/tenENV) [amalik@node04 ~]$  pip install --no-cach

[2018-06-26 16:33] alsrgv commented on #335
@gongzg, I'm afraid you'd have to use MPI in this case.

[2018-06-26 16:40] alsrgv commented on #328
@abidmalik1967, it's definitely possible to have variability when the system is used by multiple workloads.

[2018-06-26 16:51] alsrgv commented on #332
@xiezhq-hermann, if you have `hvd.BroadcastGlobalVariablesHook()` or `hvd.broadcast_global_variables()` the models will all start from the same initial state, and then they should proceed with training in the lock-step.  It's common to see per-batch loss variability between batches.  The key question is whether you're seeing similar convergence as a single-GPU version in Nx fewer steps (N = total

[2018-06-26 17:38] alexcordover commented on #336
Update: after letting it train overnight, I've found that it will train for awhile and then at some point hit the
```WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that only subset of ranks is submit

[2018-06-27 01:31] jontremblay opened #339 "Temporary failure in name resolution"
Hello, this is probably a beginner mistake that I should be able to quickly fix, but I cannot find an answer.

I have a dgx workstation and I am trying to run the pytorch example locally on my machine as follow:
[code]
I get the following mistake:
[code]
I have added my rsa key to my local computer, e.g., I can run `ssh localhost` with no problems. I don't see what else is missing. Thank you for y

[2018-06-27 10:13] msalvaris opened #340 "Horovod with NCCL2 and Intel MPI"
Hi,

I am currently trying to run the benchmarks using Intel MPI+NCCL2.

My dockerfile can be found here [https://github.com/msalvaris/BatchAIHorovodBenchmark/blob/mat_dev/Horovod-intel/Docker/dockerfile ](https://github.com/msalvaris/BatchAIHorovodBenchmark/blob/mat_dev/Horovod-intel/Docker/dockerfile ) is based on the Horovod dockerfile except that it installs intel mpi rather than open mpi. At

[2018-06-27 11:16] gongzg commented on #335
@alsrgv Thanks for your reply. I did a test on both P100 and M40 which bind multiple tensorflow ranks on the same GPU. And P100 works fine but M40 hangs. Anyway, this issue should be a Nvidia related rather than horovod, I'm going to close it now.

[2018-06-27 11:16] #335 closed

[2018-06-27 12:11] jageshmaharjan commented on #313
Sorry for reopening this issue.
@ziqifan16 , I exactly have the same issue, what do you mean by "another passwordless authentication method". Usually, the master and client are passwordless from my docker image.
Can you tell me how did you get rid of that error.

[2018-06-27 14:22] roastduck commented on #278
I tried to run [tensorflow benchmark](https://github.com/tensorflow/benchmarks) and cast fp32 to fp16 before allreduce. In my configuration, sum-before-divide may lead to Segmentation Fault, while divde-before-sum works well.

[2018-06-27 14:30] zuowang opened #341 "Is the indices and values of tf.IndexedSlices merged after the ALLGATHER operation?"
@alsrgv
Hi Alex Sergeev,
For example, rank 0 has gradient:
indices [0, 1]
values [[1,1,1],[1,1,1]]
rank 1 has gradient:
indices [0, 2]
values [[1,1,1],[1,1,1]]

After the ALLGATHER operation, the averaged gradient is
indices [0, 1,0,2]
values [[0.5,0.5,0.5],[0.5,0.5,0.5],[0.5,0.5,0.5],[0.5,0.5,0.5]]

I went through the code, and didn't find anywhere the indices and values are merged. Is it a bug o

[2018-06-27 17:48] vitalyli opened #343 "DistributedAdadeltaOptimizer Allreduce locks up whole network"
Trying to run it with NCCL2 on 32 P100 GPUs; it seem to be quite unstable and after a while of running, it hits this warning, after which the whole network locks up and nothing is moving after that.
Any way to debug it or avoid it? It has something to do with training data intake. At first I noticed that if
one of the processes is slower to pump the tensors through, then it has a tendency to lock

[2018-06-27 18:51] alsrgv commented on #318
@ppwwyyxx, can you try #331 and let us know if it works well for your use case?

[2018-06-27 19:38] msalvaris commented on #340
After some more investigation it seems that Intel MPI is not CUDA aware so can not be used with NCCL.

[2018-06-27 19:38] vitalyli commented on #343
I found that this lock up was caused by starting a test cycle run after N epochs.
In the log I see that starting test/eval loop immediately cause this lock up, from
which it never recovered. The same approach worked ok with Tensorflow PS and Worker
setup, so I'm curious how to avoid this from crippling it?

Starting test tensor pump from rank: 0..
/data01/fstore/dev/test/part-00094
/data01/fstore/

[2018-06-27 21:36] alsrgv commented on #340
@msalvaris, what if you try to disable IB in Intel MPI?  CUDA-aware MPI is not required to use NCCL.

[2018-06-27 21:42] alsrgv commented on #341
@zuowang, TensorFlow should merge indices and values when you execute an operation using tf.IndexedSlices, e.g. convert it to a dense tensor or apply as a gradient to an embedding matrix.

[2018-06-27 21:44] alsrgv commented on #339
@jontremblay, I believe `Could not resolve hostname localhost:1` is a sign that you're using an old version of Open MPI.  Can you upgrade to the latest version, 3.1.0?

[2018-06-28 02:11] #343 closed

[2018-06-28 02:40] zuowang commented on #341
They might be merged in _apply_sparse_duplicate_indices. Thanks a lot!

[2018-06-28 02:40] #341 closed

[2018-06-28 03:07] alsrgv commented on #336
@alexcordover, the gradients of the network parameters depend on shape of the parameters rather than inputs to the network, so it is OK to use Horovod with inconsistent shapes.

The warning you're seeing indicates that there were times when few GPUs finished processing the batch while others were still in progress for more than a minute.  This sometimes happens if you run validation on the first w

[2018-06-28 07:34] ChangingFond commented on #339
@alsrgv  Thank you, I upgrade openmpi to 3.1.0, and it succeed.

[2018-06-28 08:22] msalvaris commented on #340
@alsrgv Ah ok, good point. If I disabled IB it works but the performance is significantly worse than just using Intel MPI on it's own. Do you think that shouldn't be the case?

[2018-06-28 13:45] Hannah-xxl opened #344 "Error: UCXP2P UCP worker does not support MPI_THREAD_MULTIPLE"
I use openmpi-3.1.0rc2 from mlnx4.3-1.0.1 to run horovod with tensorflow benchmark. This is my command.
`mpirun --allow-run-as-root -np 4 -H centos20:2,centos71:2 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x MPI_THREAD_MULTIPLE=0 -mca pml ob1 -mca btl ^openib python tf_cnn_benchmarks.py --model=resnet50 --batch_size=128 --variable_update=horovod`
There are two gpus o

[2018-06-28 19:32] alsrgv commented on #340
@msalvaris, do you see IB-MPI + no NCCL performing better than TCP-MPI + IB-NCCL?  Can you share the numbers?

[2018-06-28 20:29] msalvaris commented on #340
So here is the configuration:
2 Nodes with 4 V100s each
No GPUDirect No NVLink

nvidia-smi topo -m
        GPU0    GPU1    GPU2    GPU3    CPU Affinity
GPU0     X      NODE    NODE    NODE    0-11
GPU1    NODE     X      NODE    NODE    0-11
GPU2    NODE    NODE     X      NODE    0-11
GPU3    NODE    NODE    NODE     X      0-11

Tensorflow 1.8 CUDA 9
Network: ResNet 50
Batch size: 64 (per GPU)

[2018-06-28 20:39] alsrgv commented on #340
@msalvaris, makes sense - if there's no P2P connectivity, MPI over CPU is the way to go.

[2018-06-28 20:44] bapriddy commented on #333
One user claims the following about the EXIF issue

This sounds like a compatibility issue between pillow, numpy, etc
I solved the issue by downgrading to Pillow version 4 by below command on anaconda

conda install pillow=4.0.0

My python version is 3.5. This would solve the issue.

It's here
https://github.com/codelucas/newspaper/issues/542

Not sure if this works.

[2018-06-28 20:53] alexcordover commented on #336
@alsrgv thanks for the tip! I've been trying for the last few days to get this to work. Now, it will always get to the end of epoch 1, perform the validation (I sharded the validation between the workers and added an `hvd.allreduce` op to collect the results), but then hang before it manages to switch back to the main dataset (using reinitializable iterators in the `tf.data` module).

Any thoughts

[2018-06-28 20:54] bapriddy commented on #333
This is an example of the line of code that fails in TiffImagePlugin.py ...

`if len(data) != size:
                    warnings.warn("Possibly corrupt EXIF data.  "
                                  "Expecting to read %d bytes but only got %d."
                                  " Skipping tag %s" % (size, len(data), tag))
                    continue`

[2018-06-28 22:14] alsrgv commented on #336
@alexcordover, if it truly hangs, you should see stale warning get repeated over and over again.  Can you paste that last warning here?

[2018-06-28 22:24] alsrgv commented on #344
@brave-hannah, if you're not using `mpi4py` in your deep learning training, you can make Horovod single-threaded by installing recently released 0.13.5 and setting `-x HOROVOD_MPI_THREADS_DISABLE=1`.  That should help with these warnings.

[2018-06-29 00:59] ppwwyyxx commented on #318
I implemented cross-gpu batchnorm (https://arxiv.org/abs/1711.07240) with tf.contrib.nccl and horovod allreduce respectively.
Then I replace all batchnorm in a ResNet50 with CGBN to benchmark the speed on 8 V100s.

Baseline speed with standard batchnorm is similar between horovod and non-horovod (replicated) implementation, about 2500~2600im/s.
CGBN based on horovod is 920im/s. CGBN based on tf.co

[2018-06-29 01:04] alsrgv commented on #318
@ppwwyyxx, I think that's a great start!  Do you see the same convergence?  Can you capture [Horovod Timeline](https://github.com/uber/horovod/blob/master/docs/timeline.md) and upload it here, so we could look into improving performance?

[2018-06-29 01:14] ppwwyyxx commented on #318
In terms of accuracy I'm seeing expected results up to now but the training is still far from completion.

The speed is actually not bad for me because the main use case is for detection/segmentation. On mask-rcnn I observed a much smaller performance difference compared to vanilla BN. But of course the faster the better, I'll try to get a timeline.

[2018-06-29 01:56] ppwwyyxx commented on #318
[timelines.zip](https://github.com/uber/horovod/files/2147477/timelines.zip)

Two timelines with and without cross-gpu batchnorm, obtained from the command `mpirun -np 8 --output-filename test.log python3 ./imagenet-resnet-horovod.py -d 50 --batch 64 --fake` on https://github.com/tensorpack/benchmarks/tree/master/ResNet-Horovod, with the following diff:
[code]

[2018-06-29 02:02] tgaddair commented on #318
This is awesome!  Thanks for running these benchmarks, @ppwwyyxx.

[2018-06-29 02:15] ppwwyyxx commented on #318
btw, if I remove the allreduce in cross-gpu BN, the performance is 1556im/s. The difference from standard BN is purely due to the use of multiple small kernels rather than cudnn's batchnorm kernel.

[2018-06-29 03:43] brave-hannah commented on #344
How can I tell whether I use mpi4py or not? I use horovod 0.13.4 which installed by pip. I have tried to add this flag on with 0.13.4 but nothing help.

[2018-06-29 04:47] alsrgv commented on #344
@brave-hannah, you can grep source code for `mpi4py`. The flag was introduced in 0.13.5, so you'd need to upgrade to try it.

[2018-06-29 05:13] alsrgv commented on #278
@roastduck, do you see a performance improvement with fp16, and/or any difference in convergence with divide-before-sum?  Also, can you share output of:
[code]

[2018-06-29 08:12] jageshmaharjan commented on #301
Hey Guzy, I encounter the simillar (same) issue. Made passwordless SSH for host to worker and vice-versa, between two machines inside the docker. Still I was not able to resolve this problem.
Here's my stack-trace:
[code]
My script was,
`mpirun -np 8 -H 13.67.xx.xx:4,104.215.1xx.xx:4 -mca plm_rsh_args "-p 50000 -vvvv" python keras_mnist_advanced.py`

[2018-06-29 08:13] msalvaris commented on #340
@alsrgv Perfect, thanks for the help.

[2018-06-29 08:13] #340 closed

[2018-06-29 11:51] JKChun commented on #304
Yes.

[2018-06-29 15:39] alexcordover commented on #336
@alsrgv this is the stale warning after letting it try to switch back after awhile.

[code]

[2018-06-29 18:30] vitalyli commented on #343
Never mind. This can be caused by one of the training processes crashing. Once that is solved, the training works.

[2018-06-29 22:12] mdagost commented on #182
@maorzalt  Can you share the code that you ultimately got working?  I've been trying something like

[code]

but it seems slow and oddly synchronized.  And I haven't been able to make things work using N-1 GPU's for training and 1 for evaluation with something like:

[code]

[2018-06-29 22:21] mdagost commented on #182
And relatedly, that first code snippet results in 4 python dicts for the `eval_results`, one for each GPU.  Is there a way to all-reduce into a single?

[2018-06-30 02:48] alsrgv commented on #336
@alexcordover, can you log all the exceptions that happen and make sure there's no batch that is thrown away and all workers execute the same # of batches?

One way to tolerate exceptions would be to have logic like this:

[code]

[2018-06-30 02:50] alsrgv commented on #304
@JKChun, can you share your singularity recipe and the build steps, so I could try to repro?

[2018-06-30 02:54] alsrgv commented on #301
@jageshmaharjan, can you open a new issue, please?  Also, are you trying ssh between containers, or between container and host?  You should enable ssh strictly between containers, i.e. `ssh -p 50000 104.215.1xx.xx` should work from the container running on 13.67.xx.xx and vice versa.

[2018-06-30 04:13] SrivastavaKshitij commented on #312
@alsrgv : I was still getting seg fault when trying to read files from disk in pytorch data loader after 1st epoch. So I loaded the data on Non volatile memory on each  compute node first and then I am running the job. This method of loading data into memory first is also fine because we have to perform data augmentation. I ran a bunch of small examples and hierarchical is faster than native imple

[2018-06-30 04:37] vitalyli commented on #71
Hi Alex,

I just want to confirm my calc on this. Running on 4 machines with 8 GPUs each; batch size 5000.

Here are actual performance results:
INFO:tensorflow:global_step/sec: 18.4019
INFO:tensorflow:step = 17700, loss = 0.6280955 (5.430 sec)
INFO:tensorflow:step = 17800, loss = 0.6355628 (5.313 sec)
INFO:tensorflow:step = 17800, loss = 0.6375086 (5.313 sec)
INFO:tensorflow:step = 17800, loss =

[2018-06-30 08:19] roastduck commented on #278
@alsrgv,
1. fp16 nearly doubles the performance of VGG16 model.
2. I only trained it for a short period of time (around 8h). I didn't wait until it to converge.
3. The `fp16` branch (sum before divide) won't crash immediately. It crash after training for several hours. I'm sorry that I cannot provide the dump from gdb, for some reasons.

[2018-06-30 08:59] jageshmaharjan commented on #301
I'll open a new issue, @alsrgv

[2018-06-30 09:46] jageshmaharjan opened #345 "Cannot communicate between containers in two machine in Cloud (Azure), using public ip."
@alsrgv ,
I have two machines and each has their own docker container.
SSH between two containers in different machines are passwordless and can be accessed through port 50000. i.e from host docker to worker docker and vice versa. I have the same username for both containers.
eg: host-docker$ ssh -p 50000 104.215.1xx.xxx
      worker-docker$ ssh -p 50000 13.67.6x.xxx

I have opened the firewall th

[2018-06-30 20:03] smurching commented on #182
@mdagost I'm also curious about distributed evaluation (the original motivation behind this question) - as @alsrgv suggested you could try wrapping the tensors containing your evaluation metrics in an `hvd.allreduce()` before returning from your estimator's `model_fn`. I believe you'd still end up with separate Python dictionaries (one per training process / GPU) but they'd be identical / contain

[2018-06-30 21:58] smurching opened #346 "Retraining tf.estimator with same max_steps errors out & hangs"
## System Information:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS Sierra 10.12.6 (16G29)
- **Horovod version**: 0.13.5
- **TensorFlow version**:  1.8

## The issue
I'm attempting to run a slightly-modified version ([see gist](https://gist.github.com/smurching/5366baec96cd6263eae5f183c15a9884)) of the[ MNIST estimator example script](https://github.com/uber/horovod/blob/9b

[2018-07-02 09:22] sheepjin11 opened #347 "Question about running horovod"
Hello, I want to run tensorflow_mnist_estimator.py with single CPU (on my Mac)
I just copied and pasted the horovod/examples/tensorflow_mnist_estimator.py code and installed Open MPI and horovod.(pip install horovod)

`(tensorflow) mpirun -np 4 -H localhost:4 -bind-to none -map-by slot -x PATH -mca pml ob1 -mca btl ^openib python cnn_mnist.py
`

but it failed

[code]

What is the problem? How can

[2018-07-02 16:25] tgaddair commented on #318
Hey @ppwwyyxx, I was running your tensorpack benchmarks with these changes over the weekend.  Could you tell me how you obtained the images/sec metric?  Was that running a separate training script?  Thanks.

[2018-07-02 17:15] ppwwyyxx commented on #318
I computed it myself. Using #images per epoch / time per epoch (in progress bar).
#images per epoch = #steps per epoch (in progress bar) * args.batch * #GPUs.

[2018-07-02 17:56] tgaddair commented on #318
Thanks for clarifying @ppwwyyxx.

Your numbers seem to be a few orders of magnitude better than mine, am I miscalculating something here, or is this amount of variance reasonable?

`mpirun --allow-run-as-root -np 2 --output-filename test.log python3 ./benchmarks/ResNet-Horovod/imagenet-resnet-horovod.py -d 50 --batch 64 --fake`

Output from progress bar:

`100%|##########|50/50[01:11<00:00, 0.70it

[2018-07-02 17:57] vitalyli commented on #202
Hi @alsrgv Is there any example how to restore from Tensorflow checkpoint? I'm trying to restore it using a custom hook, like this one, which errors, see error below:

    class MyRestoreCheckpointHook(SessionRunHook):
        def __init__(self, rank, checkpoint):
            super(MyRestoreCheckpointHook, self).__init__()
            self.rank = rank
            self.checkpoint = checkpoint

[2018-07-02 17:57] ppwwyyxx commented on #318
Could you use the second or later epochs instead? First epoch is always slower.

[2018-07-02 18:12] tgaddair commented on #318
Thanks, that brought the epoch time down to 56.3 seconds, for about `114 im/s`.  Still seems low, but perhaps it's a hardware limitation.  I'll run a few more tests with and without the Horovod gradients and see how it goes.

From your standpoint, does everything look reasonable enough to warrant landing these changes (performance, convergence, etc.)?

[2018-07-02 20:00] vitalyli opened #348 "Tensorflow restore checkpoint with monitored session and custom hook failing"
Hi @alsrgv Is there any example how to restore from Tensorflow checkpoint? I'm trying to restore it using a custom hook, which triggers on rank0 only, like this one, which errors, see error below:

[code]
INFO:tensorflow:An error was raised while a session was being created. This may be due to a preemption of a connected worker or parameter server. A new session will be created. Error: Horovod has

[2018-07-03 00:55] alsrgv commented on #347
@sheepjin11, you'd typically get this error if you miss `python` in your command line.  Can you copy-paste the command line and output verbatim?

[2018-07-03 01:04] alsrgv commented on #345
@jageshmaharjan, are you using Open MPI or MPICH?  `MPIR_CVAR_CH3_PORT_RANGE` is for MPICH but your error is from Open MPI.

[2018-07-03 01:13] alsrgv commented on #182
@smurching, @mdagost, the simple version is to [use allreduce](https://github.com/uber/horovod/blob/master/examples/keras_imagenet_resnet50.py).  However, for metrics that cannot be simply averaged across workers, I recommend using [mpi4py](http://mpi4py.scipy.org/docs/) to allgather intermediate evaluation results and compute the final metric value from the pieces.

[2018-07-03 01:18] alsrgv commented on #348
@vitalyli, thanks for raising a separate issue.  Are there any errors prior to the `Horovod has been shut down. This has been caused by an exception on one of the rank or an attempt to allreduce, allgather or broadcast a tensor after one of the ranks has finished execution.`?  As the message indicates, if shutdown has been caused by an error, you should see the error in the log before the shutdown

[2018-07-03 02:03] MrWanter opened #349 "what is the recommended set up for cross node all-reduce operation"
Hi! say if I have 10 nodes, each with 8 GPUs, and I want to separate them into 5 groups, 2 node, 16 GPUs each, and perform cross node all-reduce in each group over the 16 GPUs, should I use
`HOROVOD_GPU_ALLREDUCE=NCCL` or `HOROVOD_GPU_ALLREDUCE=MPI`
and what version is suitable? as discussed in https://github.com/uber/horovod/issues/312, there is different version which seems have different specif

[2018-07-03 02:12] vitalyli commented on #348
I can re-run it, but that’s the log I see. Basically trying to make restoring from existing checkpoint possible. I had done it before without horovod, so the restore code worked for me in the past.
There is something that goes against broadcasting of global variables and or the way I have it done from the hook after session creation but before broadcast. Is there some example of restore from check

[2018-07-03 02:45] alsrgv commented on #349
@MrWanter, I think you're after (1) BN within a group + (2) global gradient allreduce.  #318 + PR #331 paved a way for (1), but we need functionality described in #105 to fully support it.

At this point, if you install from PR #331, you will be able to do BN within whole MPI job with TensorPack.

[2018-07-03 02:52] alsrgv commented on #348
@vitalyli, can you make a [gist](https://gist.github.com/) the full output beginning from `mpirun` command until the processes exit?  The real error message most likely is hiding in the log.

In general, `MonitoredTrainingSession` will automatically restart from the last checkpoint it can find.  E.g. [this example](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py) does that

[2018-07-03 03:19] MrWanter commented on #349
Thanks for your reply, I have a confusion here since we only gather batchnorm mean and variance across node, and they are not trainable variable, why have to make it differentiable?

[2018-07-03 03:32] vitalyli commented on #348
I will retry. I think the problem is with monitored session. My new run doesn’t have any checkpoint data. It’s the previous run I’m trying to load checkpoint from, which somehow doesn’t work with monitored session and/or the way global variable broadcast works.

[2018-07-03 03:52] vitalyli commented on #348
I modified code above to feed new run with checkpoint directory from prior run; removed custom hook and fed checkpoint into MonitoredSession then it started working. Would be good to understand in what order basic session needs to be initialized. Also one more question I had, not matter what I did  global_variables_initializer would lock up and won't work under horovod with NCCL.
I used to be able

[2018-07-03 03:55] alsrgv commented on #348
@vitalyli, `MonitoredTrainingSession` does session initialization, checkpointing and restore from last checkpoint automatically - so you should not need to manually initialize variables.

[2018-07-03 04:02] vitalyli commented on #348
@alsrgv Thanks for the pointers. If you happen to have an example with basic Session without MonitoredTrainingSession magic, I'd like to go back to doing it myself. One other thing I need to figure out is how to run test loop. I used run 10Mil test set through after every 1 epoch of some 200Mil samples and record that using test writer. Whenever I try doing that under horovod, it would report time

[2018-07-03 04:10] alsrgv commented on #348
@vitalyli, [this example](https://github.com/uber/horovod/blob/master/examples/tensorflow_word2vec.py) uses pure `tf.Session()`.

As for lock-ups and distributed validation.  Lock-ups warnings are not errors, they just indicate that resources could have been more efficiently utilized, so if it happens every once in a while it's not a big issue.

However, you can (and should, if possible) do distri

[2018-07-03 04:29] alsrgv commented on #349
@MrWanter, classical BN operator uses differentiable mean to compute batch mean and variance, so that gradient can flow through those operations as well.  With #331, it's possible to do BN across GPUs/nodes with Horovod.  It's not possible to do "group BN", where every K GPUs would do independent BN, yet - but we're looking to add such support in near future.

[2018-07-03 04:50] sheepjin11 commented on #347
Every time I change the command, I get a different error, and I'll show you some. I input the following command

1))

(tensorflow) mpirun -np 4 -H localhost:4 --bind-to none -map-by slot -x LD_LIBRARY_PATH -mca pml ob1 -mca btl ^openib python cnn_mnist.py

and the result was

[yangjin-ui-MacBook-Pro.local:01077] Warning: could not find environment variable "LD_LIBRARY_PATH"
-----------------------

[2018-07-03 04:54] alsrgv commented on #347
@sheepjin11, the last error is a known issue in Open MPI (see #319), the workaround is to run:
[code]
(you don't really need other flags on the MacBook)

[2018-07-03 05:02] MrWanter commented on #349
I see, I think maybe I can try `all_gather` and manipulate them myself on each node, am I right for the installation of https://github.com/uber/horovod/pull/331:
`HOROVOD_NCCL_HOME=/home/wangtao/nccl_2.2.13-1+cuda8.0_x86_64/ HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir "git+https://github.com/uber/horovod@gradients"`

[2018-07-03 05:06] sheepjin11 commented on #347
I put your code
`$ mpirun -np 2 -mca btl ^tcp python3 cnn_mnist.py`

and output is
[code]

[2018-07-03 05:14] sheepjin11 commented on #347
and I have more questions, when I run cnn_mnist.py by inputting python3 cnn_mnist.py in command line, there create 2 folders named checkpoints and MNIST-data-0.

After these folders have been created, the following results are obtained when I put the same code

input
`mpirun -np 2 -mca btl ^tcp python3 cnn_mnist.py`

output
`-------------------------------------------------------------------------

[2018-07-03 05:17] ydp opened #351 "can horovod DistributedOptimizer support multi optimizers in one training"
In tensorflow high level API estimator, there is a DNNLinearCombined, which is wide and deep model. As you know tensorflow also has sync training, leveraged by SyncReplicasOptimizer. However, this SyncReplicasOptimizer does not support multi optimizer, like wide and deep model.

So I am wondering if horovod supports multi optimizers? If yes, how its model parameters will be updated? And more, what

[2018-07-03 05:19] ydp commented on #351
here is the dnn_linear_combined and syncreplicaoptimizer

https://github.com/OAID/TensorFlow-HRT/blob/master/tensorflow/python/estimator/canned/dnn_linear_combined.py

https://github.com/tensorflow/tensorflow/blob/r1.8/tensorflow/python/training/sync_replicas_optimizer.py

[2018-07-03 07:56] alsrgv commented on #349
@MrWanter, yes, that's the right command.

[2018-07-03 07:58] alsrgv commented on #347
@sheepjin11, I feel like your shell does not like `^` character.  What if you escape `^tcp` like this:
[code]

[2018-07-03 08:34] yjl9122 opened #353 "batch normalization could sync?"
If we can use syncbn?

[2018-07-03 08:39] alsrgv commented on #353
@yjl9122, is this the same question as #349?  In short, global BN sync is possible with #331 and [TensorPack](https://github.com/tensorpack/tensorpack/blob/07783edb998cec3ec91c4312b39bd754cf9ececa/tensorpack/models/batch_norm.py#L226-L231).

[2018-07-03 08:42] alsrgv commented on #351
@ydp, from quick scan of `dnn_linear_combined.py`, I believe that Horovod optimizer should be compatible with that code.  Do you see any issues when you're trying to run the code?

[2018-07-03 08:54] alsrgv commented on #345
@jageshmaharjan, can you try opening all the ports in the firewall for short period of time to diagnose whether this is firewall related or caused by some other issue?

[2018-07-03 09:14] twangnh opened #354 "hangs with tf mnist example"
I installed horovod with the gradients branch, openmpi 3.1.1, nccl 2.2.13, cuda-8.0, running the tensorflow_mnist.py example with
`mpirun -np 4     -H localhost:4     -bind-to none -p-by slot     -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH     -mca pml ob1 -mca btl ^openib     python horovod_example_mnist.py `
the process hangs there with no output, I can see there are processes with htop:
![ima

[2018-07-03 09:32] jageshmaharjan commented on #345
Hi @alsrgv , I opened all the ports in the firewall, still at same trace.
I wonder, if it because of docker version engine. I'll check that in a meanwhile.

[2018-07-03 17:00] #353 closed

[2018-07-03 20:14] tgaddair commented on #318
These changes have been merged into master, and a new release is being made.  So closing this issue, but let me know if anything else comes up.  And thanks @ppwwyyxx!

[2018-07-03 20:14] #318 closed

[2018-07-03 20:50] tgaddair commented on #354
Hey @MrWanter, I just ran `tensorflow_mnist.py` with the parameters you specified on the gradients branch (now merged into master) without issue.  Sounds like this may be environment issue.

Could you try running with `strace -f -e 'trace=!poll' mpirun ...` and uploading it into a gist as suggested in #280?

[2018-07-03 20:58] tgaddair commented on #354
Also, you may want to verify that password-less SSH works by running `ssh localhost` as suggested in #125.

[2018-07-03 23:57] alsrgv commented on #312
@SrivastavaKshitij, this seems very similar to a memory corruption issue we had with NCCL 2.1.  The issue was that NCCL would allocate RDMA buffer and MADVISE it to not get copied to the fork.  The problem was that memory buffer was not page-aligned, and so some python memory buffers ended up not getting copied correctly.

Are you using NCCL 2?  If so, what's the exact version?

In addition to NCC

[2018-07-04 00:13] alsrgv commented on #345
@jageshmaharjan, do you experience this issue if you use private Azure IPs?

[2018-07-04 02:45] tremblerz opened #355 "How to broadcast training graph from master node"
I have been trying to run distributed training using tensorflow for a case where worker nodes don't have the `training_graph` but the master node does. There is no success so far with tensorflow distributed training, I wanted to know if horovod has some api to make it possible. Going by this [doc](https://www.tensorflow.org/versions/master/deploy/distributed), it seems like every node has to const

[2018-07-04 03:11] jageshmaharjan commented on #345
@alsrgv , the private IP for each VM is same i.e 10.1.0.4.
Azure released the Batch AI VM's, I'll check there if it works in the docker container.

[2018-07-04 03:14] alsrgv commented on #355
@tremblerz, Horovod has no facility for doing this, but one simple way could be to save checkpoint on the shared filesystem and restore from it on all the workers.  If you don't have shared filesystem, you can load the file as a byte array and broadcast it.  If you're running master w/o MPI, this would require #129.  Please let us know if this route sounds attractive.

[2018-07-04 03:17] alsrgv commented on #345
@jageshmaharjan, they have user guide [here](https://github.com/Azure/BatchAI/tree/master/recipes/Horovod) as well.

[2018-07-04 03:45] tremblerz commented on #355
Thanks @alsrgv !
Broadcasting the file as byte array suits my requirement well. If I haven't got it wrong then cycle would like this ->
`master creates and checkpoints the metagraph -> master broadcast this metagraph -> workers load the metagraph -> workers run the training op`
right?

[2018-07-04 04:05] alsrgv commented on #355
@tremblerz, that's right.  Are you running master & workers together in a single MPI job?  Does master have a GPU?

[2018-07-04 04:33] alsrgv commented on #278
@roastduck, would be great if you can capture gdb trace if it happens again.  NaN should not cause a segfault.  Did you observe whether either of branches converge satisfactorily?

[2018-07-04 04:41] alsrgv commented on #355
@tremblerz, in order to use Horovod for training you need to run MPI job among the homogeneous GPU workers.  It will be possible to have a separate master that is not part of MPI job, does not have a GPU and just prepares the graph when #129 is implemented.  You'd still need some mechanism to transmit graph file to workers (MPI broadcast will not work since master will not be part of an MPI job) a

[2018-07-04 04:50] MrWanter commented on #354
Hi ssh localhost works with no problem, after reinstall horovod with` nccl_2.2.13-1+cuda9.0_x86_64`, and rerun the same code, I get:
`OSError: libcudart.so.9.1: cannot open shared object file: No such file or directory`

[2018-07-04 05:16] tremblerz commented on #355
@alsrgv Thanks for clarifying. That sounds good enough. Will give it a shot and let you know.

[2018-07-04 07:32] sheepjin11 commented on #347
The problem has been fixed! Thank you :)

[2018-07-04 11:05] jageshmaharjan commented on #345
Is there a way to communicate between private IP's, between two containers in two different VM machines in Azure. I am thinking this might be the root cause of our TCP communication error.

The trace is with debug verbose:
[code]
Anything we can draw from here.

[2018-07-04 12:30] JKChun commented on #304
I just try to install horovod within singularity environment on another computer, and it works.
so I build an image and upload it. That should fix the problem. Thanks for the help.

[2018-07-04 14:34] SrivastavaKshitij commented on #312
@alsrgv :
1. I am using NCCL 2.2 . I will test out the theory.
2. I still use `HOROVOD_HIERARCHICAL_ALLREDUCE=1` flag with horovod==0.13.6 for hierarchical all reduce right ?

[2018-07-04 17:46] tgaddair commented on #354
Looks like you have CUDA 9.0 installed, but TensorFlow is expecting CUDA 9.1.  Could you try [installing CUDA 9.1](https://medium.com/@xinh3ng/install-cuda-9-1-and-cudnn-7-for-tensorflow-1-5-0-cda36239bc68)?  Altneratively, you can try changing your version of tensorflow-gpu.

You can also try checking the dynamic libraries Horovod + TensorFlow will use by running the following:

[code]

[2018-07-05 00:09] tgaddair commented on #120
A couple initial observations:

1. Keras' optimizer saving does not save all the optimizer state.  For example, the `iterations` property used above is not actually saved along [with the other parameters](https://github.com/keras-team/keras/blob/master/keras/optimizers.py#L511).  So, currently there's no way to retrieve it on load.
2. The `fit()` method resets a number of things that will mess wit

[2018-07-05 00:58] MrWanter commented on #354
I'm using TF 1.8.0 which is installed by pip install tensorflow-gpu, by default it use CUDA 9.0, so here is Horovod that required cuda 9.1?
the ldd `find /home/wangtao/anaconda2/envs/tensorflow_/lib/python2.7/site-packages | grep horovod/tensorflow/mpi_lib.so` command returns
[code]

[2018-07-05 01:44] YAMLONG opened #356 "Segmentation fault ---run with 8GPUS"
I am running the horovod framework on 2 machines with 8 gpus. I got the following error message:
*** Error in `python': malloc(): smallbin double linked list corrupted: 0x00007f9dfc2cc060 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x7f5e4)[0x7f9e7fb385e4]
/lib64/libc.so.6(+0x82d00)[0x7f9e7fb3bd00]
/lib64/libc.so.6(__libc_malloc+0x4c)[0x7f9e7fb3e84c]
/usr/local/anaconda2/bin/../lib/libstdc+

[2018-07-05 03:57] alsrgv commented on #120
This part is very subtle, so I had to dig out some of the prior analysis.

`model.compile()` does [reset `model.train_function`](https://github.com/keras-team/keras/blob/5fcd832b5c5025b164c99f0bd46cb94d707b93d3/keras/engine/training.py#L455), and subsequent call to `fit()` would [make a new one](https://github.com/keras-team/keras/blob/409b0005b5d3bec469009a95302e95fa8bdf2452/keras/engine/training

[2018-07-05 06:48] alsrgv commented on #355
@tremblerz, sounds good.  You can install from #357 to pick the change that allows creating the graph in non-MPI environment and then running it on MPI workers.

[2018-07-05 06:53] alsrgv commented on #131
@SeaOfOcean, as of Horovod 0.13.6, you can use a hierarchical algorithm (via `-x HOROVOD_HIERARCHICAL_ALLREDUCE=1`) which uses MPI for cross-node communication (which is typically halving/doubling) and NCCL inside the node.

[2018-07-05 06:55] alsrgv commented on #312
@SrivastavaKshitij, that's right, hierarchical allreduce is opt-in behavior triggered by the `-x HOROVOD_HIERARCHICAL_ALLREDUCE=1` flag.  NCCL 2.2.12+ does have the fix for the MADVISE issue.

[2018-07-05 07:38] ViaFerrata commented on #120
@bearnshaw
This might be unlikely, but are you using any layers with ```stateful``` properties (e.g. LSTM, BN)?
I've recently found out that aside from the optimizer, Keras also loses some layer information during ```model.save```. I.e., the ```layer.stateful=True``` property is not saved during the saving of the model. Thus, if you load the model again, it will be reset to the standard ```False``

[2018-07-05 08:01] jageshmaharjan commented on #345
@alsrgv , Since we change the network interface in Azure, we were able to communicate with docker in worker and host VM's.
However, now at this point, I am stuck with the hanging problem. I saw some other similar issues with hanging but doesn't seem to help much.

my command is:
`$ mpirun -np 2 -H 13.67.6x.xxx:1,13.67.7x.xxx:1 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PAT

[2018-07-05 08:51] hewei1990102 commented on #328
@alsrgv I have tried ` HOROVOD_HIERARCHICAL_ALLREDUCE=1` this option with new horovod, which effect is not going well. The speed decreses significantly from around 400 images/sec to 85 images/sec with a cluster of 256 P40 GPUs. Our training model is Alexnet running with Openmpi, NCCL and GPUDirect RDMA. Have you tested that large cluster before?

[2018-07-05 09:48] iliadsouti commented on #318
Hi,
I have a question about CGBN. In the code https://github.com/tensorpack/tensorpack/blob/07783edb998cec3ec91c4312b39bd754cf9ececa/tensorpack/models/batch_norm.py#L198-L253, it is mentioned that the statistics are computed per-machine (multiple GPU). Can it be done across all the workers on different machines?

[2018-07-05 10:19] jageshmaharjan commented on #281
@jiajinyu , can you give a details how you solve this. What does bond0 refers to.

[2018-07-05 15:56] ppwwyyxx commented on #318
@iliadsouti It says per-machine for the nccl implementation. It's across workers for the horovod implementation. The docs were updated.

[2018-07-05 15:57] tgaddair commented on #354
It looks like Horovod was previously built with a specific version of TensorFlow and CUDA, which are no longer there.  When reinstalling, `pip` will use the cached build to save time, which could result in these links being broken.  With `pip`, you can use `pip install --no-cache-dir horovod` to force it to rebuild, which should get it to pick up the new version of TensorFlow.

I'd suggest trying

[2018-07-05 16:44] vitalyli commented on #348
Hi @alsrgv Any example of distributed validation without keras ? With ps servers and workers setup, every epoch I’d pause training loop, run 10 mil validation set, record summaries under /valid and continue training loop recording summaries under /train. Somehow with allreduce and monitored training session there are gotchas, that make it more complicated. Do you actually use monitored training se

[2018-07-05 19:46] tgaddair commented on #120
As a test, I added the following callback to print the optimizer weights on train and epoch begin:

[code]

As @alsrgv suggested, using method (2), the weights are zeroed out by the time we get to training, whereas method (3) retains the correct weights.  So looks like (3) is the way to go for now.

[2018-07-05 21:31] alsrgv commented on #129
@gibiansky, it's quite a bit delayed, but those size ops are now available in #357.  Do you want to give it a try and let us know if they work for your use case?

[2018-07-06 00:18] SrivastavaKshitij commented on #312
@alsrgv : thanks for the heads up. i was able to fix the problem. It seems that `num_workers` in `data loader` was causing the segmentation fault. It only works when `num_workers` is set to 0.

[2018-07-06 00:31] pablete commented on #300
Thanks for the response, dropping a --privileged=true fixed it.

 (ie `nvidia-docker run --priviledged=true -i -t uber/horovod /bin/bash`)

[2018-07-06 03:10] jageshmaharjan commented on #345
Closing this issue because not a network issue at this moment. But will open another issue related to deadlock (hang).

[2018-07-06 03:10] #345 closed

[2018-07-06 03:57] jageshmaharjan opened #360 "Process ends up at deadlock situation (hanging issue) inside docker container."
**Command I ran**:
`mpirun --allow-run-as-root -np 2 -H 13.67.6x.xxx:1,13.67.7x.xxx:1 -x NCCL_DEBUG=INFO -x NCCL_SOCKET_IFNAME=^docker0  -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib  -mca btl_tcp_if_exclude lo,docker0 -mca plm_rsh_args "-vvvv 13.67.7x.xxx" python keras_mnist.py`

**Machine configuration**
Two Azure VM, each with docker container as nodes, each with 1xM60 GPU.

I checke

[2018-07-06 05:58] jageshmaharjan commented on #360
And, two processes are being created in the worker machine, while I only have one GPU.
while no process running in host machine.

![two-process-onegpu](https://user-images.githubusercontent.com/15376938/42362121-67eb6c24-8124-11e8-8a10-ec439fe672c1.png)

[Sorry for screnshot]

[2018-07-06 08:07] Agoniii opened #361 "Hanging when run tensorflow_mnist.py on CPU machines"
**Environment:**
Hardware: 2node * intel CPU 6142 (with passwordless SSH)
OS: Red Hat 7.4
Tensorflow: Tensorflow 1.8.0/1.10.0-dev20180702 (I updated the tensorflow and horovod, but not working)
Horovod version: 0.13.5/0.13.7
MPI: Openmpi 3.1.1

**Command I ran:**
mpirun --allow-run-as-root -n 2 --bind-to none -H 192.168.112.12,192.168.112.13 python tensorflow_mnist.py

**Error:**
It can only run s

[2018-07-07 23:14] vitalyli commented on #355
What is driving this requirement, just curious?

[2018-07-07 23:18] vitalyli opened #362 "Tensorflow distributed training and validation using allreduce"
Hi @alsrgv trying to run distributed validation after every N training cycles errors from: hvd.allreduce(auc); probably something needs to be done differently?

Error looks like this:
Training loop Error 23 ['Traceback (most recent call last):\n', ' File line 305, in train_main\n hvd.allreduce(auc)\n', ' File "/usr/local/anaconda3/lib/python3.6/site-packages/horovod/tensorflow/init.py", line 81, i

[2018-07-07 23:19] #348 closed

[2018-07-09 09:44] jageshmaharjan commented on #360
Solved by mounting the shared directory in parameter_server and worker_server then shared to docker by
`docker .... -v /mounted_dir/:/shared_dir/ ...`

[2018-07-09 09:44] #360 closed

[2018-07-09 10:30] alsrgv commented on #312
@SrivastavaKshitij, heads up - it turned out that Horovod versions 0.13.3-0.13.7 are affected by another data correctness bug specific to PyTorch.  The fix is coming with #363 shortly.  Apologies for the issue.

[2018-07-09 10:34] alsrgv commented on #360
@jageshmaharjan, note that with Horovod there are no parameter servers.  Are you creating the graph on one machine and running it on another?

[2018-07-09 10:44] alsrgv commented on #361
@Agoniii, did you get any additional output after waiting for a few minutes?  Typically, you should get a STALL warning if things are not progressing.

After waiting for a few minutes w/o any output, can you capture output of `gdb -p pid`, `thread apply all bt` in a gist?

[2018-07-09 10:49] alsrgv commented on #362
@vitalyli, `MonitoredTrainingSession` prohibits further graph modifications.  Adding operations like `hvd.allreduce()` counts as graph modification, which causes your error.  A simple solution would be to define `avg_auc = hvd.allreduce(auc)` immediately after you define it, and use `avg_auc` in `sess.run()`.

[2018-07-09 10:50] alsrgv commented on #348
@vitalyli, not at the moment, but your code in the other thread is on the right track.

[2018-07-09 10:52] alsrgv commented on #356
@YAMLONG, can you capture a core dump and dump the content of `gdb python /path/to/core`, `thread apply all bt` in a gist?

[2018-07-09 12:16] jageshmaharjan commented on #360
@alsrgv , Sorry, I mean the host server (or host1).

[2018-07-09 13:46] bapriddy opened #364 "pytorch_imagenet_resnet50.py stalls -- rank asymmetry: subset of ranks are waiting for remainder of ranks"
pytorch_imagenet_resnet50.py stalls ...  running on 8 nodes and each node has one gpu.

[code]

[2018-07-09 13:54] kinglion811 opened #365 "horovod can't run on kubernetes's flannel which network model is host-gw"
I run horovod on kubernetes,the network I use flannel,and use host-gw,when I run the example of tensorflow_word2vec.py,the job can not run in right.the information like this:

![image](https://user-images.githubusercontent.com/6119243/42454578-70a4e2d2-83c2-11e8-8211-942bbff1bc2f.png)

the flannel network is 172.30.x.x the host network is 10.28.x.x

[2018-07-09 16:47] vitalyli commented on #362
I see, so something like this:

p = tf.slice(y, [0, 0], [-1, 1])
lbl = tf.slice(y_, [0, 0], [-1, 1])
auc, auc_op = tf.metrics.auc(labels=lbl, predictions=p, curve='ROC')
**avg_auc = hvd.allreduce(auc)**
...
print("Validating", hvd.rank())

                        while v_steps > 0:
                            v_summary, v_auc, g_step = \
                                sess.run([merged_summary_op,

[2018-07-09 19:04] SrivastavaKshitij commented on #312
@alsrgv : thanks for letting me know !

[2018-07-09 19:58] alsrgv commented on #312
@SrivastavaKshitij, 0.13.8 has been released.

[2018-07-09 20:03] bapriddy opened #366 "keras_imagenet_resnet50.py only runs on 1 or 2 nodes...Hangs on 4 or more."
Installed with openmpi and uses CPU memory MPI_Allreduce() across nodes.  Works with MPICH on 1,2,4,8,16 and uses GPU memory for MPI_Allreduce() across nodes.  In both cases batch-size was 32.
Also, tf_cnn_benchmarks.py was much faster.

[2018-07-09 20:03] alsrgv commented on #364
@bapriddy, can you try upgrading to freshly released 0.13.8?  I see that your accuracy is much below 75% it's supposed to achieve by epoch 80 and we made a couple of important bugfixes (#358, #363).

[2018-07-09 21:36] #362 closed

[2018-07-09 23:19] tgaddair commented on #354
One more thing I forgot to mention: if you're building from source (as it appears you are), you will need to remove the `build` and `dist` directories in the project root before running `python setup.py install`.  So something like this:

[code]

Otherwise, you'll end up with cached libraries pointing to old versions of TensorFlow or CUDA, which may be the issue you're seeing here.

[2018-07-10 02:32] Agoniii commented on #361
@alsrgv , there is no output after waiting for a few minutes, and without STALL warning.
Please check the output of `gdb -p pid, thread apply all bt` of two nodes in the gists. Thanks very much.
[node1.log](https://gist.github.com/Agoniii/0ba0e49c8b9a075117015bcec2a62b3a)
[node2.log](https://gist.github.com/Agoniii/3efcf6a854596bfffc97b5f3a3b97c0e)

[2018-07-10 03:47] ydp commented on #72
@kinglion811  I am not sure, in my case need to read samples from hdfs, flannel would slow down IO process very much

[2018-07-10 13:34] brave-hannah commented on #344
@alsrgv It works, thank you very much.

[2018-07-10 17:00] bearnshaw commented on #120
@alsrgv @tgaddair thank you for looking into this and creating a patch so quickly!  How soon until #359 will be merged into master? And thank you for horovod, this really is a fantastic project.

@ViaFerrata not using stateful model, but thanks for the heads up!

[2018-07-10 17:12] tgaddair commented on #120
Hey @bearnshaw, it will be sometime this week, hopefully the next day or two.  #359 is ready to go, but we also want to add a similar feature for the PyTorch API to maintain feature parity.  We'll merge the two together when that's completed.

[2018-07-10 18:19] vitalyli opened #367 "WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds"
Hi @alsrgv,

I'm trying to setup a basic session (not Monitored one) as I want to have better control of training and validation during one run. There is probably something during init phase that is not clicking.
Could you review below code especially init of variables and global broadcast. I tried to replicate what w2v example is doing, but it's getting stuck for some reason.

WARNING: One or mor

[2018-07-10 18:41] tgaddair commented on #367
This usually happens when you have code paths that branch off based on the rank of the process.  For example, you have this block here:

[code]

This is likely loading tensors into the session in one process but not the others, so when you request these tensors be broadcast or allreduced, the process hangs because it's waiting for the other processes to submit their versions of those tensors (but

[2018-07-10 20:08] vitalyli commented on #367
Yes, something is clearly with rank0; I do not however have any data under checkpoint directory.
If you noticed I have this printout just before restoring from checkpoint and it doesn't show up: print("restoring from checkpoint: %s" % checkpoint_dir).
I will enumerate global variables to see if there are the same.

[2018-07-10 20:34] vitalyli commented on #367
I narrowed it down to this block; I'm going to guess that it was being stuck because I used a allreduce based auc_avg only from rank0. Modified that to be non allreduce auc tensor and it started running.
[code]

[2018-07-10 21:16] vitalyli commented on #367
I believe I got it all running; just checkpoint restore is left to test.

[2018-07-10 21:45] tgaddair commented on #367
Nice!  Glad you got it working.

[2018-07-11 06:54] kinglion811 commented on #72
@xuerq  I run horovod on kubernetes,the network is host ,but when I run tensorflow_word2vec,the error is
![image](https://user-images.githubusercontent.com/6119243/42555233-27adaf06-851a-11e8-816b-4c0045659d07.png)
I think,the mpi use the physical machine's orted,not the container

[2018-07-11 06:59] kinglion811 commented on #72
@xuerq I run horovod on kubernetes,the network is host ,but when I run tensorflow_word2vec,the error is

mpirun -np 4 -mca btl_tcp_if_include eth02 -x  NCCL_SOCKET_IFNAME=eth02 -H h1:1,h2:1,h3:1,h4:1 --allow-run-as-root python3.5 tensorflow_word2vec.py

bash: /usr/local/bin/orted: No such file or directory
bash: /usr/local/bin/orted: No such file or directory
bash: /usr/local/bin/orted: No such fi

[2018-07-11 07:04] tremblerz opened #368 "Getting error with mpirun"
I am having some trouble with starting tensorflow_mnist example on horovod. The setup has two gpu servers, `server1` and `server2` with installation performed on both of them as described in https://github.com/uber/horovod/blob/master/docs/gpus.md

I run the following command on both server
`mpirun -np 2 -H server1:1,server2:1 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PAT

[2018-07-11 09:01] YuJingBaoBao opened #370 "Parameters don't copy between GPUs"
I am trying to use horovod with tf slim ,  on 12 GPUs of 3 machines ( 4 GPUs each).
Then I use iperf3 to check the bandwidth, see nearly 0 bandwidth cost when training.

[2018-07-11 10:19] YuJingBaoBao commented on #220
Hello,
I am trying to use horovod with tf slim , on 12 GPUs of 3 machines ( 4 GPUs each). The training step runs on 12 GPUs separately , but parameters doesn't copy between GPUs. Do you have any suggestions ? Thanks.

[2018-07-11 12:43] YuJingBaoBao commented on #370
It seems parameters copy between GPUs on the same machine , but not between machines. Here are logs:
INFO:tensorflow:Recording summary at step 7363.
INFO:tensorflow:Recording summary at step 7363.
INFO:tensorflow:Recording summary at step 2433.
INFO:tensorflow:Recording summary at step 2433.
INFO:tensorflow:Recording summary at step 2433.
INFO:tensorflow:Recording summary at step 7363.
INFO:tensor

[2018-07-11 16:20] luomai commented on #300
Hi @alsrgv I got the same error when running in a Linux server as a root user. Is it also expected?

[2018-07-11 20:05] vitalyli commented on #348
Yes I got it working. I will see if and how I can share it.

[2018-07-12 00:22] tgaddair commented on #366
Hey @bapriddy, could you try running with 1strace -f -e 'trace=!poll' mpirun ...` and uploading it into a gist as suggested in #280?

Also, are you up to date with version 0.13.8?  As @alsrgv mentioned in the other thread, there were some recent changes that may affect this issue.

[2018-07-12 10:18] OverDriveMC opened #372 "about the time"
I want to see the performance of horovod, so I try to run the examples/tensorflow_mnist.py,

First,I run the command:

    time mpirun -np 1 \
    -H localhost:1 \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH \
    -mca pml ob1 -mca btl ^openib \
    python  tensorflow_mnist.py
then the log like this:

Then I try two gpu:

    time mpirun -np 2 \
    -H localh

[2018-07-12 14:43] tgaddair commented on #370
Hey @YuJingBaoBao, do you see this same behavior when you try running the `tensorflow_mnist.py` examples in your environment?  When you print the rank and size for each process, do you get 12 distinct ranks and size 12?

[code]

[2018-07-12 15:27] tgaddair commented on #372
Hey @OverDriveMC, I think what you're observing is the overhead of using interprocess communication with a relatively small training dataset.

Here are the results I had running on 1 GPU:

[code]

And like you saw, the time between every 10 steps was significantly higher with 2 GPUs:

[code]

However, when I scale up the number of nodes by 8x (16 processes total), you see that the additional overh

[2018-07-12 17:47] srinivas-varadharajan opened #373 "Error while scaling up the node."
I'm trying to run the transformer big model implementation of openseq2seq tool kit which uses horovod for distributed training. I'm not using any GPU, trying to experiment based on scaling the CPU nodes. I run into resource deadlock error as I try to scale up the nodes. Any insights on the error would be helpful.

Below is the warning and error segments from the log file.

WARNING: One or more ten

[2018-07-12 20:18] bapriddy commented on #366
@tgaddair We'll update to version 0.13.8.  If it hangs again, I'll run the stack trace and provided output...

[2018-07-13 03:01] YuJingBaoBao commented on #370
Thanks , @tgaddair  .
I have print hvd.rank() and hvd.size() , it's 12 distinct ranks and size 12.
And GPUs are working (GPU-Util nearly 100%)

[2018-07-13 06:30] alsrgv commented on #361
@Agoniii, thanks for the stack traces.  I can see that both nodes are stuck on allreduce:
[code]

[code]

In particular, node 2 seems to be stuck on OpenIB operations.

I would recommend trying UCX and running Horovod in single-threaded MPI mode:
[code]

[2018-07-13 06:32] alsrgv commented on #368
@tremblerz, I suspect there may be an issue with MPI version mismatch.  Couple of things to check:
1. Did you install both Open MPI in the same location?
2. Did you specify `--enable-mpirun-prefix-by-default` option to `./configure`?  If not, I'd recommend doing that.

[2018-07-13 06:35] alsrgv commented on #365
@kinglion811, can you determine interface name of the flannel network using `ifconfig`, and specify `-mca_btl_tcp_if_include <that interface>` instead of `-mca btl_tcp_if_exclude docker0,lo`?

[2018-07-13 07:06] YuJingBaoBao commented on #370
I am not sure...

[2018-07-13 10:57] YAMLONG commented on #356
Thanks for the response,  the bug has been fixed.

[2018-07-13 11:00] #356 closed

[2018-07-13 18:56] alsrgv commented on #355
@tremblerz, were you able to make use of #357?

[2018-07-13 19:54] billy19murahmi commented on #373
[output_2.txt](https://github.com/uber/horovod/files/2193998/output_2.txt)
[output_1.txt](https://github.com/uber/horovod/files/2193999/output_1.txt)

@alsrgv I've attached the output files.

I forgot to mention to MPI command used to run in the issue description:

/bin/time -p mpirun -np 128 -ppn 1   -f $hostfile python run.py --config_file=transformer-big_debug.py --mode=train --use_horovod=True

[2018-07-13 20:04] rahul003 opened #375 "hvd.allreduce() not working when placed in TF graph"
Hello,
I'm trying to shard my validation dataset across horovod workers and use allreduce to sum them up.
But the allreduce doesn't seem to work. It gives me the same answer with or without the allreduce. Any idea what could be wrong? Can I use allreduce like this?
[code]

[2018-07-13 21:58] bapriddy opened #376 "`module 'horovod.torch' has no attribute 'broadcast_object' `"
@tgaddair
I just ran the new pytorch_imagnet_resnet50.py and got the error below.  Is this because I have not installed horovod 0.13.8?

` Traceback (most recent call last):
  File "resnet.py", line 132, in <module>
    state_dict = hvd.broadcast_object(optimizer.state_dict(), root_rank=0)
AttributeError: module 'horovod.torch' has no attribute 'broadcast_object' `

Was this feature already in pre

[2018-07-13 22:05] tgaddair commented on #376
Hey @bapriddy, this was added in #371, which was merged to master earlier today.  It has not been included in a release yet.

Are you building from source, and did you pull from master earlier today?  If so, you'll need to rebuild Horovod from the project root to get the new changes:

[code]

Let me know if that works.

[2018-07-13 22:31] tgaddair commented on #375
Hey @rahul003, that looks like it should work at a glance.  Are you certain the values are different?  What happens if you run with:

[code]

Also, can you print out `hvd.size()` to verify that you have more than one worker?

[2018-07-13 23:48] tgaddair commented on #120
And now version 0.13.9 has been released with these changes.  Let me know if you have any issues!

[2018-07-13 23:48] #120 closed

[2018-07-14 02:34] yogurfrul opened #380 "some doubt about horovod timeline"
1. When I run horovod with tensorflow timeline ,the horovod timeline get wrong time.
I just add some code to examples/tensorflow_mnist.py
[code]
my whole step duration are about 150ms ,while the negotiation duration can be about 1000ms

2.when I remove the tensorflow timeline code ,I get the horovod timeline seems right,
I found that there is about 10ms from the negotiation end to the allreduce st

[2018-07-14 02:41] yogurfrul commented on #380
Name▿ | Wall Duration▿ | Self time▿ | Average Wall Duration▿ | Occurrences▿
-- | -- | -- | -- | --
NEGOTIATE_ALLREDUCE | 131,788.770 ms | 131,788.770 ms | 1,317.888 ms | 100

[2018-07-14 04:06] rahul003 commented on #375
Ah, sorry it was my mistake. The accuracy value is accuracy[0] not accuracy[1]. Second value is the update_op.

[2018-07-14 04:06] #375 closed

[2018-07-14 05:46] alsrgv commented on #376
@bapriddy, we actually retracted 0.13.9 due to optimizer broadcasting taking way too long and pushed out 0.13.10 with #379.  It has a new API for broadcasting optimizer state which should be intuitive to use:
[code]

[2018-07-14 14:38] bapriddy commented on #376
@tgaddair @alsrgv
WoW!!  You guys are moving fast!  Okay I'll run the old code for now.  No problem. We will install updated code soon.  Thanks for the help.

[2018-07-15 01:58] Agoniii commented on #361
@alsrgv Thanks for your answer.  The flag `-x HOROVOD_MPI_THREADS_DISABLE=1` works.

[2018-07-15 23:31] adavanisanti opened #382 "Problem running benchmarks"
I am trying to run benchmarks based on documentation [here](https://github.com/uber/horovod/blob/8318a898a2f03fb22664ca8f5353361974f8a693/docs/benchmarks.md). In specific, I ran the following:
[code]
I get the following error:
[code]
I see the same error with `master` and `cnn_tf_v1.8_compatible` branches of benchmarks.

Could anyone help resolve this?

[2018-07-16 11:05] charlieguo0307 opened #383 "fatal error: cuda.h: No such file or directory when install horovod0.13.8 for pytorch0.4.0"
Hello, I want to install horovod 0.13.8 and I preinstalled pytorch 0.4.0 in my python environment. Pytorch is installed with CUDA and when I typed "torch.cuda.is_available()" the return is True.

My command line when installing horovod is
HOROVOD_NCCL_HOME=nccl_2.1.15-1+cuda9.1_x86_64
HOROVOD_CUDA_HOME=cuda-9.1
HOROVOD_GPU_ALLREDUCE=NCCL
pytorch_0.4.0_c9.1_hvd_nccl/bin/pip3 install -v --no-cache-d

[2018-07-16 18:26] tgaddair commented on #383
Hey @charlieguo0307, looks like an environment issue.  Could you take a look at [this](https://github.com/locuslab/pytorch_fft/issues/21) thread and see if any of the suggestions there work for you (check PATH and LD_LIBRARY_PATH, create soft links to versioned directories, etc.)?

[2018-07-16 18:30] tgaddair commented on #382
Hey @adavanisanti, the second error is usually indicative of lack of GPU support in your TensorFlow installation.  Did you install the `tensorflow` package or `tensorflow-gpu`?

[2018-07-17 01:40] li-zemin opened #384 "Why should we scale the learning rate?"
Hello, I run the distributed tensorflow with 2 GPU in one machine correctly. And the horovod simpifies my job greatly. However, I found than the same code is running in these two gpus in parallel, and I just feed  these two training process with distinct batch-data. The gradients of training parameters are computed independently and than averaged and then updated. So why should we scale the learni

[2018-07-17 02:59] charlieguo0307 commented on #383
Thanks @tgaddair !
The problem has been solved when I added cuda/include in PATH and cuda/lib64 in LD_LIBRARY_PATH.
But the log is also strange if I don't create soft links for /usr/local/cuda:

building '_test_cuda' extension
    gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -fPIC -I/data/chuangchen/qspace/pytorch_0.4.0_c9.1_hvd_nccl/lib/python3.

[2018-07-17 03:30] charlieguo0307 commented on #383
@alsrgv Yes, the HOROVOD_CUDA_HOME environment variable is set but the problem still exists as the first comment says. So I am confused about it.

[2018-07-17 03:32] alsrgv commented on #384
@li-zemin, scaling learning rate helps improve the model convergence rate. The idea is to scale the learning rate linearly with the batch size to preserve the number of epochs needed for the model to converge, and since the number of synchronous steps per epoch is inversely proportionate to the number of GPUs, training is faster. This approach was publicized in [ImageNet in 1 hour](https://arxiv.o

[2018-07-17 03:33] alsrgv commented on #383
@charlieguo0307, could you paste the full installation log as a gist?

[2018-07-17 03:36] charlieguo0307 commented on #383
`  Running setup.py (path:/data/chuangchen/qspace/tmp/pip-install-ccsd_bh0/horovod/setup.py) egg_info for package horovod
    Running command python setup.py egg_info
    running egg_info
    creating pip-egg-info/horovod.egg-info
    writing pip-egg-info/horovod.egg-info/PKG-INFO
    writing dependency_links to pip-egg-info/horovod.egg-info/dependency_links.txt
    writing requirements to pip-egg

[2018-07-17 03:37] alsrgv commented on #373
@billy19murahmi, I think the core dump was captured in a different environment than one used to run the original training script.  Something along [these lines](https://github.com/uber/horovod/issues/312#issuecomment-400079764).

[2018-07-17 03:37] charlieguo0307 commented on #383
@alsrgv the script is
export HOROVOD_CUDA_HOME=/data/chuangchen/qspace/cuda-9.1
export PATH=${HOROVOD_CUDA_HOME}/include:$PATH
export LD_LIBRARY_PATH=${HOROVOD_CUDA_HOME}/lib64:$LD_LIBRARY_PATH

HOROVOD_NCCL_HOME=/data/chuangchen/guocy/nccl_2.1.15-1+cuda9.1_x86_64 HOROVOD_CUDA_HOME=/data/chuangchen/qspace/cuda-9.1 HOROVOD_GPU_ALLREDUCE=NCCL pytorch_0.4.0_c9.1_hvd_nccl/bin/pip3 install -v --no-cach

[2018-07-17 03:49] alsrgv commented on #383
@charlieguo0307, looks like PyTorch is rather prescriptive about CUDA location at this point:
[code]

Is it an option for you to make a symlink /usr/local/cuda -> /data/chuangchen/qspace/cuda-9.1?

[2018-07-17 03:51] alsrgv commented on #326
@cberner, could you try divide-before-sum and share whether convergence rate is different?  Once you hit Inf, there's no way back :-)

[2018-07-17 04:19] cberner commented on #326
@alsrgv sure. Will have results from it later tonight / tomorrow

[2018-07-17 04:55] cberner commented on #326
@alsrgv no meaningful difference, so I think either version is fine. Can always use `allreduce(average=False)` for people that need to customize which they want

[2018-07-17 05:02] alsrgv commented on #278
@hsmyy, any luck with your experiments?

[2018-07-17 05:04] alsrgv commented on #326
@cberner, thanks!  That's great.  I'm leaning towards divide-before-sum version because it should be safer.

@hewei1990102, did you make progress with your experiments?

[2018-07-17 06:14] charlieguo0307 commented on #383
@alsrgv Thanks a lot! My problem has been solved when creating a soft link to my local CUDA dir.

[2018-07-17 11:54] charlieguo0307 opened #385 "horovod NCCL2.1.15+Pytorch supports inter-node mode?"
Hello, I want to run horovod 0.13.8 with NCCL2.1.15 and pytorch 0.4.0. It works well when I start 8 processes in one node with 8 GPUS.

But when I have two nodes, I try to start one process each node with one GPU, something goes wrong with it.

The script is
mpirun -np 2 \
    -H 9.72.8.241:1,9.72.8.74:1 \
    --allow-run-as-root \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=INFO -x LD_LIBR

[2018-07-17 11:55] li-zemin commented on #384
@alsrgv Thans for your reply in time. I read this paper and here is my project code:
[code]
In my case, I found that the pre-trained model was restored twice, and the two gpus run  optimize operation independently, they get different training data and run in parallel.
I would like to make it clear, whether my code is right for the horovod?
How do I make sure that parameters are updated in an avera

[2018-07-17 11:57] #385 closed

[2018-07-17 19:32] jeffhammond commented on #278
A few comments:
- I proposed to add this to the MPI standard: https://github.com/mpi-forum/mpi-issues/issues/65.
- There will be no performance benefit to using float16 versus float32 for small messages, because the initiation cost of moving data is higher than the bandwidth costs.  On HPC networks like Blue Gene/Q, the timings for `MPI_Allreduce` are flat up to at least 512 bytes.  I suspect that

[2018-07-17 20:39] 1duo opened #386 "CentOS7 installation error"
[code]

Error says: `error: mpicxx -show failed (see error below), is MPI in $PATH?`, but I have OpenMPI 3.1.0 installed:

[code]

and path already set in the `$PATH`:

[code]

Any idea what is the root cause of this installation error?

[2018-07-18 02:16] TimYuenior opened #387 "What is the necessary network bandwidth to run Horovod?"
I set up Horovod and altered a Keras/Tensorflow reinforcement learning program so that it runs on 1 machine with Horovod. This works fine, however I'm fairly new to this and I'm worrying about this: https://github.com/uber/horovod/issues/301#issuecomment-396689740
Would using a 1 Gbps LAN connection between 4 machines with 2 GTX1080s yield any speedup at all? Would the use of WAN connections be fe

[2018-07-18 09:13] Feiyu-Zhang commented on #47
Have you succeeded? :)

[2018-07-18 10:41] SrivastavaKshitij commented on #312
Hi @alsrgv : Can i use `keras.utils.multi_gpu_model` with hierarchical data parallel as well ?

[2018-07-18 14:20] bapriddy commented on #364
Ok I installed fresh code in my local directories
-----------------------------------------------------------
`$ module purge
$ wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
$ bash Miniconda3-latest-Linux-x86_64.sh
$ pip install torch torchvision
$ pip install mkl-random
$ pip install protobuf
$ pip install tensorboardx
$ pip install msgpack
$ pip install tqdm
$ pip in

[2018-07-18 15:17] vilmara opened #388 "Poor performance on DGX-1"
Hi @alsrgv, after successfully running the TensorFlow benchmarks in a distributed mode using Horovod (2 nodes with 4xV100 each, total 8xV100 GPUs), I decided to compare the results with the system DGX-1 8xV100 in the cloud, but I didn't get what I was expecting. Here is the software stack configuration on each server and the results. Could you please take a look at it and give me your comments abo

[2018-07-18 15:43] tgaddair commented on #376
Glad the problem was resolved!

[2018-07-18 15:43] #376 closed

[2018-07-18 17:16] 1duo commented on #386
[code]

[2018-07-18 18:25] bapriddy opened #389 "question about intel-openmp-2018.0.3 from pytorch"
What does pytorch do with intel-openmp-2018.0.3?  Secondly, I noticed the install also downloads a cudatoolkit-8.0-3.  So how does this cudatoolkit interacte with global system installs?  If I

`export PKG_CONFIG_PATH=/global_path_to/nvidia/cudatoolkit8.0/8.0.61_2.3.13_g32c34f9-2.1/lib64/pkgconfig:$PKG_CONFIG_PATH`

will this cause a problem.

[2018-07-18 19:58] shinechou commented on #47
@Feiyu-Zhang :unfortunately I haven't.

[2018-07-19 15:55] aaron276h opened #390 "Different accuracy for distributed horovod vs. single machine"
I have observed that distributed horovod  reaches lower accuracy than single machine horovod when using the same hyperparameter (e.g., same global batch size, same learning rate, same amount of training).

The set-up I am using is a two machines with one gpu each for the distributed version, and one machine with one gpu for the single machine version. I am running this using the Horovod docker con

[2018-07-19 16:44] tgaddair commented on #390
Alex may have some additional thoughts, but those results seem about in line with what I'd expect given how the gradient averaging works.

![gradient_averaging](https://user-images.githubusercontent.com/1742912/42957524-cfb23078-8b37-11e8-9336-0ba7aa11d161.png)

In the single-threaded world, you process once batch at a time, compute the model updates (gradients), and apply them to update the weigh

[2018-07-19 17:17] aaron276h commented on #390
@tgaddair Thanks for the quick reply! So if there is averaging of gradients going on this result does appear to make sense. My follow up questions is why doesn't Horovod just sum the gradients instead? This would appear to allow it to have the quality-of-work as a single threaded execution. Also would you know how difficult it would be to make this change?

P.S To double check that we are talking

[2018-07-19 17:30] alsrgv commented on #390
@aaron276h, I've noticed you're using batch size of 16 for distributed case and batch size of 64 for the single GPU case. Can you clarify the reasoning behind it?

The benchmarking code actually does simply sum up gradients.

[2018-07-19 17:39] tgaddair commented on #390
I believe that whether you sum or average the gradients, there will necessarily be some differences.  In the parallel case, batches 1 and 2 will compute their gradients using the same initial set of parameters, but in the serial case, batch 2 will be using updated parameters obtained as a result of batch 1's updates.  So the gradients are expected to differ.

Though it sounds like averaging isn't

[2018-07-19 17:50] aaron276h commented on #390
@alsrgv Sorry that was typo, just double checked my experiment logs and I did in fact use 64 in the single machine case, and 32 per machine in the 2 machine distributed case. (Just updated my original post to correct the error).

@tgaddair I agree with you that if you keep the mini-batch per machine size consistent then the summing would lead to a different result. However if you keep the global m

[2018-07-19 17:56] alsrgv commented on #390
@aaron276h, got it, thanks for clarifications. Part of the difference could be because of different batch size and effect of that on batch normalization. In order to get speedup in convergence, you'd actually want to keep batch size per GPU the same - 64.  This increases total effective batch size, but adding up gradients compensates for that. Can you try that? Also, five epoch mark may be not the

[2018-07-19 18:08] aaron276h commented on #390
@alsrgv Yes I agree batch normalization could definitely be the cause of this difference. Although I am unsure then of why TF+PS performs differently than Horovod. Would you have any insight into this?

I also agree that five epochs might be too early to compare final accuracy, it just happens to be suitable for the use-case we are trying to pursue, which is why it was the testing point.

I will r

[2018-07-19 18:37] alsrgv commented on #390
@aaron276h, since the benchmarks are summing up the gradients, I don't think you should adjust the learning rate parameter.

[2018-07-19 19:40] alsrgv commented on #387
@TimYuenior, the speeds in the comment you referenced are correct.  As a rule of thumb, P100 needs 25-50Gbps, V100 needs 100Gbps.  GTX1080 would be fine with 25Gbit, but with the lower speed, you start to lose efficiency.

In order to use NCCL, can you uninstall Horovod and reinstall with:
[code]

[2018-07-19 19:41] alsrgv commented on #312
@SrivastavaKshitij, it should work.  It will effectively just use MPI for cross-node allreduce.

[2018-07-20 01:37] TimYuenior commented on #387
Thanks for the response.
For the bandwidth, I suppose we'll just have to try using 1 Gbps.
For NCCL, I used the command before to install horovod again when moving on to using multiple GPUs. Do you need to specify `HOROVOD_GPU_ALLREDUCE=NCCL` every time you restart the terminal?

I have noticed that I get the following when running the tf_cnn benchmark:

`dnn3:19699:19749 [0] INFO NET/IB : Using i

[2018-07-20 01:47] TimYuenior commented on #387
Another different issue we ran into is that our program loops over several stages. The training is the middle stage. Running with horovod seems to distribute the whole pipeline (which is fine, but we'll have to tinker with the code).
My question is how exactly horovod distributes the work. Does it run the same python file for every device? Is there a possibility to only distribute the execution du

[2018-07-20 02:31] alsrgv commented on #387
@TimYuenior, yes, it does run the same python file for every device. You can omit certain parts of the code by checking `if hvd.rank() == 0` - which will only get executed on the first device.

Since you see NCCL output in the benchmark, your installation should be correct.

Did you make modifications to your program `main.py` - add `hvd.init()`, wrap optimizer with `hvd.DistributedOptimizer()`, e

[2018-07-20 02:32] alsrgv commented on #364
@bapriddy, when hang happens, could you capture stack traces from few processes using:
[code]

And post those via [Gist](https://gist.github.com/)?

[2018-07-20 02:35] alsrgv commented on #389
@bapriddy, could you provide more context about your question - are you installing PyTorch via Conda?  What steps are you following?

[2018-07-20 03:11] kimbaol opened #391 "Download examples url in Dockerfile file"
The last pass of the Dockerfile [Download example](https://github.com/uber/horovod/blob/6c4287c519b99dcb7e3cd4e3f27a2cef0931822c/Dockerfile#L93) seems pointing to an unreachable url.

[2018-07-20 04:00] TimYuenior commented on #387
Right, the IF-statement should definitely help.

Ah, so the NCCL only works for the DistributedOptimizer? I thought I checked it during training, but maybe I didn't and only checked during the first stage, which doesn't use the optimizer. When I only check the second stage, the INFO statements do print before training. I followed the keras mnist example for my train.py.

I also noticed that during

[2018-07-20 04:11] alsrgv commented on #391
@kimbaol, it does not work with the browser, but it should work with `svn checkout https://github.com/uber/horovod/trunk/examples`.

[2018-07-20 04:28] TimYuenior commented on #387
The difference in speed seems to be present when running the keras mnist example distributed using `mpirun --prefix /usr/local -np 2 -H localhost:1,dnn:1 -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib python3 keras_mnist.py`. Basically, the local GPU finishes completely before the remote GPU even finishes 1 epoch. This leads to an error where allreduce is called while the local GPU is al

[2018-07-20 05:12] kimbaol commented on #391
I see, it's due to my proxy setting, I usually use "export http_proxy=***" and "export https_proxy=***" to connect Internet on my server, but it doesn't work with svn.
Thanks for your quick reply!

[2018-07-20 05:12] #391 closed

[2018-07-20 07:10] alsrgv commented on #386
@1duo, that's very strange.  I just installed tensorflow + Open MPI 3.1.0 + horovod in CentOS 7 docker without issues.

Are you using any virtual environments in your installation?

Did you try reopening your bash session after installing Open MPI?  Sometimes bash needs to re-index $PATH.

[2018-07-20 08:31] #383 closed

[2018-07-20 09:31] YuJingBaoBao commented on #370
I have almost solved the problem by:
      bcast = hvd.broadcast_global_variables(0)
      update_ops.append(bcast)

Now processes don't save checkpoints.  I will continue to refuel. Thank you @tgaddair  @alsrgv

[2018-07-20 09:42] OverDriveMC commented on #372
OK，Thanks~
another question, I wonder  whether nv_peer_memory will play an important role in the speed?
because I may not have permission to install it on the server.

[2018-07-20 14:07] Stonesjtu commented on #372
@OverDriveMC I think peer memory access doesn't require any software dependencies, and it's (probably) opened by default.
You can run with CUDA sample namely `p2pbandwidthtest`

[2018-07-20 17:02] aaron276h commented on #390
@alsrgv I ran both with and without learning rate adjustment, although if the benchmark is indeed just summing them and never diving by number of batches, learning rate adjustment should not be needed.

2 Machine, global batch size 128, lr = 0.01 after 5 epochs: Accuracy @ 1 = 0.4331 Accuracy @ 5 = 0.6984

2 Machine global batch size 128, lr = 0.02 after 5 epochs: Accuracy @ 1 = 0.4543 Accuracy @

[2018-07-20 19:05] andfoy opened #392 "Error broadcasting Adam optimizer parameters on PyTorch"
Thanks for your great work on horovod, it is a great library that speeds up our training processes significatively.

I've tried to use the novel ``hvd.broadcast_optimizer_state`` function introduced on 0.13.10, however, it seems to fail on optimizers different from ``torch.optim.SGD``, because they seem to define additional model parameters that are not necessarily of type ``torch.tensor``.

For i

[2018-07-20 19:30] bapriddy commented on #364
ok

[2018-07-21 04:04] alsrgv commented on #389
@bapriddy, gotcha.  `intel-openmp` is the [library](https://software.intel.com/en-us/articles/getting-started-with-openmp) for multithreaded computations - PyTorch can use it for computing of NN layers on CPU.  OpenMP is not related to MPI.

[2018-07-21 04:37] alsrgv commented on #392
@andfoy, thanks for reporting this issue!

cc @tgaddair - we should definitely fix it, and contributions are certainly welcome.

[2018-07-21 04:46] alsrgv commented on #390
@aaron276h, I really think you need to train till convergence to get a feel for final results.

For your reference, here are three runs of PyTorch ImageNet example with identical parameters:
![image](https://user-images.githubusercontent.com/16640218/43032188-43f7d4ae-8c66-11e8-8b80-1e8aab64ffbf.png)

On the low epoch count, we see variability of 40-46%, but they converge to the same final result.

[2018-07-21 05:29] alsrgv commented on #388
@vilmara, these are very strange (and low) numbers.  I just did a spot check and got 21778.64 img/sec on Google Cloud 8xV100 instance for AlexNet with batch size 64.  With batch size 128, like in your description, I got 28415.07 img/sec.

My environment is - CUDA 9.0, TF 1.8.0, Horovod 0.13.8, cuDNN 7.0.5.15-1+cuda9.0, NCCL 2.2.12-1+cuda9.0.

Command line is:
[code]

[2018-07-21 06:37] alsrgv commented on #278
@jeffhammond, thanks for the feedback and the pointers!

We purposely did not implement fp16 CPU reduction in this first phase because, as you mentioned, it lacks many of performance benefits.  We will look into doing so before the official release.

I am not certain that aggregation in fp32 is necessary for the deep learning domain.  We will run convergence experiments with pure fp16 types on GPU

[2018-07-21 21:33] tgaddair commented on #392
@andfoy Please take a look at #395 if you get a chance and let me know if it fixes the issue you're experiencing.

@alsrgv Given the hackiness of dealing with optimizer state and all its exceptions, I think the best longterm solution is to go back to simply serializing/deserializing the `state_dict` into a blob with `toch.save()` once we drop support for v0.3.0.

[2018-07-22 13:07] bapriddy commented on #389
@alsrgv Okay.  Thanks yet again.  So ~intel-openMP~  probably ties in with mkf, mkl-fft and/or other processes that run on cpu threads.  Nothing to do with the gpu (i assume).  Sorry, I'm coming at this from pure math and don't always have the terminology correct. I think someone mentioned openMP might be needed for compiling.  So if I have a node with two cpu sockets this might be useful for open

[2018-07-22 19:03] andfoy commented on #392
@tgaddair I've tried PR #395 and it seems to be working as expected! I think you can mark this issue as fixed

[2018-07-22 23:10] wskinner opened #396 "AWS Benchmarks sanity check"
I know that without RDMA, a performance hit should be expected when training on multiple machines in AWS because gradients must pass through the CPU on their way to the NIC, among other reasons. What I observe is that going from one machine to two is roughly flat in total images per second, and then 90% scaling efficiency resumes when going from 2 to 4 instances. Can anyone else sanity check the n

[2018-07-23 05:06] richardliaw commented on #396
I used ResNet101, but speedup seems very similar - (p3.16xlarge)

GPUs | 4 | 8 | 16 | 32 | 64 | 128
-- | -- | -- | -- | -- | -- | --
Horovod | 792.41 | 1523 | 1529 | 2958 | 5806 | 11384

[2018-07-23 06:00] NLPproj commented on #47
Same issue, someone suggested to use CFLAGS=-stdlib=libc++ pip install horovod but that's for Linux, whats' the equivalent of this prefix for Windows 10?

[2018-07-23 15:21] aaron276h commented on #390
@alsrgv Yep that definitely makes sense, we are going to run our different branches to completion and see if we get the same results. Just curious, the results you posted, is that executed on different number of machines or same configuration every time?

[2018-07-23 15:22] #390 closed

[2018-07-23 18:22] alsrgv commented on #390
@aaron276h, the same configuration every time.

[2018-07-23 18:51] alsrgv commented on #392
@tgaddair, sounds good.  We'll just need to make sure broadcasting mechanics works for very large objects (vanilla MPI is limited to 2GB) and doesn't consume too much RAM.

[2018-07-23 19:02] alsrgv commented on #389
@bapriddy, it does - I just ran Horovod on Power 9 boxes and got great performance.  I believe I'd get similar performance on Power 8.

Did you install NCCL on your ppc64el nodes?

[2018-07-23 19:04] tgaddair commented on #392
Thanks @andfoy!  #395 has been landed, so marking this as resolved.

[2018-07-23 19:04] #392 closed

[2018-07-23 20:47] billy19murahmi commented on #373
[debug_output.txt](https://github.com/uber/horovod/files/2220967/debug_output.txt)
@alsrgv I tried to capture core dump like you asked. I've attached the output file.

[2018-07-23 21:52] ksy3395 opened #397 "Can't use dockers on two machines"
Hello,

I got issues that I can't test horovod with docker on two machines. They are frozen with these commands:

* Master:
(tensorflow) root@master:/examples# mpirun -np 2 -H 142.93.31.180:1,142.93.31.194:1 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -mca plm_rsh_args "-p 12345" python tensorflow_mnist.py
Warning: Permanently added '[142.93.31.194]:12345' (ECDSA) to the list

[2018-07-24 01:13] TimYuenior opened #398 "Mismatched ALLREDUCE CPU/GPU device selection on 2 nodes"
I used to be able to run programs distributed using horovod. Now it doesn't seem to pick up a GPU. When running the keras example with: `mpirun --prefix /usr/local -np 2 -H address1:1,address2:1 -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib python3 keras_mnist.py`, I get a "FailedPreconditionError: Mismatched ALLREDUCE CPU/GPU device selection".
When running an own program, it gives bac

[2018-07-24 05:10] alsrgv commented on #397
@ksy3395, can you check whether your machines have any non-routed network interfaces and if so, exclude those? See https://github.com/uber/horovod/blob/master/docs/running.md#hangs-due-to-non-routed-network-interfaces.

[2018-07-24 05:15] alsrgv commented on #373
Looks like segfault is happening in the MPI code:
[code]

Can you try Open MPI?  That's what Intel folks did when they [scaled to 128 CPU nodes](https://ai.intel.com/using-intel-xeon-for-multi-node-scaling-of-tensorflow-with-horovod/).

[2018-07-24 05:18] alsrgv commented on #384
@li-zemin, your code is correct.  Processes indeed read the data independently, but they don't do optimization independently -- `opt = hvd.DistributedOptimizer(opt)` command wraps regular TensorFlow optimizer with the Distributed Optimizer which will average gradients among workers before they are applied.  This allows you to scale the learning rate and achieve faster convergence.

[2018-07-24 05:30] alsrgv commented on #387
@TimYuenior, unless you specifically modify batch size per GPU to be smaller because of Horovod, it will use the same batch size 128 as it did before.

It's likely that they print the same # of iterations as before because you did not partition the dataset, like we do in [vanilla MNIST example](https://github.com/uber/horovod/blob/master/examples/keras_mnist.py).  That is fine - your model should

[2018-07-24 05:30] alsrgv commented on #380
@yogurfrul, sorry for the late reply.  Did you resolve your problem?  If not, do you mind sharing the timeline so we could take a look?

[2018-07-24 06:03] TimYuenior commented on #398
Is this the dmesg?
![image](https://user-images.githubusercontent.com/9703612/43119675-f0c7c5a0-8f49-11e8-8acf-82d3513a1075.png)
I don't see any explicit error messages and the GPUs do seem to be detected and added.
There are no with tf.device() statements in my code, it is really similar to the keras_mnist example. It uses hvd.local_rank().

However, I did notice that although running individuall

[2018-07-24 06:20] TimYuenior commented on #387
Ah, ok, so all machines generate their own training data and do what model.fit would do in independent programs, but the batch updates are synchronized. This means every machine needs a copy of the dataset, right? In terms of communication only the weights of the model are broadcasted once at the start and the gradients with every batch.

Are there ways to allreduce other data? For example evaluat

[2018-07-24 06:30] TimYuenior commented on #387
What metric averages does horovod keep track of? I'm using a different evaluation method which simulates a bunch of games and keeps track of a winrate. I just want the winrates of the different machines at the end and average them and ideally send messages to the other machines again. Would I need to look into ompi to do this effectively?

[2018-07-24 06:31] alsrgv commented on #387
`MetricAverageCallback` averages all the metric that Keras keeps track of.  If you want to average a custom metric, you can simply use `hvd.allreduce()` of metrics computed on every worker.

[2018-07-24 06:48] TimYuenior commented on #398
`$ which mpirun` gives back /usr/local/bin/mpirun for both.
The output of the second command:
![image](https://user-images.githubusercontent.com/9703612/43121230-9f47637e-8f4f-11e8-9ae8-1492cb5af484.png)
Seems similar.
I think I got something in the dmesg command though.
"PKCS#7" signature not signed with a trusted key. I also just remembered that one machined operates with driver 390.67 and the o

[2018-07-24 06:55] TimYuenior commented on #387
Alright, I'll look into that. I'm closing this issue now before it contains too many of my arbitrary problems. Thanks for the help!

[2018-07-24 06:55] #387 closed

[2018-07-24 06:58] alsrgv commented on #398
Are you still getting `FailedPreconditionError: Mismatched ALLREDUCE CPU/GPU device selection`?

[2018-07-24 07:30] TimYuenior commented on #398
I have updated the old driver to 390.77 and I still get `FailedPreconditionError: Mismatched ALLREDUCE CPU/GPU device selection`.

[2018-07-24 07:44] alsrgv commented on #398
@TimYuenior, no - it should not matter.  Can you run with additional flag `-tag-output` and copy-paste full output of `mpirun`, instead of screenshots?

[2018-07-24 08:06] TimYuenior commented on #398
[1,1]<stderr>:2018-07-24 15:55:16.245577: E tensorflow/stream_executor/cuda/cuda_driver.cc:397] failed call to cuInit: CUDA_ERROR_UNKNOWN
[1,1]<stderr>:2018-07-24 15:55:16.245601: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:163] retrieving CUDA diagnostic information for host: ywlhk13
[1,1]<stderr>:2018-07-24 15:55:16.245606: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:170] hos

[2018-07-24 09:41] wu-yy opened #399 "which Algorithm is used in horovod ? (AllRecude or Ring Allreduce? )"
I have read a Paper which name is "Buttery Mixing: Accelerating Incremental-Update Algorithms on
Clusters". I think Buttery Mixing Algorithm is better than Ringreduce Algorithm.

But when I see the code of horovod "operations.cc",there is a coordinator Rank Zero,

I can't understand which  Algorithm is used in horovod ? (AllRecude or Ring Allreduce )

[2018-07-24 09:55] yangJirui opened #400 "Error while loading shared libraries: libopen-rte.so.40"
hello,
I can run the distributed tensorflow with 4 GPU in one node. But it does not work when i run with 8 GPU in two nodes(each have 4GPUs). And each node can communicate with another node with ssh( without password).
The erro information reveals that "error while loading shared libraries: libopen-rte.so.40: cannot open shared object file: No such file or directory".
But the LD_LIBRARY_PATH has a

[2018-07-24 10:37] TimYuenior commented on #400
Does running it from the other machine work? When I got this error it was only on one machine and running `sudo ldconfig` solved it then.

[2018-07-24 10:48] yangJirui commented on #400
It works in the other machine.
But `sudo ldconfig` does not  work. Thank you.  @TimYuenior

[2018-07-24 11:36] anpark commented on #252
@alsrgv Yes, it's easy to be reappeared, i found that if detach, the same name tensor to be reduced maybe arrive before the "End" called.

[2018-07-24 13:39] AmirHex opened #401 "Error in Horovod installation"
Hi,

I tried to install horovod on linux. I see the following error log. I appreciate if you can help me with the error?

Collecting horovod
  Downloading https://files.pythonhosted.org/packages/2c/7e/54f7759bc693ab19480c1b525decab5c1d846cd5fc3af97bda18364a1aa5/horovod-0.13.10.tar.gz (100kB)
Requirement already satisfied: cffi>=1.4.0 in ./anaconda3/lib/python3.6/site-packages (from horovod) (1.11.

[2018-07-24 15:52] tgaddair commented on #399
Hey @wu-yy, Horovod is based on the Ring-Allreduce algorithm.  You can read more on the specifics [here](https://arxiv.org/pdf/1802.05799.pdf).

Thanks for sharing the paper on Butterfly Mixing, reading it now!

[2018-07-24 18:00] bapriddy commented on #389
@alsrgv Yes, nccl is installed but I can't install pytorch or horovod because the arch isn't "officially" supported.  Very interested in how you got it running.   BTW, nccl loads via a module.  You probably have more flexibility with the installation.

[2018-07-24 18:45] 1duo commented on #386
Hi @alsrgv , which docker base image are you using?

[2018-07-24 23:39] ksy3395 commented on #397
Hello Alex,

Thank you for your time and help.

When I checked it with ifconfig, the result was:

* root@master:~# ifconfig
docker0   Link encap:Ethernet  HWaddr 02:42:d3:e1:df:c4
          inet addr:172.17.0.1  Bcast:172.17.255.255  Mask:255.255.0.0
          inet6 addr: fe80::42:d3ff:fee1:dfc4/64 Scope:Link
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:51060 errors:0

[2018-07-25 00:50] dhkwon1122 commented on #370
@YuJingBaoBao
Hi, Did you solve the problem?
it seems like you modified the deeplab v3+ training code to use horovod,
can you share modified whole train.py?
Thank you in advance :D

[2018-07-25 01:35] wu-yy commented on #399
@tyvsmith  wow, thank you very much!

[2018-07-25 02:50] YuJingBaoBao commented on #370
add " optimizer=hvd.DistributedOptimizer(optimizer)   " before this line:
total_loss, grads_and_vars = model_deploy.optimize_clones( clones, optimizer)

add
"bcast = hvd.broadcast_global_variables(0)
update_ops.append(bcast)"
before this line:
"update_op = tf.group(*update_ops)"

the init_fn and init_op slim.learning.train are only called when start training from blank. So I add the broadcast in e

[2018-07-25 02:52] alsrgv commented on #397
Can you fix the first command to be:
[code]

And the second command to be:
[code]

Please diff them vs your commands to discover the differences.

[2018-07-25 02:54] alsrgv commented on #401
As per [this thread](https://github.com/ContinuumIO/anaconda-issues/issues/483), folks recommend trying `conda install libgcc`.

[2018-07-25 02:57] alsrgv commented on #386
@1duo, `centos:7`

[2018-07-25 03:03] dhkwon1122 commented on #370
@YuJingBaoBao
Sorry to bother you,
I modified the code as you mentioned but got messages like below,

WARNING: One or more tensors were submitted to be reduced, gathered or broadcasted by subset of ranks and are waiting for remainder of ranks for more than 60 seconds. This may indicate that different ranks are trying to submit different tensors or that only subset of ranks is submitting tensors, w

[2018-07-25 03:06] alsrgv commented on #389
@bapriddy, I did not try PyTorch on IBM - you may have to [install from source](https://github.com/pytorch/pytorch#from-source).

[2018-07-25 03:08] alsrgv commented on #398
@TimYuenior, this is your real issue:
[code]

GPU fails to initialize on second node.  `dmesg` may contain some errors.  You can try to reboot and see if it helps.

[2018-07-25 03:48] YuJingBaoBao commented on #370
add this before slim.learning.train:
    session_config.gpu_options.allow_growth = True
    session_config.gpu_options.visible_device_list=str(hvd.local_rank())

@dhkwon1122

[2018-07-25 04:33] TimYuenior commented on #398
I've tried rebooting, but no success. I ran dmesg --level=err and got this as output:
[code]
Also I just noticed that the one machine is running Ubuntu 17.10, while the other (of which the GPU fails to initialize) runs Ubuntu 18.04. Any relevance?

[2018-07-25 05:08] dhkwon1122 commented on #370
@YuJingBaoBao

Totally, my modification is below
1. import horovod.tensorflow and do hvd.init()
2. add " optimizer=hvd.DistributedOptimizer(optimizer) " before this line:
total_loss, grads_and_vars = model_deploy.optimize_clones( clones, optimizer)
3. add
"bcast = hvd.broadcast_global_variables(0)
update_ops.append(bcast)"
before this line:
"update_op = tf.group(*update_ops)"
4. add this before sl

[2018-07-25 13:17] YuJingBaoBao commented on #370
@dhkwon1122
I am sorry. I don't know why.

[2018-07-25 13:21] bapriddy commented on #389
@alsrgv Yes, I'm working on it now.  Having trouble with the MPI portion.  Is it possible to just run with nccl 1.0 on a 4 P100 gpu node which I'm assuming has 2 cpu-sockets /node?  Eventually I was planning to install nccl 2.0 and get mpi working but is it really using mpi on the single node? I should probably make a diagram of where thing get computed so I can make better sense of this.

Faceboo

[2018-07-25 21:18] 1duo commented on #386
@alsrgv I tried with docker base image from `nvidia/cuda:9.1-cudnn7-devel-centos7`, seems works fine: https://gist.github.com/1duo/43acb5349578a414291195f892ed874b. Still don't know why on my host machine it fails. I do not have any virtual environment in that case.

[2018-07-26 02:11] wskinner commented on #396
@alsrgv

I ran a few more benchmarks. All were run on ResNet101 with synthetic data. It looks like replacing Kubenet with host networking is good for a 10% speedup, and putting the nodes in a placement group is good for another 13%. Is this about what you expect to see? Interestingly, when the nodes were in the same AZ, but not a placement group, the performance was almost the same as when they we

[2018-07-26 05:11] alsrgv commented on #396
@wskinner, that looks much more reasonable :-)

[2018-07-26 06:56] yangJirui commented on #400
Does anyone have a similar experience?

[2018-07-26 07:01] Stonesjtu commented on #400
Can you try upload the result of `ssh {target_node} echo
$LD_LIBRARY_PATH`, I'm faced with such env problems when the remote
machine is not initialized properly by `.bashrc`

2018-07-26 14:56 GMT+08:00, yangJirui <notifications@github.com>: