[2018-10-17 19:59] alsrgv commented on #554
@billy19murahmi, @karakusc, I'm thinking we could add an option `sparse_as_dense=False` to `hvd.allreduce()` and `hvd.DistributedOptimizer()` that will provide the hammer solution.  It many cases it can be quite satisfactory.

[2018-10-17 20:51] billy19murahmi commented on #554
@karakusc Thanks for the response. That was very informative. Let me check those options.

@alsrgv I haven't added hvd.allreduce() in my code. Should I be using that too?
I just tried to follow the sample mnist code with estimators while changing the tranformer code to add horovod.
What changes do I add for sparse_as_dense=False?

As you've asked, I've attached the timeline json of the big model r

[2018-10-17 21:12] karakusc commented on #554
@alsrgv That would solve it, but it might still be difficult for users to diagnose the problem and then realize that this option exists and that it solves the problem. Maybe Horovod can issue a warning (and suggest using sparse_as_dense=True) if a tf.IndexedSlices object is not sparse?

[2018-10-18 02:10] alsrgv commented on #554
@billy19murahmi, I just made a branch that you can install as `[flags] pip install -v git+https://github.com/uber/horovod@sparse_as_dense`.

Can you try installing that version of Horovod, modify your DistributedOptimizer like so: `hvd.DistributedOptimizer(..., sparse_as_dense=True)`, and try running it?

@karakusc, I'm actually a bit puzzled about a good way to do this, since we're not doing sess

[2018-10-18 10:16] maxhgerlach opened #571 "OpenMPI: Not enough slots available"
EDIT: error was on my side

[2018-10-18 10:29] #571 closed

[2018-10-18 13:19] maxhgerlach commented on #499
@alsrgv, as per your suggestion I ran the benchmark with `--horovod_device cpu`. Once with MOFED 4.4-2.0.7.0 and one with OFED uninstalled. The run with MOFED installed was slower by a factor of 5 in images/second. It was also noticeably slower than the run with MOFED, but without the option `--horovod_device cpu` (see four posts above). Without MOFED, performance stayed the same when adding `--ho

[2018-10-18 18:15] karakusc commented on #554
@alsrgv I think that should work (though I could not find any ops called `tf.when`, do you mean `tf.cond`?)

Thinking about it again, what do you think about automatically choosing allreduce instead of allgather when the tensor is not sufficiently sparse, using `tf.cond`? Ultimately the user only cares about the final allreduced tensor, not how it is obtained, as long as it is produced fast.

It m

[2018-10-18 18:30] alsrgv commented on #499
@bureddy, do you have any advice here?  Seems that Open MPI with flags `-mca pml ob1 -mca btl ^openib` has very bad performance when MOFED is installed.  I haven't seen this before.  Are there any additional flags to disable any MPI-RDMA functionality?

[2018-10-18 18:57] bureddy commented on #499
@alsrgv how does OMPI compiled?  there should not have any MPI-RDMA .  Did you try with turning off IB in NCCL?

[2018-10-18 19:07] alsrgv commented on #499
@bureddy, `--horovod_device cpu` completely disables NCCL and uses MPI for everything.  Somehow, MPI with a presence of MOFED behaves much worse than in presence of it.

@maxhgerlach, can you share how MPI was compiled?  Do you recompile it between MOFED off/MOFED on runs?  If not, was it initially compiled when MOFED was installed?

[2018-10-18 19:29] billy19murahmi commented on #554
@alsrgv I ran the experiments with horovod@sparse_as_dense branch. It runs fine now without crashing. I'm able to scale up the nodes now.

[2018-10-18 20:02] alsrgv commented on #554
@billy19murahmi, excellent!  Could you upload the timeline of one the runs that were crashing before?

[2018-10-18 20:17] karakusc commented on #554
@alsrgv Maybe I am missing something, but isn't that a problem with the existing solution too? Though I agree that if the user explicitly sets the flag, they will be aware that the return type could be different.

[2018-10-18 20:31] alsrgv commented on #554
@karakusc, right - current solution just replaces gradients permanently.  `tf.cond()`, however, would have an unclear return type - in certain cases, it'd be `tf.Tensor`, in others it'd be `tf.IndexedSlices`.

[2018-10-19 00:08] billy19murahmi commented on #554
@alsrgv Attached is the timeline for 64 nodes. Big model with batch size of 4096.
[timeline_64_big_4096.zip](https://github.com/uber/horovod/files/2493963/timeline_64_big_4096.zip)

A quick question, how to decide on the size of the fusion buffer based on the timeline?

[2018-10-19 00:37] karakusc commented on #554
@alsrgv Ah, makes sense.

[2018-10-19 01:30] tonyreina commented on #457
Is there a way to increase the timeout to a few minutes instead of just 60 seconds?  I've got a 3D network with very large tensors and it is taking a few minutes per training step. I'm wondering if I can increase the timeout that it might get rid of this.

[2018-10-19 05:43] shaarawy18 opened #572 "Question:Run model on specific GPU"
Does horovod support running the program on a specific GPU?

I have two compute nodes each with 3 GPUs.

When I want to  use `mpirun -np 4 -H node1:2,node2:2  python train.py` comman to start training task with 4 GPUs, Horovod will select GPU0、GPU1 in node 1 and GPU0、GPU1 in node 2 as devices for training automatically. But if GPU0 in node2 is working, the task will fail.

Is there any configurati

[2018-10-19 13:59] Braigns commented on #470
@tgaddair Great thank you.

[2018-10-19 13:59] #470 closed

[2018-10-19 14:47] maxhgerlach commented on #499
Thanks for looking into this @bureddy, @alsrgv!

For the run with MOFED, I had compiled Open MPI with MOFED 4.4-2.0.7.0 already installed. Afterwards I built Horovod. My steps were:
[code]
(At the time this installed Horovod v0.14.1)

I ran the benchmark on the same machine as shown 4 posts above.

I have saved the final summary output by the Open MPI ./configure command:
[code]

Afterwards I unin

[2018-10-19 15:21] tgaddair commented on #572
Hey @shaarawy18, yes, you can specify running on a specific GPU.  This is something that's actually not controlled by `mpirun`, but within your code.  The `mpirun` command is just specifying how many "ranks" (processes) to execute on each node, not which GPUs to use.

The GPU assignment happens somewhere in your training script `train.py` with a line like this (typically):

[code]

`hvd.local_rank

[2018-10-19 17:16] bureddy commented on #499
@maxhgerlach It looks like only 2 extra transports(Open UCX, OpenFrabrics Verbs)  are compiled in MOFED presence.  Can you explicitly disable these two (-without-openib , --without-verbsn  --without-ucx) and see the behavior.  And you should be able to use same build on non-MOFED case too as there is no IB components compiled. This should tell us if issue with OpenMPI build or MOFED presence.

[2018-10-19 20:32] lemairecarl commented on #540
Rebooting does not fix the issue for me. I need to raise the limit for the number of open files of Ubuntu.

[2018-10-20 01:48] jeff-engineml commented on #564
I'll take a look and see what I can do

[2018-10-20 21:58] LiweiPeng opened #575 "horovod allreduce often crashs while saving last step"
I am using latest tensorflow 1.11.0 + horovod code (master branch as of 10/19/2018) to run distributed transformer training. Often (but not always) the last saving checkpoint crashed at gradient allreduce.

i am using 10 GPUs for my test. When it works normally, all 10 processes will print out 'Loss for final step xxx'. When it crashes, only 1 process print out 'Loss for final step xxx', all other

[2018-10-22 05:55] qyyy opened #576 "Build Dockerfile failed"
I just build the [dockerfile](https://github.com/uber/horovod/blob/master/Dockerfile), and I change the tensorflow version from 1.11.0 to 1.10.0. Then I build it `sudo docker build -f Dockerfile -t new.horovod.test .` But I get an error of:
[code]
How to solve it?

[2018-10-22 06:13] qyyy opened #577 "Build Dockerfile failed"
I just build the [Dockerfile](https://github.com/uber/horovod/blob/master/Dockerfile) and change the tensorflow version from 1.11.0 to 1.10.0. Then build it `sudo docker build -f Dockerfile -t new.horovod.test .` But, I reveive the error message:
[code]
How to solve it? Thanks for helping!

[2018-10-22 15:22] scotthuang1989 opened #578 "how much training speed improvement should I expect from fp16 compression"
I just try fp16 compression with tensorflow， in terms of training speed, I got around 10% speed up. is this normal? what level of improvement should I expect?

[2018-10-22 20:40] tgaddair commented on #578
Hey @scotthuang1989, it will depend greatly on where the bottleneck is in your network and model.  For simple models with slow networks, we expect fp16 to help a lot, but for fast networks and complex models, it might not help as much.

In our trials, we've generally seen around a 10% speedup (resnet50, 32 workers, 4 nodes), but we've also has users report increases as high as 17%.

[2018-10-23 01:50] #576 closed

[2018-10-23 02:05] scotthuang1989 commented on #578
ok, your result align with mine, I think I set a too high expectation on this feature..... BTW, I test it with a CudnnLSTM network which is optimized for GPU and memory usage.

[2018-10-23 02:05] #578 closed

[2018-10-23 03:10] Magurosenbei commented on #190
Is there an example for tf.keras models?

[2018-10-23 03:22] SUZhaoyu opened #579 "How to specify working directories and anaconda environments for different workers?"
Thanks for your great work! However, I run into problems when the working directories and anaconda environments are different for different workers. When I run the following command on the host (worker0):

[code]

it simply tells me that can not find `train.py` on worker1, besides, when I try the command `which python`, only the python root returned from worker0 is the one I expected, e.g., `/home

[2018-10-23 03:33] xyzhou-puck opened #580 "Memory issue during building computation graph"
Dear All,

I got an issue when using horovod + tensorflow on a single machine with multiple GPUs, i.e., during the computation graph building phase, each node requires a huge amount of physic memory to finish model building, thus my machine cannot afford to parallelly build computation graph for each node.

Is there any possible solution to my issue?

Thanks,
Xiangyang

[2018-10-23 06:44] SUZhaoyu commented on #579
UPDATE:

inspired by [this](https://stackoverflow.com/questions/17347778/mpirun-wdir-how-to-specify-a-different-directory-for-individual-node/17348006), I modified the command into:

conda_env_worker0="/home/tan/anaconda2/envs/<ENV_NAME@worker0>/bin/python"
program_dir_worker0="<FILE_PATH@worker0>/train.py"
conda_env_worker1="/home/tan/anaconda2/envs/<ENV_NAME@worker1>/bin/python"
program_dir_work

[2018-10-23 06:48] #579 closed

[2018-10-23 06:55] qyyy commented on #577
Here is the full log:
Step 1 : FROM nvidia/cuda:9.0-devel-ubuntu16.04
 ---> c641b70237ae
Step 2 : ENV TENSORFLOW_VERSION 1.10.0
 ---> Using cache
 ---> 159d1c968e7c
Step 3 : ENV PYTORCH_VERSION 0.4.1
 ---> Using cache
 ---> 5e5db75dc619
Step 4 : ENV CUDNN_VERSION 7.3.1.20-1+cuda9.0
 ---> Using cache
 ---> 49df89221981
Step 5 : ENV NCCL_VERSION 2.3.5-2+cuda9.0
 ---> Using cache
 ---> 132098bcf855
S

[2018-10-23 07:41] Agoniii opened #582 "horovod doesn't overlap communication and computation in timeline?"
I run tf_cnn_benchmarks on one node with 8GPU.
I found horovod doesn't overlap communication and computation by checking the timeline file.
In the timeline, `unknown` means the ncclallreduce operation.
Refer to [this ](https://github.com/tensorflow/tensorflow/issues/1824#issuecomment-244251867) , `/GPU:0/stream:all compute`  indicates the computation on GPU.

![_20181023153516](https://user-images

[2018-10-23 07:58] Agoniii commented on #582
@alsrgv It will be great if you can look into this. Thanks!

[2018-10-23 14:58] maxhgerlach commented on #499
@bureddy Thanks for the pointer -- that was a good call!

I re-installed MOFED 4.4-2.0.7.0 re-built OpenMPI following your suggestion with `./configure --prefix /opt/openmpi-3.1.2 --without-openib --without-verbs --without-ucx`.

Even with MOFED installed, the single-GPU benchmark runs fast now:

[code]

@alsrgv: Horovod with NCCL should still benefit from OFED, even if Open MPI is built without a

[2018-10-23 20:11] OmriShiv opened #583 "Horovod crash in kubernetes with tf > 1.8"
I'm trying to use horovod in kubernetes. I have it successfully workin on TF 1.8; however, I've tried TF 1.10.0 and 1.11.0 and am seeing the same issue:

`initializing for distributed training
initializing for distributed training
horovod.size :  2
local_rank:  1
rank : 1
horovod.size :  2
local_rank:  0
rank : 0
/usr/local/lib/python3.5/dist-packages/h5py/__init__.py:36: FutureWarning: Conversion

[2018-10-23 21:27] alsrgv commented on #504
@vilmara, we have observed this issue internally and were able to resolve by upgrading to Open MPI 3.1.2.

[2018-10-23 21:29] alsrgv commented on #499
@maxhgerlach, yes, that's right.

[2018-10-23 21:37] alsrgv commented on #457
@tonyreina, there's no timeout at the moment, but you can set `HOROVOD_STALL_CHECK_DISABLE=1`. Would that work?

[2018-10-23 21:38] alsrgv commented on #540
@lemairecarl, you can follow this guide - https://underyx.me/2015/05/18/raising-the-maximum-number-of-file-descriptors

[2018-10-23 21:41] alsrgv commented on #278
Closing this. CPU FP16 with Intel intrinsics has been merged into master and will be released in Horovod 0.15.1.

[2018-10-23 21:41] #278 closed

[2018-10-23 21:53] alsrgv commented on #577
@qyyy, that's odd.  I was able to build your docker file on my server without problems.  Can you try rebuilding with `--no-cache`?  If it does not help, what's output of `cat /proc/cpuinfo`?

[2018-10-23 22:48] LiweiPeng commented on #575
@alsrgv Thanks. When I run training on a new dataset, I don't know how many train steps it takes to finish one training loop.  Currently I first try a big number, then use try and error to figure out a proper number. But this is not a good solution.

Any suggestions for better solution? Thanks.

[2018-10-23 23:49] alsrgv commented on #575
@LiweiPeng, can you use map-reduce or a simple script to estimate # of examples per epoch, then you can divide by batch size & number of workers.

[2018-10-23 23:55] alsrgv commented on #554
@billy19murahmi, thanks!  You can try various fusion buffer sizes (1MB, 2MB, 4MB, etc.) and see which one works best.  Soon, Horovod will include auto-tuning functionality, so you wouldn't have to worry about it.

[2018-10-24 00:30] #430 closed

[2018-10-24 00:30] #554 closed

[2018-10-24 00:30] #566 closed

[2018-10-24 01:34] yncxcw commented on #565
@alsrgv Please close this issue. It turns out a bug in my code. Thanks

[2018-10-24 03:30] qyyy commented on #577
`--no-cache` doesn't work. And here is the output of `cat /proc/cpuinfo`:
[code]

[2018-10-24 03:32] #565 closed

[2018-10-24 05:28] qyyy commented on #577
The docker version of my server is 1.12.6, does it matter?

[2018-10-24 06:52] qyyy commented on #577
I have tried to rebuild it with `--no-cache` and update my docker version to the latest, but the error still occurs.

[2018-10-24 08:29] qyyy opened #584 "Horovod hangs on multi-machine"
I run the [tensorflow benchmark example](https://github.com/tensorflow/benchmarks/tree/cnn_tf_v1.10_compatible) in the [official docker image](https://hub.docker.com/r/uber/horovod/tags/)(uber/horovod:0.14.1-tf1.10.0-torch0.4.0-py2.7). And I run the example in docker.
When I just run the example on single mechine(docker1 on server "main-0"):`mpirun -np 2 -H main-0:2 -bind-to none -map-by slot -x N

[2018-10-24 08:32] qyyy commented on #281
@jiajinyu , hi man, I met the same problem as yours, can you introduce the way you solve it? How to `be specifically setting bond0 to NCCL and MPI as the only interface`?

[2018-10-24 08:40] qyyy commented on #584
Maybe the same problem with #281 , but in that issue, there is no solving method.

[2018-10-24 12:32] maxhgerlach opened #585 "Segmentation Fault (11) after about 20 hours of training"
My Horovod trainings on a single node with 8 GPUs repeatedly crash with a segmentation fault after running for about a day (Horovod 0.14.1, Tensorflow 1.8, OpenMPI 3.1.2, libnccl 2.2.13-1+cuda9.0, Cuda 9.0).

[code]

I collected a core dump and loaded it into gdb. This is the backtrace:

[code]

The backtraces for all 88 threads are here: [gist](https://gist.github.com/maxhgerlach/fd5987d66bc16cc0

[2018-10-24 17:35] alsrgv commented on #577
@qyyy, my Docker is `Docker version 17.06.0-ce, build 02c1d87`, which version did you upgrade to?

[2018-10-24 17:36] alsrgv commented on #584
@qyyy, can you try using `-x NCCL_SOCKET_IFNAME=eth0`, since you have multiple eth NICs?

[2018-10-24 19:57] jianyinglang commented on #27
@zuowang Thanks for the post! Would you mind share me some example of using tf.control_dependencies()?

[2018-10-25 01:33] alsrgv commented on #585
@maxhgerlach, can you try upgrading to the latest Horovod (0.15.1 as of few minutes ago) and see if you can still reproduce this issue?

[2018-10-25 01:34] qyyy commented on #584
Cool!!!!! It works!!!! Thank you very much @alsrgv

[2018-10-25 01:34] #584 closed

[2018-10-25 02:52] YuhkiYano opened #587 "Line 82 of Dockerfile has a problem(This line cannnot work normally)"
Line 82 of Dockerfile(download examples) has a problem. This line sometimes cannot work normally because svn checkout command cannot work. If you execute docker build command from this dockerfile you should modify some codes from line 81 to line 85 like following codes.

[code]

If you have some comments, please contact me by comment.

[2018-10-25 03:20] alsrgv commented on #587
@YuhkiYano, can you paste the error you're seeing?  I was able to build new docker files just a couple of hours ago.

[2018-10-25 03:58] YuhkiYano commented on #587
The error which I saw are as follows.
svn: E170013: Unable to connect to a repository at URL 'https://github.com/uber/horovod/trunk/examples'
svn: E670002: Name or service not known

[2018-10-25 04:04] alsrgv commented on #587
@YuhkiYano, can you try running docker build with `--network=host` flag?  Sometimes it helps to resolve network issues.

[2018-10-25 04:41] cdaningWings commented on #110
Hi, I have the same type of problem.
My environment is Centos7 nccl2.3.1,openmpi-3.1.2, and when I run it :
strace mpirun -np 4 -H lf-solar-gpu13-pm:2,lf-solar-gpu16-pm:2 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -mca pml ob1 -mca btl ^openib python3 tensorflow_mnist.py

the output is :
lf-solar-gpu13-pm:473785:473811 [0] NCCL INFO NET : Using interface br0:10.9.22.45<0>
lf-solar-gpu13-pm:4737

[2018-10-25 05:15] alsrgv commented on #110
@cdaningWings, feels like you have NCCL 1.x on the second node since NCCL output looks different.

[2018-10-25 05:18] alsrgv commented on #583
@OmriShiv, did you reinstall Horovod after upgrading TensorFlow?

[2018-10-25 05:49] qyyy opened #588 "How to use hdfs when mpirun?"
I can run correctly with command:`mpirun -np 4 -H worker-0:2,main-0:2 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x NCCL_SOCKET_IFNAME=eth0 -x NCCL_IB_DISABLE=1 -mca pml ob1 -mca btl ^openib -mca btl_tcp_if_exclude docker0,lo,eth1 python code/benchmarks/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py --model resnet20 --batch_size 32 --data_dir=data/  --data_name=cifar1

[2018-10-25 05:59] cdaningWings commented on #110
@alsrgv Thanks for your help!
but, how can I determine if my second node is NCCL version 1. X?  and my LD_LIBRARY_PATH does not contain NCCL 1. x information.

[2018-10-25 06:14] cdaningWings commented on #110
@alsrgv Hi ,when i run the code in the second node[gpu16, the above code ran in gpu13], the error as follows:
INFO NCCL debug level set to INFO
INFO NCCL debug level set to INFO
INFO rank 1 using buffSize = 2097152
INFO rank 0 using buffSize = 2097152
INFO rank 1 using device 1 (0000:03:00.0)
INFO rank 0 using device 0 (0000:02:00.0)
lf-solar-gpu13-pm:487531:487559 [1] NCCL INFO NET : Using interf

[2018-10-25 06:17] alsrgv commented on #588
@qyyy, use `-x CLASSPATH=$(....)`

[2018-10-25 06:22] #588 closed, assigned to nobody

[2018-10-25 06:34] qyyy commented on #577
18.06.1~ce~3-0. And I change my docker version into 17.06.0~ce-0~ubuntu, then rebuild it. But find the same error message.

[2018-10-25 06:55] alsrgv commented on #110
@cdaningWings, a couple of things:
1. Can you uninstall horovod, and reinstall with `HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=/path/to/nccl2.3.5 pip install -v --no-cache-dir horovod`
2. If (1) still does not help, can you try ssh-ing to 10.9.22.45 from the other server?

[2018-10-25 06:57] alsrgv commented on #577
@qyyy, one suspicion I have is that your [CPU](https://ark.intel.com/products/47925/Intel-Xeon-Processor-E5620-12M-Cache-2-40-GHz-5-86-GT-s-Intel-QPI-) may not have AVX instructions that modern versions of TensorFlow may be built with by default.  Aside from Docker and Horovod, what's the latest version of TensorFlow you were able to run on this server?

[2018-10-25 07:29] cdaningWings commented on #110
@alsrgv
      1.  I have reinstall the horovod, but still does not help.
      2. yes, I can ssh-ing 10.9.22.45 from the other server

And I still have some question. when i run the code in the gpu13, and the second node is gpu16. the INFO is ：NCCL INFO Could not find real path of /sys/class/net/br0/device。 but if i run the code in the gpu16, and the second node is gpu13, the INFO is: NCCL WARN Ne

[2018-10-25 07:38] alsrgv commented on #110
@cdaningWings, can you paste the output of `ifconfig` from both servers?

[2018-10-25 07:42] cdaningWings commented on #110
@alsrgv  ok
The gpu16:
bond0: flags=5187<UP,BROADCAST,RUNNING,MASTER,MULTICAST>  mtu 1500
        inet6 fe80::ae1f:6bff:fe21:d4fc  prefixlen 64  scopeid 0x20<link>
        ether ac:1f:6b:21:d4:fc  txqueuelen 0  (Ethernet)
        RX packets 4138422  bytes 3349556769 (3.1 GiB)
        RX errors 0  dropped 8625  overruns 0  frame 0
        TX packets 2693773  bytes 1648991110 (1.5 GiB)
        TX er

[2018-10-25 07:48] cdaningWings commented on #110
@alsrgv hi  I changed the gpu16 to gpu9. and I run the code in the gpu 9, I have got the exception as follows:
--------------------------------------------------------------------------
lf-solar-gpu9-pm:285594:285607 [0] NCCL INFO NET : Using interface br0:10.9.22.33<0>
lf-solar-gpu9-pm:285594:285607 [0] NCCL INFO NET/IB : Using interface br0 for sideband communication
lf-solar-gpu9-pm:285594:2856

[2018-10-25 09:17] OmriShiv commented on #583
@alsrgv yes

[2018-10-25 09:41] goru97 opened #589 "Unable to use horovod with Keras-retinanet"
Hi there,
I am very new to deep learning. I tried running horovod with keras-retinanet on 2 nodes, each with 4 gpus. I am using tensorflow's keras multi_gpu_model. But, it gives me the error:
```To call `multi_gpu_model` with `gpus=4`, we expect the following devices to be available: ['/cpu:0', '/gpu:0', '/gpu:1', '/gpu:2', '/gpu:3']. However this machine only has: ['/cpu:0', '/gpu:0']. Try reduci

[2018-10-25 10:29] maxhgerlach commented on #499
Thanks for the support! The resolution is good enough for my usage.

[2018-10-25 10:29] #499 closed

[2018-10-25 14:56] maxhgerlach commented on #585
OK, I am giving 0.15.1 a try.

[2018-10-25 15:38] tgaddair commented on #589
Hey @goru97, try running without `--multi-gpu`.

There's no need to use a `multi_gpu_model` with Horovod.  The error you're observing here is that you're trying to have each individual process make use of all 4 GPUs on the node, but Horovod has each process map to exactly one GPU.  This is achieved with the following line:

[code]

What that line is saying is, "Whenever this process wants to place

[2018-10-25 15:52] goru97 commented on #589
@tgaddair Oh, that make sense! Thank you :)

[2018-10-25 15:52] #589 closed

[2018-10-25 17:03] #541 closed

[2018-10-25 18:34] lemairecarl commented on #540
I don't have access to sudo on that machine. My workaround is to reduce the number of DataLoader workers.

[2018-10-26 00:54] YuhkiYano commented on #587
@alsrgv
I tried rebuilding a Dockerfile following your advice, but I got the error message as follows.
[code]

[2018-10-26 01:04] xyzhou-puck commented on #580
Thanks, I solve my issue by hacking the initialization order of each node.

[2018-10-26 01:04] #580 closed

[2018-10-26 03:27] goru97 opened #590 "Spawning two processes on one GPU"
Hi team,
I am training my model using Horovod. The cluster is composed of four nodes, two nodes with 8 GPUs and other two with 4 GPUs.

Command to run training:
[code]
It works fine with two nodes each having 4 GPUs. Also with two nodes each having 8 GPUs. The combination, four nodes with 24 GPUs gives resource exhaustion error (OOM).
When I ran `nvidia-smi` on one of the nodes with 4GPUs, it show

[2018-10-26 04:48] tgaddair commented on #590
Hey @goru97, if you're seeing 8 processes on a machine with only 4 GPUs, it comes back to the `mpirun` command.  It looks like there's a typo in the command you provided:

[code]

There should be a colon between "host2" and "4", is it possible there's a similar typo in the command you ran, or you're specifying "hostX:8" when hostX only has 4 GPUs?

[2018-10-26 05:12] goru97 commented on #590
Hi @tgaddair, I replaced the IP addresses with `hostx:gpus` and made error while typing. No, the actual command looks correct and has the right number of gpus assigned, based on the host.

[2018-10-26 05:37] zerolxf opened #591 "CUDA driver version is insufficient for CUDA runtime version"
After I installed horovod according to the steps, I run the example and I get the following error. But my cuda driver has no problem. In other programs, cuda can run normally.

Cuda version:9.0
NVIDIA-SMI 384.130 Driver Version: 384.130
NCCL version: nccl_2.3.5-2+cuda9.0_x86_64

command
[code]
**error**
[code]

[2018-10-26 08:52] tingweiwu opened #592 "Is horovod has a upper limit of GPUs when nodes increase?"
I learn that  the communication time of NCCL  does not increase with the number of nodes, but only depends on the total amount of data and bandwidth.
therefore. I wonder
1、whether horovod has a upper limit of GPUs when nodes increase or not?
2、will the speed drop sharply when num of GPUs reach an "threshold "  ?

thanks a lot if you reply

[2018-10-26 12:02] cdaningWings commented on #110
@alsrgv  Hi, Finally I fixed and could run horovod, gpu16 have installed pytorch, [#91](https://github.com/uber/horovod/issues/91).
Thank you very much!

[2018-10-26 14:20] Fubukimaru opened #593 "event_base_loop warning"
Hello,

I'm training a network using Horovod and I'm getting this warning constantly:

[code]
The network trains correctly, but it's a bit annoying. I searched a bit on Internet and it seems that is something related to libev and mpi, any clue?

I'm currently using Horovod version 0.13.11

Thanks!

[2018-10-26 18:07] LiweiPeng commented on #575
Thanks @alsrgv . This works

[2018-10-26 18:07] #575 closed

[2018-10-26 21:53] shoubhik opened #594 "Tensorflow not able to import meta_graph after models saved with horovod training"
After running training with horovod, I want to load the model back into memory using `tf.train.import_meta_graph`. I used the following code
[code]

But I am getting the following error

[code]
I am using the esitmator API
Any idea how I can read in the meta file to restore the weights?

[2018-10-29 17:35] alsrgv commented on #585
@wanglouis49, could you include stack trace as well?

[2018-10-29 17:37] alsrgv commented on #593
@Fubukimaru, which version of Open MPI are you using?  Can you try upgrading to Open MPI 3.1.2?

[2018-10-29 17:39] alsrgv commented on #591
@zerolxf, do you have another version of CUDA in your system?  Can you try reinstalling Horovod with `[flags] HOROVOD_CUDA_HOME=/path/to/cuda9.0 pip install -v --no-cache-dir horovod`

[2018-10-29 17:40] alsrgv commented on #590
@goru97, is it possible that you have zombie processes?  Can you survey your hosts and kill off any training processes that should not be there?

[2018-10-29 17:44] alsrgv commented on #594
@shoubhik, can you describe your use case in a bit more details?  Are you trying to do this for inference purposes?  If so, can you check if solutions in [Inference doc](https://github.com/uber/horovod/blob/master/docs/inference.md) help you?

[2018-10-29 17:47] alsrgv commented on #587
@YuhkiYano, is your docker build process able to access internet?  You can work around this in your environment by downloading examples outside the container and using [ADD](https://docs.docker.com/engine/reference/builder/#add) directive to add them.

[2018-10-29 18:00] alsrgv commented on #583
@OmriShiv, not sure if this will help, but can you try getting rid of ClusterSpec stuff?

[2018-10-29 18:14] shoubhik commented on #594
Hi,
My use case is to basically reload the weights of an existing network and retrain it using quantization. The link you pointed to may work for me but can you point me on how to generate a .pb file from checkpoint files?

[2018-10-29 18:21] alsrgv commented on #594
@shoubhik, are you planning to retrain using the Estimator?  You should be able to restore from the previous checkpoint.

[2018-10-29 18:37] shoubhik commented on #594
Yes, I would be using the estimator API. However, I looked into loading model from checkpoint using the estimator API and the input for loading the model is` MODEL_DIR`. I am assuming that will load the latest checkpoint. However, my use case is to load a particular checkpoint where the loss is minimum. Is there a way where I can just load a particular checkpoint and not the latest one?

[2018-10-29 19:09] alsrgv commented on #594
@shoubhik, can you try using `warm_start_from`: https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#__init__ ?

[2018-10-30 02:44] goru97 commented on #590
@alsrgv I stopped the training and looked at the number of processes on the hosts with 4 GPUs, there was no zombie process consuming any GPU.

[2018-10-30 03:29] wangxf2018 opened #598 "Running horovod with MVAPICH2-GDR has some errors"
Hi team,
I am testing horovod with MVAPICH2-GDR on single node. My test environment is ubuntu16.04, tensorflow1.8, horovod0.14, gcc4.8.5, cuda9.2, cudnn7.1,MLNX-OFED 4.3, Intel Xeon CPU, nvidia V100. using HOROVOD_GPU_ALLREDUCE=MPI.
but there are some errors.such as OOM and lib error
[mvapich2-gdr&horovod-error.log](https://github.com/uber/horovod/files/2527793/mvapich-gdr.horovod-error.log)

[2018-10-30 13:05] SUZhaoyu opened #599 "How to execute validation in parallel during the training phase in low-level Tensorflow API?"
I play with Horovod for a while and it performs quite well for multi-server training. However, I have a question: how to enable validation right after each training epoch in low-level Tensorflow? I went through the docs and only found examples for high-level TF api such as estimator with validation, and the example in [tensorflow_wrod2vec.py](https://github.com/uber/horovod/blob/3c58a4da2a491cf503

[2018-10-30 16:52] tonyreina opened #600 "Do I run the validation metrics on just hvd.rank 0?"
I've got a Keras/Horovod script that runs well when I don't include the validation steps at the end of the epoch. However, when I try to do the validation metrics, it gives me:

[code]

I'm using the Horovod callbacks:

[code]

but only doing the checkpoint and TensorBoard callbacks on the hvd.rank 0.

Do I need to add the validation on all ranks or just rank 0?

For example, on rank 0:

[code]
an

[2018-10-30 17:12] sandralima opened #601 "Horovod with parameter server (rank 0)"
Hello Team,

How to do The worker with rank 0 (master) not processes training. I only need that master runs the validation, summary and the checkpoints operations, just like a parameter server, because when I try to scale to more than 3 workers, the master does not have enough RAM memory and the training finish abnormally.
![masterram](https://user-images.githubusercontent.com/6975642/47736621-0d5

[2018-10-30 17:39] DEKHTIARJonathan opened #602 "GPU Memory leak when XLA is activated"
Hi everyone,

I am working using Horovod with various models using XLA. We have identified a problem when Horovod is used with XLA activated.

To keep it short, if you enable XLA, each Horovod process will allocate a little memory on each GPU.
When using DGX1 (8 GPUs) or even worse DGX2 (16 GPUs) this becomes a **huge** issue.

Each horovod thread takes between 250-500MB of VRAM on all GPUs + Netw

[2018-10-30 18:47] DEKHTIARJonathan commented on #602
For some random reason, I find the symptom of issue #590 quite similar ... Even if #590 does not seem to involve XLA

[2018-10-30 20:42] wanglouis49 commented on #585
@alsrgv for sure. (Horovod 0.15.1, Tensorflow 1.10, OpenMPI 3.1.2, libnccl 2.2.13-1+cuda9.0, Cuda 9.0)
[code]

[2018-10-31 09:57] maxhgerlach commented on #585
@wanglouis49 It would probably be helpful to get a core file (run `ulimit -l unlimited` first) to analyze in a debugger. Then you could obtain source resolved stack traces. This could help pinpoint if that segmentation fault is related to the issue I have been facing.

Regarding my seg fault, so far I haven't seen it in my logs anymore. However, nodes running Horovod trainings still crash hard, ca

[2018-10-31 19:20] tgaddair commented on #600
Hey @tonyreina, the problem here appears to be that MetricAverageCallback is submitting tensors to be allreduced during validation, but since only rank 0 does validation, the process stalls waiting for the other ranks to submit tensors.

In general, we recommend running validation on all workers to simplify the code (see [this](https://github.com/uber/horovod/blob/master/examples/keras_mnist_advan

[2018-10-31 19:58] tgaddair commented on #599
Hey @SUZhaoyu, validation will already be run in parallel the way you've set it up in your code.  If you want to aggregate the metrics together, you can either `allreduce` them (sum or average), or `[allgather](https://github.com/uber/horovod/blob/master/horovod/tensorflow/mpi_ops.py#L107)` (collect them into a list).

[2018-10-31 20:24] rashid0531 opened #603 "Timeline file too big to load in chrome://tracing/"
Hi,
The timeline file generated after training my model is around 3GB. Is there any way to set somewhere in Horovod framework to sample a few steps from training so that the size doesn't exceed a certain amount ?.

[2018-10-31 20:43] tgaddair commented on #600
No problem.  I'll go ahead and close this issue for now.

[2018-10-31 20:43] #600 closed

[2018-10-31 20:46] tgaddair commented on #598
Hey @wangxf2018, does this issue occur if you run with a single worker (without mpirun)?  Could you try reducing the batch size from 64 to 32?

[2018-10-31 20:56] tgaddair commented on #603
Hey @rashid0531, we don't currently support a way to sample events for the timeline, but you might look into slicing the timeline file as done [here](https://github.com/facebook/buck/blob/d609be052ddd49a746e185fadf6df08cc19af6d2/scripts/slice_trace.py).

[2018-11-01 01:35] wangxf2018 commented on #598
Hi @tgaddair,horovod can run successfully with  a single worker.and I tried reducing the batch size to 32,but there was the same error.

[2018-11-01 07:55] goru97 commented on #590
@alsrgv You were right about the zombie process. It is working now.

[2018-11-01 07:55] #590 closed

[2018-11-01 07:56] rashid0531 commented on #603
@tgaddair Thank You for the direction.

[2018-11-01 10:29] SUZhaoyu commented on #599
Thank you for the reply :) @tgaddair, it seems that the `hvd.allgather()` or `hvd.allreduce()` requires the `tf.tensor` as its input. However, in my case the `validation_accuracy ` is actually a numpy object  yielded from `validation_accuracy = mon_sess.run(input_data)`. So where should I put the `mon_sess.run()`? Still place it within the `valid_one_epoch ` function or within the `if hvd.rank() =

[2018-11-01 14:05] xixiaoyao commented on #551
Yes, so how to solve it? I have tried to reinstall horovod but it doesn't work...

[2018-11-01 14:55] tgaddair commented on #599
There are a few ways to convert a scalar into a tensor.  One way is to use [tf.convert_to_tensor](https://www.tensorflow.org/api_docs/python/tf/convert_to_tensor).  Another option for which we have an example is to wrap it in a `tf.Variable`.  This is what we do for the [MetricAverageCallback](https://github.com/uber/horovod/blob/master/horovod/keras/callbacks_impl.py#L33) class which does exactly

[2018-11-01 15:13] tgaddair commented on #598
That's curious.  Could you try running `nvidia-smi` in another terminal when you're running Horovod and paste the output here?  I'm wondering if there are other processes that may be making use of the GPU memory.

Also, per [this](https://github.com/tensorflow/tensorflow/issues/6698) thread, are you setting `config.gpu_options.allow_growth = True`?

[2018-11-01 15:47] tgaddair commented on #602
Hey @DEKHTIARJonathan, thanks for raising this issue with such detailed repro steps!  I'll look into reproducing this in our environment.

[2018-11-01 16:01] tgaddair commented on #601
Hey @sandralima, what you're trying to do is possible, but will require a bit of work to get setup.  Basically, what you can do is use the [comm](https://github.com/uber/horovod/blob/master/horovod/common/__init__.py#L58) parameter to `hvd.init(comm)` to restrict communication to all workers except worker 0.  Then you can use normal MPI message passing to signal to worker 0 that it's time to do va

[2018-11-01 18:33] alsrgv commented on #551
@xixiaoyao, can you try reinstalling it with `--no-cache-dir` option?  If it installs very quickly, it uses previous cached build which was built against an older version of TensorFlow.

[2018-11-01 20:50] mforde84 opened #604 "Horovod initization isn't recognizing multiple GPUs on a single compute node"
We are running 4x2gpu nodes on a TORQUE/PBS stack over Mellanox IB. We are supporting supporting docker://uber/horovod:0.15.1-tf1.11.0-torch0.4.1-py3.5 through a singularity built container image as our current lsb release is epel 6.7 so later glibc dependancies required by tensorflow are not supported directly by kernel version.

Everything appear to work with respect to IB, as we utilize multipl

[2018-11-01 21:14] #603 closed

[2018-11-01 21:34] tgaddair commented on #604
Hey @mforde84, have you tried running a distributed training job with `mpirun -np 2`?  In the output you showed above, that's the expected result.

When you say:

[code]

That's going to restrict the current process to only using a single GPU.  And when you're running a single process, the `local_rank` is always going to be 0, so that's why you see that the `visible_device_list` only sees GPU 0.

[2018-11-01 21:40] mforde84 commented on #604
Unfortunately, that doesn't resolve the issue:

[code]

[2018-11-01 21:42] mforde84 commented on #604
We tried this previously with two nodes and both gpus per node, so:

qsub -l nodes=2:ppn=2:gpus=2 -q gpu

and hvd.init() only recognizes the "0" slotted gpu on each node.

[2018-11-01 22:51] jotterbach opened #605 "pytorch + horovod 0.15.1 distributed optimizer not working anymore"
I just upgraded horovod 0.15.0 -> 0.15.1 on a ubuntu image `4.4.0-137-generic #163-Ubuntu SMP Mon Sep 24 13:14:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`. When using the DistributedOptimizer from horovod.torch I now encounter the error

[code]

Downgrading to 0.15.0 fixes the issue. The behavior is independent of CPU, GPU or MultipleGPU training.

[2018-11-01 23:48] tgaddair commented on #605
Hey @jotterbach, what version of PyTorch are you using?

[2018-11-02 15:07] xuqiantong opened #607 "."

[2018-11-02 15:07] #607 closed

[2018-11-02 15:41] tgaddair commented on #604
I see, thanks for clarifying.

To take a step back, what you're seeing here is that `hvd.local_rank()` is always 0 for all processes in your `mpirun` command.  The `local_rank` and `rank` are determined by `MPI_Comm_rank`. Usually this error is caused by having different versions of `mpicxx` and `mpirun`, as in [this](https://stackoverflow.com/questions/20287564/mpi-rank-return-same-process-number

[2018-11-02 16:20] tgaddair commented on #605
That's curious.  I haven't been able to repro yet, but it looks like the value of `beta1` is being set to a numpy float32 when a pure Python float is expected.  Do you have a snippet of code that initializes the Adamax optimizer?

[2018-11-02 19:29] mforde84 commented on #604
We are in a distributed cluster, so we install software to non-system paths referenceable through lmod. While we do offer multiple versions of both openmpi and mpich, neither software stacks are installed to default system paths, so I don't see a potentially issue with mislinked libraries / headers. I've included my env below following loading of mpich. You'll notice lib, include, and paths are on

[2018-11-02 19:32] mforde84 commented on #604
The container env is showing:
[code]

[2018-11-02 19:32] mforde84 commented on #604
So perhaps that is the issue

[2018-11-02 19:51] jotterbach commented on #605
Sure thing @tgaddair . The code is fairly straight forward:

`` `
if hps.cuda:
    model = model.cuda()
opt_s = torch.optim.Adamax(model.parameters(), hps.lr)
opt = hvd.DistributedOptimizer(opt_s,
                               named_parameters=model.named_parameters())

hvd.broadcast_parameters(model.state_dict(), root_rank=0)
hvd.broadcast_optimizer_state(opt, root_rank=0)
[code]
model.train()
o

[2018-11-02 20:45] tgaddair commented on #605
Ah, okay, I see what's going on here.  This is the result of a change we made to `hvd.broadcast_optimizer_state()` to broadcast the scalar options.  Looks like `beta1` is getting coerced into a `numpy.float32`, which is causing your issue.

I'll start working on a fix for this.  Thanks for reporting!

[2018-11-02 23:02] LiweiPeng opened #609 "tensorflow process killed without any error"
I am using horovod 1.5.0 + tensorflow for distributed training. Many times (about 1/10) I saw my training process was killed but there is no tensorflow or horovod error in the log. I also couldn't find any related error in OS logs. This happened in tf 1.8.0 and 1.11.0.

Can this be related to horovod? If not, any insights? Thanks.

The following is the end of the log when this occurs: (The followi

[2018-11-03 01:28] #605 closed

[2018-11-04 05:29] UditGupta10 commented on #509
Ok. What if in the below example (tensorflow_mnist) instead of mnist-data-0 and mnist-data-1 we simply used mnist-data only. If we use only 1 file, then can it still be read by multiple gpus ?
The reason why i am asking this is if i am using say 16 gpus then it shouldn't need 16 different copies i.e. from mnist-data-0 to mnist-data-15.

[2018-11-04 19:11] darchonyzx opened #610 "WARN failed to open CUDA IPC handle"
command:
mpirun -np 5 -host 59.77.7.23:2,59.77.7.30:3 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib -x NCCL_SOCKET_IFNAME=^virbr0 -mca btl_tcp_if_exclude virbr0,lo python main.py

Anyone can help me please?
I use 5 GPUs, 2 is GTX 1080, 3 is k80 on another machine, well I get error as follow:

localhost:95772:95782 [0] INFO NET : Using interf

[2018-11-04 19:34] #610 closed

[2018-11-05 03:15] wangxf2018 commented on #598
Sorry I haven’t got back to you sooner .it's available when I run horovod with openmpi. Is mvapich2-gdr better than openmpi in your horovod testing?
because mvapich2-gdr  requires gnu4.8.5. does it affect horovod in ubuntu16.04?

here is commond:
mpirun -np 2 -genv MV2_CPU_MAPPING=0  -genv MV2_USE_CUDA=1 -genv MV2_USE_GPUDIRECT_GDRCOPY=0  python tf_cnn_benchmarks.py --model resnet101 --batch_size

[2018-11-05 13:16] SUZhaoyu commented on #599
Thanks a lot dude. I tried to use `tf.convert_to_tensor` but failed with the error: _'the graph has been finalized and cannot be modified.'_(Something similar to this, I cannot recall precisely). Later I tried to add the metric collection to the TF graph definition like this (again, pseudo code):

[code]

then execute the optimization based on the returned `loss_collection` and it works finally.

[2018-11-05 15:29] ascenoputing opened #611 "ImportError : cannot import name 'load_library'"
hi, the Error appeared when

import horovod.tensorflow as hvd

[2018-11-05 15:39] SUZhaoyu commented on #599
Another issue is that, how can I plot the training and validation metrics in the tensorboard? One idea comes to my mind is to save the training and validation metrics separately (e.g., two folders), then activate tensorboard at the upper directory like [this](https://stackoverflow.com/questions/48951136/plot-multiple-graphs-in-one-plot-using-tensorboard). However, in horovod, the `summary_dir` has

[2018-11-05 20:44] tgaddair commented on #599
Sure, you don't need to specify the summary dir or even use MonitoredTrainingSession if you'd prefer not to.  If you still need help with this, feel free to post a code snippet showing what you're trying to accomplish and I'll happily take a look.

[2018-11-05 22:22] tgaddair commented on #611
Hey @ascenoputing, can you provide the full stack trace for this error?

[2018-11-05 22:54] tgaddair commented on #509
If you replaced `read_data_sets('MNIST-data-%d' % hvd.rank())` with `read_data_sets('MNIST-data')`, then you would have multiple processes attempting to write the same file at once, which could result in a corrupted file.

If you were to call `read_data_sets('MNIST-data')` in a separate _process_, then run your Horovod training job _after_ the data has been downloaded, then yes, that file could be

[2018-11-06 00:41] ascenoputing commented on #611
Traceback (most recent call last):
  File "train.py", line 9, in <module>
    import horovod.tensorflow as hvd
  File "/home/cooper/anaconda3/envs/tensorflow/lib/python3.6/site-packages/horovod/tensorflow/__init__.py", line 42, in <module>
    from horovod.tensorflow.mpi_ops import allgather
  File "/home/cooper/anaconda3/envs/tensorflow/lib/python3.6/site-packages/horovod/tensorflow/mpi_ops.py",

[2018-11-06 00:44] ascenoputing commented on #611
the line created error:
https://github.com/openai/glow/blob/master/train.py#L9

[2018-11-06 02:07] haoransh opened #612 "Is there any way to intergrate horovod in tensorflow with Session instead of MonitoredTrainingSession?"
I appreciate the provided tensorflow example (https://github.com/uber/horovod#usage) very much. But the usage of hooks and MonitoredTrainingSession seem not very flexible to me.
What the codes should be if I want to use tf.Session() to create the session? The MonitoredTrainingSession seem not very flexible to me if I want to do evaluation periodically and save the model according to the evaluation

[2018-11-06 07:09] UditGupta10 commented on #612
The tensorflow word2vec example doesn't use MonitoredTrainingSession. So, You may refer to that. Also, in the usage section linked by you, its mentioned how to use without MonitoredTrainingSession.

[2018-11-06 11:51] UditGupta10 commented on #516
How to run horovod on cray systems which require aprun instead of mpirun?

[2018-11-06 16:22] mforde84 commented on #604
Im not entirely sure I understand the implementation here. I'm running from a docker, so the application layer should be restricted to that container. I'm looking into install openmpi 3.1.2 on the host system atm.

[2018-11-06 16:45] tgaddair commented on #516
@UditGupta10, you may want to have a conversation with your system administrator about how they run MPI jobs in your environment.  Running Horovod with `aprun` should be very similar to `mpirun`, issue #30 has a discussion about how to run Horovod jobs using `aprun`.

Though I don't have access to a Cray system, my understanding is that you would write a .pbs script like [this](https://wickie.hlrs

[2018-11-06 16:48] tgaddair commented on #509
Yes.  You can think of `hvd.rank()` like a process ID.  Every process you run has a unique rank that starts from 0 and goes up based on the number of processes.  The purpose of putting rank in the filename in the example is to ensure that every process is writing and reading its own unique file.

[2018-11-06 16:50] tgaddair commented on #611
Glad you got it figured out.  I'm going to go ahead and close the issue for now.

[2018-11-06 16:50] #611 closed

[2018-11-06 18:30] #612 closed

[2018-11-06 18:35] UditGupta10 commented on #516
In the snippet, aprun doesn't have a -H flag for entering host addresses unlike the info provided in Running horovod section. I somehow find it non trivial.

[2018-11-06 19:20] tgaddair commented on #516
My understanding is that you specify how many hosts you want with this line:

[code]

Then `qsub` will take care of assigning the hosts for you.  Again, you should check with your system administrator, I'm no expert on Cray systems :)

[2018-11-07 14:08] zerolxf commented on #591
Follow your steps and a new error has occurred.

[code]

[2018-11-07 15:14] UditGupta10 commented on #30
@jbalma could you please provide a sample script for running horovod on cray with 16 nodes having 1 gpu each.

[2018-11-07 18:56] seanccho opened #613 "Dockerfile commit comment says TF 0.11 - it's 1.11!"

[2018-11-07 20:22] tgaddair commented on #613
Hey @seanccho, that's true, however rebasing that far back to update a commit message can be messy, and the file itself is correct, so I don't expect it to cause any confusion for users.. I think we can safely overlook this typo.

[2018-11-07 20:22] #613 closed

[2018-11-07 20:54] alsrgv commented on #516
@jbalma, perhaps you could help with Cray usage?

[2018-11-08 02:47] zone21 commented on #457
@kdatta did you fix it? how to fix it
@tgaddair I get the same issue and it continue to happen after finish validation in 2nd or 3rd epochs, but not the same point. like one example as below training stalled from missing ranks:4

MetricAverageCallback/HorovodAllreduce_MetricAverageCallback_acc_0 [missing ranks: 0, 1, 3, 4]
MetricAverageCallback/HorovodAllreduce_MetricAverageCallback_acc_0 [missing

[2018-11-08 04:33] zerolxf commented on #591
When I change the num_worker parameter in the dataloader to 0, there is no such error, but as long as num_worker is greater than 0, an error will be reported.

[code]
[code source](https://github.com/uber/horovod/blob/master/examples/pytorch_mnist.py#L42)

[2018-11-08 07:24] li7hui opened #614 "how to run horovod with multi CPU"
Hello,

I was trying to run the horovod with multi-CPU by the following command:

 mpirun --allow-run-as-root --host rdma21,rdma22,rdma23,rdma24 -np 4 -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib python scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py --model resnet101 -batch_size 64 --variable_update horovod --data_format=NHWC --device=cpu

However, the tf_cnn_benchmarks.py program got

[2018-11-08 19:32] tgaddair commented on #614
In general, CPU training is going to be very, very slow compared to GPU training.  This isn't anything specific to Horovod, but just due to the cost of running the forward and backwards passes without GPUs.

Depending on what you're trying to measure, there are a number of knobs you can tune with `tf_cnn_benchmarks.py` to speed up performance:

- Try a less complex model.  Resnet50 should train a

[2018-11-09 10:52] maxhgerlach commented on #585
Now that I have resolved my unrelated crash issue, I have unfortunately run again into a segmentation fault (11) on Horovod 0.15.1:

[code]

Here is the backtrace from the core file in gdb:
[code]
This now points to a [different line](https://github.com/uber/horovod/blob/4370712514dbd9940062069d212468a1deb2efbe/horovod/common/operations.cc#L1821) than in the original post in this issue.

Here is t

[2018-11-09 14:19] maxhgerlach commented on #585
I looked a bit more closely at the core-file in gdb. `new_entry.tensor` is in fact a null shared_ptr, so accessing it must have caused the segmentation fault:

[code]
The tensor that is referenced in `new_response` is of shape:[1, 1024, 1024].

[2018-11-09 14:41] SUZhaoyu commented on #599
Sorry for the delayed reply. I tried to add different summary writers for different phases, and the problem has been solved. Thanks for your kind help, really appreciate! @tgaddair

[2018-11-09 14:41] #599 closed

[2018-11-09 16:01] tgaddair commented on #614
Glad you got it working!  Closing this for now.

[2018-11-09 16:01] #614 closed

[2018-11-09 16:46] jbalma commented on #516
@UditGupta10 luckily you shouldn't need the hostfile at all. Horovod should infer the number of workers from MPI so the allocation and aprun line should be everything you need. Here is a script which worked for me to launch one of the horovod example scripts under PBS with aprun across 16 P100s with 1 P100 per node and 18 cpu cores per node:

Launch it like this: qsub runit_test.sh

==============

[2018-11-09 16:50] jbalma commented on #30
@UditGupta10 I put an example script [here](https://github.com/uber/horovod/issues/516#issuecomment-437420163 ) for issue #516 for you to try.

Let me know if it works for you

[2018-11-11 12:10] DEKHTIARJonathan commented on #602
@tgaddair any news ?

[2018-11-12 05:02] UditGupta10 opened #617 "When and how is gradient aggregation done?"
1. Is the Gradient aggregation done after each batch computation in all workers?
2. How can we change the way gradients are aggregated? The hvd.DistributedOptimizer just seem to plainly average the gradients, how to perform custom gradient aggregation? Can you give a code snippet.

Thanks

[2018-11-12 16:11] alsrgv commented on #617
@UditGupta10, (1) Yes. (2) What kind of custom aggregation are you thinking about?

[2018-11-12 16:51] tgaddair commented on #602
Hey @DEKHTIARJonathan, apologies I haven't gotten around to this yet.  I'll try to get around to this soon and get back to you.

[2018-11-12 17:17] alsrgv commented on #585
@maxhgerlach, thanks for the detailed investigation!  After staring at the code for a while I've discovered a potential race in access to `horovod_global.tensor_table`. Could you try installing from the branch `fix_tensor_table_race` and see if the issue goes away?

[code]

[2018-11-12 17:59] UditGupta10 commented on #617
I am working on an application that does sparse updates to the parameters, after each batch all the parameters are aggregated, but for the unchanged ones it is unnecessary. Is there a way i can make gradient aggregation faster given sparse updates?

[2018-11-12 21:40] maxhgerlach commented on #585
@alsrgv, great, that may very well be the culprit. Thanks! I'll run from the branch `fix_tensor_table_race` from now on and report back in case the issue resurfaces.

For what it's worth, I haven't seen it in the 3+ days that have passed since I collected that core dump.

[2018-11-12 22:58] mcuma opened #620 "Installation issue with miniconda"
This is probably a naive question but I can't figure it out, not knowing the internals of pip well.

I have miniconda installed, which lives in $HOME/software/pkg/miniconda3

pip install horovod is putting it to $HOME/python/3.6/site-packages, rather than $HOME/software/pkg/miniconda3/python3.6/site-packages, even if I set --target=$HOME/software/pkg/miniconda3/python3.6/site-packages. In fact, if

[2018-11-13 06:07] alsrgv commented on #609
@LiweiPeng, could it be OOM killer or some monitoring process like that?

[2018-11-13 06:09] alsrgv commented on #620
@mcuma, I don't believe we're doing anything special, so it must be pip issue.  Sanity check - are you doing pip install while your conda environment is activated?

[2018-11-13 06:09] alsrgv commented on #585
I'll land #619 and close this issue.  Please let me know if it resurfaces.

[2018-11-13 06:10] #585 closed

[2018-11-13 06:11] alsrgv commented on #591
@zerolxf, what's your NCCL version?  If not latest, could you upgrade to latest?  There was an issue that got fixed in NCCL 2.3.5 related to PyTorch multiprocessing workers.

[2018-11-13 06:12] alsrgv commented on #457
@zone21, if your training progresses after the validation step completes, you can disable the warning by setting `HOROVOD_STALL_CHECK_DISABLE=1`.

[2018-11-13 06:15] alsrgv commented on #604
@mforde84, did you resolve the problem?  I have a suspicion that it may have something to do with the way you run singularity.  It seems that every process runs in its own singularity container, which means that local_rank will be 0.  Can you run mpirun within singularity instead of singularity within mpirun?

[2018-11-13 06:17] alsrgv commented on #598
@wangxf2018, I don't believe we got further than the original MPICH in that MPI implementation branch.  I think the issue here is that both processes think that their local_rank = 0.

Is it possible that when you installed Horovod, it got built against Open MPI?  If so, reinstalling Horovod with `--no-cache-dir` should help.

[2018-11-13 10:47] UditGupta10 commented on #516
There seems to be an issue with cuda version compatibility. I am getting following error "Internal: cudaGetDevice() failed. Status: CUDA driver version is insufficient for CUDA runtime version". Full output is attached.
[transe_1gpu.txt](https://github.com/uber/horovod/files/2575857/transe_1gpu.txt)
Kindly let me know the reason for the error. We have cuda 8.0 installed on cray

[2018-11-13 11:18] UditGupta10 commented on #516
Also, if GPUs are not available what changes should be made to the script?

[2018-11-13 17:51] mcuma commented on #620
Thanks for the quick reply. Yes, I am in the conda environment. I will fiddle with the pip to try to understand better what it's doing.

[2018-11-13 17:51] #620 closed

[2018-11-13 23:31] EhsanM4t1qbit opened #622 "Running Horovod from within a Jupyter Notebook"
Hi, I was wondering if it is possible to use Horovod inside a Jupyter notebook? In particular with a Keras model?
Thanks

[2018-11-13 23:35] alsrgv commented on #622
@EhsanM4t1qbit, yes.  There are two ways.  One way is to save Jupyter Notebook, run `! nbconvert` in a cell, and run `! mpirun`.  It's a bit cumbersome.

Another way is to use PySpark and upcoming [PySpark integration](https://github.com/uber/horovod/pull/606).  If you use PySpark way, you can define your training as a function in the Jupyter notebook, and then execute that function via `horovod.s

[2018-11-13 23:37] alsrgv commented on #516
@UditGupta10, you may need to reinstall Horovod if you changed TensorFlow installation.
[code]

[2018-11-13 23:56] EhsanM4t1qbit commented on #622
Thanks for the reply. Can you please elaborate the first point ? I should use `nbconvert` to convert the notebook into some other file? What type? And then call `mpirun` from inside the same notebook with the name of the converted file?

[2018-11-13 23:57] alsrgv commented on #622
E.g. [this example](https://github.com/jupyter/nbconvert#example-convert-a-notebook-to-html), but instead of `html` specify `py`.

[2018-11-14 00:03] EhsanM4t1qbit commented on #622
That's a nice trick, thanks.

[2018-11-14 08:34] wx1111 opened #623 "the one-to-one correspondence between hvd.rank() and the physical machine"
i run distributed training on 4 machines with 4 GPUs, and run the command shown below on each server:
 mpirun -np 16 \
    -H server1:4,server2:4,server3:4,server4:4 \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH \
    -mca pml ob1 -mca btl ^openib \
    python train.py

how do i get the one-to-one correspondence between hvd.rank() and the physical GPU or the

[2018-11-14 09:40] jiinhui opened #624 "using 'mpirun' and tf to train the net can not start"

[2018-11-14 09:49] jiinhui commented on #624
I  want  to  use    horovod  and    tf  to   train   my  net  on  2  GPU,  but  it   stop   at  the  funtion   'tf.train.MonitoredTrainingSession(config=config,hooks=myhooks)'.  my  command   line  is  "mpirun  --   -np 2  -H localhost:2  python  my_net.py".  If  I  change  the  command  to"mpirun    -np 1  -H localhost:1  python  my_net.py",  and  that  will  be  ok.        Why?

[2018-11-14 10:56] UditGupta10 commented on #516
@jbalma

For a cpu only cluster (24 cores per node),  in cray we have a sample job submission like:
#!/bin/sh
#PBS -N jobname
#PBS -l select=10:ncpus=24  //select 10 compute nodes; 24 cores per node
#PBS -l walltime=02:00:00
#PBS -l place=scatter
#PBS -l accelerator_type="None"
#PBS -S /bin/sh@sdb -V
. /opt/modules/default/init/sh
cd <path of executable>
aprun -j 1 -n 240 -N 24 python xyz.py

In y

[2018-11-14 15:38] alsrgv commented on #623
@wx1111, you can use `hvd.local_rank()` to get a GPU ID within the server. Does that solve your problem?

[2018-11-14 15:40] alsrgv commented on #624
@jiinhui, what's the error message that you see?

[2018-11-14 17:59] saifabuhashish opened #625 "Failing to install Horovod on Ubuntu 18.04"
Installing Horovod on my Ubuntu machine is failing with not much indication as to why. Please help. Heres the output of running : HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod

ubuntu@gpu02:~$ HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod
Collecting horovod
  Downloading https://files.pythonhosted.org/packages/d2/5e/4221d3e54ab79670bb654f2b139d0d4c46af7efd8ce953d3ad

[2018-11-15 01:15] jiinhui commented on #624
no  error message, but  It   is   waiting  at  that  funtion MonitoredTrainingSession() ,
the  log    shows:
......
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Done running local_init_op.

[2018-11-15 02:44] eeyuhao commented on #506
Hi, when I used the command "HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=/path/to/nccl pip install --no-cache-dir horovod" to install horovod for pytorch1.0, I got an error as below:

   gcc -pthread -fno-strict-aliasing -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -m64 -mtune=generic -D_GNU_SOURCE -fPIC -fwrapv -

[2018-11-15 03:20] alsrgv commented on #625
@saifabuhashish, this typically happens if PyTorch fails to import:
[code]

Can you check if those steps cause a segfault in your environment?

[2018-11-15 03:44] eeyuhao commented on #506
@alsrgv Thanks for your prompt reply. With your new installation command. I am able to install horovod into pytorch 1.0. However, when I run my codes, which previously works perfectly with my old horovod and pytorch 0.4, I get new error:

[bach011000129242:49338] *** Process received signal ***
[bach011000129242:49338] Signal: Segmentation fault (11)
[bach011000129242:49338] Signal code: Address n

[2018-11-15 05:14] eeyuhao commented on #506
@alsrgv   I just found that although there is no error after using your installation command, but horovod is actually not installed.

The folder /home/hao.yu/torch10/lib/python2.7/site-packages/horovod/torch/ is not created as it is supposed to be.

[2018-11-15 06:50] jiinhui commented on #624
@alsrgv    It will still  wait ,   I  don't  think    it  will   go   on  only if    I  revise   the   code to    " session = tf.Session(config=config)"  .But     it  shows  error   info  in  next   step  if  I revise  it.

[2018-11-15 09:07] wx1111 commented on #623
Unfortunately, this is not what i want.
what i want to know is something like the rank of the GPU whose ID is 3 on the server1 .

[2018-11-15 11:27] UditGupta10 opened #626 "Horovod on multinode multicore cpu cluster"
The description of the cluster (cray xc40) is as:
Each node has 2 CPU sockets with 12 cores each, 128GB RAM and connected using Cray Aries interconnect.

For the program:
from __future__ import print_function
import horovod.tensorflow as hvd
hvd.init()
print('local_rank=%d, rank=%d, size=%d' % (hvd.local_rank(), hvd.rank(), hvd.size()))

I spawn 4 processes on 2 nodes  (2 processes per node) using

[2018-11-15 12:50] tingweiwu opened #627 "is performance slow down when timeline is turned on?"
when I run
 `mpirun -np 8 -H localhost:8 -x NCCL_DEBUG=ERROR python tensorflow_mnist.py `

I got the  speed as follow
[code]
but when I turn on timeline with the command

`HOROVOD_TIMELINE=/log/timeline.json mpirun -x HOROVOD_TIMELINE -np 8 -H localhost:8 -x NCCL_DEBUG=ERROR python tensorflow_mnist.py`

I got the  speed as follow
[code]

why the speed slow down so much when turn on timeline?

[2018-11-15 15:35] backyes commented on #583
+ 1

similar  trouble， with tf1.10，recompiled with tf1.10, horovod 0.14.1

[code]

[2018-11-15 19:02] LiweiPeng opened #628 "why operations.cc comment out NCCL cleanup code?"
In horovod code, operations.cc:1635, it commented out the NCCL clean up code. What's the design logic for this?
[code]

[2018-11-15 21:29] salemmohammed commented on #30
@alsrgv

I am running Horovod on CPU. I use MNIST-Tensorflow example.

When I run your command:
mpirun -np 4 -H host1:2,host2:2 -x LD_LIBRARY_PATH python debug.py

I got this:
[ip-] Warning: could not find environment variable "LD_LIBRARY_PATH"
ssh: Could not resolve hostname host2: Name or service not known
ssh: Could not resolve hostname host1: Name or service not known
-------------------------

[2018-11-16 07:51] alsrgv commented on #30
@salemmohammed, could you open a new issue with your question?

[2018-11-16 07:52] alsrgv commented on #628
@LiweiPeng, if we enable it, we see the warning `init.cu:645 WARN Cuda failure 'driver shutting down'`.  The reason for the warning is that in most case this code executes by finalization handler, and by that time CUDA has already terminated and released all the resources.

Do you have use cases where it's harmful?

[2018-11-16 07:58] alsrgv commented on #626
@UditGupta10, based on your description, I'm assuming this cluster does not have GPU - is that correct?

In this configuration, each CPU socket will run a training process.  CPU typically has plenty of RAM it's attached to.  A copy of the parameters will be owned by each process, and they'll exchange gradients with each other using Horovod.

[2018-11-16 08:01] alsrgv commented on #623
wx1111, you could use `mpi4py` and use `allgather` or hostnames and local ranks of every process.  Then you could map (hostname:gpuid -> rank).  Would that help?

[2018-11-16 08:02] alsrgv commented on #624
@jiinhui, what's the error?

[2018-11-16 08:03] alsrgv commented on #506
@eeyuhao, could you re-run the installation with `-v` option and share the output?  Perhaps there are still some compilation issues.

[2018-11-16 08:08] alsrgv commented on #583
@backyes, are you using https://github.com/Tencent/PocketFlow by any chance?  Is there a minimal repro that I could run in my environment to try to reproduce?

[2018-11-16 08:10] alsrgv commented on #627
@tingweiwu, is `/log` on a local or shared filesystem?  If it's on a shared filesystem, it may have too slow I/O.

[2018-11-16 09:44] UditGupta10 commented on #626
Yes, the cluster doesn't have GPUs.
I am a little confused, each node has 2 sockets and each socket has 12 cores. You mentioned that "each CPU socket will run a training process" then this "A copy of the parameters will be owned by each process". From the code that I ran (mentioned in earlier comment), each process has a different rank. Is the optimisation on multiple cores done implicitly? Please

[2018-11-16 11:56] usdflt opened #629 "Problems with pytorch master"
When trying to use the horovod library with the current master of pytorch (also current horovod master) I get this error

[code]
Filtering the output with c++filt:
[code]

[2018-11-16 18:19] saifabuhashish commented on #625
@alsrgv  Thanks for the response, doing this does indeed cause a segfault. Any suggestions on how to fix this?

[2018-11-16 19:20] LiweiPeng commented on #628
Thanks @alsrgv . This is not harmful.

We are developing a low level communication library. We'd like to integrate our library with Horovod. So we'd like to follow the similar way that Horovod handles CUDA cleanup.

[2018-11-16 19:20] #628 closed

[2018-11-16 19:35] eeyuhao commented on #506
@alsrgv
I re-installed Horovod with your command (with the -v option). (See the bottom for the installation log.) This time, it seems the installation is good. I also found Horovod in my "pytorch10" virtualenv:

$ls /home/hao.yu/torch10/lib/python2.7/site-packages/horovod/torch/
compression.py  compression.pyc  __init__.py  __init__.pyc  mpi_lib  mpi_lib_impl  mpi_lib_v2.so  mpi_ops.py  mpi_ops.py

[2018-11-17 05:25] UditGupta10 opened #630 "Config gpu options on cpu cluster"
According to the examples, this is how we pin a gpu to a process
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
config.gpu_options.visible_device_list = str(hvd.local_rank())

What needs to be done if we are using a cpu cluster with no gpus?

[2018-11-17 06:33] UditGupta10 opened #631 "Incorporate Staleness parameter"
As the 'optimizer' is wrapped around 'DistributedOptimizer', gradient averaging occurs after each batch computation. I am using horovod for word2vec kind of problem where we have sparse gradient updates and it has been brought up in other issues that the overall time for multinode increases due to excessive communication overhead.
For this reason, I thought of synchronizing after 'n' batch computa

[2018-11-17 17:42] tgaddair commented on #631
Hey @UditGupta10, not yet, but there's an active pull request #546 that adds this functionality for PyTorch.

[2018-11-17 17:57] tgaddair commented on #630
Hey @UditGupta10, one option is to do nothing, and let TensorFlow take care of running on all the CPU resources available on the machine.

If you want to specifically ensure that each process only binds to a specific CPU socket, or uses a specific number of cores, this can be done with `mpirun` as explained in [this](https://stackoverflow.com/questions/36488549/how-to-replace-cpus-per-proc-with-ma

[2018-11-17 18:01] UditGupta10 commented on #631
My request is specific to Tensorflow.

[2018-11-17 18:08] UditGupta10 commented on #630
I got your point. The code runs on the cpu machine even after specifying the 3 lines of code mentioned in earlier post. I guess if the machine does not have gpu(s) then these commands will be neglected.

[2018-11-17 22:08] alsrgv commented on #625
@saifabuhashish, can you further check if your PyTorch installation works correctly with CUDA?
[code]

If it says `False`, you should probably get a different version of PyTorch that supports your OS and CUDA, or reinstall it from source.

[2018-11-17 22:10] alsrgv commented on #626
@UditGupta10, without more context, I can only say that you run two processes per node and that each process will own a copy of its parameters.  I should clarify that whether each process will only be executed by each physical CPU or not depends on MPI implementation & configuration that you're using.  Can you share more details about how exactly you submit the job, which MPI are you using and all

[2018-11-17 22:41] alsrgv commented on #506
@eeyuhao, could you share NCCL version that you're using?  If it's less than 2.3.5, can you upgrade to the latest NCCL and try again?  Please note that you need to reinstall Horovod with `--no-cache-dir` again.

[2018-11-17 22:54] alsrgv commented on #629
@usdflt, I just installed pytorch-nightly + horovod from the master and did not observe that:
[code]

Could you try and see if this solves your problem?  If your CUDA is not 9.0, you need to adjust PyTorch URL accordingly.

[2018-11-17 22:56] alsrgv commented on #631
@andfoy and we are still figuring the right way to do it for PyTorch, mathematically speaking.  Once all that is nailed down, we can make it work in TensorFlow, too.

[2018-11-18 01:38] UditGupta10 commented on #631
Appreciate the work you guys are doing. Hope you figure it out soon. Please let me know when you are through.
Thanks

[2018-11-18 01:53] salemmohammed opened #633 "Running Horovod on 2 Nodes"
Hi all,

I am having two AWS machines with Ubuntu 16.04 Ubuntu. I installed OpenMPI 4.0. I run the standard Tensorflow example with MNIST dataset.

The output that I got from running the following command:

mpirun -np 2 \
    -H ip-address:1,ip-address:1 \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH \
    -mca pml ob1 -mca btl ^openib \
    python3 Horovod_Te

[2018-11-18 01:55] salemmohammed commented on #633
@tgaddair

[2018-11-18 01:57] salemmohammed commented on #633
@UditGupta10

[2018-11-18 02:29] salemmohammed commented on #633
I changed the command line but it's still the same problem.
mpirun -np 2 \
    -H ip:1,ip:1 \
    -bind-to none -map-by slot \
    -mca btl ^openib \
    python3 Horovod_Tensorflow.py

The execution is hanging without any response.

[2018-11-18 05:46] alsrgv commented on #633
@salemmohammed, can you check if this guide helps you - https://github.com/uber/horovod/blob/master/docs/running.md#hangs-due-to-ssh-issues?

[2018-11-18 05:47] alsrgv commented on #631
@UditGupta10, please feel free to subscribe to #546 for updates.

[2018-11-18 06:19] eeyuhao commented on #506
@alsrgv My NCCL version is 2.3.5.  My installation command "$HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=/usr/local/nccl_2.3.5 pip install -v --no-cache-dir git+https://github.com/uber/horovod"  sets the correct NCCL folder.

[2018-11-18 10:01] usdflt commented on #629
I was trying to build using cuda-9.0. I will ensure that I have cleaned the environment.

Thanks

[2018-11-18 20:55] salemmohammed commented on #633
@alsrgv

It pointed me in the right direction.
First, the problem was not related to Horovod but to ssh authentication.
These are the steps that I follow to overcome my problem.
1- eval `ssh-agent -s`
2- ssh-add <pem-key>
3- Set the StrictHostKeyChecking option to no
When I execute the mpirun .... it worked.

Thank you for your help.

[2018-11-18 20:55] #633 closed

[2018-11-19 03:00] wuminbin opened #635 "can not `mpirun -H node1:2` while `mpirun -H node1,node2` is OK"
I am runing `examples/tensorflow_word2vec.py`, when on node1, I type `mpirun -H node1:2 ...` but it seems to block at [`broadcast_global_variables` method](https://github.com/uber/horovod/blob/9eaba164f99479d369477f6b50c74efbec2ffa80/examples/tensorflow_word2vec.py#L199), while `mpirun -H node1,node2` is OK, I want to know why. Both node can pass the [nccl test](https://github.com/NVIDIA/nccl) by

[2018-11-19 03:13] wuminbin commented on #635
it is called by `bcast.run()` at line 214.

[2018-11-19 17:08] Fubukimaru commented on #593
Hello alsrgv,

Thanks for your reply. I was using OpenMPI 3.0.0.  OpenMPI 3.1.2 is available in my cluster but I cannot use it, I'll contact the guys from support to be able to use it and then come back to you.

Thanks again!

[2018-11-19 17:33] AlxVoropaev opened #636 "NCCL + Docker hangs when using multiple hosts"
Hi!

Horovod hangs at optimizer step (init and parameters broadcast were successful).

Log is following:
[code]

Run with
[code]

I tried all interfaces in NCCL_SOCKET_IFNAME with no effect

Thanks for any sugestions.

[2018-11-19 17:47] Fubukimaru commented on #593
Hello alsrgv,

Thanks for your reply. I was using OpenMPI 3.0.0.  OpenMPI 3.1.2 is available in my cluster but I cannot use it, I'll contact the guys from support to be able to use it and then come back to you.

Thanks again!

[2018-11-19 18:37] alsrgv commented on #506
@eeyuhao, Can you get a core dump by setting `ulimit -c unlimited` and running mpirun with `-mca opal_signal 9`, and then get a stack trace from `thread apply all bt`?

[2018-11-20 04:25] salemmohammed opened #637 "Running Horovod on more than 2 nodes with only CPU."
I am trying to run horovod on more than one machine. I ran it on one, and two machines. I tried the third machine and I got the following error.

[ip-hostname3:14313] [[44845,0],2] ORTE_ERROR_LOG: Data unpack would read past end of buffer in file grpcomm_direct.c at line 355
--------------------------------------------------------------------------
An internal error has occurred in ORTE:

[[44845,

[2018-11-20 04:29] salemmohammed commented on #637
@alsrgv

[2018-11-20 05:35] duohappy opened #638 "horovod hangs with multi gpus on one machine"
I read many issues about the problem, but I can not solve it.

# system
os: ubuntu 16.04 lts
openmpi: 3.1.3
cuda: 9.0
nccl: 2.3
horovod: 0.15.1

I use tensorflow, and I have 6 GPUs on one machine.

# ifconfig
docker0   Link encap:以太网  硬件地址 02:42:c6:0b:ab:bc
          inet 地址:172.17.0.1  广播:0.0.0.0  掩码:255.255.0.0
          UP BROADCAST MULTICAST  MTU:1500  跃点数:1
          接收数据包:0 错误:0 丢弃:0 过载:0 帧数

[2018-11-20 05:56] wuminbin commented on #635
I use open-mpi-3.1.3 and the full commands are:
`mpirun -H gpu-25,gpu-25 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib ./test_horovod_mpi.py  # it hangs`
`mpirun -H gpu-25,gpu-26 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib ./test_horovod_mpi.py  # this one is OK`
File `test_horovod_m

[2018-11-20 07:19] AlxVoropaev commented on #636
[code]

[2018-11-20 12:38] AlxVoropaev commented on #636
Looks like the problem is that hosts have no interfaces in common subnet.  I'm looking for solution using dummy interface.

[2018-11-20 14:08] tsmolcic opened #639 "tensorflow allows only one process per node"
Hi!

I have three nodes with 4 GPUs per node.

System: centos7, cuda 10, nccl 2.3.5, horovod 0.15.1, tensorflow 1.12.0rc0 (built from source)

Whenever I try to run more than one TensorFlow process per single node, something like:

`mpirun -np 4 -H server1:2,server2:2 -bind-to none -map-by slot -x LD_LIBRARY_PATH -x PATH  python my_script.py`

I get

`unable to create StreamExecutor for CUDA:0: fa

[2018-11-20 16:40] #517 closed

[2018-11-20 19:03] EhsanM4t1qbit commented on #166
Hi, I was wondering if you could clarify a couple of pints for me please. They are confusing me.

1) In the mnist TF example, each process (and hence each GPU) seems to be working on a separate part of the dataset.
`mnist = learn.datasets.mnist.read_data_sets('MNIST-data-%d' % hvd.rank())`
Is that right? And then the gradient are averaged at the end of each batch during training, right?

2) In the

[2018-11-20 19:16] EhsanM4t1qbit opened #640 "Clarification on How the Data is Distributed by Horovod"
Hi, I was wondering if you could clarify a couple of points for me please, regarding [issue 166](https://github.com/uber/horovod/issues/166) and in general how Horovod distributes the data.

In the[ mnist TF example](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py), each process (and hence each GPU) seems to be working on a separate part of the dataset.
`mnist = learn.data

[2018-11-20 19:17] #622 closed

[2018-11-20 21:02] alsrgv commented on #640
@EhsanM4t1qbit, actually, the MNIST example just uses rank to avoid file name conflicts on the disk.

In general, if you use data reader that randomly reads input data, you will be OK, since each worker reads a random portion of the dataset. E.g., you can do it as described here - https://www.tensorflow.org/api_guides/python/reading_data#batching

With TF dataset API you can be a bit more determin

[2018-11-20 21:05] alsrgv commented on #639
@tschmidt3, does your training code has [this line](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist.py#L104) to pin GPUs to be used by each rank?  With that code, you should not need to set `CUDA_VISIBLE_DEVICES`.

[2018-11-20 21:10] alsrgv commented on #636
@AlxVoropaev, one other thing you could do is to specify `NCCL_SOCKET_IFNAME` in `/etc/nccl.conf` on each node separately.

[2018-11-20 21:12] alsrgv commented on #635
@wuminbin, can you try specifying `-np 2` in both of those commands?

[2018-11-20 21:17] alsrgv commented on #625
@saifabuhashish, which version of TF and PyTorch do you have on your system? Can you upgrade both to latest?

[2018-11-20 23:29] fxrcode commented on #639
Yes. I just used the given tests keras_mnist.py.
We are facing this issue too, might due to upgrade of openmpi 3.1.2 in latest horovod dockerfile? Cuz it works before.

[2018-11-20 23:53] alsrgv commented on #639
@fxrcode, how does output of `nvidia-smi` look like in your case?

[2018-11-21 00:04] fxrcode commented on #639
It looks alright. But it shows mpirun get into 1 container more times than I expect which leads to local_rank higher than it should be.

   ...done.
Docker is ready on: [192.168.0.251].
Host novustar-6316 connected.
The peers are ready: novustar-6316
Tue Nov 20 22:12:01 2018
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 410.66       Driver Version: 41

[2018-11-21 00:20] alsrgv commented on #639
@fxrcode, ok - it may be a separate issue.  What's your `mpirun` command?

[2018-11-21 01:31] jeff-engineml commented on #638
Downgrading to mpi 3.0.0 seems to have worked for me

[2018-11-21 03:04] duohappy commented on #638
@jeff-engineml ,:+1:, thank you very much. Everything is fine. :)

[2018-11-21 03:04] #638 closed

[2018-11-21 03:06] alsrgv commented on #638
@duohappy, @jeff-engineml, could you guys try recently released Open MPI 4.0.0 and see if it works better for you?

[2018-11-21 03:10] alsrgv commented on #635
@wuminbin, according to #638 it may be an issue with Open MPI 3.1.3.  Could you try Open MPI 4.0.0 or 3.0.0?

[2018-11-21 03:46] wuminbin commented on #635
I find out why. When I install OMPI, I'm using gcc-4.85, but later I'm using gcc-7.1.0, I reinstall and it runs well. I compare the two header file  /usr/local/include/mpi.h and in Line 51 I found `OPAL_BUILD_PLATFORM_COMPILER_VERSION` differs.

[2018-11-21 03:47] #635 closed

[2018-11-21 04:07] duohappy commented on #638
@alsrgv, I try Open MPI 4.0.0 just now，and it also works for me.

Open MPI 3.0.0 :white_check_mark:
Open MPI 3.1.3 :x:
Open MPI 4.0.0 :white_check_mark:

[2018-11-21 04:08] alsrgv commented on #638
@duohappy, thanks for your report!  We'll be planning upgrade to Open MPI 4.0.0 in our Dockerfile.

[2018-11-21 04:15] duohappy commented on #638
@alsrgv, this repo is amazing, and I am very grateful to you, :+1:

[2018-11-21 05:14] UditGupta10 commented on #159
@alsrgv

I am also trying to use a barrier in tensorflow. I suppose hvd refers to import horovod.tensorflow as hvd.
Upon looking the documentation, the allreduce has no argument 'name'. What is the standard way to use a barrier in code as of now?

[2018-11-21 05:17] ppwwyyxx commented on #159
I'm using `barrier = hvd.allreduce(tf.random_normal(shape=[1]))`.

[2018-11-21 05:20] UditGupta10 commented on #159
Again, what is hvd?
Is 'barrier' a dummy returned value that has no significance?

[2018-11-21 05:33] ppwwyyxx commented on #159
Roughly yes.
`sess.run(tensor)` is not the only way a tensor can be evaluated. You can also `sess.run(other_tensor)` if `other_tensor` depends on `tensor`.

[2018-11-21 05:46] UditGupta10 commented on #159
Thanks for the prompt replies..

[2018-11-21 09:19] tsmolcic commented on #639
I don't know if this was meant for me, similar usernames :)

Yes, the code I'm running, has that line, it's that exact script I'm trying to run. Could this be something similar to [this](https://github.com/keras-team/keras/pull/8377#issuecomment-341905128)?

[2018-11-22 01:25] jeff-engineml opened #642 "Horovod hangs on shutdown when a rank crashes"
# Environment
MPI Versions: 3.0.0, 3.1.2, & 4.0.0
Pytorch 0.4.1 & Tensorflow 1.8.0
Python 2.7

# Minimal Example
[code]

## Behavior
After rank 0 exits, rank 1 continues to sleep. When rank 1 finishes sleeping, it prints `done` and mpi exits with an error.

[code]

## Expected Behavior
When rank 0 crashes it should shut down all mpi processes. Rank 1 should never print `done`. This can be achieved

[2018-11-22 04:37] alsrgv commented on #636
@AlxVoropaev, did dummy interface solution work?  What's the interface name on the second node?

[2018-11-22 04:39] alsrgv commented on #639
@tsmolcic, sorry - autocomplete typo :-).  I tried TensorFlow 1.2.0 (official release) yesterday and it worked fine with TensorFlow MNIST example.  Are you using TensorFlow or Keras?  Can you try 1.2.0?

[2018-11-22 05:07] alsrgv commented on #642
@jeff-engineml, thanks for the report!  No, it's a bug.  Started #644 with a fix.

[2018-11-22 07:48] tsmolcic commented on #639
@alsrgv, I'll try and let you know. However, I suspect I'll get a request by a user for a newer version of TensorFlow in a matter of hours :)
If it's not too much trouble, can you try running 1.12 or some other newer version of TensorFlow so we can rule out if it's my system related or TensorFlow/Horovod issue?

[2018-11-22 08:19] alsrgv commented on #639
Sorry - I meant 1.12.0.  Updated.

[2018-11-22 10:14] tsmolcic commented on #639
@alsrgv it works with 1.12. However, with anything except `-np 1`, the tensorflow_mnist example now hangs after:

[code]

nvidia-smi shows that the process is running on a GPU, but GPU load stays 0%.

[code]

Furthermore, on a maybe unrelated issue, if there is a process running on say GPU with id0, and I try to run another process that wants 1 GPU, it doesn't work, even though there are 3 availab

[2018-11-22 20:41] alsrgv commented on #639
@tsmolcic, looks like your multi-node issue is related to the network.  Can you share the output of `ifconfig` and `ibv_devinfo -v`?

With regards to GPU usage, there's no logic to automatically find a free GPU.  You could conceivably program logic like that and use it when you're pinning GPU to be used by TensorFlow.

[2018-11-22 21:17] #642 closed

[2018-11-23 06:06] zwqjoy opened #645 "horovod distributed can't run on kubernetes's flannel which network model is vxlan"
Background information:

K8s 1.10 with flannel network
image: uber/horovod:0.15.1-tf1.11.0-torch0.4.1-py3.5

![image](https://user-images.githubusercontent.com/12653212/48930081-f270a900-ef28-11e8-9b30-d61ef342dc99.png)

root@hvd-deployment-5c99f79c66-fwvjh:/examples# mpirun --version
mpirun.real (OpenRTE) 3.1.2

run local: Success
mpirun -np 2 -H 127.0.0.1:2 --mca btl ^tcp -mca btl_base_verbose 1

[2018-11-23 06:09] zwqjoy commented on #365
@kinglion811  If use flannel, https://github.com/uber/horovod/issues/645

[2018-11-23 06:11] zwqjoy commented on #365
@kinglion811 If use flannel with vxlan, #645,    also failed.    mpirun -np 2 -H 127.0.0.1,172.17.91.2  --mca btl ^tcp  -mca btl_base_verbose 100 python keras_mnist_advanced.py

[2018-11-23 06:15] zwqjoy commented on #645
@alsrgv I think btl connection is OK,

[2018-11-23 06:20] zwqjoy opened #646 "diss"

[2018-11-23 06:20] #646 closed

[2018-11-23 08:10] UditGupta10 commented on #630
I got your point. I am using cray cluster which uses aprun instead of mpirun.
In my case 1 node has 2 CPU sockets, each socket has 12 cores. I want to run horovod on multiple nodes such that each node uses maximum resources (cores) available. Please suggest the right value to use for flags.
Following flags are available:
-n:  Number of processing elements PEs required for the application (pes)
-N:

[2018-11-23 08:31] tsmolcic commented on #639
I've been testing things further, decided to include the third node I have. Multiple processes work on that node, but when trying to run on nodes 2 and 3 together, I get this [error output](https://gist.github.com/tsmolcic/77f59344cb4b175278104353efbb2b31).

[2018-11-23 09:51] tsmolcic commented on #639
This last problem made me look if all nodes have everything the same, seems like I had different nccl version on one of them. Everything seems to work right now.

Does this look like a good NCCL_DEBUG log, after
`mpirun -np 3 -H c4140-01:1,c4140-02:1,c4140-03:1 -x LD_LIBRARY_PATH -x NCCL_DEBUG=INFO python3.5 tensorflow_mnist.py`

[code]

[2018-11-23 11:06] UditGupta10 commented on #626
I am using cray cluster which uses aprun instead of mpirun.
In my case 1 node has 2 CPU sockets, each socket has 12 cores. As per my understanding Tensorflow optimally utilizes the multiple cores present in a node.
I want to run horovod on multiple nodes such that each node uses maximum resources (cores) available.
Please suggest the right value to use for flags.
Following flags are available:
-n:

[2018-11-25 04:15] GoldenSpark opened #647 "Segmentation fault."

[2018-11-25 04:39] GoldenSpark opened #648 "What‘s the version of horovod docker do you recommend?"
When I used the horovod docker and trainning in docker container, I met the error below:

horovod docker: 0.14.1-tf1.10.0-torch0.4.0-py3.5
GPU: Titan Xp
GPU_NUM: 8

### The error would come out stochasticly during the training process. The error info is like this:

[shell2644-service-0:18758] *** Process received signal ***
[shell2644-service-0:18758] Signal: Segmentation fault (11)
[shell2644-ser

[2018-11-25 15:57] taehyunkim1527 opened #649 "No traffic is being captured while running TF benchmarks."
I'm running TensorFlow benchmarks using two machines with 4 GPUs each.
I want to measure network traffic btw two machines. But I could see some traffic only at the very first moment and after the training starts, I couldn't capture any traffic.
I captured the traffic using `ethtool` and I verified that this works by running TensorFlow benchmarks with `distributed_replicated` mode.

And I executed

[2018-11-25 17:58] UditGupta10 opened #651 "Aggregating parameters instead of gradients"
The distributed optimizer does gradient averaging across processes before applying locally. Instead of this, if we do routine single process minimisation and update parameters and then do parameter averaging, will it eventually result in the same global minimisation across processes similar to distributed optimizer.

[2018-11-26 02:58] yyht opened #653 "running hvd-tensorflow in docker pulled from official docker hub, got " Read -1, expected 131072, errno = 1""
![image](https://user-images.githubusercontent.com/14133687/48990494-a9f3fe00-f169-11e8-8baa-5d24b978f77a.png)
what does it mean?  did i do something wrong?
![image](https://user-images.githubusercontent.com/14133687/48990600-06571d80-f16a-11e8-954d-0720b0a9663e.png)
but the process was still running

[2018-11-26 08:34] kinglion811 opened #654 "how to Deploy and Run a Horovod framework with Mellanox Network（ROCE and Lossless queue）"
I have some servers with Mellanox DEVICE, I use ROCE, and set up a lossless queue, run the service in docker, and use the hostnetwork network mode, how to use mpi to run  the horovod job, let the traffic enter the lossless queue (queue is 5)

[2018-11-26 08:41] kinglion811 commented on #654
close it

[2018-11-26 08:55] kinglion811 commented on #654
@jpemberthy

[2018-11-26 08:56] kinglion811 commented on #654
@alsrgv

[2018-11-26 08:58] kinglion811 commented on #365
@zwqjoy seam as it

[2018-11-26 09:43] AlxVoropaev commented on #636
I found in code of NCCL that it is impossibe to run NCCL if nodes are located in different subnets.

Possible solution is to use vpn, but it significantly degrodate performance.

[2018-11-26 09:43] #636 closed

[2018-11-26 11:31] CYang0515 opened #655 "horovod hang with tensorpack"
The server upgrades drivers, Then I run mpiirun ,the GPU is always 100%. But there are no any outputs.

[2018-11-26 14:37] DEKHTIARJonathan commented on #602
@tgaddair any news ?

[2018-11-26 18:11] Fubukimaru commented on #593
It seems I get the same warning with OpenMPI 3.1.2. Any recommendation?

Thanks!

[2018-11-26 22:11] shoubhik commented on #182
Any final solutions to this issue?

[2018-11-26 22:49] shoubhik commented on #182
I have a query about [#182 comment](https://github.com/uber/horovod/issues/182#issuecomment-369823019). As far as i konw calling `tf.estimator.train(...)` and `tf.estimator.evaluate(...)` will reset the dataset iterator for the training everytime _evaluate_ is called before the epoch is finished. This is problematic for largere datasets where the evaluate is called more frequently.

This seems to

[2018-11-27 06:34] CYang0515 commented on #655
Thanks for your reply.
I use ''CUDA_VISIBLE_DEVICES=0,1,2,3 mpirun -np 4 --output-filename mylog python train.py'' to train faster rcnn network. The log is sopped in starting epoch1, meanwhile, the GPU occupied is always 100%,but CPU is nearly 0. However, when I use ''python train.py'' to train with 1 GPU card, everything is OK!

[2018-11-27 07:41] alsrgv commented on #655
@CYang0515, could you add more flags from [Running Horovod](https://github.com/uber/horovod/blob/master/docs/running.md) doc and share the output?  I'm particularly interested about NCCL debug messages.

[2018-11-27 10:06] byan23 commented on #653
try adding "--privileged" to your docker command

[2018-11-27 15:02] CYang0515 commented on #655
I don't know why it's failure, one week ago, it worked well, but suddenly it become so terrible. I pretend to reinstall the horovod. I follow the documents, but when I use '' HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod'' , there is an error:

gcc -pthread -B /home/amax/anaconda3/compiler_compat -Wl,--sysroot=/ -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -fPIC

[2018-11-27 15:07] CYang0515 commented on #655
mpirun -np 8 -H localhost:4 -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib python tra
in.py
ssh: Could not resolve hostname localhost:4: Name or service not known
--------------------------------------------------------------------------
ORTE was unable to reliably start one or more daemons.
This usually is caused by:

* not finding the required libraries and/or binaries on
  one or more

[2018-11-27 15:11] CYang0515 commented on #655
~/tensorpack_modify/examples/FasterRCNN$ mpirun -np 8 -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib python train.py
[amax:133017] OPAL ERROR: Not initialized in file pmix3x_client.c at line 113
*** An error occurred in MPI_Init_thread
*** on a NULL communicator
*** MPI_ERRORS_ARE_FATAL (processes in this communicator will now abort,
***    and potentially your MPI job)
[amax:133017] Loc

[2018-11-27 15:19] Aki57 opened #656 "mpi_lib.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN10tensorflow12OpDefBuilder4AttrESs"
Environment:
- CentOS Linux release 7.5.1804 (Core)
- Python 3.6.5
- CUDA 9.2
- NCCL 2.3.7
- Tensorflow-GPU 1.11.0
- OpenMPI 3.1.1
- Horovod 0.15.1

Horovod is installed with pip, using the comand of `HOROVOD_NCCL_HOME=/usr/local/nccl-<version> HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod`.

Error Info:
[code]
I've got this problem for week, anyone have the same problem or any adv

[2018-11-27 15:20] ierosodin opened #657 "How to wait for other nodes?"
In my case, I want to wait for all nodes finishing their works in each epoch, and then do some evaluation.
So is there any function I can use in horovod?

Now, my situation is one epoch is finished, and its evaluation result is returned, but other process is still running in the training function.

BTW, I work in pytorch, thanks.

[2018-11-27 16:38] maxhgerlach commented on #657
I use `MPI.COMM_WORLD.barrier()` from `mpi4py`.

[2018-11-27 18:30] jeff-engineml opened #658 "Support python 3.6"

[2018-11-27 18:30] #658 closed

[2018-11-27 18:46] ierosodin commented on #657
I go to see the code, and I found that each time when I call optimizer.step(), it would synchronize all the other node in optimizer's parameter part, and then clear the parameter dictionary!!
I'm not sure where it get that parameter dictionary back again, but in my observation, the lens of parameter dictionary is correct for only first epoch, and when code run into the second epoch, the lens becom

[2018-11-27 18:47] ierosodin commented on #657
I think using barrier is a good way.

[2018-11-28 03:19] Aki57 commented on #656
[code]

[2018-11-28 06:52] #564 closed

[2018-11-28 07:50] ierosodin commented on #657
I found the problem!
Because we do some evaluation for each iter., and in that function, we have some behavior like:

[code]

and this would cause backward behavior strange. (and I think in two nodes, this model would be totally different.)
After we modify this function, everything is fine. Thanks.
close issue.

[2018-11-28 07:50] #657 closed

[2018-11-28 07:56] Aki57 commented on #656
I have found `libtensorflow_framework.so` in the directionary `/home/qiuhanh/miniconda3/envs/gpu7/lib/python3.6/site-packages/tensorflow`, how to solve the link?

[2018-11-28 08:02] Aki57 commented on #656
And I used conda installing tensorflow-gpu, and use pip for horovod. Is this the reason?

[2018-11-28 08:04] Aki57 commented on #354
Could you please help me with this[#656](https://github.com/uber/horovod/issues/656)

[2018-11-28 11:21] zwqjoy commented on #645
@kinglion811 I think btl connection is OK,

[2018-11-28 11:22] shaarawy18 opened #659 "How to improve performance in low bandwidth?"
Hi, when I run the benchmark with horovod in 10Gbps network, I can't  get the expected result.

I run resnet-101 model provided by benchmark with real imagenet dataset.

Single node with 1 RTX2080 GPU produces around 172 images/second. And 2 nodes with 1 RTX2080 GPUs each produce 291 images/second totally, there only 1.6x  better than baseline.   I also  try to train model in 1 node with 2 GPUs, a

[2018-11-28 11:41] zwqjoy commented on #365
@xychu https://github.com/uber/horovod/issues/645

[2018-11-28 14:08] GabrielLin commented on #70
I am facing the same issue in the latest version.

[2018-11-28 22:17] tgaddair commented on #637
Hey @salemmohammed, it could be an MPI version mismatch.  Per #368, I would suggest checking:

1. Did you install both Open MPI in the same location?
2. Did you specify --enable-mpirun-prefix-by-default option to ./configure?

@regel sounds like your issue is different, related to SSH configuration.  Did the suggestions in that issue you referenced work for your setup?

[2018-11-28 22:48] tgaddair commented on #647
Hey @GoldenSpark, could you try updating to v0.15.2?  There was a race condition prior to #619 that could sometimes cause segfaults like this (see: #585).

[2018-11-28 23:03] tgaddair commented on #651
Hey @UditGupta10, if I understand your approach correctly, then yes.  There is a proof given [here](https://blog.skymind.ai/distributed-deep-learning-part-1-an-introduction-to-distributed-training-of-neural-networks/) that shows parameter averaging is equivalent to gradient aggregation.

[2018-11-28 23:05] tgaddair commented on #653
Hey @yyht, did the suggestion given by @byan23 solve your issue?

[2018-11-29 03:34] stgzr opened #665 "Is computation and communication overlapped in PyTorch backend?"
Hi,
I wonder if there is a way to overlap computation and communication in PyTorch, that could be very useful in distributed training.
Thank you!

[2018-11-29 04:08] zone21 commented on #457
Hi alsrgv, we continue train the model and add the setting HOROVOD_STALL_CHECK_DISABLE=1 you mention. The message do not occur in validation but occur in trainning stage instead. With below message, any suggestion?

training/SGD/DistributedSGD_Allreduce/HorovodAllreduce_training_SGD_gradients_conv5_block16_2_conv_convolution_grad_Conv2DBackpropFilter_0 [missing ranks: 2]
training/SGD/DistributedSG

[2018-11-29 05:51] taehyunkim1527 commented on #649
The issue is solved.

[2018-11-29 11:37] #645 closed

[2018-11-29 11:59] LEESEYUN opened #666 ""WARN Connection closed by remote peer " or "NCCL WARN Call to connect timeout : Connection refused" and freeze"
When I run the example code (examples/ tensorflow_mnist_estimator.py), it prints "WARN Connection closed by remote peer " or  "NCCL WARN Call to connect timeout : Connection refused" and freeze.

-------------------------------------------------------------------------------------------------------------------------------
mpirun -np 8 -hostfile seyun_hostind-to none -map-by slot -x NCCL_DEBUG=INFO

[2018-11-29 17:43] michaelstjules opened #667 "Horovod (TF) hangs after shutdown and reinitializing with dynamically spawned processes"
I'm working on an application in which worker processes are spawned dynamically from the master process. I can train a network with the first set of spawned processes (with master), but can't do it a second time after calling hvd.shutdown() and spawning new processes, even though the new processes can communicate with master. I've tried different permutations of calling Free and Disconnect on the

[2018-11-29 21:51] tgaddair commented on #649
Closing for now.  @taehyunkim1527, could you share how you solved this for anyone with the same issue?

[2018-11-29 21:51] #649 closed

[2018-11-29 22:02] tgaddair commented on #656
Hey @Aki57, you need to add that .so file to your `LD_LIBRARY_PATH`.  It looks like you're running outside your conda environment.  If you installed horovod to system paths, then it shouldn't be an issue to try running Horovod from within your conda environment.

[2018-11-29 23:01] tgaddair commented on #666
Hey @LEESEYUN, can you share the output of running `ifconfig` (see [running.md](https://github.com/uber/horovod/blob/master/docs/running.md))?  Based on your command above, you may want to try `-x NCCL_SOCKET_IFNAME=^eno1,eth0,eno2

[2018-11-29 23:02] michaelstjules commented on #651
I think this is true for vanilla SGD (or with momentum), but will be false for optimizers like Adam which accumulate and use statistics nonlinearly (e.g. dividing by moments). I'm not sure if the difference would be significant, though.

[2018-11-29 23:08] tgaddair commented on #651
Yes, that's a good point.  In such cases, aggregating gradients would give the same results as the serialized version, but parameter averaging would not.

[2018-11-29 23:35] tgaddair commented on #602
Hey @DEKHTIARJonathan, I believe I've been able to reproduce the memory leak, but no progress on fixing it on our end as of yet.  Sounds like this may be a TensorFlow issue according to your other issue.

[2018-11-29 23:42] DEKHTIARJonathan commented on #602
Thanks for your answer @tgaddair. We actually have the same feeling at Nvidia. Tell me if we could be of any help. Not being able to use Horovod for multi gpu XLA is really negatively impacting all training at scale with Tensorflow...

I would be glad to talk with you about this if you happen to go at NeurIPS or by phone call if you want.

[2018-11-30 01:39] GoldenSpark commented on #647
@tgaddair
Thanks for your advice, I will give it a try.

[2018-11-30 02:44] yyht commented on #653
Yes, thanks @tgaddair @byan23. Horovod is an excellent work, and helps me a lot for large-scale training

[2018-11-30 02:45] #653 closed

[2018-11-30 04:50] LEESEYUN commented on #666
@tgaddair Thank you for your reply

Here is my clients com

eth0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 115.145.178.160  netmask 255.255.255.0  broadcast 115.145.178.255
        inet6 fe80::5f2f:4cb7:eca7:2be  prefixlen 64  scopeid 0x20<link>
        ether fc:aa:14:79:64:fe  txqueuelen 1000  (Ethernet)
        RX packets 42154  bytes 26484468 (26.4 MB)
        RX errors

[2018-11-30 10:06] Yang-HangWA opened #669 "Horovod hangs on multi-machine keras program test"
machine A:user1(not root)
machine B:user2 (not root)
My data and program on machine A,then I can ssh to machine B without password.
when I run:
`mpirun -np 4 -H localhost:2,server_two:2 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x NCCL_IB_DISABLE=1  -mca pml ob1 python src/train.py
`
Nothing happened.
It works fine if I only run the program on machine A. Do I need to

[2018-11-30 10:08] LEESEYUN commented on #666
I solve this problem . Thank you!!

[2018-11-30 10:08] #666 closed

[2018-11-30 16:12] tgaddair commented on #653
Thanks @yyht, glad it's working out for you!

[2018-11-30 16:14] tgaddair commented on #666
That's great to hear, @LEESEYUN!  Would you mind sharing how you were able to solve the issue?

[2018-11-30 16:20] tgaddair commented on #669
Hey @Yang-HangWA, yes, the script should be available on all machines at the same absolute path (a networked filesystem helps with this).  Same goes for the data.  Please give that a shot, and let me know if that helps solve the issue.

[2018-12-01 05:32] LiweiPeng commented on #609
I searched all the logs while this occurred, there is no OOM related info. I am not aware of any monitoring process. And there is no core dump either. Very strange.

[2018-12-01 05:32] #512 closed

[2018-12-01 05:51] LiweiPeng commented on #654
Horovod uses MPI and NCCL for its networking. RDMA RoCE is using queue 5 by default. So as long as you can configure MPI and NCCL to use RDMA RoCE, it should solve your problem.

For OpenMPI, here is the link how to use RoCE: https://www.open-mpi.org/faq/?category=openfabrics#ompi-over-roce

For NCCL, the related options are -x NCCL_IB_DISABLE=0 -x NCCL_IB_HCA=mlx5_bond_0 -x NCCL_IB_GID_INDEX=3 -x

[2018-12-01 08:36] Yang-HangWA commented on #669
@tgaddair Thanks for your help. After I install openmpi nccl and horovod on machine B , i run the keras_mnist_advanced.py on localhost and  I meet another problem. Horovod hangs!
![keras_hang](https://user-images.githubusercontent.com/38546249/49326054-3ac24380-f587-11e8-91d4-6254afdf2e90.PNG)

[2018-12-01 15:14] yyht opened #672 "Train model on 4-gpu, the model parameters from different devices are different"
Hi. I think Horovod is a data parallel distributed training framework. Since it is a sync framework, the gradient first averaged via ring-reduce and then broadcast to each device to update parameters of each replica of model. So I think the parameters on different devices should be the same. However, I just store all model parameters via 4-devices and find that the parameters from different device

[2018-12-01 17:11] tgaddair commented on #669
Hey @Yang-HangWA, you specified `-np 2` but then requested `-H localhost:4`.  Could you try with `-H localhost:2` instead?

[2018-12-01 17:14] tgaddair commented on #672
Hey @yyht, Horovod syncs the _gradients_ between machines, so if the parameters themselves are already out of sync (for example, through random initialization), then the parameters will be different even if the gradients are the same.

One way we ensure that parameters are the same between processes is through the `broadcast` operation.  In TensorFlow, it looks like this:

[code]

[2018-12-01 20:24] ghltshubh opened #673 "Many dataset APIs have been depreciated"
Many tensorflow APIs for downloading datasets for running horovod examples have been depreciated.
This is one of the examples: https://www.tensorflow.org/api_docs/python/tf/contrib/learn/datasets

[2018-12-01 21:54] tgaddair commented on #673
Hey @ghltshubh, looking at the older versions of TensorFlow, it looks like `tf.estimator` has been around for some time, so I think this is a good and safe change to make.  Thanks for bringing it up!

[2018-12-02 05:11] yyht commented on #672
Here is my minimum repro:

init_op = tf.group(tf.global_variables_initializer(), tf.local_variables_initializer())
sess.run(init_op)
print("====succeeded in initializing global and local variables====")
sess.run(hvd.broadcast_global_variables(0))

This my initialization code. I followed the guid that
"you can simply execute the hvd.broadcast_global_variables op after global variables have been ini

[2018-12-02 05:30] yyht commented on #672
It's werried since I store the parameters after executing "sess.run(hvd.broadcast_global_variables(0))", the parameters from different divices are the same to each other(No training just initialization and boradcasting). But after training, the parameters are different on different devices.
For data iteration, I just used:
def train_input_fn(input_file, _parse_fn, name_to_features,
		params):
	dat

[2018-12-02 07:31] yyht commented on #672
evaluation after initialization before training:
![image](https://user-images.githubusercontent.com/14133687/49337023-378e8c80-f647-11e8-95c8-c111fbfebb5a.png)
evaluation after one-step model updatation:
![image](https://user-images.githubusercontent.com/14133687/49337025-45dca880-f647-11e8-8f34-7c71ef07c010.png)

the evaluation data iteration code:
        dataset = tf.data.TFRecordDataset(input_

[2018-12-02 07:32] UditGupta10 commented on #672
@yyht Are the parameter updates dense like in neural network case or sparse like in word2vec case?

[2018-12-02 07:34] yyht commented on #672
parameter updates dense like in neural network case. Actually, I just applied Horovod to BERT model released by google for multi-gpu training.

[2018-12-02 07:45] UditGupta10 commented on #672
I'll give a perspective here which may or may not be useful. @tgaddair Correct me if am wrong.
The word embeddings are trainable. In one iteration all workers will get different batches to operate on. This will cause different subsets of the embedding matrices to be updated across all the workers. Hence, different parameter values after training.
@yyht Did I miss something?

[2018-12-02 09:03] yyht commented on #672
I just print some iteration information about device id and related gloal step. It seems that different devices have different global steps rate that some device are faster than others. Since global step is updated after applying train_op, I think this is not the sync mode? In my opintion, sync mode needs to wait for slowest one to accumulate gradients before updating parameters?
![image](https://

[2018-12-02 10:03] yyht commented on #672
![image](https://user-images.githubusercontent.com/14133687/49338453-28fea000-f65c-11e8-8dcb-2d76e8ef36d9.png)
Sorry, I made a ### **huge bug** to modify BERT with Horovod that for gradients computation.  I just applied tf.gradients for each woker and apply gradients on each worker that made model on each device different to each other. Thank you for all guys to help with this bugs.

[2018-12-02 10:03] #672 closed

[2018-12-02 18:11] tgaddair commented on #672
Glad you got it working @yyht!

To respond to a couple of questions above, if the number of batches is different between workers, then Horovod will fail with a message like "one or more tensors was submitted to be allreduced after a process has finished".  Essentially, the workers with more batches will submit their tensors for allreduce, and will stall waiting for the workers with fewer batches t

[2018-12-02 21:00] tgaddair commented on #659
Hey @shaarawy18, my first suggestion would be to enable fp16 compression.  When initializing your distributed optimizer:

[code]

That will effectively half the amount of data being sent over the network, which should speed things up quite a bit.

If that doesn't help, then there may be something in your environment that's causing issues.  In which case, we can dive deeper if you generate a [timel

[2018-12-02 21:09] tgaddair commented on #665
Hey @stgzr, there is some amount of overlap because every request to allreduce a gradient is made asynchronously in Horovod.  This allows us to batch tensors together to be allreduced all at once, what we call _tensor fusion_.

Not sure if that answers your question, feel free to add more detail if not!

[2018-12-03 02:31] Yang-HangWA commented on #669
It hangs too. I run the same command on machine A which runs with no problem.I was really confused.
Run on machine B:
![np_2](https://user-images.githubusercontent.com/38546249/49349435-8d197680-f6e5-11e8-90a0-6a8a47712392.PNG)
Run on machine A:
![nomal_a](https://user-images.githubusercontent.com/38546249/49349590-4aa46980-f6e6-11e8-921d-6b40b48eae60.PNG)

[2018-12-03 08:07] Yang-HangWA commented on #669
@tgaddair  Thanks again. I find the problem caused by different version of open mpi.I use openmpi-4.0.0 on machine A and openmpi-3.1.3 on machine B.When I changed  version of the openmpi，the problem solved.So I think the openmpi-4.0.0 may solved the problem.
But I run
`mpirun -np 4 -H machine_A:2,machine_B:2 -bind-to none -map-by slot -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH -x NCCL_IB_DISABL

[2018-12-03 08:37] Yang-HangWA commented on #669
When I run
`mpirun -np 4 -H 10.91.42.95:2,10.91.42.96:2 -bind-to none -map-by slot -x NCCL_DEBUG=ERROR -x NCCL_IB_DISABLE=1 -x LD_LIBRARY_PATH -x PATH -mca pml ob1 python /home/yanghang/horovod/examples/keras_mnist_advanced.py`
It hangs with info:
`--------------------------------------------------------------------------
WARNING: Open MPI accepted a TCP connection from what appears to be a
anothe

[2018-12-03 11:47] Yang-HangWA commented on #669
I use another machine to test this.The command as follow:
`mpirun -np 4 -H machine_A:2,machine_C:2 -bind-to none -map-by slot -x NCCL_DEBUG=ERROR -x NCCL_IB_DISABLE=1 -x LD_LIBRARY_PATH -x PATH -mca pml ob1 -mca btl ^openib python /home/yanghang/horovod/examples/keras_mnist_advanced.py`
It seems something else wrong.
`2018-12-03 19:26:34.980094: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1

[2018-12-03 13:12] tsauri commented on #510
I have a problem here,
I run  -np 16
But rank() is same is local_rank()
Hence when I try to pin gpu (torch.cuda.set_device(hvd.local_rank())
It local_rank gives number above [0,3], that is 0 to 16,
hence throw error
How do I fix this

[2018-12-03 13:14] tsauri commented on #510
I have 4 machine each 4 gpu
I run mpirun -np 16 but local_rank is same as rank, and number is [0,15]
Hence I simply cannot use local_rank value for torch.set_device(hvd.local_rank())value since it become out of range.
How do I fix this

[2018-12-03 16:21] tgaddair commented on #510
Hey @tsauri, what's your `mpirun` command?  Normally, for 4 machines with 4gpus each you'd run:

[code]

And that would result in 4 processes per machine, with local ranks [0, 3].

[2018-12-03 16:50] UditGupta10 commented on #510
@tsauri Just confirm if you are using these lines:
# Horovod: pin GPU to be used to process local rank (one GPU per process)
    config = tf.ConfigProto()
    config.gpu_options.allow_growth = True
    config.gpu_options.visible_device_list = str(hvd.local_rank())

[2018-12-03 17:31] tgaddair commented on #669
Looks like there may be more config issues with machine C.  We should also focus on getting the example code to work first, as there may be a bug in your training script.

The issue between machines A and B may be due to [non-routed network interfaces](https://github.com/uber/horovod/blob/master/docs/running.md#hangs-due-to-non-routed-network-interfaces).  Could you try running `ifconfig` on each

[2018-12-04 07:30] Yang-HangWA commented on #669
@tgaddair  Thank you very much. The issue between machines A and B have solved when I use  `-mca btl_tcp_if_exclude <interface>` .
But I can't solve `FailedPreconditionError: Mismatched ALLREDUCE CPU/GPU device selection`  problem by  #398 . The system of the machines is `CentOS Linux release 7.5.1804 (Core) `.
I will show you more info to help me to locate the problem.
[code]

[2018-12-04 07:47] Yang-HangWA commented on #669
In addition to this, I agree with you there is a bug in my training script. So how can I locate the problem.
My code is as follow:
[code]

[2018-12-04 08:57] Yang-HangWA commented on #669
When I run keras_minst_advanced.py on machine B and machine C. It seems work fine at first.But after a epoch,there appears a warning as follow:
[code]

[2018-12-04 14:00] UditGupta10 commented on #228
I am facing a similar scalability problem for large batch sizes. @TomorrowIsAnOtherDay What's your take on this specific problem of yours, parameter server or horovod for scalability for large batch sizes?
@alsrgv What is the best way as of now (with horovod) to scale sparse updates with large batch sizes?
Thanks..

[2018-12-04 14:02] #639 closed

[2018-12-04 18:39] EhsanM4t1qbit opened #674 "Segmentation Fault when using Prefetch"
Hi,
I am running Horovod version 0.15.2 (with Tensorflow version 1.11.0 and Python 3.5.3) on a single machine with two GPUs (OS: Debian 9.5). Adding a prefetch to the data pipeline is causing segmentation fault, after the program is run for many epochs. The data is stored as multiple tfrecords on disk.

[code]

Removing the last line fixes the issue.
Here is the error log.

[code]

The log says st

[2018-12-04 21:28] xinli94 opened #675 "Multi gpu training slows down every several steps"
Hi,

I used horovod to train deepspeech2 model `https://github.com/SeanNaren/deepspeech.pytorch` on 1 server with 4 gpus.

The training slows down significantly every several steps

[code]

But it runs perfectly on one single gpu. Any suggestion on debugging this?

Thanks,
Xin

[2018-12-04 21:37] xinli94 commented on #675
Also, i checked the log and found that there is no high latency for the first ~10k steps.

[2018-12-05 03:06] kinglion811 commented on #654
@LiweiPeng thinks

[2018-12-05 03:09] kinglion811 commented on #654
when run docker，should set container privilege  or mount the device driver；
https://community.mellanox.com/docs/DOC-2971#jive_content_id_Install_Docker_CE

[2018-12-05 08:42] zqlai opened #676 "ERROR: TensorFlow device is being mapped to multiple CUDA devices"
I've been trying to transform the [tensorflow.resnet](https://github.com/tensorflow/models/tree/master/official/resnet) model to Horovod version following the [Horovod usage](https://github.com/uber/horovod#usage) steps, mainly by modifying the [resnet_run_loop.py](https://github.com/tensorflow/models/blob/master/official/resnet/resnet_run_loop.py).
When I tried to test the modified resnet on 2 K8

[2018-12-05 09:13] kinglion811 opened #677 "how to install libnccl2 and libnccl2-dev on centos"
when I build horovod images,from centos7,when I run
yum install libcudnn7
yum install libnccl-dev
no package to install

[2018-12-05 09:46] shaarawy18 commented on #659
@tgaddair  Thanks for you reply !

I follow your suggestion and run benchmarks with `hvd.Compression.fp16`. It can effectively  speed model training up.  Now the speedup is nearly 90% of the ideal in 2 nodes with 2GPUs each.

I have another related questions:

1.  This is my timeline file when runing the benchmarks.  I can't understand the meaning of the timeline clearly. Which part of this timeli

[2018-12-05 09:50] imKKK opened #678 "undefined symbol: _ZN10tensorflow12OpDefBuilderC1EN4absl11string_viewE"
hi i am trying to tuning the deepspeech 0.3.0 model from checkpoint which i cloned it on 30.10.2018. while
trying this command..

python DeepSpeech.py --train_files /home/userk/DeepSpeechPro/datasets/train/train.csv --dev_files /home/userk/DeepSpeechPro/datasets/dev/dev.csv --test_files /home/userk/DeepSpeechPro/datasets/test/test.csv --n_hidden 2048 --epoch -3 --export_dir /home/userk/DeepSpeechP

[2018-12-05 10:20] Yang-HangWA commented on #669
@tgaddair  Accidentally, I run the keras_mnist_advanced.py on machine B and machine C successful.However,I was confused that every epoch of training on four gpus is slower than training on one gpu and the training result is little difference.I looked #508. Does it matter to  your example ? Or I can get better result if I change another program. Beside, I change the nvidia drive of machine A and th

[2018-12-05 14:39] UditGupta10 opened #679 "Allgather vs Allreduce"
I am aware that allgather has performance benefits over allreduce when aggregating sparse gradients (using indexedslices in tensorflow) and allreduce over allgather for dense ones. What is the reason for this?

[2018-12-05 16:44] tgaddair commented on #679
Hey @UditGupta10, it comes down to the way the data is represented.

Suppose you have a tensor with shape (100, 100), but only 10 of those 10,000 (1%) of those elements are non-zero.  It's up to you whether you represent this as a dense tensor (array) or a sparse tensor (dictionary).

You cannot allreduce a sparse tensor.  The results will simply not make any sense, because the sparse tensor has t

[2018-12-05 16:46] tgaddair commented on #677
Hey @kinglion811, I believe you'll need to join the NVIDIA develop program and install from an archive file:

https://docs.nvidia.com/deeplearning/sdk/nccl-install-guide/index.html

https://developer.nvidia.com/cudnn

[2018-12-05 16:56] tgaddair commented on #676
Hey @zqlai, to verify, does your training script have this piece of code in it:

[code]

Do the tensorflow examples included with Horovod work in your environment?

[2018-12-05 17:07] tgaddair commented on #678
Hey @imKKK, can you run `ldd /home/userk/DeepSpeechPro/native_client/bin/libctc_decoder_with_kenlm.so` and print the result here.

I suspect that there are missing `.so` files that need to be added to your `LD_LIBRARY_PATH` similar to #656.

[2018-12-05 17:35] tgaddair commented on #659
In general, you want to pay attention to the areas that are taking the most time (the widest horizontal bars), as those will typically be your bottlenecks.  One thing I'm seeing from your timeline is that Horovod is using `MPI_ALLREDUCE` instead of NCCL.  In general, NCCL will be able to better make use of your network if you can install it in your environment.

We have some docs on understanding

[2018-12-05 20:29] billy19murahmi commented on #554
@alsrgv @karakusc  Guys, I run into same MPI error as before if I scale over 250 processes.
I've attached the timeline for 600 processes for which I got the error. (150 nodes, 4 process per node , local batch size=4000, global batch size 1 million)
[timeline_150_big_4000.zip](https://github.com/uber/horovod/files/2650493/timeline_150_big_4000.zip)

Currently nodes are busy, so I'm unable to get th

[2018-12-05 22:37] tbennun commented on #516
@jbalma @UditGupta10 We may have found a solution to the problem: you have to unload the "atp" module before installing Horovod.
Steps we took:
* `module load TensorFlow`
* `module unload atp`
* `HOROVOD_MPICXX_SHOW="CC --cray-print-opts=all" pip install horovod`

The ATP message is gone, and Horovod loaded successfully.

[2018-12-06 02:32] Yang-HangWA commented on #398
hello@alsrgv ，I met the same problem and both of two machine run CentOS Linux release 7.5.1804 (Core). The message as follow:
[code]
I can't locate the problem,the nvidia drive is 390.87.Do you have any ideas?

[2018-12-06 03:34] zqlai commented on #676
@tgaddair Thanks for your response.
Yes, I configured the gpu_options as:
[code]
Then pass the `session_config` to `run_config` as
[code]
As I found the ResNet is a distributed version using Tensorflow's distribution strategy,  I commented the ` train_distribute=distribution_strategy`, but not sure if this worked.

The modified `resnet_run_loop.py` is here [resnet_run_loop.py.txt](https://github.c

[2018-12-06 03:55] Yang-HangWA commented on #669
I solve the  ` Mismatched ALLREDUCE CPU/GPU device selection: One rank specified device GPU, but another rank specified device CPU.`  problem by read https://github.com/uber/horovod/blob/master/docs/gpus.md. So I use `HOROVOD_NCCL_HOME=/usr/local/nccl-<version> HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod` to reinstall horovod. Now，the only problem is find the bug in my script.

[2018-12-06 04:19] imKKK commented on #678
this is what I am getting.. @tgaddair

        linux-vdso.so.1 =>  (0x00007fffc543a000)
        libtensorflow_framework.so => not found
        libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007f586f960000)
        libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007f586f730000)
        libm.so.6 => /lib/x86_64-linux-gnu/libm.so.6 (0x00007f586f420000)
        libstdc++.so.6 => /u

[2018-12-06 04:57] imKKK commented on #678
I found the file here...

/home/userk/.local/lib/python2.7/site-packages/tensorflow/libtensorflow_framework.so

and I tried adding it to the LD_LIBRARY_PATH...

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/userk/.local/lib/python2.7/site-packages/tensorflow/libtensorflow_framework.so

when i run this..

echo $LD_LIBRARY_PATH

I am getting this..

:/home/userk/.local/lib/python2.7/site-packages/te

[2018-12-06 05:20] imKKK commented on #678
I have the path to LD_LIBRARY_PATH.
now the command
        ldd /home/userk/DeepSpeechPro/native_client/bin/libctc_decoder_with_kenlm.so
shows
        linux-vdso.so.1 =>  (0x00007fffc9bd1000)
        libtensorflow_framework.so => /home/userk/.local/lib/python2.7/site-
        packages/tensorflow/libtensorflow_framework.so (0x00007ff6bdbc0000)
        libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2

[2018-12-06 06:16] UditGupta10 commented on #679
Thanks for the detailed explanation.

[2018-12-06 06:16] #679 closed

[2018-12-06 07:12] imKKK commented on #678
now I built a comlpete new project from the deepspeech 0.3.0 release with the respective requirements.txt packages and native_client.amd64.cpu.linux.tar.xz file from the releases. And I am getting this issue...

('Preprocessing', ['/home/userk/DeepSpeechPro/datasets/train/train.csv'])
Traceback (most recent call last):
  File "DeepSpeech.py", line 1988, in <module>
    tf.app.run(main)
  File "/ho

[2018-12-06 09:45] shaarawy18 commented on #659
@tgaddair  Follow your advice, I reinstall Horovod in my environment to support NCCL. And there is timeline that Horovod is using  NCCL. When using NCLL instead of `MPI_ALLREDUCE `, the  speedup is still 90%  of the ideal,  the same as using `MPI_ALLREDUCE `. Do you think it is in a normal state?

![2018-12-06 5 06 46](https://user-images.githubusercontent.com/17583264/49574752-0c27dc80-f97c-11e8-

[2018-12-06 10:07] Yang-HangWA opened #681 "How to take full advantage of horovod to train"
My script is just as  https://github.com/uber/horovod/issues/669#issuecomment-444003140 .I run the script successful  on two machines and each of them has two gpus. However,most of the time the volatile GPU-Util is 0%. The training  data store on one of them with a NFS to share data with others. Besides, I  find  it's even slower than training on one machine with one gpu. I suspect it has to do wi

[2018-12-06 10:14] kinglion811 commented on #677
@tgaddair thanks

[2018-12-06 11:03] yyht opened #682 "how to implement model horovod_model_parallelism for big model"
I had a big model  that needs to run on two machines with 8-gpus for one process.
I had seen https://gist.github.com/alsrgv/cbbb2e25f09c1df983098098511d16c4.  Could you provide some details about multi-machine, multi-gpu for one-process training?
As far as I known, "with tf.device('/gpu:0')" seems use local gpu-id. If i want to use two machines to distribute my model across two machines such as "w

[2018-12-06 13:03] GoldenSpark commented on #647
Hey @tgaddair , there is still a segmentation fault  when using horovod-0.15.2.  Could you try to solve this problem? Thanks.

[2018-12-06 17:23] tgaddair commented on #647
Do you know if this also happens with the example scripts that come with Horovod, or only with the PocketFlow training script?

It looks like the segfault is occurring in the underlying TensorFlow library, similar to #554. Can you share some more information about your training script?  What batch size are you using?  Does your training involve sparse tensors?

Also, can you try capturing a timeli

[2018-12-06 17:37] tgaddair commented on #682
Hey @yyht, multi-machine model parallelism is a non-trivial problem.  At the moment, Horovod isn't designed to split a single model across multiple machines, as its primary function is for data parallelism.  At the moment, you'd need to split the training into two processes, with one process on machine-1 using 4 GPUs and another processing on machine-2 using 4 GPUs.

[2018-12-06 17:38] tgaddair commented on #677
No problem!  Closing this for now, but feel free to reopen if any additional issues come up.

[2018-12-06 17:38] #677 closed

[2018-12-06 21:26] abidmalikwaterloo opened #683 "Running Horovod"
I recently created a new environment for Horovod and got the following error:

[code]
Is it the enviornment?

[2018-12-07 01:15] abidmalikwaterloo commented on #683
I think there is something wrong with my installation!
[code]
I install both tensorflow and Horovod using pip. I am using python  3, cuda 9 amd openmpi-3.1.1

[2018-12-07 01:31] #683 closed

[2018-12-07 02:17] abidmalikwaterloo opened #684 "Horovod Hangs at hvd.init()"
I have good experience with Horovod. Recently, I installed Horovod afresh. However, it hangs at hvd.init(). for example.
[code]
It will stay there forever. I looked at the other post similar to this and tried the solution but did not work.

[2018-12-07 05:59] UditGupta10 commented on #516
That is useful. Thanks..

[2018-12-07 05:59] #516 closed

[2018-12-07 08:22] Yang-HangWA opened #685 "problem:misc/ibvwrap.cu:63 NCCL WARN Failed to open libibverbs.so[.1]"
It seems nccl failed.How can I fix this?
[code]

[2018-12-07 08:34] AlxVoropaev commented on #636
Unfortunately, no.

[2018-12-07 14:57] LeanderK opened #686 "unable to install horovod"
I am using mac osx without a GPU for development.

    In file included from /Users/LeanderK/miniconda3/envs/bijection-action/lib/python3.6/site-packages/tensorflow/include/tensorflow/core/framework/op.h:23:
    In file included from /Users/LeanderK/miniconda3/envs/bijection-action/lib/python3.6/site-packages/tensorflow/include/tensorflow/core/framework/op_def_builder.h:24:
    /Users/LeanderK/min

[2018-12-07 17:12] tgaddair commented on #681
I wonder if your sparse tensors being allgathered are very large.  Do you know about what percentage of the tensor is non-zero?  If it's high, you could try using the `sparse_to_dense` option of the `DistributedOptimizer` to convert them into dense tensors and perform allreduce.  You can then also take advantage of fp16 compression, which would definitely help in a slow network environment.

[2018-12-07 18:18] sarunyap commented on #105
Hi @alsrgv, are you currently working on implementing this functionality?

Thanks!

[2018-12-07 20:31] srinivas-varadharajan opened #687 "segmentation fault 1000 process - Transformer Model"
Hey @alsrgv ,

I'm running into seg fault for anything above 250 process.
sparse_as_dense works good till 250 process with local batch size of 5000 tokens (transformer model).
Follow up to below issue.
[https://github.com/uber/horovod/issues/554](url)

I've attached the timeline and debug files for 1000 process (250 nodes, 4 process each).
[1000_process_seg_fault.zip](https://github.com/uber/horov

[2018-12-07 21:05] alsrgv commented on #687
Hi Srini, could you get a core dump and get the back trace of all threads?

[2018-12-07 21:10] billy19murahmi commented on #687
@alsrgv  Debug file (debug_output_1000.o) in the zipped folder is the back trace of all threads.

[2018-12-07 21:30] alsrgv commented on #687
@billy19murahmi, got it. Is it possible that one of the workers has flaky access to the data store?  Does it always fail on the same set of workers?

[2018-12-07 22:57] billy19murahmi commented on #687
It doesn't fail on the same set of workers. I've also tried to exclude those workers. I still get the same seg fault with different set of nodes.

[2018-12-07 23:00] alsrgv commented on #687
How is your data pipeline built, does it use TFRecords? If you use new sharding API, maybe you're running out of shards?

[2018-12-08 00:04] billy19murahmi commented on #687
yes, it uses TFRecords. I'm listing and sharding before other pipeline functions.
I'm not sure if I'm running out of shards, because I've tried to run 250 process experiments with 100 shards and it worked fine. All current experiments I'm running with 400 shards.

I’ve created gists for transformer_main and dataset pipeline scripts which has horovod changes.

[https://gist.github.com/billy19murahm

[2018-12-08 06:01] Yang-HangWA commented on #681
Hey,@tgaddair. I followed your advice and I set sparse_to_dense to True which make decrease to 1/3~1/4 of original training time.What a amazing!What's more, can I get a great improvement to decrease the training time if I improve the network to 10Gpbs?

[2018-12-08 06:29] alsrgv commented on #685
@Yang-HangWA, seeing that you opened other issues, did you resolve this one?

[2018-12-08 06:33] alsrgv commented on #687
@billy19murahmi,

How many TFRecord files do you have?

[code]

What if you disable this sharding functionality - does segfault go away?

[2018-12-08 06:36] alsrgv commented on #686
@LeanderK, can you try following recommendations here - https://stackoverflow.com/questions/46235376/tensorflow-protobuf-version-mismatch ?

[2018-12-08 06:37] alsrgv commented on #636
@AlxVoropaev, @jhagege, can you try using `HOROVOD_HIERARCHICAL_ALLREDUCE=1`?  This way it'll use NCCL inside the node and MPI across nodes.

[2018-12-08 12:07] abidmalikwaterloo commented on #684
@alsrgv . It seems that it enters an endless loop. I tried the following code:

[code]
I don't see the last message. I am attaching part of the trace file for your convenience.
[trace.pdf](https://github.com/uber/horovod/files/2659670/trace.pdf)

[2018-12-08 15:17] yyht opened #689 "multi-machine training hangs on."
![image](https://user-images.githubusercontent.com/14133687/49687534-3a094e80-fb3f-11e8-936b-6b5214599b32.png)

It seems som connections time-out and some coneections work fine.

Here is my trianing script in docker:
mpirun -np 8 \
 -H 192.168.3.131:4,192.168.3.133:4 \
 -mca btl_tcp_if_exclude docker0,lo,br-1ca618956367,br-224fa76e2bea,br-be5c07c9e794,br-697da8ae7b12,br-6655561aac78,br-3e45e7ddc33

[2018-12-09 04:02] Jeffwan commented on #313
I use this way and make it work  -mca btl_tcp_if_include ${my_network_name}

[2018-12-09 04:14] wu-yy commented on #313
@Jeffwan  year, the network interface,you can specify one.

you can also specify a ip:port ,like
`mpirun --mca btl_tcp_if_include 192.168.1.0/24,10.10.0.0/16  ` which require the MPI version is above 1.5.
instead of
`mpirun --mca btl_tcp_if_include eth1,eth2`

[2018-12-09 11:55] yyht opened #690 "multi-machine training but hangs on"
I had modified the script with

-mca btl_tcp_if_exclude docker0,lo,br-1ca618956367,br-224fa76e2bea,br-be5c07c9e794,br-697da8ae7b12,br-6655561aac78,br-3e45e7ddc33c,docker_gwbridge,vboxnet0,virbr0 \
 -x NCCL_SOCKET_IFNAME=enp14s0,eno1 \

![image](https://user-images.githubusercontent.com/14133687/49696932-27008800-fbec-11e8-8b8d-e843f227d707.png)
![image](https://user-images.githubusercontent.com/14

[2018-12-10 01:37] Yang-HangWA commented on #685
@alsrgv , the program is running normal, but the message is still the same. I open this issue to find out if the message influence the training and how to make this part better.

[2018-12-10 02:43] zymazloa opened #691 "tensorflow timeline / gradients allreduce on cpu?"
my test is base on tensorflow/benchmarks，variable_update：horovod

tensorflow timeline :

/job:localhost/replica:0/task:0/device:CPU:0 Compute
-------------------------------------------------------------------------
                      ||             | HorovodAllreduce |
                                     |           HorovodAllreduce               |
--------------------------------------------

[2018-12-10 05:13] alsrgv commented on #685
@Yang-HangWA, got it - since all of the messages are INFO, you should be ok.

[2018-12-10 05:16] alsrgv commented on #691
@zymazloa,

`HOROVOD_GPU_ALLREDUCE=NCCL sudo pip install --no-cache-dir horovod` could be causing a problem since `sudo` clears environment.

Can you try `sudo HOROVOD_GPU_ALLREDUCE=NCCL pip install --no-cache-dir horovod` instead?

[2018-12-10 05:18] alsrgv commented on #690
@yyht, can you connect to your running process using `gdb -p <pid>` and get an output of `thread apply all bt`?

[2018-12-10 05:19] alsrgv commented on #689
I assume this is superseded by #690, will close.  Feel free to reopen if it's not the case.

[2018-12-10 05:19] #689 closed

[2018-12-10 05:20] alsrgv commented on #684
@abidmalikwaterloo, could you get a stack trace by attaching to hanging process via `gdb -p <pid>` and get an output of `thread apply all bt`?

[2018-12-10 05:32] alsrgv commented on #676
@zqlai, seems that some code in the script initializes all GPUs, and the code to pin TF to specific GPU is executed too late.  Which version of TensorFlow are you using?

[2018-12-10 05:56] imKKK commented on #678
@alsrgv ,the issue is solved. Its was due to the mismatch error. I was using a wrong version of tensorflow and wrong project version(master) and native_clinet binaries and corrupted CSV files. Then I followed the steps suggested by @MuruganR96 to build project and @lissyx to re validate CSV files. now The training is going on.. Thank you for your support.

[2018-12-10 06:00] alsrgv commented on #678
@imKKK, excellent!

[2018-12-10 07:10] zymazloa commented on #691
@alsrgv

it works !  thanks !

[2018-12-10 07:10] #691 closed

[2018-12-10 09:58] Yang-HangWA opened #692 "how to set '-mca btl_tcp_if_exclude' between three machine?"
At the beginning,I want to change the network name 'eno1' of machine C  to 'enp0s31f6', but my ops colleague Zhiping told me it may cause other problems. So I try to run the program on these three machine by configuring.The  message of  `ifconfig`  as follow:
Machine-A:
`br-4e5f60905511: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 172.18.0.1  netmask 255.255.0.0  broadcast 0.

[2018-12-10 10:09] Yang-HangWA commented on #685
@alsrgv Thanks for your reply. I think this issue can be closed.

[2018-12-10 12:24] LEESEYUN opened #693 "multi node training is too slow"
I run "tf_cnn_benchmark.py" with horovod

But "2node 8GPU" is too much slower than  "1node 4GPU"

My network is 1GB/s

**1node 4GPU (1080ti x 4)**

mpirun -np 4 --allow-run-as-root -x NCCL_DEBUG=INFO -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib python3 tf_cnn_benchmarks.py --data_format=NCHW --batch_size=64 --model=resnet50 --variable_update=horovod --nodistortions --allow_growth=True

[2018-12-10 13:13] yyht commented on #690
![image](https://user-images.githubusercontent.com/14133687/49725869-b74fd300-fca7-11e8-9d84-714e39ef2fa8.png)
"Launch mode Parallel" was succeeded but the training process seemd to be stuck.
![image](https://user-images.githubusercontent.com/14133687/49725988-ecf4bc00-fca7-11e8-82f2-8ca315f6c88e.png)
This was the GPU-usage of second machine which shown 100% gpu usage。。。

While for bsingle-machine

[2018-12-10 13:58] LEESEYUN commented on #693
I try to reinstall the horovod with this option. Then I got increase the performance

152 -> 300.18  But this is still slower than 1node 4gpu (608 or 884)

sudo HOROVOD_HIERARCHICAL_ALLREDUCE=1 HOROVOD_GPU_ALLREDUCE=NCCL HOROVOD_NCCL_HOME=/usr/local/nccl HOROVOD_WITH_TENSORFLOW=1 pip3 install --no-cache-dir horovod

==========================================================
80	images/sec: 37.5 +/-

[2018-12-10 16:14] #685 closed

[2018-12-10 18:15] LiweiPeng opened #694 "horovod SHUT_DOWN_ERROR design issue"
In current horovod design, the SHUT_DOWN_ERROR is converted to tensorflow unknown error. However, this has some issues when I use tf estimator for training:
1) estimator.train() won't save the last step before Unknown error occurs. This results loss of training steps.
2) estimator printed long stack trace which is difficult to follow.

An expected design is to throw python StopIteration exception.

[2018-12-10 20:52] samrudhdhirangrej opened #695 "import error"
Hi,

I am trying to run Glow: https://github.com/openai/glow/tree/d3906b2f61183e2178feeb1d63dd5e5c9b78d04e

I experience following error. I have installed libraries using requirement.txt which reads as follows:
tensorflow-gpu==1.8.0
keras==2.2.0
pillow==5.2.0
toposort==1.5
horovod==0.13.8

I have tried with OpenMPI versions 4.0 and 3.1. with no success.

Traceback (most recent call last):
  File "

[2018-12-10 21:06] billy19murahmi commented on #687
@alsrgv  Ran few tests with 1000 processes. When sharding functionality is removed, the model trains without any segfault error. Thanks for the suggestion.

[2018-12-10 23:25] LiweiPeng opened #696 "horovod code refactor for new communication library support"
Horovod supports several types of communication libraries to do allreduce operations, including NCCL, DDL, MPI etc. We are adding a new, internal libraries beyond the existing ones. The current horovod code design requires us to change many lines in common/operations.cc file. This makes it difficult for us to use new Horovod releases and features.

My request is: can Horovod refactor its code so t

[2018-12-10 23:34] tgaddair commented on #696
Hey @LiweiPeng, coincidentally, this is something we have planned for this sprint after #616 is landed.  So should be done in the next couple of weeks.

[2018-12-10 23:40] #673 closed

[2018-12-11 02:45] alsrgv commented on #690
@yyhh, got it - can you get the output of `thread apply bt all` within `gdb` though?

[2018-12-11 02:46] alsrgv commented on #692
@Yang-HangWA, did you get this resolved since you raised more issues?

[2018-12-11 03:33] zqlai commented on #676
@alsrgv Thanks for your comment.
My TensorFlow version is 1.11.0.
Your analysis makes sense. From the [output.log](https://github.com/uber/horovod/files/2647861/output.log) , we can see multiple 'Adding visible gpu devices' logs, firstly:
[code]
and then:
[code]
Unfortunately， I have not figured out if the TensorFlow or the [tensorflow.resnet](https://github.com/tensorflow/models/tree/master/offic

[2018-12-11 05:20] alsrgv commented on #692
@Yang-HangWA, got it. Is it possible to name interfaces more consistently across servers, e.g. name each primary interface eth0?

[2018-12-11 06:15] Yang-HangWA commented on #692
@alsrgv Oh,the name interfaces can't be changed now. My ops colleague told me that changing name  may causes some other problems. Is there an other way to solve this ?

[2018-12-11 06:16] adilkhanovkz opened #697 "Horovod does not work well with Adagrad pytorch"
When I try to use horovod.DistributedOptimizer with Adagrad, loss reaches infinity, while with the SGD it works correctly. What is wrong?

    optimizer = optim.Adagrad(model.parameters(),
                          lr=0.15 *float(batch_size)/16. * hvd.size(),
                          initial_accumulator_value=0.1)

    compression = hvd.Compression.fp16
    optimizer = hvd.DistributedOptimizer(op

[2018-12-11 06:54] alsrgv commented on #692
@Yang-HangWA, in that case, can you try `-mca btl_tcp_if_exclude lo,docker0,br-4e5f60905511, virbr0,virbr1`?

[2018-12-11 15:35] MichaelX99 commented on #653
I am trying to run horovod inside a docker container on AWS Sagemaker which requires that the container to be run without privilege.  This is effectively a warning since training does work however it clutters up the log files.  Is there perhaps a catch that I can implement to not have the warnings written out to STDOUT?

[2018-12-11 16:15] tgaddair commented on #697
Hey @adilkhanovkz, does this problem occur without fp16 compression?

[2018-12-11 16:17] tgaddair commented on #695
Hey @samrudhdhirangrej, could you run `ldd /usr/local/data/srangrej/anaconda3/lib/python3.6/site-packages/horovod/tensorflow/mpi_lib.cpython-36m-x86_64-linux-gnu.so` and print the result?  Looks like a missing runtime dependency needs to be added to `LD_LIBRARY_PATH`.

[2018-12-11 16:23] tgaddair commented on #693
Hey @LEESEYUN, it's possible that the network is simply the bottleneck here, in which case you might want to try using fp16 compression:

[code]

Apart from that, it would be useful if you could create a timeline so we can see where Horovod is spending most of its time.

[2018-12-11 17:10] LEESEYUN commented on #693
Thank you for reply

I fixed to compression=hvd.Compression.fp16

But it is not significant increase the performance

before
=====================================
80	images/sec: 38.2 +/- 0.1 (jitter = 0.6)	0.991	0.844	1.000
80	images/sec: 38.2 +/- 0.1 (jitter = 0.5)	0.648	1.000	1.000
80	images/sec: 38.2 +/- 0.1 (jitter = 0.5)	0.611	1.000	1.000
80	images/sec: 38.2 +/- 0.0 (jitter = 0.5)	0.675	1.000

[2018-12-11 18:35] ghltshubh opened #698 "[ppc64le] Can't install horovod from source on power9"
GCC 4.8.5
CPU: Power 9
GPU: NVIDIA Tesla V100
CUDA/ CUDNN: 9.2.148/ 7.1.4
NCCL: 2.3.7

All are libraries are in home dir.

Following is the stack trace from the installation process.

[code]

[2018-12-11 20:09] adilkhanovkz commented on #697
Hello @tgaddair! Thank you for reply! Yes, this problem occur without fp16 compression too. I tried different combinations, but it does not help. Without hvd.DistributedOptimizer  (without horovod in one node) same code works better with Adagrad rather than with SGD. I did not find examples of using horovod with Adagrad. Probably I missing something.(

[2018-12-11 21:43] adilkhanovkz commented on #697
next test:
   import torch.optim as optim
   import torch.nn as nn
   import horovod.torch as hvd

   class Model(nn.Module):
       def __init__(self):
           super(Model,self).__init__()
           self.linear = nn.Linear(10,10)
       def forward(self,x):
           return self.linear(x)

   model = Model()
   optimizer = optim.Adagrad(model.parameters(), lr=0.15,initial_accumulator_value=0

[2018-12-12 03:39] #669 closed

[2018-12-12 06:39] #455 closed

[2018-12-12 06:39] #543 closed

[2018-12-12 10:05] tingweiwu commented on #666
@LEESEYUN I meeting the same issue when I run  `uber/horovod:0.15.2-tf1.12.0-torch1.0.0-py3.5`.
but go well when with the verison `uber/horovod:0.13.10-tf1.9.0-torch0.4.0-py3.5`
 how did you solve it?

[2018-12-12 10:58] Aki57 commented on #656
Sorry for late reply :-)
I have tried adding the missing .so file to the system path, and the error was going on.
[code]
Actually I have setuped an environment on another machine, and I found some thing wried.
[code]
The .so file is not found but it still works.

So this this error may be caused by some mismatch error like #678  , but I'm not clear which is reason.

[2018-12-12 15:20] adilkhanovkz commented on #697
Actually initial_accumulator_value does not inherited in hvd.DistributedOptimizer

[2018-12-12 18:00] adilkhanovkz commented on #697
import torch.optim as optim
import torch.nn as nn
import horovod.torch as hvd
from horovod.torch.compression import Compression
import torch
hvd.init()

class Model(nn.Module):
    def __init__(self):
        super(Model,self).__init__()
        self.linear = nn.Linear(5,2)
    def forward(self,x):
        return self.linear(x)

model1 = Model()
model2 = Model()

model1.load_state_dict(model2.stat

[2018-12-12 18:03] adilkhanovkz commented on #697
I find next temporary solution:
    optimizer2.load_state_dict(optimizer1.state_dict())

[2018-12-12 18:03] #697 closed

[2018-12-12 20:05] #698 closed

[2018-12-12 21:32] sincewhenUCLA opened #699 "Confusion about effective batch_size handling of horovod"
I am testing using horovod to transfer my single GPU tensorflow training code to multi-gpu one. I have made it work as in the example: tensorflow_minist.py. But I am very confused about how exactly horovod are handling the effective batch size for multi-gpu. As shown in the code snippet below which is a part of tensorflow_minist.py, the batch_size is set as 100. According to my understanding from

[2018-12-13 07:02] Lyken17 opened #702 "Compilation failed on Ubuntu 16.04"
I was compiling the master branch of horovod
# gcc-4.8
[code]

# gcc-5
[code]
# gcc-6
[code]

# gcc-7
[code]

[2018-12-13 09:13] zqlai commented on #699
Just my personal opinion.
When you train on NG GPUs, each GPU handles 100 images for each step. So for the whole training task, it handles 100*NG images per step, which is the batch_size for the whole task.
As the training data is shuffled randomly, the 100-images for each GPU are different.

[2018-12-13 10:34] bjg2 opened #703 "Horovod with docker as a main process"
Hi guys,

Recommended way of dealing with horovod and docker is: https://github.com/uber/horovod/blob/master/docs/docker.md. That's bad in a way because it leaves bash as a primary docker process and python process as a secondary. Docker logs report of bash logs, docker state is dependent on bash state, docker closes if bash process closes, etc, so it thinks its main process is bash while it shoul

[2018-12-13 15:36] blythed commented on #281
There seem to be so many issues relating to this and no accepted answer. Maybe it would be good to post something in the main documentation.

[2018-12-13 17:05] tgaddair commented on #699
@sincewhenUCLA, in Horovod, the code (your python script) is executed independently on every worker. So if you have NG workers, then each worker is going to be reading a different batch of 100 images (assuming each shuffles them randomly).

You can see how this works for yourself with a simple toy example:

[code]

Then if you `mpirun -np 4 ...` this script, you'll see results like:

[code]

So it

[2018-12-13 17:15] tgaddair commented on #694
Hey @LiweiPeng, would this change be needed only for the SHUT_DOWN_ERROR or for any instance where we raise an UnknownError?

[2018-12-13 19:50] sincewhenUCLA commented on #699
Thanks for the explanation! This makes a lot sense! During the training process, it also prints NG lines of training loss when using NG workers.

In this setting, I think the training data has to be shuffled to make the Multi-GPU setting useful. Otherwise, all GPUs are training using the same batch starting from the same loss (overall loss). The resulting updated gradients will be the same as usin

[2018-12-13 21:45] karakusc commented on #702
@alsrgv It seems `RECORD_EVENT` and `WAIT_FOR_EVENTS` are only defined when `HAVE_NCCL` or `HAVE_DDL`. The new allgather implementation seems to break this since it uses these macros without either of these. Should we remove this condition on the macro definitions?

[2018-12-13 23:10] LiweiPeng commented on #699
The way I distributed dataset among N GPUs is to use dataset.shard(). see this link for example. https://github.com/uber/horovod/issues/223#issuecomment-377831331

[2018-12-13 23:16] LiweiPeng commented on #694
@tgaddair  This change is desired for any case where horovod cannot proceed normally and has to stop/abort. SHUT_DOWN_ERROR is such a case.

Horovod also throws other UnknownErrors. But I am not sure whether these errors will result in horovod to be stopped or aborted. If they do, it is desired that they are handled in the same way.

[2018-12-14 00:11] tgaddair commented on #694
@LiweiPeng Some of the error types TensorFlow supports can cause issues as was the case with #552. Would CancelledError work in your case?  And do you have a simple repro we can use to verify the change works?

[2018-12-14 04:31] lminer commented on #100
@alsrgv I'm having the same problem. I had a machine with 2 RTX 2080 ti GPUs and everything was running fine. Then I added a 3rd GPU and now it takes 30% longer to go through a single epoch and I'm getting the same error as everyone else. Here's the command I'm using:

[code]

[2018-12-14 07:49] alsrgv commented on #100
@lminer, could you open a new issue and specify what kind of model you're training and what error are you seeing?

[2018-12-14 07:51] alsrgv commented on #702
@karakusc, yeah - let's enable it for `HAVE_CUDA`. Could you open a PR?

[2018-12-14 07:56] alsrgv commented on #281
@blythed, https://github.com/uber/horovod/blob/master/docs/running.md#hangs-due-to-non-routed-network-interfaces covers this issue. Do you have additional notes in mind that we could include there?

[2018-12-14 07:59] alsrgv commented on #703
@bjg2, in general, [Singularity](https://singularity.lbl.gov/docs-hpc) is better suited for this inversion of control than Docker -- it's much easier to do `mpirun -np XXX singularity exec`.  If you happen to try Singularity, please share your experience.

[2018-12-14 08:01] alsrgv commented on #656
@Aki57, is it possible that you've upgraded TF after you've installed Horovod on the first machine?  Or that you installed Horovod while being outside of your Conda environment?

[2018-12-14 08:02] alsrgv commented on #666
@tingweiwu, can you share the output of `ifconfig`?  What `mpirun` command are you using?

[2018-12-14 08:05] alsrgv commented on #693
@LEESEYUN, what's your physical NIC performance?  Distributed deep learning is very spiky workload from the network standpoint - there's no communication during the forward pass, and during the backward pass it's still intermittent - that's one of the reason that average utilization may seem low.

[2018-12-14 08:12] alsrgv commented on #675
@xinli94, sorry for the delay.  Does deep speech model use sparse gradients, e.g. due to embeddings?   If so, this feature may help - https://github.com/uber/horovod/pull/570.

[2018-12-14 08:16] alsrgv commented on #679
@UditGupta10, we've noticed that some TensorFlow models that use embeddings have issues (#554, #566, #430). Until the underlying issue is fixed, the feature in #570 may help alleviate the problem.

[2018-12-14 08:18] alsrgv commented on #70
@GabrielLin, could you open a new issue and share the installation log that shows the error you're seeing?

[2018-12-14 08:46] GabrielLin commented on #70
@alsrgv . My log is almost the same. I fix this issue by installing OpenMPI by conda.
`conda install -c conda-forge mpi4py=3.0.0`

If I follow the instruction of OpenMPI website to install OpenMPI, then install mpi4py by pip. No matter which version, it always fails.

[2018-12-14 11:47] blythed commented on #281
Hi alsrgv, Indeed I saw this solution, however this method did not work for me. I think when more than one network interface is available you actually need to specify which one you want. So this worked for me (whereas the answer posted didn't):

[code]

[2018-12-14 14:12] joanlynnlove opened #707 "Model can't be initialized when np>=2"
Hi, there. I am quite new to Horovod and MPI. Recently I've been trying to run TensorFlow distributed training in a single **Docker container** with 8 GPUs. **The container has no sshd process running.**

It works fine on /device:GPU0 when I have only 1 sub process running:

But when I have 2 (or more) sub processes,  it seems that they can't find each other.

Some logs are pasted below:

I think

[2018-12-14 17:44] lminer opened #708 "One of three GPUs can't submit tensors"
I had a machine with 2 RTX 2080 ti GPUs and everything was running fine. Then I added a 3rd GPU and now it takes 30% longer to go through a single epoch. I'm also getting an error saying that one of the ranks isn't submitting any tensors.

I'm training a unet model and am using the Tensorflow Dataset api to load the data. I'm running:
- keras 2.2.4
- Tensorflow 1.12.0
- horovod 0.15.2
- ubuntu 18.

[2018-12-14 19:18] karakusc commented on #653
@alsrgv @MichaelX99 SageMaker does not allow running privileged containers, but you can set up a filter in CloudWatch to suppress these warnings.

[2018-12-14 19:39] #702 closed

[2018-12-14 19:39] Lyken17 commented on #702
Thanks for the quick fix!

[2018-12-15 00:56] lminer commented on #708
@tgaddair doesn't seem to hang when I run the basic keras script.

[2018-12-15 01:01] joanlynnlove commented on #707
Thanks, and yes, I have downloaded mnist dataset manually and passed that example.
My container can't connect to internet due to our company's security settings. Therefore I guess it may lack some components that horovod needs.

[2018-12-15 01:01] joanlynnlove commented on #707
Thanks, and yes, I have downloaded mnist dataset manually and passed that example.
My container can't connect to internet due to our company's security settings. Therefore I guess it may lack some components that horovod needs.

[2018-12-15 01:01] joanlynnlove commented on #707
Thanks, and yes, I have downloaded mnist dataset manually and passed that example.
My container can't connect to internet due to our company's security settings. Therefore I guess it may lack some components that horovod needs.

[2018-12-15 01:02] joanlynnlove commented on #707
Thanks, and yes, I have downloaded mnist dataset manually and passed that example.
My container can't connect to internet due to our company's security settings. Therefore I guess it may lack some components that horovod needs.

[2018-12-15 21:54] tgaddair commented on #708
There are two possibilities that sprint to mind.

One is that the third process / GPU is lagging behind the others for some reason. The message you're getting there about the stalled tensor from rank 2 could indicate that the other two processes finished the epoch, but the third process didn't finish the epoch within a minute of the others because it's slow.  Possibly a hardware issue.  Could you

[2018-12-15 22:12] tgaddair commented on #707
I see. To clarify, you're saying that you were successfully able to run the example training script with _two_ processes without any hanging?  Specifically:

[code]

If that is true, then the issue would most likely not be with Horovod, but somewhere in the script.

One thing I noticed is that you explicitly set the "chief" in the MonitoredTrainingSession:

[code]

This could be the source of the

[2018-12-16 08:58] joanlynnlove commented on #707
@tgaddair Yeah! That's it! I tried that as you have advised and it works now! I have chief_only_hooks, so I rely on the parameter is_chief.
I was not running tensorflow_mnist.py with mpirun. However it also worked when I was using mpirun.
Now it's time for me to have some further work with horovod.
Thanks! @tgaddair, I really appreciate your help!

[2018-12-16 10:19] KaiyuYue commented on #333
The best solution for this is https://www.kaggle.com/c/intel-mobileodt-cervical-cancer-screening/discussion/31558 .

[2018-12-17 16:30] tgaddair commented on #708
Can you check that the total number of batches on each worker is the same in each epoch?

[2018-12-17 17:37] mengxr opened #709 "import both horovod.tensorflow and horovod.torch cause issues"
I hit an issue when the code import both horovod.tensorflow and horovod.torch and use the latter. It might not be a valid use case in batch jobs, but in interactive notebooks, it would cause issues. Is there a shared variable that causes this issue?

Env:
* Python 3.6
* TensorFlow 1.12
* PyTorch 0.4.1
* Horovod 0.15.0

Code:
test_torch.py
[code]

Run:
[code]

Error:
[code]

Without "import tensorf

[2018-12-17 17:52] tgaddair commented on #709
Hey @mengxr, thanks for raising this issue, though I wasn't able to repro the issue with the code provided.  Was there more to the script that triggered this error?  How did you execute the script (python, mpirun, notebook, etc.)?

[2018-12-17 17:55] mengxr commented on #709
No `mpirun` was used. Just `python test_torch.py`

[2018-12-17 17:56] tgaddair commented on #709
Thanks for the info, I'll try running this in a few more environments and see if I can reproduce it.

[2018-12-17 17:59] mengxr commented on #709
I run this under docker "ubuntu:16.04" with miniconda. TensorFlow was installed from anaconda channel and pytorch-cpu was installed from pytorch channel (I also tried pip install whl directly). Horovod was installed from pip.

[2018-12-17 18:13] Fubukimaru commented on #593
I haven't had time for posting the issue, but it seems that I'm not alone:
https://github.com/open-mpi/ompi/issues/1081

[2018-12-17 18:45] lminer commented on #708
How do I get that information? I tried to create a timeline, but it ended up being 1 gig so I can't open it in chrome.

[2018-12-17 19:34] tgaddair commented on #708
You can slice the timeline into smaller files as shown in #603.

Here's an example script that prints the length of a dataset:

[code]

[2018-12-17 21:54] lminer commented on #708
I let is run for a little while and here is a sample of the output. Looks like rank 2 is a little bit behind the others. I'm using a 16 core threadripper. I don't know if rank 2 is just getting less resources.

[code]

[2018-12-17 22:44] YeYuanS opened #710 "Example to dynamically spawn processes?"
Hi team,
I have a 4 GPU instances and runs your examples using command like
`mpirun -np 4 -H localhost:4 -bind-to none -map-by slot -mca pml ob1 -mca btl ^openib python  keras_mnist.py` perfectly.
However, I only want part of my code to run with Horovod. Is it something like the following?
`# code without Horovod begins`
 ` #code without Horovod ends`
` import horovod.tensorflow as hvd `
 ` from m

[2018-12-18 00:16] lxkarthi commented on #584
I had similar issue with running multi-node job using docker. I fixed it by adding following in /etc/nccl.conf
`NCCL_SOCKET_IFNAME=^lo,docker0`
Could this be added to main Dockerfile?

[2018-12-18 13:06] UditGupta10 commented on #710
You can instantiate horovod in the beginning, run the 'code without horovod' on rank 0, put a barrier, then run code with horovod across 4 gpus

[2018-12-18 19:14] YeYuanS commented on #710
Thank you for the reply! I'm really a new bee for multiple GPUs. May I ask how can I run code with specific rank. Is there an example about it?

[2018-12-18 23:32] alsrgv commented on #584
@lxkarthi, this has been fixed in #700.

[2018-12-19 01:30] lminer commented on #708
@tgaddair Any thoughts?

[2018-12-19 10:19] alsrgv commented on #709
@mengxr, I wasn't able to reproduce this issue as well in current formulation.  Since you've mentioned docker, do you have a Dockerfile that you could share to speed up the repro?

[2018-12-19 12:14] UditGupta10 commented on #710
if hvd.rank()==0:
    Single node code
else:
    pass
hvd.allreduce([0]) # this is used as barrier, check the usage once.
multigpu code.

[2018-12-19 17:12] alexhagen commented on #308
@SrivastavaKshitij we are trying to run on SummitDev as well, with `horovod`.  However, when we expand past 4 cpus (expand past 1 host), `jsrun` simply opens two instances of the python job with partial resources, instead of opening one job with all resources.  I believe that is expected behavior of `jsrun`.  Can you share the scripts you used to run one job with more than 4 gpus?

[2018-12-19 17:53] YeYuanS commented on #710
Awesome! Actually it's company's code base, so it seems not good to add some code in the beginning... Lol

[2018-12-19 19:03] lminer commented on #708
Here's a full snippet of code that will reproduce the problem. It looks like each rank is getting a different amount of data.

[code]

After running this code for 100 epochs, output looks like this:

[code]

I run this from the command line
[code]

Test data is [here](https://www.dropbox.com/s/rubyjmtr119kpot/debug_data.zip?dl=0).

[2018-12-19 19:19] alsrgv commented on #694
@LiweiPeng, can you share more light on your use case?  Do you get this error because you have an uneven number of steps across workers, or some workers actually physically fail?  If you're working around failure, is it possible to checkpoint more frequently to avoid losing much of progress?

The OutOfRange prototype we have in #711 currently only works with Estimator, while our API is designed to

[2018-12-19 20:42] bapriddy opened #712 "tensorflow_synthetic_benchmark.py vs pytorch_imagenet_resnet50.py"
@alsrgv @tgaddair

I compared the synthetic benchmarks expecting some sort of "reasonable" comparision and was shocked to see the following

pytorch_imagenet_resnet50.py
`Model: resnet50
Batch size: 32
Number of GPUs: 4
Running warmup...
Running benchmark...
Iter #0: 108.3 img/sec per GPU
Iter #1: 107.3 img/sec per GPU
Iter #2: 109.3 img/sec per GPU
Iter #3: 108.7 img/sec per GPU
Iter #4: 107.6 im

[2018-12-19 20:44] alsrgv commented on #712
@bapriddy, is your TensorFlow compiled with GPU support? Usually you'd see GPU initialization messages.

[2018-12-19 20:47] bapriddy commented on #712
I'll check.  And reinstall if not.

[2018-12-19 21:07] bapriddy commented on #712
Yes, I had the cpu version installed.  Actually I have never used tensorflow before today.  I was just running the code to compare...It look like I'll need to run this job on another system.  Thanks!!

[2018-12-19 21:48] #712 closed

[2018-12-20 01:12] LiweiPeng opened #713 "Horovod with XLA is slower than without XLA (Tensorflow 1.12)"
I have a distributed nmt model (Transformer-based, AdamOptimizer) using Horovod (0.15.1). When I turned on XLA under tensorflow 1.12, the training speed is about 20% slower instead of faster.

This result is sampled after training 1.5-hours and 4000 steps. I am using 4 V100 GPUs for the training.

Because my current software is tightly coupled with Horovod, I couldn't test whether this is Horovod

[2018-12-20 02:33] tgaddair commented on #710
Hey @YeYuanS, did @UditGupta10's solution work for you, or do you need something that doesn't modify the existing training script?

[2018-12-20 02:44] tgaddair commented on #708
Looks like rank 0 is getting 478 batches while the other two are getting 464.  Could you try shifting the print statement over so it's executed after the for loop completes? That should make the result more conclusive.

If that's indeed what's happening, is it possible to truncate your dataset so that it evenly divides among the workers? I think TensorFlow is sharding on files, but there is a numb

[2018-12-20 05:45] lminer commented on #708
You're right. It does have the same number of batches when I drop the last file. So maybe the input pipeline isn't the problem?

[2018-12-20 10:00] scotthuang1989 opened #714 "where can I find compilation instruction for horovod？"
I want to build horovod from source code, where I can find the build instruction?
 I see there are some cpp files and I don't see any makefiles. I am not a professional cpp programmer, any instruction would be very helpful.

[2018-12-20 15:51] #558 closed

[2018-12-20 16:08] #506 closed

[2018-12-20 22:37] alsrgv commented on #674
@EhsanM4t1qbit, sorry for the delay.  Could you try TensorFlow 1.12.0 and `tf-nightly-gpu` to see if this has been resolved in TensorFlow?

[2018-12-20 22:51] sedghi opened #715 "horovod works fine with Tensorflow but not with Pytorch"
Hi,
I'm having difficulties running `pytorch_mnist.py` example. However, all other examples (tensorflow or keras) works great.

I run `mpirun -np 2 python pytorch_mnist.py` and I get the following error:

`CUDA driver version is insufficient for CUDA runtime version at horovod/torch/cuda_util.cc:32`

Any comment is appreciated

[2018-12-20 23:14] lminer commented on #708
Unfortunately, no. It still seems like different GPUs are progressing at drastically different paces.

[2018-12-21 02:48] purnasanyal commented on #666
@LEESEYUN , I am getting the same error , how did you fix that

[2018-12-21 02:54] tingweiwu commented on #666
@alsrgv it have been solved by [uber/horovod#700 (comment)](https://github.com/uber/horovod/pull/700#issuecomment-446851794)

[2018-12-21 03:02] purnasanyal commented on #666
@tingweiwu I tried using NCCL_SOCKET_IFNAME=^docker0    , but that did not work
DO I need to do anything else?

[2018-12-21 04:43] YeYuanS commented on #710
It works but not elegant for production code I think... I would be very appreciated if you could provide solution that doesn't modify the existing training script.

[2018-12-21 06:36] wangzhimingchn opened #716 "Horovod + PyTorch 1.0.0 failed at CentOS7"
I get a image from NVIDIA: docker.io/nvidia/cuda:9.0-cudnn7-devel-centos7 and install develop tools, NCCL and Open MPI 3.0.0.
The torch 1.0.0 is installed from pip. The horovod version is 0.15.2. Both build by self and from pip is failed.
# pip install numpy tensorboardX tqdm torch torchvision
# pip list |grep torch
torch                        1.0.0
torchvision                  0.2.1
# git clone

[2018-12-21 14:21] ruanchong commented on #101
@alsrgv helped.

[2018-12-21 21:48] LiweiPeng commented on #713
I found after 8000 steps, XLA is about 10% faster than non-XLA. So XLA did speed up training. I'll close this.

[2018-12-21 21:48] #713 closed

[2018-12-21 22:31] abditag2 commented on #694
https://github.com/uber/horovod/pull/711

[2018-12-23 13:28] JaeDukSeo opened #717 "Impact on Tensorflow 2.0?"
TF 2.0 is coming out soon (hopefully)
I was just wondering if the system would be compatible.

[2018-12-24 01:12] tgaddair commented on #717
Hey @JaeDukSeo, yes, our goal is to be compatible with new features in TensorFlow 2.0 by the time it releases.

[2018-12-24 02:45] scotthuang1989 commented on #714
@tgaddair  thanks. I will try that. for now, I have met some isssues:
1. I can't find /usr/local/nccl, I install nccl with following command

2. Whilch am figure out issue 1, I just compile it with this command:

then I got a dependency error, after I figure it out, I will get it back to you to see if it is error of my development enviroment, or horovod should add more dependency into setup.py

[2018-12-24 08:13] #717 closed

[2018-12-25 09:50] wangdongxuking61 commented on #148
thank you very much. it helps me much.

[2018-12-25 21:13] cinjon opened #718 "Usage best practices when running MPICH"
Hi. The page https://github.com/uber/horovod/blob/master/docs/running.md includes some recommended practices when running OpenMPI 3. Do you have similar best practices when using MPICH?

[2018-12-25 22:00] SrivastavaKshitij commented on #308
@alexhagen : Hey, I left ORNL few days ago , so I dont have access to my job scripts. But if you can share yours, I can def tell you if something needs to be changed or not !

[2018-12-26 05:09] YFwang1992 commented on #656
same error

[2018-12-26 06:53] linkeal commented on #649
@taehyunkim1527: Could you please tell us how you solved the issue? I am facing the same problem and don't know how to solve it.

[2018-12-26 07:04] taehyunkim1527 commented on #649
Frankly, at first I was just watching rx_bytes/tx_bytes of ethtool and I couldn't find any changes.
However, the traffic of Horovod all_reduce is only captured at rx_bytes_phy/tx_bytes_phy. I don't know the exact reason why but you might find the changes in rx_bytes_phy/tx_bytes_phy.

[2018-12-26 07:48] taehyunkim1527 commented on #649
@linkeal Thank you. Good luck 👍

[2018-12-26 09:22] wangxiaodong628 opened #719 "Fail to build docker image"
When I use base image nvidia/cuda:9.0-devel-ubuntu16.04, error happen as below:
E: Failed to fetch https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1604/x86_64/Packages.gz  Hash Sum mismatch
E: Some index files failed to download. They have been ignored, or old ones used instead.

When I change base image to nvidia/cuda:9.0-cudnn7-devel-ubuntu16.04, error changed to
E: Fa

[2018-12-26 12:36] YFwang1992 commented on #656
i think i find a way to deal this error
ues pip install tensorflow except conda install  tensorflow
i dont know why but can word
https://github.com/uber/horovod/issues/431
if your cuda is 9.2 you cant pip ,so change cudu to 9.0 or 8.0

[2018-12-26 14:19] bjg2 commented on #703
Managed to execute this good enough via few tricks:
* Starting container with entrypoint that runs forever until sigterm is passed
* Starting mpi stuff as another process
* Writting output to process 1 stdout/err, so that docker logs works
* At the end of my process sending sigterm to process 1, so that whole container close.

Closing, thanks.

[2018-12-26 14:19] #703 closed

[2018-12-26 21:44] cinjon opened #720 "Cannot open shared object file libmpicxx.so.12"
Hi, I am getting an error when using OpenMPI3. The error is:

`NotFoundError: libmpicxx.so.12: Cannot open shared object or file ...`

It's stemming from horovod importing the mpi_ops. When I look in `/usr/lib64/openmpi3/lib`, I see that there is a libmpi_cxx.so, a libmpi_cxx.so.40, and a libmpi_cxx.so.40.0.0, but no libmpicxx.so.12. The internet isn't too helpful on this one either. Where should

[2018-12-27 11:54] superbobry commented on #674
Which GCC version has been used to compile Horovod? The Dockerfile in the repo uses Ubuntu 16.04 which [comes](https://packages.ubuntu.com/xenial/gcc) with 5.3.1. Is it used for PyPI releases as well?

[2018-12-27 14:58] salemmohammed opened #723 "Horovod profiling"
Hi everybody,

I will attach the profiling for my experiment.
<img width="1680" alt="screen shot 2018-12-27 at 5 52 25 pm" src="https://user-images.githubusercontent.com/6541193/50484235-7f16f700-0a00-11e9-9903-62a515cd4c51.png">

I have three machines with 4 layers fully connected neural network including input and output layer.
when server 1 communicates with server 2 and when 2 communicates wit

[2018-12-27 15:19] himaprasoon commented on #708
@tgaddair
1. Will horovod run hang if the number of batches in an epoch is not equal for each of the workers? For eg, if there are 3 workers and first two workers get 10 batches each and the third one gets 11, will the program hang forever if we running only for one epoch?
2. If one of the workers is slower than the other, will that be a bottleneck because of the all reduce algorithm? Will other w

[2018-12-27 22:14] rahul003 opened #724 "Crash when using Horovod with Torch0.4 and Py3"
There's a segfault which shows up in test_torch.py/test_broadcast_state when running tests (i.e. `pytest -v`).
If this test is run separately (i.e. `pytest -v test/test_torch.py` ), then it passes.

Commit used to build Horovod: 4cf885f8807413720024543f853ff3af06413770
[Crash message](https://pastebin.com/raw/xGzwu6jr)
[Stacktrace from corefile](https://pastebin.com/raw/iifPG6tS)

[2018-12-28 01:13] rahul003 commented on #724
Considering this happens on the first test of torch after all tensorflow tests are run, does this have to do with some sort of reinitialization of Horovod when we start using Torch?

[code]

[code]

Relevant code: https://github.com/uber/horovod/blob/4cf885f8807413720024543f853ff3af06413770/horovod/common/operations.cc#L2198

Is there something that needs to be fixed here?

[2018-12-28 01:20] rahul003 commented on #724
I actually see two different errors here strangely.

Sometimes, this one below and other times the one mentioned in the above comments.
[code]

[2018-12-28 01:50] rahul003 commented on #724
I flipped the tests around. Ran pytorch first then keras. This time it crashed at Keras
```test/test_keras.py::KerasTests::test_load_model_broadcast Segmentation fault (core dumped)```

[2018-12-28 05:40] #678 closed

[2018-12-28 05:53] #414 closed

[2018-12-28 12:59] Aki57 commented on #656
@YFwang1992 Glad that you have found the solution.  Maybe 9.2 is not usable now. I'm not sure too.

[2018-12-28 13:54] libliang commented on #676
I met the same issue as zqlai, is there any suggestions?

[2018-12-28 13:55] YFwang1992 commented on #431
@tonyreina   pip install help me too. thx.have u had any idea about differ between pip install and conda install.

[2018-12-29 06:19] cklsoft opened #726 "NCCL not works"
I installed Horovod on GPUs as described in the [doc](https://github.com/uber/horovod/blob/master/docs/gpus.md) (Openmpi and NCCL 2.2.13 on CUDA 9.txz have been installed). And set `LD_LIBRARY_PATH=/usr/local/gcc/bin:$LD_LIBRARY_PATH:/usr/local/nccl_2.2.13/lib`. I test multi-gpus-one-machine and multi-machine-multi-gpus, the speed is same as one gpu as following commands. And I found the network t

[2018-12-29 08:48] #726 closed

[2018-12-29 12:31] jackalcooper commented on #638
Same problem here. Maybe it is a good idea to put a notice telling people Open MPI 3.1.3 might lead to tensorflow hanging there.

[2018-12-31 03:02] shyhuai commented on #665
Hi, it seems that the [hooks](https://github.com/uber/horovod/blob/master/horovod/torch/__init__.py#L113) can only be started after all the gradients from the last layer to the first layer have been calculated. I added some debug information with timestamp in the hook function, and the printed timestamps in each iteration are nearly at the same value.  I am not sure if I did something wrong. If no

[2019-01-02 02:30] cklsoft commented on #141
I use `tf.clip_by_global_norm(grads, clip_norm=1.0)` to clip to gradients. When run horovod distributed, I found it not workers not communicate with each other.  I followed you suggestion to replace `grads = tf.gradients(loss, tvars)` to

    `grads_and_vars = optimizer.compute_gradients(loss, tvars);
      grads = [grad for grad,var in grads_and_vars]`

. But it still not workers. Here it my code

[2019-01-02 08:04] Microndgt opened #727 "pointer being freed was not allocated"
I have encountered this problem:

[code]

the version of horovod and tensorflow are as follows:

[code]

platform:

[code]

And monitor shows:

[monitor.txt](https://github.com/uber/horovod/files/2720158/monitor.txt)

Thanks for your help!

[2019-01-02 18:30] YeYuanS commented on #710
@UditGupta10 @tgaddair I noticed that if I put the barrier like hvd.allreduce([0]), it would cause memory leak for other gpus, do you have any idea about it?

[2019-01-02 18:37] rahul003 commented on #724
Did you run the tests with master too?

[2019-01-03 01:18] YeYuanS opened #728 "Barrier causes CUDA_ERROR_OUT_OF_MEMORY"
I trained my model on a 4 GPUs machine with command as following and it works good
`mpirun -np 4 python my_code.py`

However, when I tried to run part of my code on one GPU and set a BARRIER as following
[code]
It encounters the error that CUDA_ERROR_OUT_OF_MEMORY, seems like memory leaking
![screen shot 2019-01-02 at 5 16 35 pm](https://user-images.githubusercontent.com/41984177/50620070-3359c700

[2019-01-03 01:39] alsrgv commented on #728
@YeYuanS, can you check which processes are using GPUs using `nvidia-smi` at a time of failure?

[2019-01-03 01:39] alsrgv commented on #724
@rahul003, master runs daily tests every day, and I don't see this issue happening.

[2019-01-03 01:44] alsrgv commented on #727
@Microndgt, which version of Open MPI are you using?  Can you try upgrading to 4.0.0?

[2019-01-03 01:48] alsrgv commented on #141
@cklsoft, can you elaborate on why 5 line code does not work?  Is it throwing an error, or simply not training?

[2019-01-03 01:50] alsrgv commented on #665
@shyhuai, if you're willing to invest time into investigating this further, could you run nvprof and see if there's overlap between computation and NCCL at CUDA kernel level?

[2019-01-03 01:50] YeYuanS commented on #728
@alsrgv Seems each process uses one GPU
![screen shot 2019-01-02 at 5 47 05 pm](https://user-images.githubusercontent.com/41984177/50620829-dad8f880-0eb6-11e9-81a7-d1699f205d65.png)

[2019-01-03 01:54] alsrgv commented on #638
Good idea. Opened #729.

[2019-01-03 01:55] cklsoft commented on #141
Thanks for your reply.
From the `global_step/sec` Horovod printed is same as In single worker, and the network traffic is same as single worker.
![image](https://user-images.githubusercontent.com/3956357/50620923-8d539e80-0f3d-11e9-9884-104a31c9e5d4.png)

I ran one worker or multi-workers, `global_step/sec` aways 4.0+.

[2019-01-03 01:55] alsrgv commented on #728
Did you add [GPU pinning code](https://github.com/uber/horovod/blob/master/examples/keras_imagenet_resnet50.py#L62) ?

[2019-01-03 01:57] YeYuanS commented on #728
@alsrgv Yes, I added the following code in the beginning
[code]

[2019-01-03 01:57] alsrgv commented on #141
@cklsoft, could you paste code a bit more precisely?
[code]

In this code, there's no declaration of `grads`.

[2019-01-03 01:58] alsrgv commented on #728
What about `K.set_session(tf.Session(config=config))`?

[2019-01-03 02:03] cklsoft commented on #141
@alsrgv Sorry for the missing.

          optimizer = hvd.DistributedOptimizer(optimizer)
          tvars = tf.trainable_variables()
          grads_and_vars = optimizer.compute_gradients(loss, tvars)
          grads = [grad for grad,var in grads_and_vars]
         (grads, _) = tf.clip_by_global_norm(grads, clip_norm=1.0)
          train_op = optimizer.apply_gradients(zip(grads, tvars), global_ste

[2019-01-03 02:45] Microndgt commented on #727
@alsrgv

the version of Open MPI is already 4.0.0

[code]

[2019-01-03 04:36] alsrgv commented on #727
@Microndgt, great! Can you upgrade to latest Horovod 0.15.2 as well?

[2019-01-03 04:39] alsrgv commented on #728
@YeYuanS, hard to say without looking at the code.  Is this K.set_session happening in the very beginning of the code?  Do you have any other code that creates sessions?

[2019-01-03 04:47] alsrgv commented on #141
@cklsoft, I'm not sure if this is the issue for your model, but passing explicit trainable variables is not the same as None that minimize() method is passing, which translates to:
[code]

If you print out `tvars`, does it have all the variables you want to train?

If so, could you collect [Horovod timeline](https://github.com/uber/horovod/blob/master/docs/timeline.md) to determine if any averagin

[2019-01-03 05:20] alsrgv commented on #676
Other suspicion falls on `device_lib.list_local_devices()` function. And surely, it is used in this repo:
[code]

Can you get rid of its usage and see if it helps?

[2019-01-03 05:33] Microndgt commented on #727
I have tried the version 0.13.11, 0.14, 0.15.2 but none of them works.

And there is another different error appears in 0.13.11 version:

[code]

[2019-01-03 05:40] alsrgv commented on #724
@rahul003, I may have found a solution (and the reasoning behind it).  See #730.

[2019-01-03 05:45] alsrgv commented on #727
Not sure. On my Mac 10.14.1:
[code]

Does simply `import tensorflow` work for you?

[2019-01-03 05:49] alsrgv commented on #708
@himaprasoon, yes to both.

@lminer, can you compute desired # of batches w/o using `num_epochs`?  Basically, set num_epochs to infinity, and fix number of batches to be computed by each worker to the same value.

[2019-01-03 05:53] alsrgv commented on #714
@scotthuang1989, if you install from deb package, you don't need to specify `HOROVOD_NCCL_HOME` - it will be in the system path.

[2019-01-03 06:39] #710 closed

[2019-01-03 07:00] #724 closed

[2019-01-03 07:32] YeYuanS commented on #728
@alsrgv Yes, I put K.set_session in the very beginning of the code. Actually, the situation which seems like memory leaking happens when other 1, 2, 3 processes reached the barrier while 0 process hasn't reached the barrier.

[2019-01-03 08:47] cklsoft commented on #141
@alsrgv
Yes, You are right.  I modified as following:

      optimizer = hvd.DistributedOptimizer(optimizer)
      #tvars = tf.trainable_variables()
      grads_and_vars = optimizer.compute_gradients(loss) #no set tvars
      grads = [grad for grad,var in grads_and_vars]
      tvars = [var for grad,var in grads_and_vars]
      (grads, _) = tf.clip_by_global_norm(grads, clip_norm=1.0)
      train_o

[2019-01-03 19:14] rahul003 commented on #724
Makes sense, thanks!

[2019-01-04 00:55] alsrgv commented on #141
@cklsoft, could you collect Horovod timeline for both methods for hundred steps?  That way we'll be able to pinpoint the difference precisely.

[2019-01-04 00:56] alsrgv commented on #728
@YeYuanS, does your code or any of its dependencies use `device_lib.list_local_devices()`?  Sometimes it's used for logging, etc - but it actually makes TensorFlow grab all GPU memory it can find.

[2019-01-04 01:12] cklsoft commented on #141
I have collected these timelines which are 80MB+.
[Archive.zip](https://github.com/uber/horovod/files/2725767/Archive.zip)

[2019-01-04 01:25] mwoodson1 opened #731 "Freezing Tensorflow Graph for Inference"
Is there a working example of how to freeze a Tensorflow graph after training? I tried following the inference doc and was able to run the optimize script but have not been able to successfully run the freeze script on the optimized model. Any guidance here would be much appreciated.

[2019-01-04 01:30] Microndgt commented on #727
@alsrgv Yes, this import works.

[2019-01-04 04:07] abditag2 commented on #694
@LiweiPeng Happy new year! Can you look at @alsrgv comments?

[2019-01-04 04:52] alsrgv commented on #731
@mwoodson1, what was the issue you experienced with running the freeze script?

[2019-01-04 05:02] alsrgv commented on #141
@cklsoft, the other difference is with `global_step`. Can you try passing `tf.train.get_global_step()` to `apply_gradients()`, like you do to `minimize()`?

[2019-01-04 05:07] alsrgv commented on #727
@Microndgt, not sure - can you upgrade your MacOS, Python2 and clang just in case?

[2019-01-04 05:31] salemmohammed commented on #723
@alsrgv Thanks for your reply.
how do you explain Horovod based on the following iteration scenario?

Total iteration time = time of computation + gradient communication after every iteration in synchronous model + combining the result with other receining results in global model + pulling the model back to the client from the server.

[2019-01-04 05:34] alsrgv commented on #723
@salemmohammed, there's no 'server' in this model - it's doing ring allreduce. We have a paper published about Horovod - https://arxiv.org/abs/1802.05799, which may share more light.

In general, as gradients are computed, they are scheduled to be averaged in a distributed way. As such, frequently gradient averaging and computation will be interleaved.

Can you clarify what do you want to measure

[2019-01-04 05:37] alsrgv commented on #718
@cinjon, in our experiments we've tried MPICH and it worked out of the box. We did not investigate any optimal flag settings though.

[2019-01-04 05:40] alsrgv commented on #593
@Fubukimaru, ah - in that case you can probably avoid it by setting `HOROVOD_MPI_THREADS_DISABLE=1` during runtime.

[2019-01-04 05:42] alsrgv commented on #457
@zone21,  sorry for delayed response - do you run separate scripts for training & validation? Can you set this flag for both of them?

[2019-01-04 05:44] alsrgv commented on #667
@michaelstjules, were you able to resolve your issue per our discussion?  If so, could you write up a solution that worked for you?

[2019-01-04 05:45] salemmohammed commented on #723
@alsrgv Thanks for your sharing. I read this paper and it's helpful.

I know there is an overlap between computation and communication time. The Horovod architecture is based on ring communication. Every peer communicates its gradients to its neighbor in one direction. Total communication for one iteration is 2(N-1) where N the number of nodes in the system.  I want to know the latency of communic

[2019-01-04 05:47] alsrgv commented on #723
In your timeline, you can expand each tensor and see moments of time when it was averaged. You will see the timing of various phases, with exact stages described [here](https://github.com/uber/horovod/blob/master/docs/timeline.md).

If you want to get aggregate information, you could programmatically process timeline file using a script to extract what you want.

[2019-01-04 05:48] sudheerExperiments opened #733 "How horovod loads data into memory"
Hello,

I have a question regarding *'how horovod loads data into memory'*. We are using a cluster with 2 compute nodes, each compute node has 4 GPUs, so in total we have 8 GPUs. One compute node has 16 GB memory and the other has 64 GB memory. We are using Keras to train a CNN model using 'MPICH 3'. Our dataset is around 8.5 GB. We are running 8 processes (1 process per each GPU, 4 processes per

[2019-01-04 05:48] alsrgv commented on #666
@purnasanyal, with latest NCCL, you should be setting `NCCL_SOCKET_IFNAME=^docker0,lo`, or simply setting `NCCL_SOCKET_IFNAME=<your routable interface>`.

[2019-01-04 05:50] alsrgv commented on #733
@sudheerExperiments, can you refactor your code to load only portion of the dataset on each node?  You can use `hvd.rank()` and `hvd.size()` to carve out the chunk to load on the particular process.

[2019-01-04 05:56] sudheerExperiments commented on #733
Sure I will try it out. Thanks @alsrgv.

One question though, even I modify my load part of code into memory, does horovod load data 4 times if I am running 4 processes?

But doesn't *'mpirun'* take care of it?

[2019-01-04 06:56] Microndgt commented on #727
@alsrgv OK. I will leave a comment here if anything changes...

[2019-01-04 09:03] cklsoft commented on #141
The problem has been sloved. Thank you! 👍

[2019-01-04 09:43] alsrgv commented on #733
@sudheerExperiments, neither mpirun nor Horovod do anything about data loading.  This responsibility lies with the model developer.  If you want to keep the data distributed across memory of all processes, you could have each process load a slice based on `hvd.rank()` and `hvd.size()`.

[2019-01-04 10:31] superbobry commented on #674
I see, so in that case the segfault is likely to be an instance of tensorflow/tensorflow#13308.

[2019-01-04 17:23] mwoodson1 commented on #731
After running the optimization script I run the following:
```python -m tensorflow.python.tools.freeze_graph --input_graph optimized_graph.pb --input_checkpoint ./checkpoints/model.ckpt-10 --output_graph frozen_graph.pb --output_node_names=output_node```
and get the following traceback:
[code]

[2019-01-04 17:31] kdatta commented on #457
Updating to tensorflow-1.12.0 and horovod-0.15.2 stopped the errors for me. Trying a different model on large nodes. I'll report here if I see them again.

[2019-01-04 22:34] YeYuanS commented on #728
@alsrgv Thanks for your reply! I really appreciate that. I also found that `device_lib.list_local_devices()` and `keras.clear_session()`  make TensorFlow grab all GPU memory, which would cause CUDA_ERROR_OUT_OF_MEMORY. But I solved those problems before I post this Issue. Anyway, thank you for your responsible replies. I will post if I found something new.

[2019-01-05 08:03] mgoundge11 opened #734 "error: CUDA library was not found"
Hi , I am getting this error while installing horovod ,
Please specify correct CUDA location with the HOROVOD_CUDA_HOME environment variable or combination of HOROVOD_CUDA_INCLUDE and HOROVOD_CUDA_LIB environment variables.

    HOROVOD_CUDA_HOME - path where CUDA include and lib directories can be found
    HOROVOD_CUDA_INCLUDE - path to CUDA include directory
    HOROVOD_CUDA_LIB - path to CUDA

[2019-01-05 09:45] alsrgv commented on #674
In this case specifically, I'm surprised it happens only after "many epochs".  I had success before using Horovod on GCC5+ platform with TF compiled with GCC4, so I think this `std::function` breakage only affects things in one direction - when `std::function` defined in GCC5 is passed to code built with GCC4 that will call it.

[2019-01-05 10:16] alsrgv commented on #734
@mgoundge11, can you try installing Horovod like this:
[code]

[2019-01-05 10:48] mgoundge11 commented on #734
Thanks @alsrgv for reply. I solved it by using following command,
sudo apt-get install nvidia-cuda-toolkit , I finished installing horovod in two ubuntu systems.

But I'm unable to run the keras_mnist example provided here in the link,
https://github.com/uber/horovod/blob/master/examples/keras_mnist.py
I wanted to run it on two ubuntu servers with single gpu each.
I given parameters as below,
$ mp

[2019-01-05 15:49] yyht commented on #672
for bert model，one node 4 gtx1080Ti vs one gtx1080Ti i got 3.75x speed up，
while on two nodes ，4 gtx1080Ti on each node，i only got similar training speed with one node（i think the bottleneck is on network communication that it needs to do ring-reduce on different nodes and data transportation efficiency depends on your bandwidth i guess）

[2019-01-05 23:46] alsrgv commented on #734
@mgoundge11, yes, you do, and you need to make sure that you can ssh into both servers w/o password.

[2019-01-06 07:32] libliang commented on #155
@fanshiqing @alsrgv  Hello, I am also trying to build horovod from source, since we need to build it based on CUDA 9.2
What is the difference between building  bdist_whell and  sdist?  can you please kindly tell me?

many thanks

[2019-01-06 08:32] sudheerExperiments commented on #733
Hello @alsrgv,

I tried what you suggested. I used **hvd.rank** to split my dataset. I have training data of shape ```(40, 90, 90)``` and labels of shape ```(40, 1)```. I seperated it as 8 ```(5, 90, 90)``` and ```(5, 1)``` sets. When **'mpirun'** launches 8 GPU jobs using horovod, it gets seperate data for each process. How does horovod uses these datasets to train? Does it treat each set as mini

[2019-01-06 15:40] ustcyue opened #735 "horovod with estimator, training seems not synchronised between processes"
Hi, I updated my existing program based on [this example](https://github.com/uber/horovod/blob/master/examples/tensorflow_mnist_estimator.py). But when I am running it on a cluster, it seems different process are just updating on their own and there is no synchronisation at all.
[code]
From the log, I can see the steps are not synced either. Am I missing something?

[2019-01-07 01:37] lminer commented on #708
@alsrgv not quite understanding what you mean here. I already precompute the number of batches per epoch and they are identical across workers. I could set number of epochs to infinity, but don't understand what that would change.

[2019-01-07 05:10] mgoundge11 commented on #734
Thanks @alsrgv

[2019-01-07 14:58] superbobry commented on #674
Yes, this is exactly right.

[2019-01-07 20:41] michaelstjules commented on #667
@alsrgv Yes, training only on the spawned processes using MPI.COMM_WORLD works:

[code]

[2019-01-08 02:01] scotthuang1989 commented on #714
@tgaddair sorry for the late response, I was working on other project.

I got an error:

in the source code this header file is include like this:

so it should be project directory of horovod. but I can't find it in horovod source code.

the commit id of source code  is: af0153c72ff9ecd34db7db1d6c984cac44646bd0

[2019-01-08 02:15] scotthuang1989 commented on #714
@alsrgv @tgaddair  I built it successfully.  I forget clone recursively to get third party libs at first time.  after I clone everything, no errors.

[2019-01-08 02:15] #714 closed

[2019-01-08 12:31] amazingyyc opened #736 "About negociate"
Hi horovod. I use this to train a model and dump a timeline file and found that the horovod negociate in every step. And negociate takes a lot of time. So why horovod negociate with each other in every step? It is neccesary? In my opinion, it just need negociate with each other in first step and reuse the ResponseList.

[2019-01-08 12:39] DEKHTIARJonathan commented on #602
@tgaddair I'm closing this issue, TF merged yesterday a bug fix in XLA. I hope it will be cherrypicked for TF 1.13.
Thanks for your help.

[2019-01-08 12:39] #602 closed

[2019-01-08 14:52] mr-ubik opened #737 "Enable wiki for better documentation"
Having the wiki enabled could help with contributing documentation and practical how-to(s). I.E. Detailing how to set up an MPI cluster or making it work with Kubernetes ... etc

[2019-01-08 14:57] mr-ubik opened #738 "Horovod build image failure still present"
Building the Docker via build-docker-images.sh:

[code]

[2019-01-08 14:59] mr-ubik commented on #738
#418 #420

[2019-01-08 15:45] SoulGuedria opened #739 "Learning rate warmup with TF"
Hi all,

First of all thanks a lot for this nice project :)
I'm trying to make the training of my CNN distributed and i noticed that even if i scale the learning rate with the number of GPUs, there is still a loss in the model accuracy using 12 GPUs.
So, i'm trying also to do the learning rate warmup but i can't find this functionality in the tensorflow version of hvd comparing to keras one becaus

[2019-01-08 16:37] FrancisLeeHa commented on #409
@srams2018 I have the same problem as you

python3 pytorch_synthetic_benchmark.py
Traceback (most recent call last):
  File "pytorch_synthetic_benchmark.py", line 9, in <module>
    import horovod.torch as hvd
  File "/usr/local/python3/lib/python3.6/site-packages/horovod/torch/__init__.py"
    from horovod.torch.mpi_ops import allreduce, allreduce_async, allreduce_, all
  File "/usr/local/python3

[2019-01-08 19:19] ppwwyyxx commented on #403
May be related, but I found that horovod could get stuck like this if GPU memory is not enough.
I have a job which run well last week, but yesterday when I tried to run it I always saw it stuck at the first allreduce, with warning messages like:
[code]
together with TensorFlow OOM messages like:
[code]
It got stuck only when I run it with 16 machines, but not locally.

At first I ignored the Tenso

[2019-01-08 23:02] abditag2 commented on #733
@sudheerExperiments In each step of training, each rank creates a batch from its slices of data, calculates local gradients and then horovod calculates the global gradients and distributes it back to the ranks. The weights on all the ranks are updated together in synchronous steps.

[2019-01-09 02:11] lostemples opened #740 "how to optimizer my ckpt files?"
when i trained my model. i got the ckpt files. as i use these files to test my model, i got the error message:KeyError: 'HorovodAllreduce'.
can you give me an example to optimize the model.

[2019-01-09 02:13] alsrgv commented on #409
@FrancisLeeHa, can you try reinstalling latest Horovod with `-v --no-cache-dir`, and attach installation log?

[2019-01-09 02:42] alsrgv commented on #737
@mr-ubik, thanks, that's great feedback!  We're planning to make a website and improve docs collaboration (either via PRs to the website GitHub, or wiki) - it's still TBD.  At this point, if you do have a user guide for either of those things, please let us know and we'll link it from the readme.

[2019-01-09 02:44] alsrgv commented on #738
@mr-ubik, sorry about that, #741 should address it.  We'll update to newer NCCL with the upcoming Horovod release.

[2019-01-09 02:55] #738 closed

[2019-01-09 03:35] YeYuanS opened #742 "Horovod hang with TensorBoard"
My code works good without TensorBoard, while it would hang forever with TensorBoard. I found there was another related issue but not the same case. Can anyone help me through ?

My code is as following:
[code]

[2019-01-09 09:03] mgoundge11 commented on #734
Hi @alsrgv I installed horovod on two ubuntu servers with single GPU each but after I execute  the command to run horovod it is stuck without any error.
I made the ssh password less for both the servers.
Pls help on this I am stuck here.

[2019-01-09 10:27] ustcyue opened #743 "question about Queue on horovod timeline"
I run the tensorflow_synthetic_benchmark.py using VGG16 on two machines, each using 4 1080Ti card. and the output of one training step looks like this, and seems most time is spend on waiting NCCL to finish previous communication. But I checked the bandwidth is only around 600MB/s to 800MB/s,  which is less than half of the network bandwidth(2*10Gbps).

Is this timeline normal for my setup and is

[2019-01-09 11:37] sudheerExperiments commented on #733
Hello @abditag2, Thanks! I researched more about horovod. Now its much clear to me how horovod works. Dividing data into parts is a big challenge to me now. Thanks.

[2019-01-09 16:50] #739 closed

[2019-01-10 05:52] tjmoon0104 opened #745 "pytorch_imagenet_resnet50.py SyntaxError"
ubuntu@ip-172-31-23-109:~/horovod/examples$ mpirun -np 8 -H localhost:8 python3 pytorch_imagenet_resnet50.py
  File "pytorch_imagenet_resnet50.py", line 143
    backward_passes_per_step=args.batches_per_allreduce)
                           ^
SyntaxError: invalid syntax
  File "pytorch_imagenet_resnet50.py", line 143
    backward_passes_per_step=args.batches_per_allreduce)

[2019-01-10 06:34] UditGupta10 opened #746 "Advice for model parallelism"
I am working on a problem (Knowledge graph embedding) in which the number of parameters may well exceed the memory of a single machine (without gpu). The model isn't complex but the number of parameters are too many (similar to word2vec). Is horovod a good option moving forward ? If not, please suggest some frameworks through which its feasible to do model parallelism. If yes, then please link som

[2019-01-10 13:15] gganes3 opened #747 "Horovod getting stuck with no error"
The following steps were done by me. Please let me know whether I should be doing anything different.
1. Installed TensorFlow, Keras and then Horovod succesfully on two different Ubuntu systems wherein each system has one GPU.
2. Made the ssh to both systems passwordless.
3. Tried running the Distributed training on the system(keras-mnist example) , however it is stuck with no error.
$ mpirun -np

[2019-01-10 13:48] mr-ubik commented on #747
Have you configured the MPI cluster properly?
Have you made sure that you are using the proper net interface?